<%#=render :partial => 'exams/position_dept' %> <!--retrieve position for current logged-in user-->
<%#=render :partial => 'exammarks/exam_listing.html.erb'%><!--retrieve exam listing, student listing for use-->


<div class="tform">
	<H2><%=t('grade.details')%></H2><%#=@grade_scores[0].type_id%><%#=@grade_scores[1].type_id%>
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="student_id"><%=t('grade.student_id')%>:</label></td>
			<td><% if @grade.id.nil? %>
					<%= f.collection_select :student_id, @student_list, :id, :matrix_name, :include_blank => (t 'select') %>
				<% else %>
					<%= f.collection_select :student_id, @student_list, :id, :matrix_name, :selected=> @grade.student_id %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td class="leftcol"><label for="subject_id"><%=t('grade.subject_id')%>:</label></td>
			<td><% if @subject_id != nil %>
					<% @subject = @subject_id %>
				<% else %> 
					<% @subject = @grade.subject_id %>
				<% end %>
				<%= f.collection_select :subject_id,  @subject_list, :id, :subject_list, :include_blank => (t 'select'),:selected=> @subject.to_i %>
			</td>
		  <!--TODO: Preselect course in above condition-->
		</tr>
	</table>
	
	<H2><%=t('grade.formative_scores')%></H2><!--Score Details-->	
	<table width=100%>
		<tr>
			<td colspan=2>
				 <table width=100% border=0>
					  <tr>
				      <td width=130px ><label for="type_id"><b><%=t('grade.type_id')%>:</b></label></td>
				      <td width=240px ><label for="description"><b><%=t('grade.description')%>:</b></label><font color="blue"> * </font></td>
				      <td width=120px><label for="marks"><b><%=t('grade.marks')%>:</b></label><font color="red"> * </font></td>
						  <td width=80px><label for="weightage"><b><%=t('grade.weightage')%>:</b></label></td>
				      <td width=70px></td>
			      </tr>
				 </table>
	    </td>
		</tr>

	<tr>
	  <td colspan=2>
		<!-- Code Block for Score Repeating Field -->
		  <div id="scores"><%@count=0%>
				<% f.fields_for :scores do |builder| %>
					<%= render 'score_fields', :f => builder, :locals=>{:count=>@count} %><% @count+=1%>
				<% end %>
				<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title =>(t 'addmore')), f, :scores %> - <%=t('addmore') %> </p>
			</div>
	  </td>
	</tr>
	<!-- End Code Block for Score Repeating Field -->
	</table>
	
	<H2><%=t('grade.sent_to_bpl')%></H2><!--Score Details-->	
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="sent_to_BPL"><%=t('grade.sent_to_bpl')%>?:</label></td>
			<td><%= f.check_box :sent_to_BPL %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="sent_date"><%=t('grade.sent_date2')%>:</label></td>
			<td><%= f.date_select :sent_date, :start_year => 2011, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="eligible_for_exam"><%=t('grade.eligible_for_exam')%>?:</label></td>
			<td><%= f.check_box :eligible_for_exam %><font color=#AAA size=-2><%=t('grade.need_other_inputs')%></font></td>
		</tr>
	</table>
	
	<H2><%=t('grade.summative')%></H2>
	<table width=78% border=0>
		<tr>
			<th><%=t('grade.exam1name')%></th>
			<th><%=t('grade.description')%></th>
			<th><label for="exam1marks"><%=t('grade.marks')%></th>
		</tr>
	
		<tr>
			<td><%= f.text_field :exam1name, :size => 15 %></td>
			<td><%= f.text_field :exam1desc %></td>
			<td><%= f.text_field :exam1marks, :size => 5 , :class=>'i1'%><!--%--></td>
		</tr>
	</table>
	
	<H2><%=t('grade.details2')%></H2>
	<table width=78%>
		<tr>
			<td class="leftcol"><label for="examweight "><%=(t 'grade.summative_weightage').titleize%>:</label></td>
			<td><%= f.text_field :examweight, :size => 5, :value => @grade_weightage  %>%</td>
		</tr>
		<tr>
			<td class="leftcol"><label for="carry_paper"><%=t('grade.carry_paper')%>?:</label></td>
			<td><%= f.check_box :carry_paper %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="resit"><%=t('grade.resit')%>?:</label></td>
			<td><%= f.check_box :resit %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="total_marks "><%=t('grade.total_marks')%>:</label></td>
			<td><%= f.text_field :finalscore  %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="grading_id "><%=t('grade.grade')%>:</label></td>
			<td><%= f.select :grading_id,
			                 Grade::GRADE,
			                 :prompt => (t 'select') %>
				<%#= f.select :grading_id,
			                 Grade::GRADE,
			                 :prompt => (t 'select') ,:selected=>@grade.set_gred %></td>
			
		</tr>
	</table>
<BR>
</div>

<%=hidden_field_tag "grade[formative_count]", @count %>

<script type="text/javascript">
	$j(document).ready(function(){
			$j(".i1").keyup(function() {  
				var formativecount = document.getElementById("grade_formative_count").value;
				var exam1marks = document.getElementById("grade_exam1marks").value;
				var examweight = document.getElementById("grade_examweight").value;
				
				//retrieve values of formative scores
				for (var i=0;i<formativecount;i++)
				{
					window["fmark"+i] = document.getElementById("formative"+i).value;
					window["fweight"+i] = document.getElementById("fweight"+i).value;
				}
				
				//retrieve variable to assign data
				var finalscore = document.getElementById("grade_finalscore");
				var setgrade = document.getElementById("grade_grading_id")
				
				//calculate & assign data into variable
				totalformative = 0
				for (var i=0;i<formativecount;i++)
				{
					totalformative = totalformative+(window["fmark"+i]*1)*((window["fweight"+i]*1)/100)
				}
				
				caplusmse = (totalformative*1)*(100-examweight)/100;
				summative = (exam1marks*1)*(examweight*1)/100;
				forgrade = caplusmse+summative;
				finalscore.value = caplusmse+summative;
			
				if ((caplusmse+summative) > 79)
				{
					setgrade.value = "A";
				}
				else if ((caplusmse+summative) > 74)
				{
					setgrade.value = "A-";
				}
				else if ((caplusmse+summative) > 69)
				{
					setgrade.value = "B+";
				}
				else if ((caplusmse+summative) > 64)
				{
					setgrade.value = "B";
				}
				else if ((caplusmse+summative) > 59)
				{
					setgrade.value = "B-";
				}
				else if ((caplusmse+summative) > 54)
				{
					setgrade.value = "C+";
				}	
				else if ((caplusmse+summative) > 49)
				{
					setgrade.value = "C";
				}
				else if ((caplusmse+summative) > 44)
				{
					setgrade.value = "C-";
				}
				else if ((caplusmse+summative) > 39)
				{
					setgrade.value = "D+";
				}	
				else if ((caplusmse+summative) > 34)
				{
					setgrade.value = "D";
				}
				else if ((caplusmse+summative) > 0)
				{
					setgrade.value = "E";
				}
					
				
			});
	});
</script>