<%#=render :partial => 'exams/position_dept' %> <!--retrieve position for current logged-in user-->
<%#=render :partial => 'exammarks/exam_listing.html.erb'%><!--retrieve exam listing, student listing for use-->

<%#--------------------------------------------------------------------------------------------------------------------------%>

<% form_tag :action => 'create' do |f|%>
	<%# @exammarks.each_with_index do |exammark, index| %>
	<% @grades.each_with_index do |grade, index| %>
		<%# fields_for "exammarks[#{index}]", exammark do |f| %>
		<% fields_for "grades[#{index}]", grade do |f| %>
			<% if index==0 %>
			<div class="tform">

			  <H2><%=t('grade.details')%></H2>

<%=hidden_field_tag :subjectid, @subjectid%>
						<table width=100%>
							<tr>
								<td class="leftcol"><label><%=t('grade.subject_id')%></label></td>
								<td><%# @selected_exam = Exam.find(@examid)%>
									<%# @selected_subject = Programme.find(@subjectid) %>
									<% @selected_subject = Programme.find(:first,:conditions=>['id=?',@subjectid]) %>
								<!--DISPLAY GRADE DETAILS AT THIS LINE--><%=@selected_subject.subject_list %>
								<!--23Jun2013-START-ADDED EXAM PAPER THAT WAS MATCHED WITH SELECTED SUBJECT (FINAL PAPER ONLY)-->
									<% @examid_exist = Exam.find(:first, :conditions=> ['subject_id=? AND name=?', @subjectid, 'F'] )%>
									<% if @examid_exist %>
										<font size=-2 color=blue>
											(<%= @exampaper = Exam.find(@examid_exist.id).exam_name_subject_date %>
											<% @is_template = @examid_exist.klass_id %>
											<%= "template" if @is_template == 0 %>)
										</font>
									<% end %>
								<!--23Jun2013-START-ADDED EXAM PAPER THAT WAS MATCHED WITH SELECTED SUBJECT (FINAL PAPER ONLY)-->
								<br>
								<!--bln:--><%# @exammonth=@selected_exam.exam_on.strftime("%m")%>
											<% @current_month = Date.today.month %>
								<!--tahun:--><%# @examyear=@selected_exam.exam_on.strftime("%Y")%>
											<% @current_year = Date.today.year %>
								<!--course_type:<%#=@selected_exam.subject.parent.course_type%>-->
								<!--semester:--><%# @semester=@selected_exam.subject.parent.code%>
											<% @semester = @selected_subject.parent.code %>
								<!--Intake--><%# @iii=Exammark.set_intake_group(@examyear,@exammonth,@semester).to_s %>
											<% @iii=Exammark.set_intake_group(@current_year,@current_month,@semester).to_s %>
								<!--PROGRAMME NAME & ID-->
								<%# @selected_exam.subject.root.name %><%# @programmeid=@selected_exam.subject.root.id %>
								<% @selected_subject.root.name %><% @programmeid=@selected_subject.root.id %>
								</td>
							</tr>		
							<tr>
								<td class="leftcol" style="vertical-align:middle;"><label><%=t('student.intake')%></label></td>
								<td>							
									<%# @intakes=[] %>
									<%# @intake_list = Student.find(:all,:conditions=> ['course_id=?',@programmeid]).group_by{|l|l.intake}%>
									<%# @counter = 0 %>
									<%# @intake_list.each do |m,n| %>
										<%# @intakes << m %>
									<%# end %>
									<%@intakes.each_with_index do |n,index|%>
										<%if n.to_s == @iii %><!--yes--><%@aa=index%><%else %><!--no--><% end %>
									<% end %>
									
									<% if @aa.nil? %>
										<%= f.select :intake_id, @intakes, { :include_blank=> (t 'select')}, 
										:onchange => remote_function(:update => form_tag_id(f.object_name, :marks_multiple), 
										:url => {:action=>'view_grades_form_multiple_subject'}, 
										:with => "'intakeid='+$('"+"grades_0_intake_id"+"').value+'&subjectid='+'#{@subjectid}'+'&programmeid='+'#{@programmeid}'  ") %>
									<% else %>
										<!--use for default in partial:weightage_multiple-->
										<%@intake_id = @intakes[@aa]%>
										<!--use for default in partial:weightage_multiple-->
										<%= f.select :intake_id, @intakes, {:selected=>@intakes[@aa], :include_blank=> (t 'select')}, 
										:onchange => remote_function(:update => form_tag_id(f.object_name, :marks_multiple), 
										:url => {:action=>'view_grades_form_multiple_subject'}, 
										:with => "'intakeid='+$('"+"grades_0_intake_id"+"').value+'&subjectid='+'#{@subjectid}'+'&programmeid='+'#{@programmeid}'  ") %>
									<% end %>
	
								</td>
							</tr>
							<!---->
							<tr>
								<td class="leftcol"><%=t('grade.formative_scores')%></td>
								<td>	
									<!---->
									<%# if @grades[0].id.nil? %>
										<%#= f.select :formative_scores_var, [1,2,3,4,5,6], {:include_blank=>true, :selected=>6}, 
										:onchange => remote_function(:update => form_tag_id(f.object_name, :formative_scores_div), 
										:url => {:action=>'update_formative_scores'}, 
										:with => "'formativeqty='+$('"+"grades_0_formative_scores_var"+"').value ") %>
									<%# else %>
										<%= f.select :formative_scores_var, [(t 'modify'),1,2,3,4,5,6], {:selected=>(t 'modify')}, 
										:onchange => remote_function(:update => form_tag_id(f.object_name, :formative_scores_div), 
										:url => {:action=>'update_formative_scores'}, 
										:with => "'formativeqty='+$('"+"grades_0_formative_scores_var"+"').value ") %>
										<font size=-2><%=t('grade.default_value')%></font>
									<%# end %>
										<%= tag("div", :id => form_tag_id(f.object_name, :formative_scores_div)) %>
											<% @formative_qty = 6 %>
											<%= render :partial => 'update_formative', :formativeqty => @formative_qty %>
											<%#= render :partial => 'formative_type', :locals => {:gradescount => @grades_count, 
																								:formativetype_ids_main => @formativetype_ids_main} %>
										</div>
									
									<!---->
								</td>	
							</tr>
							<!---->

							<!---->
							<tr>
								<td class="leftcol"><%=(t 'grade.summative_weightage').titleize %></td>
								<td>
									<!---->
									<!--if formative_scores_var==1-->
									<SPAN class="bong", style="display:none;">
										<!--1--><%= f.select :summative_weightage, Grade::WEIGHTAGE, { :include_blank=> (t 'select')}, 
										:onchange => remote_function(:update => form_tag_id(f.object_name, :weightage_multiple), 
										:url => {:action=>'update_summative_weightage'}, 
										:with => "'weightage='+$('"+"grades_0_summative_weightage"+"').value+'&intakeid='+$('"+"grades_0_intake_id"+"').value+'&programmeid='+'#{@programmeid}'
										+'&formativeqty='+$('"+"grades_0_formative_scores_var"+"').value	+'&formativetype0='+$('"+"grades_0_scores_attributes_0_type_id"+"').value+'&formativeweight0='+$('"+"grades_0_scores_attributes_0_weightage"+"').value+'&formativedesc0='+$('"+"grades_0_scores_attributes_0_description"+"').value+'&subjectid='+'#{@subjectid}'") %>
									</SPAN>
									<SPAN class="koik", style="display:none;">
										<!--2--><%= f.select :summative_weightage2, Grade::WEIGHTAGE, { :include_blank=> (t 'select')}, 
										:onchange => remote_function(:update => form_tag_id(f.object_name, :weightage_multiple), 
										:url => {:action=>'update_summative_weightage'}, 
										:with => "'weightage='+$('"+"grades_0_summative_weightage2"+"').value+'&intakeid='+$('"+"grades_0_intake_id"+"').value+'&programmeid='+'#{@programmeid}'
										+'&formativeqty='+$('"+"grades_0_formative_scores_var"+"').value	+'&formativetype0='+$('"+"grades_0_scores_attributes_0_type_id"+"').value+'&formativetype1='+$('"+"grades_0_scores_attributes_1_type_id"+"').value+'&formativeweight0='+$('"+"grades_0_scores_attributes_0_weightage"+"').value+'&formativedesc0='+$('"+"grades_0_scores_attributes_0_description"+"').value+'&formativeweight1='+$('"+"grades_0_scores_attributes_1_weightage"+"').value+'&formativedesc1='+$('"+"grades_0_scores_attributes_1_description"+"').value+'&subjectid='+'#{@subjectid}' ") %>
									</SPAN>
									<SPAN class="three", style="display:none;">
										<!--3--><%= f.select :summative_weightage3, Grade::WEIGHTAGE, { :include_blank=> (t 'select')}, 
										:onchange => remote_function(:update => form_tag_id(f.object_name, :weightage_multiple), 
										:url => {:action=>'update_summative_weightage'}, 
										:with => "'weightage='+$('"+"grades_0_summative_weightage3"+"').value+'&intakeid='+$('"+"grades_0_intake_id"+"').value+'&programmeid='+'#{@programmeid}'
										+'&formativeqty='+$('"+"grades_0_formative_scores_var"+"').value	+'&formativetype0='+$('"+"grades_0_scores_attributes_0_type_id"+"').value+'&formativetype1='+$('"+"grades_0_scores_attributes_1_type_id"+"').value+'&formativetype2='+$('"+"grades_0_scores_attributes_2_type_id"+"').value+'&formativeweight0='+$('"+"grades_0_scores_attributes_0_weightage"+"').value+'&formativedesc0='+$('"+"grades_0_scores_attributes_0_description"+"').value+'&formativeweight1='+$('"+"grades_0_scores_attributes_1_weightage"+"').value+'&formativedesc1='+$('"+"grades_0_scores_attributes_1_description"+"').value+'&formativeweight2='+$('"+"grades_0_scores_attributes_2_weightage"+"').value+'&formativedesc2='+$('"+"grades_0_scores_attributes_2_description"+"').value+'&subjectid='+'#{@subjectid}' ") %>
									</SPAN>
									<SPAN class="four", style="display:none;">
										<!--4--><%= f.select :summative_weightage4, Grade::WEIGHTAGE, { :include_blank=> (t 'select')}, 
										:onchange => remote_function(:update => form_tag_id(f.object_name, :weightage_multiple), 
										:url => {:action=>'update_summative_weightage'}, 
										:with => "'weightage='+$('"+"grades_0_summative_weightage4"+"').value+'&intakeid='+$('"+"grades_0_intake_id"+"').value+'&programmeid='+'#{@programmeid}'
										+'&formativeqty='+$('"+"grades_0_formative_scores_var"+"').value	+'&formativetype0='+$('"+"grades_0_scores_attributes_0_type_id"+"').value+'&formativetype1='+$('"+"grades_0_scores_attributes_1_type_id"+"').value+'&formativetype2='+$('"+"grades_0_scores_attributes_2_type_id"+"').value+'&formativetype3='+$('"+"grades_0_scores_attributes_3_type_id"+"').value+'&formativeweight0='+$('"+"grades_0_scores_attributes_0_weightage"+"').value+'&formativedesc0='+$('"+"grades_0_scores_attributes_0_description"+"').value+'&formativeweight1='+$('"+"grades_0_scores_attributes_1_weightage"+"').value+'&formativedesc1='+$('"+"grades_0_scores_attributes_1_description"+"').value+'&formativeweight2='+$('"+"grades_0_scores_attributes_2_weightage"+"').value+'&formativedesc2='+$('"+"grades_0_scores_attributes_2_description"+"').value +'&formativeweight3='+$('"+"grades_0_scores_attributes_3_weightage"+"').value+'&formativedesc3='+$('"+"grades_0_scores_attributes_3_description"+"').value+'&subjectid='+'#{@subjectid}'  ") %>
									</SPAN>
									<SPAN class="five", style="display:none;">
										<!--5--><%= f.select :summative_weightage5, Grade::WEIGHTAGE, { :include_blank=> (t 'select')}, 
										:onchange => remote_function(:update => form_tag_id(f.object_name, :weightage_multiple), 
										:url => {:action=>'update_summative_weightage'}, 
										:with => "'weightage='+$('"+"grades_0_summative_weightage5"+"').value+'&intakeid='+$('"+"grades_0_intake_id"+"').value+'&programmeid='+'#{@programmeid}'
										+'&formativeqty='+$('"+"grades_0_formative_scores_var"+"').value	+'&formativetype0='+$('"+"grades_0_scores_attributes_0_type_id"+"').value+'&formativetype1='+$('"+"grades_0_scores_attributes_1_type_id"+"').value+'&formativetype2='+$('"+"grades_0_scores_attributes_2_type_id"+"').value+'&formativetype3='+$('"+"grades_0_scores_attributes_3_type_id"+"').value+'&formativetype4='+$('"+"grades_0_scores_attributes_4_type_id"+"').value+'&formativeweight0='+$('"+"grades_0_scores_attributes_0_weightage"+"').value+'&formativedesc0='+$('"+"grades_0_scores_attributes_0_description"+"').value+'&formativeweight1='+$('"+"grades_0_scores_attributes_1_weightage"+"').value+'&formativedesc1='+$('"+"grades_0_scores_attributes_1_description"+"').value+'&formativeweight2='+$('"+"grades_0_scores_attributes_2_weightage"+"').value+'&formativedesc2='+$('"+"grades_0_scores_attributes_2_description"+"').value +'&formativeweight3='+$('"+"grades_0_scores_attributes_3_weightage"+"').value+'&formativedesc3='+$('"+"grades_0_scores_attributes_3_description"+"').value+'&formativeweight4='+$('"+"grades_0_scores_attributes_4_weightage"+"').value+'&formativedesc4='+$('"+"grades_0_scores_attributes_4_description"+"').value+'&subjectid='+'#{@subjectid}'") %>
									</SPAN>
					
						<%# if @students %>				<!--subject<%#=@subjectid%>	student<%#=@students.map(&:student_id)%>-->	
							<%# @grade_exist_subject_student=Grade.find(:all, :conditions => ['subject_id=? AND student_id IN(?)',@subjectid, @students.map(&:id)]) %>
							<%# @student_ids_exist_gradesubject = @grade_exist_subject_student.map(&:student_id) %>
						<%# end %>						
						
						<%# if @student_ids_exist_gradesubject %><%# if @exist_ids%>
									
									<!--<SPAN class="six", style="display:block;">-->
										<!--6--><!--6<%#= f.select :summative_weightage6, Grade::WEIGHTAGE, { :include_blank=> 'Select'}, 
										:onchange => remote_function(:update => form_tag_id(f.object_name, :weightage_multiple), 
										:url => {:action=>'update_summative_weightage'}, 
										:with => "'weightage='+$('"+"grades_0_summative_weightage6"+"').value+'&intakeid='+$('"+"grades_0_intake_id"+"').value+'&programmeid='+'#{@programmeid}'
										+'&formativeqty='+$('"+"grades_0_formative_scores_var"+"').value	+'&formativetype0='+$('"+"grades_0_scores_attributes_0_type_id"+"').value+'&formativetype1='+$('"+"grades_0_scores_attributes_1_type_id"+"').value+'&formativetype2='+$('"+"grades_0_scores_attributes_2_type_id"+"').value+'&formativetype3='+$('"+"grades_0_scores_attributes_3_type_id"+"').value+'&formativetype4='+$('"+"grades_0_scores_attributes_4_type_id"+"').value+'&formativetype5='+$('"+"grades_0_scores_attributes_5_type_id"+"').value+'&formativeweight0='+$('"+"grades_0_scores_attributes_0_weightage"+"').value+'&formativedesc0='+$('"+"grades_0_scores_attributes_0_description"+"').value+'&formativeweight1='+$('"+"grades_0_scores_attributes_1_weightage"+"').value+'&formativedesc1='+$('"+"grades_0_scores_attributes_1_description"+"').value+'&formativeweight2='+$('"+"grades_0_scores_attributes_2_weightage"+"').value+'&formativedesc2='+$('"+"grades_0_scores_attributes_2_description"+"').value +'&formativeweight3='+$('"+"grades_0_scores_attributes_3_weightage"+"').value+'&formativedesc3='+$('"+"grades_0_scores_attributes_3_description"+"').value+'&formativeweight4='+$('"+"grades_0_scores_attributes_4_weightage"+"').value+'&formativedesc4='+$('"+"grades_0_scores_attributes_4_description"+"').value+'&formativeweight5='+$('"+"grades_0_scores_attributes_5_weightage"+"').value+'&formativedesc5='+$('"+"grades_0_scores_attributes_5_description"+"').value+'&existstudents_id='+$('"+"exist_ids"+"').value+'&subjectid='+'#{@subjectid}' ") %>
									</SPAN>-->
									
						<%# else %>
									<%#####################%>
										<SPAN class="six", style="display:block;">
											<!--5-->6b<%= f.select :summative_weightage6, Grade::WEIGHTAGE, { :include_blank=> (t 'select')}, 
											:onchange => remote_function(:update => form_tag_id(f.object_name, :weightage_multiple), 
											:url => {:action=>'update_summative_weightage'}, 
											:with => "'weightage='+$('"+"grades_0_summative_weightage6"+"').value+'&intakeid='+$('"+"grades_0_intake_id"+"').value+'&programmeid='+'#{@programmeid}'
											+'&formativeqty='+$('"+"grades_0_formative_scores_var"+"').value	+'&formativetype0='+$('"+"grades_0_scores_attributes_0_type_id"+"').value+'&formativetype1='+$('"+"grades_0_scores_attributes_1_type_id"+"').value+'&formativetype2='+$('"+"grades_0_scores_attributes_2_type_id"+"').value+'&formativetype3='+$('"+"grades_0_scores_attributes_3_type_id"+"').value+'&formativetype4='+$('"+"grades_0_scores_attributes_4_type_id"+"').value+'&formativeweight0='+$('"+"grades_0_scores_attributes_0_weightage"+"').value+'&formativedesc0='+$('"+"grades_0_scores_attributes_0_description"+"').value+'&formativeweight1='+$('"+"grades_0_scores_attributes_1_weightage"+"').value+'&formativedesc1='+$('"+"grades_0_scores_attributes_1_description"+"').value+'&formativeweight2='+$('"+"grades_0_scores_attributes_2_weightage"+"').value+'&formativedesc2='+$('"+"grades_0_scores_attributes_2_description"+"').value +'&formativeweight3='+$('"+"grades_0_scores_attributes_3_weightage"+"').value+'&formativedesc3='+$('"+"grades_0_scores_attributes_3_description"+"').value+'&formativeweight4='+$('"+"grades_0_scores_attributes_4_weightage"+"').value+'&formativedesc4='+$('"+"grades_0_scores_attributes_4_description"+"').value+'&formativeweight5='+$('"+"grades_0_scores_attributes_5_weightage"+"').value+'&formativedesc5='+$('"+"grades_0_scores_attributes_5_description"+"').value+'&subjectid='+'#{@subjectid}'  ") %>
										</SPAN>
									
									<%#####################%>
									
						<%# end %>
									<script type="text/javascript">
											$j(document).ready(function(){
											  $j('#grades_0_formative_scores_var').change(function() {
											    if($j(this).val() == 1) {
											      		$j('.bong').show();
														$j('.koik').hide();
														$j('.three').hide();
														$j('.four').hide();
														$j('.five').hide();
														$j('.six').hide();
											    }else if ($j(this).val() == 2) {
											     	 	$j('.bong').hide();
														$j('.koik').show();
														$j('.three').hide();
														$j('.four').hide();
														$j('.five').hide();
														$j('.six').hide();
											    }
												else if ($j(this).val() == 3) {
											     	 	$j('.bong').hide();
														$j('.koik').hide();
														$j('.three').show();
														$j('.four').hide();
														$j('.five').hide();
														$j('.six').hide();
											    }
												else if ($j(this).val() == 4) {
											     	 	$j('.bong').hide();
														$j('.koik').hide();
														$j('.three').hide();
														$j('.four').show();
														$j('.five').hide();
														$j('.six').hide();
											    }
												else if ($j(this).val() == 5) {
											     	 	$j('.bong').hide();
														$j('.koik').hide();
														$j('.three').hide();
														$j('.four').hide();
														$j('.five').show();
														$j('.six').hide();
											    }
												else if ($j(this).val() == 6) {
											     	 	$j('.bong').hide();
														$j('.koik').hide();
														$j('.three').hide();
														$j('.four').hide();
														$j('.five').hide();
														$j('.six').show();
											    }
												
												});
										});
									</script>
										<%#= f.select :summative_weightage, Grade::WEIGHTAGE, { :include_blank=> 'Select'}, 
										:onchange => remote_function(:update => form_tag_id(f.object_name, :weightage_multiple), 
										:url => {:action=>'update_summative_weightage'}, 
										:with => "'weightage='+$('"+"grades_0_summative_weightage"+"').value+'&intakeid='+$('"+"grades_0_intake_id"+"').value+'&programmeid='+'#{@programmeid}'
										+'&formativeqty='+$('"+"grades_0_formative_scores_var"+"').value 
										+'&formativetype0='+$('"+"grades_0_score_attributes_0_type_id"+"').value
										+'&formativetype1='+$('"+"grades_0_score_attributes_1_type_id"+"').value
										+'&formativetype2='+$('"+"grades_0_score_attributes_2_type_id"+"').value
										+'&formativetype3='+$('"+"grades_0_score_attributes_3_type_id"+"').value
										+'&formativetype4='+$('"+"grades_0_score_attributes_4_type_id"+"').value+'&formativetype5='+$('"+"grades_0_score_attributes_5_type_id"+"').value") %>
										<!--<font size=-2>(Default value = 100%)</font>-->
										<%= tag("div", :id => form_tag_id(f.object_name, :weightage_multiple)) %>
										<!--WEIGHTAGE DIV-->
											<% @formative_qty = 6 %>
											<%# @weightage = 100 %>		    
											<%# @students_count = Student.find(:all, :conditions=>['course_id=? and intake=?',@programmeid,@intake_id.to_s]).count %>
											<%#= render :partial => 'update_weightage', :locals =>{:formativeqty => @formative_qty, :weightage => @weightage, :student_count => @students_count}%>
										</div>
									<!---->
								</td>	
							</tr>
							<!---->
							
							<tr>
								<td colspan=2>
									<%= tag("div", :id => form_tag_id(f.object_name, :marks_multiple)) %>
										<%# if @examid.nil? || @examid.blank? %><!--tteeengook-->
										<% if @subjectid.nil? || @subjectid.blank? %><!--tteeengook-->
											<!--do nothing here-->
										<% else %>
											<%#=render :partial => 'view_marks_form_multiple_intake', :locals => {:f => f,:examid=>@examid, :intake_id=>@iii, :aaa=>@aa,:programmeid=>@programmeid } %> 
											<%=render :partial => 'view_grades_form_multiple_subject', :locals => {:f => f,:subjectid=>@subjectid, :intake_id=>@iii, :aaa=>@aa,:programmeid=>@programmeid } %>
										<% end %>
									</div>
								</td>
							</tr>
						</table>


			</div>
			<% end %>
			<!--******************-->
			
		<% end %>	<!-- end of - @grades.each_with_index -->
	<% end %>	<!-- end of - fields_for "grades[#{index}]"--><%=@curr_exammark%>
	<p><%= f.submit t('grade.create_by_subject'), :name => :new_submit %></p>
<% end %>	<!-- end of - form_tag :action => 'create' do |f| %>-->
<!--end-trial new grades by subject 3June2013-->