<!--13Apr2013-DEPT UNIT for current user-->
<%# @anc_depth = current_user.staff.position.ancestry_depth %>

<%# if @anc_depth==2 %>
	<%# @dept_unit = current_user.staff.position.unit %>
<%# elsif @anc_depth < 2 %>
	<%# @position_count = Position.find(:all, :conditions=>['staff_id=?',current_user.staff]).count %>
	<%# if @position_count > 1 %>
		<%# @dept_unit = Position.find(:first,:conditions=>['staff_id=? and ancestry_depth=?', current_user.staff_id,2]).unit %>			
	<%# end %>
<%# elsif @anc_depth > 2 %>
	<%# @dept_unit = current_user.staff.position.ancestors.at_depth(2)[0].unit %>
<%# end %>

<%# current_user_roles=[]%>
<%# User.current_user.roles.each do |role|%>
	<%# current_user_roles<<role.id%>
<%# end %>
<%#= current_user_roles.include?(2)%>
<!--13Apr2013-DEPT UNIT for current user-->
<%# if current_user_roles.include?(2) %>
	<%# @exam_list = Exam.all %>
	<%# @student_list = Student.all %>
	<%# @subject_list = Programme.at_depth(2) %>
<%#else%>
<!---->
	<%# @exam_list = [] %>
	<%# Exam.all.each do |x| %>
		<%# if x.subject.root.name == @dept_unit %>
			<%# @exam_list << x %>
		<%# end %>
	<!--<br><%##= x.subject.root.name %> -->
	<%# end %>
	<%# @student_list = [] %>
	<%# Student.all.each do |y| %>
		<%# if y.course_id && y.course.name == @dept_unit %>
			<%# @student_list << y %>
		<%# end %>
		<!--<br><%#= y.course_id? ? y.course.name : "programme not entered" %>-->
	<%# end %>
	<%# @subject_list = Programme.find_by_name(@dept_unit).descendants.at_depth(2)%>
<!---->	
<%# end %>
<!--11-12Apr2013-->

<!--13Apr2013-DEPT UNIT for current user-->
<% @anc_depth = current_user.staff.position.ancestry_depth %>

<!--27May2013-how to retrieve position for staff with multiple positions?-->
<% @multi_position = Position.find(:all, :conditions => ['staff_id=?',current_user.staff_id])%>
<% @ifmulti_position = @multi_position.count %>

<% if @anc_depth==2 %>
	<% @dept_unit = current_user.staff.position.unit %>
<% elsif @anc_depth < 2 %>
	<%# @position_count = Position.find(:all, :conditions=>['staff_id=?',current_user.staff]).count %>
	<%# if @position_count > 1 %>
	<% if @ifmulti_position > 1 %><!--DRY-27 May 2013-->
		<% @dept_unit = Position.find(:first,:conditions=>['staff_id=? and ancestry_depth=?', current_user.staff_id,2]).unit %>			
	<% end %>
	<!--26 May 2013-newly added for Mdm Yap Peck Seah-ancestry_depth-1(Ketua Unit penilaian & Kualiti)-->
	<% if @anc_depth==1 %>
		<% @dept_unit = Position.find(:first,:conditions=>['staff_id=?', current_user.staff_id]).unit %>
	<% end %>
	<!--26 May 2013-newly added for Mdm Yap Peck Seah-ancestry_depth-1(Ketua Unit penilaian & Kualiti)-->
<% elsif @anc_depth > 2 %>
	<!--27 May 2013-START-added for mohd firdaus fikri(radiografi)-MULTIPLE positions-->
	<% if @ifmulti_position > 1 %>
		<% @multi_position.each do |x|%>
			<% if x.parent.id > 6 && x.parent.id < 17 %>
				<!--hoho<%#= @dept_unit = x.parent.unit %>--><% @dept_unit = x.parent.unit %>
			<% end %>	
		<% end %>
	<% else %>
		<% @dept_unit = current_user.staff.position.ancestors.at_depth(2)[0].unit %>
		<!--30Mei2013-->
		<% if @dept_unit == "Pos Basik" && @anc_depth == 3 %><!--@anc_depth==3-->
			<% @dept_unit = current_user.staff.position.unit %>
		<% end %>
		<!--30Mei2013-->
	<% end %>
	<!--27 May 2013-START-added for mohd firdaus fikri(radiografi)-MULTIPLE positions-->
<% end %>

<% current_user_roles=[]%>
<% User.current_user.roles.each do |role|%>
	<% current_user_roles<<role.id%>
<% end %>
<%#= current_user_roles.include?(2)%>
<!--13/20Apr2013-DEPT UNIT for current user-->

<%###################################################%>
<% if current_user_roles.include?(2) %>
	<% @exam_list = Exam.all %>
	<% @student_list = Student.all %>
	<% @subject_list = Programme.at_depth(2) %>
<%else%><!--if NOT ADMIN-->

	<% if @anc_depth==1 %>
	<!--26 May 2013-newly added for Mdm Yap Peck Seah-ancestry_depth-1(Ketua Unit penilaian & Kualiti)-->
		<% @kupk = "yes" %>
		<% @exam_list = Exam.all %>
		<% @student_list = Student.all %>
		<% @subject_list = Programme.at_depth(2) %>
	<!--26 May 2013-newly added for Mdm Yap Peck Seah-ancestry_depth-1(Ketua Unit penilaian & Kualiti)-->
	<% else %>
		<!---->
		<% @exam_list = [] %>
		<% Exam.all.each do |x| %>
			<% if x.subject.root.name == @dept_unit %>
				<% @exam_list << x %>
			<% end %>
			<!--<br><%#= x.subject.root.name %> -->
		<% end %>
		<% @student_list = [] %>
		<% Student.all.each do |y| %>
			<% if y.course_id && y.course.name == @dept_unit %>
				<% @student_list << y %>
			<% end %>
			<!--<br><%#= y.course_id? ? y.course.name : "programme not entered" %>-->
		<% end %><%=@dept_unit%>
		<% @subject_list = Programme.find_by_name(@dept_unit).descendants.at_depth(2)%>
		<!---->	
	<% end %>

<% end %>
<!--11-12Apr2013-->
<%###################################################%>

<div class="tform">
	<H2>Grade Details</H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="student_id">Student Name:</label></td>
			<td><%= f.collection_select :student_id, @student_list, :id, :matrix_name, :include_blank => 'Select student' %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="subject_id">Subject Name:</label></td>
			<td><%= f.collection_select :subject_id,  @subject_list, :id, :subject_list, :include_blank => 'Select a subject' %></td>
		  <!--TODO: Preselect course in above condition-->
		</tr>
	</table>
	
	<H2>Formative Scores</H2><!--Score Details-->	
	<table width=100%>
		<tr>
			<td colspan=2>
				 <table width=100% border=0>
					  <tr>
				      <td width=130px ><label for="type_id"><b>Type:</b></label></td>
				      <td width=240px ><label for="description"><b>Description:</b></label></td>
				      <td width=120px><label for="marks"><b>Marks:</b></label><font color="red"> * </font></td>
						  <td width=80px><label for="weightage"><b>Weightage:</b></label></td>
				      <td width=70px></td>
			      </tr>
				 </table>
	    </td>
		</tr>

	<tr>
	  <td colspan=2>
		<!-- Code Block for Score Repeating Field -->
		  <div id="scores">
				<% f.fields_for :scores do |builder| %>
					<%= render 'score_fields', :f => builder %>
				<% end %>
				<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :scores %> - Add More </p>
			</div>
	  </td>
	</tr>
	<!-- End Code Block for Score Repeating Field -->
	</table>
	
	<H2>Send to BPL</H2><!--Score Details-->	
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="sent_to_BPL">Sent To BPL?:</label></td>
			<td><%= f.check_box :sent_to_BPL %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="sent_date">Sent Date:</label></td>
			<td><%= f.date_select :sent_date, :start_year => 2011, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="eligible_for_exam">Eligible For Exam?:</label></td>
			<td><%= f.check_box :eligible_for_exam %><font color=#AAA size=-2>(need other inputs for automatic)</font></td>
		</tr>
	</table>
	
	<H2>Summative</H2>
	<table width=78% border=0>
		<tr>
			<th>Exam Name</th>
			<th>Description</th>
			<th>Marks</th>
		</tr>
	
		<tr>
			<td><%= f.text_field :exam1name, :size => 15 %></td>
			<td><%= f.text_field :exam1desc %></td>
			<td><%= f.text_field :exam1marks, :size => 5 %>%</td>
		</tr>
	</table>
	
	<H2>Details</H2>
	<table width=78%>
		<tr>
			<td class="leftcol"><label for="examweight ">Summative Weightage:</label></td>
			<td><%= f.text_field :examweight, :size => 5  %>%</td>
		</tr>
		<tr>
			<td class="leftcol"><label for="carry_paper">Carry Paper?:</label></td>
			<td><%= f.check_box :carry_paper %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="resit">Resit?:</label></td>
			<td><%= f.check_box :resit %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="total_marks ">Total Marks:</label></td>
			<td><%= f.text_field :finalscore  %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="grading_id ">Grade:</label></td>
			<td><%= f.select :grading_id,
			                 Grade::GRADE,
			                 :prompt => "Select" %></td>
		</tr>
	</table>
<BR>
</div>