<div class="tform">
<H2>Student & Subject Details</H2>
<table width=100% >

	<tr>
		<td class="leftcol"><label for="student_id">Student Name</label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :student_id, Student.find(:all), :id, :formatted_mykad_and_student_name, :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="subject_id">Subject Name:</label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :subject_id, Subject.find(:all, :order => 'name ASC'), :id, :name, :include_blank => true %></td>
	</tr>
</table>

<H2>Formative</H2>
<table width=100% border=0>
		<tr>
			<td colspan=2>
				<table width=100% border=1 cellspacing=0 BORDERCOLOR="#E8E8E8 ">
					<tr>
						<th width="20%" ><label for="type_id">Type</label></th>
						<th width="33%"><label for="description">Description</label></th>
						<th width="15%"><label for="marks">Marks</label><font color="red"> * </font></th>
						<th width="15%"><label for="weightage">Full Marks</label></th>
						<th width="5%"><label for="weightage"></label></th>
					</tr>
				</table>
			<% f.fields_for :scores do |builder| %>
				<%= render 'score_fields', :f => builder %>
				<% end %>
				<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :scores %> - Add More </p>
		</td>
	</tr>
</table>

<BR>
<H2>Final Exam</H2>	
<table width=100% border=0>
	<tr>
		<td colspan=2>
			<table width=100% border=1 cellspacing=0 BORDERCOLOR="#E8E8E8 ">
			<tr>	
				<th width=20% align="center">Exam Name</th>
				<th width=50% align="center">Description</th>
				<th width=15% align="center">Marks</th>
				<th width=15% align="center">Full Marks</th>
			</tr>
			 
			<tr>
				<td><%= f.text_field :exam1name, :size => 20 %></td>
				<td><%= f.text_area :exam1desc, :size => "50x2" %></td>
				<td align="center"><%= f.text_field :exam1marks, :size => 5 %> %</td>
				<td align="center"><%= f.text_field :examweight, :size => 5 %> %</td>
			</tr>
		</table></td>
	</tr>
  
</table>
<H2>Details</H2>	
<table width=100%>
	
	
	<tr>
		<td class="leftcol"><label for="sent_date">Sent Date</label></td>
		<td><b>:</b></td>
		<td><%= f.date_select :sent_date, :start_year => 2011, :end_year => 2020, :order => [:day, :month, :year] %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="carry_paper">Carry Paper?</label></td>
		<td><b>:</b></td>
		<td><%= f.check_box :carry_paper %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="sent_to_BPL">Sent To Quality Control?</label></td>
		<td width=3%><b>:</b></td>
		<td><%= f.check_box :sent_to_KM %></td>
	</tr>	
</table>
</div>
<BR>
