<div class="fields">
<table width=100% border=1 cellspacing=0 BORDERCOLOR="#E8E8E8 ">
	<td width="20%" ><%= f.select :type_id, Score::E_TYPES, :prompt => "Select" %></td>
	<td width="33%"><%= f.text_area :description, :size => "30x2"%></td>
	<td width="15%"><%= f.text_field :marks, :size => 5 %></td>
	<td width="15%"><%= f.text_field :weightage, :size => 5 %></td><%= f.hidden_field :_destroy %>
	<td width="5%"><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %></td>
</table>
</div>

