<div class="fields">
    <table width=100% border=0>
	   <tr><%= f.hidden_field :_destroy %>
	     <td width=130px><%= f.select :type_id, Score::E_TYPES, :prompt => "Select" %></td>
       <td width=240px><%= f.text_field :description, :size => 30 %></td>
       <td width=120px><%= f.text_field :marks, :size => 5 %> in %</td>
		   <td width=80px> <%= f.text_field :weightage, :size => 5 %></td>
       <td width=70px><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %></td>
     </tr>
    </table>
		
		
</div>

