<%# if @examid && @iii && @programmeid %>
<% if @subjectid && @iii && @programmeid %>
	<%# @exam_id = @examid%>
	<% @subject_id = @subjectid%>
	<% @programme_id = @programmeid%>
	<% unless @aa.nil? %> 
		<% @intake_id = @iii %>
		<% unless @subject_id.blank? || @subject_id.nil? %>
			<%# @examquestions = Exam.find(@exam_id).examquestions %>
			<%  unless @intake_id.blank? || @intake_id.nil?  %>
    			<% @students = Student.find(:all, :conditions=>['course_id=? and intake=?',@programme_id,@intake_id.to_s]) %>
			<% end %>
			<%# @exammark_exist_for_exam=Exammark.find(:all, :conditions => ['exam_id=?',@exam_id]).count%><!--2June2013-->
			<%# @exammark_exist_for_exam=Exammark.find(:all, :conditions => ['exam_id=? AND student_id IN(?)',@exam_id, @students.map(&:id)]).count %><!--2June2013-->

			<%# @grade_exist_subject_student=Grade.find(:all, :conditions => ['subject_id=? AND student_id IN(?)',@subject_id, @students.map(&:id)]).count %>
			<%# @exammark_exist_for_exam=Exammark.find(:all, :conditions => ['exam_id=? AND student_id IN(?)',@exam_id, @students.map(&:id)]).count %><!--2June2013-->
		<% end %>
	<% end %>
<% end %>


<%# if @examquestions && @students %>

<% if @students  %><%#=@students.count%>

	<!---->
	<%# @grade_exist_subject_student=Grade.find(:all, :conditions => ['subject_id=? AND student_id IN(?)',@subject_id, 		@students.map(&:id)]).count %>
	<% @grade_exist_subject_student=Grade.find(:all, :conditions => ['subject_id=? AND student_id IN(?)',@subject_id, @students.map(&:id)]) %>
	<% @grade_exist_subject_student_count=@grade_exist_subject_student.count %>
	<!---->
	<%#=@grade_exist_subject_student%>
	<%# if @grade_exist_subject_student && @grade_exist_subject_student > 0 %><!--2June2013-->
	<% if @grade_exist_subject_student && @grade_exist_subject_student_count== @students.count %><!--16June2013-->
		<!--Examination Marks for the <b>above</b> selected paper & current students&nbsp;(Tahun&nbsp;<%#=Exam.find(@exam_id).set_year%>,&nbsp;Semester&nbsp;<%#=Exam.find(@exam_id).set_semester%>) already exist. Please edit records accordingly or select other intakes.-->
		Grades for the <b>above</b> selected subject & current students&nbsp;(Tahun&nbsp;<%=Programme.find(@subject_id).set_year%>,&nbsp;Semester&nbsp;<%=Programme.find(@subject_id).set_semester%>) already exist. Please edit records accordingly or select other intakes.
					
	<% else %><!--2June2013-->

		<!--START - 11June2013-check for student, if exammark exist for selected exampaper(subject) and students-->
		<!--16June2013 - additional condition required-->
		<% if @grade_exist_subject_student_count > 0 %>
			<% @student_ids_exist_gradesubject = @grade_exist_subject_student.map(&:student_id)%>
			<% @students2 = Student.find(:all, :conditions=>['id IN (?) and id NOT IN (?)',@students.map(&:id),@student_ids_exist_gradesubject])%>
			<%= hidden_field "exist_ids",{},:value=>@student_ids_exist_gradesubject,:id=> "exist_ids"%>
		<% else %>
			<% @students2 = @students %>
		<% end %>

		<% @student_ids = @students2.map(&:id)%>
		<%# @examid_exist = Exam.find_by_subject_id(808)%><!--SAMPLE SUBJECT-->
		<%# @examid_exist = Exam.find_by_subject_id(@subject_id) %><!--DON'T USE THIS-->
		<!--USE THIS INSTEAD-->
		<% @examid_exist = Exam.find(:first, :conditions=> ['subject_id=? AND name=?', @subject_id, 'F'] )%>
		<!--use FIRST-[0], must unique, only 1-->
		<!--EXAM ID (EXIST) YG DIBACA SEPATUTNYE FINAL = <%#= @examid_exist.id %>-->
		
		<% if @examid_exist %>
			<% @examid = @examid_exist.id %>
		<% end %>
		<%# @curr_exammark = Exammark.find(:first, :conditions=>['student_id IN (?) and exam_id=?',@student_ids,@examid]) %>
		<!--16JUNE2013-->
		<%# @curr_exammark = Exammark.find(:first, :conditions=>['student_id IN (?) and student_id NOT IN (?) AND exam_id=?',@student_ids, @student_ids_exist_gradesubject,@examid])%><!--refer line 122-->
		<!--16JUNE2013-->
		<%# if @student_ids_exist_gradesubject && @student_ids_exist_gradesubject.count == 0 %>
		<% if @student_ids_exist_gradesubject && @student_ids_exist_gradesubject.count > 0 %>
				<!--aa-->
				<% @curr_exammark = Exammark.find(:first, :conditions=>['student_id IN (?) and student_id NOT IN (?) AND exam_id=?',@student_ids,@student_ids_exist_gradesubject,@examid])%><!--refer line 122-->
		<% else %>
				<!--mmm<%#=@student_ids%>|<%#=@student_ids_exist_gradesubject%>|<%#=@examid%>-->
				curr<% @curr_exammark = Exammark.find(:first, :conditions=>['student_id IN (?) AND exam_id=?',@student_ids,@examid])%><!--refer line 122-->
		<% end %>
		
		<% if @curr_exammark %>
		<!--11June2013-check for student, if exammark exist for selected exampaper(subject) and students-->
		
			<br>
			&nbsp;<b><%=t('student.intake')%> : </b><%=@intake_id %><%#=@exam_id %>
			&nbsp;<b><%=t('grade.total_students')%> : </b><%= @students2.count %><%#= @examquestions%>

			<div class="right" style="text-align:right;">
				&nbsp;&nbsp;<font size=-2 color=blue> <b><%=t('grade.total_formative')%></b> = <%=t('grade.sum_of_scores')%>, <b>CA+MSE</b> = <%=t('grade.total_formative')%>*(100-<%=t('grade.summative_weightage')%>)/100
				<br><b><%=t('grade.total_summative')%></b> = (<%=t('grade.final_exam')%> * <%=t('grade.summative_weightage')%>) / 100, <b><%=t('grade.total_marks')%></b> = CA+MSE + <%=t('grade.total_summative')%></font>
			</div>
			<!--FINALE = ((exam1marks * examweight)/100) + ((total_formative * (100 - examweight)/100))-->
			<!--FINALE = TOTAL SUMMATIVE + CA+MSE-->

			<table border=1 cellspacing=0 cellpadding=0 width=100%>
				<tr>
					<th rowspan=2 width=6px>No</th>
					<th rowspan=2 width=230px><%=t('student.name')%></th>
					<th rowspan=2 width=130px><%=t('student.matrixno')%></th>
					<th rowspan=2><%=t('student.icno')%></th>
					<!--<th colspan=4>--><!--23JUNE2013-HIDE TOTAL FORMATIVE COLUMN<th rowspan=2 width=60px>--><!--MCQ--><!--Total Formative </th>-->
					<th rowspan=2>CA+MSE</th>
					<!--<th rowspan=2 width=75px>Summative Weightage</th>-->
					<th rowspan=2><%=t('grade.final_exam')%><br>(<%=t('grade.written_paper')%>)</th>
					<th rowspan=2 width=60px><%=t('grade.total_summative')%></th>
					<th rowspan=2><%=t('grade.total_marks')%></th>
				</tr>
	
				<!--16June2013 - add HIDDEN ONE-IF ERRORS ARISE - RENDER NEW ACTION WITH VALUE @new_type="3"(controller-line 3) & @subject_id value...-->
				<%= hidden_field "subjectid", {}, :value => @subject_id %>
	
				<tr><!--<td width='3px'>1</td><td>2</td><td>3</td><td>4</td>-->&nbsp;</tr>
				
				<% @students2.sort_by{|x|x.name}.each_with_index do |student, index| %>
		
					<!--revised 24th Sept 2012-->	
					<%#= hidden_field "exammarks[#{index}]",:student_id,  :value=> student.id %>
					<%= hidden_field "grades[#{index}]",:student_id,  :value=> student.id %>
					<%#= hidden_field "exammarks[#{index}]",:exam_id, :value=> @exam_id %>
					<%= hidden_field "grades[#{index}]",:subject_id, :value=> @subject_id %>
					<!--revised 24th Sept 2012-->
		
					<!--testing 3rd Oct 2012-4Liza-continue fr-last shared 18 Sept,not yet send 24 Sept & 3rd Oct(incomplete yet)-->
			
					<%## @subject => subject id & student.id => student id &  @exammaker_id => exammaker id%>
			
					<%# @exammark_exist = Exammark.find(:all, :conditions => ['exam_id=? and student_id=?', @exam_id, student.id]) %>
					<% @grade_exist = Grade.find(:all, :conditions => ['subject_id=? and student_id=?', @subject_id, student.id]) %>
					<%# @marks_exist = [] %>
					<% @scores_exist = [] %>
					<%# @exammark_exist.each do |exammark_exist| %>
					
					<% @grade_exist.each do |grade_exist| %>
						<%# exammark_exist.marks.each do |mark_exist| %>
						<% grade_exist.scores.each do |score_exist| %>
							<%# @marks_exist << mark_exist.student_mark %>
							<% @scores_exist << score_exist.marks %>
						<% end %>
						<!--<br>-->
					<% end %>

					<!--testing 3rd Oct 2012-->
		
					<tr>
						<td style="padding:0px 3px 0px 2px;text-align:right;"><%=index+1%></td>
						<td style="padding-left:4px;padding-right:4px;"><%= student.name %></td>
						<td style="padding-left:4px;padding-right:4px;"><%= student.matrixno %></td>
						<td style="padding-left:4px;padding-right:4px;"><%= student.icno %></td>
						<!--23JUNE2013-HIDE COLUMN TOTAL FORMATIVE-->
						<!--3June2013-<td colspan=4> this part for total formative-->
						<!--<td style="padding-left:4px;padding-right:4px;text-align:center;"><%#= text_field "grades[#{index}]",:formative, :value=> 0, :size=>4 %></td>-->
						<!--23JUNE2013-HIDE COLUMN TOTAL FORMATIVE-->
						<!--use column score for CA+MSE-->
						<td style="padding-left:4px;padding-right:4px;text-align:center;"><%= text_field "grades[#{index}]",:score, :value=> 0, :size=>4 %>
							<%##= text_field "exammarks[#{index}][marks_attributes][0]",:student_mark , :size=>4  %>
							<%#= text_field "exammarks[#{index}]",:total_mcq, :size=>4, :value=>@totalmcq  %>
							<%# 0.upto(@examquestions.mcqq.count-1) do |counter|%>
								<!--dd--><%#= hidden_field "exammarks[#{index}][marks_attributes][#{counter}]",:student_mark , :size=>4,:value=>0  %> 
							<%# end %>
						</td>
						<%# end %>
						<!---->
				
						<!--<td style="padding-left:4px;padding-right:4px;text-align:center;">SUMMATIVE WEIGHTAGE-->
						<%#= select_tag "grades[#{index}][examweight]","<option value='0'>"+(t 'select')+"</option>"+options_for_select(Grade::WEIGHTAGE) %>	
		
						<!--this part for EDIT-->
						<!--@@--><%#= text_field "exammarks[#{index}][marks_attributes][#{@index2}]",:student_mark , :size=>4,:value=>@marks_exist[@index2]   %> 
						<!--@@--><%#= text_field "grades[#{index}][scores_attributes][#{index}]",:marks , :size=>4,:value=>@grades_exist[index]   %> 
						<!--this part for EDIT-->
						<%# end %>
					
					<!--testing on 3rd Oct 2012-->
				
						<!--this part for NEW-->
						<%#= text_field "exammarks[#{index}][marks_attributes][#{@index2}]",:mark , :size=>4,:value=>@val_mark   %> 
						<!--this part for NEW-->
						<!--</td>SUMMATIVE WEIGHTAGE-->
	

						<%# @examid = Exam.find_by_subject_id(@subject_id).id %>
						<%# @examid = Exam.find_by_subject_id(@subject_id).id %>
						<%# @curr_exammark = Exammark.find(:first, :conditions=>['student_id=? and exam_id=?',student.id,@examid]) %>

						<%# total_marks = @curr_exammark.total_marks %><!--sum of student_mark from MARKS table, inc.MCQ & MEQ-->
						<%# total_mcq = @curr_exammark.total_mcq %><!--value of total_mcq in EXAMMARKS table-->
						<%# total_non_mcq = 0 %>
		
						<!--11June2013-TEMPLATE-->
						<% @istemplate = @curr_exammark.exampaper.klass_id %>
						<% if @istemplate == 0 %>
							<% @examquestions_qty = @curr_exammark.exampaper.examtemplates.mcqq[0].quantity %>
						<% else %>
							<% @examquestions_qty = @curr_exammark.exampaper.examquestions.mcqq.count%>
						<% end %>
						<!--11June2013-TEMPLATE-->
		
						<%# @curr_exammark.marks.sort_by{|x|x.created_at}.each_with_index do |x, index2|%>
							<%# if index2 > @examquestions_qty-1%>
								<%# total_non_mcq+=x.student_mark %><!--total_non_mcq : Total Marks 4 Non-MCQ fr MARKS table-->
							<%# end %>
						<%# end %>
						<%# total_mcq_plus_non_mcq = total_mcq+total_non_mcq %><!--total_mcq(EXAMMARKS) plus total_non_mcq(MARKS)-->
						<!--END-checking-if total marks equal to [total_mcq(EXAMMARKS) plus total_non_mcq(MARKS)]-->		
		
						<%# if total_marks!= total_mcq_plus_non_mcq %>
							<%# @finalfrexammark = total_mcq_plus_non_mcq %>
						<%# else %>
							<%# @finalfrexammark = total_marks %>
						<%# end %>
						<!---->
		
		
						<td style="padding-left:4px;padding-right:4px;text-align:center;">
							<!--retrieve FINAL EXAM(WRITTEN PAPER) marks from exammarks & marks table-->
							<% if @grade %>	
								<% unless @grade.id.nil? || @grade.id.blank? %>
									<% @final_from_exammarks = Grade.retrieve_final_exam_from_exammark(@examid, student.id) %>
								<% else %>
									<% @final_from_exammarks = 0 %>
								<% end %>
							<% else %>
								<% @final_from_exammarks = 0 %>	
							<% end %>
							<%= text_field "grades[#{index}]",:exam1marks, :value=> number_with_precision(@final_from_exammarks,:precision=>2), :size=>4 %>
							<!--below-BACKUP IN CASE-23June2013-->	
							<%#= text_field "grades[#{index}]",:exam1marks, :value=> 0, :size=>4 %>
							<!--above-BACKUP IN CASE-23June2013-->																
							<%#= text_field "grades[#{index}]",:exam1marks, :value=> @finalfrexammark, :size=>4 %>
						
						</td>
						<td style="padding-left:4px;padding-right:4px;text-align:center;">
							<% if @grade %>	
								<% unless @grade.id.nil? || @grade.id.blank? %>
									<% @summative = @final_from_exammarks/Exammark.fullmarks(@examid)*70 %>
								<% else %>
									<% @summative = 0 %>
								<% end %>	
							<% else %>
								<% @summative = 0 %>
							<% end %>
							<%= text_field "grades[#{index}]",:summative, :value=> number_with_precision(@summative,:precision=>2), :size=>4 %>
							<%#= text_field "grades[#{index}]",:summative, :value=> 0, :size=>4 %>
						
						</td>
						<td style="padding-left:4px;padding-right:4px;text-align:center;"><%= text_field "grades[#{index}]",:finalscore, :value=> 0, :size=>4 %></td>
					</tr>
					
				<% end %> <!--end for - @students2.sort_by{|x|x.name}-->
		
			</table>


		<!--11JUNE2013--><!--11June2013-check for student, if exammark exist for selected exampaper(subject) and students-->
		<% else %>
			<%=t('grade.selected_intake_no_exammark')%>
		<% end %><!--end for - if @curr_exammark -->
		<!--11JUNE2013--><!--11June2013-check for student, if exammark exist for selected exampaper(subject) and students-->



	
	<% end %><!--end for if @grade_exist_subject_student && @g-->



<!--revised on 24th Sept 2012-->
<% else %>
	<%=t('grade.select_an_intake')%>
<% end %><!--end for if @students -->
<!--revised on 24th Sept 2012-->