<%# if @examid && @iii && @programmeid %>
<% if @subjectid && @iii && @programmeid %>
	<%# @exam_id = @examid%>
	<% @subject_id = @subjectid%>
	<% @programme_id = @programmeid%>
	<% unless @aa.nil? %> 
		<% @intake_id = @iii %>
		<% unless @subject_id.blank? || @subject_id.nil? %>
			<%# @examquestions = Exam.find(@exam_id).examquestions %>
    		<% @students = Student.find(:all, :conditions=>['course_id=? and intake=?',@programme_id,@intake_id.to_s]) %>
			<%# @exammark_exist_for_exam=Exammark.find(:all, :conditions => ['exam_id=?',@exam_id]).count%><!--2June2013-->
			<%# @exammark_exist_for_exam=Exammark.find(:all, :conditions => ['exam_id=? AND student_id IN(?)',@exam_id, @students.map(&:id)]).count %><!--2June2013-->

			<% @grade_exist_subject_student=Grade.find(:all, :conditions => ['subject_id=? AND student_id IN(?)',@subject_id, @students.map(&:id)]).count %>
			<%# @exammark_exist_for_exam=Exammark.find(:all, :conditions => ['exam_id=? AND student_id IN(?)',@exam_id, @students.map(&:id)]).count %><!--2June2013-->
		<% end %>
	<% end %>
<% end %>


<%# if @examquestions && @students %>
<% if @students %>

<!--2June2013--><% if @grade_exist_subject_student && @grade_exist_subject_student > 0 %>
					<!--Examination Marks for the <b>above</b> selected paper & current students&nbsp;(Tahun&nbsp;<%#=Exam.find(@exam_id).set_year%>,&nbsp;Semester&nbsp;<%#=Exam.find(@exam_id).set_semester%>) already exist. Please edit records accordingly or select other intakes.-->
					Grades for the <b>above</b> selected subject & current students&nbsp;(Tahun&nbsp;<%=Programme.find(@subject_id).set_year%>,&nbsp;Semester&nbsp;<%=Programme.find(@subject_id).set_semester%>) already exist. Please edit records accordingly or select other intakes.
					
<!--2June2013--><% else %>


<br>
&nbsp;<b>Intake : </b><%=@intake_id %><%#=@exam_id %>
&nbsp;<b>Total students : </b><%= @students.count %><%#= @examquestions%>

<div class="right" style="text-align:right;">
&nbsp;&nbsp;<font size=-2 color=blue> <b>Total Formative</b> = Sum of scores, <b>CA+MSE</b> = Total Formative*(100-summative weightage)/100
	<br><b>Total Summative</b> = (Final Exam * summative weightage) / 100, <b>Total Marks</b> = CA+MSE + Total Summative</font>
</div>
<!--FINALE = ((exam1marks * examweight)/100) + ((total_formative * (100 - examweight)/100))-->
<!--FINALE = TOTAL SUMMATIVE + CA+MSE-->

<table border=1 cellspacing=0 cellpadding=0 width=100%>
	<tr>
		<th rowspan=2 width=6px>No</th>
		<th rowspan=2 width=230px>Name</th>
		<th rowspan=2 width=130px>Matric No</th>
		<th rowspan=2>MyKad No</th>
		<!--<th colspan=4>--><th rowspan=2 width=60px><!--MCQ-->Total Formative </th>
		<th rowspan=2>CA+MSE</th>
		<!--<th rowspan=2 width=75px>Summative Weightage</th>-->
		<th rowspan=2>Final Exam</th>
		<th rowspan=2 width=60px>Total Summative</th>
		<th rowspan=2>Total Marks</th>
		
	</tr>
	<tr><!--<td width='3px'>1</td><td>2</td><td>3</td><td>4</td>-->&nbsp;</tr>
	<% @students.sort_by{|x|x.name}.each_with_index do |student, index| %>
		
		<!--revised 24th Sept 2012-->	
		<%#= hidden_field "exammarks[#{index}]",:student_id,  :value=> student.id %>
		<%= hidden_field "grades[#{index}]",:student_id,  :value=> student.id %>
		<%#= hidden_field "exammarks[#{index}]",:exam_id, :value=> @exam_id %>
		<%= hidden_field "grades[#{index}]",:subject_id, :value=> @subject_id %>
		<!--revised 24th Sept 2012-->
		
		<!--testing 3rd Oct 2012-4Liza-continue fr-last shared 18 Sept,not yet send 24 Sept & 3rd Oct(incomplete yet)-->
			
			<%## @subject => subject id & student.id => student id &  @exammaker_id => exammaker id%>
			
			<%# @exammark_exist = Exammark.find(:all, :conditions => ['exam_id=? and student_id=?', @exam_id, student.id]) %>
			<% @grade_exist = Grade.find(:all, :conditions => ['subject_id=? and student_id=?', @subject_id, student.id]) %>
			<%# @marks_exist = [] %>
			<% @scores_exist = [] %>
			<%# @exammark_exist.each do |exammark_exist| %>
			<% @grade_exist.each do |grade_exist| %>
				<%# exammark_exist.marks.each do |mark_exist| %>
				<% grade_exist.scores.each do |score_exist| %>
					<%# @marks_exist << mark_exist.student_mark %>
					<% @scores_exist << score_exist.marks %>
				<% end %>
				<!--<br>-->
			<% end %>

		<!--testing 3rd Oct 2012-->
		
	<tr>
		<td style="padding:0px 3px 0px 2px;text-align:right;"><%=index+1%></td>
		<td style="padding-left:4px;padding-right:4px;"><%= student.name %></td>
		<td style="padding-left:4px;padding-right:4px;"><%= student.matrixno %></td>
		<td style="padding-left:4px;padding-right:4px;"><%= student.icno %></td>
		<!--3June2013-<td colspan=4> this part for total formative-->
		<td style="padding-left:4px;padding-right:4px;text-align:center;"><%= text_field "grades[#{index}]",:formative, :value=> 0, :size=>4 %></td>
		<!--use column score for CA+MSE-->
		<td style="padding-left:4px;padding-right:4px;text-align:center;"><%= text_field "grades[#{index}]",:score, :value=> 0, :size=>4 %>
			<%##= text_field "exammarks[#{index}][marks_attributes][0]",:student_mark , :size=>4  %>
				<%#= text_field "exammarks[#{index}]",:total_mcq, :size=>4, :value=>@totalmcq  %>
				<%# 0.upto(@examquestions.mcqq.count-1) do |counter|%>
					<!--dd--><%#= hidden_field "exammarks[#{index}][marks_attributes][#{counter}]",:student_mark , :size=>4,:value=>0  %> 
				<%# end %>
		</td>
		<%# end %>
		<!---->
				

		
		<!--<td style="padding-left:4px;padding-right:4px;text-align:center;">SUMMATIVE WEIGHTAGE-->
			<%#= select_tag "grades[#{index}][examweight]","<option value='0'>Select</option>"+options_for_select(Grade::WEIGHTAGE) %>	
		
					<!--this part for EDIT-->
					<!--@@--><%#= text_field "exammarks[#{index}][marks_attributes][#{@index2}]",:student_mark , :size=>4,:value=>@marks_exist[@index2]   %> 
					<!--@@--><%#= text_field "grades[#{index}][scores_attributes][#{index}]",:marks , :size=>4,:value=>@grades_exist[index]   %> 
					<!--this part for EDIT-->
					<%# end %>
				<!--testing on 3rd Oct 2012-->
				
				<!--this part for NEW-->
				<%#= text_field "exammarks[#{index}][marks_attributes][#{@index2}]",:mark , :size=>4,:value=>@val_mark   %> 
				<!--this part for NEW-->
		<!--</td>SUMMATIVE WEIGHTAGE-->
	
		<!---->
		<td style="padding-left:4px;padding-right:4px;text-align:center;"><%= text_field "grades[#{index}]",:exam1marks, :value=> 0, :size=>4 %>
		<td style="padding-left:4px;padding-right:4px;text-align:center;"><%= text_field "grades[#{index}]",:summative, :value=> 0, :size=>4 %></td>
		<td style="padding-left:4px;padding-right:4px;text-align:center;"><%= text_field "grades[#{index}]",:finalscore, :value=> 0, :size=>4 %></td>
	</tr>
	<% end %>
		
</table>


	
	<% end %><!--2June2013-end for if @exammark_exist_for_exam==0-->
	

<!--revised on 24th Sept 2012-->
<% else %>
	Please select an intake.
<% end %>
<!--revised on 24th Sept 2012-->