<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<% if @edit_type == (t 'edit_checked') %>
			<h2 class="left"><%=t('grade.edit_multiple')%></h2>
		<%# elsif @edit_type == "Edit by Subject" %>
			<!--<h2 class="left">Edit Multiple Exam Mark By Examination - <%#=@subject_name%></h2>-->
		<% end %>
	</div>
</div>

<div class="right" style="text-align:right;">
&nbsp;&nbsp;<font size=-2 color=blue> <b><%=t('grade.total_formative')%></b> = <%=t('grade.sum_of_scores')%>(%), <b>CA+MSE</b> = <%=t('grade.total_formative')%>*(100-<%=t('grade.summative_weightage')%>)/100
	<br><b><%=t('grade.total_summative')%></b> = (<%=t('grade.final_exam')%> * <%=t('grade.summative_weightage')%>) / 100, <b><%=t('grade.total_marks')%></b> = CA+MSE + <%=t('grade.total_summative')%></font>
</div>
<br>

<div class="tlist">
<% form_for :grade, :url => update_multiple_grades_path, :html => {:method => :put} do |f| %>
	
	<% @subjects_of_grades = @grades.map(&:subject_id).uniq.count %><!--check if subject for all selected grades are same-->
	<% if @subjects_of_grades==1 %>
		&nbsp;<span style="text-decoration:underline;font-weight:bold;"><%=t('grade.subject_id')%> : <%=@grades[0].subjectgrade.subject_list%></span><br><br>
	<% end %>
	
	
	
<%#====================================%>
<% if @subjects_of_grades==1 %><!--if same subject were selected(1 grade or multiple grades with 1 subject only)-->
	<!--find uniq examweight(summative weightage)-->
	<% @sum_weight = @grades.map(&:examweight).uniq.count %>
	<!--compare scores(formative) & for each student grade-->
	<% if @grades.count >= 1 %><!--equal to 1 required for single record using multiple update-->
		<% @grade_score_type_comp = [] %>
		<% @grade_score_desc_comp = [] %>
		<% @grade_score_weight_comp = [] %>
		<% @grade_sum_weight_comp = []%>
		<% @grade_score_type_diff = [] %>
		<% @grade_score_desc_diff = [] %>
		<% @grade_score_weight_diff = [] %>
		<% @grades.sort_by{|x|x.studentgrade.name}.each_with_index do |grade, no| %>
			<% if no == 0%>
				<!---->
				<% @score_for_legend_1 = Score.find(:all,:conditions=>['grade_id=?',grade.id])%>
				<% @score_for_legend_sort_1 = @score_for_legend_1.sort_by{|x|x.created_at} %>
				<!---->
				<% @a_type = @score_for_legend_sort_1.map(&:type_id) %>
				<%# @a_type = grade.scores.map(&:type_id) %><%# @a_type = grade.scores.map(&:type_id).uniq %>
				<% @a_desc = @score_for_legend_sort_1.map(&:description).uniq  %><%# @a_desc = grade.scores.map(&:description).uniq %>
				<%# @a_desc = grade.scores.map(&:description).uniq  %>
				<% @a_weight = @score_for_legend_sort_1.map(&:weightage) %><%# @a_weight = grade.scores.map(&:weightage).uniq %>
				<%# @a_weight = grade.scores.map(&:weightage) %>
				<% @a_sum_weight = grade.examweight %>
			<% else %>
				<%# @b_type = grade.scores.map(&:type_id) %><%# @b_type = grade.scores.map(&:type_id).uniq %>
				<% @b_type = @score_for_legend_sort_1.map(&:type_id) %>
				<%# @b_desc = grade.scores.map(&:description).uniq %>
				<% @b_desc = @score_for_legend_sort_1.map(&:description).uniq %>
				<%# @b_weight = grade.scores.map(&:weightage) %><%# @b_weight = grade.scores.map(&:weightage).uniq %>		
				<% @b_weight = @score_for_legend_sort_1.map(&:weightage) %>
				<% @b_sum_weight = grade.examweight %>		
				<!--score type:--><%  @grade_score_type_comp << (@a_type == @b_type) %>
				<!--score description:--><% @grade_score_desc_comp << (@a_desc == @b_desc) %>
				<!--score weight:--><% @grade_score_weight_comp << (@a_weight == @b_weight) %><!--<br>-->
				<!--examweight(summative weightage)--><% @grade_sum_weight_comp << (@a_sum_weight == @b_sum_weight) %>
			<% end %>
		<% end %>

	<% end %><!--removes when no more checking required-7June2013
	@grade_score_type_comp = <%#=@grade_score_type_comp%>|<%#=@grade_score_type_comp.include?(true)%><br>
	@grade_score_desc_comp = <%#=@grade_score_desc_comp%>|<%#=@grade_score_desc_comp.include?(true)%><br>
	@grade_score_weight_comp = <%#=@grade_score_weight_comp%>|<%#=@grade_score_weight_comp.include?(true)%>-->
	
	<fieldset style="width:530px;">
	
		<!--note: VAR:grade_summative_weightage, DIV:grade_weightage_multiple NOT grades_0_summative_weightage-->
		<% @intake_val = @grades[0].studentgrade.intake.to_s %>
		<% @programmeid = @grades[0].studentgrade.course_id %>
		<% @modify = "yes" %>
		
		<!--&nbsp;<b>Subject : <%#=@grades[0].subjectgrade.subject_list%></b><br>-->
		&nbsp;<b><%=(t 'grade.summative_weightage').titleize%> :</b> 
		

		<%= f.select :summative_weightage, Grade::WEIGHTAGE, {:selected=> @grades[0].examweight}, :onchange => remote_function(:update => form_tag_id(f.object_name, :weightage_multiple), :url => {:action=>'update_summative_weightage'}, :with => "'weightage='+$('"+"grade_summative_weightage"+"').value+'&intakeid='+'#{@intake_val}'+'&programmeid='+'#{@programmeid}'+'&modify='+'#{@modify}' ") %>
		<!--note: VAR:grade_summative_weightage, DIV:grade_weightage_multiple NOT grades_0_summative_weightage-->
		
		<% if @sum_weight>1 %><span style="color:red;">*</span><% end %>
				
		<br>&nbsp;<b><%=t('grade.formative_scores')%> :</b><br>
		<table cellpadding=0 cellspacing=0>
			<!--Please note : use this : scores_attributes[#{score_count}][type_id] INSTEAD OF this:scores_attributes[#{score_count}][type_id][]-->
			<tr>
				<th><%=t('grade.score_type')%>&nbsp;<% if @grade_score_type_comp.include?(false)%><span style="color:red;">*</span><% end %></th>
				<th><%=t('grade.description')%>&nbsp;<% if @grade_score_desc_comp.include?(false)%><span style="color:red;">*</span><% end %></th>
				<th><%=t('grade.weightage')%>&nbsp;<% if @grade_score_weight_comp.include?(false)%><span style="color:red;">*</span><% end %></th>
				<% if @grade_score_type_comp.include?(false) || @grade_score_desc_comp.include?(false) || @grade_score_weight_comp.include?(false) %>   
					<th><%=t('grade.differences')%></th>
				<% end %>	
			</tr>
			<!--<tr><td rowspan=7>gg</td></tr>-->
			
			<%# 0.upto(@grades[0].scores.count-1) do |score_count|%>
			<%#@grades[0].scores.sort_by{|x|x.created_at}.each_with_index do |value,score_count| %>
		    
			<% @score_for_legend = Score.find(:all,:conditions=>['grade_id=?',@grades[0].id])%>
			<% @score_for_legend_sort = @score_for_legend.sort_by{|x|x.created_at} %>
			<% @score_for_legend_sort.each_with_index do |score_x,score_count| %>
			<tr>
				
				<td style="padding:0px;">
					<%#=select_tag "scores_attributes[#{score_count}][type_id]", options_for_select(Score::E_TYPES,@grades[0].scores[score_count].type_id.to_i)%>
					<%=select_tag "scores_attributes[#{score_count}][type_id]", options_for_select(Score::E_TYPES,score_x.type_id)%>	
				</td>
				<td style="padding:0px;">
					<%= text_field_tag "scores_attributes[#{score_count}][description]",score_x.description, :size=> 15 %>	
					<%#= text_field_tag "scores_attributes[#{score_count}][description]", @grades[0].scores[score_count].description, :size=> 15 %>				
				</td>
				<td style="padding:0px;">
					<%#=select_tag "scores_attributes[#{score_count}][weightage]", options_for_select(Grade::WEIGHTAGE,@grades[0].scores[score_count].weightage.to_i)%>
					<%=select_tag "scores_attributes[#{score_count}][weightage]", options_for_select(Grade::WEIGHTAGE,score_x.weightage)%>
				</td>	
				<% if (@grade_score_type_comp.include?(false) || @grade_score_desc_comp.include?(false) ||  @grade_score_weight_comp.include?(false) || @sum_weight>1) && score_count==0%>
					<td rowspan=6>
						<!--start-display differences for summative weightage (examweight)-->
						<span style="color:red;">
						<% @grade_sum_weight_comp.each_with_index do |x,y| %>
							<% if y==0 && @grade_sum_weight_comp.include?(false)%>
								<span style="text-decoration:underline;font-weight:bold;"><%=(t 'grade.summative_weightage').titleize %></span><br>
							<% end %>
							<% if x==false %>
								<%=y+2%>&nbsp;
								<%if (@grades[y+1].examweight <=> @grades[0].examweight) == -1 %>
										<% if @grades[y+1].examweight != @grades[0].examweight %>
											<%=h @grades[y+1].examweight%>
											(other records:<%=h @grades[0].examweight %>) 
										<% end %>
								<% elsif (@grades[y+1].examweight <=> @grades[0].examweight) == 1 %>
										<% if @grades[0].examweight != @grades[y+1].examweight %>
											<%=h @grades[0].examweight %>
											(other records:<%=h @grades[y+1].examweight%>) 
										<% end %>
								<% else%>
								<% end %>	
							<% end %>
							<% if (x==false)&&(y < @grades.count-1) %><br>
							<% end%>
						<% end %>
						</span>
						<!--end-display differences for summative weightage (examweight)-->
						<!--start-display differences for score type-->
						<span style="color:red;">
						<% @grade_score_type_comp.each_with_index do |x,y| %>
							<% if y==0 && @grade_score_type_comp.include?(false)%>
								<span style="text-decoration:underline;font-weight:bold;"><%=t('grade.score_type')%></span><br>
							<% end %>
							<% if x==false %>
								<%=y+2%>&nbsp;
								<%if (@grades[y+1].scores.map(&:type_id) <=> @score_for_legend_sort.map(&:type_id)) == -1 %>
								<%#if (@grades[y+1].scores.map(&:type_id) <=> @grades[0].scores.map(&:type_id)) == -1 %>
									<% @diff_type = @score_for_legend_sort.map(&:type_id) - @grades[y+1].scores.map(&:type_id) %>
									<%# @diff_type = @grades[0].scores.map(&:type_id) - @grades[y+1].scores.map(&:type_id) %>
									<% @grades[y+1].scores.each_with_index do |r,s|%>
										<%# if r.type_id != @grades[0].scores[s].type_id %><%#$$$$$$$$$$$$$$$%>
										<% if r.type_id != score_x.type_id %>
											<%=h (Score::E_TYPES.find_all{|disp, value| value == r.type_id}).map {|disp, value| disp} %>
											(other records:<%=h (Score::E_TYPES.find_all{|disp, value| value == @diff_type[0].to_i}).map {|disp, value| disp} %>) - item <%=s+1%>
										<% end %>
									<% end %>
								<% elsif (@grades[y+1].scores.map(&:type_id) <=> @score_for_legend_sort.map(&:type_id)) == 1 %>
								<%# elsif (@grades[y+1].scores.map(&:type_id) <=> @grades[0].scores.map(&:type_id)) == 1 %>
									<% @diff_type = @grades[y+1].scores.map(&:type_id) - @score_for_legend_sort.map(&:type_id)%>
									<%# @diff_type = @grades[y+1].scores.map(&:type_id) - @grades[0].scores.map(&:type_id)%>
									
									<%# @grades[0].scores.each_with_index do |r,s|%>
									<% @score_for_legend_sort.each_with_index do |r,s|%>			<%#******$$$$$$$$$$$$$$$%>
										<% if r.type_id != @grades[y+1].scores[s].type_id %>
											<%=h (Score::E_TYPES.find_all{|disp, value| value == @diff_type[0].to_i}).map {|disp, value| disp} %>
											(other records:<%=h (Score::E_TYPES.find_all{|disp, value| value == r.type_id}).map {|disp, value| disp} %>) - item <%=s+1%>
										<% end %>
									<% end %>
								<% else%>
								<% end %>
								
								<%#=h (Score::E_TYPES.find_all{|disp, value| value == @diff_type[0].to_i}).map {|disp, value| disp} %>			
							<% end %>
							<% if (x==false)&&(y < @grades.count-1) %><br>
							<% end%>
						<% end %>
						</span>
						<!--end-display differences for score type-->
						<!--start-display differences for description-->
						<span style="color:red;">
						<% @grade_score_desc_comp.each_with_index do |x,y| %>
							<% if y==0 && @grade_score_desc_comp.include?(false) %>
								<span style="text-decoration:underline;font-weight:bold;"><%=t('grade.description')%></span><br>
							<% end %>
							<% if x==false %>
								<%=y+2%>&nbsp;
								<%#= @grades[y+1].scores.map(&:description).uniq - @grades[0].scores.map(&:description).uniq%>
								<%= @grades[y+1].scores.map(&:description).uniq - @score_for_legend_sort.map(&:description).uniq%>	
							<% end %>
							<% if (x==false)&&(y < @grades.count-1) %><br>
							<% end%>
						<% end %>
						</span>
						<!--end-display differences for description-->
						<!--start-display differences for weightage-->
						
						<!--START-ASAL-->
						<!--<span style="color:red;">
						<%# @grade_score_weight_comp.each_with_index do |x,y| %>
							<%# if y==0 && @grade_score_weight_comp.include?(false) %>
								<span style="text-decoration:underline;font-weight:bold;">Weightage</span><br>
							<%# end %>
							<%# if x==false %>
								<%#=y+2%>&nbsp;
								<%##= @grades[y+1].scores.map(&:weightage).uniq - @grades[0].scores.map(&:weightage).uniq%>	
								<%#= @grades[y+1].scores.map(&:weightage) - @grades[0].scores.map(&:weightage)%>	
							<%# end %>
							<%# if (x==false)&&(y < @grades.count-1) %><br>
							<%# end%>
						<%# end %>-->
						<!--END-ASAL-->
						<span style="color:red;">
						<% @grade_score_weight_comp.each_with_index do |x,y| %>
							<% if y==0 && @grade_score_weight_comp.include?(false)%>
								<span style="text-decoration:underline;font-weight:bold;"><%=t('grade.weightage')%></span><br>
							<% end %>
							<% if x==false %>
								<%=y+2%>&nbsp;										
								<%if (@grades[y+1].scores.map(&:weightage) <=> @score_for_legend_sort.map(&:weightage)) == -1 %>
								<%#if (@grades[y+1].scores.map(&:weightage) <=> @grades[0].scores.map(&:weightage)) == -1 %>
									<% @diff_type = @score_for_legend_sort.map(&:weightage) - @grades[y+1].scores.map(&:weightage) %>
									<%# @diff_type = @grades[0].scores.map(&:weightage) - @grades[y+1].scores.map(&:weightage) %>
									<% @grades[y+1].scores.each_with_index do |r,s|%>
										<%# if r.weightage != @grades[0].scores[s].weightage %><%#$$$$$$$$$$$$$$$%>
										<% if r.weightage != score_x.weightage %>
											<%=h (Score::E_TYPES.find_all{|disp, value| value == r.weightage}).map {|disp, value| disp} %>
											(other records:<%=h (Score::E_TYPES.find_all{|disp, value| value == @diff_type[0].to_i}).map {|disp, value| disp} %>) - item <%=s+1%>
										<% end %>
									<% end %>										<%#$$$$$$$$$$$$$$$***********%>
								<% elsif (@grades[y+1].scores.map(&:weightage) <=> @score_for_legend_sort.map(&:weightage)) == 1 %>
								<%# elsif (@grades[y+1].scores.map(&:weightage) <=> @grades[0].scores.map(&:weightage)) == 1 %>
									<% @diff_type = @grades[y+1].scores.map(&:weightage) - @score_for_legend_sort.map(&:weightage)%>
									<%# @diff_type = @grades[y+1].scores.map(&:weightage) - @grades[0].scores.map(&:weightage)%>
									<% @score_for_legend_sort.each_with_index do |r,s|%>
									<%# @grades[0].scores.each_with_index do |r,s|%>
										<% if r.weightage != @grades[y+1].scores[s].weightage %>
											<%=@diff_type[0]%>%
											(other records:<%=r.weightage%>%) - item <%=s+1%>
										<% end %>
									<% end %>
								<% else%>
								<% end %>
								
								<%#=h (Score::E_TYPES.find_all{|disp, value| value == @diff_type[0].to_i}).map {|disp, value| disp} %>			
							<% end %>
							<% if (x==false)&&(y < @grades.count-1) %><br>
							<% end%>
						<% end %>
						</span>
						<!--end-display differences for weightage-->
					</td>
				<% end %>
			</tr>
			
			<% end %>
			
			<!--9June2013-pm-TRIAL & ERROR SECTION-->
			<!--REFER librarytransactions/check_availability.html.erb & form_try.html.erb-->
			<tr><td colspan=4>
				<%# count = 0 %><% count = @grades[0].scores.count %>
				<div id="barunyediv">
				<%@current_subject = @grades[0].subjectgrade.id %>
				<%= link_to_remote image_tag("add.png", :border => 0, :title => (t 'addmore')), :url => {:action => 'form_try', :index => count,:subject=>@current_subject}, :update => 'barunyediv' %> - <%=t('addmore')%>
				<%#= link_to_remote image_tag("add.png", :border => 0, :title => (t 'addmore')), :url => {:action => 'form_try', :index => count,:student=>@studentsearch, :staff=>@staffsearch, :rustaff=>@rustaff, :quota_bal=>@quota_bal }, :update => 'barunyediv' %>
				</div>
				
				</td></tr>
		
			<!--9June2013-pm-TRIAL & ERROR SECTION-->
			
			
			<!--Please note : use this : scores_attributes[#{score_count}][type_id] INSTEAD OF this:scores_attributes[#{score_count}][type_id][]-->	
		</table>
		<!--<br>-->
		<% if (@grade_score_type_comp.include?(false) || @grade_score_desc_comp.include?(false) || @grade_score_weight_comp.include?(false)) %>
			<div align=right><span style="color:red;">*</span><font size=-2>&nbsp; <%=t('grade.indicate_different_values')%> <b><%=(t 'grade.summative_weightage').titleize %></b> <%=t('or')%> <b><%=t('grade.formative_score_items')%></b> <%=t('grade.of_each_grade')%> <span style="color:red;"><%=t('grade.separately')%></span> <%=t('grade.modify_changes')%> <b><%=t('grade.standardize')%></b> <%=t('grade.summative_and_or_formative')%> <b><%=@grades[0].subjectgrade.code%></b>.</font></div>
		<% end %><br>
		<div align=left%><%= submit_tag (t 'apply_changes'), :name =>:applychange %></div>
		
	</fieldset>
	
	<SPAN style="text-decoration:underline;"><%=t('grade.confirm_modify_changes')%> <b><%=(t 'grade.summative_weightage').titleize%></b> <%=t('and')%> <b><%=t('grade.formative_scores')%></b> <%=t('grade.before_data_entry')%></span><br><br>
	
<% else %>
	<fieldset style="width:300px;">
		<%=t('grade.student_grades_of')%> <b><%=t('grade.different')%></b> <%=t('grade.subject_modification')%>
	</fieldset>
<% end %>
<%#====================================%>
	
	<table cellspacing=0 cellpadding=0>
		<tr>
			<th>No</th>
			<th><%=t('grade.student_id')%></th>
			<th><%=t('student.icno')%></th>
			<% if @subjects_of_grades > 1 %><!--if subject for selected grades is different-->
				<th><%=t('grade.subject_id')%></th>
			<% end %>
			<% if @subjects_of_grades > 1 %>
			<% else %>
				<% @score_for_legend_sort.each do |score_x|%><!--1st item-->
				<%# 0.upto(@grades[0].scores.count-1) do |score_count|%>
					<th style="text-align:center;background-color:#EFE;">
						<font size=-2>
						<%=h (Score::E_TYPES.find_all{|disp, value| value == score_x.type_id}).map {|disp, value| disp} %><br>
						<%#=h (Score::E_TYPES.find_all{|disp, value| value == @grades[0].scores[score_count].type_id.to_i}).map {|disp, value| disp} %>
						(<%=h score_x.weightage.to_i %>%)<!--15June2013 HIDE this - instead display..this-->
						<!--23June2013 (in %)-->
						</font>
					</th>
				<% end %>
			<% end %>
			<!--15th June 2013 - hide this column, refer grade.rb, line 36-38 - total-up value of scores(other than mcq) in scores table, no need to display...
			<th style="background-color:#E5ECE5;text-align:center;">Total Formative</th>
			-->
			<!--#D7EFD7-->
			<th style="background-color:#E5ECE5;text-align:center;">CA+MSE</th><!--#C3E9BF-->
			<% if @subjects_of_grades > 1 %><!--if subject for selected grades is different-->
				<th style="background-color:#EEF9F9;text-align:center;"><%=(t 'grade.summative_weightage').titleize %></th>
			<% end %>
			<th style="background-color:#FEE;text-align:center;">
				<%=t('grade.final_exam')%><br><font size=-2>(<%=t('grade.written_paper')%>)</font></th>
			<th style="background-color:#FEE;text-align:center;"><%=t('grade.total_summative')%></th>
			<th style="background-color:#EEF;text-align:center;"><%=t('grade.total_marks')%></th>
			<th>BPL</th>
			<th><%=t('exammark.exam_id.')%>?</th>
			<th><%=t('grade.carry_paper')%></th>
			<th><%=t('grade.resit')%></th>
			<!--
			<th>Total MCQ</th>
				<%# @examid = @exammarks[0].exam_id %>
				<%# @mcqcount = Examquestion.find(:all, :joins=> :exams, :conditions=>['questiontype=? and exam_id=?',"MCQ", @examid ]).count %>
				<%# @meqcount = Examquestion.find(:all, :joins=> :exams, :conditions=>['questiontype=? and exam_id=?',"MEQ", @examid ]).count %>
				<%# @seqcount = Examquestion.find(:all, :joins=> :exams, :conditions=>['questiontype=? and exam_id=?',"SEQ", @examid ]).count %>
				<%# @acqcount = Examquestion.find(:all, :joins=> :exams, :conditions=>['questiontype=? and exam_id=?',"ACQ", @examid ]).count %>
			<%# 1.upto(@mcqcount) do |count|%>
				<th>MCQ-Q <%#=count%></th>
			<%# end %>
			<%# 1.upto(@meqcount) do |count|%>
				<th>MEQ-Q <%#=count%></th>
			<%# end %>
			<%# 1.upto(@seqcount) do |count|%>
				<th>SEQ-Q <%#=count%></th>
			<%# end %>
			<%# 1.upto(@acqcount) do |count| %>
				<th>ACQ-Q <%#=count%></th>
			<%# end %>-->

		</tr>
		<%# for exammark in @exammarks %>
		<%# @exammarks.sort_by{|x|x.studentmark.name}.each do |exammark| %>
		<% @grades.sort_by{|x|x.studentgrade.name}.each_with_index do |grade, no| %>
		
			<!--note: DIV:grade_weightage_multiple NOT grades_0_weightage_multiple-refer grades/_update_weightage.html.erb-->
			<%= tag("div", :id => form_tag_id(f.object_name, :weightage_multiple)) %></div>
			<!--note: DIV:grade_weightage_multiple NOT grades_0_weightage_multiple-refer grades/_update_weightage.html.erb-->

			<%= hidden_field_tag "grade_ids[]", grade.id %><%#result ==> "grade_ids"=>["4","3","2","1"]  == grade_ids[]  %>

			
			<tr>
				<td><%=no+1%></td>
				<td><%#=exammark.id%><%=h grade.studentgrade.matrix_name %></td>
				<td><%=h grade.studentgrade.icno %></td>
<% if @edit_type == "Edit Checked" || @edit_type.nil? %>	
	
<%# elsif @edit_type == "Edit by Subject" %>
	<%##= hidden_field_tag "subject_ids[]", @subject_id %>
	<%#= hidden_field_tag "exam_ids[]", @exam_id %>
<% end %>		
				<% if @subjects_of_grades > 1 %><!--if subject for selected grades is different-->
					<td><b><%=h grade.subjectgrade.subject_list %></b></td>
				<% end %>
				<% if @subjects_of_grades > 1 %>
				<% else %>
					<%# 0.upto(grade.scores.count-1) do |score_count|%><!--@score_for_legend_sort-->
					<!---->
					<% @score_for_legend_1 = Score.find(:all,:conditions=>['grade_id=?',grade.id])%>
					<% @score_for_legend_sort_1 = @score_for_legend_1.sort_by{|x|x.created_at} %>
					<!---->
					<% @score_for_legend_sort_1.each_with_index do |score_1, score_count|%>
					<%# 0.upto(grade.scores.count-1) do |score_count|%>
						<td style="text-align:center;background-color:#EDFDEB;">
							<%##=h grade.scores[score_count].marks%>
							<%= text_field_tag "scores_attributes[#{score_count}][marks][]", sprintf('%.2f', score_1.marks), :size=> 4,:class=>'i1',:id=>"score_"+"#{no}"+"_"+score_count.to_s %>
							<%#= text_field_tag "scores_attributes[#{score_count}][marks][]", grade.scores[score_count].marks, :size=> 4,:class=>'i1',:id=>"score_"+"#{no}"+"_"+score_count.to_s %>
							<%= hidden_field_tag "formweight", score_1.weightage, :id=>"formweight_"+"#{no}"+"_"+score_count.to_s,:size=>2,:class=>'i1' %>
							<%#= hidden_field_tag "formweight", grade.scores[score_count].weightage, :id=>"formweight_"+"#{no}"+"_"+score_count.to_s,:size=>2,:class=>'i1' %>
							<%##= grade.scores[score_count].id %>
						</td>
					<% end %>
				<% end %>
				
				<!--15June2013-hide this line from display...but value still there...just hide field or JS will not work!
				<td style="text-align:center;background-color:#E5ECE5;">
					<%##= hidden_field_tag "total_mcqs[]", exammark.total_mcq, :size=> 4 %><%#=exammark.total_mcq%>
					<%##= text_field_tag "marks_attributes[#{index}][student_marks][]", aa.student_mark, :size=> 4 %>
					<%##= text_field "grades[#{index}]",:subject_id, :value=> @subject_id %>-->
					<%#= hidden_field_tag "formatives[]", sprintf('%.2f', grade.formative), :size=> 4,:id=>"totalformative"+no.to_s,:class=>'j1'  %><%#= hidden_field_tag "formatives[]", number_with_precision(grade.formative,:precision=>2), :size=> 4,:id=>"totalformative"+no.to_s,:class=>'j1'  %>
					<%= hidden_field_tag "formatives[]", grade.formative, :size=> 4,:id=>"totalformative"+no.to_s,:class=>'j1'  %><%##=exammark.total_mcq%>
				<!--</td>-->
				
				<!--23June2013-no changes here but pls refer js part-->
				<td style="background-color:#E5ECE5;text-align:center;"><%= text_field_tag "scores[]", sprintf('%.2f', grade.score), :size=> 4,:id=>"caplusmse"+no.to_s %></td>
				<!--23June2013-->
				
				<% if @subjects_of_grades > 1 %><!--if subject for selected grades is different-->
					<td style="background-color:#EEF9F9;text-align:center;">
						<%= text_field_tag "examweights[]", sprintf('%.2f', grade.examweight), :size=> 4, :id=>"examweight"+no.to_s %>
					</td>
				<% else %>
						<%= hidden_field_tag "examweights[]", sprintf('%.2f', grade.examweight), :id=>"examweight"+no.to_s %>
				<% end %>
				<td style="background-color:#FEE;text-align:center;"><%= text_field_tag "exam1markss[]", sprintf('%.2f', grade.exam1marks), :size=> 4,:id=>"finalexam"+no.to_s,:class=>'k1' %></th>
				<td style="background-color:#FEE;text-align:center;">
					<% if grade.summative.nil? %>
						<%= text_field_tag "summatives[]", grade.summative, :size=> 4,:id=>"summative"+no.to_s %>
					<% else %>
						<%= text_field_tag "summatives[]", sprintf('%.2f', grade.summative), :size=> 4,:id=>"summative"+no.to_s %>
					<% end %>
				</td>
				<td style="background-color:#EEF;text-align:center;">
					<% if grade.finalscore.nil? %>
						<%= text_field_tag "finalscores[]", grade.finalscore, :size=> 4,:id=>"finalscore"+no.to_s %>
					<% else %>
						<%= text_field_tag "finalscores[]", sprintf('%.2f', grade.finalscore), :size=> 4,:id=>"finalscore"+no.to_s %>
					<% end %>
				</td>
				<td>
					<!--asal-http://apidock.com/rails/ActionView/Helpers/FormTagHelper/check_box_tag-->
					<%#= check_box_tag "sent_to_BPLs[#{no}]", true, :name => "sent_to_BPLs[]" %>
					<!--use iteration nos of grade-->
					<%= check_box_tag "sent_to_BPLs[#{no}]", true, grade.sent_to_BPL %>
					<!--use grade.id-->
					<%#= check_box_tag "sent_to_BPLs[#{grade.id}]", true, grade.sent_to_BPL %>
				</td>
				<td style="text-align:center;"><%= check_box_tag "eligible_for_exams[#{no}]", true, grade.eligible_for_exam %></td>
				<td style="text-align:center;"><%= check_box_tag "carry_papers[#{no}]", true, grade.carry_paper %></td>
				<td style="text-align:center;"><%= check_box_tag "resits[#{no}]", true, grade.resit %></td>
			</tr>	
		<% end%>
	</table>
<%= f.submit (t 'submit') %>
<%#= submit_tag "Edit Checked", :name => :grade_submit_button %>
<%#= link_to 'New Grade', new_grade_path(:new_type => "0")%>


<% end %>
</div>
<br><%= link_to (t 'back'), grades_path %>
<!--TRIAL TRIAL TRIAL TRIAL TRIAL TRIAL TRIAL-->
<% @score_count=@grades[0].scores.count%>
<% @student_count = @grades.map(&:student_id).uniq.count %>
<%=hidden_field_tag "grade[score_count]", @score_count %>
<%=hidden_field_tag "grade[student_count]", @student_count%><!--trial1-->
<%=hidden_field_tag "grade[column_count]", 4 %>

<!--23June2013-add total fullmarks-->
<% @examid_exist = Exam.find(:first, :conditions=> ['subject_id=? AND name=?', @grades[0].subject_id, 'F'] )%>
<!--use FIRST-[0], must unique, only 1-->
<!--EXAM ID (EXIST) YG DIBACA SEPATUTNYE FINAL = <%#= @examid_exist.id %>-->	
<% if @examid_exist %>
	<% @examid = @examid_exist.id %>
<% end %>
<%=hidden_field_tag "grade[fullmarks]", Exammark.fullmarks(@examid) %>
<!--23June2013-add total fullmarks-->

<script type="text/javascript">
	$j(document).ready(function(){
			$j(".i1").keyup(function() {  
				var studentcount = $j("#grade_student_count").val();
				var mcqcount = $j("#grade_score_count").val();
				var fullmarks = $j("#grade_fullmarks").val();	//added 23June2013
				for (var i=0;i<studentcount;i++)
				{
					for (var j=0;j<mcqcount;j++)
					{
						window["mcq"+i+j] = document.getElementById("score_"+i+"_"+j).value;
						window["fw"+i+j] = document.getElementById("formweight_"+i+"_"+j).value;
					}
				}
				//-----this part - work as above loop------
				//var mcq00 = $j("#mark_0_0").val();					//student 1
				//var mcq01 = $j("#mark_0_1").val();
				//var mcq02 = $j("#mark_0_2").val();
				//var mcq10 = $j("#mark_1_0").val();					//student 2
				//var mcq11 = $j("#mark_1_1").val();
				//var mcq12 = $j("#mark_1_2").val();
				//-----this part - work as above loop------
				
				//retrieve examweight values, total summative values
				for (var i=0;i<studentcount;i++)
				{
					window["examweightage"+i] = document.getElementById("examweight"+i).value;
					//window["tsummative"+i] = document.getElementById("summative"+i).value;					//9June2013
					window["tfinalexam"+i] = document.getElementById("finalexam"+i).value;						//9June2013-pm
				}
				
				//retrieve CA+MSE variables, totalmcq variables and finalscore variables
				for (var i=0;i<studentcount;i++)
				{
					window["totalmcq"+i] = document.getElementById("totalformative"+i);
					window["camse"+i] = document.getElementById("caplusmse"+i);
					window["tfinalscore"+i] = document.getElementById("finalscore"+i); 						//9June2013
					window["tsummative"+i] = document.getElementById("summative"+i);						//9June2013-pm
				}
				
				//-----this part - work as above loop------
				//var totalmcq0 = document.getElementById("total0");	
				//var totalmcq1 = document.getElementById("total1");
				//-----this part - work as above loop------
				
				/////===simplified version-8June2013-for line 447-605-(regardless QTY of Formative Scores)=====================
				//assigning values to total_mcq, caplusmse & final score(total marks)
				for (var i=0;i<studentcount;i++)
				{
					var a = 0
					for (var k=0;k<mcqcount;k++)
					{
						//amended on 15June2013
						//a=a+(((window["mcq"+i+k])*1)*((window["fw"+i+k])/100))	
						a=a+(((window["mcq"+i+k])*1))								
					}
					var b = 0
					//added on 15June2013
					for (var m=0;m<mcqcount;m++)
					{	
						//23Jun2013-refer UAT dated 21June2013-Fisioteraphy
						//insert exact marks according to weightage
						b=b+((window["mcq"+i+m])*1)
						//b=b+(((window["mcq"+i+m])*1)*((window["fw"+i+m])*1)/100)								
					}
					//added on 15June 2013
					((window["totalmcq"+i]).value) = a;
					//amended on 15June 2013
					//(window["camse"+i]).value = a*((100-(window["examweightage"+i]*1))/100)*1;	
					(window["camse"+i]).value = b;
					window["tsummative"+i].value = ((window["tfinalexam"+i]*1)/fullmarks*(window["examweightage"+i]*1))
					//window["tsummative"+i].value = ((window["tfinalexam"+i]*1)*(window["examweightage"+i]*1)/100)		//9June2013-pm	
					window["tfinalscore"+i].value = ((window["camse"+i]).value*1)+(window["tsummative"+i].value*1)	//9June2013-pm
					//window["tfinalscore"+i].value = ((window["camse"+i]).value*1)+(window["tsummative"+i]*1)		//9June2013		
					
				}
				/////===simplified version-8June2013-for line 447-605-(regardless QTY of Formative Scores)======================
				
				/*-----total maximum for Formative Scores? (default to 6 but allowed up to 20) 
				SET this part will update TOTAL FORMATIVE column-----*/
				/*for (var i=0;i<studentcount;i++)
				{
					if (mcqcount < 2){	
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)	
					}
					else if (mcqcount < 3)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 4)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))
						//CASE+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 5)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))+(((window["mcq"+i+3])*1)*((window["fw"+i+3])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 6)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))+(((window["mcq"+i+3])*1)*((window["fw"+i+3])/100))+(((window["mcq"+i+4])*1)*((window["fw"+i+4])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 7)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))+(((window["mcq"+i+3])*1)*((window["fw"+i+3])/100))+(((window["mcq"+i+4])*1)*((window["fw"+i+4])/100))+(((window["mcq"+i+5])*1)*((window["fw"+i+5])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 8)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))+(((window["mcq"+i+3])*1)*((window["fw"+i+3])/100))+(((window["mcq"+i+4])*1)*((window["fw"+i+4])/100))+(((window["mcq"+i+5])*1)*((window["fw"+i+5])/100))+(((window["mcq"+i+6])*1)*((window["fw"+i+6])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 9)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))+(((window["mcq"+i+3])*1)*((window["fw"+i+3])/100))+(((window["mcq"+i+4])*1)*((window["fw"+i+4])/100))+(((window["mcq"+i+5])*1)*((window["fw"+i+5])/100))+(((window["mcq"+i+6])*1)*((window["fw"+i+6])/100))+(((window["mcq"+i+7])*1)*((window["fw"+i+7])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 10)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))+(((window["mcq"+i+3])*1)*((window["fw"+i+3])/100))+(((window["mcq"+i+4])*1)*((window["fw"+i+4])/100))+(((window["mcq"+i+5])*1)*((window["fw"+i+5])/100))+(((window["mcq"+i+6])*1)*((window["fw"+i+6])/100))+(((window["mcq"+i+7])*1)*((window["fw"+i+7])/100))+(((window["mcq"+i+8])*1)*((window["fw"+i+8])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 11)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))+(((window["mcq"+i+3])*1)*((window["fw"+i+3])/100))+(((window["mcq"+i+4])*1)*((window["fw"+i+4])/100))+(((window["mcq"+i+5])*1)*((window["fw"+i+5])/100))+(((window["mcq"+i+6])*1)*((window["fw"+i+6])/100))+(((window["mcq"+i+7])*1)*((window["fw"+i+7])/100))+(((window["mcq"+i+8])*1)*((window["fw"+i+8])/100))+(((window["mcq"+i+9])*1)*((window["fw"+i+9])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 12)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))+(((window["mcq"+i+3])*1)*((window["fw"+i+3])/100))+(((window["mcq"+i+4])*1)*((window["fw"+i+4])/100))+(((window["mcq"+i+5])*1)*((window["fw"+i+5])/100))+(((window["mcq"+i+6])*1)*((window["fw"+i+6])/100))+(((window["mcq"+i+7])*1)*((window["fw"+i+7])/100))+(((window["mcq"+i+8])*1)*((window["fw"+i+8])/100))+(((window["mcq"+i+9])*1)*((window["fw"+i+9])/100))+(((window["mcq"+i+10])*1)*((window["fw"+i+10])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 13)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))+(((window["mcq"+i+3])*1)*((window["fw"+i+3])/100))+(((window["mcq"+i+4])*1)*((window["fw"+i+4])/100))+(((window["mcq"+i+5])*1)*((window["fw"+i+5])/100))+(((window["mcq"+i+6])*1)*((window["fw"+i+6])/100))+(((window["mcq"+i+7])*1)*((window["fw"+i+7])/100))+(((window["mcq"+i+8])*1)*((window["fw"+i+8])/100))+(((window["mcq"+i+9])*1)*((window["fw"+i+9])/100))+(((window["mcq"+i+10])*1)*((window["fw"+i+10])/100))+(((window["mcq"+i+11])*1)*((window["fw"+i+11])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 14)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))+(((window["mcq"+i+3])*1)*((window["fw"+i+3])/100))+(((window["mcq"+i+4])*1)*((window["fw"+i+4])/100))+(((window["mcq"+i+5])*1)*((window["fw"+i+5])/100))+(((window["mcq"+i+6])*1)*((window["fw"+i+6])/100))+(((window["mcq"+i+7])*1)*((window["fw"+i+7])/100))+(((window["mcq"+i+8])*1)*((window["fw"+i+8])/100))+(((window["mcq"+i+9])*1)*((window["fw"+i+9])/100))+(((window["mcq"+i+10])*1)*((window["fw"+i+10])/100))+(((window["mcq"+i+11])*1)*((window["fw"+i+11])/100))+(((window["mcq"+i+12])*1)*((window["fw"+i+12])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 15)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))+(((window["mcq"+i+3])*1)*((window["fw"+i+3])/100))+(((window["mcq"+i+4])*1)*((window["fw"+i+4])/100))+(((window["mcq"+i+5])*1)*((window["fw"+i+5])/100))+(((window["mcq"+i+6])*1)*((window["fw"+i+6])/100))+(((window["mcq"+i+7])*1)*((window["fw"+i+7])/100))+(((window["mcq"+i+8])*1)*((window["fw"+i+8])/100))+(((window["mcq"+i+9])*1)*((window["fw"+i+9])/100))+(((window["mcq"+i+10])*1)*((window["fw"+i+10])/100))+(((window["mcq"+i+11])*1)*((window["fw"+i+11])/100))+(((window["mcq"+i+12])*1)*((window["fw"+i+12])/100))+(((window["mcq"+i+13])*1)*((window["fw"+i+13])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 16)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))+(((window["mcq"+i+3])*1)*((window["fw"+i+3])/100))+(((window["mcq"+i+4])*1)*((window["fw"+i+4])/100))+(((window["mcq"+i+5])*1)*((window["fw"+i+5])/100))+(((window["mcq"+i+6])*1)*((window["fw"+i+6])/100))+(((window["mcq"+i+7])*1)*((window["fw"+i+7])/100))+(((window["mcq"+i+8])*1)*((window["fw"+i+8])/100))+(((window["mcq"+i+9])*1)*((window["fw"+i+9])/100))+(((window["mcq"+i+10])*1)*((window["fw"+i+10])/100))+(((window["mcq"+i+11])*1)*((window["fw"+i+11])/100))+(((window["mcq"+i+12])*1)*((window["fw"+i+12])/100))+(((window["mcq"+i+13])*1)*((window["fw"+i+13])/100))+(((window["mcq"+i+14])*1)*((window["fw"+i+14])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 17)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))+(((window["mcq"+i+3])*1)*((window["fw"+i+3])/100))+(((window["mcq"+i+4])*1)*((window["fw"+i+4])/100))+(((window["mcq"+i+5])*1)*((window["fw"+i+5])/100))+(((window["mcq"+i+6])*1)*((window["fw"+i+6])/100))+(((window["mcq"+i+7])*1)*((window["fw"+i+7])/100))+(((window["mcq"+i+8])*1)*((window["fw"+i+8])/100))+(((window["mcq"+i+9])*1)*((window["fw"+i+9])/100))+(((window["mcq"+i+10])*1)*((window["fw"+i+10])/100))+(((window["mcq"+i+11])*1)*((window["fw"+i+11])/100))+(((window["mcq"+i+12])*1)*((window["fw"+i+12])/100))+(((window["mcq"+i+13])*1)*((window["fw"+i+13])/100))+(((window["mcq"+i+14])*1)*((window["fw"+i+14])/100))+(((window["mcq"+i+15])*1)*((window["fw"+i+15])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 18)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))+(((window["mcq"+i+3])*1)*((window["fw"+i+3])/100))+(((window["mcq"+i+4])*1)*((window["fw"+i+4])/100))+(((window["mcq"+i+5])*1)*((window["fw"+i+5])/100))+(((window["mcq"+i+6])*1)*((window["fw"+i+6])/100))+(((window["mcq"+i+7])*1)*((window["fw"+i+7])/100))+(((window["mcq"+i+8])*1)*((window["fw"+i+8])/100))+(((window["mcq"+i+9])*1)*((window["fw"+i+9])/100))+(((window["mcq"+i+10])*1)*((window["fw"+i+10])/100))+(((window["mcq"+i+11])*1)*((window["fw"+i+11])/100))+(((window["mcq"+i+12])*1)*((window["fw"+i+12])/100))+(((window["mcq"+i+13])*1)*((window["fw"+i+13])/100))+(((window["mcq"+i+14])*1)*((window["fw"+i+14])/100))+(((window["mcq"+i+15])*1)*((window["fw"+i+15])/100))+(((window["mcq"+i+16])*1)*((window["fw"+i+16])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 19)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))+(((window["mcq"+i+3])*1)*((window["fw"+i+3])/100))+(((window["mcq"+i+4])*1)*((window["fw"+i+4])/100))+(((window["mcq"+i+5])*1)*((window["fw"+i+5])/100))+(((window["mcq"+i+6])*1)*((window["fw"+i+6])/100))+(((window["mcq"+i+7])*1)*((window["fw"+i+7])/100))+(((window["mcq"+i+8])*1)*((window["fw"+i+8])/100))+(((window["mcq"+i+9])*1)*((window["fw"+i+9])/100))+(((window["mcq"+i+10])*1)*((window["fw"+i+10])/100))+(((window["mcq"+i+11])*1)*((window["fw"+i+11])/100))+(((window["mcq"+i+12])*1)*((window["fw"+i+12])/100))+(((window["mcq"+i+13])*1)*((window["fw"+i+13])/100))+(((window["mcq"+i+14])*1)*((window["fw"+i+14])/100))+(((window["mcq"+i+15])*1)*((window["fw"+i+15])/100))+(((window["mcq"+i+16])*1)*((window["fw"+i+16])/100))+(((window["mcq"+i+17])*1)*((window["fw"+i+17])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 20)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))+(((window["mcq"+i+3])*1)*((window["fw"+i+3])/100))+(((window["mcq"+i+4])*1)*((window["fw"+i+4])/100))+(((window["mcq"+i+5])*1)*((window["fw"+i+5])/100))+(((window["mcq"+i+6])*1)*((window["fw"+i+6])/100))+(((window["mcq"+i+7])*1)*((window["fw"+i+7])/100))+(((window["mcq"+i+8])*1)*((window["fw"+i+8])/100))+(((window["mcq"+i+9])*1)*((window["fw"+i+9])/100))+(((window["mcq"+i+10])*1)*((window["fw"+i+10])/100))+(((window["mcq"+i+11])*1)*((window["fw"+i+11])/100))+(((window["mcq"+i+12])*1)*((window["fw"+i+12])/100))+(((window["mcq"+i+13])*1)*((window["fw"+i+13])/100))+(((window["mcq"+i+14])*1)*((window["fw"+i+14])/100))+(((window["mcq"+i+15])*1)*((window["fw"+i+15])/100))+(((window["mcq"+i+16])*1)*((window["fw"+i+16])/100))+(((window["mcq"+i+17])*1)*((window["fw"+i+17])/100))+(((window["mcq"+i+18])*1)*((window["fw"+i+18])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					else if (mcqcount < 21)
					{
						//total formative in %
						(window["totalmcq"+i]).value = (((window["mcq"+i+0])*1)*((window["fw"+i+0])/100))+(((window["mcq"+i+1])*1)*((window["fw"+i+1])/100))+(((window["mcq"+i+2])*1)*((window["fw"+i+2])/100))+(((window["mcq"+i+3])*1)*((window["fw"+i+3])/100))+(((window["mcq"+i+4])*1)*((window["fw"+i+4])/100))+(((window["mcq"+i+5])*1)*((window["fw"+i+5])/100))+(((window["mcq"+i+6])*1)*((window["fw"+i+6])/100))+(((window["mcq"+i+7])*1)*((window["fw"+i+7])/100))+(((window["mcq"+i+8])*1)*((window["fw"+i+8])/100))+(((window["mcq"+i+9])*1)*((window["fw"+i+9])/100))+(((window["mcq"+i+10])*1)*((window["fw"+i+10])/100))+(((window["mcq"+i+11])*1)*((window["fw"+i+11])/100))+(((window["mcq"+i+12])*1)*((window["fw"+i+12])/100))+(((window["mcq"+i+13])*1)*((window["fw"+i+13])/100))+(((window["mcq"+i+14])*1)*((window["fw"+i+14])/100))+(((window["mcq"+i+15])*1)*((window["fw"+i+15])/100))+(((window["mcq"+i+16])*1)*((window["fw"+i+16])/100))+(((window["mcq"+i+17])*1)*((window["fw"+i+17])/100))+(((window["mcq"+i+18])*1)*((window["fw"+i+18])/100))+(((window["mcq"+i+19])*1)*((window["fw"+i+19])/100))
						//CA+MSE
						window["camse"+i].value = (window["totalmcq"+i]).value * ((100-(window["examweightage"+i]*1))/100)
					}
					
				}*/
				/*-----total maximum for Formative Scores? (default to 6 but allowed up to 20) 
				SET this part will update TOTAL FORMATIVE column-----*/
				
				//-----this part - work as above loop------in this module
				//if (mcqcount < 2){ 
					//totalmcq0.value = (mcq00*1) 								//student 1
					//totalmcq1.value = (mcq10*1)}								//student 2
				//else if (mcqcount < 3)
					//{totalmcq0.value = (mcq00*1)+(mcq01*1)					//student 1
					//totalmcq1.value = (mcq10*1)+(mcq11*1)}					//student 2
				//else if (mcqcount < 4)
					//{totalmcq0.value = (mcq00*1)+(mcq01*1)+(mcq02*1)			//student 1
					//totalmcq1.value = (mcq10*1)+(mcq11*1)+(mcq12*1)}			//student 2
				//-----this part - work as above loop------
					
			});
			
			//assign CA+MSE value from data entered into Total Formative column
			$j(".j1").keyup(function() {  
				var studentcount =  document.getElementById("grade_student_count").value;
				//var mcqcount = document.getElementById("grade_score_count").value;
				
				//retrieve examweight values, total formative values and summative values
				for (var i=0;i<studentcount;i++)
				{
					window["examweightage"+i] = document.getElementById("examweight"+i).value;
					window["totalmcq"+i] = document.getElementById("totalformative"+i).value;
					window["tsummative"+i] = document.getElementById("summative"+i).value;					//9June2013
				}
				
				//retrieve CA+MSE variables & finalscore variables
				for (var i=0;i<studentcount;i++)
				{	
					window["camse"+i] = document.getElementById("caplusmse"+i);
					window["tfinalscore"+i] = document.getElementById("finalscore"+i); 						//9June2013
				}
				
				//assign CA+MSE values and finalscore values
				for (var i=0;i<studentcount;i++)
				{
					window["camse"+i].value = (window["totalmcq"+i]) * ((100-(window["examweightage"+i]*1))/100)
					window["tfinalscore"+i].value = (window["camse"+i].value*1)+(window["tsummative"+i]*1)		//9June2013
				}
		
			});
			
			//assign Total Summative & Final Score(Total Marks) value from data entered into Final Exam column
			$j(".k1").keyup(function() {  
				var studentcount =  document.getElementById("grade_student_count").value;
				
				//retrieve final exam values
				for (var i=0;i<studentcount;i++)
				{
					window["examweightage"+i] = document.getElementById("examweight"+i).value;
					window["finalexam"+i] = document.getElementById("finalexam"+i).value;
					//window["camse"+i] = document.getElementById("caplusmse"+i).value;
					window["totalmcq"+i] = document.getElementById("totalformative"+i).value;
				}
				
				//retrieve Total Summative & Final Score variables
				for (var i=0;i<studentcount;i++)
				{	
					window["tsummative"+i] = document.getElementById("summative"+i);
					window["tfinalscore"+i] = document.getElementById("finalscore"+i);	
				}
				
				//assign Total Summative & Final Score values
				for (var i=0;i<studentcount;i++)
				{
					window["tsummative"+i].value = (window["finalexam"+i]*1)*((window["examweightage"+i]*1)/100)
					window["tfinalscore"+i].value = ((window["tsummative"+i].value)*1)+((window["totalmcq"+i]) * ((100-(window["examweightage"+i]*1))/100))
				}
				
			});
				
	});
</script>
<!--TRIAL TRIAL TRIAL TRIAL TRIAL TRIAL TRIAL-->
