<h3>Editing Grade</h3>

<% form_for(@grade) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<BR>
<%= link_to 'Show', @grade %> |
<%= link_to 'Back', grades_path %>