	<% subject = params[:subject] %>
	<% score_count = params[:index] %>
	<% count = score_count %>
	<% abb = count.to_i %>
	<% abc = abb+=1%>
	<% abcd = abc+1%>
	
<td style="padding:0px;">
	<%=select_tag "scores_attributes[#{score_count}][type_id]", options_for_select(Score::E_TYPES)%>	
	<%#=select_tag "scores_attributes[#{score_count}][type_id]", options_for_select(Score::E_TYPES,@grades[0].scores[score_count].type_id.to_i)%>	
	
</td>
<td style="padding:0px;">
	<%= text_field_tag "scores_attributes[#{score_count}][description]", {}, :size=> 15 %>	
	<%#= text_field_tag "scores_attributes[#{score_count}][description]", @grades[0].scores[score_count].description, :size=> 15 %>					
					
</td>
<td style="padding:0px;">
	<%=select_tag "scores_attributes[#{score_count}][weightage]", options_for_select(Grade::WEIGHTAGE)%>
	<%#=select_tag "scores_attributes[#{score_count}][weightage]", options_for_select(Grade::WEIGHTAGE,@grades[0].scores[score_count].weightage.to_i)%>
	
</td>
<%# @count = score_count.to_i+1%>
<div id="barunyediv_<%= abc %>">
	<%= link_to_remote image_tag("add.png", :border => 0, :title => 'Add More'), :url => {:action => 'form_try', :index => abc ,:subject=>@current_subject }, :update => "barunyediv_#{abc}" %> - Add More 
</div>

<%#= link_to_remote image_tag("add.png", :border => 0, :title => 'Add More'), :url => {:action => 'form_try', :index => @count,:subject=>@current_subject}, :update => 'barunyediv' %> 