<!--13Apr2013-DEPT UNIT for current user-->
<% @anc_depth = current_user.staff.position.ancestry_depth %>

<% if @anc_depth==2 %>
	<% @dept_unit = current_user.staff.position.unit %>
<% elsif @anc_depth < 2 %>
	<% @position_count = Position.find(:all, :conditions=>['staff_id=?',current_user.staff]).count %>
	<% if @position_count > 1 %>
		<% @dept_unit = Position.find(:first,:conditions=>['staff_id=? and ancestry_depth=?', current_user.staff_id,2]).unit %>			
	<% end %>
<% elsif @anc_depth > 2 %>
	<% @dept_unit = current_user.staff.position.ancestors.at_depth(2)[0].unit %>
<% end %>

<% current_user_roles=[]%>
<% User.current_user.roles.each do |role|%>
	<% current_user_roles<<role.id%>
<% end %>
<%#= current_user_roles.include?(2)%>
<!--13Apr2013-DEPT UNIT for current user-->

<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Lists of Grades</h2>
	</div>
</div>

<div class="tlist">
	 <table width=100% border="0" cellpadding="0" cellspacing="0">
<tr>
    <th>Student</th>
    <th>Subject</th>
   	<!--<th>Sent to bpl</th>-->
    <th>Sent date</th>
    <th>Total Formative</th>
    <th>Score</th>
    <!--<th>Eligible for Exam</th>-->
    <!--<th>Carry Paper</th>-->
    <th>Total Summative</th>
    <!--<th>Resit</th>-->
    <th>Total Marks</th>
    <th>Grade</th>
    <th colspan=3 class="ac">Control</th>
</tr>

<% @grades.each do |grade| %>
 <% if (@dept_unit==grade.subjectgrade.root.name) ||(current_user_roles.include?(2)) %><!--STAND BY:HIDE THIS LINE & LINE 67 to view ALL GRADES-->
  <tr>
    <td><%=h grade.student_id.blank? ? "" : grade.studentgrade.formatted_mykad_and_student_name %></td>
    <td><%=h grade.subject_id.blank? ? "" : grade.subjectgrade.subject_list %></td>
    <!-- <td><%=h grade.sent_to_BPL %></td>-->
    <td><%=h grade.sent_date %></td>
    <td><%=h grade.formative %></td>
    <td><%=h grade.score %></td>
    <!--<td><%=h grade.eligible_for_exam %></td>
    <td><%=h grade.carry_paper %></td>-->
    <td><%=h grade.summative %></td>
    <!--<td><%=h grade.resit %></td>-->
    <td><%=h grade.finalscore %></td>
    <td><%=h (Grade::GRADE.find_all{|disp, value| value == grade.grading_id.to_s}).map {|disp, value| disp} %></td>
    <td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => grade %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => grade %></td>
    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), grade, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
	<% end %> <!--HIDE THIS LINE & LINE 49 to view ALL GRADES-->
<% end %>
</table>
</div>
<br />

<%#= link_to 'New Grade', new_grade_path %> <!--10Apr2013-->
<%= link_to 'New Grade', new_grade_path(:new_type => "0")%>
<!--
 | <%#= link_to 'Multiple New Grades', new_grade_path(:new_type => "2") %>-->