<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Lists of Grades</h2>
</div>		
</div>

<div class="tlist">
	 <table width=100% border="0" cellpadding="0" cellspacing="0">
<tr>
    <th>Student Name</th>
    <th>Subject Name</th>
   <!-- <th>Sent to bpl</th>-->
    <th>Sent Date to QC</th>
    <th>Formative Marks</th>
    <th>Summative Marks</th>
   <!-- <th>Resit</th>-->
    <th>Total Marks</th>
    <th>Grade</th>
    <th colspan=3 class="ac">Control</th>
</tr>
	<% @grade_subjects.sort.each do |subject_details, grades| %>
	  <tr>
	    <td  colspan=12><b><%=h subject_details %></b></td>
	  <tr>
	<% for grade in grades %>

  <tr class="<%= (grade.set_row_color) %>">
    <td><%=h grade.student_details %></td>
    <td><%=h grade.subject_id.blank? ? "" : grade.subject_details %></td>
   <!-- <td><#%=h grade.sent_to_BPL %></td>-->
    <td><%=h grade.sent_date.blank? ? "-" : grade.sent_date.strftime("%d-%b-%Y") %></td>
    <td><%=h grade.total_formative %>%</td>
    <td><%=h grade.exam1marks %>%</td>
    <td><%=h grade.finale %>% </td>
    <td><%=h grade.grade_it %></td>
    <td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => grade %></td>
     <% if permitted_to? :update, grade %>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => grade %></td><% end %>
    <% if permitted_to? :destroy, grade %>
    <td width=10px><%= link_to image_tag("delete.png",   :border => 0, :title => 'Delete'), grade, :confirm => 'Are you sure?', :method => :delete %></td><% end %> 
  </tr>
<% end %><% end %>
</table>
</div>
<br />
<% if permitted_to? :create, @grade %>
<%= link_to 'New Grade', new_grade_path %>
<% end %>