<div class="tform">
<H2>Student & Subject Details</H2>
  <table width=100% >

	<tr>
		<td class="leftcol"><label for="student_id">Student Name</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @grade.student_id.blank? ? "" : @grade.studentgrade.formatted_mykad_and_student_name %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="subject_id">Subject Name</label></td>
		<td><b>:</b></td>
		<td><%=h @grade.subject_id.blank? ? "" : @grade.subjectgrade.subject_code_with_subject_name %></td>
	</tr>
	</table>
	
<H2>Examination Score</H2>	

	<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 "><!-- style="position: relative; left: 5px;" -->
		<tr>
			<th width="10%">Formative</th>
			<th width="30%">Description</th>
			<th width="7%">Marks</th>
			<th width="7%">Full Marks</th>
			<th width="7%"></th>
		</tr>
			<% for score in @grade.scores %>
		<tr>
			<td><%=h (Score::E_TYPES.find_all{|disp, value| value == score.type_id}).map {|disp, value| disp} %></td>
			<td><%=h score.description %></td>
			<td><%=h score.marks %></td>
			<td><%=h score.weightage%></td>
		    <td align="right"><%=h score.marks %> / <%=h score.weightage%>  </td>
		</tr>
			<% end %>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td align="right"><b>Total Marks :</b></td>
			<td align="right"><b><%=h @grade.total_formative %></b></td>
		</tr>	

</table>
<BR>
	<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 ">
	<tr>
		<th width="10%">Summative</th>
		<th width="30%">Description</th>
		<th width="7%">Marks</th>
		<th width="7%">Full Marks</th>
		<th width="7%"></th>
	</tr>
	
	<tr>
		<td><%=h @grade.exam1name %></td>
		<td><%=h @grade.exam1desc %></td>
		<td><%=h @grade.exam1marks %></td>
		<td><%=h @grade.examweight %></td>
	    <td align="right"><%=h @grade.exam1marks %> / <%=h @grade.examweight %> </td>
	</tr>
	
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td align="right"><b>Total Marks :</b></td>
		<td align="right"><b><%=h @grade.exam1marks %></b></td>
	</tr>
	
	</table>
	<H2>Final Details</H2>
	<table width=100% >
	
	<tr>
		<td class="leftcol"><label for="total_marks ">Final Score:</label></td>
		<td><b>:</b></td>
		<td><%=h @grade.finale %>% 
			  <font color=#AAA size=-2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				Total Marks Formative + Total Marks Summative </font></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="grade">Grade :</label></td>
		<td><b>:</b></td>
		<td><b><%=h @grade.grade_it %></b></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="carry_paper">Carry Paper?:</label></td>
		<td><b>:</b></td>
		<td><%=h @grade.carry_paper? ? "Required" : "Not Required" %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="sent_to_BPL">Sent To Quality Control?:</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @grade.sent_to_KM? ? "Yes on " + (@grade.sent_date.strftime("%d %b %Y")).to_s : "Not Sent" %></td>
	</tr>	
</table>
</div>
<BR>
<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>