<div class="tform">
	<H2>Grade Details</H2>
  <table width=100% >
		<tr>
			<td class="leftcol"><label for="student_id">Student Name:</label></td>
			<td><%=h @grade.student_id.blank? ? "" : @grade.studentgrade.matrix_name %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="subject_id">Subject Name:</label></td>
			<td><%=h @grade.subject_id.blank? ? "" : @grade.subjectgrade.subject_list %></td>
		</tr>
		<tr>
			<td class="leftcol">Formative</td>
			<td>
	
					<table width=80% ><!-- style="position: relative; left: 5px;" -->
						<tr>
							<th>Formative</th>
							<th>Description</th>
							<th>Marks</th>
							<th>Weightage</th>
							<th>Marks</th>
						</tr>	
						<% for score in @grade.scores.all(:order => "type_id") %>		
					  <tr>
						  <td><%=h (Score::E_TYPES.find_all{|disp, value| value == score.type_id}).map {|disp, value| disp} %></td>
				      <td><%=h score.description %></td>
				      <td><%=h number_with_precision(score.marks,:precision=>2) %><!--%--></td>
							<td><%=h number_with_precision(score.weightage,:precision=>2) %><!--% of total--></td>
							<td><%=h number_with_precision(score.type_marks, :precision=>2) %></td>
						</tr>
						<% end %>
						<tr>
						  <td></td>
				      <td></td>
				      <td><b><%= number_with_precision(@grade.total_formative2,:precision=>2) %></b></td>
							<td><%= number_with_precision(@grade.total_per,:precision=>2) %>%</td>
							<td><b><%= number_with_precision(@grade.total_formative,:precision=>2) %>%</b></td> 
						</tr>
					</table></td>
		</tr>
	</table>
					
	<H2>Send to BPL</H2>				
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="total_formative">Total Formative:</label></td>
			<td><%=h number_with_precision(@grade.total_formative2, :precision=>2) %> | <%=h number_with_precision(@grade.total_formative,:precision=>2) %>%</td>
		</tr>
		<tr>
			<td class="leftcol"><label for="sent_to_BPL">Sent To BPL?:</label></td>
			<td><%#=h @grade.sent_to_BPL? ? "Yes on " + (@grade.sent_date.strftime("%d %b %Y")).to_s : "Not Sent" %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="eligible_for_exam">Eligible For Exam?:</label></td>
			<td><%=h @grade.eligible_for_exam? ? "Yes" : "No" %> </td>
		</tr>
	</table>
	
	<H2>Summative</H2>
	<table width=100%>
		<tr>
			<td class="leftcol">Exam</td>
			<td>
						<table width=80%>
							<tr>
								<th>Exam Name</th>
								<th>Description</th>
								<th>Marks</th>
								<th>Weightage</th>
								<th>Marks</th>
							</tr>	
							<tr>
								<td><%=h @grade.exam1name %></td>
								<td><%=h @grade.exam1desc %></td>
								<td><%=h number_with_precision(@grade.exam1marks,:precision=>2) %>%</td>
								<td><%=h number_with_precision(@grade.examweight,:precision=>2) %>%</td>
								<td><%=h check_kin {number_with_precision(@grade.total_summative,:precision=>2)} %>%</td><!--TODO : Fix This-->
							</tr>
						</table></td>
		</tr>
	</table>
	
	<H2>Final Details</H2>			
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="total_marks ">Final Score:</label></td>
			<td>
				<% if (@grade.exam1marks!= nil && @grade.examweight !=nil && @grade.total_formative != nil)%>
					<%=h number_with_precision(@grade.finale,:precision=>2) %> -- <b>
					<%=@grade.set_gred %></b>
				<% end %>
				  <font color=#AAA size=-2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Formative x <%= number_with_precision((100 - @grade.examweight),:precision=>2)%>% + Summative x <%= number_with_precision(@grade.examweight,:precision=>2) %>%</font></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="carry_paper">Carry Paper?:</label></td>
			<td><%=h @grade.carry_paper? ? "Required" : "Not Required" %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="resit">Resit?:</label></td>
			<td><%=h @grade.resit? ? "Required" : "Not Required" %></td>
		</tr>
	</table>
<BR>
</div>
<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>