<div class="tform">
	<H2><%=t('grade.details')%></H2>
  <table width=100% >
		<tr>
			<td class="leftcol"><label for="student_id"><%=t('grade.student_id')%>:</label></td>
			<td><%=h @grade.student_id.blank? ? "" : @grade.studentgrade.matrix_name %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="subject_id"><%=t('grade.subject_id')%>:</label></td>
			<td><%=h @grade.subject_id.blank? ? "" : @grade.subjectgrade.subject_list %></td>
		</tr>
		<tr>
			<td class="leftcol"><%=t('grade.formative')%></td>
			<td>
	
					<table width=80% ><!-- style="position: relative; left: 5px;" -->
						<tr>
							<th><%=t('grade.formative')%></th>
							<th><%=t('grade.description')%></th>
							<th><%=t('grade.marks')%></th>
							<th><%=t('grade.weightage')%></th>
							<th><%=t('grade.marks')%></th>
						</tr>	
						<% for score in @grade.scores.all(:order => "type_id") %>		
					  <tr>
						  <td><%=h (Score::E_TYPES.find_all{|disp, value| value == score.type_id}).map {|disp, value| disp} %></td>
				      <td><%=h score.description %></td>
				      <td><%=h sprintf('%.2f', score.marks) %><!--%--></td>
							<td><%=h sprintf('%.2f', score.weightage) %><!--% of total--></td>
							<td><%=h sprintf('%.2f', score.type_marks) %></td>
						</tr>
						<% end %>
						<tr>
						  <td></td>
				      <td></td>
				      <td><b><%=h sprintf('%.2f', @grade.total_formative2) %></b></td>
							<td><%=h sprintf('%.2f', @grade.total_per) %>%</td>
							<td><b><%=h sprintf('%.2f',@grade.total_formative) %>%</b></td> 
						</tr>
					</table></td>
		</tr>
	</table>
					
	<H2><%=t('grade.sent_to_bpl')%></H2>				
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="total_formative"><%=t('grade.total_formative')%>:</label></td>
			<td><%=h sprintf('%.2f', @grade.total_formative2) %> | <%=h sprintf('%.2f', @grade.total_formative) %>%</td>
		</tr>
		<tr>
			<td class="leftcol"><label for="sent_to_BPL"><%=t('grade.sent_to_bpl')%>?:</label></td>
			<td><%#=h @grade.sent_to_BPL? ? "Yes on " + (@grade.sent_date.strftime("%d %b %Y")).to_s : "Not Sent" %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="eligible_for_exam"><%=t('grade.eligible_for_exam')%>?:</label></td>
			<td><%=h @grade.eligible_for_exam? ? (t 'yes2') : (t 'no2') %> </td>
		</tr>
	</table>
	
	<H2><%=t('grade.summative')%></H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><%=t('exammark.exam_id')%></td>
			<td>
						<table width=80%>
							<tr>
								<th><%=t('grade.exam1name')%></th>
								<th><%=t('grade.description')%></th>
								<th><%=t('grade.marks')%></th>
								<th><%=t('grade.weightage')%></th>
								<th><%=t('grade.marks')%></th>
							</tr>	
							<tr>
								<td><%=h @grade.exam1name %></td>
								<td><%=h @grade.exam1desc %></td>
								<td><%=h sprintf('%.2f', @grade.exam1marks) %>%</td>
								<td><%=h sprintf('%.2f', @grade.examweight) %>%</td>
								<td><%=h check_kin {sprintf('%.2f', @grade.total_summative)} %>%</td><!--TODO : Fix This-->
							</tr>
						</table></td>
		</tr>
	</table>
	
	<H2><%=t('grade.final_details')%></H2>			
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="total_marks "><%=t('grade.finalscore')%>:</label></td>
			<td>
				<% if (@grade.exam1marks!= nil && @grade.examweight !=nil && @grade.total_formative != nil)%>
					<%=h sprintf('%.2f', @grade.finale) %> -- <b>
					<%=@grade.set_gred %></b>
				<% end %>
				  <font color=#AAA size=-2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<%=t('grade.formative')%> x <%=h sprintf('%.2f', (100 - @grade.examweight))%>% + <%=t('grade.summative')%> x <%=h sprintf('%.2f', @grade.examweight) %>%</font></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="carry_paper"><%=t('grade.carry_paper')%>?:</label></td>
			<td><%=h @grade.carry_paper? ? (t 'required') : (t 'not_required') %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="resit"><%=t('grade.resit')%>?:</label></td>
			<td><%=h @grade.resit? ? (t 'required') : (t 'not_required') %></td>
		</tr>
	</table>
<BR>
</div>
<%= link_to (t 'edit'), edit_grade_path(@grade) %> |
<%= link_to (t 'back'), grades_path %>