<div class="tform">

<fieldset>
	<legend class='togvis'>Training Object</legend>
		<table width=85% >
			<tr>
				<td class="leftcol"><label>Training Object Code</label></td>
				<td><%=h @training.combo_code %></td>				
			</tr>
			
			<tr>
				<td class="leftcol"><label>Training Object Name</label></td>
				<td><%=h @training.root.course_type %> <%=h @training.root.name %> - <%=h @training.course_type %> <%=h @training.name %></td>				
			</tr>
		</table>
</fieldset>

</div>


<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>