
<div class="tform">
  <table width=100% >
	
	
<!--Personal Info-->
	<tr>
		<th colspan = 2><%= t 'staff.personal_details' %></th>
	</tr>
	<tr>
		<td class="leftcol"><label for="icno"><b><%= t 'staff.icno' %></b></label><font color="red"> * </font></td>
		<td><%= f.text_field :icno, :size => 12 %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name"><b><%= t 'staff.name' %></b></label><font color="red"> * </font></td>
		<td><%= f.collection_select :titlecd_id, Title.find(:all), :id, :name, :include_blank => true %><%= f.text_field :name %></td>
	</tr>
		
	<tr>
		<td class="leftcol"><label for="code"><b><%= t 'staff.code' %></b></label><font color="red"> * </font></td>
		<td><%= f.text_field :code %></td>
	</tr>
		
	<tr>
		<td class="leftcol"><label for="fileno"><b><%= t 'staff.fileno' %></b></label><font color="red"> * </font></td>
		<td><%= f.text_field :fileno %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="coemail"><b><%= t 'staff.coemail' %></b></label><font color="red"> * </font></td>
		<td><%= f.text_field :coemail %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="cobirthdt"><b><%= t 'staff.cobirthdt' %></b></label></td>
		<td><%= f.date_select :cobirthdt, :start_year => 1945, :end_year => 1992, :order => [:day, :month, :year] %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="bloodtype"><b><%= t 'staff.bloodtype' %></b></label></td>
		<td><%= f.select :bloodtype,
		                 Staff::BLOOD_TYPE,
		                 :prompt => "Select" %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="gender"><b><%= t 'staff.gender' %></b></label></td>
		<td><%= f.radio_button :gender,'1' %>Male<%= f.radio_button :gender,'2' %>Female</td>
    </tr>
	
	<tr>
		<td class="leftcol"><label for="cooftelno"><b><%= t 'staff.cooftelno' %></b></label></td>
		<td><%= f.text_field :cooftelno, :size => 14 %>
		        <label for="cooftelext">Ext.</label>
		        <%= f.text_field :cooftelext, :size => 5 %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="phonecell"><b><%= t 'staff.phonecell' %></b></label></td>
		<td><%= f.text_field :phonecell, :size => 14 %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="phonehome"><b><%= t 'staff.phonehome' %></b></label></td>
		<td><%= f.text_field :phonehome, :size => 14 %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="addr"><b><%= t 'staff.addr' %></b></label><font color="red"> * </font></td>
		<td><%= f.text_area :addr, :size => "40x5" %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="poskod_id"><b><%= t 'staff.poskod_id' %></b></label><font color="red"> * </font></td>
		<td><%= f.text_field :poskod_id %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="mrtlstatuscd"><b><%= t 'staff.mrtlstatuscd' %></b></label></td>
		<td><%= f.select :mrtlstatuscd, 
		                 Staff::MARITAL_STATUS,
		                 :prompt => "Select"  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="statecd"><b><%= t 'staff.statecd' %></b></label><font color="red"> * </font></td>
		<td><%= f.select :statecd, 
		                  Staff::STATECD,
		                 :prompt => "Select"  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="race"><b><%= t 'staff.race' %></b></label></td>
		<td><%= f.select :race, 
		                  Staff::RACE,
		                 :prompt => "Select"  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="religion"><b><%= t 'staff.religion' %></b></label></td>
		<td><%= f.select :religion, 
		                  Staff::RELIGION,
		                 :prompt => "Select"  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="country_cd"><b><%= t 'staff.country_cd' %></b></label><font color="red"> * </font></td>
		<td><%= f.select :country_cd, 
		                 Staff::NATIONALITY,
		                 :prompt => "Select" %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="upload"><b><%= t 'staff.upload' %></b></label></td>
		<td><%= f.file_field :photo %></td>
	</tr>
	
	
	
    	
<!--Employment Details-->

	<tr>
		<th colspan=2><%= t 'staff.employment_details' %></th>	
	</tr>
	
	<tr>
		<td class="leftcol"><label for="employscheme"><b><%= t 'staff.employscheme' %></b></label></td>
		<td><%= f.select :employscheme, 
		                  Staff::SCHEME,
		                 :prompt => "Select"  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="staffgrade_id"><b><%= t 'staff.staffgrade_id' %></b></label><font color="red"> * </font></td>
		<td><%= f.collection_select :staffgrade_id, Staffgrade.find(:all), :id, :sgname, :include_blank => true %></td>
	</tr><!-->#:conditions => ["id != ?",@travelrequest.treplace.id || @travelrequest.staffid.id]<-->

		
	<tr>
		<td class="leftcol"><label for="employstatus"><b><%= t 'staff.employstatus' %></b></label></td>
		<td><%= f.select :employstatus, 
		                  Staff::STATUS,
		                 :prompt => "Select"  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="appointstatus"><b><%= t 'staff.appointstatus' %></b></label></td>
		<td><%= f.select :appointstatus, 
		                  Staff::APPOINTMENT,
		                 :prompt => "Select"  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="appointdt"><b><%= t 'staff.appointdt' %></b></label></td>
		<td><%= f.date_select :appointdt, :start_year => 1945, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
		
	<tr>
		<td class="leftcol"><label for="schemedt"><b><%= t 'staff.schemedt' %></b></label></td>
		<td><%= f.date_select :schemedt, :start_year => 1945, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="confirmdt"><b><%= t 'staff.confirmdt' %></b></label></td>
		<td><%= f.date_select :confirmdt, :start_year => 1945, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="posconfirmdate"><b><%= t 'staff.posconfirmdate' %></b></label></td>
		<td><%= f.date_select :posconfirmdate, :start_year => 1945, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
		
	<tr>
		<td class="leftcol"><label for="appointby"><b><%= t 'staff.appointby' %></b></label></td>
		<td><%= f.select :appointby, 
		                  Staff::APPOINTED,
		                 :prompt => "Select"  %></td>
	</tr>
		
	<tr>
		<td class="leftcol"><label for="svchead"><b><%= t 'staff.svchead' %></b></label></td>
		<td><%= f.select :svchead, 
		                  Staff::HOS,
		                 :prompt => "Select"  %></td>
	</tr>
		
	<tr>
		<td class="leftcol"><label for="svctype"><b><%= t 'staff.svctype' %></b></label></td>
		<td><%= f.select :svctype, 
		                  Staff::TOS,
		                 :prompt => "Select"  %></td>
	</tr>	
	
	<tr>
		<td class="leftcol"><label for="pensionstat"><b><%= t 'staff.pensionstat' %></b></label></td>
		<td><%= f.select :pensionstat, 
		                  Staff::PENSION,
		                 :prompt => "Select"  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="pensiondt"><b><%= t 'staff.pensiondt' %></b></label></td>
		<td><%= f.date_select :pensiondt, :start_year => 2010, :end_year => 2050, :order => [:day, :month, :year] %></td>
	</tr>	
	
	<tr>
		<td class="leftcol"><label for="uniformstat"><b><%= t 'staff.uniformstat' %></b></label></td>
		<td><%= f.select :uniformstat, 
		                  Staff::UNIFORM,
		                 :prompt => "Select"  %></td>
	</tr>
	
	
<!--Qualification Details-->	
    <tr>
	  <th colspan=2><%= t 'staff.tqualification' %></th>
	</tr>
	<tr>
	  <td colspan=2>
	    <table width=95%>
		  <tr>
	        <td width=210px ><label for="level_id"><b><%= t 'staff.level_id' %></b></label></td>
	        <td width=270px><label for="qname"><b><%= t 'staff.qname' %></b></label></td>
	        <td width=250px><label for="institute"><b><%= t 'staff.institute' %></b></label></td>
	         <td width=10px></td>
          </tr>
	    </table>
      </td>
    </tr>

    <tr>
	  <td colspan=2>
	    <!-- Code Block for Qualification Repeating Field -->
	    <div id="qualifications">
		  <%= render :partial => 'qualification', :collection => @staff.qualifications %>
		</div>
	  </td>
	</tr>
	<!-- End Code Block for Qualification Repeating Field -->
	<tr>
	  <td colspan=2><%= add_qualification_link (t 'icms.add') %></td>
	</tr>
			



<!-- Loan Details     -->	
    <tr>
	  <th colspan=2><%= t 'staff.loans' %></th>
    </tr>

    <tr>
	  <td colspan=2>
		<table width=100%>
		  <tr>
	         <td width=130px><label for="ltype"><b><%= t 'staff.ltype' %></b></label></td>
	         <td width=150px><label for="accno"><b><%= t 'staff.accno' %></b></label></td>
             <td width=190px><label for="startdt"><b><%= t 'staff.startdt' %></b></label></td>
 	         <td width=130px><label for="durationmn"><b><%= t 'staff.durationmn' %></b></label></td>
	         <td><label for="deductions"><b><%= t 'staff.deductions' %></b></label></td>
	         <td width=10px></td>
          </tr>
	    </table>
      </td>
    </tr>

    <tr>
	  <td colspan=2>
	    <!-- Code Block for Loans Repeating Field -->
	    <div id="loans">
		  <%= render :partial => 'loan', :collection => @staff.loans %>
		</div>
	  </td>
	</tr>
	<!-- End Code Block for Loans Repeating Field -->
	<tr>
	  <td colspan=2><%= add_loan_link (t 'icms.add') %></td>
	</tr>

		

<!--Finance Details-->
    <tr>
	  <th colspan=2><%= t 'staff.finance' %></th>
	</tr>
    <tr>
	  <td class="leftcol"><label for="kwspcode"><b><%= t 'staff.kwspcode' %></b></label></td>
	  <td><%= f.text_field :kwspcode %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="taxcode"><b><%= t 'staff.taxcode' %></b></label></td>
		<td><%= f.text_field :taxcode %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="bank"><b><%= t 'staff.bank' %></b></label></td>
		<td><%= f.select :bank, 
			              Staff::BANK,
			              :prompt => "Select"  %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="bankaccno"><b><%= t 'staff.bankaccno' %></b></label></td>
		<td><%= f.text_field :bankaccno %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="bankacctype"><b><%= t 'staff.bankacctype' %></b></label></td>
		<td><%= f.select :bankacctype, 
			              Staff::BANKTYPE,
			              :prompt => "Select"  %></td>
	</tr>
    <!--End Of Finance Details-->


    <!--Next Of Kin-->
	<tr>
	    <th colspan=2><%= t 'staff.emencengy' %></th>
    </tr>
	<tr>
		<td colspan=2>
			<!-- Code Block for Next of kins Labels -->
			<table width=100%>
				<tr>
				  <td width=150px><label for="kintype_id"><b><%= t 'staff.kintype_id' %></b></label></td>
				  <td width=235px><label for="name"><b><%= t 'staff.name' %></b></label></td>
				  <td width=100px><label for="kinbirthdt"><b><%= t 'staff.kinbirthdt' %></b><font color=#AAA size=-2>yyyymmdd</font> </label></td>
				  <td width=85px><label for="phone"><b><%= t 'staff.phone' %></b></label></td>
				  <td><label for="kinaddr"><b><%= t 'staff.kinaddr' %></b></label></td>
				  
			    </tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			<!-- Code Block for Next of kins Repeating Field -->
			<div id="kins">
		       <%= render :partial => 'kin', :collection => @staff.kins %>
			</div>
			<!-- Code Block for Next of kins Repeating Field -->
		</td>
	</tr>
	<tr>
	    <td colspan=2><%= add_kin_link (t 'icms.add') %></td>
	</tr>

</table>		
</div>	
	