<div class="tform"><!--9/12/2011- Shaliza changed Title Bar -->
 <H2><%= t 'staff.personal_details' %></H2>
<!--Personal Info-->
	<table width=100% >
	
		<tr>
			<td  width=23%><label for="icno"><font size=2>&nbsp;<%= t 'staff.icno' %></font></label><font color="red"> * </font></td>
			<td><b>:</b></td>
			<td><%= f.text_field :icno, :size => 12 %><font color="grey", size="-2"> Fill MyCardNo Without (-) </font></td>
		<tr>
			<td class="leftcol"><label for="name"><%= t 'staff.name' %></label><font color="red"> * </font></td>
			<td><b>:</b></td>
			<td><%= f.collection_select :titlecd_id, Title.find(:all, :order => 'id ASC'), :id, :name, :include_blank => true %><%= f.text_field :name %></td></tr>	
		<tr>
			<td class="leftcol"><label for="code"><%= t 'staff.code' %></label></td>
			<td><b>:</b></td>
			<td><%= f.text_field :code %></td></tr>
		<tr>
			<td class="leftcol"><label for="fileno"><%= t 'staff.fileno' %></label></td>
			<td><b>:</b></td>
			<td><%= f.text_field :fileno %></td></tr>
		<tr>
			<td class="leftcol"><label for="coemail"><%= t 'staff.coemail' %></label><font color="red"> * </font></td>
			<td><b>:</b></td>
			<td><%= f.text_field :coemail %></td></tr>
		<tr>
			<td class="leftcol"><label for="cobirthdt"><%= t 'staff.cobirthdt' %></label></td>
			<td><b>:</b></td>
			<td><%= f.date_select :cobirthdt, :start_year => 1945, :end_year => 1992, :order => [:day, :month, :year] %></td></tr>
		<tr>
			<td class="leftcol"><label for="birthcertno"><%= t 'staff.birthcertno' %></label></td>
			<td><b>:</b></td>
			<td><%= f.text_field :birthcertno %></td>
		</tr>
		<tr>	
		<tr>
			<td class="leftcol"><label for="bloodtype"><%= t 'staff.bloodtype' %></label></td>
			<td><b>:</b></td>
			<td><%= f.select :bloodtype,
			                 Staff::BLOOD_TYPE,
			                 :prompt => "Select" %></td></tr>
		<tr>
			<td class="leftcol"><label for="gender"><%= t 'staff.gender' %></label></td>
			<td><b>:</b></td>
			<td><%= f.radio_button :gender,'1' %><%= t 'staff.male' %><%= f.radio_button :gender,'2' %><%= t 'staff.female' %></td></tr>
		<tr>
			<td class="leftcol"><label for="cooftelno"><%= t 'staff.cooftelno' %></label></td>
			<td><b>:</b></td>
			<td><%= f.text_field :cooftelno, :size => 14 %>
			        <label for="cooftelext">Ext.</label>
			        <%= f.text_field :cooftelext, :size => 5 %></td></tr>
		<tr>
			<td class="leftcol"><label for="phonecell"><%= t 'staff.phonecell' %></label></td>
			<td><b>:</b></td>
			<td><%= f.text_field :phonecell, :size => 14 %></td></tr>
		<tr>
			<td class="leftcol"><label for="phonehome"><%= t 'staff.phonehome' %></label></td>
			<td><b>:</b></td>
			<td><%= f.text_field :phonehome, :size => 14 %></td></tr>
		<tr>
			<td class="leftcol"><label for="addr"><%= t 'staff.addr' %></label><font color="red"> * </font></td>
			<td><b>:</b></td>
			<td><%= f.text_area :addr, :size => "40x5" %></td></tr>
		<tr>
			<td class="leftcol"><label for="poskod_id"><%= t 'staff.poskod_id' %></label><font color="red"> * </font></td>
			<td><b>:</b></td>
			<td><%= f.text_field :poskod_id %></td></tr>
		<tr>
			<td class="leftcol"><label for="mrtlstatuscd"><%= t 'staff.mrtlstatuscd' %></label></td>
			<td><b>:</b></td>
			<td><%= f.select :mrtlstatuscd, 
			                 Staff::MARITAL_STATUS,
			                 :prompt => "Select"  %></td></tr>
		<tr>
			<td class="leftcol"><label for="statecd"><%= t 'staff.statecd' %></label><font color="red"> * </font></td>
			<td><b>:</b></td>
			<td><%= f.select :statecd, 
			                  Staff::STATECD,
			                 :prompt => "Select"  %></td></tr>
		<tr>
			<td class="leftcol"><label for="race"><%= t 'staff.race' %></label></td>
			<td><b>:</b></td>
			<td><%= f.select :race, 
			                  Staff::RACE,
			                 :prompt => "Select"  %></td></tr>
		<tr>
			<td class="leftcol"><label for="religion"><%= t 'staff.religion' %></label></td>
			<td><b>:</b></td>
			<td><%= f.select :religion, 
			                  Staff::RELIGION,
			                 :prompt => "Select"  %></td></tr>
		<tr>
			<td class="leftcol"><label for="country_cd"><%= t 'staff.country_cd' %></label><font color="red"> * </font></td>
			<td><b>:</b></td>
			<td><%= f.select :country_cd, 
			                 Staff::NATIONALITY,
			                 :prompt => "Select" %></td></tr>
		<tr>
			<td class="leftcol"><label for="transportclass_id"><%= t 'staff.transportclass_id' %></td>
			<td><b>:</b></td>
			<td><%= f.check_box :license_A %> A <%= f.check_box :license_B %> B <%= f.check_box :license_C %> C <%= f.check_box :license_D %> D <%= f.check_box :license_E %> E <%= f.check_box :license_F %> F </td>
		</tr>
</table>

<div>

	<table width=100%>
		<tr>
			<td width=23%><font size=2>&nbsp;Vehicle Reg No</font></td>
			<td width=2%><b>:</b></td>
			<td>
			<% f.fields_for :vehicleregnos do |builder| %>
				<%= render 'vehicleregno_fields', :f => builder %>
				<% end %>
				<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add More No.'), f, :vehicleregnos %> - Add More </p>
			</td>
		</tr>
</table>
</div>
<table width=100%>
		
		<tr>
			<td width=23%><label for="upload">&nbsp;<%= t 'staff.upload' %></label></td>
			<td width=2%><b>:</b></td>
			<td><%= f.file_field :photo %></td></tr>
</table>
<H2><%= t 'staff.employment_details' %></H2>

<table  width=100% >
		<tr>
			<td width=23% colspan=2><label for="staffgrade_id"><font size=2>&nbsp;<%= t 'staff.staffgrade_id' %></font></label><font color="red"> * </font></td>
			<td><b>:</b></td>
			<td><%= f.collection_select :staffgrade_id, Employgrade.find(:all, :order => 'id'), :id, :name_and_group, :include_blank => true %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="employstatus"><%= t 'staff.employstatus' %></label></td>
			<td><b>:</b></td>
			<td><%= f.select :employstatus, 
			                  Staff::STATUS,
			                 :prompt => "Select"  %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="appointstatus"><%= t 'staff.appointstatus' %></label></td>
			<td><b>:</b></td>
			<td><%= f.select :appointstatus, 
			                  Staff::APPOINTMENT,
			                 :prompt => "Select"  %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="appointdt"><%= t 'staff.appointdt' %></label></td>
			<td><b>:</b></td>
			<td><%= f.date_select :appointdt, :start_year => 1945, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="schemedt"><%= t 'staff.schemedt' %></label></td>
			<td><b>:</b></td>
			<td><%= f.date_select :schemedt, :start_year => 1945, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="confirmdt"><%= t 'staff.confirmdt' %></label></td>
			<td><b>:</b></td>
			<td><%= f.date_select :confirmdt, :start_year => 1945, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="posconfirmdate"><%= t 'staff.posconfirmdate' %></label></td>
			<td><b>:</b></td>
			<td><%= f.date_select :posconfirmdate, :start_year => 1945, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="pension_confirm_date"><%= t 'staff.pension_confirm_date' %></label></td>
			<td><b>:</b></td>
			<td><%= f.date_select :pension_confirm_date, :start_year => 2000, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="wealth_decleration_date"><%= t 'staff.wealth_decleration_date' %></label></td>
			<td><b>:</b></td>
			<td><%= f.date_select :wealth_decleration_date, :start_year => 2000, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="promotion_date"><%= t 'staff.promotion_date' %></label></td>
			<td><b>:</b></td>
			<td><%= f.date_select :promotion_date, :start_year => 2000, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="reconfirmation_date"><%= t 'staff.reconfirmation_date' %></label></td>
			<td><b>:</b></td>
			<td><%= f.date_select :reconfirmation_date, :start_year => 2000, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="to_current_grade_date"><%= t 'staff.current_grade_date' %></label></td>
			<td><b>:</b></td>
			<td><%= f.date_select :to_current_grade_date, :start_year => 2000, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="starting_salary"><%= t 'staff.starting_salary' %></label></td>
			<td><b>:</b></td>
			<td><%= f.text_field :starting_salary, :size => 14, :placeholder => 'RM' %></td><!--12/12/2011 - Shaliza added placeholder RM-->
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="appointby"><%= t 'staff.appointby' %></label></td>
			<td><b>:</b></td>
			<td><%= f.select :appointby, 
			                  Staff::APPOINTED,
			                 :prompt => "Select"  %></td>
		</tr>	
		<tr>
			<td class="leftcol" colspan=2><label for="svchead"><%= t 'staff.svchead' %></label></td>
			<td><b>:</b></td>
			<td><%= f.select :svchead, 
			                  Staff::HOS,
			                 :prompt => "Select"  %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="svctype"><%= t 'staff.svctype' %></label></td>
			<td><b>:</b></td>
			<td><%= f.select :svctype, 
			                  Staff::TOS,
			                 :prompt => "Select"  %></td>
		</tr>	
		<tr>
			<td class="leftcol" colspan=2><label for="pensionstat"><%= t 'staff.pensionstat' %></label></td>
			<td><b>:</b></td>
			<td><%= f.select :pensionstat, 
			                  Staff::PENSION,
			                 :prompt => "Select"  %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="pensiondt"><%= t 'staff.pensiondt' %></label></td>
			<td><b>:</b></td>
			<td><%= f.date_select :pensiondt, :start_year => 2010, :end_year => 2050, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>	
		<tr>
			<td class="leftcol" colspan=2><label for="uniformstat"><%= t 'staff.uniformstat' %></label></td>
			<td><b>:</b></td>
			<td><%= f.select :uniformstat, 
			                  Staff::UNIFORM,
			                 :prompt => "Select"  %></td>
		</tr>
	</table>
	
	<table   width=100% >
		<H2><%= t 'staff.finance' %></H2>
	    
	    <tr>
		  <td width=23%><label for="kwspcode"><font size=2>&nbsp;<%= t 'staff.kwspcode' %></font></label></td>
		  <td width=3%><b>:</b></td>
		  <td><%= f.text_field :kwspcode %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="taxcode"><%= t 'staff.taxcode' %></label></td>
			<td width=3%><b>:</b></td>
			<td><%= f.text_field :taxcode %></td>
		</tr>
		
	</table>
	
	<div>
	  <H2>Bank Accounts</H2>
		<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
			<th width=30% align="center"><%= t 'staff.bank' %></font></th>
			<th width=30% align="center"><%= t 'staff.bankaccno' %></th>
			<th width=30% align="center"><%= t 'staff.bankacctype' %></th>
			<th width=5% align="center"></th>
		</table>
		<% f.fields_for :bankaccounts do |builder| %>
			<%= render 'bankaccount_fields', :f => builder -%>
		<% end %>

		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :bankaccounts %> - <%= t 'icms.add' %> </p>
	</div>	

	<div><!--12/12/2011 - Shaliza changed label name nested model-->
	  <H2><%= t 'staff.tqualification' %></H2>
		<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
			<th width=30% align="center">Level Type </font></th>
			<th width=30% align="center">Qualification Name</th>
			<th width=35% align="center">Institute Name</th>
			<th width=5% align="center"></th>
		</table>
		<% f.fields_for :qualifications do |builder| %>
			<%= render 'qualification_fields', :f => builder %>
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :qualifications %> - <%= t 'icms.add' %> </p>
	</div>
	
	<div><!--12/12/2011 - Shaliza changed label name nested model-->
	  <H2><%= t 'staff.loans' %></H2>
		<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
			<th width=20% align="center"><%= t 'staff.ltype' %> </font></th>
			<th width=20% align="center"><%= t 'staff.accno' %></th>
			<th width=18% align="center"><%= t 'staff.startdt' %></th>
			<th width=18% align="center"><%= t 'staff.durationmn' %></th>
			<th width=18% align="center"><%= t 'staff.deductions' %></th>
			<th width=5% align="center"></th>
		</table>
		<% f.fields_for :loans do |builder| %>
			<%= render 'loan_fields', :f => builder %>
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :loans %> - <%= t 'icms.add' %> </p>
	</div>

	<div><!--12/12/2011 - Shaliza changed label name nested model-->
	  <H2>Individu Course</H2>
		<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
			<th width=20% align="center">Course Name </font></th>
			<th width=25% align="center">Start Date</th>
			<th width=25% align="center">End Date</th>
			<th width=20% align="center">Place</th>
			<th width=5% align="center"></th>
		</table>
		<% f.fields_for :individu_courses do |builder| %>
			<%= render 'individu_course_fields', :f => builder %>
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :individu_courses %> - <%= t 'icms.add' %> </p>
	</div>
	
	<div>
	  <H2><%= t 'staff.emencengy' %></H2>
		<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
			<th width=17% align="center"><%= t 'student.kintype_id' %></th>
			<th width=17% align="center"><%= t 'student.name' %></th>
			<th width=12% align="center"><%= t 'student.icno' %></th>
			<th width=12% align="center"><%= t 'staff.phone' %></th>
			<th width=15% align="center">Profession</th>
			<th width=20% align="center">Address</th>
			<th width=3% align="center"></th>
		</table>
		<% f.fields_for :kins do |builder| %>
			<%= render 'kin_fields', :f => builder %>
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add More'), f, :kins %> - <%= t 'icms.add' %> </p>
	</div>

</div>
	