<div class="fields">
<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
	<td width=20%><%= f.text_area :course_name, :size => "15x2" %></td>
	<td width=25% ><%= f.date_select :start_course, :start_year => 2012, :order => [:day, :month, :year], :include_blank => true %>  </td>
	<td width=25% ><%= f.date_select :end_course, :start_year => 2012, :order => [:day, :month, :year], :include_blank => true %></td>
	<td width=20%><%= f.text_area :loc_course, :size => "13x2" %></td><%= f.hidden_field :_destroy %>
	<td width=5%><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %></td>
</table>
</div>