<div class="kin">
	<% new_or_existing = kin.new_record? ? 'new'  : 'existing' %>
	<% prefix = "staff[#{new_or_existing}_kin_attributes][]" %>
	
	<% fields_for prefix, kin do | kin_form | -%>

    <table width=100%>
	   <tr>
	     <td width=150px><%= kin_form.select :kintype_id, Kin::KTYPE, :prompt => "Select" %></td>
         <td width=235px><%= kin_form.text_field :name, :size => 31  %></td>
         <td width=100px><%= kin_form.text_field :kinbirthdt, :size => 12 %></td>
		 <td width=85px><%= kin_form.text_field :phone, :size => 10  %></td>
		 <td><%= kin_form.text_field :kinaddr, :size => 40 %></td>
         <td width=10px><%= link_to_function "remove", "$(this).up('.kin').remove()" %></td>
       </tr>
    </table>
    
   
   <% end -%>
</div>