<div class="fields">
	|  <%= f.select :kintype_id, Kin::KTYPE, :prompt => "Select Type" %>        
	|  <%= f.text_field :name, :size => 31, :placeholder => 'Name' %>                                  
  |  <%= f.text_field :kinbirthdt, :size => 15, :placeholder => 'DOB yyyyddmm' %>
	|  <%= f.text_field :phone, :size => 12, :placeholder => 'Phone No' %> 	
	|  <%= f.text_field :profession, :size => 25, :placeholder => 'Profession' %>
	<BR>                             
	|  <%= f.text_area :kinaddr, :size => '106x3', :placeholder => 'Address' %><%= f.hidden_field :_destroy %>
	<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>        
</div>
 <BR>
