<div class="fields">
<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
<td width=20%><%= f.select :ltype, Loan::LTYPE %></td>         
<td width=20%><%= f.text_field :accno, :size => 20 %></td>                                  
<td width=18%><%= f.text_field :startdt, :size => 15 %></td>
<td width=18%><%= f.text_field :durationmn, :size => 15 %></td> 	                                
<td width=18%><%= f.text_field :deductions, :size => 15 %><%= f.hidden_field :_destroy %></td>
<td width=5%>	<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %></td>   
</table>      
</div>

