<div class="fields">
	<div style="width: 150px; float: left;">|  <%= f.select :ltype, Loan::LTYPE, :prompt => "Select Loan Type" %></div>      
	<div style="width: 210px; float: left;">|  <%= f.text_field :accno, :size => 25, :placeholder => 'Account No' %></div>                                  
  <div style="width: 120px; float: left;">|  <%= f.text_field :startdt, :size => 12, :placeholder => 'Loan yyyyddmm' %></div>
	<div style="width: 120px; float: left;">|  <%= f.text_field :durationmn, :size => 12, :placeholder => 'Months Duration' %></div>
	<div style="width: 100px; float: left;">|  <%= f.text_field :amount, :size => 9, :placeholder => '(RM)' %></div> 	                                
	<div style="width: 100px; float: left;">|  <%= f.text_field :deductions, :size => 9, :placeholder => '(RM)' %></div>
	<div style="width: 15px; float: right; margin-right: 40px;"><%= f.hidden_field :_destroy %>
	<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %></div>
	<BR>     
</div>
 <BR>
<!-- <#% f.date_select :startdt, :start_year => 1970, :order => [:day, :month, :year], :include_blank => true %> -->

