<div class="fields">
	<%= f.hidden_field :_destroy%>
	<div style="width: 250px; float: left;">|  <%= f.text_field :type_model, :placeholder => (t 'vehicles.type_model')%></div>
	<div style="width: 250px; float: left;">|  <%= f.text_field :reg_no, :placeholder => (t 'vehicles.reg_no') %></div>
	<div style="width: 250px; float: left;">|  <%= f.text_field :cylinder_capacity, :placeholder => (t 'vehicles.cylinder_capacity') %></div>
	<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => (t 'remove')), f %>
</div>

