<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
		<script>
		document.write("<input type='button' " +
		"onClick='window.print()' " +
		"class='printbutton' " +
		"value='Print This Page'/>");
		</script>
<form>
<BR><fieldset width=10px >

<div id="borangmaklumat">	
<table width=100% border="0" cellspacing="0">
	<tr>
		<td width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="100" height="100"/></td>
		<td align=center><BR><H4>PUSAT LATIHAN DAN AKADEMI MARITIM MALAYSIA (PLAMM)<BR>GEBENG,KUANTAN <BR><BR>BORANG MAKLUMAT DIRI STAF</H4> </td>
		<td width="2%"><img border="0" src="/images/maritim.png" alt="" width="100" height="100"/></td>
	</tr>
</table>
<BR>
<table width=100% border=0 cellspacing=0 cellpadding=5>
	<tr>
		<th colspan = 5 bgcolor="#D8D8D8"><b><%= t 'staff.personal_details' %></b></th>
	</tr>
	
	<tr>
		<td ></td>
		<td ></td>
		<td ></td>
		<td align=right  rowspan=9><% if @staff.photo.exists? then %>
		  <%= image_tag (@staff.photo.url, :size => '150x200') %>
		  <% else %>
		  No Photo<BR>Available
		<% end %></td>
	</tr>
	<tr>
		<td width="23%">  <label for="icno"><font size=2><%= t 'staff.icno' %></font></label></td>
		<td width="3%" ><b>:</b></td>
		<td width="55%"><%=h @staff.formatted_mykad %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name"><%= t 'staff.name' %></label></td>
		<td><b>:</b></td>
		<td><%=h @staff.title_for_staff %> <%=h @staff.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="code"><%= t 'staff.code' %></label></td>
		<td><b>:</b></td>
		<td><%=h @staff.code %>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="fileno"><%= t 'staff.fileno' %></label></td>
		<td><b>:</b></td>
		<td><%=h @staff.fileno %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="coemail"><%= t 'staff.coemail' %></label></td>
		<td><b>:</b></td>
		<td><%=h @staff.coemail %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="cobirthdt"><%= t 'staff.cobirthdt' %></label></td>
		<td><b>:</b></td>
		<td><%=h @staff.cobirthdt.strftime("%d-%b-%Y") %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="birthcertno"><%= t 'staff.birthcertno' %></label></td>
		<td><b>:</b></td>
		<td><%=h @staff.birthcertno %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="Age"><%= t 'staff.age' %></label></td>
		<td><b>:</b></td>
		<td><%=h @staff.age %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="bloodtype"><%= t 'staff.bloodtype' %></label></td>
		<td><b>:</b></td>
		<td><%=h (Staff::BLOOD_TYPE.find_all{|disp, value| value == @staff.bloodtype}).map {|disp, value| disp} %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="gender"><%= t 'staff.gender' %></label></td>
		<td><b>:</b></td>
		<td><%=h (Staff::GENDER.find_all{|disp, value| value == @staff.gender.to_s}).map {|disp, value| disp} %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="cooftelno"><%= t 'staff.cooftelno' %></label></td>
		<td><b>:</b></td>
		<td><%=h @staff.cooftelno %>  <label for="cooftelext"> <b>Ext</b></label> <%=h @staff.cooftelext %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="phonecell"><%= t 'staff.phonecell' %></label></td>
		<td><b>:</b></td>
		<td><%=h @staff.phonecell %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="phonehome"><%= t 'staff.phonehome' %></label></td>
		<td><b>:</b></td>
		<td><%=h @staff.phonehome %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="addr"><%= t 'staff.addr' %></label></td>
		<td><b>:</b></td>
		<td><%=h @staff.addr %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="regdate"><%= t 'staff.poskod_id' %></label></td>
		<td><b>:</b></td>
		<td><%=h @staff.poskod_id %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="mrtlstatuscd"><%= t 'staff.mrtlstatuscd' %></label></td>
		<td><b>:</b></td>
		<td><%=h (Staff::MARITAL_STATUS.find_all{|disp, value| value == @staff.mrtlstatuscd }).map {|disp, value| disp} %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="statecd"><%= t 'staff.statecd' %></label></td>
		<td><b>:</b></td>
		<td><%=h (Staff::STATECD.find_all{|disp, value| value == @staff.statecd}).map {|disp, value| disp} %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="race"><%= t 'staff.race' %></label></td>
		<td><b>:</b></td>
		<td><%=h (Staff::RACE.find_all{|disp, value| value == @staff.race}).map {|disp, value| disp} %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="religion"><%= t 'staff.religion' %></label></td>
		<td><b>:</b></td>
		<td><%=h (Staff::RELIGION.find_all{|disp, value| value == @staff.religion}).map {|disp, value| disp} %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="country_cd "><%= t 'staff.country_cd' %></label></td>
		<td><b>:</b></td>
		<td><%=h (Staff::NATIONALITY.find_all{|disp, value| value == @staff.country_cd}).map {|disp, value| disp} %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="transportclass_id"><%= t 'staff.transportclass_id' %></td>
		<td><b>:</b></td>
		<td><%=h @staff.license_A? ? "A" : "" %><%=h @staff.license_B? ? "B" : "" %>
			<%=h @staff.license_C? ? "C" : "" %><%=h @staff.license_D? ? "D" : "" %>
			<%=h @staff.license_E? ? "E" : "" %><%=h @staff.license_F? ? "E" : "" %></td>
	</tr>
	<tr>
		<td class="leftcol" ><label for="vehicleregno"><%= t 'staff.vehicle' %></label></td>
		<td><b>:</b></td>
		<td><% for vehicleregno in @staff.vehicleregnos %>
					<%=h vehicleregno.reg_no %>,
			<% end %>
		</td>	
	</tr>
	
	<tr>
		<th colspan = 4><b><%= t 'staff.employment_details' %></b></th>
	</tr>

	<tr>
		<td class="leftcol"><label for="staffgrade_id"><font size=2><%= t 'staff.staffgrade_id' %></font></label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @staff.staffgrade_id.blank? ? "" : @staff.staffgrade.name_and_group %></td>
	</tr>
	<tr>
		<td class="leftcol" ><label for="position_id"><%= t 'staff.position_id' %></label></td>
		<td><b>:</b></td>
		<td><%=h @staff.position.blank? ? "-" : @staff.position.positionname %></td>
	</tr>
	<tr>
		<td class="leftcol" ><label for="Reports To"><%= t 'staff.reports_to' %></label></td>
		<td><b>:</b></td>
		<td><%=h @staff.render_reports_to %></td>
	</tr>
	<tr>
		<td class="leftcol" ><label for="employstatus"><%= t 'staff.employstatus' %></label></td>
		<td><b>:</b></td>
		<td><%=h (Staff::STATUS.find_all{|disp, value| value == @staff.employstatus}).map {|disp, value| disp} %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="appointstatus"><%= t 'staff.appointstatus' %></label></td>
		<td><b>:</b></td>
		<td><%=h (Staff::APPOINTMENT.find_all{|disp, value| value == @staff.appointstatus.to_s}).map {|disp, value| disp} %></td>
	</tr>
	<tr>
		<td class="leftcol" ><label for="appointdt "><%= t 'staff.appointdt' %></label></td>
		<td><b>:</b></td>
		<td><%=h @staff.appointdt.blank? ? "-" : @staff.appointdt.strftime("%d-%b-%Y")  %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="schemedt"><%= t 'staff.schemedt' %></label></td>
		<td><b>:</b></td>
		<td><%=h @staff.schemedt.blank? ? "-" : @staff.schemedt.strftime("%d-%b-%Y")  %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="confirmdt"><%= t 'staff.confirmdt' %></label></td>
		<td><b>:</b></td>
		<td><%=h @staff.confirmdt.blank? ? "-" : l(@staff.confirmdt) %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><%= t 'staff.posconfirmdate' %></td>
		<td><b>:</b></td>
		<td><%=h @staff.posconfirmdate.blank? ? "-" : @staff.posconfirmdate.strftime("%d-%b-%Y") %></td>
	</tr>
		
	<tr>
		<td class="leftcol"><%= t 'staff.wealth_decleration_date' %></td>
		<td><b>:</b></td>
		<td><%=h @staff.wealth_decleration_date.blank? ? "-" : @staff.wealth_decleration_date.strftime("%d-%b-%Y")  %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><%= t 'staff.promotion_date' %></td>
		<td><b>:</b></td>
		<td><%=h @staff.promotion_date.blank? ? "-" : @staff.promotion_date.strftime("%d-%b-%Y")  %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><%= t 'staff.reconfirmation_date' %></td>
		<td><b>:</b></td>
		<td><%=h @staff.reconfirmation_date.blank? ? "-" : @staff.reconfirmation_date.strftime("%d-%b-%Y") %></td>
	</tr>
	
		<tr>
			<td class="leftcol"><%= t 'staff.current_grade_date' %></td>
			<td><b>:</b></td>
			<td><%=h @staff.to_current_grade_date.blank? ? "-" : @staff.to_current_grade_date.strftime("%d-%b-%Y")  %></td>
		</tr>
	
		<tr>
			<td class="leftcol" ><%= t 'staff.starting_salary' %></td>
			<td><b>:</b></td>
			<td><%=h ringgols(@staff.starting_salary ) %></td>
		</tr>
	
		<!-- EOF 14 April 2010 MYMN -->
		<tr>
			<td class="leftcol"><label for="appointby"><%= t 'staff.appointby' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Staff::APPOINTED.find_all{|disp, value| value == @staff.appointby }).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="svchead"><%= t 'staff.svchead' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Staff::HOS.find_all{|disp, value| value == @staff.svchead }).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="svctype "><%= t 'staff.svctype' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Staff::TOS.find_all{|disp, value| value == @staff.svctype }).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="pensionstat "><%= t 'staff.pensionstat' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Staff::PENSION.find_all{|disp, value| value == @staff.pensionstat}).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol" ><label for="pensiondt"><%= t 'staff.pensiondt' %></label></td>
			<td><b>:</b></td>
			<td><%=h @staff.pensiondt.blank? ? "-" : @staff.pensiondt.strftime("%d-%b-%Y")  %></td>
		</tr>
		<tr>
			<td class="leftcol" ><%= t 'staff.pension_confirm_date' %></td>
			<td><b>:</b></td>
			<td><%=h @staff.pension_confirm_date.blank? ? "-" : @staff.pension_confirm_date.strftime("%d-%b-%Y")  %></td>
		</tr>
	
		<tr>
			<td class="leftcol" ><label for="uniformstat "><%= t 'staff.uniformstat' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Staff::UNIFORM.find_all{|disp, value| value == @staff.uniformstat }).map {|disp, value| disp} %></td>
		</tr>
		
		<tr>
			<th colspan = 4><b><%= t 'staff.finance' %></b></th>
		</th>
		
		<tr>
			  <td class="leftcol"><label for="kwspcode">&nbsp;<%= t 'staff.kwspcode' %></label></td>
			  <td><b>:</b></td>
			  <td><%=h @staff.kwspcode %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="taxcode"><%= t 'staff.taxcode' %></label></td>
				<td><b>:</b></td>
				<td><%=h @staff.taxcode %></td>
			</tr>
			<tr>
				<td class="leftcol"><%= t 'staff.bankaccno' %></td>
				<td><b>:</b></td>
				<td>
					<% for bankaccount in @staff.bankaccounts %>
							<%=h bankaccount.bank.long_name %>   -   
							<%=h bankaccount.account_no %>  -   
							<%=h (Bankaccount::BANKTYPE.find_all{|disp, value| value == bankaccount.account_type }).map {|disp, value| disp} %><BR>
					<% end %>
				</td>
			</tr>
	</tr>

	<% for qualification in @staff.qualifications %>
  

	<tr>
		<th colspan = 4><b><%= t 'staff.tqualification' %></b></th>
	</tr>
	<tr>
		
		<td colspan=4>

			<table width=100% border=1 cellspacing=0 BORDERCOLOR="#808080 " cellpadding=4>

		<tr>
			<td width=30% align="center"><label for="level_id "><b><%= t 'staff.level_id' %></b></label></td>
			<td width=30% align="center"><label for="qname "> <b><%= t 'staff.qname' %></b></label></td>
			<td width=30% align="center"><label for="institute "><b><%= t 'staff.institute' %></b></label></td>
		</tr>
		<% for qualification in @staff.qualifications %>
		<tr>
			<td width=30%><%=h (Qualification::QTYPE.find_all{|disp, value| value == qualification.level_id}).map {|disp, value| disp} %></td>
			<td width=30%><%=h qualification.qname %></td>
			<td width=30%><%=h qualification.institute %></td>
		</tr>
		<% end %>
		</table></td>
	</tr>
	<tr>
		<th colspan = 4><b><%= t 'staff.loans' %></b></th>
	</tr>
	<tr>
		<td colspan=4>
		<table width=100% border=1 cellspacing=0 BORDERCOLOR="#808080  " cellpadding=4>
		<tr>
			<td width=20% align="center"><label for="ltype "><b><%= t 'staff.ltype' %></b></label></td>
			<td width=20% align="center"><label for="accno "><b><%= t 'staff.accno' %></b></label></td>
			<td width=18% align="center"><label for="startdt "><b><%= t 'staff.startdt' %></b></label></td>
			<td width=18% align="center"><label for="durationmn "><b><%= t 'staff.durationmn' %></b></label></td>
			<td width=18% align="center"><label for="deductions "><b><%= t 'staff.deductions' %></b></label></td>	
		</tr>
		<% for loan in @staff.loans %>
		<tr>
			<td width=20%><%=h (Loan::LTYPE.find_all{|disp, value| value == loan.ltype}).map {|disp, value| disp} %></td>
			<td width=20%><%=h loan.accno %></td>
			<td width=18%><%=h loan.startdt %></td>
			<td width=18%><%=h loan.durationmn %> Months</td>
			<td width=18%>RM <%=h loan.deductions %></td>
		</tr>
	<% end %>
	</table></td></tr>
	<tr>
		<th colspan = 4><b>Individu Course</b></th>
	</tr>
	<tr>
		<td colspan=4>
		<table width=100% border=1 cellspacing=0 BORDERCOLOR="#808080" cellpadding=4>
		<tr>
			<td width=25% align="center"><b><%= t 'staff.course_name' %></b></font></td>
			<td width=25% align="center"><b><%= t 'staff.start_course' %></b></td>
			<td width=25% align="center"><b><%= t 'staff.end_course' %></b></td>
			<td width=20% align="center"><b><%= t 'staff.loc_course' %></b></td>
		</tr>
		<% for individu_course in @staff.individu_courses %>
		<tr>
			<td width=25%><%=h individu_course.course_name %></td>
			<td width=25% align="center"><%=h individu_course.start_course %>  </td>
			<td width=25% align="center"><%=h individu_course.end_course %></td>
			<td width=20%><%=h individu_course.loc_course %></td>
		</tr>
		<% end %>
	</table></td>
	</tr>
	<tr>
		<th colspan = 4><b><%= t 'staff.emencengy' %></b></th>
	</tr>
	
	<tr>
		<td colspan=4>
		<table width=100% border=1 cellspacing=0 BORDERCOLOR="#808080 " cellpadding=4>
		<tr>
			<td width=15% align="center"><label for="kintype_id "><b><%= t 'student.kintype_id' %></b></label></td>
			<td width=15% align="center"><label for="name "><b><%= t 'student.name' %></b></label></td>
			<td width=12% align="center"><label for="icno "><b><%= t 'student.icno' %></b></label></td>
			<td width=12% align="center"><label for="phone "><b><%= t 'student.stelno' %></b></label></td>
			<td width=15% align="center"><label for="profession "><b><%= t 'student.profession' %></b></label></td>
			<td width=20% align="center"><label for="kinaddr "><b><%= t 'student.kinaddr' %></b></label></td>
		</tr>
			<% for kin in @staff.kins %>
		<tr>
			<td><%=h (Kin::KTYPE.find_all{|disp, value| value == kin.kintype_id}).map {|disp, value| disp} %></td>
			<td><%=h kin.name %></td>
			<td><%=h kin.mykadno %></td>
			<td><%=h kin.phone %></td>
			<td><%=h kin.profession %></td>
			<td><%=h kin.kinaddr %></td>
		</tr>
			<% end %>
		</table></td>
		</tr>
	

<% end %>
</table>
<BR>
</div>
</fieldset>
<BR>
<div id="hideLink">
<%= link_to (t 'icms.back'), staffs_path %>
</div>
