<h3><%= t 'staff.edit' %></h3>

<% form_for (@staff, :html =>{ :multipart => true}) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals =>{:f => f} %> 

  <p>
    <%= f.submit(t 'update') %>
  </p>
<% end %>

<%= link_to (t 'show'), @staff %> |
<%= link_to (t 'back'), staffs_path %>