<h3>Editing Staff</h3>

<% form_for (@staff, :html => { :multipart => true}) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @staff %> |
<%= link_to 'Back', staffs_path %>