<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left"><%= t 'staff.list' %></h2>
		<div class="right">
			<% form_tag staffs_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search], :placeholder => "MyKadNo, Name"  %>
			<%= submit_tag I18n.t('search'), :icno => nil %>
			<% end %>
		</div>
  </div>
</div>

<div class="indextable">
	<table width=100%>
  	<tr>
		<th width=2%>Bil</th>
    	<th width=13%><%= t 'staff.icno' %></th>
		<th width=30%><%= t 'staff.name' %></th>
		<th width=25%><%= t 'staff.position' %></th>
		<th width=25%>Unit</th>
		<th colspan=4 class="ac" ><%= t 'control' %></th>
  	</tr>

	 <% bil = 0 %>
		<% @staffs.each do |staff| %>
	 <% bil += 1 %>
	
    <tr>
	    <td align="center"><%=h bil %></td>
        <td><%=h staff.formatted_mykad %></td>
        <td><%=h staff.title_for_staff %> <%=h staff.name %></td>
        <td><%=h staff.position.blank? ? "-" : staff.position.positionname %></td>
	    <td><%=h staff.position.blank? ? "-" : staff.position.unit %></td>
        <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => staff %></td>   
        <td width=10px>
        <% if permitted_to? :update, staff%><!--Update/Edit records will be done by owner of records only-->
	    <%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => staff %><% end %></td>
        <% if permitted_to? :destroy, @staff%><!--Staff Records can be delete by Staff Administration only -->
        <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), staff, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
        <td width=10px><!--Borang Maklumat Staf- can be print by owner of records only-->
	    <% if permitted_to? :borang_maklumat_staff, staff%>
	    <%= link_to image_tag("printer.png", :border => 0, :title => 'Borang Maklumat Staf'), :action => 'borang_maklumat_staff', :id => staff %>
	    <% end %></td>
    </tr>
    <% end %>
	</table>

</div>
<br />
<% if permitted_to? :create, @staff%>
<%= link_to (t 'staff.create'), new_staff_path %>
<% end %>
<br />