<h3><%= t 'staff.new' %></h3>

<% form_for (@staff, :html => { :multipart => true}) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit (t 'icms.submit') %>
  </p>
<% end %>

<%= link_to (t 'icms.back'), staffs_path %>