<div class="tform">
	<div class="photo">
		
	</div>
  
	<H2><%= t 'staff.personal_details' %></H2>
	<table width=100% border=0>
		<tr>
			<td ></td>
			<td ></td>
			<td ></td>
			<td ></td>
		<td align=right rowspan=9><% if @staff.photo.exists? then %>
		  <%= image_tag (@staff.photo.url, :size => '150x200') %>
		<% else %>
		  No Photo<BR>Available
		<% end %></td>
		</tr>
		<tr>
			<td width=23% colspan=2><label for="icno"><font size=2>&nbsp;<%= t 'staff.icno' %></font></label></td>
			<td><b>:</b></td>
			<td><%=h @staff.formatted_mykad %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="name"><%= t 'staff.name' %></label></td>
			<td><b>:</b></td>
			 <td><%=h @staff.title_for_staff %> <%=h @staff.name %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="code"><%= t 'staff.code' %></label></td>
			<td><b>:</b></td>
			 <td><%=h @staff.code %>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="fileno"><%= t 'staff.fileno' %></label></td>
			<td><b>:</b></td>
		    <td><%=h @staff.fileno %></td>
		</tr>
	
	<!--	<tr>
			<td class="leftcol"><label for="position_id"><%= t 'staff.position' %> :</label></td>
			 <td><%=h @staff.position.blank? ? "-" : @staff.position.positionname %></td>
		</tr>-->
	
		<tr>
			<td class="leftcol" colspan=2><label for="coemail"><%= t 'staff.coemail' %></label></td>
			<td><b>:</b></td>
			 <td><%=h @staff.coemail %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="cobirthdt"><%= t 'staff.cobirthdt' %></label></td>
			<td><b>:</b></td>
			<td><%=h @staff.cobirthdt.blank? ? "-" : @staff.cobirthdt.strftime("%d-%b-%Y") %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="birthcertno"><%= t 'staff.birthcertno' %></label></td>
			<td><b>:</b></td>
			<td><%=h @staff.birthcertno %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="Age"><%= t 'staff.age' %></label></td>
			<td><b>:</b></td>
			<td><%=h @staff.age %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="bloodtype"><%= t 'staff.bloodtype' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Staff::BLOOD_TYPE.find_all{|disp, value| value == @staff.bloodtype}).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="gender"><%= t 'staff.gender' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Staff::GENDER.find_all{|disp, value| value == @staff.gender.to_s}).map {|disp, value| disp} %></td>
	  </tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="cooftelno"><%= t 'staff.cooftelno' %></label></td>
			<td><b>:</b></td>
			<td><%=h @staff.cooftelno %>  <label for="cooftelext"> <b>Ext</b></label> <%=h @staff.cooftelext %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="phonecell"><%= t 'staff.phonecell' %></label></td>
			<td><b>:</b></td>
			<td><%=h @staff.phonecell %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="phonehome"><%= t 'staff.phonehome' %></label></td>
			<td><b>:</b></td>
			<td><%=h @staff.phonehome %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="addr"><%= t 'staff.addr' %></label></td>
			<td><b>:</b></td>
			<td><%=h @staff.addr %></td>
		
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="regdate"><%= t 'staff.poskod_id' %></label></td>
			<td><b>:</b></td>
			<td><%=h @staff.poskod_id %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="mrtlstatuscd"><%= t 'staff.mrtlstatuscd' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Staff::MARITAL_STATUS.find_all{|disp, value| value == @staff.mrtlstatuscd }).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="statecd"><%= t 'staff.statecd' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Staff::STATECD.find_all{|disp, value| value == @staff.statecd}).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="race"><%= t 'staff.race' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Staff::RACE.find_all{|disp, value| value == @staff.race}).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="religion"><%= t 'staff.religion' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Staff::RELIGION.find_all{|disp, value| value == @staff.religion}).map {|disp, value| disp} %></td>
		</tr>
	
	
		<tr>
			<td class="leftcol" colspan=2><label for="country_cd "><%= t 'staff.country_cd' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Staff::NATIONALITY.find_all{|disp, value| value == @staff.country_cd}).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
				<td class="leftcol" colspan=2><label for="transportclass_id"><%= t 'staff.transportclass_id' %></td>
				<td><b>:</b></td>
				<td><%=h @staff.license_A? ? "A" : "" %><%=h @staff.license_B? ? "B" : "" %>
					<%=h @staff.license_C? ? "C" : "" %><%=h @staff.license_D? ? "D" : "" %>
					<%=h @staff.license_E? ? "E" : "" %><%=h @staff.license_F? ? "E" : "" %></td>
		</tr>
		<tr>
				<td class="leftcol" colspan=2><label for="vehicleregno"><%= t 'staff.vehicle' %></label></td>
				<td><b>:</b></td>
				<td><% for vehicleregno in @staff.vehicleregnos %>
					<%=h vehicleregno.reg_no %>,
				<% end %>
				</td>	
		</tr>
	</table>
	<H2><%= t 'staff.employment_details' %></H2>
	<table width=100% >	
		<tr>
			<td width=23% colspan=2><label for="staffgrade_id"><font size=2>&nbsp;<%= t 'staff.staffgrade_id' %></font></label></td>
			<td width=3%><b>:</b></td>
			<td><%=h @staff.staffgrade_id.blank? ? "" : @staff.staffgrade.name_and_group %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="position_id"><%= t 'staff.position_id' %></label></td>
			<td><b>:</b></td>
			<td><%=h @staff.position.blank? ? "-" : @staff.position.positionname %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="Reports To"><%= t 'staff.reports_to' %></label></td>
			<td><b>:</b></td>
			<td><%=h @staff.render_reports_to %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="employstatus"><%= t 'staff.employstatus' %></label></td>
			<td><b>:</b></td>
		<td><%=h (Staff::STATUS.find_all{|disp, value| value == @staff.employstatus}).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="appointstatus"><%= t 'staff.appointstatus' %></label></td>
			<td><b>:</b></td>
		<td><%=h (Staff::APPOINTMENT.find_all{|disp, value| value == @staff.appointstatus.to_s}).map {|disp, value| disp} %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="appointdt "><%= t 'staff.appointdt' %></label></td>
			<td><b>:</b></td>
			<td><%=h @staff.appointdt.blank? ? "-" : @staff.appointdt.strftime("%d %b %Y")  %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><label for="schemedt"><%= t 'staff.schemedt' %></label></td>
			<td><b>:</b></td>
			<td><%=h @staff.schemedt.blank? ? "-" : @staff.schemedt.strftime("%d %b %Y")  %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="confirmdt"><%= t 'staff.confirmdt' %></label></td>
			<td><b>:</b></td>
			<td><%=h @staff.confirmdt.blank? ? "-" : @staff.confirmdt.strftime("%d %b %Y") %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><%= t 'staff.posconfirmdate' %></td>
			<td><b>:</b></td>
			<td><%=h @staff.posconfirmdate.blank? ? "-" : @staff.posconfirmdate.strftime("%d %b %Y") %></td>
		</tr>
		<!-- 14 April 2010 MYMN -->
		<tr>
			<td class="leftcol" colspan=2><%= t 'staff.wealth_decleration_date' %></td>
			<td><b>:</b></td>
			<td><%=h @staff.wealth_decleration_date.blank? ? "-" : @staff.wealth_decleration_date.strftime("%d %b %Y")  %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><%= t 'staff.promotion_date' %></td>
			<td><b>:</b></td>
			<td><%=h @staff.promotion_date.blank? ? "-" : @staff.promotion_date.strftime("%d %b %Y")  %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><%= t 'staff.reconfirmation_date' %></td>
			<td><b>:</b></td>
			<td><%=h @staff.reconfirmation_date.blank? ? "-" : @staff.reconfirmation_date.strftime("%d %b %Y") %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><%= t 'staff.current_grade_date' %></td>
			<td><b>:</b></td>
			<td><%=h @staff.to_current_grade_date.blank? ? "-" : @staff.to_current_grade_date.strftime("%d %b %Y")  %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><%= t 'staff.starting_salary' %></td>
			<td><b>:</b></td>
			<td><%=h ringgols(@staff.starting_salary ) %></td>
		</tr>
	
		<!-- EOF 14 April 2010 MYMN -->
		<tr>
			<td class="leftcol" colspan=2><label for="appointby"><%= t 'staff.appointby' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Staff::APPOINTED.find_all{|disp, value| value == @staff.appointby }).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="svchead"><%= t 'staff.svchead' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Staff::HOS.find_all{|disp, value| value == @staff.svchead }).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="svctype "><%= t 'staff.svctype' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Staff::TOS.find_all{|disp, value| value == @staff.svctype }).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="pensionstat "><%= t 'staff.pensionstat' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Staff::PENSION.find_all{|disp, value| value == @staff.pensionstat}).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="pensiondt"><%= t 'staff.pensiondt' %></label></td>
			<td><b>:</b></td>
			<td><%=h @staff.pensiondt.blank? ? "-" : @staff.pensiondt.strftime("%d %b %Y")  %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2><%= t 'staff.pension_confirm_date' %></td>
			<td><b>:</b></td>
			<td><%=h @staff.pension_confirm_date.blank? ? "-" : @staff.pension_confirm_date.strftime("%d %b %Y")  %></td>
		</tr>
	
		<tr>
			<td class="leftcol" colspan=2><label for="uniformstat "><%= t 'staff.uniformstat' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Staff::UNIFORM.find_all{|disp, value| value == @staff.uniformstat }).map {|disp, value| disp} %></td>
		</tr>
		
</table>
<H2><%= t 'staff.finance' %></H2>
	<table width=100%>
			<tr>
			  <td width=23% colspan=2><label for="kwspcode">&nbsp;<%= t 'staff.kwspcode' %></label></td>
			  <td><b>:</b></td>
			  <td><%=h @staff.kwspcode %></td>
			</tr>
			<tr>
				<td class="leftcol" colspan=2><label for="taxcode"><%= t 'staff.taxcode' %></label></td>
				<td><b>:</b></td>
				<td><%=h @staff.taxcode %></td>
			</tr>
			<tr>
				<td class="leftcol" colspan=2>Bank Accounts</td>
				<td><b>:</b></td>
				<td>
					<% for bankaccount in @staff.bankaccounts %>
							<%=h bankaccount.bank.long_name %>   -   
							<%=h bankaccount.account_no %>  -   
							<%=h (Bankaccount::BANKTYPE.find_all{|disp, value| value == bankaccount.account_type }).map {|disp, value| disp} %><BR>
					<% end %>
				</td>
			</tr>
</table>
<H2><%= t 'staff.tqualification' %></H2>
<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">

		<tr>
			<th width=30% align="center"><label for="level_id "><%= t 'staff.level_id' %> :</label></th>
			<th width=30% align="center"><label for="qname "> <%= t 'staff.qname' %> :</label></th>
			<th width=30% align="center"><label for="institute "><%= t 'staff.institute' %> :</label></th>
		</tr>
		<% for qualification in @staff.qualifications %>
		<tr>
			<td width=30%><%=h (Qualification::QTYPE.find_all{|disp, value| value == qualification.level_id}).map {|disp, value| disp} %></td>
			<td width=30%><%=h qualification.qname %></td>
			<td width=30%><%=h qualification.institute %></td>
		</tr>
		<% end %>
</table>
<H2><%= t 'staff.loans' %></H2>
<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
		<tr>
			<th width=20% align="center"><label for="ltype "> <%= t 'staff.ltype' %></label></th>
			<th width=20% align="center"><label for="accno "><%= t 'staff.accno' %></label></th>
			<th width=18% align="center"><label for="startdt "><%= t 'staff.startdt' %></label></th>
			<th width=18% align="center"><label for="durationmn "><%= t 'staff.durationmn' %></label></th>
			<th width=18% align="center"><label for="deductions "><%= t 'staff.deductions' %></label></th>	
		</tr>
		<% for loan in @staff.loans %>
		<tr>
			<td width=20%><%=h (Loan::LTYPE.find_all{|disp, value| value == loan.ltype}).map {|disp, value| disp} %></td>
			<td width=20%><%=h loan.accno %></td>
			<td width=18%><%=h loan.startdt %></td>
			<td width=18%><%=h loan.durationmn %> Months</td>
			<td width=18%>RM <%=h loan.deductions %></td>
		</tr>
	<% end %>
</table>
<H2>Individu Course</H2>
		<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
		<tr>
			<th width=25% align="center"><b><%= t 'staff.course_name' %></b></font></th>
			<th width=25% align="center"><b><%= t 'staff.start_course' %></b></th>
			<th width=25% align="center"><b><%= t 'staff.end_course' %></b></th>
			<th width=20% align="center"><b><%= t 'staff.loc_course' %></b></th>
		</tr>
		
		
		<% for individu_course in @staff.individu_courses %>
		<tr>
			<td width=25%><%=h individu_course.course_name %></td>
			<td width=25% align="center"><%=h individu_course.start_course %>  </td>
			<td width=25% align="center"><%=h individu_course.end_course %></td>
			<td width=20%><%=h individu_course.loc_course %></td>
		</tr>
		<% end %>
</table>
<H2><%= t 'staff.emencengy' %></H2>
<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
		<tr>
			<th width=15% align="center"><label for="kintype_id "><%= t 'student.kintype_id' %></label></th>
			<th width=15% align="center"><label for="name "><%= t 'student.name' %></label></th>
			<th width=12% align="center"><label for="icno "><%= t 'student.icno' %></label></th>
			<th width=12% align="center"><label for="phone "><%= t 'student.stelno' %></label></th>
			<th width=15% align="center"><label for="profession "><%= t 'student.profession' %></label></th>
			<th width=20% align="center"><label for="kinaddr "><%= t 'student.kinaddr' %></label></th>
		</tr>
			<% for kin in @staff.kins %>
		<tr>
			<td><%=h (Kin::KTYPE.find_all{|disp, value| value == kin.kintype_id}).map {|disp, value| disp} %></td>
			<td><%=h kin.name %></td>
			<td><%=h kin.mykadno %></td>
			<td><%=h kin.phone %></td>
			<td><%=h kin.profession %></td>
			<td><%=h kin.kinaddr %></td>
		</tr>
			<% end %>
</table>
</div>
<BR>
<% if permitted_to? :update, @staff%>	
<%= link_to (t 'icms.update'), edit_staff_path(@staff) %> |
<% end %>
<%= link_to (t 'icms.back'), staffs_path %>