<!--Staff Show-->
<div class="tform">
	<div class="photo">
		
	</div>
  
	<H2><%= t 'staff.personal_details' %></H2>
	<table width=100% >
		<tr>
			<td class="leftcol"><label for="icno"><%= t 'staff.icno' %> :</label></td>
			<td><%=h @staff.icno %></td>
			<td rowspan=10 align=right><% if @staff.photo.exists? then %>
			  <%= image_tag @staff.photo.url%>
			<% else %>
			  No Photo<BR>Available
			<% end %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="name"><%= t 'staff.name' %> :</label></td>
			 <td><%=h @staff.title.name unless @staff.title.blank? %> <%=h @staff.name %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="code"><%= t 'staff.code' %> :</label></td>
			 <td><%=h @staff.code %>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="fileno"><%= t 'staff.fileno' %> :</label></td>
		    <td><%=h @staff.fileno %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="position_id"><%= t 'staff.position' %> :</label></td>
			 <td><%=h @staff.position.blank? ? "-" : @staff.position.name %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="coemail"><%= t 'staff.coemail' %> :</label></td>
			 <td><%=h @staff.coemail %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="cobirthdt"><%= t 'staff.cobirthdt' %> :</label></td>
			<td><%=h l(@staff.cobirthdt) %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="birthcertno"><b><%= t 'staff.birthcertno' %> :</b></label></td>
			<td><%=h @staff.birthcertno %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="Age"><%= t 'staff.age' %> :</label></td>
			<td><%=h @staff.age %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="bloodtype"><%= t 'staff.bloodtype' %> :</label></td>
			<!--<td><#%=h @staff.bloodtype %><td>-->
		<td><%=h (Staff::BLOOD_TYPE.find_all{|disp, value| value == @staff.bloodtype}).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="gender"><%= t 'staff.gender' %> :</label></td>
			<td><%=h (Staff::GENDER.find_all{|disp, value| value == @staff.gender.to_s}).map {|disp, value| disp} %></td>
	  </tr>
	
		<tr>
			<td class="leftcol"><label for="cooftelno"><%= t 'staff.cooftelno' %> :</label></td>
			<td><%=h @staff.cooftelno %>  <label for="cooftelext"> <b>Ext</b></label> <%=h @staff.cooftelext %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="phonecell"><b><%= t 'staff.phonecell' %> :</b></label></td>
			<td><%=h @staff.phonecell %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="phonehome"><b><%= t 'staff.phonehome' %> :</b></label></td>
			<td><%=h @staff.phonehome %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="addr"><%= t 'staff.addr' %> :</label></td>
			<td><%=h @staff.addr %></td>
		
		</tr>
	
		<tr>
			<td class="leftcol"><label for="regdate"><%= t 'staff.poskod_id' %> :</label></td>
			<td><%=h @staff.poskod_id %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="mrtlstatuscd"><%= t 'staff.mrtlstatuscd' %> :</label></td>
			<td><%=h (Staff::MARITAL_STATUS.find_all{|disp, value| value == @staff.mrtlstatuscd }).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="statecd"><%= t 'staff.statecd' %> :</label></td>
			<td><%=h (Staff::STATECD.find_all{|disp, value| value == @staff.statecd}).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="race"><%= t 'staff.race' %> :</label></td>
			<td><%=h (Staff::RACE.find_all{|disp, value| value == @staff.race}).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="religion"><%= t 'staff.religion' %> :</label></td>
			<td><%=h (Staff::RELIGION.find_all{|disp, value| value == @staff.religion}).map {|disp, value| disp} %></td>
		</tr>
	
	
		<tr>
			<td class="leftcol"><label for="country_cd "><%= t 'staff.country_cd' %> :</label></td>
			<td><%=h (Staff::NATIONALITY.find_all{|disp, value| value == @staff.country_cd}).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
				<td class="leftcol"><label for="transportclass_id"><b><%= t 'staff.transportclass_id' %> :</b></td>
				<td><%=h @staff.transportclass_id %></td>
		</tr>
	</table>
	
	
	
	<BR><BR>
	<H2><%= t 'staff.employment_details' %></H2>
	<table width=100% >	
		<tr>
			<td class="leftcol"><label for="staffgrade_id"><%= t 'staff.staffgrade_id' %> :</label></td>
			<td><%=h @staff.staffgrade_id.blank? ? "" : @staff.staffgrade.name_and_group %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="position_id"><%= t 'staff.position_id' %> :</label></td>
			<td><%=h @staff.position.blank? ? "-" : @staff.position.name %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="Reports To"><%= t 'staff.reports_to' %> :</label></td>
			<td><%=h @staff.render_reports_to %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="employstatus"><%= t 'staff.employstatus' %> :</label></td>
		<td><%=h (Staff::STATUS.find_all{|disp, value| value == @staff.employstatus}).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="appointstatus"><%= t 'staff.appointstatus' %> :</label></td>
		<td><%=h (Staff::APPOINTMENT.find_all{|disp, value| value == @staff.appointstatus.to_s}).map {|disp, value| disp} %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="appointdt "><%= t 'staff.appointdt' %> :</label></td>
			<td><%=h @staff.appointdt.blank? ? "-" : l(@staff.appointdt)  %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="schemedt"><%= t 'staff.schemedt' %> :</label></td>
			<td><%=h @staff.schemedt.blank? ? "-" : l(@staff.schemedt)  %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="confirmdt"><%= t 'staff.confirmdt' %> :</label></td>
			<td><%=h @staff.confirmdt.blank? ? "-" : l(@staff.confirmdt) %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><%= t 'staff.posconfirmdate' %> :</td>
			<td><%=h @staff.posconfirmdate.blank? ? "-" : l(@staff.posconfirmdate) %></td>
		</tr>
		<!-- 14 April 2010 MYMN -->
		<tr>
			<td class="leftcol"><%= t 'staff.wealth_decleration_date' %> :</td>
			<td><%=h @staff.wealth_decleration_date.blank? ? "-" : l(@staff.wealth_decleration_date)  %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><%= t 'staff.promotion_date' %> :</td>
			<td><%=h @staff.promotion_date.blank? ? "-" : l(@staff.promotion_date)  %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><%= t 'staff.reconfirmation_date' %> :</td>
			<td><%=h @staff.reconfirmation_date.blank? ? "-" : l(@staff.reconfirmation_date) %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><%= t 'staff.current_grade_date' %> :</td>
			<td><%=h @staff.to_current_grade_date.blank? ? "-" : l(@staff.to_current_grade_date)  %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><%= t 'staff.starting_salary' %> :</td>
			<td><%=h ringgols(@staff.starting_salary ) %></td>
		</tr>
	
		<!-- EOF 14 April 2010 MYMN -->
		<tr>
			<td class="leftcol"><label for="appointby"><%= t 'staff.appointby' %> :</label></td>
			<td><%=h (Staff::APPOINTED.find_all{|disp, value| value == @staff.appointby }).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="svchead"><%= t 'staff.svchead' %> :</label></td>
			<td><%=h (Staff::HOS.find_all{|disp, value| value == @staff.svchead }).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="svctype "><%= t 'staff.svctype' %> :</label></td>
			<td><%=h (Staff::TOS.find_all{|disp, value| value == @staff.svctype }).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="pensionstat "><%= t 'staff.pensionstat' %> :</label></td>
			<td><%=h (Staff::PENSION.find_all{|disp, value| value == @staff.pensionstat}).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="pensiondt"><%= t 'staff.pensiondt' %> :</label></td>
			<td><%=h @staff.pensiondt.blank? ? "-" : l(@staff.pensiondt)  %></td>
		</tr>
		<tr>
			<td class="leftcol"><%= t 'staff.pension_confirm_date' %> :</td>
			<td><%=h @staff.pension_confirm_date.blank? ? "-" : l(@staff.pension_confirm_date)  %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="uniformstat "><%= t 'staff.uniformstat' %> :</label></td>
			<td><%=h (Staff::UNIFORM.find_all{|disp, value| value == @staff.uniformstat }).map {|disp, value| disp} %></td>
		</tr>
	</table>
	
	<H2><%= t 'staff.tqualification' %></H2>
	<table width=100%>
	<% for qualification in @staff.qualifications %>
		<tr>
			<td class="leftcol"><label for="level_id "><%= t 'staff.level_id' %> :</label></td>
			<!--	<td><#%=h qualification.level_id %></td>-->
			<td><%=h (Qualification::QTYPE.find_all{|disp, value| value == qualification.level_id}).map {|disp, value| disp} %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="qname "> <%= t 'staff.qname' %> :</label></td>
			<td><%=h qualification.qname %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="institute "><%= t 'staff.institute' %> :</label></td>
			<td><%=h qualification.institute %></td>
		</tr>

		<tr><td colspan=4><HR></td></tr>
	<% end %>
	</table>
	
	<H2><%= t 'staff.loans' %></H2>
	<table width=100%>
	<% for loan in @staff.loans %>	
		<tr>
			<td class="leftcol"><label for="ltype "> <%= t 'staff.ltype' %> :</label></td>
			<td><%=h (Loan::LTYPE.find_all{|disp, value| value == loan.ltype}).map {|disp, value| disp} %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="accno "><%= t 'staff.accno' %> :</label></td>
			<td><%=h loan.accno %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="startdt "><%= t 'staff.startdt' %> :</label></td>
			<td><%=h loan.startdt %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="durationmn "><%= t 'staff.durationmn' %> : </label></td>
			<td><%=h loan.durationmn %> Months</td>
		</tr>

		<tr>
			<td class="leftcol"><label for="deductions "><%= t 'staff.deductions' %> :</label></td>
			<td>RM <%=h loan.deductions %></td>
		</tr>

		<tr><td colspan=4><HR></td></tr>
	<% end %>
	</table>
	
	
	<H2><%= t 'staff.finance' %></H2>
	<table width=100%>
			<tr>
			  <td class="leftcol"><label for="kwspcode"><%= t 'staff.kwspcode' %> :</label></td>
			  <td><%=h @staff.kwspcode %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="taxcode"><%= t 'staff.taxcode' %> :</label></td>
				<td><%=h @staff.taxcode %></td>
			</tr>
			<tr>
				<td class="leftcol">Bank Accounts</td>
				<td>
					<% for bankaccount in @staff.bankaccounts %>
							<%=h bankaccount.bank.long_name %>   -   
							<%=h bankaccount.account_no %>  -   
							<%=h (Bankaccount::BANKTYPE.find_all{|disp, value| value == bankaccount.account_type }).map {|disp, value| disp} %><BR>
					<% end %>
				</td>
			</tr>
	</table>
	
	<H2><%= t 'staff.emencengy' %></H2>
	<table width=100%>
		<% for kin in @staff.kins %>
			<tr>
				<td class="leftcol"><label for="kintype_id "> <%= t 'staff.kintype_id' %> :</label></td>
				<td><%=h (Kin::KTYPE.find_all{|disp, value| value == kin.kintype_id}).map {|disp, value| disp} %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="name "><%= t 'staff.name' %> : </label></td>
				<td><%=h kin.name.blank? ? "" : kin.name %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="kinbirthdt "><%= t 'staff.kinbirthdt' %> :</label></td>
				<td><%=h kin.kinbirthdt %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="phone "><%= t 'staff.phone' %> :</label></td>
				<td><%=h kin.phone %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="profession "><%= t 'staff.profession' %> :</label></td>
				<td><%=h kin.profession %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="kinaddr "><%= t 'staff.kinaddr' %> :</label></td>
				<td><%=h kin.kinaddr %></td>
			</tr>
			<tr><td colspan=4><HR></td></tr>
		<% end %>
	</table>

<BR>
</div>	
	
<%= link_to (t 'icms.update'), edit_staff_path(@staff) %> |
<%= link_to (t 'icms.back'), staffs_path %>