<div class="tform">
<H2>Attendance Details</H2>
<table width=100%, border=0 > 
	
	<tr>
		<td class="leftcol"><label for="date_att">Date </label></td>
		<td><b>:</b></td>
		<td><%= f.date_select :date_attendance, :start_year => 2012, :end_year => 2020, :order => [:day, :month, :year] %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="topic_id">Subject & Topic </label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :topic_id, Timetable.find(:all, :order => 'topic_id ASC'), :id, :topic_for_timetable %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="timetable_id">Class</label></td>
		<td width=3%><b>:</b></td>
	    <td><%= f.collection_select :timetable_id, Klass.find(:all), :id, :name,
									{:prompt => "Select a Class", :selected => @studentattendance.timetable_id},
									:onchange => remote_function(:update => form_tag_id(f.object_name, :class_list), 
															     :url => {:action => 'view_class' }, 
															     :with => "'timetableid='+$('"+form_tag_id(f.object_name, :timetable_id)+"').value  ") %></td>
	</tr>
	</table>
	<H2>Lists of Attended</H2>
	
	<table width=50%>
	<tr>
		<td colspan=3><%= tag("div", :id => form_tag_id(f.object_name, :class_list)) %>
			<!-- start code for edit part -->
			<% unless @studentattendance.id.nil? || @studentattendance.id.blank? %>
					<% @studentattendance_id = @studentattendance.id %>
					<% @timetable_id = @studentattendance.timetable_id %>
					<% @students = Student.find(:all, :joins => :klasses,:conditions => ['klass_id=?', @timetable_id])%>
					<%= render :partial => 'view_class', :locals => {:studentid=> @students, :timetableid => @timetable_id, :stuattid => @studentattendance_id  } %> 
			<% end %>
			</div>
			<!-- end code for edit part -->
	    </td>
	</tr>		
</table>
<BR>
</div>