<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Listing Student Attendances</h2>
	</div><h3></h3>
</div>
<div class="tlist">
	    <table width=100% border="0" cellpadding="0" cellspacing="0">
  <tr>
		<th>Date Attendance</th>
  		<th>Class Name</th>
        <th>Subject Name</th>
        <th>Topic Name</th>
        <th colspan=3 class="ac">Control</th>
  </tr>

<% @studentattendances.each do |studentattendance| %>
  <tr>
	<td><%=h studentattendance.date_attendance.blank? ? "-" : studentattendance.date_attendance.strftime("%d %b %Y") %></td>
  	<td><%=h studentattendance.klass_for_student  %></td>
  	<td><%=h studentattendance.topic_id.blank? ? "-" : studentattendance.timetable.topic.subject_topic  %></td>	
	<td><%=h studentattendance.topic_id.blank? ? "-" : studentattendance.timetable.topic.name  %></td>	
    <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Student Attendance Details'), :action => 'show', :id => studentattendance %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit Student Attendance'), :action => 'edit', :id => studentattendance %></td>
    <td width=10px ><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), studentattendance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
</div>
<%= link_to 'New Student Attendance', new_studentattendance_path %>