<p>
  <b>Timetable:</b>
  <%=h @studentattendance.timetable_id %>
</p>

<p>
  <b>Student:</b>
  <%=h @studentattendance.student_id %>
</p>

<p>
  <b>Attend:</b>
  <%=h @studentattendance.attend %>
</p>


<%= link_to 'Edit', edit_studentattendance_path(@studentattendance) %> |
<%= link_to 'Back', studentattendances_path %>