<div class="tform">
	<H2>Attendance Details</H2>
  <table width=100% >
	
	<tr>
		<td class="leftcol"><label for="date_att">Date Attendance </label></td>
		<td><b>:</b></td>
		<td><%=h @studentattendance.date_attendance.blank? ? "-" : @studentattendance.date_attendance.strftime("%d %b %Y") %></td>
	</tr>
  
	<tr>
		<td class="leftcol"><label for="timetable_id">Subject Name</label></td>
		<td width=3%><b>:</b></td>
	    <td><%=h @studentattendance.topic_id.blank? ? "-" : @studentattendance.timetable.topic.subject_topic  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="timetable_id">Topic Name</label></td>
		<td width=3%><b>:</b></td>
	    <td><%=h @studentattendance.topic_id.blank? ? "-" : @studentattendance.timetable.topic.name  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="timetable_id">Class Name</label></td>
		<td width=3%><b>:</b></td>
	    <td><%=h @studentattendance.timetable_id.blank? ? "-" : @studentattendance.klass.name  %></td>
	</tr>
	</table>
	<H2>Lists of Student Attended</H2>
	<table width=100%>
	<tr>
		<td colspan=3><table width=50% border=1 cellspacing=0>
			<tr>
				<th>No.</th>
				<th>Student Name</th>
				<th>Course</th>
				<th>Intake</th>
			</tr>

				<% counter = 0 %>
					<% for student in @studentattendance.students %>
				<% counter += 1 %>

		<tr>
		  	<td width=3% align="center"><%=h counter %>.</td>	
		    <td><%= student.name %></td>
			<td><%= student.programme_for_student %></td>
			<td><%= student.intake_for_student %>
		</tr>
		<% end %>
		</table></td>
		</tr>
		
		

</table>
</div>
<BR>

<%= link_to 'Edit', edit_studentattendance_path(@studentattendance) %> |
<%= link_to 'Back', studentattendances_path %>