test edit 2 page

<h3>Editing examresult</h3>

<% form_for(@examresult) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form_edit_stat', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @examresult %> |
<%= link_to 'Back', examresults_path %>