<h1>Editing curriculum</h1>

<% form_for(@curriculum) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :currcode %><br />
    <%= f.text_field :currcode %>
  </p>
  <p>
    <%= f.label :curcategory %><br />
    <%= f.text_field :curcategory %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </p>
  <p>
    <%= f.label :currversion %><br />
    <%= f.text_field :currversion %>
  </p>
  <p>
    <%= f.label :durationtype %><br />
    <%= f.text_field :durationtype %>
  </p>
  <p>
    <%= f.label :currobjective %><br />
    <%= f.text_field :currobjective %>
  </p>
  <p>
    <%= f.label :currcontent %><br />
    <%= f.text_area :currcontent %>
  </p>
  <p>
    <%= f.label :currversions %><br />
    <%= f.text_field :currversions %>
  </p>
  <p>
    <%= f.label :curractivity %><br />
    <%= f.text_field :curractivity %>
  </p>
  <p>
    <%= f.label :currefs %><br />
    <%= f.text_field :currefs %>
  </p>
  <p>
    <%= f.label :currscope %><br />
    <%= f.text_field :currscope %>
  </p>
  <p>
    <%= f.label :currdefinition %><br />
    <%= f.text_field :currdefinition %>
  </p>
  <p>
    <%= f.label :abbrev %><br />
    <%= f.text_field :abbrev %>
  </p>
  <p>
    <%= f.label :currqualrec %><br />
    <%= f.text_field :currqualrec %>
  </p>
  <p>
    <%= f.label :approved_id %><br />
    <%= f.text_field :approved_id %>
  </p>
  <p>
    <%= f.label :approvedt %><br />
    <%= f.date_select :approvedt %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @curriculum %> |
<%= link_to 'Back', curriculums_path %>