<p>
  <b>Currcode:</b>
  <%=h @curriculum.currcode %>
</p>

<p>
  <b>Curcategory:</b>
  <%=h @curriculum.curcategory %>
</p>

<p>
  <b>Name:</b>
  <%=h @curriculum.name %>
</p>

<p>
  <b>Duration:</b>
  <%=h @curriculum.duration %>
</p>

<p>
  <b>Currversion:</b>
  <%=h @curriculum.currversion %>
</p>

<p>
  <b>Durationtype:</b>
  <%=h @curriculum.durationtype %>
</p>

<p>
  <b>Currobjective:</b>
  <%=h @curriculum.currobjective %>
</p>

<p>
  <b>Currcontent:</b>
  <%=h @curriculum.currcontent %>
</p>

<p>
  <b>Currversions:</b>
  <%=h @curriculum.currversions %>
</p>

<p>
  <b>Curractivity:</b>
  <%=h @curriculum.curractivity %>
</p>

<p>
  <b>Currefs:</b>
  <%=h @curriculum.currefs %>
</p>

<p>
  <b>Currscope:</b>
  <%=h @curriculum.currscope %>
</p>

<p>
  <b>Currdefinition:</b>
  <%=h @curriculum.currdefinition %>
</p>

<p>
  <b>Abbrev:</b>
  <%=h @curriculum.abbrev %>
</p>

<p>
  <b>Currqualrec:</b>
  <%=h @curriculum.currqualrec %>
</p>

<p>
  <b>Approved:</b>
  <%=h @curriculum.approved_id %>
</p>

<p>
  <b>Approvedt:</b>
  <%=h @curriculum.approvedt %>
</p>


<%= link_to 'Edit', edit_curriculum_path(@curriculum) %> |
<%= link_to 'Back', curriculums_path %>