<p>
  <%= f.label (t 'name') %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label (t 'lesson_plan.start_time') %><br />
  <%= f.time_select :start_at, :minute_step => 15 %>
</p>
<p>
  <%= f.label (t 'lesson_plan.end_time') %><br />
  <%= f.time_select :end_at, :minute_step => 15 %></p>