<% form_for(@staff_shift) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2>Edit Staff Shifts</H2> 
		<%=render :partial => 'form', :locals => {:f => f} %> 
	</div>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @staff_shift %> |
<%= link_to 'Back', staff_shifts_path %>