<% form_for(@staff_shift) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2><%= t 'staffshift.new_staffshift' %></H2> 
		<%=render :partial => 'form', :locals => {:f => f} %> 
	</div>
  <p>
    <%= f.submit (t 'create') %>
  </p>
<% end %>

<%= link_to (t 'back'), staff_shifts_path %>