<p>
  <b><%= t 'name' %>:</b>
  <%=h @staff_shift.name %>
</p>

<p>
  <b><%= t 'lesson_plan.start_time' %>:</b>
  <%=h @staff_shift.start_at %>
</p>

<p>
  <b><%= t 'lesson_plan.end_time' %>:</b>
  <%=h @staff_shift.end_at %>
</p>


<%= link_to (t 'edit'), edit_staff_shift_path(@staff_shift) %> |
<%= link_to (t 'back'), staff_shifts_path %>