<p>
  <b>Name:</b>
  <%=h @staff_shift.name %>
</p>

<p>
  <b>Start at:</b>
  <%=h @staff_shift.start_at %>
</p>

<p>
  <b>End at:</b>
  <%=h @staff_shift.end_at %>
</p>


<%= link_to 'Edit', edit_staff_shift_path(@staff_shift) %> |
<%= link_to 'Back', staff_shifts_path %>