<table width=100% >
	<tr>
		<td class="leftcol"><%= f.label :details %>
		<td><%= f.text_area :details, :size => '34X2' %></td>
	</tr>
	<tr>
	    <td class="leftcol"><%= f.label :staffgrade_id %></td>
	    <td><%= f.collection_select :staffgrade_id, Employgrade.find(:all,:order=> 'name ASC'), :id, :name %></td>
	</tr>
	<tr>
	    <td class="leftcol"><%= f.label :post_count %></td>
	    <td><%= f.text_field :post_count, :size => '8' %></td>		
	</tr>
</table>
<BR>