<% form_for(@postinfo) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2><%=t 'postinfos.edit'%></H2>
				<%=render :partial => 'form', :locals => {:f => f} %> 
	</div>

  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>


<%= link_to (t 'back'), postinfos_path %>
