<div class="box">
	<div class="box-head">
		<h2 class="left"><%= t 'postinfos.list'%></h2>
	</div>
</div>
<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => (t 'postinfos.new')) + (t 'postinfos.new'), new_postinfo_path %></p>
</div>
<BR><BR>
<div class="indextable">
	<table>
	  <tr>
	      <th><%= t 'postinfos.details'%></th>
		  <th><%= t 'postinfos.position'%></th>
	      <th><%= t 'postinfos.staffgrade_id'%></th>
	      <th><%= t 'postinfos.post_count'%></th>
		  <th colspan=2 class="ac"><%= t 'control' %></th>
	  </tr>
	<% @postinfos.sort_by(&:details).each do |postinfo| %>
	  <tr>
	      <td><%=h postinfo.details %></td>
	      <td><%=h postinfo.positions.blank? ? "" : postinfo.positions[0].name %></td>
	      <td><%=h postinfo.employgrade.name %></td>
	      <td><%=h postinfo.post_count %></td>
	      <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => (t 'edit')), edit_postinfo_path(postinfo) %></td>
	      <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => (t 'delete')), postinfo, :confirm => (t 'are_you_sure'), :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
</div>

<br />