<div class="tform">
	<H2><%=t('postinfos.title')%></H2>
	<fieldset>
		<legend><%=t('postinfos.details')%></legend>
			<table width=100%>
					<tr>
						<td class="leftcol"><label for="details"><%=t ('postinfos.details')%></label></td>
						<td><%=h @postinfo.details %></td>
					</tr>
					<tr>
						<td class="leftcol"><label for="staffgrade_id"><%=t ('postinfos.staffgrade_id')%></label></td>
						<td><%=h @postinfo.employgrade.name %></td>
					</tr>
					<tr>
						<td class="leftcol"><label for="position_count"><%=t ('postinfos.post_count')%></label></td>
						<td><%=h @postinfo.post_count %></td>
					</tr>
			</table>
	</fieldset>
</div>
<BR/>
<%= link_to (t 'edit'), edit_postinfo_path(@postinfo) %> |
<%= link_to (t 'back'), postinfos_path %>




