<H2>Student Leave Request Details</H2>
	<table width=100% >
		<tr>
			<td class="leftcol"><label for="student_id"><b>Student Name:</b></label></td>
			<td><%=h @leaveforstudent.student_id.blank? ? "No Student" : @leaveforstudent.student.formatted_mykad_and_student_name %></td>
		</tr>
		<tr>
		<td class="leftcol"><label for="leavetype"><b>Leave Type:</b></label></td>
			<td><%=h @leaveforstudent.leavetype %></td>
		</tr>
		<tr>
		    <td class="leftcol"><label for="requestdate"><b>Request Date:</b></label></td>
			<td><%=h @leaveforstudent.requestdate.strftime("%d - %b - %Y") %></td>
		</tr>
		<tr>
		  <td class="leftcol"><label for="reason"><b>Reason:</b></label></td>
			<td><%=h @leaveforstudent.reason %></td>
		</tr>
		<tr>
		    <td class="leftcol"><label for="address"><b>Address:</b></label></td>
			<td><%=h @leaveforstudent.address %></td>
		</tr>
		<tr>
		    <td class="leftcol"><label for="telno"><b>Telephone No:</b></label></td>
			<td><%=h @leaveforstudent.telno %></td>
		</tr>
		<tr>
		    <td class="leftcol"><label for="leave_startdate"><b>Start Date:</b></label></td>
			<td><%=h @leaveforstudent.leave_startdate.strftime("%a, %d %b") %> to <%=h @leaveforstudent.leave_enddate.strftime("%a, %d %b %Y") %></td>
		</tr>
		<tr>
		    <td class="leftcol"><label for="studentsubmit"><b>Submit for Approval:</b></label></td>
			<td><%=h @leaveforstudent.studentsubmit? ? "Submitted" : "Not Submitted" %></td>
		</tr>
	</table>