<tr>
	<td width=15% colspan=2><label for="student_id"><font size=2>Student Name</font></label></td>
	<td width=2%><b>:</b></b>
	<td><%=h @leaveforstudent.student_id.blank? ? "No Student" : @leaveforstudent.student.name %></td>
</tr>

<tr>
	<td class="leftcol" colspan=2><label for="leavetype">Leave Type</label></td>
	<td><b>:</b></b>
	<td><%=h @leaveforstudent.leavetype %></td>
</tr>

<tr>
    <td class="leftcol" colspan=2><label for="requestdate">Request Date</label></td>
	<td><b>:</b></b>
	<td><%=h @leaveforstudent.requestdate.strftime("%d - %b - %Y") %></td>
</tr>

<tr>
    <td class="leftcol" colspan=2><label for="reason">Reason</label></td>
	<td><b>:</b></b>
	<td><%=h @leaveforstudent.reason %></td>
</tr>

<tr>
    <td class="leftcol" colspan=2><label for="address">Address</label></td>
	<td><b>:</b></b>
	<td><%=h @leaveforstudent.address %></td>
</tr>
<tr>
    <td class="leftcol" colspan=2><label for="telno">Telephone No</label></td>
	<td><b>:</b></b>
	<td><%=h @leaveforstudent.telno %></td>
</tr>

<tr>
    <td class="leftcol" colspan=2><label for="leave_startdate">Start Date</label></td>
	<td><b>:</b></b>
	<td><%=h @leaveforstudent.leave_startdate.strftime("%a, %d %b") %> to <%=h @leaveforstudent.leave_enddate.strftime("%a, %d %b %Y") %></td>
</tr>

<tr>
    <td class="leftcol" colspan=2><label for="studentsubmit">Submit for Approval</label></td>
	<td><b>:</b></b>
	<td><%=h @leaveforstudent.studentsubmit? ? "Submitted" : "Not Submitted" %></td>
</tr>

</table>