<div class="tform">
  <H2><%=t('leaveforstudent.details')%></H2>
	<table width=100% >
		<tr>
			<td class="leftcol"><label for="student_id"><b><%=t('leaveforstudent.student_id')%>:</b></label></td>
			<td>
			<% if current_login.student %>
				<%= f.collection_select :student_id, Student.find(:all, :conditions => ["id = ?", current_login.student_id]), :id, :formatted_mykad_and_student_name %>
			<% elsif current_login.staff %>
				<%= f.collection_select :student_id, Student.all, :id, :formatted_mykad_and_student_name, :selected => @leaveforstudent.student_id%>
			<% end%></td>
		</tr>	
		<tr>
			<td class="leftcol"><label for="leavetype"><b><%=t('leaveforstudent.leavetype')%>:</b></label><font color="red"> * </font></td>
			<td><%= f.select :leavetype, 
			                 Leaveforstudent::STUDENTLEAVETYPE,
			                 :prompt => t('select') %></td>
		</tr>	
		<tr>
		  <td class="leftcol"><label for="requestdt"><b><%=t('leaveforstudent.requestdate')%>:</b></label></td>
			<td><%= f.date_select :requestdate, :start_year => Date.today.year, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>	
		<tr>
		  <td class="leftcol"><label for="reason"><b><%=t('leaveforstudent.reason')%>:</b></label></td>
			<td><%= f.text_field :reason %></td>
		</tr>	
		<tr>
		  <td class="leftcol"><label for="address"><b><%=t('leaveforstudent.address')%>:</b></label></td>
			<td><%= f.text_area :address, :size => "30x5" %></td>
		</tr>
		<tr>
		  <td class="leftcol"><label for="telno"><b><%=t('leaveforstudent.telno')%>:</b></label><font color="red"> * </font></td>
			<td><%= f.text_field :telno %></td>
		</tr>
		<tr>
		  <td class="leftcol"><label for="leave_startdate"><b><%=t('leaveforstudent.leave_startdate')%>:</b></label><font color="red"> * </font></td>
			<td><%= f.date_select :leave_startdate, :start_year => Date.today.year, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
		<tr>
		  <td class="leftcol"><label for="leave_enddate"><b><%=t('leaveforstudent.leave_enddate')%>:</b></label><font color="red"> * </font></td>
			<td><%= f.date_select :leave_enddate, :start_year => Date.today.year, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
		<tr>
		  <td class="leftcol"><label for="submit"><b><%=t('leaveforstudent.studentsubmit')%>:</b></label></td>
			<td><%= f.check_box :studentsubmit %></td>
		</tr>
	</table>
</div>