<div class="tform">
  <table width=100% >

	<tr>
		<th colspan = 2>Student Leave Request Details</th>
	</tr>

	<tr>
		<td class="leftcol"><label for="student_id"><b>Student Name:</b></label></td>
		<td><%= f.collection_select :student_id, Student.find(:all), :id, :formatted_mykad_and_student_name, :include_blank => true %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="leavetype"><b>Leave Type:</b></label><font color="red"> * </font></td>
		<td><%= f.select :leavetype, 
		                 Leaveforstudent::STUDENTLEAVETYPE,
		                 :prompt => "Select"  %></td>
	</tr>
	
	<tr>
	    <td class="leftcol"><label for="requestdt"><b>Request Date:</b></label></td>
		<td><%= f.date_select :requestdate, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
	</tr>
	
	<tr>
	    <td class="leftcol"><label for="reason"><b>Reason:</b></label></td>
		<td><%= f.text_field :reason %></td>
	</tr>
	
	<tr>
	    <td class="leftcol"><label for="address"><b>Address:</b></label></td>
		<td><%= f.text_area :address, :size => "30x5" %></td>
	</tr>
	<tr>
	    <td class="leftcol"><label for="telno"><b>Telephone No:</b></label><font color="red"> * </font></td>
		<td><%= f.text_field :telno %></td>
	</tr>

	<tr>
	    <td class="leftcol"><label for="leave_startdate"><b>Start Date:</b></label></td>
		<td><%= f.date_select :leave_startdate, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>

	<tr>
	    <td class="leftcol"><label for="leave_enddate"><b>End Date:</b></label></td>
		<td><%= f.date_select :leave_enddate, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	<tr>
	    <td class="leftcol"><label for="submit"><b>Submit for Approval:</b></label></td>
		<td><%= f.check_box :studentsubmit %></td>
	</tr>

	<tr>
		<th colspan = 2>Approve Student Leave Request</th>
	</tr>
	<tr>
	    <td class="leftcol"><label for="approved"><b>Approve Student Leave:</b></label></td>
		<td><%= f.check_box :approved %> <font size=-2 color=#AAA>Uncheck to Reject</font></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id"><b>Approved By:</b></label></td>
		<td><%= f.collection_select :staff_id, Staff.find(:all), :id, :mykad_with_staff_name, :include_blank => true %></td>
	</tr>
	<tr>
	    <td class="leftcol"><label for="approvedate"><b>End Date:</b></label></td>
		<td><%= f.date_select :approvedate, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
  </table>

</div>