<div class="tform">
	
	<H2>Student Leave Request Details</H2>
  <table width=100% border=0 >

		<tr>
			<td colspan=2 width=15%><label for="student_id"><font size=2>Student Name:</font></label></td>
			<td><b>:</b></td>
			<td><%= f.collection_select :student_id, Student.find(:all, :conditions => ["id = ?", current_user.student_id]), :id, :formatted_mykad_and_student_name %></td>
		</tr>
	
	<tr>
		<td class="leftcol" colspan=2><label for="leavetype">Leave Type</label><font color="red"> * </font></td>
		<td><b>:</b></td>
		<td><%= f.select :leavetype, 
		                 Leaveforstudent::STUDENTLEAVETYPE,
		                 :prompt => "Select"  %></td>
	</tr>
	
	<tr>
	  	<td class="leftcol" colspan=2><label for="requestdt">Request Date</label></td>
		<td><b>:</b></td>
		<td><%= f.date_select :requestdate, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
	</tr>
	
	<tr>
	  	<td class="leftcol" colspan=2><label for="reason">Reason</label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :reason %></td>
	</tr>
	
	<tr>
	  	<td class="leftcol" colspan=2><label for="address">Address</label></td>
		<td><b>:</b></td>
		<td><%= f.text_area :address, :size => "30x5" %></td>
	</tr>
	<tr>
	  	<td class="leftcol" colspan=2><label for="telno">Telephone No</label><font color="red"> * </font></td>
		<td><b>:</b></td>
		<td><%= f.text_field :telno %><font color="grey", size="-2"> example: 0123456789 </font></td>
	</tr>

	<tr>
	  	<td class="leftcol" colspan=2><label for="leave_startdate">Start Date</label><font color="red"> * </font></td>
		<td><b>:</b></td>
		<td><%= f.date_select :leave_startdate, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>

	<tr>
	  	<td class="leftcol" colspan=2><label for="leave_enddate">End Date</label><font color="red"> * </font></td>
		<td><b>:</b></td>
		<td><%= f.date_select :leave_enddate, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	<tr>
	  	<td class="leftcol" colspan=2><label for="submit">Submit for Approval</label><font color="red"> * </font></td>
		<td><b>:</b></td>
		<td><%= f.check_box :studentsubmit %></td>
	</tr>
	
	<tr>
		<td class="leftcol" colspan=2><label for="staff_id">Approved By</label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :staff_id, Position.find(:all, :conditions => {:id => [2, 55]}), :id, :position_with_boss %></td>
	</tr>

</table>
</div>
