<h3>Approve Student Leave</h3>

<% form_for(@leaveforstudent) do |f| %>
  <%= f.error_messages %>

<div class="tform">
	<H2>Student Leave Request Details</H2>
  <table width=100% >
  	<%= render :partial => 'applyshow' %>
</table>
<H2>Approve Student Leave Request</H2>
<table>

<tr>
	<td class="leftcol"><label for="approved">Approved?</label></td>
	<td><b>:</b></td>
	<td><%= f.radio_button :approved,'false' %>Not Approved &nbsp<%= f.radio_button :approved,'true' %>Approve</td>
</tr>
<tr>
	<td class="leftcol"><label for="staff_id">Approved By</label></td>
	<td><b>:</b></td>
	<td><%= f.collection_select :staff_id, Position.find(:all, :conditions => {:id => [2, 55]}), :id, :position_with_boss %></td>
</tr>
<tr>
   <td class="leftcol"><label for="approvedate">End Date</label></td>
	<td><b>:</b></td>
	<td><%= f.date_select :approvedate, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
</tr>

  </table>
</div>
  <p>
    <%= f.submit 'Update' %>
  </p>

<% end %>

<%= link_to 'Show', @leaveforstudent %> |
<%= link_to 'Back', leaveforstudents_path %>
