<h3>Approve Staff Leave</h3>

<% form_for(@leaveforstudent) do |f| %>
  <%= f.error_messages %>

<div class="tform">
		<%= render :partial => 'applyshow' %>
	<H2>Approve Student Leave Request</H2>
	<table width=100% >
		<tr>
			<td class="leftcol"><label for="approved"><b>Approve Student Leave:</b></label></td>
			<td><%= f.radio_button :approved,'false' %>Not Approved &nbsp<%= f.radio_button :approved,'true' %>Approve</td>
		</tr>
		<tr><!-- 07/10/2011 - Shaliza fixed Current User logged in -->
			<td class="leftcol"><label for="staff_id"><b>Approved By:</b></label></td>
			<td><%= f.collection_select :staff_id, Staff.find(:all, :conditions => ['id =?', current_user.staff_id]), :id, :mykad_with_staff_name %></td>
		</tr>
		<tr>
		   <td class="leftcol"><label for="approvedate"><b>Approved On:</b></label></td>
			<td><%= f.date_select :approvedate, :order => [:day, :month, :year] %></td>
		</tr>
  </table>
</div>
  <p>
    <%= f.submit 'Update' %>
  </p>

<% end %>

<%= link_to 'Show', @leaveforstudent %> |
<%= link_to 'Back', leaveforstudents_path %>
