<h3><%=t('leaveforstudent.edit')%></h3>

<% form_for(@leaveforstudent) do |f| %>
  <%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<p>
    <%= f.submit t('update') %>
  </p>
<% end %>

<%= link_to t('show'), @leaveforstudent %> |
<%= link_to t('back'), leaveforstudents_path %>