<h3>Edit Leave For Student</h3>

<% form_for(@leaveforstudent) do |f| %>
  <%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @leaveforstudent %> |
<%= link_to 'Back', leaveforstudents_path %>