<!-- Box -->
<div class="box">
<!-- Box Head -->
  <div class="box-head">
    <h2 class="left"><%=t('leaveforstudent.title')%></h2>
	 	<div class="right">
			<% form_tag leaveforstudents_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search], :placeholder => t('leaveforstudent.leavetype') %>
			<%= submit_tag I18n.t('search') %>
			<% end %>
		</div>
	</div>
</div>
<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => (t 'leaveforstudent.apply')) + (t 'leaveforstudent.apply'), new_document_path %></p>
</div><BR><BR>
<div class="tlist">
<table width=100%>
  <tr>
    <th><%=t('leaveforstudent.student_id')%></th>
    <th><%=t('leaveforstudent.leavetype')%></th>
    <th><%=t('leaveforstudent.requestdate')%></th>
    <th><%=t('leaveforstudent.leave_startdate2')%></th>
    <th><%=t('leaveforstudent.studentsubmit')%></th>
        <th><%=t('leaveforstudent.staff_id')%></th>
    <th><%=t('leaveforstudent.approved')%></th>
    <th><%=t('leaveforstudent.staff_id2')%></th>
    <th><%=t('leaveforstudent.approved')%></th>
    <th colspan=6 class="ac"><%=t('control')%></th>
  </tr>

<% @leaveforstudents.each do |leaveforstudent| %>
  <tr>
	<td><%=h leaveforstudent.student_details %></td>
	<td><%= (Leaveforstudent::STUDENTLEAVETYPE.find_all{|disp, value| value ==leaveforstudent.leavetype }).map {|disp, value| disp}%></td>
        <td><%=h leaveforstudent.requestdate.try(:strftime, '%d %b %Y') %></td>
        <td><%=h leaveforstudent.leave_startdate.try(:strftime, '%d %b %Y') %></td>
        <td align="center"><%=h leaveforstudent.studentsubmit? ? image_tag("tick.png") : image_tag("cross.png") %></td>
        <td><%=h leaveforstudent.staff_id? ? leaveforstudent.approver_details : "" %></td>
        <td align="center">
		<% unless leaveforstudent.leave_startdate < Date.tomorrow && leaveforstudent.approved==nil && leaveforstudent.approved2==nil %>
			<%=h leaveforstudent.approved? ? image_tag("tick.png") : image_tag("cross.png") %>
		<%else%><font color="red"><%=t('leaveforstudent.expired')%></font>
		<% end %>
	</td>
        <td><%=h leaveforstudent.staff_id2? ? leaveforstudent.approver_details2 : "" %></td>
        <td align="center">
		<% unless leaveforstudent.leave_startdate < Date.tomorrow && leaveforstudent.approved==nil && leaveforstudent.approved2==nil %>
			<%=h leaveforstudent.approved2? ? image_tag("tick.png") : image_tag("cross.png") %>
		<%else%><font color="red"><%=t('leaveforstudent.expired')%></font>
		<% end %>
	</td>
        <td width=10px ><%= link_to image_tag("document.png", :border => 0,  :title => (t 'show')), :action => 'show', :id => leaveforstudent %></td>
        <% if permitted_to? :edit, leaveforstudent %>
		<td width=10px>
			<% if leaveforstudent.studentsubmit != true %>
				<%= link_to image_tag("edit.png",:border => 0,  :title => (t 'edit')), 	:action => 'edit', :id => leaveforstudent %>
			<% end %>
		</td>
	<% end %>
   	
	<% if permitted_to? :approve, leaveforstudent %><td width=10px>
		<%unless leaveforstudent.leave_startdate < Date.tomorrow && leaveforstudent.approved==nil && leaveforstudent.approved2==nil %>
			<% if leaveforstudent.approved != true && leaveforstudent.studentsubmit==true %>
				<%= link_to image_tag("approval.png", :border => 0, :title => (t 'leaveforstudent.coordinator_approval')), :action => 'approve', :id => leaveforstudent %>
	  		<% end %>
		<% end %></td>
	<% end %>
	<% if permitted_to? :approve_warden, leaveforstudent %><td width=10px>
		<%unless leaveforstudent.leave_startdate < Date.tomorrow && leaveforstudent.approved==nil && leaveforstudent.approved2==nil %>
			<% if leaveforstudent.approved2 != true && leaveforstudent.studentsubmit==true %>
				<%= link_to image_tag("approval.png", :border => 0, :title => (t 'leaveforstudent.warden_approval')), :action => 'approve_warden', :id => leaveforstudent %>
	  		<% end %>
	  	<% end %></td>
	<% end %>
	<td width=10px>
		 <% if leaveforstudent.approved==true && leaveforstudent.approved2==true %>
			<a href="http://<%= request.host  %>:3003/student/leaveforstudents/<%=leaveforstudent.id%>/slip_pengesahan_cuti_pelajar.pdf"><%=image_tag("printer.png", :border => 0, :title => (t 'leaveforstudent.leave_approval_slip'))%></a>
			
		<% end %> 
	</td>
  	<% if permitted_to? :destroy, leaveforstudent %>
		<td width=10px><%= link_to image_tag("delete.png", :border => 0,  :title => (t 'delete')), leaveforstudent, :confirm => (t 'are_you_sure'), :method => :delete %></td>
  	<% end %>	
	</tr>
<% end %>
</table>

<br />
</div>

<% if permitted_to? :create, Leaveforstudent.new %>
<%= link_to t('leaveforstudent.apply'), new_leaveforstudent_path %>
 <% end %>
