<!-- Box -->
<div class="box">
<!-- Box Head -->
  <div class="box-head">
    <h2 class="left">Lists of Leaves</h2>
	 	<div class="right">
			<% form_tag leaveforstudents_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search], :placeholder => "LeaveType" %>
			<%= submit_tag I18n.t('search') %>
			<% end %>
		</div>
	</div>
</div>
<div class="tlist">
<table width=100%>
  <tr>
    <th>Student Name</th>
    <th>Leave Type</th>
    <th>Request Date</th>
    <th>On Leave Starting</th>
    <th>Submitted?</th>
    <th>Approved?</th>
    <th>Approved By</th>
    <th colspan=4 class="ac">Control</th>
  </tr>

<% @leaveforstudents.each do |leaveforstudent| %>
  <tr>
	<td><%=h leaveforstudent.student_details %></td>
	<td><%=h leaveforstudent.leavetype %></td>
    <td><%=h leaveforstudent.requestdate %></td>
    <td><%=h leaveforstudent.leave_startdate %></td>
    <td><%=h leaveforstudent.studentsubmit? ? "Submitted" : "" %></td>
    <td><%=h leaveforstudent.approved? ? "Approved" : "" %></td>
    <td><%=h leaveforstudent.staff_id? ? leaveforstudent.approver_details : "" %></td>
   	<td width=10px>
			<% if permitted_to? :approve, leaveforstudent %>
			  <% if leaveforstudent.approved != true %>
					<%= link_to image_tag("approval.png", :border => 0, :title => 'Approval'), :action => 'approve', :id => leaveforstudent %>
	  		<% end %><% end %></td>
    <td width=10px ><%= link_to image_tag("document.png", :border => 0,  :title => 'Show'), 	:action => 'show', :id => leaveforstudent %></td>
    <% if permitted_to? :edit, leaveforstudent %>
    <td width=10px><% if leaveforstudent.approved != true %><%= link_to image_tag("edit.png", 			:border => 0,  :title => 'Edit'), 	:action => 'edit', :id => leaveforstudent %><% end %></td>
    <% end %>
  	<% if permitted_to? :destroy, leaveforstudent %>
		<td width=10px><%= link_to image_tag("delete.png",   	:border => 0,  :title => 'Delete'), leaveforstudent, :confirm => 'Are you sure?', :method => :delete %></td>
  	<% end %>
	
	</tr>
<% end %>
</table>

<br />
</div>


<% if permitted_to? :create, Leaveforstudent.new %>
<%= link_to 'Apply For Leave', new_leaveforstudent_path %>
 <% end %>
