<!-- Box -->
<div class="box">
<!-- Box Head -->
  <div class="box-head">
    <h2 class="left"><%=t('leaveforstudent.title')%></h2>
	 	<div class="right">
			<% form_tag leaveforstudents_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search], :placeholder => t('leaveforstudent.leavetype')+", "+t('leaveforstudent.student_id')+", "+t('student.course_id') %>
			<%= submit_tag I18n.t('search') %>
			<% end %>
		</div>
	</div>
</div>
<% permitted_to? :create, :leaveforstudents do %>
	<div class="toolbar">
		<p><%= link_to image_tag("add.png", :border => 0, :title => (t 'leaveforstudent.apply')) + (t 'leaveforstudent.apply'), new_leaveforstudent_path %></p>
	</div>
<% end %>
<div class=right>
	<%= select_tag_for_filter("leaveforstudents", @filters, params) %>
</div>
<div class=right>
	<% form_tag '', :method => 'get' do %>
	<%=t('leaveforstudent.leave_startdate2')%> - <%=(t 'from').downcase%>: <%= date_select :search_from, params[:search_from], :include_blank => :true %>
	&nbsp; &nbsp;<%=t('to')%>: <%= date_select :search_to, params[:search_to], :include_blank => :true %>
	<%= submit_tag (t 'search'), :name => :submit_button1 %>&nbsp;&nbsp;|&nbsp;&nbsp;
    <% end %>

</div>

<%=params[:search_from]%>
<%=params[:search_to]%>
<BR><BR>
<div class="tlist">
<table width=100%>
  <tr>
    <th><%=t('leaveforstudent.student_id')%></th>
    <th><%=t('student.course_id')%></th>
    <th><%=t('student.intake')%></th>
    <th><%=t('leaveforstudent.hostel_block')%></th>
    <th><%=t('leaveforstudent.leavetype')%></th>
    <th width="80px"><%=t('leaveforstudent.requestdate')%></th>
    <th width="70px"><%=t('leaveforstudent.leave_dates')%></th>
    <th><%=t('submitted')%></th>
        <th><%=t('leaveforstudent.staff_id')%></th>
    <th><%=t('leaveforstudent.approved')%></th>
    <th><%=t('leaveforstudent.staff_id2')%></th>
    <th><%=t('leaveforstudent.approved')%></th>
    <th colspan=6 class="ac"><%=t('control')%></th>
  </tr>
<%#=@current_login.staff.under_my_supervision.include?(334) %>
<% @leaveforstudents.sort_by{|x|[x.student.course_id, x.student.intake, x.leave_startdate]}.each do |leaveforstudent| %>
  <tr>
	<td><%=h leaveforstudent.student_details %></td>
	<td><%=h leaveforstudent.student.course.name%></td>
	<td><%=h leaveforstudent.student.intake.strftime('%b %Y')%></td>
	<td><%=h leaveforstudent.student.tenants.last.location.root.code if !leaveforstudent.student.tenants.nil? && leaveforstudent.student.tenants.count > 0 %></td>
	<td><%= (Leaveforstudent::STUDENTLEAVETYPE.find_all{|disp, value| value ==leaveforstudent.leavetype }).map {|disp, value| disp}%></td>
        <td align="center"><%=h leaveforstudent.requestdate.try(:strftime, '%d %b %Y') %></td>
        <td align="center"><%=h leaveforstudent.leave_startdate.try(:strftime, '%d %b %Y') %> -<%=h leaveforstudent.leave_enddate.try(:strftime, '%d %b %Y') %></td>
        <td align="center"><%=h leaveforstudent.studentsubmit? ? image_tag("tick.png") : image_tag("cross.png") %></td>
        <td><%=h leaveforstudent.staff_id? ? leaveforstudent.approver_details : "" %></td>
        <td align="center">
		<% unless leaveforstudent.leave_startdate < Date.tomorrow && leaveforstudent.approved==nil %><!--&& leaveforstudent.approved2==nil-->
			<%=h leaveforstudent.approved? ? image_tag("tick.png") : image_tag("cross.png") %>
		<%else%><font color="red"><%=t('leaveforstudent.expired')%></font>
		<% end %>
	</td>
        <td><%=h leaveforstudent.staff_id2? ? leaveforstudent.approver_details2 : "" %></td>
        <td align="center">
		<% unless leaveforstudent.leave_startdate < Date.tomorrow && leaveforstudent.approved2==nil %><!--&& leaveforstudent.approved==nil -->
			<%=h leaveforstudent.approved2? ? image_tag("tick.png") : image_tag("cross.png") %>
		<%else%><font color="red"><%=t('leaveforstudent.expired')%></font>
		<% end %>
	</td>
        <td width=10px ><%= link_to image_tag("document.png", :border => 0,  :title => (t 'show')), :action => 'show', :id => leaveforstudent %></td>
        <% if permitted_to? :edit, :leaveforstudents %>
		<td width=10px>
			<% if leaveforstudent.studentsubmit != true %>
				<%= link_to image_tag("edit.png",:border => 0,  :title => (t 'edit')), 	:action => 'edit', :id => leaveforstudent %>
			<% end %>
		</td>
	<% end %>
   	<td width=10px>
	<% permitted_to? :approve_coordinator, :leaveforstudents do %>
		<!--hack : restrict warden fr becoming 'coordinator' if warden also a lecturer UNLESS this warden/lecturer is Penyelaras for this student leave-->
		<% maintask=@current_login.staff.position.tasks_main%>
		<% coor=maintask[/Penyelaras Kumpulan \d{1,}/] %>
		<% unless coor.nil? %>
			<% group_coor=coor.split(" ")[2] %>
			<% intake_date=leaveforstudent.student.intake.beginning_of_month %>
			<% prog_id=leaveforstudent.student.course_id %>
			<% intake_monthyear=Intake.find(:first, :conditions => ['programme_id=? and monthyear_intake=?', prog_id, intake_date])%>
			<% group_intake=intake_monthyear.description unless intake_monthyear.nil?%>
			<% @is_coordinator=true if group_intake && group_coor.to_i==group_intake.to_i%>
		<% end %>
		<!--hack-end-redundant auth rules...-->
		<% if leaveforstudent.leave_startdate >= Date.tomorrow && leaveforstudent.approved != true && (@current_login.roles.map(&:id).include?(7)==false|| (@current_login.roles.map(&:id).include?(7)==true && @is_coordinator==true) || @current_login.roles.map(&:id).include?(2)==true ) %>
			<%= link_to image_tag("approval.png", :border => 0, :title => (t 'leaveforstudent.coordinator_approval')), :action => 'approve_coordinator', :id =>leaveforstudent %>
		<% end %>
		
	<% end %></td>
	<td width=10px>
	<% if permitted_to? :approve_warden, :leaveforstudents %>
		<% if leaveforstudent.leave_startdate >= Date.tomorrow && leaveforstudent.approved2 != true && (@current_login.roles.map(&:id).include?(7)==true && @is_coordinator.nil?) %>
			<%= link_to image_tag("approval.png", :border => 0, :title => (t 'leaveforstudent.warden_approval')), :action => 'approve_warden', :id => leaveforstudent %>
	  	<% end %>
	<% end %></td>
	<td width=10px>
		 <% if leaveforstudent.approved==true && leaveforstudent.approved2==true %>
			<a href="http://<%= request.host  %>:3003/student/leaveforstudents/<%=leaveforstudent.id%>/slip_pengesahan_cuti_pelajar.pdf?locale=ms_MY"><%=image_tag("printer.png", :border => 0, :title => (t 'leaveforstudent.leave_approval_slip'))%></a>
			
		<% end %> 
	</td>
  	<% if permitted_to? :destroy, leaveforstudent %>
		<td width=10px><%= link_to image_tag("delete.png", :border => 0,  :title => (t 'delete')), leaveforstudent, :confirm => (t 'are_you_sure'), :method => :delete %></td>
  	<% end %>	
	</tr>
<% end %>
</table>
<br>

<% if @current_login.isstaff==true %>
	<div align=left><font color=blue size=-2>
	<ul>
		<li><%=t('leaveforstudent.note_one')%></li>
		<li><%=t('leaveforstudent.note_two')%>
			<ul><li><%=t('leaveforstudent.note_twoa')%></li>
				<li><%=t('leaveforstudent.note_twob')%></li>
			</ul></li>
		<li><%=t('leaveforstudent.note_three')%></li>
	</ul>
	</font>
	</div>
<% end %>
<br /><BR>
</div>

<div class="pagination">
	<%= will_paginate @leaveforstudents %>  
</div>

<% if permitted_to? :create, Leaveforstudent.new %>
<%= link_to t('leaveforstudent.apply'), new_leaveforstudent_path %>
 <% end %>
 <%#=@is_coordinator%>
 <%#=Leaveforstudent.find(:all, :conditions => ['student_id IN(?)', @current_login.staff.under_my_supervision]).count if @current_login.isstaff? %>
