<!-- Box -->
<div class="box">
<!-- Box Head -->
  <div class="box-head">
    <h2 class="left">Lists of Leaves</h2>
	 	<div class="right">
			<% form_tag leaveforstudents_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search], :placeholder => "LeaveType" %>
			<%= submit_tag I18n.t('search') %>
			<% end %>
		</div>
	</div>
</div>
<div class="tlist">
<table width=100%>
  <tr>
    <th>Student Name</th>
    <th>Leave Type</th>
    <th>Request Date</th>
    <th>On Leave Starting</th>
    <th>Submitted?</th>
    <th>Approved?</th>
    <th>Approved By</th>
    <th colspan=3 class="ac">Control</th>
  </tr>

<% @leaveforstudents.each do |leaveforstudent| %>
  <tr>
	<td><%=h leaveforstudent.student_id.blank? ? "No Student" : leaveforstudent.student.name %></td>
	<td><%=h leaveforstudent.leavetype %></td>
    <td><%=h leaveforstudent.requestdate.blank? ? "-" : leaveforstudent.requestdate.strftime("%d %b %Y")   %></td>
    <td><%=h leaveforstudent.leave_startdate.blank? ? "-" : leaveforstudent.leave_startdate.strftime("%d %b %Y")  %></td>
    <td><%=h leaveforstudent.studentsubmit? ? "Submitted" : "" %></td>
    <td><%=h leaveforstudent.apply_leave_status %></td>
    <td><%=h leaveforstudent.approver_details %></td>
    <td width=10px ><%= link_to image_tag("document.png", :border => 0,  :title => 'Show'), 	:action => 'show', :id => leaveforstudent %></td>
    <% if permitted_to? :edit, leaveforstudent %>
    <td width=10px><%= link_to image_tag("edit.png", 			:border => 0,  :title => 'Edit'), 	:action => 'edit', :id => leaveforstudent %></td>
    <% end %>
  	<% if permitted_to? :destroy, :leaveforstudent %>
    <% if leaveforstudent.approved == nil %>
	<td width=10px><%= link_to image_tag("delete.png",   	:border => 0,  :title => 'Delete'), leaveforstudent, :confirm => 'Are you sure?', :method => :delete %></td><% end %><% end %>
   	<% if permitted_to? :approve, leaveforstudent %>
	  	<td width=10px><%= link_to image_tag("approval.png", :border => 0, :title => 'Approval'), :action => 'approve', :id => leaveforstudent %><% end %></td>
	  
	<td width=10px>
	<%= link_to image_tag("printer.png", :border => 0, :title => 'Borang Cuti Pelatih'), :action => 'borang_cuti_pelatih', :id => leaveforstudent %>
	</td>
	
	</tr>
<% end %>
</table>
</div>
<br />



	<% if permitted_to? :create, @leaveforstudent %>
<%= link_to 'Apply For Leave', new_leaveforstudent_path %>
<% end %>
