<h3><%=t('leaveforstudent.new')%> </h3>

<% form_for(@leaveforstudent) do |f| %>
  <%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>
<p>
  <%= f.submit t('create') %>
</p>
<% end %>

<%= link_to t('back'), leaveforstudents_path %>