<div class="tform">
	<H2>Student Leave Request Details</H2>
  <table width=100% >

	<%= render :partial => 'applyshow' %>
</table>
<H2>Approval Student Leave Request</H2>
<table width=100% border=0>

	<tr>
	    <td class="leftcol"  ><label for="approved"><font size=2>Approved?</font></label></td>
		<td width=2%><b>:</b></b>
		<td><%=h @leaveforstudent.apply_leave_status %></td>
	</tr>
	<tr>
		<td class="leftcol" ><label for="staff_id">Approved By</label></td>
		<td><b>:</b></b>
		<td><%=h @leaveforstudent.staff_id.blank? ? "-" : @leaveforstudent.approver_details  %></td>
	</tr>
	<tr>
	    <td class="leftcol"><label for="approvedate">Approved On</label></td>
		<td><b>:</b></b>
		<td><%=h @leaveforstudent.approvedate.blank? ? "-" : @leaveforstudent.approvedate.strftime("%d %b %Y") %></td>
	</tr>
  </table>

</div>
<BR>
<%= link_to 'Edit', edit_leaveforstudent_path(@leaveforstudent) %> |
<%= link_to 'Back', leaveforstudents_path %>