<div class="tform">
<H2>Tenancy</H2>
<table width=100%>
	<tr>
		<td class="leftcol">Location</font></td>
		<td><%=h @tenant.location_id %></td> <!-- 16/11/2011 - Shaliza added code for location if no longer exist.-->
	</tr>
	<tr>
		<% if @tenant.location_typename == 2 %> <!-- 16/11/2011 - Shaliza added code for typename if no longer exist.-->
			<td class="leftcol">Student</td>
			<td><%= f.collection_select :student_id, Student.find(:all), :id, :student_name_with_programme %></td>
		<% end %>
		<% if @tenant.location_typename == 1 %> <!-- 16/11/2011 - Shaliza added code for typename if no longer exist.-->
			<td class="leftcol">Staff</td>
			<td><%= f.collection_select :staff_id, Staff.find(:all), :id, :mykad_with_staff_name %></td>
		<% end %>
	</tr>
	<tr>
		<td class="leftcol">Date Key Provided</td>
		<td><%= f.date_select :keyaccept %></td>
	</tr>
	<tr>
		<td class="leftcol">Date Key Expected For Return</td>
		<td><%= f.date_select :keyexpectedreturn, :include_blank => true  %></td>
	</tr>
	<tr>
		<td class="leftcol">Date Key Returned</td>
		<td><%= f.date_select :keyreturned, :include_blank => true %></td>
	</tr>
	<tr>
		<td class="leftcol">Force Vacate</td>
		<td><%= f.check_box :force_vacate %></td>
	</tr>
</table>
</div>

				
				
		   
