<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="100" height="100"/></th>
		<th><H4>PPL APMM<BR><BR>NO.DOKUMEN: BK-LAT-KS-02-02<BR>BORANG KEDIAMAN ASRAMA</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="100" height="100"/></th>
	</tr>
</table>


<div id="title">
	<table width=100% cellspacing="0" border="1">
		<tr>
			<th colspan=4 align="left"> DISEDIAKAN OLEH: </th>
			<th colspan=2 align="left">TARIKH KEMASKINI: </th>
		</tr>

	</table>
	
	<br>
	<center><u><b>BORANG KEDIAMAN ASRAMA</b></u></center>

<br>

<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black>
	<tr>
		<td colspan=2 bgcolor = "#FEFE56"><b>A. MAKLUMAT PELATIH</b></td>
	</tr>
	<tr>
		<td colspan=2>Nama Pelatih : <%=h @tenant.student.name %></td>
	</tr>
	<tr>
		<td colspan=2>No. K/P : <%=h @tenant.student.formatted_mykad %></td>
	</tr>
	<tr>
		<td>Pangkat : <%=h @tenant.student.pangkat %></td>
		<td>Jawatan : </td>
	</tr>
	<tr>
		<td colspan=2>Unit/Bahagian/Cawangan : <%=h @tenant.student.unit %></td>
	</tr>
	<tr>
		<td colspan=2>Nama Kursus : <%=h @tenant.student.programme_for_student %></td>
	</tr>	
	<tr>
		<td colspan=2>Tarikh Mula Kursus :<%=h @tenant.student.start_training.blank? ? "-" : l(@student.regdate) %></td>
	</tr>
	<tr>
		<td colspan=2>Tarikh Tamat Kursus : <%= @tenant.student.end_training %></td>
	</tr>	
	<tr>
		<td colspan=2>Alamat Rumah : <%= @tenant.student.address %></td>
	</tr>
	<tr>
		<td colspan=2>No. Telefon Bimbit : <%= @tenant.student.stelno %></td>
	</tr>
														<tr>
															<td colspan=2>No. Kenderaan : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jenis Kenderaan :</td>
															</tr>									
</table><br>

<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black>
	<tr>
		<td colspan=3 bgcolor = "#FEFE56"><b>B. PENEMPATAN ASRAMA</b></td>
		</tr>
		<tr>
			<td>
				<table width=100% cellspacing="0" cellpadding="9" font size="5px" border="0" bordercolor=black>
					<tr>
						<td width=65%>Asrama : Asas Lelaki / Wanita / Pegawai</td>
						<td>Bilik No :</td></tr>
					</table>
				
			</td></tr>
				<tr>
					<td>
						<table width=100% cellspacing="0" cellpadding="9" font size="5px" border="0" bordercolor=black>
							<tr>
								<td width=65%>Bilangan Kunci Diberikan :</td>
								</tr>
							</table>

					</td></tr>
					<tr>
						<td>
							<table width=100% cellspacing="0" cellpadding="9" font size="5px" border="0" bordercolor=black>
								<tr>
									<td width=65%>Deposit Dikenakan : _______________________________ Catatan Dalam Buku Kediaman : Ada/Tiada</td>
									</tr>
								</table>

						</td></tr>
							<tr>
								<td>
									<table width=100% cellspacing="0" cellpadding="9" font size="5px" border="0" bordercolor=black>
										<tr>
											<td width=25%>Keperluan Sajian :</td>
											<td width=15%></td>
											<td width=5%>Ya</td>
											<td width=10%><table width=100% cellspacing="0" cellpadding="14" font size="5px" border="1" bordercolor=black><tr><td></td></tr></table></td>
											<td width=7%>Tidak</td>
											<td width=10%><table width=100% cellspacing="0" cellpadding="14" font size="5px" border="1" bordercolor=black><tr><td></td></tr></table></td>
											<td width=50%></td>
											</tr>
											
										</table></td>
										
											</tr>
										</table>

								</td></tr>
		
		</table><br><br>
		
		<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black>
			<tr>
				<td colspan=3 bgcolor = "#FEFE56"><b>B. PENEMPATAN ASRAMA</b></td>
				</tr>
				<tr>
					<td>
							<table width=100% cellspacing="0" cellpadding="9" font size="5px" border="0" bordercolor=black>
								<tr><td>5.<b><u>Oleh : Pelatih</u></b><br><br>
									Nama Pelatih : ____________________________________<br><br>
									Tandatangan &nbsp;: ____________________________________<br><br>
									Tarikh &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ____________________________________<br></td>
									<td><center><b><u>Oleh : KULA/BLA/JL</u></b></center><br>
										Nama Pelatih : ____________________________________<br><br>
										Tandatangan &nbsp;: ____________________________________<br><br>
										Tarikh &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ____________________________________<br></td>
									
									
									</tr></table>
						
					</td></tr>
					
					</table>


<br><br><br> 
<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="0" bordercolor=black>
<tr><td>BK-LAT-KS-02-02</td>
<td><p class="marginright" align="right">1 daripada 2</p></td></tr>
</table>
<br><br>

</div>
</div>
</fieldset>
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="100" height="100"/></th>
		<th><H4>PPL APMM<BR><BR>NO.DOKUMEN: BK-LAT-KS-02-02<BR>BORANG KEDIAMAN ASRAMA</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="100" height="100"/></th>
	</tr>
</table>


<div id="title">
	<table width=100% cellspacing="0" border="1">
		<tr>
			<th colspan=4 align="left"> DISEDIAKAN OLEH: STAF BPL</th>
			<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
		</tr>

	</table>
	
	
	<br>
	<table width=100% cellspacing="0" border="1">
		<tr><td><b>Nota :</b><br><br>
			1. Deposit akan dikembalikan apabila pelatih selesai menjalani kursus.<br><br>
			2. Kenderaan hanya dibenarkan hanya untuk peserta kursus lanjutan/undang-undang sahaja.<br></td></tr>
			
		</table>

<br>



<br><br><br> 
<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="0" bordercolor=black>
<tr><td>BK-LAT-KS-02-02</td>
<td><p class="marginright" align="right">1 daripada 2</p></td></tr>
</table>
<br><br>

</div>
</div>
</fieldset>

