<h3>Edit Tenant</h3>

<% form_for(@tenant) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tenant %> |
<%= link_to 'Back', tenants_path %>