<h3>New Tenant</h3>

<% form_for(@tenant) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :location_id %>
  <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tenants_path %>