<p>
  <b>Location:</b>
  <%=h @tenant.location_id %>
</p>

<p>
  <b>Staff:</b>
  <%=h @tenant.staff_id %>
</p>

<p>
  <b>Student:</b>
  <%=h @tenant.student_id %>
</p>

<p>
  <b>Keyaccept:</b>
  <%=h @tenant.keyaccept %>
</p>

<p>
  <b>Keyexpectedreturn:</b>
  <%=h @tenant.keyexpectedreturn %>
</p>

<p>
  <b>Keyreturned:</b>
  <%=h @tenant.keyreturned %>
</p>

<p>
  <b>Force vacate:</b>
  <%=h @tenant.force_vacate %>
</p>


<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>