<div class="tform">
<H2>Tenant Details</H2>
  <table width=100% border=0>

	<tr>
		<td class="leftcol" colspan=2><label for="location">Room No</label></td>
		<td><b>:</b></td>
		<td><%=h @tenant.location_name %></td>
	</tr>

	<% if @tenant.location_typename == 1 %>
	<tr>
		<td class="leftcol"><label for="staff_id">Staff Name</label></td>
		<td><b>:</b></td>
		<td><%=h @tenant.staff_name %>
		</tr>
		<% end %>

		<% if @tenant.location_typename == 2 %>
		<tr>
			<td class="leftcol" colspan=2><label for="student_id">Student Name</label></td>
			<td><b>:</b></td>
			<td><%=h @tenant.student_name %></td>
		</tr>
		<% end %>

		<tr>
			<td class="leftcol" colspan=2>Date Room Key Provided</td>
			<td><b>:</b></td>
			<td><%=h @tenant.keyaccept.blank? ? "-" : @tenant.keyaccept.strftime("%d-%b-%Y") %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2>Date Room Key Expected For Return</td>
			<td><b>:</b></td>
			<td><%=h @tenant.keyexpectedreturn.blank? ? "-" : @tenant.keyexpectedreturn.strftime("%d-%b-%Y") %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2>Date Room Key Returned</td>
			<td><b>:</b></td>
			<td><%=h @tenant.keyreturned.blank? ? "-" : @tenant.keyreturned.strftime("%d-%b-%Y") %></td>
		</tr>
		
		<tr>
			<td class="leftcol" colspan=2>Date Locker Key Provided</td>
			<td><b>:</b></td>
			<td><%=h @tenant.keyaccept.blank? ? "-" : @tenant.keyaccept.strftime("%d-%b-%Y") %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2>Date Locker Key Expected For Return</td>
			<td><b>:</b></td>
			<td><%=h @tenant.keyexpectedreturn.blank? ? "-" : @tenant.keyexpectedreturn.strftime("%d-%b-%Y") %></td>
		</tr>
		<tr>
			<td class="leftcol" colspan=2>Date Locker Key Returned</td>
			<td><b>:</b></td>
			<td><%=h @tenant.keyreturned.blank? ? "-" : @tenant.keyreturned.strftime("%d-%b-%Y") %></td>
		</tr>

		<tr>
			<td class="leftcol" colspan=2><label for="force_vacate">Force Vacate</label></td>
			<td><b>:</b></td>
			<td><%=h @tenant.force_vacate? ? "Yes" : "No" %></td>
		</tr>

</table>
</div>
<BR>
<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
