<div class="tform">
	<H2>Tenant Details</H2>
  <table width=100%>

		<tr>
			<td class="leftcol"><label for="location">Location:</label></td>
		  <td><%=h @tenant.location_name %></td>	   
		</tr>
	
	  <% if @tenant.location_typename == 1 %>
		<tr>
			<td class="leftcol"><label for="staff_id">Staff Name:</label></td>
		  <td><%=h @tenant.staff_name %>
		</tr>
		<% end %>
		
		<% if @tenant.location_typename == 2 %>
		<tr>
			<td class="leftcol"><label for="student_id">Student Name:</label></td>
	    <td><%=h @tenant.student_name %></td>   
		</tr>
		<% end %>
		
	<tr>
		<td class="leftcol"><label for="keyaccept">Key Accept Date:</label></td>
		<td><%=h l(@tenant.keyaccept) %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="keyexpectedreturn">Key Expected Return Date:</label></td>
		<td><%=h l(@tenant.keyexpectedreturn) unless @tenant.keyexpectedreturn.blank? %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="keyreturned">Key Returned Date :</label></td>
		<td><%=h l(@tenant.keyreturned) unless @tenant.keyreturned.blank? %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="force_vacate">Force Vacate:</label></td>
		<td><%=h @tenant.force_vacate? ? "Yes" : "No" %></td><!--16/11/2011 - Shaliza added code to display Yes or No not true or false-->
	</tr>
	
</table>
</div>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>