<div class="tform">
<H2><%= t 'messages.message_details' %></H2>
<table id="form" width=80%>
	<tr>
		<td class="leftcol"><label for="message"><%= t 'messages.recipient' %>:</label></td>
		<td></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="to_id"><%= t 'messages.to' %> :</label></td>
		<td><%= text_field_with_auto_complete :message, :to_name ,{ :size => 100 }, 
										{ :tokens => ",",:url => formatted_staffs_path(:js), 
										  :method => :get,
										  :param_name => 'search' } %>
				<i><%=t('messages.remark')%></i>
		</td>
	</tr>
	<tr>
		<td class="leftcol"><label for="message"><%= t 'messages.message' %>:</label></td>
		<td><%= f.text_area :message, :size => '60x6' %></td>
	</tr>
</table>
<BR>
</div>