<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Listing Messages</h2>
	</div>
</div>


<div class="indextable">
	<div class="toolbar">
		<p><%= link_to image_tag("add.png", :border => 0, :title => 'New Message') + "New", new_message_path %></p>
	</div><br/>
	
	<h3>Messages For Me</h3>
	<table>
		<tr>
			<th>From</th>
			<th>Received</th>
			<th>Message</th>
			<th>CC</th>
			<th colspan=1 class="ac">Control</th>
		</tr>

		<% @tome.each do |message| %>
		<tr>
			<td><%=h message.from.name   %></td>
			<td><%=h l(message.created_at)  %></td>
			<td><%=h message.message %></td>
			<td>
				<% for message_staffs in message.staffs %>
						<% if message_staffs.id == User.current_user.staff_id%>
						<% else %>
							<%=h message_staffs.name %><br/>
						<% end %>
				<% end %></td>
	    
			<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => message %></td>
			<!--<td width=10px><#%= link_to image_tag("edit.png",     :border => 0, :title => 'Edit'), :action => 'edit', :id => message %></td>
			<td width=10px><#%= link_to image_tag("delete.png",   :border => 0, :title => 'Delete'), message, :confirm => 'Are you sure?', :method => :delete %></td>-->
		</tr>
		<% end %>
	</table>
	<BR/><BR/><BR/>
  <h3>Sent Messages</h3>
	<table>
		<tr>
			<th>To Whom</th>
			<th>Sent</th>
			<th>Message</th>
			<th colspan=3 class="ac">Control</th>
		</tr>

		<% @sentmessages.each do |message| %>
		<tr>
			<td>
				<% for message_staffs in message.staffs %>
						<%=h message_staffs.name %><br>
				<% end %></td>
			<td><%=h l(message.created_at) %>
	    <td><%=h message.message %></td>
			<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => message %></td>
			<td width=10px><%= link_to image_tag("edit.png",     :border => 0, :title => 'Edit'), :action => 'edit', :id => message %></td>
			<td width=10px><%= link_to image_tag("delete.png",   :border => 0, :title => 'Delete'), message, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
		<% end %>
	</table>
	<BR/><BR/><BR/>
	
	
	
	
	

	
	<!--  old message code

		<table>
			<tr>
				<th>From</th>
				<th>To Whom</th>
				<th>Message</th>
				<th colspan=3 class="ac">Control</th>
			</tr>

			<#% @messages.each do |message| %>
			<tr>
				<td><#%=h message.from_id  %></td>
				<td>
					<#% for message_staffs in message.staffs %>
							<#%=h message_staffs.name %><br>
					<#% end %></td>
		    <td><#%=h message.message %></td>
				<td width=10px><#%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => message %></td>
				<td width=10px><#%= link_to image_tag("edit.png",     :border => 0, :title => 'Edit'), :action => 'edit', :id => message %></td>
				<td width=10px><#%= link_to image_tag("delete.png",   :border => 0, :title => 'Delete'), message, :confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
			<#% end %>
		</table>-->
	
</div>
<BR />

<%= link_to 'New Message', new_message_path %>