<h3><%= t 'messages.new' %></h3>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit (t 'create') %>
  </p>
<% end %>

<%= link_to (t 'back'), messages_path %>