<div class="tform">
	<H2>Message Details</H2>
  <table width=100% >

	<tr>
		<td class="leftcol"><label for="from_id">From</label></td>
		<td width=3%><b>:</td>
	    <td><%=h @message.from_staff  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="to_id">To </label></td>
		<td><b>:</td>
				<td><%#=h @message.staff.name %>
					<!--27-29Apr2012-->
					<% for message_staffs in @message.staffs %>
							<%=h message_staffs.staff_name_with_title %><br>
					<% end %>
					<!--27-29Apr2012-->
				</td>
	</tr>
	
	<!--<tr>
		<td class="leftcol"><label for="title">Title</label></td>
		<td width=3%><b>:</td>
	    <td><%#=h @message.title  %></td>
	</tr>-->
	
	<tr>
		<td class="leftcol"><label for="message">Message</label></td>
		<td><b>:</td>
		<td><%=h @message.message %></td>
	</tr>
	
</table>
<BR>
</div>
<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
