<div class="tform">
	<H2>Message Details</H2>
  <table width=100% >

	<tr>
		<td class="leftcol"><label for="from_id">From:</label></td>
	    <td><%=h @message.message_from_name  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="to_id">To :</label></td>
		<td><% for message_staffs in @message.staffs %>
				<%=h message_staffs.name %><br>
		<% end %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="message">Message:</label></td>
		<td><%=h @message.message %></td>
	</tr>
	
</table>
<BR>
</div>
<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>