<p>
  <b>From:</b>
  <%=h @message.from_id %>
</p>

<p>
  <b>To:</b>
  <%=h @message.to_id %>
</p>

<p>
  <b>Message:</b>
  <%=h @message.message %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>