<div class="tform">	
  <%= render :partial => 'show_report_details' %>

  <% if ["New", "Open"].include? (@student_discipline_case.status) %>
		<H2>Case Details : (<%=h @student_discipline_case.status %>)</H2>
		<table width=100%>
			<tr>
				<td class="leftcol"><label for="casedt"><b>Date:</b></label></td>
				<td><%= f.date_select :case_created_on, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
			</tr>		
			<tr>
				<td class="leftcol"><label for="investigation"><b>Investigation Summary:</b></label></td>
				<td><%= f.text_area :investigation_notes, :size => "60x5" %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="losstype"><b>Action Type</b></label></td>
				<td><%= f.radio_button :action_type, "no_case", 	:id => 'nc', :class => 'radio_action_type' %><label>No Case &nbsp; 
						<%= f.radio_button :action_type, "advise", 		:id => 'ja', :class => 'radio_action_type' %>Advise &nbsp; 
						<%= f.radio_button :action_type, "counseling",:id => 'co', :class => 'radio_action_type' %>Counseling &nbsp; 
						<%= f.radio_button :action_type, "assign2", 	:id => 'au', :class => 'radio_action_type' %>Refer to TPHEP &nbsp; </label>
						</td>
			</tr>

			
			<tr id="nc_item" style="display: none;">
				<td class="leftcol"><label for="closedtcollege"><b>Date Closed (College):</b></label></td>
				<td><%= f.date_select :closed_at_college_on, :order => [:day, :month, :year]  %></td>
			</tr>
			
			<tr id="ja_item" style="display: none;">
				<td class="leftcol"><label for="otherinfo"><b>Advice Given:</b></label></td>
				<td><%= f.text_area :other_info, :size => "40x5" %></td>
			</tr>
			
			<% f.fields_for :student_counseling_sessions do |builder| %>
			<tr id="co_item" style="display: none;">
				<td class="leftcol"><label for="otherinfo"><b>Couselling Request</b></label></td>
				<td><%= builder.datetime_select :requested_at, :minute_step => 30,  :order => [:day, :month, :year], :use_short_month => true, :default => Date.today + 3.days %></td>
				<%= builder.hidden_field :student_id, :value => @student_discipline_case.student_id %>
			</tr>
			<% end -%>
			
			
			<% myhod = Position.find(:all, :conditions => ['staff_id IS NOT ? AND ancestry_depth =?', nil, 1 ], :select => :staff_id).map(&:staff_id) %>
			<tr class="au_item" style="display: none;">
				<td class="leftcol"><label for="approved_date">Notify HOD</label></td>
		    <td><%= f.collection_select :assigned2_to, Staff.find(:all, :conditions => ['id IN (?)', myhod]), :id, :name %></td>
			</tr>
			
			<tr  class="au_item" style="display: none;">
				<td class="leftcol"><label for="casedt"><b>Date:</b></label></td>
				<td><%= f.date_select :assigned2_on  %></td>
			</tr>

		</table>
	<% end %>

	
	
	<% if ["Open"].include? (@student_discipline_case.status) %>	
	<H2>Action Details</H2>
		<table width=100%>	
			<tr>
				<td class="leftcol"><label for="action"><b>Action Taken:</b></label></td>
				<td><%= f.text_area :action, :size => "40x5" %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="location"><b>Location:</b></label></td>
				<td><%= f.collection_select :location_id, Location.find(:all, :order => :code), :id, :location_list %></td>
			</tr>			
			<tr> <!--used above-->
				<td class="leftcol"><label for="closedtcollege"><b>Date Closed (College):</b></label></td>
				<td><%= f.date_select :closed_at_college_on, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
			</tr>
		</table>
	<% end %>
	
	
	<% if @student_discipline_case.status == "Refer to BPL" %>		
	<%= render :partial => 'show_case_info' %>
	<%= render :partial => 'show_action_taken' %>
	<H2>Refer To BPL</H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="bplsenddt"><b>Date Sent To BPL:</b></label></td>
			<td><%= f.date_select :sent_to_board_on, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="jtkpdt"><b>Date JTKP:</b></label></td>
			<td><%= f.date_select :board_meeting_on, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="jtkpdecision"><b>JTKP Decision:</b></label></td>
			<td><%= f.text_area :board_decision, :size => "40x5" %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="jtkpdescisionrxdt"><b>Date JTKP Decision:</b></label></td>
			<td><%= f.date_select :board_decision_on, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="appealdt"><b>Appeal Date:</b></label></td>
			<td><%= f.date_select :appeal_on, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="appealdecision"><b>Appeal Decision:</b></label></td>
			<td><%= f.text_area :appeal_decision, :size => "40x5" %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="appealdecisionrxdt"><b>Appeal Decision Date:</b></label></td>
			<td><%= f.date_select :appeal_decision_on, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
		</tr>
	</table>
	<% end %>
	<%=render :partial => 'status', :locals => {:f => f} %>

<BR>
</div>	

<script type="text/javascript">
$j(document).ready(function(){ 
   $j("input[class='radio_action_type']").change(function() {  
     	if($j('#nc').is(':checked')) { 
	       $j("#nc_item").show();
				 $j("#ja_item").hide();
				 $j("#co_item").hide();
				 $j(".au_item").hide();
	     }else if ($j('#ja').is(':checked')){
				 $j("#nc_item").hide();
				 $j("#ja_item").show();
				 $j("#co_item").hide();
				 $j(".au_item").hide();
	     }else if($j('#co').is(':checked')){
	       $j("#nc_item").hide();
	       $j("#ja_item").hide();
	       $j("#co_item").show();
	       $j(".au_item").hide();
	     }else if ($j('#au').is(':checked')){
				 $j("#nc_item").hide();
				 $j("#ja_item").hide();
				 $j("#co_item").hide();
				 $j(".au_item").show();
      }
   });

		$j("input[class='radio_action_type']").each(function() {  
     	if($j('#nc').is(':checked')) { 
	       $j("#nc_item").show();
				 $j("#ja_item").hide();
				 $j("#co_item").hide();
				 $j(".au_item").hide();
	     }else if ($j('#ja').is(':checked')){
				 $j("#nc_item").hide();
				 $j("#ja_item").show();
				 $j("#co_item").hide();
				 $j(".au_item").hide();
	     }else if($j('#co').is(':checked')){
	       $j("#nc_item").hide();
	       $j("#ja_item").hide();
	       $j("#co_item").show();
	       $j(".au_item").hide();
	     }else if ($j('#au').is(':checked')){
				 $j("#nc_item").hide();
				 $j("#ja_item").hide();
				 $j("#co_item").hide();
				 $j(".au_item").show();
      }
   });
});
</script>
