<div class="tform">	
  <%= render :partial => 'show_report_details' %>

  <% if ["New", "Open"].include? (@student_discipline_case.status) %>
		<H2><%=t('studentdiscipline.details')%> : (<%=h @student_discipline_case.render_status %>)</H2>
		<table width=100%>
			<tr>
				<td class="leftcol"><label for="casedt"><b><%=t('studentdiscipline.case_created_on')%>:</b></label></td>
				<td><%= f.date_select :case_created_on, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
			</tr>
<!-- 			<%=t('studentdiscipline.')%> -->
			<tr>
				<td class="leftcol"><label for="cofile_id"><b><%=t('studentdiscipline.file_id')%>:</b></label></td>
				<td><%= f.collection_select :file_id, Cofile.find(:all), :id, :file_no_and_name, :include_blank => true %></td>
			</tr>
					
			<tr>
				<td class="leftcol"><label for="investigation"><b><%=t('studentdiscipline.investigation_notes')%>:</b></label></td>
				<td><%= f.text_area :investigation_notes, :size => "60x5" %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="action_type"><b><%=t('studentdiscipline.action_type')%>:</b></label></td>
				<td><%= f.radio_button :action_type, "no_case", 	:id => 'nc', :class => 'radio_action_type' %>
					<label><%=t('studentdiscipline.no_case')%> &nbsp; </label>
					<%= f.radio_button :action_type, "advise", :id => 'ja', :class => 'radio_action_type' %>
					<label><%=t('studentdiscipline.advise')%> &nbsp; </label>
					<%#= f.radio_button :action_type, "counseling",:id => 'co', :class => 'radio_action_type' %><!--Counseling &nbsp; -->
					<%= f.radio_button :action_type, "Ref TPHEP", 	:id => 'au', :class => 'radio_action_type' %>
					<label><%=t('studentdiscipline.refer_tphep')%> &nbsp; </label>
				</td>
			</tr>

			
			<tr id="nc_item" style="display: none;">
				<td class="leftcol"><label for="closedtcollege"><b><%=t('studentdiscipline.closed_at_college_on')%>:</b></label></td>
				<td><%= f.date_select :closed_at_college_on, :order => [:day, :month, :year]  %></td>
			</tr>
			
			<tr id="ja_item" style="display: none;">
				<td class="leftcol"><label for="otherinfo"><b><%=t('studentdiscipline.other_info')%>:</b></label></td>
				<td><%= f.text_area :other_info, :size => "40x5" %></td>
			</tr>
			<!--Position for TPHEP-->
			<% myhod = Position.find(:all, :conditions => ['id=?', 3], :select => :staff_id).map(&:staff_id)  %>
			<tr class="au_item" style="display: none;">
				<td class="leftcol"><label for="approved_date"><%=t('studentdiscipline.assigned2_to')%></label></td>
				<td>
				  <%= f.collection_select :assigned2_to, Staff.find(:all, :conditions => ['id IN (?)', myhod]), :id, :name %>
				  <!-- replace this with - model/student_discipline_case.rb - line 46- self.assigned2_to = nil-->
				  <%#= select_tag "student_discipline_case[assigned2_to]","<option value=''>"+'Please select'+"</option>"+options_from_collection_for_select(Staff.find(:all, :conditions => ['id IN (?)', myhod]), :id, :name) %>
				</td>
			</tr>
			
			<tr  class="au_item" style="display: none;">
				<td class="leftcol"><label for="casedt"><b><%=t('studentdiscipline.assigned2_on')%>:</b></label></td>
				<td><%= f.date_select :assigned2_on  %></td>
			</tr>

		</table>
	<% end %>

	<!--add-in  && @student_discipline_case.assigned2_to == Login.current_login.staff_id below condition - only TPHEP can view action details-19dec2012-->
	<% if (["Refer to TPHEP"].include? (@student_discipline_case.status) && (@student_discipline_case.assigned2_to == Login.current_login.staff_id) || @is_admin) %>
	
	<%# if (["Refer to TPHEP"].include? (@student_discipline_case.status) && (@student_discipline_case.assigned2_to == Login.current_login.staff_id) || @is_admin) ||
	(["Open"].include? (@student_discipline_case.status) && (@student_discipline_case.assigned2_to == Login.current_login.staff_id) || @is_admin)%>
	<%= render :partial => 'show_case_info' %>	
	<H2><%=t('studentdiscipline.action_details')%></H2>
		<table width=100%>	
			
			<tr>
				<td class="leftcol"><label for="losstype"><b><%=t('studentdiscipline.action_type')%></b></label></td>
				<td><%= f.radio_button :action_type, "counseling", :id => 'co', 	:class => 'radio_action_type' %><label><%=t('studentdiscipline.counseling')%> &nbsp; 
						<%= f.radio_button :action_type, "Ref to BPL", :id => 'bpl', :class => 'radio_action_type' %><%=t('studentdiscipline.refer_bpl')%> &nbsp; </label>
						</td>
			</tr>
			
			<tr class="co_item" style="display: none;">
				<td class="leftcol"><label for="action"><b><%=t('studentdiscipline.action')%>:</b></label></td>
				<td><%= f.text_area :action, :size => "40x5" %></td>
			</tr>
			
			<%# f.fields_for :student_counseling_sessions do |builder| %>
			<tr class="co_item" style="display: none;">
				<td class="leftcol"><label for="otherinfo"><b><%=t('studentdiscipline.counseling_request')%></b></label></td>
				<td><%#= builder.datetime_select :requested_at, :minute_step => 30,  :order => [:day, :month, :year], :use_short_month => true, :default => Date.today + 3.days %>
				
					<%=datetime_select "student_discipline_case[student_counseling_sessions_attributes][0]","requested_at"%>
					<%=hidden_field_tag "student_discipline_case[student_counseling_sessions_attributes][0][student_id]", @student_discipline_case.student_id %>
				
				
				</td>
				<%#= builder.hidden_field :student_id, :value => @student_discipline_case.student_id %>
		
			</tr>
			<%# end -%>
			
		
			<tr class="co_item" style="display: none;" > <!--used above-->
				<td class="leftcol"><label for="closedtcollege"><b><%=t('studentdiscipline.closed_at_college_on')%>:</b></label></td>
				<td><%= f.date_select :closed_at_college_on, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
			</tr>
			
			<tr class="bpl_item" style="display: none;">
				<td class="leftcol"><label for="bplsenddt"><b><%=t('studentdiscipline.sent_to_board_on')%>:</b></label></td>
				<td><%= f.date_select :sent_to_board_on, :order => [:day, :month, :year] %></td>
			</tr>
		</table>
		<!--add in status assignment here? 19 dec 2012-->
		<%#=render :partial => 'status', :locals => {:f => f} %><!--compulsory to hv this - for refer to BPL partial to works-->
		<!--add in status assignment here? 19 dec 2012-->
	<% end %>
	
	
	<% if @student_discipline_case.status == "Refer to BPL" %>		
	<%= render :partial => 'show_case_info' %>
	<%= render :partial => 'show_action_taken' %>
	<H2><%=t('studentdiscipline.refer_bpl')%></H2>
	<table width=100%>
		

		<tr>
			<td class="leftcol"><label for="jtkpdt"><b><%=t('studentdiscipline.board_meeting_on')%>:</b></label></td>
			<td><%= f.date_select :board_meeting_on, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="jtkpdecision"><b><%=t('studentdiscipline.board_decision')%>:</b></label></td>
			<td><%= f.text_area :board_decision, :size => "40x5" %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="jtkpdescisionrxdt"><b><%=t('studentdiscipline.board_decision_on')%>:</b></label></td>
			<td><%= f.date_select :board_decision_on, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="appealdt"><b><%=t('studentdiscipline.appeal_on')%>:</b></label></td>
			<td><%= f.date_select :appeal_on, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="appealdecision"><b><%=t('studentdiscipline.appeal_decision')%>:</b></label></td>
			<td><%= f.text_area :appeal_decision, :size => "40x5" %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="appealdecisionrxdt"><b><%=t('studentdiscipline.appeal_decision_on')%>:</b></label></td>
			<td><%= f.date_select :appeal_decision_on, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="action"><b><%=t('studentdiscipline.action')%>:</b></label></td>
			<td><%= f.text_area :action, :size => "40x5" %></td>
		</tr>
		
		<tr class="co_item" style="display: none;" > <!--used above-->
			<td class="leftcol"><label for="closedtcollege"><b><%=t('studentdiscipline.closed_at_college_on')%>:</b></label></td>
			<td><%= f.date_select :closed_at_college_on, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
		</tr>
		
	</table>
	<% end %>
	<%=render :partial => 'status', :locals => {:f => f} %>

<BR>
</div>	




<script type="text/javascript">
$j(document).ready(function(){ 
   $j("input[class='radio_action_type']").change(function() {  
     	if($j('#nc').is(':checked')) { 
	       $j("#nc_item").show();
				 $j("#ja_item").hide();
				 $j(".co_item").hide();
				 $j(".au_item").hide();
				//ADDED-21DEC
				 var ansM = document.getElementById("student_discipline_case_status");
				 ansM.value = "Closed";
				//ADDED-21DEC
	     }else if ($j('#ja').is(':checked')){
				 $j("#nc_item").hide();
				 $j("#ja_item").show();
				 $j(".co_item").hide();
				 $j(".au_item").hide();
				//ADDED-21DEC
				 var ansM = document.getElementById("student_discipline_case_status");
				 ansM.value = "Closed";
				//ADDED-21DEC
	     }else if ($j('#au').is(':checked')){
				 $j("#nc_item").hide();
				 $j("#ja_item").hide();
				 $j(".co_item").hide();
				 $j(".au_item").show();
				 $j(".bpl_item").hide();
				//ADDED-21DEC
				 var ansM = document.getElementById("student_discipline_case_status");
				 ansM.value = "Refer to TPHEP";
				//ADDED-21DEC
      }else if($j('#co').is(':checked')){
	       $j("#nc_item").hide();
	       $j("#ja_item").hide();
	       $j(".co_item").show();
	       $j(".au_item").hide();
	       $j(".bpl_item").hide();
			 	var ansM = document.getElementById("student_discipline_case_status");	//co --> counseling
			 	ansM.value = "Closed";
				//var ansM = document.getElementById("student_discipline_case_status");	//co --> counseling
				//ansM.value = "Open";
		  }else if ($j('#bpl').is(':checked')){
				 $j("#nc_item").hide();
				 $j("#ja_item").hide();
				 $j(".co_item").hide();
				 $j(".au_item").hide();
				 $j(".bpl_item").show();
				 var ansM = document.getElementById("student_discipline_case_status");
				 ansM.value = "Refer to BPL";
	    }

   });

		$j("input[class='radio_action_type']").each(function() {  
     	if($j('#nc').is(':checked')) { 
	       $j("#nc_item").show();
				 $j("#ja_item").hide();
				 $j(".co_item").hide();
				 $j(".au_item").hide();
	     }else if ($j('#ja').is(':checked')){
				 $j("#nc_item").hide();
				 $j("#ja_item").show();
				 $j(".co_item").hide();
				 $j(".au_item").hide();
	     }else if ($j('#au').is(':checked')){
				 $j("#nc_item").hide();
				 $j("#ja_item").hide();
				 $j(".co_item").hide();
				 $j(".au_item").show();
				 $j(".bpl_item").hide();
      }else if($j('#co').is(':checked')){
	       $j("#nc_item").hide();
	       $j("#ja_item").hide();
	       $j(".co_item").show();
	       $j(".au_item").hide();
	       $j(".bpl_item").hide();
		  }else if ($j('#bpl').is(':checked')){
				 $j("#nc_item").hide();
				 $j("#ja_item").hide();
				 $j(".co_item").hide();
				 $j(".au_item").hide();
				 $j(".bpl_item").show();
	    }
   });
});
</script>
