<table width=100%>
		<tr>
			<td class="leftcol"><label for="reportedby_id"><b>Reported By:</b></label></td>
			<td><%= f.collection_select :reported_by, Staff.find(:all, :order => :name), :id, :name, { :selected => @current_user.staff_id } %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="student_id"><b>Student Name:</b></label></td>
		<td><%= f.collection_select :student_id, Student.find(:all, :order => :icno), :id, :formatted_mykad_and_student_name, :prompt => 'Select Student' %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="infraction"><b>Details</b></label></td>
			<td><%= f.select :infraction_id,
			                 StudentDisciplineCase::INFRACTION,
			                 :prompt => "Select" %></td>
		</tr>
		
		<tr id="tr_description" style="display: none;">
			<td class="leftcol"><label for="details"><b>If Others, Please Specify</b></label></td>
			<td><%= f.text_area :description, :size => "40x5" %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="reporteddt"><b>Date:</b></label></td>
			<td><%= f.date_select :reported_on, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="cofile_id"><b>File No:</b></label></td>
			<td><%= f.collection_select :file_id, Cofile.find(:all), :id, :file_no_and_name, :include_blank => true %></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="asset_code"><b>Assign To </b></label></td>
			<td><%= f.check_box :is_assigned %> <SPAN class='assign_it' style="display: none;"><label>On </label><%= f.date_select :assigned_on %></SPAN></td>
		</tr>
		
		<% myhod = Position.find(:all, :conditions => ['staff_id IS NOT ? AND ancestry_depth =?', nil, 1 ], :select => :staff_id).map(&:staff_id) %>
		<tr class="assign_it" style="display: none;">
			<td class="leftcolwide"><label for="programme_head">Assign to Programme Head</label></td>
	    <td><%= f.collection_select :assigned_to, Staff.find(:all, :conditions => ['id IN (?)', myhod]), :id, :name %></td>
		</tr>		
	</table>