<fieldset>
	<legend class='togvis'>Case Information: (<%=h @student_discipline_case.status %>)</legend>
		<table width=100%>
			<tr>
				<td class="leftcol"><label for="casedt"><b>Date:</b></label></td>
				<td><%=h l(@student_discipline_case.case_created_on) unless @student_discipline_case.case_created_on.blank? %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="cofile_id"><b>File No:</b></label></td>
				<td><%=h @student_discipline_case.file_id.blank? ? "No File" : @student_discipline_case.cofile.file_no_and_name %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="investigation"><b>Investigation Summary:</b></label></td>
				<td><%=h @student_discipline_case.investigation_notes %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="investigation">Action:</label></td>
				<td><%=h @student_discipline_case.action_type.titleize unless @student_discipline_case.action_type.blank? %></td>
			</tr>
	
			<% if @student_discipline_case.action_type == "no_case" %>
			<tr>
				<td class="leftcol"><label for="investigation">Date Closed (College)::</label></td>
				<td><%=h l(@student_discipline_case.closed_at_college_on) unless @student_discipline_case.closed_at_college_on.blank? %></td>
			</tr>
			<% end -%>
	
			<% if @student_discipline_case.action_type == "advise" %>
			<tr>
				<td class="leftcol"><label for="investigation">Advice Given:</label></td>
				<td><%=h @student_discipline_case.other_info %></td>
			</tr>
			<% end -%>
	
			<% if @student_discipline_case.action_type == "counseling" %>
			<% for student_counseling_session in @student_discipline_case.student_counseling_sessions %>
			<tr>
				<td class="leftcol"><label for="investigation">Date Requested:</label></td>
				<td><%=h student_counseling_session.requested_at %></td>
			</tr>
			<% end -%><% end -%>
	
			<% if @student_discipline_case.action_type == "Ref TPHEP" %>
			<tr>
				<td class="leftcol"><label for="investigation">Notified:</label></td>
				<td><%=h @student_discipline_case.tphep.name %> On <%=h l(@student_discipline_case.assigned2_on) %></td>
			</tr>
			<% end -%>
		</table>
</fieldset>