<h3>Edit Discipline Report</h3>

<% form_for(@student_discipline_case) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @student_discipline_case %> |
<%= link_to 'Back', student_discipline_cases_path %>