<div class="box">
	<div class="box-head">
		<h2 class="left">Student Discipline Issues</h2>
		<div class="right">
			<%= select_tag_for_filter("student_discipline_cases", @filters, params) %>
		</div>
	</div>
</div>

<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => 'Register Case') + "New", new_student_discipline_case_path %></p>
</div>

<div class="indextable">
	<table width=90% border="0" cellpadding="0" cellspacing="0">
		<tr>
			<th>Status</th>
			<th>Student Name</th>
			<th>Details</th>
			<th>Reported Date</th>
			<th>File No</th>
			<th>Location</th>
			<th>Other Information</th>

			<th colspan=3 class="ac"><%= t 'control' %></th>

		</tr>

<% @student_discipline_cases.each do |student_discipline_case| %>
  <tr>
    <td><%=h student_discipline_case.status %></td>
    <td><%=h student_discipline_case.student_name %></td>
    <td><%=h student_discipline_case.description %></td>
    <td><%=h tarikh(student_discipline_case.reported_on) %></td>
    <td><%=h student_discipline_case.file_name %></td>
    <td><%=h student_discipline_case.room_no %></td>
    <td><%=h student_discipline_case.other_info %></td>
		
		
    <td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => student_discipline_case %></td>
    <td width=10px>
			<% if permitted_to? :manage, :student_discipline_cases %>
			<% if student_discipline_case.status != "Closed" && student_discipline_case.status != "No Case" %>
				<%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => student_discipline_case %>
			<% end %>
		</td>
    <td width=10px ><%= link_to image_tag("delete.png",   :border => 0, :title => 'Delete'), student_discipline_case, :confirm => 'Are you sure?', :method => :delete %></td>
  	<% end %>
</tr>
<% end %>
</table>

<br />
</div>

<%= link_to 'New Discipline Case', new_student_discipline_case_path %>