<h3>New Discipline Report</h3>

<% form_for(@student_discipline_case) do |f| %>
  <%= f.error_messages %>
  <div class="tform">
  <H2>Report Details</H2>
  <table width=100%>
		<tr>
			<td class="leftcol"><label for="reportedby_id"><b>Reported By:</b></label></td>
			<td><%= f.collection_select :reported_by, Staff.find(:all, :order => :name), :id, :name, { :selected => @current_login.staff_id } %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="student_id"><b>Student Name:</b></label></td>
		<td><!--available student - not yet completed studies-->
			<%= f.collection_select :student_id, Student.find(:all, :conditions=>['end_training>?',Date.today], :order => :icno), :id, :formatted_mykad_and_student_name, :prompt => 'Select Student' %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="infraction"><b>Details</b></label></td>
			<td><%= f.select :infraction_id,
			                 StudentDisciplineCase::INFRACTION,
			                 :prompt => "Select" %></td>
		</tr>
		
		<tr id="tr_description" style="display: none;">
			<td class="leftcol"><label for="details"><b>If Others, Please Specify</b></label></td>
			<td><%= f.text_area :description, :size => "40x5" %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="location"><b>Location of Infraction:</b></label></td>
			<td><%= f.collection_select :location_id, Location.find(:all, :order => :code), :id, :location_list %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="reporteddt"><b>Date:</b></label></td>
			<td><%= f.date_select :reported_on, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="programme_head">Assign to Programme Head</label></td>
	    <td><%= f.collection_select :assigned_to, Staff.find(:all, :conditions => ['id IN (?)', @myhod]), :id, :name, :include_blank => "Select Head of Programme"%></td>
		</tr>		
	</table>
	<%= f.hidden_field :assigned_on, :value => Date.today %>
	<% f.fields_for :student_counseling_sessions do |builder| %>
		<%= builder.hidden_field :c_scope, :value => "case" %>
		<%= builder.hidden_field :c_type, :value => "involuntary" %>
	<% end -%>
	
	
	
 	<%=render :partial => 'status', :locals => {:f => f} %> 
	</div>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', student_discipline_cases_path %>





<script type="text/javascript">
	$j(document).ready(function(){ 
			
			$j("#student_discipline_case_infraction_id").change(function() {  
			 if($j("#student_discipline_case_infraction_id").val() == '4') { 
			    $j("#tr_description").show("slide"); 
			  }else{
			    $j("#tr_description").hide("");
				}
			});
			
			$j("#student_discipline_case_infraction_id").each(function() {  
			 if($j("#student_discipline_case_infraction_id").val() == '4') { 
			    $j("#tr_description").show("slide"); 
			  }else{
			    $j("#tr_description").hide("");
				}
			});
			
			$j("input[id='student_discipline_case_is_assigned']").change(function() {  
			 if($j('#student_discipline_case_is_assigned').is(':checked')) { 
			    $j(".assign_it").show("highlight"); 
			 }else		{
			    $j(".assign_it").hide(""); 
			 }	
			});

			$j("input[id='student_discipline_case_is_assigned']").each(function() {  
			 if($j('#student_discipline_case_is_assigned').is(':checked')) { 
			    $j(".assign_it").show("highlight"); 
			 }else		{
			    $j(".assign_it").hide(""); 
			 }	
			});
	});
</script>