<div class="tform">

	<%= render :partial => 'show_report_details' %>

	
	<% if ["Open", "Closed", "No Case", "Refer to TPHEP", "Refer to BPL"].include? (@student_discipline_case.status) %>
		<%= render :partial => 'show_case_info' %>
	<% end %>
	
	<% if ["Open", "Closed", "Refer to TPHEP", "Refer to BPL"].include? (@student_discipline_case.status) %>
		<%= render :partial => 'show_action_taken' %>
	<% end %>

	<% if ["Refer to BPL"].include? (@student_discipline_case.status)  %>
	<%# if ["Closed","Refer to BPL"].include? (@student_discipline_case.status)  %>
	<fieldset>
		<legend class='togvis'>Refer to BPL</legend>
			<table width=100%>
				<tr>
					<td class="leftcol"><label for="bplsenddt"><b>Date Sent To BPL:</b></label></td>
					<td><%=h tarikh(@student_discipline_case.sent_to_board_on) %></td>
				</tr>

					<tr>
						<td class="leftcol"><label for="jtkpdt"><b>Date JTKP:</b></label></td>
						<td> <%=h tarikh(@student_discipline_case.board_meeting_on) %></td>
					</tr>

					<tr>
						<td class="leftcol"><label for="jtkpdecision"><b>JTKP Decision:</b></label></td>
						<td><%=h @student_discipline_case.board_decision %></td>
					</tr>
			
					<tr>
						<td class="leftcol"><label for="jtkpdescisionrxdt"><b>Date JTKP Decision:</b></label></td>
						<td><%=h tarikh(@student_discipline_case.board_decision_on) %></td>
					</tr>
			
					<tr>
						<td class="leftcol"><label for="appealdt"><b>Appeal Date:</b></label></td>
						<td><%=h tarikh(@student_discipline_case.appeal_on) %></td>
					</tr>
			
					<tr>
						<td class="leftcol"><label for="appealdecision"><b>Appeal Decision:</b></label></td>
						<td> <%=h @student_discipline_case.appeal_decision %></td>
					</tr>
			
					<tr>
						<td class="leftcol"><label for="appealdecisionrxdt"><b>Appeal Decision Date:</b></label></td>
						<td><%=h tarikh(@student_discipline_case.appeal_decision_on) %></td>
					</tr>
			</table>
			<% end %>
		</fieldset>
			<table>	
				<tr>
					<td class="leftcol"><label for="status"><b>Status:</b></label></td>
					<td><%=h @student_discipline_case.status %></td>
				</tr>
			</table>

<BR/>
</div>

<% if permitted_to? :manage, :student_discipline_cases %>
	<%= link_to 'Edit', edit_student_discipline_case_path(@student_discipline_case) %> |
<% end %>
<%= link_to 'Back', student_discipline_cases_path %>