<table width=90% cellpadding=15px>

	<tr>
		<th><%= t 'evaluation.form.title_part3' %></th>
		<th>PPP</th>
		<th>PPK</th>
		
	<tr valign=bottom>
		<td><label for="quantity">
			<b><%= t 'evaluation.form.quantity' %></b><BR>
			<font size=-1><%= t 'evaluation.form.quantity_desc' %></font></label></td>
		<td><%= f.text_field :pppquantity, :size => 5, :value => 0 %></td>
		<td><%= f.text_field :ppkquantity, :size => 5, :value => 0 %></td>
	</tr>
	
	<tr valign=bottom>
		<td><label for="quality">
			<b><%= t 'evaluation.form.quality' %></b><BR>
			<font size=-1><ol><%= t 'evaluation.form.quanlity_desc1' %><BR>
				              <%= t 'evaluation.form.quanlity_desc2' %></ol></font></label></td>
		<td><%= f.text_field :pppquality, :size => 5, :value => 0 %></td>
		<td><%= f.text_field :ppkquality, :size => 5, :value => 0 %></td>
	</tr>
	<tr>
		<td><label for="ontime">
			<b><%= t 'evaluation.form.ontime' %></b><BR>
			<font size=-1><%= t 'evaluation.form.ontime_desc' %></font>
			</label></td>
		<td><%= f.text_field :pppontime, :size => 5, :value => 0 %></td>
		<td><%= f.text_field :ppkontime, :size => 5, :value => 0 %></td>
	</tr>

	<tr>
		<td><label for="effective">
		<b><%= t 'evaluation.form.effective' %></b><BR>
		<font size=-1><%= t 'evaluation.form.effective_desc' %></font>
		</label></td>
		<td><%= f.text_field :pppeffective, :size => 5, :value => 0 %></td>
		<td><%= f.text_field :ppkeffective, :size => 5, :value => 0 %></td>
	</tr>
	
	<tr>
		<th><%= t 'evaluation.form.title_part4' %></th>
		<th>PPP</th>
		<th>PPK</th>
	</tr>

	<tr>
		<td><label for="knowledge">
			<b><%= t 'evaluation.form.knowledge' %></b><BR>
			<font size=-1><%= t 'evaluation.form.knowledge_desc' %></font></label></td>
		<td><%= f.text_field :pppknowledge, :size => 5, :value => 0 %></td>
		<td><%= f.text_field :ppkknowledge, :size => 5, :value => 0 %></td>
	</tr>

	<tr>
		<td><label for="rules">
			<b><%= t 'evaluation.form.rules' %></b><BR>
			<font size=-1><%= t 'evaluation.form.rules_desc' %></font></label></td>
		<td><%= f.text_field :ppprules, :size => 5, :value => 0 %></td>
		<td><%= f.text_field :ppkrules, :size => 5, :value => 0 %></td>
	</tr>

	<tr>
		<td><label for="communication">
			<b><%= t 'evaluation.form.communication' %></b><BR>
			<font size=-1><%= t 'evaluation.form.communication_desc' %></font></label></td>
		<td><%= f.text_field :pppcommunication, :size => 5, :value => 0 %></td>
		<td><%= f.text_field :ppkcommunication, :size => 5, :value => 0 %></td>
	</tr>



	<tr>
		<th><%= t 'evaluation.form.title_part5' %></th>
		<th>PPP</th>
		<th>PPK</th>
	</tr>

	<tr>
		<td><label for="leadership">
			<b><%= t 'evaluation.form.leadership' %></b><BR>
			<font size=-1><%= t 'evaluation.form.leadership_desc' %></font></label></td>
		<td><%= f.text_field :pppleader, :size => 5, :value => 0 %></td>
		<td><%= f.text_field :ppkleader, :size => 5, :value => 0 %></td>
	</tr>

	<tr>
		<td><label for="management">
			<b><%= t 'evaluation.form.management' %></b><BR>
			<font size=-1><%= t 'evaluation.form.management_desc' %></font></label></td>
		<td><%= f.text_field :pppmanage, :size => 5, :value => 0 %></td>
		<td><%= f.text_field :ppkmanage, :size => 5, :value => 0 %></td>
	</tr>

	<tr>
		<td><label for="discipline">
			<b><%= t 'evaluation.form.discipline' %></b><BR>
			<font size=-1><%= t 'evaluation.form.discipline_desc' %></font></label></td>
		<td><%= f.text_field :pppdiscipline, :size => 5, :value => 0 %></td>
		<td><%= f.text_field :ppkdisipline, :size => 5, :value => 0 %></td>
	</tr>
	
	<tr>
		<td><label for="proactive">
			<b><%= t 'evaluation.form.proactive' %></b><BR>
			<font size=-1><%= t 'evaluation.form.proactive_desc' %></font></label></td>
		<td><%= f.text_field :pppproactive, :size => 5, :value => 0 %></td>
		<td><%= f.text_field :ppkproactive, :size => 5, :value => 0 %></td>
	</tr>

	<tr>
		<td><label for="relate">
			<b><%= t 'evaluation.form.relate' %></b><BR>
			<font size=-1><%= t 'evaluation.form.relate_desc' %></font></label></td>
		<td><%= f.text_field :ppprelate, :size => 5, :value => 0 %></td>
		<td><%= f.text_field :ppkrelate, :size => 5, :value => 0 %></td>
	</tr>
	
	
	
	<tr>
		<th><%= t 'evaluation.form.title_part6' %></th>
		<th>PPP</th>
		<th>PPK</th>
	</tr>

	<tr>
		<td><label for="parttwo">
			<b><%= t 'evaluation.form.parttwo' %></b><BR>
			<font size=-1><%= t 'evaluation.form.parttwo_desc' %></font></label></td>
		<td><%= f.text_field :pppparttwo, :size => 5, :value => 0 %></td>
		<td><%= f.text_field :ppkparttwo, :size => 5, :value => 0 %></td>
	</tr>
	
	<tr>
		<td></td>
		<td><%= f.text_field :ppptotals, :size => 5 %></td>
		<td><%= f.text_field :ppktotals, :size => 5 %></td>
	</tr>



<BR>
	
<!--Part VII-->

<!--<#%=render :partial => 'totals', :locals => {:f => f} %> -->
	
	<tr>
		
	</tr>

</table>