<table width=90% cellpadding=15px>

	<tr>
		<th><%= t 'evaluation.form.title_part3' %></th>
		<th>PPP</th>
		<th>Description</th>
		
	<tr valign=bottom>
		<td class="leftcolwide"><label for="quantity"><%= t 'evaluation.form.quantity' %></label></td>
		<td><%= f.text_field :pppquantity, :size => 5, :value => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.quantity_desc' %>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="quality"><%= t 'evaluation.form.quality' %></label></td>
		<td><%= f.text_field :pppquality, :size => 5, :value => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.quanlity_desc1' %><BR><%= t 'evaluation.form.quanlity_desc2' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="ontime"><%= t 'evaluation.form.ontime' %></label></td>
		<td><%= f.text_field :pppontime, :size => 5, :value => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.ontime_desc' %>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="effective"><%= t 'evaluation.form.effective' %></label></td>
		<td><%= f.text_field :pppeffective, :size => 5, :value => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.effective_desc' %><BR/><BR/><BR/><BR/></td>
	</tr>
	
	
	
	<tr>
		<th><%= t 'evaluation.form.title_part4' %></th>
		<th>PPP</th>
		<th></th>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="knowledge"><%= t 'evaluation.form.knowledge' %></label></td>
		<td><%= f.text_field :pppknowledge, :size => 5, :value => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.knowledge_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="rules"><%= t 'evaluation.form.rules' %></label></td>
		<td><%= f.text_field :ppprules, :size => 5, :value => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.rules_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="communication"><%= t 'evaluation.form.communication' %></label></td>
		<td><%= f.text_field :pppcommunication, :size => 5, :value => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.communication_desc' %><BR/><BR/><BR/><BR/></td>
	</tr>
	
  
	<tr>
		<th><%= t 'evaluation.form.title_part5' %></th>
		<th>PPP</th>
		<th></th>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="leadership"><%= t 'evaluation.form.leadership' %></label></td>
		<td><%= f.text_field :pppleader, :size => 5, :value => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.leadership_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="management"><%= t 'evaluation.form.management' %></label></td>
		<td><%= f.text_field :pppmanage, :size => 5, :value => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.management_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="discipline"><%= t 'evaluation.form.discipline' %></label></td>
		<td><%= f.text_field :pppdiscipline, :size => 5, :value => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.discipline_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="proactive"><%= t 'evaluation.form.proactive' %></label></td>
		<td><%= f.text_field :pppproactive, :size => 5, :value => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.proactive_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="relate"><%= t 'evaluation.form.relate' %></label></td>
		<td><%= f.text_field :ppprelate, :size => 5, :value => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.relate_desc' %><BR/><BR/><BR/><BR/></td>
	</tr>
	
	
	
	<tr>
		<th><%= t 'evaluation.form.title_part6' %></th>
		<th>PPP</th>
		<th></th>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="parttwo"><%= t 'evaluation.form.parttwo' %></label></td>
		<td><%= f.text_field :pppparttwo, :size => 5, :value => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.parttwo_desc' %><BR/><BR/><BR/><BR/></td>
	</tr>
	
	
	<tr>
		<th>Totals</th>
		<th>PPP</th>
		<th></th>
	</tr>

	
	<tr>
		<td class="leftcolwide">Totals</td>
		<td><%= f.text_field :ppptotals, :size => 5 %></td>
		<td class="pagenote"><BR/><BR/><BR/><BR/></td>
	</tr>

</table>




<!--Part VIII-->
<H2><%= t 'evaluation.form.title_part8' %></H2>
<table width=90%>

	<tr  valign=bottom>
		<td class="leftcolwide"><label for="pppyears"><%= t 'evaluation.form.part8_desc' %></label></td>
		<td><%= f.select :pppyears, 0..21  %> &nbsp; <label><%= t 'years_label' %></label>  &nbsp;&nbsp; &nbsp; &nbsp;
				<%= f.select :pppmonths, 0..11 %> &nbsp; <label><%= t 'months_label' %></label><BR/><BR/></td>
	</tr>

	<tr>
		<td colspan=2><label for="pppoverall"><b><%= t 'evaluation.form.part8i_desc' %></b></label></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><label for="pppoverall"><%= t 'evaluation.form.part8i' %></label></td>
		<td><%= f.text_area :pppoverall, :size => '50x5' %></td>
	</tr>

	<tr>
		<td class="leftcolwide"><label for="pppadvancemet"><%= t 'evaluation.form.part8ii' %></label></td>
		<td><%= f.text_area :pppadvancemet, :size => '50x5' %></td>
	</tr>
	
	<tr>
		<td colspan=2><%= t 'evaluation.form.ppp_statement' %></td>
	<tr>

	<tr>
		<td class="leftcolwide"><label for="ppp_id"><%= t 'evaluation.form.pppid' %></label></td>
		<td><%= f.collection_select :ppp_id, Staff.find(:all), :id, :name, :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><label for="pppevaldt"><%= t 'datelabel' %></label></td>
		<td><%= f.date_select :pppevaldt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
</table>