<tr>
	<td colspan=3>Partial Starts Here
</tr>

<tr>
	<th>Part VII: Total Marks</th>
	<th>PPP</th>
	<th>PPK</th>
</tr>


<tr>
	<td></td>
	<!--><td><#%=h @appraisal.ppptotal %></td></td>
	<td><#%=h @appraisal.ppktotal %></td>
</tr>

<tr>
	<td><label for="ppptotals">PPP - Totals:</label></td>
	<td><#% f.text_field :ppptotals, :size => 5, :value => @appraisal.ppptotal %></td>
	<td><#%= f.text_field :ppktotals, :size => 5, :value => @appraisal.ppktotal %></td>
	<td><#%= button_to 'Calculate Totals', :action => :recalc_totals %></td>
</tr>-->

</table>
<table>
<tr>
	<td class="leftcol"><label for="ppppercent">PPP - Percents:</label></td>
	<td><%= f.text_field :ppppercent, :size => 5 %></td>
	<td><%=h @appraisal.pppperc %></td>
</tr>

<tr>
	<td class="leftcol"><label for="ppkpercent">PPK - Percents:</label></td>
	<td><%= f.text_field :ppkpercent, :size => 5 %></td>
	<td><%=h @appraisal.ppkperc %></td>
</tr>

<tr>
	<td class="leftcol"><label for="pointsaverage">Points Average:</label></td>
	<td><%= f.text_field :pointsaverage, :size => 5 %></td>
	<td><%=h @appraisal.ppaverage %></td>
</tr>

<tr>
	<td colspan=3>Partial End Here
</tr>