<h3>Editing Appraisal</h3>

<% form_for(@appraisal) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 


  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @appraisal %> |
<%= link_to 'Back', appraisals_path %>