<link href="report.css" rel="stylesheet" type="text/css">
<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
	<script>
	document.write("<input type='button' " +
	"onClick='window.print()' " +
	"class='printbutton' " +
	"value='Print This Page'/>");
	</script>
</form>
<fieldset width=10px >
<div class="spebox">
	<table width=100% border=0 cellspacing=0 cellpadding=0>
		<tr>
			<td valign="top" width="40%"><font face="arial">SULIT</font></td>
			<td width="20%" align="center"><img border="0" src="/images/KM.jpg" alt="km" width="100" height="100"/></td>
			<td align="right" valign="top"><font size="2px" face="arial"><b>BORANG J.P.A. (Prestasi) 3/2002 </b></font><BR><font size="2px" face="arial"><BR> No. K.P. </font> <label for="textfield"></label>
			<input name="textfield" type="text" id="textfield" size="27" /></td>
		</tr>
		<tr>
			<td colspan=3 align="center"><font size="3px" face="arial"><b> KERAJAAN MALAYSIA</b></font></td>
		</tr>
		<tr>
			<td colspan=3 align="center">&nbsp;</td>
		</tr>
		<tr>
			<td colspan=3 align="center"><font size="3px" face="arial"><b>LAPORAN PENILAIAN PRESTASI<BR>PEGAWAI KUMPULAN PENGURUSAN DAN PROFESSIONAL</b></font></td>
		</tr>
		<tr>
			<td colspan=3 align="center">&nbsp;</td>
		</tr>
		<tr>
			<td colspan=3 align="center"><font size="3px" face="arial"><b>Tahun</b></font></td>
		</tr>	
	</table>
</div>
<BR>
<div class="whitetable">
<table width=100%, cellspacing=0 border=0 cellpadding=5>
	
		<tr>
			<td align="center" colspan=3><b>PERINGATAN</b></td>
		</tr>
		<tr>
			<td align="justify" colspan=3>Pegawai Penilai (PP) iaitu Pegawai Penilai Pertama (PPP) dan Pegawai Penilai Kedua (PPK) serta
				Pegawai Yang Dinilai(PYD) hendaklah memberi perhatian kepada perkara-perkara berikut sebelum dan semasa membuat penilaian:</td>
		</tr>
		
		<tr>
			<td width=5%></td>
			<td valign="top">(i)</td>
			<td align="justify">PYD hendaklah melengkapkan maklumat di <b>Bahagian I</b> di bawah dan <b>Bahagian I</b> dalam borang <b>Sasaran Kerja Tahunan (SKT)</b> seperti di <b>Lampiran 'A'</b> pada awal tahun;</td>
		</tr>
		
		<tr>
			<td></td>
			<td valign="top">(ii)</td>
			<td align="justify">PYD hendaklah melengkapkan <b>Bahagian II</b> manakala PP hendaklah melengkapkan <b>Bahagian III</b> hingga <b>Bahagian IX</b> pada akhir tahun penilaian;</td>
		</tr>
		
		<tr>
			<td></td>
			<td valign="top">(iii)</td>
			<td align="justify">PYD dan PP hendaklah merujuk Panduan Pelaksanaan Sistem Penilaian Prestasi Anggota Perkhidmatan Awam Malaysia (Tahun 2002) sekiranya memerlukan keterangan lanjut semasa mengisi Borang Laporan Penilaian Prestasi Tahunan (LNPT) dan membuat penilaian;</td>
		</tr>
		
		<tr>
			<td></td>
			<td valign="top">(iv)</td>
			<td align="justify">PP hendaklah menggunakan Skala Penilaian Prestasi seperti di Lampiran 'B'; dan</td>
		</tr>
		
		<tr>
			<td></td>
			<td valign="top">(v)</td>
			<td align="justify">PP hendaklah memaklumkan kepada PYD langkah-langkah meningkatkan prestasi/kemajuan kerjaya yang perlu dilakukan sebelum menandatangani di ruangan <b>Bahagian VIII</b>.</td>
		</tr>	
</table>
</div></center>
<BR>
<center>
<table width=85% border=0 cellspacing=0>
<tr>
	<td ><font face="arial"><b>BAHAGIAN I - MAKLUMAT PEGAWAI</b></font></td>
</tr>
<tr>
	<td class="word"><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Diisi oleh PYD)</i></div></td>
</table></center>
<BR>
<div class="whitetable">
<table width=100%, cellspacing=0 border=0 cellpadding=5>
		
		<tr>
			<td width=5%></td>
			<td valign="top" width=2%>(i)</td>
			<td>Nama :</td>
		</tr>
		
		<tr>
			<td></td>
			<td valign="top">(ii)</td>
			<td>Jawatan dan Gred :</td>
		</tr>
		
		<tr>
			<td></td>
			<td valign="top">(iii)</td>
			<td>Kementerian/Jabatan :</td>
		</tr>
		<tr>
			<td></td>
			<td valign="top"></td>
			<td></td>
		</tr>
		
</table>
</div></center>
<BR><BR>
</fieldset>
<fieldset width=10px >

	
<BR>
<center>
	<div class="spebox">
<table width=100% border=0 cellspacing=0>
<tr>
	<td ><font face="arial"><b>BAHAGIAN II - KEGIATAN DAN SUMBANGAN DI LUAR TUGAS RASMI/LATIHAN</b></font></td>
</tr>
<tr>
	<td class="word"><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Diisi oleh PYD)</i></div></td>
</table></center>
<BR>
	<center>
		<table width=85% border=0 cellspacing=0>
			<tr>
				<td width=4%><font face="arial">1.</font></td>
				<td><font face="arial"><b>KEGIATAN DAN SUMBANGAN DI LUAR TUGAS RASMI</b></font></td>
			</tr>
			<tr>
				<td></td>
				<td align="justify"><font face="arial"><BR>Senaraikan kegiatan dan sumbangan di luar tugas rasmi seperti sukan/pertubuhan/sumbangan kreatif di peringkat Komuniti/Jabatan/Daerah/Negeri/Negara/Antarabangsa yang berfaedah kepada Organisasi/Komuniti/Negara pada tahun yang dinilai.</font></td>
			</tr>

			<tr>
				<td></td>
				<td><BR><table width=100% border="1" cellspacing="0">
					<tr>
						<td align="center" width=50%><b>Senarai kegiatan/aktiviti/sumbangan</b></td>
						<td align="center" width=50%><b>Perigkat kegiatan/aktiviti/sumbangan<BR>(nyatakan jawatan atau pencapaian)</b></td>
					</tr>
					<% for evactivity in @appraisal.evactivities %>
					<tr>
						<td><%= evactivity.evactivity %>&nbsp;</td>
						<td><%=h (Evactivity::EVACT.find_all{|disp, value| value == evactivity.actlevel}).map {|disp, value| disp} %>&nbsp;</td>
					</tr>
					<% end %>
				</table></td></tr>
	</table>
<BR>
<center>
	<table width=85% border=0 cellspacing=0>
		<tr>
			<td width=4%><font face="arial">2.</font></td>
			<td><font face="arial"><b>LATIHAN</b></font></td>
		</tr>
		<tr>
			<td></td>
			<td align="justify"><font face="arial"><BR>(i) Senaraikan program latihan (seminar, kursus, bengkel dan lain-lain) yang dihadiri dalam tahun yang dinilai.</font></td>
		</tr>
		<tr>
			<td></td>
			<td><BR><table width=100% border=1 cellspacing=0>
					<tr>
							<td align="center" width=40%><label for="name "><b>Nama Latihan </b><BR>(Nyatakan sijil jika ada)</label></td>
							<td align="center" width=20%><label for="name "><b>Tarikh / Tempoh </b></label></td>
							<td align="center" width=40%><label for="name "><b>Tempat </b></label></td>
					</tr>
					<% for straining in @appraisal.strainings %>
					<tr>
						<td> <%= straining.sdate.strftime("%d %b %Y") %></td>
						<td> <%= straining.name %></td>
						<td> <%= straining.place %></td>
					</tr>
					<% end %>
			</table></td></tr>
			<tr>
				<td></td>
				<td align="justify"><font face="arial"><BR>(ii) Senaraikan latihan yang diperlukan.</font></td>
			</tr>
			<tr>
				<td></td>
				<td><BR><table width=100% border=1 cellspacing=0 cellpadding=4>
					<tr>
						<td align="center" width="50%"><label for="name "><b>Nama/Bidang Latihan</label></td>
						<td align="center" width="50%"><label for="name "><b>Sebab Diperlukan </b></label></td>
					</tr>
						<% for trainneed in @appraisal.trainneeds %>
					<tr>
							<td width=50%><%= trainneed.name %></td>
					       <td width=50%><%= trainneed.reason %>
					</tr>
					<% end %>
				</table></td></tr>
		</table>
	<BR><BR>
		<center>
		<table width=85% border=0 cellspacing=0>
			<div id="box">
			<div id="left">T.T</div>
			<div id="right">T.T</div>
			<div id="tandatangan">&nbsp;<center>Tandatangan PYD</center></div>
			<div id="tarikh">&nbsp;<center>Tandatangan PPP</center></div>
			<div id="tandatangan">&nbsp;<center>Tarikh: ...................................................</center></div>
			<div id="tarikh">&nbsp;<center>Tarikh: ...................................................</center></div>
		</table></center>
</fieldset>
</div>