<div class="tform">
	<H2>Files Details</H2>
  <table width=100% >	
			
			<tr>
				<td class="leftcol"><label for="cofileno"><%= t 'cofile.cofileno' %></label><font color="red"> * </font></td>
				<td><b>:</b></td>
				<td><%= f.text_field :cofileno %></td>
			</tr>
				
			<tr>
				<td class="leftcol"><label for="name"><%= t 'cofile.name' %></label><font color="red"> * </font></td>
				<td><b>:</b></td>
				<td><%= f.text_field :name %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="location"><%= t 'cofile.location' %></label><font color="red"> * </font></td>
				<td><b>:</b></td>
				<td><%= f.text_field :location %></td>
			</tr>
	
	
	<tr>
		<td class="leftcol"><label for="owner_id"><%= t 'cofile.owner' %></label><font color="red"> * </font></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :owner_id, Staff.find(:all), :id, :staff_name_with_title, :include_blank => true %></td>
	</tr>
	<script type="text/javascript">
	  function switchvisibility(el) {
	    if (document.getElementById(el).checked) {
	      document.getElementById('borrower').style.display = "table-row";
	      document.getElementById('loaneddate').style.display = "table-row";
	      document.getElementById('returneddate').style.display = "table-row";
	    } else {
	      document.getElementById('borrower').style.display = "none";
	      document.getElementById('loaneddate').style.display = "none";
	      document.getElementById('returneddate').style.display = "none";
	    }
	  }
	</script>
	<tr>
		<td class="leftcol"><label for="onloan"><%= t 'cofile.onloan' %></label></td>
		<td><b>:</b></td>
		<td><%= f.check_box :onloan, :id => "fileborrow", :onchange => "switchvisibility('fileborrow')" %></td>
	</tr>
	
	<tr id="borrower" style="display: none;">
		<td class="leftcol" ><label for="staffloan_id"><%= t 'cofile.onloan_to' %></label></td>
		<td><b>:</b></td>
	  <td><%= f.collection_select :staffloan_id, Staff.find(:all), :id, :staff_name_with_title, :include_blank => true %></td><!--, :conditions => ["id != ?", @cofile.owner.id ]!-->
	</tr>
	<tr id="loaneddate" style="display: none;">
		<td class="leftcol"><label for="onloandt"><%= t 'cofile.onloandt' %></label></td>
		<td><b>:</b></td>
		<td><%= f.date_select :onloandt, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
	<tr id="returneddate" style="display: none;">
		<td class="leftcol"><label for="onloanxdt"><%= t 'cofile.onloanxdt' %></label></td>
		<td><b>:</b></td>
		<td><%= f.date_select :onloanxdt, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
</table>
</div>
<BR>