<div class="tform">
	<H2>Files Details</H2>
  <table width=100% >	
			
			<tr>
				<td class="leftcol"><label for="cofileno"><b><%= t 'cofile.cofileno' %> :</b></label><font color="red"> * </font></td>
				<td>()KSKBJB/<%= f.text_field :cofileno %></td>
			</tr>
				
			<tr>
				<td class="leftcol"><label for="name"><b><%= t 'cofile.name' %> :</b></label><font color="red"> * </font></td>
				<td><%= f.text_field :name %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="location"><b><%= t 'cofile.location' %> :</b></label><font color="red"> * </font></td>
				<td><%= f.text_field :location %></td>
			</tr>
	
	
	<tr>
		<td class="leftcol"><label for="owner_id"><b><%= t 'cofile.owner' %> :</b></label><font color="red"> * </font></td>
	<td><%= f.collection_select :owner_id, Staff.find(:all), :id, :mykad_with_staff_name, :include_blank => true %></td>
	</tr>
	<script type="text/javascript">
	  function switchvisibility(el) {
	    if (document.getElementById(el).checked) {
	      document.getElementById('borrower').style.display = "table-row";
	      document.getElementById('loaneddate').style.display = "table-row";
	      document.getElementById('returneddate').style.display = "table-row";
	    } else {
	      document.getElementById('borrower').style.display = "none";
	      document.getElementById('loaneddate').style.display = "none";
	      document.getElementById('returneddate').style.display = "none";
	    }
	  }
	</script>
	<tr>
		<td class="leftcol"><label for="onloan"><b><%= t 'cofile.onloan' %> :</b></label></td>
		<td><%= f.check_box :onloan, :id => "fileborrow", :onchange => "switchvisibility('fileborrow')" %></td>
	</tr>
	
	<tr id="borrower" style="display: none;">
		<td class="leftcol" ><label for="staffloan_id"><b><%= t 'cofile.onloan_to' %> :</b></label></td>
	  <td><%= f.collection_select :staffloan_id, Staff.find(:all), :id, :mykad_with_staff_name, :include_blank => true %></td><!--, :conditions => ["id != ?", @cofile.owner.id ]!-->
	</tr>
	<tr id="loaneddate" style="display: none;">
		<td class="leftcol"><label for="onloandt"><b><%= t 'cofile.onloandt' %> :</b></label></td>
		<td><%= f.date_select :onloandt, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
	<tr id="returneddate" style="display: none;">
		<td class="leftcol"><label for="onloanxdt"><b><%= t 'cofile.onloanxdt' %> :</b></label></td>
		<td><%= f.date_select :onloanxdt, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
</table>
<BR>