<h3>Editing File</h3>

<% form_for(@cofile) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>

<%= link_to 'Show', @cofile %> |
<%= link_to 'Back', cofiles_path %>