<h3><%= t 'cofile.edit' %></h3>

<% form_for(@cofile) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit (t 'icms.update') %>
  </p>
<% end %>


<%= link_to (t 'icms.show'), @cofile %> |
<%= link_to (t 'icms.back'), cofiles_path %>