<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Lists of Files</h2>
	</div>
	<div class="tlist">
	    <table width=100%>
		  <tr>
    <th>File No</th>
    <th>File Name</th>
    <th>Location</th>
    <th>Owner</th>
    <th>On loan to</th>
    <!--><th>Staffloan</th>-->
    <th>Loaned Date</th>
   <th colspan=3 class="ac">Control</th>
  </tr>

<% @cofiles.each do |cofile| %>
  <tr>
    <td><%=h cofile.cofileno %></td>
    <td><%=h cofile.name %></td>
    <td><%=h cofile.location %></td>
    <td><%=h cofile.owner.mykad_with_staff_name %></td>
    <td><%=h cofile.onloan? ? cofile.borrower.name : "" %></td>
	  <td><%=h cofile.onloan? ? cofile.onloandt : "" %></td>
    <td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => cofile %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => cofile %></td>
    <td width=10px><%= link_to 'Destroy', cofile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
</div></div>

<%= link_to 'New Cofile', new_cofile_path %>