<h3><%= t 'cofile.new' %></h3>

<% form_for(@cofile) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit (t 'create') %>
  </p>
<% end %>
</div>

<%= link_to (t 'back'), cofiles_path %>