<div class="tform">
<H2><%= t 'cofile.file_details' %></H2>
  <table width=100% >

	<tr>
		<td class="leftcol"><label for="cofileno"><%= t 'cofile.cofileno' %></label></td>
		<td width=2%><b>:</b></td>
		<td><%=h @cofile.cofileno %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name"><%= t 'cofile.name' %></label></td>
		<td><b>:</b></td>
		<td>  <%=h @cofile.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="location"><%= t 'cofile.location' %></label></td>
		<td><b>:</b></td>
		<td>  <%=h @cofile.location %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="owner_id"><%= t 'cofile.owner' %></label></td>
		<td><b>:</b></td>
	<td><%=h @cofile.owner_details %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="onloan"><%= t 'cofile.onloan' %></label></td>
		<td><b>:</b></td>
		<td><%=h @cofile.onloan? ? "Yes" : "No"  %></td>
	</tr>
	<% if @cofile.onloan == true %>
	<tr>
		<td class="leftcol"><label for="staffloan_id"><%= t 'cofile.onloan_to' %></label></td>
		<td><b>:</b></td>
		<td><%=h @cofile.staffloan_id? ? @cofile.borrower_details : "" %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="onloandt"><%= t 'cofile.onloandt' %></label></td>
		<td><b>:</b></td>
		<td><%=h l(@cofile.onloandt) unless @cofile.onloandt.blank? %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="onloanxdt"><%= t 'cofile.onloanxdt' %></label></td>
		<td><b>:</b></td>
		<td> <%=h l(@cofile.onloanxdt) unless @cofile.onloanxdt.blank?  %></td>
	</tr>
	<% end %>
	
</table>
</div>
<BR>
<% permitted_to? :update, @cofile do %>
<%= link_to (t 'icms.update'), edit_cofile_path(@cofile) %> |<% end %>
<%= link_to (t 'icms.back'), cofiles_path %>