<!-- <h1><%=t 'login.login'%></h1> -->
<h3><center>INTEGRATED CAMPUS MANAGEMENT SYSTEM (ICMS)</center></h3>
<BR>
<p align="center"><font color="grey", size="-2" > Please provide your username and password and click the LOGIN button </font></p>
<% form_tag session_path do -%>
<table width=30% border=0 align="center" cellspacing=0 cellpadding=7>
<tr>
	<td class="leftcol"><%= label_tag t('login.login') %></td>
	<td></td>
	<td><%= text_field_tag 'login', @login %></td>
</tr>
<tr>
		<td class="leftcol"><%= label_tag t('login.password') %></td>
		<td></td>
		<td><%= password_field_tag 'password', nil %></p></td>
</tr>
<tr>
		<td class="leftcol"></td>
		<td></td>
		<td align="right"><%= submit_tag (t 'login.login') %></td>
	</tr>
</table>
<p align="center"><font color="grey", size="-2" ><i> If you have problem signing in, please contact your system administration. </i></font></p>


<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->


<% end -%>
