<% form_for(@trainingnote, :html => { :multipart => true}) do |f| %>
  <%= f.error_messages %>
	<h3><%=t('training_note.edit')%></h3>
	<%=render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit t('update') %>
  </p>
<% end %>

<%= link_to t('show'), @trainingnote %> |
<%= link_to t('back'), trainingnotes_path %>
