<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Course Notes</h2>
		<div class="right"></div>
	</div>
</div>

<div class="tlist">
	<table width=100%>
	  <tr>
	    <th>Title</th>
	    <th>Reference</th>
	    <th>Version</th>
	    <th>Release</th>
	    <th>Download</th>
			<th colspan=3>Control</th>
	  </tr>
	
	
	<% @trainingnotes.group_by(&:topic_id).each do |topic_id, trainingnotes | %>
			<tr><td colspan=8><strong>
			<%= check_kin {Topic.find(topic_id).subject.programmes.last.name} %>
			</strong></td></tr>
			<tr><td colspan=8><strong> &nbsp; &nbsp; &nbsp;
			<%#= Topic.find(topic_id).subject.name %>
			</strong></td></tr>
			<tr><td colspan=8><strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			<%#= Topic.find(topic_id).name %>
			</strong></td></tr>
			

	    <% trainingnotes.each do |trainingnote| %>
	  <tr>
	    <td> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%=h trainingnote.title %></td>
	    <td><%=h trainingnote.reference %></td>
	    <td><%=h trainingnote.version %></td>
	    <td><%=h trainingnote.release %></td>
			<td><%= link_to image_tag('attach.png'), trainingnote.document.url%> &nbsp; <%= link_to trainingnote.document_file_name, trainingnote.document.url %>
			<td width=10px><% link_to image_tag("document.png", :border => 0), :action => 'show', :id => trainingnote %></td>
			<td width=10px><% link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => trainingnote %></td>
			<td width=10px ><% link_to image_tag("delete.png",   :border => 0, :title => 'Delete'), trainingnote, :confirm => 'Are you sure?', :method => :delete %></td>

	  </tr>
	<% end %><% end %>
	</table>
</div>
<br />

<% link_to 'New trainingnote', new_trainingnote_path %>