<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left"><%=t('training_note.title')%></h2>
		<div class="right"></div>
	</div>
</div>
<div class="toolbar">
	<table width=100%><tr>
		<td><p><%= link_to image_tag("add.png", :border => 0, :title => (t 'training_note.new')) + t('training_note.new'), new_trainingnote_path %></p></td>
	</tr></table>
</div>
<div class="tlist">
	<table width=100%>
	  <tr>
	    <th><%=t('training_note.title2')%></th>
	    <th><%=t('training_note.reference')%></th>
	    <th><%=t('training_note.version')%></th>
	    <th><%=t('training_note.release')%></th>
	    <th><%=t('training_note.download')%></th>
	    <th colspan=3><%#=t('control')%></th>
	  </tr>
	
	<!--TOPIC ID:<%#=@trainingnotes[1].topic_id %>-->
	
	<% @trainingnotes.group_by(&:topicdetail_id).each do |topicdetail_id, trainingnotes | %>
			<tr><td colspan=8><strong>
				<%= check_kin {Programme.find(Topicdetail.find(topicdetail_id).topic_code).root.name.upcase} %>
			</strong></td></tr>
			<tr><td colspan=8><strong> &nbsp; &nbsp; &nbsp;
				<%= check_kin {Programme.find(Topicdetail.find(topicdetail_id).topic_code).parent.subject_list}  %>	
			</strong></td></tr>
			<tr><td colspan=8><strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<%= check_kin {Programme.find(Topicdetail.find(topicdetail_id).topic_code).name}  %>	
			</strong></td></tr>
			

	    <% trainingnotes.each do |trainingnote| %>
	  <tr>
	    <td> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%=h trainingnote.title %>
			<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			<% if trainingnote.topicdetail_id==nil && trainingnote.timetable_id!=nil %>
				<font color=blue>
					<b><%=('topicdetail.title2')%></b> <%=t('not_exist')%>, <%= link_to (t 'topicdetail.create_one').upcase, new_topicdetail_path %> <%=t('topicdetail.to_match')%>.
					<% @topic=WeeklytimetableDetail.find(trainingnote.timetable_id).topic %>
					(<%=t('topicdetail.topic')%> : <%=Programme.find(@topic).semester_subject_topic %>)
				</font>
			<% end %>	
		</td>
	    <td><%=h trainingnote.reference %></td>
	    <td><%=h trainingnote.version %></td>
	    <td><%=h trainingnote.release.nil? ? "" : l(trainingnote.release, :format => '%d %b %Y') %></td>
			<td><%= link_to image_tag('attach.png'), trainingnote.document.url%> &nbsp; 
			      <% if trainingnote.document.exists? %>
					<%= link_to trainingnote.document_file_name, trainingnote.document.url %>
			      <% else %>
					<%= link_to trainingnote.document_file_name, "http://#{request.host}:3003"+ trainingnote.document.url , :width => '57px'  %>
			      <% end%>
		
			<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => (t 'show')), :action => 'show', :id => trainingnote %></td>
			<td width=10px><%= link_to image_tag("edit.png", :border => 0, :title=> (t 'edit')), :action => 'edit', :id => trainingnote %></td>
			<td width=10px ><%= link_to image_tag("delete.png",   :border => 0, :title => (t 'delete')), trainingnote, :confirm => (t 'are_you_sure'), :method => :delete %></td>

	  </tr>
	<% end %><% end %>
	</table>
</div>
<br />

<%= link_to t('training_note.new'), new_trainingnote_path %>