<p>
  <b>Timetable:</b>
  <%=h @trainingnote.timetable_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @trainingnote.title %>
</p>

<p>
  <b>Reference:</b>
  <%=h @trainingnote.reference %>
</p>

<p>
  <b>Version:</b>
  <%=h @trainingnote.version %>
</p>

<p>
  <b>Staff:</b>
  <%=h @trainingnote.staff_id %>
</p>

<p>
  <b>Release:</b>
  <%=h @trainingnote.release %>
</p>

<p>
  <b>Topic:</b>
  <%=h @trainingnote.topic_id %>
</p>


<%= link_to 'Edit', edit_trainingnote_path(@trainingnote) %> |
<%= link_to 'Back', trainingnotes_path %>