<div class="tform">
	<H2><%=t('equery.examanalysis.search')%></H2>

<% form_for @examanalysissearch do |f| %>
  <%= f.error_messages %>
	<table width=100% >
		<% if @searchexamanalysistype=='1' || @searchexamanalysistype==1 %>
			<%= hidden_field_tag :method,  1 %>
			<tr><td colspan=2><%=t('equery.examanalysis.search_by')%> :</td></tr>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<%= f.label (t 'examanalysis.programme_id') %></td>
				<td>
				       <!---->
					<%= f.collection_select :programme_id, @programme_list, :id, :programme_list , {:include_blank => (t 'select')},
					:onchange => remote_function(:update => form_tag_id(f.object_name, :subject_list), 
					:url => {:action => 'view_subject'}, 
					:with => "'programmeid='+$('"+form_tag_id(f.object_name, :programme_id)+"').value ") %>
					<!---->
				</td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<%= f.label (t 'examanalysis.subject_id') %></td>
				<td>
					<%= tag("div", :id => form_tag_id(f.object_name, :subject_list)) %>
						<%= f.collection_select :subject_id, @subject_list, :id, :subject_list, {:include_blank => (t 'select')},
						:onchange => remote_function(:update => form_tag_id(f.object_name, :examtype_list), 
						:url => {:action => 'view_examtype'}, 
						:with => "'subjectid='+$('"+form_tag_id(f.object_name, :subject_id)+"').value ") %>
					</div>
				</td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<%= f.label (t 'examanalysis.examtype') %></td>
				<td>
					<%= tag("div", :id => form_tag_id(f.object_name, :examtype_list)) %>
						<%= f.select :examtype, @examtype_array, :include_blank=>(t 'select') %>
					</div>
				</td>
			</tr>
			
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<%=f.label (t 'examanalysis.examon')%></td>
				<td><%= f.date_select :examon, :include_blank=> true %></td>
			</tr>
		<% end %>
	</table>
  <p><%= f.submit (t 'search') %>&nbsp;<font size=-2><%=t('equery.leaves_all_blank_all_records')%></font></p>
<% end %>

</div>


