<p>
  <b>Item:</b>
  <%=h @booleanchoice.item %>
</p>

<p>
  <b>Description:</b>
  <%=h @booleanchoice.description %>
</p>

<p>
  <b>Examquestion:</b>
  <%=h @booleanchoice.examquestion_id %>
</p>


<%= link_to 'Edit', edit_booleanchoice_path(@booleanchoice) %> |
<%= link_to 'Back', booleanchoices_path %>