<H2><%= t 'evaluation.form.title_partIIa' %></H2>
	<div>
		<p>	<%= t 'evaluation.form.label_001' %></p>
		<table width=90%>
			<tr>
				<!--<th width=30%>Date</th>-->
				<th width=35%><%= t 'evaluation.form.activity' %></th>
				<th width=25%><%= t 'evaluation.form.level' %></th>
				<th width=10%></th>
			</tr>
		</table>
		<% f.fields_for :evactivities do |builder| %>
			<%= render 'evactivity_fields', :f => builder %>
		<% end %>
		
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title =>(t 'evaluation.form.add_more')), f, :evactivities %> - <%=t('addmore')%> </p>
	
		<p><font size=-2><%= t 'evaluation.form.label_002' %></font></p>
	</div>

<H2><%= t 'evaluation.form.title_part2b' %></H2>
	<p><font size=-2><%= t 'evaluation.form.label_003' %></font></p>
		<table width=90%>
			<tr>
				<th><%= t 'evaluation.form.nm' %></th>
				<th><%= t 'evaluation.form.type' %></th>
				<th><%= t 'evaluation.form.date' %></th>
				<th><%= t 'evaluation.form.duration' %></th>
				<th><%= t 'ptschedule.location' %></th>
			</tr>
			<% for ptdo in Ptdo.find(:all, :conditions => ['staff_id = ?', Login.current_login.staff_id]) %>
				<% if ptdo.ptschedule.start.year==@staff_appraisal.evaluation_year.year%>
			<!---->
			<tr>
				<td><%= ptdo.ptschedule.ptcourse.name %><%=%></td>
			
				<td><%= ptdo.ptschedule.ptcourse.rendered_programme_classification %> - <%= ptdo.ptschedule.ptcourse.rendered_course_type %></td>
				<td><%= l(ptdo.ptschedule.start) %></td>
				<td><%= ptdo.ptschedule.ptcourse.course_total_days %></td>
				<td><%= ptdo.ptschedule.location %></td>
			</tr>
			<!---->
				<% end %>
		<% end -%>
		</table>
	
	<div>
		<p><font size=-2><%= t 'evaluation.form.label_004' %></font></p>
		<table width=90%>
			<tr>
				<th width=45%><%= t 'evaluation.form.nm' %></th>
				<th width=45%><%= t 'evaluation.form.reason' %></th>
				<th width=10%></th>
			</tr>
		</table>
		<% f.fields_for :trainneeds do |builder| %>
			<%= render 'trainneed_fields', :f => builder %>
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => (t 'evaluation.form.add_more')), f, :trainneeds %> - <%=t('addmore')%> </p>
	</div>
	
	
	

	<table  width=100%>
		<tr>
		  <td class="leftcol"><label for="submit_for_appraisal1_on">Submit for evaluation</label></td>
			<td><%= f.check_box :is_submit_for_evaluation, :id => 'submit_for_evaluation1' %>
					<SPAN id="span_submit1" style="display: none;">
					<%= f.date_select :submit_for_evaluation_on, :order => [:day, :month, :year], :default => Date.today %></SPAN></td>
			<td class="pagenote">Clicking on submit notifies your Evaluating Officer (PPP) and disables your editing this record further</td>
		</tr>
	</table>
	

	<script type="text/javascript">
		$j(document).ready(function(){
				//show submit date
				$j("input[id='submit_for_evaluation1']").change(function() {  
				 if($j('#submit_for_evaluation1').is(':checked')) { 
				    $j("#span_submit1").show("highlight"); 
				 }else		{
				    $j("#span_submit1").hide(""); 
				 }	
				});

				$j("input[id='submit_for_evaluation1']").each(function() {  
				 if($j('#submit_for_evaluation1').is(':checked')) { 
				    $j("#span_submit1").show("highlight"); 
				 }else		{
				    $j("#span_submit1").hide(""); 
				 }	
				});
		});
	</script>