<!--Part VIII-->
<H2><%= t 'evaluation.form.title_part8' %></H2>
<table width=90%>

	<tr  valign=bottom>
		<td class="leftcolwide"><label for="pppyears"><%= t 'evaluation.form.part8_desc' %></label></td>
		<td></label><%= f.select :e1_years, 0..21  %> &nbsp; <label><%= t 'years_label' %></label>  &nbsp;&nbsp; &nbsp; &nbsp;
								<%= f.select :e1_months, 0..11 %> &nbsp; <label><%= t 'months_label' %><BR/><BR/></td>
		<td></td>
	</tr>

	<tr>
		<td colspan=3><label for="pppoverall"><b><%= t 'evaluation.form.part8i_desc' %></b></label></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><label for="pppoverall"><%= t 'evaluation.form.part8i' %></label></td>
		<td colspan=2><%= f.text_area :e1_performance, :size => '50x5' %></td>
	</tr>

	<tr>
		<td class="leftcolwide"><label for="pppadvancemet"><%= t 'evaluation.form.part8ii' %></label></td>
		<td colspan=2><%= f.text_area :e1_progress, :size => '50x5' %></td>
	</tr>
	
	<tr>
		<td colspan=3><%= t 'evaluation.form.ppp_statement' %></td>
	<tr>

	<tr>
		<td class="leftcolwide"><label for="ppp_id"><%= t 'evaluation.form.pppid' %></label></td>
		<td><%= @staff_appraisal.eval1_officer.name %></td>
		<td></td>
	</tr>
<table>

<table width=100%>
  <% if User.current_user.staff.position.is_root? == false %>
	<tr>
	  <td class="leftcolwide"><label for="submit_for_appraisal1_on">Submit for evaluation</label></td>
		<td><%= f.check_box :is_submit_e2, :id => 'submit_for_evaluation2' %>
				<SPAN id="span_submit2" style="display: none;"><%= f.date_select :submit_e2_on, :order => [:day, :month, :year], :default => Date.today %></SPAN></td>
		<td class="pagenote">Clicking on submit notifies the Second Evaluating Officer (PPK)<BR/> and disables your editing this record further</td>
	</tr>
	
	<% else %>
		<%=render :partial => 'eval2_review', :locals => {:f => f} %>
		<!--<tr>
		  <td class="leftcolwide"><label for="is_complete">Evaluation is complete</label></td>
			<td><%#= f.check_box :is_complete, :id => 'is_complete' %>
					<SPAN id="span_is_complete" style="display: none;"><%#= f.date_select :is_completed_on, :order => [:day, :month, :year], :default => Date.today %></SPAN></td>
			<td class="pagenote">Clicking on complete will lock this record <BR/> and disables your editing this record further</td>
		</tr>-->
	<!--<tr>
		<td colspan=3>Your are unable to submit this to PPK as they are outside the scope of this campus</td>
	</tr>-->
	<% end -%>
</table>


<script type="text/javascript">
	$j(document).ready(function(){
			//show submit date

			$j("input[id='submit_for_evaluation2']").change(function() {  
			 if($j('#submit_for_evaluation2').is(':checked')) { 
			    $j("#span_submit2").show("highlight"); 
			 }else		{
			    $j("#span_submit2").hide(""); 
			 }	
			});

			$j("input[id='submit_for_evaluation2']").each(function() {  
			 if($j('#submit_for_evaluation2').is(':checked')) { 
			    $j("#span_submit2").show("highlight"); 
			 }else		{
			    $j("#span_submit2").hide(""); 
			 }	
			});

	});
</script>