<table width=90% cellpadding=15px>
	<!--

		<tr>
			<th>Part II - Training & Activities</th>
			<th>PPP</th>
			<th>Description</th>
		</tr>
		
		<tr valign=bottom>
			<td class="leftcolwide"><label for="eval1_part_ii">Part II</label></td>
			<td><#%= f.text_field :eval1_part_ii, :class => "score", :size => 5, :placeholder => 0  %></td>
			<td class="pagenote">Points for items in Part IIa & IIb<BR/><BR/><BR/><BR/></td>
		</tr>
		
	-->
	
	<tr>
		<th><%= t 'evaluation.form.title_part3' %></th>
		<th>PPP</th>
		<th>PPK</th>
		<th>Description</th>
	</tr>
		
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_quantity"><%= t 'evaluation.form.quantity' %></label></td>
		<td><%=h @staff_appraisal.e1g1q1 %></td>
		<td><%= f.text_field :e2g1q1, :class => "g1", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.quantity_desc' %>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide" rowspan=2><label for="eval1_quality"><%= t 'evaluation.form.quality' %></label></td>
		<td><%=h @staff_appraisal.e1g1q2 %></td>
		<td><%= f.text_field :e2g1q2, :class => "g1", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.quanlity_desc1' %></td>
	</tr>
	
	<tr valign=bottom>
		<td><%=h @staff_appraisal.e1g1q3 %></td>
		<td><%= f.text_field :e2g1q3, :class => "g1", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.quanlity_desc2' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_time"><%= t 'evaluation.form.ontime' %></label></td>
		<td><%=h @staff_appraisal.e1g1q4 %></td>
		<td><%= f.text_field :e2g1q4, :class => "g1", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.ontime_desc' %>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_effective"><%= t 'evaluation.form.effective' %></label></td>
		<td><%=h @staff_appraisal.e1g1q5 %></td>
		<td><%= f.text_field :e2g1q5, :class => "g1", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.effective_desc' %><BR/><BR/><BR/><BR/></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_effective">Total</label></td>
		<td><%=h @staff_appraisal.e1g1_percent %>%</td>
		<td colspan=2><%= f.text_field :e2g1_total, :size => 4, :readonly => true %><label>/50 x 50 = 
									<%= f.text_field :e2g1_percent, :size => 4, :readonly => true %>%</label></td>
	</tr>

	
	

	<tr>
		<th><%= t 'evaluation.form.title_part4' %></th>
		<th>PPP</th>
		<th>PPK</th>
		<th></th>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_knowledge"><%= t 'evaluation.form.knowledge' %></label></td>
		<td><%=h @staff_appraisal.e1g2q1 %></td>
		<td><%= f.text_field :e2g2q1, :class => "e2g2", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.knowledge_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_rule"><%= t 'evaluation.form.rules' %></label></td>
		<td><%=h @staff_appraisal.e1g2q2 %></td>
		<td><%= f.text_field :e2g2q2, :class => "e2g2", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.rules_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_communicate"><%= t 'evaluation.form.communication' %></label></td>
		<td><%=h @staff_appraisal.e1g2q3 %></td>
		<td><%= f.text_field :e2g2q3, :class => "e2g2", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.communication_desc' %><BR/><BR/></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide" rowspan=2><label for="eval1_effective">Total</label></td>
		<td><%=h @staff_appraisal.e1g2_percent %>%</td>
		<td colspan=2><%= f.text_field :e2g2_total, :class => "subtotals", :size => 4, :readonly => true %>
					<label>/<%= (@staff_appraisal.g2_questions)*10 %> x 25 = 
									<%= f.text_field :e2g2_percent, :size => 7, :readonly => true %>%</label></td>
	</tr>
	<tr valign=bottom>
		<td>&nbsp; </td>
		<td class="pagenote"><BR/><BR/><BR/><BR/></td>
	</tr>
	
	
	
	<tr>
		<th><%= t 'evaluation.form.title_part5' %></th>
		<th>PPP</th>
		<th>PPK</th>
		<th></th>
	</tr>
		
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_manage"><%= t 'evaluation.form.management' %></label></td>
		<td><%=h @staff_appraisal.e1g3q1 %></td>
		<td><%= f.text_field :e2g3q1, :class => "e2g3", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.management_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_discipline"><%= t 'evaluation.form.discipline' %></label></td>
		<td><%=h @staff_appraisal.e1g3q2 %></td>
		<td><%= f.text_field :e2g3q2, :class => "e2g3", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.discipline_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_proactive"><%= t 'evaluation.form.proactive' %></label></td>
		<td><%=h @staff_appraisal.e1g3q3 %></td>
		<td><%= f.text_field :e2g3q3, :class => "e2g3", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.proactive_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_relate"><%= t 'evaluation.form.relate' %></label></td>
		<td><%=h @staff_appraisal.e1g3q4 %></td>
		<td><%= f.text_field :e2g3q4, :class => "e2g3", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.relate_desc' %><BR/><BR/><BR/><BR/></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide" rowspan=2><label for="eval1_effective">Total</label></td>
		<td><%=h @staff_appraisal.e1g3_percent %>%</td>
		<td colspan=2><%= f.text_field :e2g3_total, :class => "subtotals", :size => 4, :readonly => true %>
				  	<label>/<%= (@staff_appraisal.g3_questions)*10 %>
				   x 20 = <%= f.text_field :e2g3_percent, :size => 7, :readonly => true %>%</label></td>
	</tr>
	<tr valign=bottom>
		<td>&nbsp; </td>
		<td class="pagenote"><BR/><BR/><BR/><BR/></td>
	</tr>


	<tr>
		<th><%= t 'evaluation.form.title_part6' %></th>
		<th>PPP</th>
		<th>PPK</th>
		<th></th>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_part_ii"><%= t 'evaluation.form.parttwo' %></label></td>
		<td><%=h @staff_appraisal.e1g4 %></td>
		<td width=15%><%= f.text_field :e2g4, :class => "e2g4", :size => 5, :placeholder => 0  %>  
			<label>/10x5= <BR><%= f.text_field :e2g4_percent, :class => "subtotals", :size => 7, :readonly => true %>%</label></td>
		<td class="pagenote"><%= t 'evaluation.form.parttwo_desc' %><BR/><BR/><BR/><BR/></td>
	</tr>
	
	
	<tr>
		<th>Totals</th>
		<th>PPP</th>
		<th>PPK</th>
		<th></th>
	</tr>

	
	<tr  valign=bottom>
		<td class="leftcolwide">Totals</td>
		<td><%=h @staff_appraisal.e1_total %></td>
		<td><%= f.text_field :e2_total, :size => 5, :readonly => true %></td>
		<td class="pagenote">Percent [Part II 50% and Part III 50%]<BR/><BR/><BR/><BR/></td>
	</tr>

</table>






<script type="text/javascript">
	$j(document).ready(function(){
			//show submit date
			$j(".g1").keyup(function() {  
			  var e2g1q1 = $j("#staff_appraisal_e2g1q1").val();
			  var e2g1q2 = $j("#staff_appraisal_e2g1q2").val();
				var e2g1q3 = $j("#staff_appraisal_e2g1q3").val();
				var e2g1q4 = $j("#staff_appraisal_e2g1q4").val();
				var e2g1q5 = $j("#staff_appraisal_e2g1q5").val();
				
				var ansP = document.getElementById("staff_appraisal_e2g1_percent");
				ansP.value = (((e2g1q1*1) + (e2g1q2*1) + (e2g1q3*1) + (e2g1q4*1) + (e2g1q5*1))/50)*50;
				
				var ansG = document.getElementById("staff_appraisal_e2g1_total");
				ansG.value = (e2g1q1*1) + (e2g1q2*1) + (e2g1q3*1) + (e2g1q4*1) + (e2g1q5*1);
				

			});
			
			$j(".e2g2").keyup(function() {  
			  var e2g2q1 = $j("#staff_appraisal_e2g2q1").val();
			  var e2g2q2 = $j("#staff_appraisal_e2g2q2").val();
				var e2g2q3 = $j("#staff_appraisal_e2g2q3").val();
				
				var ansH = document.getElementById("staff_appraisal_e2g2_total");
				ansH.value = (e2g2q1*1) + (e2g2q2*1) + (e2g2q3*1);
				
				var ansK = document.getElementById("staff_appraisal_e2g2_percent");
				ansK.value = (((e2g2q1*1) + (e2g2q2*1) + (e2g2q3*1))/30)*25;
			});
			
			$j(".e2g3").keyup(function() {  
			  var e2g3q1 = $j("#staff_appraisal_e2g3q1").val();
			  var e2g3q2 = $j("#staff_appraisal_e2g3q2").val();
				var e2g3q3 = $j("#staff_appraisal_e2g3q3").val();
				var e2g3q4 = $j("#staff_appraisal_e2g3q4").val();
				
				var ansL = document.getElementById("staff_appraisal_e2g3_total");
				ansL.value = (e2g3q1*1) + (e2g3q2*1) + (e2g3q3*1) + (e2g3q4*1);
				
				var ansM = document.getElementById("staff_appraisal_e2g3_percent");
				ansM.value = (((e2g3q1*1) + (e2g3q2*1) + (e2g3q3*1) + (e2g3q4*1))/40)*20;			
			});
			
			$j(".e2g4").keyup(function() {  
			  var e2g4q1 = $j("#staff_appraisal_e2g4").val();
				
				var ansN = document.getElementById("staff_appraisal_e2g4_percent");
				ansN.value = ((e2g4q1*1)/10)*5;
			});
			
			$j(".g1,.e2g2,.e2g3,.e2g4").keyup(function() {  
			  var sub1 = $j("#staff_appraisal_e2g1_percent").val();
			  var sub2 = $j("#staff_appraisal_e2g2_percent").val();
				var sub3 = $j("#staff_appraisal_e2g3_percent").val();
				var sub4 = $j("#staff_appraisal_e2g4_percent").val();
				
				var ansQ = document.getElementById("staff_appraisal_e2_total");
				ansQ.value = (sub1*1) + (sub2*1) + (sub3*1) + (sub4*1);
			});

	});
</script>

