<H2><%= t 'evaluation.skt_review.ppp_report' %></H2>
<table>
	<tr>
		<td class="leftcol"><%= t 'evaluation.skt_review.ppp_report' %></td>
		<td><%= f.text_area :skt_ppp_report, :size => '70x6' %></td>
		<td>
	</tr>
	
	<tr>
	  <td class="leftcol"><label for="is_skt_ppp_report_done">Report Completed</label></td>
		<td><%= f.check_box :is_skt_ppp_report_done, :id => 'is_skt_ppp_report_done' %>
				<SPAN id="span_skt_ppp_report_on" style="display: none;">
				<%= f.date_select :skt_ppp_report_on, :order => [:day, :month, :year], :default => Date.today %></SPAN></td>
		<td class="pagenote">Clicking on complete notifies your Staff (PYD) and disables your editing this record further</td>
	</tr>
</table>


	
	<script type="text/javascript">
		$j(document).ready(function(){
				//show submit date
				$j("input[id='is_skt_ppp_report_done']").change(function() {  
				 if($j('#is_skt_ppp_report_done').is(':checked')) { 
				    $j("#span_skt_ppp_report_on").show("highlight"); 
				 }else		{
				    $j("#span_skt_ppp_report_on").hide(""); 
				 }	
				});

				$j("input[id='is_skt_ppp_report_done']").each(function() {  
				 if($j('#is_skt_ppp_report_done').is(':checked')) { 
				    $j("#span_skt_ppp_report_on").show("highlight"); 
				 }else		{
				    $j("#span_skt_ppp_report_on").hide(""); 
				 }	
				});
		});
	</script>