<table width=85% cellpadding=15px>
	<!--

		<tr>
			<th>Part II - Training & Activities</th>
			<th>PPP</th>
			<th>Description</th>
		</tr>
		
		<tr valign=bottom>
			<td class="leftcolwide"><label for="eval1_part_ii">Part II</label></td>
			<td><#%= f.text_field :eval1_part_ii, :class => "score", :size => 5, :placeholder => 0  %></td>
			<td class="pagenote">Points for items in Part IIa & IIb<BR/><BR/><BR/><BR/></td>
		</tr>
		
	-->
	
	<tr>
		<th><%= t 'evaluation.form.title_part3' %></th>
		<th>PPP</th>
		<th>Description</th>
	</tr>
		
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_quantity"><%= t 'evaluation.form.quantity' %></label></td>
		<td><%= f.text_field :eval1_quantity, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.quantity_desc' %>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_quality"><%= t 'evaluation.form.quality' %></label></td>
		<td><%= f.text_field :eval1_quality, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.quanlity_desc1' %><BR><%= t 'evaluation.form.quanlity_desc2' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_time"><%= t 'evaluation.form.ontime' %></label></td>
		<td><%= f.text_field :eval1_time, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.ontime_desc' %>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_effective"><%= t 'evaluation.form.effective' %></label></td>
		<td><%= f.text_field :eval1_effective, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.effective_desc' %><BR/><BR/><BR/><BR/></td>
	</tr>

	<tr>
		<th><%= t 'evaluation.form.title_part4' %></th>
		<th>PPP</th>
		<th></th>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_knowledge"><%= t 'evaluation.form.knowledge' %></label></td>
		<td><%= f.text_field :eval1_knowledge, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.knowledge_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_rule"><%= t 'evaluation.form.rules' %></label></td>
		<td><%= f.text_field :eval1_rule, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.rules_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_communicate"><%= t 'evaluation.form.communication' %></label></td>
		<td><%= f.text_field :eval1_communicate, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.communication_desc' %><BR/><BR/><BR/><BR/></td>
	</tr>
	
	<tr>
		<th><%= t 'evaluation.form.title_part5' %></th>
		<th>PPP</th>
		<th></th>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_leader"><%= t 'evaluation.form.leadership' %></label></td>
		<td><%= f.text_field :eval1_leader, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.leadership_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_manage"><%= t 'evaluation.form.management' %></label></td>
		<td><%= f.text_field :eval1_manage, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.management_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_discipline"><%= t 'evaluation.form.discipline' %></label></td>
		<td><%= f.text_field :eval1_discipline, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.discipline_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_proactive"><%= t 'evaluation.form.proactive' %></label></td>
		<td><%= f.text_field :eval1_proactive, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.proactive_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_relate"><%= t 'evaluation.form.relate' %></label></td>
		<td><%= f.text_field :eval1_relate, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.relate_desc' %><BR/><BR/><BR/><BR/></td>
	</tr>

	<tr>
		<th><%= t 'evaluation.form.title_part6' %></th>
		<th>PPP</th>
		<th></th>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval1_part_ii"><%= t 'evaluation.form.parttwo' %></label></td>
		<td><%= f.text_field :eval1_part_ii, :class => "score", :size => 5, :placeholder => 0  %></td>
		<td class="pagenote"><%= t 'evaluation.form.parttwo_desc' %><BR/><BR/><BR/><BR/></td>
	</tr>
	
	
	<tr>
		<th>Totals</th>
		<th>PPP</th>
		<th></th>
	</tr>

	
	<tr  valign=bottom>
		<td class="leftcolwide">Totals</td>
		<td><%= f.text_field :eval1_percent, :size => 5, :readonly => true %></td>
		<td class="pagenote">Percent [Part II 50% and Part III 50%]<BR/><BR/><BR/><BR/></td>
	</tr>

</table>




<!--Part VIII-->
<H2><%= t 'evaluation.form.title_part8' %></H2>
<table width=90%>

	<tr  valign=bottom>
		<td class="leftcolwide"><label for="pppyears"><%= t 'evaluation.form.part8_desc' %></label></td>
		<td></label><%= f.select :eval1_work_years, 0..21  %> &nbsp; <label><%= t 'years_label' %></label>  &nbsp;&nbsp; &nbsp; &nbsp;
								<%= f.select :eval1_work_months, 0..11 %> &nbsp; <label><%= t 'months_label' %><BR/><BR/></td>
		<td></td>
	</tr>

	<tr>
		<td colspan=3><label for="pppoverall"><b><%= t 'evaluation.form.part8i_desc' %></b></label></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><label for="pppoverall"><%= t 'evaluation.form.part8i' %></label></td>
		<td colspan=2><%= f.text_area :eval1_performance, :size => '50x5' %></td>
	</tr>

	<tr>
		<td class="leftcolwide"><label for="pppadvancemet"><%= t 'evaluation.form.part8ii' %></label></td>
		<td colspan=2><%= f.text_area :eval1_progress, :size => '50x5' %></td>
	</tr>
	
	<tr>
		<td colspan=3><%= t 'evaluation.form.ppp_statement' %></td>
	<tr>

	<tr>
		<td class="leftcolwide"><label for="ppp_id"><%= t 'evaluation.form.pppid' %></label></td>
		<td><%= @staff_appraisal.eval1_officer.name %></td>
		<td></td>
	</tr>
<table>

<table width=100%>
  <% if User.current_user.staff.position.is_root? == false %>
	<tr>
	  <td class="leftcolwide"><label for="submit_for_appraisal1_on">Submit for evaluation</label></td>
		<td><%= f.check_box :submit_for_evaluation2, :id => 'submit_for_evaluation2' %>
				<SPAN id="span_submit2" style="display: none;"><%= f.date_select :submit_for_evaluation2_on, :order => [:day, :month, :year], :default => Date.today %></SPAN></td>
		<td class="pagenote">Clicking on submit notifies the Second Evaluating Officer (PPK)<BR/> and disables your editing this record further</td>
	</tr>
	<%= f.hidden_field :evaluation2_by, :value => User.current_user.staff.position.parent.staff_id %>
	<% else %>
	
	<tr>
		<td colspan=3>Your are unable to submit this to PPK as they are outside the scope of this campus</td>
	</tr>
	<% end -%>
</table>









<script type="text/javascript">
	$j(document).ready(function(){
			//show submit date
			$j(".score").keyup(function() {  
			  var eval1_part_ii = $j("#staff_appraisal_eval1_part_ii").val();
			  var eval1_quantity = $j("#staff_appraisal_eval1_quantity").val();
				var eval1_quality = $j("#staff_appraisal_eval1_quality").val();
				var eval1_time = $j("#staff_appraisal_eval1_time").val();
				var eval1_effective = $j("#staff_appraisal_eval1_effective").val();
				
				var eval1_knowledge = $j("#staff_appraisal_eval1_knowledge").val();
				var eval1_rule = $j("#staff_appraisal_eval1_rule").val();
				var eval1_communicate = $j("#staff_appraisal_eval1_communicate").val();
				
				var eval1_leader = $j("#staff_appraisal_eval1_leader").val();
				var eval1_manage = $j("#staff_appraisal_eval1_manage").val();
				var eval1_discipline = $j("#staff_appraisal_eval1_discipline").val();
				var eval1_proactive = $j("#staff_appraisal_eval1_proactive").val();
				var eval1_relate = $j("#staff_appraisal_eval1_relate").val();
				
				
				
				
				//var per.val( ((eval1_part_ii*50)/100) + (((eval1_quantity + eval1_quality + eval1_time + eval1_effective)*50)/100) );
			  //$j("#staff_appraisal_eval1_percent").val(a+b+c+d);
			 
				var ansD = document.getElementById("staff_appraisal_eval1_percent");
				ansD.value = ((eval1_part_ii*10) + 
				             ((eval1_quantity*1 + eval1_quality*1 + eval1_time*1 + eval1_effective*1)/4*50) +
										 ((eval1_knowledge*1 + eval1_rule*1 + eval1_communicate*1)/3*20) +
										 ((eval1_leader*1 + eval1_manage*1 + eval1_discipline*1 + eval1_proactive*1 + eval1_relate*1)/5*20))/10;
			
			});
			
			
			//show submit date
			$j("input[id='submit_for_evaluation2']").change(function() {  
			 if($j('#submit_for_evaluation2').is(':checked')) { 
			    $j("#span_submit2").show("highlight"); 
			 }else		{
			    $j("#span_submit2").hide(""); 
			 }	
			});

			$j("input[id='submit_for_evaluation2']").each(function() {  
			 if($j('#submit_for_evaluation2').is(':checked')) { 
			    $j("#span_submit2").show("highlight"); 
			 }else		{
			    $j("#span_submit2").hide(""); 
			 }	
			});

	});
</script>

