<table width=85% cellpadding=15px>
	<tr>
		<th><%= t 'evaluation.form.title_part3' %></th>
		<th>PPK</th>
		<th>Description</th>
	</tr>
		
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval2_quantity"><%= t 'evaluation.form.quantity' %></label></td>
		<td><%= f.text_field :eval2_quantity, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.quantity_desc' %>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval2_quality"><%= t 'evaluation.form.quality' %></label></td>
		<td><%= f.text_field :eval2_quality, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.quanlity_desc1' %><BR><%= t 'evaluation.form.quanlity_desc2' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval2_time"><%= t 'evaluation.form.ontime' %></label></td>
		<td><%= f.text_field :eval2_time, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.ontime_desc' %>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval2_effective"><%= t 'evaluation.form.effective' %></label></td>
		<td><%= f.text_field :eval2_effective, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.effective_desc' %><BR/><BR/><BR/><BR/></td>
	</tr>

	<tr>
		<th><%= t 'evaluation.form.title_part4' %></th>
		<th>PPK</th>
		<th></th>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval2_knowledge"><%= t 'evaluation.form.knowledge' %></label></td>
		<td><%= f.text_field :eval2_knowledge, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.knowledge_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval2_rule"><%= t 'evaluation.form.rules' %></label></td>
		<td><%= f.text_field :eval2_rule, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.rules_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval2_communicate"><%= t 'evaluation.form.communication' %></label></td>
		<td><%= f.text_field :eval2_communicate, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.communication_desc' %><BR/><BR/><BR/><BR/></td>
	</tr>
	
	<tr>
		<th><%= t 'evaluation.form.title_part5' %></th>
		<th>PPK</th>
		<th></th>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval2_leader"><%= t 'evaluation.form.leadership' %></label></td>
		<td><%= f.text_field :eval2_leader, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.leadership_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval2_manage"><%= t 'evaluation.form.management' %></label></td>
		<td><%= f.text_field :eval2_manage, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.management_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval2_discipline"><%= t 'evaluation.form.discipline' %></label></td>
		<td><%= f.text_field :eval2_discipline, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.discipline_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval2_proactive"><%= t 'evaluation.form.proactive' %></label></td>
		<td><%= f.text_field :eval2_proactive, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.proactive_desc' %></td>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval2_relate"><%= t 'evaluation.form.relate' %></label></td>
		<td><%= f.text_field :eval2_relate, :class => "score", :size => 5, :placeholder => 0 %></td>
		<td class="pagenote"><%= t 'evaluation.form.relate_desc' %><BR/><BR/><BR/><BR/></td>
	</tr>

	<tr>
		<th><%= t 'evaluation.form.title_part6' %></th>
		<th>PPK</th>
		<th></th>
	</tr>
	
	<tr valign=bottom>
		<td class="leftcolwide"><label for="eval2_part_ii"><%= t 'evaluation.form.parttwo' %></label></td>
		<td><%= f.text_field :eval2_part_ii, :class => "score", :size => 5, :placeholder => 0  %></td>
		<td class="pagenote"><%= t 'evaluation.form.parttwo_desc' %><BR/><BR/><BR/><BR/></td>
	</tr>
	
	
	<tr>
		<th>Totals</th>
		<th>PPK</th>
		<th></th>
	</tr>

	
	<tr  valign=bottom>
		<td class="leftcolwide">Totals</td>
		<td><%= f.text_field :eval2_percent, :size => 5, :readonly => true %></td>
		<td class="pagenote">Percent [Part II 50% and Part III 50%]<BR/><BR/><BR/><BR/></td>
	</tr>
	
	<tr  valign=bottom>
		<td class="leftcolwide">Totals (inc PPK)</td>
		<td><%= f.text_field :evaluation_total, :size => 5, :readonly => true %></td>
		<td class="pagenote">Percent  PPK:50%  PPK:50%<BR/><BR/><BR/><BR/></td>
	</tr>

</table>
<span><%= f.hidden_field :eval1_percent, :id => 'lasttotal'%></span>



<!--Part VIII-->
<H2><%= t 'evaluation.form.title_part9' %></H2>
<table width=90%>

	<tr  valign=bottom>
		<td class="leftcolwide"><label for="PPKyears"><%= t 'evaluation.form.part8_desc' %></label></td>
		<td></label><%= f.select :eval2_work_years, 0..21  %> &nbsp; <label><%= t 'years_label' %></label>  &nbsp;&nbsp; &nbsp; &nbsp;
								<%= f.select :eval2_work_months, 0..11 %> &nbsp; <label><%= t 'months_label' %><BR/><BR/></td>
		<td></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><label for="PPKoverall"><%= t 'evaluation.form.part9_desc' %></label></td>
		<td colspan=2><%= f.text_area :eval2_performance, :size => '50x5' %></td>
	</tr>

	<tr>
		<td class="leftcolwide"><label for="PPK_id"><%= t 'evaluation.form.pppid' %></label></td>
		<td><%= @staff_appraisal.eval2_officer.name %></td>
		<td></td>
	</tr>
</table>

<table width=100%>
	<tr>
	  <td class="leftcolwide"><label for="is_complete">Evaluation is complete</label></td>
		<td><%= f.check_box :is_complete, :id => 'is_complete' %>
				<SPAN id="span_is_complete" style="display: none;"><%= f.date_select :is_complete_on, :order => [:day, :month, :year], :default => Date.today %></SPAN></td>
		<td class="pagenote">Clicking on complete will lock this record <BR/> and disables your editing this record further</td>
	</tr>
</table>


<script type="text/javascript">
	$j(document).ready(function(){
			//show submit date
			$j(".score").keyup(function() {  
			  var eval2_part_ii = $j("#staff_appraisal_eval2_part_ii").val();
			  var eval2_quantity = $j("#staff_appraisal_eval2_quantity").val();
				var eval2_quality = $j("#staff_appraisal_eval2_quality").val();
				var eval2_time = $j("#staff_appraisal_eval2_time").val();
				var eval2_effective = $j("#staff_appraisal_eval2_effective").val();
				
				var eval2_knowledge = $j("#staff_appraisal_eval2_knowledge").val();
				var eval2_rule = $j("#staff_appraisal_eval2_rule").val();
				var eval2_communicate = $j("#staff_appraisal_eval2_communicate").val();
				
				var eval2_leader = $j("#staff_appraisal_eval2_leader").val();
				var eval2_manage = $j("#staff_appraisal_eval2_manage").val();
				var eval2_discipline = $j("#staff_appraisal_eval2_discipline").val();
				var eval2_proactive = $j("#staff_appraisal_eval2_proactive").val();
				var eval2_relate = $j("#staff_appraisal_eval2_relate").val();
				
				
				var a = $j("#lasttotal").val();
				var b = $j("#staff_appraisal_eval2_percent").val();
				var ansC = document.getElementById("staff_appraisal_evaluation_total");						
				ansC.value = (a*1 + b*1)/2;
			 
				var ansD = document.getElementById("staff_appraisal_eval2_percent");
				ansD.value = ((eval2_part_ii*10) + 
				             ((eval2_quantity*1 + eval2_quality*1 + eval2_time*1 + eval2_effective*1)/4*50) +
										 ((eval2_knowledge*1 + eval2_rule*1 + eval2_communicate*1)/3*20) +
										 ((eval2_leader*1 + eval2_manage*1 + eval2_discipline*1 + eval2_proactive*1 + eval2_relate*1)/5*20))/10;
				
				

			
			});
			
			
			//show submit date
			$j("input[id='is_complete']").change(function() {  
			 if($j('#is_complete').is(':checked')) { 
			    $j("#span_is_complete").show("highlight"); 
			 }else		{
			    $j("#span_is_complete").hide(""); 
			 }	
			});

			$j("input[id='is_complete']").each(function() {  
			 if($j('#is_complete').is(':checked')) { 
			    $j("#span_is_complete").show("highlight"); 
			 }else		{
			    $j("#span_is_complete").hide(""); 
			 }	
			});

	});
</script>

