	<P CLASS="breakhere">

<div class='A4potrait_<%= "#{@staff_appraisal.person_type}" %>'>
		<div class="bahagian">
			<BR/><BR/>
			<H4>BAHAGIAN III - PENGHASILAN KERJA ( Wajaran 50% )</H4>
			<P>Pegawai Penilai dikehendaki memberikan penilaian berdasarkan pencapaian kerja sebenar PYD berbanding dengan SKT yang ditetapkan. 
			   Penilaian hendaklah berasaskan kepada penjelasan setiap kriteria yang dinyatakan di bawah dengan menggunakan skala 1 hingga 10 :</P>

			<table class="centre">
		    <tr>
		      <th>KRITERIA<br /> (Dinilai berasaskan SKT)</th>
		      <th>PPP</th>
		      <th>PPK</th>
		    </tr>
		    <tr>
		      <td class="left"><strong>1.&nbsp;&nbsp;&nbsp;KUANTITI HASIL KERJA</strong>
		      			<P>Kuantiti hasil kerja seperti jumlah bilangan, kadar, kekerapan dan sebagainya berbanding dengan sasaran kuantiti kerja 
								yang ditetapkan.</P></td>
		      <td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g1q1 %></td>
		        			</tr>
		      			</table></td>
		      <td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g1q1 %></td>
		        			</tr>
		      			</table></td>
		    </tr>
		    <tr>
		      <td class="left"><strong>2.&nbsp;&nbsp;&nbsp;KUALITI HASIL KERJA</strong>
		      				 <P>2.1. Dinilai dari segi kesempurnaan, teratur dan kemas.</P>
									 <P>2.2. Dinilai dari segi usaha dan inisiatif untuk mencapai kesempurnaan hasil kerja.</P></td>
		      <td>
		        		<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g1q1 %></td>
		        			</tr>
		      			</table>

		      			<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g1q2 %></td>
		        			</tr>
		      			</table></td>
		      <td>
		        		<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g1q3 %></td>
		        			</tr>
		      			</table>

		      			<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g1q3 %></td>
		        			</tr>
		      			</table></td>
		    </tr>

		    <tr>
		      <td class="left"><strong>3.&nbsp;&nbsp;&nbsp;KETEPATAN MASA</strong>
		      		<p>Kebolehan menghasilkan kerja atau melaksanakan tugas dalam tempoh masa yang ditetapkan.</p></td>
	     		<td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g1q4 %></td>
		        			</tr>
		      			</table></td>
	   			<td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g1q4 %></td>
		        			</tr>
		      			</table></td>
		    </tr>

		    <tr>
		      <td class="left"><strong>4.&nbsp;&nbsp;&nbsp;KEBERKESANAN HASIL KERJA</strong>
		      	<p>Dinilai dari segi memenuhi kehendak 'stake-holder' atau pelanggan.</p></td>
	        <td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g1q5 %></td>
		        			</tr>
		      			</table></td>
	   			<td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g1q5 %></td>
		        			</tr>
		      			</table></td>
		    </tr>
		    <tr>
		      <td class="left"><P><strong>Jumlah markah mengikut wajaran</strong></P></td>
		      <td class="calc"><u><%=h @staff_appraisal.e1g1_total %></u> x 50 = <%=h @staff_appraisal.e1g1_percent %><br />50</td>
		      <td class="calc"><u><%=h @staff_appraisal.e1g2_total %></u> x 50 = <%=h @staff_appraisal.e2g1_percent %><br />50</td>

		    </tr>
		  </table><BR/><BR/><BR/>



			<H4>BAHAGIAN IV - PENGETAHUAN DAN KEMAHIRAN ( Wajaran 25% )</H4>
			<P>	Pegawai Penilai dikehendaki memberikan penilaian berasaskan kepada penjelasan setiap kriteria yang dinyatakan di bawah dengan 
					menggunakan skala 1 hingga 10:</P>

			<table class="centre">
		    <tr>
		      <th>KRITERIA</th>
		      <th>PPP</th>
		      <th>PPK</th>
		    </tr>

				<tr>
		      <td class="left"><strong>1.&nbsp;&nbsp;&nbsp;ILMU PENGETAHUAN DAN KEMAHIRAN DALAM BIDANG <BR/> &nbsp; &nbsp; &nbsp; KERJA</strong>
		      			<P>	Mempunyai ilmu pengetahuan dan kemahiran/kepakaran dalam menghasilkan kerja meliputi kebolehan mengenalpasti, 
										menganalisis serta menyelesaikan masalah.</P></td>
		      <td width=100px>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g2q1 %></td>
		        			</tr>
		      			</table></td>
		      <td width=100px>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g2q1 %></td>
		        			</tr>
		      			</table></td>
		    </tr>

				<tr>
		      <td class="left"><strong>2.&nbsp;&nbsp;&nbsp;PELAKSANAAN DASAR, PERATURAN DAN ARAHAN <BR/> &nbsp; &nbsp; &nbsp;  PENTADBIRAN</strong>
		      			<P>	Kebolehan menghayati dan melaksanakan dasar, peraturan dan arahan pentadbiran berkaitan dengan bidang tugasnya.</P></td>
		      <td width=100px>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g2q2 %></td>
		        			</tr>
		      			</table></td>
		      <td width=100px>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g2q2 %></td>
		        			</tr>
		      			</table></td>
		    </tr>
		  </table>
		</div>
</div>


<P CLASS="breakhere">
	
<div class="A4potrait_green">
	<div class="bahagian">
		<BR/><BR/>
		<table class="centre">
	    <tr>
	      <th>KRITERIA<br /> (Dinilai berasaskan SKT)</th>
	      <th>PPP</th>
	      <th>PPK</th>
	    </tr>
	    <tr>
	      <td class="left"><strong>1.&nbsp;&nbsp;&nbsp;KUANTITI HASIL KERJA</strong>
	      			<P>Kuantiti hasil kerja seperti jumlah bilangan, kadar, kekerapan dan sebagainya berbanding dengan sasaran kuantiti kerja 
							yang ditetapkan.</P></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g2q3 %></td>
	        			</tr>
	      			</table></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g2q3 %></td>
	        			</tr>
	      			</table></td>
			</tr>
			<tr>
	      <td class="left"><P><strong>Jumlah markah mengikut wajaran</strong></P></td>
	      <td class="calc"><u><%=h @staff_appraisal.e1g2_total %></u> x 25 = <%=h pukka(@staff_appraisal.e1g2_percent) %><br />30</td>
	      <td class="calc"><u><%=h @staff_appraisal.e2g2_total %></u> x 25 = <%=h pukka(@staff_appraisal.e2g2_percent) %><br />30</td>
	    </tr>
		</table><BR/><BR/><BR/>
		
		<H4>BAHAGIAN V - KUALITI PERIBADI ( Wajaran 20% )</H4>
		<P>	Pegawai Penilai dikehendaki memberikan penilaian berasaskan kepada penjelasan setiap kriteria yang dinyatakan di bawah dengan 
				menggunakan skala 1 hingga 10:</P>

		<table class="centre">
	    <tr>
	      <th>KRITERIA<br /> (Dinilai berasaskan SKT)</th>
	      <th>PPP</th>
	      <th>PPK</th>
	    </tr>
	    <tr>
	      <td class="left"><strong>1. &nbsp;&nbsp;CIRI-CIRI PEMIMPIN</strong>
	      			<P>Mempunyai wawasan, komitmen, kebolehan membuat keputusan, menggerak dan memberi dorongan kepada pegawai ke 
								 arah pencapaian objektif organisasi.</P></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e1g3q1 %></td>
	        			</tr>
	      			</table></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g3q1 %></td>
	        			</tr>
	      			</table></td>
	    </tr>
	
	    <tr>
	      <td class="left"><strong>2. &nbsp;&nbsp;KEBOLEHAN MENGELOLA</strong>
	      			<P>	Keupayaan dan kebolehan menggembleng segala sumber dalam kawalannya seperti kewangan, tenaga manusia,peralatan dan 
									maklumat bagi merancang mengatur, membahagi dan mengendalikan sesuatu tugas untuk mencapai objektif organisasi.</P></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e1g3q2 %></td>
	        			</tr>
	      			</table></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g3q2 %></td>
	        			</tr>
	      			</table></td>
	    </tr>

	
	    <tr>
	      <td class="left"><strong>3. &nbsp;&nbsp;DISIPLIN</strong></strong>
	      		<p>	Mempunyai daya kawalan diri dari segi mental dan fizikal termasuk mematuhi peraturan, menepati masa, 
								menunaikan janji dan bersifat sabar.</p></td>
     		<td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e1g3q3 %></td>
	        			</tr>
	      			</table></td>
   			<td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g3q3 %></td>
	        			</tr>
	      			</table></td>
	    </tr>
	
	    <tr>
	      <td class="left"><strong>4. &nbsp;&nbsp;&nbsp;PROAKTIF DAN INOVATIF</strong>
	      	<p>	Kebolehan menjangka kemungkinan, mencipta dan mengeluarkan idea baru serta membuat pembaharuan bagi mempertingkatkan 
							kualiti dan produktiviti organisasi.</p></td>
        <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e1g3q4 %></td>
	        			</tr>
	      			</table></td>
   			<td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g3q4 %></td>
	        			</tr>
	      			</table></td>
	    </tr>
	
			<tr>
	      <td class="left"><strong>5. &nbsp;&nbsp;JALINAN HUBUNGAN DAN KERJASAMA</strong>
	      	<p>Kebolehan pegawai dalam mewujudkan suasana kerjasama yang harmoni dan mesra serta boleh menyesuaikan diri dalam semua keadaan.</p></td>
        <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e1g3q5 %></td>
	        			</tr>
	      			</table></td>
   			<td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g3q5 %></td>
	        			</tr>
	      			</table></td>
	    </tr>
	    <tr>
	      <td class="left"><P><strong>Jumlah markah mengikut wajaran</strong></P></td>
	      <td class="calc"><u><%=h @staff_appraisal.e1g3_total %></u> x 20 = <%=h pukka(@staff_appraisal.e1g3_percent) %><br />50</td>
	      <td class="calc"><u><%=h @staff_appraisal.e2g3_total %></u> x 20 = <%=h pukka(@staff_appraisal.e2g3_percent) %><br />50</td>
	      
	    </tr>
	  </table><BR/><BR/><BR/>
	</div>
</div>


<P CLASS="breakhere">
	
<div class="A4potrait_green">
	<div class="bahagian">
		<BR/>
		
		<H4>BAHAGIAN VI - KEGIATAN DAN SUMBANGAN DI LUAR TUGAS RASMI ( Wajaran 5% )</H4>
		<P style="padding: 0">(Sukan/Pertubuhan/Sumbangan Kreatif)</P>
		<P>	Berasaskan maklumat di Bahagian II perenggan 1, Pegawai Penilai dikehendaki memberi penilaian dengan menggunakan skala 1 
				hingga 10. TIada sebarang markah boleh diberikan (kosong) jika PYD tidak mencatat kegiatan atau sumbangannya.</P>
		
		
		<table class="centre">
	    <tr>
	      <td rowspan=2>Peringkat Komuniti/Jabatan/Daerah/Negeri/Negara/Antarabangsa</td>
	      <th>PPP</th>
				<th>PPK</th>
	    </tr>
	    <tr>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e1g4 %></td>
	        			</tr>
	      			</table></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g4 %></td>
	        			</tr>
	      			</table></td>
			</tr>
			<tr>
	      <td class="left"><P><strong>Jumlah markah mengikut wajaran</strong></P></td>
	      <td class="calc"><u><%=h @staff_appraisal.e1g4 %></u> x 5 = <%=h pukka(@staff_appraisal.e1g4_percent) %><br />10</td>
	      <td class="calc"><u><%=h @staff_appraisal.e2g4 %></u> x 5 = <%=h pukka(@staff_appraisal.e2g4_percent) %><br />10</td>
	    </tr>
		</table><BR/>
		
		<H4>BAHAGIAN VII - JUMLAH MARKAH KESELURUHAN</H4>
		<P>	Pegawai Penilai dikehendaki mencatatkan jumlah markah keseluruhan yang diperolehi oleh PYD dalam bentuk peratus (%) 
				berdasarkan jumlah markah bagi setiap Bahagian yang diberi markah.</P>
				
				
		<table class="centre">
	    <tr>
	      <th>MARKAH KESELURUHAN</th>
	      <th>PPP (%)
								<table class="box">
		        			<tr>
		          			<td><%=h number_with_precision(@staff_appraisal.e1_total, :precision => 2) %></td>
		        			</tr>
		      			</table></th>
				<th>PPK	(%)
								<table class="box">
		        			<tr>
		          			<td><%=h number_with_precision(@staff_appraisal.e2_total,:precision => 2) %></td>
		        			</tr>
		      			</table></td></th>
				<th>MARKAH PURATA (%)<br />(untuk diisi oleh Urus Setia <BR/>PPSM)
								<table class="box">
		        			<tr>
		          			<td><%=h number_with_precision(@staff_appraisal.t1t2_average, :precision => 2) %></td>
		        			</tr>
		      			</table></th>
	    </tr>
		</table><BR/>
		
		
		<H4>BAHAGIAN VIII - ULASAN KESELURUHAN DAN PENGESAHAN OLEH PEGAWAI PENILAI PERTAMA </H4>
		<table class="signature">
			<tr>
				<td style="text-align:left;">1.&nbsp;&nbsp;Tempoh PYD bertugas di bawah pengawasan:</td>
				<td>Tahun</td>
				<td>
					<table class="box" style="margin-top: 12px; margin-bottom: 0px; margin-left: auto; margin-right: auto;">
      			<tr>
        			<td><%=h @staff_appraisal.e1_years %></td>
      			</tr>
    			</table></td>
				<td>Bulan</td>
				<td>
					<table class="box" style="margin-top: 12px; margin-bottom: 0px; margin-left: auto; margin-right: auto;">
      			<tr>
        			<td><%=h @staff_appraisal.e1_months %></td>
      			</tr>
    			</table></td>
			</tr>
			<tr>
				<td style="text-align:left;" colspan=4 >2.&nbsp;&nbsp;Penilai Pertama hendaklah memberi ulasan keseluruhan prestasi PYD.</td>
			</tr>
		</table>
		
		<table class="dottable">
			<tr>
				<td>(i) &nbsp;Prestasi keseluruhan</td>
			</tr>
			<tr>
				<td>
					<div class="high">...<%=h (@staff_appraisal.e1_performance) %>...........................................................................................................................................................................................................................................................................................................................................................................................................................................................</div></td>
			</tr>
			<tr>
				<td>(ii) &nbsp;Kemajuan kerjaya</td>
			</tr>
			<tr>
				<td>
					<div class="high">...<%=h (@staff_appraisal.e1_progress) %>...........................................................................................................................................................................................................................................................................................................................................................................................................................................................</div></td>
			</tr>
		</table>
  </div></div>

	
	
<P CLASS="breakhere">
<div class="A4potrait_green">
	<div class="bahagian">
		<BR/>
		<table class="signature">
			<tr>
				<td style="text-align:left;" colspan=2>3. &nbsp;Adalah disahkan bahawa prestasi pegawai ini telah dimaklumkan kepada PYD.</td>
			</tr>
		</table>
		<BR/>
		<table class="whiteline">
			<tr>
				<td width=30%>Nama PPP :</td>
				<td class="right"><%= @staff_appraisal.eval1_officer.name %></td>
			</tr>
			<tr>
				<td>Jawatan :</td>
				<td class="right"><%= @staff_appraisal.eval1_officer.position.positionname %></td>
			</tr>
			<tr>
				<td>Kementerian/Jabatan :</td>
				<td class="right"></td>
			</tr>
			<tr>
				<td>No. K.P. :</td>
				<td class="right"><%= @staff_appraisal.eval1_officer.formatted_mykad %></td>
			</tr>
		</table>
		<BR/>
		<table class="signature" style="margin-left">
			<tr>
				<th><%=h @staff_appraisal.eval1_officer.name %></th>
				<td></td>
				<th><%= l(@staff_appraisal.submit_e2_on) %></th>
			</tr>
			<tr>
				<td>Tandatangan PPP</td>
				<td></td>
				<td>Tarikh</td>
			</tr>
		</table><BR/><BR/>
		
		
		<H4>BAHAGIAN IX - ULASAN KESELURUHAN OLEH PEGAWAI PENILAI KEDUA</H4>
		<table class="signature">
			<tr>
				<td style="text-align:left;">1.&nbsp;&nbsp;Tempoh PYD bertugas di bawah pengawasan:</td>
				<td>Tahun</td>
				<td>
					<table class="box" style="margin-top: 12px; margin-bottom: 0px; margin-left: auto; margin-right: auto;">
      			<tr>
        			<td><%=h @staff_appraisal.e2_years %></td>
      			</tr>
    			</table></td>
				<td>Bulan</td>
				<td>
					<table class="box" style="margin-top: 12px; margin-bottom: 0px; margin-left: auto; margin-right: auto;">
      			<tr>
        			<td><%=h @staff_appraisal.e2_months %></td>
      			</tr>
    			</table></td>
			</tr>
			<tr>
				<td style="text-align:left;" colspan=4 >2.&nbsp;&nbsp;Penilai Pertama hendaklah memberi ulasan keseluruhan prestasi PYD.</td>
			</tr>
		</table>
		
		<table class="dottable">
			<tr>
				<td>
					<div class="high">...<%=h (@staff_appraisal.e2_performance) %>...........................................................................................................................................................................................................................................................................................................................................................................................................................................................</div></td>
			</tr>
		</table>
		
		<table class="whiteline">
			<tr>
				<td width=30%>Nama PPk :</td>
				<td class="right"><%= @staff_appraisal.eval2_officer.name %></td>
			</tr>
			<tr>
				<td>Jawatan :</td>
				<td class="right"><%= @staff_appraisal.eval2_officer.position.positionname %></td>
			</tr>
			<tr>
				<td>Kementerian/Jabatan :</td>
				<td class="right"></td>
			</tr>
			<tr>
				<td>No. K.P. :</td>
				<td class="right"><%= @staff_appraisal.eval2_officer.formatted_mykad %></td>
			</tr>
		</table>
		<BR/>
		<table class="signature" style="margin-left">
			<tr>
				<th><%=h @staff_appraisal.eval2_officer.name %></th>
				<td></td>
				<th><%= l(@staff_appraisal.is_completed_on) unless @staff_appraisal.is_completed_on.blank? %></th>
			</tr>
			<tr>
				<td>Tandatangan PPP</td>
				<td></td>
				<td>Tarikh</td>
			</tr>
		</table><BR/><BR/>


	</div>
</div>
