<P CLASS="breakhere">
<div class='A4potrait_<%= "#{@staff_appraisal.person_type}" %>'>
		<div class="bahagian">
			<BR/><BR/>
			<H4>BAHAGIAN III - PENGHASILAN KERJA ( Wajaran 50% )</H4>
			<P>Pegawai Penilai dikehendaki memberikan penilaian berdasarkan pencapaian kerja sebenar PYD berbanding dengan SKT yang ditetapkan. 
			   Penilaian hendaklah berasaskan kepada penjelasan setiap kriteria yang dinyatakan di bawah dengan menggunakan skala 1 hingga 10 :</P>

			<table class="centre">
		    <tr>
		      <th>KRITERIA<br /> (Dinilai berasaskan SKT)</th>
		      <th>PPP</th>
		      <th>PPK</th>
		    </tr>
		    <tr>
		      <td class="left"><strong>1.&nbsp;&nbsp;&nbsp;KUANTITI HASIL KERJA</strong>
		      			<P>Kuantiti hasil kerja seperti jumlah bilangan, kadar, kekerapan dan sebagainya berbanding dengan sasaran kuantiti kerja 
								yang ditetapkan.</P></td>
		      <td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g1q1 %></td>
		        			</tr>
		      			</table></td>
		      <td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g1q1 %></td>
		        			</tr>
		      			</table></td>
		    </tr>
		    <tr>
		      <td class="left"><strong>2.&nbsp;&nbsp;&nbsp;KUALITI HASIL KERJA</strong>
		      				 <P>2.1. Dinilai dari segi kesempurnaan, teratur dan kemas.</P>
									 <P>2.2. Dinilai dari segi usaha dan inisiatif untuk mencapai kesempurnaan hasil kerja.</P></td>
		      <td>
		        		<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g1q1 %></td>
		        			</tr>
		      			</table>

		      			<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g1q2 %></td>
		        			</tr>
		      			</table></td>
		      <td>
		        		<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g1q3 %></td>
		        			</tr>
		      			</table>

		      			<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g1q3 %></td>
		        			</tr>
		      			</table></td>
		    </tr>

		    <tr>
		      <td class="left"><strong>3.&nbsp;&nbsp;&nbsp;KETEPATAN MASA</strong>
		      		<p>Kebolehan menghasilkan kerja atau melaksanakan tugas dalam tempoh masa yang ditetapkan.</p></td>
	     		<td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g1q4 %></td>
		        			</tr>
		      			</table></td>
	   			<td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g1q4 %></td>
		        			</tr>
		      			</table></td>
		    </tr>

		    <tr>
		      <td class="left"><strong>4.&nbsp;&nbsp;&nbsp;KEBERKESANAN HASIL KERJA</strong>
		      	<p>Dinilai dari segi memenuhi kehendak 'stake-holder' atau pelanggan.</p></td>
	        <td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g1q5 %></td>
		        			</tr>
		      			</table></td>
	   			<td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g1q5 %></td>
		        			</tr>
		      			</table></td>
		    </tr>
		    <tr>
		      <td class="left"><P><strong>Jumlah markah mengikut wajaran</strong></P></td>
		      <td class="calc"><u><%=h @staff_appraisal.e1g1_total %></u> x 50 = <%=h @staff_appraisal.e1g1_percent %><br />50</td>
		      <td class="calc"><u><%=h @staff_appraisal.e1g2_total %></u> x 50 = <%=h @staff_appraisal.e2g1_percent %><br />50</td>

		    </tr>
		  </table><BR/><BR/><BR/>



			<H4>BAHAGIAN IV - PENGETAHUAN DAN KEMAHIRAN ( Wajaran 25% )</H4>
			<P>	Pegawai Penilai dikehendaki memberikan penilaian berasaskan kepada penjelasan setiap kriteria yang dinyatakan di bawah dengan 
					menggunakan skala 1 hingga 10:</P>

			<table class="centre">
		    <tr>
		      <th>KRITERIA</th>
		      <th>PPP</th>
		      <th>PPK</th>
		    </tr>

				<tr>
		      <td class="left"><strong>1.&nbsp;&nbsp;&nbsp;ILMU PENGETAHUAN DAN KEMAHIRAN DALAM BIDANG <BR/> &nbsp; &nbsp; &nbsp; KERJA</strong>
		      			<P>	Mempunyai ilmu pengetahuan dan kemahiran/kepakaran dalam menghasilkan kerja meliputi kebolehan mengenalpasti, 
										menganalisis serta menyelesaikan masalah.</P></td>
		      <td width=100px>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g2q1 %></td>
		        			</tr>
		      			</table></td>
		      <td width=100px>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g2q1 %></td>
		        			</tr>
		      			</table></td>
		    </tr>

				<tr>
		      <td class="left"><strong>2.&nbsp;&nbsp;&nbsp;PELAKSANAAN DASAR, PERATURAN DAN ARAHAN <BR/> &nbsp; &nbsp; &nbsp;  PENTADBIRAN</strong>
		      			<P>	Kebolehan menghayati dan melaksanakan dasar, peraturan dan arahan pentadbiran berkaitan dengan bidang tugasnya.</P></td>
		      <td width=100px>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g2q2 %></td>
		        			</tr>
		      			</table></td>
		      <td width=100px>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g2q2 %></td>
		        			</tr>
		      			</table></td>
		    </tr>
		  </table>
		</div>
		<div class="page_number"><% page_number += 1 %><%= page_number %></div>
</div>


<P CLASS="breakhere">
	
<div class='A4potrait_<%= "#{@staff_appraisal.person_type}" %>'>
	<div class="bahagian">
		<BR/><BR/>
		<table class="centre">
	    <tr>
	      <th>KRITERIA<br /> (Dinilai berasaskan SKT)</th>
	      <th>PPP</th>
	      <th>PPK</th>
	    </tr>
	    <tr>
	      <td class="left">3.<%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g2q3_title") %> </strong>
		                     <P><%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g2q3_text") %>	</P></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g2q3 %></td>
	        			</tr>
	      			</table></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g2q3 %></td>
	        			</tr>
	      			</table></td>
			</tr>
			<tr>
	      <td class="left"><P><strong>Jumlah markah mengikut wajaran</strong></P></td>
	      <td class="calc"><u><%=h @staff_appraisal.e1g2_total %></u> x 25 = <%=h pukka(@staff_appraisal.e1g2_percent) %><br />30</td>
	      <td class="calc"><u><%=h @staff_appraisal.e2g2_total %></u> x 25 = <%=h pukka(@staff_appraisal.e2g2_percent) %><br />30</td>
	    </tr>
		</table><BR/><BR/><BR/>
		
		<H4>BAHAGIAN V - KUALITI PERIBADI ( Wajaran 20% )</H4>
		<P>	Pegawai Penilai dikehendaki memberikan penilaian berasaskan kepada penjelasan setiap kriteria yang dinyatakan di bawah dengan 
				menggunakan skala 1 hingga 10:</P>

		<table class="centre">
	    <tr>
	      <th>KRITERIA<br /> (Dinilai berasaskan SKT)</th>
	      <th>PPP</th>
	      <th>PPK</th>
	    </tr>
	    <tr>
	      <td class="left"><strong>1. &nbsp;&nbsp;CIRI-CIRI PEMIMPIN</strong>
	      			<P>Mempunyai wawasan, komitmen, kebolehan membuat keputusan, menggerak dan memberi dorongan kepada pegawai ke 
								 arah pencapaian objektif organisasi.</P></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e1g3q1 %></td>
	        			</tr>
	      			</table></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g3q1 %></td>
	        			</tr>
	      			</table></td>
	    </tr>
	
	    <tr>
	      <td class="left"><strong>2. &nbsp;&nbsp;KEBOLEHAN MENGELOLA</strong>
	      			<P>	Keupayaan dan kebolehan menggembleng segala sumber dalam kawalannya seperti kewangan, tenaga manusia,peralatan dan 
									maklumat bagi merancang mengatur, membahagi dan mengendalikan sesuatu tugas untuk mencapai objektif organisasi.</P></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e1g3q2 %></td>
	        			</tr>
	      			</table></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g3q2 %></td>
	        			</tr>
	      			</table></td>
	    </tr>

	
	    <tr>
	      <td class="left"><strong>3. &nbsp;&nbsp;DISIPLIN</strong></strong>
	      		<p>	Mempunyai daya kawalan diri dari segi mental dan fizikal termasuk mematuhi peraturan, menepati masa, 
								menunaikan janji dan bersifat sabar.</p></td>
     		<td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e1g3q3 %></td>
	        			</tr>
	      			</table></td>
   			<td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g3q3 %></td>
	        			</tr>
	      			</table></td>
	    </tr>
	
	    <tr>
	      <td class="left"><strong>4. &nbsp;&nbsp;&nbsp;PROAKTIF DAN INOVATIF</strong>
	      	<p>	Kebolehan menjangka kemungkinan, mencipta dan mengeluarkan idea baru serta membuat pembaharuan bagi mempertingkatkan 
							kualiti dan produktiviti organisasi.</p></td>
        <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e1g3q4 %></td>
	        			</tr>
	      			</table></td>
   			<td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g3q4 %></td>
	        			</tr>
	      			</table></td>
	    </tr>
	
			<tr>
	      <td class="left"><strong>5. &nbsp;&nbsp;JALINAN HUBUNGAN DAN KERJASAMA</strong>
	      	<p>Kebolehan pegawai dalam mewujudkan suasana kerjasama yang harmoni dan mesra serta boleh menyesuaikan diri dalam semua keadaan.</p></td>
        <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e1g3q5 %></td>
	        			</tr>
	      			</table></td>
   			<td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g3q5 %></td>
	        			</tr>
	      			</table></td>
	    </tr>
	    <tr>
	      <td class="left"><P><strong>Jumlah markah mengikut wajaran</strong></P></td>
	      <td class="calc"><u><%=h @staff_appraisal.e1g3_total %></u> x 20 = <%=h pukka(@staff_appraisal.e1g3_percent) %><br />50</td>
	      <td class="calc"><u><%=h @staff_appraisal.e2g3_total %></u> x 20 = <%=h pukka(@staff_appraisal.e2g3_percent) %><br />50</td>
	      
	    </tr>
	  </table><BR/><BR/><BR/>
	</div>
	<div class="page_number"><% page_number += 1 %><%= page_number %></div>
</div>


<P CLASS="breakhere">
