<div class='A4potrait_<%= "#{@staff_appraisal.person_type}" %>'>
		<div class="bahagian">
			<BR/>
			<H4><%= t 'evaluation.jpa.common.III_title' %></H4>
			<P><%= t 'evaluation.jpa.common.III_text' %></P>

			<table class="centre">
		    <tr>
		      <th>KRITERIA<br /> (Dinilai berasaskan SKT)</th>
		      <th>PPP</th>
		      <th>PPK</th>
		    </tr>
		    <tr>
		      <td class="left"><strong>1.&nbsp;&nbsp;&nbsp;KUANTITI HASIL KERJA</strong>
		      			<P>Kuantiti hasil kerja seperti jumlah bilangan, kadar, kekerapan dan sebagainya berbanding dengan sasaran kuantiti kerja 
								yang ditetapkan.</P></td>
		      <td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g1q1 %></td>
		        			</tr>
		      			</table></td>
		      <td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g1q1 %></td>
		        			</tr>
		      			</table></td>
		    </tr>
		    <tr>
		      <td class="left"><strong>2.&nbsp;&nbsp;&nbsp;KUALITI HASIL KERJA</strong>
		      				 <P>2.1. Dinilai dari segi kesempurnaan, teratur dan kemas.</P>
									 <P>2.2. Dinilai dari segi usaha dan inisiatif untuk mencapai kesempurnaan hasil kerja.</P></td>
		      <td>
		        		<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g1q1 %></td>
		        			</tr>
		      			</table>

		      			<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g1q2 %></td>
		        			</tr>
		      			</table></td>
		      <td>
		        		<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g1q3 %></td>
		        			</tr>
		      			</table>

		      			<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g1q3 %></td>
		        			</tr>
		      			</table></td>
		    </tr>

		    <tr>
		      <td class="left"><strong>3.&nbsp;&nbsp;&nbsp;KETEPATAN MASA</strong>
		      		<p>Kebolehan menghasilkan kerja atau melaksanakan tugas dalam tempoh masa yang ditetapkan.</p></td>
	     		<td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g1q4 %></td>
		        			</tr>
		      			</table></td>
	   			<td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g1q4 %></td>
		        			</tr>
		      			</table></td>
		    </tr>

		    <tr>
		      <td class="left"><strong>4.&nbsp;&nbsp;&nbsp;KEBERKESANAN HASIL KERJA</strong>
		      	<p><%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g1q5_text") %></p></td>
	        <td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g1q5 %></td>
		        			</tr>
		      			</table></td>
	   			<td>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g1q5 %></td>
		        			</tr>
		      			</table></td>
		    </tr>
		    <tr>
		      <td class="left"><P><strong>Jumlah markah mengikut wajaran</strong></P></td>
		      <td class="calc"><u><%=h @staff_appraisal.e1g1_total %></u> x 50 = <%=h @staff_appraisal.e1g1_percent %><br />50</td>
		      <td class="calc"><u><%=h @staff_appraisal.e1g2_total %></u> x 50 = <%=h @staff_appraisal.e2g1_percent %><br />50</td>

		    </tr>
		  </table><BR/>

			<H4>BAHAGIAN IV - <%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g2_title") %> ( Wajaran 25% )</H4>
			<P>	<%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g2_text") %></P>

			<table class="centre">
		    <tr>
		      <th>KRITERIA</th>
		      <th>PPP</th>
		      <th>PPK</th>
		    </tr>

				<tr>
		      <td class="left"><strong>1.<%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g2q1_title") %> </strong>
			                     <P><%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g2q1_text") %>	</P></td>
		      <td width=100px>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g2q1 %></td>
		        			</tr>
		      			</table></td>
		      <td width=100px>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g2q1 %></td>
		        			</tr>
		      			</table></td>
		    </tr>

				<tr>
		      <td class="left"><strong>2.<%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g2q2_title") %> </strong>
			                     <P><%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g2q2_text") %>	</P></td>
		      <td width=100px>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g2q2 %></td>
		        			</tr>
		      			</table></td>
		      <td width=100px>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g2q2 %></td>
		        			</tr>
		      			</table></td>
		    </tr>
		
				<tr>
		      <td class="left"><strong>3.<%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g2q3_title") %> </strong>
			                     <P><%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g2q3_text") %>	</P></td>
		      <td width=100px>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e1g2q3 %></td>
		        			</tr>
		      			</table></td>
		      <td width=100px>
								<table class="box">
		        			<tr>
		          			<td><%=h @staff_appraisal.e2g2q3 %></td>
		        			</tr>
		      			</table></td>
		    </tr>
		  </table>
		</div>
		<div class="page_number">3</div>	
</div>


<P CLASS="breakhere">
	
<div class='A4potrait_<%= "#{@staff_appraisal.person_type}" %>'>
	<div class="bahagian">
		<BR/><BR/>
		<table class="centre">
	    <tr>
	      <th>KRITERIA<br /> (Dinilai berasaskan SKT)</th>
	      <th>PPP</th>
	      <th>PPK</th>
	    </tr>
	    <tr>
	      <td class="left"><strong>4.<%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g2q4_title") %> </strong>
		                     <P><%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g2q4_text") %>	</P></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g2q4 %></td>
	        			</tr>
	      			</table></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g2q4 %></td>
	        			</tr>
	      			</table></td>
			</tr>
			<tr>
	      <td class="left"><P><strong>Jumlah markah mengikut wajaran</strong></P></td>
	      <td class="calc"><u><%=h @staff_appraisal.e1g2_total %></u> x 25 = <%=h pukka(@staff_appraisal.e1g2_percent) %><br />30</td>
	      <td class="calc"><u><%=h @staff_appraisal.e2g2_total %></u> x 25 = <%=h pukka(@staff_appraisal.e2g2_percent) %><br />30</td>
	    </tr>
		</table><BR/><BR/><BR/>
		
		<H4>BAHAGIAN V - <%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g3_title") %> ( Wajaran 20% )</H4>
		<P>	<%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g3_text") %></P>

		<table class="centre">
	    <tr>
	      <th>KRITERIA<br /> (Dinilai berasaskan SKT)</th>
	      <th>PPP</th>
	      <th>PPK</th>
	    </tr>
	    <tr>
	      <td class="left"><strong>1.<%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g3q1_title") %></strong>
	      			<P><%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g3q1_text") %></P></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e1g3q1 %></td>
	        			</tr>
	      			</table></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g3q1 %></td>
	        			</tr>
	      			</table></td>
	    </tr>
	
	    <tr>
	      <td class="left">	<strong>2.<%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g3q2_title") %> </strong>
	      									<P><%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g3q2_text") %>	</P></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e1g3q2 %></td>
	        			</tr>
	      			</table></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g3q2 %></td>
	        			</tr>
	      			</table></td>
	    </tr>

	
	    <tr>
	      <td class="left"><strong>3.<%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g3q3_title") %> </strong>
		                     <P><%= t ("evaluation.jpa.form_" + @staff_appraisal.person_type.to_s + ".g3q3_text") %>	</P></td>

     		<td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e1g3q3 %></td>
	        			</tr>
	      			</table></td>
   			<td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g3q3 %></td>
	        			</tr>
	      			</table></td>
	    </tr>
	
	    <tr>
	      <td class="left"><P><strong>Jumlah markah mengikut wajaran</strong></P></td>
	      <td class="calc"><u><%=h @staff_appraisal.e1g3_total %></u> x 20 = <%=h pukka(@staff_appraisal.e1g3_percent) %><br />50</td>
	      <td class="calc"><u><%=h @staff_appraisal.e2g3_total %></u> x 20 = <%=h pukka(@staff_appraisal.e2g3_percent) %><br />50</td>
	      
	    </tr>
	  </table><BR/><BR/><BR/>
	</div>
	<BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><div class="page_number">4</div>	
</div>


<P CLASS="breakhere">