<fieldset>
	<legend class='togvis'><%= t 'evaluation.form.title_part3' %></legend>

			<table width=90% cellpadding=15px>
				<tr>
					<th><%= t 'evaluation.form.title_part3' %></th>
					<th>PPP</th>
					<th>Description</th>
				</tr>
		
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_quantity"><%= t 'evaluation.form.quantity' %></label></td>
					<td><%=h @staff_appraisal.e1g1q1 %></td>
					<td class="pagenote"><%= t 'evaluation.form.quantity_desc' %>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide" rowspan=2><label for="eval1_quality"><%= t 'evaluation.form.quality' %></label></td>
					<td><%=h @staff_appraisal.e1g1q2 %></td>
					<td class="pagenote"><%= t 'evaluation.form.quanlity_desc1' %></td>
				</tr>
	
				<tr valign=bottom>
					<td><%=h @staff_appraisal.e1g1q3 %></td>
					<td class="pagenote"><%= t 'evaluation.form.quanlity_desc2' %></td>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_time"><%= t 'evaluation.form.ontime' %></label></td>
					<td><%=h @staff_appraisal.e1g1q4 %></td>
					<td class="pagenote"><%= t 'evaluation.form.ontime_desc' %>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_effective"><%= t 'evaluation.form.effective' %></label></td>
					<td><%=h @staff_appraisal.e1g1q5 %></td>
					<td class="pagenote"><%= t 'evaluation.form.effective_desc' %><BR/><BR/><BR/></td>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide" rowspan=2><label for="eval1_effective">Total</label></td>
					<td colspan=2><%=h @staff_appraisal.e1g1_total %><label> x 50 = <%=h @staff_appraisal.e1g1_percent %></label></td>
				</tr>
				<tr valign=bottom>
					<td>&nbsp; <%= (@staff_appraisal.g1_questions)*10 %></td>
					<td class="pagenote"><BR/><BR/><BR/><BR/></td>
				</tr>
	
	

				<tr>
					<th><%= t 'evaluation.form.title_part4' %></th>
					<th>PPP</th>
					<th></th>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_knowledge"><%= t 'evaluation.form.knowledge' %></label></td>
					<td><%=h @staff_appraisal.e1g2q1 %></td>
					<td class="pagenote"><%= t 'evaluation.form.knowledge_desc' %></td>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_rule"><%= t 'evaluation.form.rules' %></label></td>
					<td><%=h @staff_appraisal.e1g2q2 %></td>
					<td class="pagenote"><%= t 'evaluation.form.rules_desc' %></td>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_communicate"><%= t 'evaluation.form.communication' %></label></td>
					<td><%=h @staff_appraisal.e1g3q3 %></td>
					<td class="pagenote"><%= t 'evaluation.form.communication_desc' %><BR/><BR/></td>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide" rowspan=2><label for="eval1_effective">Total</label></td>
					<td colspan=2><%=h @staff_appraisal.e1g2_total %><label> x 25 = <%=h @staff_appraisal.e1g2_percent %>%</label></td>
				</tr>
				<tr valign=bottom>
					<td>&nbsp; <%= (@staff_appraisal.g2_questions)*10 %></td>
					<td class="pagenote"><BR/><BR/><BR/><BR/></td>
				</tr>
	
	
	
				<tr>
					<th><%= t 'evaluation.form.title_part5' %></th>
					<th>PPP</th>
					<th></th>
				</tr>
		
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_manage"><%= t 'evaluation.form.management' %></label></td>
					<td><%=h @staff_appraisal.e1g3q1 %></td>
					<td class="pagenote"><%= t 'evaluation.form.management_desc' %></td>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_discipline"><%= t 'evaluation.form.discipline' %></label></td>
					<td><%=h @staff_appraisal.e1g3q2 %></td>
					<td class="pagenote"><%= t 'evaluation.form.discipline_desc' %></td>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_proactive"><%= t 'evaluation.form.proactive' %></label></td>
					<td><%=h @staff_appraisal.e1g3q3 %></td>
					<td class="pagenote"><%= t 'evaluation.form.proactive_desc' %></td>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_relate"><%= t 'evaluation.form.relate' %></label></td>
					<td><%=h @staff_appraisal.e1g3q4 %></td>
					<td class="pagenote"><%= t 'evaluation.form.relate_desc' %><BR/><BR/><BR/><BR/></td>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide" rowspan=2><label for="eval1_effective">Total</label></td>
					<td colspan=2><%=h @staff_appraisal.e1g3_total %><label> x 25 = <%=@staff_appraisal.e1g2_percent %>%</label></td>
				</tr>
				<tr valign=bottom>
					<td>&nbsp; <%= (@staff_appraisal.g3_questions)*10 %></td>
					<td class="pagenote"><BR/><BR/><BR/><BR/></td>
				</tr>


				<tr>
					<th><%= t 'evaluation.form.title_part6' %></th>
					<th>PPP</th>
					<th></th>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_part_ii"><%= t 'evaluation.form.parttwo' %></label></td>
					<td><%= f.text_field :e1g4, :class => "score", :size => 5, :placeholder => 0  %></td>
					<td class="pagenote"><%= t 'evaluation.form.parttwo_desc' %><BR/><BR/><BR/><BR/></td>
				</tr>
	
	
				<tr>
					<th>Totals</th>
					<th>PPP</th>
					<th></th>
				</tr>

	
				<tr  valign=bottom>
					<td class="leftcolwide">Totals</td>
					<td><%= f.text_field :e1_total, :size => 5, :readonly => true %></td>
					<td class="pagenote">Percent [Part II 50% and Part III 50%]<BR/><BR/><BR/><BR/></td>
				</tr>

			</table>




			<!--Part VIII-->
			<H2><%= t 'evaluation.form.title_part8' %></H2>
			<table width=90%>

				<tr  valign=bottom>
					<td class="leftcolwide"><label for="pppyears"><%= t 'evaluation.form.part8_desc' %></label></td>
					<td></label><%= f.select :e1_years, 0..21  %> &nbsp; <label><%= t 'years_label' %></label>  &nbsp;&nbsp; &nbsp; &nbsp;
											<%= f.select :e1_months, 0..11 %> &nbsp; <label><%= t 'months_label' %><BR/><BR/></td>
					<td></td>
				</tr>

				<tr>
					<td colspan=3><label for="pppoverall"><b><%= t 'evaluation.form.part8i_desc' %></b></label></td>
				</tr>
	
				<tr>
					<td class="leftcolwide"><label for="pppoverall"><%= t 'evaluation.form.part8i' %></label></td>
					<td colspan=2><%= f.text_area :e1_performance, :size => '50x5' %></td>
				</tr>

				<tr>
					<td class="leftcolwide"><label for="pppadvancemet"><%= t 'evaluation.form.part8ii' %></label></td>
					<td colspan=2><%= f.text_area :e1_progress, :size => '50x5' %></td>
				</tr>
	
				<tr>
					<td colspan=3><%= t 'evaluation.form.ppp_statement' %></td>
				<tr>

				<tr>
					<td class="leftcolwide"><label for="ppp_id"><%= t 'evaluation.form.pppid' %></label></td>
					<td><%= @staff_appraisal.eval1_officer.name %></td>
					<td></td>
				</tr>
			<table>
	</table></tr></tr>