<fieldset>
	<legend><%= t 'evaluation.form.title_part1' %></legend>
		<table width=100% >
			<tr>
				<td class="leftcol"><%= t 'evaluation.form.name' %></td>
		    <td><%=h @staff_appraisal.appraised.mykad_with_staff_name %> - (<%=h @staff_appraisal.appraised.staffgrade.name %>)</td>
			</tr>
			
			<tr>
				<td class="leftcol"><%= t 'positions.name' %></td>
		    <td><%=h @staff_appraisal.appraised.position.name %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><%= t 'evaluation.form.evaluationdate' %></td>
			  <td><%=h (@staff_appraisal.evaluation_year).year %></td>
			</tr>
			<% if @staff_appraisal.is_skt_submit == true %>
			<tr>
				<td class="leftcol">Submitted for Endorsement on</td>
			  <td><%=h l(@staff_appraisal.skt_submit_on) %></td>
			</tr>
			<% end -%>
			<% if @staff_appraisal.is_skt_endorsed == true %>
			<tr>
				<td class="leftcol">Endorsement on</td>
			  <td><%=h l(@staff_appraisal.skt_submit_on) %> by <%=h @staff_appraisal.eval1_officer.name %></td>
			</tr>
			<% end -%>
		</table>
</fieldset>