<fieldset>
	<legend class='togvis'><%= t 'evaluation.skt.title' %></legend>
		<table width=85% >
					<tr>
						<th>S/N</th>
						<th><%= t 'evaluation.skt.description' %></th>
						<th><%= t 'evaluation.skt.performance' %></th>
					</tr>
					<% just_a_counter = 0 %>
					<%# for staff_appraisal_skt in @staff_appraisal.staff_appraisal_skts.find(:all, :conditions => ['half IS ?', nil], :order => :priority) %>	<% for staff_appraisal_skt in @staff_appraisal.staff_appraisal_skts.find(:all, :conditions => ['half =?', 1], :order => :priority) %>
					<% just_a_counter += 1 %>
					<% if staff_appraisal_skt.is_dropped == true %>
						<% format = 'style="text-decoration: line-through;"' %>
					<% else format = "" %>
					<% end %>
					<tr>
						<td <%= format %>><%= just_a_counter %></td>
						<td <%= format %>><%= staff_appraisal_skt.description %></td>
						<td <%= format %>><%= staff_appraisal_skt.indicator %></td>
					</tr>
					<% end -%>
		</table>
</fieldset>

<% if @staff_appraisal.is_skt_submit == true && @staff_appraisal.is_skt_endorsed == true %>
<fieldset>
	<legend class='togvis'><%= t 'evaluation.skt_review.title' %></legend>
		<p><i><%= t 'evaluation.skt_review.add' %></i></p>
		<table width=85% >
					<tr>
						<th>S/N</th>
						<th><%= t 'evaluation.skt.description' %></th>
						<th><%= t 'evaluation.skt.performance' %></th>
					</tr>
					<% just_a_counter = 0 %>
					<% for staff_appraisal_skt in @staff_appraisal.staff_appraisal_skts.find(:all, :conditions => ['half = ?', 2], :order => :priority) %>
					<% just_a_counter += 1 %>
					<tr>
						<td><%= just_a_counter %></td>
						<td><%= staff_appraisal_skt.description %></td>
						<td><%= staff_appraisal_skt.indicator %></td>
					</tr>
					<% end -%>
		</table>
		
		<p><i><%= t 'evaluation.skt_review.drop' %></i></p>
		<table width=85% >
					<tr>
						<th>S/N</th>
						<th><%= t 'evaluation.skt.description' %></th>
						<th><%= t 'evaluation.skt.performance' %></th>
					</tr>
					<% just_a_counter = 0 %>
					<% for staff_appraisal_skt in @staff_appraisal.staff_appraisal_skts.find(:all, :conditions => ['is_dropped = ?', true], :order => :priority) %>
					<% just_a_counter += 1 %>
					<tr>
						<td><%= just_a_counter %></td>
						<td><%= staff_appraisal_skt.description %></td>
						<td><%= staff_appraisal_skt.indicator %></td>
					</tr>
					<% end -%>
		</table>
</fieldset>

<fieldset>
	<legend class='togvis'><%= t 'evaluation.skt_review.title3' %></legend>
		<table width=85% >
			<tr>
				<td class="leftcol"><%= t 'evaluation.skt_review.pyd_report' %></td>
				<td><%=h @staff_appraisal.skt_pyd_report %></td>
			</tr>
			
			<tr>
				<td class="leftcol">Sent to PPP for Report</td>
				<td><%=h @staff_appraisal.is_skt_pyd_report_done? ? "Yes, on " + l(@staff_appraisal.skt_pyd_report_on) : "No" %></td>
			</tr>
			
			<% if @staff_appraisal.is_skt_ppp_report_done ==  true %>
			<tr>
				<td class="leftcol"><%= t 'evaluation.skt_review.ppp_report' %></td>
				<td><%=h @staff_appraisal.skt_ppp_report %></td>
			</tr>
			
			<tr>
				<td class="leftcol">PPP Completed Report</td>
				<td><%=h @staff_appraisal.is_skt_ppp_report_done? ? "Yes, on " + l(@staff_appraisal.skt_ppp_report_on)   : "No" %></td>
			</tr>
			<% end %>	
		</table>
</fieldset>
<% end %>








