<fieldset>
	<legend class='togvis'>Scoring</legend>

			<table width=95% cellpadding=15px>
				<tr>
					<th><%= t 'evaluation.form.title_part3' %></th>
					<th>PPP</th>
					<th style='display: "#{show_ppk_in_show}";'>PPK</th>
					<th width=35%>Description</th>
				</tr>
		
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_quantity"><%= t 'evaluation.form.quantity' %></label></td>
					<td><%=h @staff_appraisal.e1g1q1 %></td>
					<td style='display: "#{show_ppk_in_show}";'><%=h @staff_appraisal.e2g1q1 %></td>
					<td class="pagenote"><%= t 'evaluation.form.quantity_desc' %>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide" rowspan=2><label for="eval1_quality"><%= t 'evaluation.form.quality' %></label></td>
					<td><%=h @staff_appraisal.e1g1q2 %></td>
					<td style='display: "#{show_ppk_in_show}";'><%=h @staff_appraisal.e2g1q2 %></td>
					<td class="pagenote"><%= t 'evaluation.form.quanlity_desc1' %></td>
				</tr>
	
				<tr valign=bottom>
					<td><%=h @staff_appraisal.e1g1q3 %></td>
					<td style='display: "#{show_ppk_in_show}";'><%=h @staff_appraisal.e2g1q3 %></td>
					<td class="pagenote"><%= t 'evaluation.form.quanlity_desc2' %></td>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_time"><%= t 'evaluation.form.ontime' %></label></td>
					<td><%=h @staff_appraisal.e1g1q4 %></td>
					<td style='display: "#{show_ppk_in_show}";'><%=h @staff_appraisal.e2g1q4 %></td>
					<td class="pagenote"><%= t 'evaluation.form.ontime_desc' %>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_effective"><%= t 'evaluation.form.effective' %></label></td>
					<td><%=h @staff_appraisal.e1g1q5 %></td>
					<td style='display: "#{show_ppk_in_show}";'><%=h @staff_appraisal.e2g1q5 %></td>
					<td class="pagenote"><%= t 'evaluation.form.effective_desc' %></td>
				</tr>
				
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_effective">Total</label></td>
					<td><%=h @staff_appraisal.e1g1_total %><label> &divide; 
							<%= (@staff_appraisal.g1_questions)*10 %> x 25 = 
							<%=h @staff_appraisal.e1g1_percent %>%</label></td>
					<td style='display: "#{show_ppk_in_show}";'>
							<%=h @staff_appraisal.e2g1_total %><label> &divide; 
							<%= (@staff_appraisal.g1_questions)*10 %> x 25 = 
							<%=h @staff_appraisal.e2g1_percent %>%</label><BR/><BR/></td>	
				</tr>


	
	

				<tr>
					<th><%= t 'evaluation.form.title_part4' %></th>
					<th>PPP</th>
					<th style='display: "#{show_ppk_in_show}";'>PPK</th>
					<th></th>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_knowledge"><%= t 'evaluation.form.knowledge' %></label></td>
					<td><%=h @staff_appraisal.e1g2q1 %></td>
					<td style='display: "#{show_ppk_in_show}";'><%=h @staff_appraisal.e2g2q1 %></td>
					<td class="pagenote"><%= t 'evaluation.form.knowledge_desc' %></td>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_rule"><%= t 'evaluation.form.rules' %></label></td>
					<td><%=h @staff_appraisal.e1g2q2 %></td>
					<td style='display: "#{show_ppk_in_show}";'><%=h @staff_appraisal.e2g2q2 %></td>
					<td class="pagenote"><%= t 'evaluation.form.rules_desc' %></td>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_communicate"><%= t 'evaluation.form.communication' %></label></td>
					<td><%=h @staff_appraisal.e1g2q3 %></td>
					<td style='display: "#{show_ppk_in_show}";'><%=h @staff_appraisal.e2g2q3 %></td>
					<td class="pagenote"><%= t 'evaluation.form.communication_desc' %></td>
				</tr>
				
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_effective">Total</label></td>
					<td><%=h @staff_appraisal.e1g2_total %><label> &divide; 
							<%= (@staff_appraisal.g2_questions)*10 %> x 25 = 
							<%=h @staff_appraisal.e1g2_percent %>%</label></td>
					<td style='display: "#{show_ppk_in_show}";'>
							<%=h @staff_appraisal.e2g2_total %><label> &divide; 
							<%= (@staff_appraisal.g2_questions)*10 %> x 25 = 
							<%=h @staff_appraisal.e2g2_percent %>%</label><BR/><BR/></td>	
				</tr>

	
	
	
				<tr>
					<th><%= t 'evaluation.form.title_part5' %></th>
					<th>PPP</th>
					<th style='display: "#{show_ppk_in_show}";'>PPK</th>
					<th></th>
				</tr>
		
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_manage"><%= t 'evaluation.form.management' %></label></td>
					<td><%=h @staff_appraisal.e1g3q1 %></td>
					<td style='display: "#{show_ppk_in_show}";'><%=h @staff_appraisal.e2g3q1 %></td>
					<td class="pagenote"><%= t 'evaluation.form.management_desc' %></td>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_discipline"><%= t 'evaluation.form.discipline' %></label></td>
					<td><%=h @staff_appraisal.e1g3q2 %></td>
					<td style='display: "#{show_ppk_in_show}";'><%=h @staff_appraisal.e2g3q2 %></td>
					<td class="pagenote"><%= t 'evaluation.form.discipline_desc' %></td>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_proactive"><%= t 'evaluation.form.proactive' %></label></td>
					<td><%=h @staff_appraisal.e1g3q3 %></td>
					<td style='display: "#{show_ppk_in_show}";'><%=h @staff_appraisal.e2g3q3 %></td>
					<td class="pagenote"><%= t 'evaluation.form.proactive_desc' %></td>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_relate"><%= t 'evaluation.form.relate' %></label></td>
					<td><%=h @staff_appraisal.e1g3q4 %></td>
					<td style='display: "#{show_ppk_in_show}";'><%=h @staff_appraisal.e2g3q4 %></td>
					<td class="pagenote"><%= t 'evaluation.form.relate_desc' %></td>
				</tr>
	
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_effective">Total</label></td>
					<td><%=h @staff_appraisal.e1g3_total %><label> &divide; 
							<%= (@staff_appraisal.g3_questions)*10 %> x 25 = 
							<%=h @staff_appraisal.e1g3_percent %>%</label></td>
					<td style='display: "#{show_ppk_in_show}";'>
							<%=h @staff_appraisal.e2g3_total %><label> &divide; 
							<%= (@staff_appraisal.g3_questions)*10 %> x 25 = 
							<%=h @staff_appraisal.e2g3_percent %>% <BR/><BR/></label></td>	
				</tr>
				


				<tr>
					<th><%= t 'evaluation.form.title_part6' %></th>
					<th>PPP</th>
					<th style='display: "#{show_ppk_in_show}";'>PPK</th>
					<th></th>
				</tr>
				
				<tr valign=bottom>
					<td class="leftcolwide"><label for="eval1_effective"><%= t 'evaluation.form.parttwo' %></label></td>
					<td><%=h @staff_appraisal.e1g4 %><label> &divide; 10 x 5 = 
							<%=h @staff_appraisal.e1g4_percent %>%</label></td>
					<td style='display: "#{show_ppk_in_show}";'>
							<%=h @staff_appraisal.e2g4 %><label> &divide; 10 x 5 = 
							<%=h @staff_appraisal.e2g4_percent %>% <BR/><BR/></label></td>	
				</tr>

	
	
				<tr>
					<th>Totals</th>
					<th>PPP</th>
					<th style='display: "#{show_ppk_in_show}";'>PPK</th>
					<th></th>
				</tr>

	
				<tr  valign=bottom>
					<td class="leftcolwide">Totals</td>
					<td><%=@staff_appraisal.e1_total %>%</td>
					<td style='display: "#{show_ppk_in_show}";'><%=h @staff_appraisal.e2_total %>%</td>
					<td class="pagenote">Percent [Part II 50% and Part III 50%]<BR/><BR/><BR/><BR/></td>
				</tr>

			</table>
</fieldset>