<H2><%= t 'evaluation.skt.title' %></H2>
<table width=90%>
	<tr>
		<td width=10%>Priority</td>
		<td width=40%><%= t 'evaluation.skt.description' %></td>
		<td width=40%><%= t 'evaluation.skt.performance' %></td>
		<td width=10%></td>
	</tr>
</table>
	<% f.fields_for :staff_appraisal_skts do |builder| %>
	  <%= render 'staff_appraisal_skt_fields', :f => builder %>
	<% end %>

	<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Log'), f, :staff_appraisal_skts %> - <%= "Add Log" %></p>

	<table  width=100%>
		<tr>
		  <td class="leftcol"><label for="is_skt_submit">Submit for evaluation</label></td>
			<td><%= f.check_box :is_skt_submit, :id => 'is_skt_submit' %>
					<SPAN id="span_skt_submit" style="display: none;">
					<%= f.date_select :skt_submit_on, :order => [:day, :month, :year], :default => Date.today %></SPAN></td>
			<td class="pagenote">Clicking on submit notifies your Evaluating Officer (PPP) and disables your editing this record further</td>
		</tr>
	</table>
	
	<% if User.current_user.staff.position.is_root? == true %>
		<%= f.hidden_field :eval1_by, :value => User.current_user.staff.position.staff_id %>
	<% else %>
		<%= f.hidden_field :eval1_by, :value => User.current_user.staff.position.parent.staff_id %>
	<% end %>
	
	
	
	<script type="text/javascript">
		$j(document).ready(function(){
				//show submit date
				$j("input[id='is_skt_submit']").change(function() {  
				 if($j('#is_skt_submit').is(':checked')) { 
				    $j("#span_skt_submit").show("highlight"); 
				 }else		{
				    $j("#span_skt_submit").hide(""); 
				 }	
				});

				$j("input[id='is_skt_submit']").each(function() {  
				 if($j('#is_skt_submit').is(':checked')) { 
				    $j("#span_skt_submit").show("highlight"); 
				 }else		{
				    $j("#span_skt_submit").hide(""); 
				 }	
				});
		});
	</script>