<H2><%= t 'evaluation.skt_review.title' %></H2>
<p><i><%= t 'evaluation.skt_review.drop' %></i></p>
<table width=90%>
	<tr>
		<th width=10%>Priority</th>
		<th width=40%><%= t 'evaluation.skt.description' %></th>
		<th width=40%><%= t 'evaluation.skt.performance' %></th>
		<th width=10%>Drop</th>
	</tr>	
	<% f.fields_for :staff_appraisal_skts do |builder| %>
	<% if builder.object.description.blank? != true && builder.object.half == 1 %>
	<tr>
		<td><%= builder.object.priority %></td>
		<td><%= builder.object.description %></td>
		<td><%= builder.object.indicator %></td>
		<td><%= builder.check_box :is_dropped %> <%= builder.hidden_field :dropped_on, :default => Date.today %></td>
	</tr>
	<% end %><% end %>
	</table>
	<p><i><%= t 'evaluation.skt_review.add' %></i></p>
	<table width=90%>
		<tr>
			<th width=10%>Priority</th>
			<th width=40%><%= t 'evaluation.skt.description' %></th>
			<th width=40%><%= t 'evaluation.skt.performance' %></th>
			<th width=10%></th>
		</tr>
	</table>
<!--additional skts-->
	<% f.fields_for :staff_appraisal_skts do |builder| %>
	<% if builder.object.description.blank? != true && builder.object.half == 2 %>
		<%= render 'staff_appraisal_skt_fields', :f => builder %>
	<% end %>
	<% end %>
<!---->
	
	<% f.fields_for :staff_appraisal_skts do |builder| %>
	  <% if builder.object.description.blank? == true %>
	  	<%= render ':staff_appraisal_skt_fields', :f => builder %>
			<%#= f.hidden_field :half, :value => 2 %><%#else%><!--ooop--><%#= builder.object.half %>
		<% end %>
	<% end %>
	
	<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Log'), f, :staff_appraisal_skts %> - <%= "Add Log" %></p>
	<BR/>
	
<H2><%= t 'evaluation.skt_review.title3' %></H2>
<table width=100%>
	<tr>
		<td class="leftcol"><%= t 'evaluation.skt_review.pyd_report' %></td>
		<td><%= f.text_area :skt_pyd_report, :size => '70x6' %></td>
		<td>
	</tr>
	
	<tr>
	  <td class="leftcol"><label for="is_skt_submit">Submit to PPP for report</label></td>
		<td><%= f.check_box :is_skt_pyd_report_done, :id => 'is_skt_pyd_report_done' %>
				<SPAN id="span_skt_pyd_report_on" style="display: none;">
				<%= f.date_select :skt_pyd_report_on, :order => [:day, :month, :year], :default => Date.today %></SPAN></td>
		<td class="pagenote">Clicking on submit notifies your Evaluating Officer (PPP) and disables your editing this record further</td>
	</tr>
	
</table>

	
	<script type="text/javascript">
		$j(document).ready(function(){
				//show submit date
				$j("input[id='is_skt_pyd_report_done']").change(function() {  
				 if($j('#is_skt_pyd_report_done').is(':checked')) { 
				    $j("#span_skt_pyd_report_on").show("highlight"); 
				 }else		{
				    $j("#span_skt_pyd_report_on").hide(""); 
				 }	
				});

				$j("input[id='is_skt_pyd_report_done']").each(function() {  
				 if($j('#is_skt_pyd_report_done').is(':checked')) { 
				    $j("#span_skt_pyd_report_on").show("highlight"); 
				 }else		{
				    $j("#span_skt_pyd_report_on").hide(""); 
				 }	
				});
		});
	</script>

