<div class="fields">
	
	<table>
		<tr>
			<td width=10%> <%= f.select :priority, 1..5  %></td>
			<td width=40%> <%= f.text_field :description, :size => 50 %></td>
			<td width=40%> <%= f.text_field :indicator, :size => 50 %></td><%= f.hidden_field :_destroy %>
			<td align="right" width=10%><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>   </td>
		</tr>
	</table>
</div>