<%= stylesheet_link_tag 'appr' %>
<%= stylesheet_link_tag 'appr', :media => :print %>
<div class='A4potrait_<%= "#{@staff_appraisal.person_type}" %>'>
	
	

		<br /><br />
		<div> <!-- top bit -->
				<div class="bahagian">SULIT</div> 
				<div class="bahagianright"><font size="2px">BORANG J.P.A. (Prestasi) <%= "#{@staff_appraisal.person_type}" %>/2002</font></div><br />
				<div class="nokp"> No. K.P.<label for="textfield"></label>
						<input name="textfield" type="text" id="textfield" size="25" value="<%=h @staff_appraisal.appraised.formatted_mykad %>"  >
				</div><br /><br />

				<div>
					<center><img src="/images/jatanegara.png" width="128" height="99" /></center><br />
					<center><b>KERAJAAN MALAYSIA<br /><br /><br />
					LAPORAN PENILAIAN PRESTASI<br />
					PEGAWAI KUMPULAN <%=h @staff_appraisal.person_type_description %><br /><br />
					Tahun <%=h (@staff_appraisal.evaluation_year).year %></b></center><br />
				</div>
		</div>


		<center>
		<div class="whitetable">
			<center><b>PERINGATAN</b></center><br />

			<p align="justify">Pegawai Penilai (PP) iaitu Pegawai Penilai Pertama (PPP) dan Pegawai Penilai Kedua (PPK) serta Pegawai Yang Dinilai (PYD) hendaklah memberi perhatian kepada perkara-perkara berikut sebelum dan semasa membuat penilaian:</p>

			<ol>
				<li><p align="justify">PYD hendaklah melengkapkan maklumat di <b>Bahagian I</b> di bawah dan <b>Bahagian I</b> dalam borang <b>Sasaran Kerja Tahunan (SKT)</b> seperti di <b>Lampiran 'A'</b> pada awal tahun;</p></li>
				<li><p align="justify">PYD hendaklah melengkapkan <b>Bahagian II</b> manakala PP hendaklah melengkapkan <b>Bahagian III</b> hingga <b>Bahagian IX</b> pada akhir tahun penilaian;</p></li>
				<li><p align="justify">PYD dan PP hendaklah merujuk Panduan Pelaksanaan Sistem Penilaian Prestasi Anggota Perkhidmatan Awam Malaysia (Tahun 2002) sekiranya memerlukan keterangan lanjut semasa mengisi Borang Laporan Penilaian Prestasi Tahunan (LNPT) dan membuat penilaian;</p></li>
				<li><p align="justify">PP hendaklah menggunakan Skala Penilaian Prestasi seperti di Lampiran 'B'; dan</p></li>
				<li><p align="justify">PP hendaklah memaklumkan kepada PYD langkah-langkah meningkatkan prestasi/kemajuan kerjaya yang perlu dilakukan sebelum menandatangani di ruangan <b>Bahagian VIII</b>.</p></li>
			</ol>
		</div>
		</center>

			<br /><br />
		<div class="bahagian">BAHAGIAN I - MAKLUMAT PEGAWAI<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>(Diisi oleh PYD)</i>
		</div>

		<div class="whitetable">
			<ol>
				<li class="dotbox">Nama : ... <%=h @staff_appraisal.appraised.name %> ....................................................................................................................................</li>
				<li class="dotbox">Jawatan dan Gred : ... <%=h @staff_appraisal.appraised.position.positionname %>........................................................................................................</li>
				<li class="dotbox">Kementerian/Jabatan : ............................................................................................................ </li>
				.................................................................................................................................................
			</ol>
		</div>
		<div class="page_number">1</div>
</div>

<P CLASS="breakhere">
	
<div class='A4potrait_<%= "#{@staff_appraisal.person_type}" %>'>

		<div class="bahagian">
			<H4>BAHAGIAN II - KEGIATAN DAN SUMBANGAN DI LUAR TUGAS RASMI/LATIHAN</H4>
			<H5><i>(Diisi oleh PYD)</i></H5>
			<BR/><BR/>
			<H4>1.&nbsp;&nbsp;KEGIATAN DAN SUMBANGAN DI LUAR TUGAS RASMI</H4>
			<P>Senaraikan kegiatan dan sumbangan di luar tugas rasmi seperti sukan/pertubuhan/sumbangan kreatif di peringkat 
				 Komuniti/Jabatan/Daerah/Negeri/Negara/Antarabangsa yang berfaedah kepada Organisasi/Komuniti/Negara pada tahun yang dinilai.</P><BR/>

		  <table class="centre">
		    <tr>
		      <th>Senarai kegiatan/aktiviti/sumbangan</th>
		      <th>Peringkat kegiatan/aktiviti/sumbangan<br />(nyatakan jawatan atau pencapaian)</th>
		    </tr>
			<% if @staff_appraisal.evactivities.count == 0 %>
					<tr><td width="303" height="57">-</td><td width="309">-</td></tr>
			<% else %>
				<% for evactivity in @staff_appraisal.evactivities %>
		    <tr>
		      <td width="303" height="40"><%= evactivity.evactivity %></td>
		      <td width="309" ><p align="center"><%= (Evactivity::EVACT.find_all{|disp, value| value == evactivity.actlevel}).map {|disp, value| disp} %></p>
		      <div align="justify"> </div></td>
		    </tr>
		    <% end -%>
		  <% end %>
		  </table><br /><br />


			<H4>2.&nbsp;&nbsp;LATIHAN</H4>
			<ol><li>Senaraikan program latihan (seminar, kursus, bengkel dan lain-lain) yang dihadiri dalam tahun yang dinilai.</li></ol>
			<table class="centre">
		    <tr>
		      <th height="48">Nama Latihan<br />(Nyatakan sijil jika ada)</th>
		      <th>Tarikh/Tempoh</th>
		      <th>Tempat</th>
		    </tr>

			<% if Ptdo.find(:all, :conditions => ['staff_id = ?', @staff_appraisal.staff_id]).count == 0 %>	
				<tr>
					      <td width="259" height="50">-</td>
					      <td width="161">-</td>
					      <td width="217">-</td>
				</tr>
			<% else %>	
				<% for ptdo in Ptdo.find(:all, :conditions => ['staff_id = ?', @staff_appraisal.staff_id]) %>
		    <tr>
		      <td width="259" height="50"><%= ptdo.ptschedule.ptcourse.name %></td>
		      <td width="161"><%= l(ptdo.ptschedule.start) %></td>
		      <td width="217"><%= ptdo.ptschedule.location %></td>
		    </tr>
				<% end -%>
			<% end %>	
		  </table><br />

			<ol start="2">
				<li>Senaraikan latihan yang diperlukan.</li>
			</ol>	
			<table class="centre">
		    <tr>
		      <th>Nama/Bidang Latihan</td>
		      <th>Sebab Diperlukan</td>
		    </tr>
			<% if @staff_appraisal.trainneeds.count == 0 %>
				<tr>
			      <td width="306" height="97">-</td>
			      <td width="343">-</td>
			    </tr>
			<% else %>
		    <% for trainneed in @staff_appraisal.trainneeds %>
			  <tr>
			      <td width="306" height="40"><%= trainneed.name %></td>
			      <td width="343"><%= trainneed.reason %></td>
			  </tr>
				<% end -%>
			<% end %>
		  </table><BR/>

			<P>Saya mengesahkan bahawa semua kenyataan di atas adalah benar.</P>

			<table class="signature">
				<tr>
					<th><%=h @staff_appraisal.appraised.name %></th>
					<td></td>
					<th><%= l(@staff_appraisal.submit_for_evaluation_on) %></th>
				</tr>
				<tr>
					<td>Tandatangan PYD</td>
					<td></td>
					<td>Tarikh</td>
				</tr>
			</table>
		</div>
		<div class="page_number">2</div>	
</div>

		



	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
<div>
	
	<% if @staff_appraisal.person_type == "green" %>
		<%= render :partial => 'prestasi_green' %>
	<% elsif @staff_appraisal.person_type == "yellow" %>
		<%= render :partial => 'prestasi_yellow' %>
	<% elsif @staff_appraisal.person_type == "pink" %>
		<%= render :partial => 'prestasi_pink' %>
	<% end %>

</div>

