<%= stylesheet_link_tag 'appr' %>
<%= stylesheet_link_tag 'appr', :media => :print %>
<% page_number = 0 %>
<div class='A4potrait_<%= "#{@staff_appraisal.person_type}" %>'>
		<br /><br />
		<div> <!-- top bit -->
				<div class="bahagian">SULIT
					<div class="bahagianright"><font size="2px">BORANG J.P.A. (Prestasi) <%= "#{@staff_appraisal.person_type}" %>/2002</font><br />
							<div class="nokp"> No. K.P.<label for="textfield"></label>
							<input name="textfield" type="text" id="textfield" size="25" value="<%=h @staff_appraisal.appraised.formatted_mykad %>"  ></div>
	  				</div>
					</div><br />
				

				<div>
					<center><img src="/images/jatanegara.png" width="128" height="99" /></center><br />
					<center><b>KERAJAAN MALAYSIA<br /><br /><br />
					LAPORAN PENILAIAN PRESTASI<br />
					PEGAWAI KUMPULAN <%=h @staff_appraisal.person_type_description %><br /><br />
					Tahun <%=h (@staff_appraisal.evaluation_year).year %></b></center><br />
				</div>
		</div>


		<center>
		<div class="whitetable">
			<center><b>PERINGATAN</b></center><br />

			<p align="justify"><%= t 'evaluation.jpa.common.peringatan_text' %></p>

			<ol>
				<li><p align="justify"><%= t 'evaluation.jpa.common.peringatan_1' %></p></li>
				<li><p align="justify"><%= t 'evaluation.jpa.common.peringatan_2' %></p></li>
				<li><p align="justify"><%= t 'evaluation.jpa.common.peringatan_3' %></p></li>
				<li><p align="justify"><%= t 'evaluation.jpa.common.peringatan_4' %></p></li>
				<li><p align="justify"><%= t 'evaluation.jpa.common.peringatan_5' %></p></li>
			</ol>
		</div>
		</center>

			<br /><br />
		<div class="bahagian">
			<H4>BAHAGIAN I - MAKLUMAT PEGAWAI</H4>
			<H5>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <i>(Diisi oleh PYD)</i></H5>
		</div>

		<div class="whitetable">
			<ol>
				<li class="dotbox">Nama : ... <%=h @staff_appraisal.appraised.name %> ....................................................................................................................................</li>
				<li class="dotbox">Jawatan dan Gred : ... <%=h @staff_appraisal.appraised.position.name %>..(<%=h @staff_appraisal.appraised.staffgrade.name %>)...................................................................................................</li>
				<li class="dotbox">Kementerian/Jabatan : ............................................................................................................ </li>
				.................................................................................................................................................
			</ol>
		</div>
		<div class="page_number"><% page_number += 1 %><%= page_number %></div>
</div>

<P CLASS="breakhere">
<div class='A4potrait_<%= "#{@staff_appraisal.person_type}" %>'><br />
		
		<div class="bahagian">
			<H4>BAHAGIAN II - KEGIATAN DAN SUMBANGAN DI LUAR TUGAS RASMI/LATIHAN</H4>
			<H5><i>(Diisi oleh PYD)</i></H5>
			<BR/>
			<H4>1.&nbsp;&nbsp;KEGIATAN DAN SUMBANGAN DI LUAR TUGAS RASMI</H4>
			<P>Senaraikan kegiatan dan sumbangan di luar tugas rasmi seperti sukan/pertubuhan/sumbangan kreatif di peringkat 
				 Komuniti/Jabatan/Daerah/Negeri/Negara/Antarabangsa yang berfaedah kepada Organisasi/Komuniti/Negara pada tahun yang dinilai.</P>

		  <table class="centre">
		    <tr>
		      <th>Senarai kegiatan/aktiviti/sumbangan</th>
		      <th>Peringkat kegiatan/aktiviti/sumbangan<br />(nyatakan jawatan atau pencapaian)</th>
		    </tr>
			<% if @staff_appraisal.evactivities.count == 0 %>
					<tr><td width="303" height="57">-</td><td width="309">-</td></tr>
			<% else %>
				<% for evactivity in @staff_appraisal.evactivities %>
		    <tr>
		      <td width="303" height="40"><%= evactivity.evactivity %></td>
		      <td width="309" ><p align="center"><%= (Evactivity::EVACT.find_all{|disp, value| value == evactivity.actlevel}).map {|disp, value| disp} %></p>
		      <div align="justify"> </div></td>
		    </tr>
		    <% end -%>
		  <% end %>
		  </table><br /><br />


			<H4>2.&nbsp;&nbsp;LATIHAN</H4>
			<ol><li>Senaraikan program latihan (seminar, kursus, bengkel dan lain-lain) yang dihadiri dalam tahun yang dinilai.</li></ol>
			<table class="centre">
		    <tr>
		      <th height="48">Nama Latihan<br />(Nyatakan sijil jika ada)</th>
		      <th>Tarikh/Tempoh</th>
		      <th>Tempat</th>
		    </tr>

			<% if Ptdo.find(:all, :conditions => ['staff_id = ?', @staff_appraisal.staff_id]).count == 0 %>	
				<tr>
					      <td width="259" height="50">-</td>
					      <td width="161">-</td>
					      <td width="217">-</td>
				</tr>
			<% else %>	
				<% for ptdo in Ptdo.find(:all, :conditions => ['staff_id = ?', @staff_appraisal.staff_id]) %>
		    <tr>
		      <td width="259" height="50"><%= ptdo.ptschedule.ptcourse.name %></td>
		      <td width="161"><%= l(ptdo.ptschedule.start) %></td>
		      <td width="217"><%= ptdo.ptschedule.location %></td>
		    </tr>
				<% end -%>
			<% end %>	
		  </table><br />

			<ol start="2">
				<li>Senaraikan latihan yang diperlukan.</li>
			</ol>	
			<table class="centre">
		    <tr>
		      <th>Nama/Bidang Latihan</td>
		      <th>Sebab Diperlukan</td>
		    </tr>
			<% if @staff_appraisal.trainneeds.count == 0 %>
				<tr>
			      <td width="306" height="97">-</td>
			      <td width="343">-</td>
			    </tr>
			<% else %>
		    <% for trainneed in @staff_appraisal.trainneeds %>
			  <tr>
			      <td width="306" height="40"><%= trainneed.name %></td>
			      <td width="343"><%= trainneed.reason %></td>
			  </tr>
				<% end -%>
			<% end %>
		  </table><BR/>

			<P>Saya mengesahkan bahawa semua kenyataan di atas adalah benar.</P>

			<table class="signature">
				<tr>
					<th><%=h @staff_appraisal.appraised.name %></th>
					<td></td>
					<th><%= l(@staff_appraisal.submit_for_evaluation_on) %></th>
				</tr>
				<tr>
					<td>Tandatangan PYD</td>
					<td></td>
					<td>Tarikh</td>
				</tr>
			</table>
		</div>
		<div class="page_number"><% page_number += 1 %><%= page_number %></div>
</div>
<P CLASS="breakhere">

<!-- #################################################################################################### -->
<%=render :partial => 'prestasi'+ @staff_appraisal.person_type.to_s, :locals => {:page_number => page_number }%>
<!-- #################################################################################################### -->
<% page_number = 4 %>
<div class='A4potrait_<%= "#{@staff_appraisal.person_type}" %>'>
	<div class="bahagian">
		<BR/>
		
		<H4>BAHAGIAN VI - KEGIATAN DAN SUMBANGAN DI LUAR TUGAS RASMI ( Wajaran 5% )</H4>
		<H5>(Sukan/Pertubuhan/Sumbangan Kreatif)</H5>
		<P>	Berasaskan maklumat di Bahagian II perenggan 1, Pegawai Penilai dikehendaki memberi penilaian dengan menggunakan skala 1 
				hingga 10. TIada sebarang markah boleh diberikan (kosong) jika PYD tidak mencatat kegiatan atau sumbangannya.</P>
		
		
		<table class="centre">
	    <tr>
	      <td rowspan=2 style="font-family:Arial;">Peringkat Komuniti / Jabatan / Daerah / Negeri / Negara / Antarabangsa</td>
	      <th>PPP</th>
				<th>PPK</th>
	    </tr>
	    <tr>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e1g4 %></td>
	        			</tr>
	      			</table></td>
	      <td>
							<table class="box">
	        			<tr>
	          			<td><%=h @staff_appraisal.e2g4 %></td>
	        			</tr>
	      			</table></td>
			</tr>
			<tr>
	      <td class="left"><P><strong>Jumlah markah mengikut wajaran</strong></P></td>
	      <td class="calc"><u><%=h @staff_appraisal.e1g4 %></u> x 5 = <%=h pukka(@staff_appraisal.e1g4_percent) %><br />10</td>
	      <td class="calc"><u><%=h @staff_appraisal.e2g4 %></u> x 5 = <%=h pukka(@staff_appraisal.e2g4_percent) %><br />10</td>
	    </tr>
		</table><BR/>
		
		<H4>BAHAGIAN VII - JUMLAH MARKAH KESELURUHAN</H4>
		<P>	Pegawai Penilai dikehendaki mencatatkan jumlah markah keseluruhan yang diperolehi oleh PYD dalam bentuk peratus (%) 
				berdasarkan jumlah markah bagi setiap Bahagian yang diberi markah.</P>
				
				
		<table class="centre">
	    <tr>
	      <th>MARKAH KESELURUHAN</th>
	      <th>PPP (%)
								<table class="box">
		        			<tr>
		          			<td><%=h number_with_precision(@staff_appraisal.e1_total, :precision => 2) %></td>
		        			</tr>
		      			</table></th>
				<th>PPK	(%)
								<table class="box">
		        			<tr>
		          			<td><%=h number_with_precision(@staff_appraisal.e2_total,:precision => 2) %></td>
		        			</tr>
		      			</table></td></th>
				<th>MARKAH PURATA (%)<br /><span style="font-family:Arial;font-size:10px;font-weight:normal;">(untuk diisi oleh Urus Setia PPSM)</span>
								<table class="box">
		        			<tr>
		          			<td><%=h number_with_precision(@staff_appraisal.t1t2_average, :precision => 2) %></td>
		        			</tr>
		      			</table></th>
	    </tr>
		</table><BR/>
		
		
		<H4>BAHAGIAN VIII - ULASAN KESELURUHAN DAN PENGESAHAN OLEH PEGAWAI PENILAI PERTAMA </H4>
		<table class="signature">
			<tr>
				<td style="text-align:left;">1.&nbsp;&nbsp;Tempoh PYD bertugas di bawah pengawasan:</td>
				<td>Tahun</td>
				<td>
					<table class="box" style="margin-top: 12px; margin-bottom: 0px; margin-left: auto; margin-right: auto;">
      			<tr>
        			<td><%=h @staff_appraisal.e1_years %></td>
      			</tr>
    			</table></td>
				<td>Bulan</td>
				<td>
					<table class="box" style="margin-top: 12px; margin-bottom: 0px; margin-left: auto; margin-right: auto;">
      			<tr>
        			<td><%=h @staff_appraisal.e1_months %></td>
      			</tr>
    			</table></td>
			</tr>
			<tr>
				<td style="text-align:left;" colspan=4 >2.&nbsp;&nbsp;Penilai Pertama hendaklah memberi ulasan keseluruhan prestasi PYD.</td>
			</tr>
		</table>
		
		<table class="dottable">
			<tr>
				<td>(i) &nbsp;Prestasi keseluruhan</td>
			</tr>
			<tr>
				<td>
					<div class="high">...<%=h (@staff_appraisal.e1_performance) %>...........................................................................................................................................................................................................................................................................................................................................................................................................................................................</div></td>
			</tr>
			<tr>
				<td>(ii) &nbsp;Kemajuan kerjaya</td>
			</tr>
			<tr>
				<td>
					<div class="high">...<%=h (@staff_appraisal.e1_progress) %>...........................................................................................................................................................................................................................................................................................................................................................................................................................................................</div></td>
			</tr>
		</table>
  </div>
	<div class="page_number"><% page_number += 1 %><%= page_number %></div>
</div>

	
	
<P CLASS="breakhere">
<div class='A4potrait_<%= "#{@staff_appraisal.person_type}" %>'>
	<div class="bahagian">
		<BR/><br />
		<table class="signature">
			<tr>
				<td style="text-align:left;" colspan=2>3. &nbsp;Adalah disahkan bahawa prestasi pegawai ini telah dimaklumkan kepada PYD.</td>
			</tr>
		</table>
		<BR/>
		<table class="whiteline">
			<tr>
				<td width=30%>Nama PPP :</td>
				<td class="right"><%= @staff_appraisal.eval1_officer.name %></td>
			</tr>
			<tr>
				<td>Jawatan :</td>
				<td class="right"><%= @staff_appraisal.eval1_officer.position.name %></td>
			</tr>
			<tr>
				<td>Kementerian/Jabatan :</td>
				<td class="right"></td>
			</tr>
			<tr>
				<td>No. K.P. :</td>
				<td class="right"><%= @staff_appraisal.eval1_officer.formatted_mykad %></td>
			</tr>
		</table>
		<BR/>
		<table class="signature" style="margin-left">
			<tr>
				<th><%=h @staff_appraisal.eval1_officer.name %></th>
				<td></td>
				<th><%= l(@staff_appraisal.submit_e2_on) %></th>
			</tr>
			<tr>
				<td>Tandatangan PPP</td>
				<td></td>
				<td>Tarikh</td>
			</tr>
		</table><BR/><BR/>
		
		
		<H4>BAHAGIAN IX - ULASAN KESELURUHAN OLEH PEGAWAI PENILAI KEDUA</H4>
		<table class="signature">
			<tr>
				<td style="text-align:left;">1.&nbsp;&nbsp;Tempoh PYD bertugas di bawah pengawasan:</td>
				<td>Tahun</td>
				<td>
					<table class="box" style="margin-top: 12px; margin-bottom: 0px; margin-left: auto; margin-right: auto;">
      			<tr>
        			<td><%=h @staff_appraisal.e2_years %></td>
      			</tr>
    			</table></td>
				<td>Bulan</td>
				<td>
					<table class="box" style="margin-top: 12px; margin-bottom: 0px; margin-left: auto; margin-right: auto;">
      			<tr>
        			<td><%=h @staff_appraisal.e2_months %></td>
      			</tr>
    			</table></td>
			</tr>
			<tr>
				<td style="text-align:left;" colspan=4 >2.&nbsp;&nbsp;Penilai Pertama hendaklah memberi ulasan keseluruhan prestasi PYD.</td>
			</tr>
		</table>
		
		<table class="dottable">
			<tr>
				<td>
					<div class="high">...<%=h (@staff_appraisal.e2_performance) %>...........................................................................................................................................................................................................................................................................................................................................................................................................................................................</div></td>
			</tr>
		</table>
		
		<table class="whiteline">
			<tr>
				<td width=30%>Nama PPk :</td>
				<td class="right"><%= @staff_appraisal.eval2_officer.name %></td>
			</tr>
			<tr>
				<td>Jawatan :</td>
				<td class="right"><%= @staff_appraisal.eval2_officer.position.name %></td>
			</tr>
			<tr>
				<td>Kementerian/Jabatan :</td>
				<td class="right"></td>
			</tr>
			<tr>
				<td>No. K.P. :</td>
				<td class="right"><%= @staff_appraisal.eval2_officer.formatted_mykad %></td>
			</tr>
		</table>
		<BR/>
		<table class="signature" style="margin-left">
			<tr>
				<th><%=h @staff_appraisal.eval2_officer.name %></th>
				<td></td>
				<th><%= l(@staff_appraisal.is_completed_on) unless @staff_appraisal.is_completed_on.blank? %></th>
			</tr>
			<tr>
				<td>Tandatangan PPP</td>
				<td></td>
				<td>Tarikh</td>
			</tr>
		</table><BR/><BR/>
	</div>
	<div class="page_number"><% page_number += 1 %><%= page_number %></div>
</div>

<P CLASS="breakhere">
<div class='A4potrait_<%= "#{@staff_appraisal.person_type}" %>'><br /><br /><br />
	
		<div class="bahagian">
			<div class="bahagianright"><font size="2px">LAMPIRAN 'A'</font></div><br /><br /><br />
			<div><center><b>SASARAN KERJA TAHUNAN<br /></b></center></div>
		</div>


		<center>
		<div class="whitetable">
			<center><b>PERINGATAN</b></center><br />

			<p align="justify"><%= t 'evaluation.jpa.common.skt_peringatan_text' %>:</p>

			<ol>
				<li><p align="justify"><%= t 'evaluation.jpa.common.skt_peringatan_1' %><b>Bahagian I</b></p></li>
				<li><p align="justify"><%= t 'evaluation.jpa.common.skt_peringatan_2' %></p></li>
				<li><p align="justify"><%= t 'evaluation.jpa.common.skt_peringatan_3' %><b>Bahagian II</b></p></li>
				<li><p align="justify"><%= t 'evaluation.jpa.common.skt_peringatan_4' %><b>Bahagian III</b>; dan</p></li>
				<li><p align="justify"><%= t 'evaluation.jpa.common.skt_peringatan_5' %></p></li>
			</ol>
		</div>
		</center>
		<br />
		<div class="bahagian">
			<H4>BAHAGIAN I - MAKLUMAT PEGAWAI</H4>
			<H5>(PYD dan PPP hendaklah berbincang bersama sebelum menetapkan SKT dan petunjuk prestasinya)</H5>

				<table class="centre">
			    <tr>
			      <td align="center" height="48">Bil.</td>
			      <td align="center"><b>Ringkasan Aktiviti/Projek</b><BR>(Senaraikan Aktiviti/projek)</td>
			      <td align="center"><b>Petunjuk Prestasi</b><BR>(Kuantiti/Kualiti/Masa/Kos)</td>
			    </tr>

				<% if @staff_appraisal.staff_appraisal_skts.count == 0 %>
					<tr>
						      <td height="6cm">-</td>
						      <td >-</td>
						      <td >-</td>
					</tr>
				<% else %>	
				  <% just_a_counter = 0 %>
					<% for staff_appraisal_skt in @staff_appraisal.staff_appraisal_skts.find(:all, :order => :priority) %>
					<% if staff_appraisal_skt.half != 2%>
					<% just_a_counter += 1 %>
					<tr>
						<td><%= just_a_counter %></td>
						<td><%= staff_appraisal_skt.description %></td>
						<td><%= staff_appraisal_skt.indicator %></td>
					</tr>
					<% end -%><% end -%>
				<% end %>	
			  </table><br />

				<table class="signature">
					<tr>
						<th><%=h @staff_appraisal.appraised.name %></th>
						<td></td>
						<th><%=h @staff_appraisal.eval1_officer.name %></th>
					</tr>
					<tr>
						<td>Tandatangan PYD</td>
						<td></td>
						<td>Tandatangan PPP</td>
					</tr>
					<tr>
						<td style="text-align: left;">Tarikh: &nbsp; &nbsp; &nbsp; &nbsp; <%= l(@staff_appraisal.skt_submit_on) %></td>
						<td></td>
						<td style="text-align: left;">Tarikh: &nbsp; &nbsp; &nbsp; &nbsp; <%= l(@staff_appraisal.skt_endorsed_on) %></td>
					</tr>
				</table>
			</div>
			
			<div class="page_number"><% page_number += 1 %><%= page_number %></div>
</div>
<P CLASS="breakhere">
<div class='A4potrait_<%= "#{@staff_appraisal.person_type}" %>'><br /><br /><br />
	
	<div class="bahagian">
		<H4><%= t 'evaluation.jpa.common.skt_II_title' %></H4>
		<H4>1.&nbsp; &nbsp;<%= t 'evaluation.jpa.common.skt_II_1' %></H4>
		<H5><%= t 'evaluation.jpa.common.skt_II_1_text' %></H5>

			<table class="centre">
		    <tr>
		      <td align="center" height="48">Bil.</td>
		      <td align="center"><b>Ringkasan Aktiviti/Projek</b><BR>(Senaraikan Aktiviti/projek)</td>
		      <td align="center"><b>Petunjuk Prestasi</b><BR>(Kuantiti/Kualiti/Masa/Kos)</td>
		    </tr>

			<% if @staff_appraisal.staff_appraisal_skts.count == 0 %>
				<tr>
					      <td height="6cm">-</td>
					      <td >-</td>
					      <td >-</td>
				</tr>
			<% else %>	
			  <% just_a_counter = 0 %>
				<% if @staff_appraisal.is_skt_submit == true && @staff_appraisal.is_skt_endorsed == true %>
				<% just_a_counter += 1 %>
				<tr>
					<td><%= just_a_counter %></td>
					<td><%= staff_appraisal_skt.description %></td>
					<td><%= staff_appraisal_skt.indicator %></td>
				</tr>
				<% end -%>
			<% end %>	
		  </table><br />
		
			<H4><%= t 'evaluation.jpa.common.skt_II_title' %></H4>
			<H4>1.&nbsp; &nbsp;<%= t 'evaluation.jpa.common.skt_II_2' %></H4>
			<H5><%= t 'evaluation.jpa.common.skt_II_2_text' %></H5>
			
			<table class="centre">
		    <tr>
		      <td align="center" height="48">Bil.</td>
		      <td align="center"><b>Aktiviti/Projek</b></td>
		    </tr>
			
			
			<% if @staff_appraisal.staff_appraisal_skts.count == 0 %>
				<tr>
					      <td height="6cm">-</td>
					      <td >-</td>

				</tr>
			<% else %>	
			  <% just_a_counter = 0 %>
				<% for staff_appraisal_skt in @staff_appraisal.staff_appraisal_skts.find(:all, :order => :priority) %>
				<% if staff_appraisal_skt.is_dropped == true %>
				<% just_a_counter += 1 %>
				<tr>
					<td><%= just_a_counter %></td>
					<td><%= staff_appraisal_skt.description %></td>
				</tr>
				<% end -%><% end -%>
			<% end %>	
		  </table><br />
		
		
			<H4><%= t 'evaluation.jpa.common.skt_III_title' %></H4>
			<H4>1.&nbsp; &nbsp;<%= t 'evaluation.jpa.common.skt_III_1' %></H4>

			<table class="centre">
				<tr>
					<td style="height:3cm;vertical-align:top; text-align:left; padding:1mm;"><%=h @staff_appraisal.skt_pyd_report %></td>
				</tr>
			</table>

			<H4>2.&nbsp; &nbsp;<%= t 'evaluation.jpa.common.skt_III_2' %></H4>

			<table class="centre">
				<tr>
					<td style="height:3cm;vertical-align:top; text-align:left; padding:1mm;"><%=h @staff_appraisal.skt_ppp_report %></td>
				</tr>
			</table>
			<!--skt_ppp_report-->
			<BR/>
			<table class="signature">
				<tr>
					<th><%=h @staff_appraisal.appraised.name %></th>
					<td></td>
					<th><%=h @staff_appraisal.eval1_officer.name %></th>
				</tr>
				<tr>
					<td>Tandatangan PYD</td>
					<td></td>
					<td>Tandatangan PPP</td>
				</tr>
				<tr>
					<td style="text-align: left;">Tarikh: &nbsp; &nbsp; &nbsp; &nbsp;  <%= l(@staff_appraisal.skt_pyd_report_on) %></td>
					<td></td>
					<td style="text-align: left;">Tarikh: &nbsp; &nbsp; &nbsp; &nbsp;  <%= l(@staff_appraisal.skt_ppp_report_on) %></td>
				</tr>
			</table>
		</div>
		<div class="page_number">8</div>
</div>


