<h3><%=t('evaluation.appraisal.title')%></h3>
<% form_for(@staff_appraisal) do |f| %>
  <%= f.error_messages %>

	<div class="tform">
		<%=render :partial => 'show_start' %>
		<% if @staff_appraisal.evaluation_status == t('evaluation.appraisal.skt_being_formulated') %>
			<%=render :partial => 'skt', :locals => {:f => f} %> 
		<% elsif @staff_appraisal.evaluation_status == t('evaluation.appraisal.skt_awaiting_ppp_endorsement') && @staff_appraisal.eval1_by == Login.current_login.staff_id %> 
			<%=render :partial => 'show_skt' %>
			<%=render :partial => 'skt_endorse', :locals => {:f => f} %> 
		<% elsif @staff_appraisal.evaluation_status == t('evaluation.appraisal.skt_review') && @staff_appraisal.staff_id == Login.current_login.staff_id %>
			<%=render :partial => 'skt_review_staff', :locals => {:f => f} %>
		<% elsif @staff_appraisal.evaluation_status == t('evaluation.appraisal.ready_for_ppp_skt_report') && @staff_appraisal.eval1_by == Login.current_login.staff_id %>
			<%=render :partial => 'show_skt' %> 
			<%=render :partial => 'skt_review_eval1', :locals => {:f => f} %>
		<% elsif @staff_appraisal.evaluation_status == t('evaluation.appraisal.ppp_report_complete') && @staff_appraisal.staff_id == Login.current_login.staff_id %>
			<%=render :partial => 'show_skt' %> 
			<%=render :partial => 'activity', :locals => {:f => f} %>
		<%# elsif @staff_appraisal.evaluation_status == "Submitted for Evaluation by PPP"  && @staff_appraisal.eval1_by == Login.current_login.staff_id %>
		<% elsif ((@staff_appraisal.evaluation_status == t('evaluation.appraisal.submitted_for_evaluation_by_ppp') && @staff_appraisal.eval1_by == Login.current_login.staff_id ) || (@staff_appraisal.is_submit_e2==true && (@staff_appraisal.e1_performance=="" || @staff_appraisal.e1_progress=="" || @staff_appraisal.submit_e2_on.nil? || (@staff_appraisal.e1_months <1 && @staff_appraisal.e1_years==0))))%>
			<%=render :partial => 'show_skt' %> 
			<%=render :partial => 'show_activity' %> 
					<% if @staff_appraisal.person_type == 5 %>
						<%=render :partial => 'eval1_1', :locals => {:f => f} %>
					<% elsif @staff_appraisal.person_type == 4 %>
						<%=render :partial => 'eval1_17', :locals => {:f => f} %>
					<% elsif @staff_appraisal.person_type == 3 %>
						<%=render :partial => 'eval1_41', :locals => {:f => f} %>
					<% end %>
			<%=render :partial => 'eval1_review', :locals => {:f => f} %>
		<%# elsif @staff_appraisal.evaluation_status == t('evaluation.appraisal.submitted_by_ppp_for_evaluation_to_PPK')  && @staff_appraisal.eval2_by == Login.current_login.staff_id %>
		<% elsif ((@staff_appraisal.evaluation_status == t('evaluation.appraisal.submitted_by_ppp_for_evaluation_to_PPK') && @staff_appraisal.eval2_by == Login.current_login.staff_id && !@staff_appraisal.submit_e2_on.nil? && !@staff_appraisal.e1_performance.nil? && !@staff_appraisal.e1_progress.nil? ) || (@staff_appraisal.is_complete==true && (@staff_appraisal.e2_performance=="" || @staff_appraisal.is_completed_on.nil? || (@staff_appraisal.e2_months <1 && @staff_appraisal.e2_years==0)))) %>
			<%=render :partial => 'show_skt' %>
			<%=render :partial => 'show_activity' %> 
					<% if @staff_appraisal.person_type == 5 %>
						<%=render :partial => 'eval2_1', :locals => {:f => f} %>
					<% elsif @staff_appraisal.person_type == 4 %>
						<%=render :partial => 'eval2_17', :locals => {:f => f} %>
					<% elsif @staff_appraisal.person_type == 3 %>
						<%=render :partial => 'eval2_41', :locals => {:f => f} %>
					<% end %>
			<%=render :partial => 'show_eval_review1', :locals => {:f => f} %>		
			<%=render :partial => 'eval2_review', :locals => {:f => f} %>

			
		<% end %>
		
	</div>
		
<!--
		<#% if @staff_appraisal.is_submit_for_evaluation != false %>
			<H2>Edit Appraisal</H2>
			<#%=render :partial => 'form_start', :locals => {:f => f} %> 
		<#% elsif @staff_appraisal.eval1_by == Login.current_login.staff_id && @staff_appraisal.is_submit_for_evaluation == true %>
		  <H2>Evaluation of Staff by PPP (<#%= @staff_appraisal.eval1_officer.name %>)</H2>
			<#%=render :partial => 'show_start', :locals => {:f => f} %> 
			<#%=render :partial => 'form_eval1', :locals => {:f => f} %>
		<#% elsif @staff_appraisal.eval2_by == Login.current_login.staff_id && @staff_appraisal.is_submit_e2 == true %>
			<H2>Evaluation of Staff by PPK (<#%= @staff_appraisal.eval2_officer.name %>)</H2>
			<#%=render :partial => 'show_start', :locals => {:f => f} %> 
			<#%=render :partial => 'form_eval2', :locals => {:f => f} %>
		<#% else %>
		<#% end -%>-->

	<BR/>

  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>

<%= link_to (t 'show'), @staff_appraisal %> |
<%= link_to (t 'back'), staff_appraisals_path %>