<div class="box">
	<div class="box-head">
		<h2 class="left"><%= t 'evaluation.form.list' %></h2>
		<div class="right">
		</div>
	</div>
</div>

<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => (t 'evaluation.form.new')) + (t 'evaluation.form.new'), new_staff_appraisal_path %></p>
</div>
<BR><BR>
<div class="indextable">
	<table>
	  <tr class="toprow">
	    <th><%= t 'staff.icno' %></th>
	    <th><%= t 'staff.name' %></th>
	    <th><%= t 'staff.position' %></th>
	    <th><center><%= t 'evaluation.form.evaluationdate' %></center></th>
	    <th>Status</th>
	    <th colspan=4 class="ac"><%= t 'action' %></th>
	  </tr>
	  <% @staff_appraisals.each do |appraised| %>
	  <tr>
			<td><%=h appraised.appraised.formatted_mykad %></td>
			<td><%=h appraised.appraised.name %></td>
			<td><%#=h appraised.appraised.position.blank? ? "-" : appraised.appraised.position.name %>
				<%=h appraised.appraised.position_for_staff %></td>
			<td align="center"><%=h appraised.evaluation_year.strftime('%Y') %></td>
			<td><%=h appraised.evaluation_status %></td>
			<td width=10px><%= link_to image_tag("document.png",:border => 0, :title => (t 'show')), :action => 'show', :id => appraised %></td>
			<td width=10px>
			<% if appraised.edit_icon != "noedit" %>
				<%= link_to image_tag("#{appraised.edit_icon}", :border => 0, :title => "#{appraised.evaluation_status}"), :action => 'edit', :id => appraised %>
			<% else %>
			<% end %></td>
	    <!--<td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => appraised %></td>-->
			<td width=10px>
				<% if appraised.is_complete == true %>
				<%= link_to image_tag("printer.png", :border => 0, :title => (t 'print')), :action => 'appraisal_form', :id => appraised %>
				<% end -%></td>
	    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => (t 'delete')), appraised, :confirm => (t 'are_you_sure'), :method => :delete %></td>
	  </tr>
		<% end %>
	</table>
</div>
<br />

<%= link_to (t 'staff.newstaffappraisal'), new_staff_appraisal_path %>