<% form_for(@staff_appraisal) do |f| %>
  <%= f.error_messages %>

	<div class="tform">
		<H2><%= t 'evaluation.form.title_part1' %></H2>

		 <table width=100%>
			<tr>
				<td class="leftcol"><label for="staff_id"><b><%= t 'evaluation.form.name' %></b><font color="red"> * </font></label></td>
				<td><%= f.collection_select :staff_id, Staff.find(:all, :conditions => ['id = ?', Login.current_login.staff_id]), :id, :mykad_with_staff_name%></td>
			</tr>

			<tr>
			 	<td class="leftcol"><label for="evaldt"><b><%= t 'evaluation.form.evaluationdate' %></b></label></td>
				<td><%= f.date_select :evaluation_year, :end_year => Time.now.year, :discard_month => true %></td>
			</tr>
			<!--newly added-->
			<% if Login.current_login.staff.position.parent.staff.blank? %>
			<tr>
				<td colspan=2><%= t 'evaluation.form.remark' %></td>
			</tr>
			<!--
			<tr>
			 	<td class="leftcol"><%#= t 'evaluation.form.ppp' %></td>
				<td><%#=f.collection_select :eval1_by, Staff.find(:all, :order => "name ASC"), :id, :name, :include_blank => "Select" %></td>
			</tr>		
			<tr>
			 	<td class="leftcol"><%#= t 'evaluation.form.ppk' %></td>
				<td><%#=f.collection_select :eval2_by, Staff.find(:all, :order => "name ASC"), :id, :name, :include_blank => "Select" %></td>
			</tr>	-->	
			<% end %>
			<!--newly added-->
		</table>
		<% if Login.current_login.staff.position.parent.staff.blank? == false %>
		<%=render :partial => 'skt', :locals => {:f => f} %> 
		<% end %>
	</div>
	<BR/>

  <p><% if Login.current_login.staff.position.parent.staff.blank? == false %>
    <%= f.submit t 'submit' %><% end %>
  </p>
<% end %>

<%= link_to 'Back', staff_appraisals_path %>