<% form_for(@staff_appraisal) do |f| %>
  <%= f.error_messages %>

	<div class="tform">
		<H2><%= t 'evaluation.form.title_part1' %></H2>

		 <table width=100%>
			<tr>
				<td class="leftcol"><label for="staff_id"><b><%= t 'evaluation.form.name' %></b><font color="red"> * </font></label></td>
				<td><%= f.collection_select :staff_id, Staff.find(:all, :conditions => ['id = ?', User.current_user.staff_id]), :id, :mykad_with_staff_name%></td>
			</tr>

			<tr>
			 	<td class="leftcol"><label for="evaldt"><b><%= t 'evaluation.form.evaluationdate' %></b></label></td>
				<td><%= f.date_select :evaluation_year, :end_year => Time.now.year, :discard_month => true %></td>
			</tr>
		</table>
		
		<%=render :partial => 'skt', :locals => {:f => f} %> 
	</div>
	<BR/>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', staff_appraisals_path %>