<% form_for(@staff_appraisal) do |f| %>
  <%= f.error_messages %>

	<div class="tform">
		<H2>New Appraisal</H2>
		<%=render :partial => 'form_start', :locals => {:f => f} %> 
	</div>
	<BR/>


<!--

  <p>
    <%= f.label :staff_id %><br />
    <%= f.text_field :staff_id %>
  </p>
  <p>
    <%= f.label :evaluation_year %><br />
    <%= f.date_select :evaluation_year %>
  </p>
  <p>
    <%= f.label :submit_for_evaluation1 %><br />
    <%= f.check_box :submit_for_evaluation1 %>
  </p>
  <p>
    <%= f.label :submit_for_appraisal1_on %><br />
    <%= f.date_select :submit_for_appraisal1_on %>
  </p>
  <p>
    <%= f.label :eval1_part_ii %><br />
    <%= f.text_field :eval1_part_ii %>
  </p>
  <p>
    <%= f.label :eval1_quantity %><br />
    <%= f.text_field :eval1_quantity %>
  </p>
  <p>
    <%= f.label :eval1_quality %><br />
    <%= f.text_field :eval1_quality %>
  </p>
  <p>
    <%= f.label :eval1_time %><br />
    <%= f.text_field :eval1_time %>
  </p>
  <p>
    <%= f.label :eval1_effective %><br />
    <%= f.text_field :eval1_effective %>
  </p>
  <p>
    <%= f.label :eval1_knowledge %><br />
    <%= f.text_field :eval1_knowledge %>
  </p>
  <p>
    <%= f.label :eval1_rule %><br />
    <%= f.text_field :eval1_rule %>
  </p>
  <p>
    <%= f.label :eval1_communicate %><br />
    <%= f.text_field :eval1_communicate %>
  </p>
  <p>
    <%= f.label :eval1_leader %><br />
    <%= f.text_field :eval1_leader %>
  </p>
  <p>
    <%= f.label :eval1_manage %><br />
    <%= f.text_field :eval1_manage %>
  </p>
  <p>
    <%= f.label :eval1_discipline %><br />
    <%= f.text_field :eval1_discipline %>
  </p>
  <p>
    <%= f.label :eval1_proactive %><br />
    <%= f.text_field :eval1_proactive %>
  </p>
  <p>
    <%= f.label :eval1_relate %><br />
    <%= f.text_field :eval1_relate %>
  </p>
  <p>
    <%= f.label :eval1_knowledge %><br />
    <%= f.text_field :eval1_knowledge %>
  </p>
  <p>
    <%= f.label :eval1_part_iii_total %><br />
    <%= f.text_field :eval1_part_iii_total %>
  </p>
  <p>
    <%= f.label :eval1_percent %><br />
    <%= f.text_field :eval1_percent %>
  </p>
  <p>
    <%= f.label :eval1_work_months %><br />
    <%= f.text_field :eval1_work_months %>
  </p>
  <p>
    <%= f.label :eval1_work_years %><br />
    <%= f.text_field :eval1_work_years %>
  </p>
  <p>
    <%= f.label :eval1_performance %><br />
    <%= f.text_area :eval1_performance %>
  </p>
  <p>
    <%= f.label :eval1_progress %><br />
    <%= f.text_area :eval1_progress %>
  </p>
  <p>
    <%= f.label :evaluation1_by %><br />
    <%= f.text_field :evaluation1_by %>
  </p>
  <p>
    <%= f.label :submit_for_evaluation2 %><br />
    <%= f.check_box :submit_for_evaluation2 %>
  </p>
  <p>
    <%= f.label :submit_for_evaluation2_on %><br />
    <%= f.date_select :submit_for_evaluation2_on %>
  </p>
  <p>
    <%= f.label :submit_for_evaluation2_on %><br />
    <%= f.date_select :submit_for_evaluation2_on %>
  </p>
  <p>
    <%= f.label :eval2_part_ii %><br />
    <%= f.text_field :eval2_part_ii %>
  </p>
  <p>
    <%= f.label :eval2_quantity %><br />
    <%= f.text_field :eval2_quantity %>
  </p>
  <p>
    <%= f.label :eval2_quality %><br />
    <%= f.text_field :eval2_quality %>
  </p>
  <p>
    <%= f.label :eval2_time %><br />
    <%= f.text_field :eval2_time %>
  </p>
  <p>
    <%= f.label :eval2_effective %><br />
    <%= f.text_field :eval2_effective %>
  </p>
  <p>
    <%= f.label :eval2_knowledge %><br />
    <%= f.text_field :eval2_knowledge %>
  </p>
  <p>
    <%= f.label :eval2_rule %><br />
    <%= f.text_field :eval2_rule %>
  </p>
  <p>
    <%= f.label :eval2_communicate %><br />
    <%= f.text_field :eval2_communicate %>
  </p>
  <p>
    <%= f.label :eval2_leader %><br />
    <%= f.text_field :eval2_leader %>
  </p>
  <p>
    <%= f.label :eval2_manage %><br />
    <%= f.text_field :eval2_manage %>
  </p>
  <p>
    <%= f.label :eval2_discipline %><br />
    <%= f.text_field :eval2_discipline %>
  </p>
  <p>
    <%= f.label :eval2_proactive %><br />
    <%= f.text_field :eval2_proactive %>
  </p>
  <p>
    <%= f.label :eval2_relate %><br />
    <%= f.text_field :eval2_relate %>
  </p>
  <p>
    <%= f.label :eval2_knowledge %><br />
    <%= f.text_field :eval2_knowledge %>
  </p>
  <p>
    <%= f.label :eval2_part_iii_total %><br />
    <%= f.text_field :eval2_part_iii_total %>
  </p>
  <p>
    <%= f.label :eval2_percent %><br />
    <%= f.text_field :eval2_percent %>
  </p>
  <p>
    <%= f.label :eval2_work_months %><br />
    <%= f.text_field :eval2_work_months %>
  </p>
  <p>
    <%= f.label :eval2_work_years %><br />
    <%= f.text_field :eval2_work_years %>
  </p>
  <p>
    <%= f.label :eval2_performance %><br />
    <%= f.text_area :eval2_performance %>
  </p>
  <p>
    <%= f.label :evaluation2_by %><br />
    <%= f.text_field :evaluation2_by %>
  </p>
  <p>
    <%= f.label :is_complete %><br />
    <%= f.check_box :is_complete %>
  </p>
  <p>
    <%= f.label :is_complete_on %><br />
    <%= f.date_select :is_complete_on %>
  </p>-->

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', staff_appraisals_path %>