<% form_for(@staff_appraisal) do |f| %>
  <%= f.error_messages %>
<div class="tform">
		<%=render :partial => 'show_start', :locals => {:f => f} %> 
		<%=render :partial => 'show_skt', :locals => {:f => f} %>
		<% if @staff_appraisal.is_skt_ppp_report_done == true %>
			<%=render :partial => 'show_activity', :locals => {:f => f} %>
		<% end %>
		<% if @staff_appraisal.is_submit_for_evaluation == true %>
			<%=render :partial => 'show_eval_17' %>
			<%=render :partial => 'show_eval_review' %>		
		<% end %>

		

</div>


<% end %>


<% if @staff_appraisal.edit_icon != "noedit" %>
<%= link_to 'Edit', edit_staff_appraisal_path(@staff_appraisal) %>
<% end %> |
<%= link_to 'Back', staff_appraisals_path %>


