<p>
  <b>Staff:</b>
  <%=h @staff_appraisal.staff_id %>
</p>

<p>
  <b>Evaluation year:</b>
  <%=h @staff_appraisal.evaluation_year %>
</p>

<p>
  <b>Submit for evaluation1:</b>
  <%=h @staff_appraisal.submit_for_evaluation1 %>
</p>

<p>
  <b>Submit for appraisal1 on:</b>
  <%=h @staff_appraisal.submit_for_appraisal1_on %>
</p>

<p>
  <b>Eval1 part ii:</b>
  <%=h @staff_appraisal.eval1_part_ii %>
</p>

<p>
  <b>Eval1 quantity:</b>
  <%=h @staff_appraisal.eval1_quantity %>
</p>

<p>
  <b>Eval1 quality:</b>
  <%=h @staff_appraisal.eval1_quality %>
</p>

<p>
  <b>Eval1 time:</b>
  <%=h @staff_appraisal.eval1_time %>
</p>

<p>
  <b>Eval1 effective:</b>
  <%=h @staff_appraisal.eval1_effective %>
</p>

<p>
  <b>Eval1 knowledge:</b>
  <%=h @staff_appraisal.eval1_knowledge %>
</p>

<p>
  <b>Eval1 rule:</b>
  <%=h @staff_appraisal.eval1_rule %>
</p>

<p>
  <b>Eval1 communicate:</b>
  <%=h @staff_appraisal.eval1_communicate %>
</p>

<p>
  <b>Eval1 leader:</b>
  <%=h @staff_appraisal.eval1_leader %>
</p>

<p>
  <b>Eval1 manage:</b>
  <%=h @staff_appraisal.eval1_manage %>
</p>

<p>
  <b>Eval1 discipline:</b>
  <%=h @staff_appraisal.eval1_discipline %>
</p>

<p>
  <b>Eval1 proactive:</b>
  <%=h @staff_appraisal.eval1_proactive %>
</p>

<p>
  <b>Eval1 relate:</b>
  <%=h @staff_appraisal.eval1_relate %>
</p>

<p>
  <b>Eval1 knowledge:</b>
  <%=h @staff_appraisal.eval1_knowledge %>
</p>



<p>
  <b>Eval1 percent:</b>
  <%=h @staff_appraisal.eval1_percent %>
</p>

<p>
  <b>Eval1 work months:</b>
  <%=h @staff_appraisal.eval1_work_months %>
</p>

<p>
  <b>Eval1 work years:</b>
  <%=h @staff_appraisal.eval1_work_years %>
</p>

<p>
  <b>Eval1 performance:</b>
  <%=h @staff_appraisal.eval1_performance %>
</p>

<p>
  <b>Eval1 progress:</b>
  <%=h @staff_appraisal.eval1_progress %>
</p>

<p>
  <b>Evaluation1 by:</b>
  <%=h @staff_appraisal.evaluation1_by %>
</p>

<p>
  <b>Submit for evaluation2:</b>
  <%=h @staff_appraisal.submit_for_evaluation2 %>
</p>

<p>
  <b>Submit for evaluation2 on:</b>
  <%=h @staff_appraisal.submit_for_evaluation2_on %>
</p>

<p>
  <b>Submit for evaluation2 on:</b>
  <%=h @staff_appraisal.submit_for_evaluation2_on %>
</p>

<p>
  <b>Eval2 part ii:</b>
  <%=h @staff_appraisal.eval2_part_ii %>
</p>

<p>
  <b>Eval2 quantity:</b>
  <%=h @staff_appraisal.eval2_quantity %>
</p>

<p>
  <b>Eval2 quality:</b>
  <%=h @staff_appraisal.eval2_quality %>
</p>

<p>
  <b>Eval2 time:</b>
  <%=h @staff_appraisal.eval2_time %>
</p>

<p>
  <b>Eval2 effective:</b>
  <%=h @staff_appraisal.eval2_effective %>
</p>

<p>
  <b>Eval2 knowledge:</b>
  <%=h @staff_appraisal.eval2_knowledge %>
</p>

<p>
  <b>Eval2 rule:</b>
  <%=h @staff_appraisal.eval2_rule %>
</p>

<p>
  <b>Eval2 communicate:</b>
  <%=h @staff_appraisal.eval2_communicate %>
</p>

<p>
  <b>Eval2 leader:</b>
  <%=h @staff_appraisal.eval2_leader %>
</p>

<p>
  <b>Eval2 manage:</b>
  <%=h @staff_appraisal.eval2_manage %>
</p>

<p>
  <b>Eval2 discipline:</b>
  <%=h @staff_appraisal.eval2_discipline %>
</p>

<p>
  <b>Eval2 proactive:</b>
  <%=h @staff_appraisal.eval2_proactive %>
</p>

<p>
  <b>Eval2 relate:</b>
  <%=h @staff_appraisal.eval2_relate %>
</p>

<p>
  <b>Eval2 knowledge:</b>
  <%=h @staff_appraisal.eval2_knowledge %>
</p>



<p>
  <b>Eval2 percent:</b>
  <%=h @staff_appraisal.eval2_percent %>
</p>

<p>
  <b>Eval2 work months:</b>
  <%=h @staff_appraisal.eval2_work_months %>
</p>

<p>
  <b>Eval2 work years:</b>
  <%=h @staff_appraisal.eval2_work_years %>
</p>

<p>
  <b>Eval2 performance:</b>
  <%=h @staff_appraisal.eval2_performance %>
</p>

<p>
  <b>Evaluation2 by:</b>
  <%=h @staff_appraisal.evaluation2_by %>
</p>

<p>
  <b>Is complete:</b>
  <%=h @staff_appraisal.is_complete %>
</p>

<p>
  <b>Is complete on:</b>
  <%=h @staff_appraisal.is_complete_on %>
</p>

<p>
  <b>Eval1 part iii total:</b>
  <%=h @staff_appraisal.evaluation_total %>
</p>


<%= link_to 'Edit', edit_staff_appraisal_path(@staff_appraisal) %> |
<%= link_to 'Back', staff_appraisals_path %>