<table width=100%>
	<tr>
		<td><%= f.label :code %></td>
		<td><label><%=h @training.is_root? ? "" : @training.parent.combo_code + "-" %></label><%= f.text_field :code %></td>
	</tr>
	
	<tr>
		<td><%= f.label :course_type %></td>
		<td><label>
		<% if @training.parent_id == nil %>
				<%= f.radio_button :course_type, 'Diploma' %> Diploma <%= f.radio_button :course_type,'Pos Basik' %> Pos Basik 
				<%= f.radio_button :course_type,'Diploma Lanjutan ' %> Diploma Lanjutan </label>
		<% else %>
			<%= f.radio_button :course_type, 'Subject' %> Subject <%= f.radio_button :course_type,'Topic' %> Topic 
		<% end %></label></td>
	
	</tr>
	
	<tr>
		<td><%= f.label :name %></td>
		<td><%= f.text_field :name, :size => '50' %></td>
	</tr>
	
	<tr>
		<td><%= f.label :duration %></td>
		<td><%= f.text_field :duration, :size => '5' %>
				<%= f.select :duration_type, 
				           Training::DURATION_TYPES,
				           :prompt => "Select"  %>
			
			
			</td>
	</tr>
	
	<tr>
		<td><%= f.label :credits %></td>
		<td><%= f.select :credits, 0..8  %></td>
	</tr>
	
	<tr>
		<td><%= f.label :status %></td>
		<td><label><%= f.radio_button :status,'1' %> Major <%= f.radio_button :status,'2' %> Minor <%= f.radio_button :status,'3' %> Elective</label></td>
	</tr>
	
	
</table>
<!--status

<p>
  <%= f.label :objective %><br />
  <%= f.text_area :objective %>
</p>
<p>
  <%= f.label :duration %><br />
  <%= f.text_field :duration %>
</p>-->
