<div class="tform">
	<H2>Course Details</H2>
  <table width=100% >

	
	<tr>
		<td class="leftcol"><label for="code">Course Code:</label></td>
		<td width=3%><b>:</b></td>
		<td><%= f.text_field :code %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name">Course Name:</label></td>
		<td><b>:</b></td>
		<td><%= f.text_area :name, :size => "30x2" %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="specialisation">Course Type:</label></td>
		<td><b>:</b></td>
		<td><%= f.radio_button :specialisation,'Asas' %>Asas<%= f.radio_button :specialisation,'Pertengahan' %>Pertengahan
			<%= f.radio_button :specialisation,'Lanjutan' %>Lanjutan</td>
	</tr>
	
</table>
<H2>Subject Details</H2>
<P><strong>Select subject to add to this course</strong></P>
	<table width=100% border=0>
	<% Subject.all.in_groups_of(4, false) do |row_subjects| %>
	<!--<#% for subject in Subject.find(:all) %>-->
	<tr>
		<% for subject in row_subjects %>
		<td><%= check_box_tag "programme[subject_ids][]", subject.id, @programme.subjects.include?(subject) %>
    <%= subject.name %>
    </td>
    <% end %>
  </tr>
  <% end %>
	</table
	
</table>  
<BR>
</div>

