<% form_for(@programme) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2><%=t('programme.edit')%></H2>
		<%=render :partial => 'form', :locals => {:f => f} %>
	</div>
  <p>
    <%= f.submit t('submit') %>
  </p>
<% end %>

<%= link_to t('show'), @programme %> |
<%= link_to t('back'), programmes_path %>