<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left"><%=t('programme.title')%></h2>
		<div class="right">
	  </div>
	</div>
</div>

<div class="indextree">
<table id="tree" style="width:100%">
	<thead>
	  <tr>
	    <th width=50%><%=t('programme.combo_code')%></th>
			<th width=10%><%=t('programme.credits')%></th>
			<th width=10%>Status</th>
			<th width=10%><%=t('programme.duration')%></th>
			<th colspan=4 class="ac"><%=t('control')%></th>
	  </tr>
	</thead>

	<tbody>
		<% @programmes.each do |programme| %>
	  <tr id="node-<%= (programme.id) %>" <%= programme.tree_nd %>>
		<td><%=h programme.code %> &nbsp; &nbsp; &nbsp;
			<% if programme.course_type == 'Subject' || programme.course_type == 'Topic' || programme.course_type == 'Subtopic' %>
			<% elsif programme.course_type == 'Commonsubject'%>
				<font color=red>*</font>
			<% else %>
				<%=h programme.course_type %>  &nbsp; &nbsp; 
			<% end %>
			<%=h programme.name %>
		</td>
		<td><% if programme.credits == 0 %><%else%><%=h programme.credits %><%end%></td>
		<td><%=h check_kin_blank {(Programme::COURSE_STATUS.find_all{|disp, value| value == programme.status}).map {|disp, value| disp} }%></td>
		<td><%=h programme.duration %> <%=h check_kin_blank {(Programme::DURATION_TYPES.find_all{|disp, value| value == programme.duration_type}).map {|disp, value| disp} }%>
		<td width=10%>
			<% permitted_to? :update, :programmes do %>
				<%= link_to "(+)", new_programme_path(:parent_id => programme)%>
			<% end %>
		</td>
		<td width=10px><%= link_to image_tag("document.png", :border => 0, :title=>(t 'show')), :action => 'show', :id => programme %></td>
		<td width=10px>
			<% permitted_to? :update, :programmes do %>
				<%= link_to image_tag("edit.png", :border => 0, :title => (t 'edit')), :action => 'edit', :id => programme %>
			<% end %>
		</td>
		<td width=10px>
			<% permitted_to? :update, :programmes do %>
				<%= link_to image_tag("delete.png",   :border => 0, :title => (t 'delete')), programme, :confirm => (t 'are_you_sure'), :method => :delete %>
			<% end %>
		</td>
	  </tr>
		<% end %>
	</tbody>
</table>
<font color=red size=-2>* <%=t('programme.indicates_common_subject')%></font>
<br /><br />
<% permitted_to? :update, :programmes do %>
	<%= link_to t('programme.new_root'), new_programme_path %>
<% end %>
<br /><br />
</div>

<script type="text/javascript">

$j(document).ready(function()  {
  $j("#tree").treeTable();
});

</script>