<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Lists of Courses</h2>
	</div>
</div>
<div class="tlist">
	<table width=100%>
		<tr>
			<th>Code</th>
			<th>Name</th>
			<th>Course Type</th>
			<th colspan=3 class="ac">Control</th>
		</tr>

		<% @programmes.each do |programme| %>
		<tr>
			<td><%=h programme.code %></td>
			<td><%=h programme.name %></td>
			<td><%=h (Programme::COURSETYPE.find_all{|disp, value| value == programme.specialisation.to_s}).map {|disp, value| disp} %></td>
			<td width=10px><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => programme %></td>
			<% if permitted_to? :manage, :programmes %>
			<td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => programme %></td>
			<td width=10px ><%= link_to image_tag("delete.png",   :border => 0, :title => 'Delete'), programme, :confirm => 'Are you sure?', :method => :delete %></td>
			<% end %>
		</tr>
		<% end %>
	</table>


<BR>
</div>

<% if permitted_to? :manage, :programmes %>
<%= link_to 'New Course', new_programme_path %> <% end %>