<% form_for(@programme) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2><%=t('programme.new_programme_object')%></H2>
		<%= f.hidden_field :parent_id %>
		<%=render :partial => 'form', :locals => {:f => f} %>
	</div>
  
  <p>
    <%= f.submit t('create') %>
  </p>
<% end %>

<%= link_to t('back'), programmes_path %>