<div class="tform">

<fieldset>
	<legend class='togvis'><%=t('programme.programme_object')%></legend>
		<table width=85% >
			<tr>
				<td class="leftcol"><label><%=t('programme.programme_object_code')%></label></td>
				<td><%=h @programme.combo_code %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label><%=t('programme.programme_object_name')%></label></td>
				<td><%=h @programme.root.course_type %> <%=h @programme.root.name %> - <%=h @programme.course_type %> <%=h @programme.name %></td>				
			</tr>
		</table>
</fieldset>

</div>


<%= link_to t('edit'), edit_programme_path(@programme) %> |
<%= link_to t('back'), programmes_path %>