<div class="tform">

<fieldset>
	<legend class='togvis'>Programme Object</legend>
		<table width=85% >
			<tr>
				<td class="leftcol"><label>Programme Object Code</label></td>
				<td><%=h @programme.combo_code %></td>				
			</tr>
			
			<tr>
				<td class="leftcol"><label>Programme Object Name</label></td>
				<td><%=h @programme.root.course_type %> <%=h @programme.root.name %> - <%=h @programme.course_type %> <%=h @programme.name %></td>				
			</tr>
		</table>
</fieldset>

</div>


<%= link_to 'Edit', edit_programme_path(@programme) %> |
<%= link_to 'Back', programmes_path %>