<div class="tform">
	
	<H2>Programme Details</H2>
  <table width=100% >
		<tr>
			<td class="leftcol"><label for="code"><b>Programme Code:</b></label></td>
			<td> <%=h @programme.code %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="name"><b>Programme Name:</b></label></td>
			<td> <%=h @programme.name %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="specialisation"><b>Specialisation:</b></label></td>
			<td> <%=h @programme.specialisation %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="name"><b>Subject Name:</b></label></td>
			<td>
			<% for subject in @programme.subjects %>
				<%=h subject.name %>, &nbsp;
			<% end %>
			</td>
		</tr>
	</table>
<BR>
</div>
<%= link_to 'Edit', edit_programme_path(@programme) %> |
<%= link_to 'Back', programmes_path %>