<div class="tform">
	
	<H2>Programme Details</H2>
  <table width=100% border=0>
		<tr>
			<td class="leftcol"><label for="code">Course Code</label></td>
			<td width=3%><b>:</b></td>
			<td><%=h @programme.code %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="name">Course Name</label></td>
			<td width=3%><b>:</b></td>
			<td> <%=h @programme.name %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="specialisation">Specialisation</label></td>
			<td width=3%><b>:</b></td>
			<td> <%=h (Programme::COURSETYPE.find_all{|disp, value| value == @programme.specialisation.to_s}).map {|disp, value| disp} %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="name">Subject Name</label></td>
			<td width=3%><b>:</b></td>
			<td><table width=100% border="0" cellspacing=0>
				
					 <% bil = 0 %>
		    <% for subject in @programme.subjects %>
		 <% bil += 1 %>
		<tr>
			<td width=3%><%=h bil %>.</td>
			<td>
				<%=raw sanitize(simple_format(subject.name), :tags => %w(br) ) %><BR>
			</td>
		</tr>	<% end %>
			</table></td>
		</tr>
	</table>

</div>
<BR>
<%= link_to 'Edit', edit_programme_path(@programme) %> |
<%= link_to 'Back', programmes_path %>