<% form_for(@employgrade) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2>Edit Staff Employee Group</H2>
				<%=render :partial => 'form', :locals => {:f => f} %> 
	</div>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<!--<%= link_to 'Show', @employgrade %>--> |
<%= link_to 'Back', employgrades_path %>