<% form_for(@employgrade) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2><%= t 'staff.editstaffemployee' %></H2>
				<%=render :partial => 'form', :locals => {:f => f} %> 
	</div>

  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>

<!--<%= link_to 'Show', @employgrade %>--> |
<%= link_to (t 'back'), employgrades_path %>