<div class="box">
	<div class="box-head">
		<h2 class="left">Lists of Staff Grades</h2>
	</div>
</div>

<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => 'New Staff Grade') + "New", new_employgrade_path %></p>
</div>

<div class="indextable">
	<table>
	  <tr>
	    <th>Name</th>
			<th>Type</th>
			<th colspan=2 class="ac">Control</th>
	  </tr>

	<% @employgrades.each do |employgrade| %>
	  <tr>
	    <td><%=h employgrade.name %></td>
			<td><%=h employgrade.booboo %></td> 

  		<!--<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), employgrade %></td>-->
  		<td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), edit_employgrade_path(employgrade) %></td>
			<td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), employgrade, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
</div>

<br />

<%= link_to 'New employgrade', new_employgrade_path %>