<div class="tform">
	<fieldset>
		<legend>Employee Grade Details</legend>
			<table width=100%>
					<tr>
						<td class="leftcol"><label for="short_name">Name</label></td>
						<td><%=h @employgrade.name %></td>
					</tr>

					<tr>
						<td class="leftcol"><label for="long_name">Type</label></td>
						<td><%=h @employgrade.booboo %></td>
					</tr>
			</table>
	</fieldset>
</div>
<BR/>
<%= link_to 'New', new_employgrade_path %> |
<%= link_to 'Edit', edit_employgrade_path(@employgrade) %> |
<%= link_to 'Back', employgrades_path %> |
