<h1>Editing straining</h1>

<% form_for(@straining) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :evaluation_id %><br />
    <%= f.text_field :evaluation_id %>
  </p>
  <p>
    <%= f.label :staff_id %><br />
    <%= f.text_field :staff_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :place %><br />
    <%= f.text_field :place %>
  </p>
  <p>
    <%= f.label :sdate %><br />
    <%= f.date_select :sdate %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @straining %> |
<%= link_to 'Back', strainings_path %>