<p>
  <b>Evaluation:</b>
  <%=h @straining.evaluation_id %>
</p>

<p>
  <b>Staff:</b>
  <%=h @straining.staff_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @straining.name %>
</p>

<p>
  <b>Place:</b>
  <%=h @straining.place %>
</p>

<p>
  <b>Sdate:</b>
  <%=h @straining.sdate %>
</p>


<%= link_to 'Edit', edit_straining_path(@straining) %> |
<%= link_to 'Back', strainings_path %>