<% if @studentdisciplinesearch.matrixno && @studentdisciplinesearch.matrixno.blank? == false && @studentdisciplinesearch.programme.blank? && @studentdisciplinesearch.intake.blank? && @studentdisciplinesearch.icno.blank? && @studentdisciplinesearch.name.blank? %>
	<%=render :partial => 'anacdotal_report', :locals => {:studentdisciplines=> @studentdisciplinessearch} %> 
<% else %>

	<div style="padding-left:20px;padding-top:20px;padding-right:20px;font-family: Arial, Helvetica, sans-serif;font-size:12px;">
		<H4><%=t('studentdiscipline.search').upcase%> :</h4>

			<%= link_to (t 'back'), :controller=>'studentdisciplinesearches', :action => 'new', :searchstudentdisciplinetype => 1 %><br><br>
			
		<!--additional heading-->
		<% if @studentdisciplinesearch.programme %>
			<span style="text-decoration:underline;">
				<%=t('studentdiscipline.search_by_programme')%> : <%=h Programme.find(@studentdisciplinesearch.programme).programme_list %><br><br>
			</span>
		<% end %>
		<% if @studentdisciplinesearch.intake && @studentdisciplinesearch.intake.blank? == false %>
			<span style="text-decoration:underline;">
				<%=t('studentdiscipline.search_by_intake')%> : <%=@studentdisciplinesearch.intake.strftime("%b %Y")%><br><br>
			</span>
		<% end %>
		&nbsp;<%=t('studentdiscipline.total_cases')%> : <%=h @studentdisciplinesearch.studentdisciplines.count %><br><br>
		<!--additional heading-->
		
		<% if @studentdisciplinesearch.studentdisciplines.count > 0 %>
		<!--student discipline cases display-->
			<!--start:SEARCH BY INTAKE/PROGRAMME (multiple records)-->
			<table border=1 cellpadding=3 cellspacing=0 style="font-family: Arial, Helvetica, sans-serif;font-size:12px;">
				<tr>
					<th>No</th>
					<th><%=t('studentdiscipline.matrixno')%></th>
					<th><%=t('student.icno')%></th>
					<th><%=t('studentdiscipline.student_id')%></th>
					<% if @studentdisciplinesearch.programme.blank? %>
						<th><%=t('studentdiscipline.programme')%></th>
					<% end %>
					<% if @studentdisciplinesearch.intake.blank? %>
						<th><%=t('studentdiscipline.intake')%></th>
					<% end %>
					<th><%=t('studentdiscipline.infraction')%></th>
					<th><%=t('studentdiscipline.reported_date')%></th>
					<th><%=t('studentdiscipline.location')%></th>
					<th>Status</th>
					<th><%=t('studentdiscipline.action')%></th>
					<th><%=t('studentdiscipline.feedback_counsellor')%></th>
				</tr>
				<% @studentdisciplinesearch.studentdisciplines.sort_by{|x|x.student.name}.each_with_index do |student_discipline, index|%>
					<tr>
						<td><%=index+1%></td>
						<td><%=student_discipline.student.matrixno%>&nbsp;</td>
						<td><%=student_discipline.student.icno%>&nbsp;</td>
						<td><%=student_discipline.student.name%>&nbsp;</td>
						<% if @studentdisciplinesearch.programme.blank? %>
							<td><%=student_discipline.student.course.programme_list%></td>
						<% end %>
						<% if @studentdisciplinesearch.intake.blank? %>
							<td><%=student_discipline.student.intake.strftime("%b %Y")%></td>
						<% end %>
						<td><%=h (StudentDisciplineCase::INFRACTION.find_all{|disp, value| value == student_discipline.infraction_id}).map {|disp, value| disp} %>&nbsp;</td>
						<td><%=student_discipline.reported_on.try(:strftime, '%d %b %Y')%>&nbsp;</td>
						<td><%=student_discipline.location.name%>&nbsp;</td>
						<td><%=student_discipline.status%>&nbsp;</td>
						<td><%#=student_discipline.action_type%>
							<% unless student_discipline.action_type.blank? %>
								<%=h t('studentdiscipline.refer_bpl') if student_discipline.action_type=="Ref to BPL" %>
								<%=h t('studentdiscipline.refer_tphep') if student_discipline.action_type=="Ref TPHEP" %>
								<%=h t('studentdiscipline.no_case') if student_discipline.action_type=="no_case" %>
								<%=h t('studentdiscipline.advise') if student_discipline.action_type=="advise" %>
							<%end %>&nbsp;
						</td>
						<td><%= link_to (t 'studentdiscipline.feedback_counsellor'),:controller=>'student_counseling_sessions', :action => 'feedback_referrer', :id => student_discipline.id if !student_discipline.counselor_feedback.blank? %>&nbsp;</td>
					</tr>
				<% end %>
			</table>
			<!--start:SEARCH BY INTAKE/PROGRAMME (multiple records)-->
	
		<!--student discipline cases display-->
		<% end %>
	<br>
</div>

<% end %>

