<%#=render :partial => 'exams/position_dept' %>

<div class="tform">
	<H2><%=t('evaluate_course.info')%></H2>
  <table width=100% >
			<!--
			<tr>
				<td class="leftcol"><label for="student_id">Student Name</label></td>
				<td>:</td>
				<td><%#= f.collection_select :student_id, Student.find(:all), :id, :name, :include_blank => true %></td>
			</tr>-->
			
			<tr>
				<td class="leftcol"><label for="course_id"><%=t('evaluate_course.course_id')%></label></td>
				<td>:</td>
				<td>
					<% if @evaluate_course.new_record? %>
					    <%= f.collection_select :course_id, @programme_list, :id, :programme_coursetype_name, {:include_blank => (t 'select'), :selected =>@preselect_prog} %>
					<% else %>
					    <%= f.collection_select :course_id, @programme_list, :id, :programme_coursetype_name, {:include_blank => (t 'select'), :selected =>@evaluate_course.course_id} %>
					<% end %>
				</td>
			</tr>
			
			<tr>
				<td class="leftcol">
					<SPAN class="span_staff" style="display: block;"><label for="staff_id"><%=t('evaluate_course.staff_id')%></span></label> 
					<SPAN class="span_invited" style="display: none;"><label for="invite_lec"><%=t('evaluate_course.invite_lec')%></span></label>
				</td>
				<td>:</td>
				<td>
					<% if @evaluate_course.new_record? %>
						<% isstaff="checked" %>
					<% else %>
						<% unless @evaluate_course.staff_id.blank? %>
							<% isstaff="checked" %>
						<% else %>
							<% isstaff="unchecked" %>
						<% end %>
					<% end %>
					<%= f.check_box :is_staff, :checked => isstaff, :id => 'is_staff' %><%=t('evaluate_course.staff_or_invited')%>
					<SPAN class="span_staff" style="display: block;">
						<%= f.collection_select :staff_id, @lecturer_list, :id, :name, :include_blank => (t 'select') %>
					</SPAN>
					<SPAN class="span_invited" style="display: none;"><br><%= f.text_field :invite_lec%></SPAN>
				</td>
			</tr>
			
			<tr>
				<td class="leftcol">
					<SPAN class="span_staff" style="display: block;"><label for="subject_id"><%=t('evaluate_course.subject_id')%></label></span>
					<SPAN class="span_invited" style="display: none;"><label for="invite_lec_topic"><%=t('evaluate_course.invite_lec_topic')%></label></span>
				</td>
				<td>:</td>
				<td>
					<SPAN class="span_staff" style="display: block;"><%= f.collection_select :subject_id, @subjectlist_preselect_prog, :id, :subject_list, :include_blank =>(t 'select') %></SPAN>
					<SPAN class="span_invited" style="display: none;"><%= f.text_field :invite_lec_topic %></SPAN>
				</td>
			</tr>

			<tr>
				<td class="leftcol"><label for="comment"><%=t('evaluate_course.comment')%></label></td>
				<td>:</td>
				<td ><%= f.text_area :comment, :size => "30x7" %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="evaluate_date"><%=t('evaluate_course.evaldate')%></label><font color="red"> * </font></td>
				<td>:</td>
				<td ><%= f.date_select :evaluate_date, :order => [:day, :month, :year] %></td>
			</tr>

</table>
<H2><%=t('evaluate_course.details')%></H2>
<table width=80% border=0 >
		<tr>
			<td colspan=4 ><font size=2><b> <i><%=t('evaluate_course.evaluation_scale')%> : </i></b></font></td>	
		</tr>
		<tr>
			<td align="center"><font size=2><b> 0 &#x2194;  1 </b></font></td>
			<td align="center"><font size=2><b> 2 &#x2194;  3 </b></font></td>	
			<td align="center"><font size=2><b> 4 &#x2194;  5 </b></font></td>	
			<td align="center"><font size=2><b> 6 &#x2194;  7 </b></font></td>	
			<td align="center"><font size=2><b> 8 &#x2194;  9 </b></font></td>	
		</tr>
		<tr>
			<td align="center"><font size=2><b> <%=t('evaluate_course.unsatisfactory')%> </b></font></td>
			<td align="center"><font size=2><b> <%=t('evaluate_course.average')%> </b></font></td>	
			<td align="center"><font size=2><b> <%=t('evaluate_course.satisfactory')%> </b></font></td>	
			<td align="center"><font size=2><b> <%=t('evaluate_course.good')%> </b></font></td>	
			<td align="center"><font size=2><b> <%=t('evaluate_course.excellent')%> </b></font></td>	
		</tr>
</table>
<BR>
<table width=80% border=1 cellspacing=0 cellpadding=7 BORDERCOLOR="#C0C0C0 ">	
			
			<tr>
				<td width="10" ><font size=2><b>BIL</b></font></td>
				<td align="center" width=35%><font size=2 ><b><%=t('evaluate_course.description')%></b></font></th>
				<td width="10" colspan=9 align="center"><font size=2><b><%=(t 'evaluate_course.score').upcase %></b></font></td>
			</tr>
			<tr>
				<td align="center" colspan=2></td>
				<td align="center">1</td>
				<td align="center">2</th>
				<td align="center">3</th>
				<td align="center">4</th>
				<td align="center">5</th>
				<td align="center">6</th>
				<td align="center">7</th>
				<td align="center">8</th>
				<td align="center">9</th>
			</tr>
				
			<tr>
				<td>1.</td>
				<td><%=t('evaluate_course.objective_achieved')%></td>
					<td align="center"><%= f.radio_button :ev_obj,'1' %></td>
					<td align="center"><%= f.radio_button :ev_obj,'2' %></td>
					<td align="center"><%= f.radio_button :ev_obj,'3' %></td>
					<td align="center"><%= f.radio_button :ev_obj,'4' %></td>
					<td align="center"><%= f.radio_button :ev_obj,'5' %></td>
					<td align="center"><%= f.radio_button :ev_obj,'6' %></td>
					<td align="center"><%= f.radio_button :ev_obj,'7' %></td>
					<td align="center"><%= f.radio_button :ev_obj,'8' %></td>
					<td align="center"><%= f.radio_button :ev_obj,'9' %></td>
			</tr>
			
			<tr>
				<td>2.</td>
				<td><%=t('evaluate_course.lecturer_knowledge')%></td>
				<td align="center"><%= f.radio_button :ev_knowledge,'1' %></td>
				<td align="center"><%= f.radio_button :ev_knowledge,'2' %></td>
				<td align="center"><%= f.radio_button :ev_knowledge,'3' %></td>
				<td align="center"><%= f.radio_button :ev_knowledge,'4' %></td>
				<td align="center"><%= f.radio_button :ev_knowledge,'5' %></td>
				<td align="center"><%= f.radio_button :ev_knowledge,'6' %></td>
				<td align="center"><%= f.radio_button :ev_knowledge,'7' %></td>
				<td align="center"><%= f.radio_button :ev_knowledge,'8' %></td>
				<td align="center"><%= f.radio_button :ev_knowledge,'9' %></td>
			</tr>
			
			<tr>
				<td>3.</td>
				<td><%=t('evaluate_course.lecturer_q_achievement')%></td>
				<td align="center"><%= f.radio_button :ev_deliver,'1' %></td>
				<td align="center"><%= f.radio_button :ev_deliver,'2' %></td>
				<td align="center"><%= f.radio_button :ev_deliver,'3' %></td>
				<td align="center"><%= f.radio_button :ev_deliver,'4' %></td>
				<td align="center"><%= f.radio_button :ev_deliver,'5' %></td>
				<td align="center"><%= f.radio_button :ev_deliver,'6' %></td>
				<td align="center"><%= f.radio_button :ev_deliver,'7' %></td>
				<td align="center"><%= f.radio_button :ev_deliver,'8' %></td>
				<td align="center"><%= f.radio_button :ev_deliver,'9' %></td>
			</tr>
			
			<tr>
				<td>4.</td>
				<td><%=t('evaluate_course.content')%></td>
				<td align="center"><%= f.radio_button :ev_content,'1' %></td>
				<td align="center"><%= f.radio_button :ev_content,'2' %></td>
				<td align="center"><%= f.radio_button :ev_content,'3' %></td>
				<td align="center"><%= f.radio_button :ev_content,'4' %></td>
				<td align="center"><%= f.radio_button :ev_content,'5' %></td>
				<td align="center"><%= f.radio_button :ev_content,'6' %></td>
				<td align="center"><%= f.radio_button :ev_content,'7' %></td>
				<td align="center"><%= f.radio_button :ev_content,'8' %></td>
				<td align="center"><%= f.radio_button :ev_content,'9' %></td>
			</tr>
			
			<tr>
				<td>5.</td>
				<td><%=t('evaluate_course.training_aids_quality')%></td>
				<td align="center"><%= f.radio_button :ev_tool,'1' %></td>
				<td align="center"><%= f.radio_button :ev_tool,'2' %></td>
				<td align="center"><%= f.radio_button :ev_tool,'3' %></td>
				<td align="center"><%= f.radio_button :ev_tool,'4' %></td>
				<td align="center"><%= f.radio_button :ev_tool,'5' %></td>
				<td align="center"><%= f.radio_button :ev_tool,'6' %></td>
				<td align="center"><%= f.radio_button :ev_tool,'7' %></td>
				<td align="center"><%= f.radio_button :ev_tool,'8' %></td>
				<td align="center"><%= f.radio_button :ev_tool,'9' %></td>
			</tr>
			
			<tr>
				<td>6.</td>
				<td><%=t('evaluate_course.suitability_topic_sequence')%></td>
				<td align="center"><%= f.radio_button :ev_topic,'1' %></td>
				<td align="center"><%= f.radio_button :ev_topic,'2' %></td>
				<td align="center"><%= f.radio_button :ev_topic,'3' %></td>
				<td align="center"><%= f.radio_button :ev_topic,'4' %></td>
				<td align="center"><%= f.radio_button :ev_topic,'5' %></td>
				<td align="center"><%= f.radio_button :ev_topic,'6' %></td>
				<td align="center"><%= f.radio_button :ev_topic,'7' %></td>
				<td align="center"><%= f.radio_button :ev_topic,'8' %></td>
				<td align="center"><%= f.radio_button :ev_topic,'9' %></td>
			</tr>
			
			<tr>
				<td>7.</td>
				<td><%=t('evaluate_course.effectiveness_teaching_learning')%></td>
				<td align="center"><%= f.radio_button :ev_work,'1' %></td>
				<td align="center"><%= f.radio_button :ev_work,'2' %></td>
				<td align="center"><%= f.radio_button :ev_work,'3' %></td>
				<td align="center"><%= f.radio_button :ev_work,'4' %></td>
				<td align="center"><%= f.radio_button :ev_work,'5' %></td>
				<td align="center"><%= f.radio_button :ev_work,'6' %></td>
				<td align="center"><%= f.radio_button :ev_work,'7' %></td>
				<td align="center"><%= f.radio_button :ev_work,'8' %></td>
				<td align="center"><%= f.radio_button :ev_work,'9' %></td>
			</tr>
			
			<tr>
				<td>8.</td>
				<td><%=t('evaluate_course.benefit_notes')%></td>
				<td align="center"><%= f.radio_button :ev_note,'1' %></td>
				<td align="center"><%= f.radio_button :ev_note,'2' %></td>
				<td align="center"><%= f.radio_button :ev_note,'3' %></td>
				<td align="center"><%= f.radio_button :ev_note,'4' %></td>
				<td align="center"><%= f.radio_button :ev_note,'5' %></td>
				<td align="center"><%= f.radio_button :ev_note,'6' %></td>
				<td align="center"><%= f.radio_button :ev_note,'7' %></td>
				<td align="center"><%= f.radio_button :ev_note,'8' %></td>
				<td align="center"><%= f.radio_button :ev_note,'9' %></td>
			</tr>
			
			<tr>
				<td>9.</td>
				<td><%=t('evaluate_course.suitable_assessment')%></td>
				<td align="center"><%= f.radio_button :ev_assessment,'1' %></td>
				<td align="center"><%= f.radio_button :ev_assessment,'2' %></td>
				<td align="center"><%= f.radio_button :ev_assessment,'3' %></td>
				<td align="center"><%= f.radio_button :ev_assessment,'4' %></td>
				<td align="center"><%= f.radio_button :ev_assessment,'5' %></td>
				<td align="center"><%= f.radio_button :ev_assessment,'6' %></td>
				<td align="center"><%= f.radio_button :ev_assessment,'7' %></td>
				<td align="center"><%= f.radio_button :ev_assessment,'8' %></td>
				<td align="center"><%= f.radio_button :ev_assessment,'9' %></td>
			</tr>
</table>
</div>


<script type="text/javascript">
	$j(document).ready(function(){
			//show submit date

			$j("input[id='is_staff']").change(function() {  
			 if($j('#is_staff').is(':checked')) { 
			    $j(".span_invited").hide(""); 
				$j(".span_staff").show("highlight"); 
			 }else		{
			    $j(".span_invited").show("highlight");  
				$j(".span_staff").hide("");
			 }	
			});

			$j("input[id='is_staff']").each(function() {  
			 if($j('#is_staff').is(':checked')) { 
			    $j(".span_invited").hide("");
				$j(".span_staff").show("highlight"); 
			 }else		{
			    $j(".span_invited").show("highlight"); 
				$j(".span_staff").hide(""); 
			 }	
			});

	});
</script>