<h3><%=t('evaluate_course.edit')%></h3>

<% form_for(@evaluate_course) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>

<BR>
<%= link_to (t 'show'), @evaluate_course %> |
<%= link_to (t 'back'), evaluate_courses_path %>