<!-- Box -->
<div class="box">
<!-- Box Head -->
  <div class="box-head">
    <h2 class="left"><%=t('evaluate_course.title')%></h2>
		<div class="right">
		</div>
	</div>
</div>	
<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => (t 'evaluate_course.new')) + (t 'evaluate_course.new'), new_evaluate_course_path %></p>
</div>
<BR><BR>
<div class="indextable">
<table>
  <tr class="toprow">
    <!--<th>Student Name</th>-->
    <th><%=t('evaluate_course.programme_subjectname')%></th>
    <th><%=t('evaluate_course.evaldate')%></th>
    <th><%=t('evaluate_course.staff_id')%> / <%=t('evaluate_course.invite_lec')%></th>
    <th colspan=4 class="ac"><%= t 'action' %></th>
    
  </tr>

<% @evaluate_courses.each do |evaluate_course| %>
  <tr>
	<!--<td><%#= evaluate_course.student_id.blank? ? "No Student" : evaluate_course.studentevaluate.name %></td>-->
	<td><%=evaluate_course.stucourse.programme_coursetype_name+" - "%>
		<%= evaluate_course.subject_id.blank? ? "<b>"+(t 'evaluate_course.invite_lec_topic')+" : </b>"+evaluate_course.invite_lec_topic : evaluate_course.subjectevaluate.subject_list %></td>
	<td ><%= evaluate_course.evaluate_date.blank? ? "-" : l(evaluate_course.evaluate_date) %></td>
	<td><%= evaluate_course.staff_id.blank? ? "<b>"+(t 'evaluate_course.no_staff')+"</b>"+evaluate_course.invite_lec : evaluate_course.staffevaluate.name %></td>
	
	<td width=10px >
	<%# if permitted_to? :show, evaluate_course %>
	<%= link_to image_tag("document.png", :border => 0, :title => (t 'show')), :action => 'show', :id => evaluate_course %><%# end %></td>
	
	
    <td width=10px>
	<%# if permitted_to? :update, evaluate_course %>
	<%= link_to image_tag("edit.png", :border => 0, :title => (t 'edit')), :action => 'edit', :id => evaluate_course %><%# end %></td>
   
  	<%# if permitted_to? :penilaipensyarah, evaluate_lecturer %>
	<td width=10px>
	<%= link_to image_tag("printer.png", :border => 0, :title =>(t 'evaluate_course.eval_form')), :action => 'courseevaluation', :id => evaluate_course %>
	</td><%# end %>
	
	
	<%# if permitted_to? :destroy, evaluate_course %>
    <td width=10px>
	<%= link_to image_tag("delete.png", :border => 0, :title => (t 'delete')), evaluate_course, :confirm => (t 'are_you_sure'), :method => :delete %></td><%# end %>

  

  </tr>
<% end %>
</table>
</div>
<br />
<%# if permitted_to? :create, @evaluate_lecturer %>
<%= link_to (t 'evaluate_course.new'), new_evaluate_course_path %>
<%# end %>




