<h1>New evactivity</h1>

<% form_for(@evactivity) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :evaluation_id %><br />
    <%= f.text_field :evaluation_id %>
  </p>
  <p>
    <%= f.label :evaldt %><br />
    <%= f.date_select :evaldt %>
  </p>
  <p>
    <%= f.label :evactivity %><br />
    <%= f.text_field :evactivity %>
  </p>
  <p>
    <%= f.label :actlevel %><br />
    <%= f.text_field :actlevel %>
  </p>
  <p>
    <%= f.label :actdt %><br />
    <%= f.date_select :actdt %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', evactivities_path %>