<p>
  <b>Evaluation:</b>
  <%=h @evactivity.evaluation_id %>
</p>

<p>
  <b>Evaldt:</b>
  <%=h @evactivity.evaldt %>
</p>

<p>
  <b>Evactivity:</b>
  <%=h @evactivity.evactivity %>
</p>

<p>
  <b>Actlevel:</b>
  <%=h @evactivity.actlevel %>
</p>

<p>
  <b>Actdt:</b>
  <%=h @evactivity.actdt %>
</p>


<%= link_to 'Edit', edit_evactivity_path(@evactivity) %> |
<%= link_to 'Back', evactivities_path %>