<div class="tform">
  <table width=100% >
	
	<tr>
		<th colspan = 2>Office Supplies</th>
	</tr>
	
	<tr>
			<td class="leftcol"><label for="partcode"><b>Supplies Code:</b></label><font color="red"> * </font></td>
			<td><%= f.text_field :partcode %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="category"><b>Category:</b></label></td>
			<td><%= f.text_field :category %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="unittype"><b>Unit Type:</b></label></td>
		<td><%= f.text_field :unittype %></td>
	</tr>
	
<!-->	<tr>
		<td class="leftcol"><label for="quantity"><b>Quantity:</b></label></td>
		<td><#%= f.text_field :quantity %></td>
	</tr>-->
	
	<tr>
		<td class="leftcol"><label for="maxquantity"><b>Maximum:</b></label></td>
		<td><%= f.text_field :maxquantity %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="minquantity"><b>Minimum:</b></label></td>
		<td><%= f.text_field :minquantity %></td>
	</tr>
	
<!--Receive
	<tr>
	    <th colspan=2>Receive</th>
    </tr>
	<tr>
		<td colspan=2>
			<table width=100%>
				<tr>
				  <td width=150px><label for="lponum"><b>LPO:</b></label></td>
				  <td width=235px><label for="donum"><b>Do:</b></label></td>
				  <td width=100px><label for="document"><b>Document : </b></label></td>
				  <td width=85px><label for="unitcost"><b>Unitcost:</b></label></td>
			  	  <td width=85px><label for="received"><b>Received:</b></label></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			
			<div id="rxparts">
		       <#%= render :partial => 'rxpart', :collection => @part.rxparts %>
			</div>
		</td>
	</tr>
	<tr>
	    <td colspan=2><#%= add_rxpart_link "Add more" %></td>-->
	</tr>
	

</table>
<BR>
