<div class="tform">
  <table width=100% >

<table id="form">
	<tr>
		<th colspan = 2>Office Supplies Details</th>
	</tr>
	<tr>
		<td class="leftcol"><label for="partcode">Supplies Code:</label></td>
		<td> <%=h @part.partcode %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="category">Category:</label></td>
		<td> <%=h @part.category %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="unittype">Unit Type:</label></td>
		<td><%=h @part.unittype %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="quantity">Quantity:</label></td>
		<td><%=h @part.quantity %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="maxquantity">Max Quantity:</label></td>
		<td> <%=h @part.maxquantity %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="minquantity ">Min Quantity:</label></td>
		<td><%=h @part.minquantity %></td>
	</tr>
	
</table>
<BR>
</div>



<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>