<div class="tform"><!--09/12/2011 - Shaliza changed for title bar -->
	<H2><%= t 'positions.position' %></H2>
<table width=100% border=0 cellspacing=0>
	<tr>
		<td class="leftcol" colspan=2><label for="positioncode"><%= t 'positions.positioncode' %></label><font color="red"> * </font></td>
		<td><b>:</b></td>
		<td><%= f.text_field :positioncode %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol" colspan=2><label for="positionname"><%= t 'positions.positionname' %></label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :positionname %></td>
	</tr>
	
	<tr>
		<td class="leftcol" colspan=2><label for="staff_id"><%= t 'positions.personname' %> </label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :staff_id, Staff.find(:all), :id, :staff_name_with_title, :include_blank => true %></td>
  </tr>

	<tr>
		<td class="leftcol" colspan=2><label for="parent_id"><%= t 'positions.parent_id' %></label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :parent_id, Position.find(:all, :order => 'positioncode'), :id, :position_with_code, :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol" colspan=2><label for="staffgrade_id"><%= t 'positions.grade_id' %></label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :staffgrade_id, Employgrade.find(:all, :order => 'name'), :id, :name_and_group, :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol" colspan=2><label for="unit"><%= t 'positions.unit' %></label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :unit %></td>
	</tr>
	
	<tr>
		<td class="leftcol" colspan=2><label for="taskmain"><%= t 'positions.taskmain' %></label></td>
		<td><b>:</b></td>
		<td><%= f.text_area :taskmain, :size => "40x7" %></td>
	</tr>
	
	<tr>
		<td class="leftcol" colspan=2><label for="taskother"><%= t 'positions.taskother' %></label></td>
		<td><b>:</b></td>
		<td><%= f.text_area :taskother, :size => "40x7" %></td>
	</tr>
	
</table>
</div>
<BR>