
<% form_for(@position) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
	<H2>Edit <%= t 'positions.position' -%>s</H2>
  <%=render :partial => 'form', :locals => {:f => f} %> 
	</div>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>

<%= link_to 'Show', @position %> |
<%= link_to 'Back', positions_path %>