
<% form_for(@position) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit (t 'icms.update') %>
  </p>
<% end %>

<BR>

<%= link_to (t 'icms.show'), @position %> |
<%= link_to (t 'icms.back'), positions_path %>