<script type="text/javascript">

$j(document).ready(function()  {
  $j("#tree").treeTable({
		indent: 40 //, expandable: false
		});
});

</script>

<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left"><%= t 'positions.list' %></h2>
		<div class="right">
			<label>
            <% form_tag positions_path, :method => 'get' do %>
	        <%= text_field_tag :search, params[:search], :placeholder => "PositionName" %>
	        <%= submit_tag "Search", :name => nil %>      
	        <% end %>
	    </label>
	  </div>
	</div>
</div>

<!--<%= link_to image_tag("add.png", :border => 0, :title => 'Add New Position'), new_position_path %>-->
<div class="indextree">
<table id="tree">
	<thead>
		<tr>
	   <th style="width:450px;"><%= t 'positions.code' %> - <%= t 'positions.name' %></th>
		 <th style="width:230px;"><%= t 'positions.personname' %></th>
		 <th style="width:150px;"><%= t 'positions.tasks_main' %></th>
		 <th colspan=4 class="ac">Control</th>
	  </tr>
	</thead>
	
	<tbody>
    <% @positions.each do |position| %>
    <tr id="node-<%= (position.id) %>" <%= position.tree_nd %>>
       <td><%=h position.is_root? ? " " : "        "   %><%=h position.combo_code %> &nbsp; : &nbsp; <%=h position.name %> &nbsp; (<%=h check_kin_blank {position.staffgrade.name} %>)</td>
       <td><%=h position.staff.blank? ? "-" : position.staff.name + "  (" + (check_kin {position.staff.staffgrade.name}) + ")" %></td>
       <td><%=h truncate(position.tasks_main, :length => 60) %>
	     <td width=10px><%= link_to "(+)", new_position_path(:parent_id => position)%></td>
       <td width=10px><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => position %></td>
       <td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => position %></td>
       <td width=10px><%= link_to image_tag("delete.png",   :border => 0, :title => 'Delete'), position, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <% end %>
	<tbody>
	</table>
<br />

<%= link_to (t 'positions.create'), new_position_path %>

</div>

