<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left"><%= t 'positions.list' %></h2>
		<div class="right">
			<label>
            <% form_tag positions_path, :method => 'get' do %>
	        <%= text_field_tag :search, params[:search], :placeholder => "PositionName" %>
	        <%= submit_tag I18n.t('search'), :positionname => nil %>      
	        <% end %>
	    </label>
	  </div>
	</div>
</div>

<div class="indextable">
	<table>
		<tr>
	   <th><%= t 'positions.positioncode' %></th>
		 <th><%= t 'positions.positionname' %></th>
		 <th>Unit</th>
		 <th><%= t 'positions.personname' %></th>
		 <th colspan=3 class="ac"><%= t 'control' %></th>
	  </tr>
    <% @positions.each do |position| %>
    <tr>
       <td><%=h position.positioncode %></td>
       <td><%=h position.positionname %></td>
	   <td><%=h position.unit %></td>
       <td><%=h position.title_details %> <%=h position.staff.blank? ? "-" : position.staff.name %></td>
       <td width=10px><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => position %></td>
       <td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => position %></td>
      <td width=10px><%= link_to image_tag("delete.png",   :border => 0, :title => 'Delete'), position, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <% end %>
	</table>
<br />
</div>
<%= link_to (t 'positions.create'), new_position_path %>



