<%= stylesheet_link_tag 'report' %> 
<div id="A4landscape">
	
<form action="#">
	<script>
	document.write("<input type='button' " +
	"onClick='window.print()' " +
	"class='printbutton' " +
	"value='Print This Page'/>");
	</script>
	<fieldset width=10px >
<div id="title" width=21cm>	
<table width=100% border="0" align="center">
	<th width="4%"><img border="0" style="vertical-align:top" src="/images/KM.jpg" alt="km" width="100" height="100"/></th>
	<th><H3 align ="center"><font size=3>MAKLUMAT PERJAWATAN </font></H3>
		<H3 align ="center"><font size=3>PUSAT LATIHAN DAN AKADEMI MARITIM MALAYSIA (PLAMM)</font></H3>
		<H3 align ="center"><font size=3>SEHINGGA <%= Date.today.strftime('%d-%m-%Y') %></font></H3></th>
   <th width="4%"><img border="0" src="/images/maritim.png" alt="" width="100" height="100"/></th>
</table>
<BR>
	
<div id="tprintreport">
<table width=100% border=1px cellspacing=0 align="center" >
	
	<tr>
		<th width="1%"  valign="middle" >BIL</th>
		<th width="20%"  valign="middle">JAWATAN</th>
		<th width="4%"  valign="middle">GRED JAWATAN</th>
		<th width="25%"  valign="middle">NAMA</th>
		<th width="10%"  valign="middle">NO K/P</th>
		<th width="10%" valign="middle">CATATAN</th>
	</tr>
	
	 <% just_a_counter = 0 %>
	 <% @positions.each do |position| %>
	    <% just_a_counter += 1 %>
    <tr align="center">
	<td><%=h just_a_counter %> </td>
<!--	<td align="left"><#%=h position.positioncode %> </td>-->	
	<td align="left"><%=h position.positionname %></td>	
	<td><%=h position.staffgrade.blank? ? "-" : position.staffgrade.name %></td>
	<td align="left"><%=h position.title_details %> <%=h position.staff.blank? ? "-" : position.staff.name %></td>	<!--14/12/2011 - Shaliza added title in front of name -->
	<td><%=h position.staff.blank? ? "-" : position.staff.formatted_mykad %></td>
<!--	<td><#%=h position.staff.blank? ? "-" : position.staff.cobirthdt.strftime('%d-%m-%Y') %></td>-->
<!--	<td><#%=h position.staff.blank? ? "-" : position.staff.appointdt %></td>
	<td><#%=h position.staff.blank? ? "-" : position.staff.posconfirmdate %></td>-->
	<td>&nbsp;</td>
	</tr>
	
	<% end %>
	
	
</table>
</div>
</fieldset>
</form>
