<% form_for(@position) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
	<H2>New <%= t 'positions.position' -%>s</H2>
  <%= f.hidden_field :parent_id %>
   <%=render :partial => 'form', :locals => {:f => f} %> 
	</div>
  <p>
    <%= f.submit (t 'icms.submit') %>
  </p>
<% end %>
</div>

<%= link_to (t 'icms.back'), positions_path %>