<div class="tform">
	<H2><%= t 'positions.position' %></H2>
	<table width=100% border=0>
		<tr>
			<td class="leftcol" width=30%><label for="positioncode"><%= t 'positions.positioncode' %></label></td>
			<td width=2%><b>:</b></td>
			<td><%=h @position.positioncode %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="positionname"><%= t 'positions.positionname' %></label></td>
			<td><b>:</b></td>
			<td><%=h @position.positionname %></td>
		</tr>

		<tr>
			<td class="leftcol" ><label for="personname"><%= t 'positions.personname' %></label></td>
			<td><b>:</b></td>
			<td><%=h @position.title_details %> <%=h @position.staff.blank? ? "-" : @position.staff.name %></td>
		</tr>

	<% if @position.parent_id != nil %>
		<tr>
			<td class="leftcol" ><label for="parent_id"><%= t 'positions.parent_id' %></label></td>
			<td><b>:</b></td>
			<td><%=h @position.bosses.position_with_boss %></td>
		</tr>
	<% end %>

		<tr>
			<td class="leftcol" ><label for="staffgrade_id"><%= t 'positions.grade_id' %></label></td>
			<td><b>:</b></td>
			<td><%=h @position.staffgrade_id.blank? ? "" : @position.staffgrade.name_and_group %></td>
		</tr>

		<tr>
			<td class="leftcol" ><label for="unit"><%= t 'positions.unit' %></label></td>
			<td><b>:</b></td>
			<td><%=h @position.unit %></td>
		</tr>

		<tr>
			<td class="leftcol" ><label for="taskmain"><%= t 'positions.taskmain' %></label></td>
			<td><b>:</b></td>
			<td> <%=h @position.taskmain %></td>
		</tr>

		<tr>
			<td class="leftcol" ><label for="taskother"><%= t 'positions.taskother' %></label></td>
			<td><b>:</b></td>
			<td> <%=h @position.taskother %></td>
		</tr>
	</table>
</div>
<BR>


<%= link_to (t 'icms.update'), edit_position_path(@position) %> |
<%= link_to (t 'icms.back'), positions_path %>