<div class="tform">
	<H2><%= t 'positions.position' %></H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="code"><%= t 'positions.code' %> :</label></td>
			<td><%=h @position.combo_code %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="name"><%= t 'positions.name' %> :</label></td>
			<td><%=h @position.name %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="personname"><%= t 'positions.personname' %> :</label></td>
			<td><%=h @position.staff.blank? ? "-" : @position.staff.name %></td>
		</tr>

	<% if @position.parent_id != nil %>
		<tr>
			<td class="leftcol"><label for="parent_id"><%= t 'positions.parent_id' %> :</label></td>
			<td><%=h @position.parent.name %> - <%=h @position.parent.staff_id.blank? ? "No Staff" : @position.parent.staff.name %></td>
		</tr>
	<% end %>

		<!--<tr>
			<td class="leftcol"><label for="name">Position Name:</label></td>
			<td><#%=h @position.name %></td>
		</tr>-->

		<tr>
			<td class="leftcol"><label for="staffgrade_id"><%= t 'positions.grade_id' %>:</label></td>
			<td><%=h @position.staffgrade_id.blank? ? "" : @position.staffgrade.name_and_group %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="unit"><%= t 'positions.unit' %> :</label></td>
			<td><%=h @position.unit %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="tasks_main"><%= t 'positions.tasks_main' %> :</label></td>
			<td> <%=h @position.tasks_main %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="tasks_other"><%= t 'positions.tasks_other' %> :</label></td>
			<td> <%=h @position.tasks_other %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="postinfo_id"><%= t 'positions.postinfo_id' %> :</label></td>
			<td><%=h @position.postinfo_id.blank? ? "-" : @position.postinfo.details_grade %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="status"><%= t 'positions.status' %> :</label></td>
			<td><%=h @position.postinfo_id.blank? ? "-" : (Position::STATUS.find_all{|disp, value| value == @position.status.to_i}).map {|disp, value| disp} %></td>
		</tr>
	</table>
<BR>
</div>


<%= link_to (t 'icms.update'), edit_position_path(@position) %> |
<%= link_to (t 'icms.back'), positions_path %>