<H2><%=t('lesson_plan.approval')%></H2>
<table  width=100%>
	
	<tr>
		<td class="leftcol"><%=t('lesson_plan.hod_approval')%></td>
    	<td><%= f.check_box :hod_approved, :id => 'check_hod_accept' %>
				<SPAN  id="span_hod_endorse" style="display: none;"><%= f.date_select :hod_approved_on %></SPAN>
		</td>
	</tr>
	<tr>
		<td class="leftcol"><%=t('lesson_plan.hod_rejection')%></td>
    	<td><%= f.check_box :hod_rejected, :id => 'check_hod_reject' %>
				<SPAN  id="span_hod_endorse2" style="display: none;">
					<%= f.date_select :hod_rejected_on %><br>
					<%= f.text_area :reason, :col=>30, :rows=> 3, :placeholder =>t('lesson_plan.reason_reject')%>
				</SPAN>
		</td>
	</tr>

</table>

<script type="text/javascript">
	$j(document).ready(function(){
	
					
			//HOD endorse
			$j("input[id='check_hod_accept']").change(function() {  
			 if($j('#check_hod_accept').is(':checked')) { 
			    $j("#span_hod_endorse").show("highlight"); 
			 }else		{
			    $j("#span_hod_endorse").hide(""); 
			 }	
			});
			
			$j("input[id='check_hod_accept']").each(function() {  
			 if($j('#check_hod_accept').is(':checked')) { 
			    $j("#span_hod_endorse").show("highlight"); 
			 }else		{
			    $j("#span_hod_endorse").hide(""); 
			 }	
			});
			
			//HOD reject
			$j("input[id='check_hod_reject']").change(function() {  
			 if($j('#check_hod_reject').is(':checked')) { 
			   $j("#span_hod_endorse2").show("highlight"); 
			 }else		{
			    $j("#span_hod_endorse2").hide(""); 
			 }	
			});
			
			$j("input[id='check_hod_reject']").each(function() {  
			 if($j('#check_hod_reject').is(':checked')) { 
			    $j("#span_hod_endorse2").show("highlight"); 
			 }else		{
			    $j("#span_hod_endorse2").hide(""); 
			 }	
			});

	});
</script>