
	<H2><%=t('lesson_plan.details')%></H2>
	<table>
		<tr>
			<td class="leftcol"><%= f.label t('lesson_plan.lecturer') %></td>
			<td><%#= f.collection_select :lecturer, Staff.find(:all, :joins=>:position, :conditions=>['positions.name=?','Pengajar']), :id, :name, :include_blank=>"Select Lecturer", :selected => Login.current_login.staff_id %>
				&nbsp;&nbsp;<%=h Login.current_login.staff.name %><%= f.hidden_field :lecturer, :value=>Login.current_login.staff_id %>
			</td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label t('lesson_plan.schedule') %></td>
			<td>
				 <%arr2=["<option value=0 data=''>#{t('select')}</option>"] %>
				 <% unless @lesson_plan.schedule.nil? || @lesson_plan.schedule.blank? %>
					<% if WeeklytimetableDetail.all.map(&:id).include?(@lesson_plan.schedule)%>
						<%arr2 << "<option value='#{@lesson_plan.schedule}' data='#{@lesson_plan.schedule_item.location_desc}' selected='selected'>#{@lesson_plan.schedule_item.day_time_slot3}</option>" %>
						
					<% end %>
				<% end %>
				 <% @current_roles = Login.current_login.roles.map(&:name) %>
				<% if @current_roles.include?('Administration') %>
					 <!--admin-->
					 <% @lessonplan_schedule = LessonPlan.all.map(&:schedule).uniq.compact %>
					 <% alltimetables = WeeklytimetableDetail.all.sort_by{|x|x.weeklytimetable_lecturer.name}%>
				<% else %>
					<!--lecturer-->
					<% timetableids = Login.current_login.timetables_of_programme%>
					<% if @lesson_plan && !@lesson_plan.schedule %><!--lesson_plan : schedule not exist-->
						<% @lessonplan_schedule = LessonPlan.all.map(&:schedule).uniq.compact %>
						<%# alltimetables = WeeklytimetableDetail.find(:all, :conditions=>['lecturer_id=? AND id NOT IN (?) AND id IN(?)',Login.current_login.staff_id,@lessonplan_schedule, timetableids]) %>
						<% alltimetables = WeeklytimetableDetail.find(:all, :conditions=>['lecturer_id=? AND id IN(?)',Login.current_login.staff_id, timetableids]) %>
						<% unless @lesson_plan.new_record? %>
							<% alltimetables << @lesson_plan.schedule if @lesson_plan.schedule %>
					        <% end %>
					<% else %>
						<!--note : selected item remove fr this options to avoid redundant, as it already added at line 6-->
						<% alltimetables = WeeklytimetableDetail.find(:all, :conditions=>['lecturer_id=? and id IN(?) AND id NOT IN (?)',Login.current_login.staff_id, timetableids, @lesson_plan.schedule]) %>
					<% end %>
				<% end %>
				<% if alltimetables%>
					 <% alltimetables.each do |c| %>
						<% arr2 << "<option value='#{c.id}' data='#{c.location_desc}'>#{c.day_time_slot3}</option>" %>
					<% end %>
				<% end %>
				<%= select_tag("lesson_plan[schedule]", arr2) %>
			</td>		
		</tr>
		<tr>
			<td class="bong" style="display: none;"><strong><%= f.label t('lesson_plan.location') %></strong></td>
			<td class="bong" style="display: none;"><%= text_field_tag :new_location, @lesson_plan.try(:schedule_item).try(:location_desc), :size=>40 %></td>
		 </tr>
		<!--30March2013-Part A:Pre-selected data upon selection of schedule (start)-->
		<!--<tr>
			<td class="leftcol"><%#= f.label :intake_id %></td>
			<td><%#= f.collection_select :intake_id, Intake.all, :id, :programme_group_intake, :include_blank=> "Select Intake" %></td>
		</tr>
		<tr>
			<td class="leftcol"><%#= f.label :lecture_date %></td>
			<td><%#= f.date_select :lecture_date %></td>
		</tr>
		<tr>
			<td class="leftcol"><%#= f.label :start_time %></td>
			<td><%#= f.time_select :start_time, :minute_step => 15 %></td>
		</tr>
		<tr>
			<td class="leftcol"><%#= f.label :end_time %></td>
			<td><%#= f.time_select :end_time, :minute_step => 15 %></td>
		</tr>-->
		<!--1st choice-refer ...views/weeklytimetables/weeklytimetable_fields.html.erb-->
		<!--
		<%# aa=Programme.find(:all,:conditions=>['ancestry_depth=?',3], :order=>:combo_code) %>
		<%# @semester_subject_topic_list=[] %>
		<%# aa.each do |bb| %>
			<%## if bb.root_id == @lesson_plan.programme_id %>
				<%# @semester_subject_topic_list<< bb %> <
			<%## end %>
		<%# end %>
		<tr>
			<td class="leftcol"><%#= f.label :topic %></td>
			<td><%#= f.collection_select :topic, @semester_subject_topic_list, :id, :semester_subject_topic,:include_blank=> "Select Semester-Subject | Topic" %>
			</td>
		</tr>-->
		<!--30March2013-Part A:Pre-selected data upon selection of schedule (start)-->
	
		<!--30March2013-Part B:Newly key-in data (start)-->
		<tr>
			<td class="leftcol"><%= f.label t('lesson_plan.prerequisites') %></td>
			<td><%= f.text_field :prerequisites, :size =>51 %></td>
		</tr>
		<tr>
			<td class="leftcol"><label><%=t('lesson_plan.student_qty')%></label></td>
			<td><%= f.text_field :student_qty, :size=>11 %></td>
		</tr>    
		<tr>
			<td class="leftcol"><%= f.label t('lesson_plan.year')%></td>
			<td><%= f.select :year, 1..3, :include_blank => t('select') %></td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label t('lesson_plan.semester') %></td>
			<td><%= f.select :semester, 1..6, :include_blank => t('select') %></td>
		</tr>
		<!--
		<tr>
			<td class="leftcol"><%#= f.label :lecture_title %></td>
			<td><%#= f.text_field :lecture_title, :size =>51 %></td>
		</tr>-->
		<!--30March2013-Part B:Newly key-in data (end)-->

		<tr>
			<td class="leftcol"><%= f.label t('lesson_plan.reference') %></td>
			<td><%= f.text_area :reference, :size=> '50x5' %></td>
		</tr>
			<!--THIS ONE WILL SAVE TRAINING NOTES IN lesson_plans table instead of trainingnotes table.-->
			<tr>
				<td class="leftcol"><label for="data"><%=t('current_attachment')%></label></td>
				<td><% if @lesson_plan.data.exists? then %>
			    		<%= @lesson_plan.data_file_name %> &nbsp;&nbsp;&nbsp;
			    	<%= link_to (t 'document.download'), @lesson_plan.data.url %> ||
		        	<%= link_to "ALT", @lesson_plan.data.url %>
					<% @title_fr_trainingnotes = Trainingnote.find_by_timetable_id(@lesson_plan.schedule).title %>
			    <% else %>
			    	<%=t('no_attachment')%>
					<% @title_fr_trainingnotes ='' %>
		    	<% end %>
			</td>

			<tr>
				<td class="leftcol"><label for="data"><%=t('upload_change_file')%></label></td>
				<td><%= f.file_field :data %><BR>
				<%= f.text_field :title, :placeholder => t('lesson_plan.note_title'), :size => '50x1', :value=>@title_fr_trainingnotes %></td>
			</tr>
			<!--trial section : 20May2013-->
				<table width=100%>
					<tr>
						<td class="leftcol"><%=t('lesson_plan.add_exist_notes')%></td>
						<td>
							<div>
							<% f.fields_for :lesson_plan_trainingnotes do |builder| %>
								<%= render 'lesson_plan_trainingnote_fields', :f => builder %>
							<% end %>
							<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :lesson_plan_trainingnotes %> - <%=t('addmore')%> </p>
							</div></td>
					</tr>
					<!--
					<tr>
						<td class="leftcol">Add New Training Notes</td>
						<td>
							<div>Current file is : LUAR<%#=@lesson_plan.trainingnotes%>
							<%# f.fields_for :trainingnotes do |builder| %>
								<%#= render 'trainingnote_fields', :f => builder %>
							<%# end %>
							<p><%#= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :trainingnotes %> - Add More </p>
							</div></td>
					</tr>-->
				</table>
			<!--trial section : 20May2013-->
			<!--start-added for clarification-3Nov2013-->
			<tr>
				<td class="leftcol">&nbsp;</td>
				<td><%=t('lesson_plan.remark')%></td>
			</tr>
			<!--end-added for clarification-3Nov2013-->

		</table>

<BR>


<script type="text/javascript">

  if ($j('#lesson_plan_schedule option:selected').val()==0)
    $j('.bong').hide();
  else
    $j('.bong').show("appear");

  $j('#lesson_plan_schedule').change(function() {
    if($j(this).val() == "0") {
      $j('.bong').hide();
    }else {
      var yoyo = $j(this).find('option:selected').attr('data');
      var ansP = document.getElementById("new_location");
      ansP.value =yoyo;
      $j('.bong').show("appear");
    }
  });
  
</script>