<div class="fields">
	
	<table>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
			<td class="leftcol"><%= f.label :start_time %></td>
			<td><%= f.time_select :start_meth %>&nbsp;(Hours:Minutes)</td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label :end_time %></td>
			<td><%= f.time_select :end_meth %>&nbsp;(Hours:Minutes)</td>
		</tr>
	  	<tr>
			<td class="leftcol"><%= f.label :content %></td>
			<td><%= f.text_area :content, :size=> '50x5' %></td>
	 	<tr>
			<td class="leftcol"> <%= f.label :lecturer_activity %></td>
			<td><%= f.text_area :lecturer_activity,:size=> '50x5' %></td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label :student_activity %></td>
			<td><%= f.text_area :student_activity,:size=> '50x5' %></td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label :training_aids %></td>
			<td><%= f.text_area :training_aids,:size=> '50x5' %></td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label :evaluation %></td>
	    	<td><%= f.text_area :evaluation,:size=> '50x5' %></td>
		</tr>
		<tr>
			<td colspan="2">
				<%= f.hidden_field :lesson_plan_id %>
				<%= f.hidden_field :_destroy %><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>
			</td>
		</tr>		
	</table>
	<br>
</div>