<fieldset>
	<legend class='togvis'><%=t('lesson_plan.title')%> (<%=h @lesson_plan.schedule_item.try(:render_class_method) %>)</legend>
		<table width=85% >
			<tr>
				<td class="leftcol"><label><%=t('lesson_plan.lecturer')%> : </label></td>
				<td><%=h @lesson_plan.lessonplan_owner.name %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('lesson_plan.intake_id')%> : </label></td>
				<td>
					<% @weeklytmetabledetails = WeeklytimetableDetail.all.map(&:id).uniq %><!--added 31st October2013-->
					<% if @weeklytmetabledetails.include?(@lesson_plan.schedule) %><!--added 31st October2013-->
						Group <%=h @lesson_plan.schedule_item.weeklytimetable.schedule_intake.group_with_intake_name %>
						<%#=h @lesson_plan.lessonplan_intake.group_with_intake_name%>
					<% else %><!--added 31st October2013-->
						<font color=red><%=t('lesson_plan.schedule_removed')%>
					<% end %><!--added 31st October2013-->
				</td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('lesson_plan.student_qty')%> : </label></td>
				<td><%=h @lesson_plan.student_qty %></td>				
			</tr>	
			<tr>
				<td class="leftcol"><label><%=t('lesson_plan.year')%> : </label></td>
				<td>Year <%=h @lesson_plan.year %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('lesson_plan.semester')%> : </label></td>
				<td>Semester <%=h @lesson_plan.semester %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('lesson_plan.topic')%> : </label></td>
				<td>
					<% if @weeklytmetabledetails.include?(@lesson_plan.schedule) %><!--added 31st October2013-->
						<%=h @lesson_plan.schedule_item.weeklytimetable_topic.full_parent %>
						<%#=h @lesson_plan.lessonplan_topic.subject_with_topic %>
					<% else %> - 
					<% end %>
				</td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('lesson_plan.lecture_title')%> : </label></td>
				<td>
					<% if @weeklytmetabledetails.include?(@lesson_plan.schedule) %><!--added 31st October2013-->
						<%#=h @lesson_plan.lecture_title %>
						<%=t('lesson_plan.topic')%> <%=h @lesson_plan.schedule_item.weeklytimetable_topic.code %> - <%=h @lesson_plan.schedule_item.weeklytimetable_topic.name %>
					<% else %> -
					<% end %>
				</td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('lesson_plan.lecture_date')%> : </label></td>
				<td>
					<% if @weeklytmetabledetails.include?(@lesson_plan.schedule) %><!--added 31st October2013-->
						<%=h @lesson_plan.schedule_item.get_date_for_lesson_plan %>
					<% else %> -
					<% end %>
				</td>				
			</tr>	
			<tr>
				<td class="leftcol"><label><%=t('lesson_plan.location')%> : </label></td>
				<td><%=h @lesson_plan.schedule_item.location_desc%></td>				
			</tr>	
			<tr>
				<td class="leftcol"><label><%=t('lesson_plan.start_time')%> : </label></td>
				<td>
					<% if @weeklytmetabledetails.include?(@lesson_plan.schedule) %><!--added 31st October2013-->
						<%#=h @lesson_plan.start_time.strftime("%H:%M") %>
						<%=h @lesson_plan.schedule_item.get_start_time %>
					<% else %> -
					<% end %>
				</td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('lesson_plan.end_time')%> : </label></td>
				<td>
					<% if @weeklytmetabledetails.include?(@lesson_plan.schedule) %><!--added 31st October2013-->
						<%#=h @lesson_plan.end_time.strftime("%H:%M") %>
						<%=h @lesson_plan.schedule_item.get_end_time %>
					<% else %> -
					<% end %>
				</td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('lesson_plan.prerequisites')%> : </label></td>
				<td><%=h @lesson_plan.prerequisites %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('lesson_plan.objectives')%> : </label></td>
				<td>
					<%=h check_kin {simple_format(@lesson_plan.schedule_item.weeklytimetable_topic.topic_details.last.objctives)} %>	
					<%#=h check_kin {simple_format(@lesson_plan.lessonplan_topic.topic_details.last.objctives)} %>
				</td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('lesson_plan.reference')%> : </label></td>
				<td><%=h simple_format(@lesson_plan.reference) %></td>				
			</tr>
			<!--START-Added training notes listing-3Nov2013-->
			<tr>
				<td class="leftcol"><label><%=t('lesson_plan.training_notes')%> : </label></td>
				<% count=0%>
				<td><% for trainingnote in @lesson_plan.trainingnotes %>
						<%=count+=1%>-<%= trainingnote.title %> : <%=trainingnote.document_file_name%><br>
					<% end %>
				</td>				
			</tr>
			<!--END-Added training notes listing-3Nov2013-->
		</table>

		<table>
			<tr><td colspan="6" style="text-align:center;border-bottom: 1px solid black;"><b><%=t('lesson_plan.methodologies')%></b></td></tr>
				<tr>
					<td class="leftcol"><%=t('lesson_plan.time')%></td>
					<td class="leftcol"><%=t('lesson_plan.content_subtopic')%></td>
					<td class="leftcol"><%=t('lesson_plan.lecturer_activity')%></td>
					<td class="leftcol"><%=t('lesson_plan.student_activity')%></td>
					<td class="leftcol"><%=t('lesson_plan.training_aids')%></td>
					<td class="leftcol"><%=t('lesson_plan.evaluation')%></td>
				</tr>
				<% @lesson_plan.lessonplan_methodologies.each do |l| %>
				<tr>
					<td style="text-align:left;">
						<%= l.start_meth.strftime("%H:%M") %> - <%= l.end_meth.strftime("%H:%M %p") %>
						<br>(<%=h (((l.end_meth - l.start_meth )/60 ) % 60).to_i %> <%=t('time.minutes')%>) 
					</td>
					<td style="text-align:left;"><%= simple_format(l.content) %></td>
					<td style="text-align:left;"><%= simple_format(l.lecturer_activity) %></td>
					<td style="text-align:left;"><%= simple_format(l.student_activity) %></td>
					<td style="text-align:left;"><%= simple_format(l.training_aids) %></td>
					<td style="text-align:left;"><%= simple_format(l.evaluation) %></td>
				<tr>	
				<% end%>
		</table>		
</fieldset>
