<%= stylesheet_link_tag 'report', :media => "print" %>

	<form action="#">
			<script>
			document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");
			</script>
	</form>

<div class="A4potrait" >


<table class="tlong">
	<thead>
				<tr>
					<th class="bold-cap3" colspan=6><b>BPL.KKM.PK(T04D/09)</b></th>
				</tr>
				<tr><th colspan="6"><img border="0" src="/images/KM.jpg" alt="KKM" width="" height="70"/></th></tr>
				<tr>
					<th colspan="6" style="font-size: 14px; font-weight:bold; font-family: Arial, sans-serif; text-align:center; padding-bottom:1mm; ">KEMENTERIAN KESIHATAN MALAYSIA</th>
				</tr>
				<tr>
					<th colspan="6" style="font-size: 12px; font-weight:normal; font-family: Arial, sans-serif; text-align:center; padding-bottom:1mm; ">LAPORAN AKTIVITI PENGAJARAN DAN PEMBELAJARAN</th>
				</tr>
				<tr>
					<th colspan="3" class="htitle2"></th>
					<th colspan="3" class="htitle2">&nbsp;&nbsp;</th>
				</tr>
	</thead>
	<tbody>
				<tr>
					<td colspan="6">
					<table width=80% style="padding-left:100px;">
						<tr>
						<td class="bbb"><% if @lesson_plan.schedule_item.lecture_method == 1 %>&#10003;<% end %>&nbsp;</td>
						<td style="font-size: 12px; font-weight:normal; font-family: Arial, sans-serif; text-align:center; padding-bottom:1mm; ">KULIAH</td>
						<td class="bbb"><% if @lesson_plan.schedule_item.lecture_method == 2 %>&#10003;<% end %>&nbsp;</td>
						<td style="font-size: 12px; font-weight:normal; font-family: Arial, sans-serif; text-align:center; padding-bottom:1mm; ">TUTORIAL</td>
						<td class="bbb"><% if @lesson_plan.schedule_item.lecture_method == 3 %>&#10003;<% end %>&nbsp;</td>
						<td style="font-size: 12px; font-weight:normal; font-family: Arial, sans-serif; text-align:center; padding-bottom:1mm; " >AMALI</td>
						</tr>
					</table>
					</td>
				</tr>
				<tr><td colspan="6" style="height:25px;"></tr>
				<tr>
					<td colspan="1" class="aaab">Nama Pengajar</th>
					<td colspan="5" class="aaa">: <%= @lesson_plan.lessonplan_owner.name %></th>
				</tr>
				<tr>
					<td colspan="1" class="aaab">Bidang Subjek</td>
					<td colspan="5"class="aaa">: <%=h @lesson_plan.schedule_item.weeklytimetable_topic.full_parent %><%#=h @lesson_plan.lessonplan_topic.parent.code %></td>
				</tr>
				<tr>
					<td colspan="1" class="aaab">Topik</td>
					<td colspan="5" class="aaa">: <%=h @lesson_plan.schedule_item.weeklytimetable_topic.name %><%#=h @lesson_plan.lessonplan_topic.name %></td>
				</tr>
				<tr>
					<td colspan="1" class="aaab">Tarikh (Mengikut jadual)</td>
					<td colspan="5"class="aaa">: <%=h @lesson_plan.schedule_item.get_date_for_lesson_plan %></td>
				</tr>
				<tr>
					<td colspan="1" class="aaab">Masa</td>
					<td colspan="5" class="aaa">: <%=h @lesson_plan.schedule_item.get_start_time %> - <%=h @lesson_plan.schedule_item.get_end_time %><%#=h @lesson_plan.start_time.strftime("%H:%M") %><!-- - --><%#=h @lesson_plan.end_time.strftime("%H:%M") %> </td>
				</tr>
				<tr>
					<td colspan="1" class="aaab">Tahun dan Semester Pelatih</td>
					<td colspan="5"class="aaa">: Tahun <%=h @lesson_plan.year %> Semester <%=h @lesson_plan.semester %></td>
				</tr>
				<tr>
					<td colspan="1" class="aaab">Bilik / Kelas / Makmal</td>
					<td colspan="5"class="aaa">: <%=h @lesson_plan.schedule_item.weeklytimetable_location.name %></td>
				</tr>
				<tr>
					<td colspan="2"> &nbsp;</th>
					<td colspan="4">&nbsp;</th>
				</tr>
				<tr style="height:40px;">
					<td class="no">i. </td>
					<td class="descb">Keadaan kelas (tandakan)</td>
					<td>
						<table><tr><td class="small_box">&#10003;</td></tr></table>
					</td>
					<td colspan="3"></td>
				</tr>
			
			
				<tr>
					<td>&nbsp;</td>
					<td>
						<table><tr><td class="small_box"><%if @lesson_plan.condition_isgood == true %>&#10003;<% end %></td></tr></table>
					</td>
					<td class="desc"> Memuaskan</td>
					<td colspan="3"></td>
				</tr>
				<tr style="height:40px;">
					<td>&nbsp;</td>
					<td>
						<table><tr><td class="small_box"><% if @lesson_plan.condition_isnotgood == true %>&#10003;<% end %>&nbsp;</td></tr></table>
					</td>
					<td colspan="4" class="desc"> Tidak Memuaskan<br><%=h @lesson_plan.condition_desc %></td>
				</tr>
				<tr>
					<td colspan="2"> &nbsp;</th>
					<td colspan="4" class="aaa"> <%=h @lesson_plan.condition_desc %></th>
				</tr>
				<tr style="height:40px;">
					<td class="no">ii. </td>
					<td class="descb">Peralatan (ABM)</td>
					<td colspan="4">&nbsp;</td>
				</tr>
				<tr>
					<td class="no">&nbsp; </td>
					<td class="desc"colspan="5"><%=h @lesson_plan.training_aids %></th>
				</tr>
				<tr>
					<td colspan="2"> &nbsp;</th>
					<td colspan="4">&nbsp;</th>
				</tr>
				<tr style="height:40px;">
					<td class="no">iii. </td>
					<td class="descb">Ulasan</td>
					<td class="desc" colspan="4">&nbsp;</td>
				</tr>

					<tr>
						<td>&nbsp;</td>
						<td class="desc" colspan="5"><%=h @lesson_plan.summary%></th>
					</tr>
					<tr>
						<td colspan="2"> &nbsp;</th>
						<td colspan="4">&nbsp;</th>
					</tr>
					<tr>
						<td class="aaab" colspan="6">Tandatangan Pengajar :</th>
					</tr>
					<tr style="height:50px;">
						<td colspan="2"> &nbsp;</th>
						<td colspan="4">&nbsp;</th>
					</tr>
					<tr>
						<td class="aaab" >Nama Pengajar :</td>
						<td class="desc"colspan="5"><%= @lesson_plan.lessonplan_owner.name%></td>
					</tr>
					<tr>
						<td colspan="2"> &nbsp;</th>
						<td colspan="4">&nbsp;</th>
					</tr>
					<tr>
						<td colspan="2"> &nbsp;</td>
						<td colspan="4">&nbsp;</td>
					</tr>
					<tr>
						<td class="aaab" colspan="6">Ulasan TPA/KP :</th>
					</tr><!--
					<tr>
						<td colspan="2"> &nbsp;</td>
						<td colspan="4">&nbsp;</td>
					</tr>-->
					<tr>
						<td class="aaa" colspan="6"><%=h @lesson_plan.report_summary %></td>
					</tr>
					<tr style="height:100px;">
						<td colspan="2" > &nbsp;</th>
						<td colspan="4">&nbsp;</th>
					</tr>
			
					<tr>
						<td class="aaa"><table><tr><td style="border-bottom:1px solid black;width:120px;"></td></tr></table></td>
						<td colspan="5"></td>
					</tr>
					<tr>
						
						<td class="aaa">Tandatangan</td>
						<td colspan="5">&nbsp;</td>
					</tr>
					<tr>
						<td class="aaa" colspan="2">TPA/KP <%=h @lesson_plan.endorser.name %></td>
						<td colspan="4" class="aaa">&nbsp;</td>
					</tr>	
					<tr>
						<td class="aaa" colspan="2">Tarikh :</td>
						<td colspan="4" class="aaa">&nbsp;</td>
					</tr>
	</tbody>
</table>
<br>
</div>