<%= stylesheet_link_tag 'report' %>
<!--A4Potrait-->

<form action="#">	
	<script>
	document.write("<input type='button' " +
	"onClick='window.print()' " +
	"class='printbutton' " +
	"value='<%=escape_javascript(t 'print')%>'/>");
	</script>
</form>
<div id="hideLink">
<%= link_to (t 'back'), lesson_plans_path %>
</div>
<div class="A4lanscape2">


<!-- Box Head -->
<div id="kewpaline">
<BR/>
<p class="bold-cap2" align="right">BPL.KKM.PK(T04D/09)</p>
<H4 align="center" class="heading"><img border="0" src="/images/KM.jpg" alt="KKM" width="" height="70"/><br>KEMENTERIAN KESIHATAN MALAYSIA<br>KOLEJ SAINS KESIHATAN BERSEKUTU JOHOR BAHRU<BR><BR></H4>
<!--<p class="marginleft" style="padding:0 0 0 20mm;"></i>
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i> </i>
</p> -->

<H4 align="center" class="heading">PELAN PENGAJARAN 
<% if @lesson_plan.schedule_item.lecture_method == 1 %>
      KULIAH
<% elsif @lesson_plan.schedule_item.lecture_method == 2 %>
      TUTORIAL
<% elsif @lesson_plan.schedule_item.lecture_method == 3 %>
      AMALI
<% end %>
</H4>
<table class="plong">	
	<tr>
		<td class="header7">Nama Pengajar</td>
		<td class="header9a"><%=h @lesson_plan.lessonplan_owner.name %></td>
	</tr>
	<tr>
		<td class="header7">Kumpulan Pelatih</td>
		<td class="header9">Kumpulan <%=h @lesson_plan.schedule_item.weeklytimetable.schedule_intake.group_with_intake_name %>
							<%#=h @lesson_plan.lessonplan_intake.group_with_intake_name%>
		</td>
	</tr>
	<tr>
		<td class="header7">Bilangan Pelatih</td>
		<td class="header9"><%=h @lesson_plan.student_qty %></td>
	</tr>
	<tr>
		<td class="header7">Tahun<br>Semester</td>
		<td class="header9">Tahun <%=h @lesson_plan.year %><br>Semester <%=h @lesson_plan.semester %></td>
	</tr>
	<tr>
		<td class="header7">Topik / Tajuk</td>
		<td class="header9">
			<%=h @lesson_plan.schedule_item.weeklytimetable_topic.full_parent %><br>
			<%=h @lesson_plan.schedule_item.weeklytimetable_topic.name %>
			<%#=h @lesson_plan.lessonplan_topic.subject_with_topic %><!--<br>--><%#=h @lesson_plan.lecture_title %>
		</td>
	</tr>
	<tr>
		<td class="header7">Tarikh & Masa</td>
		<td class="header9">
			<%=h @lesson_plan.schedule_item.get_date_for_lesson_plan %>
			(<%=h @lesson_plan.schedule_item.get_start_time %> - <%=h @lesson_plan.schedule_item.get_end_time %>)
			
			<%#=h @lesson_plan.lecture_date %> <!--
			(<%#=h @lesson_plan.start_time.strftime("%H:%M") %> - <%#=h @lesson_plan.end_time.strftime("%H:%M") %>) 
			(<%#=@lesson_plan.end_time.to_f-@lesson_plan.start_time.to_f%>)-->
		</td>
	</tr>
	<tr>
		<td class="header7">Pengetahuan Terdahulu<br><i>(Prerequisite)</i></td>
		<td class="header9"><%=h @lesson_plan.prerequisites %></td>
	</tr>
	<tr>
		<td class="objective">Objektif Pembelajaran</td>
		<td class="objective2"><%#= @lesson_plan.lessonplan_topic.topic_details.last.objctives %>
		<%=h check_kin {simple_format(@lesson_plan.schedule_item.weeklytimetable_topic.topic_details.last.objctives)} %></td>
	</tr>
	<tr>
		<td class="header9a">Rujukan</td>
		<td class="header10"><%=h simple_format(@lesson_plan.reference) %></td>
	</tr>

	<tr><td colspan="8" style="height:10px;">&nbsp;</td><tr>
		<tr><td colspan="8" style="height:10px;">&nbsp;</td><tr>
			<tr><td colspan="8" style="height:10px;">&nbsp;</td><tr>
				<tr><td colspan="8" style="height:10px;">&nbsp;</td><tr>
					<tr><td colspan="8" style="height:10px;">&nbsp;</td><tr></table>
<BR>
<!--table1-->

	

	
<!--<BR>-->
<!--add-in pelupusan/hapuskira utk kewpa2 harta modal 18dec2012-->


</div>	
</div>
<!--<BR>	<BR>	<BR>-->

</div>

<P CLASS="breakhere"><!--
<div class="A4landscape2">-->

	<div id="kewpaline">
	<BR/>
	<!--<p class="marginright" align="right"><b>KEW. PA-2</b></p>-->
	<!--<H4 align="center"><b>DAFTAR HARTA MODAL</b></H4>
	<H4 align="center"><b>BUTIR BUTIR PENAMBAHAN, PENGGANTIAN DAN NAIKTARAF</b></H4>
-->
	<!--<P align="center">BAHAGIAN B</P>-->


	<table class="plong">
		<tr><td colspan="6" class="header9ab">METHODOLOGI</td></tr>
		<tr>
			<td class="header9abc">Masa</td>
			<td class="header9abc">Isi kandungan/Sub topik</td>
			<td class="header9abc">Aktiviti Pengajar</td>
			<td class="header9abc">Aktiviti Pelatih</td>
			<td class="header9abc">Bahan & Alat Bantuan Mengajar</td>
			<td class="header9abcd">Penilaian</td>
		</tr>
		<% @lesson_plan.lessonplan_methodologies.each do |l| %>
		<tr>
			<td class="data6">
				<%= h l.start_meth.strftime("%H:%M") %> - <%= h l.end_meth.strftime("%H:%M %p") %>
				<br>(<%=h (((l.end_meth - l.start_meth )/60 ) % 60).to_i %> minutes) 
			</td>
			<td class="data6"><%= simple_format(l.content) %></td>
			<td class="data6"><%= simple_format(l.lecturer_activity) %></td>
			<td class="data6"><%= simple_format(l.student_activity) %></td>
			<td class="data6"><%= simple_format(l.training_aids) %></td>
			<td class="data7"><%= simple_format(l.evaluation) %></td>
		<tr>	
		<% end%>
		<tr><td colspan="6" style="height:30px;"></td></tr>
		<tr>
			<td></td>
			<td colspan="2" class="sign_prepare2">
				<span class="bold-cap"><%=h @lesson_plan.prepared_by? ? @lesson_plan.lessonplan_creator.name : '-' %></span><br>
				<%=h @lesson_plan.prepared_by? ? @lesson_plan.lessonplan_creator.position.name : '-' %><br>
				Kolej Sains Kesihatan Bersekutu Johor Bahru<br><br>
				Tarikh : <%=h  @lesson_plan.submitted_on? ? @lesson_plan.submitted_on.strftime('%d-%b-%Y') : "Not Submitted" %>
			</td>
			<td colspan="2">

			</td>
			<td colspan="3" class="sign_prepare2">
				<span class="bold-cap"><%=h @lesson_plan.endorsed_by? ? @lesson_plan.endorser.name : "-"  %></span><br>
				<%=h @lesson_plan.endorsed_by? ? @lesson_plan.endorser.position.name : "-"  %><br>
				Kolej Sains Kesihatan Bersekutu Johor Bahru<br><br>
				Tarikh : <%=h @lesson_plan.hod_approved_on? ? @lesson_plan.hod_approved_on.strftime('%d-%b-%Y') : "Not Approved" %>
			</td>
		</tr>
		<tr><td colspan="6" style="height:30px;"></td></tr>
</table>
</div>