<h3><%=t('lesson_plan.new')%></h3>

<% form_for(@lesson_plan, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
  		<%=render :partial => 'form', :locals => {:f => f} %> 
  		<%=render :partial => 'form_process', :locals => {:f => f} %>
	</div>
  <p>
    <%= f.submit t('create') %>
  </p>
<% end %>

<%= link_to t('back'), lesson_plans_path %>