<div class="tform">
	<%=render :partial => 'show_main' %>

	<% if @lesson_plan.report_submit == true %><!--will only appear when lesson plan report already submited-30March2013-->
		<%=render :partial => 'show_lessonplan_report'%>
	<% end %>
</div>

<% if (@lesson_plan.is_submitted == false && @lesson_plan.prepared_by == Login.current_login.staff_id) || (@lesson_plan.prepared_by == Login.current_login.staff_id && @lesson_plan.hod_rejected? == true && @lesson_plan.is_submitted != true) || (@lesson_plan.is_submitted == false) %>
	<%= link_to t('edit'), edit_lesson_plan_path(@lesson_plan) %> |
<% end %>

<% if @lesson_plan.hod_approved == true && @lesson_plan.report_submit != true && @lesson_plan.lecturer == Login.current_login.staff_id%><!--report_submit refers to submission of report-->
	<%= link_to t('lesson_plan.lesson_report'), :action => 'lessonplan_reporting', :id => @lesson_plan %> |
<% end %>

<%= link_to t('lesson_plan.back_to_lesson_plan'), lesson_plans_path %>

<% if @lesson_plan.report_submit == true %>
 	| <%= link_to t('lesson_plan.back_to_lesson_plan_report'), 	{:controller => 'lesson_plans',	:action => 'index_report'} %>
<% end %>
