<p>
  <%= f.label :name %><br />
  <%= f.text_field :name, :size => '40' %>
</p>
<p>
  <%= f.label :course_type %><br />
		<%= f.select :course_type,
	                 Ptcourse::COURSE_TYPE,
	                 :prompt => "Select" %>
	</p>
<p>
  <%= f.label :provider %><br />
	<%= f.collection_select :provider, Addbook.find(:all), :id, :name, :prompt => "Select" %>
</p>
<p>
  <%= f.label :duration %><br />
  <%= f.text_field :duration, :size => '5' %>
		<%= f.select :duration_type, Ptcourse::DUR_TYPE, :prompt => "Select" %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description, :size => '40x8' %>
</p>
<p>
  <%= f.label :cost %><br />
  <%= f.text_field :cost, :size => '5', :placeholder => 'RM' %>
</p>
<% permitted_to? :approve, :ptcourses do %>
<p>
  <%= f.label :approved %><br />
  <%= f.check_box :approved %>
</p>
<% end %>