<div class="tform">
<H2><%= t 'ptcourse.courses_details' %></H2>
<table width=100% >	
	<tr>
		<td class="leftcol"><label for="name"><%= t 'ptcourse.name' %>: </label></td>
		<td> <%= f.text_field :name, :size => '40' %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="course_type"><%= t 'ptcourse.course_type' %> : </label></td>
		<td><%= f.select :course_type,
		                 Ptcourse::COURSE_TYPE,
		                 :prompt => "Select" %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="provider"><%= t 'ptcourse.provider' %> : </label></td>
		<td><%= f.collection_select :provider_id, Addbook.find(:all), :id, :name, :prompt => "Select" %>
			<%= link_to image_tag("vcard_add.png", :border => 0, :title => 'Add Address'), new_addbook_path, :target => '_blank' %>
			</td>
	</tr>

	<tr>
		<td class="leftcol"><label for="duration"><%= t 'ptcourse.duration' %> : </label></td>
		<td><%= f.text_field :duration, :size => '5' %>
			<%= f.select :duration_type, Ptcourse::DUR_TYPE, :prompt => "Select" %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="description"><%= t 'ptcourse.description' %> : </label></td>
		<td><%= f.text_area :description, :size => '40x8' %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="cost"><%= t 'ptcourse.cost' %> : </label></td>
		<td><%= f.text_field :cost, :size => '5', :placeholder => 'RM' %></td>
	</tr>


    <% permitted_to? :approve, :ptcourses do %>

	<tr>
		<td class="leftcol"><label for="approved"><%= t 'ptcourse.approved' %>? : </label></td>
		<td><%= f.check_box :approved %></td>
	</tr>

<% end %>
</table>
</div>
