<h3><%= t 'ptcourse.edit' %></h3>

<% form_for(@ptcourse) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 
  
  <p>
    <%= f.submit (t 'icms.update') %>
  </p>
<% end %>

<%= link_to (t 'icms.show'), @ptcourse %> |
<%= link_to (t 'icms.back'), ptcourses_path %>