<h3><%= t 'ptcourse.edit' %></h3>

<% form_for(@ptcourse) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ptcourse %> |
<%= link_to 'Back', ptcourses_path %>