<h3><%= t 'ptcourse.new' %></h3>

<% form_for(@ptcourse) do |f| %>
  <%= f.error_messages %>

	<%=render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit (t 'create') %>
  </p>
<% end %>

<%= link_to (t 'back'), ptcourses_path %>