<div class="tform">
	<H2><%= t 'ptcourse.courses_details' %></H2>
	<table width=100% >	
		<tr>
			<td class="leftcol"><label for="name"><%= t 'ptcourse.name' %> : </label></td>
			<td> <%=h @ptcourse.name %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="course_type"><%= t 'ptcourse.course_type' %> : </label></td>
			<td><%=h (Ptcourse::COURSE_TYPE.find_all{|disp, value| value == @ptcourse.course_type}).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="provider"><%= t 'ptcourse.provider' %> : </label></td>
			<td><%=h @ptcourse.provider.blank? ? "" : @ptcourse.provider.name %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="duration"><%= t 'ptcourse.duration' %> : </label></td>
			<td><%=h @ptcourse.duration %> <%=h (Ptcourse::DUR_TYPE.find_all{|disp, value| value == @ptcourse.duration}).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="description"><%= t 'ptcourse.description' %> : </label></td>
			<td><%=h @ptcourse.description %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="cost"><%= t 'ptcourse.cost' %> : </label></td>
			<td><%=h ringgols(@ptcourse.cost) %></td>
		</tr>


	<% permitted_to? :approve, :ptcourses do %>
		<tr>
			<td class="leftcol"><label for="approved"><%= t 'ptcourse.approved' %>? : </label></td>
			<td> <%=h @ptcourse.approved? ? "Approved" : "Not Approved"  %></td>
		</tr>
	<% end %>
	</table>
</div>
<BR>

<%= link_to (t 'icms.update'), edit_ptcourse_path(@ptcourse) %> |
<%= link_to (t 'icms.back'), ptcourses_path %>