<p>
  <b>Name:</b>
  <%=h @ptcourse.name %>
</p>

<p>
  <b>Provider:</b>
  <%=h @ptcourse.provider %>
</p>

<p>
  <b>Duration:</b>
  <%=h @ptcourse.duration %>
</p>

<p>
  <b>Description:</b>
  <%=h @ptcourse.description %>
</p>

<p>
  <b>Approved:</b>
  <%=h @ptcourse.approved %>
</p>


<%= link_to 'Edit', edit_ptcourse_path(@ptcourse) %> |
<%= link_to 'Back', ptcourses_path %>