<div class="tform">
	<H2><%= t 'ptcourse.courses_details' %></H2>
<table width=100% border=0 cellspacing=0>	

	
	<tr>
		<td class="leftcol"><label for="name"><%= t 'ptcourse.name' %></label></td>
		<td width=2%><b>:</b></td>
		<td> <%=h @ptcourse.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name">Branch</label></td>
		<td width=2%><b>:</b></td>
		<td> <%=h @ptcourse.branch %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="course_type"><%= t 'ptcourse.course_type' %></label></td>
		<td><b>:</b></td>
		<td><%=h (Ptcourse::COURSE_TYPE.find_all{|disp, value| value == @ptcourse.course_type}).map {|disp, value| disp} %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="provider"><%= t 'ptcourse.provider' %></label></td>
		<td><b>:</b></td>
		<td><%=h @ptcourse.provider.blank? ? "" : @ptcourse.trainer.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="duration"><%= t 'ptcourse.duration' %> </label></td>
		<td><b>:</b></td>
		<td><%=h @ptcourse.duration %> <%=h (Ptcourse::DUR_TYPE.find_all{|disp, value| value == @ptcourse.duration_type}).map {|disp, value| disp} %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="provider">Allowance Speaker</label></td>
		<td width=2%><b>:</b></td>
		<td><%=h ringgols(@ptcourse.allowance_speaker) %> </td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="provider">Meals & Hospitality</label></td>
		<td width=2%><b>:</b></td>
		<td><%=h ringgols(@ptcourse.meals)%></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="description"><%= t 'ptcourse.description' %></label></td>
		<td><b>:</b></td>
		<td><%=h @ptcourse.description %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="cost"><%= t 'ptcourse.cost' %> </label></td>
		<td><b>:</b></td>
		<td> <%=h ringgols (@ptcourse.cost) %></td>
	</tr>


    <% permitted_to? :approve, :ptcourses do %>

	<tr>
		<td class="leftcol"><label for="approved"><%= t 'ptcourse.approved' %>?</label></td>
		<td><b>:</b></td>
		<td> <%=h @ptcourse.approved? ? "Approved" : "Not Approved"  %></td>
	</tr>

<% end %>
</table>
</div>
<BR>

<%= link_to (t 'icms.update'), edit_ptcourse_path(@ptcourse) %> |
<%= link_to (t 'icms.back'), ptcourses_path %>