<table width=100% >
	<tr>
		<td class="leftcol"><label for="report_code"><b><%= t 'asset_losses.report_code' %></b></label><font color="red"> * </font></td>
		<td><%= f.text_field :report_code %></td>
		<td></td>
	</tr>
	
	<%= f.hidden_field :loss_type, :value=> 'asset'  %>
	
	<tr>
		<td class="leftcol"><label for="asset_id"><b><%= t 'asset_losses.asset_id' %></b></label><font color="red"> * </font></td>
    <td>	<% if Asset.count(:all, :conditions => ['mark_as_lost is true']) == 0 %>
						No assets marked for loss
					<% else %>
	     			<%= f.collection_select :asset_id, Asset.find(:all, :conditions => ['mark_as_lost is true'], :order => :assetcode), :id, :code_asset, :include_blank => true %>
					<% end -%></td>
		<td></td>
	</tr>
	
	<tr id="cash_type" style="display: none;">
			<td class="leftcol"><label for="moneytype"><b><%= t 'asset_losses.moneytype' %></b></label></td>
			<td><%= f.select :cash_type, 
			                  AssetLoss::MONEY,
			                 :prompt => "Select"  %></td>
			<td></td>
	</tr>

	
	<tr>
		<td class="leftcolwide"><label for="location_id"><%= t 'asset_losses.location_id' %></label></td>
		<td><%= f.collection_select :location_id, Location.find(:all, :order => :combo_code), :id, :location_list, :include_blank => true %></td>
		<td class="pagenote"><%= t 'asset_losses.location_id_long' %></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><label for="lost_at"><b><%= t 'asset_losses.lost_at' %></b></label></td>
		<td><%= f.datetime_select :lost_at, :order => [:day, :month, :year] %></td>
		<td class="pagenote"><%= t 'asset_losses.lost_at_long' %></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><label for="how_desc"><b><%= t 'asset_losses.how_desc' %></b></label></td>
		<td><%= f.text_area :how_desc, :size => "50x4" %> </td>
		<td class="pagenote"><%= t 'asset_losses.how_desc_long' %><BR/><BR/></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><label for="last_handled_by"><b><%= t 'asset_losses.last_handled_by' %></b></label></td>
    <td><%= f.collection_select :last_handled_by, Staff.find(:all, :order => :name), :id, :name, :include_blank => true %></td>
		<td class="pagenote"><%= t 'asset_losses.last_handled_by_long' %></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><label for="is_prima_facie"><b><%= t 'asset_losses.is_prima_facie' %></b></label></td>
    <td><%= f.radio_button :is_prima_facie,'true' %><%=t('yes2')%>&nbsp; <%= f.radio_button :is_prima_facie,'false' %><%=t('no2')%></td>
		<td class="pagenote"><%= t 'asset_losses.is_prima_facie_long' %></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><label for="is_staff_action"><b><%= t 'asset_losses.is_staff_action' %></b></label></td>
    <td><%= f.radio_button :is_staff_action,'true', 	:id => 'is_staff_action_true'  %><%=t('yes2')%>&nbsp; 
				<%= f.radio_button :is_staff_action,'false', 	:id => 'is_staff_action_false' %><%=t('no2')%></td>
		<td class="pagenote"></td>
	</tr>
	
	<tr id="staff_action_partial_load" style="display: none;"></tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td></td>
	</tr>
	
</table>

<!--  Police Report Items -->
<H2><%=t('actions')%></H2>
<table  width=100%>
	<tr>
		<td class="leftcol"><label for="is_police_report_made"><b><%= t 'asset_losses.is_police_report_made' %>
			<SPAN  class="popo_report" style="display: none;">and Report No</b></label></td>
    <td><%= f.radio_button :is_police_report_made,'true' , :id => 'popo_report_true' , :class => 'radio_report' %><%=t('yes2')%> &nbsp;
				<%= f.radio_button :is_police_report_made,'false', :id => 'popo_report_false', :class => 'radio_report' %><%=t('no2')%> &nbsp; &nbsp; 
				
				<SPAN  class="popo_report" style="display: none;"><%= f.text_field :police_report_code, :placeholder => 'Police Report No' %></SPAN></td>
		<td class="pagenote"><%= t 'asset_losses.is_police_report_made_long' %></td>		
	</tr>
	
	<tr id="tr_why_no_report" style="display: none;">
		<td class="leftcol"><label for="why_no_report"><b><%= t 'asset_losses.why_no_report' %></b></label></td>
		<td><%= f.text_area :why_no_report, :size => "50x4" %></td>
		<td class="pagenote"><%= t 'asset_losses.why_no_report_long' %><BR/></td>
	</tr>
	
	<tr class="popo_report_" style="display: none;">
		<td class="leftcol"><label for="police_action_status"><b><%= t 'asset_losses.police_action_status' %></b></label></td>
		<td><%= f.text_area :police_action_status, :size => "50x4" %></td>
		<td class="pagenote"><%= t 'asset_losses.police_action_status_long' %><BR/></td>
	</tr>
		
	<tr>
		<td class="leftcol"><label for="preventive_measures"><b><%= t 'asset_losses.preventive_measures' %></b></label></td>
    <td><%= f.text_area :preventive_measures, :size => "50x4" %></td>
		<td class="pagenote"><%= t 'asset_losses.preventive_measures_long' %><BR/><BR/></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="new_measures"><b><%= t 'asset_losses.new_measures' %></b></label></td>
    <td><%= f.text_area :new_measures, :size => "50x4" %></td>
		<td class="pagenote"><%= t 'asset_losses.new_measures_long' %><BR/><BR/></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="surcharge_notes"><b><%= t 'asset_losses.notes' %></b></label></td>
    <td><%= f.text_area :notes, :size => "50x4" %></td>
		<td class="pagenote"><%= t 'asset_losses.notes_long' %><BR/><BR/></td>
	</tr>
	<tr>
	  <td class="leftcol"><label for="submit_for_appraisal1_on"><%=t('asset_losses.submit_to_hod')%></label></td>
		<td><%= f.check_box :is_submit_to_hod, :id => "submit_hod"%></td>
	</tr>
	<tr class="endorsement" style="display: none">
		<td class="leftcol"><label for="endorsed_hod_by"><b><%= t 'asset_losses.endorsed_hod_by' %></b></label></td>
		<td>
			<%= f.collection_select :endorsed_hod_by, Staff.find(:all, :conditions => ['id =?', Position.find(:first, :conditions=>['name=?', "Pengarah"]).staff_id]), :id, :name %>
		</td>
	</tr>
	
</table>


	
<script type="text/javascript">
	$j(document).ready(function(){ 
		  //Toggle Code for asset_type, show more details
			$j("input[class='lt']").each(function() {  
			 if($j('#rb').is(':checked')) { 
			    $j("#asset_list").show();
			  }else if ($j('#lc').is(':checked')){
			    $j("#cash_type").show();
			  }	else if($j('#ab').is(':checked')){
					// TODO : Partial for stationery
				}
			});
			
			$j("input[class='lt']").change(function() {  
			 if($j('#lc').is(':checked')) { 
			    $j("#asset_list").hide("slide"); 
					$j("#cash_type").show();
			  }else if ($j('#rb').is(':checked')){
			    $j("#cash_type").hide();
			    $j("#asset_list").show("slide"); 
			  }else if($j('#ab').is(':checked')){
				   $j("#cash_type").hide();
				   $j("#asset_list").hide("slide");
				}
			});
		
	
			//Toggle Code for ownership
			$j("input[class='radio_ownership']").each(function() {  
			 if($j('#ownership_state').is(':checked')) { 
			    $j("#span_value_state").show();
			  }else if ($j('#ownership_fed').is(':checked')){
			    $j("#span_value_federal").show();
			  }	else if($j('#ownership_both').is(':checked')){
					$j("#span_value_state").show();
					$j("#span_value_federal").show();
				}
			});
			
			$j("input[class='radio_ownership']").change(function() {  
			 	if($j('#ownership_state').is(':checked')) { 
				    $j("#span_value_state").show("slide");
						$j("#span_value_federal").hide();
				  }else if ($j('#ownership_fed').is(':checked')){
				    $j("#span_value_state").hide();
						$j("#span_value_federal").show("slide");
				  }	else if($j('#ownership_both').is(':checked')){
						$j("#span_value_state").show("slide");
						$j("#span_value_federal").show("slide");
					}
			});
			
			//TODO : Need to creat partial for staff action.
			$j("input[id='is_staff_action_true']").change(function() {  
	      $j("#staff_action_partial_load").show("slide"); 
	    } );
			$j("input[id='is_staff_action_false']").change(function() {  
	      $j("#staff_action_partial_load").hide(); 
	    } );
			
			//Police Report Actions
			$j("input[class='radio_report']").each(function() {  
			 if($j('#popo_report_false').is(':checked')) { 
			    $j(".popo_report").hide("highlight"); 
		      $j("#tr_why_no_report").show("highlight");
			  }else if ($j('#popo_report_true').is(':checked')){
		      $j(".popo_report").show("highlight"); 
		      $j("#tr_why_no_report").hide("highlight");
			  }	
			});
			
			$j("input[class='radio_report']").change(function() {  
			 	if($j('#popo_report_false').is(':checked')) { 
			    $j(".popo_report").hide("highlight"); 
		      $j("#tr_why_no_report").show("highlight");
			  }else if ($j('#popo_report_true').is(':checked')){
		      $j(".popo_report").show("highlight"); 
		      $j("#tr_why_no_report").hide("highlight");
			  }
			});
		
	
			//Rule Breaking Actions
			$j("input[class='radio_rulesbroken']").each(function() {  
			 if($j('#rules_broke_true').is(':checked')) { 
		      $j(".tr_rules_broken_desc").show("highlight"); 
					$j(".tr_preventive_action_dept").hide("highlight");
			  }else if ($j('#rules_broke_false').is(':checked')){
		      $j(".tr_rules_broken_desc").hide("highlight");
		 			$j(".tr_preventive_action_dept").show("highlight");
			  }	
			});
			
			$j("input[class='radio_rulesbroken']").change(function() {  
			 	if($j('#rules_broke_true').is(':checked')) { 
			      $j(".tr_rules_broken_desc").show("highlight"); 
						$j(".tr_preventive_action_dept").hide("highlight");
				  }else if ($j('#rules_broke_false').is(':checked')){
			      $j(".tr_rules_broken_desc").hide("highlight");
			 			$j(".tr_preventive_action_dept").show("highlight");
				  }
			});
			
			//submit to HOD - ready for viewing
			$j("input[id='submit_hod']").each(function(){
			      if($j('#submit_hod').is(':checked')){
				    $j('.endorsement').show();
			      }
			      else {
				    $j('.endorsement').hide();
			      }
			});
			$j("input[id='submit_hod']").change(function(){
			      if($j('#submit_hod').is(':checked')){
				    $j('.endorsement').show();
			      }
			      else {
				    $j('.endorsement').hide();
			      }
			});
	});
</script>