<fieldset>
	<legend class='togvis'>Asset Loss Management - Initial</legend>
		<table width=100%>



<tr>
		<td class="leftcol"><label for="loss_type"><b><%= t 'asset_losses.loss_type' %> :</b></label></td>
		<td><%=h @asset_loss.loss_type %>
			  <% if @asset_loss.loss_type == "Asset" %>
				<BR><%= @asset_loss.asset_details %><% end -%></td>
</tr>

<tr>
	<td class="leftcol"><label for="purchasedate"><b>Purchase Date :</b></label></td>
	<td><%#= tarikh(@asset_loss.asset.purchasedate) %><%=h check_kin {tarikh(@asset_loss.asset.purchasedate)} %></td>
</tr>

<tr>
	<td class="leftcol"><label for="est_value"><b><%= t 'asset.purchaseprice' %> :</b></label></td>
	<td><%#=h ringgols(@asset_loss.asset.purchaseprice) %><%=h check_kin {ringgols(@asset_loss.asset.purchaseprice)} %></td>
</tr>

<tr>
	<td class="leftcol"><label for="location_id"><b><%= t 'asset_losses.location_id' %> :</b></label></td>
	<td><%=h check_kin {@asset_loss.location.location_list} %></td>
</tr>

<tr>
	<td class="leftcol"><label for="lost_at"><b><%= t 'asset_losses.lost_at' %> :</b></label></td>
	<td><%=h @asset_loss.lost_at.strftime("%I:%M%p  %d-%b-%Y") unless @asset_loss.lost_at.blank? %></td>
</tr>

<tr>
	<td class="leftcol"><label for="how_desc"><b><%= t 'asset_losses.how_desc' %> :</b></label></td>
	<td><%=h @asset_loss.how_desc %></td>
</tr>

<tr>
	<td class="leftcol"><label for="last_handled_by"><b><%= t 'asset_losses.last_handled_by' %> :</b></label></td>
			    <td><%= check_kin {@asset_loss.handled_by.staff_name_with_position } %></td>
</tr>

<tr>
	<td class="leftcol"><label for="is_prima_facie"><b><%= t 'asset_losses.is_prima_facie' %> :</b></label></td>
			    <td><%=h @asset_loss.is_prima_facie? ? "Yes" : "No" %></td>
</tr>

<tr>
	<td class="leftcol"><label for="is_staff_action"><b><%= t 'asset_losses.is_staff_action' %>?:</b></label></td>
			    <td><%=h @asset_loss.is_staff_action? ? "Yes" : "No" %></td>
</tr>

<tr>
	<td class="leftcol"><label for="is_police_report_made"><b><%= t 'asset_losses.is_police_report_made' %> :</b></label></td>
			    <td><%=h @asset_loss.is_police_report_made? ? ("Yes, Police Report No :" +  @asset_loss.police_report_code ) : "No" %></td>
</tr>

<tr>
	<td class="leftcol"><label for="preventive_measures"><b><%= t 'asset_losses.preventive_measures' %> :</b></label></td>
	<td><%=h @asset_loss.preventive_measures %></td>
</tr>

<tr>
	<td class="leftcol"><label for="new_measures"><b><%= t 'asset_losses.new_measures' %> ?:</b></label></td>
	<td><%=h @asset_loss.new_measures %></td>
</tr>

<tr>
	<td class="leftcol"><label for="remarks"><b><%= t 'asset_losses.notes' %> :</b></label></td>
	<td><%=h @asset_loss.notes %></td>
</tr>	
			</table></fieldset>