<fieldset>
	<legend class='togvis'>Asset Loss Management - Details</legend>
		<table width=100%>
			<tr>
				<td class="leftcolwide"><label for="reportcode"><b><%= t 'asset_losses.report_code' %> :</b></label></td>
				<td><%=h @asset_loss.report_code %></td>
			</tr>

			<tr>
				<td class="leftcolwide"><label for="hod_id"><b><%= t 'asset_losses.endorsed_hod_by' %> :</b></label></td>
				<td><%=h @asset_loss.hod_details %></td>
			</tr>

			<tr>
				<td class="leftcolwide"><label for="hodendorsedt"><b><%= t 'asset_losses.hodendorsedt' %> :</b></label></td>
				<td><%=h l(@asset_loss.endorsed_on) unless @asset_loss.endorsed_on.blank? %></td>
			</tr>
		</table>
</fieldset>