<% form_for(@asset_loss) do |f| %>
  <%= f.error_messages %>
  <div class="tform">
	
		<% if @asset_loss.is_submit_to_hod == false %>
		<H2>Edit <%= t 'asset_losses.assetloses_details' %></H2>
				<%=render :partial => 'form', :locals => {:f => f} %> 

		
		<% elsif @asset_loss.is_submit_to_hod == true && @asset_loss.endorsed_on.blank? == true && User.current_user.staff.position.code == "1" %>
		<%= render :partial => 'show_asset_details' %>
		<%= render :partial => 'show_loss_initial' %>
		<%= render :partial => 'endorse_hod', :locals => {:f => f} %>
		
		<% else %>
		else text
		<% end %>
	</div>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @asset_loss %> |
<%= link_to 'Back', asset_losses_path %>