<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Asset Writeoff</h2>
	</div>
</div>

<div class="tlist">				<!--update_multiple_grades_path-->
<% form_for :asset_loss, :url => update_multiple_asset_losses_path, :html => {:method => :put} do |f| %>
	<table>
		<tr>
			<th colspan=2>Treasury Approval</th>
		</tr>	
		<tr>
			<td>
				Reference No :
			</td>
			<td>
				<%= f.collection_select :document_id, Document.find(:all), :id, :refno %>
			</td>	
		</tr>
	</table>
	<br>
	<table>
		<tr>
			<th>Asset</th>
			<th>Name</th>
		</tr>

			
			
		<% @asset_losses.each_with_index do |asset_loss, no| %>
		<%# @asset_losses.sort_by{|x|x.asset.assetcode}.each_with_index do |asset_loss, no| %>
		<%# @asset_losses.sort_by{|x|x.studentgrade.name}.each_with_index do |asset_loss, no| %>
			
			<tr>
				<%= hidden_field_tag "asset_loss_ids[]", asset_loss.id %>
				<td><%=asset_loss.asset.assetcode%></td>
				<td><%=asset_loss.asset.name %></td>
			</tr>
		
		<% end %>
	</table>
	
	<br>
	<%= f.submit "Submit" %>

<% end %>
<br>