<div class="box">
	<div class="box-head">
		<h2 class="left"><%= t 'asset_losses.list' %></h2>
	</div>
</div>

<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => 'Register Loss/Write Off') + "New", new_asset_loss_path %></p>
</div>


<div class="indextable">
	<table>
		<tr>
		    <th><%= t 'asset_losses.losstype' %></th>
		    <th><%= t 'asset_losses.estvalue' %></th>
		    <th><%= t 'asset_losses.asset_id' %></th>
		    <th><%= t 'asset_losses.location_id' %></th>
		    <th><%= t 'asset_losses.lost_at' %></th>
		    <th colspan=3 class="ac">Control</th>
  	</tr>

		<% @asset_losses.each do |asset_loss| %>
	  <tr>
	    <td><%=h asset_loss.loss_type %></td>
	    <td align='center'><%=h ringgols(asset_loss.est_value) %></td>
	    <td><%=h asset_loss.item_name %></td>
	    <td><%=h asset_loss.location_details %></td>
	    <td><%=h asset_loss.lost_at.strftime('%d %b %Y - %H:%M') unless asset_loss.lost_at.nil? %></td>
	    <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => asset_loss %></td>
	    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => asset_loss %></td>
	    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), asset_loss, :confirm => 'Are you sure?', :method => :delete %></td>   
	  </tr>
		<% end %>
	</table>
</div>

<br />

<%= link_to 'New asset_loss', new_asset_loss_path %>