<div class="box">
	<div class="box-head">
		<h2 class="left"><%= t 'asset_losses.list' %></h2>
	</div>
</div>
<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => (t 'asset_losses.new')) + (t 'asset_losses.new'), new_asset_loss_path %></p>
</div>
<BR><BR>
<div class="indextable">
	<% form_tag edit_multiple_asset_losses_path, :id => "form1" do %>
	
		<table>
			<tr>
				<th>&nbsp;</th>
		    	<th><%= t 'asset_losses.loss_type' %></th>
		    	<th><%= t 'asset_losses.estvalue' %></th>
		    	<th><%= t 'asset_losses.asset_id' %></th>
		    	<th><%= t 'asset_losses.location_id' %></th>
		    	<th><%= t 'asset_losses.lost_at' %></th>
				<th>Treasury Approval Ref No</th>
		    	<th colspan=5 class="ac">Control</th>
  			</tr>
			
			<% @asset_losses_group_writeoff.each do |document_id, asset_losses|%>
				<tr>
					<td colspan=11 style="background-color:#EFF1F1;">
						<%= asset_losses[0].document_id.blank? ? "<span style='color:red;'>Treasury Approval - Pending</span>" : "<span style='color:#218AFB;'>Approval Letter : "+Document.find(document_id).doc_details_date+"</span>" %>
					</td>
					<td style="background-color:#EFF1F1;">
						<% if asset_losses[0].document_id.blank? %>
						<% else %>
							<div class="noti_Container">
								<%= link_to image_tag("printer.png", :border => 0, :title => 'KEW.PA-31'), :action => 'kewpa31', :id=> asset_losses[0].document_id %>
								<div class="noti_bubble">31</div>
							</div>
						<% end %>
					</td>
				</tr>
			<%# @asset_losses.each do |asset_loss| %>
			<% asset_losses.each do |asset_loss| %>
			<tr>
				<td><%= check_box_tag "asset_loss_ids[]", asset_loss.id, :class => "check" %></td>
	    		<td><%=h asset_loss.loss_type.capitalize %></td>
	    		<td align='center'><%=h ringgols(asset_loss.est_value) %></td>
	    		<td><%=h asset_loss.item_name %></td>
	    		<td><%=h asset_loss.location_details %></td>
	    		<td><%=h asset_loss.lost_at.strftime('%d %b %Y - %H:%M') unless asset_loss.lost_at.nil? %></td>
				<td><%=h asset_loss.is_writeoff? ? asset_loss.document.refno : ""%></td>
	    		<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => asset_loss %></td>
				<td width=10px>
					<% if asset_loss.is_submit_to_hod == false %>
	    				<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => asset_loss %>
					<% elsif asset_loss.is_submit_to_hod == true && asset_loss.endorsed_on.blank? == true && Login.current_login.staff.position.code == "1" %>
						<%= link_to image_tag("approval.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => asset_loss %>
					<% end %>
				</td>
				<td class="action">
					<div class="noti_Container">
						<%= link_to image_tag("printer.png", :border => 0, :title => 'KEW.PA-28'), :action => 'kewpa28', :id => asset_loss %>
						<div class="noti_bubble">28</div>
					</div>
				</td>	
				<td class="action">
					<% if asset_loss.is_submit_to_hod == true && asset_loss.endorsed_on.blank? == false %>
						<div class="noti_Container">
							<%= link_to image_tag("printer.png", :border => 0, :title => 'KEW.PA-30'), :action => 'kewpa30', :id => asset_loss %>
							<div class="noti_bubble">30</div>
						</div>
					<% end %>
				</td>	
	    
	
				<!--add-in KEWPA31 link--><!--
				<td class="action">
					<%# if asset_loss.is_submit_to_hod == true && asset_loss.endorsed_on.blank? == false && asset_loss.is_writeoff == true %>
						<div class="noti_Container">
							<%#= link_to image_tag("printer.png", :border => 0, :title => 'KEW.PA-31'), :action => 'kewpa31', :id => asset_loss %>
							<div class="noti_bubble">31</div>
						</div>
					<%# end %>
				</td>-->
				<!--add-in KEWPA31 link-->
				
				<td width=10px>
					<%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), asset_loss, :confirm => 'Are you sure?', :method => :delete %>
				</td>   
	  		</tr>
			<% end %>
			
			<% end %><!--end for - @asset_losses_group_writeoff-->
		</table>

</div>
<br>
		<div class="left">
			<!-- ref: http://railsforum.com/viewtopic.php?id=2151 rleblic2007-10-25 08:43:07 -->
			<!--http://www.ryboe.com/2008/07/10/select-all-checkboxes-with-prototype-js.html -->
			<input id="check_all" name="check_all" type="checkbox" checked="checked" onclick="
			Form.getInputs('form1', 'checkbox').each(function(box){box.checked = $('check_all').checked})" />
			<b>Check/Uncheck 				all</b>&nbsp;&nbsp;
		</div>

		<%= submit_tag "Write Off Checked", :name => :grade_submit_button %>
		<font size=-2>Select single / multiple records to update write-off certificate (according to Treasury Approval letter).</font>
	
	<% end %><!--end for-form_tag edit_multiple_asset_losses_path-->
<br><br>
<%= link_to  (t 'asset_losses.new'), new_asset_loss_path %>