<%= stylesheet_link_tag 'report', :media => "print" %>

<form action="#">	
<script>
document.write("<input type='button' " +
"onClick='window.print()' " +
"class='printbutton' " +
"value='Print This Page'/>");
</script>
</form>	
<div class="A4potrait_paged">
<!-- Box Head -->
<div id="kewpa">
<p class="marginright" align="right"><b>KEW. PA-30</b></p><BR/>
<H4 align="center"><b>LAPORAN AKHIR KEHILANGAN ASET ALIH KERAJAAN</b></H4>

<table class="textform">
	<tr>
		<td>Nyatakan :-<BR/><BR/></td>
		<td></td>
	</tr>
	
	<tr>
		<td>1.</td>
		<td>Keterangan Aset Yang Hilang</td>
	</tr>
	
	<tr>
		<td></td>
		<td>(a) &nbsp; &nbsp; &nbsp; Jenis Aset : <SPAN class="filler"><%= @asset_loss.asset.typename %></SPAN></td>
	</tr>
	
	<tr>
		<td></td>
		<td>(b) &nbsp; &nbsp; &nbsp; Jenama dan Model : <SPAN class="filler"><%= @asset_loss.asset.name %> <%= @asset_loss.asset.modelname %></SPAN></td>
	</tr>
	
	<tr>
		<td></td>
		<td>(c) &nbsp; &nbsp; &nbsp; Kuantiti : <SPAN class="filler">1</SPAN></td>
	</tr>
	
	<tr>
		<td></td>
		<td>(d) &nbsp; &nbsp; &nbsp; Tarikh Perolehan : <SPAN class="filler"><%= l(@asset_loss.asset.purchasedate) %></SPAN></td>
	</tr>
	
	<tr>
		<td></td>
		<td>(e) &nbsp; &nbsp; &nbsp; Harga Perolehan Asal : <SPAN class="filler"><%= ringgols(@asset_loss.asset.purchaseprice) %></SPAN><BR/><BR/></td>
	</tr>
	
	<tr>
		<td>2.</td>
		<td>Perihal Kehilangan</td>
	</tr>
	
	<tr>
		<td></td>
		<td>(a) &nbsp; &nbsp; &nbsp; Tarikh diketahui &nbsp; &nbsp; &nbsp; <SPAN class="filler"><%= check_kin {@asset_loss.lost_at.strftime('%d %B %Y')} %></SPAN></td>
	</tr>
	
	<tr>
		<td></td>
		<td>(b) &nbsp; &nbsp; &nbsp; Tarikh sebenar berlaku &nbsp; &nbsp; &nbsp; <!--<SPAN class="filler"><%= check_kin {@asset_loss.lost_at.strftime('%d %B %Y')} %></SPAN>--></td>
	</tr>
	
	<tr>
		<td></td>
		<td>(c) &nbsp; &nbsp; &nbsp; Tempat Kejadian &nbsp; &nbsp; &nbsp; <SPAN class="filler"><%= check_kin {@asset_loss.location.location_list} %></SPAN></td>
	</tr>
	
	<tr>
		<td></td>
		<td>(d) &nbsp; &nbsp; &nbsp; Bagaimana kehilangan diketahui &nbsp; &nbsp; &nbsp; <SPAN class="filler"><%= @asset_loss.how_desc %></SPAN></td>
	</tr>
	
	<tr>
		<td></td>
		<td>(e) &nbsp; &nbsp; &nbsp; Bagaimana kehilangan berlaku &nbsp; &nbsp; &nbsp; <SPAN class="filler"><%#= @asset_loss.how_desc %></SPAN><BR/><BR/></td>
	</tr>
	
	<tr>
		<td>3.</td>
		<td>Sama asa Laporan Hasil Penyiasatan Polis telah diterima. <BR/>
			  Jika ada, sila sertakan &nbsp; &nbsp; &nbsp; <SPAN class="filler"><%= @asset_loss.police_report_code %>:</SPAN><BR/><BR/></td>
	</tr>
	
	<tr>
		<td>4.</td>
		<td>(a) &nbsp; &nbsp; &nbsp; Nama pegawai yang:</td>
	</tr>
	
	<tr>
		<td></td>
		<td>&nbsp; &nbsp; &nbsp; (i) &nbsp; &nbsp; &nbsp; Secara langsung menjaga aset tersebut<BR/><BR/><BR/><BR/></td>
	</tr>
	
	<tr>
		<td></td>
		<td>&nbsp; &nbsp; &nbsp; (ii) &nbsp; &nbsp; &nbsp;Bertanggungjawab sebagai penyelia.<BR/><BR/><BR/><BR/></td>
	</tr>
	
	<tr>
		<td></td>
		<td>&nbsp; &nbsp; &nbsp; (iii) &nbsp; &nbsp; Bertanggungjawab ke atas kehilangan itu.<BR/><BR/><BR/><BR/></td>
	</tr>
	
	
</table><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/></div></div>

<P CLASS="breakhere">
<div class="A4potrait_paged">
	<div id="kewpa">

	<table class="textform">

		<tr>
			<td>4.</td>
			<td>(b)</td>
			<td>Mengenai setiap pegawai di atas, nyatakan:-</td>
		</tr>

		<tr>
			<td></td>
			<td></td>
			<td>(i) &nbsp; &nbsp; &nbsp; Jawatan hakiki pada masa kehilangan</td>
		</tr>

		<tr>
			<td></td>
			<td></td>
			<td>(ii) &nbsp; &nbsp; &nbsp;Tugasnya (sertakan senarai tugas).</td>
		</tr>

		<tr>
			<td></td>
			<td></td>
			<td>(iii) &nbsp; &nbsp; Taraf Jawatan (sama ada tetap /dalam percubaan /sementara /kontrak)</td>
		</tr>
		
		<tr>
			<td></td>
			<td></td>
			<td>(iv) &nbsp; &nbsp; &nbsp;Sama ada ditahan kerja atau digantung kerja. Jika ada nyatakan
					<BR/> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;tarikh kuatkuasa hukuman.</td>
		</tr>
		
		<tr>
			<td></td>
			<td></td>
			<td>(v) &nbsp; &nbsp; &nbsp; Tarikh bersara atau penamatan perkhidmatan</td>
		</tr>
		
		<tr>
			<td></td>
			<td></td>
			<td>(vii) &nbsp; &nbsp; &nbsp;Sama ada pernah melakukan apa-apa kesalahan dan
			hukumannya. <BR/> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(Jika ada, berikan butir-butir ringkas dan rujukannya)</td>
		</tr>
		
		<tr>
			<td></td>
			<td></td>
			<td>(vii) &nbsp; &nbsp; Maklumat lain, jika ada.<BR/><BR/></td>
		</tr>
		
		<tr>
			<td>5.</td>
			<td colspan=2>Nyatakan adakah Tatacara Pengurusan Aset Alih Kerajaan, Arahan Keselamatan Kerajaan atau arahan lain termasuk 
				langkah berjaga-jaga yang tidak dipatuhi atau diikuti. Jika ada nyatakan peraturan atau arahan tersebut.<BR/><BR/><BR/></td>
		</tr>
		
		<tr>
			<td>6.</td>
			<td colspan=2>Apakah langkah-langkah yang telah diambil untuk mencegah berulangnya kejadian ini.<BR/><BR/><BR/></td>
		</tr>
		
		<tr>
			<td>7.</td>
			<td colspan=2>Rumusan Siasatan<BR/><BR/><BR/></td>
		</tr>
		
		<tr>
			<td>8.</td>
			<td colspan=2>Nyatakan sama ada surcaj atau tatatertib patut dikenakan atau tidak dengan memberikan justifikasi.<BR/><BR/><BR/></td>
		</tr>
	</table>
	
	<table class="textform">

		<tr>
			<td>Tandatangan</td>
			<td>:</td>
			<td>...............................(Pengerusi)</td>
		</tr>
		<tr>
			<td>Nama</td>
			<td>:</td>
			<td>..........................................</td>
		</tr>
		<tr>
			<td>Jawatan</td>
			<td>:</td>
			<td>..........................................</td>
		</tr>
		<tr>
			<td>Tarikh</td>
			<td>:</td>
			<td>..........................................</td>
		</tr>
		
	</table>
	
</div></div>
<P CLASS="breakhere">
<div class="A4potrait_paged">
	<div id="kewpa">

	<table class="textform">
		<tr>
			<td>Tandatangan</td>
			<td>:</td>
			<td>...............................(Ahli)</td>
		</tr>
		<tr>
			<td>Nama</td>
			<td>:</td>
			<td>..........................................</td>
		</tr>
		<tr>
			<td>Jawatan</td>
			<td>:</td>
			<td>..........................................</td>
		</tr>
		<tr>
			<td>Tarikh</td>
			<td>:</td>
			<td>..........................................<BR/><BR/></td>
		</tr>
		
		<tr>
			<td>Tandatangan</td>
			<td>:</td>
			<td>...............................(Ahli)</td>
		</tr>
		<tr>
			<td>Nama</td>
			<td>:</td>
			<td>..........................................</td>
		</tr>
		<tr>
			<td>Jawatan</td>
			<td>:</td>
			<td>..........................................</td>
		</tr>
		<tr>
			<td>Tarikh</td>
			<td>:</td>
			<td>..........................................</td>
		</tr>
		
	</table>
	
	
	<table class="textform">
		<tr>
			<td>9.</td>
			<td>Syor dan Ulasan Pegawai Pengawal :-<BR/><BR/><BR/></td>
		</tr>
		
		<tr>
			<td></td>
			<td style="height:40mm;">Syor :</td>
		</tr>
		
		<tr>
			<td></td>
			<td style="height:40mm;">Ulasan:</td>
		</tr>
	</table>
	
	<table class="textform">
		
		<tr>
			<td>Tandatangan</td>
			<td>:</td>
			<td></td>
		</tr>
		<tr>
			<td>Nama</td>
			<td>:</td>
			<td></td>
		</tr>
		<tr>
			<td>Jawatan</td>
			<td>:</td>
			<td></td>
		</tr>
		<tr>
			<td>Tarikh</td>
			<td>:</td>
			<td></td>
		</tr>
		<tr>
			<td>Cop Kementerian/Jabatan</td>
			<td>:</td>
			<td></td>
		</tr>
		
	</table>
	
</div></div>