<% form_for(@asset_loss) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2>New <%= t 'asset_losses.assetloses_details' %></H2>
				<%=render :partial => 'form', :locals => {:f => f} %> 
	</div>


  <p>
    <%= f.submit (t 'icms.submit') %>
  </p>
<% end %>

<%= link_to (t 'icms.back'), asset_losses_path %>