<H2><%= t 'staffleave.leavereq' %></H2>
<table>
	<tr>
		<td class="leftcol"><label for="staff_id"><b><%= t 'staffleave.staff_id' %>:</b></label></td>
		<td><%=h @leaveforstaff.applicant.mykad_with_staff_name %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="leavetype"><b><%= t 'staffleave.leavetype' %>:</b></label></td>
		<td><%=h (Leaveforstaff::STAFFLEAVETYPE.find_all{|disp, value| value == @leaveforstaff.leavetype}).map {|disp, value| disp} %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="leavestartdate"><b><%= t 'staffleave.from_to' %> : </b></label></td>
		<td><%=h @leaveforstaff.leavestartdate.strftime("%d - %b - %Y") %>
	  		<%=h @leaveforstaff.show_to_day %>&nbsp;&nbsp;&nbsp;<b><%=t('for')%></b>
	  		<%=h @leaveforstaff.leave_for %>&nbsp;<%=t('time.days')%></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="reason"><b><%= t 'staffleave.reason' %>:</b></label></td>
		<td><%=h @leaveforstaff.reason %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="notes"><b><%= t 'staffleave.notes' %>:</b></label></td>
		<td><%=h @leaveforstaff.notes %></td>
	</tr>
</table>