<div class="tform">
  <table width=100% >

	<tr>
		<th colspan = 2>Staff Leave Request Details</th>
	</tr>

	<tr>
		<td class="leftcol"><label for="staff_id"><b>Staff Name:</b></label><font color="red"> * </font></td>
		<td><%=h @leaveforstaff.applicant.mykad_with_staff_name %>
				<%= @leaveforstaff.cuti_rehat_entitlement %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="leavetype"><b>Leave Type:</b></label></td>
		<td><%= f.select :leavetype, 
		                 Leaveforstaff::STAFFLEAVETYPE,
		                 :prompt => "Select"  %></td>
	</tr>
	
	<tr>
	    <td class="leftcol"><label for="leavestartdate"><b>Leave Start Date:</b></label></td>
		<td><%= f.date_select :leavestartdate, :order => [:day, :month, :year], :default => 2.days.from_now %></td>
	</tr>
	
	<tr>
	    <td class="leftcol"><label for="leavenddate"><b>Leave End Date:</b></label></td>
		<td><%= f.date_select :leavenddate, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
	</tr>
	
	<tr>
	    <td class="leftcol"><label for="leavedays"><b>Duration:</b></label></td>
		<td><%=h @leaveforstaff.leave_for %> Days</td>
	</tr>
	
	<tr>
	    <td class="leftcol"><label for="reason"><b>Reason:</b></label></td>
		<td><%= f.text_field :reason %></td>
	</tr>
	<tr>
	    <td class="leftcol"><label for="notes"><b>Notes:</b></label></td>
		<td><%= f.text_area :notes, :size => "30x5" %></td>
	</tr>
  <% if @leaveforstaff.approval1? %>
	<tr>
	    <td class="leftcol"><label for="replacement_id"><b>Replacement Staff:</b></label></td>
	    <td><%= f.collection_select :replacement_id, Staff.find(:all, :conditions => ["staffgrade_id = ?", @leaveforstaff.applicant.staffgrade_id]), :id, :name, :include_blank => true %></td>
	<% end %>
	</tr>
  </table>

</div>
