<h3><%= t 'staffleave.approve' %></h3>

<% form_for(@leaveforstaff) do |f| %>
  <%= f.error_messages %>

<div class="tform">
<%= render :partial => 'applyshow' %>
<H2><%= t 'staffleave.approval1' %></H2>
<table width=100% >
    <tr>
		  <td class="leftcol"><label for="approval1"><%= t 'staffleave.approval1' %></label></td>
		  <td width=3%><b>:</b></td>
		  <td><%= f.radio_button :approval1,'true' %><%= t 'staffleave.endorse' %> &nbsp<%= f.radio_button :approval1,'false' %><%= t 'staffleave.notendorse' %></td>
	</tr>

		<tr>
		  <td class="leftcol"><label for="approval1date"><%= t 'staffleave.approval1date' %></label></td>
		  <td><b>:</b></td>
			<td><%= f.date_select :approval1date, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>
  </table>
</div>

  <p>
    <%= f.submit (t 'icms.update') %>
  </p>

<% end %>


<%= link_to (t 'icms.show'), @leaveforstaff %> |
<%= link_to (t 'icms.back'), leaveforstaffs_path %>