<h3><%=t('staffleave.approval_supporting_officer')%></h3>

<% form_for(@leaveforstaff) do |f| %>
  <%= f.error_messages %>

<div class="tform">
	 <%= render :partial => 'applyshow' %>
	 <table width=100% >
		<tr>
		  <td class="leftcol"><label for="replacement_id"><b><%=t('staffleave.replacement_id')%> :</b></label></td>
		  <td><%= f.collection_select :replacement_id, Staff.find(:all, :conditions => ["id IN (?)", @leaveforstaff.repl_staff]), :id, :name, :include_blank => (t 'select') %></td>
		</tr>
	</table>
        <H2><%=t('staffleave.supporting_leave')%></H2>
        <table width=100%>
		<tr>
		  <td class="leftcol"><label for="approval1"><b><%=t('staffleave.approval1')%> :</b></label></td>
			<td><%= f.radio_button :approval1,'true' %><%=t('staffleave.supported')%> &nbsp;<%= f.radio_button :approval1,'false' %><%=t('staffleave.not_supported')%> </td>
		</tr>

		<tr>
		  <td class="leftcol"><label for="approval1date"><b><%=t('staffleave.approval1date')%> :</b></label></td>
			<td><%= f.date_select :approval1date, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>
	</table>
</div>

  <p>
    <%= f.submit t('update') %>
  </p>

<% end %>

<%= link_to t('show'), @leaveforstaff %> |
<%= link_to t('back'), leaveforstaffs_path %>