<h3><%= t 'staffleave.approve' %></h3>

<% form_for(@leaveforstaff) do |f| %>
  <%= f.error_messages %>

<div class="tform">
 <%= render :partial => 'applyshow' %>
<% if @leaveforstaff.leavetype != 8 %>
 <H2>Previous Endorsed for Staff Leave Request</H2>
<table width=100% >
<tr>
	<td class="leftcol"><label for="approval1"><%= t 'staffleave.approval1_id' %></label></td>
	<td width=3%><b>:</b></td>
	<td><%=h @leaveforstaff.approval1? ? "Endorsed" : "Not Endorsed" %> by 
	<%=h @leaveforstaff.endorser_details %> On 
	<%=h @leaveforstaff.approval1date.blank? ? "-" : @leaveforstaff.approval1date.strftime("%d - %b - %Y") %></td>
</tr>

<tr>
	<td class="leftcol"><label for="approver2"><%= t 'staffleave.approver2' %></label></td>
	<td width=3%><b>:</b></td>
	<td><%= f.check_box :approver2 %></td>
</tr>
<tr>
	<td class="leftcol"><label for="approval2date"><%= t 'staffleave.approval2date' %></label></td>
	<td width=3%><b>:</b></td>
	<td><%= f.date_select :approval2date, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
</tr>
</table>
<% end %>
</div>

  <p>
    <%= f.submit 'Update' %>
  </p>

<% end %>


<%= link_to 'Show', @leaveforstaff %> |
<%= link_to 'Back', leaveforstaffs_path %>