<h3>Editing Leave For Staff</h3>

<% form_for(@leaveforstaff) do |f| %>
  <%= f.error_messages %>

 <%= render :partial => 'form', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Update' %>
  </p>

<% end %>


<%= link_to 'Show', @leaveforstaff %> |
<%= link_to 'Back', leaveforstaffs_path %>