<h3><%= t 'staffleave.edit' %></h3>

<% form_for(@leaveforstaff) do |f| %>
  <%= f.error_messages %>

 <%= render :partial => 'form', :locals => {:f => f} %>

  <p>
    <%= f.submit (t 'icms.update') %>
  </p>

	


<% end %>


<%= link_to (t 'icms.show'), @leaveforstaff %> |
<%= link_to (t 'icms.back'), leaveforstaffs_path %>