<!-- Box -->
<div class="box">
<!-- Box Head -->
  <div class="box-head">
    <h2 class="left"><%= t 'staffleave.list' %></h2>
	  <div class="right">
		   <%= select_tag_for_filter("leaveforstaffs", @filters, params) %>
	  </div>
	</div>
</div>

<div class="indextable">
<table>
  <tr>
    <th><%= t 'staffleave.staff_id' %></th>
    <th><%= t 'staffleave.leavetype' %></th>
    <th><%= t 'staffleave.from_to' %></th>
    <th><%= t 'staffleave.reason' %></th>
    <th><%= t 'staffleave.duration' %></th>
    
    <!--<th>Notes</th>-->
    <th><%= t 'staffleave.replacement_id' %></th>
    <!--<th>Submit</th>
    <th>Approved By</th>
    <th>Approver 1 Date</th>
    <th>Approver 2 </th>-->
    <th>For Approval?</th>
   	<th colspan=3 class="ac"><%= t 'control' %></th>
  </tr>

<% @leaveforstaffs.each do |leaveforstaff| %>
  <tr>
    <td><%=h leaveforstaff.applicant_details %></td>
    <td><%=h (Leaveforstaff::STAFFLEAVETYPE.find_all{|disp, value| value == leaveforstaff.leavetype}).map {|disp, value| disp} %></td>
    <td><%=h leaveforstaff.leavestartdate.strftime("%a, %d %b") %><%=h leaveforstaff.show_to_day %></td>
    <td><%=h leaveforstaff.reason %>
	  <td><%=h leaveforstaff.leave_for %> Days</td>
	  <td><%=h leaveforstaff.replacement_id.blank? ? "None" : leaveforstaff.replacement.name  %></td>
	  <td width=10px>
				<% if (User.current_user.staff_id == leaveforstaff.approval1_id && leaveforstaff.approval1 == nil ) %>
			  	<%= link_to image_tag("approval.png", :border => 0, :title => 'Approval'), :action => 'approve1', :id => leaveforstaff %>
				<% elsif (User.current_user.staff_id == leaveforstaff.approval2_id && leaveforstaff.approver2 == nil) %>
					<%= link_to image_tag("approval.png", :border => 0, :title => 'Approval'), :action => 'approve2', :id => leaveforstaff %>
				<% else %>
				<% end %></td>
		
    <td width=10px><%= link_to image_tag("document.png", :border => 0,  :title => 'Show'), :action => 'show', :id => leaveforstaff %></td>
		<td width=10px>
    			<% if leaveforstaff.staff_id == User.current_user.staff_id %>
    				<%= link_to image_tag("edit.png",     :border => 0,  :title => 'Edit'), :action => 'edit', :id => leaveforstaff %>
    			<% end %></td>

		<% if permitted_to? :destroy, leaveforstaff %>
    	<td width=10px><%= link_to image_tag("delete.png",   :border => 0,  :title => 'Delete'), leaveforstaff, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<%= link_to (t 'staffleave.create'), new_leaveforstaff_path %>
</div>