<h3><%= t 'staffleave.new' %></h3>

<% form_for(@leaveforstaff) do |f| %>
  <%= f.error_messages %>

 	<div class="tform">
	  <table width=100% >

		<tr>
			<th colspan = 2><%= t 'staffleave.leavereq' %></th>
		</tr>

		<tr>
			<td class="leftcol"><label for="staff_id"><b><%= t 'staffleave.staff_id' %></b></label><font color="red"> * </font></td>
			<td><%= f.collection_select :staff_id, Staff.find(:all, :conditions => ["id = ?", current_user.staff_id]), :id, :position_with_name %></td>
		</tr>

		<tr>
		<td class="leftcol"><label for="leavetype"><b><%= t 'staffleave.leavetype' %></b></label></td>
			<td><%= f.select :leavetype, 
			                 Leaveforstaff::STAFFLEAVETYPE,
			                 :prompt => "Select"  %></td>
		</tr>

		<tr>
		    <td class="leftcol"><label for="leavestartdate"><b><%= t 'staffleave.leavestartdate' %></b></label></td>
			<td><%= f.date_select :leavestartdate, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>

		<tr>
		    <td class="leftcol"><label for="leavenddate"><b><%= t 'staffleave.leavenddate' %></b></label></td>
			<td><%= f.date_select :leavenddate, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>

		<tr>
		    <td class="leftcol"><label for="reason"><b><%= t 'staffleave.reason' %></b></label></td>
			<td><%= f.text_field :reason %></td>
		</tr>
		<tr>
		    <td class="leftcol"><label for="notes"><b><%= t 'staffleave.notes' %></b></label></td>
			<td><%= f.text_area :notes, :size => "30x5" %></td>
		</tr>
  </table>
 
  <p>
    <%= f.submit (t 'icms.submit') %>
  </p>
<% end %>

<%= link_to (t 'icms.back'), leaveforstaffs_path %>
</div>