<div class="tform">
  <table width=100% >

	<tr>
		<th colspan = 2>Staff Leave Request Details</th>
	</tr>

	<tr>
		<td class="leftcol"><label for="staff_id"><b>Staff Name:</b></label></td>
		<td><%=h @leaveforstaff.applicant.mykad_with_staff_name %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="leavetype"><b>Leave Type:</b></label></td>
			<td><%=h (Leaveforstaff::STAFFLEAVETYPE.find_all{|disp, value| value == @leaveforstaff.leavetype}).map {|disp, value| disp} %></td>
	</tr>
	
	<tr>
	    <td class="leftcol"><label for="leavestartdate"><b>Request Date:</b></label></td>
		<td><%=h @leaveforstaff.leavestartdate %></td>
	</tr>
	
	<tr>
	    <td class="leftcol"><label for="leavenddate"><b>Request Date:</b></label></td>
		<td><%=h @leaveforstaff.leavenddate %></td>
	</tr>
	
	<tr>
	    <td class="leftcol"><label for="leavedays"><b>Duration:</b></label></td>
		<td><%=h @leaveforstaff.leave_for %> Days</td>
	</tr>
	
	<tr>
	    <td class="leftcol"><label for="reason"><b>Reason:</b></label></td>
		<td><%=h @leaveforstaff.reason %></td>
	</tr>
	<tr>
	    <td class="leftcol"><label for="notes"><b>Notes:</b></label></td>
		<td><%=h @leaveforstaff.notes %></td>
	</tr>

	<tr>
	    <td class="leftcol"><label for="replacement_id"><b>Replacement Staff:</b></label></td>
		<td><%h @leaveforstaff.replacement_id.blank? ? "" : @leaveforstaff.replacement.name %></td>
	</tr>

	<tr>
		<th colspan = 2>Approve Staff Leave Request</th>
	</tr>
	<tr>
	    <td class="leftcol"><label for="approval1"><b>Approver 1:</b></label></td>
		<td><%=h @leaveforstaff.approval1? ? "Approved" : "Not Approved" %></td>
	</tr>
	<tr>
	    <td class="leftcol"><label for="approval1_id"><b>Approver Name:</b></label></td>
         <td><%=h @leaveforstaff.approval1_id.blank? ? "" : @leaveforstaff.staffname.position.bosses.staff.name %></td>
	</tr>

	<tr>
	    <td class="leftcol"><label for="approval1date"><b>Approved By Date:</b></label></td>
		<td><%=h @leaveforstaff.approval1date %></td>
	</tr>
	
	<tr>
	    <td class="leftcol"><label for="approver2"><b>Approval 2:</b></label></td>
		<td><%=h @leaveforstaff.approver2? ? "Approved" : "Not Approved" %></td>
	</tr>
	
	<tr>
	    <td class="leftcol"><label for="approval2_id"><b>Approver Name:</b></label></td>
		<td><%=h @leaveforstaff.approval2_id.blank? ? "" : @leaveforstaff.staffname.position.bosses.bosses.staff.name %></td>
	</tr>
	
	<tr>
	    <td class="leftcol"><label for="approval2date"><b>Approved By Date:</b></label></td>
		<td><%=h @leaveforstaff.approval2date %></td>
	</tr>
  </table>
</div>

<%= link_to 'Edit', edit_leaveforstaff_path(@leaveforstaff) %> |
<%= link_to 'Back', leaveforstaffs_path %>