<div class="tform">
 <%= render :partial => 'applyshow' %>

<% if @leaveforstaff.leavetype == 8 %>
<H2><%= t 'staffleave.approval1' %></H2>
	<table>
	
		<tr>
		  <td class="leftcol"><label for="approval1"><%= t 'staffleave.approval1' %></label></td>
		  <td><b>:</b></td>
			  <td><%=h @leaveforstaff.approval1? ? (t 'staffleave.notendorse') : (t 'staffleave.endorse') %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="approval1_id"><%= t 'staffleave.approval1_id' %></label></td>
			<td><b>:</b></td>
			<td><%=h @leaveforstaff.approval1_id.blank? ? "" : @leaveforstaff.seconder.staff_name_with_title %></td>
		</tr>

		<tr>
		  <td class="leftcol"><label for="approval1date"><%= t 'staffleave.approval1date' %></label></td>
		  <td><b>:</b></td>
			<td><%=h @leaveforstaff.approval1date %></td>
		</tr>
	</table>

	<% else %>
	<H2><%= t 'staffleave.approval1' %> & <%= t 'staffleave.approver2' %></H2>
	<table>
	
		<tr>
		  <td class="leftcol"><label for="approval1"><%= t 'staffleave.approval1' %></label></td>
		  <td><b>:</b></td>
			<td><%=h @leaveforstaff.apply_leave_status%></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="approval1_id"><%= t 'staffleave.approval1_id' %></label></td>
			<td><b>:</b></td>
			<td><%=h @leaveforstaff.approval1_id.blank? ? "" : @leaveforstaff.seconder.staff_name_with_title %></td>
		</tr>

		<tr>
		  <td class="leftcol"><label for="approval1date"><%= t 'staffleave.approval1date' %></label></td>
		  <td><b>:</b></td>
			<td><%=h @leaveforstaff.approval1date.blank? ? "-" :  @leaveforstaff.approval1date.strftime("%d-%b-%Y")  %></td>
		</tr>
	</table>
	<table>
	
		<tr>
		  <td class="leftcol"><label for="approver2"><%= t 'staffleave.approver2' %></label></td>
		  <td><b>:</b></td>
			<td><%=h @leaveforstaff.apply_leave_status%></td>
		</tr>
	
		<tr>
		  <td class="leftcol"><label for="approval2_id"><%= t 'staffleave.approval2_id' %></label></td>
		  <td><b>:</b></td>
			<td><%=h @leaveforstaff.approval2_id.blank? ? "" : @leaveforstaff.approver.staff_name_with_title %></td>
		</tr>
	
		<tr>
		  <td class="leftcol"><label for="approval2date"><%= t 'staffleave.approval2date' %></label></td>
		  <td><b>:</b></td>
			<td><%=h @leaveforstaff.approval2date.blank? ? "-" : @leaveforstaff.approval2date.strftime("%d-%b-%Y") %></td>
		</tr>
		
  </table><% end %>

</div>
<BR>
<%= link_to (t 'icms.update'), edit_leaveforstaff_path(@leaveforstaff) %> |
<%= link_to (t 'icms.back'), leaveforstaffs_path %>