<div class="tform">
<table width=100%>
	<tr>
		<th colspan=2><%= t 'training.training_details' %></th>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="evaluation_id"><b><%= t 'training.evaluation_id' %></b></label></td>
		<td><%= f.text_field :evaluation_id %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name"><b><%= t 'training.name' %></b></label></td>
		<td><%= f.text_field :name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="reason"><b><%= t 'training.reason' %></b></label></td>
		<td><%= f.text_field :reason %></td>
	</tr>
	
	<tr>
	   <td class="leftcol"><label for="confirmedby_id"><b><%= t 'training.confirmedby_id' %></b></label></td>
		<td><%= f.collection_select :confirmedby_id, Staff.find(:all), :id, :name, :include_blank => true %></td>
	</tr>
	
</table>
</div>

