<h3>Editing Training Need</h3>

<% form_for(@trainneed) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @trainneed %> |
<%= link_to 'Back', trainneeds_path %>