<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left"><%= t 'training.list' %></h2>
	</div>
	<div class="tlist">
	    <table width=90% border="0" cellpadding="0" cellspacing="0">
		  <tr>
    <th><%= t 'training.evaluation_id' %></th>
    <th><%= t 'training.name' %></th>
    <th><%= t 'training.reason' %></th>
    <th><%= t 'training.confirmedby_id' %></th>
    <th colspan=3 class="ac">Control</th>
  </tr>

<% @trainneeds.each do |trainneed| %>
  <tr>
    <td><%=h trainneed.evaluation_id %></td>
    <td><%=h trainneed.name %></td>
    <td><%=h trainneed.reason %></td>
    <td><%=h trainneed.confirmedby_id.blank? ? "" : trainneed.confirmedby.mykad_with_staff_name %></td>
    <td><%= link_to 'Show', trainneed %></td>
    <td><%= link_to 'Edit', edit_trainneed_path(trainneed) %></td>
    <td><%= link_to 'Destroy', trainneed, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<br />


<%= link_to (t 'training.create'), new_trainneed_path %>
