<h3>Editing Upload Document</h3>

<% form_for(@download, :html => { :multipart => true}) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @download %> |
<%= link_to 'Back', downloads_path %>