<table width=100%>
	<tr>
		<td class="leftcol"><%= f.label (t 'transportgroups.group_name') %></td>
		<td colspan=2><%= f.select :group_name, Array('A'..'Z') %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= t 'transportgroups.salary_limits' %>
		<td width="15%"><label><%=(t 'from').titleize%> : </label> RM <%= f.text_field :salary_low, :size => 9 %></td>
		<td><label><%=(t 'to').titleize%> : </label> RM <%= f.text_field :salary_high, :size => 9 %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><%= t 'transportgroups.cc_limits' %>
		<td><label><%=(t 'from').titleize%> : </label>	<%= f.text_field :cc_low, :size => 9 %> cc </td>
		<td><label><%=(t 'to').titleize%> : 	</label>	<%= f.text_field :cc_high, :size => 9 %> cc</td>
	</tr>
</table>
