<table width=100%>
	<tr>
		<td class="leftcol"><%= f.label :group_name %></td>
		<td colspan=2><%= f.select :group_name, Array('A'..'Z') %></td>
	</tr>
	
	<tr>
		<td class="leftcol">Salary Limits
		<td><label>From :	</label> 	<%= f.text_field :salary_low, :size => 9 %></td>
		<td><label>To : 	</label>		<%= f.text_field :salary_high, :size => 9 %></td>
	</tr>
	
	<tr>
		<td class="leftcol">CC Limits
		<td><label>From : </label>	<%= f.text_field :cc_low, :size => 9 %></td>
		<td><label>To : 	</label>	<%= f.text_field :cc_high, :size => 9 %></td>
	</tr>



</table>
