<% form_for(@travel_claims_transport_group) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2>Edit Transport Group</H2> 
		<%=render :partial => 'form', :locals => {:f => f} %> 
	</div>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @travel_claims_transport_group %> |
<%= link_to 'Back', travel_claims_transport_groups_path %>