<% form_for(@travel_claims_transport_group) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2><%= t 'transportgroups.edit' %></H2> 
		<%=render :partial => 'form', :locals => {:f => f} %> 
	</div>
  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>

<%= link_to (t 'show'), @travel_claims_transport_group %> |
<%= link_to (t 'back'), travel_claims_transport_groups_path %>