<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Transport Groups</h2>
	</div>
</div>

<div class="toolbar">
	<table style="width:60%;"><tr>
		<td><p><%= link_to image_tag("add.png", :border => 0, :title => 'Create a new Group') + "New Group", new_travel_claims_transport_group_path %></p></td>
	</tr></table>
</div>
	
<div class="indextable">
	<table style="width:60%;">
  <tr>
    <th>Group name</th>
    <th>Salary
    <th>Cc</th>
		<th colspan=3 class="ac">Control</th>
  </tr>

	<% @travel_claims_transport_groups.each do |travel_claims_transport_group| %>
  <tr>
    <td><%=h travel_claims_transport_group.group_name %></td>
    <td><%=h ringgols (travel_claims_transport_group.salary_low) %> -- <%=h ringgols (travel_claims_transport_group.salary_high) %></td>
    <td><%=h travel_claims_transport_group.cc_low %> -- <%=h travel_claims_transport_group.cc_high %></td>
    <!--<td width=10px><%= link_to image_tag("document.png",:border => 0), :action => 'show', :id => travel_claims_transport_group %></td>-->
		<td width=10px><%= link_to image_tag("edit.png", 		:border => 0), :action => 'edit', :id => travel_claims_transport_group %></td>
	  <td width=10px><%= link_to image_tag("delete.png", 	:border => 0, :title => 'Delete'), travel_claims_transport_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
</div>