<p>
  <b>Group name:</b>
  <%=h @travel_claims_transport_group.group_name %>
</p>

<p>
  <b>Salary low:</b>
  <%=h @travel_claims_transport_group.salary_low %>
</p>

<p>
  <b>Salary high:</b>
  <%=h @travel_claims_transport_group.salary_high %>
</p>

<p>
  <b>Cc low:</b>
  <%=h @travel_claims_transport_group.cc_low %>
</p>

<p>
  <b>Cc high:</b>
  <%=h @travel_claims_transport_group.cc_high %>
</p>


<%= link_to 'Edit', edit_travel_claims_transport_group_path(@travel_claims_transport_group) %> |
<%= link_to 'Back', travel_claims_transport_groups_path %>