<div class="tform">
  <H2><%= t 'transportgroups.title' %></H2>
  <table width=100% >
	<tr>
		<td class="leftcol"><%= t 'transportgroups.group_name' %></td>
		<td><%=h @travel_claims_transport_group.group_name %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= t 'transportgroups.salary_low' %></td>
		<td><%=h @travel_claims_transport_group.salary_low %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= t 'transportgroups.salary_high' %></td>
		<td><%=h @travel_claims_transport_group.salary_high %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= t 'transportgroups.cc_low' %></td>
		<td><%=h @travel_claims_transport_group.cc_low %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= t 'transportgroups.cc_high' %></td>
		<td><%=h @travel_claims_transport_group.cc_high %></td>
	</tr>
  </table>
</div>

<%= link_to (t 'edit'), edit_travel_claims_transport_group_path(@travel_claims_transport_group) %> |
<%= link_to (t 'back'), travel_claims_transport_groups_path %>