<div class="fields" >
	<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0">
	
		<tr>
		<td  colspan=38><%= f.collection_select :student_id, Student.find(:all), :id, :name, :include_blank => true %></td>
		</tr>
		<tr bgcolor="#FDEEF4">
			<td align="center" width=6%><b>1</b></td>
			<td align="center" width=6%><b>2</b></td>
			<td align="center" width=6%><b>3</b></td>
			<td align="center" width=6%><b>4</b></td>
			<td align="center" width=6%><b>5</b></td>
			<td align="center" width=6%><b>6</b></td>
			<td align="center" width=6%><b>7</b></td>
			<td align="center" width=6%><b>8</b></td>
			<td align="center" width=6%><b>9</b></td>
			<td align="center" width=6%><b>10</b></td>
			<td align="center" width=6%><b>11</b></td>
			<td align="center" width=6%><b>12</b></td>
			<td align="center" width=6%><b>13</b></td>
			<td align="center" width=6%><b>14</b></td>
			<td align="center" width=6%><b>15</b></td>
			<td></td>
		</tr>
		
		<tr align="center">
		<td><%= f.text_field :m_1, :size => 2 %></td> 
		<td><%= f.text_field :m_2, :size =>2 %></td>
		<td><%= f.text_field :m_3, :size => 2 %></td>
		<td><%= f.text_field :m_4, :size => 2 %></td>
		<td><%= f.text_field :m_5, :size => 2 %></td>
		<td><%= f.text_field :m_6, :size => 2 %></td>
		<td><%= f.text_field :m_7, :size => 2 %></td>
		<td><%= f.text_field :m_8, :size => 2 %></td>
		<td><%= f.text_field :m_9, :size => 2 %></td>
		<td><%= f.text_field :m_10, :size => 2 %></td>
		<td><%= f.text_field :m_11, :size => 2 %></td>
		<td><%= f.text_field :m_12, :size => 2 %></td>
		<td><%= f.text_field :m_13, :size => 2 %></td>
		<td><%= f.text_field :m_14, :size => 2 %></td>
		<td><%= f.text_field :m_15, :size => 2 %></td>
		<td></td>
		
		
		</tr>
		<tr bgcolor="#FDEEF4">
			<td align="center" ><b>16</b></td>
			<td align="center" ><b>17</b></td>
			<td align="center" ><b>18</b></td>
			<td align="center" ><b>19</b></td>
			<td align="center" ><b>20</b></td>
			<td align="center"><b>21</b></td>
			<td align="center"><b>22</b></td>
			<td align="center"><b>23</b></td>
			<td align="center"><b>24</b></td>
			<td align="center"><b>25</b></td>
			<td align="center"><b>26</b></td>
			<td align="center"><b>27</b></td>
			<td align="center"><b>28</b></td>
			<td align="center"><b>29</b></td>
			<td align="center"><b>30</b></td>
			<td></td>
		</tr>
	
		<tr align="center">
		<td><%= f.text_field :m_16, :size => 2 %></td>
		<td><%= f.text_field :m_17, :size => 2 %></td>
		<td><%= f.text_field :m_18, :size => 2 %></td>
		<td><%= f.text_field :m_19, :size => 2 %></td>
		<td><%= f.text_field :m_20, :size => 2 %></td>
		<td><%= f.text_field :m_21, :size => 2 %></td>
		<td><%= f.text_field :m_22, :size => 2 %></td>
		<td><%= f.text_field :m_23, :size => 2 %></td>
		<td><%= f.text_field :m_24, :size => 2 %></td>
		<td><%= f.text_field :m_25, :size => 2 %></td>
		<td><%= f.text_field :m_26, :size => 2 %></td>
		<td><%= f.text_field :m_27, :size => 2 %></td>
		<td><%= f.text_field :m_28, :size => 2 %></td>
		<td><%= f.text_field :m_29, :size => 2 %></td>
		<td><%= f.text_field :m_30, :size => 2 %></td>
		<td></td>
		</tr>
		<tr bgcolor="#FDEEF4">
			<td align="center"><b>31</b></td>
			<td align="center"><b>32</b></td>
			<td align="center"><b>33</b></td>
			<td align="center"><b>34</b></td>
			<td align="center"><b>35</b></td>
			<td align="center"><b>36</b></td>
			<td align="center"><b>37</b></td>
			<td align="center"><b>38</b></td>
			<td align="center"><b>39</b></td>
			<td align="center"><b>40</b></td>
			<td align="center"><b>41</b></td>
			<td align="center"><b>42</b></td>
			<td align="center"><b>43</b></td>
			<td align="center"><b>44</b></td>
			<td align="center"><b>45</b></td>
			<td></td>
		</tr>
	
		<tr align="center">
		<td><%= f.text_field :m_31, :size => 2 %></td>
		<td><%= f.text_field :m_32, :size => 2 %></td>
		<td><%= f.text_field :m_33, :size => 2 %></td>
		<td><%= f.text_field :m_34, :size => 2 %></td>
		<td><%= f.text_field :m_35, :size => 2 %></td>
		<td><%= f.text_field :m_36, :size => 2 %></td>
		<td><%= f.text_field :m_37, :size => 2 %></td>
		<td><%= f.text_field :m_38, :size => 2 %></td>
		<td><%= f.text_field :m_39, :size => 2, :value => 0 %></td>
		<td><%= f.text_field :m_40, :size => 2, :value => 0 %></td>
		<td><%= f.text_field :m_41, :size => 2, :value => 0 %></td>
		<td><%= f.text_field :m_42, :size => 2, :value => 0 %></td>
		<td><%= f.text_field :m_43, :size => 2, :value => 0 %></td>
		<td><%= f.text_field :m_44, :size => 2, :value => 0 %></td>
		<td><%= f.text_field :m_45, :size => 2, :value => 0 %></td>
		<td></td>
		</tr>
		<tr bgcolor="#FDEEF4">
			<td align="center"><b>46</b></td>
			<td align="center"><b>47</b></td>
			<td align="center"><b>48</b></td>
			<td align="center"><b>49</b></td>
			<td align="center"><b>50</b></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
		</tr>
		
		<tr align="center">
			<td><%= f.text_field :m_46, :size => 2, :value => 0 %></td>
			<td><%= f.text_field :m_47, :size => 2, :value => 0 %></td>
			<td><%= f.text_field :m_48, :size => 2, :value => 0 %></td>
			<td><%= f.text_field :m_49, :size => 2, :value => 0 %></td>
			<td><%= f.text_field :m_50, :size => 2, :value => 0 %></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %></td>
	</table>
</div>