<h3>Editing Analysis Result</h3>

<% form_for(@analysis_grade) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @analysis_grade %> |
<%= link_to 'Back', analysis_grades_path %>