<div class="tform">
<H2>Results Details</H2>
  <table width=100% >

	<tr>
		<td class="leftcol"><label for="name">Course Name</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @analysis_grade.course_name.programme_with_specialisation %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="phone">Class Name</label></td>
		<td><b>:</b></td>
		<td><%=h @analysis_grade.classroom.name %></td>
	</tr>
	
<!--	<tr>
		<td class="leftcol"><label for="name">Student Name</label></td>
		<td><b>:</b></td>
		<td><#%= f.collection_select :student_id, Klass.find(:all), :id, :name %></td>
	</tr>-->
	
	<tr>
		<td class="leftcol"><label for="fax">Examination Name:</label></td>
		<td><b>:</b></td>
		<td><%=h @analysis_grade.examname.exam_result %></td>
	</tr>
<!--	<tr>
		<td class="leftcol"><label for="address">Examination Date</label></td>
		<td><b>:</b></td>
		<td><#%= f.date_select :exam_date, :include_blank => true %></td>
	</tr>-->
	<tr>
		<td class="leftcol"><label for="name">Examiner Name</label></td>
		<td><b>:</b></td>
		<td><%=h @analysis_grade.examiner.staff_name_with_title %></td>
	</tr>
	
</table>
<H2>Full Mark Details</H2>
<table width=100% border=1 cellspacing=0>
	<tr bgcolor="#FDEEF4">
		<td align="center" width=6%><b>1</b></td>
		<td align="center" width=6%><b>2</b></td>
		<td align="center" width=6%><b>3</b></td>
		<td align="center" width=6%><b>4</b></td>
		<td align="center" width=6%><b>5</b></td>
		<td align="center" width=6%><b>6</b></td>
		<td align="center" width=6%><b>7</b></td>
		<td align="center" width=6%><b>8</b></td>
		<td align="center" width=6%><b>9</b></td>
		<td align="center" width=6%><b>10</b></td>
		<td align="center" width=6%><b>11</b></td>
		<td align="center" width=6%><b>12</b></td>
		<td align="center" width=6%><b>13</b></td>
		<td align="center" width=6%><b>14</b></td>
		<td align="center" width=6%><b>15</b></td>
	</tr>
	<tr>
		<td align="center" width=6%><%=h @analysis_grade.fm_1 %>&nbsp;</td>
		<td align="center" width=6%><%=h @analysis_grade.fm_2%>&nbsp;</td>
		<td align="center" width=6%><%=h @analysis_grade.fm_3%>&nbsp;</td>
		<td align="center" width=6%><%=h @analysis_grade.fm_4 %>&nbsp;</td>
		<td align="center" width=6%><%=h @analysis_grade.fm_5%>&nbsp;</td>
		<td align="center" width=6%><%=h @analysis_grade.fm_6%>&nbsp;</td>
		<td align="center" width=6%><%=h @analysis_grade.fm_7%>&nbsp;</td>
		<td align="center" width=6%><%=h @analysis_grade.fm_8 %>&nbsp;</td>
		<td align="center" width=6%><%=h @analysis_grade.fm_9 %>&nbsp;</td>
		<td align="center" width=6%><%=h @analysis_grade.fm_10%>&nbsp;</td>
		<td align="center" width=6%><%=h @analysis_grade.fm_11 %>&nbsp;</td>
		<td align="center" width=6%><%=h @analysis_grade.fm_12 %>&nbsp;</td>
		<td align="center" width=6%><%=h @analysis_grade.fm_13%>&nbsp;</td>
		<td align="center" width=6%><%=h @analysis_grade.fm_14 %>&nbsp;</td>
		<td align="center" width=6%><%=h @analysis_grade.fm_15%>&nbsp;</td>
	</tr>
	
	<tr bgcolor="#FDEEF4">
			<td align="center" ><b>16</b></td>
			<td align="center" ><b>17</b></td>
			<td align="center" ><b>18</b></td>
			<td align="center" ><b>19</b></td>
			<td align="center" ><b>20</b></td>
			<td align="center"><b>21</b></td>
			<td align="center"><b>22</b></td>
			<td align="center"><b>23</b></td>
			<td align="center"><b>24</b></td>
			<td align="center"><b>25</b></td>
			<td align="center"><b>26</b></td>
			<td align="center"><b>27</b></td>
			<td align="center"><b>28</b></td>
			<td align="center"><b>29</b></td>
			<td align="center"><b>30</b></td>
	</tr>
	<tr>
			<td align="center" width=6%><%=h @analysis_grade.fm_16%>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_17%>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_18 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_19 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_20 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_21 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_22 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_23 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_24 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_25 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_26 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_27 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_28 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_29 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_30 %>&nbsp;</td>		
	</tr>
		
	<tr bgcolor="#FDEEF4">
			<td align="center"><b>31</b></td>
			<td align="center"><b>32</b></td>
			<td align="center"><b>33</b></td>
			<td align="center"><b>34</b></td>
			<td align="center"><b>35</b></td>
			<td align="center"><b>36</b></td>
			<td align="center"><b>37</b></td>
			<td align="center"><b>38</b></td>
			<td align="center"><b>39</b></td>
			<td align="center"><b>40</b></td>
			<td align="center"><b>41</b></td>
			<td align="center"><b>42</b></td>
			<td align="center"><b>43</b></td>
			<td align="center"><b>44</b></td>
			<td align="center"><b>45</b></td>
		</tr>
		<tr>
			<td align="center" width=6%><%=h @analysis_grade.fm_31 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_32 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_33 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_34 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_35 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_36 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_37 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_38 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_39 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_40 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_41 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_42 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_43 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_44 %>&nbsp;</td>
			<td align="center" width=6%><%=h @analysis_grade.fm_45 %>&nbsp;</td>
							
		</tr>
		<tr bgcolor="#FDEEF4">
			<td align="center"><b>46</b></td>
			<td align="center"><b>47</b></td>
			<td align="center"><b>48</b></td>
			<td align="center"><b>49</b></td>
			<td align="center"><b>50</b></td>
			<td align="center" colspan=2><b> Total Full Mark</b></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
		</tr>
		<tr>
			<td align="center"><%=h @analysis_grade.fm_46 %>&nbsp;</td>
			<td align="center"><%=h @analysis_grade.fm_47 %>&nbsp;</td>
			<td align="center"><%=h @analysis_grade.fm_48 %>&nbsp;</td>
			<td align="center"><%=h @analysis_grade.fm_49 %>&nbsp;</td>
			<td align="center"><%=h @analysis_grade.fm_50 %>&nbsp;</td>
			<td align="center" colspan=2><%=h @analysis_grade.student_id %>&nbsp;</td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
		</tr>
		
	
</table>
<H2>Grade Details</H2>

    <table width=100% border=1 cellspacing=0>
	
	
		<tr bgcolor="#FDEEF4">
			<td class="leftcol" rowspan=4 align="center"><b>Student Name</b></td>
			<td align="center"><b>1</b></td>
			<td align="center"><b>2</b></td>
			<td align="center"><b>3</b></td>
			<td align="center"><b>4</b></td>
			<td align="center"><b>5</b></td>
			<td align="center"><b>6</b></td>
			<td align="center"><b>7</b></td>
			<td align="center"><b>8</b></td>
			<td align="center"><b>9</b></td>
			<td align="center"><b>10</b></td>
			<td align="center"><b>11</b></td>
			<td align="center"><b>12</b></td>
			<td align="center"><b>13</b></td>
			<td align="center"><b>14</b></td>
			<td align="center"><b>15</b></td>
			<td width=7% rowspan=4 align="center"><b>Total Mark</b></td>
		</tr>
		<tr bgcolor="#FDEEF4" >
			<td align="center"><b>16</b></td>
			<td align="center"><b>17</b></td>
			<td align="center"><b>18</b></td>
			<td align="center"><b>19</b></td>
			<td align="center"><b>20</b></td>
			<td align="center"><b>21</b></td>
			<td align="center"><b>22</b></td>
			<td align="center"><b>23</b></td>
			<td align="center"><b>24</b></td>
			<td align="center"><b>25</b></td>
			<td align="center"><b>26</b></td>
			<td align="center"><b>27</b></td>
			<td align="center"><b>28</b></td>
			<td align="center"><b>29</b></td>
			<td align="center"><b>30</b></td>
		</tr>
		<tr bgcolor="#FDEEF4">
			<td align="center"><b>31</b></td>
			<td align="center"><b>32</b></td>
			<td align="center"><b>33</b></td>
			<td align="center"><b>34</b></td>
			<td align="center"><b>35</b></td>
			<td align="center"><b>36</b></td>
			<td align="center"><b>37</b></td>
			<td align="center"><b>38</b></td>
			<td align="center"><b>39</b></td>
			<td align="center"><b>40</b></td>
			<td align="center"><b>41</b></td>
			<td align="center"><b>42</b></td>
			<td align="center"><b>43</b></td>
			<td align="center"><b>44</b></td>
			<td align="center"><b>45</b></td>
		</tr>
		<tr bgcolor="#FDEEF4">
			<td align="center"><b>46</b></td>
			<td align="center"><b>47</b></td>
			<td align="center"><b>48</b></td>
			<td align="center"><b>49</b></td>
			<td align="center"><b>50</b></td>
			<td align="center" bgcolor=gray></td>
			<td align="center" bgcolor=gray></td>
			<td align="center" bgcolor=gray></td>
			<td align="center" bgcolor=gray></td>
			<td align="center" bgcolor=gray></td>
			<td align="center" bgcolor=gray></td>
			<td align="center" bgcolor=gray></td>
			<td align="center" bgcolor=gray></td>
			<td align="center" bgcolor=gray></td>
			<td align="center" bgcolor=gray></td>
		</tr>
		
		<% for studemt_mark in @analysis_grade.student_marks %>
			<tr>
				<td rowspan=4><%=h studemt_mark.student_name.name %></td>
				<td align="center"><%=h studemt_mark.m_1 %></td>
				<td align="center"><%=h studemt_mark.m_2 %></td>
				<td align="center"><%=h studemt_mark.m_3 %></td>
				<td align="center"><%=h studemt_mark.m_4 %></td>
				<td align="center"><%=h studemt_mark.m_5 %></td>
				<td align="center"><%=h studemt_mark.m_6 %></td>
				<td align="center"><%=h studemt_mark.m_7 %></td>
				<td align="center"><%=h studemt_mark.m_8 %></td>
				<td align="center"><%=h studemt_mark.m_9 %></td>
				<td align="center"><%=h studemt_mark.m_10 %></td>
				<td align="center"><%=h studemt_mark.m_11 %></td>
				<td align="center"><%=h studemt_mark.m_12 %></td>
				<td align="center"><%=h studemt_mark.m_13 %></td>
				<td align="center"><%=h studemt_mark.m_14 %></td>
				<td align="center"><%=h studemt_mark.m_15 %></td>
				
				<td align="center" rowspan=4><b><%=h studemt_mark.total_mark %></b></td>
			</tr>
			<tr>
				<td align="center"><%=h studemt_mark.m_16 %></td>
				<td align="center"><%=h studemt_mark.m_17 %></td>
				<td align="center"><%=h studemt_mark.m_18 %></td>
				<td align="center"><%=h studemt_mark.m_19 %></td>
				<td align="center"><%=h studemt_mark.m_20 %></td>
				<td align="center"><%=h studemt_mark.m_21 %></td>
				<td align="center"><%=h studemt_mark.m_22 %></td>
				<td align="center"><%=h studemt_mark.m_23 %></td>
				<td align="center"><%=h studemt_mark.m_24 %></td>
				<td align="center"><%=h studemt_mark.m_25 %></td>
				<td align="center"><%=h studemt_mark.m_26 %></td>
				<td align="center"><%=h studemt_mark.m_27 %></td>
				<td align="center"><%=h studemt_mark.m_28 %></td>
				<td align="center"><%=h studemt_mark.m_29 %></td>
				<td align="center"><%=h studemt_mark.m_30 %></td>
				</tr>
			<tr>
				<td align="center"><%=h studemt_mark.m_31 %></td>
				<td align="center"><%=h studemt_mark.m_32 %></td>
				<td align="center"><%=h studemt_mark.m_33 %></td>
				<td align="center"><%=h studemt_mark.m_34 %></td>
				<td align="center"><%=h studemt_mark.m_35 %></td>
				<td align="center"><%=h studemt_mark.m_36 %></td>
				<td align="center"><%=h studemt_mark.m_37 %></td>
				<td align="center"><%=h studemt_mark.m_38 %></td>
				<td align="center"><%=h studemt_mark.m_39 %></td>
				<td align="center"><%=h studemt_mark.m_40 %></td>
				<td align="center"><%=h studemt_mark.m_41 %></td>
				<td align="center"><%=h studemt_mark.m_42 %></td>
				<td align="center"><%=h studemt_mark.m_43 %></td>
				<td align="center"><%=h studemt_mark.m_44 %></td>
				<td align="center"><%=h studemt_mark.m_45 %></td>
			</tr>
			<tr>
				<td align="center"><%=h studemt_mark.m_46 %></td>
				<td align="center"><%=h studemt_mark.m_47 %></td>
				<td align="center"><%=h studemt_mark.m_48 %></td>
				<td align="center"><%=h studemt_mark.m_49 %></td>
				<td align="center"><%=h studemt_mark.m_50 %></td>
				<td align="center" bgcolor=gray>&nbsp;</td>
				<td align="center" bgcolor=gray>&nbsp;</td>
				<td align="center" bgcolor=gray>&nbsp;</td>
				<td align="center" bgcolor=gray>&nbsp;</td>
				<td align="center" bgcolor=gray>&nbsp;</td>
				<td align="center" bgcolor=gray>&nbsp;</td>
				<td align="center" bgcolor=gray>&nbsp;</td>
				<td align="center" bgcolor=gray>&nbsp;</td>
				<td align="center" bgcolor=gray>&nbsp;</td>
				<td align="center" bgcolor=gray>&nbsp;</td>
			</tr>
				<% end %>
		
</table>
</div>
<BR>
<%= link_to 'Edit', edit_analysis_grade_path(@analysis_grade) %> |
<%= link_to 'Back', analysis_grades_path %> |
<%= link_to 'BORANG BK-KKM-06-01', :action => "analysis_form", :id => @analysis_grade %> 