<h1>Listing shortessays</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Subquestion</th>
    <th>Submark</th>
    <th>Subanswer</th>
    <th>Examquestion</th>
  </tr>

<% @shortessays.each do |shortessay| %>
  <tr>
    <td><%=h shortessay.item %></td>
    <td><%=h shortessay.subquestion %></td>
    <td><%=h shortessay.submark %></td>
    <td><%=h shortessay.subanswer %></td>
    <td><%=h shortessay.examquestion_id %></td>
    <td><%= link_to 'Show', shortessay %></td>
    <td><%= link_to 'Edit', edit_shortessay_path(shortessay) %></td>
    <td><%= link_to 'Destroy', shortessay, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New shortessay', new_shortessay_path %>