<h1>New shortessay</h1>

<% form_for(@shortessay) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </p>
  <p>
    <%= f.label :subquestion %><br />
    <%= f.text_field :subquestion %>
  </p>
  <p>
    <%= f.label :submark %><br />
    <%= f.text_field :submark %>
  </p>
  <p>
    <%= f.label :subanswer %><br />
    <%= f.text_area :subanswer %>
  </p>
  <p>
    <%= f.label :examquestion_id %><br />
    <%= f.text_field :examquestion_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', shortessays_path %>