<p>
  <b>Item:</b>
  <%=h @shortessay.item %>
</p>

<p>
  <b>Subquestion:</b>
  <%=h @shortessay.subquestion %>
</p>

<p>
  <b>Submark:</b>
  <%=h @shortessay.submark %>
</p>

<p>
  <b>Subanswer:</b>
  <%=h @shortessay.subanswer %>
</p>

<p>
  <b>Examquestion:</b>
  <%=h @shortessay.examquestion_id %>
</p>


<%= link_to 'Edit', edit_shortessay_path(@shortessay) %> |
<%= link_to 'Back', shortessays_path %>