<div>
	<H3><%=t('equery.curriculum.search') %> :</h3>
		
		<%= link_to t('back'), :controller=>'curriculumsearches', :action => 'new', :searchcurriculumtype => 1 %><br><br>
		<% unless @curriculumsearch.curriculums.nil?  %>
			<%=t('equery.curriculum.total_curriculums') %> : <%=h @curriculumsearch.curriculums.count %><br>
		<% end %>
		
		<% if @curriculumsearch.curriculums.count > 0%>
			<table border=0 cellpadding=3 cellspacing=0>
			<tr>
				<th width="15px">&nbsp;</th>
				<th width="15px">&nbsp;</th>
				<th width="15px">&nbsp;</th>
				<th width="15px">&nbsp;</th>
				<th>&nbsp;<%#=t('equery.curriculum.name')%></th>
			</tr>
			<% @curriculumsearch.curriculums.each do |x| %>
			<tr>
				<% if x.course_type=='Diploma' || x.course_type=='Diploma Lanjutan' || x.course_type=='Pos Basik' || x.course_type=='Pengkhususan'%>
					<td colspan=5><u><%=t('equery.curriculum.programme').upcase%>&nbsp;:&nbsp;
					<%=x.course_type.upcase%>&nbsp;<%=x.name.upcase%></u></td>
				<% elsif x.course_type=='Semester' %>
					<td>&nbsp;</td><td colspan=4><u><%=x.semester_list%></u></td>
				<% elsif x.course_type=='Subject' %>
					<td colspan=2>&nbsp;</td><td colspan=3><b><%=x.code%>&nbsp;<%=x.name%></b></td>
				<% elsif x.course_type=='Topic' %>
					<td colspan=3>&nbsp;</td><td colspan=2><%=x.code%>&nbsp;|&nbsp;<%=x.name%></td>
				<% elsif x.course_type=='Subtopic' %>
					<td colspan=4>&nbsp;</td><td><%=x.code%>&nbsp;|&nbsp;<%=x.name%></td>
				<% end %>
			</tr>
			<% end %>
			</table>
		<% end %>
</div>
<br><br>
