<div class="tform">
  <table width=100% >
	
	<tr>
		<th colspan = 2>AddBook Details</th>
	</tr>
	<tr>
		<td class="leftcol"><label for="name">Name</label></td>
		<td><%= f.text_field :name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="phone">Phone No</label></td>
		<td><%= f.text_field :phone %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="address">Address</label></td>
		<td><%= f.text_field :address %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="mail">E-Mail</label></td>
		<td><%= f.text_field :mail %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="web">Web</label></td>
		<td><%= f.text_field :web %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="phone">Phone No</label></td>
		<td><%= f.text_field :phone %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="fax">Fax</label></td>
			<td><%= f.text_field :fax %></td>
	</tr>

	
</table>
<BR>