<h3>Editing Addbook</h3>

<% form_for(@addbook) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %>  

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>

<%= link_to 'Show', @addbook %> |
<%= link_to 'Back', addbooks_path %>