<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Lists of Bulletins</h2>
	</div>
	<div class="tlist">
	    <table width=90% border="0" cellpadding="0" cellspacing="0">
		  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Mail</th>
    <th>Web</th>
    <th>Phone</th>
    <th>Fax</th>
    <th colspan=3 class="ac">Control</th>
  </tr>

<% @addbooks.each do |addbook| %>
  <tr>
    <td><%=h addbook.name %></td>
    <td><%=h addbook.phone %></td>
    <td><%=h addbook.address %></td>
    <td><%=h addbook.mail %></td>
    <td><%=h addbook.web %></td>
    <td><%=h addbook.phone %></td>
    <td><%=h addbook.fax %></td>
    <td><%= link_to 'Show', addbook %></td>
    <td><%= link_to 'Edit', edit_addbook_path(addbook) %></td>
    <td><%= link_to 'Destroy', addbook, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Addbook', new_addbook_path %>