<div class="tform">
<H2>AddBook Details</H2>
  <table width=100% >

	<tr>
		<td class="leftcol"><label for="name">Name</label></td>
		<td><b>:</b></td>
		<td> <%=h @addbook.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="address">Address</label></td>
		<td><b>:</b></td>
		<td><%=h @addbook.address %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="mail">Email</label></td>
		<td><b>:</b></td>
		<td> <%=h @addbook.mail %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="web">Website</label></td>
		<td><b>:</b></td>
		<td> <%=h @addbook.web %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="phone">Phone</label></td>
		<td><b>:</b></td>
		<td> <%=h @addbook.phone %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="fax">Phone (Fax)</label></td>
		<td><b>:</b></td>
		<td> <%=h @addbook.fax %></td>
	</tr>
	


</table>
<BR>
</div>


<%= link_to 'Edit', edit_addbook_path(@addbook) %> |
<%= link_to 'Back', addbooks_path %>