<div class="tform">
  <table width=100% >

	<tr>
		<th colspan = 2>AddBook Details</th>
	</tr>
	<tr>
		<td class="leftcol"><label for="name"><b>Name:</b></label></td>
		<td> <%=h @addbook.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="address"><b>Address:</b></label></td>
		<td><%=h @addbook.address %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="mail"><b>Email:</b></label></td>
		<td> <%=h @addbook.mail %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="web"><b>Website:</b></label></td>
		<td> <%=h @addbook.web %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="phone"><b>Phone:</b></label></td>
		<td> <%=h @addbook.phone %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="fax"><b>Phone (Fax):</b></label></td>
		<td> <%=h @addbook.fax %></td>
	</tr>
	


</table>
<BR>
</div>


<%= link_to 'Edit', edit_addbook_path(@addbook) %> |
<%= link_to 'Back', addbooks_path %>