<div class="tform">
  <H2><%= t 'bulletin.bulletin_details' %></H2>
  <table width=100% >
	<tr>
		<td class="leftcol"><label for="headline"><b><%= t 'bulletin.headline' %>:</b></label><font color="red"> * </font></td>
		<td><%= f.text_field :headline %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="content"><b><%= t 'bulletin.content' %>:</b></label><font color="red"> * </font></td>
		<td><%= f.text_area :content, :size => "30x7" %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="postedby_id"><b><%= t 'bulletin.postedby_id' %>:</b></label></td>
		<td><%= f.collection_select :postedby_id, Staff.find(:all, :order=>'name ASC'), :id, :name, :selected=> current_login.staff_id %></td>
	</tr>
	<!-- if id validated for presence... no need to put , :include_blank => true -->
	<tr>
		<td class="leftcol"><label for="publishdt"><b><%= t 'bulletin.publishdate' %>:</b></label></td>
		<td><%= f.date_select :publishdt, :start_year => Time.now.year-1, :order => [:day, :month, :year], :default => 1.days.from_now  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="data"><%= t 'bulletin.upload_file' %>:</label></td>
		<td><font color=#444 size=-2><%=t('current_file')%> : 
				<% if @bulletin.data.exists? then %>
				    <%= @bulletin.data_file_name %><BR>
				<% end %> <%=t('or')%> </font>
				<%= f.file_field :data %><BR>
			  <font color=#AAA size=-2>pdf/txt/doc/docx/xls/png/jpg/txt.  <%=t('max_size')%> : 5MB</font>
		</td>
	</tr>
</table>
<BR>