<h3><%= t 'bulletin.edit' %></h3>

<% form_for(@bulletin, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>
</div>

<%= link_to (t 'show'), @bulletin %> |
<%= link_to (t 'back'), bulletins_path %>