<h3>Editing Bulletin</h3>

<% form_for(@bulletin, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>

<%= link_to 'Show', @bulletin %> |
<%= link_to 'Back', bulletins_path %>