<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left"><%= t 'bulletin.list' %></h2>
		<div class="right">
			<% form_tag bulletins_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search], :placeholder => (t 'bulletin.headline_content') %>
			<%= submit_tag I18n.t('search'), :headline => nil %>
			<% end %>
		</div>
	</div>
</div>
<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => (t 'bulletin.new')) + (t 'bulletin.new'), new_bulletin_path %></p>
</div><BR><BR>
<div class="indextable">
	 <table>
		<tr>
    <th><%= t 'bulletin.headline' %></th>
    <th><%= t 'bulletin.content' %></th>
    <th><%= t 'bulletin.postedby_id' %></th>
    <th><%= t 'bulletin.publishdate' %></th>
    <th colspan=3 class="ac"><%= t 'control' %></th>
  </tr>

<% @bulletins.each do |bulletin| %>
  <tr>
    <td><%=h bulletin.headline %></td>
    <td><%=h truncate(bulletin.content, :length => 60) %></td>
    <td><%=h check_kin {bulletin.staff.mykad_with_staff_name} %></td>
    <td><%=h l(bulletin.publishdt, :format=>"%d %b %Y") %></td>
    <td width=10px ><%= link_to image_tag("document.png", :border => 0, :title=>(t 'show')), :action => 'show', :id => bulletin %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title=>(t 'edit')), :action => 'edit', :id => bulletin %></td>
	  <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => (t 'delete')), bulletin, :confirm => (t 'are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to (t 'bulletin.new'), new_bulletin_path %>