<h3><%= t 'bulletin.new' %></h3>

<% form_for(@bulletin, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 

  <p><%=t('fields_marked_asterics')%> <font color="red"> * </font><%=t('are_required')%></td></p>

<p>
    <%= f.submit (t 'create') %>
  </p>
<% end %>
</div>

<%= link_to (t 'back'), bulletins_path %>