<div class="tform">
	
	<H2><%= t 'bulletin.bulletin_details' %></H2>
  <table width=100% >
		<tr>
			<td class="leftcol"><label for="headline"><b><%= t 'bulletin.headline' %> </b></label></td>
			<td><b>:</b></td>
			<td> <%=h @bulletin.headline %></td>
		</tr>	
		<tr>
			<td class="leftcol"><label for="content"><b><%= t 'bulletin.content' %> </b></label></td>
			<td><b>:</b></td>
			<td> <%=h @bulletin.content %></td>
		</tr>	
		<tr>
			<td class="leftcol"><label for="postedby_id"><b><%= t 'bulletin.postedby_id' %> </b></label></td>
			<td><b>:</b></td>
			<td><%=h @bulletin.staff.staff_name_with_title %></td>
		</tr>	
		<tr>
			<td class="leftcol"><label for="publishdt"><b>Publish Date</b></label></td>
			<td><b>:</b></td>
			<td> <%=h @bulletin.publishdt.strftime("%d-%b-%Y") %></td>
		</tr>	
		<tr>
			<td class="leftcol"><label for="data"><b><%= t 'bulletin.uploaded' %> </b></label></td>
			<td><b>:</b></td>
			<td><% if @bulletin.data.exists? then %>
			    <%= @bulletin.data_file_name %>
			    <%= link_to (t 'bulletin.download'), @bulletin.data.url %> ||
		        <%= link_to "ALT", @bulletin.data.url %>
			    <% else %>
			    No File Available
			    <% end %></td>
		</tr>
	</table>
<BR>
</div>
<%= link_to (t 'icms.update'), edit_bulletin_path(@bulletin) %> |
<%= link_to (t 'icms.back'), bulletins_path %>