<div class="tform">
	<H2>Weekly Timetable Search</H2>

<% form_for @weeklytimetablesearch do |f| %>
  <%= f.error_messages %>
	<% if @searchweeklytimetabletype=='1' || @searchweeklytimetabletype==1 %>
		<%= hidden_field_tag :method,  1 %>
		
		<table width=100% >
			<tr><td colspan=2>Search Weekly Timetable By :</td></tr>
			
			<tr class="programme_item" style="display:none;">
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<%= f.label :programme %></td>
				<td> <%= f.collection_select :programme_id, Programme.roots, :id, :programme_list, :include_blank=> "Select" %></td>
			</tr>
			<!--retrieve data for intake_ids-->
			<% @weeklytimetables_intake_ids = Weeklytimetable.all.map(&:intake_id) %>
			<% @intake_fr_intaketable = Intake.find(:all, :conditions => ['id IN (?)',@weeklytimetables_intake_ids ]).sort_by{|x|x.programme.course_type}%>
			<!--retrieve data for intake_ids-->
			<tr class="intake_item">
				<td class="leftcol">&nbsp;&nbsp;&nbsp;Intake - Programme</td>
				<td>
					<%#= date_select :intake, params[:intake], :order => [:month, :year], :include_blank => true %>
					<%= f.collection_select :intake_id, @intake_fr_intaketable, :id, :intake_programme, :include_blank=>"Select" %><!--intake from INTAKE table-->	
					
				</td>
			</tr>
			<tr>
				<td colspan=2 style="text-valign:top;">
					&nbsp;&nbsp;&nbsp;<%= f.check_box :intake,:checked=>"checked",:class => 'intake_programme', :id=> 'intake_checker' %>&nbsp;
					<font size=-2><b>Untick</b> to select by Programme. <b>Tick</b> to select by Intake-Programme.</font>
				</td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<%= f.label :start_date %></td>
				<td><%= date_select :startdate, params[:startdate], :include_blank => true %></td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<%= f.label :end_date %></td>
				<td><%= date_select :enddate, params[:enddate], :include_blank => true %></td>
			</tr>
			<tr>
				<% @positions_staff_ids_of_trainer = Position.find(2).descendants.map(&:staff_id).compact %>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<%= f.label :prepared_by %></td>
				<td><%= f.collection_select :preparedby, Staff.find(:all, :conditions =>['id IN (?)',@positions_staff_ids_of_trainer]).sort_by{|x|x.name}, :id, :name, :include_blank=> "Select" %></td>
			</tr>
		</table>
		
		<% end %>
  <p><%= f.submit "Search"%>&nbsp;<font size=-2>Leaves all fields 'blank' / 'unselected' to display ALL record.</font></p>
<% end %>

</div>


<script type="text/javascript">
		$j(document).ready(function(){
			$j("input[class='intake_programme']").change(function() {  
			     	if($j('#intake_checker').is(':checked')) { 
				       		$j(".programme_item").hide();
							$j(".intake_item").show();
				     }else{
							$j(".intake_item").hide();
							$j(".programme_item").show();
				     }
			   });			
		});
</script>

