<div>
	<H3><%=(t 'equery.weeklytimetable.search').upcase%> :</h3>
		
		<%= link_to t('back'), :controller=>'weeklytimetablesearches', :action => 'new', :searchweeklytimetabletype => 1 %><br><br>
		
		<!--additional heading-->
		<% if @weeklytimetablesearch.programme_id && @weeklytimetablesearch.programme_id.blank? == false && @weeklytimetablesearch.intake != 1%>
			<span style="text-decoration:underline;">
				<%=(t 'equery.weeklytimetable.search_by_programme') %> : <b><%= Programme.find(@weeklytimetablesearch.programme_id).programme_list %></b><br><br>
			</span>
		<% end %>
		<% if @weeklytimetablesearch.intake_id && @weeklytimetablesearch.intake_id.blank? == false && @weeklytimetablesearch.intake == 1 %>
			<span style="text-decoration:underline;">
				<%=(t 'equery.weeklytimetable.search_by_intake') %> : <b><%=@weeklytimetablesearch.weeklytimetables[0].schedule_intake.name %></b>
				<%=t('equery.weeklytimetable.of_programme')%> : <b><%=@weeklytimetablesearch.weeklytimetables[0].schedule_intake.programme.programme_list %></b><br><br>
			</span>
		<% end %>
		<% if @weeklytimetablesearch.preparedby && @weeklytimetablesearch.preparedby.blank? == false %>
			<span style="text-decoration:underline;">
				<%=(t 'equery.weeklytimetable.search_by_preparedby') %> : <b><%=Staff.find(@weeklytimetablesearch.preparedby).name %></b><br><br>
			</span>
		<% end %>
		<% if @weeklytimetablesearch.startdate && @weeklytimetablesearch.startdate.blank? == false %>
			<span style="text-decoration:underline;">
				<%=(t 'equery.weeklytimetable.search_by_startdate') %> : <b><%=@weeklytimetablesearch.startdate.strftime("%d-%m-%Y") %></b><br><br>
			</span>
		<% end %>
		<% if @weeklytimetablesearch.enddate && @weeklytimetablesearch.enddate.blank? == false %>
			<span style="text-decoration:underline;">
				<%=(t 'equery.weeklytimetable.search_by_enddate') %> : <b><%=@weeklytimetablesearch.enddate.strftime("%d-%m-%Y") %></b><br><br>
			</span>
		<% end %>
		<!--additional heading-->
		<%=(t 'equery.weeklytimetable.total_weeklytimetables') %> : <%=@weeklytimetablesearch.weeklytimetables.count%><br><br>
		
		<!--weeklytimetable data display-->
		<% if @weeklytimetablesearch.weeklytimetables.count > 0%>
			<!--start : SEARCH BY PROGRAMME-->
			<table border=1 cellpadding=3 cellspacing=0>
				<tr>
					<th>No</th>
					<% if (@weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank? && @weeklytimetablesearch.startdate.blank? && @weeklytimetablesearch.enddate.blank? && @weeklytimetablesearch.preparedby.blank?) || (@weeklytimetablesearch.startdate && @weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank?) || (@weeklytimetablesearch.enddate && @weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank?)|| (@weeklytimetablesearch.preparedby && @weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank?) %>
						<th><%=t('intake.programme_id')%></th>
					<% end %>
					<th width=65px><%=t('student.intake')%></th>
					<th>Semester</th>
					<th><%=t('academic_session.title2')%></th><!--Academic Session-->
					<th><%=t('weeklytimetable.week')%></th>
					<th width=65px><%=(t 'equery.weeklytimetable.startdate') %></th>
					<th width=65px><%=(t 'equery.weeklytimetable.enddate') %></th>
					<th><%=(t 'equery.weeklytimetable.preparedby') %></th>
					<th><%=(t 'equery.weeklytimetable.endorsedby') %></th>
					<th>Status</th>
					<th><%=(t 'equery.weeklytimetable.links') %></th>
				</tr>
				<% @weeklytimetablesearch.weeklytimetables.sort_by{|x|[x.programme_id, x.schedule_intake.monthyear_intake]}.each_with_index do |timetable, index| %>
					<tr>
						<td><%=index+1%></td>
						<%# if (@weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank? && @weeklytimetablesearch.startdate.blank? && @weeklytimetablesearch.preparedby.blank?) || @weeklytimetablesearch.startdate || @weeklytimetablesearch.enddate || @weeklytimetablesearch.preparedby %>
						<% if (@weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank? && @weeklytimetablesearch.startdate.blank? && @weeklytimetablesearch.enddate.blank? && @weeklytimetablesearch.preparedby.blank?) || (@weeklytimetablesearch.startdate && @weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank?) || (@weeklytimetablesearch.enddate && @weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank?)|| (@weeklytimetablesearch.preparedby && @weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank?) %>
							<td><%=timetable.schedule_programme.programme_list%></td>
						<% end %>
						<td align="center"><%=timetable.schedule_intake.name%></td>
						<td align="center"><%=timetable.semester%></td>
						<td align="center"><%=timetable.academic_semester.semester%></td>
						<td align="center"><%=timetable.week%>/<%=timetable.academic_semester.total_week%></td>
						<td><%=timetable.startdate.strftime("%d-%m-%Y")%></td>
						<td><%=timetable.enddate.strftime("%d-%m-%Y")%></td>
						<td><%=timetable.schedule_creator.name%></td>
						<td><%=timetable.schedule_approver.blank? ? "" : timetable.schedule_approver.name%></td>
						<td>
							<% if timetable.hod_approved==true %>
								<b><%=t('equery.weeklytimetable.approved')%></b>
							<% else%>
								<% if timetable.hod_approved==false && timetable.hod_rejected==true%>
									<font color=red><%=t('equery.weeklytimetable.rejected')%> (<%=timetable.reason%>)</font>
								<% else %>
									<%=t('equery.weeklytimetable.submitted')%>
								<% end %>
							<% end %>
						</td>
						<td><% if timetable.hod_approved==true %>
						<%= link_to (t 'equery.weeklytimetable.timetable'), :controller=>'weeklytimetables', :action => 'general_timetable', :id => timetable.id %><% end %></td>
					</tr>
				<% end %>
			</table><br>		
		<% end %>
	<!--weeklytimetable data display-->	


</div>
