<div>
	<H3>WEEKLY TIMETABLE SEARCH :</h3>
		
		<%= link_to "Back", :controller=>'weeklytimetablesearches', :action => 'new', :searchweeklytimetabletype => 1 %><br><br>
		
		<!--additional heading-->
		<% if @weeklytimetablesearch.programme_id && @weeklytimetablesearch.programme_id.blank? == false && @weeklytimetablesearch.intake != 1%>
			<span style="text-decoration:underline;">
				Search by Programme : <b><%= Programme.find(@weeklytimetablesearch.programme_id).programme_list %></b><br><br>
			</span>
		<% end %>
		<% if @weeklytimetablesearch.intake_id && @weeklytimetablesearch.intake_id.blank? == false && @weeklytimetablesearch.intake == 1 %>
			<span style="text-decoration:underline;">
				Search by Intake : <b><%=@weeklytimetablesearch.weeklytimetables[0].schedule_intake.name %></b>
				of Programme : <b><%=@weeklytimetablesearch.weeklytimetables[0].schedule_intake.programme.programme_list %></b><br><br>
			</span>
		<% end %>
		<% if @weeklytimetablesearch.preparedby && @weeklytimetablesearch.preparedby.blank? == false %>
			<span style="text-decoration:underline;">
				Search by (Prepared By) : <b><%=Staff.find(@weeklytimetablesearch.preparedby).name %></b><br><br>
			</span>
		<% end %>
		<% if @weeklytimetablesearch.startdate && @weeklytimetablesearch.startdate.blank? == false %>
			<span style="text-decoration:underline;">
				Search by (Start Date) : <b><%=@weeklytimetablesearch.startdate.strftime("%d-%m-%Y") %></b><br><br>
			</span>
		<% end %>
		<% if @weeklytimetablesearch.enddate && @weeklytimetablesearch.enddate.blank? == false %>
			<span style="text-decoration:underline;">
				Search by (End Date) : <b><%=@weeklytimetablesearch.enddate.strftime("%d-%m-%Y") %></b><br><br>
			</span>
		<% end %>
		<!--additional heading-->
		Total Weekly Timetables : <%=@weeklytimetablesearch.weeklytimetables.count%><br><br>
		
		<!--weeklytimetable data display-->
		<% if @weeklytimetablesearch.weeklytimetables.count > 0%>
			<!--start : SEARCH BY PROGRAMME-->
			<table border=1 cellpadding=3 cellspacing=0>
				<tr>
					<th>No</th>
					<% if (@weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank? && @weeklytimetablesearch.startdate.blank? && @weeklytimetablesearch.enddate.blank? && @weeklytimetablesearch.preparedby.blank?) || (@weeklytimetablesearch.startdate && @weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank?) || (@weeklytimetablesearch.enddate && @weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank?)|| (@weeklytimetablesearch.preparedby && @weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank?) %>
						<th>Programme</th>
					<% end %>
					<th width=65px>Intake</th>
					<th>Semester</th>
					<th>Academic Session</th>
					<th>Week</th>
					<th width=65px>Start Date</th>
					<th width=65px>End Date</th>
					<th>Prepared By</th>
					<th>Endorsed By</th>
					<th>Status</th>
					<th>Links</th>
				</tr>
				<% @weeklytimetablesearch.weeklytimetables.each_with_index do |timetable, index| %>
					<tr>
						<td><%=index+1%></td>
						<%# if (@weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank? && @weeklytimetablesearch.startdate.blank? && @weeklytimetablesearch.preparedby.blank?) || @weeklytimetablesearch.startdate || @weeklytimetablesearch.enddate || @weeklytimetablesearch.preparedby %>
						<% if (@weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank? && @weeklytimetablesearch.startdate.blank? && @weeklytimetablesearch.enddate.blank? && @weeklytimetablesearch.preparedby.blank?) || (@weeklytimetablesearch.startdate && @weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank?) || (@weeklytimetablesearch.enddate && @weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank?)|| (@weeklytimetablesearch.preparedby && @weeklytimetablesearch.programme_id.blank? && @weeklytimetablesearch.intake_id.blank?) %>
							<td><%=timetable.schedule_programme.programme_list%></td>
						<% end %>
						<td align="center"><%=timetable.schedule_intake.name%></td>
						<td align="center"><%=timetable.semester%></td>
						<td align="center"><%=timetable.academic_semester.semester%></td>
						<td align="center"><%=timetable.week%>/<%=timetable.academic_semester.total_week%></td>
						<td><%=timetable.startdate.strftime("%d-%m-%Y")%></td>
						<td><%=timetable.enddate.strftime("%d-%m-%Y")%></td>
						<td><%=timetable.schedule_creator.name%></td>
						<td><%=timetable.schedule_approver.blank? ? "" : timetable.schedule_approver.name%></td>
						<td>
							<% if timetable.hod_approved==true %>
								Approved
							<% else%>
								<% if timetable.hod_approved==false && timetable.hod_rejected==true%>
									Rejected (<%=timetable.reason%>)
								<% elsif timetable.hod_approved.blank? && timetable.hod_rejected.blank? && timetable.is_submitted==true%>
									Submitted
								<% end %>
							<% end %>
						</td>
						<td><%= link_to "Timetable", :controller=>'weeklytimetables', :action => 'general_timetable', :id => timetable.id %></td>
					</tr>
				<% end %>
			</table><br>		
		<% end %>
	<!--weeklytimetable data display-->	


</div>
