<div class="fields">
<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
<td width=30%><%= f.text_field :organisation_name, :placeholder => 'Organisation Name' %></td>
<td width=30%><%= f.text_field :position_name, :placeholder => 'Position' %></td>
<td width=35%><%= f.text_field :place, :placeholder => 'Place' %></td><%= f.hidden_field :_destroy %>
<td width=5%><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %></td>
</table>
</div>


