<%= form_for @student, :html => { :class => 'form-horizontal' } do |f| %>
<% if @student.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@student.errors.count, "error") %>.
    </div>
    <ul>
    <% @student.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  
  <%- model_class = Student -%>
  
  <div class="tabbable tabs-right">
    <ul class="nav nav-tabs">
      <li><a href="#main"     data-toggle="tab">Main</a></li>
  		<li><a href="#others"   data-toggle="tab">Others</a></li>
  		<li><a href="#course"   data-toggle="tab">Course Details</a></li>
  		<li><a href="#health"   data-toggle="tab">Health</a></li>
  		<li><a href="#qualifications" data-toggle="tab">Qualifications</a></li>
  		<li><a href="#spm"      data-toggle="tab">SPM Results</a></li>
  		<li><a href="#contact"  data-toggle="tab">Contact Info</a></li>
  		<li><a href="#photo"  data-toggle="tab">Photo</a></li>
    </ul>
    <div class="tab-content">     
       

  	  <div class="tab-pane active" id="main">
  	    <%= render :partial => 'main', :locals => { :f => f } %>
  		</div>

  		<div class="tab-pane" id="others">
  		  <div class="control-group"><%= f.label :born_on, :class => 'control-label' %>
			    <div id="datetimepicker4" class="input-append" data-date-format="dd-mm-yyyy">
						<%= f.text_field :born_on, :class => 'datepicker' %>
						<span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
					</div>
			  </div>

        <div class="control-group"><%= f.label :address, :class => 'control-label' %>
          <div class="controls">
          <%= f.text_area :address,  :rows => "6", :class => 'text-area' %></div></div>
        <div class="control-group"><%= f.label :account_id, :class => 'control-label' %>
          <div class="controls"><%= f.text_field :account_id, :class => 'input-large' %></div></div>
  		</div>

  		<div class="tab-pane" id="course">
  		  <div class="control-group"><%= f.label :registered_on, :class => 'control-label' %>
          <div class="controls"><%= f.text_field :registered_on, :class => 'input-large' %></div></div>
        <div class="control-group"><%= f.label :programme_id, :class => 'control-label' %>
          <div class="controls"><%= f.text_field :programme_id, :class => 'input-large' %></div></div>
  		</div>

  		<div class="tab-pane" id="photo">
  		  Upload photo or use gravatar
  		</div>
    </div>
  </div>
  
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                students_path, :class => 'btn' %>
  </div>
  
<% end %>

<script>
	$(function() {
			$('#datetimepicker4').datetimepicker({format: 'dd-MM-yyyy', pickTime: false });
	  });
</script>
