<div class="tform">
	<H2>Student Informations</H2>
	<table width=100% border=0>
			<tr>
					<td class="leftcol"><%= t 'student.icno' %><font color="red"> * </font></td>
					<td><b>:</b></td>
					<td><%= f.text_field :icno, :size => 12 %><font color="grey", size="-2"> example : 90010103XXXX </font></td>
			</tr>
			<tr>
					<td class="leftcol"><%= t 'student.name' %><font color="red"> * </font></td>
					<td><b>:</b></td>
					<td><%= f.text_field :name %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><%= t 'student.sstatus' %></td>
					<td><b>:</b></td>
					<td><%= f.select :sstatus, 
					           Student::STATUS,
					           :prompt => "Select"  %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><label for="pangkat"><%= t 'student.pangkat' %></label></td>
					<td><b>:</b></td>
					<td><%= f.select :pangkat,
						           Student::RANK,
						           :prompt => "Select" %></td>
			</tr>

			<tr>
					<td class="leftcol"><label for="unit"><%= t 'student.unit' %></label></td>
					<td><b>:</b></td>
					<td><%= f.text_field :unit %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><label for="gender"><%= t 'student.gender' %></label><font color="red"> * </font></td>
					<td><b>:</b></td>
					<td><%= f.radio_button :gender,'1' %>Male<%= f.radio_button :gender,'2' %>Female</td>
			</tr>
			
			<tr>
					<td class="leftcol"><label for="mrtlstatuscd"><%= t 'student.mrtlstatuscd' %></label></td>
					<td><b>:</b></td>
					<td><%= f.select :mrtlstatuscd, 
					           Student::MARITAL_STATUS,
					           :prompt => "Select"  %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><%= t 'student.stelno' %></td>
					<td><b>:</b></td>
					<td><%= f.text_field :stelno %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><label for="phoneoffice"><%= t 'student.phoneoffice' %></label></td>
					<td><b>:</b></td>
					<td><%= f.text_field :phoneoffice %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><label for="phonehome"><%= t 'student.phonehome' %></label></td>
					<td><b>:</b></td>
					<td><%= f.text_field :phonehome %></td>
			</tr>
			
			<tr><!--17/11/2011 - Shaliza added translation for address and address duty-->
					<td class="leftcol"><label for="remarks"><%= t 'student.address' %>:</label></td>
					<td><b>:</b></td>
					<td><%= f.text_area :address, :size => "40x7" %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="remarks"><%= t 'student.address_posbasik' %> :</label></td>
				<td><b>:</b></td>
				<td><%= f.text_area :office_address, :size => "40x7" %></td>
			</tr>
						
			
			<tr>
					<td class="leftcol"><label for="sbirthdt"><%= t 'student.dob' %></label><font color="red"> * </font></td>
					<td><b>:</b></td>
					<td><%= f.date_select :sbirthdt, :start_year => 1980, :end_year => 2012, :order => [:day, :month, :year], :include_blank => true %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><%= t 'student.statecd' %></td>
					<td><b>:</b></td>
					<td><%= f.select :statecd,
						           Student::STATECD,
						           :prompt => "Select" %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><%= t 'student.race' %></td>
					<td><b>:</b></td>
					<td><%= f.select :race,
						           Student::RACE,
						           :prompt => "Select" %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><%= t 'student.religion' %></td>
					<td><b>:</b></td>
					<td><%= f.select :religion,
						           Student::RELIGION,
						           :prompt => "Select" %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><label for="bloodtype"><%= t 'student.bloodtype' %></label></td>
					<td><b>:</b></td>
					<td><%= f.select :bloodtype,
						           Student::BLOOD_TYPE,
						           :prompt => "Select" %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><label for="semail"><%= t 'student.semail' %></label></td>
					<td><b>:</b></td>
					<td><%= f.text_field :semail %></td>
			</tr>	
			
	         <tr>
					<td class="leftcol"><label for="upload"><%= t 'staff.upload' %></label></td>
					<td><b>:</b></td>
					<td><%= f.file_field :photo %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><%= t 'student.vehicletype' %></td>
					<td><b>:</b></td>
					<td><%= f.select :vehicletype, 
					           Student::VEHICLE,
					           :prompt => "Select"  %></td>
			</tr>
				
			<tr>
					<td class="leftcol"><%= t 'student.vehicleregno' %></td>
					<td><b>:</b></td>
					<td><%= f.text_field :vehicleregno, :size => 14 %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><label for="approve_id"><%= t 'student.approve_id' %></label></td>
					<td><b>:</b></td>
					<td><%= f.collection_select :approve_id, Staff.find(:all), :id, :staff_name_with_title, :include_blank => true %></td>
			</tr>
	</table>


	<H2>Course / Accommodation / Meal Informations</H2>
	<table width=100%>
			<tr>
					<td class="leftcol"><label for="course_id"><%= t 'student.course_id' %></label></td>
					<td><b>:</b></td>
					<td><%= f.collection_select :course_id, Programme.find(:all), :id, :programme_with_specialisation, :include_blank => true %> </td>
			</tr>
	
		
			
			<tr>
					<td class="leftcol"><label for="intake"><%= t 'student.intake_id' %></label></td>
					<td><b>:</b></td>
					<td><%= f.collection_select :intake_id, Intake.find(:all), :id, :name, :include_blank => true %> &nbsp; <i>Click Here</i> <%= link_to 'Add Intake', new_intake_path(:student_id => @student) %> </td>
			</tr>
			
			<tr>
				<td class="leftcol"><%= t 'student.startdate' %></td>
				<td><b>:</b></td>
	    		<td><%= f.date_select :start_training, :start_year => 2007, :end_year => 2050, :order => [:day, :month, :year], :include_blank => true  	%></td>
			</tr>
			
			<tr>
					<td class="leftcol"><label for="end_training"><%= t 'student.enddate' %></label></td>
					<td><b>:</b></td>
					<td><%= f.date_select :end_training, :order => [:day, :month, :year], :include_blank => true %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><label for="end_training">Accommodation Needs</label></td>
					<td><b>:</b></td>
					<td><%= f.radio_button :accomodation,'yes' %>Yes &nbsp <%= f.radio_button :accomodation,'no' %>No</td>
				
			</tr>
			
			<tr>
					<td class="leftcol"><label for="end_training">Meals Needs</label></td>
					<td><b>:</b></td>
					<td><%= f.radio_button :dish,'yes' %>Yes &nbsp <%= f.radio_button :dish,'no' %>No</td>
				
			</tr>
	</table><BR><BR>
	

<div>
	  <H2>Qualifications</H2>
	<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
		<th width=30% align="center">Level Type </font></th>
		<th width=30% align="center">Qualification Name</th>
		<th width=35% align="center">Institute Name</th>
		<th width=5% align="center"></th>
		</table>
		<% f.fields_for :qualifications do |builder| %>
			<%= render 'qualification_fields', :f => builder %>
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :qualifications %> - Add More </p>
</div><BR><BR>

		

<div>
	<H2>Working Experiences</H2>
		<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
			<th width=30% align="center">Organisation Name </font></th>
			<th width=30% align="center">Position</th>
			<th width=35% align="center">Place</th>
			<th width=5% align="center"></th>
		</table>
				<% f.fields_for :exworks do |builder| %>
					<%= render 'exwork_fields', :f => builder %>
				<% end %>
	<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :exworks %> - Add More </p>
</div><BR><BR>	
 

<div>
	  <H2>Contact Information</H2>
	 <table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
		<th width=17% align="center"><%= t 'student.kintype_id' %></th>
		<th width=17% align="center"><%= t 'student.name' %></th>
		<th width=12% align="center"><%= t 'student.icno' %></th>
		<th width=12% align="center"><%= t 'staff.phone' %></th>
		<th width=15% align="center">Profession</th>
		<th width=20% align="center">Address</th>
		<th width=3% align="center"></th>
	</table>
		
		<% f.fields_for :kins do |builder| %>
			<%= render 'kin_fields', :f => builder -%>
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add More'), f, :kins %> - Add More </p>
</div><BR><BR>
</div>






	



	
