<div class="tform">
	<H2>Personal Details</H2>
	<table width=100%>
			<tr>
					<td class="leftcol"><%= t 'student.icno' %><font color="red"> * </font></td>
					<td><%= f.text_field :icno, :size => 12 %></td>
			</tr>
			<tr>
					<td class="leftcol"><%= t 'student.name' %><font color="red"> * </font></td>
					<td><%= f.text_field :name %></td>
			</tr>
			<tr>
					<td class="leftcol"><%= t 'student.matrixno' %></td>
					<td><%= f.text_field :matrixno %></td>
			</tr>
			<tr>
					<td class="leftcol"><%= t 'student.sstatus' %><font color="red"> * </font></td>
					<td><%= f.select :sstatus, 
					           Student::STATUS,
					           :prompt => "Select"  %></td>
			</tr>
			<tr>
					<td class="leftcol"><%= t 'student.stelno' %><font color="red"> * </font></td>
					<td><%= f.text_field :stelno %></td>
			</tr>
			
			<tr><!--17/11/2011 - Shaliza added translation for address and address duty-->
					<td class="leftcol"><label for="remarks"><%= t 'student.address' %>:</label></td>
					<td><%= f.text_area :address, :size => "40x7" %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><label for="remarks"><%= t 'student.address_posbasik' %> :</label></td>
					<td><%= f.text_area :address_posbasik, :size => "40x7" %></td>
			</tr>
						
			<tr>
					<td class="leftcol"><label for="ssponsor">Sponsor:</label><font color="red"> * </font></td>
					<td><%= f.select :ssponsor,
					           Student::SPONSOR,
					           :prompt => "Select"  %></td>
			</tr>
			<tr>
					<td class="leftcol"><label for="gender">Gender:</label><font color="red"> * </font></td>
					<td><%= f.radio_button :gender,'1' %>Male<%= f.radio_button :gender,'2' %>Female</td>
			</tr>
			<tr>
					<td class="leftcol"><label for="sbirthdt">Date of Birth:</label></td>
					<td><%= f.date_select :sbirthdt, :start_year => 1970, :end_year => 1995, :order => [:day, :month, :year] %></td>
			</tr>
			<tr>
					<td class="leftcol"><label for="mrtlstatuscd">Marital Status:</label><font color="red"> * </font></td>
					<td><%= f.select :mrtlstatuscd, 
					           Student::MARITAL_STATUS,
					           :prompt => "Select"  %></td>
			</tr>
			<tr>
					<td class="leftcol"><%= t 'student.race' %></td>
					<td><%= f.text_field :race %></td>
			</tr>
			<tr>
					<td class="leftcol"><label for="semail">Email:</label></td>
					<td><%= f.text_field :semail %></td>
			</tr>
			<tr>
					<td class="leftcol"><%= t 'student.regdate' %></td>
					<td><%= f.date_select :regdate, :start_year => 2007, :end_year => 2050, :order => [:day, :month, :year] %></td>
			</tr>
			<tr>
					<td class="leftcol"><%= t 'student.offer_letter_serial' %></td>
					<td><%= f.text_field :offer_letter_serial %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><label for="upload"><b><%= t 'staff.upload' %></b></label></td>
					<td><%= f.file_field :photo %></td>
			</tr>
	</table><BR><BR>


	<H2>Course Details</H2>
	<table width=100%>
			<tr>
					<td class="leftcol"><label for="course_id">Programme:</label></td>
					<td><%= f.collection_select :course_id, Programme.roots, :id, :programme_list, :include_blank => true %></td>
			</tr>
		<!--15/11/2011 - Shaliza hide specialisation because I add :programme_with_specialisation in programme field.
			<tr>
					<td class="leftcol"><label for="specilisation">Specialisation:</label></td>
					<td><#%= f.text_field :specilisation %></td>
			</tr>-->
			<tr>
					<td class="leftcol"><label for="group_id">Group:</label></td>
					<td><%= f.text_field :group_id %></td>
			</tr>
			
		<tr><!-- 21/10/2011 - Shaliza add red star (*) or validates_presence_of for Intake session to avoid it's got error in index page if its empty -->
					<td class="leftcol"><label for="intake">Intake Session:</label><font color="red"> * </font></td>
					<td><%= f.date_select :intake, :order => [:month, :year], :include_blank => true %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><label for="sbirthdt">Date End Of Studies:</label></td>
					<td><%= f.date_select :end_training, :order => [:day, :month, :year] %></td>
			</tr>
	</table><BR><BR>
	
	<H2>Health Status</H2>
	<table width=100%>
			<tr>
					<td class="leftcol"><label for="physical">Physical:</label></td>
					<td><%= f.text_field :physical %></td>
			</tr>
			<tr>
					<td class="leftcol"><label for="allergy">Allergies:</label></td>
					<td><%= f.text_field :allergy %></td>
			</tr>
			<tr>
					<td class="leftcol"><label for="allergy">Condition/Diseases:</label></td>
					<td><%= f.text_field :disease %></td>
			</tr>
			<tr>
					<td class="leftcol"><label for="bloodtype">Blood Group:</label></td>
					<td><%= f.select :bloodtype,
					           Student::BLOOD_TYPE,
					           :prompt => "Select" %></td>
			</tr>
			<tr>
					<td class="leftcol"><label for="medication">Medication:</label></td>
					<td><%= f.text_field :medication %></td>
			</tr>
			<tr>
					<td class="leftcol"><label for="remarks">Remarks:</label></td>
					<td><%= f.text_area :remarks, :size => "30x7" %></td>
			</tr>
	</table><BR><BR>

	
	<div>
	  <H2>Qualifications</H2>
		<p><strong>
				<div style="width: 190px; float: left;">|  Level Type </div>
				<div style="width: 255px; float: left;">|  Qualification Name </div>
				<div style="width: 380px; float: left;">|  Name of Institute </div>
				</strong></p><BR>
		<% f.fields_for :qualifications do |builder| %>
			<%= render 'qualification_fields', :f => builder %>
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :qualifications %> - Add More </p>
	</div><BR><BR>
		
	<div>
	  <H2>SPM Results</H2>
		<p><strong>
				<div style="width: 253px; float: left;">|  Subject</div>
				<div style="width: 255px; float: left;">|  Grade  </div>
				</strong></p><BR>
		<% f.fields_for :spmresults do |builder| %>
			<%= render 'spmresult_fields', :f => builder %>
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :spmresults %> - Add More </p>
	</div><BR><BR>
	
 

	<div>
	  <H2>Contact Information And Guarantor</H2>
		<p><strong>
				<div style="width: 170px; float: left;">|  <%= t 'student.kintype_id' %> </div>
				<div style="width: 250px; float: left;">|  <%= t 'student.name' %> </div>
				<div style="width: 160px; float: left;">|  <%= t 'student.icno' %> </div>
				<div style="width: 150px; float: left;">|  <%= t 'staff.phone' %> </div>
				<div style="width: 170px; float: left;">|  Profession </div><BR>
				<div style="width: 170px; float: left;">|  Address </div><BR></strong></p>
		<% f.fields_for :kins do |builder| %>
			<%= render 'kin_fields', :f => builder -%>
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add More'), f, :kins %> - Add More </p>
	</div><BR><BR>

</div>





	



	
