<div class="fields">
	<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
	<td width=15%><%= f.select :kintype_id, Kin::KTYPE, :prompt => "Select Type" %></td>        
	<td width=15%><%= f.text_area :name, :size => "14x2" %></td>                                  
    <td width=12%><%= f.text_field :kinbirthdt, :size => 12, :placeholder => 'DOB yyyyddmm' %></td>
	<td width=12%><%= f.text_field :phone, :size => 12, :placeholder => 'Phone No' %></td> 	
	<td width=15%><%= f.text_area :profession, :size => "12x2", :placeholder => 'Profession' %></td>
	<td width=20%><%= f.text_area :kinaddr, :size => "15x3", :placeholder => 'Address' %></td><%= f.hidden_field :_destroy %>
	<td width=3%><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %></td>
</table>        
</div>
