<div class="fields">
	<div style="width: 170px; float: left;">|  <%= f.select :kintype_id, Kin::KTYPE, :prompt => "Select Type" %>   </div>    
	<div style="width: 250px; float: left;">|  <%= f.text_field :name, :size => 31, :placeholder => 'Name' %>   </div>                               
  <div style="width: 160px; float: left;">|  <%= f.text_field :mykadno, :size => 15, :placeholder => 'MYKad' %></div>
	<div style="width: 150px; float: left;">|  <%= f.text_field :phone, :size => 12, :placeholder => 'Phone No' %> 	</div>
	|  <%= f.text_field :profession, :size => 25, :placeholder => 'Profession' %>
	<BR>                             
	|  <%= f.text_area :kinaddr, :size => '106x3', :placeholder => 'Address' %><%= f.hidden_field :_destroy %>
	<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>        
</div>
 <BR>
