.control-group.pull-right
  = f.label :status_type, :class => 'control-label'
  .controls
    .switch{"data-off" => "danger", "data-off-label" => "not", "data-on-label" => "active", :tabindex => "0"}
      = f.check_box :status_type
.control-group
  = f.label "MYKad No", :class => 'control-label'
  .controls= f.text_field :id_no1, :class => 'input-large'
.control-group
  = f.label :name, :class => 'control-label'
  .controls= f.text_field :name, :class => 'text_field'
.control-group
  = f.label "Matrix No", :class => 'control-label'
  .controls= f.text_field :id_no2, :class => 'input-large'
.control-group
  = f.label :email, :class => 'control-label'
  .controls= f.text_field :email, :class => 'input-large'
.control-group
  = f.label :telephone, :class => 'control-label'
  .controls= f.text_field :telephone, :class => 'input-large'
.control-group{:style => "width:40%;"}
  = f.label :gender, :class => 'control-label'
  .controls.slider.small.slider-two.alert.alert-info
    = f.radio_button :gender,'male', :id => 'gender1'
    %label{:for => "gender1", :onclick => ""} Male
    = f.radio_button :gender,'female', :id => 'gender2'
    %label{:for => "gender2", :onclick => ""} Female
    %span.slide-button.btn.btn-action
.control-group{:style => "width:50%;"}
  = f.label :marital_status, :class => 'control-label'
  .controls.slider.small.slider-three.alert.alert-info
    = f.radio_button :marital_status,'single', :id => 'marital_status1'
    %label{:for => "marital_status1", :onclick => ""} Single
    = f.radio_button :marital_status,'married', :id => 'marital_status2'
    %label{:for => "marital_status2", :onclick => ""} Married
    = f.radio_button :marital_status,'others', :id => 'marital_status3'
    %label{:for => "marital_status3", :onclick => ""} Others
    %span.slide-button.btn.btn-action
.control-group
  = f.label :sponsor_id, :class => 'control-label'
  .controls= f.text_field :sponsor_id, :class => 'input-large'
.control-group
  = f.label :intake_id, :class => 'control-label'
  .controls= f.text_field :intake_id, :class => 'input-large'