<h3><%=t('student.edit')%></h3>

<% form_for(@student, :html => { :multipart => true}) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit t('update') %>
  </p>
<% end %>

<%= link_to t('show'), @student %> |
<%= link_to t('back'), students_path %>