<h3>Editing Student</h3>

<% form_for(@student) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>