<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="100" height="100"/></th>
		<th><H4>PPL APMM<BR><BR>NO.DOKUMEN: BK-LAT-KS-02-03<BR>BORANG MAKLUMAT PERIBADI</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="100" height="100"/></th>
	</tr>
</table>

<div id="title">
	<table width=100% cellspacing="0" border="1">
		<tr>
			<th colspan=4 align="left"> DISEDIAKAN OLEH: STAF BPL</th>
			<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
		</tr>

	</table>

<table width=100% cellspacing="0" cellpadding="7" border="0">
	<tr>
		<th colspan=4 align="center"><font color="black", size="3"> PUSAT PENDIDIKAN DAN LATIHAN APMM <BR>
			                        AGENSI PENGUATKUASAAN MARITIM MALAYSIA<BR>
									JABATAN PERDANA MENTERI</font><BR><BR>
									<font color="black", size="4"><u>BORANG MAKLUMAT PERIBADI</u></font><BR>
									<font color="black", size="2"><i>(Diisi dalam 2 Salinan)</i></font></th>
		<th width="2%"><% if @student.photo.exists? then %>
						<%= image_tag (@student.photo.url, :size => '150x200')%>
						<% else %>
						No Photo<BR>Available
						<% end %></th>
		
	</tr>

</table>

	<table width=100% cellspacing="0" cellpadding="5" border="1">
		<tr>
			<th align="left" colspan=2 bgcolor = "#FEFE56">A.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MAKLUMAT PERIBADI PELATIH</th>
		</tr>

		<tr>
			<td colspan=2>Nama Pelatih : <%=h @student.name %></td>
		</tr>
			
		<tr>
			<td>No. K/P (Baru) : <%=h @student.formatted_mykad %></td>
			<td>Umur : <%=h @student.age %></td>
		</tr>
					
		<tr>
			<td>Tarikh Lahir : <%=h @student.sbirthdt.strftime("%d %b %Y") %></td>
			<td>Tempat Lahir : </td>
		</tr>
					
		<tr>
			<td>Jantina : <%=h (Student::GENDER.find_all{|disp, value| value == @student.gender.to_s}).map {|disp, value| disp} %></td>
			<td>Status Perkahwinan : <%=h (Student::MARITAL_STATUS.find_all{|disp, value| value == @student.mrtlstatuscd.to_s}).map {|disp, value| disp} %></td>
		</tr>
						
		<tr>
		<td colspan=2>Jenis Darah : <%=h (Student::BLOOD_TYPE.find_all{|disp, value| value == @student.bloodtype}).map {|disp, value| disp} %></td>
		</tr>
		
		<tr>
			<td>Bangsa/Keturunan : <%= @student.race %></td>
			<td>Agama : <%= @student.religion %></td>
		</tr>

		<tr>
			<td>Kelulusan Akademik :</td>
			<td>No.Tel Bimbit : <%= @student.stelno %></td>
		</tr>
			
		<tr>
			<td>Pangkat : <%=h @student.pangkat %></td>
			<td>Unit/Bahagian/Cawangan : <%= @student.unit %></td>
		</tr>
					
		<tr >
			<td colspan=2>Alamat Pejabat : <%= @student.office_address %></td>
			
		</tr><BR>
					
		<tr>
			<td>Poskod :</td>
			<td>No.Tel Pejabat : <%= @student.phoneoffice %></td>
		</tr>
						
		<tr>
			<td colspan=2>email<i>(sekiranya ada)</i> : <%=h @student.semail %></td>
		</tr>
		<tr>
			<td>Nama Bapa :</td>
			<td>No Tel :</td>
		</tr>
		
		<tr>
			<td>Nama Ibu :</td>
			<td>No Tel :</td>
		</tr>
		
		<tr>
			<td>Nama Isteri/Waris <i>(sekiranya perlu)</i>  :</td>
			<td>No Tel :</td>
		</tr>
		
		<tr >
			<td colspan=2>Alamat Rumah : <%= @student.address %></td>
		</tr>
		
		<tr >
			<td colspan=2>No. Tel Rumah <i>(sekiranya ada)</i>: <%= @student.phonehome %></td>
		</tr>

		<tr >
			<td>Jenis Kenderaan : <%=h (Student::VEHICLE.find_all{|disp, value| value == @student.vehicletype.to_s}).map {|disp, value| disp} %></td>
			<td>No Kenderaan : <%= @student.vehicleregno %></td>
		</tr>
</table>
<p><font color="black", size="3"> Nota :</font>
	<ol>
	<li>Kenderaan hanya dibenarkan hanya untuk peserta kursus lanjutan/undang-undang sahaja.</li>
	
	</ol></td></p>

<table width=100% cellspacing="0" cellpadding="5" border="0">
	<tr>
		<td colspan=4 align="left"> BK-LAT-KS-02-03</td>
		<td colspan=2 align="right">1 daripada 3</td>
	</tr>
</table>

</div>
</div>
</fieldset>
<BR>
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="100" height="100"/></th>
		<th><H4>PPL APMM<BR><BR>NO.DOKUMEN: BK-LAT-KS-02-03<BR>BORANG MAKLUMAT PERIBADI</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="100" height="100"/></th>
	</tr>
</table>

<div id="title">
	<table width=100% cellspacing="0" border="1">
		<tr>
			<th colspan=4 align="left"> DISEDIAKAN OLEH: STAF BPL</th>
			<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
		</tr>

	</table>

<BR>
	<table width=100% cellspacing="0" cellpadding="5" border="1">
		<tr>
			<th align="left" colspan=2 bgcolor = "#FEFE56">A.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MAKLUMAT PERIBADI PELATIH <i>(sambungan...)</i></th>
		</tr>

		<tr>
			<td colspan=2>Pengalaman Kerja <i> (sekiranya ada, selain dari APMM) </i>: <BR><BR>
			<strong>
						<div style="width: 290px; float: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nama Organisasi </div>
						<div style="width: 250px; float: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Jawatan </div>
						<div style="width: 190px; float: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tempat </div>
						</strong><BR>
						<div style="width: 290px; float: left;"><ol>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							</ol></td> </div>	</td>
		</tr>
</table>
<BR>
<table width=100% cellspacing="0" cellpadding="5" border="1">
		<tr>
			<th align="left"  colspan=2 bgcolor = "#FEFE56">B.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MAKLUMAT KURSUS/PENGINAPAN/SAJIAN</th>
		</tr>

		<tr>
			<td colspan=2>Nama Kursus : <%=h @student.course_id.blank? ? " " : @student.course.name %></td>	
		</tr>
		
		<tr>
			<td colspan=2>Tarikh Mula : <%=h @student.start_training.blank? ? "-" : l(@student.start_training) %></td>
			
		</tr>
		
		<tr>
			<td colspan=2>Tarikh Tamat : <%= @student.end_training %> </td>
			
		</tr>
		
		<tr>
			<td>Keperluan Penginapan : <%=h @student.accomodation? ? "Ya" : "Tidak" %><BR><BR>
				Keperluan Sajian : <%=h @student.dish? ? "Ya" : "Tidak" %><BR><BR>
				<i>Maklumat lanjut Rujuk BK-LAT-KS-02-02 (Borang Kediaman Asrama)</i></td>
			
		</tr>
		
		
</table>
<BR>
<table width=100% cellspacing="0" cellpadding="5" border="1">
		<tr>
			<th align="left" colspan=2 bgcolor = "#FEFE56">C.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SALINAN REKOD/DOKUMEN/BARANGAN YANG DISERAHKAN 
				<i>(mana-mana yang perlu)</th>
		</tr>

		<tr>
			<td colspan=2>Senarai Rekod/dokumen Yang Diserahkan : <BR>
				<ol>
					<li>Salinan Kad Pengenalan</li>
					<li>Salinan Surat Beranak</li>
					<li>Salinan Sijil Kelulusan Akademik</li>
					<li>&nbsp;</li>
					<li>&nbsp;</li>
					<li>&nbsp;</li>
					</ol><BR>
					Mempunyai Barangan Yang Diserahkan Untuk Simpanan <BR><BR>
					<i>Maklumat lanjut Rujuk BK-LAT-KS-02-01 (Borang Simpanan Barangan Peribadi Pelatih)</i></td>	
		</tr>
		
</table>
<BR><BR><BR>
<table width=100% cellspacing="0" cellpadding="5" border="0">
	<tr>
		<td colspan=4 align="left"> BK-LAT-KS-02-03</td>
		<td colspan=2 align="right">2 daripada 3</td>
	</tr>
</table>
</div>
</div>
</fieldset>
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="100" height="100"/></th>
		<th><H4>PPL APMM<BR><BR>NO.DOKUMEN: BK-LAT-KS-02-03<BR>BORANG MAKLUMAT PERIBADI</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="100" height="100"/></th>
	</tr>
</table>

<div id="title">
	<table width=100% cellspacing="0" border="1">
		<tr>
			<th colspan=4 align="left"> DISEDIAKAN OLEH: STAF BPL</th>
			<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
		</tr>

	</table>

<BR>

<table width=100% cellspacing="0" cellpadding="7" border="1">
		<tr>
			<th align="left"  colspan=2 bgcolor = "#FEFE56">D.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; PENGESAHAN DAN TANDATANGAN</th>
		</tr>

		<tr>
			<td colspan=2>Saya mengesahkan bahawa maklumat yang dinyatakan di atas adalah benar.<BR><BR>
			<strong>
					<div style="width: 350px; float: left;">Oleh : Pelatih </div>
					<div style="float: left;">Diterima/Disahkan Oleh : KULA/BLA/JL </div>	
			</strong><BR><BR>
				<div style="width: 350px; float: left;">Nama Pelatih : <%=h @student.name %></div>
				<div style="float: left;">Nama : <%=h @student.approver_details %></div><BR><BR>
				<div style="width: 350px; float: left;">Tandatangan :</div>
				<div style="float: left;">Tandatangan :</div><BR><BR>
				<div style="width: 350px; float: left;">Tarikh : <%= Date.today.strftime('%d-%m-%Y') %></div>
				<div style="float: left;">Tarikh :</div></td>	
		</tr>	
</table>
<BR>
<table width=100% cellspacing="0" cellpadding="5" border="1">

		<tr>
			<td colspan=1><b>Nota :</b><BR>
				<ol>
					<li>Borang perlu diisi dalam 2 salinan untuk :</li>
					</ol><BR>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Simpanan Fail Peribadi: 1 salinan <BR>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Simpanan  Pelatih : 1 salinan </td>	
		</tr>
		
</table>
<BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>
<table width=100% cellspacing="0" cellpadding="5" border="0">
	<tr>
		<td colspan=4 align="left"> BK-LAT-KS-02-03</td>
		<td colspan=2 align="right">3 daripada 3</td>
	</tr>
</table>
</div>
</div>
</fieldset>

	<div id="hideLink">
	<%= link_to 'BACK', students_path %>
	</div>
	</div>
	<BR>