<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
	<script>
	document.write("<input type='button' " +
	"onClick='window.print()' " +
	"class='printbutton' " +
	"value='Print This Page'/>");
	</script>
	<form>

<div id="title" width=21cm>	
<H3 text-indent: 70px>KOLEJ KEJURURAWATAN JOHOR BAHRU</H3>
<H3>KUMPULAN: <%=h @student.intake.blank? ? "-" : @student.intake.strftime("%B %Y") %></H3> <!-- 21/10/2011 - Shaliza changed for intake -->
<H3>BORANG MAKLUMAT PELATIH</H3>

<BR>
	
<div id="borangmaklumat">
<table>
	<tr>
		<th colspan = 4><b>Personal Details</b></th>
	</tr>
	<tr></tr>
	<tr>
		<td width="1%">1</th>
		<td width="20%"><label for="icno">No Kad Pengenalan</label></th>
		<td width="1%">:</th>
		<td><%=h @student.formatted_mykad %></td>
	</tr>
	
	<tr>
			<td>2</td>
			<td><label for="name">Nama</label></td>
			<td>:</td>
			<td><%=h @student.name %></td>
	</tr>

	<tr>
			<td>3</td>
			<td><label for="matrixno">No Matrik</label></td>
			<td>:</td>
			<td><%=h @student.matrixno %></td>
	</tr>


		<tr>
			<td>4</td>
			<td><label for="sstatus">Status</label></td>
			<td>:</td>
			<td><%=h @student.sstatus %></td>
		</tr>

		<tr>
			<td>5</td>
			<td><label for="stelno">No.Telefon</label></td>
			<td>:</td>
			<td><%=h @student.stelno %></td>
		</tr>
		
		<tr><!-- 17/11/2011 - Shaliza added Address -->
			<td>6</td>
			<td><label for="address">Alamat</label></td>
			<td>:</td>
			<td><%=h @student.address %></td>
		</tr>
		
		<tr>
			<td>7</td><!-- 17/11/2011 - Shaliza added Address Duty -->
			<td><label for="stelno">Alamat Bertugas</label></td>
			<td>:</td>
			<td><%=h @student.address_posbasik %></td>
		</tr>
		
		<tr>
			<td>8</td>
			<td><label for="ssponsor">Penganjur</label></td>
			<td>:</td>
			<td><%=h @student.ssponsor %></td>
		</tr>

		<tr>
			<td>9</th>
			<td><label for="gender">Jantina</label></th>
			<td>:</td>
			<td><%=h (Student::GENDER.find_all{|disp, value| value == @student.gender.to_s}).map {|disp, value| disp} %></td>
		</tr>

		<tr>
			<td>10</th>
			<td><label for="sbirthdt">Tarikh Lahir</label></th>
			<td>:</td>
			<td><%=h @student.sbirthdt %></td>
		</tr>

		<tr>
			<td>11</th>
			<td><label for="maritalstatus">Taraf Perkahwinan</label></th>
			<td>:</td>
			<td><%=h (Student::MARITAL_STATUS.find_all{|disp, value| value == @student.mrtlstatuscd.to_s}).map {|disp, value| disp} %></td>
		</tr>

		<tr>
			<td>12</th>
			<td><label for="semail">Email</label></th>
			<td>:</th>
			<td><%=h @student.semail %></td>
		</tr>

		<tr>
			<td>13</th>
			<td><label for="regdate">Tarikh Pendaftaran</label></th>
			<td>:</th>
			<td><%=h @student.regdate %></td>
		</tr>
		<tr></tr>
	</table>
	<table>
		<tr>
			<th colspan = 4><b>Maklumat Kursus</b></th>
		</tr>
		<tr></tr>
		
		<tr>
			<td width="1%">14</th>
			<td width="20%"><label for="course_id">Nama Kursus</label></th>
			<td width="1%">:</th>
			<td ><%=h @student.course_id.blank? ? " " : @student.course.programme_with_specialisation %></td>
		</tr>
		
		<!--15/11/2011 - Shaliza hide specialisation because I add :programme_with_specialisation in programme field.
		<tr>
			<td>13</th>
			<td><label for="specialisation">Bidang/Pengkhususan</label></th>
			<td>:</th>
			<td><#%=h @student.specilisation %></td>
		</tr>-->
		
		<tr>
			<td>15</th>
			<td><label for="session">Sesi Pengambilan</label></th>
			<td>:</th>
			<td><%=h @student.intake.blank? ? "-" : @student.intake.strftime("%B %Y") %></td><!-- 21/10/2011 - Shaliza changed for intake -->
		</tr>
		
		
		<tr></tr>
		</table>
		<table>
		<tr>
			<th colspan = 4><b>Status Kesihatan</b></th>
		</tr>
		<tr></tr>
		
		<tr>
			<td width="1%">16</th>
			<td width="20%"><label for="physical">Fizikal</label></th>
			<td width="1%">:</th>
			<td><%=h @student.physical %></td>
		</tr>
		
		<tr>
			<td>17</th>
			<td><label for="allergy">Alergik</label></th>
			<td>:</th>
			<td><%=h @student.allergy %></td>
		</tr>
		
		<tr>
			<td>18</th>
			<td><label for="disease">Penyakit</label></th>
			<td>:</th>
			<td><%=h @student.disease %></td>
		</tr>
		
		<tr>
			<td>19</th>
			<td><label for="bloodtype">Jenis Darah</label></th>
			<td>:</th>
			<td><%=h (Student::BLOOD_TYPE.find_all{|disp, value| value == @student.bloodtype}).map {|disp, value| disp} %></td>
		</tr>
		
		<tr>
			<td>20</th>
			<td><label for="medication">Ubat</label></th>
			<td>:</th>
			<td><%=h @student.medication %></td>
		</tr>
		
		<tr>
			<td>21</th>
			<td><label for="remarks">Remarks</label></th>
			<td>:</th>
			<td><%=h @student.remarks %></td>
		</tr>
		
		<tr></tr>
		</table>
		<table>
		<tr>
			<th colspan = 4><b>Kelayakan Akademik</b></th>
		</tr>
		<tr></tr>
	
				<% for qualification in @student.qualifications %>
				<tr>
					
					<td class="leftcol" width="24%"><label for="level_id ">
							<%=h (Qualification::QTYPE.find_all{|disp, value| value == qualification.level_id}).map {|disp, value| disp} %></label>
					</td>
					<td>:</td>
					<td><%=h qualification.qname %> &nbsp &nbsp from &nbsp &nbsp <%=h qualification.institute %></td>
				</tr>
	  	<% end %>
				<tr> <!-- 06/10/2011 - Shaliza Update to display grade such as 1A,2A,3B and so on as user requested -->
					<td class="leftcol"> SPM Results</td>
					<td>:</td>
					<td>
						<table>
							<% for spmresult in @student.spmresults %>
								<tr>
									<td><%=h spmresult.spm_subject %></td>
									<td>-</td>
									<td><%=h spmresult.grade %></td>
								</tr>
							
							<% end %>
							</table>
					</td>
				</tr>
	
        </table>
        <table>
	
		<tr>
			<th colspan = 4><b>Penjamin</b></th>
		</tr>
		<tr></tr>
			<tr>
				<td width="1%">22</td>
				<td width="20%">Maklumat Penjamin </td>
				<td width="1%">:</td>
				<td></td>
			</tr>
		
		<% puid = @student.id %>
		<% garantor = Kin.find(:all, :conditions => ["student_id = ? AND kintype_id = ? ", puid,  98 ]) %>
		<% garantor.each do |e| %>
		
			
	
		<tr>
			<td></td>
			<td class="leftcol">a. <%= t 'student.kintype_id' %> :</td>
			<td>:</td>
			<td>Penjamin I</td>
		</tr>
		<tr>
			<td></td>
			<td class="leftcol"><label for="kintype ">b. <%= t 'student.name' %> :</label></td>
			<td>:</td>
			<td><%=h e.name.blank? ? "" : e.name %></td>
		</tr>
	    <tr>
		    <td></td>
			<td class="leftcol"><label for="icno ">c. <%= t 'student.icno' %> :</label></td>
			<td>:</td>
			<td><%=h e.mykadno %></td>
		</tr>
		<tr>
			<td></td>
			<td class="leftcol"><label for="kinaddr ">d. <%= t 'student.kinaddr' %> :</label></td>
			<td>:</td>
			<td><%=h e.kinaddr %></td>
		</tr>
		<% end %>
		
	  <tr><td colspan=4><HR></td></tr>
			
		<% puid = @student.id %>
		<% garantor = Kin.find(:all, :conditions => ["student_id = ? AND kintype_id = ? ", puid,  99 ]) %>
		<% garantor.each do |e| %>
		
		<tr>
			<td></td>
			<td class="leftcol">e. <%= t 'student.kintype_id' %> :</td>
			<td>:</td>
			<td>Penjamin II</td>
		</tr>
		<tr>
			<td></td>
			<td class="leftcol"><label for="kintype ">f. <%= t 'student.name' %> :</label></td>
			<td>:</td>
			<td><%=h e.name.blank? ? "" : e.name %></td>
		</tr>
	    <tr>
		    <td></td>
			<td class="leftcol"><label for="icno ">g. <%= t 'student.icno' %> :</label></td>
			<td>:</td>
			<td><%=h e.mykadno %></td>
		</tr>
		<tr>
			<td></td>
			<td class="leftcol"><label for="kinaddr ">h. <%= t 'student.kinaddr' %> :</label></td>
			<td>:</td>
			<td><%=h e.kinaddr %></td>
		</tr>
		<% end %>
	</table>
	<table>
	
		<tr>
			<th colspan = 4><b>Waris Terdekat</b></th>
		</tr>
		
			<tr>
					<td width="1%">23</td>
					<td width="20%">Maklumat Keluarga : </td>
					<td width="1%">:</td>
					<td></td>
			</tr> 
		<% puid = @student.id %>
		<% thekins = Kin.find(:all, :conditions => ["student_id = ? AND kintype_id != ? AND kintype_id != ? ", puid,  98, 99 ]) %>
	   <% thekins.each do |e| %>
		<tr>
			<td></th>
			<td><label for="relationship">a. Hubungan</label></th>
			<td>:</th>
			<td><%=h (Kin::KTYPE.find_all{|disp, value| value == e.kintype_id}).map {|disp, value| disp} %></td>
		</tr>
		
		<tr>
			<td></th>
			<td><label for="name">b. Nama</label></th>
			<td>:</th>
			<td><%=h e.name.blank? ? "" : e.name %></td>
		</tr>
		
		<tr>
			<td></th>
			<td><label for="kinbirthdt">c. Tarikh Lahir</label></th>
			<td>:</th>
			<td><%=h e.kinbirthdt %></td>
		</tr>
		
		<tr>
			<td></th>
			<td><label for="phone">d. No Telefon</label></th>
			<td>:</th>
			<td><%=h e.phone %></td>
		</tr>
		
		<tr>
			<td></th>
			<td><label for="kinaddr">e. Alamat</label></th>
			<td>:</th>
			<td><%=h e.kinaddr %></td>
		</tr>
		<tr><td colspan=4><HR></td></tr>
		<% end %>

</table>
<BR>
</div>
</form>
</div>
</div>




