<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Students</h2>
			<div class="right">
				<% form_tag students_path, :method => 'get' do %>
				<%= text_field_tag :search, params[:search], :placeholder => "MykadNo, Name, MatricNo" %>
				<%= submit_tag "Search", :icno => nil %>
				<% end %>
			</div>
	</div>
		
</div>

  
<div class="indextable">
	<table width=100%>
		<tr>
			<th width=2%>Bil</th>
			<th>Course</th>
			<th>Intake</th>
			<th>Name</th>
			<th>Student Status</th>
			<th colspan=4 class="ac">Control</th>
		</tr>
			
		<% @student_courses.each do |isorter, students| %>
		
		<tr>
			<td colspan=8><BR><b>Course : <%= isorter  %></b></td>
		</tr>
		<% bil = 0 %>
			<% for student in students %>
		<% bil += 1 %>
		<tr>
			<td align="center"><%=h bil %></td>
			<td><%=h student.course_id.blank? ? " " : student.course.name %> </td>
			<td><%=h student.intake_id.blank? ? "-" : student.intakestudent.name %></td>
			<td><%=h student.name %></td>
			<td><%=h (Student::STATUS.find_all{|disp, value| value == student.sstatus.to_s}).map {|disp, value| disp} %></td>
			<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'),                    :action => 'show', :id => student %></td>
			<% if permitted_to? :formforstudent, student %>
			<td width=10px><%= link_to image_tag("printer.png",   :border => 0, :title => 'Borang Maklumat Pelajar'), :action => 'formforstudent', :id => student %></td><% end %>
			<% if permitted_to? :update, student %>
			<td width=10px><%= link_to image_tag("edit.png",     :border => 0, :title => 'Edit'),    :action => 'edit', :id => student %></td><% end %>
			<td width=10px >
			<% if permitted_to? :destroy, @student %>
				<%= link_to image_tag("delete.png",   :border => 0, :title => 'Delete'), student, :confirm => 'Are you sure?', :method => :delete %></td>
			<% end %>
			</td>
			</tr>
		<% end %>
		<% end %>
	</table>

</div>
<BR>

<% if permitted_to? :create, @student %>
<%= link_to 'New Student', new_student_path %>
<% end %>