<p id="notice"><%= notice %></p>

<p>
  <b>Id no1:</b>
  <%= @student.id_no1 %>
</p>

<p>
  <b>Id no2:</b>
  <%= @student.id_no2 %>
</p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Telephone:</b>
  <%= @student.telephone %>
</p>

<p>
  <b>Gender:</b>
  <%= @student.gender %>
</p>

<p>
  <b>Born on:</b>
  <%= @student.born_on %>
</p>

<p>
  <b>Registered on:</b>
  <%= @student.registered_on %>
</p>

<p>
  <b>Address:</b>
  <%= @student.address %>
</p>

<p>
  <b>Status type:</b>
  <%= @student.status_type %>
</p>

<p>
  <b>Marital status:</b>
  <%= @student.marital_status %>
</p>

<p>
  <b>Sponsor:</b>
  <%= @student.sponsor_id %>
</p>

<p>
  <b>Programme:</b>
  <%= @student.programme_id %>
</p>

<p>
  <b>Photo file name:</b>
  <%= @student.photo_file_name %>
</p>

<p>
  <b>Photo content type:</b>
  <%= @student.photo_content_type %>
</p>

<p>
  <b>Photo file size:</b>
  <%= @student.photo_file_size %>
</p>

<p>
  <b>Photo updated at:</b>
  <%= @student.photo_updated_at %>
</p>

<p>
  <b>Account:</b>
  <%= @student.account_id %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
