<div class="tform">
	<H2><%= t 'student.stu_details' %></H2>
  <table width=100% border=0>
		<tr>
			<td class="leftcol"><%= t 'student.icno' %></td>
			<td><b>:</b></td>
			<td><%=h @student.formatted_mykad %></td>
			<td rowspan=10 align=right><% if @student.photo.exists? then %>
			  <%= image_tag (@student.photo.url, :size => '150x200')%>
			<% else %>
			  No Photo<BR>Available
			<% end %></td>
		</tr>	
		<tr>
			<td class="leftcol"><%= t 'student.name' %></td>
			<td><b>:</b></td>
			 <td><%=h @student.name %></td>
		</tr>	
		
		<tr>
			<td class="leftcol"><%= t 'student.sstatus' %></td>
			<td><b>:</b></td>
		    <td><%=h (Student::STATUS.find_all{|disp, value| value == @student.sstatus.to_s}).map {|disp, value| disp} %></td>
		</tr>
		
		<tr>
				<td class="leftcol"><%= t 'student.pangkat' %></td>
				<td><b>:</b></td>
			    <td><%=h (Student::RANK.find_all{|disp, value| value == @student.pangkat}).map {|disp, value| disp} %></td>
		</tr>
		
		<tr>
				<td class="leftcol"><label for="unit"><%= t 'student.unit' %></label></td>
				<td><b>:</b></td>
				<td><%= @student.unit %></td>
		</tr>
		
		<tr>
				<td class="leftcol"><label for="gender"><%= t 'student.gender' %></label></td>
				<td><b>:</b></td>
				<td><%=h (Student::GENDER.find_all{|disp, value| value == @student.gender.to_s}).map {|disp, value| disp} %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="mrtlstatuscd"><%= t 'student.mrtlstatuscd' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Student::MARITAL_STATUS.find_all{|disp, value| value == @student.mrtlstatuscd.to_s}).map {|disp, value| disp} %></td>
		</tr>
			
		<tr>
				<td class="leftcol"><%= t 'student.stelno' %></td>
				<td><b>:</b></td>
				<td><%= @student.stelno %></td>
		</tr>
		
		<tr>
				<td class="leftcol"><label for="phoneoffice"><%= t 'student.phoneoffice' %></label></td>
				<td><b>:</b></td>
				<td><%= @student.phoneoffice %></td>
		</tr>
		
		<tr>
				<td class="leftcol"><label for="phonehome"><%= t 'student.phonehome' %></label></td>
				<td><b>:</b></td>
				<td><%= @student.phonehome %></td>
		</tr> 
		
		<tr>
				<td class="leftcol"><label for="remarks"><%= t 'student.address' %></label></td>
				<td><b>:</b></td>
				<td><%= @student.address %></td>
		</tr>
		
		<tr>
				<td class="leftcol"><label for="remarks"><%= t 'student.address_posbasik' %></label></td>
				<td><b>:</b></td>
				<td><%= @student.office_address %></td>
		</tr>
			
		<tr>
				<td class="leftcol"><label for="sbirthdt"><%= t 'student.dob' %></label></td>
				<td><b>:</b></td>
				<td><%= @student.sbirthdt.strftime("%d %b %Y") %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="sbirthdt">Age</label></td>
			<td><b>:</b></td>
			<td><%=h @student.age %></td>
		</tr>
		
		<tr>
				<td class="leftcol"><%= t 'student.statecd' %></td>
				<td><b>:</b></td>
				<td><%=h (Student::STATECD.find_all{|disp, value| value == @student.statecd}).map {|disp, value| disp} %></td>
		</tr>
			
			
		<tr>
				<td class="leftcol"><%= t 'student.race' %></td>
				<td><b>:</b></td>
				<td><%=h (Student::RACE.find_all{|disp, value| value == @student.race}).map {|disp, value| disp} %></td>
		</tr>
		
		<tr>
				<td class="leftcol"><%= t 'student.religion' %></td>
				<td><b>:</b></td>
				<td><%=h (Student::RELIGION.find_all{|disp, value| value == @student.religion}).map {|disp, value| disp} %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="bloodtype"><%= t 'student.bloodtype' %></label></td>
			<td><b>:</b></td>
			<td><%=h (Student::BLOOD_TYPE.find_all{|disp, value| value == @student.bloodtype}).map {|disp, value| disp} %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="semail"><%= t 'student.semail' %> :</label></td>
			<td><b>:</b></td>
			<td><%=h @student.semail %></td>
		</tr>
			
		<tr>
				<td class="leftcol"><%= t 'student.vehicletype' %></td>
				<td><b>:</b></td>
				<td><%=h (Student::VEHICLE.find_all{|disp, value| value == @student.vehicletype.to_s}).map {|disp, value| disp} %></td>
		</tr>
				
			<tr>
					<td class="leftcol"><%= t 'student.vehicleregno' %></td> 
					<td><b>:</b></td>
					<td><%= @student.vehicleregno %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><label for="approve_id"><%= t 'student.approve_id' %></label></td>
					<td><b>:</b></td>
					<td><%=h @student.approver_details %></td>
			</tr>

		
	</table>
	<BR><BR>
		
	<H2>Course / Accommodation / Meal Informations</H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="course_id"><%= t 'student.course_id' %></label></td>
			<td width=5%><b>:</b></td>
			<td><%=h @student.course_id.blank? ? " " : @student.course.name %></td>
		</tr>	
		<tr>
			<td class="leftcol"><label for="specilisation"><%= t 'student.specilisation' %></label></td>
			<td><b>:</b></td>
			<td><%=h @student.specilisation %></td>
		</tr>	
		<tr>
			<td class="leftcol"><label for="intake_id"><%= t 'student.intake_id' %></label></td>
			<td><b>:</b></td>
			<td><%=h @student.intakestudent.blank? ? "-" : @student.intakestudent.name %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><%= t 'student.startdate' %></td>
			<td><b>:</b></td>
			<td><%=h @student.start_training.blank? ? "-" : @student.start_training.strftime("%d %b %Y") %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="sbirthdt"><%= t 'student.enddate' %></label></td>
			<td><b>:</b></td>
			<td><%=h @student.end_training %></td>
		</tr>
		<tr>
				<td class="leftcol"><label for="end_training">Accommodation Needs</label></td>
				<td><b>:</b></td>
				<td><%=h @student.accomodation? ? "Yes" : "No" %></td>
			
		</tr>
		
		<tr>
				<td class="leftcol"><label for="end_training">Meals Needs</label></td>
				<td><b>:</b></td>
				<td><%=h @student.dish? ? "Yes" : "No" %></td>
			
		</tr>
	</table>
	<BR><BR>
		
   <!--	<H2>Guarantor</H2>
	<#% puid = @student.id %>
	<#% garantor = Kin.find(:all, :conditions => ["student_id = ? AND kintype_id = ? ", puid,  99 ]) %>
	<table>
		<#% garantor.each do |e| %>
		<tr>
			<td class="leftcol">Penjamin 1</td>
			<td><#%=h e.name.blank? ? "" : e.name %></td>
		</tr>
		<#% end %>
	</table>
			
		
	<H2><#%= t 'student.health_status' %></H2>
	<table>	
		<tr>
			<td class="leftcol"><label for="physical"><%= t 'student.physical' %> :</label></td>
			<td><#%=h @student.physical %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="allergy"><%= t 'student.allergy' %> :</label></td>
			<td><#%=h @student.allergy %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="disease"><%= t 'student.disease' %> :</label></td>
			 <td><#%=h @student.disease %></td>
		</tr>	
			
		<tr>
			<td class="leftcol"><label for="medication "><%= t 'student.medication' %> :</label></td>
			<td><#%=h @student.medication %></td>
		</tr>	
		<tr>
			<td class="leftcol"><label for="remarks">Remarks :</label></td>
			<td><#%=h @student.remarks %></td>
		</tr>
	</table>
	<BR><BR>-->
		
<H2><%= t 'student.qualification' %></H2>
	
	<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">	
		<tr>
			<th width=30%><label for="level_id "><%= t 'student.level_id' %></label></th>
			<th width=30%><label for="qname "><%= t 'student.qname' %></label></th>
			<th width=30%><label for="institute "><%= t 'student.institute' %></label></th>	
		</tr>
		<% for qualification in @student.qualifications %>
		<tr>
			<td><%=h (Qualification::QTYPE.find_all{|disp, value| value == qualification.level_id}).map {|disp, value| disp} %></td>
		  	<td><%=h qualification.qname %></td>
			<td><%=h qualification.institute %></td>
		</tr>
		<% end %>
		
	</table>

		<H2>Working Experiences</H2>
			
			<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">	
				<tr>
					<th width=30%><label for="organisation_name ">Organisation Name</label></th>
					<th width=30%><label for="position_name ">Position Name</label></th>
					<th width=30%><label for="place ">Place</label></th>
				  
				</tr>
				<% for exwork in @student.exworks %>
				<tr>
					<td><%=h exwork.organisation_name %></td>	
				  	<td><%=h exwork.position_name %></td>
					<td><%=h exwork.place %></td>
				</tr>
				<% end %>

			</table>
		
<H2>Contact Informations</H2>
	
	<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
		<tr>
			<th width=15%><label for="kintype_id "><%= t 'student.kintype_id' %></label></th>
			<th width=15%><label for="name "><%= t 'student.name' %></label></th>
			<th width=12%><label for="icno "><%= t 'student.icno' %></label></th>
			<th width=12%><label for="phone "><%= t 'student.stelno' %></label></th>
			<th width=15%><label for="profession "><%= t 'student.profession' %></label></th>
			<th width=20%><label for="kinaddr "><%= t 'student.kinaddr' %></label></th>
		  
		</tr>
		<% for kin in @student.kins %>
		<tr>
			<td><%=h (Kin::KTYPE.find_all{|disp, value| value == kin.kintype_id}).map {|disp, value| disp} %></td>
		  	<td><%=h kin.name %></td>
			<td><%=h kin.mykadno %></td>
			<td><%=h kin.phone %></td>
			<td><%=h kin.profession %></td>
			<td><%=h kin.kinaddr %></td>
		</tr>
		<% end %>
	</table>

	

</div>
<BR>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Borang Maklumat Pelajar', :action => "formforstudent", :id => @student %> |
<%= link_to 'Back', students_path %>