<div class="tform">
	<H2>
					<% if @student.photo_file_name == nil %>
					<% else %>
						<%= image_tag @student.photo.url, :class => 'list-image' %>
					<% end %>
					<%= t 'student.stu_details' %></H2>
  <table width=100%>
		<tr>
			<td class="leftcol"><%= t 'student.icno' %> :</td>
			<td><%=h @student.icno %></td>
		</tr>	
		<tr>
			<td class="leftcol"><%= t 'student.name' %> :</td>
			 <td><%=h @student.name %></td>
		</tr>	
		<tr>
			<td class="leftcol"><%= t 'student.matrixno' %> :</td>
		    <td><%=h @student.matrixno %></td>
		</tr>	
		<tr>
			<td class="leftcol"><%= t 'student.sstatus' %> :</td>
		    <td><%=h @student.sstatus %></td>
		</tr>	
		<tr>
			<td class="leftcol"><%= t 'student.stelno' %> :</td>
			 <td><%=h @student.stelno %></td>
		</tr>
		
		<tr><!-- 17/11/2011 - Shaliza added Address -->
			<td class="leftcol"><%= t 'student.address' %> :</td>
		    <td><%=h @student.address %></td>
		</tr>	
		<tr><!-- 17/11/2011 - Shaliza added Address Duty -->
			<td class="leftcol"><%= t 'student.address_posbasik' %> :</td>
			 <td><%=h @student.address_posbasik %></td>
		</tr>
			
		<tr>
			<td class="leftcol"><label for="ssponsor"><%= t 'student.ssponsor' %>:</label></td>
			 <td><%=h @student.ssponsor %></td>
		</tr>	
		<tr>
			<td class="leftcol"><label for="gender"><%= t 'student.gender' %> :</label></td>
				<td><%=h (Student::GENDER.find_all{|disp, value| value == @student.gender.to_s}).map {|disp, value| disp} %></td>
		</tr>	
		<tr>
			<td class="leftcol"><label for="sbirthdt"><%= t 'student.dob' %> :</label></td>
			<td><%=h l(@student.sbirthdt) %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="sbirthdt">Age:</label></td>
			<td><%=h @student.age %></td>
		</tr>	
		<tr>
			<td class="leftcol"><label for="mrtlstatuscd"><%= t 'student.mrtlstatuscd' %> :</label></td>
			<td><%=h (Student::MARITAL_STATUS.find_all{|disp, value| value == @student.mrtlstatuscd.to_s}).map {|disp, value| disp} %></td>
		</tr>	
		<tr>
			<td class="leftcol"><%= t 'student.race' %></td>
			<td><%=h @student.race %></td>
		</tr>	
		<tr>
			<td class="leftcol"><label for="semail"><%= t 'student.semail' %> :</label></td>
			<td><%=h @student.semail %></td>
		</tr>
		<tr>
			<td class="leftcol"><%= t 'student.regdate' %></td>
			<td><%=h @student.regdate.blank? ? "-" : l(@student.regdate) %></td>
		</tr>	
		<tr>
			<td class="leftcol"><%= t 'student.offer_letter_serial' %></td>
			<td><%=h @student.offer_letter_serial %></td>
		</tr>
	</table>
	<BR><BR>
		
	<H2><%= t 'student.course_details' %></H2>
	<table>
		<tr>
			<td class="leftcol"><label for="course_id"><%= t 'student.course_id' %> :</label></td>
			<td><%=h @student.course_id.blank? ? " " : @student.course.programme_with_specialisation %></td>
		</tr>	
			<!--15/11/2011 - Shaliza hide specialisation because I add :programme_with_specialisation in programme field.
		<tr>
			<td class="leftcol"><label for="specilisation"><%= t 'student.specilisation' %> :</label></td>
			<td><#%=h @student.specilisation %></td>
		</tr>-->	
		<tr>
			<td class="leftcol"><label for="intake"><%= t 'student.intake_id' %> :</label></td>
			<td><%=h @student.intake.blank? ? "-" : @student.intake.strftime("%B %Y") %></td>
		</tr>
	</table>
	<BR><BR>
		
	
	<H2><%= t 'student.health_status' %></H2>
	<table>	
		<tr>
			<td class="leftcol"><label for="physical"><%= t 'student.physical' %> :</label></td>
			<td><%=h @student.physical %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="allergy"><%= t 'student.allergy' %> :</label></td>
			<td><%=h @student.allergy %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="disease"><%= t 'student.disease' %> :</label></td>
			 <td><%=h @student.disease %></td>
		</tr>	
		<tr>
			<td class="leftcol"><label for="bloodtype"><%= t 'student.bloodtype' %> :</label></td>
				<td><%=h (Student::BLOOD_TYPE.find_all{|disp, value| value == @student.bloodtype}).map {|disp, value| disp} %></td>
		</tr>	
		<tr>
			<td class="leftcol"><label for="medication "><%= t 'student.medication' %> :</label></td>
			<td><%=h @student.medication %></td>
		</tr>	
		<tr>
			<td class="leftcol"><label for="remarks">Remarks :</label></td>
			<td><%=h @student.remarks %></td>
		</tr>
	</table>
	<BR><BR>
		
	<H2><%= t 'student.qualification' %></H2>
	<table width=100%>	
		<% for qualification in @student.qualifications %>
			<tr>
				<td class="leftcol"><label for="level_id ">
						<%=h (Qualification::QTYPE.find_all{|disp, value| value == qualification.level_id}).map {|disp, value| disp} %>:</label>
				</td>
				<td><%=h qualification.qname %> &nbsp &nbsp from &nbsp &nbsp <%=h qualification.institute %></td>
			</tr>
  	<% end %>
			<tr><!-- 06/10/2011 - Shaliza Update to display grade such as 1A,2A,3B and so on as user requested -->
				<td class="leftcol">SPM Results</td>
				<td>
					<table padding=0 margin=0>
						<% for spmresult in @student.spmresults %>
						
							<tr>
								<td><%=h spmresult.spm_subject %></td>
								<td>-</td>
								<td><%=h spmresult.grade %></td>
							</tr>
						
						<% end %>
						</table>
				</td>
			</tr>
	</table>

	

		
	<H2>Guarantor</H2>
	<% puid = @student.id %>
	<% garantor = Kin.find(:all, :conditions => ["student_id = ? AND kintype_id = ? ", puid,  98]) %>
	<% garantor.each do |e| %>
	<table>
	<tr>
		<td class="leftcol"><%= t 'student.kintype_id' %> :</td>
		<td>Penjamin I</td>
	</tr>
	<tr>
		<td class="leftcol"><label for="kintype "><%= t 'student.name' %> :</label></td>
		<td><%=h e.name.blank? ? "" : e.name %></td>
	</tr>
    <tr>
		<td class="leftcol"><label for="icno "><%= t 'student.icno' %> :</label></td>
		<td><%=h e.mykadno %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="kinaddr "><%= t 'student.kinaddr' %> :</label></td>
		<td><%=h e.kinaddr %></td>
	</tr>
	<% end %>
	</table>
	<HR>	
	<% puid = @student.id %>
	<% garantor = Kin.find(:all, :conditions => ["student_id = ? AND kintype_id = ? ", puid,  99 ]) %>
	<% garantor.each do |e| %>
	<table>
	<tr>
		<td class="leftcol"><%= t 'student.kintype_id' %> :</td>
		<td>Penjamin II</td>
	</tr>
	<tr>
		<td class="leftcol"><label for="kintype "><%= t 'student.name' %> :</label></td>
		<td><%=h e.name.blank? ? "" : e.name %></td>
	</tr>
    <tr>
		<td class="leftcol"><label for="icno "><%= t 'student.icno' %> :</label></td>
		<td><%=h e.mykadno %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="kinaddr "><%= t 'student.kinaddr' %> :</label></td>
		<td><%=h e.kinaddr %></td>
	</tr>
	<% end %>
	</table>		
		
	<H2>Contact Information</H2>
	<% thekins = Kin.find(:all, :conditions => ["student_id = ? AND kintype_id != ? AND kintype_id != ? ", puid,  98, 99 ]) %>
	<% thekins.each do |e| %>
	<table>
		<tr>
			<td class="leftcol"><label for="kintype_id "><%= t 'student.kintype_id' %> :</label></td>
		  <td><%=h (Kin::KTYPE.find_all{|disp, value| value == e.kintype_id}).map {|disp, value| disp} %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="name "><%= t 'student.name' %> :</label></td>
		  <!--<td><#%=h kin.name %></td>-->
			<td><%=h e.name.blank? ? "" : e.name %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="icno "><%= t 'student.icno' %> :</label></td>
		    <td><%=h e.mykadno %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="profession "><%= t 'student.profession' %> :</label></td>
		  <td><%=h e.profession %></td>
		</tr>	
		<tr>
			<td class="leftcol"><label for="phone "><%= t 'student.stelno' %> :</label></td>
		  <td><%=h e.phone %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="kinaddr "><%= t 'student.kinaddr' %> :</label></td>
		  <td><%=h e.kinaddr %></td>
		</tr>
	</table>
	<HR>
	<% end %>


<BR>
</div>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'formforstudent', @student %> |
<%= link_to 'Back', students_path %>