<table width=100%>
	
	<tr>
		<td class="leftcol"><label for="student_id">Student:</label></td>
		<td><%= f.collection_select :student_id, Student.find(:all), :id, :formatted_mykad_and_student_name %><font color="red"> * </font></td>
	</tr>
	
	<tr>
		<td class="leftcol"><%= f.label :requested_at %></td>
		<td><%= f.datetime_select :requested_at, :minute_step => 15 %></td>
	</tr>
	
	<tr>
		<td class="leftcol">	<%= f.label :duration %></td>
		<td><%= f.text_field :duration, :placeholder => 'minutes', :size => 6 %> </td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="student_id">Suggest Alternative Dates:</label></td>
		<td><%= f.text_area :alt_dates, :size => '50x4' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="c_scope">Scope of session</label></td>
		<td><%= f.radio_button :c_scope, "personal", 		:id => 'c_case_personal', :class => 'radio_c_scope' %>Personal &nbsp; 
			  <%= f.radio_button :c_scope, "academic", 		:id => 'c_case_academic', :class => 'radio_c_scope' %>Academic &nbsp; 
				<%= f.radio_button :c_scope, "case", 				:id => 'c_case_case', 		:class => 'radio_c_scope' %>Case &nbsp;</td>                                                             
	</tr>
	
	<tr>
		<td class="leftcol"><label for="c_type">Type of session</label></td>
		<td><%= f.radio_button :c_type, "voluntary", 		:id => 'c_type_voluntary',   :class => 'radio_c_type' %>Voluntary &nbsp; 
				<%= f.radio_button :c_type, "involuntary", 	:id => 'c_type_involuntary', :class => 'radio_c_type' %>Involuntary &nbsp;</td>                                                             
	</tr>
	
	<tr>
		<td class="leftcol"><%= f.label :is_confirmed %></td>
		<!-- JQuery this checkbox to show date -->
		<td><%= f.check_box :is_confirmed, :id => 'box_confirm' %>  : 
		    <SPAN id="confirmed_date" style="display: none;"><%= f.datetime_select :confirmed_at, :minute_step => 15, :default => @student_counseling_session.requested_at %></SPAN> </td>                                                             
	</tr>
</table>

<script type="text/javascript">
  $j(document).ready(function(){
	
		$j("input[id='box_confirm']").each(function() {  
		 if($j('#box_confirm').is(':checked')) { 
	      $j("#confirmed_date").show("highlight");
		  }
		});
		
		$j("input[id='box_confirm']").change(function() {  
		    $j("#confirmed_date").toggle("highlight"); 
		});
	});
</script>