<table width=100%>
	<tr>
		<td class="leftcol"><label for="student_id"><%= t 'menu.students' %>:</label></td>
		<td>
			<% if @case_id!= nil || @case_id!= nil %>
				<%= f.hidden_field :case_id, :value => @case_id %>
				<%= f.collection_select :student_id, Student.find(:all, :conditions=>['sstatus=? or sstatus=?', 'Current', 'Repeat']), :id, :formatted_mykad_and_student_name, :selected=> StudentDisciplineCase.find(@case_id).student_id %><font color="red"> * </font>	
			<% else %>
				<%= f.collection_select :student_id, Student.find(:all,:conditions=>['sstatus=? or sstatus=?', 'Current', 'Repeat']), :id, :formatted_mykad_and_student_name, :include_blank=> (t 'studentdiscipline.select_student') %><font color="red"> * </font>	
			<% end %>
					
		</td>
	</tr>
	
	<tr>
		<td class="leftcol"><%= f.label  t('studentcounseling.requested_at') %></td>
		<td><%= f.datetime_select :requested_at, :minute_step => 5 %></td>
	</tr>
	
	<tr>
		<td class="leftcol">	<%= f.label t('studentcounseling.duration') %></td>
		<td><%= f.text_field :duration, :placeholder => (t 'time.minutes'), :size => 6 %> </td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="student_id"><%= t 'studentcounseling.suggest_alternative' %>:</label></td>
		<td><%= f.text_area :alt_dates, :size => '50x4' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="c_scope"><%= t 'studentcounseling.scope_of_session' %></label></td>
		<td>
			<%= f.radio_button :c_scope, "personal", :id => 'c_case_personal', :class => 'radio_c_scope' %><%= t 'studentcounseling.personal' %> &nbsp; 
			<%= f.radio_button :c_scope, "academic", :id => 'c_case_academic', :class => 'radio_c_scope' %><%= t 'studentcounseling.academic' %> &nbsp; 
			<% if @case_id!= nil %>
				<%= f.radio_button :c_scope, "case", :id => 'c_case_case', :class => 'radio_c_scope', :checked => "checked"%>Case &nbsp;	
			<% else %>
				<!--couseling appointment (of type case=student discipline case) MUST BE created VIA student discipline case module, action by TPHEP (counseling / refer to BPL-as FLOW, step (3))  [FLOW: (1)Staff report a case+assign HOD (2)HOD decide-no case,advise or refer to TPHEP (3) Action by TPHEP]-->
			<% end %>
			
		</td>                                                             
	</tr>
	
	<tr>
		<td class="leftcol"><label for="c_type"><%= t 'studentcounseling.typesession' %></label></td>
		<td><%= f.radio_button :c_type, "voluntary", :id => 'c_type_voluntary', :class => 'radio_c_type' %><%= t('studentcounseling.voluntary') %> &nbsp; 
			<% if @case_id!= nil || @case_id!= nil %>
				<%= f.radio_button :c_type, "involuntary", :id => 'c_type_involuntary', :class => 'radio_c_type',:checked => "checked" %><%= t('studentcounseling.involuntary') %> &nbsp;
			<% else %>
				<%= f.radio_button :c_type, "involuntary", :id => 'c_type_involuntary', :class => 'radio_c_type' %><%= t('studentcounseling.involuntary') %> &nbsp;
			<% end %>
		</td>                                                             
	</tr>
	
	<tr>
		<td class="leftcol"><%= f.label  t('studentcounseling.is_confirmed')  %></td>
		<!-- JQuery this checkbox to show date -->
		<td><%= f.check_box :is_confirmed, :id => 'box_confirm' %>  : 
		    <SPAN id="confirmed_date" style="display: none;"><%= f.datetime_select :confirmed_at, :minute_step => 5, :default => @student_counseling_session.requested_at %></SPAN> </td>                                                             
	</tr>
	
</table>

<script type="text/javascript">
  $j(document).ready(function(){
	
		$j("input[id='box_confirm']").each(function() {  
		 if($j('#box_confirm').is(':checked')) { 
	      $j("#confirmed_date").show("highlight");
		  }
		});
		
		$j("input[id='box_confirm']").change(function() {  
		    $j("#confirmed_date").toggle("highlight"); 
		});
	});
	
</script>