<table width=100%>
	
	<tr>
		<td class="leftcol"><label for="student_id">Student:</label></td>
		<td><%= f.collection_select :student_id, Student.find(:all, :conditions => ['id = ?', User.current_user.student_id]), :id, :formatted_mykad_and_student_name %><font color="red"> * </font></td>
	</tr>
	
	<tr>
		<td class="leftcol"><%= f.label :requested_at %></td>
		<td><%= f.datetime_select :requested_at, :minute_step => 30, :default => Date.today + 3.days %></td>
	</tr>
	
	<tr>
		<td class="leftcol">	<%= f.label :duration %></td>
		<td><%= f.text_field :duration, :placeholder => 'minutes', :size => 6 %> </td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="student_id">Suggest Alternative Dates:</label></td>
		<td><%= f.text_area :alt_dates, :size => '50x4' %></td>
	</tr>
</table>