<fieldset>
	<legend>Appointment  </legend>
	<table width=100%>

		<tr>
			<td class="leftcol"><label for="student_id">Student:</label></td>
			<td><%= @student_counseling_session.student.formatted_mykad_and_student_name %><font color="red"> * </font></td>
		</tr>

		<tr>
			<td class="leftcol">Requested at</td>
			<td><%= @student_counseling_session.requested_at%></td>
		</tr>

		<tr>
			<td class="leftcol">Duration</td>
			<td><%= @student_counseling_session.duration %> Minutes</td>
		</tr>

		<tr>
			<td class="leftcol"><label for="student_id">Suggest Alternative Dates:</label></td>
			<td><%= @student_counseling_session.alt_dates %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="c_scope">Scope of session</label></td>
			<td><%= @student_counseling_session.c_scope %></td>                                                             
		</tr>

		<tr>
			<td class="leftcol"><label for="c_type">Type of session</label></td>
			<td><%= @student_counseling_session.c_type %></td>                                                             
		</tr>

		<tr>
			<td class="leftcol">Confirmed?</td>
			<td><%= @student_counseling_session.is_confirmed? ? "Confirmed" : "Not Confirmed" %></td>                                                             
		</tr>
	</table>
</fieldset>