

<H2>Session Notes</H2>
<table width=100%>
	
	<tr>
		<td class="leftcol"><label for="issue_desc">Description of Issues</label></td>
		<td><%= f.text_area :issue_desc, :size => '50x4' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="notes">Session Notes</label></td>
		<td><%= f.text_area :notes, :size => '50x6' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="suggestions">Suggestions made to student</label></td>
		<td><%= f.text_area :suggestions, :size => '50x6' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="suggestions">Session lasted</label></td>
		<td><%= f.text_field :duration, :placeholder => 'minutes', :size => 6 %> </td>
	</tr>
</table>


<% if @student_counseling_session.case_id != nil %>	
<!--this part onwards only applicable for counseling of referred discipline cases-->


<H2>Action by TPHEP (Referrer) & Counselor</H2>
	<table width=100%>
	
		<!--display action taken for referred case-->
		<tr>
			<td class="leftcol">Action by referrer (TPHEP) </td>
			<td><%=h @student_counseling_session.student_discipline_case.action if !@student_counseling_session.case_id.blank? %></td>
		<tr>
		<!--FEEDBACK/ACTION by counselor-->
		
		<!--START-add remark for feedback into student_counseling_session table (for each individual counseling session-1 student_discipline_case may have 1 or more counselling session)-->
		<tr>
			<td class="leftcol">Action by counselor</td>	
			<td>
				<% if @student_counseling_session.remark == nil %>
					<%= f.check_box :feedback_this,	:id => 'ind_feedback' %>
				<% else %>
					<%= f.check_box :feedback_this,	:id => 'ind_feedback',:checked=>"checked" %>
				<% end %>
				<label>Issue feedback for <b>this session</b> (to referrer/TPHEP)</label>
			</td>
		</tr>	
		<tr class="feedback_item" style="display:none;">
			<td class="leftcol"></td>
			<td>
				<%= f.text_area :remark, :size => "50x6" %>
			</td>
		</tr>
		<!--END-add remark for feedback into student_counseling_session table (for each individual counseling session-1 student_discipline_case may have 1 or more counselling session)-->
		
		<!--START-add remark for FINAL feedback into student_discipline_case table (for all associated counseling session)-->
		<tr>
			<td class="leftcol"></td>
			<td>
				<% if @student_counseling_session.student_discipline_case.counselor_feedback== nil || @student_counseling_session.student_discipline_case.counselor_feedback=='' %>
					<%= f.radio_button :feedback, 1,	:id => 'final_feedback',  :class => 'radio_feedback' %>
					<label>Complete sessions</label>
					<%= f.radio_button :feedback, 2,	:id => 'cou',  :class => 'radio_feedback' %>
					<label>To have another counseling session</label>
				<% else %>
					<%= f.radio_button :feedback, 1,	:id => 'final_feedback',  :class => 'radio_feedback', :checked=>true %>
					<label>Complete sessions</label>
					<%= f.radio_button :feedback, 2,	:id => 'cou',  :class => 'radio_feedback' %>
					<label>To have another counseling session</label>
				<% end %>	
			</td>
		</tr>	
		<tr class="finalfeedback_item" style="display:none;">
			<td class="leftcol"></td>
			<td>
				Issue <b>summary/feedback (FINAL)</b> to referrer/TPHEP<br>
				<%= f.text_area :feedback_final, :size => "50x6", :value => @student_counseling_session.student_discipline_case.counselor_feedback %>
			</td>
		</tr>
		<tr class="cou_item" style="display:none;">
			<td class="leftcol"></td>
			<td>
				<!--if required to display anything-->
			</td>
		</tr>
		<!--END-add remark for FINAL feedback into student_discipline_case table (for all associated counseling session)-->

		<!--FEEDBACK/ACTION by counselor-->

	</table>


<!--this part only applicable for counseling of referred discipline cases-->
<% end %>

<script type="text/javascript">

	$j(document).ready(function(){

			$j("input[id='ind_feedback']").change(function() {  
			 if($j('#ind_feedback').is(':checked')) { 
			    $j(".feedback_item").show(); 
			 }else		{
			    $j(".feedback_item").hide(); 
			 }	
			});

			$j("input[id='ind_feedback']").each(function() {  
			 if($j('#ind_feedback').is(':checked')) { 
			    $j(".feedback_item").show(); 
			 }else		{
			    $j(".feedback_item").hide(); 
			 }	
			});
	});
	
	$j(document).ready(function(){ 
	   $j("input[class='radio_feedback']").change(function() {  
	     	if($j('#final_feedback').is(':checked')) { 
		       		$j(".finalfeedback_item").show("highlight");
					$j(".cou_item").hide();

		     }else if ($j('#cou').is(':checked')){
					 $j(".finalfeedback_item").hide();
					$j(".cou_item").show();
				
	     	}
	
	   });

		$j("input[class='radio_feedback']").each(function() {  
	     	if($j('#final_feedback').is(':checked')) { 
		       		$j(".finalfeedback_item").show("highlight");
					$j(".cou_item").hide();
		     }else if ($j('#cou').is(':checked')){
					 $j(".finalfeedback_item").hide();
					  $j(".cou_item").show();

	      	}
	   });
	});	
	
</script>
