

<H2>Session Notes</H2>
<table width=100%>
	
	<tr>
		<td class="leftcol"><label for="issue_desc">Description of Issues</label></td>
		<td><%= f.text_area :issue_desc, :size => '50x4' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="notes">Session Notes</label></td>
		<td><%= f.text_area :notes, :size => '50x6' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="suggestions">Suggestions made to student</label></td>
		<td><%= f.text_area :suggestions, :size => '50x6' %></td>
	</tr>
	
	
	
</table>

<!--
<p>
  <%= f.label :file_id %><br />
  <%= f.text_field :file_id %>
</p>

<p>
  <%= f.label :staff_id %><br />
  <%= f.text_field :staff_id %>
</p>
<p>
  <%= f.label :created_by %><br />
  <%= f.text_field :created_by %>
</p>
<p>
  <%= f.label :created_by_type %><br />
  <%= f.text_field :created_by_type %>
</p>
<p>
  <%= f.label :confirmed_by %><br />
  <%= f.text_field :confirmed_by %>
</p>
<p>
  <%= f.label :confirmed_by_type %><br />
  <%= f.text_field :confirmed_by_type %>
</p>-->