<% form_for(@student_counseling_session) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2><%= t 'studentcounseling.edit' %> </H2>
		 <%# if @student_counseling_session.confirmed_at? &&  @student_counseling_session.confirmed_at<(Time.now - 2.hours).in_time_zone('UTC')%>
		 <% if @student_counseling_session.confirmed_at? &&  @student_counseling_session.confirmed_at<Time.now.in_time_zone('UTC')%>
			<!--a session-->	
			<%=render :partial => 'appointment_show', :locals => {:f => f} %>
			<%=render :partial => 'form', :locals => {:f => f} %> 	
		 <% else %>
			<!--an appointment, confirm date mesti > time now baru boleh tukar-->
			<%=render :partial => 'appointment', :locals => {:f => f} %>
		 <% end -%>
	</div>
  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>

<%= link_to (t 'show'), @student_counseling_session %> |
<%= link_to (t 'back'), student_counseling_sessions_path %>