<% form_for(@student_counseling_session) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2>Edit Counseling Appointment / Session </H2>
				<%=render :partial => 'appointment', :locals => {:f => f} %>
				<%=render :partial => 'form', :locals => {:f => f} %> 


	</div>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @student_counseling_session %> |
<%= link_to 'Back', student_counseling_sessions_path %>