<h1>Editing student_counseling_session</h1>

<% form_for(@student_counseling_session) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :student_id %><br />
    <%= f.text_field :student_id %>
  </p>
  <p>
    <%= f.label :requested_at %><br />
    <%= f.datetime_select :requested_at %>
  </p>
  <p>
    <%= f.label :alt_dates %><br />
    <%= f.text_area :alt_dates %>
  </p>
  <p>
    <%= f.label :c_type %><br />
    <%= f.text_field :c_type %>
  </p>
  <p>
    <%= f.label :c_scope %><br />
    <%= f.text_field :c_scope %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </p>
  <p>
    <%= f.label :is_confirmed %><br />
    <%= f.check_box :is_confirmed %>
  </p>
  <p>
    <%= f.label :confirmd_at %><br />
    <%= f.datetime_select :confirmd_at %>
  </p>
  <p>
    <%= f.label :issue_desc %><br />
    <%= f.text_area :issue_desc %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.label :file_id %><br />
    <%= f.text_field :file_id %>
  </p>
  <p>
    <%= f.label :suggestions %><br />
    <%= f.text_area :suggestions %>
  </p>
  <p>
    <%= f.label :staff_id %><br />
    <%= f.text_field :staff_id %>
  </p>
  <p>
    <%= f.label :created_by %><br />
    <%= f.text_field :created_by %>
  </p>
  <p>
    <%= f.label :created_by_type %><br />
    <%= f.text_field :created_by_type %>
  </p>
  <p>
    <%= f.label :confirmed_by %><br />
    <%= f.text_field :confirmed_by %>
  </p>
  <p>
    <%= f.label :confirmed_by_type %><br />
    <%= f.text_field :confirmed_by_type %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @student_counseling_session %> |
<%= link_to 'Back', student_counseling_sessions_path %>