<% form_for(@student_counseling_session) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2>Edit Counseling Appointment / Session </H2>
		 <% if @student_counseling_session.confirmed_at? %>
				<%=render :partial => 'appointment_show', :locals => {:f => f} %>
				<%=render :partial => 'form', :locals => {:f => f} %> 
				
		 <% else %>
			<%=render :partial => 'appointment', :locals => {:f => f} %>
		 <% end -%>


	</div>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @student_counseling_session %> |
<%= link_to 'Back', student_counseling_sessions_path %>