<div class="box">
	<div class="box-head">
		<h2 class="left">Student Counseling Appointments & Sessions</h2>
		<div class="right">
			<% form_tag student_counseling_sessions_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search], :placeholder => "Name"  %>
			<%= submit_tag I18n.t('search'), :name => nil %>
			<% end %>
		</div>
	</div>
</div>
<!-- HACK : Hack a CSS for item legend -->
<font size="-2">
<table align="center" cellpadding="7">
	<tr>
		<td><%= image_tag("flag_red.png") %> Involuntary &nbsp;&nbsp;&nbsp;</td> 
		<td class="green" align='center'> Session is complete&nbsp;&nbsp;&nbsp;</td>
		<td class="red"> Appointment is not confirmed&nbsp;&nbsp;&nbsp;</td>
		<td class="blue"> Appointment is confirmed&nbsp;&nbsp;&nbsp;</td>
</tr></table>
</font>

<div class="indextable">
<!-- HACK : create float left divs for toolbar -->
<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => 'Create new appointment') + "New", new_student_counseling_session_path %></p>
</div>





<table>
  <tr>
    <th>Student Name</th>
    <th>Appointment For</th>
    <th>Duration (Minutes)</th>
    <th>Is confirmed</th>
		<th colspan=3>Control</th>
  </tr>

<% @appointments.each do |appointment| %>
<% if appointment.is_confirmed? == true %>
<tr class="blue">
<% else %>	
<tr class="red">
<% end -%>
  <td><%=h appointment.student.name %>  &nbsp; <%=h appointment.c_type == 'involuntary' ? image_tag("flag_red.png") : ""  %></td>
  <td><%=h appointment.is_confirmed? ?  l(appointment.confirmd_at) :  l(appointment.requested_at) %></td>
  <td><%=h appointment.duration %></td>
  <td><%=h appointment.is_confirmed? ? image_tag("tick.png") : ""  %></td>
  <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => appointment %></td>
  <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => appointment %></td>
  <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), appointment, :confirm => 'Are you sure?', :method => :delete %></td>   
</tr>
<% end -%>
<tr><td colspan=7 align=center><b>Appointments <BR/><HR>Sessions</b></td></tr>
<% @session_dones.each do |session_done| %>
  <tr class="green">
    <td><%=h session_done.student.name %> &nbsp; <%=h session_done.c_type == 'involuntary' ? image_tag("flag_red.png") : ""  %></td>

    <td><%=h l(session_done.confirmd_at) unless session_done.confirmd_at.blank? %></td>
    <td><%=h session_done.duration %></td>
    <td><%=h session_done.is_confirmed? ? image_tag("tick.png") : ""  %></td>
    <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => session_done %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => session_done %></td>
    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), session_done, :confirm => 'Are you sure?', :method => :delete %></td>   
  </tr>
<% end %>
</table>
</div>
<BR/><BR/>
<br />

<%= link_to 'New student_counseling_session', new_student_counseling_session_path %>