<div class="box">
	<div class="box-head">
		<h2 class="left"><%= t 'studentcounseling.title' %></h2>
		<div class="right">
			<% form_tag student_counseling_sessions_path, :method => 'get' do %>
			<%=t('studentcounseling.appointment')%> / <%=t('studentcounseling.sessions')%> : <%= text_field_tag :search, params[:search], :placeholder => (t 'studentcounseling.name_matrixno') %>
			<%= submit_tag I18n.t('search'), :name => nil %>
			<% end %>
		</div>
	</div>
</div>

<div class="right">
    <% form_tag '', :method => 'get' do %>
	<%=t('from')%>: <%= date_select :search_from, params[:search_from], :include_blank => :true %>
	&nbsp; &nbsp;<%=t('to')%>: <%= date_select :search_to, params[:search_to], :include_blank => :true %>
	<%= submit_tag (t 'studentcounseling.search_by_date'), :name => :submit_button1 %>
    <% end %>
</div>
<br><br>
<%=params[:search_from]%>
<%=params[:search_to]%>
<!-- HACK : Hack a CSS for item legend -->
<font size="-2">
<table align="center" cellpadding="7">
	<tr>
		<td><%= image_tag("flag_red.png") %> Involuntary &nbsp;&nbsp;&nbsp;</td> 
		<td class="green" align='center'> <%= t 'studentcounseling.session_complete' %>&nbsp;&nbsp;&nbsp;</td>
		<td class="red"> <%= t 'studentcounseling.appointment_notconfirm' %>&nbsp;&nbsp;&nbsp;</td>
		<td class="blue"> <%= t 'studentcounseling.appointment_confirm' %>&nbsp;&nbsp;&nbsp;</td>
</tr></table>
</font>

<div class="indextable">
<!-- HACK : create float left divs for toolbar -->

<div class="toolbar">
  <p><%= link_to image_tag("add.png", :border => 0, :title => (t 'studentcounseling.new_appointment')) + (t 'studentcounseling.new_appointment'), new_student_counseling_session_path %></p>
</div>
<br>

<table>
  <tr>
	<th><%= t 'student.matrixno' %></th>
    <th><%= t 'leaveforstudent.student_id' %></th>
	<th><%= t 'student_attendance.programme' %></th>
	<th><%= t 'studentdiscipline.year_sem' %></th>
    <th><%= t 'studentcounseling.appointmentfor' %></th>
    <th><%= t 'programme.duration' %><br>( <%= t 'time.minutes'%>)</th>
    <th><%= t 'studentcounseling.is_confirm' %></th>
	<th><%= t 'studentcounseling.feedback_to' %><br><%= t 'studentcounseling.refer' %></th>
	<th colspan=3><%= t 'control' %></th>
  </tr>
<% @appointments_by_case.each do |case_id, appointments|%>
<%# @appointments.each do |appointment| %><% count=0 %>
<% appointments.each do |appointment| %>

<% if appointment.is_confirmed? == true %>
<tr class="blue">
<% else %>	
<tr class="red">appeal_on
<% end -%>
	
	<td><%=h appointment.student.matrixno %></td>
	<td><%=h appointment.student.name %>  &nbsp; <%=h appointment.c_type == 'involuntary' ? image_tag("flag_red.png") : ""  %></td>
	<!--NEW DB-programme_id (1-14), OLD DB-programme_id-refer prev one-->
  	<td><%=h appointment.student.programme_for_student2 if appointment.student.course_id <15 %></td>
  	<td><%=h strip_tags(Student.year_and_sem(appointment.student.intake)) %></td>
  	<td><%#=h appointment.is_confirmed? ?  appointment.confirmed_at :  appointment.requested_at %>
<%=h appointment.is_confirmed? ?  appointment.confirmed_at.strftime("%d %b %y, %l:%M %p") :  appointment.requested_at.strftime("%d %b %y, %l:%M %p") %></td>
  	<td><%=h appointment.duration %></td>
  	<td><%=h appointment.is_confirmed? ? image_tag("tick.png") : ""  %></td>
	
		<% if appointment.c_scope == "case" && !appointment.case_id.blank? %><!--check if referred case first-->	
			<% if count==0 %>
				<td rowspan="<%= appointments.count%>" style="text-align:center">
					<font size=-2>
					<%=h appointment.student_discipline_case.counselor_feedback.blank? ? (link_to image_tag("add.png", :border => 0, :title => 'Create new appointment') + "Add", new_student_counseling_session_path(:caseid => appointment.case_id)) : image_tag("tick.png")  %>
					</font>
					<!--test link for report-->
					<%= link_to image_tag("printer.png", :border => 0, :title => 'Feedback Referrer'), :action => 'feedback_referrer', :id => appointment.case_id if !appointment.student_discipline_case.counselor_feedback.blank? %>
					<!--test link for report-->
				</td>
			<% end %>
			<%count+=1%>
		<% else %>
			<td style="text-align:center"><font size=-2><%=t('studentdiscipline.not_related')%></font></td>
		<% end %>
	
  	<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => (t 'show')), :action => 'show', :id => appointment %></td>
  	<td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => (t 'edit')), :action => 'edit', :id => appointment %></td>
  	<td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => (t 'delete')), appointment, :confirm => (t 'are_you_sure'), :method => :delete %></td>   
</tr>
<% end -%>

<% end -%><!--end for @appointments_by_case-->
<tr><td colspan=11 align=center><b><%= t 'studentcounseling.appointment' %> <BR/><HR><%= t 'studentcounseling.sessions' %></b></td></tr>
<% @session_dones_by_case.each do |case_id,session_dones|%>
<%# @session_dones.each do |session_done| %><% count2=0 %>
<% session_dones.each do |session_done| %>
  <tr class="green">
	<td><%=h session_done.student.matrixno %></td>
	<td><%=h session_done.student.name %> &nbsp; <%=h session_done.c_type == 'involuntary' ? image_tag("flag_red.png") : ""  %></td>
	<!--NEW DB-programme_id (1-14), OLD DB-programme_id-refer prev one-->
	<td><%=h session_done.student.programme_for_student2 if session_done.student.course_id <15 %></td>
	<td><%=h strip_tags(Student.year_and_sem(session_done.student.intake)) %></td>
	<td><%=h l(session_done.confirmed_at, :format=> "%d %b %Y, %l:%M%P") unless session_done.confirmed_at.blank? %></td>
    <td><%=h session_done.duration %></td>
    <td><%=h session_done.is_confirmed? ? image_tag("tick.png") : ""  %></td>
	
		
		<% if session_done.c_scope == "case" && !session_done.case_id.blank? %><!--check if referred case first-->	
			<% if count2==0 %>
				<td rowspan="<%= session_dones.count%>" style="text-align:center">
					<font size=-2>
					<%=h session_done.student_discipline_case.counselor_feedback.blank? ? (link_to image_tag("add.png", :border => 0, :title => (t 'studentcounseling.new_appointment')) + "Add", new_student_counseling_session_path(:caseid => session_done.case_id)) : image_tag("tick.png")  %>
					</font>
					<!--test link for report-->
					<%= link_to image_tag("printer.png", :border => 0, :title => (t 'studentdiscipline.feedback_referrer')), :action => 'feedback_referrer', :id => session_done.case_id if !session_done.student_discipline_case.counselor_feedback.blank? %>
					<!--test link for report-->
				</td>
			<% end %>
			<%count2+=1%>
		<% else %>
			<td style="text-align:center"><font size=-2><%=t('studentdiscipline.not_related')%></font></td>
		<% end %>
		
	
    <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => (t 'show')), :action => 'show', :id => session_done %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => (t 'edit')), :action => 'edit', :id => session_done %></td>
    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => (t 'delete')), session_done, :confirm => (t 'are_you_sure'), :method => :delete %></td>   
  </tr>
<% end %>
<% end %><!--END for @session_dones_by_case-->
</table>
</div>
<BR/><BR/>
<br />

<%= link_to (t 'studentcounseling.new_appointment'), new_student_counseling_session_path %>