<div class="box">
	<div class="box-head">
		<h2 class="left">Student Counseling Appointments & Sessions</h2>
		<div class="right">
			<% form_tag student_counseling_sessions_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search], :placeholder => "Name"  %>
			<%= submit_tag I18n.t('search'), :name => nil %>
			<% end %>
		</div>
	</div>
</div>
<!-- HACK : Hack a CSS for item legend -->
<font size="-2">
<table align="center" cellpadding="7">
	<tr>
		<td><%= image_tag("flag_red.png") %> Involuntary &nbsp;&nbsp;&nbsp;</td> 
		<td class="green" align='center'> Session is complete&nbsp;&nbsp;&nbsp;</td>
		<td class="red"> Appointment is not confirmed&nbsp;&nbsp;&nbsp;</td>
		<td class="blue"> Appointment is confirmed&nbsp;&nbsp;&nbsp;</td>
</tr></table>
</font>

<div class="indextable">
<!-- HACK : create float left divs for toolbar -->
<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => 'Create new appointment') + "New", new_student_counseling_session_path %></p>
</div>





<table>
  <tr>
	<th>Matrix No</th>
    <th>Student Name</th>
	<th>Programme</th>
	<th>Year/Semester</th>
    <th>Appointment For</th>
    <th>Duration (Minutes)</th>
    <th>Is confirmed</th>
	<th>Feedback to<br>Referrer</th>
	<th colspan=3>Control</th>
  </tr>
<% @appointments_by_case.each do |case_id, appointments|%>
<%# @appointments.each do |appointment| %><% count=0 %>
<% appointments.each do |appointment| %>

<% if appointment.is_confirmed? == true %>
<tr class="blue">
<% else %>	
<tr class="red">
<% end -%>
	
	<td><%=h appointment.student.matrixno %></td>
	<td><%=h appointment.student.name %>  &nbsp; <%=h appointment.c_type == 'involuntary' ? image_tag("flag_red.png") : ""  %></td>
	<!--NEW DB-programme_id (1-14), OLD DB-programme_id-refer prev one-->
  	<td><%=h appointment.student.programme_for_student2 if appointment.student.course_id <15 %></td>
  	<td><%=h strip_tags(Student.year_and_sem(appointment.student.intake)) %></td>
  	<td><%=h appointment.is_confirmed? ?  appointment.confirmed_at.strftime("%d %b %Y, %H:%M%p") :  appointment.requested_at.strftime("%d %b %Y, %H:%M%p") %></td>
  	<td><%=h appointment.duration %></td>
  	<td><%=h appointment.is_confirmed? ? image_tag("tick.png") : ""  %></td>
	
		<% if appointment.c_scope == "case" && !appointment.case_id.blank? %><!--check if referred case first-->	
			<% if count==0 %>
				<td rowspan="<%= appointments.count%>">
					<font size=-2>
					<%=h appointment.student_discipline_case.counselor_feedback.blank? ? (link_to image_tag("add.png", :border => 0, :title => 'Create new appointment') + "Add", new_student_counseling_session_path(:caseid => appointment.case_id)) : image_tag("tick.png")  %>
					</font>
				</td>
			<% end %>
			<%count+=1%>
		<% else %>
			<td><font size=-2>Not related</font></td>
		<% end %>
	
  	<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => appointment %></td>
  	<td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => appointment %></td>
  	<td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), appointment, :confirm => 'Are you sure?', :method => :delete %></td>   
</tr>
<% end -%>

<% end -%><!--end for @appointments_by_case-->
<tr><td colspan=10 align=center><b>Appointments <BR/><HR>Sessions</b></td></tr>
<% @session_dones_by_case.each do |case_id,session_dones|%>
<%# @session_dones.each do |session_done| %><% count2=0 %>
<% session_dones.each do |session_done| %>
  <tr class="green">
	<td><%=h session_done.student.matrixno %></td>
	<td><%=h session_done.student.name %> &nbsp; <%=h session_done.c_type == 'involuntary' ? image_tag("flag_red.png") : ""  %></td>
	<!--NEW DB-programme_id (1-14), OLD DB-programme_id-refer prev one-->
	<td><%=h session_done.student.programme_for_student2 if session_done.student.course_id <15 %></td>
	<td><%=h Student.year_and_sem(session_done.student.intake)%></td>
	<td><%=h session_done.confirmed_at.strftime("%d %b %Y, %H:%M%p") unless session_done.confirmed_at.blank? %></td>
    <td><%=h session_done.duration %></td>
    <td><%=h session_done.is_confirmed? ? image_tag("tick.png") : ""  %></td>
	
		
		<% if session_done.c_scope == "case" && !session_done.case_id.blank? %><!--check if referred case first-->	
			<% if count2==0 %>
				<td rowspan="<%= session_dones.count%>">
					<font size=-2>
					<%=h session_done.student_discipline_case.counselor_feedback.blank? ? (link_to image_tag("add.png", :border => 0, :title => 'Create new appointment') + "Add", new_student_counseling_session_path(:caseid => session_done.case_id)) : image_tag("tick.png")  %>
					</font>
				</td>
			<% end %>
			<%count2+=1%>
		<% else %>
			<td><font size=-2>Not related</font></td>
		<% end %>
		
	
    <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => session_done %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => session_done %></td>
    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), session_done, :confirm => 'Are you sure?', :method => :delete %></td>   
  </tr>
<% end %>
<% end %><!--END for @session_dones_by_case-->
</table>
</div>
<BR/><BR/>
<br />

<%= link_to 'New student_counseling_session', new_student_counseling_session_path %>