<% form_for(@student_counseling_session) do |f| %>
  <%= f.error_messages %>

	<div class="tform">
		<H2><%= t 'studentcounseling.new_appointment' %></H2>
		
		<% if Login.current_login.isstaff == false %>
				<%=render :partial => 'appointment_student', :locals => {:f => f} %>
		<% else %>
				<%=render :partial => 'appointment', :locals => {:f => f} %>
		<% end %> 


	</div>
  <p>
    <%= f.submit (t 'create') %>
  </p>
<% end %>

<%= link_to (t 'back'), student_counseling_sessions_path %>