<% form_for(@student_counseling_session) do |f| %>
  <%= f.error_messages %>

	<div class="tform">
		<H2>New Counseling Appointment</H2>
		
		<% if User.current_user.isstaff == false %>
				<%=render :partial => 'appointment_student', :locals => {:f => f} %>
		<% else %>
				<%=render :partial => 'appointment', :locals => {:f => f} %>
		<% end %> 


	</div>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', student_counseling_sessions_path %>