<p>
  <b>Student:</b>
  <%=h @student_counseling_session.student_id %>
</p>

<p>
  <b>Requested at:</b>
  <%=h @student_counseling_session.requested_at %>
</p>

<p>
  <b>Alt dates:</b>
  <%=h @student_counseling_session.alt_dates %>
</p>

<p>
  <b>C type:</b>
  <%=h @student_counseling_session.c_type %>
</p>

<p>
  <b>C scope:</b>
  <%=h @student_counseling_session.c_scope %>
</p>

<p>
  <b>Duration:</b>
  <%=h @student_counseling_session.duration %>
</p>

<p>
  <b>Is confirmed:</b>
  <%=h @student_counseling_session.is_confirmed %>
</p>

<p>
  <b>Confirmd at:</b>
  <%=h @student_counseling_session.confirmd_at %>
</p>

<p>
  <b>Issue desc:</b>
  <%=h @student_counseling_session.issue_desc %>
</p>

<p>
  <b>Notes:</b>
  <%=h @student_counseling_session.notes %>
</p>

<p>
  <b>File:</b>
  <%=h @student_counseling_session.file_id %>
</p>

<p>
  <b>Suggestions:</b>
  <%=h @student_counseling_session.suggestions %>
</p>

<p>
  <b>Staff:</b>
  <%=h @student_counseling_session.staff_id %>
</p>

<p>
  <b>Created by:</b>
  <%=h @student_counseling_session.created_by %>
</p>

<p>
  <b>Created by type:</b>
  <%=h @student_counseling_session.created_by_type %>
</p>

<p>
  <b>Confirmed by:</b>
  <%=h @student_counseling_session.confirmed_by %>
</p>

<p>
  <b>Confirmed by type:</b>
  <%=h @student_counseling_session.confirmed_by_type %>
</p>


<%= link_to 'Edit', edit_student_counseling_session_path(@student_counseling_session) %> |
<%= link_to 'Back', student_counseling_sessions_path %>