<div class="tform">
<%=render :partial => 'appointment_show' %>

<% permitted_to? :create, :student_discipline_cases do %>
<% if @student_counseling_session.is_confirmed?  %>

<fieldset>
	<legend class="togvis"><%= t 'studentdiscipline.session_notes' %></legend>
		<table width=100%>
			<tr>
				<td class="leftcol"><label for="issue_desc"><%= t 'studentcounseling.description_issues' %></label></td>
				<td><%= @student_counseling_session.issue_desc %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="notes"><%= t 'studentdiscipline.session_notes' %></label></td>
				<td><%= @student_counseling_session.notes %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="suggestions"><%= t 'studentcounseling.suggest_made_student' %></label></td>
				<td><%= @student_counseling_session.suggestions %></td>
			</tr>
		</table>
</fieldset>

<!--START-applicable only to referred cases (case_id exist)-->
<% if @student_counseling_session.c_scope == "case" && !@student_counseling_session.case_id.blank?%>
<fieldset>
	<legend class="togvis"><%= t 'studentcounseling.action_refer' %> & <%= t 'studentcounseling.counselor' %></legend>
		<table width=100%>		
			<!--display action taken for referred case-->
			<tr>
				<td class="leftcol"><%= t 'studentcounseling.action_refer' %></td>
				<td><%=h @student_counseling_session.student_discipline_case.action if !@student_counseling_session.case_id.blank? %></td>
			<tr>
			<tr>
				<td class="leftcol"><label for="feedback"><%= t 'studentcounseling.actionby_conselour' %> <br><%= t 'studentcounseling.feedback_session' %></label></td>
				<td><%= @student_counseling_session.remark %></td>
			</tr>
			
			<% @case_id = @student_counseling_session.case_id %>
			<% @all_sessions = StudentCounselingSession.find(:all, :conditions=> ['case_id=?',@case_id ]) %>
			<% @other_sessions = StudentCounselingSession.find(:all, :conditions=> ['case_id=? AND id!=?',@case_id,@student_counseling_session.id ],:order=>'confirmed_at ASC') %>
			<% @session_count = @all_sessions.count %>
		
			<% if @session_count>1 %>
				<tr>
					<td class="leftcol"><label for="feedback"><%= t 'studentcounseling.other_related' %></label></td>
					<td><table><tr><th>No</th><th><%= t 'studentcounseling.sessions' %></th></tr>
						
						<% @other_sessions.each_with_index do |session,index| %>
						<tr>
							<td><%=index+1%></td>
							<td><%=session.confirmed_at.strftime("%d %b %y, %l:%M %p")  %></td>
						</tr>
						<% end %>
						<tr><td colspan=2>(Total session for this case : <%=@session_count%>)</td></tr>
						
					</table></td>
				</tr>	
			 <% end %>
			<% if @student_counseling_session.student_discipline_case.counselor_feedback== nil|| @student_counseling_session.student_discipline_case.counselor_feedback==''%>
			<% else %>
				<tr>
					<td class="leftcol"><label for="feedback"><%= t 'studentcounseling.actionby_conselour' %><br><%= t 'studentcounseling.summary' %></label></td>
					<td><%=@student_counseling_session.student_discipline_case.counselor_feedback%></td>
				</tr>
			<% end %>
			
		</table>
</fieldset>
<% end %>
<!--END-applicable only to referred cases (case_id exist)-->

<% end %>
<% end %>
</div>

<%= link_to (t 'edit'), edit_student_counseling_session_path(@student_counseling_session) %> |
<%= link_to (t 'back'), student_counseling_sessions_path %>