<div class="tform">
<%=render :partial => 'appointment_show' %>

<% permitted_to? :create, :student_discipline_cases do %>
<% if @student_counseling_session.is_confirmed?  %>

<fieldset>
	<legend>Session Notes</legend>
		<table width=100%>
			<tr>
				<td class="leftcol"><label for="issue_desc">Description of Issues</label></td>
				<td><%= @student_counseling_session.issue_desc %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="notes">Session Notes</label></td>
				<td><%= @student_counseling_session.notes %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="suggestions">Suggestions made to student</label></td>
				<td><%= @student_counseling_session.suggestions %></td>
			</tr>
		</table>
</fieldset>


<% end %>
<% end %>
</div>

<%= link_to 'Edit', edit_student_counseling_session_path(@student_counseling_session) %> |
<%= link_to 'Back', student_counseling_sessions_path %>