<h3>Staff Training</h3>
<div class="tform">
	<H2>Staff Training Details</H2>
<table width=100% >
<% form_for(@ptdo) do |f| %>
  <%= f.error_messages %>
	
	<tr>
		<td class="leftcol"><label for="ptcourse_id">Course : </label></td>
		<td> <%=h @ptdo.ptschedule.ptcourse.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="ptschedule_id">Date : </label></td>
		<td><%=h l(@ptdo.ptschedule.start) %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="staff_id">Staff Name : </label></td>
		<td><%=h @ptdo.applicant_details %></td>
	</tr>

  <!--  Unit Approval Block -->
  <% permitted_to? :approve, :ptdos do %>
		<% if @ptdo.unit_approve.blank? %>
		<tr>
			<td class="leftcol"><label for="justification">Justification : </label></td>
			<td><%= f.text_area :justification, :size => '45x2' %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="unit_review">Unit Review : </label></td>
			<td><%= f.text_area :unit_review, :size => '45x2' %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="unit_approve">Unit Approve : </label></td>
			<td><%= f.check_box :unit_approve %></td>
		</tr>
		
		<% end %>
       <% end %>


  <!-- Department Approval Block -->
  <% permitted_to? :approve, :ptdos do %>
		<% if @ptdo.unit_approve? && @ptdo.dept_approve.blank? %>
		<tr>
			<td class="leftcol"><label for="dept_review">Dept Review : </label></td>
			<td><%= f.text_field :dept_review %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="dept_approve">Dept Approve : </label></td>
			<td><%= f.check_box :dept_approve %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="replacement_id">Replacement Staff : </label></td>
			<td><%= f.collection_select :replacement_id, Staff.find(:all, :order => :name), :id, :staff_name_with_position %></td>
			<!-- try to do not in then in same dept tree -->
		</tr>
		<% end %>
  <% end %>
			
  <% permitted_to? :approve, :ptdos do %>
		<% if @ptdo.dept_approve? && @ptdo.final_approve.blank? && current_user.staff.position.name == "Pengarah" %>
		<tr>
			<td class="leftcol"><label for="final_approve">Final Approve : </label></td>
			<td><%= f.check_box :final_approve %></td>
		</tr>
		<% end %>
	<% end %>
	
	<% if @ptdo.dept_approve? && @ptdo.final_approve? && @ptdo.staff_id == current_user.staff_id %>	
		<tr>
			<td class="leftcol"><label for="trainee_report">Trainee Report : </label></td>
			<td><%= f.text_area :trainee_report, :size => '60x10' %></td>
		</tr>
	
	<% end %>

</table>
</div>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ptdo %> |
<%= link_to 'Back', ptdos_path %>