<h3>Staff Training</h3>
<div class="tform">
	<H2>Staff Training Details</H2>
<table width=100% >
<% form_for(@ptdo) do |f| %>
  <%= f.error_messages %>
	
	<tr>
		<td class="leftcol"><label for="ptcourse_id">Course</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @ptdo.ptschedule.coursename %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="ptcourse_id">Description</label></td>
		<td><b>:</b></td>
		<td> <%=h @ptdo.ptschedule.description %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="ptcourse_id">Location</label></td>
		<td><b>:</b></td>
		<td> <%=h @ptdo.ptschedule.location %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="ptschedule_id">Date</label></td>
		<td><b>:</b></td>
		<td><%=h @ptdo.ptschedule.blank? ? "-" : @ptdo.ptschedule.start.strftime('%e %B %Y') %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="staff_id">Staff Name</label></td>
		<td><b>:</b></td>
		<td><%=h @ptdo.staff_details %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="unit_approve">Approver Name</label></td>
		<td><b>:</b></td>
		<td><%=h @ptdo.approver_2.blank? ? "-" : @ptdo.approver2.position_with_boss %></td>
	</tr>
</table>
<H2>Course Report</H2>
<table>
	<tr>
		<td class="leftcol"><label for="course_report">Course Report</label></td>
		<td width=3%><b>:</b></td>
		<td><%= f.text_area :trainee_report, :size=> "60x10" %></td>
	</tr>

</table>		




  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>
<BR>
<%= link_to 'Show', @ptdo %> |
<%= link_to 'Back', ptdos_path %>