<h3><%= t 'ptdos.staff_training' %></h3>
<div class="tform">
	<H2><%= t 'ptdos.dos_detail' %></H2>
<table width=100% >
<% form_for(@ptdo) do |f| %>
  <%= f.error_messages %>
	
	<tr>
		<td class="leftcol"><label for="ptcourse_id"><%= t 'ptdos.course' %>:</label></td>
		<td> <%=h @ptdo.ptschedule.ptcourse.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="ptschedule_id"><%= t 'ptdos.date' %>:</label></td>
		<td><%=h l(@ptdo.ptschedule.start) %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="staff_id"><%= t 'ptdos.staffname' %>:</label></td>
		<td><%=h @ptdo.applicant_details %></td>
	</tr>

  <!--  Unit Approval Block -->
  <% permitted_to? :approve, :ptdos do %>
		<% if @ptdo.unit_approve.blank? %>
		<tr>
			<td class="leftcol"><label for="justification"><%= t 'ptdos.justification' %>:</label></td>
			<td><%= f.text_area :justification, :size => '45x2' %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="unit_review"><%= t 'ptdos.unitreview' %>:</label></td>
			<td><%= f.text_area :unit_review, :size => '45x2' %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="unit_approve"><%= t 'ptdos.unitapprove' %>:</label></td>
			<td><%= f.check_box :unit_approve %></td>
		</tr>
		
		<% end %>
       <% end %>


  <!-- Department Approval Block -->
  <% permitted_to? :approve, :ptdos do %>
		<% if @ptdo.unit_approve? && @ptdo.dept_approve.blank? %>
		<tr>
			<td class="leftcol"><label for="dept_review"><%= t 'ptdos.deptreview' %>:</label></td>
			<td><%= f.text_field :dept_review %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="dept_approve"><%= t 'ptdos.deptapprove' %>:</label></td>
			<td><%= f.check_box :dept_approve %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="replacement_id"><%= t 'ptdos.replacementstaff' %>:</label></td>
			<td><%= f.collection_select :replacement_id, Staff.find(:all, :order => :name), :id, :staff_name_with_position %></td>
			<!-- try to do not in then in same dept tree -->
		</tr>
		<% end %>
  <% end %>
			
  <% permitted_to? :approve, :ptdos do %>
		<% if @ptdo.dept_approve? && @ptdo.final_approve.blank? && current_login.staff.position.name == "Pengarah" %>
		<tr>
			<td class="leftcol"><label for="final_approve"><%= t 'ptdos.finalapprove' %>:</label></td>
			<td><%= f.check_box :final_approve %></td>
		</tr>
		<% end %>
	<% end %>
	
	<%# if @ptdo.dept_approve? && @ptdo.final_approve? && @ptdo.staff_id == current_login.staff_id %>
	<% total_applicant=Ptdo.find(:all, :conditions => ['ptschedule_id=?', @ptdo.ptschedule_id]).count%>
	<% minimum_participant=Ptschedule.find(@ptdo.ptschedule_id).min_participants %>
	<% if @ptdo.dept_approve? && @ptdo.final_approve? && @ptdo.staff_id == current_login.staff_id && total_applicant >= minimum_participant && @ptdo.ptschedule.budget_ok==true && @ptdo.ptschedule.start <= Date.today%>
		<tr>
			<td class="leftcol"><label for="trainee_report"><%= t 'ptdos.trainereport' %>:</label></td>
			<td><%= f.text_area :trainee_report, :size => '60x10' %></td>
		</tr>
	
	<% end %>
</table>

<% permitted_to? :participant_expenses, :ptdos do %>
	<% if @ptdo.final_approve? %>
		<H2><%=t('ptdos.payment_method')%></H2>
		<table width=100%>
			<tr>
				<td class="leftcol"><label for="payment_method"><%= t 'ptdos.payment_method' %>:</label></td>
				<td><%= f.select :payment, Ptdo::PAYMENT, :include_blank => t('select')%></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="remark"><%= t 'ptdos.remark' %>:</label></td>
				<td><%= f.text_area :remark, :size => "50x2" %></td>
			</tr>
		</table>	
	<% end %>
<% end %>

</div>
  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>

<%= link_to (t 'show'), @ptdo %> |
<%= link_to (t 'ptdos.back_status'), ptdos_path %>
<% permitted_to? :participant_expenses do %>
	&nbsp;|&nbsp;<%= link_to (t 'ptdos.back_expenses'), organized_course_manager_ptdos_path %>
<% end %>