<h3><%= t ' ptdos.applytraining' %></h3>


<% form_for(@ptdo) do |f| %>
  <%= f.error_messages %>
 <%= f.hidden_field :ptschedule_id %>

<div class="tform">
<H2><%= t 'ptdos.trainingapp' %></H2>
<table width=50% >

	<tr>
		<td class="leftcol"><label for="name"><%= t 'ptdos.coursename' %>:</label></td>
		<td> <%=h @ptdo.ptschedule.ptcourse.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name"><%= t 'ptdos.staffname' %>:</label></td>
		<td><%= f.collection_select :staff_id, Staff.find(:all, :conditions => ["id = ?", current_login.staff_id]), :id, :staff_name_with_position %></td>
	</tr>
 

</table>
</div>
  <p>
    <%= f.submit (t 'apply') %>
  </p>
<% end %>

<%= link_to (t 'back'), ptdos_path %>