<div class="box">
	<div class="box-head">
		<h2 class="left"><%= t 'ptdos.expenses' %> &nbsp; </h2>
		<div class="right">
			<% form_tag organized_course_manager_ptdos_path, :method => 'get' do %>
				<%= text_field_tag :search, params[:search], :placeholder => (t 'ptdos.cos_name')%>
				<%= submit_tag (t 'search'), :title => nil %>
			<% end %>
		</div>
	</div>
</div>

<div class="toolbar" align=right>
	<%= select_tag_for_filter("organized_course_manager_ptdos", @filters, params) %>
</div>
<div class="indextable">
<table>
  <tr>
	<th>No</th>
	<th><%= t 'ptdos.staff' %></th>
	<th><%= t 'staff.position' %></th>
	<th width=10%><%= t 'ptdos.cos_name' %></th>
	<th><%= t 'ptschedule.start' %> - <%= t 'ptschedule.end' %></th>
	<th width=4%><%= t 'ptschedule.duration' %></th>
	<th><%= t 'ptschedule.final_price' %></th><!--amount-->
	<th width=5%><font color=green><%= t 'ptschedule.budget_ok2' %></font></th>
	<th width=5%><font color=green><%= t 'ptschedule.minparticipant' %></font></th>
	<th width=5%><%= t 'ptdos.evaluation_submitted' %><%#= t 'ptdos.report_submitted' %></th><!--Penilaian kursus-->
	<th width=7%><font color=red><%= t 'ptschedule.payment_method' %></font></th><!--kaedah pembayaran-->
	<th width=7%><font color=red><%= t 'ptschedule.lo_tunai' %></font></th>
	<th width=7%><font color=red><%= t 'ptschedule.paid_submission' %></font></th><!--Telah / Belum Dihantar (pembayaran)-->
	<th colspan=3 class="ac"><%= t 'control' %></th>
  </tr>
<% no=0%>
<% @ptdos.group_by{|x|x.ptschedule_id}.each do |schedule_id, ptdos| %>
	<% ptdos.each_with_index do |ptdo, indexx| %>
	<tr>
	<td><%=no+=1%></td>
	<td><%=h ptdo.staff.name %></td>
	<td><%=h ptdo.staff.position.try(:name) %></td>
	<% if indexx==0%>
		<td rowspan="<%=ptdos.count%>"><%=h ptdo.ptschedule.ptcourse.name %></td>
		<td rowspan="<%=ptdos.count%>" align=center><%=h ptdo.ptschedule.start.try(:strftime, '%d-%m-%Y') %> - <%= ptdo.ptschedule.enddate.try(:strftime, '%d-%m-%Y') %></td>
		<td rowspan="<%=ptdos.count%>" align=center><%=duration_in_string=Ptdo.staff_total_days([ptdo.id]) %></td>
		<td rowspan="<%=ptdos.count%>" align=right><%=h ringgols(ptdo.ptschedule.final_price) %></td>
		<td rowspan="<%=ptdos.count%>" align=center><%=h ptdo.ptschedule.budget_ok? ? image_tag('tick.png') : image_tag('cross.png') %></td>
		<td rowspan="<%=ptdos.count%>" align=center>
			<% if ptdos.count >= ptdo.ptschedule.min_participants %>
				<%= image_tag('tick.png') %>
			<% else %>
				<%= image_tag('cross.png') %>
			<% end %>
		</td>
	<% end %>
	<td align=center><%=ptdo.trainee_report.nil? ? image_tag('cross.png') : image_tag('tick.png') %></td>
	<td>&nbsp;</td>
	<td width=10px><%#= link_to image_tag("document.png", :border => 0, :title => (t 'show')), :action => 'show', :id => ptdo %></td>
	<td width=10px><%# if ptdo.dept_approve? && ptdo.final_approve? && ptdo.staff_id == current_login.staff_id %><%#= link_to image_tag("edit.png", :border => 0, :title => (t 'edit')), :action => 'edit', :id => ptdo %><%# end %></td>
	<td width=10px><%#= link_to image_tag("delete.png", :border => 0, :title => (t 'delete')), ptdo, :confirm => (t 'are_you_sure'), :method => :delete %></td>
	</tr>
	<% end %>
<% end %>
</table>

<br />
</div>