<div class="box">
	<div class="box-head">
		<h2 class="left"><%= t 'ptdos.viewsummary' %>&nbsp;<%=Date.today.year%> - <%= current_login.staff.name %></h2>
	</div>
</div>

<div class="indextable"><%#= current_login.name%><%#= current_login.id %>
<table>
  <tr>
	<th><%= t 'ptdos.cos_name' %></th>
	<th><%= t 'ptdos.cos_date' %></th>
	<th><%= t 'ptdos.location' %></th>
	<th><%= t 'ptcourse.training_classification' %> - <%= t 'ptcourse.course_type' %></th>
	<th><%= t 'ptdos.duration' %></th>
	<th><%= t 'ptdos.tduration' %></th>
 	<th><%= t 'ptdos.total' %></th>
  </tr>
<% sum_days = 0 %>
<% sum_bal_hours=0%>
<% @ptdos.sort_by{|x|[x.ptschedule.ptcourse.training_classification, x.ptschedule.ptcourse.course_type]}.each do |ptdo| %>
	<% @ptcourse = Ptcourse.find(ptdo.ptcourse_id) %>	
	<% @ptschedule = Ptschedule.find(ptdo.ptschedule_id)%>
  	<tr>
      	<td><%=h course_name = @ptcourse.name %></td>
    	<td><%=h start_date = @ptschedule.start.try(:strftime, '%d-%m-%Y') %></td>
	<td><%=h location = @ptschedule.location %></td>
	<td><%=h @ptcourse.rendered_programme_classification %>
		 - <%=h @ptschedule.ptcourse.rendered_course_type %>
	</td>
	<td align=center><%=h duration_qty = @ptcourse.duration.to_i %></td>
    	<td align=center><% duration_type = @ptcourse.duration_type %><%=h @ptcourse.rendered_course_duration.first.titleize %></td>
	<td align=center>
		<% course_days=Ptdo.staff_course_days(Ptcourse.find(ptdo.ptcourse_id)) * 6%>
		<% days_count = course_days / 6%>
		<% bal_hours = course_days % 6 %>
		<% if bal_hours > 0 %>
			<% if days_count.to_i > 0 %>
				<%=days_count.to_i.to_s+" "+I18n.t('time.days')+" "+bal_hours.to_i.to_s+" "+I18n.t('time.hours')%>
			<% else %>
				<%=bal_hours.to_i.to_s+" "+I18n.t('time.hours')%>
			<% end %>
		<% else %>
			 <%=days_count.to_i.to_s+" "+I18n.t('time.days') %>
		<% end %>
	</td>
  </tr>
<% end %>
<tr>
	<td colspan ="5" align="right"><b><%= t 'ptdos.total_day_attended' %></b></td>
	<td colspan=2 align=center><b><%=Ptdo.staff_total_days(@ptdos.map(&:id)) %></b></td>
<tr>
</table>
<div align=right>
	<a href="http://<%= request.host  %>:3003/staff_training/ptdos/training_report.pdf?locale=ms_MY&q[ptschedule_start_gteq]=<%=Date.today.beginning_of_year%>&q[ptschedule_start_lteq]=<%=Date.today%>"><%= t('ptdos.download') %></a>
</div>
<div align=left><font size=-2 color=blue><%=t('ptdos.note_hours_day')%></font></div>

<br />
</div>