<p>
  <b>Ptcourse:</b>
  <%=h @ptdo.ptcourse_id %>
</p>

<p>
  <b>Ptschedule:</b>
  <%=h @ptdo.ptschedule_id %>
</p>

<p>
  <b>Staff:</b>
  <%=h @ptdo.staff_id %>
</p>

<p>
  <b>Justification:</b>
  <%=h @ptdo.justification %>
</p>

<p>
  <b>Unit review:</b>
  <%=h @ptdo.unit_review %>
</p>

<p>
  <b>Unit approve:</b>
  <%=h @ptdo.unit_approve %>
</p>

<p>
  <b>Dept review:</b>
  <%=h @ptdo.dept_review %>
</p>

<p>
  <b>Dept approve:</b>
  <%=h @ptdo.dept_approve %>
</p>

<p>
  <b>Replacement:</b>
  <%=h @ptdo.replacement_id %>
</p>

<p>
  <b>Final approve:</b>
  <%=h @ptdo.final_approve %>
</p>

<p>
  <b>Trainee report:</b>
  <%=h @ptdo.trainee_report %>
</p>


<%= link_to 'Edit', edit_ptdo_path(@ptdo) %> |
<%= link_to 'Back', ptdos_path %>