

<div class="box">
	<div class="box-head">
		<h2 class="left">Summary of Training Attended - <%= current_user.staff.name %><%#= current_user.name%> </h2>
	</div>
</div>

<div class="indextable"><%#= current_user.name%><%#= current_user.id %>
<table>
  <tr>
	<th>Course Name</th>
    <th>Course Date</th>
	<th>Location</th>
    <th>Duration</th>
	<th>Duration Type</th>
 	<th>Total days</th>
<!-- 30 Apr 2012 
    <th colspan=3 class="ac">Control</th>
-->
  </tr>
<% sum_days = 0 %>
<%#= @ptdos.count %><!--records-->
<% @ptdos.each do |ptdo| %>
	<% @ptcourse = Ptcourse.find(ptdo.ptcourse_id) %>	
	<% @ptschedule = Ptschedule.find(ptdo.ptschedule_id)%>
  	<tr>
      	<td><%=h course_name = @ptcourse.name %></td>
    	<td><%=h start_date = @ptschedule.start %></td>
		<td><%=h location = @ptschedule.location %></td>
	  	<td><%=h duration_qty = @ptcourse.duration.to_f %></td>
    	<td><%=h duration_type = @ptcourse.duration_type %></td>
		<td>
			<% if duration_type == 1 %>
				<%=h total_days = duration_qty*1 %>
			<% elsif duration_type == 2 %>
				<%=h total_days = duration_qty*30 %> <!-- start date?-->
			<% else %>
				<%=h total_days = duration_qty*365 %>
			<% end %>
		</td>
<!-- 30 Apr 2012		
		<td width=10px><%#= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => ptdo %></td>
		<td width=10px><%#= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => ptdo %></td>
	  	<td width=10px><%#= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), ptdo, :confirm => 'Are you sure?', :method => :delete  %></td>
-->
	  
  </tr>
	<% sum_days+=total_days %>
	
<% end %>
<tr><td colspan ="5" align="right"><b>Total days of training attended</b></td><td><b><%= sum_days %> days</b></td>
		<!-- 30 Apr 2012 <td colspan="3">&nbsp;</td> --><tr>
</table>

<br />

<!--<#%= link_to 'New ptdo', new_ptdo_path %>-->
</div>