<div class="tform">
	<H2>Training Details</H2>
<table width=100% >

	<tr>
		<td class="leftcol"><label for="ptcourse_id">Course</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @ptdo.ptschedule.coursename %> </td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="ptcourse_id">Description</label></td>
		<td><b>:</b></td>
		<td> <%=h @ptdo.ptschedule.description %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="ptcourse_id">Location</label></td>
		<td><b>:</b></td>
		<td> <%=h @ptdo.ptschedule.location %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="ptschedule_id">Date</label></td>
		<td><b>:</b></td>
		<td><%=h @ptdo.ptschedule.start.blank? ? "-" : @ptdo.ptschedule.start.strftime('%e %B %Y') %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="staff_id">Staff Name</label></td>
		<td><b>:</b></td>
		<td><%=h @ptdo.staff_details %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="unit_approve">Approver Name</label></td>
		<td><b>:</b></td>
		<td> <%=h @ptdo.approver_1.blank? ? "-" : @ptdo.approver1_details %></td>
	</tr>
</table>


<H2>First Approver Details (<%=h @ptdo.approver_1.blank? ? "-" : @ptdo.approver1_details %>)</H2>
<table width=100%>
	<tr>
		<td class="leftcol"><label for="justification">Justification</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @ptdo.justification %></td>
	</tr>
		
	<tr>
		<td class="leftcol"><label for="unit_review">Review</label></td>
		<td><b>:</b></td>
		<td> <%=h @ptdo.unit_review %></td>
	</tr>
		
	<tr>
		<td class="leftcol"><label for="unit_approve">Approve?</label></td>
		<td><b>:</b></td>
		<td> <%=h @ptdo.apply_dept_status %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="unit_approve">Remark</label></td>
		<td><b>:</b></td>
		<td> <%=h @ptdo.remark_1 %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="unit_approve">2nd Approver</label></td>
		<td><b>:</b></td>
		<td> <%=h @ptdo.approver_2.blank? ? "-" : @ptdo.approver2.position_with_boss %></td>
	</tr>
	

</table>

<% if @ptdo.dept_approve == true %>
<H2>Second Approver Details (<%=h @ptdo.approver_2.blank? ? "-" : @ptdo.approver2_details %>)</H2>
<table>
		
    <tr>
		<td class="leftcol"><label for="dept_review">2nd Approver Review</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @ptdo.dept_review %></td>
	</tr>
		
	<tr>
		<td class="leftcol"><label for="dept_approve">Approved?</label></td>
		<td><b>:</b></td>
		<td><%=h @ptdo.apply_dept_status %></td>
	</tr>
		
	<tr>
		<td class="leftcol"><label for="replacement_id">Replacement Staff</label></td>
		<td><b>:</b></td>
		<td><%=h @ptdo.replacement_id.blank? ? "-" : @ptdo.replacement_details %></td>
	</tr>

</table>
<% end %>
<% if @ptdo.dept_approve == true %>
<H2>Course Report</H2>
<table>
	<tr>
		<td class="leftcol"><label for="course_report">Course Report</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @ptdo.trainee_report %></td>
	</tr>

</table>		
<% end %>


</div>
<BR>
<%= link_to 'Edit', edit_ptdo_path(@ptdo) %> |
<%= link_to 'Back', ptdos_path %>

