<div class="tform">
	<H2>Staff Training Details</H2>
<table width=100% >

	<tr>
		<td class="leftcol"><label for="ptcourse_id">Course : </label></td>
		<td> <%=h @ptdo.ptschedule.ptcourse.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="ptschedule_id">Date : </label></td>
		<td><%=h @ptdo.ptschedule_id %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="staff_id">Staff Name : </label></td>
		<td><%=h @ptdo.applicant_details %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="justification">Justification : </label></td>
		<td><%=h @ptdo.justification %></td>
	</tr>
		
	<tr>
		<td class="leftcol"><label for="unit_review">Unit Review : </label></td>
		<td> <%=h @ptdo.unit_review %></td>
	</tr>
		
	<tr>
		<td class="leftcol"><label for="unit_approve">Unit Approve : </label></td>
		<td> <%=h @ptdo.unit_approve %></td>
	</tr>
		
    <tr>
		<td class="leftcol"><label for="dept_review">Dept Review : </label></td>
		<td><%=h @ptdo.dept_review %></td>
	</tr>
		
	<tr>
		<td class="leftcol"><label for="dept_approve">Dept Approve : </label></td>
		<td><%=h @ptdo.dept_approve %></td>
	</tr>
		
	<tr>
		<td class="leftcol"><label for="replacement_id">Replacement Staff : </label></td>
		<td><%=h @ptdo.replacement_id %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="final_approve">Final Approve : </label></td>
		<td> <%=h @ptdo.final_approve %></td>
	</tr>
		
	<tr>
		<td class="leftcol"><label for="trainee_report">Trainee Report : </label></td>
		<td> <%=h @ptdo.trainee_report %></td>
	</tr>

</table>
</div>

<%= link_to 'Edit', edit_ptdo_path(@ptdo) %> |
<%= link_to 'Back', ptdos_path %>

