<!--<div style="padding-left:50px;padding-top:20px;padding-bottom:20px;border-top:solid 1px;border-bottom:solid 1px;border-left:solid 1px;border-right:solid 1px;">-->
<div>
	<H3>STUDENT SEARCH :</h3>
		
	<%# if !@studentsearch.name.blank? && @studentsearch.course_id.blank? %>	<!--semester given but course_id - blank-->
		<!--Search return no result. <br><b>Programme</b> is compulsory upon entry of <b>Semester</b>.-->
	<%# else %>
	<!--	
	<%# if @studentsearch.sstatus!='' %>
		Status : <%#= @studentsearch.sstatus %><br>
	<%# end %>	-->
	<span style="text-decoration:underline;">Filter By:</span><br>
	<% if @studentsearch.ssponsor!=''  %>
		Sponsorship : <%= @studentsearch.ssponsor%><br>
	<% end %>
	<% if !@studentsearch.mrtlstatuscd.blank?  %><!--integer : check using blank-->
		Martal Status : <%= @studentsearch.mrtlstatuscd %><br>
		<%=h (Student::MARITAL_STATUS.find_all{|disp, value| value == @studentsearch.mrtlstatuscd.to_s}).map {|disp, value| disp} %>
	<% end %>
	<% if !@studentsearch.course_id.blank? %><!--integer : check using blank-->
		Programme : 
		<%=Programme.find(@studentsearch.course_id).name%><br>
	<% end %>
	<% if @studentsearch.physical!=''  %>
		Physical : <%= @studentsearch.physical%><br>
	<% end %>
	<% if @studentsearch.bloodtype!=''  %>
		Blood Type : <%= @studentsearch.bloodtype%><br>
	<% end %>
	<% if !@studentsearch.intake.blank?   %>
		Intake : <%=  @studentsearch.intake.to_date.strftime("%b %Y") %><br>
	<% end %>
	<% if !@studentsearch.end_training.blank?  %>
		End of Training : <%= @studentsearch.end_training.to_date.strftime("%d-%m-%Y") %><br>
	<% end %>	
	<br>
	<b>Total of student : <%=@studentsearch.students.count%></b><br><br>
	<table border=1 cellspacing=0 cellpadding=3>
		<tr>
			<th>No</th>
			<th>Mykad No</th>
			<th>Matrix No</th>
			<th>Student Name</th>
			<th>Status</th>
			<th>Sponsorship</th>
			<th>Gender</th>
			<th>Race</th>
			<th>Marital Status</th>
			<th>Course</th>
			<th>End Training</th>
			<th>Intake</th>
			<th>Physical</th>
			<th>Blood Type</th>	
			<th>'Borang Maklumat Pelatih'</th>
		</tr>
		<% @studentsearch.students.each_with_index do |student, index| %>
		<tr>
			<td><%=index+1%></td>
			<td><%= student.icno %></td>
			<td><%= student.matrixno %></td>
			<td><%= student.name %></td>
			<td><%= student.sstatus %></td>
			<td><%=student.ssponsor%></td>
			<td><%#= student.gender %><%=h (Student::GENDER.find_all{|disp, value| value == student.gender.to_s}).map {|disp, value| disp} %></td>
			<td><%= student.race.capitalize %></td>
			<td><%#= student.mrtlstatuscd %><%=h (Student::MARITAL_STATUS.find_all{|disp, value| value == student.mrtlstatuscd.to_s}).map {|disp, value| disp} %></td>
			<td><%= student.course_id.blank? ? "" : Programme.find(student.course_id).programme_list %><%#=student.course_id%></td>
			<td><%= student.end_training.strftime("%d-%m-%Y") %></td>
			<td><%= student.intake.strftime("%b %Y") %></td>
			<td><%= student.physical.capitalize %></td>
			<td align="center"><%#= student.bloodtype %><%=h (Student::BLOOD_TYPE.find_all{|disp, value| value == student.bloodtype}).map {|disp, value| disp} %></td>
			<td align="center"><%= link_to "View", :controller=>'students', :action => 'formforstudent', :id => student.id %></td>
		</tr>	
		<% end %>
	</table>
	
	<%# end %>
</div>
