<%= error_messages_for :login %>
<%#form_for @login,  :url => edit_login_path(@login) do |f| -%>
<% form_for @login,  :url =>logins_path do |f| -%>
<%= hidden_field_tag :id, @login.id %>
<!-- Edit Login -->
<div class="tform">
	<H2><%= t 'login.system_login' %></H2>
  <table width=100% >
	<tr>
		<td class="leftcol"><label for="login"><%= t 'login.login' %>: </label></td>
		<td><%= f.text_field :login, :size => 25 %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="login"><%= t 'login.attach_login' %>: </label></td>
		<td>
		<% if @login.isstaff? == true %>
				<%= (f.collection_select :staff_id, Staff.find(:all, :order => :name, :conditions => ["icno in (?)", @login.icno]), :id, :mykad_with_staff_name, :include_blank => true, :default => 0, :prompt => (t 'select')) %>	
		<% else %>  <!-- , :conditions => ["id not in (?)", @login.assigned_staff]-->
				<%= 	(f.collection_select :student_id, Student.find(:all, :order => :name, :conditions => ["icno in (?)", @login.icno]), :id, :formatted_mykad_and_student_name, :include_blank => true, :default => 0, :prompt => (t 'select')) %>
		<% end %>
		</td>
	</tr>

	<tr>
		<td class="leftcol"><label for="email"><%= t 'student.semail' %>: </label></td>
		<td><%= f.text_field :email %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="password"><%= t 'login.password' %>: </label></td>
		<td><%= f.text_field :password, :size => 12 %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="password_confirmation"><%= t 'login.cpassword' %>: </label></td>
		<td><%= f.text_field :password_confirmation, :size => 12 %></td>
	</tr>
</table>


	<H2><%= t 'login.login_roles' %></H2>
	<P><strong><%= t 'login.select_role' %></strong></P>	
	<table width=100% border=0>
		<% Role.all.in_groups_of(5, false) do |row_roles| %>
		<tr>
			<% for role in row_roles %>
			<td><%= check_box_tag "login[role_ids][]", role.id, @login.roles.include?(role) %> <%#= role.name %><%=h t('login.'+role.authname) %>
			</td>
		  <% end %>
		</tr>
		<% end %>

	</table>

<p><%= submit_tag (t 'update') %></p>
<% end -%>

<%= link_to (t 'show'),  :action => 'show', :id => @login.id %>
<%#= link_to (t 'show'), login_path(@login) %>|
<%= link_to (t 'back'), logins_path %>

</div>
