<div class="tform">
	<H2><%=t('login.new')%></H2>
<% @login.password = @login.password_confirmation = nil %>

<%= error_messages_for :login %>
<% form_for :login, :url => logins_path do |f| -%>

<table>
	<tr>
		<td class="leftcol"><%= f.label (t 'login.login') %></td>
		<td><%= f.text_field :login %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="email"><%= t 'student.semail' %>: </label></td>
		<td><%= f.text_field :email %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= f.label (t 'login.icno') %></td>
		<td><%= f.text_field :icno, :placeholder => 'xxxxxxxxxxxx', :size => '12' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="password"><%= t 'login.password' %>: </label></td>
		<td><%= f.text_field :password, :size => 12 %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="password_confirmation"><%= t 'login.cpassword' %>: </label></td>
		<td><%= f.text_field :password_confirmation, :size => 12 %></td>
	</tr>
	<tr>
		<td class="leftcol"><%=t('login.account_type')%></td>
		<td><%= f.radio_button :isstaff,'true' %><%= t 'menu.staff' %> &nbsp<%= f.radio_button :isstaff,'false' %><%= t 'menu.students' %></td>
	</tr>
</table>
<p><%= submit_tag (t 'login.signup') %></p>
<% end -%>
