<div class="tform">
  <table width=100% >
	
	
<!--Login Info-->
	<tr>
		<th colspan = 2>Login Details</th>
	</tr>	
	<tr>
		<td class="leftcol"><label for="login">Login: </label></td>
		<td><%=h @login.login %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="email">Email: </label></td>
		<td><%=h @login.email %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="person">Person: </label></td>
		<!--<td><#%=h @login.isstaff? ? @login.staff.mykad_with_staff_name : @login.student.formatted_mykad_and_student_name %>-->
	  <td><%=h @login.login_nama %></td>
	</tr>
	
	
	
	
	

	
	<td><% for role in @login.roles %></td>
	

	<tr>
		<td class="leftcol"><label for="name"><b>Role Name:</b></label></td>
		<td> <%=h role.name %></td>
	</tr>
	
		<% end %>


</table>		
</div>


<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', users_path %>
