<% form_for(@staff_attendance) do |f| %>
  <%= f.error_messages %>

	<div class="tform">
			<H2>Approval</H2>
			<%=render :partial => 'show' %> 
			
			<H2>Reject or Approve</H2>
			<table  width=100%>
				<tr>
					<td class="leftcolwide"><label for="is_approved"><b>Approve or Reject
			    <td><%= f.radio_button :is_approved,'true' , :id => 'approval_true' , :class => 'radio_approve' %><label>&nbsp;Approve</label> &nbsp;
							<%= f.radio_button :is_approved,'false', :id => 'approval_false', :class => 'radio_approve' %><label>&nbsp;Reject </label> &nbsp; &nbsp; 
							<SPAN class="approve_time" style="display: none;"><label> On :  <%= f.date_select :approved_on %></label></SPAN></td>
				</tr>
			</table>
			
	</div>
	<BR/>

<script type="text/javascript">
	$j(document).ready(function(){ 
	    $j(".radio_approve").change(function() {  
	    	$j(".approve_time").show();  
			});
	});
</script>

	  <p>
	    <%= f.submit 'Update' %>
	  </p>

<% end %>
	<%= link_to 'Show', @staff_attendance %> |
	<%= link_to 'Back', '/attendance/manage/' %>