<% form_for(@staff_attendance) do |f| %>
  <%= f.error_messages %>

	<div class="tform">
			<H2>Reasons for Late</H2>
			
			<table width=100% >
				<tr>
					<td class="leftcol"><%= t 'staff.name' %></td>
					<td><%=h @staff_attendance.attendee_details %></td>
				</tr>
				
				<tr>
					<td class="leftcol"><%= t 'attendance.attdate' %></td>
					<td><%=h @staff_attendance.logged_at.in_time_zone('UTC').strftime('%d-%m-%Y') %>&nbsp; 
						 	<%=h @staff_attendance.logged_at.in_time_zone('UTC').strftime('%H:%M') %></td>
				</tr>
				
				<tr>
					<td class="leftcol"><label for="reason"><%= t 'attendance.reason' %><font color="red"> * </font></td>
					<td><%= f.text_area :reason, :size => "50x3" %></td>
			  </tr>
			</table>
			
		  <% if User.current_user.staff.position.is_root? == false %>
			<%= f.hidden_field :approved_by, :value => User.current_user.staff.position.parent.staff_id %>
			<% else %>
			<% end -%>
			
	</div>
	<BR/>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @staff_attendance %> |
<%= link_to 'Back', '/attendance/manage/' %>