<div class="box">
	<div class="box-head">
		<h2 class="left">Staff Attendance - Full List</h2>
		<div class="right">
		</div>
	</div>
</div>
  
<div class="indextable">
	<div class="pagination">
		<%= will_paginate @staff_attendances %>  
	</div>

<table>
  <tr>
		<th>Flag</th>
    <th>Staff Name</th>
    <th>Logged at</th>
    <th>Log type</th>
    <th>Action</th>
		<th>Ignore</th>
		<th>Test</th>
    <th colspan=3>Control</th>
  </tr>
<% form_tag actionable_staff_attendances_path, :method => :put do %>

	<% @staff_attendance_days.keys.sort.reverse.each do |date| %>
		<tr><td colspan=3><BR><b>Date  : <%= date unless date.blank? %></b></td>
			<td></td><td></td><td></td><td></td><td colspan=3></td></tr>
		

			<% for staff_attendance in @staff_attendance_days[date].sort_by{|e| e[:thumb_id]} %>
					<% if staff_attendance.attended.blank? %> 
					<% else %>
					  <tr>
							<td><%=h staff_attendance.r_u_late == "flag" ? image_tag("flag_red.png") : "" %></td>
					    <td><%=h staff_attendance.attendee_details %>(<%=h staff_attendance.thumb_id %>)</td>
					    <td><%=h staff_attendance.logged_at.in_time_zone('UTC').strftime('%H:%M') %></td>
					    <td><%=h staff_attendance.log_type = "I" ? "IN" : "OUT" %></td>
					    <td style="text-align:center;">
											<% if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag"  %> 
												<%= check_box_tag "triggers[]", staff_attendance.id %>
											<% elsif staff_attendance.trigger == true %>   
												<%= image_tag("user_go.png") %> 
											<% end %></td>
							<td	style="text-align:center;">
											<% if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag" %> 
												<%= check_box_tag "ignores[]", staff_attendance.id %>
											<% elsif staff_attendance.trigger == false %>   
												<%= image_tag("tick.png") %>  
											<% end %></td>
							<td><%=h staff_attendance.timmy2 %><%= staff_attendance.trigger %> </td>
					    
					    <td width=10px><!--<%= link_to 'Show', staff_attendance %>--></td>
					    <td width=10px><!--<%= link_to 'Edit', edit_staff_attendance_path(staff_attendance) %>--></td>
					    <td width=10px><%= link_to image_tag("delete.png", 		:border => 0, :title => 'Delete'), staff_attendance, :confirm => 'Are you sure?', :method => :delete %></td>
					    
					  </tr>
						<% end %>
			<% end %>
	<!--	<#% end %>-->
	<% end %>
	<tr><td colspan=4></td>
		<td  colspan=2><%= submit_tag "save action"%></td><td></td><td colspan=3 ></td></tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New staff_attendance', new_staff_attendance_path %>