<div class="box">
	<div class="box-head">
		<h2 class="left">Staff Attendance - Full List</h2>
		<div class="right"><%=@dadidu%>$$$<%=@dadidu2%><!--***<%#=@abababa.count if @abababa%>~~<%#=@selected_date%>@@<%#=@selected_rec_by_date.count%>-<%#=params[:id]%>@@<%#=@ooo.count %>-->
		</div>
	</div>
</div>
<!--search by date-->
<div class="right">
	<% form_tag '', :method => 'get' do %>
	From: <%= date_select :search_from, params[:search_from], :include_blank => :true %>
	&nbsp; &nbsp;To: <%= date_select :search_to, params[:search_to], :include_blank => :true %>
	<%= submit_tag "Search by date", :name => :submit_button1 %>
	<% end %>
</div><br><br>
<!--search by date-->  
<div class="indextable">
	<!---->
	<% if params[:submit_button1] && params[:submit_button1] == "Search by date" %>
	<% else %>
	<div class="pagination">
		<%##= will_paginate @staff_attendance_days %>
		<%##= will_paginate @ooo %>  
		<%#= will_paginate @ooo_key2 %> 

		<% @ooo.keys.sort.reverse.each_with_index do |date,index| %>
			<% if date > @selected_date %>
				<% @previous_date = date %>	<!--loop until...retrieve last item yg besar drpd selected date-->
			<% end %>
			<% if @selected_date == date %>
				<% @current_index=index%>
			<% end %>
		<% end %><!--END for - @ooo.keys.sort.reverse.each_with_index do |date,index| -->
		
		<% counter=0%>	<% counterabc=1%><!--check selected date dulu <%#=@selected_date %>==--><%#=@current_index%><!--<br>-->
		<% @ooo.keys.sort.reverse.each_with_index do |date,index| %>
			<% if index == 0 %>
				<% if @current_index == index %>
					<span style="color:grey;">
						Previous<<
					</span>
				<% else %>
						<%= link_to "Previous<<", :action => 'index', :id => @previous_date %>
				<% end %>
				<% if index != @current_index && @current_index > 1 %>
					<!--first--><%= link_to "#{index+1}", :action => 'index', :id => date %>&nbsp;...&nbsp;
				<% end %>
			<% end %>

			<% if @selected_date == date %>
				<span class="current">
					<%=index+1%>
				</span>
			<% else %><!--display all links-->
				
				<% if date > @selected_date %>
					<% if index >= @current_index-1 %>
					<%# if index >= 10 %><!--if 11-20--> <%# if index >= 0 %><!--if 1-10-->
						<!--abc--><%= link_to "#{index+1}", :action => 'index', :id => date %>
					<% end%>
				<% elsif date < @selected_date %>
					<% if index >= @current_index-1 && index < (@current_index-1)+10 %>
					<%# if index >= 10 && index < 20 %><!--if 11-20--> <%# if index >= 0 && index < 10 %><!--if 1-10-->	
						<!--xyz--><%= link_to "#{index+1}", :action => 'index', :id => date %>
					<% end 	%>
				<% end %>
				
				<!--backup-->
				<%#= link_to "#{index+1}", :action => 'index', :id => date %>
				<!--backup-->
			<% end %>
			<% if date < @selected_date && counter==0 %>
				<% @next_date = date %>	
				<% counter+=1%>
			<% end %>

			<% if index == @ooo.count-1 %>
				<% if index != @current_index && @current_index < 66%>
					<!--last-->&nbsp;...&nbsp;<%= link_to "#{index+1}", :action => 'index', :id => date %>
				<% end %>
				<%#= link_to "Next>>", :action => 'index', :id => @next_date %>		
				<% if @current_index == index %>
					<span style="color:grey;">
						Next>>
					</span>
				<% else %>
					<%= link_to "Next>>", :action => 'index', :id => @next_date %>		
				<% end %>
			<% end %>
		
		<% end %>
		
	</div>
	<% end %>
	<!---->
	
	
<table>
  <tr>
	<th>Flag</th>
    <th>Staff Name</th><!--
    <th>Logged at</th>
    <th>Log type</th>-->
	<th>Logged-In</th>
	<th>Logged-Out</th>
	<th style="text-align:center;">Waktu Anjal</th>
	<th style="text-align:center; width:80px;">Late</th>
	<th style="text-align:center; width:80px;">Early</th>
    <th>Action</th>
	<th>Ignore</th>
	<!--
	<th>Test</th>-->
    <th  style="text-align:center;" colspan=3>Control</th>
<!--for testing-->


<% counter2 = 0 %>
<% form_tag actionable_staff_attendances_path, :method => :put do %>
<!----><!----><!----><!----><!----><!----><!---->
<% if params[:submit_button1] == "Search by date" && @dadidu!='' && @dadidu2!=''%>

<% @ooo.keys.sort.each do |date|%><%# @ooo.keys.sort.reverse.each do |date|%>
	<tr><td colspan=13 style="background-color:yellow;"><BR><b>Date  : <%= date unless date.blank? %></b></td></tr>
	<% @selected_rec_by_date.each_with_index do |record,counting| %><!----><%#  0.upto(1) do |count| %>
	

	<!----><!--1st date : ganjil, 2nd date : genab-->
	
	<!---->		<!---->		<!---->	<!--
			<%# if counter2 == 1 %>	
			<%# elsif counter2 == 0 %><%# elsif counter2 == 1 %>
				<%# if counting == 0 %>
					<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%#=@dept_names[counting]%></td></tr>
				<%# end %>
				<%# if counting == 1 %>
						<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%#=@dept_names[counting]%></td></tr>
				<%# end %>
				<%# if counting == 3 %>
						<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%#=@dept_names[counting-1]%></td></tr>
				<%# end %>
				<%# if counting == 5 %>
					<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%#=@dept_names[counting-2]%></td></tr>
				<%# end %>
				<%# if counting == 7 %>
					<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%#=@dept_names[counting-3]%></td></tr>
				<%# end %>
				<%# if counting == 9 %>
					<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%#=@dept_names[counting-4]%></td></tr>
				<%# end %>
				<%# if counting == 11 %>
					<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%#=@dept_names[counting-5]%></td></tr>
				<%# end %>
				<%# if counting == 13 %>
					<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%#=@dept_names[counting-6]%></td></tr>
				<%# end %>
				<%# if counting == 15 %>
					<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%#=@dept_names[counting-7]%></td></tr>
				<%# end %>
				<%# if counting == 17 %>
					<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%#=@dept_names[counting-8]%></td></tr>
				<%# end %>
				<%# if counting == 19 %>
					<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%#=@dept_names[counting-9]%></td></tr>
				<%# end %>
				<%# if counting == 21 %>
					<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%#=@dept_names[counting-10]%></td></tr>
				<%# end %>
				<%# if counting == 23 %>
					<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%#=@dept_names[counting-11]%></td></tr>
				<%# end %>
				<%# if counting == 25 %>
					<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%#=@dept_names[counting-12]%></td></tr>
				<%# end %>
				<%# if counting == 27 %>
					<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%#=@dept_names[counting-9]%></td></tr>
				<%# end %>
				<%# if counting == 29 %>
					<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%#=@dept_names[counting-9]%></td></tr>
				<%# end %>		
				<%# if counting == 31 %>
							<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%#=@dept_names[counting-10]%></td></tr>
						<%# end %>
			<%# end %>-->

	

			<% record.each do |staff_attendance|%><%#= staff_attendance.logged_at.strftime("%Y-%m-%d").to_s%>
			<%#-----------------------------------------------%><%# if staff_attendance.logged_at.strftime("%Y-%m-%d").to_s == @selected_date %><% if staff_attendance.logged_at.strftime("%Y-%m-%d").to_s == date %>
				
				<%#**************************************************************************************%>
				<tr>
					<% if staff_attendance.attended.blank? %> 
					<%# else %>
						<!--<td colspan=13><%#=h staff_attendance.attendee_details %>
						</td>-->
					<%# end %>
					<!----><!----><!----><!----><!--LATEST-LATEST-LATEST-LATEST-LATEST-->
						<% else %>
							<td><b><%#=staff_attendance.log_type%></b>
								<%=h staff_attendance.r_u_late == "flag" ? image_tag("flag_red.png") : "" %>
								<%=h staff_attendance.r_u_early == "flag" ? image_tag("flag_red.png") : "" %>
							</td>
						    <td><%=h staff_attendance.attendee_details %>(<%=h staff_attendance.thumb_id %>)==<%=staff_attendance.id%></td>
						    <!--<td><%#=h staff_attendance.logged_at.in_time_zone('UTC').strftime('%H:%M') %></td>
						    <td><%#=h staff_attendance.log_type == "I" ? "IN" : "OUT" %></td>-->
							<td><%=h staff_attendance.log_type == "I" ? staff_attendance.logged_at.in_time_zone('UTC').strftime('%H:%M') : "" %></td>
							<td>
								<% if staff_attendance.log_type == "O" || staff_attendance.log_type == "o"%>
									<%=h staff_attendance.logged_at.in_time_zone('UTC').strftime('%H:%M')%>
								<% end %>
							</td>
							<td align="center">
								<%=h Staff.find(:first, :conditions => ['thumb_id=?',staff_attendance.thumb_id]).shift_for_staff %>
			<!--CHECKING PART-15Mei2013-->
			<%#=========================================================================================%>
			<!--
			<%# @shift = Staff.find(:first, :conditions => ['thumb_id=?',staff_attendance.thumb_id]).staff_shift_id %>
			<%#=h @shift_start = StaffShift.find(@shift).start_at.strftime('%H:%M') if @shift != nil %>
			<%# @shift_start = (StaffShift.find(@shift).start_at.strftime('%H').to_i * 100) if @shift != nil  %>
			<%#= @shift_start += (StaffShift.find(@shift).start_at.strftime('%M').to_i) if @shift != nil  %>
			<%# @shift_end = (StaffShift.find(@shift).end_at.strftime('%H').to_i * 100) if @shift != nil  %>
			<%#= @shift_end += (StaffShift.find(@shift).end_at.strftime('%M').to_i) if @shift != nil  %>

			<%# minit=99%>
			<br>YAYA<%#= (staff_attendance.logged_at.hour - 8).to_s+(staff_attendance.logged_at.min).to_s %>
			<br>YOYO<%#= ((StaffShift.find(@shift).end_at.hour - 8).to_s+ (StaffShift.find(@shift).end_at.min).to_s if @shift != nil) %>
			<br>YOYI<%#= (StaffShift.find(@shift).end_at.strftime('%H').to_i) - 8 if @shift != nil %>
			<br>minit <%#= minit = (StaffShift.find(@shift).end_at.min).to_s if @shift != nil %>

			<%# if minit = 0 %>
				<br>jam<%#=jam = ( ( (StaffShift.find(@shift).end_at.strftime('%H').to_i) - 8)-1 ) if @shift != nil %>
				min<%#=60 %>
				<br>jam min <%# jam.to_s + minit.to_s %>
			<%# end %>-->
			<%#=========================================================================================%>
			<!--CHECKING PART-->

							</td>
							<td style="text-align:center;">
								<% if staff_attendance.log_type == "I" %>
									<%= staff_attendance.late_early %>
								<% else %>
									-
								<% end %>
							</td>
							<td style="text-align:center;">
								<% if staff_attendance.log_type == "O" %>
									<%= staff_attendance.late_early %>
								<% else %>
									-
								<% end %>
							</td>
						    <td style="text-align:center;">
												<% if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag"  %> 
													<%= check_box_tag "triggers[]", staff_attendance.id %>
												<% elsif staff_attendance.trigger == nil && staff_attendance.r_u_early == "flag"  %> 
													<%= check_box_tag "triggers[]", staff_attendance.id %>
												<% elsif staff_attendance.trigger == true %>   
													<%= image_tag("user_go.png") %> 
												<% end %></td>
							<td	style="text-align:center;">
												<% if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag" %> 
													<%= check_box_tag "ignores[]", staff_attendance.id %>
												<% elsif staff_attendance.trigger == nil && staff_attendance.r_u_early == "flag" %> 
													<%= check_box_tag "ignores[]", staff_attendance.id %>
												<% elsif staff_attendance.trigger == false %>   
													<%= image_tag("tick.png") %>  
												<% end %><%#=staff_attendance.logged_at.strftime("%d%b%y")%></td>
				<!--	<td><%#=h staff_attendance.timmy2 %><%#= staff_attendance.trigger %> </td>-->
						    <td width=10px><!--<%= link_to 'Show', staff_attendance %>--></td>
						    <td width=10px><!--<%= link_to 'Edit', edit_staff_attendance_path(staff_attendance) %>--></td>
						    <td width=10px><%= link_to image_tag("delete.png", 		:border => 0, :title => 'Delete'), staff_attendance, :confirm => 'Are you sure?', :method => :delete %></td>	
						<% end %>
					<!----><!----><!----><!----><!--LATEST-LATEST-LATEST-LATEST-LATEST-->
				</tr>
				<%#**************************************************************************************%>
				
				<% end %>
		
			<% end %>
			
			<!---->
	
	<% end %>
	<% counter2+=1%>
<% end %>


<%# end %><% else %>
<!----><!----><!----><!----><!----><!----><!---->
		<%# date = "2012-10-16" %><%# date = "2012-10-15"%>
	<%# @staff_attendance_days.keys.sort.reverse.each do |date|%>
	<%# @ooo.keys.sort.reverse.each do |date|%>
<!--		<tr><td colspan=3><BR><b>Date  : <%#= date unless date.blank? %></b></td>
			<td></td><td></td><td></td><td></td><td colspan=3></td></tr>-->
		<!--start-PART 1-IT DEPT--><!--
		<%# if @test_itdept_group[date] %>
			<tr><td colspan=3><BR><b>Department/Unit  : Teknologi Maklumat</b></td>
				<td></td><td></td><td></td><td></td><td colspan=3></td></tr>
			<%# for staff_attendance in @test_itdept_group[date].sort_by{|e| e[:thumb_id]} %>--><!--ordered hash--><!--
				<tr>
					<%# if staff_attendance.attended.blank? %> 
					<%# else %>
							<td><%#=h staff_attendance.r_u_late == "flag" ? image_tag("flag_red.png") : "" %></td>
					    <td><%#=h staff_attendance.attendee_details %>(<%#=h staff_attendance.thumb_id %>)</td>
					    <td><%#=h staff_attendance.logged_at.in_time_zone('UTC').strftime('%H:%M') %></td>
					    <td><%#=h staff_attendance.log_type = "I" ? "IN" : "OUT" %></td>
					    <td style="text-align:center;">
											<%# if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag"  %> 
												<%#= check_box_tag "triggers[]", staff_attendance.id %>
											<%# elsif staff_attendance.trigger == true %>   
												<%#= image_tag("user_go.png") %> 
											<%# end %></td>
							<td	style="text-align:center;">
											<%# if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag" %> 
												<%#= check_box_tag "ignores[]", staff_attendance.id %>
											<%# elsif staff_attendance.trigger == false %>   
												<%#= image_tag("tick.png") %>  
											<%# end %></td>
							<td><%#=h staff_attendance.timmy2 %><%#= staff_attendance.trigger %> </td>
					    
					    <td width=10px>--><!--<%#= link_to 'Show', staff_attendance %>--><!--</td>
					    <td width=10px>--><!--<%#= link_to 'Edit', edit_staff_attendance_path(staff_attendance) %>--><!--</td>
					    <td width=10px><%#= link_to image_tag("delete.png", 		:border => 0, :title => 'Delete'), staff_attendance, :confirm => 'Are you sure?', :method => :delete %></td>	
					<%# end %>
				<tr>
			<%# end %>
		<%# end %>-->
		<!--END-PART 1-IT DEPT-->
		<!--START-PART 2-PERHOTELAN--><!--
		<%# if @test_hoteldept_group[date] %>
			<tr><td colspan=3><BR><b>Department/Unit  : Perhotelan</b></td>
				<td></td><td></td><td></td><td></td><td colspan=3></td></tr>
			<%# for staff_attendance in @test_hoteldept_group[date].sort_by{|e| e[:thumb_id]} %>
				<tr>
					<%# if staff_attendance.attended.blank? %> 
					<%# else %>
						<td><%#=h staff_attendance.r_u_late == "flag" ? image_tag("flag_red.png") : "" %></td>
					    <td><%#=h staff_attendance.attendee_details %>(<%#=h staff_attendance.thumb_id %>)</td>
					    <td><%#=h staff_attendance.logged_at.in_time_zone('UTC').strftime('%H:%M') %></td>
					    <td><%#=h staff_attendance.log_type = "I" ? "IN" : "OUT" %></td>
					    <td style="text-align:center;">
											<%# if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag"  %> 
												<%#= check_box_tag "triggers[]", staff_attendance.id %>
											<%# elsif staff_attendance.trigger == true %>   
												<%#= image_tag("user_go.png") %> 
											<%# end %></td>
						<td	style="text-align:center;">
											<%# if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag" %> 
												<%#= check_box_tag "ignores[]", staff_attendance.id %>
											<%# elsif staff_attendance.trigger == false %>   
												<%#= image_tag("tick.png") %>  
											<%# end %></td>
						<td><%#=h staff_attendance.timmy2 %><%#= staff_attendance.trigger %> </td>
					    <td width=10px>--><!--<%#= link_to 'Show', staff_attendance %>--><!--</td>
					    <td width=10px>--><!--<%#= link_to 'Edit', edit_staff_attendance_path(staff_attendance) %>--><!--</td>
					    <td width=10px><%#= link_to image_tag("delete.png", 		:border => 0, :title => 'Delete'), staff_attendance, :confirm => 'Are you sure?', :method => :delete %></td>	
					<%# end %>
				<tr>
			<%# end %>
		<%# end %>-->
		<!--END-PART 2-PERHOTELAN-->
		
		<!--TESTING--><%#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%>
		<tr><td colspan=12 style="background-color:red;"></td></tr>
		
		<tr><td colspan=3><BR><b>Date  : <%= @selected_date %></b></td>
			<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td colspan=3></td></tr>
		
		<% @selected_rec_by_date.each_with_index do |record,counting| %><!----><%#  0.upto(1) do |count| %>
				<tr><td colspan=12 style="background-color:#EFF1F1; font-weight:bold;"><BR>Department/Unit  : <%=@dept_names[counting]%></td></tr>
			<% record.each do |staff_attendance|%><%#= staff_attendance.logged_at.strftime("%Y-%m-%d").to_s%>
			<%#-----------------------------------------------%><%# if staff_attendance.logged_at.strftime("%Y-%m-%d").to_s == @selected_date %>
				<tr>
					<% if staff_attendance.attended.blank? %> 
					<% else %>
						<td><b><%#=staff_attendance.log_type%></b>
							<%=h staff_attendance.r_u_late == "flag" ? image_tag("flag_red.png") : "" %>
							<%=h staff_attendance.r_u_early == "flag" ? image_tag("flag_red.png") : "" %>
						</td>
					    <td><%=h staff_attendance.attendee_details %>(<%=h staff_attendance.thumb_id %>)==<%=staff_attendance.id%></td>
					    <!--<td><%#=h staff_attendance.logged_at.in_time_zone('UTC').strftime('%H:%M') %></td>
					    <td><%#=h staff_attendance.log_type == "I" ? "IN" : "OUT" %></td>-->
						<td><%=h staff_attendance.log_type == "I" ? staff_attendance.logged_at.in_time_zone('UTC').strftime('%H:%M') : "" %></td>
						<td>
							<% if staff_attendance.log_type == "O" || staff_attendance.log_type == "o"%>
								<%=h staff_attendance.logged_at.in_time_zone('UTC').strftime('%H:%M')%>
							<% end %>
						</td>
						<td align="center">
							<%=h Staff.find(:first, :conditions => ['thumb_id=?',staff_attendance.thumb_id]).shift_for_staff %>
		<!--CHECKING PART-15Mei2013-->
		<%#=========================================================================================%>
		<!--
		<%# @shift = Staff.find(:first, :conditions => ['thumb_id=?',staff_attendance.thumb_id]).staff_shift_id %>
		<%#=h @shift_start = StaffShift.find(@shift).start_at.strftime('%H:%M') if @shift != nil %>
		<%# @shift_start = (StaffShift.find(@shift).start_at.strftime('%H').to_i * 100) if @shift != nil  %>
		<%#= @shift_start += (StaffShift.find(@shift).start_at.strftime('%M').to_i) if @shift != nil  %>
		<%# @shift_end = (StaffShift.find(@shift).end_at.strftime('%H').to_i * 100) if @shift != nil  %>
		<%#= @shift_end += (StaffShift.find(@shift).end_at.strftime('%M').to_i) if @shift != nil  %>
		
		<%# minit=99%>
		<br>YAYA<%#= (staff_attendance.logged_at.hour - 8).to_s+(staff_attendance.logged_at.min).to_s %>
		<br>YOYO<%#= ((StaffShift.find(@shift).end_at.hour - 8).to_s+ (StaffShift.find(@shift).end_at.min).to_s if @shift != nil) %>
		<br>YOYI<%#= (StaffShift.find(@shift).end_at.strftime('%H').to_i) - 8 if @shift != nil %>
		<br>minit <%#= minit = (StaffShift.find(@shift).end_at.min).to_s if @shift != nil %>
		
		<%# if minit = 0 %>
			<br>jam<%#=jam = ( ( (StaffShift.find(@shift).end_at.strftime('%H').to_i) - 8)-1 ) if @shift != nil %>
			min<%#=60 %>
			<br>jam min <%# jam.to_s + minit.to_s %>
		<%# end %>-->
		<%#=========================================================================================%>
		<!--CHECKING PART-->
							
						</td>
						<td style="text-align:center;">
							<% if staff_attendance.log_type == "I" %>
								<%= staff_attendance.late_early %>
							<% else %>
								-
							<% end %>
						</td>
						<td style="text-align:center;">
							<% if staff_attendance.log_type == "O" %>
								<%= staff_attendance.late_early %>
							<% else %>
								-
							<% end %>
						</td>
					    <td style="text-align:center;">
											<% if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag"  %> 
												<%= check_box_tag "triggers[]", staff_attendance.id %>
											<% elsif staff_attendance.trigger == nil && staff_attendance.r_u_early == "flag"  %> 
												<%= check_box_tag "triggers[]", staff_attendance.id %>
											<% elsif staff_attendance.trigger == true %>   
												<%= image_tag("user_go.png") %> 
											<% end %></td>
						<td	style="text-align:center;">
											<% if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag" %> 
												<%= check_box_tag "ignores[]", staff_attendance.id %>
											<% elsif staff_attendance.trigger == nil && staff_attendance.r_u_early == "flag" %> 
												<%= check_box_tag "ignores[]", staff_attendance.id %>
											<% elsif staff_attendance.trigger == false %>   
												<%= image_tag("tick.png") %>  
											<% end %><%#=staff_attendance.logged_at.strftime("%d%b%y")%></td>
			<!--	<td><%#=h staff_attendance.timmy2 %><%#= staff_attendance.trigger %> </td>-->
					    <td width=10px><!--<%= link_to 'Show', staff_attendance %>--></td>
					    <td width=10px><!--<%= link_to 'Edit', edit_staff_attendance_path(staff_attendance) %>--></td>
					    <td width=10px><%= link_to image_tag("delete.png", 		:border => 0, :title => 'Delete'), staff_attendance, :confirm => 'Are you sure?', :method => :delete %></td>	
					<% end %>
				<tr><%# end %><!--end for  0.upto(1) do |count|-->
			<%#-----------------------------------------------%>
			<% end %><!----><%# end %>
		<% end %>
		
		<tr><td colspan=10 style="background-color:red;"></td></tr>


<% end %><!--@@@@@@@@@@@@@@@@@@--><!----><!----><!----><!----><!----><!----><!----><!---->

		<!--TESTING--><%#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%>
		
		<!--START-ALL DEPT-->	
				<%# date = "2012-10-15"%>
				<%# count1=0%>
				<%# for testalldeptgroup in @testalldeptgroup %>
				<%# for testalldeptgroup in @testalldepartmenttgroup %>
				<!---->
					<%# testalldeptgroup.each do |d,k| %>
						<%# if d == date %>
							<!----><!--
							<tr><td colspan=3><BR><b>Department/Unit  : <%#=@dept_names[count1]%>
								</b>
								</td>
							<td></td><td></td><td></td><td></td><td colspan=3><%#=@staff_attendances.count%></td></tr>-->
							<!---->

							<%# k.each do |staff_attendance|%>

								<%#-----------------------------------------------%><!--
									<tr>
										<%# if staff_attendance.attended.blank? %> 
										<%# else %>
											<td><%#=h staff_attendance.r_u_late == "flag" ? image_tag("flag_red.png") : "" %></td>
										    <td><%#=h staff_attendance.attendee_details %>(<%#=h staff_attendance.thumb_id %>)</td>
										    <td><%#=h staff_attendance.logged_at.in_time_zone('UTC').strftime('%H:%M') %></td>
										    <td><%#=h staff_attendance.log_type = "I" ? "IN" : "OUT" %></td>
										    <td style="text-align:center;">
																<%# if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag"  %> 
																	<%#= check_box_tag "triggers[]", staff_attendance.id %>
																<%# elsif staff_attendance.trigger == true %>   
																	<%#= image_tag("user_go.png") %> 
																<%# end %></td>
											<td	style="text-align:center;">
																<%# if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag" %> 
																	<%#= check_box_tag "ignores[]", staff_attendance.id %>
																<%# elsif staff_attendance.trigger == false %>   
																	<%#= image_tag("tick.png") %>  
																<%# end %></td>
											<td><%#=h staff_attendance.timmy2 %><%#= staff_attendance.trigger %> </td>
										    <td width=10px>--><!--<%#= link_to 'Show', staff_attendance %>--><!--</td>
										    <td width=10px>--><!--<%#= link_to 'Edit', edit_staff_attendance_path(staff_attendance) %>--><!--</td>
										    <td width=10px><%#= link_to image_tag("delete.png", 		:border => 0, :title => 'Delete'), staff_attendance, :confirm => 'Are you sure?', :method => :delete %></td>-->	
										<%# end %>
									<!--<tr>-->
								<%#-----------------------------------------------%>
							<%# end %><!--END FOR k.each-->
						<%# end %><!--end for( if d == date )-->
			
					<%# end %><%# count1+=1%><!--testalldeptgroup.each -->
				<%# end %><!--end for : for testalldeptgroup in @testalldepartmenttgroup/for testalldeptgroup in @testalldeptgroup-->
				<!---->
			<!--END-ALL DEPT-->
		
		<!---->
	<%# end %><!--end for : @staff_attendance_days.keys.sort.reverse.each do |date|-->

<!--
<tr><td colspan=8 style="background-color:yellow;">-->
	<%#no=0%>
	<%# for test_department in @test_department%>
		<%#=no+=1%><!--qty for each dept <%#= test_department.count%>BB<%#= @testalldepartmenttgroup.count%><br>
	<%# end %>--><!--
</tr>	
<tr><td colspan=8 style="background-color:green;">&nbsp;</tr>	-->
	<!--
	<%# @test_itdept_group.keys.sort.reverse.each do |date| %>
	<%# @test_hoteldept_group.keys.sort.reverse.each do |date| %>
		<tr><td colspan=3><BR><b>Date  : <%#= date unless date.blank? %></b></td>
			<td></td><td></td><td></td><td></td><td colspan=3></td></tr>	
			<%# for staff_attendance in @test_itdept_group[date].sort_by{|e| e[:thumb_id]} %>
			<%# for staff_attendance in @test_hoteldept_group[date].sort_by{|e| e[:thumb_id]} %>
			
				<tr>
					<%# if staff_attendance.attended.blank? %> 
					<%# else %>
						<td><%#=h staff_attendance.r_u_late == "flag" ? image_tag("flag_red.png") : "" %></td>
					    <td><%#=h staff_attendance.attendee_details %>(<%#=h staff_attendance.thumb_id %>)</td>
					    <td><%#=h staff_attendance.logged_at.in_time_zone('UTC').strftime('%H:%M') %></td>
					    <td><%#=h staff_attendance.log_type = "I" ? "IN" : "OUT" %></td>
					    <td style="text-align:center;">
											<%# if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag"  %> 
												<%#= check_box_tag "triggers[]", staff_attendance.id %>
											<%# elsif staff_attendance.trigger == true %>   
												<%#= image_tag("user_go.png") %> 
											<%# end %></td>
						<td	style="text-align:center;">
											<%# if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag" %> 
												<%#= check_box_tag "ignores[]", staff_attendance.id %>
											<%# elsif staff_attendance.trigger == false %>   
												<%#= image_tag("tick.png") %>  
											<%# end %></td>
						<td><%#=h staff_attendance.timmy2 %><%#= staff_attendance.trigger %> </td>
					    <td width=10px>--><!--<%#= link_to 'Show', staff_attendance %>--><!--</td>
					    <td width=10px>--><!--<%#= link_to 'Edit', edit_staff_attendance_path(staff_attendance) %>--><!--</td>
					    <td width=10px><%#= link_to image_tag("delete.png", 		:border => 0, :title => 'Delete'), staff_attendance, :confirm => 'Are you sure?', :method => :delete %></td>
					<%# end %>
				</tr>
			<%# end %>
		<%# end %>--><!--
		<%# @test_hoteldept_group.keys.sort.reverse.each do |date| %>
			<tr><td colspan=3><BR><b>Date  : <%#= date unless date.blank? %></b></td>
				<td></td><td></td><td></td><td></td><td colspan=3></td></tr>
			<%# for staff_attendance in @test_hoteldept_group[date].sort_by{|e| e[:thumb_id]} %>
			
				<tr>
					<%# if staff_attendance.attended.blank? %> 
					<%# else %>
							<td><%#=h staff_attendance.r_u_late == "flag" ? image_tag("flag_red.png") : "" %></td>
					    <td><%#=h staff_attendance.attendee_details %>(<%#=h staff_attendance.thumb_id %>)</td>
					    <td><%#=h staff_attendance.logged_at.in_time_zone('UTC').strftime('%H:%M') %></td>
					    <td><%#=h staff_attendance.log_type = "I" ? "IN" : "OUT" %></td>
					    <td style="text-align:center;">
											<%# if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag"  %> 
												<%#= check_box_tag "triggers[]", staff_attendance.id %>
											<%# elsif staff_attendance.trigger == true %>   
												<%#= image_tag("user_go.png") %> 
											<%# end %></td>
							<td	style="text-align:center;">
											<%# if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag" %> 
												<%#= check_box_tag "ignores[]", staff_attendance.id %>
											<%# elsif staff_attendance.trigger == false %>   
												<%#= image_tag("tick.png") %>  
											<%# end %></td>
							<td><%#=h staff_attendance.timmy2 %><%#= staff_attendance.trigger %> </td>
					    
					    <td width=10px>--><!--<%#= link_to 'Show', staff_attendance %></td>
					    <td width=10px>--><%#= link_to 'Edit', edit_staff_attendance_path(staff_attendance) %><!--</td>
					    <td width=10px><%#= link_to image_tag("delete.png", 		:border => 0, :title => 'Delete'), staff_attendance, :confirm => 'Are you sure?', :method => :delete %></td>
					<%# end %>
				</tr>
			<%# end %>
	<%# end %>-->
	<tr><td colspan=4></td>
		<td  colspan=2><%= submit_tag "save action"%></td><td></td><td colspan=3 ></td></tr>
<% end %><!--end of form tag-->
<!--for testing-->
<!--separator-->
<!--<tr><td colspan=8>LALALA</td></tr>-->
<!--separator-->

  <!--</tr>-->
<%# form_tag actionable_staff_attendances_path, :method => :put do %>

	<%# @staff_attendance_days.keys.sort.reverse.each do |date| %><!--
		<tr><td colspan=3><BR><b>Date  : <%#= date unless date.blank? %></b></td>
			<td></td><td></td><td></td><td></td><td colspan=3></td></tr>
		

			<%# for staff_attendance in @staff_attendance_days[date].sort_by{|e| e[:thumb_id]} %>
					<%# if staff_attendance.attended.blank? %> 
					<%# else %>
					  <tr>
							<td><%#=h staff_attendance.r_u_late == "flag" ? image_tag("flag_red.png") : "" %></td>
					    <td><%#=h staff_attendance.attendee_details %>(<%#=h staff_attendance.thumb_id %>)</td>
					    <td><%#=h staff_attendance.logged_at.in_time_zone('UTC').strftime('%H:%M') %></td>
					    <td><%#=h staff_attendance.log_type = "I" ? "IN" : "OUT" %></td>
					    <td style="text-align:center;">
											<%# if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag"  %> 
												<%#= check_box_tag "triggers[]", staff_attendance.id %>
											<%# elsif staff_attendance.trigger == true %>   
												<%#= image_tag("user_go.png") %> 
											<%# end %></td>
							<td	style="text-align:center;">
											<%# if staff_attendance.trigger == nil && staff_attendance.r_u_late == "flag" %> 
												<%#= check_box_tag "ignores[]", staff_attendance.id %>
											<%# elsif staff_attendance.trigger == false %>   
												<%#= image_tag("tick.png") %>  
											<%# end %></td>
							<td><%#=h staff_attendance.timmy2 %><%#= staff_attendance.trigger %> </td>
					    
					    <td width=10px><%#= link_to 'Show', staff_attendance %>--><!--</td>
					    <td width=10px>--><!--<%#= link_to 'Edit', edit_staff_attendance_path(staff_attendance) %></td>
					    <td width=10px><%#= link_to image_tag("delete.png", 		:border => 0, :title => 'Delete'), staff_attendance, :confirm => 'Are you sure?', :method => :delete %></td>
					    
					  </tr>-->
						<%# end %>
			<%# end %>
	<!--	<#% end %>-->
	<%# end %><!--
	<tr><td colspan=4></td>
		<td  colspan=2><%#= submit_tag "save action"%></td><td></td><td colspan=3 ></td></tr>
<%# end %>-->
</table>
</div>
<br />

<%= link_to 'New staff_attendance', new_staff_attendance_path %>