<!--  TODO make import of XLS or join mdb if possible. 
see http://stackoverflow.com/questions/2817506/import-excel-into-rails-app to see how to do this
-->
<div class="box">
  <div class="box-head">
    <h2 class="left"><%= t 'attendance.list' %></h2>
		<div class="right">
		</div>
	</div>
</div>


<div class="indextable">
<% if @approvelate_attendances.size > 0 %>
	<table>
		<tr>
			<th colspan=5>People Late I need to approve</th>
		</tr>
	  <tr class="toprow">
		  <th><%= t 'attendance.attdate' %></th>
	    <th><%= t 'attendance.time_in' %></th>
	    <th><%= t 'attendance.staff_id' %></th>
	    <th><%= t 'attendance.reason' %></th>
	    <th class="ac">Approve</th>
	  </tr>
	<% for attendance in @approvelate_attendances %>
	  <tr>
		  <td><%=h attendance.logged_at.in_time_zone('UTC').strftime('%d-%m-%Y') %></td>
	    <td><%=h attendance.logged_at.in_time_zone('UTC').strftime('%H:%M') %></td>
	    <td><%=h attendance.attended.name %></td>
	    <td><%=h attendance.reason? ? attendance.reason : "Not Submitted Yet" %></td>
	

	    <td width=10px>
				<% if attendance.reason? && attendance.is_approved == nil %>
					<%= link_to image_tag("approval.png", :border => 0, :title => 'Approval'), :action => 'approve', :id => attendance %>
				<% elsif attendance.is_approved == true %>
            <%= image_tag("tick.png") %>  
				<% elsif attendance.is_approved == false %>
						<%= image_tag("cross.png") %>  
				<% else%>
				<% end -%></td>

	  </tr>
	<% end %>
	</table>	
	

<BR/><BR/><BR/><BR/>
<% end %>
<table>
	<tr>
		<th colspan=6>Days I Am Late</th>
	</tr>
  <tr class="toprow">
	  <th><%= t 'attendance.attdate' %></th>
    <th><%= t 'attendance.time_in' %></th>
    <th><%= t 'attendance.approve_id' %></th>
    <th colspan=3 class="ac">Control</th>
  </tr>
<% for attendance in @mylate_attendances %>
  <tr>
	  <td><%=h attendance.logged_at.in_time_zone('UTC').strftime('%d-%m-%Y') %></td>
    <td><%=h attendance.logged_at.in_time_zone('UTC').strftime('%H:%M:%S') %></td>
    <td><%=h attendance.approved_by.blank? ? "Reason not submitted" : attendance.approver.staff_name_with_position %></td>
    <td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => attendance %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => attendance %></td>
    <% if permitted_to? :destroy, @attendance %>
    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), attendance, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
    
  </tr>
<% end %>
</table>
</div>
<br />
<% if permitted_to? :create, @attendance %>
<%= link_to (t 'attendance.create'), new_attendance_path %>
<% end %>
</div>