<%= stylesheet_link_tag 'report' %>

<form action="#">
	<script>
	document.write("<input type='button' " +
	"onClick='window.print()' " +
	"class='printbutton' " +
	"value='<%=escape_javascript(t 'print')%>'/>");
	</script>
<form>

<div class="A4potrait">

<!-- Box Head -->
<div id="kewpa">
<p class="marginright" style="font-size:13px;font-family:arial;" align="right">
	<% if @find_type == I18n.t('attendance.monthly_report')%>
		Lampiran B.3
	<% elsif @find_type ==  I18n.t('attendance.weekly_report') %>
		Lampiran B.2
	<% else %>
		Lampiran B.1
	<% end %>
</p>
<br><br>
<H4 align="center" style="font-size:16px;font-weight:bold;font-family:arial;">
	<% if @find_type == I18n.t('attendance.monthly_report')%>
		Laporan Bulanan
	<% elsif @find_type ==  I18n.t('attendance.weekly_report') %>	
		Laporan Mingguan 
	<% else %>
		Laporan Harian
	<% end %>
</H4>

<table class="lampiran_kewpa" style="padding:0;border-spacing:0;">
<!--first part-->
	<tr>
		<td colspan=3 style="height:20px;">&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	
	<tr>
		<td>&nbsp;</td>
		<td colspan=3 style="text-align:left;font-size:14px;font-family:arial;">
			<!--Nama Ketua Unit/Program-21June2013-->Nama Pegawai : <%= check_kin{Position.find(@superior_position_id).staff.name} %>
		</td>
		<td>&nbsp;</td>
	</tr>
	<!--21June2013 <tr>
		<td class="leftcol">&nbsp;</td>
		<td colspan=3 style="text-align:left;font-size:14px;font-family:arial;">Program/Unit : <%#= @dept_name %></td>
		<td>&nbsp;</td>
	</tr>-->
	<tr>
		<td>&nbsp;</td>
		<td colspan=3 style="text-align:left;font-size:14px;font-family:arial;">
			Tarikh : <%= @dadidu.to_date.strftime("%d %b %Y") %>  <%#=@dadidu.to_date.in_time_zone('UTC').strftime("%d %b %Y")%>
			<% if @find_type == "Monthly Report" || @find_type == "Weekly Report" %>
				hingga <%=(@next_date.to_date-1.day).strftime("%d %b %Y")%>
			<% end %>
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td >&nbsp;</td>
		<td>&nbsp;</td>
		<td style="vertical-align:top;">&nbsp;</td>
		<td class="filler" style="vertical-align:top;height:30px;">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
<!--second part--> 
	<tr>
		<td>&nbsp;</td>
		<td style="border-left:solid 1px;border-top:solid 1px;border-bottom:solid 1px;width:40px;text-align:center;vertical-align:middle;padding-top:3px;padding-left:0;font-weight:bold;font-size:14px;font-family:arial;">Bil</td>
		<td style="border:solid 1px;width:300px;text-align:left;padding-left:5px;font-weight:bold;font-size:14px;font-family:arial;">
			Nama Pegawai / Kakitangan Yang <br>Datang Lambat / Pulang Awal</td>
		<td style="border-right:solid 1px;border-top:solid 1px;border-bottom:solid 1px;width:150px;text-align:center;vertical-align:top;padding-top:3px;font-weight:bold;font-size:14px;font-family:arial;">
			
			<% if @find_type ==  I18n.t('attendance.monthly_report')%>
				Jumlah Catitan Merah dalam tempoh sebulan
			<% elsif @find_type ==  I18n.t('attendance.weekly_report')%>
				Jumlah Catitan Merah dalam tempoh seminggu
			<% else %>
				Sebab - Sebab
			<% end %>
		</td>
		<td style="border-right:solid 1px;border-top:solid 1px;border-bottom:solid 1px;width:150px;text-align:center;vertical-align:top;padding-top:3px;font-weight:bold;font-size:14px;font-family:arial;">
			<% if @find_type ==  I18n.t('attendance.monthly_report') || @find_type ==  I18n.t('attendance.weekly_report')%>
				Warna Kad Pegawai / Kakitangan akhir minggu
			<% else %>
				Masa Yang Dicatitkan
			<% end %>
			
		</td>
	</tr>
	<!--Remark : @lateearly : recorded late/early regardless of approval status-->
	<!--Remark : @notapproved_lateearly : recorded late/early and (although form submitted) REJECTED status-->

	<% count=0 %>
	
	<% if @find_type ==  I18n.t('attendance.monthly_report') || @find_type ==  I18n.t('attendance.weekly_report') %>
		<!--for WEEKLY & MONTHLY REPORT, use @notapproved_lateearly-->
		<!--for REPORTING : supposed-take note ONLY for those ..['action' taken(index.html.erb)+submit reason(edit.html.erb)+REJECT(approve.html.erb)]-->
		<!--which comply this statement - '...catitan merah dalam sebulan tanpa pengesahan pegawai atasan'-->
		<% @for_report = @notapproved_lateearly %><!--hide on 21June2013-->
	<% else %>
		<!--for DAILY REPORT, use @lateearly to cater ALL late/early report ['action' taken(index)] REGARDLESS of it's APPROVAL STATUS-->
		<!--inclusive of non-exist record (staff did not thumb print either for In/Out @ both) : Tiada Rekod Masuk/Tiada Rekod Keluar/Tiada Rekod Masuk & Keluar-->
		<!--inclusive of status for submit reason for ('action' taken) condition : (Borang telah dihantar)-->
		<% @for_report = @lateearly %><!--display all late early record-->
	<% end %>
	
	<% @green_count = 0%>
	<% @red_count = 0%>
	
	<% @for_report.each do |thumb_id, items| %>
	<tr>
		<td>&nbsp;</td>
		<td style="border-left:solid 1px;text-align:center;font-size:14px;font-family:arial;"><%= count+=1 %></td>
		<td style="border-left:solid 1px;border-right:solid 1px;text-align:left;font-size:14px;font-family:arial;"><%=Staff.find_by_thumb_id(thumb_id).name %></td>
		<td style="border-right:solid 1px;text-align:center;font-size:14px;font-family:arial;">
		
		<% if @find_type ==  I18n.t('attendance.monthly_report') || @find_type ==  I18n.t('attendance.weekly_report') %>
			<%=items.count %>&nbsp;<!--count for not approve late.early of selected week ONLY-->
			<!--just for checking-->
			<% for item in items %>
				<font size=-2>
					<% if item.log_type == "O" %>
						Out-<%=item.logged_at.in_time_zone('UTC').strftime('%d-%m-%Y %H:%M %p')%>
					<% else %>
						In-<%=item.logged_at.in_time_zone('UTC').strftime('%d-%m-%Y %H:%M %p')%>
					<% end %>
				</font>
				<br>
			<% end %>
			<!--just for checking-->
		<% else %>
			<% if items.count > 0 %>
				<% if items[0].log_type == "O" %>
					Pulang Awal 
				<% else %>
					Datang Lewat
				<% end %>
				<% unless items[0].reason.nil? || items[0].blank? %>	
					(Borang telah dihantar)
				<% end %>
			<% end %>
		<% end %>
			
		</td>
		<td style="border-right:solid 1px;text-align:center;font-size:14px;font-family:arial;">
			<% if @find_type ==  I18n.t('attendance.weekly_report') || @find_type ==  I18n.t('attendance.monthly_report') %>
			
				<!--1-start-CURRENT DATA-To check colour status for selected week-->
				<% @start_date = @dadidu.to_date.beginning_of_month.to_s %>
				<% @count_non_approved = StaffAttendance.count_non_approved(thumb_id,@dadidu,@next_date).count %>
				<!--1-end-CURRENT DATA-To check colour status for selected week-->
				
				<!--2-PREVIOUS DATA-To check colour status between - beginning of (ALL) PREVIOUS month - until 1 day before selected week/month-->
					
					<!--previous status from staffs table if exist?-->
					<%# @previous_status_staff = Staff.find(:first, :conditions=> ['thumb_id=?',thumb_id]).att_colour %>
					<%# @previous_colour_staff = (StaffAttendance::ATT_STATUS.find_all{|disp, value| value == @previous_status_staff}).map {|disp, value| disp} %>
					
					<!--start-previous status...data retrieved from staff attendance table all existing data-->
					<% @previous_status_for_SA = 1 %><!--set default : previous status as 1; ie:yellow -->
					<% @previous_colour = "Yellow" %><!--will be use if no changes on previous status-->
					<% if @find_type ==  I18n.t('attendance.weekly_report')%>
						<!--retrieve all data until 1 day be4 selected week(EXCLUSIVE of selected week) & continue below:3(a)-[@start_date-1st day of the month]-->
							<% @all_dates = StaffAttendance.find(:all, :conditions =>['thumb_id=? and logged_at>=? and logged_at<?',thumb_id,"2012-05-07",@start_date], :order => 'logged_at ASC').map(&:logged_at)%>   <%#=@all_dates.count%>
					<% elsif @find_type == I18n.t('attendance.monthly_report')%>
						<!--retrieve all data until end of selected month(INCLUSIVE of selected month)-[@next_date-1day after end of selected month]-->
						<% @all_dates = StaffAttendance.find(:all, :conditions =>['thumb_id=? and logged_at>=? and logged_at<?',thumb_id,"2012-05-07",@next_date], :order => 'logged_at ASC').map(&:logged_at)%>  <%#=@all_dates.count%>
					<% end %>
					<% @previous_status_SA = StaffAttendance.set_colour_status(@all_dates,thumb_id, @previous_status_for_SA) %>
					<!--end-previous status...data retrieved from staff attendance table all existing data-->
				
					<!--to choose either one : attendance colour status (1)from staffs table-or (2)compare values from staff_attendances table-->
					<%# if @previous_status_staff.nil? || @previous_status_staff.blank? %>
						<% @previous_status = @previous_status_SA %>
						<% @previous_colour = (StaffAttendance::ATT_STATUS.find_all{|disp, value| value == @previous_status}).map {|disp, value| disp} %>
					<%# else %>
						<!--staff--><%# @previous_status = @previous_status_staff %>
						<%# @previous_colour = @previous_colour_staff %>
					<%# end %>
				
				<!--2-PREVIOUS DATA-To check colour status between - beginning of the (ALL) PREVIOUS month - until 1 day before selected week/month-->
				
				<% if @find_type ==  I18n.t('attendance.weekly_report') %>
					<!--3a-start-WEEKLY REPORT-check previous status & ASSIGN LATEST STATUS-for selected week-->
					<% if @previous_status == 1 %><!--if yellow-->
						<% if @count_non_approved>= 1  %><!--change to 1 for checking, original value:3-->
							<% @latest_colour = "Green" %><!--previous:yellow & >= 3 red marking, change status into GREEN-->
						<% else %>
							<% @latest_colour = @previous_colour %><!--current:yellow & < 3 red marking, NO CHANGES-->
						<% end %>
					<% elsif @previous_status == 2 %><!--if green-->
						<% if @count_non_approved >= 1 %><!--change to 1 for checking, original value:2-->
							<% @latest_colour = "Red" %><!--previous:green & >=2 red marking, [GREEN->RED]-->
						<% elsif @count_non_approved == 1 %>
							<% @latest_colour = @previous_colour %><!--current:green & = 1 red marking, NO CHANGES-->
						<% elsif @count_non_approved == 0 %>
							<% @latest_colour = "Yellow" %>
						<% end %>
					<% elsif @previous_status == 3 %>
						<% if @next_date.to_date-1.day == @dadidu.to_date.end_of_month %><!--IF selected week-END OF THE MONTH-->
							<% if @count_non_approved == 0 %>
								<% @latest_colour = "Green" %><!--previous(MONTH+@dadidu-1day):red, NO red marking [RED->GREEN]-->
							<% else %>
								<% @latest_colour = @previous_colour %>
							<% end %>
						<% else %><!--IF selected week-NOT END OF THE MONTH-->
							<% @latest_colour = @previous_colour %><!--although there's NO red marking, NO CHANGES-->
						<% end %>
					<% end %>
					<!--weekly--><%=@latest_colour%>
					<!--3a-end-WEEKLY REPORT-check previous status & ASSIGN LATEST STATUS-for selected week-->
				<% else %>
					<!--3b-start-MONTHLY REPORT-->
					<!--monthly--><%=@latest_colour = @previous_colour %>
					<!--3b-end-MONTHLY REPORT-->
				<% end %>
				
				<% if @latest_colour == "Green" || @previous_status == 2 %>
					<% @green_count+=1 %>
				<% elsif @latest_colour == "Red" || @previous_status == 3 %>
					<% @red_count+=1 %>	
				<% end %>
				

	
						
			<% else %><!--for daily report-->
				<%=items[0].logged_at.in_time_zone('UTC').strftime("%l:%M %p") %>
			<% end %>
			
		</td>
	</tr>
	<% end %>
	<tr>
		<td>&nbsp;</td>
		<td colspan=3 style="border-top:solid 1px;text-align:center;height:40px;">&nbsp;</td>
		<td style="border-top:solid 1px;text-align:center;height:40px;">&nbsp;</td>
	</tr>
	
	<!--third part-->
	<!--display required only for weekly & monthly report-->
	<% if @find_type ==  I18n.t('attendance.monthly_report') || @find_type == I18n.t('attendance.weekly_report') %>
		
		<tr>
			<td>&nbsp;</td>
			<td colspan=2 style="text-align:left;font-size:14px;font-family:arial;height:40px;">Jumlah Pegawai / Kakitangan  :</td>
			<td><%=@notapproved_lateearly.count%><!--display ALL late early record--></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td colspan=2 style="text-align:left;font-size:14px;font-family:arial;height:50px;">Jumlah Pegawai / Kakitangan <br>Yang memegang kad hijau : </td>
			<td><!--GREEN CARD HOLDER--><%=@green_count%></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td colspan=2 style="text-align:left;font-size:14px;font-family:arial;height:50px;">Jumlah Pegawai / Kakitangan <br>Yang memegang kad merah: </td>
			<td><!--red card holder--><%=@red_count%></td>
			<td>&nbsp;</td>
		</tr>
	<% end %>
	<!--display required only for weekly & monthly report-->
	
</table>
</div></div>


