<%= stylesheet_link_tag 'report' %>

<form action="#">	
<script>
document.write("<input type='button' " +
"onClick='window.print()' " +
"class='printbutton' " +
"value='Print This Page'/>");
</script>
</form>	
<div class="A4potrait">

<!-- Box Head -->
<div id="kewpa">
<p class="marginright" style="font-size:13px;font-family:arial;" align="right">
	<% if @find_type == "Monthly Report" %>
		Lampiran B.3
	<% elsif @find_type == "Weekly Report" %>
		Lampiran B.2
	<% else %>
		Lampiran B.1
	<% end %>
</p>
<br><br>
<H4 align="center" style="font-size:16px;font-weight:bold;font-family:arial;">
	<% if @find_type == "Monthly Report" %>
		Laporan Bulanan
	<% elsif @find_type == "Weekly Report" %>	
		Laporan Mingguan 
	<% else %>
		Laporan Harian
	<% end %>
</H4>

<table class="lampiran_kewpa" style="padding:0;border-spacing:0;">
<!--first part-->
	<tr>
		<td colspan=3 style="height:20px;">&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	
	<tr>
		<td>&nbsp;</td>
		<td colspan=3 style="text-align:left;font-size:14px;font-family:arial;">
			<!--Nama Ketua Unit/Program-21June2013-->Nama Pegawai : <%= check_kin{Position.find(@superior_position_id).staff.name} %>
		</td>
		<td>&nbsp;</td>
	</tr>
	<!--21June2013 <tr>
		<td class="leftcol">&nbsp;</td>
		<td colspan=3 style="text-align:left;font-size:14px;font-family:arial;">Program/Unit : <%#= @dept_name %></td>
		<td>&nbsp;</td>
	</tr>-->
	<tr>
		<td>&nbsp;</td>
		<td colspan=3 style="text-align:left;font-size:14px;font-family:arial;">
			Tarikh : <%= @dadidu.to_date.strftime("%d %b %Y") %>  <%#=@dadidu.to_date.in_time_zone('UTC').strftime("%d %b %Y")%>
			<% if @find_type == "Monthly Report" || @find_type == "Weekly Report" %>
				hingga <%=(@next_date.to_date-1.day).strftime("%d %b %Y")%>
			<% end %>
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td >&nbsp;</td>
		<td>&nbsp;</td>
		<td style="vertical-align:top;">&nbsp;</td>
		<td class="filler" style="vertical-align:top;height:30px;">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
<!--second part--> 
	<tr>
		<td>&nbsp;</td>
		<td style="border-left:solid 1px;border-top:solid 1px;border-bottom:solid 1px;width:40px;text-align:center;vertical-align:middle;padding-top:3px;padding-left:0;font-weight:bold;font-size:14px;font-family:arial;">Bil</td>
		<td style="border:solid 1px;width:300px;text-align:left;padding-left:5px;font-weight:bold;font-size:14px;font-family:arial;">
			Nama Pegawai / Kakitangan Yang <br>Datang Lambat / Pulang Awal</td>
		<td style="border-right:solid 1px;border-top:solid 1px;border-bottom:solid 1px;width:150px;text-align:center;vertical-align:top;padding-top:3px;font-weight:bold;font-size:14px;font-family:arial;">
			
			<% if @find_type == "Monthly Report" %>
				Jumlah Catitan Merah dalam tempoh sebulan
			<% elsif @find_type == "Weekly Report" %>
				Jumlah Catitan Merah dalam tempoh seminggu
			<% else %>
				Sebab - Sebab
			<% end %>
		</td>
		<td style="border-right:solid 1px;border-top:solid 1px;border-bottom:solid 1px;width:150px;text-align:center;vertical-align:top;padding-top:3px;font-weight:bold;font-size:14px;font-family:arial;">
			<% if @find_type == "Monthly Report" || @find_type == "Weekly Report" %>
				Warna Kad Pegawai / Kakitangan akhir minggu
			<% else %>
				Masa Yang Dicatitkan
			<% end %>
			
		</td>
	</tr>
	<!--Remark : @lateearly : recorded late/early regardless of approval status-->
	<!--Remark : @notapproved_lateearly : recorded late/early and (although form submitted) REJECTED status-->

	<% count=0 %>
	
	<% if @find_type == "Monthly Report" || @find_type == "Weekly Report" %>
		<!--for WEEKLY & MONTHLY REPORT, use @notapproved_lateearly-->
		<!--for REPORTING : supposed-take note ONLY for those ..['action' taken(index.html.erb)+submit reason(edit.html.erb)+REJECT(approve.html.erb)]-->
		<!--which comply this statement - '...catitan merah dalam sebulan tanpa pengesahan pegawai atasan'-->
		<% @for_report = @notapproved_lateearly %><!--hide on 21June2013-->
	<% else %>
		<!--for DAILY REPORT, use @lateearly to cater ALL late/early report ['action' taken(index)] REGARDLESS of it's APPROVAL STATUS-->
		<!--inclusive of non-exist record (staff did not thumb print either for In/Out @ both) : Tiada Rekod Masuk/Tiada Rekod Keluar/Tiada Rekod Masuk & Keluar-->
		<!--inclusive of status for submit reason for ('action' taken) condition : (Borang telah dihantar)-->
		<% @for_report = @lateearly %><!--display all late early record-->
	<% end %>
	
	<% @for_report.each do |thumb_id, items| %>
	<tr>
		<td>&nbsp;</td>
		<td style="border-left:solid 1px;text-align:center;font-size:14px;font-family:arial;"><%= count+=1 %></td>
		<td style="border-left:solid 1px;border-right:solid 1px;text-align:left;font-size:14px;font-family:arial;"><%=Staff.find_by_thumb_id(thumb_id).name %></td>
		<td style="border-right:solid 1px;text-align:center;font-size:14px;font-family:arial;">
		
		<% if @find_type == "Monthly Report" || @find_type == "Weekly Report" %>
			<%=items.count %>&nbsp;<!--count for not approve late.early of selected week ONLY-->
			<!--just for checking-->
			<% for item in items %>
				<font size=-2>
					<% if item.log_type == "O" %>
						Out-<%=item.logged_at.in_time_zone('UTC').strftime('%d-%m-%Y %H:%M %p')%>
					<% else %>
						In-<%=item.logged_at.in_time_zone('UTC').strftime('%d-%m-%Y %H:%M %p')%>
					<% end %>
				</font>
				<br>
			<% end %>
			<!--just for checking-->
		<% else %>
			<% if items.count > 0 %>
				<% if items[0].log_type == "O" %>
					Pulang Awal 
				<% else %>
					Datang Lewat
				<% end %>
				<% unless items[0].reason.nil? || items[0].blank? %>	
					(Borang telah dihantar)
				<% end %>
			<% end %>
		<% end %>
			
		</td>
		<td style="border-right:solid 1px;text-align:center;font-size:14px;font-family:arial;">
			<% if @find_type == "Weekly Report" %>
			
				<!--1-CURRENT DATA-To check colour status between - beginning of the CURRENT month - until last day of selected week-->
				<% @start_date = @dadidu.to_date.beginning_of_month.to_s %>
				<% @count_non_approved = StaffAttendance.count_non_approved(thumb_id,@start_date,@next_date) %>
				<%#= @count_non_approved.count %><!--unremark to display-->	
				<!--1-CURRENT DATA-To check colour status between - beginning of the CURRENT month - until last day of selected week-->
				
				<!--2-PREVIOUS DATA-To check colour status between - beginning of the PREVIOUS month - until 1 day before selected week-->
					<!--previous status from staffs table if exist?-->
					<% @previous_status = Staff.find(:first, :conditions=> ['thumb_id=?',thumb_id]).att_colour %>
					<% @previous_colour_staff = (StaffAttendance::ATT_STATUS.find_all{|disp, value| value == @previous_status}).map {|disp, value| disp} %>
				
					<!--previous status...data retrieved from staff attendance table, for the last 3 months-->
					<% @curr_month_b = @dadidu.to_date.beginning_of_month.to_s %>
					<% @firstday_selectedweek = @dadidu.to_s %><!--supposed 1 day be4, but refer model; this condition:logged_at< at line 331-->
					<% @previous_month_b = @dadidu.to_date.prev_month.beginning_of_month.to_s %>
					prev month e<%= @previous_month_e = @dadidu.to_date.prev_month.end_of_month.to_s %>
					<% @previous_2months_b = @dadidu.to_date.months_ago(2).beginning_of_month.to_s %>
					<% @previous_2months_e = @dadidu.to_date.months_ago(2).end_of_month.to_s %>
					<% @previous_3months_b = @dadidu.to_date.months_ago(3).beginning_of_month.to_s %>
					<% @previous_3months_e = @dadidu.to_date.months_ago(3).end_of_month.to_s %>
					
					<% @cur_month_be4_count_non_approved = StaffAttendance.count_non_approved(thumb_id,@curr_month_b,@firstday_selectedweek).count %>
					<!--curr--><%#= @cur_month_be4_count_non_approved %><!--unremark to display-->
					<% @prev_month_count_non_approved = StaffAttendance.count_non_approved(thumb_id,@previous_month_b,@curr_month_b).count %>
					<!--prev--><%#= @prev_month_count_non_approved%><!--unremark to display-->
					<% @prev_2months_count_non_approved = StaffAttendance.count_non_approved(thumb_id,@previous_2months_b,@previous_month_b).count %>
					<!--prev2--><%#= @prev_2months_count_non_approved %><!--unremark to display-->
					<% @prev_3months_count_non_approved = StaffAttendance.count_non_approved(thumb_id,@previous_3months_b,@previous_2months_b).count %>
					<!--prev3--><%#= @prev_3months_count_non_approved %><!--unremark to display-->

					<% if @prev_month_count_non_approved >= 3 %><!--if yelow, will turn green-->
					<% elsif @prev_month_count_non_approved >= 2 %><!--if green, will turn red-->
					<% elsif @prev_month_count_non_approved == 0 %><!--if red, will turn green & if green, will turn yellow-->
					<% end %>
					
					<%#$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$%>
					<!--PENDING-for all staff(selected non_approved late/early-staff), check for 3 lateness/early return in a month if ever exist, as this will become-->
					<!--PENDING-the starting point for changed status from YELLOW to GREEN, only then it has potential to turns into RED-->
					<!--find first record-->
					first date<%= @first_date = StaffAttendance.find(:all, :conditions =>['thumb_id=? and logged_at>=? and logged_at<?',thumb_id,"2012-05-07","2012-05-08"])[0].logged_at.in_time_zone('UTC').to_date.to_s   %>
					nextfirst b<%= @next_first_date_b = @first_date.to_date.next_month.beginning_of_month.to_s %>
					<!--nextfirst b+2month <%#= (@first_date.to_date+2.month).beginning_of_month.to_s %>-->
					count:<%= @first_count_non_approved = StaffAttendance.count_non_approved(thumb_id,@first_date,@next_first_date_b).count %>
					
					<!--http://stackoverflow.com/questions/136793/is-there-a-do-while-loop-in-ruby-->
					<!--http://ruby.activeventure.com/tutorial/part_02/while.html-->
					<!--while loop -> assign 'count' into an array, compare 1 array item with previous item,....start everything with yellow..on 2012-05-07-->
					<!--use for this page & reporting as well....-->
					<% if @next_first_date_b == @previous_month_e %>
						kk
					<% else %>
						noooo
					<% end %>
					<%#$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$%>
				
					<!--assign previous colour(Yellow, Green, Red), according to @previous status(staffs table)-->
					<% unless @previous_status.nil? || @previous_status.blank? %>
						<!--prev:--><% @previous_colour = @previous_colour_staff %><!--from staffs table, column:att_colour-->
					<% else %>
						<%# if @prev_month_count_non_approved >= 3 || @prev_2months_count_non_approved >= 3 || @prev_3months_count_non_approved >= 3 %>
							
						<%# end %>
						<% if @prev_month_count_non_approved >= 3 %>
						
						<% end %>
						
						<!--DEFAULT value-if no data available in staffs table-->
						<% @previous_colour = "Yellow" %><!--unremark, for testing-->
						<%# @previous_colour = "Green" %><!--unremark, for testing-->
						<%# @previous_colour = "Red" %><!--unremark, for testing-->
						<!--DEFAULT value-if no data available in staffs table-->
					<% end %>
				<!--2-check PREVIOUS status & assign LATEST status-->
				
				<!--3-check previous status & ASSIGN LATEST STATUS-->
				<% if @previous_status == 1 %><!--if yellow-->
					<% if @count_non_approved.count >= 3  %>
						<% @latest_colour = "Green" %><!--previous:yellow & >= 3 red marking, change status into GREEN-->
					<% else %>
						<% @latest_colour = @previous_colour %><!--current:yellow & < 3 red marking, NO CHANGES-->
					<% end %>
				<% elsif @previous_status == 2 %><!--if green-->
					<% if @count_non_approved.count >= 2 %>
						<% @latest_colour = "Red" %><!--previous:green & >=2 red marking, [GREEN->RED]-->
					<% elsif @count_non_approved.count == 1 %>
						<% @latest_colour = @previous_colour %><!--current:green & = 1 red marking, NO CHANGES-->
					<% elseif @count_non_approved.count == 0 %>
						<% @latest_colour = "Yellow" %>
					<% end %>
				<% elsif @previous_status == 3 %>
					<% if @next_date.to_date-1.day == @dadidu.to_date.end_of_month %><!--IF selected week-END OF THE MONTH-->
						<% if @count_non_approved.count == 0 %>
							<% @latest_colour = "Green" %><!--previous(MONTH+@dadidu-1day):red, NO red marking [RED->GREEN]-->
						<% else %>
							<% @latest_colour = @previous_colour %>
						<% end %>
					<% else %><!--IF selected week-NOT END OF THE MONTH-->
						<% @latest_colour = @previous_colour %><!--although there's NO red marking, NO CHANGES-->
					<% end %>
				<% end %>
				<!--3-check previous status & ASSIGN LATEST STATUS-->
				
			<% elsif @find_type == "Monthly Report" %>	
				<!--FOR MONTHLY REPORT USE-->
				<%# if @previous_colour == "red" %>
					<%# if @beginmonth_currentweek_non_approved.count == 0 %>
						<%# @latest_colour = "green" %>
					<%# else %><!--ada tanda merah-->
						<%# @latest_colour = @previous_colour %>
					<%# end %>
				<%# end %>
						
			<% else %><!--for daily report-->
				<%=items[0].logged_at.in_time_zone('UTC').strftime("%l:%M %p") %>
			<% end %>
			<!--latest:--><%=@latest_colour%>
		</td>
	</tr>
	<% end %>
	<tr>
		<td>&nbsp;</td>
		<td colspan=3 style="border-top:solid 1px;text-align:center;height:40px;"></td>
		<td style="border-top:solid 1px;text-align:center;height:40px;">&nbsp;</td>
	</tr>
	
	<!--third part-->
	<!--display required only for weekly & monthly report-->
	<% if @find_type == "Monthly Report" || @find_type == "Weekly Report" %>
		
		<tr>
			<td>&nbsp;</td>
			<td colspan=2 style="text-align:left;font-size:14px;font-family:arial;height:40px;">Jumlah Pegawai / Kakitangan  :</td>
			<td><%=@notapproved_lateearly.count%><!--display ALL late early record--></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td colspan=2 style="text-align:left;font-size:14px;font-family:arial;height:50px;">Jumlah Pegawai / Kakitangan <br>Yang memegang kad hijau : </td>
			<td><!--GREEN CARD HOLDER--></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td colspan=2 style="text-align:left;font-size:14px;font-family:arial;height:50px;">Jumlah Pegawai / Kakitangan <br>Yang memegang kad merah: </td>
			<td><!--red card holder--></td>
			<td>&nbsp;</td>
		</tr>
	<% end %>
	<!--display required only for weekly & monthly report-->
	
</table>
</div></div>


