<h1>New staff_attendance</h1>

<% form_for(@staff_attendance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :thumb_id %><br />
    <%= f.text_field :thumb_id %>
  </p>
  <p>
    <%= f.label :logged_at %><br />
    <%= f.datetime_select :logged_at %>
  </p>
  <p>
    <%= f.label :log_type %><br />
    <%= f.text_field :log_type %>
  </p>
  <p>
    <%= f.label :reason %><br />
    <%= f.text_field :reason %>
  </p>
  <p>
    <%= f.label :trigger %><br />
    <%= f.check_box :trigger %>
  </p>
  <p>
    <%= f.label :approved_by %><br />
    <%= f.text_field :approved_by %>
  </p>
  <p>
    <%= f.label :is_approved %><br />
    <%= f.check_box :is_approved %>
  </p>
  <p>
    <%= f.label :approved_on %><br />
    <%= f.date_select :approved_on %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', staff_attendances_path %>