<div class="box">
	<div class="box-head">
		<h2 class="left">Staff Attendance - Report</h2>
	</div>
</div>
<div class="indextable">
	<table>
		<tr>
			<th width=220px>&nbsp;&nbsp;Department / Unit</th>
			<th width=220px>&nbsp;&nbsp;Report Type</th>
			<th width=500px>&nbsp;Month & Year / Week starting</th>
		</tr>
		
		<%#@dept_superiors.each_with_index do |superior, index|%>
		<%# if index == 0 %>
		
		<!--open form-->
		<% form_tag(:action => :monthly_weekly_report) do %>
		<tr>
			<td>
				<!--name=superior's position NAME,id=superior's position ID, unit=superior's UNIT-->
				<!--selection default to first item-->
				<%= select_tag(:superior_position_id,options_from_collection_for_select(@dept_superiors, :id, :unit)) %>
				<%#= select_tag(:superior_position_id,"<option>Select a department / unit</option>"+options_from_collection_for_select(@dept_superiors, :id, :unit)) %>
			</td>
			<td width=310px>
				<%= radio_button_tag 'feedback', "day",false, :class => "radio_feedback" %><label>Daily Report</label> 
				<!--radio_button_tag 'color', "green", true, :class => "color_input"
				# => <input checked="checked" class="color_input" id="color_green" name="color" type="radio" value="green" />-->
				<%= radio_button_tag 'feedback', "cou",false, :class => "radio_feedback" %><label>Weekly Report</label> 
				<!--name=feedback,id=feedback_cou-->
				<%= radio_button_tag 'feedback', "final",false, :class => "radio_feedback" %><label>Monthly Report</label>
				<!--name=feedback,id=feedback_final-->
				
				
			</td>
			<td>
				<div class="daily" style="display:none;width:500px;">
					<!--default to current date,-->
					Date :<%= date_select :month_year3, params[:month_year3], :order => [:day, :month, :year], :start_year => Time.now.year - 1, :end_year => Time.now.year %>
					<%#= date_select :month_year1, params[:month_year1], :order => [:day, :month, :year],:include_blank => true%>
					<%= submit_tag "Daily Report", :name => :list_submit_button %>
				</div>
				<div class="twoweek" style="display:none;width:500px;">
					<!--default to first month,-->
					Starting Date :<%= date_select :month_year1, params[:month_year1], :order => [:day, :month, :year], :start_year => Time.now.year - 1, :end_year => Time.now.year %>
					<%#= date_select :month_year1, params[:month_year1], :order => [:day, :month, :year],:include_blank => true%>
					<%#= submit_tag "Report for 2 Week", :name => :list_submit_button %>
					<%= submit_tag "Weekly Report", :name => :list_submit_button %>
				</div>
				<div class="monthly" style="display:none;width:500px;">
					<!--default to first month,-->
					<%= date_select :month_year2, params[:month_year2], :order => [:month, :year], :start_year => Time.now.year - 1, :end_year => Time.now.year %>
					<%#= date_select :month_year2, params[:month_year2], :order => [:month, :year],:include_blank => true%>
					<%= submit_tag "Monthly Report", :name => :list_submit_button %>
				</div>
				
				<!--
					<%# form_tag(:action => :stock_listing) do %>
						Class No
						<%#= text_field_tag(:isbn_search, params[:isbn_search], :size=>14, :placeholder=> "..starting with") %>
						<%#= submit_tag "List by class no", :name => :list_submit_button %>
					<%# end %>
				-->
				<!--
					<%# form_tag '', :method => 'get' do %>
					From: <%#= date_select :search_from, params[:search_from], :include_blank => :true %>
					&nbsp; &nbsp;To: <%#= date_select :search_to, params[:search_to], :include_blank => :true %>
					<%#= submit_tag "Search by received date", :name => :submit_button1 %>
					<%# end %>
				-->
			</td>
		</tr>
		<% end %><!--close form-->	
			
		<%# end %>
		<%# end %>
	</table>
	
</div>

<script type="text/javascript">
	
	$j(document).ready(function(){ 
	   $j("input[class='radio_feedback']").change(function() {  
	     	if($j('#feedback_final').is(':checked')) { 
		       		$j(".monthly").show("highlight");
					$j(".twoweek").hide();
					$j(".daily").hide();
		     }else if ($j('#feedback_cou').is(':checked')){
					$j(".monthly").hide();
					$j(".twoweek").show("highlight");
					$j(".daily").hide();
	     	}else if ($j('#feedback_day').is(':checked')){
					$j(".monthly").hide();
					$j(".twoweek").hide();
					$j(".daily").show("highlight");
			}
	
	   });

		$j("input[class='radio_feedback']").each(function() {  
	     	if($j('#feedback_final').is(':checked')) { 
		       		$j(".monthly").show("highlight");
					$j(".twoweek").hide();
					$j(".daily").hide();
		     }else if ($j('#feedback_cou').is(':checked')){
					$j(".monthly").hide();
					$j(".twoweek").show("highlight");
					$j(".daily").hide();
	      	}else if ($j('#feedback_day').is(':checked')){
					$j(".monthly").hide();
					$j(".twoweek").hide();
					$j(".daily").show("highlight");
		  	}
	   });
	});	
	
</script>