<p>
  <b>Thumb:</b>
  <%=h @staff_attendance.thumb_id %>
</p>

<p>
  <b>Logged at:</b>
  <%=h @staff_attendance.logged_at %>
</p>

<p>
  <b>Log type:</b>
  <%=h @staff_attendance.log_type %>
</p>

<p>
  <b>Reason:</b>
  <%=h @staff_attendance.reason %>
</p>

<p>
  <b>Trigger:</b>
  <%=h @staff_attendance.trigger %>
</p>

<p>
  <b>Approved by:</b>
  <%=h @staff_attendance.approved_by %>
</p>

<p>
  <b>Is approved:</b>
  <%=h @staff_attendance.is_approved %>
</p>

<p>
  <b>Approved on:</b>
  <%=h @staff_attendance.approved_on %>
</p>


<%= link_to 'Edit', edit_staff_attendance_path(@staff_attendance) %> |
<%= link_to 'Back', staff_attendances_path %>