<!--
	HACK :: This page, must be a better way to get it done
-->
<table class="attendance">
	<tr>
		<th>This Month <BR/><%= Date.today.strftime('%B-%Y') %></th>
		<th>Last Month <BR/><%= Date.today.prev_month.strftime('%B-%Y') %></th>
		<th>Previous Month<BR/><%= Date.today.months_ago(2).strftime('%B-%Y') %></th>
	</tr>
	<tr class="red_lates">
		<td class="lattes">
						<% if @thismonthreds.size == 0 %>
							No staff in this category
						<% else %>
									<table width=85%>
										<!--
										<tr>
												<th class="inner">Name</th>
												<th class="inner">Days Late</th>
										</tr>-->
										
										<% @thismonthreds.each do |a,b | %>
										<tr>
											<td class="inner"><%= Staff.find(:all, :select => 'name', :conditions => ["thumb_id = ?", a.to_i ]).map(&:name)%></td>
											<td class="inner"><%= b %> Days</td>
										</tr>
										<% end %>
									</table>
						<% end %></td>
		<td class="lattes">
					<% if @lastmonthreds.size == 0 %>
						No staff in this category
					<% else %>
							<table width=85%>
							<% @lastmonthreds.each do | a,b | %>
								<tr>
									<td class="inner"><%= Staff.find(:all, :select => 'name', :conditions => ["thumb_id = ?", a.to_i ]).map(&:name)%></td>
									<td class="inner"><%= b %> Days</td>
								</tr>
								<% end %>
							</table>
					<% end %></td>
					
		<td class="lattes">
						<% if @prevmonthreds.size == 0 %>
							No staff in this category
						<% else %>
								<table width=85%>
								<% @prevmonthreds.each do | a,b | %>
									<tr>
										<td class="inner"><%= Staff.find(:all, :select => 'name', :conditions => ["thumb_id = ?", a.to_i ]).map(&:name)%></td>
										<td class="inner"><%= b %> Days</td>
									</tr>
								<% end %>
								</table>
						<% end %>
						</td>
	</tr>
	<tr class="green_lates">
			<td class="lattes">
						<% if @thismonthgreens.size == 0 %>
							No staff in this category
						<% else %>
								<table width=85%>
								<% @thismonthgreens.each do | a,b | %>
									<tr>
										<td class="inner"><%= Staff.find(:all, :select => 'name', :conditions => ["thumb_id = ?", a.to_i ]).map(&:name)%></td>
										<td class="inner"><%= b %> Days</td>
									</tr>
								<% end %>
								</table>
						<% end %></td>
						
			<td class="lattes">
						<% if @lastmonthgreens.size == 0 %>
							No staff in this category
						<% else %>
								<table width=85%>
								<% @lastmonthgreens.each do | a,b | %>
								<tr>
									<td class="inner"><%= Staff.find(:all, :select => 'name', :conditions => ["thumb_id = ?", a.to_i ]).map(&:name)%></td>
									<td class="inner"><%= b %> Days</td>
								</tr>
								<% end %>
								</table>
						<% end %></td>
					
			<td class="lattes">
						<% if @prevmonthgreens.size == 0 %>
							No staff in this category
						<% else %>
								<table width=85%>
								<% @prevmonthgreens.each do |a,b | %>
								  <BR/><%= a %>, <%= b %>
								<% end %>
								</table>
						<% end %></td>
		</tr>
</table>