<table width=100%>
	<tr>
		<td class="leftcol"><%= f.label :code %></td>
		<td> <%= f.text_field :code, :size => '15' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><%= f.label :name %></td>
		<td> <%= f.text_field :name, :size => '25' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><%= f.label :description %></td>
		<td> <%= f.text_field :description, :size => '70' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><%= f.label :created_by %></td>
		<td><#%= f.collection_select :created_by, Staff.find(:all, :conditions => ['id =?', User.current_user.staff_id]), :id, :name %></td>
	</tr>
</table>

<H2>Timetable Details</H2>
<table style="width:60%; margin-left:20%">	
	<tr>
		<th width=65px>Period</th>
		<th width=100px>Day</th>
		<th width=140px>Starts At</th>
		<th width=140px>Ends At</th>
		<th width=100px>Break</th>
		<th>Delete</th>
	</tr>
</table>
<% f.fields_for :timetable_periods do |builder| %>
	<%= render 'timetable_period_fields', :f => builder %>
<% end %>

<p style="margin-left:70%;"><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add More'), f, :timetable_periods %> - Add More</p>





