<div class="tform">
	<H2>Timetable Entry</H2>
  <table width=100% >
			<tr>
				<td class="leftcol"><label for="intake_id"><b>Class Name:</b></label></td>
				<td><%= f.collection_select :klass_id, Klass.find(:all), :id, :name, :include_blank => true %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="topic_id"><b>Topic:</b></label></td>
				<td><%= f.collection_select :topic_id, Topic.find(:all), :id, :name, :include_blank => true%></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="staff_id"><b>Staff Name:</b></label></td>
				<td><%= f.collection_select :staff_id, Staff.find(:all), :id, :staff_name_with_position, :include_blank => true%></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="residence_id"><b>Location:</b></label></td>
				<td><%= f.collection_select :location_id, Location.find(:all), :id, :name, :include_blank => true %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="timing_id"><b>Start:</b></label></td>
				<td><%= f.datetime_select :start_at, :minute_step => 15, :include_blank => true %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="timing_id"><b>End:</b></label></td>
				<td><%= f.datetime_select :end_at, :minute_step => 15, :include_blank => true %></td>
			</tr>
	
	
	</table>
<BR>





 
  
  
 
 
  
 