<div class="fields">
<table style="width:60%; margin-left:20%">
		<tr>
			<td width=65px><%= f.select :sequence, 1..9  %></td>
			<td width=100px><%= f.select :day_name, 
			           TimetablePeriod::DAY_CHOICE,
			           :prompt => "Select"  %></td>
			<td width=140px><%= f.time_select :start_at, :minute_step => 15 %></td>
			<td width=140px><%= f.time_select :end_at, :minute_step => 15 %></td>
			<td width=100px><%= f.check_box :is_break %> <label> Break</label></td>
			<td><%= f.hidden_field :_destroy %>
			<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %></td>
		</tr>
	</table>
</div>