<% form_for(@timetable) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2>Edit Timetable</H2>
		<%=render :partial => 'form', :locals => {:f => f} %>
	</div>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @timetable %> |
<%= link_to 'Back', timetables_path %>