<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Timetables</h2>
		<div class="right">
	  </div>
	</div>
</div>


<div class="toolbar">
	<table width=100%><tr>
		<td><p><%= link_to image_tag("add.png", :border => 0, :title => 'Create a new Timetable') + "New Timetable", new_timetable_path %></p></td>
	</tr></table>
</div>


<div class="indextable">

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Created by</th>
		<th colspan=3 class="ac">Control</th>
  </tr>

<% @timetables.each do |timetable| %>
  <tr>
    <td><%=h timetable.code %></td>
    <td><%=h timetable.name %></td>
    <td><%=h timetable.description %></td>
    <td><%=h check_kin{timetable.created_by.name} %></td>
		<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'),                    :action => 'show', :id => timetable %></td>
		<td width=10px><%= link_to image_tag("edit.png",     :border => 0, :title => 'Edit'),                    :action => 'edit', :id => timetable %></td>
		<td width=10px ><%= link_to image_tag("delete.png",   :border => 0, :title => 'Delete'), timetable, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
</div>

<%= link_to 'New timetable', new_timetable_path %>