<div class="tform">

<fieldset>
	<legend class='togvis'>Timetable</legend>
		<table width=85% >
			<tr>
				<td class="leftcol"><label>Code:</label></td>
				<td><%=h @timetable.code %></td>				
			</tr>
			
			<tr>
				<td class="leftcol"><label>Name:</label></td>
				<td><%=h @timetable.name %></td>				
			</tr>
			
			<tr>
				<td class="leftcol"><label>Description:</label></td>
				<td><%=h @timetable.description %></td>				
			</tr>
			
			<tr>
				<td class="leftcol"><label>Name:</label></td>
				<td><%=h @timetable.created_by.name %></td>				
			</tr>
		</table>
		<BR/><BR/>
		<legend class='togvis'>Period Timings</legend>
		<BR>
		<table width=100% style="border:none">
		<!--<#% for timetable in @timetable.timetable_periods %>-->
		<% @hello = (@timetable.timetable_periods.maximum("sequence")).to_i %>	
		<% @timetable.timetable_periods.in_groups_of(7, false) do |row_things| %>
		<tr>
			<td align=center style=" text-align:center; padding:4px; vertical-align:middle;">
				<%= (TimetablePeriod::DAY_CHOICE.find_all{|disp, value| value == (row_things.map(&:day_name)[0]) }).map {|disp, value| disp} %></td>
			<% for periods in row_things %>
			
				<% if periods.day_name == 1 %>
					<td align=center style="border:1px solid black; text-align:center; padding:4px;">
						<strong><%= periods.sequence %></strong><BR>
						<%= l(periods.start_at )%> - <%= l(periods.end_at) %><BR>
						<%= periods.is_break? ? "Break" : "" %></td>
				<% else %><% end %>
			<% end %>
			<% for periods in row_things %>
				<% if periods.day_name == 2 %>
					<td align=center style="border:1px solid black; text-align:center; padding:4px;">
						<strong><%= periods.sequence %></strong><BR>
						<%= l(periods.start_at )%> - <%= l(periods.end_at) %><BR>
						<%= periods.is_break? ? "Break" : "" %></td>
				<% else %><% end %>
			<% end %>

				
		</tr>

		<% end %>
		</table>
</fieldset>


</div>

<%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<%= link_to 'Back', timetables_path %>