<div class="tform">

<fieldset>
	<legend class='togvis'>Timetable</legend>
		<table width=85% >
			<tr>
				<td class="leftcol"><label>Code:</label></td>
				<td><%=h @timetable.code %></td>				
			</tr>
			
			<tr>
				<td class="leftcol"><label>Name:</label></td>
				<td><%=h @timetable.name %></td>				
			</tr>
			
			<tr>
				<td class="leftcol"><label>Description:</label></td>
				<td><%=h @timetable.description %></td>				
			</tr>
			
			<tr>
				<td class="leftcol"><label>Name:</label></td>
				<td><%=h @timetable.created_by.name %></td>				
			</tr>
		</table>
		
		<H2>Timetable</H2>
		<table width=100%>
		<% for timetable in @timetable.timetable_periods %>
			<table style="width:60%; margin-left:20%">
					<tr>
						<td width=100px><%= timetable.day_name %></td>
						<td width=65px><%= timetable.sequence  %></td>
						<td width=140px><%= l(timetable.start_at )%></td>
						<td width=140px><%= l(timetable.end_at) %></td>
						<td width=100px><%= timetable.is_break? ? "Break" : "" %></td>
					</tr>
				</table>
		<% end %>
		</table>
</fieldset>

</div>

<%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<%= link_to 'Back', timetables_path %>