<div class="tform">
<H2>Time Table Details</H2>
  <table width=100% >
		<tr>
			<td class="leftcol"><label for="intake_id">Class Name</label></td>
			<td width=3%><b>:</b></td>
			<td><%=h @timetable.classroom_id.blank? ? "" : @timetable.classroom_details %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="topic_id">Subject Name</label></td>
			<td><b>:</b></td>
			<td><%=h @timetable.classroom_id.blank? ? "" : @timetable.subject_details %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="topic_id">Topic</label></td>
			<td><b>:</b></td>
			<td><%=h @timetable.topic_id.blank? ? "" : @timetable.topic_details %></td>
		</tr>

		<tr><!--18/10/2011 - Shaliza fixed error if staff does not have position -->
			<td class="leftcol"><label for="staff_id">Staff Name</label></td>
			<td><b>:</b></td>
			<td><%=h @timetable.staff_details %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="residence_id">Location</label></td>
			<td><b>:</b></td>
			<td><%=h @timetable.location_id.blank? ? "" : @timetable.location.name %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="subject_id">Time</label></td>
			<td><b>:</b></td>
			<td><%=h @timetable.start_at? ? @timetable.start_at.strftime("%I:%M%p") + ' to ' + @timetable.end_at.strftime("%I:%M%p %d-%b-%Y") : "" %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="subject_id">Student Count</label></td>
			<td><b>:</b></td>
			<td><%=h @timetable.student_count %><BR>
			<% for student in @timetable.my_students%>
			<%= (student.name).upcase %><BR>
			<% end %></td>
		</tr>
</table>
</div>
<BR>
<%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<%= link_to 'Back', timetables_path %>