<h1>Listing of Salutations</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @stafftitles.each do |stafftitle| %>
  <tr>
	
    <td><%=h stafftitle.name %>
    <td><%= link_to 'Show', stafftitle %></td>
    <td><%= link_to 'Edit', edit_stafftitle_path(stafftitle) %></td>
    <td><%= link_to 'Destroy', stafftitle, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New stafftitle', new_stafftitle_path %>