<div class="tform">
<h2>Lecturer Info</h2>
<table width=100% >
	
	<tr>
		<td  width=20%><label for="short_name">&nbsp;Lecturer Name</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @average_course.evaluated_lecturer.name %><!--8March2013--></td>
	</tr>
	
	<tr>
		<td  width=20%><label for="short_name">&nbsp;IC No</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @average_course.evaluated_lecturer.icno %><!--8March2013--></td>
	</tr>
	
	<tr>
		<td  width=20%><label for="short_name">&nbsp;Rank/Position</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @average_course.evaluated_lecturer.position_for_staff %><!--8March2013--></td>
	</tr>
	
</table>
<h2>Course Info</h2>
<table width=100% >
	
	<tr>
		<td  width=20%><label for="short_name">&nbsp;Course Name</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @average_course.course.name %><!--8March2013--></td>
	</tr>
	
	<tr>
		<td  width=20%><label for="short_name">&nbsp;Course Type</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @average_course.course.specialisation %><!--8March2013--></td>
	</tr>
	
	<!--20Feb2013-subject added-->
	<tr>
		<td  width=20%><label for="short_name">&nbsp;Subject</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @average_course.subjectavg.name %><!--8March2013--></td>
	</tr>
	<!--20Feb2013-subject added-->
	
	<tr>
		<td  width=20%><label for="short_name">&nbsp;Jumlah Pelatih</label></td>
		<td width=3%><b>:</b></td>
		<td>
			<!--20Feb2013-Jumlah pelatih : total student completed appraisal out of total student--><!--8March2013-->
			<%= AverageLecturer.find_evaluations(@average_course.lecturer_id,@average_course.subject_id).count %>
			 / <%=h Student.find(:all, :conditions=>['course_id=?', @average_course.programme_id]).count %>
			<!--20Feb2013-Jumlah pelatih : total student completed appraisal out of total student--><!--8March2013-->
		</td>
	</tr>
	
	<tr>
		<td  width=20%><label for="short_name">&nbsp;Peringkat</label></td>
		<td width=3%><b>:</b></td>
		<td></td>
	</tr>
	
</table>
<h2>Analysis Evaluation Details</h2>
<table width=100% >
	
	<tr>
		<td  width=20%><label for="short_name"><font size=2>&nbsp;Lesson Topic</font></label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @average_course.subjectavg.name %><!--8March2013--></td>
	</tr>
	
	<tr>
		<td>Average Score</td>
		<td width=3%><b>:</b></td>
		<td>
<table width=100% border=1 cellspacing=0 cellpadding=7 BORDERCOLOR="#E8E8E8 ">	
		<tr>
			<td width="10" ><font size=2><b>BIL</b></font></td>
			<td align="center" width=45%><font size=2 ><b>PERKARA</b></font></th>
			<td width="10" colspan=9 align="center"><font size=2><b>SKOR</b></font></td>
		</tr>

		<!--20feb2013-display of table for Average Score-->
		<% 1.upto(8) do |counter| %>
		<tr>
			<td><%=counter%>.</td>
			<td>
				<% if counter==1 %>Pencapaian objektif pelajaran
				<% elsif counter==2 %>Pengetahuan pensyarah tentang pelajaran yang diajar
				<% elsif counter==3 %>Mutu pencapaian pensyarah
				<% elsif counter==4 %>Isi kandungan pelajaran
				<% elsif counter==5 %>Mutu alat pandang dengar yang digunakan
				<% elsif counter==6 %>Kesesuaian turutan topik dalam jadual
				<% elsif counter==7 %>Kesesuaian kerja sindikit dengan objektif pelajaran
				<% elsif counter==8 %>Faedah bahan/nota yang diedarkan
				<% end %>
				<!--8March2013-->
				<% @purata = AverageLecturer.find_average(@average_course.lecturer_id,@average_course.subject_id,counter) %>
			</td>
			<td align="center"><% if @purata == 1  %><b><%= @purata %></b><% else %><font color="#A0A0A0">1</font><% end %></td>
			<td align="center"><% if @purata == 2  %><b><%= @purata %></b><% else %><font color="#A0A0A0">2</font><% end %></td>	
			<td align="center"><% if @purata == 3  %><b><%= @purata %></b><% else %><font color="#A0A0A0">3</font><% end %></td>
			<td align="center"><% if @purata == 4  %><b><%= @purata %><b><% else %><font color="#A0A0A0">4</font><% end %></td>
			<td align="center"><% if @purata == 5  %><b><%= @purata %></b><% else %><font color="#A0A0A0">5</font><% end %></td>
			<td align="center"><% if @purata == 6  %><b><%= @purata %></b><% else %><font color="#A0A0A0">6</font><% end %></td>
			<td align="center"><% if @purata == 7  %><b><%= @purata %></b><% else %><font color="#A0A0A0">7</font><% end %></td>
			<td align="center"><% if @purata == 8  %><b><%= @purata %></b><% else %><font color="#A0A0A0">8</font><% end %></td>
			<td align="center"><% if @purata == 9  %><b><%= @purata %></b><% else %><font color="#A0A0A0">9</font><% end %></td>
		</tr>
		<% end %>
		<!--20feb2013-display of table for Average Score-->		
	</table></td>
	</tr>
	
	<tr>
		<td width=20%><label for="short_name"><font size=2>&nbsp;General Dissatisfaction</font></label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @average_course.dissactifaction %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="short_name">Improvements Proposal</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @average_course.recommend_for_improvement %></td>
	</tr>	
</table>

<h2>Summary Evaluation</h2>
<table width=100% border=0 cellspacing=0 >
	
	<tr>
		<td colspan=4><font color="grey", size="-2">Kriteria Penilaian LAYAK atau TIDAK LAYAK adalah berdasarkan tiga aspek
	    teras di bawah yang mana skor purata setiap aspek tidak boleh kurang dari nilai 5:</font></td>
	</tr>
	
	<tr>
		<td width=20%><label for="short_name"><font size=2>&nbsp;Evaluation Criteria</font></label></td>
		<td width=3%><b>:</b></td>
		<td width=25%>a. Pengetahuan Pensyarah</td>
		<td><%=h @average_course.lecturer_knowledge %><!--8March2013--></td>
	</tr>
	
	<tr>
		<td width=20%><label for="short_name"><font size=2></font></label></td>
		<td width=3%><b>:</b></td>
		<td>b. Mutu Penyampaian</td>
		<td><%=h @average_course.delivery_quality %></td>
	</tr>
	
	<tr>
		<td width=20%><label for="short_name"><font size=2></font></label></td>
		<td width=3%><b>:</b></td>
		<td>c. Isi Kandungan Pelajaran</td>
		<td><%=h @average_course.summary_evaluation %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="short_name">Evaluation Category</label></td>
		<td width=3%><b>:</b></td>
		<td colspan=2><%=h (AverageLecturer::CATEGORY.find_all{|disp, value| value == @average_course.evaluate_category.to_s}).map {|disp, value| disp} %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="short_name">Supporting Justification</label></td>
		<td width=3%><b>:</b></td>
		<td colspan=2><%=h @average_course.support_justify %></td>
	</tr>	
</table>
<h2>Authentication Principal</h2>
<table width=100% >
	
	<tr>
		<td width=20%><label for="short_name"><font size=2>&nbsp;Principal Name</font></label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @average_course.principal_id? ? @average_course.principal.staff_name_with_title : "" %><!--20Feb2013--></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="short_name">&nbsp;Date</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @average_course.principal_date? ? @average_course.principal_date.strftime("%d-%b-%Y") : "" %><!--20Feb2013--></td>
	</tr>	
</table>
<BR>
</div>

<%= link_to 'Edit', edit_average_lecturer_path(@average_course) %> |
<%= link_to 'Back', average_lecturers_path %>