<script type="text/javascript">
//<![CDATA[
        bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
  //]]>
</script>


<div class="tform">
  <H2>Exam</H2>
	<table width=100% >
		<tr>
			<td class="leftcol"><%= f.label :name %></td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label :description %></td>
			<td><%= f.text_field :description %></td>
		</tr>
		<!--
		<tr>
			<td><%= f.label :creator_id %></td>
			<td><%= f.text_field :creator_id %></td>
		</tr>
		-->
	</table>
	<H2>Questions</H2>
	<table width=90%>
		<tr>
			<td colspan=4><strong>MCQ</strong><BR><HR></td>
		</tr>
		<% for examquestion in Examquestion.find(:all, :conditions => ['questiontype =?', 'MCQ'] ) %>
		<tr>
			<td><%= examquestion.subject.name %></td>
			<td><%= examquestion.question %></td>
			<td><%= examquestion.category %></td>
			<td><%= check_box_tag "exammaker[examquestion_ids][]", examquestion.id, @exammaker.examquestions.include?(examquestion) %></td>
	  </tr>
	  <% end %>
	
	 	<tr>
			<td colspan=4><strong><BR><BR>MEQ</strong><BR><HR></td>
		</tr>
		<% for examquestion in Examquestion.find(:all, :conditions => ['questiontype =?', 'MEQ'] ) %>
		<tr>
			<td><%= examquestion.subject.name %></td>
			<td><%= examquestion.question %></td>
			<td><%= examquestion.category %></td>
			<td><%= check_box_tag "exammaker[examquestion_ids][]", examquestion.id, @exammaker.examquestions.include?(examquestion) %></td>
	  </tr>
	  <% end %>
	</table>
</div>