<div class="tform">
  <H2>Examination Paper Details</H2>
	<table width=100% >
		<tr>
			<td class="leftcol"><%= f.label :name %></td>
			<td><b>:</b></td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label :description %></td>
			<td><b>:</b></td>
			<td><%= f.text_field :description %></td>
		</tr>
		
		<tr>
			<td class="leftcol">Creator Name</td>
			<td><b>:</b></td>
			<td><%= f.collection_select :creator_id, Staff.find(:all), :id, :staff_name_with_title, :include_blank => true %></td>
		</tr>
		
		<tr>
			<td class="leftcol">Subject Name</td>
			<td><b>:</b></td>
			<td>
				<% unless @exammaker_all %>
					<!-- this part is for first time data entry -->
					<%= f.collection_select :subject_id, Subject.find(:all), :id, :subject_code_with_subject_name,{:include_blank => true},
											:onchange => remote_function(:update => form_tag_id(f.object_name, :examquestion_list), 
											:url => {:action => 'view_examquestion' }, 
											:with => "'subjectid='+$('"+form_tag_id(f.object_name, :subject_id)+"').value 
											+'&exammaker_eq='+'#{@exammaker.id}' ") %>
					<!-- this part is for first time data entry -->
				<% else %> 
					<% unless @exammaker_all[:subject_id].blank? || @exammaker_all[:subject_id].nil?%>
						<!-- this part is for re-submission WITH previously entered programme_id-->
						<%= select_tag "exammaker[subject_id]",
									"<option value="+@exammaker_all[:subject_id].to_s+">"+Subject.find(@exammaker_all[:subject_id]).subject_code_with_subject_name+"</option>" + 
									options_from_collection_for_select(Subject.find(:all,:conditions=>['id!=?',@exammaker_all[:subject_id]]),:id, :subject_code_with_subject_name ),
									{:onchange => remote_function(:update => form_tag_id(f.object_name, :examquestion_list), 
									:url => {:action => 'view_examquestion' }, 
									:with => "'subjectid='+$('"+form_tag_id(f.object_name, :subject_id)+"').value 
									+'&exammaker_eq='+'#{@exammaker.id}' ")} %>
						<!-- this part is for re-submission WITH previously entered programme_id-->
					<% else%>
						<!-- this part is for re-submission without previously entered programme_id-->
						<%= f.collection_select :subject_id, Subject.find(:all), :id, :subject_code_with_subject_name,{:include_blank => true},
												:onchange => remote_function(:update => form_tag_id(f.object_name, :examquestion_list), 
												:url => {:action => 'view_examquestion' }, 
												:with => "'subjectid='+$('"+form_tag_id(f.object_name, :subject_id)+"').value 
												+'&exammaker_eq='+'#{@exammaker.id}' ") %>
						<!-- this part is for re-submission without previously entered programme_id-->
					<% end %>
				<% end %>
			</td>
		</tr>
		
		
		<tr>
			<td class="leftcol">Course Name</td>
			<td><b>:</b></td>
			<td><%= f.collection_select :course_id, Programme.find(:all), :id, :name, :include_blank => true %> <%= f.collection_select :intake, Intake.find(:all), :id, :name, :include_blank => true %></td>
		</tr>
		
		<tr>
			<td class="leftcol">Date</td>
			<td><b>:</b></td>
			<td><%= f.date_select :exam_date, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>
		
		<tr>
			<td class="leftcol">Time</td>
			<td><b>:</b></td>
			<td><%= f.text_field :duration_exam, :size => 15 %></td>
		</tr>
		
		<tr>
			<td class="leftcol">Full Mark</td>
			<td><b>:</b></td>
			<td><%= f.text_field :full_mark, :size => 12 %></td>
		</tr>
		
		<tr>
			<td class="leftcol">Passing Mark</td>
			<td><b>:</b></td>
			<td><%= f.text_field :pass_mark, :size => 12 %></td>
		</tr>

</table>
<H2>Questions</H2>
<table width=90%>
	<tr>
		<td>
			<%= tag("div", :id => form_tag_id(f.object_name, :examquestion_list)) %>
				<!-- for edit part -->
				<% @exammaker_id = @exammaker.id %>
				<% @exammaker_subject_id = @exammaker.subject_id %>
				
				<% if @exammaker_all %>
					<% @exammaker_subject_id = @exammaker_all[:subject_id] %>
				<% end %>
				<%= render :partial => 'available_examquestion', :locals => {:exammaker_eq=> @exammaker_id, :subjectid => @exammaker_subject_id} %>
				<!-- for edit part -->
			</div>
		</td>
	</tr> 
</table>
</div>