<h3>Editing Exam Maker</h3>
<% form_for @exammaker, :html => {:name => 'form1',:onsubmit => "return verify_checkboxes(document.form1)"}  do |f| %>
<!--<#% form_for(@exammaker) do |f| %>-->
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @exammaker %> |
<%= link_to 'Back', exammakers_path %>