<div class="box">
	<div class="box-head">
		<h2 class="left">Exam Maker</h2>
	</div>
</div>

<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => 'New Exam Question') + "New", new_exammaker_path %></p>
</div>

<div class="indextable">
	<table>
	  <tr>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Creator</th>
			<th colspan=3 class="ac">Control</th>
	  </tr>

		<% @exammakers.each do |exammaker| %>
		  <tr>
		    <td><%=h exammaker.name %></td>
		    <td><%=h exammaker.description %></td>
		    <td><%=h exammaker.creator_id %></td>
		    <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => exammaker %></td>
		    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => exammaker %></td>
		    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), exammaker, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
		</table>

<br />
</div>
<%= link_to 'New Exam', new_exammaker_path %>