<p>
  <b>Name:</b>
  <%=h @exammaker.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @exammaker.description %>
</p>

<p>
  <b>Creator:</b>
  <%=h @exammaker.creator_id %>
</p>


<%= link_to 'Edit', edit_exammaker_path(@exammaker) %> |
<%= link_to 'Back', exammakers_path %>