<div class="tform">
<H2>Topic Details</H2>
  <table width=100% >

	<tr>
		<td width=23%><label for="subject_id"><font size=2>&nbsp;Subject</font></label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :subject_id, Subject.find(:all), :id, :subject_code_with_subject_name, :include_blank => true %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="topic_code">Topic Code</label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :topic_code %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="sequenceno">Sequence No</label></td>
		<td><b>:</b></td>
		<td><%= f.select :sequenceno, options_for_select([1,2,3,4,5,6,7,8,9,10,11,12], @topic.sequenceno) %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="name">Topic Name/Title</label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="duration">Duration for Topic</label></td>
		<td><b>:</b></td>
		<td><%= f.select :durahours, options_for_select([0,1,2,3], @topic.durahours) %>:
		    <%= f.select :duramins, options_for_select([0,15,30,45], @topic.duramins) %>
		    <font color=#AAA size=-2>Hours:Minutes</font></td>
	</tr>
</table>
<H2>Training Plan Details</H2>
<table width=100%>
	<tr>
		<td width=23%><label for="version"><font size=2>&nbsp;Organization</font></label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :organisation %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="version">Department</label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :department %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="version">Date</label></td>
		<td><b>:</b></td>
		<td><%= f.date_select :date_plan, :start_year => 2012, :end_year => 2020, :order => [:day, :month, :year] %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="creator_id">Trainer/Lecturer</label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :creator_id, Staff.find(:all, :include => [:title], :order => 'titles.id ASC'), :id, :staff_name_with_title, :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="creator_id">Learners/Trainees</label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :class_id, Klass.find(:all), :id, :name, :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="creator_id">Location</label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :location_id, Location.find(:all,  :conditions => {:typename => 6}, :order => :id), :id, :location_list, :include_blank => true %></td>
	</tr>
	
   	<tr>
		<td class="leftcol"><label for="activity">Learning Outcomes</label></td>
		<td><b>:</b></td>
		<td><%= f.text_area :learning_outcome, :size => '45x5' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="version">The Training Methods I will use</label></td>
		<td><b>:</b></td>
		<td><%= f.text_area :version, :size => '45x5' %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="objective">My introduction to this training will include</label></td>
		<td><b>:</b></td>
		<td><%= f.text_area :objective, :size => '45x5' %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="content">The main points I will cover in the body (content) of my training will be</label></td>
		<td><b>:</b></td>
		<td><%= f.text_area :content, :size => '45x5' %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="activity">My conclusion/summary will cover</label></td>
		<td><b>:</b></td>
		<td><%= f.text_area :activity, :size => '45x5' %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="activity">How I will assess competencies</label></td>
		<td><b>:</b></td>
		<td><%= f.text_area :competency, :size => '45x5' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="activity">Things that I will need to organise before I do my training</label></td>
		<td><b>:</b></td>
		<td><%= f.text_area :organise_training, :size => '45x5' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="activity">The resources, materials and training aids I will need</label></td>
		<td><b>:</b></td>
		<td><%= f.text_area :material_training, :size => '45x5' %></td>
	</tr>
</table>

<table width=100%>
		<tr>
			<td width=23%><font size=2>&nbsp;Training Notes</font></td>
			<td><b>:</b></td>
			<td>
			<div>
			<% f.fields_for :training_notes, :html => { :multipart => true} do |builder| %>
			<%= render 'training_note_fields', :f => builder %>
				<% end %>
			<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :training_notes %> - Add More </p>
					</div></td>
			</tr>	
</table>
<H2>Lesson Plan</H2>
<div>
<table width=100% border=1 cellspacing=0>
		<tr>
			<th width=10%>Timing</td>
			<th width=30%>Learning Objective</th>
			<th width=45%>Main Tasks/Process</th>
			<th width=10%>Resources</th>
			<th width=5%></th>
		</tr>
		</table>
			<% f.fields_for :lesson_plans do |builder| %>
			<%= render 'lesson_plan_fields', :f => builder %>
				<% end %>
			<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :lesson_plans %> - Add More </p>
</div>
<table width=100%>
<tr>
	<td width=23%><label for="approvedby_id"><font size=2>&nbsp;Approved By</font></label></td>
	<td><b>:</b></td>
	<td><%= f.collection_select :approvedby_id, Position.find(:all, :conditions => {:unit => "Ketua Unit Pengajar"} ), :id, :unit_staff_name, :include_blank => true %></td>
</tr>
</table>			
<% if @topic.approvedby_id != nil %>
<H2>Approval</H2>
<table>
	
	<tr>
		<td class="leftcol"><label for="approved">Approved?</label></td>
		<td><b>:</b></td>
		<td> <%= f.check_box :approved %> <font color=#AAA size=-2>Tick &#10003; if Approved</font></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="remarks">Remarks</label></td>
		<td><b>:</b></td>
		<td> <%= f.text_area :remarks, :size => '45x2' %></td>
	</tr> 
	
	<tr>
		<td class="leftcol"><label for="approved_date">Approved On</label></td>
		<td><b>:</b></td>
		<td><%= f.date_select :approved_date, :order => [:day, :month, :year] , :include_blank => true %></td>
	</tr>

</table>
<% end %>
<!--<H2>Checking</H2>
<table>
	

	<tr>
		<td class="leftcol"><label for="checkcode">Checking Code</label></td>
		<td><#%= f.text_field :checkcode %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="checkdate">Check Date</label></td>
		<td><#%= f.date_select :checkdate, :order => [:day, :month, :year] , :include_blank => true %></td>
	</tr>
</table>-->
</div>