<div class="fields">
	<%= f.file_field :document %> &nbsp;   &nbsp;<BR>
	<%= f.text_field :title, :placeholder => 'Title', :size => '50x1' %>
	<%= f.text_field :version, :placeholder => 'Version', :size => '6x1' %>  &nbsp;   &nbsp; <BR>
	Release Date <%= f.date_select :release %><%= f.hidden_field :_destroy %>
	<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>
	<BR><BR>
</div>