<h3>Editing Topic</h3>

<% form_for(@topic) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>

<p>
   <%= f.submit 'Update' %>
 </p>
<% end %>

<%= link_to 'Show', @topic %> |
<%= link_to 'Back', topics_path %>