<div class="box">
  <div class="box-head">
    <h2 class="left">Topics</h2>
	  <div class="right">
		   <!-- Put Search Here -->
	  </div>
	</div>
</div><!--18/10/2011 - Shaliza fixed error for DIVs -->

<div class="tlist">
<table width=100%>
	<tr>
		<th colspan=11><%= link_to image_tag("add.png", :border => 0, :title => 'Create a new Topic') + "New", new_topic_path %></th>
	</tr>
  <tr>
    <th>Topic Code</th>
    <th>Seq. No</th>
    <th>Topic Name/Title</th>
    <th>Duration</th>
    <th>Version No</th>
    <th>Created By</th>
    <th>Approved By</th>
    <th>Approved Date </th>
    <th colspan=3 class="ac">Control</th>
  </tr>

	

	<% @topic_booba.each do |booba, topics| %>
	<tr>
		  <td colspan=12><b><%=h booba %></b></td>
	<tr>
		<% for topic in topics %>
	<!--	<#% @topics.each do |topic| %>-->
	<tr>
		    <td><%=h topic.topic_code %></td>
		    <td><%=h topic.sequenceno %></td>
		    <td><%=h topic.name %></td>
		    <td><%=h topic.durahours %>:<%=h topic.duramins %> Hours</td>
		    <td><%=h topic.version %></td>
		    <td><%=h topic.created_details %></td><!--18/10/2011 - Shaliza fixed error for approver if staff no longer exists -->
				<td><%=h topic.approver_details %></td><!--18/10/2011 - Shaliza fixed error for approver if staff no longer exists -->
		    <td><%=h topic.approved_date %></td>
		    <!--18/10/2011 - Shaliza fixed with add the icons -->
		    <td width=10px><%= link_to image_tag("document.png", 	:border => 0), :action => 'show', :id => topic %></td>
		    <td width=10px>
					<% if User.current_user.staff_id == topic.approvedby_id || User.current_user.staff_id == topic.creator_id %>
						<%= link_to image_tag("edit.png", 			:border => 0), :action => 'edit', :id => topic %></td>
					<% end %>
		    <td width=10px ><%= link_to image_tag("delete.png",   :border => 0, 	:title => 'Delete'), topic, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
		<% end %>
	<% end %>
</table>
		



<br />
</div>

<%= link_to image_tag("add.png", :border => 0, :title => 'Create a new Topic') + "   New Topic", new_topic_path %>