<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >
<div id="title">
<table width=100% border="0">
	<tr>
		<td><HR></td>
	</tr>
	<tr>
		<td><center><font size=3><b>Training Plan for a Training Session</b></font><BR></center></td>
	</tr>
</table>
<BR>
<table width=100% border=1 cellspacing=0 cellpadding=7>
	<tr>
		<td width=30%><label for="version">Organization</label></td>
		<td width=70%><%=h @topic.organisation.blank? ? "-" : @topic.organisation.upcase %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="version">Department</label></td>
		<td><%=h @topic.department.blank? ? "-" : @topic.department.upcase %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="version">Date</label></td>
		<td><%=h @topic.date_plan.blank? ? "-" : @topic.date_plan.strftime("%d %b %Y").upcase %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="creator_id">Trainer/Lecturer</label></td>
		<td><%=h @topic.creator_id.blank? ? "-" : @topic.created_details.upcase %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="creator_id">Learners/Trainees</label></td>
		<td><%=h @topic.class_id.blank? ? "-" : @topic.class_plan.name.upcase %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="creator_id">Location</label></td>
		<td><%=h @topic.location_id.blank? ? "-" : @topic.loc_plan.name.upcase %></td>
	</tr>
	
   	<tr>
		<td class="leftcol"><label for="activity">Learning Outcomes</label></td>
		<td><%=raw sanitize(simple_format(@topic.learning_outcome), :tags => %w(br) ) %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="version">The Training Methods I will use</label></td>
		<td><%=raw sanitize(simple_format(@topic.version), :tags => %w(br) ) %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="objective">My introduction to this training will include</label></td>
		<td><%=raw sanitize(simple_format(@topic.objective), :tags => %w(br) ) %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="content">The main points I will cover in the body (content) of my training will be</label></td>
		<td><%=raw sanitize(simple_format(@topic.content), :tags => %w(br) ) %></td>
	</tr>
	
	</table>
	</div>
</fieldset>	
<fieldset width=10px >
<div id="title">
	<table width=100% border=1 cellspacing=0 cellpadding=7>	
	<tr>
		<td width=30%><label for="activity">My conclusion/summary will cover</label></td>
		<td width=70%><%=raw sanitize(simple_format(@topic.activity), :tags => %w(br) ) %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="activity">How I will assess competencies</label></td>
		<td><%=raw sanitize(simple_format(@topic.competency), :tags => %w(br) ) %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="activity">Things that I will need to organise before I do my training</label></td>
		<td><%=raw sanitize(simple_format(@topic.organise_training), :tags => %w(br) ) %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="activity">The resources, materials and training aids I will need</label></td>
		<td><%=raw sanitize(simple_format(@topic.material_training), :tags => %w(br) ) %></td>
	</tr>

	</table>
	
</div>
</fieldset>

<fieldset width=10px >
<div id="title">
	<table width=100% border="0">
		<tr>
			<td><HR></td>
		</tr>
		<tr>
			<td><center><font size=3><b>Session / Lesson Plans</b></font><BR></center></td>
		</tr>
	</table>
	<BR>
<table width=100% border=1 cellspacing=0 cellpadding =7>
     <tr>
	     <th width=5%>Timing</th>
		 <th width=30%><label for="data">Learning Objective</label></th>
		 <th width=50%><label for="closed">Main Tasks / Process</label></th>
		 <th width=15%><label for="closed">Resources/Tools</label></th>
	</tr>
			
			<% for lesson_plan in @topic.lesson_plans %>   
              
	<tr>
		<td><%= lesson_plan.timing %> MIN</td>
		<td><%= lesson_plan.objective %></td>
		<td><%=raw sanitize(simple_format(lesson_plan.task), :tags => %w(br) ) %></td>
		<td><%= lesson_plan.tool %></td>
	</tr>	
	
	<% end %>
	
</table>
</div>
</fieldset>
<BR>
<div id="hideLink">
<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
</div>