<h3>Editing Instructor Appraisal</h3>

<% form_for(@evaluate_coach) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @evaluate_coach %> |
<%= link_to 'Back', evaluate_coaches_path %>