<script type="text/javascript">
//<![CDATA[
bkLib.onDomLoaded(function() {
    nicEditors.editors.push(
        new nicEditor().panelInstance(
            document.getElementById('myNicEditor')
        )
    );
});
//]]>
</script>

<div class="tform">
	<h2>Topic Detail Descriptions</h2>
	<table width=100%>
		<!--1st choice-refer ...views/weeklytimetables/weeklytimetable_fields.html.erb-->
		<% aa=Programme.find(:all,:conditions=>['ancestry_depth=?',3], :order=>:combo_code) %>
		<% @semester_subject_topic_list=[] %>
		<% aa.each do |bb| %>
				<% @semester_subject_topic_list<< bb %> <!--include all topic from Programmes table-->
		<% end %>

		<tr>
			<td class="leftcol"><label>Topic</label></td>
			<td>
				<%#= f.text_field :topic_code %>
				<%# if @object_index_id.to_i > 23 %><%# if @topicdetail %>
				<%#= select_tag "topicdetail[topic_code]","<option>Select Semester-Subject | Topic</option>"+"<option selected='selected' value="+@topicdetail.topic_code.to_s+">"+@topicdetail.topic_code+"</option>"+options_from_collection_for_select(@semester_subject_topic_list, :id, :semester_subject_topic ) %>
				<%# else %>
					<%= f.collection_select :topic_code, @semester_subject_topic_list, :id, :semester_subject_topic,:include_blank=> "Select Semester-Subject | Topic" %>
				<%# end %>
			</td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label :version_no %></td>
			<td><%= f.text_field :version_no %></td>
		</tr>
		<!--
		<tr>
			<td class="leftcol"><label></label></td>
			<td><%#= f.text_field :topic_name %></td>
		</tr>-->

		<tr>
			<td class="leftcol"><label>Duration (Total Hours)</label></td>
			<td><%= f.time_select :duration %> (Hours : Minutes)</td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label :theory %></td>
			<td><%= f.time_select :theory %> (Hours : Minutes)</td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label :tutorial %></td>
			<td><%= f.time_select :tutorial %> (Hours : Minutes)</td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label :practical %></td>
			<td><%= f.time_select :practical %> (Hours : Minutes)</td>
		</tr>

		<tr>
			<td class="leftcol"><%= f.label :objectives %></td>
			<td><%= f.text_area :objctives, :size => '90x10', :id => 'myNicEditor'  %></td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label :contents %></td>
			<td><%= f.text_area :contents, :size => '90x10', :id => 'myNicEditor'  %></td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label :prepared_by %></td>
			<td><%= f.collection_select :prepared_by, Staff.find(:all, :conditions => ['id =?', User.current_user.staff_id] ), :id, :name %></td>
		</tr>

	</table>
</div>
<BR/>
