<script type="text/javascript">
//<![CDATA[
bkLib.onDomLoaded(function() {
    nicEditors.editors.push(
        new nicEditor().panelInstance(
            document.getElementById('myNicEditor')
        )
    );
});
//]]>
</script>

<div class="tform">
	<h2><%=t('topicdetail.description')%></h2>
	<table width=100%>
		<!--1st choice-refer ...views/weeklytimetables/weeklytimetable_fields.html.erb-->

		<% if @topicdetail.topic_code %>
			<!--this one works for EDIT existing record - ALL TOPICS INCLUDED-->
			<!--selection LIMITS to CURRENT topic & topics with NO topicdetail-->
			<% @semester_subject_topic_list = Programme.find(:all,:conditions=>['(ancestry_depth=? OR ancestry_depth=?) AND id NOT IN(?) OR id=?',3,4,Topicdetail.all.map(&:topic_code).uniq,@topicdetail.topic_code], :order=>:combo_code) %>
			<%#=@semester_subject_topic_list.count%>
		<% else %>
			<!--only works for ADD new record-->
			<!--selection LIMITS to topics with NO topicdetail-->
			<%# @semester_subject_topic_list = Programme.find(:all,:conditions=>['(ancestry_depth=? OR ancestry_depth=?) AND id NOT IN(?)',3,4,Topicdetail.all.map(&:topic_code).uniq], :order=>:combo_code) %>
			<%#=@semester_subject_topic_list.count%>
		<% end %>

		<!--this will list all AVAILABLE topics-->
		<%# @semester_subject_topic_list = Programme.find(:all,:conditions=>['ancestry_depth=? OR ancestry_depth=?',3,4], :order=>:combo_code) %>
		<!---->

		<tr>
			<td class="leftcol"><label><%=t('topicdetail.topic')%></label></td>
			<td>
				<% if @job_type == "matchnotes" && @rec_select != "0" %>
					<%= f.collection_select :topic_code, @semester_subject_topic_list, :id, :semester_subject_topic,:selected=> @rec_select.to_i %>
				<% else %>
					<%= f.collection_select :topic_code, @semester_subject_topic_list, :id, :semester_subject_topic,:include_blank=> "Select Semester-Subject | Topic" %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label t('topicdetail.version_no')%></td>
			<td><%= f.text_field :version_no %></td>
		</tr>
		<!--
		<tr>
			<td class="leftcol"><label></label></td>
			<td><%#= f.text_field :topic_name %></td>
		</tr>-->

		<tr>
			<td class="leftcol"><label><%=  t('topicdetail.duration')%></label></td>
			<td><%= f.time_select :duration %> (<%=t('time.hours').titleize%> : <%=t('time.minutes').titleize%>)</td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label  t('topicdetail.theory')%></td>
			<td><%= f.time_select :theory %>  (<%=t('time.hours').titleize%> : <%=t('time.minutes').titleize%>)</td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label  t('topicdetail.tutorial') %></td>
			<td><%= f.time_select :tutorial %>  (<%=t('time.hours').titleize%> : <%=t('time.minutes').titleize%>)</td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label  t('topicdetail.practical') %></td>
			<td><%= f.time_select :practical %>  (<%=t('time.hours').titleize%> : <%=t('time.minutes').titleize%>)</td>
		</tr>

		<tr>
			<td class="leftcol"><%= f.label t('topicdetail.objctives') %></td>
			<td><%= f.text_area :objctives, :size => '90x10', :id => 'myNicEditor'  %></td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label t('topicdetail.content') %></td>
			<td><%= f.text_area :contents, :size => '90x10', :id => 'myNicEditor'  %></td>
		</tr>
		<!--Add training Notes for these specific topic (details)-->
		<tr>
			<td class="leftcol"><%=t('topicdetail.add_trainingnotes')%></td>
			<td>
				<div><% @index=0 %>
					<% f.fields_for :trainingnotes do |builder| %>
						<%= render 'trainingnote_fields', {:f => builder,:aaa=> params[:topic_code],:index=>@index }%>
					<% end %>
						<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :trainingnotes %> - <%=t('addmore')%> </p>
				</div>
			</td>
		</tr>	
		<!--Add training Notes for these specific topic (details)-->
		<tr>
			<td class="leftcol"><%= f.label t('topicdetail.prepared_by') %></td>
			<td><%= f.collection_select :prepared_by, Staff.find(:all, :conditions => ['id =?', Login.current_login.staff_id] ), :id, :name %></td>
		</tr>

	</table>
</div>
<BR/>
