<div class="fields"><%#=f.hidden_field :topic_id, :value=> params[:topic_code]%>
	<!--start-for checking-->
	<%#=f.object_name %>
	<%#=f.object.document_file_name %>
	<!--end-for checking-->
	
	<font color=#444 size=-2>
		<%# if f.object.document.exists? then %><% if f.object.document!= nil %>
			Current file is : <%= f.object.document_file_name %> &nbsp;&nbsp;&nbsp;
    		<%= link_to (t 'document.download'), f.object.document.url %> ||
    		<%= link_to "ALT", f.object.document.url %>
			<BR>Or 
		<% end %>
	</font>
			
	<%= f.file_field :document %> &nbsp;   &nbsp;<BR>
	<%= f.text_field :title, :placeholder => 'Title', :size => '50x1' %>
	<%= f.text_field :version, :placeholder => 'Version', :size => '6x1' %>  &nbsp;   &nbsp; <BR>
	<%= f.date_select :release %>Release Date<%= f.hidden_field :_destroy %>
	<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>
	<BR><BR>
</div>