<% form_for(@topicdetail) do |f| %>
  <%= f.error_messages %>
	<h3>Edit Topic Detail</h3>
	<!--<div class="tform">-->
		<!--<H2>New Topic Detail</H2>-->
		<%=render :partial => 'form', :locals => {:f => f} %>
	<!--</div>-->
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @topicdetail %> |
<%= link_to 'Back', topicdetails_path %>