<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Listing Topic Details</h2>
		<div class="right">
	  </div>
	</div>
</div>

<div class="toolbar">
	<table width=100%><tr>
		<td><p><%= link_to image_tag("add.png", :border => 0, :title => 'Create a new Topic Details') + "New Topic Detail", new_topicdetail_path %></p></td>
	</tr></table>
</div>


<div class="indextable">

<table>
  <tr><!--
    <th>Topic name</th>-->
	<th width=80px>Subject</th>
    <th>Topic</th>
	<th>Version no</th>
    <th width=65px>Duration (Total Hours)</th>
    <th width=65px>Theory</th>
    <th width=65px>Tutorial</th>
    <th width=65px>Practical</th>
	<th>Prepared by</th>
	<th colspan=3 class="ac">Control</th>
  </tr>
	<%# @topicdetails.group_by{|x|x.subject_topic.root_id if !x.subject_topic.nil?} %>
	<% @topicdetails.each do |topicdetail| %>
	<%# @topicdetails.sort_by{|u|u.subject_topic.combo_code}.each do |topicdetail| %><!--WORKING-hide first-31Okt2013-->
	<!--<%#=topicdetail.id %>==<%#=topicdetail.subject_topic.combo_code %> | <%#=topicdetail.subject_topic.code %> || <br>-->
	
	<tr><!--
		<td><%#=h topicdetail.topic_name %></td>-->
		<td>
			<!--AVOID checking by : course_type=='Topic' or 'Subtopic', user may wrongly select Topic/Subtopic for course type!-->
		<% @topic_id_programme = Programme.all.map(&:id).uniq %>
		<% if @topic_id_programme.include?(topicdetail.topic_code)%>
			<% if topicdetail.subject_topic.ancestry_depth == 3 %><!--Topic-->
				<%= topicdetail.subject_topic.parent.code %>
			<% elsif topicdetail.subject_topic.ancestry_depth == 4 %><!--Subtopic-->
				<%= topicdetail.subject_topic.parent.parent.code %>
			<% else %>
				&nbsp;
			<% end %>
		<% end %>
		</td>
		<td><%#=topicdetail.subject_topic.combo_code %>
		<% if @topic_id_programme.include?(topicdetail.topic_code)%>	
			<% if topicdetail.subject_topic.ancestry_depth == 3 %>
				(<%=topicdetail.subject_topic.code %>)
			<% elsif topicdetail.subject_topic.ancestry_depth == 4 %>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=topicdetail.subject_topic.code %>&nbsp;-
			<% end %>
			&nbsp;<%=h topicdetail.subject_topic.name %>
		<% else %>
			<% unless topicdetail.topic_code.blank? %><!--31 Oct 2013-->
				<font color=red><strong>Removed topic/subtopic (Curriculum Management) - before 31st October 2013</strong></font>
			<% else %>
			<font color=red><strong>Removed topic/subtopic (Curriculum Management) - 31st October 2013 onwards</strong></font>
			<% end %>
		<% end %>
		</td>
		<td><%=h topicdetail.version_no %></td>
		<td><%=h topicdetail.duration.try(:strftime, "%HH %MMin") %></td>
		<td><%=h topicdetail.theory.try(:strftime, "%HH %MMin") %></td>
		<td><%=h topicdetail.tutorial.try(:strftime, "%HH%MMin") %></td>
		<td><%=h topicdetail.practical.try(:strftime, "%HH %MMin") %></td>
		<td><%=h topicdetail.topic_creator.try(:name) %></td>
		<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => topicdetail %></td>
		<td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => topicdetail %></td>
		<td width=10px ><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), topicdetail, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	
	
	<% end %>

</table>
<br><br>
<!--
&nbsp;<font color=red><strong>Currently Removed Topic/Subtopic in Curriculum Management - 31st October 2013 onwards</strong></font>
-->
<!--start-31Okt2013-display of topic details for DELETED PROGRAMME record (topic OR subtopic)-->
<!--
<table>
	
	<tr>--><!--
	    <th>Topic name</th>--><!--
		<th width=80px>Subject</th>
	    <th>Topic</th>
		<th>Version no</th>
	    <th width=65px>Duration (Total Hours)</th>
	    <th width=65px>Theory</th>
	    <th width=65px>Tutorial</th>
	    <th width=65px>Practical</th>
		<th>Prepared by</th>
		<th colspan=3 class="ac">Control</th>
	  </tr>
	<%# @topicdetails2.each do |topicdetail2|%>
	<tr>
		<td></td>
		<td></td>
		<td><%#=h topicdetail2.version_no %></td>
		<td><%#=h topicdetail2.duration.strftime("%HH %MMin") %></td>
		<td><%#=h topicdetail2.theory.strftime("%HH %MMin") %></td>
		<td><%#=h topicdetail2.tutorial.strftime("%HH%MMin") %></td>
		<td><%#=h topicdetail2.practical.strftime("%HH %MMin") %></td>
		<td><%#=h topicdetail2.topic_creator.name %></td>
		<td width=10px><%#= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => topicdetail2 %></td>
		<td width=10px><%#= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => topicdetail2 %></td>
		<td width=10px ><%#= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), topicdetail2, :confirm => 'Are you sure?', :method => :delete %></td>
		
	</tr>
	<%# end %>	
</table>-->
<!--end-31Okt2013-display of topic details for DELETED PROGRAMME record (topic OR subtopic)-->
	

<br />
</div>

<%= link_to 'New Topic Detail', new_topicdetail_path %>