<div class="tform">
	<H2><%=t('equery.lesson_plan.search') %></H2>

<% form_for @lessonplansearch do |f| %>
  <%= f.error_messages %>
	<table width=100% >
		<%if @searchlessonplantype=='1' || @searchlessonplantype==1 %>
			<%= hidden_field_tag :method,  1 %><%=f.hidden_field :valid_schedule, :value => 1%><%=f.hidden_field :loggedin_staff, :value => @lloginstaff%>
			<tr><td colspan=2></td><%=t('equery.lesson_plan.search_by') %> :</tr>
			<tr class="programme_item" style="display:none;">
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<label><%=t('equery.lesson_plan.programme') %></label></td>
				<td> <%#= f.collection_select :programme_id, @programme_list, :id, :programme_list, :include_blank=> t('select') %>
					<!---->
					<%= f.collection_select :programme_id, @programme_list, :id, :programme_list , {:include_blank => (t 'select')},
					:onchange => remote_function(:update => form_tag_id(f.object_name, :lecturer_list), 
					:url => {:action => 'view_lecturer'}, 
					:with => "'programmeid='+$('"+form_tag_id(f.object_name, :programme_id)+"').value ") %>
					<!---->
				</td>
			</tr>
			<tr class="intake_item">
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<%=t('equery.lesson_plan.intake_programme') %></td>
				<td>
					<%#= f.collection_select :intake_id, @intake_fr_intaketable, :id, :intake_programme, :include_blank=>t('select') %>
					<!--intake from INTAKE table-->
					<!---->
					<%= f.collection_select :intake_id, @intake_fr_intaketable, :id, :intake_programme, {:include_blank => (t 'select')},
					:onchange => remote_function(:update => form_tag_id(f.object_name, :lecturer_list), 
					:url => {:action => 'view_lecturer' }, 
					:with => "'intakeid='+$('"+form_tag_id(f.object_name, :intake_id)+"').value ") %>
					<!---->
				</td>
			</tr>
			<!--%%%%%%%%%%%%%-->
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<label><%= t('equery.lesson_plan.lecturer')%></label></td>
				<td>
					<%= tag("div", :id => form_tag_id(f.object_name, :lecturer_list)) %>
					</div>
				</td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<label><%= t('equery.lesson_plan.subject')%></label></td>
				<td>
					<%= tag("div", :id => form_tag_id(f.object_name, :subject_list)) %>
					</div>
				</td>
			</tr>
			<!--%%%%%%%%%%%%%-->
			<tr>
				<td colspan=2 style="text-valign:top;">
					&nbsp;&nbsp;&nbsp;<%= f.check_box :intake,:checked=>"checked",:class => 'intake_programme', :id=> 'intake_checker' %>&nbsp;
					<font size=-2><b><%=t('equery.untick')%></b> <%=t('equery.lesson_plan.select_by_programme')%> <b><%=t('equery.tick')%></b> </b> <%=t('equery.lesson_plan.select_by_intake_programme')%></font>
				</td>
			</tr>
		<% end %>
	</table>

  <p><%= f.submit t('search')%>&nbsp;<font size=-2></b> <%=t('equery.leaves_blank_unselected')%></font></p>
<% end %>

</div>

<script type="text/javascript">
		$j(document).ready(function(){
			$j("input[class='intake_programme']").change(function() {  
			     	if($j('#intake_checker').is(':checked')) { 
				       		$j(".programme_item").hide();
							$j(".intake_item").show();
				     }else{
							$j(".intake_item").hide();
							$j(".programme_item").show();
				     }
			   });			
		});
</script>

