<div>
	<H3><%=t('equery.lesson_plan.search') %> :<%=@intakeidd%></h3>
		
		<%= link_to t('back'), :controller=>'lessonplansearches', :action => 'new', :searchlessonplantype => 1 %><br><br>
		
		<!--additional heading-->
		<% if @lessonplansearch.lecturer && @lessonplansearch.lecturer.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.lesson_plan.search_lecturer') %> : <b><%= Staff.find(@lessonplansearch.lecturer).name %></b><br><br>
			</span>
		<% end %>
		<% if @lessonplansearch.intake_id &&@lessonplansearch.intake_id.blank? ==false && @lessonplansearch.intake == 1%>
			<span style="text-decoration:underline;">
				<%=t('equery.lesson_plan.search_intake') %>: <b><%= Intake.find(@lessonplansearch.intake_id).name %></b>
				<%=t('equery.weeklytimetable.of_programme')%>: <b><%=Intake.find(@lessonplansearch.intake_id).programme.programme_list %></b> <br><br>
			</span>
		<% end %>
		<% if @lessonplansearch.programme_id  &&@lessonplansearch.programme_id.blank? ==false && @lessonplansearch.intake != 1%>
			<span style="text-decoration:underline;">
				<%=t('equery.lesson_plan.search_programme') %>: <b><%= Programme.find(@lessonplansearch.programme_id).programme_list %></b><br><br>
			</span>
		<% end %>
		<% if @lessonplansearch.subject && @lessonplansearch.subject.blank? ==false%>
			<span style="text-decoration:underline;">
				<%=t('equery.lesson_plan.search_subject') %> : <b><%= Programme.find(@lessonplansearch.subject).subject_list %></b><br><br>
			</span>
		<% end %>
		
		<% unless @lessonplansearch.lessonplans.nil?  %>
			<%=t('equery.lesson_plan.total_lesson_plan') %> : <%=h @lessonplansearch.lessonplans.count %><br><br>
		<% end %>

		<% if @lessonplansearch.lessonplans.count > 0%>
		<table border=1 cellpadding=3 cellspacing=0>
			<tr>
				<th>No</th>
				<% if (@lessonplansearch.lecturer.blank? && @lessonplansearch.intake_id.blank? && @lessonplansearch.programme_id.blank?)|| (@lessonplansearch.lecturer && @lessonplansearch.intake_id.blank? && @lessonplansearch.programme_id.blank?) %>
					<th><%=t('equery.lesson_plan.programme') %></th>
				<% end %>
				<th><%=t('equery.lesson_plan.lecturer') %></th>
				<th width=60px><%=t('equery.lesson_plan.intake') %></th>
				<th><%=t('equery.lesson_plan.total_students') %></th>
				<th><%=t('equery.lesson_plan.year_semester') %></th>
				<th><%=t('equery.lesson_plan.subject') %></th>
				<th><%=t('equery.lesson_plan.topic') %></th>
				<th><%=t('equery.lesson_plan.lecture_title') %></th>
				<th width=65px><%=t('equery.lesson_plan.lecture_date') %></th>
				<th width=60px><%=t('equery.lesson_plan.start') %></th>
				<th width=60px><%=t('equery.lesson_plan.end') %></th>
				<th><%=t('equery.lesson_plan.plan')%></th>
				<th><%=t('equery.lesson_plan.report') %></th>
			</tr>
			<% index=0%>
			<%# @lessonplansearch.lessonplans.each_with_index do |lesson_plan, index| %>
			<% @lessonplansearch.lessonplans.sort_by{|x|[x.lessonplan_intake.programme_id, x.lessonplan_intake.monthyear_intake]}.reverse.each do |lesson_plan| %>
			<tr>
				<td><%=index+=1%><%=lesson_plan.id%></td>
				<% if (@lessonplansearch.lecturer.blank? && @lessonplansearch.intake_id.blank? && @lessonplansearch.programme_id.blank?)|| (@lessonplansearch.lecturer && @lessonplansearch.intake_id.blank? && @lessonplansearch.programme_id.blank?) %>
					<td><%=lesson_plan.schedule_item.weeklytimetable_topic.programme_coursetype_name%></td>
				<% end %>
				<td><%=Staff.find(lesson_plan.lecturer).name%></td>
				<td align="center"><%=lesson_plan.lessonplan_intake.name %></td>
				<td align="center"><%=lesson_plan.student_qty%></td>
				<td align="center"><%=lesson_plan.year%> / <%=lesson_plan.semester%></td> 
				<td align="center"><%=h lesson_plan.schedule_item.weeklytimetable_topic.subject_full %></td>
				<td align="center"><%=h lesson_plan.schedule_item.weeklytimetable_topic.name %></td>
				<td><%=h lesson_plan.lecture_title %></td>
			    <td align="center"><%=h lesson_plan.lecture_date.try(:strftime, '%d-%m-%Y') %></td>
			    <td align="center"><%=h lesson_plan.schedule_item.get_start_time %></td>
			    <td align="center"><%=h lesson_plan.schedule_item.get_end_time %></td>
				<td align="center">
					<% if lesson_plan.hod_approved==true %>
						<b><font color=blue><%=t('equery.lesson_plan.approved')%></font></b><br>
						<%= link_to t('equery.lesson_plan.view_plan'), :controller=>'lesson_plans', :action => 'lesson_plan', :id => lesson_plan.id %>
					<% else%>
						<% if lesson_plan.hod_approved==false && lesson_plan.hod_rejected==true%>
							<font color=red><b><%=t('equery.lesson_plan.rejected') %></b> (<%=lesson_plan.reason %>)</font>
						<% elsif lesson_plan.hod_approved.blank? && lesson_plan.hod_rejected.blank? && lesson_plan.is_submitted==true%>
							<b><font color=green><%=t('equery.lesson_plan.submitted') %></font></b>
						<% else %>
							<b><%=t('equery.lesson_plan.not_submit') %></b>
						<% end %>
					<% end %>
				</td>
				<td align="center">
					<% if lesson_plan.report_submit == true %>
						<% if lesson_plan.report_endorsed == true %>
							<b><font color=blue><%= t('equery.lesson_plan.endorsed')%></font></b><br>
							<%= link_to t('equery.lesson_plan.view_report'), :controller=>'lesson_plans', :action => 'lesson_plan_report', :id => lesson_plan.id %> <br>
						<% else %>
							<b><font color=green><%=  t('equery.lesson_plan.submitted')%></font></b><br>
							<%= link_to t('equery.lesson_plan.view_report'), :controller=>'lesson_plans', :action => 'lesson_plan_report', :id => lesson_plan.id %> <br>
						<% end %>
					<% end %>
				</td>
			</tr>
		<% end %>
		</table>
		<% end %>

</div>
<br><br>