<h1>Editing answerchoice</h1>

<% form_for(@answerchoice) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :examquestion_id %><br />
    <%= f.text_field :examquestion_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @answerchoice %> |
<%= link_to 'Back', answerchoices_path %>