<h1>Listing answerchoices</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Description</th>
    <th>Examquestion</th>
  </tr>

<% @answerchoices.each do |answerchoice| %>
  <tr>
    <td><%=h answerchoice.item %></td>
    <td><%=h answerchoice.description %></td>
    <td><%=h answerchoice.examquestion_id %></td>
    <td><%= link_to 'Show', answerchoice %></td>
    <td><%= link_to 'Edit', edit_answerchoice_path(answerchoice) %></td>
    <td><%= link_to 'Destroy', answerchoice, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New answerchoice', new_answerchoice_path %>