<p>
  <b>Item:</b>
  <%=h @answerchoice.item %>
</p>

<p>
  <b>Description:</b>
  <%=h @answerchoice.description %>
</p>

<p>
  <b>Examquestion:</b>
  <%=h @answerchoice.examquestion_id %>
</p>


<%= link_to 'Edit', edit_answerchoice_path(@answerchoice) %> |
<%= link_to 'Back', answerchoices_path %>