<h1>Listing examanswers</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Answer desc</th>
    <th>Examquestion</th>
  </tr>

<% @examanswers.each do |examanswer| %>
  <tr>
    <td><%=h examanswer.item %></td>
    <td><%=h examanswer.answer_desc %></td>
    <td><%=h examanswer.examquestion_id %></td>
    <td><%= link_to 'Show', examanswer %></td>
    <td><%= link_to 'Edit', edit_examanswer_path(examanswer) %></td>
    <td><%= link_to 'Destroy', examanswer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New examanswer', new_examanswer_path %>