<h1>New examanswer</h1>

<% form_for(@examanswer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </p>
  <p>
    <%= f.label :answer_desc %><br />
    <%= f.text_field :answer_desc %>
  </p>
  <p>
    <%= f.label :examquestion_id %><br />
    <%= f.text_field :examquestion_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', examanswers_path %>