<p>
  <b>Item:</b>
  <%=h @examanswer.item %>
</p>

<p>
  <b>Answer desc:</b>
  <%=h @examanswer.answer_desc %>
</p>

<p>
  <b>Examquestion:</b>
  <%=h @examanswer.examquestion_id %>
</p>


<%= link_to 'Edit', edit_examanswer_path(@examanswer) %> |
<%= link_to 'Back', examanswers_path %>