<h1>Editing assetnum</h1>

<% form_for(@assetnum) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :asset_id %><br />
    <%= f.text_field :asset_id %>
  </p>
  <p>
    <%= f.label :assetnumname %><br />
    <%= f.text_field :assetnumname %>
  </p>
  <p>
    <%= f.label :assetadnum %><br />
    <%= f.text_field :assetadnum %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @assetnum %> |
<%= link_to 'Back', assetnums_path %>