<p>
  <b>Asset:</b>
  <%=h @assetnum.asset_id %>
</p>

<p>
  <b>Assetnumname:</b>
  <%=h @assetnum.assetnumname %>
</p>

<p>
  <b>Assetadnum:</b>
  <%=h @assetnum.assetadnum %>
</p>


<%= link_to 'Edit', edit_assetnum_path(@assetnum) %> |
<%= link_to 'Back', assetnums_path %>