<h3>Editing Period Timing</h3>

<% form_for(@period_timing) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>
<%= link_to 'Show', @period_timing %> |
<%= link_to 'Back', period_timings_path %>