
<H2><%= t 'travel.travel_details' %></H2>
<table width=100% >
	<tr>
		<td class="leftcol"><label for="destination"><%= t 'travel.destination' %></label><font color="red"> * </font></td>
		<td><%= f.text_field :destination, :class => 'compulsory' %></td>
		<td></td>
	</tr>
	
	<tr>
	 	<td class="leftcol"><label for="depart_at"><%= t 'travel.depart_at' %></label><font color="red"> * </font></td>
		<td><%= f.datetime_select :depart_at, :default => (Time.now + 3.days), :use_short_month => true %></td>
		<td></td>
	</tr>
	
	<tr>
	 	<td class="leftcol"><label for="return_at"><%= t 'travel.return_at' %></label><font color="red"> * </font></td>
		<td><%= f.datetime_select :return_at, :default => (Time.now + 5.days), :use_short_month => true %></td>
		<td></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="transport_type">Transport Choice</label></td>
		<td><%= f.check_box :own_car, 		:id => 'mycar',  :class => 'tt'%><label> Own Car </label>
				<span id="tr_my_car"><%= f.text_field :own_car_notes, :size => '40', :placeholder => 'Reasons' %></span> &nbsp; 
				<%= f.check_box :dept_car, 		:id => 'offcar', :class => 'tt'%><label> Office Car &nbsp; </label>
				<%= f.check_box :others_car, 	:id => 'othcar', :class => 'tt'%><label> Other's Car &nbsp;</label></td>   
		<td></td>                                                            
	</tr>
	
	
	<tr> <!-- Show when public selected -->
		<td class="leftcol">Public Transport</td>
    <td><%= f.check_box :taxi %> <%= f.label :taxi %> &nbsp; &nbsp;
	      <%= f.check_box :bus %> <%= f.label :bus %> &nbsp; &nbsp;
				<%= f.check_box :train %> <%= f.label :train %> &nbsp; &nbsp;
				<%= f.check_box :plane %> <%= f.label :plane %> &nbsp; &nbsp;
				<label>Other Public Transport</label> <%= f.check_box :other, :id => 'other_transport' %> &nbsp; 
				<span id="tr_public_others"><%= f.text_field :other_desc, :size => '40', :placeholder => 'Describe Others' %></span> &nbsp; </td>
		<td></td>
	</tr>

	
</table>	
<H2>Submission</H2>
	
<table width=100% >
	
	
	<tr>
		<td class="leftcol">Submitted</td>
    <td><%= f.check_box :is_submitted, :id => 'check_submitted' %>
				<SPAN  id="span_submitted" style="display: none;"><%= tarikh(Date.today) %></SPAN></td>
		<td><strong>Note :</strong> :<em><%= t "travel.note" %></em></td>
	</tr>
	
	<tr>
		<td class="leftcol">Replacement</td>
    <td><%= f.collection_select :replaced_by, Staff.find(:all, :conditions => ["id IN (?)", @travel_request.repl_staff]), :id, :name, :include_blank => true %></td>
		<td></td>
	</tr>
	
	<tr>
		<td class="leftcol">Head of Dept</td>
    <td><%= f.collection_select :hod_id, Staff.find(:all, :conditions => ["id IN (?)", @travel_request.hods]), :id, :name, :include_blank => true %></td>
		<td></td>
	</tr>
</table>





<script type="text/javascript">
	$j(document).ready(function(){
	
			//Shows stuff
			$j("input[class='tt']").change(function() {  
			 if($j('#publik').is(':checked')) { 
			    $j("#tr_public_trans").show("highlight"); 
			    $j("#tr_my_car").hide(""); 
			 }else if ($j('#mycar').is(':checked')){
			    $j("#tr_public_trans").hide(""); 
			    $j("#tr_my_car").show("appear");
			    $j("#tr_public_others").hide(""); 
			 }else		{
			    $j("#tr_public_trans").hide(""); 
			    $j("#tr_my_car").hide("");
			    $j("#tr_public_others").hide(""); 
			 }	
			});
			
			//Shows stuff
			$j("input[class='tt']").each(function() {  
			 if($j('#publik').is(':checked')) { 
			    $j("#tr_public_trans").show("highlight"); 
			    $j("#tr_my_car").hide(""); 
			 }else if ($j('#mycar').is(':checked')){
			    $j("#tr_public_trans").hide(""); 
			    $j("#tr_my_car").show("highlight");
			    $j("#tr_public_others").hide(""); 
			 }else		{
			    $j("#tr_public_trans").hide(""); 
			    $j("#tr_my_car").hide("");
			    $j("#tr_public_others").hide(""); 
			 }	
			});
			
			//Shows substuff
			$j("input[id='other_transport']").change(function() {  
			 if($j('#other_transport').is(':checked')) { 
			    $j("#tr_public_others").show("appear"); 
			 }else		{
			    $j("#tr_public_others").hide(""); 
			 }	
			});
			
			$j("input[id='other_transport']").each(function() {  
			 if($j('#other_transport').is(':checked')) { 
			    $j("#tr_public_others").show("highlight"); 
			 }else		{
			    $j("#tr_public_others").hide(""); 
			 }	
			});
			
			
			//show submit date
			$j("input[id='check_submitted']").change(function() {  
			 if($j('#check_submitted').is(':checked')) { 
			    $j("#span_submitted").show("highlight"); 
			 }else		{
			    $j("#span_submitted").hide(""); 
			 }	
			});
			
			$j("input[id='check_submitted']").each(function() {  
			 if($j('#check_submitted').is(':checked')) { 
			    $j("#span_submitted").show("highlight"); 
			 }else		{
			    $j("#span_submitted").hide(""); 
			 }	
			});
			
			
			//HOD endorse
			$j("input[id='check_hod_accept']").change(function() {  
			 if($j('#check_hod_accept').is(':checked')) { 
			    $j("#span_hod_endorse").show("highlight"); 
			 }else		{
			    $j("#span_hod_endorse").hide(""); 
			 }	
			});
			
			$j("input[id='check_hod_accept']").each(function() {  
			 if($j('#check_hod_accept').is(':checked')) { 
			    $j("#span_hod_endorse").show("highlight"); 
			 }else		{
			    $j("#span_hod_endorse").hide(""); 
			 }	
			});
			
			
			
			
			
			
			
	});
</script>



