
<H2><%= t 'travel.travel_details' %></H2>
<table width=100% >
	<tr>
		<td class="leftcol"><label for="destination"><%= t 'travel.destination' %></label><font color="red"> * </font></td>
		<td><%= f.text_field :destination, :class => 'compulsory' %></td>
		<td></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="purpose"><%= t 'travel.purpose' %></label><font color="red"> * </font></td>
		<td><%= f.text_field :purpose, :class => 'compulsory' %></td>
		<td></td>
	</tr>
	
	<tr>
	 	<td class="leftcol"><label for="depart_at"><%= t 'travel.depart_at' %></label><font color="red"> * </font></td>
		<td><%= f.datetime_select :depart_at, :default => (Time.now + 3.days) %></td>
		<td></td>
	</tr>
	
	<tr>
	 	<td class="leftcol"><label for="return_at"><%= t 'travel.return_at' %></label><font color="red"> * </font></td>
		<td><%= f.datetime_select :return_at, :default => (Time.now + 5.days) %></td>
		<td></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="transport_type">Transport Choice</label></td>
		<td><%= f.radio_button :transport_type, "own", 		:id => 'mycar',  :class => 'tt'%>Own Car &nbsp; 
				<%= f.radio_button :transport_type, "office", :id => 'offcar', :class => 'tt'%>Office Car &nbsp; 
				<%= f.radio_button :transport_type, "others", :id => 'othcar', :class => 'tt'%>Other's Car &nbsp;
				<%= f.radio_button :transport_type, "publik", :id => 'publik', :class => 'tt'%>Public Transport &nbsp;</td>   
		<td></td>                                                            
	</tr>
	
	
	<tr id="tr_public_trans" style="display: none;"> <!-- Show when public selected -->
		<td class="leftcol">Other Transport Types</td>
    <td><%= f.label :train %> <%= f.check_box :train %> &nbsp; &nbsp;
				<%= f.label :plane %> <%= f.check_box :plane %> &nbsp; &nbsp;
				<label>Other Public Transport</label> <%= f.check_box :other, :id => 'other_transport' %></td>
		<td></td>
	</tr>
	
	<tr id="tr_public_others" style="display: none;"> <!-- Show when other selected -->
		<td class="leftcol">List (if Others)</td>
    <td><%= f.text_field :other_desc %></td>
    <td></td>
	</tr>
	
	<tr id="tr_my_car" style="display: none;"> <!-- Show when mycar selected -->
		<td class="leftcol">Reasons for taking own car</td>
    <td> <%= f.text_area :own_car_notes, :size => '50x2' %></td>
		<td></td>
	</tr>
	
	<tr>
		<td class="leftcol">Mileage</td>
    <td>Mileage Allowance : <%= f.check_box :mileage %> &nbsp; &nbsp;  Mileage Replacement : <%= f.check_box :mileage_replace %></td>
		<td></td>
	</tr>
	
	<tr>
		<td class="leftcol">Submitted</td>
    <td><%= f.check_box :is_submitted, :id => 'check_submitted' %>
				<SPAN  id="span_submitted" style="display: none;"><%= f.date_select :submitted_on, :default => Date.today %></SPAN></td>
		<td></td>
	</tr>
	
	<tr>
		<td class="leftcol">Replacement</td>
    <td><%= f.collection_select :replaced_by, Staff.find(:all, :conditions => ["id IN (?)", @travel_request.repl_staff]), :id, :name, :include_blank => true %></td>
		<td></td>
	</tr>
	
	<tr>
		<td class="leftcol">Head of Dept</td>
    <td><%= f.collection_select :hod_id, Staff.find(:all, :conditions => ["id IN (?)", @travel_request.hods]), :id, :name, :include_blank => true %></td>
		<td></td>
	</tr>
</table>





<script type="text/javascript">
	$j(document).ready(function(){
	
			//Shows stuff
			$j("input[class='tt']").change(function() {  
			 if($j('#publik').is(':checked')) { 
			    $j("#tr_public_trans").show("highlight"); 
			    $j("#tr_my_car").hide(""); 
			 }else if ($j('#mycar').is(':checked')){
			    $j("#tr_public_trans").hide(""); 
			    $j("#tr_my_car").show("highlight");
			    $j("#tr_public_others").hide(""); 
			 }else		{
			    $j("#tr_public_trans").hide(""); 
			    $j("#tr_my_car").hide("");
			    $j("#tr_public_others").hide(""); 
			 }	
			});
			
			//Shows stuff
			$j("input[class='tt']").each(function() {  
			 if($j('#publik').is(':checked')) { 
			    $j("#tr_public_trans").show("highlight"); 
			    $j("#tr_my_car").hide(""); 
			 }else if ($j('#mycar').is(':checked')){
			    $j("#tr_public_trans").hide(""); 
			    $j("#tr_my_car").show("highlight");
			    $j("#tr_public_others").hide(""); 
			 }else		{
			    $j("#tr_public_trans").hide(""); 
			    $j("#tr_my_car").hide("");
			    $j("#tr_public_others").hide(""); 
			 }	
			});
			
			//Shows substuff
			$j("input[id='other_transport']").change(function() {  
			 if($j('#other_transport').is(':checked')) { 
			    $j("#tr_public_others").show("highlight"); 
			 }else		{
			    $j("#tr_public_others").hide(""); 
			 }	
			});
			
			$j("input[id='other_transport']").each(function() {  
			 if($j('#other_transport').is(':checked')) { 
			    $j("#tr_public_others").show("highlight"); 
			 }else		{
			    $j("#tr_public_others").hide(""); 
			 }	
			});
			
			
			//show submit date
			$j("input[id='check_submitted']").change(function() {  
			 if($j('#check_submitted').is(':checked')) { 
			    $j("#span_submitted").show("highlight"); 
			 }else		{
			    $j("#span_submitted").hide(""); 
			 }	
			});
			
			$j("input[id='check_submitted']").each(function() {  
			 if($j('#check_submitted').is(':checked')) { 
			    $j("#span_submitted").show("highlight"); 
			 }else		{
			    $j("#span_submitted").hide(""); 
			 }	
			});
			
			
			//HOD endorse
			$j("input[id='check_hod_accept']").change(function() {  
			 if($j('#check_hod_accept').is(':checked')) { 
			    $j("#span_hod_endorse").show("highlight"); 
			 }else		{
			    $j("#span_hod_endorse").hide(""); 
			 }	
			});
			
			$j("input[id='check_hod_accept']").each(function() {  
			 if($j('#check_hod_accept').is(':checked')) { 
			    $j("#span_hod_endorse").show("highlight"); 
			 }else		{
			    $j("#span_hod_endorse").hide(""); 
			 }	
			});
			
			
			
			
			
			
			
	});
</script>



