<fieldset>
	<legend class='togvis'>Travel Request </legend>
		<table width=100%>
			<tr>
				<td class="leftcol"><label for="staff_id"><b><%= t 'staffleave.staff_id' %></b></label></td>
				<td><%=h @travel_request.applicant.staff_name_with_position unless @travel_request.applicant.blank? %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="request_code"><%= t 'document.refno' %></label></td>
				<td><!--<%#=h @travel_request.document.refno %> &nbsp; : &nbsp;   
					  <%#=h @travel_request.document.title %> &nbsp; : &nbsp;   
					  <label>dated</label><%#=h tarikh(@travel_request.document.letterdt) %>-->
					<%=h @travel_request.reference_document %>
				</td>
			</tr>
		</table>
</fieldset>

<fieldset>
	<legend class='togvis'>Travel Request Details</legend>
		<table width=100% >
			<tr>
				<td class="leftcol"><label for="destination"><%= t 'travel.destination' %></label></td>
				<td> <%=h @travel_request.destination %></td>
			</tr>

			<tr>
			 	<td class="leftcol"><label for="depart_at"><%= t 'travel.depart_at' %></label></td>
				<td><%#=h l(@travel_request.depart_at) %><%=h @travel_request.depart_at.strftime('%d %B %Y') %>,&nbsp;<%=h l(@travel_request.depart_at) %></td>
			</tr>

			<tr>
			 	<td class="leftcol"><label for="return_at"><%= t 'travel.return_at' %></label></td>
				<td><%#=h l(@travel_request.return_at) %><%=h @travel_request.return_at.strftime('%d %B %Y') %>,&nbsp;<%=h l(@travel_request.return_at)%></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="transport_type">Transport Choice</label></td>
				<td><label>
						<%=h @travel_request.own_car? ? image_tag("tick.png") : image_tag("cross.png") + ' ' + @travel_request.own_car_notes %>Own Car &nbsp; &nbsp; 
						<%=h @travel_request.dept_car? ? image_tag("tick.png") : image_tag("cross.png") %> Dept Car &nbsp; &nbsp; 
						<%=h @travel_request.dept_car? ? image_tag("tick.png") : image_tag("cross.png") %> Other's Car &nbsp; &nbsp; </label></td>                                                        
			</tr>

			<tr>
				<td class="leftcol">Public Transport</td>
		    <td><label>
						<%=h @travel_request.taxi? ? 	image_tag("tick.png") : image_tag("cross.png") %>Taxi &nbsp; &nbsp; 
						<%=h @travel_request.bus? ? 	image_tag("tick.png") : image_tag("cross.png") %> Bus &nbsp; &nbsp; 
						<%=h @travel_request.train? ? image_tag("tick.png") : image_tag("cross.png") %> Other's Car &nbsp; &nbsp; 
						<%=h @travel_request.plane? ? image_tag("tick.png") : image_tag("cross.png") %> Plane &nbsp; &nbsp; 
						<%=h @travel_request.other? ? image_tag("tick.png") : image_tag("cross.png") + ' ' + @travel_request.other_desc %>Own Car &nbsp; &nbsp; </label></td>                                                        
			</tr>

			<tr>
				<td class="leftcol">Mileage</td>
		    <td>Mileage Allowance : 	<%=h @travel_request.mileage? ? image_tag("tick.png") : image_tag("cross.png") %> &nbsp; &nbsp;  
						Mileage Replacement <%= t 'travel.train_plane_replacement'%> : <%=h @travel_request.mileage_replace? ? image_tag("tick.png") : image_tag("cross.png") %></td>
				<td></td>
			</tr>
		</table>
</fieldset>
