<fieldset>
	<legend class='togvis'><%=t('travel.title')%></legend>
		<table width=100%>
			<tr>
				<td class="leftcol"><label for="staff_id"><b><%= t 'staffleave.staff_id' %></b></label></td>
				<td><%#=h @travel_request.applicant.staff_name_with_position unless @travel_request.applicant.blank? %>
				         <%=h @travel_request.applicant.staff_name_with_position_grade_unit unless @travel_request.applicant.blank?%>
				</td>
			</tr>
			<tr>
				<td class="leftcol"><label for="request_code"><%= t 'document.refno' %></label></td>
				<td><!--<%#=h @travel_request.document.refno %> &nbsp; : &nbsp;   
					  <%#=h @travel_request.document.title %> &nbsp; : &nbsp;   
					  <label>dated</label><%#=h tarikh(@travel_request.document.letterdt) %>-->
					<%=h @travel_request.reference_document %>
				</td>
			</tr>
		</table>
</fieldset>

<fieldset>
	<legend class='togvis'><%=t('travel.travel_details')%></legend>
		<table width=100% >
			<tr>
				<td class="leftcol"><label for="destination"><%= t 'travel.destination' %></label></td>
				<td> <%=h @travel_request.destination %></td>
			</tr>

			<tr>
			 	<td class="leftcol"><label for="depart_at"><%= t 'travel.depart_at' %></label></td>
				<td><%#=h l(@travel_request.depart_at) %><%=h l(@travel_request.depart_at, :format=>'%d %B %Y') %>,&nbsp;<%=h l(@travel_request.depart_at) %></td>
			</tr>

			<tr>
			 	<td class="leftcol"><label for="return_at"><%= t 'travel.return_at' %></label></td>
				<td><%#=h l(@travel_request.return_at) %><%=h l(@travel_request.return_at, :format =>'%d %B %Y') %>,&nbsp;<%=h l(@travel_request.return_at)%></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="transport_type"><%=t 'travel.transport_choice'%></label></td>
				<td><label>
						<%=h @travel_request.own_car? ? image_tag("tick.png") : image_tag("cross.png")  %><%=t('travel.own_car')%> &nbsp; &nbsp;
                                                <% if !@travel_request.applicant.vehicles.blank? && @travel_request.own_car? %>
							<%='('+@travel_request.applicant.vehicles[0].reg_no+' '+ t('staff.transportclass_id')+' : '+@travel_request.transport_class+') ' %>&nbsp;&nbsp;
						<% end %>
						<%=h @travel_request.dept_car? ? image_tag("tick.png") : image_tag("cross.png") %><%=t('travel.dept_car')%>&nbsp; &nbsp; 
						<%=h @travel_request.others_car? ? image_tag("tick.png") : image_tag("cross.png") %><%=t('travel.others_car')%> &nbsp;
						<%=h "("+@travel_request.others_car_notes+")" if @travel_request.others_car %>
						</label></td>                                                        
			</tr>
			<% if !@travel_request.applicant.vehicles.blank? && @travel_request.own_car? %>
			<tr>
				<td class="leftcol"><label for="reason"><%=t('travel.reason') %></label></td>
				<td><%=@travel_request.own_car_notes%></td>
			</tr>
			<%end %>
			<tr>
				<td class="leftcol"><%=t('travel.public_transport')%></td>
		    <td><label>
						<%=h @travel_request.taxi? ? image_tag("tick.png") : image_tag("cross.png") %><%=t('travel.taxi')%>&nbsp; &nbsp; 
						<%=h @travel_request.bus? ? image_tag("tick.png") : image_tag("cross.png") %><%=t('travel.bus')%> &nbsp; &nbsp; 
						<%=h @travel_request.train? ? image_tag("tick.png") : image_tag("cross.png") %><%=t('travel.train')%>&nbsp; &nbsp; 
						<%=h @travel_request.plane? ? image_tag("tick.png") : image_tag("cross.png") %><%=t('travel.plane')%>&nbsp; &nbsp; 
						<%=h @travel_request.other? ? image_tag("tick.png") : image_tag("cross.png") + ' ' + @travel_request.other_desc %><%=t('travel.other_public_tpt')%>&nbsp; &nbsp; </label></td>                                                        
			</tr>

			<tr>
				<td class="leftcol"><%=t('travel.mileage')%></td>
		    <td><%=t('travel.mileage_allowance')%> : 
				 <% if @travel_request.mileage_replace==nil %>
					<%=h @travel_request.mileage? ? image_tag("tick.png") : image_tag("cross.png") %> &nbsp; &nbsp;  
				<% else %>
					<%=h @travel_request.mileage_replace? ? image_tag("cross.png") : image_tag("tick.png") %>
				<% end %>
			     <%=t('travel.mileage_replacement')%>&nbsp;&nbsp;<%= t 'travel.train_plane_replacement'%> : 
				<%#=h @travel_request.mileage_replace? ? image_tag("tick.png") : image_tag("cross.png") %>
				<% if @travel_request.mileage_replace==nil %>
					<%= image_tag("tick.png") if @travel_request.mileage==false%><!--as per requested by applicant-->
					<%= image_tag("cross.png") if @travel_request.mileage==nil%> 
				<% else %>
				  <%=h @travel_request.mileage_replace? ? image_tag("tick.png") : image_tag("cross.png")  %>
				<% end %>
		    </td>
				<td></td>
			</tr>
		</table>
</fieldset>
