<div class="fields">
	<table>
		<tr>
			<td width=20%><%= f.date_select :travel_on,  :order => [:day, :month, :year], :use_short_month => true %></td>
			<td width=12%><%= f.time_select :start_at, :minute_step => 15 %></td>
			<td width=12%><%= f.time_select :finish_at, :minute_step => 15 %></td>
			<td width=33%><%= f.text_field :destination, :size => '40' %></td>
			<td width=9%> <%= f.text_field :mileage, 	:size => '5', :class => 'numero' %><label>km</label></td>
			<td width=9%> <label>RM</label><%= f.text_field :km_money, :size => '5', :class => 'numero' %></td><%= f.hidden_field :_destroy %>
			<td align="right" width=5%><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>   </td>
		</tr>
	</table>
</div>
