<% form_for(@travel_request) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :redirect_location, travel_requests_path %>
	<div class="tform">
		<!--2Jan2013-amend this part - to make sure it works with conditions at line 22-->
		<% if @travel_request.is_submitted == false || @travel_request.hod_id == nil %>
		<%# if @travel_request.is_submitted == false || @travel_request.hod_id == nil || @travel_request.replaced_by == nil %>
		<%# if @travel_request.is_submitted == false %>
		<H2>Edit Travel Request</H2>
		<table width=100% >
			<tr>
				<td class="leftcol"><label for="staff_id"><b><%= t 'staffleave.staff_id' %></b></label></td>
				<td><%=h @travel_request.applicant.staff_name_with_position unless @travel_request.applicant.blank? %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="request_code"><%= t 'document.refno' %></label></td>
				<td><%#=h check_kin {@travel_request.document.refno} %>
						<% if check_kin {@travel_request.document.refno} == " -N/A- " %>
							<%= text_field_with_auto_complete :travel_request, :document_refno, {:class => 'compulsory'}, 
									{ :url => formatted_documents_path(:js), 
										:method => :get,
										:with => "'search4=' + element.value"} %>
						<% else %>
							<%=h @travel_request.reference_document %>
						<% end %>
				</td>
				<td class="pagenote"></td>
			</tr>
		</table>
		<%=render :partial => 'form', :locals => {:f => f} %> 
		<% end -%>
		<!--2Jan2013-add additional condition for approval, must be submitted & login as hod WHEREAS for travel request owner, if submitted display acknowledgement only-->
		<% if @travel_request.is_submitted == true && @travel_request.hod_id == User.current_user.staff_id %>
		<%# if @travel_request.is_submitted == true  %>
		    <%=render :partial => 'show_main' %>
			<%=render :partial => 'approval', :locals => {:f => f} %>
		<% elsif @travel_request.is_submitted == true && @travel_request.submitted_on != nil && @travel_request.staff_id == User.current_user.staff_id %>
			<H2>Edit Travel Request</H2>
			Travel request already submitted to HOD for approval and no longer editable.
		<% end -%>
			<!--2Jan2013-add additional condition for approval, must be submitted & login as hod WHEREAS for travel request owner, if submitted display acknowledgement only-->
		
	</div>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @travel_request %> |
<%= link_to 'Back', travel_requests_path %>