<% form_for(@travel_request) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :redirect_location, travel_requests_path %>
	<div class="tform">
		<H2>New Travel Request</H2>
		<table width=100% >
			<tr>
				<td class="leftcol"><label for="staff_id"><b><%= t 'staffleave.staff_id' %></b></label><font color="red"> * </font></td>
				<td><%= f.collection_select :staff_id, Staff.find(:all, :conditions => ["id = ?", current_user.staff_id]), :id, :staff_name_with_position %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="request_code"><%= t 'document.refno' %><font color="red"> * </font></label></td>
				<td><%= text_field_with_auto_complete :travel_request, :document_refno, {:class => 'compulsory'}, 
							{ :url => formatted_documents_path(:js), 
								:method => :get,
								:with => "'search=' + element.value"} %></td>
				<td class="pagenote"></td>
			</tr>
		</table>
				<%=render :partial => 'form', :locals => {:f => f} %> 
	</div>


  <p>
    <%= f.submit (t 'icms.submit') %>
  </p>

<% end %>

<%= link_to 'Back', travel_requests_path %>