<div class="tform">
<%=render :partial => 'show_main' %>

<fieldset>
	<legend>Submission Details</legend>
		<table width=100% >
			<tr>
				<td class="leftcol">Submitted</td>
		    <td><%=h @travel_request.is_submitted? ? image_tag("tick.png") + "   " + l(@travel_request.submitted_on) : image_tag("cross.png") %></td>
			</tr>
			
			<tr>
				<td class="leftcol">Replacement</td>
			  <td>  <%=h @travel_request.replacement.staff_name_with_position unless @travel_request.replacement.blank? %></td>
			</tr>
			
			<tr>
				<td class="leftcol">HOD Accepted</td>
		    <td><%=h @travel_request.hod_accept? ? 
						image_tag("tick.png") + " on   " + tarikh(@travel_request.hod_accept_on) + " by   "  + @travel_request.headofdept.staff_name_with_position : image_tag("cross.png") %></td>
			</tr>
			
			
		</table>
</fieldset>


<!--31Dec2012-testing for travel claim logs display (if any)-->
<% if @travel_request.travel_claim_logs && @travel_request.staff_id == User.current_user.staff_id && @travel_request.hod_accept == true%>
	<fieldset>
		<legend>Travel Log Details</legend>
			<table width=100% >	
				<tr>
					<td class="leftcol">Date</td>
					<td class="leftcol">Start</td>
					<td class="leftcol">Finish</td>
					<td class="leftcol">Destination</td>
					<td class="leftcol">Mileage</td>
					<td class="leftcol">KM</td>
				</tr>
				<% @travel_request.travel_claim_logs.each do |travel_log| %>
		
				<tr>
					<td><%= l(travel_log.travel_on) %></td>
					<td><%= travel_log.start_at.strftime('%H:%M %p') %></td>
					<td><%= travel_log.finish_at.strftime('%H:%M %p') %></td>
								<td><%= travel_log.destination %></td>
					<td><%= travel_log.mileage %></td>
					<td><%= travel_log.km_money %></td>
				</tr>
				
				<% end %>
			</table>
	</fieldset>
<% end %>
<!--31Dec2012-testing for travel claim logs display (if any)-->


</div>
<!--31dec2012-show EDIT link when 'hod_accept' NOT TRUE &/or show EDIT TRAVEL LOGS link when 'hod_accept' is TRUE & login as travel_request owner-->
<% if @travel_request.hod_accept != true %>
	<%= link_to 'Edit', edit_travel_request_path(@travel_request) %> |
<% end %>
<% if @travel_request.staff_id == User.current_user.staff_id &&  @travel_request.hod_accept == true %>
	<%= link_to 'Edit Travel Logs', :action => 'travel_log', :id => @travel_request  %> | 
<% end %>
<!--31dec2012-show EDIT link when 'hod_accept' NOT TRUE &/or show EDIT TRAVEL LOGS link when 'hod_accept' is TRUE & login as travel_request owner-->
<%= link_to 'Back', travel_requests_path %>