
	<div class="tform">
	
	<%=render :partial => 'show_main' %>
	<% form_for(@travel_log) do |f| %>
	  <%= f.error_messages %>
	<%= hidden_field_tag :redirect_location, '/travel_requests/logs' %>
	<%= hidden_field_tag :jobtype, "editinglogs" %>
	<H2><%= t 'claim.edit_travel_log' %></H2>
	<table width=90%>
		<tr>
			<td width=20%><%= t 'claim.date' %></td>
			<td width=12%><%= t 'claim.depart' %></td>
			<td width=12%><%= t 'claim.arrive' %></td>
			<td width=33%><%= t 'claim.destination' %></td>
			<td width=9%><%= t 'claim.mileage' %></td>
			<td width=9%><%= t 'travel.value' %></td>
			<td width=5%></td>
		</tr>
	</table>
		<% f.fields_for :travel_claim_logs do |builder| %>
		  <%= render 'travel_claim_log_fields', :f => builder %>
		<% end %>

		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => (t 'addlog')), f, :travel_claim_logs %> - <%=t('addlog')%></p>		
		<table width=90%>
			<tr>
				<td colspan=3 width=77% align=right><strong><%= t 'claim.total' %></strong></td>
				<td width=9% class="tright"><strong><%= @travel_log.total_mileage_request %>km</strong></td>
				<td width=9% class="tright"><strong><%= ringgols(@travel_log.total_km_money_request) %></strong></td>
				<td width=5%></td>
			</tr>
		</table>
	</div>
  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>

<%= link_to (t 'show'), @travel_request %> |
<%= link_to (t 'back'), '/travel_requests/logs' %>