<div class="tform">
<H2>Lesson Plan Reporting</H2>


<table width=100% >
	
	<tr>
		<td class="leftcol"><label for="staff_id">Topic Name</label></td>
		<td width=3%><b>:</b></td>
		<td><%= f.collection_select :topic_id, Topic.find(:all), :id, :topic_subject %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="classtype">Type of Lecture</label></td>
		<td><b>:</b></td>
		<td><%= f.radio_button :classtype, 1 %>Lecture &nbsp; &nbsp;
		<%= f.radio_button :classtype, 2 %>Tutorial &nbsp; &nbsp;
		<%= f.radio_button :classtype, 3 %>Practical</td>
	</tr>

	<tr>
		<td class="leftcol"><label for="location_state">State of Classroom</label></td>
		<td><b>:</b></td>
		<td><%= f.radio_button :location_state, true %>Satisfy &nbsp; &nbsp;
		<%= f.radio_button :location_state, false %>Not Satisfactory &nbsp; &nbsp;</td>
	</tr>

	<tr>
		<td class="leftcol"><label for="ls_comment">Classroom Comment:</label></td>
		<td><b>:</b></td>
		<td><%= f.text_area :ls_comment, :size => '60x3' %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="staff_comment">General Comment:</label></td>
		<td><b>:</b></td>
		<td><%= f.text_area :staff_comment, :size => '60x3' %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="staff_id">Reporting By</label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :staff_id, Staff.find(:all, :conditions => ["id = ?", current_user.staff_id]), :id, :staff_name_with_position %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="staff_id">Submit?</label></td>
		<td><b>:</b></td>
		<td><%= f.check_box :submit %> <font color=#AAA size=-2>Tick &#10003; to Submit to <i>Unit Tenaga Pengajar</i></font></td> 
	</tr>

	<tr>
		<td class="leftcol"><label for="staff_id">Chief Trainer</label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :tpa_id, Staff.find(:all, :conditions => ["id != ?", current_user.staff_id]), :id, :staff_name_with_position %></td>
	</tr>

</table>

	<% if @trainingreport.tpa_id == current_user.staff_id %>
<H2>Chief Trainer Unit</H2>


	<!--	<#%= render 'show' %>-->
		<table width=100%>
			<tr>
				<td class="leftcol"><label for="tpa_comment">General Comment:</label></td>
				<td width=3%><b>:</b></td>
				<td><%= f.text_area :tpa_comment, :size => '60x3' %></td>
			</tr>
		</table>
<% end %>

</div>