<table width=100% >
			<tr>
				<td class="leftcol"><label for="classtype"><b>Type of Lecture</b></label></td>
				<td><%= f.radio_button :classtype, 1 %>Kuliah  &nbsp; &nbsp;
						<%= f.radio_button :classtype, 2 %>Tutorial &nbsp; &nbsp;
						<%= f.radio_button :classtype, 3 %>Amali</td>

			</tr>
			<tr>
				<td class="leftcol"><label for="location_state"><b>State of classroom</b></label></td>
				<td><%= f.radio_button :location_state, true , :id => 'locstate_true' , :class => 'locstate'%>Memuaskan  &nbsp; &nbsp;
						<%= f.radio_button :location_state, false, :id => 'locstate_false', :class => 'locstate'%>Tidak Memuaskan &nbsp; &nbsp;</td>
			</tr>
</table>
<div id="location_comment"  style="display:none;">
<table>
			
			
		  <tr >
					<td class="leftcol"><label for="ls_comment">Classroom Comment:</label></td>
					<td><%#= f.text_area :location_comment, :size => '60x3', :class => 'compulsory'%></td>
			</tr>
			
</table></div>
<table>
			<tr>
					<td class="leftcol"><label for="abm_comment">ABM Comment:</label></td>
					<td><%#= f.text_area :abm_comment, :size => '60x3' %></td>
			</tr>
			
			<tr>
					<td class="leftcol"><label for="summary">Summary:</label></td>
					<td><%#= f.text_area :summary, :size => '60x3' %></td>
			</tr>
			
			<tr>
			  <td class="leftcol"><label for="is_checked">Submit to TPA/KP</label></td>
				<td><%#= f.check_box :is_submitted, :id => 'is_submitted' %>
						<SPAN class="span_is_submitted_on" style="display: none;"><%#= f.date_select :is_submitted_on, :order => [:day, :month, :year], :default => Date.today %></SPAN></td>
			</tr>
			
			<% bosses = User.current_user.staff.position.ancestor_ids %>
			<% myhod = Position.find(:all, :conditions => ['id IN (?)', bosses ], :select => :staff_id).map(&:staff_id) %>
			<tr class="span_is_submitted_on" style="display: none;">
				<td class="leftcol"><label for="tpa_id">TPA/KP</label></td>
		    <td><%= f.collection_select :tpa_id, Staff.find(:all, :conditions => ['id IN (?)', myhod]), :id, :name, :include_blank => true %></td>
			</tr>

	</table>


<script type="text/javascript">
	$j(document).ready(function(){ 
		  //Toggle Code for asset_type, show more details
			$j("input[class='locstate']").each(function() {  
			 if($j('#locstate_true').is(':checked')) { 
			    $j("#location_comment").hide(); 
			  }else if ($j('#locstate_false').is(':checked')){
			    $j("#location_comment").show();
			  }
			});
			
			$j("input[class='locstate']").change(function() {  
			 if($j('#locstate_true').is(':checked')) { 
			    $j("#location_comment").hide("slide", {direction: "right"}); 
			  }else if ($j('#locstate_false').is(':checked')){
			    $j("#location_comment").show("blind").effect("highlight", {color: '#9BA8BE'}, 2500);
			  }
			});
		
	
			//Toggle Code for ownership
			$j("input[id='is_submitted']").change(function() {  
			 if($j('#is_submitted').is(':checked')) { 
			    $j(".span_is_submitted_on").show().effect("highlight", {color: '#9BA8BE'}, 2000);;
			 }else		{
			    $j(".span_is_submitted_on").hide();
			 }	
			});

			$j("input[id='is_submitted']").each(function() {  
			 if($j('#is_submitted').is(':checked')) { 
			    $j(".span_is_submitted").show("highlight"); 
			 }else		{
			    $j(".span_is_submitted").hide(""); 
			 }	
			});
	});
</script>