<p>
  <b>Classtype:</b>
  <%=h @trainingreport.classtype %>
</p>

<p>
  <b>Timetable:</b>
  <%=h @trainingreport.timetable_id %>
</p>

<p>
  <b>Location state:</b>
  <%=h @trainingreport.location_state %>
</p>

<p>
  <b>Ls comment:</b>
  <%=h @trainingreport.ls_comment %>
</p>

<p>
  <b>Staff comment:</b>
  <%=h @trainingreport.staff_comment %>
</p>

<p>
  <b>Staff:</b>
  <%=h @trainingreport.staff_id %>
</p>

<p>
  <b>Submit:</b>
  <%=h @trainingreport.submit %>
</p>

<p>
  <b>Tpa comment:</b>
  <%=h @trainingreport.tpa_comment %>
</p>

<p>
  <b>Tpa:</b>
  <%=h @trainingreport.tpa_id %>
</p>
