<%= stylesheet_link_tag 'report', :media => "print" %>
<!--A4Potrait-->

<form action="#">	
<script>
document.write("<input type='button' " +
"onClick='window.print()' " +
"class='printbutton' " +
"value='Print This Page'/>");
</script>
</form>
<div id="hideLink">
<%= link_to 'Edit', edit_asset_path(@trainingreport) %> |
<%= link_to 'Back', assets_path %>
</div>
<div class="A4potrait_paged">


<!-- Box Head -->
<div id="kewpa">
<BR/>
<p class="marginright" align="right"><b>BPL.KKM.PK(T) 08.1D/09</p>
<center><img src="/images/jatanegara.png" width="128" height="99" /></center>
<H4 align="center"><b>KEMENTERIAN KESIHATAN MALAYSIA</b>
<BR><U>LAPORAN AKTIVITI PENGAJARAN DAN PEMBELAJARAN</U></H4>
<table>
	<tr>
		<td style="border: 2px solid black; width:1cm;"><% if @trainingreport.classtype == 1 %><img src="/images/tick.png"><% end %></td>
		<td style="width:4cm;">KULIAH</td>
		<td style="border: 2px solid black; width:1cm;"><% if @trainingreport.classtype == 2 %><img src="/images/tick.png"><% end %></td>
		<td style="width:4cm;">TUTORIAL</td>
		<td style="border: 2px solid black; width:1cm;"><% if @trainingreport.classtype == 3 %><img src="/images/tick.png"><% end %></td>
		<td style="width:4cm;">AMALI</td>
	</tr>
</table>
<BR>
<table width=80%>
	<tr>
		<td>Nama Pengajar</td>
		<td>:</td>
		<td class="filler"><%=h @trainingreport.timetable.staff.name %></td>
	</tr>
	
	<tr>
		<td>Bidang Subjek</td>
		<td>:</td>
		<td class="filler"><%=h @trainingreport.timetable.klass.subject.subject_code_with_subject_name %></td>
	</tr>
	
	<tr>
		<td>Topik</td>
		<td>:</td>
		<td class="filler"><%=h @trainingreport.timetable.topic.name %></td>
	</tr>
	
	<tr>
		<td>Tarikh (Mengikut Jadual)</td>
		<td>:</td>
		<td class="filler"><%=h @trainingreport.timetable.start_at.strftime("%d - %B - %Y") %></td>
	</tr>
	
	<tr>
		<td>Masa</td>
		<td>:</td>
		<td class="filler"><%=h @trainingreport.timetable.start_at.strftime("%I:%M%p") %> - 
											 <%=h @trainingreport.timetable.end_at.strftime("%I:%M%p") %></td>
	</tr>
	
	<tr>
		<td>Tahun & Semester Pelatih</td>
		<td>:</td>
		<td class="filler"><%=h check_kin {@trainingreport.timetable.klass.id} %></td>
	</tr>
	
	<tr>
		<td>Bilik/ Kelas / Makmal</td>
		<td>:</td>
		<td class="filler"><%=h check_kin {@trainingreport.timetable.location.location_list} %></td>
	</tr>
	
	<tr>
		<td>Jumlah Bilangan Pelatih</td>
		<td>:</td>
		<td class="filler"><%=h check_kin {@trainingreport.timetable.student_count} %></td>
	</tr>
	
	<tr>
		<td>Bilangan Pelatih Tidak Hadir</td>
		<td>:</td>
		<td class="filler"><%=h check_kin {@trainingreport.timetable.student_count} %></td>
	</tr>
</table>

<table width=80%>
	<tr>
		<td>i</td>
		<td colspan=2>Keadaan Kelas</td>
	</tr>
	
	<tr>
		<td></td>
		<td style="border: 2px solid black; width:1cm;"><% if @trainingreport.location_state == true %><img src="/images/tick.png"><% end %></td>
		<td>Memuaskan</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td style="height:1mm;" ></td>
	</tr>
	
	<tr>
		<td></td>
		<td style="border: 2px solid black; width:1cm;"><% if @trainingreport.location_state == false %><img src="/images/tick.png"><% end %></td>
		<td>Tidak Memuaskan (Nyatakan)</td>
	</tr>
	
	<tr>
		<td></td>
		<td></td>
		<td class="filler" style="border-bottom: 1px solid black; height:9mm;" ><%=h @trainingreport.location_comment %></td>
	</tr>
	
	<tr>
		<td></td>
		<td></td>
		<td style="border-bottom: 1px solid black; height:9mm;" ></td>
	</tr>
	
	<tr>
		<td></td>
		<td></td>
		<td style="height:4mm;" ></td>
	</tr>
	
	<tr>
		<td>ii</td>
		<td colspan=2>Peralatan ABM</td>
	</tr>
	
	<tr>
		<td></td>
		<td colspan=2 class="filler" style="border-bottom: 1px solid black; height:8mm;" ><%=h @trainingreport.abm_comment %></td>
	</tr>
	
	<tr>
		<td></td>
		<td></td>
		<td style="height:4mm;" ></td>
	</tr>
	
	<tr>
		<td>iii</td>
		<td colspan=2>Ulasan</td>
	</tr>
	
	<tr>
		<td></td>
		<td colspan=2 class="filler" style="border-bottom: 1px solid black; height:8mm;" ><%=h @trainingreport.summary %></td>
	</tr>
</table>
<BR><BR>
<table width=80%>
	<tr>
		<td style="width:4cm;">Tandatangan Pengajar</td>
		<td>:</td>
		<td class="filler"><%=h @trainingreport.timetable.staff.name? ? "via icms on   " + tarikh(@trainingreport.is_submitted_on) : "" %></td>
	</tr>
	<tr>
		<td>Nama Pengajar</td>
		<td>:</td>
		<td class="filler"><%=h check_kin {@trainingreport.timetable.staff.staff_name_with_position} %>  
											 <%=h check_kin {@trainingreport.timetable.staff.staffgrade.name} %></td>
	</tr>
	
	<tr>
		<td></td>
		<td></td>
		<td style="height:7mm;" ></td>
	</tr>
	
	<tr>
		<td style="width:4cm;">Ulasan TPA/KP</td>
		<td>:</td>
		<td></td>	
	</tr>
	
	<tr>
		<td colspan=3 class="filler" style="border-bottom: 1px solid black; height:8mm;" ><%=h @trainingreport.tpa_comment %></td>
	</tr>
	
	<tr>
		<td class="filler" style="border-bottom: 1px dotted black; height:20mm; vertical-align:bottom;" >
				<%=h @trainingreport.timetable.staff.name? ? "via icms on   " + tarikh(@trainingreport.is_submitted_on) : "" %><br>
				<%=h check_kin {@trainingreport.tpa.name}  %><BR>
				<%=h check_kin {@trainingreport.tpa.position.name} %> &nbsp; <%=h check_kin {@trainingreport.tpa.staffgrade.name} %></td>
		<td></td>
		<td></td>
	</tr>
	
	
	
</table>


