<h3>Lesson Plan Report</h3>

<% form_for(@trainingreport) do |f| %>
  <%= f.error_messages %>

 <%= render :partial => 'form', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @trainingreport %> |
<%= link_to 'Back', trainingreports_path %>