<% form_for(@trainingreport) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		
	<%# if @trainingreport.is_submitted != true %>
	<% if @trainingreport.submit != true %>
	<H2>Edit Lesson Plan Reporting</H2>
  <%= render :partial => 'form', :locals => {:f => f} %>
	<% end %>
	
	<%# if @trainingreport.is_submitted == true && @trainingreport.tpa_id == User.current_user.staff_id%>
	<% if @trainingreport.submit == true && @trainingreport.tpa_id == User.current_user.staff_id%>
	<%= render :partial => 'show' %>
	<H2>Approve Lesson Plan Report</H2>
  <%= render :partial => 'approve', :locals => {:f => f} %>
	<% end %>

	</div>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @trainingreport %> |
<%= link_to 'Back', trainingreports_path %>