<!-- Box -->
<div class="box">
<!-- Box Head -->
<div class="box-head">
	<h2 class="left">Lesson Plan Reporting</h2>
	<div class="right"></div>
	</div>
</div>

<div class="tlist">

<table width=100% border="0" cellpadding="0" cellspacing="0">
	<tr>
    	<th>Staff</th>
    	<th>Subject</th>
		<th>Topic</th>
		<th>Type</th>
		<th>Location</th>
    	<th>Time</th>
    	<th>Submitted</th>
    	<th colspan=3 class="ac">Control</th>
  	</tr>

<% @trainingreports.each do |trainingreport| %>
  <tr>
		<td><%=h trainingreport.timetable_staff_details %></td>
		<td><%=h trainingreport.timetable_id.blank? ? "" : trainingreport.timetable.klass.subject.subject_code_with_subject_name %></td>
		<td><%=h trainingreport.timetable_id.blank? ? "" : trainingreport.topic_details %></td>
		<td><%=h (Trainingreport::CTYPE.find_all{|disp, value| value == trainingreport.classtype}).map {|disp, value| disp} %></td>
		<td><%=h trainingreport.timetable_id.blank? ? "" : trainingreport.location.name %></td>
		<td><%=h trainingreport.timetable_id.blank? ? "" : trainingreport.timetable.start_at.strftime("%I:%M%p") + ' to ' + trainingreport.timetable.end_at.strftime("%I:%M%p %d-%b-%Y") %></td>
    	<td><%=h trainingreport.submit? ? "Yes" : "No" %></td>
    	<td width=10px><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => trainingreport %></td>
    	<td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => trainingreport %></td>
    	<td width=10px ><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), trainingreport, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New Lesson Plan Report', new_trainingreport_path %>