<% form_for(@trainingreport) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
	<H2>New Lesson Plan Reporting</H2>
  <%= f.hidden_field :timetable_id %>
  <%= f.hidden_field :staff_id %>

  <%= render :partial => 'form', :locals => {:f => f} %>
	</div><BR>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', trainingreports_path %>