<div class="tform">
<H2>Time Table Details</H2>
  <table width=100% >
	<tr>
		<td class="leftcol"><label for="classtype">Classtype</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h (Trainingreport::CTYPE.find_all{|disp, value| value == @trainingreport.classtype}).map {|disp, value| disp} %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="classtype">Lecturer</label></td>
		<td><b>:</b></td>
		<td><%=h @trainingreport.timetable_staff_details %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="classtype">Subject</label></td>
		<td><b>:</b></td>
		<td><%=h @trainingreport.timetable_id.blank? ? "" : @trainingreport.timetable.klass.subject.subject_code_with_subject_name %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="classtype">Topic</label></td>
		<td><b>:</b></td>
		<td><%=h @trainingreport.timetable_id.blank? ? "" : @trainingreport.topic_details %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="classtype">Date</label></td>
		<td><b>:</b></td>
		<td><%=h @trainingreport.timetable_id.blank? ? "" : @trainingreport.timetable.start_at.strftime("%I:%M%p") + ' to ' + @trainingreport.timetable.end_at.strftime("%I:%M%p %d-%b-%Y") %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="classtype">Location</label></td>
		<td><b>:</b></td>
		<td><%=h @trainingreport.timetable_id.blank? ? "" : @trainingreport.location.name %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="classtype">Student Count</label></td>
		<td><b>:</b></td>
		<td><%=h @trainingreport.timetable_id.blank? ? "" : @timetable.student_count %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="classtype">Room Condition</label></td>
		<td><b>:</b></td>
		<td><%=h @trainingreport.location_state? ? "Memuaskan" : "Tidak Memuaskan" %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="classtype">Room Condition Comments</label></td>
		<td><b>:</b></td>
		<td><%=h @trainingreport.ls_comment %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="classtype">Comments</label></td>
		<td><b>:</b></td>
		<td><%=h @trainingreport.tpa_staff_details %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="classtype">TPA Comments</label></td>
		<td><b>:</b></td>
		<td><%=h @trainingreport.tpa_comment? ? @trainingreport.tpa_comment : "None" %></td>
	</tr>

</table></div><BR>
	
<%= link_to 'Edit', edit_trainingreport_path(@trainingreport) %> |
<%= link_to 'Back', trainingreports_path %>