<div class="tform">
<%= render :partial => 'show' %>

<% if @trainingreport.is_submitted? == true %>
<fieldset>
	<legend class='togvis'>TPA/KP Summary</legend>
		<table width=85% >	
			
				<tr>
					<td class="leftcol"><label for="classtype"><%=h @trainingreport.is_submitted? ? "Submitted To" : "Not Yet Submitted To" %></label></td>
					<td><%=h check_kin {@trainingreport.tpa.name} %> </td>
				</tr>
				<tr>
					<td class="leftcol"><label for="classtype">TPA Comments</label></td>
					<td><%=h @trainingreport.tpa_comment? ? @trainingreport.tpa_comment : "-" %></td>
				</tr>
		
		</table>
</fieldset>
<% end %>
</div><BR>


<%= link_to 'Edit', edit_trainingreport_path(@trainingreport) %> |
<%= link_to 'Back', trainingreports_path %>