<h1>Listing examquestionanalyses</h1>

<table>
  <tr>
    <th>Examquestion</th>
    <th>Count</th>
    <th>Min</th>
    <th>Max</th>
    <th>Mean</th>
    <th>Sd population</th>
    <th>Pass rate</th>
    <th>Pass percentage</th>
    <th>Mark0</th>
    <th>Markless20</th>
    <th>Markless50</th>
    <th>Markless80</th>
    <th>Markmore80</th>
    <th>Exammakeranalysis</th>
  </tr>

<% @examquestionanalyses.each do |examquestionanalysis| %>
  <tr>
    <td><%=h examquestionanalysis.examquestion_id %></td>
    <td><%=h examquestionanalysis.count %></td>
    <td><%=h examquestionanalysis.min %></td>
    <td><%=h examquestionanalysis.max %></td>
    <td><%=h examquestionanalysis.mean %></td>
    <td><%=h examquestionanalysis.sd_population %></td>
    <td><%=h examquestionanalysis.pass_rate %></td>
    <td><%=h examquestionanalysis.pass_percentage %></td>
    <td><%=h examquestionanalysis.mark0 %></td>
    <td><%=h examquestionanalysis.markless20 %></td>
    <td><%=h examquestionanalysis.markless50 %></td>
    <td><%=h examquestionanalysis.markless80 %></td>
    <td><%=h examquestionanalysis.markmore80 %></td>
    <td><%=h examquestionanalysis.exammakeranalysis_id %></td>
    <td><%= link_to 'Show', examquestionanalysis %></td>
    <td><%= link_to 'Edit', edit_examquestionanalysis_path(examquestionanalysis) %></td>
    <td><%= link_to 'Destroy', examquestionanalysis, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New examquestionanalysis', new_examquestionanalysis_path %>