<h1>New examquestionanalysis</h1>

<% form_for(@examquestionanalysis) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :examquestion_id %><br />
    <%= f.text_field :examquestion_id %>
  </p>
  <p>
    <%= f.label :count %><br />
    <%= f.text_field :count %>
  </p>
  <p>
    <%= f.label :min %><br />
    <%= f.text_field :min %>
  </p>
  <p>
    <%= f.label :max %><br />
    <%= f.text_field :max %>
  </p>
  <p>
    <%= f.label :mean %><br />
    <%= f.text_field :mean %>
  </p>
  <p>
    <%= f.label :sd_population %><br />
    <%= f.text_field :sd_population %>
  </p>
  <p>
    <%= f.label :pass_rate %><br />
    <%= f.text_field :pass_rate %>
  </p>
  <p>
    <%= f.label :pass_percentage %><br />
    <%= f.text_field :pass_percentage %>
  </p>
  <p>
    <%= f.label :mark0 %><br />
    <%= f.text_field :mark0 %>
  </p>
  <p>
    <%= f.label :markless20 %><br />
    <%= f.text_field :markless20 %>
  </p>
  <p>
    <%= f.label :markless50 %><br />
    <%= f.text_field :markless50 %>
  </p>
  <p>
    <%= f.label :markless80 %><br />
    <%= f.text_field :markless80 %>
  </p>
  <p>
    <%= f.label :markmore80 %><br />
    <%= f.text_field :markmore80 %>
  </p>
  <p>
    <%= f.label :exammakeranalysis_id %><br />
    <%= f.text_field :exammakeranalysis_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', examquestionanalyses_path %>