<p>
  <b>Examquestion:</b>
  <%=h @examquestionanalysis.examquestion_id %>
</p>

<p>
  <b>Count:</b>
  <%=h @examquestionanalysis.count %>
</p>

<p>
  <b>Min:</b>
  <%=h @examquestionanalysis.min %>
</p>

<p>
  <b>Max:</b>
  <%=h @examquestionanalysis.max %>
</p>

<p>
  <b>Mean:</b>
  <%=h @examquestionanalysis.mean %>
</p>

<p>
  <b>Sd population:</b>
  <%=h @examquestionanalysis.sd_population %>
</p>

<p>
  <b>Pass rate:</b>
  <%=h @examquestionanalysis.pass_rate %>
</p>

<p>
  <b>Pass percentage:</b>
  <%=h @examquestionanalysis.pass_percentage %>
</p>

<p>
  <b>Mark0:</b>
  <%=h @examquestionanalysis.mark0 %>
</p>

<p>
  <b>Markless20:</b>
  <%=h @examquestionanalysis.markless20 %>
</p>

<p>
  <b>Markless50:</b>
  <%=h @examquestionanalysis.markless50 %>
</p>

<p>
  <b>Markless80:</b>
  <%=h @examquestionanalysis.markless80 %>
</p>

<p>
  <b>Markmore80:</b>
  <%=h @examquestionanalysis.markmore80 %>
</p>

<p>
  <b>Exammakeranalysis:</b>
  <%=h @examquestionanalysis.exammakeranalysis_id %>
</p>


<%= link_to 'Edit', edit_examquestionanalysis_path(@examquestionanalysis) %> |
<%= link_to 'Back', examquestionanalyses_path %>