<table width=100% >
	<tr>
		<td class="leftcol"><label for="short_name"><%= t 'banks.sname' %></label></td>
		<td><%= f.text_field :short_name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="long_name"><%= t 'banks.lname' %></label></td>
		<td><%= f.text_field :long_name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="active"><%= t 'banks.active' %></label></td>
		<td><%= f.check_box :active %></td>
	</tr>
	
</table>
<BR>
	
