<% form_for(@bank) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2><%= t 'banks.edit' %></H2>
				<%=render :partial => 'form', :locals => {:f => f} %> 
	</div>
  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>

<%= link_to (t 'show'), @bank %> |
<%= link_to (t 'back'), banks_path %>