<% form_for(@bank) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2>Edit Bank</H2>
				<%=render :partial => 'form', :locals => {:f => f} %> 
	</div>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @bank %> |
<%= link_to 'Back', banks_path %>