<h3>Editing bank</h3>

<% form_for(@bank) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @bank %> |
<%= link_to 'Back', banks_path %>