<div class="tform">
	<H2>Banks Details</H2>
  <table width=100% >
	
	<tr>
		<td class="leftcol"><label for="short_name">Short Name </label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @bank.short_name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="long_name">Long Name </label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @bank.long_name %></td>
	</tr>
	
    <tr>
		<td class="leftcol"><label for="active">Active</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @bank.active? ? "Yes" : "No" %></td>
	</tr>
	
</table>
</div>
<BR>
<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>