<div class="tform">
	<fieldset>
		<legend><%= t 'banks.bankdetails' %></legend>
			<table width=100%>
					<tr>
						<td class="leftcol"><label for="short_name"><%= t 'banks.sname' %> :</label></td>
						<td><%=h @bank.short_name %></td>
					</tr>

					<tr>
						<td class="leftcol"><label for="long_name"><%= t 'banks.lname' %> :</label></td>
						<td><%=h @bank.long_name %></td>
					</tr>

					<tr>
						<td class="leftcol"><label for="active"><%= t 'banks.active' %></label></td>
						<td><%=h @bank.active? ? "Yes" : "No" %></td>
					</tr>
			</table>
	</fieldset>
</div>
<BR/>
<%= link_to (t 'edit'), edit_bank_path(@bank) %> |
<%= link_to (t 'back'), banks_path %>