<h1>Editing staffservescheme</h1>

<% form_for(@staffservescheme) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :group_id %><br />
    <%= f.text_field :group_id %>
  </p>
  <p>
    <%= f.label :classification_id %><br />
    <%= f.text_field :classification_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @staffservescheme %> |
<%= link_to 'Back', staffserveschemes_path %>