<p>
  <b>Name:</b>
  <%=h @staffservescheme.name %>
</p>

<p>
  <b>Group:</b>
  <%=h @staffservescheme.group_id %>
</p>

<p>
  <b>Classification:</b>
  <%=h @staffservescheme.classification_id %>
</p>


<%= link_to 'Edit', edit_staffservescheme_path(@staffservescheme) %> |
<%= link_to 'Back', staffserveschemes_path %>