<div class="tform">
  <table width=100% >

	<tr>
		<th colspan = 2><%= t 'librarytransaction.details' %></th>
	</tr>
	<tr>
		<td class="leftcol"><label for="book_id"><b><%= t 'book.title' %></b></label></td>
		<td><%= f.collection_select :book_id, Book.find(:all), :id, :title %></td>
	</tr>
	
	<script type="text/javascript">
		  function switchvisibility(el) {
		    if (document.getElementById(el).checked) {
		      document.getElementById('bstaff').style.display = "table-row";
		      document.getElementById('bstudent').style.display = "none";
		    } else {
		      document.getElementById('bstaff').style.display = "none";
		      document.getElementById('bstudent').style.display = "table-row";
		    }
		  }
		</script>
	
  
	
	<tr>
		<td class="leftcol"><label for="staff_id"><b><%= t 'librarytransaction.loanedtotype' %></b></label></td>
		<td><%= f.check_box :ru_staff, :id => 'staff', :onchange => "switchvisibility('staff')" %></td>
	</tr>
	
	<tr id="bstaff" style="display: none;">
		<td class="leftcol" ><label for="staff_id"><b>Staff</b></label></td>
	  <td><%= f.collection_select :staff_id, Staff.find(:all), :id, :mykad_with_staff_name, :include_blank => true %></td>
	</tr>
	
	<tr id="bstudent" style="display: table-row;">
		<td class="leftcol" ><label for="student_id"><b><%= t 'librarytransaction.studentname' %></b></label></td>
	  <td><%= f.collection_select :student_id, Student.find(:all), :id, :formatted_mykad_and_student_name, :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="checkoutdate"><b><%= t 'librarytransaction.checkoutdate' %></b></label></td>
	  <td><%= f.date_select :checkoutdate, :order => [:day, :month, :year] %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="returnduedate"><b><%= t 'librarytransaction.duedate' %></b></label></td>
	  <td><%= f.date_select :returnduedate, :order => [:day, :month, :year], :default => 2.days.from_now %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="extended"><b><%= t 'librarytransaction.extend' %></b></label></td>
	  <td><%= f.check_box :extended %>To implement will change duedate to duedat + 2 days</td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="extended"><b><%= t 'librarytransaction.extended' %></b></label></td>
	  <td><%= f.check_box :returned %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="returneddate"><b><%= t 'librarytransaction.returneddate' %></b></label></td>
	  <td><%= f.date_select :returneddate, :order => [:day, :month, :year]  %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="fine"><b><%= t 'librarytransaction.fine' %></b></label></td>
	  <td><%= f.text_field :fine %>to implement fine = returned date - duedate * RM1/day</td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="finepay"><b><%= t 'librarytransaction.finepay' %></b></label></td>
	  <td><%= f.check_box :finepay %></td>
	</tr>
	
	<tr>
		<td class="leftcol" ><label for="finepaydate"><b><%= t 'librarytransaction.finepaydate' %></b></label></td>
	  <td><%= f.date_select :finepaydate, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
	<tr>
		<th colspan=2><%= t 'librarytransaction.report' %></td>
	</tr>
	
	<!--<script type="text/javascript">
		  function switchvisibility(reportlost) {
		    if (document.getElementById(reportlost).checked) {
		      document.getElementById('breport').style.display = "table-row";
		      document.getElementById('breportlossdate').style.display = "table-row";
		      document.getElementById('breplace').style.display = "table-row";
		    } else {
		      document.getElementById('breport').style.display = "none";
		      document.getElementById('breportlossdate').style.display = "none";
		      document.getElementById('breplace').style.display = "none";
		    }
		  }
		</script>-->
	
	<tr>
		<td class="leftcol" ><label for="reportlost"><b><%= t 'librarytransaction.lost' %></b></label></td>
	  <td><%= f.check_box :reportlost, :id => "reportlost", :onchange => "switchvisibility('reportlost')"%></td>
	</tr>
	
	<tr id="breport" style="display: table-row;">>
	<td class="leftcol" ><label for="report"><b><%= t 'librarytransaction.reportdetails' %></b></label></td>
	  <td><%= f.text_area :report, :size => '40x5' %></td>
	</tr>
	
	<tr id="breportlossdate" style="display: table-row;">
		<td class="leftcol" ><label for="reportlostdate"><b><%= t 'librarytransaction.reportlostdate' %></b></label></td>
	  <td><%= f.date_select :reportlostdate, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
	<tr id="breplace" style="display: table-row;">
		<td class="leftcol" ><label for="replaceddate"><b><%= t 'librarytransaction.replaceddate' %></b></label></td>
	  <td><%= f.date_select :replaceddate, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
	</table>
</div>