<div class="tform">
<H2><%= t 'librarytransaction.details' %></H2>
<table width=100%>
<tr>
	<td class="leftcol"><label for="book_id"><%= t 'book.title' %></label></td>
	<td width=3%><b>:</b></td>
	<td> <%=h @librarytransaction.accession.accession_no unless @librarytransaction.book_id.blank? %> -
	<%=h @librarytransaction.accession.book.title unless @librarytransaction.book_id.blank? %></td>
</tr>

<tr>
	<td class="leftcol"><label for="isitstaff"><%= t 'librarytransaction.studentname' %></label></td>
	<td width=3%><b>:</b></td>
	<td><%=h @librarytransaction.ru_staff? ?  @librarytransaction.staff_details : @librarytransaction.student_details %></td>
</tr>

<tr>
	<td class="leftcol"><label for="checkoutdate"><%= t 'librarytransaction.checkoutdate' %></label></td>
	<td width=3%><b>:</b></td>
	<td> <%=h @librarytransaction.checkoutdate.blank? ? "-" : @librarytransaction.checkoutdate.strftime("%d-%b-%Y") %></td>
</tr>

<tr>
	<td class="leftcol"><label for="returndate"><%= t 'librarytransaction.duedate' %></label></td>
	<td width=3%><b>:</b></td>
	<td><%=h @librarytransaction.returnduedate.blank? ? "-" : @librarytransaction.returnduedate.strftime("%d-%b-%Y") %></td>
</tr>

<% if @librarytransaction.extended? %>
<tr>
	<td class="leftcol"><label for="extend"><%= t 'librarytransaction.extend' %></label></td>
	<td width=3%><b>:</b></td>
	<td><%=h @librarytransaction.extended? ? "Yes" : "No Extension Taken" %></td>
</tr>
<% end %>

<% if @librarytransaction.returned? %>
<tr>
	<td class="leftcol" ><label for="returneddate"><%= t 'librarytransaction.returneddate' %></label></td>
	<td width=3%><b>:</b></td>
	<td><%=h @librarytransaction.returneddate.blank? ? "-" : @librarytransaction.returneddate.strftime("%d-%b-%Y") %></td>
</tr>
<% end %>

<% if @librarytransaction.finepay?%>
<tr>
	<td class="leftcol" ><label for="finepay"><%= t 'librarytransaction.finepay' %></label></td>
	<td width=3%><b>:</b></td>
	<td><%=h @librarytransaction.finepay? ? "Yes" : "Not Required" %> - <%=h @librarytransaction.finepay? ? ringgols(@librarytransaction.fine) : "" %></td>
</tr>

<tr>
	<td class="leftcol" ><label for="finepaydate"><%= t 'librarytransaction.finepaydate' %></label></td>
	<td width=3%><b>:</b></td>
	<td><%=h @librarytransaction.finepaydate.blank? ? "-" : @librarytransaction.finepaydate.strftime("%d-%b-%Y") %></td>
</tr>
<% end %>

</table>

<% if @librarytransaction.reportlost? %>
<H2><%= t 'librarytransaction.report' %></H2>


<table width=100%>
<tr>
	<td class="leftcol" ><label for="reportlost"><%= t 'librarytransaction.lost' %></label></td>
	<td width=3%><b>:</b></td>
	<td> <%=h @librarytransaction.reportlost? ? "Lost" : "No" %></td>
</tr>

<tr>
	<td class="leftcol" ><label for="report"><%= t 'librarytransaction.reportdetails' %></label></td>
	<td width=3%><b>:</b></td>
	<td><%=h @librarytransaction.report %></td>
</tr>

<tr>
	<td class="leftcol" ><label for="reportlostdate"><%= t 'librarytransaction.reportlostdate' %></label></td>
	<td width=3%><b>:</b></td>
	<td><%=h @librarytransaction.reportlostdate %></td>
</tr>

<tr>
	<td class="leftcol" ><label for="replaceddate"><%= t 'librarytransaction.replaceddate' %></label></td>
	<td width=3%><b>:</b></td>
	<td><%=h @librarytransaction.replaceddate %></td>
</tr>

</table>

<% end %>

</div>