<div class="tform">
	<H2><%= t 'librarytransaction.details' %></H2>
	<table width=100%>
	<tr>
		<td class="leftcol"><label for="book_id"><b><%= t 'book.title' %></b></label></td>
		<td>  <%=h @librarytransaction.accession.accession_no unless @librarytransaction.accession_id.blank? %> -  
					<%=h @librarytransaction.accession.book.title unless @librarytransaction.accession_id.blank? %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="isitstaff"><b><%= t 'librarytransaction.studentname' %></b></label></td>
		<td><%=h @librarytransaction.ru_staff? ?  @librarytransaction.borrower_name : @librarytransaction.borrower_name %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="checkoutdate"><b><%= t 'librarytransaction.checkoutdate' %></b></label></td>
		<td> <%=h l(@librarytransaction.checkoutdate) unless @librarytransaction.checkoutdate.blank? %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="returndate"><b><%= t 'librarytransaction.duedate' %></b></label></td>
		<td><%=h l(@librarytransaction.returnduedate) unless @librarytransaction.checkoutdate.blank? %></td>
	</tr>

	<% if @librarytransaction.extended? %>
	<tr>
		<td class="leftcol"><label for="extend"><b><%= t 'librarytransaction.extend' %></b></label></td>
		<td><%=h @librarytransaction.extended? ? "Yes" : "No Extension Taken" %></td>
	</tr>
	<% end %>

	<% if @librarytransaction.returned? %>
			<tr>
				<td class="leftcol" ><label for="returneddate"><b><%= t 'librarytransaction.returneddate' %></b></label></td>
			  <td><%=h l(@librarytransaction.returneddate) unless @librarytransaction.returneddate.blank? %></td>
			</tr>
	<% end %>
	
	<% if @librarytransaction.finepay?%>
	<tr>
		<td class="leftcol" ><label for="finepay"><b><%= t 'librarytransaction.finepay' %></b></label></td>
	   <td><%=h @librarytransaction.finepay? ? "Yes" : "Not Required"  %> - <%=h @librarytransaction.finepay? ? ringgols(@librarytransaction.fine) : ""  %></td>
	</tr>

	<tr>
		<td class="leftcol" ><label for="finepaydate"><b><%= t 'librarytransaction.finepaydate' %></b></label></td>
	  <td><%=h l(@librarytransaction.finepaydate) unless @librarytransaction.finepaydate.blank? %></td>
	</tr>
	<% end %>
	
</table>

<% if @librarytransaction.reportlost? %>
<H2><%= t 'librarytransaction.report' %></H2>


<table width=100%>
	<tr>
	<td class="leftcol" ><label for="reportlost"><b><%= t 'librarytransaction.lost' %></b></label></td>
	<td> <%=h @librarytransaction.reportlost? ? "Lost" : "No" %></td>
	</tr>
	
    <tr>
	<td class="leftcol" ><label for="report"><b><%= t 'librarytransaction.reportdetails' %></b></label></td>
	<td><%=h @librarytransaction.report %></td>
	</tr>
	
	<tr>
	<td class="leftcol" ><label for="reportlostdate"><b><%= t 'librarytransaction.reportlostdate' %></b></label></td>
	<td><%=h @librarytransaction.reportlostdate %></td>
	</tr>
	
	<tr>
	  <td class="leftcol" ><label for="replaceddate"><b><%= t 'librarytransaction.replaceddate' %></b></label></td>
	  <td><%=h @librarytransaction.replaceddate %></td>
	</tr>
	
	</table>
	
<% end %>

</div>
