<!--part for staff details & student details (start)-->
<% if @rustaff == '0' && @studentsearch != 0 %>
	<% student= Student.find(@studentsearch) %>
	<% quota = 2 %>
	<fieldset>
		<legend class='togvis'><b><%=t('librarytransaction.student_details')%></b></legend>
			<table>
				<tr>
					<td class="leftcol"><%=t('student.name')%> : </td>
					<td><%=h student.name %></td>
				</tr>
				<tr>
					<td class="leftcol"><%=t('student.matrixno.')%> :</td>
					<td><%=h student.matrixno %></td>
				</tr>
				<tr>
					<td class="leftcol"><%=t('student.icno')%> :</td>
					<td><%=h student.icno %></td>
				</tr>
				<tr>
					<td class="leftcol"><%=t('librarytransaction.course_id')%> : </td>
					<td><%=h check_kin{student.course.programme_list} %></td>
				</tr>
			</table>
	</fieldset>
<% elsif @rustaff != '0' && @staffsearch != 0 %>
	<% staff = Staff.find(@staffsearch) %>
	<% quota = 5 %>
	<fieldset>
		<legend class='togvis'><b><%=t('librarytransaction.staff_details')%></b></legend>
			<table>
				<tr>
					<td class="leftcol"><%=t('staff.name')%> : </td>
					<td><%=h staff.name %></td>
				</tr>
				<tr>
					<td class="leftcol"><%=t('staff.icno')%> :</td>
					<td><%=h staff.icno %></td>
				</tr>
				<tr>
					<td class="leftcol"><%=t('staff.position')%> : </td>
					<td><%#=h staff.position.name %><%=h staff.position_for_staff%></td>
				</tr>
		</table>
		</fieldset>
<% elsif @rustaff == '0' && @studentsearch == 0 %>
	&nbsp;&nbsp;&nbsp;<span class="isbn_bg3"><%=t('librarytransaction.insert_student_name')%></span>
<% elsif @rustaff != '0' && @staffsearch == 0 %>
	&nbsp;&nbsp;&nbsp;<span class="isbn_bg1"><%=t('librarytransaction.insert_staff_name')%></span>
<% end %>
<!--part for staff details & student details (end)-->

<!--part for loaned book details (start)-->
<% if (@rustaff == '0' && @studentsearch != 0) || (@rustaff != '0' && @staffsearch != 0) %>
	
	<H2><%= t 'librarytransaction.details' %></H2>
	
	<table>
		<tr>
			<td colspan="5" class="leftcol"><%=t('librarytransaction.total_loan')%> : <%= @loaned_books %> </td>
		</tr>
		<tr>
			<th>No</th>
			<th width=500px><%=t('book.accessionno')%> - <%=t('book.title')%></th>
			<th width=120px><%=t('librarytransaction.duedate')%></th>
			<th colspan=2 width=320px><%=t('librarytransaction.extend')%></th>
		</tr>
		<% bil=1 %>
		<% for book_on_loan in @books_on_loan %>
		
		<%# if book_on_loan.returned != true%><!--4Apr2013-->
		<tr>
			<td class='tlight' style="text-align:center;vertical-align:middle;"><%=bil%></td>
			<td class='tlight' style="vertical-align:middle;"><%= check_kin {book_on_loan.accession.acc_book} %></td>
		
			<td class='tlight' style="vertical-align:middle;"><%= l(book_on_loan.returnduedate) %></td>
			<td class='tlight' style="vertical-align:middle;">
				<% if book_on_loan.extended != true && book_on_loan.returned != true %>
					<%#= link_to image_tag("clock_add.png", :border => 0, :title => 'Extend'), :action => 'extend', :id => book_on_loan %> 
					<%= link_to_remote image_tag("clock_add.png", :border => 0, :title => 'Extend'), :url => {:action => 'extend2', :id => book_on_loan}, :update => 'extend_return' %> <%=t('librarytransaction.extend')%>
    			<% end %>
			</td>
			<td><!--HIDE THIS PART-Temporary not required!
				<%# if book_on_loan.returned != true %>
					<%#= link_to_remote image_tag("book_previous.png", :border => 0, :title => 'Return'), :url => {:action => 'return2', :id => book_on_loan}, :update => 'extend_return' %> Return
				<%# end %>-->
			</td>
			
		</tr>
		<%# end %><!--4Apr2013-->
		
		<% bil+=1%>
		<% end %>
	</table>
	<br>
	
	<table width="60%">
		<tr>
			<td colspan="4" class="leftcol"><%=t('librarytransaction.quota_balance')%> : <%= @quota_bal=quota-@loaned_books %> <%=t('librarytransaction.out_of')%> <%=quota%> <%=t('librarytransaction.books')%> </td>
		</tr>
	</table>
	
	<% count=0 %>
	<!--compulsory to have this line here-->
	<% @librarytransaction = Librarytransaction.new %>
			
	<!--just for checking (start)-do not remove
	<%#= @librarytransaction.books_that_are_out %>
	<%#= Accession.find(:all, :order => :accession_no, :conditions => ['id not in (?)', @librarytransaction.books_that_are_out])%><br>-->
	<!--just for checking (end)-->
			
	<% if @quota_bal > 0 %>
		<div id="barunyediv">
			<p><%= link_to_remote image_tag("add.png", :border => 0, :title => (t 'addmore')), :url => {:action => 'form_try', :index => count,:student=>@studentsearch, :staff=>@staffsearch, :rustaff=>@rustaff, :quota_bal=>@quota_bal }, :update => 'barunyediv' %> - <%=t('addmore')%>	
			</p>
		</div>
	<% else %>
		<%= hidden_field_tag("no_quota_bal", @quota_bal ) %>
		<%= hidden_field_tag("staff_first", @staffsearch)%>
		<%= hidden_field_tag("student_first", @studentsearch)%>
	<% end%>
	
<% end %>

<!--part for loaned book details (end)-->		

