<% form_tag edit_multiple_grades_path, :id => "form1" do %>
<!-- 15 May 2012 -->
<table width=100% border="0" cellpadding="0" cellspacing="0">
	<tr>
		<th> &nbsp;</th>
		<th>Student</th>
		<th>Subject</th>
		<!--<th>Sent to bpl</th>-->
		<th>Sent date</th>
		<th>Total Formative</th>
		<th>Score</th>
		<!--<th>Eligible for Exam</th>-->
		<!--<th>Carry Paper</th>-->
		<th>Total Summative</th>
		<!--<th>Resit</th>-->
		<th>Total Marks</th>
		<th>Grade</th>
		<th colspan=3 class="ac">Control</th>
	</tr>

<% @grades.each do |grade| %><!-- 15 May 2012 -->
<tr>
	<!-- 15 May 2012 -->
	<td><%= check_box_tag "grade_ids[]", grade.id, :class => "check" %></td><!-- 15 May 2012-->
	<!-- 15 May 2012 -->
	<td><%=h grade.student_id.blank? ? "" : grade.studentgrade.formatted_mykad_and_student_name %></td>
	<td><%#=h grade.subject_id %><%=h grade.subject_id.blank? ? "" : grade.subjectgrade.subject_code_with_subject_name %></td>
			<td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => grade %></td>
    		<td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => grade %></td>
    		<td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), grade, :confirm => 'Are you sure?', :method => :delete %></td>
  		</tr>

	<% end %>
	
		<%= submit_tag "Edit Checked", :name => :grade_submit_button %>