<h3>Extend Borrowing</h3>

<% form_for(@librarytransaction) do |f| %>
  <%= f.error_messages %>
 
<%=render :partial => 'show' %>
<div class="tform">
<table>
   <tr>
		<td class="leftcol" ><label for="extended"><%= t 'librarytransaction.extend' %></label></td>
		<td width=3%><b>:</b></td>
		<td><%= f.check_box :extended %><font color=#AAA size=-2> - will extend borrowing for another 14 days</font></td>
</tr>
</table>
</div>
<p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>

<%= link_to 'Show', @librarytransaction %> |
<%= link_to 'Back', librarytransactions_path %>