<h3><%=t('librarytransaction.extend_borrowing')%></h3>

<% form_for(@librarytransaction) do |f| %>
  <%= f.error_messages %>
 
	<%=render :partial => 'show' %>
	<div class="tform">
		<table>
  	<tr>
			<td class="leftcol" ><label for="extended"><b><%= t 'librarytransaction.extend' %></b></label></td>
		  <td><%= f.check_box :extended %><font color=#AAA size=-2> - <%=t('librarytransaction.extend_days')%></font></td>
			  <%= f.hidden_field :libextended_by, :value => Login.current_login.staff_id %>
		</tr>
		</table>
	</div>
	<p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>

<%= link_to (t 'show'), @librarytransaction %> |
<%= link_to (t 'back'), librarytransactions_path %>