<% form_tag :action => 'create' do |f|%> <!--moved from new.html.erb 28Feb2014-->

	<% @librarytransaction = Librarytransaction.new %>

	<% quotabal = params[:quota_bal].to_i %>
	<% rustaff = params[:rustaff] %>
	<% isstaff = false if rustaff == '0' %>
	<% isstaff = true if rustaff != '0' %>
	<% count = params[:index] %>
	<% abb = count.to_i %>
	<% abc = abb+=1%>
	<% abcd = abc+1%>
	
	<% if isstaff == true %>
		<% @staffid = params[:staff] %>
		<% @studentid = 0 %>
		<% @default_due = 3.weeks.from_now %>
	<% else %>
		<% @staffid = 0 %>
		<% @studentid = params[:student] %>
		<% @default_due = 2.weeks.from_now %>
	<% end %>

	<table style="border-bottom:1px solid black;border-top:1px solid black;">
		<tr><td style="vertical-align:middle;font-weight:bold;width:120px;height:10px;">Accession No</td>
			<td>
				<%#= select_tag("librarytransactions[#{count}][accession_id]", "<option>Accession No - Title</option>" + options_from_collection_for_select(Accession.find(:all, :order => :accession_no, :conditions => ['id not in (?)', @librarytransaction.books_that_are_out]), :id, :acc_book)) %> 			
				<%= text_field_with_auto_complete :librarytransaction, :accessionbook ,{ :size => 70 }, 
										{ :url => formatted_accessions_path(:js), 
					  					  :method => :get,
										  :param_name => 'search3' } %>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle;font-weight:bold;width:120px;height:10px;"><%= t 'librarytransaction.checkoutdate' %></td>
			<td><%= date_select("librarytransactions[#{count}]", "checkoutdate", :order => [:day, :month, :year])%></td>
		</tr>
		<tr>
			<td style="vertical-align:middle;font-weight:bold;width:120px;height:10px;"><%= t 'librarytransaction.duedate' %></td>
			<td><%= date_select("librarytransactions[#{count}]", "returnduedate", :order => [:day, :month, :year], :default =>  @default_due)%>&nbsp;</td>
		</tr>
	</table>
	
	<%= hidden_field_tag("librarytransactions[#{count}][staff_id]", @staffid ) %>	
	<%= hidden_field_tag("librarytransactions[#{count}][student_id]", @studentid ) %>
	<%= hidden_field_tag("librarytransactions[#{count}][ru_staff]", isstaff ) %>	
	<%= hidden_field_tag("librarytransactions[#{count}][libcheckout_by]", User.current_user.staff_id ) %>

	<br>
	<%= submit_tag 'Add Book',:name => :new_submit %> <!--moved from new.html.erb-->

<% end %> <!--moved from new.html.erb-->