<div class="box">
	<div class="box-head">
		<h2 class="left"><%= t 'librarytransaction.list' %></h2>
		<div class="right">
			<%= select_tag_for_filter("librarytransactions", @filters, params) %>
		</div>
	</div>
</div>

<% permitted_to? :manage, :librarytransactions do %>
<div class="toolbar">	
	<%= link_to image_tag("book_go.png", :border => 0, :title => (t 'librarytransaction.loanpage')) + (t 'librarytransaction.loanpage_title'), new_librarytransaction_path %> <!--|--> 
	<%#= link_to 'Library Transaction Page', :action => 'transaction_pag', :locals => {:class_type => '1'} %>
	<%= link_to image_tag("book_go.png", :border => 0, :title => (t 'librarytransaction.returnpage')) + (t 'librarytransaction.returnpage_title'), :action=> :multiple_edit %>
</div>
<% end %>


<div class="tlist">
	  <table width=100%>
			<tr>
			<th><%=t('book.accessionno')%></th>
			<th><%=t('book.classno') %></th>
	        <th><%= t 'librarytransaction.author' %></th>
	   		<th><%= t 'book.title' %></th>
			<th><%= t 'librarytransaction.staffstudent' %></th>
			<th><%= t 'librarytransaction.borrower' %></th>
			<!--<th>No</th>-->
			<th width="80px" style="text-align:center;"><%= t 'librarytransaction.duedate' %></th>
			<th><%=t 'librarytransaction.extend'%></th>
			<th width="80px" style="text-align:center;"><%= t 'librarytransaction.returneddate' %></th>
			<% permitted_to? :manage, :librarytransactions do %>
			 	<th colspan=3 style="text-align:center;"><%= t 'action' %></th>
			<% end %>
	     </tr>

	    <% @libtran_days.sort.reverse.each do |checkoutdate, librarytransactions| %>
			<tr><td colspan=12 style="background-color:#EFF1F1";><span style="color:#218AFB;font-weight:bold;"><%= l(checkoutdate, :format => "%A, %v") %></span></td></tr>
	    <% for librarytransaction in librarytransactions%>
	    <tr>
		  	<td><%=h librarytransaction.accession.try(:accession_no) unless librarytransaction.accession_id.blank? %></td>
		    <td> 
			<% if librarytransaction.accession %>
			<%=h librarytransaction.accession.book.classlcc? ?  librarytransaction.accession.book.classlcc : librarytransaction.accession.book.classddc %>
			<%#=h librarytransaction.accession.book.classddc unless librarytransaction.accession_id.blank? %>
			<% end %>
		    </td>
		    <td>
			<% if librarytransaction.accession %>
			    <%=h librarytransaction.accession.book.author unless librarytransaction.accession_id.blank?  %>
			<% end %>
		    </td>
		    <td>
			 <%if librarytransaction.accession %>
			    <%=h librarytransaction.accession.book.title unless librarytransaction.accession_id.blank? %>
			 <% else %>
			      <span style="color:red;"><%=t('librarytransaction.book_not_available')%></span>
			 <% end %>
		    </td>
		    <td style="text-align:center"><%=h librarytransaction.ru_staff? ? t('librarytransaction.staff') : t( 'librarytransaction.student') %>
				<%#=h librarytransaction.ru_staff? ? image_tag("cross.png", :border=>0, :title=>'is staff') : image_tag("tick.png", :border=>0, :title=>'is staff') %></td>
			<td><%=h librarytransaction.borrower_name %></td>
			<!--<td><%#=h librarytransaction.accession.book.orderno unless librarytransaction.accession_id.blank?%></td>-->
			<td style="text-align:center;">
				<% if librarytransaction.returnduedate < Date.today.yesterday && librarytransaction.returneddate.blank? %><span style="color:red;"><% else %><span style="color:black;">
				<% end %>
				<%=h l(librarytransaction.returnduedate)%>
				</span>
			</td>
			<td style="text-align:center;"><%=h image_tag("tick.png", :border=>0, :title=>('librarytransaction.extended')) if librarytransaction.extended? %></td>
		    <td style="text-align:center;"><%=h l(librarytransaction.returneddate) unless librarytransaction.returneddate.blank? %></td>
				<% permitted_to? :manage, :librarytransactions do %>
				<td width=10px>				  
						<% if librarytransaction.extended != true && librarytransaction.returned != true %>
							<%= link_to image_tag("clock_add.png", :border => 0, :title => (t 'librarytransaction.extend')), :action => 'extend', :id => librarytransaction %>
		    		<% end %></td>
				<td width=10px>
						<% if librarytransaction.returned != true %>
							<%= link_to image_tag("book_previous.png", :border => 0, :title => (t 'librarytransaction.return')), :action => 'return', :id => librarytransaction %>
		    		<% end %></td>
				<td width=10px><%= link_to image_tag("document.png", :border => 0,  :title => (t 'show')), :action => 'show', :id => librarytransaction %></td>
		    <!--<td width=10px><%= link_to image_tag("edit.png",     :border => 0,  :title => 'Edit'), :action => 'edit', :id => librarytransaction %></td>-->
	    <!--	<td width=10px>
							<%#= link_to image_tag("delete.png",   :border => 0,  :title => 'Delete'), librarytransaction, :confirm => 'Are you sure?', :method => :delete %></td>-->
		  </tr>
				<% end %>
			<% end %>
			<% end %>

		</table>

<br />
</div>
<% permitted_to? :manage, :librarytransactions do %>
<%= link_to image_tag("book_go.png", :border => 0, :title => (t 'librarytransaction.new')) + (t 'librarytransaction.new'), new_librarytransaction_path %>
<% end %>