<h3><%= t 'librarytransaction.new' %></h3>
<!-- <h3><%=t('librarytransaction.transaction_details')%></h3>  -->

<% if @librarytransaction %>

	<!--START-this part is for EXTEND & RETURN(IF 'UNREMARK') - Process:SINGLE Transaction-->	
	<!--for checking only-DO NOT REMOVE-->
  <%#=@librarytransaction.id %><%#=@librarytransaction.extended %>
	<% if (@librarytransaction.ru_staff == true) && (@librarytransaction.extended == true) %>
		<% @current_staff = @librarytransaction.staff_id %>
		<!--still, have to provide data for multiple transaction (upon EXTEND/RETURN) - refer line 117: -->
		<!-- '@librarytransactions.each_with_index do |librarytransaction, index|'-->
		<% @librarytransactions = Librarytransaction.find(:all, :conditions=>['staff_id=?',@current_staff]) %>
	<% elsif (@librarytransaction.ru_staff == false) && (@librarytransaction.extended == true) %> 
		<% @current_student = @librarytransaction.student_id %>
		<!--still, have to provide data for multiple transaction (upon EXTEND/RETURN) - refer line 117: -->
		<!-- '@librarytransactions.each_with_index do |librarytransaction, index|'-->
		<% @librarytransactions = Librarytransaction.find(:all, :conditions=>['student_id=?',@current_student]) %>
	<% end %>
	<!--END-this part is for EXTEND & RETURN(IF 'UNREMARK') - Process:SINGLE Transaction-->

<% else %>

	<!--START-this part is for MULTIPLE CREATION OF LOAN, when CREATE ALL RECORDS (latest one: ADD BOOK) was clicked-->
	<% if @librarytransactions %>
		<% if @librarytransactions[0].ru_staff == true %>
			<% @current_staff = @librarytransactions[0].staff_id %>
		<% else %>
			<% @current_student = @librarytransactions[0].student_id %>
		<% end %>
	<% end %>
	<!--END-this part is for MULTIPLE CREATION OF LOAN, when CREATE ALL RECORDS (latest one: ADD BOOK) was clicked-->

<% end %>

<div class="tform">
	<div id="new_form">
		<div align=right>
			<%= link_to image_tag("book_go.png",:border => 0,:title =>(t 'librarytransaction.returnpage'))+" "+(t 'librarytransaction.returnpage'),:action=> :multiple_edit %>
		</div>
		<H2><%=t('librarytransaction.loanpage_title')%></H2>
			<table width=100%>
				<tr>
					<td class="leftcol"><%= t 'librarytransaction.loanedtotype' %></td>
					<td>
						<% form_remote_tag(:url => {:action => :check_availability}, :update => 'new_form2' ) do %>
							<!---->
							<% if @current_staff %>
							
								<!--START-AFTER UPDATE-multiple edit screen:loan screen-->
								<%= check_box :ru_staff,{}, :id => 'staff', :onchange => "switchvisibility('staff')", :checked=>"checked" %>

								<span id="bstaff" style="display:table-row">
									<%#= select_tag(:staff_search,"<option>Select Staff</option>"+"<option value=#{ @current_staff } selected='selected'>#{Staff.find( @current_staff ).staff_name_then_mykad}</option>"+options_from_collection_for_select(Staff.find(:all, :conditions=>['id!=?',@current_staff]),:id, :staff_name_then_mykad)) %> 
									<%= text_field_with_auto_complete :librarytransaction, :staff_who ,{ :size => 50,
																		:value=>Staff.find(@current_staff).name }, 
																		{ :url => formatted_staffs_path(:js), 
																		:method => :get,:param_name => 'search' } %>
									<%= submit_tag t('librarytransaction.check_loan_details') %>
								</span>
								<span id="bstudent" style="display:none;">
									<%#= select_tag(:student_search, "<option>Select Student</option>"+options_from_collection_for_select(Student.find(:all, :order => :matrixno), :id, :matrix_name)) %>
									<%= text_field_with_auto_complete :librarytransaction, :student_who ,{ :size => 50 }, 
																		{ :url => formatted_students_path(:js), 
													  					  :method => :get,
																		  :param_name => 'search3' } %>
									<%= submit_tag t('librarytransaction.check_loan_details') %>
								</span>	
								<!--END-AFTER UPDATE-multiple edit screen:loan screen-->

							<% else %>

								<!--START-first time - multiple edit screen:loan screen OR AFTER UPDATE:STUDENT-->
								<%= check_box :ru_staff,{}, :id => 'staff', :onchange => "switchvisibility('staff')", :checked=>"unchecked" %>

								<span id="bstaff" style="display: none;">
									<%#= select_tag(:staff_search,"<option>Select Staff</option>"+options_from_collection_for_select(Staff.all,:id, :staff_name_then_mykad)) %> 
									<%= text_field_with_auto_complete :librarytransaction, :staff_who ,{ :size => 50 }, 
																		{ :url => formatted_staffs_path(:js), 
													  					  :method => :get,
																		  :param_name => 'search' } %>
									<%= submit_tag t('librarytransaction.check_loan_details') %>
								</span>
		
								<% if @current_student %>

									<!--START-AFTER UPDATE:STUDENT-->
									<span id="bstudent" style="display: table-row;">
										<%#= select_tag(:student_search, "<option>Select Student</option>"+options_from_collection_for_select(Student.find(:all, :order => :matrixno), :id, :matrix_name)) %>
										<%= text_field_with_auto_complete :librarytransaction, :student_who ,
																			{ :size => 50,:value=>Student.find(@current_student).icno }, 
																			{ :url => formatted_students_path(:js), 
														  					  :method => :get,
																			  :param_name => 'search3' } %>
										<%= submit_tag t('librarytransaction.check_loan_details')  %>
									</span>
									<!--END-AFTER UPDATE:STUDENT-->
								
								<% else %>

									<span id="bstudent" style="display: table-row;">
										<%#= select_tag(:student_search, "<option>Select Student</option>"+options_from_collection_for_select(Student.find(:all, :order => :matrixno), :id, :matrix_name)) %>
										<%= text_field_with_auto_complete :librarytransaction, :student_who ,{ :size => 50}, 
																			{ :url => formatted_students_path(:js), 
														  					  :method => :get,
																			  :param_name => 'search3' } %>
										<%= submit_tag t('librarytransaction.check_loan_details')  %>
									</span>

								<% end %>
							
								<!--END-first time - multiple edit screen:loan screen OR AFTER UPDATE:STUDENT-->
								
							<% end %>
							<!---->
						
						<% end %><!--end for form remote tag-->
					</td>
				</tr>	
			</table>
	</div><!-- enddiv id="new_form"-->

	<table width="100%">
		<tr>
			<td width="80%">
				<%# form_tag :action => 'create' do |f|%><!--moved to form_try.html.erb 28Feb2014-->	
					<%# @librarytransactions.each_with_index do |librarytransaction, index| %>
						<div id="new_form2"></div>
					<%# end %>
					<%#= submit_tag 'Create All Records',:name => :new_submit %><!--moved to form_try.html.erb 28Feb2014-->
				<%# end %><!--move to form_try.html.erb-28Feb2014-->
			</td>
			<td id="extend_return" style="border:0px solid blue; width:20%;"></td>
		</tr>
	</table>

</div><!--end for div class="tform"-->

<%= link_to (t 'back'), librarytransactions_path %>

<script type="text/javascript">
	function switchvisibility(el) {
	    if (document.getElementById(el).checked) {
	      document.getElementById('bstaff').style.display = "table-row";
	      document.getElementById('bstudent').style.display = "none";
	    } else {
	      document.getElementById('bstaff').style.display = "none";
	      document.getElementById('bstudent').style.display = "table-row";
	    }
	}
</script>

<script type="text/javascript">
	$j(document).ready(function(){
		$j('#librarytransaction_staff_id').change(function() {
		    $j('.bong').show();
			$j('.koik').hide();
		});
		  	
		$j('#librarytransaction_student_id').change(function() {
			$j('.bong').hide();
			$j('.koik').show();
		});
	});
</script>