<h3><%= t 'librarytransaction.newrec' %></h3>

<% form_for(@librarytransaction) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit (t 'new') %>
  </p>
<% end %>

<%= link_to (t 'back'), librarytransactions_path %>