<div class="tform">
	
	<H2>LibraryTransaction Details</H2>
  <table width=100%>
		<tr>
			<td class="leftcol"><label for="book_id"><b><%= t 'book.title' %></b></label></td>
			<td>  <%=h @librarytransaction.accession.book.isbn %> -  <%=h @librarytransaction.accession.book.title %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="isitstaff"><b><%= t 'librarytransaction.studentname' %></b></label></td>
			<td><%=h @librarytransaction.ru_staff? ?  @librarytransaction.staff.name : @librarytransaction.student.name %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="checkoutdate"><b><%= t 'librarytransaction.checkoutdate' %></b></label></td>
			<td> <%=h @librarytransaction.checkoutdate %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="returndate"><b><%= t 'librarytransaction.duedate' %></b></label></td>
			<td><%=h @librarytransaction.returnduedate %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="extend"><b><%= t 'librarytransaction.extend' %></b></label></td>
			<td><%=h @librarytransaction.extended? ? "Yes" : "Once" %></td>
		</tr>

		<tr>
			<td class="leftcol" ><label for="returneddate"><b><%= t 'librarytransaction.returneddate' %></b></label></td>
			<td><%=h @librarytransaction.returneddate %></td>
		</tr>


		<tr>
			<td class="leftcol" ><label for="finepay"><b><%= t 'librarytransaction.finepay' %></b></label></td>
			<td><%=h @librarytransaction.finepay? ? "Yes" : "Not Required"  %></td>
		</tr>

		<tr>
			<td class="leftcol" ><label for="finepaydate"><b><%= t 'librarytransaction.finepaydate' %></b></label></td>
			<td><%=h @librarytransaction.finepaydate %></td>
		</tr>
	</table>
	
	<% if @librarytransaction.reportlost == true %>
	
	<H2><%= t 'librarytransaction.report' %></H2>
	<table width=100%>
		<tr>
			<td class="leftcol" ><label for="reportlost"><b><%= t 'librarytransaction.lost' %></b></label></td>
			<td> <%=h @librarytransaction.reportlost? ? "Lost" : "No" %></td>
		</tr>

		<tr>
			<td class="leftcol" ><label for="report"><b><%= t 'librarytransaction.reportdetails' %></b></label></td>
			<td><%=h @librarytransaction.report %></td>
		</tr>

		<tr>
			<td class="leftcol" ><label for="reportlostdate"><b><%= t 'librarytransaction.reportlostdate' %></b></label></td>
			<td><%=h @librarytransaction.reportlostdate %></td>
		</tr>

		<tr>
			<td class="leftcol" ><label for="replaceddate"><b><%= t 'librarytransaction.replaceddate' %></b></label></td>
			<td><%=h @librarytransaction.replaceddate %></td>
		</tr>
	</table>
	<% end %>
</div>

<%= link_to 'Edit', edit_librarytransaction_path(@librarytransaction) %> |
<%= link_to 'Back', librarytransactions_path %>