<h1>Editing staffcourse</h1>

<% form_for(@staffcourse) do |f| %>
  <%= f.error_messages %>

	<%=render :partial => 'form', :locals => {:f => f} %> 
	  <p>
	    <%= f.submit 'Update' %>
	  </p>

<% end %>

<%= link_to 'Show', @staffcourse %> |
<%= link_to 'Back', staffcourses_path %>