<!-- Box -->
<div class="box">
	<div class="box-head">
		<h2 class="left">Courses Available For Staff</h2>
	</div>
</div>

<%= link_to 'Add New Course', new_staffcourse_path %>


<% @staffcourses.in_groups_of(4, false) do |row_staffcourses| %>
	<div class="column">
	<% for staffcourse in row_staffcourses %>
		<div class="coursebox">
			<div class="cb_name"><%= link_to staffcourse.name, new_trainingrequest_path %></div>
			<div class="cb_description">
				<%=h staffcourse.description %>
				<%=h staffcourse.rendered_course_type %> by <%=h staffcourse.provider %>
				<%=h staffcourse.location %><%=h staffcourse.duration %> <%=h staffcourse.rendered_course_duration %>
			</div>
			<div class="admin_actions">
					<%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => staffcourse %>
	  			<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => staffcourse %>
	  			<%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), staffcourse, :confirm => 'Are you sure?', :method => :delete %>
			</div>
		</div>

	<% end %>
	</div>
<% end %>
<br />