<!-- Box -->
<div class="box">
	<div class="box-head">
		<h2 class="left">Courses Available For Staff</h2>
	</div>
</div>
<div class="tlist">
	<table width=90% border="0" cellpadding="0" cellspacing="0">
		<tr>
	    <th>Name</th>
	    <th>Type</th>
	    <th>Provider</th>
	    <th>Location</th>
	    <th>Duration</th>
	    <th>Proponent</th>
	    <th>Cost</th>
	    <th colspan=3 class="ac">Control</th>
    </tr>
		<% @staffcourses.each do |staffcourse| %>
		<div class="coursebox">
			<div class="cb_name"><%=h staffcourse.name %></div>
			<div class="cb_description"><%=h staffcourse.description %></div>
			<div class="cb_details"><%=h staffcourse.location %><%=h staffcourse.duration %> <%=h staffcourse.rendered_course_duration %></div>
			<div class="cb_actions">To apply click here</div>
			<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => staffcourse %></td>
	    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => staffcourse %></td>
	    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), staffcourse, :confirm => 'Are you sure?', :method => :delete %></td>
			
			<div class="admin_actions">
		</div>
		<%=h staffcourse.name %>
					
  	<tr>
	    <td><</td>
	    <td><%=h staffcourse.rendered_course_type %></td>
	    <td><%=h staffcourse.provider %></td>
	    <td></td>
	    <td></td>
	    <td><%=h staffcourse.proponent %></td>
	    <td><%=h ringgols(staffcourse.cost) %></td>
		</tr>
	  <% end %>
	</table>
</div>
<br />

<%= link_to 'Add New Course', new_staffcourse_path %>