<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="100" height="100"/></th>
		<th><H4>PPL APMM<BR>NO.DOKUMEN: BK-KKM-04-01<BR><br>BORANG PENILAIAN DIRI UNTUK JURULATIH</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="100" height="100"/></th>
	</tr>
</table>

<div id="title">
<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="1" bordercolor=black>
	<tr>
		<td colspan=6><table width=100% cellspacing="0" cellpadding="5" font size="5px" border="0" bordercolor=black><b><u>TUJUAN</u></b></td>
	<tr>		
        <td width=3%>&#149;</td> 
        <td colspan=6>Panduan ini adalah untuk anda sendiri mengukur tahap kebolehan anda untuk melakukan tugas sebagai seorang jurulatih. Tiada sesiapa perlu melihat pencapaian anda. Jujurlah dengan diri anda sendiri. Jangan keterlaluan dalam memberi skor dan kenalpasti aspek yang perlu anda perbaiki.</td>
    
    <tr>
	    <td>&#149;</td>
	    <td colspan=6>Borang ini perlu diisi oleh anda setiap <b>3 BULAN</b> bagi mengukur kebolehan anda dan ianya akan diaudit oleh staf penilai Bahagian Pembangunan Kompetensi dan Kawalan Mutu.</td>
	
	<tr>
		<td rowspan=4>&#149;</td>
		<td colspan=6>Teliti setiap soalan betul-betul, kemudian isikan ruang dengan skor yang memaparkan pengamalan anda dalam melaksanakan tugas kejurulatihan. Skor yang diguna pakai adalah seperti berikut:</td>
			<tr>
				<td width=40%>&#149; &nbsp; Jika dipraktikkan setiap masa </td>
				<td><b>-2</b></td>
			</tr>
			
			<tr>
				<td width=40%>&#149; &nbsp; Jika kerap dipraktikkan </td>
				<td><b>-1</b></td>
			</tr>
				
			<tr>
				<td width=40%>&#149; &nbsp; Jika jarang atau tidak dipraktikkan </td>
				<td><b>-0</b></td>
			</tr>
		
	<tr>
		<td  rowspan=4>&#149;</td>
		<td colspan=6>Campurkan kesemua skor anda dan kenalpasti di peringkat mana anda berada:</td>
		  	
		<tr>
			<td width=40%>&#149; &nbsp; 90 dan ke atas </td>
			<td><b>- BAIK</b></td>
		</tr>
		
		<tr>
			<td width=40%>&#149; &nbsp; 89 - 65 </td>
			<td><b>- MEMUASKAN</b></td>
		</tr>
			
		<tr>
			<td width=40%>&#149; &nbsp; 64 atau kurang </td>
			<td><b>- TIDAK MEMUASKAN</b></td>
		</tr>
		
	
	<tr>
		<td>&#149;</td>
		<td colspan=6>Jika pencapaian skor anda adalah di bawah 79, anda harus sedar bahawa anda memerlukan peningkatan kemahiran sikap dan pengetahuan. Anda dikehendaki mengubah cara dan tabiat mengajar demi kepentingan pelatih dan organisasi ini.</td>
	</tr>
							
    <tr>
		 <td>&#149;</td>
		 <td colspan=6>Sila hubungi Bahagian Pembangunan Kompetensi dan Kawalan Mutu untuk perbincangan dan bantuan khidmat nasihat.</td>
	</tr>
	
	</table>
   
   <tr bgcolor=yellow>
	  <td width=7%><b><center>SIRI</td>
	  <td width=70%><b><center>SOALAN</td>
	  <td><b><center>2</td>
	  <td><b><center>1</td>
	  <td><b><center>0</td>
		
  		<tr>
			<td align="center">1</td>
			<td>Adakah saya menyusun tempat duduk di bilik darjah agar semua pelatih dapat mengikut pembelajaran dengan selesa?</td>
			<td align="center"><% if @instructor.q1 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q1 }).map {|disp, value| disp} %>
				<% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q1 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q1 }).map {|disp, value| disp} %>
				<% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q1 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q1 }).map {|disp, value| disp} %>
				<% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">2</td>
			<td>Adakah saya memastikan semua pelatih berada di dalam bilik darjah yang cukup terang pengcahayaan?</td>
			<td align="center"><% if @instructor.q2 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q2 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q2 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q2 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q2 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q2 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>	

		<tr>
			<td align="center">3</td>
			<td>Adakah saya mempunyai bahan bantuan mengajar yang mencukupi bila diperlukan?</td>
			<td align="center"><% if @instructor.q3 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q3 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q3 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q3 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q3 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q3 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">4</td>
			<td>Adakah saya memperkenalkan diri terlebih dahulu sebelum memulakan pelajaran di awal pembelajaran?</td>
			<td align="center"><% if @instructor.q4 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q4 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q4 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q4 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q4 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q4 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">5</td>
			<td>Bolehkah saya mengingatkan nama semua pelatih dalam bilik darjah?</td>
			<td align="center"><% if @instructor.q5 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q5 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q5 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q5 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q5 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q5 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">6</td>
			<td>Adakah saya memperoleh maklumat secukupnya bagi setiap pelatih dari kad rekod mereka?</td>
			<td align="center"><% if @instructor.q6 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q6 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q6 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q6 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q6 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q6 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">7</td>
			<td>Adakah saya berbincang dengan Pegawai Bahagian dan Ketua Bahagian pelatih sewajarnya?</td>
			<td align="center"><% if @instructor.q7 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q7 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q7 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q7 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q7 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q7 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">8</td>
			<td>Adakah saya memulakan kelas pada masa yang telah ditetapkan?</td>
			<td align="center"><% if @instructor.q8 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q8 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q8 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q8 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q8 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q8 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">9</td>
			<td>Adakah pakaian seragam saya bersih,kemas dan di gosok dengan rapi?</td>
			<td align="center"><% if @instructor.q9 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q9 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q9 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q9 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q9 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q9 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">10</td>
			<td>Adakah rupacara saya segak?</td>
			<td align="center"><% if @instructor.q10 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q10 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q10 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q10 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q10 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q10 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">11</td>
			<td>Adakah pengajaran saya merangkumi semua pelatih termasuk di barisan belakang?</td>
			<td align="center"><% if @instructor.q11 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q11 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q11 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q11 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q11 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q11 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>
		
</table>


<br><br><br> 

<center>1 daripada 3</center>

<br><br>

</div>
</fieldset>
<fieldset width=10px >

<div id="title">
<div id="title">
<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black>
   <tr bgcolor=yellow>
	  <td width=7%><b><center>SIRI</td>
	  <td width=70%><b><center>SOALAN</td>
	  <td><b><center>2</td>
	  <td><b><center>1</td>
	  <td><b><center>0</td>
		
   		<tr>
			<td align="center">12</td>
			<td>Adakah saya mengelak diri dari melakukan perkara yang  boleh mengganggu pelatih?</td>
			<td align="center"><% if @instructor.q12 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q12 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q12 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q12 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q12 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q12 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">13</td>
			<td>Adakah saya menilai keberkesanan pengajaran saya berpandukan tindak balas dan reaksi pelatih?</td>
			<td align="center"><% if @instructor.q13 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q13 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q13 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q13 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q13 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q13 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">14</td>
			<td>Adakah saya mengelak dari bercakap dengan papan kapor atau kanta lutsinar dan bertentangan mata dengan pelatih?</td>
			<td align="center"><% if @instructor.q14 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q14 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q14 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q14 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q14 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q14 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">15</td>
			<td>Adakah saya menggunakan perkataan yang mudah difahami?</td>
			<td align="center"><% if @instructor.q15 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q15 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q15 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q15 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q15 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q15 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">16</td>
			<td>Adakah saya bersopan dan mengelak dari menggunakan bahasa yang kesat?</td>
			<td align="center"><% if @instructor.q16 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q16 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q16 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q16 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q16 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q16 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">17</td>
			<td>Adakah saya memberi penerangan ke atas perkataan ke atas perkataan yang sukar dan menulisnya di papan kapor?</td>
			<td align="center"><% if @instructor.q17 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q17 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q17 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q17 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q17 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q17 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">18</td>
			<td>Adakah saya mengelak dari menyindir pelatih?</td>
			<td align="center"><% if @instructor.q18 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q18 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q18 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q18 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q18 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q18 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">19</td>
			<td>Adakah saya menpunyai rancangan mengajar untuk setiap mata pelajaran?</td>
			<td align="center"><% if @instructor.q19 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q19 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q19 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q19 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q19 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q19 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">20</td>
			<td>Adakah ini menjadi satu tebiat kepada saya untuk ke kelas dengan membawa kesemua bahan bantuan mengajar yang diperlukan?</td>
			<td align="center"><% if @instructor.q20 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q20 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q20 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q20 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q20 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q20 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">21</td>
			<td>Adakah rancangan mengajar saya dapat membantu persembahan mata pelajaran mengikut urutan yang betul?</td>
			<td align="center"><% if @instructor.q21 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q21 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q21 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q21 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q21 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q21 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">22</td>
			<td>Adakah ia menepati masa bagi setiap mata pelajaran yang diajar?</td>
			<td align="center"><% if @instructor.q22 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q22 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q22 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q22 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q22 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q22 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">23</td>
			<td>Adakah ia dapat menimbulkan pertanyaan soalan?</td>
			<td align="center"><% if @instructor.q23 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q23 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q23 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q23 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q23 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q23 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">24</td>
			<td>semasa mengendalikan latihan amali di bengkel adakah saya mengehadkan percakapan saya ke tahap minimum,agar pelatih dapat menumpu kepada kerja masing-masing?</td>
			<td align="center"><% if @instructor.q24 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q24 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q24 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q24 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q24 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q24 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">25</td>
			<td>adakah saya sering kali mengulangi ungkapan yang kurang penting?</td>
			<td align="center"><% if @instructor.q25 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q25 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q25 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q25 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q25 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q25 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">26</td>
			<td>Adakah saya mengelak dari mengganggu pelatih?</td>
			<td align="center"><% if @instructor.q26 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q26 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q26 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q26 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q26 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q26 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">27</td>
			<td>Adakah saya mengelakkan pelatih membuat kerja sehingga selesai waktu?</td>
			<td align="center"><% if @instructor.q27 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q27 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q27 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q27 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q27 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q27 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">28</td>
			<td>Adakah saya meyesuaikan diri saya dengan kelas?</td>
			<td align="center"><% if @instructor.q28 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q28 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q28 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q28 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q28 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q28 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">29</td>
			<td>Adakah saya mengalakkan pelatih menanya soalan?</td>
			<td align="center"><% if @instructor.q29 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q29 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q29 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q29 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q29 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q29 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">30</td>
			<td>Adakah pelatih menghormati saya sebagai seorang jurulatih?</td>
			<td align="center"><% if @instructor.q30 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q30 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q30 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q30 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q30 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q30 }).map {|disp, value| disp} %>><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">31</td>
			<td>Adakah saya menggunakan bahan bantuan mengajar pada waktu yang bersesuaian?</td>
			<td align="center"><% if @instructor.q31 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q31 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q31 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q31 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q31 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q31 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">32</td>
			<td>Adakah saya mengubahsuai bahan bantuan mengajar jika perlu?</td>
			<td align="center"><% if @instructor.q32 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q32 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q32 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q32 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q32 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q32 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">33</td>
			<td>Adakah saya membuat penelitian ke atas bahan bantuan mengajar sebelum digunakan?</td>
			<td align="center"><% if @instructor.q33 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q33 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q33 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q33 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q33 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q33 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">34</td>
			<td>Adakah saya memperolehi tumpuan sepenuhnya dari semua pelatih?</td>
			<td align="center"><% if @instructor.q34 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q34 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q34 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q34 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q34 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q34 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">35</td>
			<td>Adakah saya memberi motivasi kepada pelatih dengan membuat huraian berhubung kait dengan pembelajaran?</td>
			<td align="center"><% if @instructor.q35 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q35 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q35 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q35 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q35 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q35 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">36</td>
			<td>Adakah saya membuat penelitian ke atas bahan bantuan mengajar sebelum digunakan?</td>
			<td align="center"><% if @instructor.q36 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q36 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q36 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q36 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q36 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q36 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">37</td>
			<td>Adakah saya memperolehi tumpuan sepenuhnya dari semua pelatih?</td>
			<td align="center"><% if @instructor.q37 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q37 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q37 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q37 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q37 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q37 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">38</td>
			<td>Adakah saya memberi motivasi kepada pelatih dengan membuat huraian berhubung kait  dengan pembelajaran?</td>
			<td align="center"><% if @instructor.q38 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q38 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q38 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q38 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q38 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q38 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">39</td>
			<td>Adakah saya memberitahu pelatih objektif pelajaran?</td>
			<td align="center"><% if @instructor.q39 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q39 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q39 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q39 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q39 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q39 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">40</td>
			<td>Adakah saya membuat perbelajaran menjadi lebih mudah dengan cara memberi contoh-contoh yang baik untuk mempertingkatkan daya ingatan?</td>
			<td align="center"><% if @instructor.q40 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q40 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q40 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q40 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q40 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q40 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">41</td>
			<td>Adakah saya menanya soalan kepada pelatih semasa pembelajaran?</td>
			<td align="center"><% if @instructor.q41 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q41 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q41 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q41 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q41 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q41 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>
	
	
</table>


<br><br><br><br><br><br>

<center>2 daripada 3</center>

<br><br>

</div>
</div>
</fieldset>

<fieldset width=10px >

<div id="title">
<div id="title">

<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="1" bordercolor=black>
   <tr bgcolor=yellow>
	  <td width=7%><b><center>SIRI</td>
	  <td width=70%><b><center>SOALAN</td>
	  <td><b><center>2</td>
	  <td><b><center>1</td>
	  <td><b><center>0</td>
		
  		<tr>
			<td align="center">42</td>
			<td>Adakah saya memastikan pelatih memperolehi pengetahuan dan keupayaan yang dinyatakan pada objektif?</td>
			<td align="center"><% if @instructor.q42 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q42 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q42 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q42 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q42 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q42 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">43</td>
			<td>Adakah saya memberi masa yang cukup kepada pelatih untuk melatih kemahiran?</td>
			<td align="center"><% if @instructor.q43 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q43 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q43 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q43 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q43 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q43 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">44</td>
			<td>Adakah maklum balas diberi kepada setiap pelatih selepas setiap soalan atau pelaksanaan?</td>
			<td align="center"><% if @instructor.q44 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q44 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q44 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q44 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q44 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q44 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">45</td>
			<td>Adakah saya menguji tahap pengetahuan dan keupayaan untuk setiap objektif?</td>
			<td align="center"><% if @instructor.q45 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q45 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q45 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q45 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q45 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q45 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">46</td>
			<td>Adakah saya membuat latihan susulan pada kemahiran yang penting supaya pelatih tidak cepat lupa?</td>
			<td align="center"><% if @instructor.q46 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q46 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q46 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q46 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q46 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q46 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">47</td>
			<td>Adakah saya mengubahsuai cara mengajar setelah mengambil kira tahap kebolehan dan pengalamn pelatih yang berlainan?</td>
			<td align="center"><% if @instructor.q47 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q47 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q47 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q47 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q47 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q47 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

		<tr>
			<td align="center">48</td>
			<td>Adakah saya memberi perhatian yang lebih kepada pelatih yang lemah?</td>
			<td align="center"><% if @instructor.q48 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q48 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q48 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q48 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
			<td align="center"><% if @instructor.q48 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q48 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		</tr>

	<!--20Feb2013-Feature #11-->
	<tr>
	  <td colspan=2 align="right"><b><i>JUMLAH</td>
	  <!--20Feb2013-Feature #11-->
	  <td align="center"><%= Instructor.totalmark(2.to_i,@instructor)%></td>
	  <td align="center"><%= Instructor.totalmark(1.to_i,@instructor)%></td>
	  <td align="center"><%= Instructor.totalmark(0.to_i,@instructor)%></td>
      <!--20Feb2013-Feature #11-->
	</tr>
	
</table>

<br><br>

<center><table width=60% cellspacing="0" cellpadding="5" font size="5px" border="1" bordercolor=black>
	<tr>
		<td bgcolor=yellow width=40% rowspan=2><center><b><i>SKOR <BR>KESELURUHAN</td>
			<td><b><center> > 90</td>
		    <td><b><center>80 - 65</td>
			<td><b><center> < 64</td>
	</tr>
	<tr>	
		<td align="center"><% if @instructor.total_mark >= 90 %><%=h @instructor.total_mark %> <%else %>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.total_mark >= 65  %><%=h @instructor.total_mark %><%else %>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.total_mark <= 64 %><%=h @instructor.total_mark %> <%else %>&nbsp;<%end%></td>
	</tr>
	
	</table></center>
	
<br><br><br>

<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="0" bordercolor=black>
	<tr>
		<td width=53%>TARIKH : <%=h @instructor.appraisaldate.strftime("%d %b %Y") %></td>
		<td>TANDATANGAN : ......................................<br><br>
			Nama : <%=h @instructor.staff_id.blank? ? "" : @instructor.instructor_name.name %><br><br>
			Pangkat : <%=h @instructor.staff_id.blank? ? "" : @instructor.instructor_name.title_for_staff %></td>
</table>


<br><br><br> <br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN OLEH: BKMM</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DISEMBER 2011</th>
	</tr>

</table>

<br><br><br><br>

<center>3 daripada 3</center>

<br><br>

</div>
</div>
</fieldset>



