<% form_for(@instructor) do |f| %>
  <%= f.error_messages %>
<div class="tform">
<H2>Instructor Details</H2>
<table width=100% >

	<tr>
		<td  width=23%><label for="student_id"><font size=2>&nbsp;Instructor Name</font></label></td>
		<td><b>:</b></td>
		<td><%=h @instructor.staff_id.blank? ? "" : @instructor.instructor_name.staff_name_with_title %></td>
	</tr>
	 
	<tr>
		<td class="leftcol"><label for="subject_id">Date</label></td>
		<td><b>:</b></td>
		<td><%=h @instructor.appraisaldate.strftime("%d %b %Y") %></td>
	</tr>
	
	<tr >
		<td class="leftcol"><label for="subject_id">Sent To Quality Control:</label></td>
		<td><b>:</b></td>
		<td><%=h @instructor.qcsent? ? "Yes" : "No" %></td>
	</tr>
</table>
<BR>
<H2>Instructor Appraisal Details</H2>
<table width=60% align="center" cellpadding=7 border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 ">
	<tr>
		<th colspan=3 align="center">SKOR</th>
	</tr>
	<tr align="center">
		<th width=20%>2</th>
		<th width=20%>1</th>
		<th width=20%>0</th>
	</tr>
	<tr align="center">
		<td>Jika Dipraktikkan Setiap Masa</td>
		<td>Jika Kerap Dipraktikkan</td>
		<td>Jika Jarang Atau Tidak Dipraktikkan</td>
	</tr>

</table>
<BR>
<table width=100% cellpadding=7 border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 ">
	<tr>
		<th align="center" width=10%>SIRI</th>
		<th  align="center" width=70%>SOALAN</th>
		<th  align="center" width=5%>2</th>
		<th  align="center" width=5%>1</th>
		<th  align="center" width=5%>0</th>
	</tr>
	
	<tr>
		<td align="center">1</td>
		<td>Adakah saya menyusun tempat duduk di bilik darjah agar semua pelatih dapat mengikut pembelajaran dengan selesa?</td>
		<td align="center"><% if @instructor.q1 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q1 }).map {|disp, value| disp} %>
			<% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q1 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q1 }).map {|disp, value| disp} %>
			<% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q1 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q1 }).map {|disp, value| disp} %>
			<% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">2</td>
		<td>Adakah saya memastikan semua pelatih berada di dalam bilik darjah yang cukup terang pengcahayaan?</td>
		<td align="center"><% if @instructor.q2 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q2 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q2 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q2 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q2 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q2 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>	
	
	<tr>
		<td align="center">3</td>
		<td>Adakah saya mempunyai bahan bantuan mengajar yang mencukupi bila diperlukan?</td>
		<td align="center"><% if @instructor.q3 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q3 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q3 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q3 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q3 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q3 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">4</td>
		<td>Adakah saya memperkenalkan diri terlebih dahulu sebelum memulakan pelajaran di awal pembelajaran?</td>
		<td align="center"><% if @instructor.q4 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q4 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q4 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q4 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q4 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q4 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">5</td>
		<td>Bolehkah saya mengingatkan nama semua pelatih dalam bilik darjah?</td>
		<td align="center"><% if @instructor.q5 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q5 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q5 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q5 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q5 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q5 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">6</td>
		<td>Adakah saya memperoleh maklumat secukupnya bagi setiap pelatih dari kad rekod mereka?</td>
		<td align="center"><% if @instructor.q6 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q6 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q6 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q6 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q6 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q6 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">7</td>
		<td>Adakah saya berbincang dengan Pegawai Bahagian dan Ketua Bahagian pelatih sewajarnya?</td>
		<td align="center"><% if @instructor.q7 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q7 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q7 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q7 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q7 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q7 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">8</td>
		<td>Adakah saya memulakan kelas pada masa yang telah ditetapkan?</td>
		<td align="center"><% if @instructor.q8 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q8 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q8 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q8 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q8 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q8 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">9</td>
		<td>Adakah pakaian seragam saya bersih,kemas dan di gosok dengan rapi?</td>
		<td align="center"><% if @instructor.q9 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q9 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q9 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q9 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q9 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q9 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">10</td>
		<td>Adakah rupacara saya segak?</td>
		<td align="center"><% if @instructor.q10 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q10 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q10 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q10 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q10 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q10 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">11</td>
		<td>Adakah pengajaran saya merangkumi semua pelatih termasuk di barisan belakang?</td>
		<td align="center"><% if @instructor.q11 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q11 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q11 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q11 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q11 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q11 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">12</td>
		<td>Adakah saya mengelak diri dari melakukan perkara yang  boleh mengganggu pelatih?</td>
		<td align="center"><% if @instructor.q12 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q12 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q12 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q12 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q12 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q12 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">13</td>
		<td>Adakah saya menilai keberkesanan pengajaran saya berpandukan tindak balas dan reaksi pelatih?</td>
		<td align="center"><% if @instructor.q13 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q13 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q13 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q13 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q13 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q13 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">14</td>
		<td>Adakah saya mengelak dari bercakap dengan papan kapor atau kanta lutsinar dan bertentangan mata dengan pelatih?</td>
		<td align="center"><% if @instructor.q14 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q14 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q14 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q14 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q14 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q14 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">15</td>
		<td>Adakah saya menggunakan perkataan yang mudah difahami?</td>
		<td align="center"><% if @instructor.q15 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q15 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q15 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q15 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q15 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q15 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">16</td>
		<td>Adakah saya bersopan dan mengelak dari menggunakan bahasa yang kesat?</td>
		<td align="center"><% if @instructor.q16 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q16 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q16 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q16 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q16 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q16 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">17</td>
		<td>Adakah saya memberi penerangan ke atas perkataan ke atas perkataan yang sukar dan menulisnya di papan kapor?</td>
		<td align="center"><% if @instructor.q17 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q17 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q17 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q17 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q17 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q17 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">18</td>
		<td>Adakah saya mengelak dari menyindir pelatih?</td>
		<td align="center"><% if @instructor.q18 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q18 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q18 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q18 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q18 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q18 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">19</td>
		<td>Adakah saya menpunyai rancangan mengajar untuk setiap mata pelajaran?</td>
		<td align="center"><% if @instructor.q19 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q19 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q19 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q19 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q19 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q19 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">20</td>
		<td>Adakah ini menjadi satu tebiat kepada saya untuk ke kelas dengan membawa kesemua bahan bantuan mengajar yang diperlukan?</td>
		<td align="center"><% if @instructor.q20 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q20 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q20 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q20 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q20 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q20 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">21</td>
		<td>Adakah rancangan mengajar saya dapat membantu persembahan mata pelajaran mengikut urutan yang betul?</td>
		<td align="center"><% if @instructor.q21 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q21 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q21 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q21 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q21 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q21 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">22</td>
		<td>Adakah ia menepati masa bagi setiap mata pelajaran yang diajar?</td>
		<td align="center"><% if @instructor.q22 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q22 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q22 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q22 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q22 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q22 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">23</td>
		<td>Adakah ia dapat menimbulkan pertanyaan soalan?</td>
		<td align="center"><% if @instructor.q23 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q23 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q23 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q23 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q23 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q23 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">24</td>
		<td>semasa mengendalikan latihan amali di bengkel adakah saya mengehadkan percakapan saya ke tahap minimum,agar pelatih dapat menumpu kepada kerja masing-masing?</td>
		<td align="center"><% if @instructor.q24 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q24 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q24 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q24 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q24 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q24 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">25</td>
		<td>adakah saya sering kali mengulangi ungkapan yang kurang penting?</td>
		<td align="center"><% if @instructor.q25 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q25 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q25 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q25 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q25 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q25 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">26</td>
		<td>Adakah saya mengelak dari mengganggu pelatih?</td>
		<td align="center"><% if @instructor.q26 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q26 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q26 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q26 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q26 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q26 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">27</td>
		<td>Adakah saya mengelakkan pelatih membuat kerja sehingga selesai waktu?</td>
		<td align="center"><% if @instructor.q27 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q27 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q27 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q27 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q27 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q27 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">28</td>
		<td>Adakah saya meyesuaikan diri saya dengan kelas?</td>
		<td align="center"><% if @instructor.q28 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q28 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q28 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q28 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q28 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q28 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">29</td>
		<td>Adakah saya mengalakkan pelatih menanya soalan?</td>
		<td align="center"><% if @instructor.q29 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q29 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q29 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q29 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q29 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q29 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">30</td>
		<td>Adakah pelatih menghormati saya sebagai seorang jurulatih?</td>
		<td align="center"><% if @instructor.q30 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q30 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q30 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q30 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q30 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q30 }).map {|disp, value| disp} %>><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">31</td>
		<td>Adakah saya menggunakan bahan bantuan mengajar pada waktu yang bersesuaian?</td>
		<td align="center"><% if @instructor.q31 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q31 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q31 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q31 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q31 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q31 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">32</td>
		<td>Adakah saya mengubahsuai bahan bantuan mengajar jika perlu?</td>
		<td align="center"><% if @instructor.q32 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q32 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q32 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q32 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q32 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q32 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">33</td>
		<td>Adakah saya membuat penelitian ke atas bahan bantuan mengajar sebelum digunakan?</td>
		<td align="center"><% if @instructor.q33 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q33 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q33 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q33 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q33 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q33 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">34</td>
		<td>Adakah saya memperolehi tumpuan sepenuhnya dari semua pelatih?</td>
		<td align="center"><% if @instructor.q34 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q34 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q34 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q34 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q34 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q34 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">35</td>
		<td>Adakah saya memberi motivasi kepada pelatih dengan membuat huraian berhubung kait dengan pembelajaran?</td>
		<td align="center"><% if @instructor.q35 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q35 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q35 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q35 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q35 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q35 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">36</td>
		<td>Adakah saya membuat penelitian ke atas bahan bantuan mengajar sebelum digunakan?</td>
		<td align="center"><% if @instructor.q36 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q36 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q36 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q36 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q36 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q36 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">37</td>
		<td>Adakah saya memperolehi tumpuan sepenuhnya dari semua pelatih?</td>
		<td align="center"><% if @instructor.q37 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q37 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q37 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q37 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q37 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q37 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">38</td>
		<td>Adakah saya memberi motivasi kepada pelatih dengan membuat huraian berhubung kait  dengan pembelajaran?</td>
		<td align="center"><% if @instructor.q38 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q38 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q38 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q38 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q38 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q38 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">39</td>
		<td>Adakah saya memberitahu pelatih objektif pelajaran?</td>
		<td align="center"><% if @instructor.q39 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q39 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q39 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q39 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q39 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q39 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">40</td>
		<td>Adakah saya membuat perbelajaran menjadi lebih mudah dengan cara memberi contoh-contoh yang baik untuk mempertingkatkan daya ingatan?</td>
		<td align="center"><% if @instructor.q40 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q40 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q40 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q40 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q40 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q40 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">41</td>
		<td>Adakah saya menanya soalan kepada pelatih semasa pembelajaran?</td>
		<td align="center"><% if @instructor.q41 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q41 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q41 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q41 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q41 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q41 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">42</td>
		<td>Adakah saya memastikan pelatih memperolehi pengetahuan dan keupayaan yang dinyatakan pada objektif?</td>
		<td align="center"><% if @instructor.q42 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q42 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q42 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q42 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q42 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q42 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">43</td>
		<td>Adakah saya memberi masa yang cukup kepada pelatih untuk melatih kemahiran?</td>
		<td align="center"><% if @instructor.q43 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q43 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q43 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q43 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q43 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q43 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">44</td>
		<td>Adakah maklum balas diberi kepada setiap pelatih selepas setiap soalan atau pelaksanaan?</td>
		<td align="center"><% if @instructor.q44 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q44 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q44 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q44 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q44 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q44 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">45</td>
		<td>Adakah saya menguji tahap pengetahuan dan keupayaan untuk setiap objektif?</td>
		<td align="center"><% if @instructor.q45 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q45 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q45 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q45 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q45 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q45 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">46</td>
		<td>Adakah saya membuat latihan susulan pada kemahiran yang penting supaya pelatih tidak cepat lupa?</td>
		<td align="center"><% if @instructor.q46 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q46 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q46 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q46 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q46 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q46 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">47</td>
		<td>Adakah saya mengubahsuai cara mengajar setelah mengambil kira tahap kebolehan dan pengalamn pelatih yang berlainan?</td>
		<td align="center"><% if @instructor.q47 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q47 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q47 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q47 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q47 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q47 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
	
	<tr>
		<td align="center">48</td>
		<td>Adakah saya memberi perhatian yang lebih kepada pelatih yang lemah?</td>
		<td align="center"><% if @instructor.q48 == 2 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q48 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q48 == 1 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q48 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
		<td align="center"><% if @instructor.q48 == 0 %><%=h (Instructor::SCORE.find_all{|disp, value| value == @instructor.q48 }).map {|disp, value| disp} %><% else%>&nbsp;<%end%></td>
	</tr>
</table>
<BR>
<table width=60% align="center" cellpadding=7 border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 ">

	<tr align="center">
		<th width=25%></th>
		<th width=25%> > 90 <BR><font color="grey", size="-2"> (BAIK) </font></th>
		<th width=25%> 80 - 65 <BR> <font color="grey", size="-2"> (MEMUASKAN) </font> </th>
		<th width=25%> < 64  <BR> <font color="grey", size="-2"> (TIDAK MEMUASKAN) </font></th>
	</tr>
	<tr align="center">
		<td><b>SKOR </b> <BR> <b>KESELURUHAN</b></td>
		<td><% if @instructor.total_mark >= 90 %><%=h @instructor.total_mark %> <%else %>&nbsp;<%end%></td>
		<td><% if @instructor.total_mark >= 65  %><%=h @instructor.total_mark %><%else %>&nbsp;<%end%></td>
		<td><% if @instructor.total_mark <= 64 %><%=h @instructor.total_mark %> <%else %>&nbsp;<%end%></td>
	</tr>

</table>
<% if permitted_to? :manage, @instructor%>
<H2>Checking By Quality Control</H2>
<table width=100% >
		<tr>
			<td width=23%><label for="subject_id">Check?</label></td>
			<td><b>:</b></td>
			<td><%= f.check_box :checked %><font color="grey", size="-2"> Please tick if had checked </font></td>
		</tr>
		
		<tr>
			<td width=23%><label for="checked_qc">Checked By</label></td>
			<td><b>:</b></td>
			<td><%= f.collection_select :check_qc, Position.find(:all, :conditions => ["unit=?", "Kompetensi/Kawalan Mutu"]), :id, :unit_staff_name, :include_blank => true %></td>
		</tr>
		
		<tr>
			<td width=23%><label for="subject_id">Checking Date</label></td>
			<td><b>:</b></td>
			<td><%= f.date_select :check_date, :start_year => 2012, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>
			
	
</table>
<% end %>
</div>
<p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<BR>
<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>