<div class="tform">
	<% if @stock.status != 4 %>
	<H2>Stock Application Details</H2>
  <table width=100% border=0 >

	<tr>
		<td class="leftcol"><label for="app_no">Application No</label></td>
		<td><b>:</b></td>
		<td><%=h @stock.sv %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="staff_id">Applicant Name</label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :staff_id, Staff.find(:all, :conditions => ["id = ?", current_user.staff_id]), :id, :staff_name_with_title %></td>
	</tr>
	

	
	<tr>
		<td class="leftcol"><label for="app_date">Ordered Date</label></td>
		<td><b>:</b></td>
		<td><%= f.date_select :app_date, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="status">Status</label></td>
		<td><b>:</b></td>
		<td><%= f.select :status,
			                 Stock::STATUS,
			                 :prompt => "Select" %></td>
	</tr>
	<% if @stock.approval == TRUE %>
	<tr>	
		<td class="leftcol"><label for="received_date">Received Date</label></td>
		<td><b>:</b></td>
		<td><%= f.date_select :received_date, :start_year => 2011, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>

	<% end %>
	<tr>
		<td class="leftcol"><label for="approver_id">Approving Officer</label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :approver_id, Staff.find(:all, :include => [:title], :order => 'titles.id ASC', :conditions => {:id => [40, 78]}), :id, :staff_name_with_title, :include_blank => true %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="approver_id">Item Requested</label></td>
		<td><b>:</b></td>
	</tr>
		
</table>
<div>
	<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0">
		<tr>
			<th width=40% >Item Details</th>
			<th width=15% >Quantity Ordered  </th>
			<% if (User.current_user.staff_id == @stock.approver_id) %>
			<th width=15% >Quantity Approved</th>
			<th width=25% > Remark</th><% end %>
			<th width=5%></th>

		</tr>
		</table>
	
	<% f.fields_for :stockdetails do |builder| %>
		<%= render 'stockdetail_fields', :f => builder %>
		
	<% end %>
	<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :stockdetails %> - Add More </p>
	
</div>
<% end %>
<% if @stock.status == 4 %>

	<H2>Stock Application Details</H2>
  <table width=100% border=0>

	<tr>
		<td class="leftcol"><label for="staff_id">Application No</label></td>
		<td width=2%><b>:</b></td>
		<td><%=h @stock.app_no %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Staff Name</label></td>
		<td width=2%><b>:</b></td>
		<td><%=h @stock.applicant.staff_name_with_title %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="staff_id">Jawatan</label></td>
		<td><b>:</b></td>
		<td><%=h @stock.applicant.position_for_staff %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="staff_id">Unit</label></td>
		<td><b>:</b></td>
		<td><%=h @stock.applicant.unit_for_staff %></td>
	</tr>	
</table>


<table width=100% border=0 cellspacing=0>
	<tr>
		<td class="leftcol">Item Requested</td>
		<td><b>:</b></td>
		<td><table width=50% border=1 cellspacing=0 cellpadding=7 BORDERCOLOR="#C0C0C0">
			<tr>
				<th width=300 align="center"><b>Item Details</b></th>
				<th width=100 align="center"><b>Quantity Ordered</b></th>
			</tr>
	<% for stockdetail in @stock.stockdetails %>
	<tr>
		<td><%=h stockdetail.supplier.sub_category  %> / <%=h stockdetail.supplier.item_type  %> </td>
		<td align="center"><%=h stockdetail.quantity_order %> <%=h stockdetail.supplier.unittype  %>  </td>
	</tr>
	<% end %>	
		
</table>
</td>
</tr>
</table>
<table>
	<tr>
		<td class="leftcol"><label for="app_no">Application No</label></td>
		<td><b>:</b></td>
		<td><%=h @stock.app_no %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="app_no">Ordered Date</label></td>
		<td><b>:</b></td>
		<td><%=h @stock.app_date.blank? ? "-" : @stock.app_date.strftime("%d %b %Y") %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="app_no">Status</label></td>
		<td><b>:</b></td>
		<td><%=h (Stock::STATUS.find_all{|disp, value| value == @stock.status}).map {|disp, value| disp} %></td>
	</tr>
	<% if @stock.approval == TRUE %>
	<tr>
		<td class="leftcol"><label for="received_date">Received Date</label></td>
		<td><b>:</b></td>
		<td><%=h @stock.received_date.blank? ? "-" : @stock.received_date.strftime("%d %b %Y") %></td>
	</tr>
	<% end %>
	<tr>
		<td class="leftcol"><label for="app_no">Approving Officer</label></td>
		<td><b>:</b></td>
		<td><%=h @stock.approver.staff_name_with_title %></td>
	</tr>
</table>
	<% if @stock.status == 2 || @stock.status == 3 %>
<H2>Stock Approved</H2>
	<table width=100% border=0 cellspacing=0>
		<tr>
			<td class="leftcol">Item Requested</td>
			<td><b>:</b></td>
			<td><table width=100% border=1 cellspacing=0 cellpadding=0 BORDERCOLOR="#C0C0C0">
		<tr>
			<th width=300 align="center"><b>Item Details</b></th>
			<th width=100 align="center"><b>Quantity Ordered</b></th>
			<th width=100 align="center"><b>Quantity Approved</b></th>
			<th width=150 align="center"><b>Remark</b></th>
		</tr>
		<% for stockdetail in @stock.stockdetails %>
		<tr>
			<td><%=h stockdetail.supplier.sub_category  %> / <%=h stockdetail.supplier.item_type  %> </td>
			<td align="center"><%=h stockdetail.quantity_order %> <%=h stockdetail.supplier.unittype  %>  </td>
			<td align="center"><%=h stockdetail.quantity_approve %> <%=h stockdetail.supplier.unittype  %>  </td>
			<!--<td align="center"><#%=h stockdetail.balance_quantity %> <#%=h stockdetail.supplier.unittype  %>  </td>-->
			<td align="center"><%=h stockdetail.remark %> </td>
		</tr>
		<% end %>	

	</table>
	</td>
	</tr>
	</table>
	<table>
			<tr>
				<td class="leftcol"><label for="app_date">Status</label></td>
				<td><b>:</b></td>
				<td><%=h (Stock::STATUS.find_all{|disp, value| value == @stock.status}).map {|disp, value| disp} %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="app_date">Date</label></td>
				<td><b>:</b></td>
				<td><%=h @stock.app_date.blank? ? "-" : @stock.app_date.strftime("%d %b %Y") %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="app_date">Store Officer</label></td>
				<td><b>:</b></td>
				<td><%=h @stock.storeman_id.blank? ? "-" : @stock.storeman.staff_name_with_title %></td>
			</tr>
</table>
<% end %>
	
<H2>Stock Updated</H2>
	<table width=100% border=0 cellspacing=0>
		<tr>
			<td class="leftcol">Item Updated</td>
			<td><table width=100% border=1 cellspacing=0 cellpadding=0 >
		<tr>
			<th width=25% align="center"><b>Item Details</b></th>
			<th width=25% align="center"><b>Quantity Ordered</b></th>
			<th width=25% align="center"><b>Quantity Approved</b></th>
			<th width=25% align="center"><b>Balance Quantity Ordered</b></th>
		</tr>
		<% for stockdetail in @stock.stockdetails %>
		<tr>
			<td><%=h stockdetail.supplier.sub_category  %> / <%=h stockdetail.supplier.item_type  %> </td>
			<td align="center"><%=h stockdetail.quantity_order %> <%=h stockdetail.supplier.unittype  %>  </td>
			<td align="center"><%=h stockdetail.quantity_approve %> <%=h stockdetail.supplier.unittype  %>  </td>
			<td align="center"><%=h stockdetail.balance_quantity %> <%=h stockdetail.supplier.unittype  %>  </td>
		</tr>
		<% end %>	

	</table>
	</td>
	</tr>
	</table>
	<table>

			<tr>
				<td class="leftcol"><label for="remark">Remark:</label></td>
				<td><%=h @stock.remark %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="app_date">Status</label></td>
				<td><%=h (Stock::STATUS.find_all{|disp, value| value == @stock.status}).map {|disp, value| disp} %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="app_date">Date Approved</label></td>
				<td><%=h @stock.app_date.blank? ? "-" : @stock.app_date.strftime("%d %b %Y") %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="app_date">Store Officer</label></td>
				<td><%=h @stock.storeman.staff_name_with_title %></td>
			</tr>
</table>
<H2>Store Officer</H2>
<table border=0 width=100%>
	

	<tr>
		<td class="leftcol">Item Updated</td>
		<td><table width=100% border=1 cellspacing=0 cellpadding=0>
	<tr>
		<th width=30% align="center"><b>Item Details</b></th>
		<th width=25% align="center"><b>Quantity Updated</b></th>
		<th width=25% align="center"><b>Quantity Approved</b></th>
		<th width=20% align="center"><b>Balance Stock</b></th>
	
	</tr>
	<% for stockdetail in @stock.stockdetails %>
	<tr>
		<td><%=h stockdetail.supplier.sub_category  %> / <%=h stockdetail.supplier.item_type  %> </td>
		<td align="center"><%=h stockdetail.quantity_order %> <%=h stockdetail.supplier.unittype  %>  </td>
		<td align="center"><%=h stockdetail.quantity_approve %> <%=h stockdetail.supplier.unittype  %>  </td>
		<td align="center"><%=h stockdetail.supplier.current_quantity %> <%=h stockdetail.supplier.unittype  %>  </td>
	
	</tr>
	<% end %>	

</table>
</td>
</tr>
<!--<tr>
		<td class="leftcol"><label for="date_update">Date Update Record</label></td>
		<td><#%=h @stock.date_update %></td>
</tr>-->

<tr>
		<td class="leftcol"><label for="app_date">Status</label></td>
		<td><%=h (Stock::STATUS.find_all{|disp, value| value == @stock.status}).map {|disp, value| disp} %></td>
</tr>

<tr>
	<td class="leftcol"><label for="sent">Sent To Applicant?</label></td>
	<td><%=h @stock.sent? ? "Ya" : "Tidak" %></td>
</tr>
</table>
<H2>Confirmation of Receipt</H2>
<table>
<tr>
	<td class="leftcol"><label for="status">Status</label></td>
	<td><b>:</b></td>
	<td><%= f.select :status,
		                 Stock::STATUS,
		                 :prompt => "Select" %></td>
</tr>
</table>
<% end %>




</div>