
	<tr>
		<td class="leftcol"><label for="login">Login: </label></td>
		<td><%= f.text_field :login, :size => 12 %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="email">Email: </label></td>
		<td><%= f.text_field :email %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="password">Password: </label></td>
		<td><%= f.text_field :password, :size => 12 %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="password_confirmation">Confirm Password: </label></td>
		<td><%= f.text_field :password_confirmation, :size => 12 %></td>
	</tr>

	<tr>
		<td colspan=2><b>Select role to add to this user</b></td>
		<td></td>
	</tr>
	

	<% for role in Role.find(:all) %>
	<tr>
		<td></td>
		<td><%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
    <%= role.name %>
    </td>
  </tr>
  <% end %>


	


</table>		
</div>