<%= error_messages_for :user %>
<% form_for @user do |f| -%>


<!-- Edit User -->
<div class="tform">
	<H2>System User Details</H2>
  <table width=100% >
	<tr>
		<td class="leftcol"><label for="login">Login </label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :login, :size => 25 %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="login">Attach User </label></td>
		<td><b>:</b></td>
		<td>
		<% if @user.isstaff? == true %>
				<%= (f.collection_select :staff_id, Staff.find(:all), :id, :staff_name_with_title, :include_blank => true, :default => 0, :prompt => 'Select Staff') %>	
		<% else %>
				<%= 	(f.collection_select :student_id, Student.find(:all), :id, :formatted_mykad_and_student_name, :include_blank => true, :default => 0, :prompt => 'Select Student') %>
		<% end %>
		</td>
	</tr>

	<tr>
		<td class="leftcol"><label for="email">Email </label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :email %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="password">Password </label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :password, :size => 12 %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="password_confirmation">Confirm Password </label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :password_confirmation, :size => 12 %></td>
	</tr>
</table>


	<H2>User Roles</H2>
	<P><strong>Select role to add to this user</strong></P>	
	<table width=100% border=0>
		<% Role.all.in_groups_of(5, false) do |row_roles| %>
		<tr>
			<% for role in row_roles %>
			<td><%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %> <%= role.name %></td>
		  <% end %>
		</tr>
		<% end %>

	</table>

<p><%= submit_tag 'Update' %></p>
<% end -%>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

</div>
