<%= error_messages_for :user %>
<% form_for @user do |f| -%>


<!-- Edit User -->
<div class="tform">
  <table width=100% >
	
	
<!--User Info-->
	<tr>
		<th colspan = 2>System User Details</th>
	</tr>
	<tr>
		<td class="leftcol" ><label for="staff_id"><b><%= @user.isstaff? ? 'Staff Name:' : 'Student Name' %></b></label></td>
		<td><%= @user.isstaff? ?  
		(f.collection_select :staff_id, Staff.find(:all), :id, :mykad_with_staff_name, :include_blank => true, :default => 0) : 
		(f.collection_select :student_id, Student.find(:all), :id, :formatted_mykad_and_student_name, :include_blank => true, :default => 0) %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="login">Login: </label></td>
		<td><%= f.text_field :login, :size => 12 %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="email">Email: </label></td>
		<td><%= f.text_field :email %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="password">Password: </label></td>
		<td><%= f.text_field :password, :size => 12 %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="password_confirmation">Confirm Password: </label></td>
		<td><%= f.text_field :password_confirmation, :size => 12 %></td>
	</tr>
</table>


	<table width=85%%>
		<tr>
			<th>User Roles</th>
		</tr>
		<tr>
			<td><b>Select role to add to this user</b></td>
		</tr>
	</table>
	<table>
		<tr>
		<% for role in Role.find(:all) %>
			<td width=25px ALIGN="center"><%= role.name %></td>
		<% end %>
		  <td></td>
		</tr>
		<tr>
		<% for role in Role.find(:all) %>
			<td ALIGN="center"><%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %></td>
		<% end %>
		  <td></td>
		</tr>

	</table>

<p><%= submit_tag 'Update' %></p>
<% end -%>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

</div>
