<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Lists of Users</h2>
		<!--	<#div class="right">
				<#% form_tag users_path, :method => 'get' do %>
				<#%= text_field_tag :search, params[:search], :placeholder => "Login Name"  %>
				<#%= submit_tag I18n.t('search'), :login => nil %>
				<#% end %>
			</div>-->
	</div>
</div>
<!--<div class="pagination">
 <#%= will_paginate @users %>
</div>-->
<BR>
<div class="indextable">
	<table>
		<tr>
		<th> User Name</th>
    	<th>Login Name</th>
    	<th>Email</th>
			<th colspan=3 class="ac">Control</th>
  	</tr>
 <% @user_roles.each do |isstaff, users| %>
    <tr>
      <td colspan=12><% if isstaff == true %><BR><b>STAFF</b><% else %><BR><b> STUDENT </b><% end %></td>
   	</tr>

			<% for user in users %>
	  <tr>
			<td><%=h user.user_nama %></td>
	    <td><%=h user.login %></td>
	    <td><%=h user.email %></td>
	    <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => user %></td>
	    <td width=10px><%= link_to image_tag("edit.png",     :border => 0, :title => 'Edit'), :action => 'edit', :id => user %></td>
	    <td width=10px><%= link_to image_tag("delete.png",   :border => 0, :title => 'Delete'), user, :confirm => "Are you sure you want to delete '#{user.login}'?", :method => :delete %></td>
	  </tr>

	<% end %><% end %>
	</table>
</div>
<br />
<%= link_to 'New User', new_user_path %>
