<h1>Editing doc</h1>

<% form_for(@doc) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :curriculum_id %><br />
    <%= f.text_field :curriculum_id %>
  </p>
  <p>
    <%= f.label :cofile_id %><br />
    <%= f.text_field :cofile_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @doc %> |
<%= link_to 'Back', docs_path %>