<p>
  <b>Curriculum:</b>
  <%=h @doc.curriculum_id %>
</p>

<p>
  <b>Cofile:</b>
  <%=h @doc.cofile_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @doc.name %>
</p>

<p>
  <b>Version:</b>
  <%=h @doc.version %>
</p>

<p>
  <b>Description:</b>
  <%=h @doc.description %>
</p>


<%= link_to 'Edit', edit_doc_path(@doc) %> |
<%= link_to 'Back', docs_path %>