<table width=100% border=1 cellspacing=0 cellpadding=0>
	<tr>
		<th rowspan=2 width=30%>Name</th>
		<!--<th rowspan=2>Rank</th>-->
		<th rowspan=2 width=15%>MyKad No</th>
		<th colspan='<%=@examquestions.mcq.count%>' width=3%>MCQ</th>
		<% if @examquestions.obj.count!=0 %>
			<th colspan='<%=@examquestions.obj.count%>' width=3%>OBJ</th>
		<% end %>
		<% if @examquestions.tf.count!=0 %>
			<th colspan='<%=@examquestions.tf.count%>' width=3%>T/F</th>
		<% end %>
		<th rowspan=2>Total marks</th>
	</tr>
	<tr>
		<% 1.upto(@examquestions.mcq.count) do |count| %>
			<td>Q<%=count%> / <%=@examquestions.mcq[count-1].marks %></td>
		<% end %>
		<% 1.upto(@examquestions.obj.count) do |count| %>
			<td>Q<%=count%>/ <%=@examquestions.obj[count-1].marks %></td>
		<% end %>
		<% 1.upto(@examquestions.tf.count) do |count| %>
			<td>Q<%=count%>/ <%=@examquestions.tf[count-1].marks %></td>
		<% end %>
	</tr>
	<% @students.each_with_index do |student, index| %>
	<tr>
		<td><%= student.name %></td>
	<!--	<td><%#= student.pangkat %></td>-->
		<td><%= student.icno %></td>
	
		<!---->
		<% 0.upto(2) do |count| %>
			<% if count == 0 %>
				<% @examquestions2 = @examquestions.mcq %>
				<% @index2 = 0 %>
				<% @span_type_column = @examquestions.mcq.count %>
				<% @title_span = 'MCQ'%>
			<% elsif count == 1 %>
				<% @examquestions2 = @examquestions.obj %>
				<% @index2 = @examquestions.mcq.count %>
				<% @span_type_column = @examquestions.obj.count %>
				<% @title_span = 'OBJ'%>
			<% elsif count == 2 %>
				<% @examquestions2 = @examquestions.tf %>
				<% @index2 = @examquestions.mcq.count+@examquestions.obj.count %>
				<% @span_type_column = @examquestions.tf.count %>
				<% @title_span = 'TRUE/FALSE'%>
				<% end %>
		
				<% @examquestions2.each_with_index do |examquestion,index3| %>
				
			<td>
				<%= text_field "analysispaperexams[#{index}][marks_attributes][#{@index2}]",:mark , :size=>4,:value=>@val_mark   %> 
			</td>
			
				<% @index2+=1%>
			
			<% end %>	
		<% end %>	<!--end for 0.upto(2) do |count|-->
		<!---->
		<td><%#= text_field "analysispaperexams[#{index}]",:total_marks, :size => 5 , :value=> @value_total %></td>
	
	</tr>
	<% end %>	
</table>
