<h1>Editing usesupply</h1>

<% form_for(@usesupply) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :supplies_id %><br />
    <%= f.text_field :supplies_id %>
  </p>
  <p>
    <%= f.label :issuedby %><br />
    <%= f.text_field :issuedby %>
  </p>
  <p>
    <%= f.label :receivedby %><br />
    <%= f.text_field :receivedby %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :issuedate %><br />
    <%= f.date_select :issuedate %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @usesupply %> |
<%= link_to 'Back', usesupplies_path %>