<p>
  <b>Supplies:</b>
  <%=h @usesupply.supplies_id %>
</p>

<p>
  <b>Issuedby:</b>
  <%=h @usesupply.issuedby %>
</p>

<p>
  <b>Receivedby:</b>
  <%=h @usesupply.receivedby %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @usesupply.quantity %>
</p>

<p>
  <b>Issuedate:</b>
  <%=h @usesupply.issuedate %>
</p>


<%= link_to 'Edit', edit_usesupply_path(@usesupply) %> |
<%= link_to 'Back', usesupplies_path %>