<%#=render :partial => 'exams/position_dept' %> <!--retrieve position for current logged-in user-->
<%#=render :partial => 'exam_listing.html.erb'%><!--retrieve exam listing, student listing for use-->

<!--11Apr2013-->
<%# @anc_depth = current_login.staff.position.ancestry_depth %>

<%# if @anc_depth==2 %>
	<%# @dept_unit = current_login.staff.position.unit %>
<%# elsif @anc_depth < 2 %>
	<%# @position_count = Position.find(:all, :conditions=>['staff_id=?',current_login.staff]).count %>
	<%# if @position_count > 1 %>
		<%# @dept_unit = Position.find(:first,:conditions=>['staff_id=? and ancestry_depth=?', current_login.staff_id,2]).unit %>			
	<%# end %>
<%# elsif @anc_depth > 2 %>
	<%# @dept_unit = current_login.staff.position.ancestors.at_depth(2)[0].unit %>
<%# end %>



<%# @examlist2 = Exam.find(:all, :conditions=>['klass_id is null or klass_id!=?',0]) %>

<%# if (current_login.roles.name.include? 'Administration') %>
	<%# @exam_list = @examlist2 %>
	<%# @student_list = Student.all %>
	<%# @subject_list = Programme.at_depth(2) %>
<%#else%>
<!---->
	<%# @exam_list = [] %><%#=@examlist2%>
	<%# @examlist2.each do |x| %>
		<%# if x.subject.root.name == @dept_unit %>
			<%# @exam_list << x %>
		<%# end %>
	<!--<br><%#= x.subject.root.name %> -->
	<%# end %>
	<%#@student_list = [] %>
	<%# Student.all.each do |y| %>
		<%# if y.course_id && y.course.name == @dept_unit %>
			<%# @student_list << y %>
		<%# end %>
		<!--<br><%#= y.course_id? ? y.course.name : "programme not entered" %>-->
	<%# end %>
	<%# @subject_list = Programme.find_by_name(@dept_unit).descendants.at_depth(2)%>
<!---->	
<%# end %>
<!--11Apr2013-->




<div class="tform">
<H2><%=t('exammark.details')%></H2>

	<table width=100%>
		<tr>
			<td class="leftcol"><label><%=t('exam.exampaper')%></label></td>
			<td>
				<%= f.collection_select :exam_id, @exam_list, :id, :exam_name_subject_date, 
										{:include_blank=>(t 'select')},
					 					:onchange => remote_function(:update => "exammark_marks_form", :url => {:action=>'view_marks_form'}, 
										:with => "'examid='+$('"+"exammark_exam_id"+"').value ")%><br><span style="font-size:11px;"> * <%=t('exammark.single_entry_allowed')%></span>
			</td>
				<%#= f.collection_select :subject_id, Programme.find(:all, :conditions => ['ancestry_depth =?', 2 ]), :id, :subject_list, 
										{:include_blank=>(t 'select'), :selected => @exam.subject_id },
										:onchange => remote_function(:update => "exam_questions_list", :url => {:action=>'view_questions'}, 
										:with => "'subject='+$('"+"exam_subject_id"+"').value + '&exam_id='+'#{@exam.id}' ") %>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label (t 'exammark.student_id')%></td>
			<td><%= f.collection_select :student_id, @student_list, :id, :matrix_name, :include_blank=>(t 'select'), :selected=>@exammark.student_id %></td>
		</tr>
		<tr>
			<td class="leftcol"><%=t('examquestion.question.')%></td>
			<td>
				<span id="exammark_marks_form">
					<% if @exammark.id.nil? || @exammark.id.blank? %>
						<!--resubmission of new exammark, either student or exampaper not selected.-->
						<% @exam_id=@exammark.exam_id %>
						<%=render :partial => 'view_marks_form', :locals => {:f => f,:examid=>@exam_id} %> 
					<% else %>
						<!--edit existing record-->
						<% @exam_id=@exammark.exam_id %>
						<%=render :partial => 'view_marks_form', :locals => {:f => f,:examid=>@exam_id} %>
					<% end %>
				</span>
			</td>
		</tr>
	</table>
	
	
	
	
	
	
 </div>