<!--13Apr2013-DEPT UNIT for current user-->
<%# @anc_depth = current_user.staff.position.ancestry_depth %>

<!--27May2013-how to retrieve position for staff with multiple positions?-->
<%# @multi_position = Position.find(:all, :conditions => ['staff_id=?',current_user.staff_id])%>
<%# @ifmulti_position = @multi_position.count %>

<%# if @anc_depth==2 %>
	<%# @dept_unit = current_user.staff.position.unit %>
<%# elsif @anc_depth < 2 %>
	<%## @position_count = Position.find(:all, :conditions=>['staff_id=?',current_user.staff]).count %>
	<%## if @position_count > 1 %>
	<%# if @ifmulti_position > 1 %><!--DRY-27 May 2013-->
		<%# @dept_unit = Position.find(:first,:conditions=>['staff_id=? and ancestry_depth=?', current_user.staff_id,2]).unit %>			
	<%# end %>
	<!--26 May 2013-newly added for Mdm Yap Peck Seah-ancestry_depth-1(Ketua Unit penilaian & Kualiti)-->
	<%# if @anc_depth==1 %>
		<%# @dept_unit = Position.find(:first,:conditions=>['staff_id=?', current_user.staff_id]).unit %>
	<%# end %>
	<!--26 May 2013-newly added for Mdm Yap Peck Seah-ancestry_depth-1(Ketua Unit penilaian & Kualiti)-->
<%# elsif @anc_depth > 2 %>
	<!--27 May 2013-START-added for mohd firdaus fikri(radiografi)-MULTIPLE positions-->
	<%# if @ifmulti_position > 1 %>
		<%# @multi_position.each do |x|%>
			<%# if x.parent.id > 6 && x.parent.id < 17 %>
				<!--hoho<%#= @dept_unit = x.parent.unit %>--><%# @dept_unit = x.parent.unit %>
			<%# end %>	
		<%# end %>
	<%# else %>
		<%# @dept_unit = current_user.staff.position.ancestors.at_depth(2)[0].unit %>
		<!--30Mei2013-->
		<%# if @dept_unit == "Pos Basik" && @anc_depth == 3 %><!--@anc_depth==3-->
			<%# @dept_unit = current_user.staff.position.unit %>
		<%# end %>
		<!--30Mei2013-->
	<%# end %>
	<!--27 May 2013-START-added for mohd firdaus fikri(radiografi)-MULTIPLE positions-->
<%# end %>

<%# current_user_roles=[]%>
<%# User.current_user.roles.each do |role|%>
	<%# current_user_roles<<role.id%>
<%# end %>
<%#= current_user_roles.include?(2)%>
<!--13/20Apr2013-DEPT UNIT for current user-->

<%###################################################%>
<%# if current_user_roles.include?(2) %>
	<%# @exam_list = Exam.all %>
	<%# @student_list = Student.all %>
	<%# @subject_list = Programme.at_depth(2) %>
<%#else%><!--if NOT ADMIN-->

	<%# if @anc_depth==1 %>
	<!--26 May 2013-newly added for Mdm Yap Peck Seah-ancestry_depth-1(Ketua Unit penilaian & Kualiti)-->
		<%# @kupk = "yes" %>
		<%# @exam_list = Exam.all %>
		<%# @student_list = Student.all %>
		<%# @subject_list = Programme.at_depth(2) %>
	<!--26 May 2013-newly added for Mdm Yap Peck Seah-ancestry_depth-1(Ketua Unit penilaian & Kualiti)-->
	<%# else %>
		<!---->
		<%# @exam_list = [] %>
		<%# Exam.all.each do |x| %>
			<%# if x.subject.root.name == @dept_unit %>
				<%# @exam_list << x %>
			<%# end %>
			<!--<br><%#= x.subject.root.name %> -->
		<%# end %>
		<%# @student_list = [] %>
		<%# Student.all.each do |y| %>
			<%# if y.course_id && y.course.name == @dept_unit %>
				<%# @student_list << y %>
			<%# end %>
			<!--<br><%#= y.course_id? ? y.course.name : "programme not entered" %>-->
		<%# end %><%#=@dept_unit%><%# @dept_unit_prog = @dept_unit %>
		<%# @subject_list = Programme.find_by_name(@dept_unit).descendants.at_depth(2)%>
		<!---->	
	<%# end %>

<%# end %>
<!--11-12Apr2013-->
<%###################################################%>
<%#--------------------------------------------------------------------------------------------------------------------------%>

<% form_tag :action => 'create' do |f|%>
	<% @exammarks.each_with_index do |exammark, index| %>
		<% fields_for "exammarks[#{index}]", exammark do |f| %>
			<%#=render :partial => 'form_multiple_intake', :locals => {:f => f,:index=>index} %>
			<!--******************-->
			<% if index==0 %>
			<div class="tform">

			  <H2>Examination Mark Details</H2>


						<table width=100%>
							<% if @dept_unit_prog %>
								<tr><td class="leftcol">Programme</td><td><%=@dept_unit_prog %></td></tr>
							<% end %>
							<tr>
								<td class="leftcol"><label>Examination Paper</label></td>
								<td><% @selected_exam = Exam.find(@examid)%>
								<!--DISPLAY EXAM DETAILS AT THIS LINE--><%=@selected_exam.exam_name_subject_date %>
								<% if @selected_exam.klass_id == 0 %><font color="blue">(Template)</font><% end %><br>
								<!--bln:--><% @exammonth=@selected_exam.exam_on.strftime("%m")%>
								<!--tahun:--><% @examyear=@selected_exam.exam_on.strftime("%Y")%>
								<!--course_type:<%#=@selected_exam.subject.parent.course_type%>-->
								<!--semester:--><% @semester=@selected_exam.subject.parent.code%>
								<!--Intake--><% @iii=Exammark.set_intake_group(@examyear,@exammonth,@semester).to_s %>
								<!--PROGRAMME NAME & ID--><% @selected_exam.subject.root.name %><% @programmeid=@selected_exam.subject.root.id %>
								</td>
							</tr>
							<tr>
								<td class="leftcol"><label>Student Intake</label></td>
								<td>
									<!--
									<%#=@student_list.count %>
									<%#=@student_list2= Student.find(:all, :conditions=> ['course_id=? and intake=?',@programmeid, @iii]).count %>
									<br>semua student prog ini<%#=@prog_allstudent=Student.find(:all,:conditions=> ['course_id=?',@programmeid]).count %><br>-->								
									<%# @intakes=[] %>
									<%# @intake_list = Student.find(:all,:conditions=> ['course_id=?',@programmeid]).group_by{|l|l.intake}%>
									<%# @counter = 0 %>
									<%# @intake_list.each do |m,n| %>
										<%# @intakes<<m %>
									<%# end %>
									<%# @i4='2010-07-01'%>
									<%@intakes.each_with_index do |n,index|%>
										<%#if n.to_s == @i4 %><!--yes--><%#@aa=index%><%#else %><!--no--><%# end %>
										<%if n.to_s == @iii %><!--yes--><%@aa=index%><%else %><!--no--><% end %>
									<% end %>
									
									<%#= f.select :intake_id, @intakes, :selected=>@intakes[1], :include_blank=> 'Select Intake' %>
									<% if @aa.nil? %>
										<%= f.select :intake_id, @intakes, { :include_blank=> 'Select Intake'}, 
										:onchange => remote_function(:update => form_tag_id(f.object_name, :marks_multiple), 
										:url => {:action=>'view_marks_form_multiple_intake'}, 
										:with => "'intakeid='+$('"+"exammarks_0_intake_id"+"').value+'&examid='+'#{@examid}'+'&programmeid='+'#{@programmeid}'  ") %>
									<% else %>
										<%= f.select :intake_id, @intakes, {:selected=>@intakes[@aa], :include_blank=> 'Select Intake'}, 
										:onchange => remote_function(:update => form_tag_id(f.object_name, :marks_multiple), 
										:url => {:action=>'view_marks_form_multiple_intake'}, 
										:with => "'intakeid='+$('"+"exammarks_0_intake_id"+"').value+'&examid='+'#{@examid}'+'&programmeid='+'#{@programmeid}'  ") %>
									<% end %>
									
									<%#= f.collection_select :exam_id, @exam_list, :id, :exam_name_subject_date, 
															{:include_blank=>'Select Examination Paper'},
															:onchange => remote_function(:update => form_tag_id(f.object_name, :marks_multiple), :url => {:action=>'view_marks_form_multiple'}, 
															:with => "'examid='+$('"+"exammarks_0_exam_id"+"').value ")%>
								</td>
							</tr>
							<% if @selected_exam.klass_id == 0 && @selected_exam.examtemplates.count>0 %>
								<tr>
									<td class="leftcol"><label>Questions Template - (Type/Quantity/Total Marks)</label></td>
									<td><% @q_qty=0 %>
										<% @selected_exam.examtemplates.each_with_index do |examtemplate, index| %>
											<%= examtemplate.questiontype.to_s+" / "+examtemplate.quantity.to_s+" / " +examtemplate.total_marks.to_s%>
											<% if index < @selected_exam.examtemplates.count-1 %>, <% end %>
											<% @q_qty+= examtemplate.quantity %>
										<% end %>
									</td>
								</tr>
							<% end %>
							
							<tr>
								<td colspan=2>
									<%= tag("div", :id => form_tag_id(f.object_name, :marks_multiple)) %>
										<% if @examid.nil? || @examid.blank? %><!--tteeengook-->
											<!--do nothing here-->
										<% else %>
											<% if @selected_exam.klass_id == 0 %>
												<% @questioncount = @q_qty %>
											<% else %>
												<% @questioncount = Exam.find(@examid).examquestions.count %>
											<% end %>
											<% @studentscount = Student.find(:all, :conditions=>['course_id=? and intake=?',@programmeid,@iii.to_s]).count %>
											<%=render :partial => 'view_marks_form_multiple_intake', :locals => {:f => f,:examid=>@examid, :intake_id=>@iii, :aaa=>@aa,:programmeid=>@programmeid,:questioncount=> @questioncount, :studentscount=>@studentscount } %> 
										<% end %>
									</div>
								</td>
							</tr>
						</table>


			</div>
			<% end %>
			<!--******************-->
			
		<% end %>	<!-- end of - @exammarks.each_with_index -->
	<% end %>	<!-- end of - fields_for "exammarks[#{index}]"-->
	<p><%= f.submit 'Create By Paper',:name => :new_submit %></p>
<% end %>	<!-- end of - form_tag :action => 'create' do |f| %>-->
<!--end-trial new exammark by exampaper (filtered by programme)-12Sept2012-->


