<% if @examid && @iii && @programmeid %>
	<% @exam_id = @examid%>
	<% @programme_id = @programmeid%>
	<% unless @aa.nil? %> 
		<% @intake_id = @iii %>
		<% unless @exam_id.blank? || @exam_id.nil? %>
			<% @examquestions = Exam.find(@exam_id).examquestions %>
    		<% @students = Student.find(:all, :conditions=>['course_id=? and intake=?',@programme_id,@intake_id.to_s]) %>
			<!--2June2013-if exammark EXIST for selected exampaper AND student-->
			<% @exammark_exist_for_exam=Exammark.find(:all, :conditions => ['exam_id=? AND student_id IN(?)',@exam_id, @students.map(&:id)]).count %>
			<!--10June2013-->
			<% @istemplate = Exam.find(@exam_id).klass_id %>
    		<% @examtemplates = Exam.find(@exam_id).examtemplates %>
			<% qty_ary = @examtemplates.map(&:quantity) %>
			<% @questioncount = qty_ary.inject{|sum,x|sum+x}%>
			<!--10June2013-->
		<% end %>
	<% end %>
<% end %>

<!--start-13June2013-if EXAMQUESTIONS(+students) OR EXAMTEMPLATES(+students) exist-->
<% if (@examquestions && @students) || (@examtemplates && @students) %>
	<% if @exammark_exist_for_exam && @exammark_exist_for_exam > 0 %>
		<!--2June2013-->
		Examination Marks for the <b>above</b> selected paper & current students&nbsp; (Tahun&nbsp;<%=Exam.find(@exam_id).set_year%>, 	
		&nbsp;Semester&nbsp;<%=Exam.find(@exam_id).set_semester%>) already exist. Please edit records accordingly or select other intakes.
		<!--2June2013-->
	<% else %>
		<% if (@examquestions.count==0 && @examtemplates.count==0) %>
			<% if @selected_exam.klass_id == 0 %>
				Question type, quantity and marks
			<% else %>
				Questions details
			<% end %>
			must exist in selected examination paper.
		<% else %>
			<b>Intake : </b><%=@intake_id %>
			<b>Total students : </b><%= @students.count %>

			<table border=1 cellspacing=0 cellpadding=0>
				<tr>
					<th rowspan=2>Name</th>
					<th rowspan=2 width=150px>Matric No</th>
					<th rowspan=2>MyKad No</th>

					<!--display heading for ALL types of questions-->
					<!--MCQ-only 1 column required-->
					<% if @examquestions.mcqq.count !=0 || @examtemplates.map(&:questiontype).include?("MCQ") %>
						<th rowspan='2'>MCQ</th>
					<% end %>
					<!--Other type of questions requires column quantity based on quantity of questions-->
					<% if @istemplate == 0 %>
						<!--if exam template-->
						<% if @examtemplates.map(&:questiontype).include?("MEQ")%>
							<th style="text-align:center;" colspan='<%=@examtemplates.meqq[0].quantity%>'>MEQ</th>
						<% end %>
						<% if @examtemplates.map(&:questiontype).include?("SEQ") %>
							<th style="text-align:center;" colspan='<%=@examtemplates.seqq[0].quantity%>'>SEQ</th>
						<% end %>
						<% if @examtemplates.map(&:questiontype).include?("ACQ") %> 
							<th style="text-align:center;" colspan='<%=@examtemplates.acqq[0].quantity%>'>ACQ</th>
						<% end %>
						<% if @examtemplates.map(&:questiontype).include?("OSCI") %> 
							<th style="text-align:center;" colspan='<%=@examtemplates.acqq[0].quantity%>'>OSCI</th>
						<% end %>
						<% if @examtemplates.map(&:questiontype).include?("OSCII") %> 
							<th style="text-align:center;" colspan='<%=@examtemplates.acqq[0].quantity%>'>OSCII</th>
						<% end %>
						<% if @examtemplates.map(&:questiontype).include?("OSCE") %> 
							<th style="text-align:center;" colspan='<%=@examtemplates.acqq[0].quantity%>'>OSCE</th>
						<% end %>
						<% if @examtemplates.map(&:questiontype).include?("OSPE") %> 
							<th style="text-align:center;" colspan='<%=@examtemplates.acqq[0].quantity%>'>OSPE</th>
						<% end %>
						<% if @examtemplates.map(&:questiontype).include?("VIVA") %> 
							<th style="text-align:center;" colspan='<%=@examtemplates.acqq[0].quantity%>'>VIVA</th>
						<% end %>
						<% if @examtemplates.map(&:questiontype).include?("TRUEFALSE") %> 
							<th style="text-align:center;" colspan='<%=@examtemplates.acqq[0].quantity%>'>TRUE/FALSE</th>
						<% end %>
						<!--if exam template-->
					<% else %>
						<!--if full exam paper-->
						<% if @examquestions.meqq.count!=0  %>
							<th style="text-align:center;" colspan='<%=@examquestions.meqq.count%>'>MEQ</th>
						<% end %>
						<% if @examquestions.seqq.count!=0  %>
							<th style="text-align:center;" colspan='<%=@examquestions.seqq.count%>'>SEQ</th> 
						<% end %>
						<% if @examquestions.acqq.count!=0 %>
							<th style="text-align:center;" colspan='<%=@examquestions.acqq.count%>'>ACQ</th>
						<% end %>	
						<% if @examquestions.osci2q.count!=0 %>
							<th style="text-align:center;" colspan='<%=@examquestions.acqq.count%>'>OSCI</th>
						<% end %>
						<% if @examquestions.osci3q.count!=0 %>
							<th style="text-align:center;" colspan='<%=@examquestions.acqq.count%>'>OSCII</th>
						<% end %>
						<% if @examquestions.osceq.count!=0 %>
							<th style="text-align:center;" colspan='<%=@examquestions.acqq.count%>'>OSCE</th>
						<% end %>
						<% if @examquestions.ospeq.count!=0 %>
							<th style="text-align:center;" colspan='<%=@examquestions.acqq.count%>'>OSPE</th>
						<% end %>
						<% if @examquestions.vivaq.count!=0 %>
							<th style="text-align:center;" colspan='<%=@examquestions.acqq.count%>'>VIVA</th>
						<% end %>
						<% if @examquestions.truefalseq.count!=0 %>
							<th style="text-align:center;" colspan='<%=@examquestions.acqq.count%>'>TRUE/FALSE</th>
						<% end %>
						<!--if full exam paper-->
					<% end %>

					<th rowspan=2>Total marks</th>
				</tr>
				<tr>
					<!--display SUBheading for ALL types of questions-->
					<% if @istemplate == 0 %>
						<!--if exam template-->
						<% if @examtemplates.map(&:questiontype).include?("MEQ")%>
							<% 1.upto(@examtemplates.meqq[0].quantity) do |count| %>
								<th>Q<%=count%>/ <%=@examtemplates.meqq[0].total_marks/@examtemplates.meqq[0].quantity %></th>
							<% end %>
						<% end %>
						<% if @examtemplates.map(&:questiontype).include?("SEQ")%>
							<% 1.upto(@examtemplates.seqq[0].quantity) do |count| %>
								<th>Q<%=count%>/ <%=@examtemplates.seqq[0].total_marks/@examtemplates.seqq[0].quantity %></th>
							<% end %>
						<% end %>
						<% if @examtemplates.map(&:questiontype).include?("ACQ")%>
							<% 1.upto(@examtemplates.acqq[0].quantity) do |count| %>
								<th>Q<%=count%>/ <%=@examtemplates.acqq[0].total_marks/@examtemplates.acqq[0].quantity %></th>
							<% end %>
						<% end %>
						<% if @examtemplates.map(&:questiontype).include?("OSCI")%>
							<% 1.upto(@examtemplates.osci2q[0].quantity) do |count| %>
								<th>Q<%=count%>/ <%=@examtemplates.osci2q[0].total_marks/@examtemplates.osci2q[0].quantity %></th>
							<% end %>
						<% end %>	
						<% if @examtemplates.map(&:questiontype).include?("OSCII")%>
							<% 1.upto(@examtemplates.osci3q[0].quantity) do |count| %>
								<th>Q<%=count%>/ <%=@examtemplates.osci3q[0].total_marks/@examtemplates.osci3q[0].quantity %></th>
							<% end %>
						<% end %>
						<% if @examtemplates.map(&:questiontype).include?("OSCE")%>
							<% 1.upto(@examtemplates.osceq[0].quantity) do |count| %>
								<th>Q<%=count%>/ <%=@examtemplates.osceq[0].total_marks/@examtemplates.osceq[0].quantity %></th>
							<% end %>
						<% end %>	
						<% if @examtemplates.map(&:questiontype).include?("OSPE")%>
							<% 1.upto(@examtemplates.ospeq[0].quantity) do |count| %>
								<th>Q<%=count%>/ <%=@examtemplates.ospeq[0].total_marks/@examtemplates.ospeq[0].quantity %></th>
							<% end %>
						<% end %>	
						<% if @examtemplates.map(&:questiontype).include?("VIVA")%>
							<% 1.upto(@examtemplates.vivaq[0].quantity) do |count| %>
								<th>Q<%=count%>/ <%=@examtemplates.vivaq[0].total_marks/@examtemplates.vivaq[0].quantity %></th>
							<% end %>
						<% end %>	
						<% if @examtemplates.map(&:questiontype).include?("TRUEFALSE")%>
							<% 1.upto(@examtemplates.truefalseq[0].quantity) do |count| %>
								<th>Q<%=count%>/ <%=@examtemplates.truefalseq[0].total_marks/@examtemplates.truefalseq[0].quantity %></th>
							<% end %>
						<% end %>
						<!--if exam template-->
					<% else %>
						<!--if complete exampaper-->
						<% 1.upto(@examquestions.meqq.count) do |count| %>
							<th>Q<%=count%>/ <%=@examquestions.meqq[count-1].marks %></th>
						<% end %>
						<% 1.upto(@examquestions.seqq.count) do |count| %>
							<th>Q<%=count%>/ <%=@examquestions.seqq[count-1].marks %></th>
						<% end %>
						<% 1.upto(@examquestions.acqq.count) do |count| %>
							<th>Q<%=count%>/ <%=@examquestions.acqq[count-1].marks %></th>
						<% end %>
						<% 1.upto(@examquestions.osci2q.count) do |count| %>
							<th>Q<%=count%>/ <%=@examquestions.osci2q[count-1].marks %></th>
						<% end %>
						<% 1.upto(@examquestions.osci3q.count) do |count| %>
							<th>Q<%=count%>/ <%=@examquestions.osci3q[count-1].marks %></th>
						<% end %>
						<% 1.upto(@examquestions.osceq.count) do |count| %>
							<th>Q<%=count%>/ <%=@examquestions.osceq[count-1].marks %></th>
						<% end %>
						<% 1.upto(@examquestions.ospeq.count) do |count| %>
							<th>Q<%=count%>/ <%=@examquestions.ospeq[count-1].marks %></th>
						<% end %>
						<% 1.upto(@examquestions.vivaq.count) do |count| %>
							<th>Q<%=count%>/ <%=@examquestions.vivaq[count-1].marks %></th>
						<% end %>
						<% 1.upto(@examquestions.truefalseq.count) do |count| %>
							<th>Q<%=count%>/ <%=@examquestions.truefalseq[count-1].marks %></th>
						<% end %>
						<!--if complete exampaper-->
					<% end %>


				</tr>
				<% @students.sort_by{|x|x.name}.each_with_index do |student, index| %>

					<!--revised 24th Sept 2012-->	
					<%= hidden_field "exammarks[#{index}]",:student_id,  :value=> student.id %>
					<%= hidden_field "exammarks[#{index}]",:exam_id, :value=> @exam_id %>
					<!--revised 24th Sept 2012-->

					<!--testing 3rd Oct 2012-4Liza-continue fr-last shared 18 Sept,not yet send 24 Sept & 3rd Oct(incomplete yet)-->			
					<%# @subject => subject id & student.id => student id &  @exammaker_id => exammaker id%>
					<% @exammark_exist = Exammark.find(:all, :conditions => ['exam_id=? and student_id=?', @exam_id, student.id]) %>
					<% @marks_exist = [] %>
					<% @exammark_exist.each do |exammark_exist| %>
						<% exammark_exist.marks.each do |mark_exist| %><!--collect all marks from table marks...despite of mcq marks-no longer available-->
							<% @marks_exist << mark_exist.student_mark %>
						<% end %>
					<% end %>
					<!--testing 3rd Oct 2012-->

					<tr>
						<td><%= student.name %></td>
						<td><%= student.matrixno %></td>
						<td><%= student.icno %></td>

						<!--start-Data column for total mcq-->
						<% if @examquestions.mcqq.count !=0 || @examtemplates.map(&:questiontype).include?("MCQ") %>
							<% if @istemplate == 0 %>
								<% @totalmcq=0%>
								<% 0.upto(@examtemplates.mcqq[0].quantity-1) do |y|%>
									<% @totalmcq+=@marks_exist[y].to_i %>
								<% end %>
								<td>
									<%#= text_field "exammarks[#{index}][marks_attributes][0]",:student_mark , :size=>4  %>
									<%= text_field "exammarks[#{index}]",:total_mcq, :size=>2, :value=>@totalmcq,:class=>'g1',:id=>"mcqmark_"+"#{index}"+"_0" %>
									<!--14June2013-am-->
									<!--start-HIDE this part 1st- insert total MCQ data ONCE in exammarks table & no longer require to add-each MCQ question marks into marks table-->
									<%# 0.upto(@examtemplates.mcqq[0].quantity-1) do |counter|%>
										<!--dd--><%#= hidden_field "exammarks[#{index}][marks_attributes][#{counter}]",:student_mark , :size=>4,:value=>0  %> 
									<%# end %>
									<!--end-HIDE this part 1st- insert total MCQ data ONCE in exammarks table & no longer require to add-each MCQ question marks into marks table-->
								</td>
							<% else %>
								<% @totalmcq=0%>
								<% 0.upto(@examquestions.mcqq.count-1) do |y|%>
									<% @totalmcq+=@marks_exist[y].to_i %>
								<% end %>
								<td>
									<%#= text_field "exammarks[#{index}][marks_attributes][0]",:student_mark , :size=>4  %>
									<%= text_field "exammarks[#{index}]",:total_mcq, :size=>2, :value=>@totalmcq,:class=>'g1',:id=>"mcqmark_"+"#{index}" %>
									<!--14June2013-am-->
									<!--start-HIDE this part 1st- insert total MCQ data ONCE in exammarks table & no longer require to add-each MCQ question marks into marks table-->
									<%# 0.upto(@examquestions.mcqq.count-1) do |counter|%>
										<!--dd--><%#= hidden_field "exammarks[#{index}][marks_attributes][#{counter}]",:student_mark , :size=>4,:value=>0  %> 
									<%# end %>
									<!--end-HIDE this part 1st- insert total MCQ data ONCE in exammarks table & no longer require to add-each MCQ question marks into marks table-->
								</td>
							<% end %>
						<% end %>
						<!--end-Data column for total mcq-->

						<!--****-start-Data column for OTHER than MCQ marks(individually)-->
						<% if @istemplate == 0 %> 
							<% if (@examtemplates.map(&:questiontype).include?("MEQ") || @examtemplates.map(&:questiontype).include?("SEQ")|| @examtemplates.map(&:questiontype).include?("ACQ")||@examtemplates.map(&:questiontype).include?("MEQ")||@examtemplates.map(&:questiontype).include?("OSCI")|| @examtemplates.map(&:questiontype).include?("OSCII")||@examtemplates.map(&:questiontype).include?("OSCE")|| @examtemplates.map(&:questiontype).include?("OSPE")||@examtemplates.map(&:questiontype).include?("VIVA")||@examtemplates.map(&:questiontype).include?("TRUEFALSE"))%>
								<%#@c_count=1%>	
								<%# (@examtemplates.mcqq[0].quantity).upto(@questioncount-1) do |count2| %>	
								<% 0.upto(@questioncount-@examtemplates.mcqq[0].quantity-1) do |count2|%><!--@questioncount = total questions available in template-->
									<td>
										<!--KK--><%= text_field "exammarks[#{index}][marks_attributes][#{count2}]",:student_mark , :size=>3,:value=>@marks_exist[count2],:class=>'g1', :id=>"mark_"+"#{index}"+"_"+"#{count2}" %> 
							<%#= text_field "exammarks[#{index}][marks_attributes][#{@index2}]",:student_mark , :size=>3,:value=>@marks_exist[@index2],:class=>'g1', :id=>"mark_"+"#{index}"+"_"+"#{@c_count}" %> <%#@c_count+=1%>
									</td>
								<% end %>
							<% end %><!--end for - if @examtemplates.map(&:qu ........-->
						<% else %>
							<% if (@examquestions.meqq.count!=0 || @examquestions.seqq.count!=0 || @examquestions.acqq.count!=0 || @examquestions.osci2q.count!=0 || @examquestions.osci3q.count!=0 || @examquestions.osceq.count!=0 || @examquestions.ospeq.count!=0 || @examquestions.vivaq.count!=0 || @examquestions.truefalseq.count!=0) %>
								<%#@c_count=1%>
								<% 0.upto(@examquestions.count-@examquestions.mcqq.count-1) do |count2|%>
									<td>
										<!--OKOK--><%= text_field "exammarks[#{index}][marks_attributes][#{count2}]",:student_mark , :size=>3,:value=>@marks_exist[count2],:class=>'g1', :id=>"mark_"+"#{index}"+"_"+"#{count2}" %> 
							<%#= text_field "exammarks[#{index}][marks_attributes][#{@index2}]",:student_mark , :size=>3,:value=>@marks_exist[@index2],:class=>'g1',:id=>"mark_"+"#{index}"+"_"+"#{@c_count}" %> <%#@c_count+=1%>
									</td>
								<% end %>
							<% end %>
						<% end %><!--end for-if @istemplate == 0 -->
						<!--****-end-Data column for OTHER than MCQ marks(individually)-->

						<td><%= text_field "exammarks[#{index}]",:total_marks, :size => 4 , :value=> @value_total,:id=>"total"+"#{index}",:readonly => true  %><!--$$$--></td>
					</tr>

				<% end %><!--END FOR STUDENT SORT-->

			</table>
			
		<% end %>
	<% end %><!--2June2013-end for if @exammark_exist_for_exam==0-->

<% elsif !@students %>
	Please select an intake.
	
<!--else-13June2013-if EXAMQUESTIONS(+students) OR EXAMTEMPLATES(+students) exist-->
	<!--Questions/question details (quantity, type, marks) must exist in selected examination paper.-->
	
<% end %><!--end-13June2013-if EXAMQUESTIONS(+students) OR EXAMTEMPLATES(+students) exist-->


<!--TRIAL TRIAL TRIAL TRIAL TRIAL TRIAL TRIAL-->
<% if @istemplate == 0 %> 
	<% if @examtemplates %>
	<!--above IF statement-rescue..if 1st time New, but have no records due to NO INTAKE available (based on current date & subject)-->
		<%# if @examtemplates.map(&:questiontype).include?("MCQ") %>
			<% @examtemplates_mcqq_qty = @examtemplates.mcqq[0].quantity %>
		<%# else %>
			<%# @examtemplates_mcqq_qty = 0 %>
		<%# end %>	
		<%=hidden_field_tag "exammark[trial2]", @examtemplates_mcqq_qty %>
		<%=hidden_field_tag "exammark[trial3]", @questioncount %><!--refer line 14 & 15 OR exammarks_controller.rb(line 227-228)-->
	<% end %>
<% else %>
	<% if @examquestions %>
	<!--above IF statement-rescue..if 1st time New, but have no records due to NO INTAKE available (based on current date & subject)-->
		<%=hidden_field_tag "exammark[trial2]", @examquestions.mcqq.count %>
		<%=hidden_field_tag "exammark[trial3]", @examquestions.count %>
	<% end %>
<% end %>
<%=hidden_field_tag "exammark[trial1]", @studentscount%>


<script type="text/javascript">
	$j(document).ready(function(){
			$j(".g1").keyup(function() {  
				var studentcount = document.getElementById("exammark_trial1").value;
				var mcqcount = document.getElementById("exammark_trial2").value;
				var allcount = document.getElementById("exammark_trial3").value;
				
				//retrieve all other marks (other than mcq)
				for (var i=0;i<studentcount;i++)
				{
					for (var j=0;j<allcount-mcqcount;j++)
					{						
						window["other"+i+j] = document.getElementById("mark_"+i+"_"+j).value;
					}
				}
				//-8June2013-retrieve total mcq values
				for (var i=0;i<studentcount;i++)
				{
					window["totalmcq"+i] = document.getElementById("mcqmark_"+i).value;
				}
				//-8June2013-retrieve variables for totalmarks for viewing
				for (var i=0;i<studentcount;i++)
				{
					window["totalmarksview"+i] = document.getElementById("total"+i);			
				}
				//-8June2013-assign values into variable totalmarks for viewing
				for (var i=0;i<studentcount;i++)
				{					
					var a = 0
					for (var k=0;k<allcount-mcqcount;k++)
					{
						a=a*1+((window["other"+i+k])*1);
					}
						window["totalmarksview"+i].value = window["totalmcq"+i]*1+a
				}
			});		
			
	});
</script>
<!--TRIAL TRIAL TRIAL TRIAL TRIAL TRIAL TRIAL-->







<!--TRIAL TRIAL TRIAL TRIAL TRIAL TRIAL TRIAL-WORKABLE-->
<%#= text_field_tag "exammark[trial1]", @studentscount %>
<%#= text_field_tag "exammark[trial2]", @examquestions.count %>
<%#= text_field_tag "exammark[trial3]", @examquestions.mcqq.count %>

<script type="text/javascript">
	$j(document).ready(function(){
			
			$j(".g1").keyup(function() {  
			  //	var e1g1q1 = $j("#exammark_trial1").val();
			  	////var e1g1q2 = $j("#stationery_minquantity").val();
			
				//var ansP = document.getElementById("exammark_trial2");
				//ansP.value = (e1g1q1*1)+10 //+e1g1q2 
				//var studentcount = $j("#exammark_trial1").val();
				//var qcount = $j("#exammark_trial2").val();
				/*
				for (var i=0;i<studentcount;i++)
				{
					for (var j=0;j<qcount;j++)
					{
						window["q"+i+j] = document.getElementById("mark_"+i+"_"+j).value;
					}
				}
				for (var i=0;i<20;i++)
					window["totalall"+i] = document.getElementById("total"+i);
					window["totalall"+i].value = 5656;
				}*/
				
				//window["totalall"+0] = document.getElementById("total"+0);
				//window["totalall"+0].value = 8999; 
				
				
				//window["totalall"+1] = document.getElementById("total"+1);
				//window["totalall"+1].value = 7777; 
				
				/*
				for (var i=0;i<studentcount;i++)
				{
					window["totalall"+i] = document.getElementById("total"+i);
				}
				for (var i=0;i<studentcount;i++)
				{
					(window["totalall"+i]).value =9898999;
				}*/
					/*
					if (qcount < 2){	
						(window["totalall"+i]).value = ((window["q"+i+0])*1)
					}
					else if (qcount < 3)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)
					}
					else if (qcount < 4)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)
					}
					else if (qcount < 5)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)+((window["q"+i+3])*1)
					}
					else if (qcount < 6)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)+((window["q"+i+3])*1)+((window["q"+i+4])*1)
					}
					else if (qcount < 7)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)+((window["q"+i+3])*1)+((window["q"+i+4])*1)+((window["q"+i+5])*1)
					}
					else if (qcount < 8)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)+((window["q"+i+3])*1)+((window["q"+i+4])*1)+((window["q"+i+5])*1)+((window["q"+i+6])*1)
					}					
					else if (qcount < 9)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)+((window["q"+i+3])*1)+((window["q"+i+4])*1)+((window["q"+i+5])*1)+((window["q"+i+6])*1)+((window["q"+i+7])*1)
					}					
					else if (qcount < 10)
					{
						(window["totalall"+i]).value =
						
					 ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)+((window["q"+i+3])*1)+((window["q"+i+4])*1)+((window["q"+i+5])*1)+((window["q"+i+6])*1)+((window["q"+i+7])*1)+((window["q"+i+8])*1)
					}					
					else if (qcount < 11)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)+((window["q"+i+3])*1)+((window["q"+i+4])*1)+((window["q"+i+5])*1)+((window["q"+i+6])*1)+((window["q"+i+7])*1)+((window["q"+i+8])*1)+((window["q"+i+9])*1)
					}
					else if (qcount < 12)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)+((window["q"+i+3])*1)+((window["q"+i+4])*1)+((window["q"+i+5])*1)+((window["q"+i+6])*1)+((window["q"+i+7])*1)+((window["q"+i+8])*1)+((window["q"+i+9])*1)+((window["q"+i+10])*1)
					}
					else if (qcount < 13)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)+((window["q"+i+3])*1)+((window["q"+i+4])*1)+((window["q"+i+5])*1)+((window["q"+i+6])*1)+((window["q"+i+7])*1)+((window["q"+i+8])*1)+((window["q"+i+9])*1)+((window["q"+i+10])*1)+((window["q"+i+11])*1)
					}
					else if (qcount < 14)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)+((window["q"+i+3])*1)+((window["q"+i+4])*1)+((window["q"+i+5])*1)+((window["q"+i+6])*1)+((window["q"+i+7])*1)+((window["q"+i+8])*1)+((window["q"+i+9])*1)+((window["q"+i+10])*1)+((window["q"+i+11])*1)+((window["q"+i+12])*1)
					}
					else if (qcount < 15)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)+((window["q"+i+3])*1)+((window["q"+i+4])*1)+((window["q"+i+5])*1)+((window["q"+i+6])*1)+((window["q"+i+7])*1)+((window["q"+i+8])*1)+((window["q"+i+9])*1)+((window["q"+i+10])*1)+((window["q"+i+11])*1)+((window["q"+i+12])*1)+((window["q"+i+13])*1)
					}
					else if (qcount < 16)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)+((window["q"+i+3])*1)+((window["q"+i+4])*1)+((window["q"+i+5])*1)+((window["q"+i+6])*1)+((window["q"+i+7])*1)+((window["q"+i+8])*1)+((window["q"+i+9])*1)+((window["q"+i+10])*1)+((window["q"+i+11])*1)+((window["q"+i+12])*1)+((window["q"+i+13])*1)+((window["q"+i+14])*1)
					}
					else if (qcount < 17)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)+((window["q"+i+3])*1)+((window["q"+i+4])*1)+((window["q"+i+5])*1)+((window["q"+i+6])*1)+((window["q"+i+7])*1)+((window["q"+i+8])*1)+((window["q"+i+9])*1)+((window["q"+i+10])*1)+((window["q"+i+11])*1)+((window["q"+i+12])*1)+((window["q"+i+13])*1)+((window["q"+i+14])*1)+((window["q"+i+15])*1)
					}
					else if (qcount < 18)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)+((window["q"+i+3])*1)+((window["q"+i+4])*1)+((window["q"+i+5])*1)+((window["q"+i+6])*1)+((window["q"+i+7])*1)+((window["q"+i+8])*1)+((window["q"+i+9])*1)+((window["q"+i+10])*1)+((window["q"+i+11])*1)+((window["q"+i+12])*1)+((window["q"+i+13])*1)+((window["q"+i+14])*1)+((window["q"+i+15])*1)+((window["q"+i+16])*1)
					}
					else if (qcount < 19)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)+((window["q"+i+3])*1)+((window["q"+i+4])*1)+((window["q"+i+5])*1)+((window["q"+i+6])*1)+((window["q"+i+7])*1)+((window["q"+i+8])*1)+((window["q"+i+9])*1)+((window["q"+i+10])*1)+((window["q"+i+11])*1)+((window["q"+i+12])*1)+((window["q"+i+13])*1)+((window["q"+i+14])*1)+((window["q"+i+15])*1)+((window["q"+i+16])*1)+((window["q"+i+17])*1)
					}
					else if (qcount < 20)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)+((window["q"+i+3])*1)+((window["q"+i+4])*1)+((window["q"+i+5])*1)+((window["q"+i+6])*1)+((window["q"+i+7])*1)+((window["q"+i+8])*1)+((window["q"+i+9])*1)+((window["q"+i+10])*1)+((window["q"+i+11])*1)+((window["q"+i+12])*1)+((window["q"+i+13])*1)+((window["q"+i+14])*1)+((window["q"+i+15])*1)+((window["q"+i+16])*1)+((window["q"+i+17])*1)+((window["q"+i+18])*1)
					}
					else if (qcount < 21)
					{
						(window["totalall"+i]).value = ((window["q"+i+0])*1)+((window["q"+i+1])*1)+((window["q"+i+2])*1)+((window["q"+i+3])*1)+((window["q"+i+4])*1)+((window["q"+i+5])*1)+((window["q"+i+6])*1)+((window["q"+i+7])*1)+((window["q"+i+8])*1)+((window["q"+i+9])*1)+((window["q"+i+10])*1)+((window["q"+i+11])*1)+((window["q"+i+12])*1)+((window["q"+i+13])*1)+((window["q"+i+14])*1)+((window["q"+i+15])*1)+((window["q"+i+16])*1)+((window["q"+i+17])*1)+((window["q"+i+18])*1)+((window["q"+i+19])*1)
					}
					
				}
				
				
			});

	});*/
</script>
<!--TRIAL TRIAL TRIAL TRIAL TRIAL TRIAL TRIAL-WORKABLE-->