<!--dadaddakkkkk-->
<%#= @examquestions.count%>


<!--revised on 24th Sept 2012-->
<% unless @exam_id.blank? || @exam_id.nil? %>
<!--revised on 24th Sept 2012-->

<table border=1 cellspacing=0 cellpadding=0>
	<tr>
		<th rowspan=2>Name</th>
		<th rowspan=2>Matric No</th>
		<th rowspan=2>MyKad No</th>
		<!--<th colspan='<%#=@examquestions.mcqq.count%>'>MCQ</th>-->
		<th rowspan='2'>Total MCQ</th>
		<% if @examquestions.meqq.count!=0 %>
			<th colspan='<%=@examquestions.meqq.count%>'>MEQ</th>
		<% end %>
		<% if @examquestions.seqq.count!=0 %>
			<th colspan='<%=@examquestions.seqq.count%>' style="text-align:center;">SEQ</th>
		<% end %>
		<% if @examquestions.acqq.count!=0 %>
			<th colspan='<%=@examquestions.acqq.count%>'>ACQ</th>
		<% end %>
		<th rowspan=2>Total marks</th>
	</tr>
	<tr>
		<!--<%# 1.upto(@examquestions.mcqq.count) do |count| %>
			<td>Q<%#=count%> / <%#=@examquestions.mcqq[count-1].marks %></td>
		<%# end %>-->
		<% 1.upto(@examquestions.meqq.count) do |count| %>
			<td>Q<%=count%>/ <%=@examquestions.meqq[count-1].marks %></td>
		<% end %>
		<% 1.upto(@examquestions.seqq.count) do |count| %>
			<td>Q<%=count%>/ <%=@examquestions.seqq[count-1].marks %></td>
		<% end %>
		<% 1.upto(@examquestions.acqq.count) do |count| %>
			<td>Q<%=count%>/ <%=@examquestions.acqq[count-1].marks %></td>
		<% end %>
	</tr>
	<% @students.each_with_index do |student, index| %>
		
		<!--revised 24th Sept 2012-->	
		<%= hidden_field "exammarks[#{index}]",:student_id,  :value=> student.id %>
		<%= hidden_field "exammarks[#{index}]",:exam_id, :value=> @exam_id %>
		<!--revised 24th Sept 2012-->
		
		<!--testing 3rd Oct 2012-4Liza-continue fr-last shared 18 Sept,not yet send 24 Sept & 3rd Oct(incomplete yet)-->
			
			<%# @subject => subject id & student.id => student id &  @exammaker_id => exammaker id%>
			<% @exammark_exist = Exammark.find(:all, :conditions => ['exam_id=? and student_id=?', @exam_id, student.id]) %>
			<% @marks_exist = [] %>
			<% @exammark_exist.each do |exammark_exist| %>
				<%#= exammark_exist.studentmark.name %>
				<% exammark_exist.marks.each do |mark_exist| %>
					<%#= mark_exist.student_mark %>
					<% @marks_exist << mark_exist.student_mark %>
				<% end %>
				<!--<br>-->
			<% end %>

		<!--testing 3rd Oct 2012-->
		
	<tr>
		<td><%= student.name %></td>
		<td><%= student.matrixno %></td>
		<td><%= student.icno %></td>
		<% if @examquestions.mcqq.count==0 %>
			<td><!--fff33 --></td>
		<% else %>
			<% @totalmcq=0%>
			<% 0.upto(@examquestions.mcqq.count-1) do |y|%>
				<% @totalmcq+=@marks_exist[y].to_f%>
			<% end %>
			<td><%#= text_field "exammarks[#{index}][marks_attributes][0]",:student_mark , :size=>4  %>
				<%= text_field "exammarks[#{index}]",:total_mcq, :size=>4, :value=>@totalmcq  %>
				<% 0.upto(@examquestions.mcqq.count-1) do |counter|%>
					dd<%= hidden_field "exammarks[#{index}][marks_attributes][#{counter}]",:student_mark , :size=>4,:value=>0  %> 
				<% end %>
			</td>
		<% end %>
		<!---->
		<% 1.upto(3) do |count| %>
			<%# if count == 0 %>
				<%# @examquestions2 = @examquestions.mcqq %>
				<%# @index2 = 0 %>
				<%# @span_type_column = @examquestions.mcqq.count %>
				<%# @title_span = 'MCQ'%>
			<%# els%>
			<% if count == 1 %>
				<% @examquestions2 = @examquestions.meqq %>
				<% @index2 = @examquestions.mcqq.count %>
				<% @span_type_column = @examquestions.meqq.count %>
				<% @title_span = 'MEQ'%>
			<% elsif count == 2 %>
				<% @examquestions2 = @examquestions.seqq %>
				<% @index2 = @examquestions.mcqq.count+@examquestions.meqq.count %>
				<% @span_type_column = @examquestions.seqq.count %>
				<% @title_span = 'SEQ'%>
			<% elsif count == 3 %>
				<% @examquestions2 = @examquestions.acqq %>
				<% @index2 = @examquestions.mcqq.count+@examquestions.meqq.count+@examquestions.seqq.count %>
				<% @span_type_column = @examquestions.acqq.count %>
				<% @title_span = 'ACQ'%>
			<% end %>
		
	
		
				<% @examquestions2.each_with_index do |examquestion,index3| %>
				<%# if @exammarks[index].marks[@index2] %>
					<%# if @exammarks[index].marks[@index2].mark.blank? || @exammarks[index].marks[@index2].mark.nil? %>
						<%# @val_mark = 0.0 %>
					<%# else %>
						<%# @val_mark = @exammarks[index].marks[@index2].mark %>
					<%# end %>
				<%# else %>
					<%# @val_mark = 0.0 %>
				<%# end %>
			<td>
				<!--testing 3rd Oct 2012-4Liza-continue fr-last shared 18 Sept,not yet send 24 Sept & 3rd Oct(incomplete yet)-->
					<%#= @marks_exist[@index2] %>
					<!--should include some checking here-->
					<!--....refer partial:_student_listing.html.erb-to differentiate ID for existing record whereas NEW one doesn't hv any ID(only temporary one)-->
					
					<%# if @examquestions.mcqq.count!=0 || @examquestions.meqq.count!=0 || @examquestions.seqq.count!=0 || @examquestions.acqq.count!=0 %>
					<!--this part for EDIT-->
					@@<%= text_field "exammarks[#{index}][marks_attributes][#{@index2}]",:student_mark , :size=>4,:value=>@marks_exist[@index2]   %> 
					<!--this part for EDIT-->
					<%# end %>
				<!--testing on 3rd Oct 2012-->
				
				<!--this part for NEW-->
				<%#= text_field "exammarks[#{index}][marks_attributes][#{@index2}]",:mark , :size=>4,:value=>@val_mark   %> 
				<!--this part for NEW-->
			</td>
			
				<% @index2+=1%>
			
			<% end %>	
		<% end %>	<!--end for 0.upto(2) do |count|-->
		<!---->
		<td><%= text_field "exammarks[#{index}]",:total_marks, :size => 5 , :value=> @value_total %>$$$</td>
	
	</tr>
	<% end %>
		
</table>

<!--revised on 24th Sept 2012-->
<% else %>
	Please select a subject.
<% end %>
<!--revised on 24th Sept 2012-->