<h3>Editing Examination Mark</h3>

<% form_for(@exammark) do |f| %>
  <%= f.error_messages %>
	<%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @exammark %> |
<%= link_to 'Back', exammarks_path %>