<h3><%=t('exammark.edit')%></h3>

<% form_for(@exammark) do |f| %>
  <%= f.error_messages %>
	<%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>

<%= link_to (t 'show'), @exammark %> |
<%= link_to (t 'back'), exammarks_path %>