<%=render :partial => 'exams/position_dept' %> <!--retrieve position for current logged-in user-->
<%=render :partial => 'exam_listing.html.erb'%><!--retrieve exam listing, student listing for use-->

<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Examination Marks by Examination Paper</h2>
	</div>
</div>
<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => 'New Exam Question') + "New", new_exammark_path(:new_type => "1") %></p>
</div>
<div class="right">
	<% form_tag :action => 'new' do %>
		<%= hidden_field_tag( "new_type","3" )%>
		<b>Exam Paper : </b><%= select_tag('examid', options_from_collection_for_select(@exam_list_index, :id, :exam_code_date_type)) %>
		<%= submit_tag 'New Multiple Marks', :subject_id => nil %>
	<% end %>
</div>
<br>
<div class="tlist">
	
	<!-- 15 May 2012 -->
	<% form_tag edit_multiple_exammarks_path, :id => "form1" do %>
	<!-- 15 May 2012 -->
	
	 	<table width=100% border="0" cellpadding="0" cellspacing="0">
		<tr>
			<th>&nbsp;</th>
    		<th>Student</th>
    		<th width=80px>MyKad No</th>
			<th width=80px>Total Marks</th>
			<!--<th width=150px>Remarks</th>-->
			<th colspan=3>Control</th>
  		</tr>

		<% @exammarks_group.sort.each do |exammarks_group, exammarks| %>
			<% exammarks.sort_by{|x|x.studentmark.name}.each_with_index do |exammark,index|%>
				<!--STAND BY:HIDE THIS LINE & LINE 149 to view ALL EXAM marks--> 
				<% if (@dept_unit==exammark.exampaper.subject.root.name) ||(@current_user_roles.include?(2))||@kupk == "yes" %>
					<% if index == 0%>
					<tr>
						<td colspan=8 style="background-color:#EFF1F1;">
							<b>Examination Paper : <%=h Exam.find(exammarks_group).full_exam_name %></b>
							<!--11June2013-TEMPLATE-->
							<% @istemplate = exammark.exampaper.klass_id %>
							<% if @istemplate == 0 %>
								<span style="color:blue;">(Template)</span>
							<% end %>
							<!--11June2013-TEMPLATE-->
						</td>
	  				</tr>
					<% end %>
  					<tr>
						<td><%= check_box_tag "exammark_ids[]", exammark.id, :class => "check" %></td><!-- 15 May 2012-->
    					<td><%=h exammark.studentmark.matrix_name %></td>
    					<td><%=h exammark.studentmark.icno %></td>

						<!--13June2013-this part only required if total MCQ separated according to each questions-->
						<!--START-checking-if total marks equal to [total_mcq(EXAMMARKS) plus total_non_mcq(MARKS)]-->
						<%# @examquestions_qty = exammark.exampaper.examquestions.mcqq.count %><!--Qty of MCQ questions-->
					
						<!--11June2013-TEMPLATE-->
						<%# if @istemplate == 0 %>
							<%# @examquestions_qty = exammark.exampaper.examtemplates.mcqq[0].quantity %>
						<%# end %>
						<!--11June2013-TEMPLATE-->
					
						<%# total_marks = exammark.total_marks %><!--sum of student_mark from MARKS table, inc.MCQ & MEQ-->
						<%# total_mcq = exammark.total_mcq %><!--value of total_mcq in EXAMMARKS table-->
						<%# total_non_mcq = 0 %>
						<%# exammark.marks.sort_by{|x|x.created_at}.each_with_index do |x, index|%>
							<%# if index > @examquestions_qty-1%>
								<%# total_non_mcq+=x.student_mark %><!--total_non_mcq : Total Marks 4 Non-MCQ fr MARKS table-->
							<%# end %>
						<%# end %>
						<%# total_mcq_plus_non_mcq = total_mcq+total_non_mcq %><!--total_mcq(EXAMMARKS) plus total_non_mcq(MARKS)-->
						<!--END-checking-if total marks equal to [total_mcq(EXAMMARKS) plus total_non_mcq(MARKS)]-->
						<!--13June2013-this part only required if total MCQ separated according to each questions-->
				
						<td align="center">
					
							<!--13June2013-this part only required if total MCQ separated according to each questions-->
							<!--view 'total_mcq_plus_non_mcq' here-->
							<%#= total_mcq_plus_non_mcq %><!--
 							<%# if total_marks!= total_mcq_plus_non_mcq %><font color=blue>
								| <%#=h total_marks %>*</font>-->
							<%# end %>
					
							<%=number_with_precision(exammark.total_marks,:precision=>2)%>
 						</td>	

						<!--13June2013-this part only required if total MCQ separated according to each questions-->
						<!--<td align="center">
							<%# if total_marks!= total_mcq_plus_non_mcq %>(Please edit/insert MCQ<br>marks accordingly)<%# end %>
						</td>-->
				
						<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => exammark %></td>
						<td width=10px>
							<% if exammark.exampaper.klass_id != 0 %>
								<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => exammark %>
							<% end %>
						</td>
    					<td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), exammark, :confirm => 'Are you sure?', :method => :delete %></td>
  					</tr>
			
					<!--13June2013-this part only required if total MCQ separated according to each questions-->
					<%# if total_marks!= total_mcq_plus_non_mcq %>
						<%# @diff_total_mcq +=1 %>
					<%# end %>
			
				<% end %><!--STAND BY:HIDE THIS LINE & LINE 80 to view ALL EXAM marks--> 
			<% end %><!-- end for - exammarks.sort_by{|x|x.studentmark.name}.each_with_index do |exammark,index| -->		
		<% end %><!-- end for -  @exammarks_group.sort.each do |exammarks_group, exammarks| -->		
		
		</table>

		<!--13June2013-this part only required if total MCQ separated according to each questions-->
		<!--remark for DIFFERENT total marks of each record if any -->
		<!--(total_mcq [exammark table] != student_mark [for mcqquestions in marks table])-->
		<!--<div class="right"><font size=-2 color=blue>
		<%# if @diff_total_mcq>0 %>* Marks for each MCQ question is compulsory for <b>Examination Question Analysis</b>.
		Please edit/insert marks accordingly. 	(<%#=@diff_total_mcq%> student records)  <%# end %></font>
		</div>-->
		<br>
	
		<!--for multiple edit-14Apr2013-->
		<div class="left">
			<!-- ref: http://railsforum.com/viewtopic.php?id=2151 rleblic2007-10-25 08:43:07 -->
			<!--http://www.ryboe.com/2008/07/10/select-all-checkboxes-with-prototype-js.html -->
			<input id="check_all" name="check_all" type="checkbox" checked="checked" onclick="Form.getInputs('form1', 'checkbox').each(function(box){box.checked = $('check_all').checked})" />
			<b>Check/Uncheck all</b>&nbsp;&nbsp;
		</div>
		<!--for multiple edit-14Apr2013-->
		
		<%= submit_tag "Edit Checked", :name => :exammark_submit_button %>
			
	<% end %>	
	
</div><!--end for - div class="tlist"-->

<div class="right">
	<% form_tag '', :method => 'get' do %>
		<b>Exam Paper : </b><%= select_tag('exam_id', "<option value='0'>All Existing Exam Marks</option>" +options_from_collection_for_select(@exam_list_exist_mark, :id, :exam_code_date_type)) %>
		<%= submit_tag 'Search Exam Marks', :name => :exammark_search %>
	<% end %>
</div>

<br />

<%= link_to 'New Exam Marks', new_exammark_path(:new_type => "1") %>
<!-- | <%#= link_to 'Multiple New Exam Marks', new_exammark_path(:new_type => "2") %> | <%#= link_to 'Multiple New Exam Marks by Intake', new_exammark_path(:new_type => "3") %>-->
