<% if @new_type == "1" %>
	
	<h3>New Examination Mark</h3>

	<% form_for(@exammark) do |f| %>
  		<%= f.error_messages %>
		<%=render :partial => 'form', :locals => {:f => f} %> 
  		<p><%= f.submit 'Create', :name =>:new_submit %></p>
	<% end %>

<% elsif @new_type == "2" %>

	<!--start-trial new exammark by exampaper (filtered by exam paper)-12Sept2012-->
	<h3>Multiple New Examination Marks</h3>
	
	<% form_tag :action => 'create' do |f|%>
		<% @exammarks.each_with_index do |exammark, index| %>
			<% fields_for "exammarks[#{index}]", exammark do |f| %>
				<%=render :partial => 'form_multiple', :locals => {:f => f,:index=>index} %>
				<%#=render :partial => 'form_by_paper_by_programme', :locals => {:f => f,:index=>index} %>
			<% end %>	<!-- end of - @exammarks.each_with_index -->
		<% end %>	<!-- end of - fields_for "exammarks[#{index}]"-->
		<p><%= f.submit 'Create By Paper',:name => :new_submit %></p>
	<% end %>	<!-- end of - form_tag :action => 'create' do |f| %>-->
	<!--end-trial new exammark by exampaper (filtered by programme)-12Sept2012-->
	
	
<% elsif @new_type == "3" %>

	<!--start-trial new exammark by intake & paper-12Sept2012-->
	<h3>Multiple New Examination Marks (by Intake)</h3>
	
		<!---->
		<%=render :partial => 'form_multiple_intake'%>
		<!---->


<% end %>

<%= link_to 'Back', exammarks_path %>