<div class="tform">
	<h2><%=t('exammark.details')%></h2>
	<table>
		<tr>
			<td class="leftcol"><%=t('exammark.student_id')%>:</td>
			<td> <%=h @exammark.studentmark.matrix_name  %></td>
		</tr>
		<tr>
			<td class="leftcol"><%=t('exammark.exam_id')%>:</td>
			<td> <%=h @exammark.exampaper.exam_name_subject_date %>
				<!--11June2013-TEMPLATE-->
				<% @istemplate = @exammark.exampaper.klass_id %>
				<% if @istemplate == 0 %>
					<span style="color:blue;">(Template)</span>
				<% end %>
				<!--11June2013-TEMPLATE-->
			</td>
		</tr>
		<tr>
			<td class="leftcol"><%=t('exammark.title3')%>:</td>
			<td>
				<% if @exammark.exampaper.klass_id == 0 %>
					<%= number_with_precision(@exammark.total_marks,2) %> / <%=number_with_precision(@exammark.exampaper.examtemplates.map(&:total_marks).inject{|sum, x|sum+x},2)%>
				<% else %>
					<%################################################%>
					<!--start-marks listing-->
					<% @examquestions = @exammark.exampaper.examquestions%>
					<table>
						<tr>
							<th><%=t('examquestion.questiontype')%></th>
							<th>No</th>
							<th><%=t('examquestion.question')%></th>
							<th><%=t('exammark.mark')%></th>
						</tr>
						<!--retrieve existing marks first-->
						<% if @exammark %><!--@exammark refers to @exammark.id-->
							<% @marks_for_questions = Mark.find(:all, :order=>"created_at ASC", :conditions=>['exammark_id=?', @exammark.id]) %>	
							<!--<%#=@marks_for_questions.count%>id utk mark table<%#= @marks_for_questions[0].id%>-->
						<% end %>
						<!---->
						<!--*************************-->
						<!--start-display MCQ questions details-->
						<tr>
							<% if @examquestions.mcqq.count > 0 %>
								<td style="vertical-align:middle;font-weight:bold;">MCQ</td>
								<td>
									<% 1.upto(@examquestions.mcqq.count) do |no|%>
										<%=no%><br>
									<% end %>
								</td>
								<td>
									<%for examquestion in @examquestions.mcqq %>
										<%=examquestion.question%><br>
									<%end%>
								</td>
								<td style="vertical-align:middle;text-align:right;">
									<% marks_ary = @examquestions.mcqq.map(&:marks) %>
									<% @mcq_totalmarks = marks_ary.inject{|sum,x|sum+x}%>
									<%#=number_with_precision(@exammark.total_mcq,2) %>
									<%=sprintf('%.2f', @exammark.total_mcq)%>/ 
									<%#=number_with_precision(@mcq_totalmarks,2) %>
									<%=sprintf('%.2f', @mcq_totalmarks)%>
								</td>
							<% end %>	
						</tr>	
						<!--start-display MCQ questions details-->
						<!--start-display MEQ questions details-->
						<% count2 = 0 %>
						<% if @examquestions.meqq.count > 0 %>
							<% 0.upto(@examquestions.meqq.count-1) do |count| %>
								<tr>
									<% if count == 0 %>
										<td style="vertical-align:middle;font-weight:bold;" rowspan='<%=@examquestions.meqq.count%>'>MEQ</td>
									<% end %>
									<td><%=count+1%></td>
									<td><%=@examquestions.meqq[count2].question %></td>
									<td style="text-align:right;"><%=@marks_for_questions[count2].student_mark %> / <%#=number_with_precision(@examquestions.meqq[count2].marks,2) %>
									<%=sprintf('%.2f', @examquestions.meqq[count2].marks)%></td>
									<% count2+=1 %>
								<% end %>
							</tr>
						<% end %>
						<!--end-display MCQ questions details-->
						<!--start-display SEQ questions details-->
						<% if @examquestions.seqq.count > 0 %>
							<% 0.upto(@examquestions.seqq.count-1) do |count| %>
								<tr>
									<% if count == 0 %>
										<td style="vertical-align:middle;font-weight:bold;" rowspan='<%=@examquestions.seqq.count%>'>SEQ</td>
									<% end %>
									<td><%=count+1%></td>
									<td><%=@examquestions.seqq[count].question %></td>
									<td style="text-align:right;"><%#= text_field "exammark[marks_attributes][#{count2}]",:student_mark , :size=>4, :class=>'h1' %> 
										<%=@marks_for_questions[count2].student_mark %> / <%#=number_with_precision(@examquestions.seqq[count].marks,2) %>
										<%=sprintf('%.2f', @examquestions.seqq[count].marks)%>
									</td>
									<% count2+=1 %>
								<% end %>
							</tr>
						<% end %>
						<!--end-display SEQ questions details-->
						<!--start-display ACQ questions details-->
						<% if @examquestions.acqq.count > 0 %>
							<% 0.upto(@examquestions.acqq.count-1) do |count| %>
								<tr>
									<% if count == 0 %>
										<td style="vertical-align:middle;font-weight:bold;" rowspan='<%=@examquestions.acqq.count%>'>ACQ</td>
									<% end %>
									<td><%=count+1%></td>
									<td><%=@examquestions.acqq[count].question %></td>
									<td style="text-align:right;"><%#= text_field "exammark[marks_attributes][#{count2}]",:student_mark , :size=>4, :class=>'h1' %> 
										<%=@marks_for_questions[count2].student_mark %> / <%#=number_with_precision(@examquestions.acqq[count].marks,2) %>
										<%=sprintf('%.2f', @examquestions.acqq[count].marks)%>
									</td>
									<% count2+=1 %>
								<% end %>
							</tr>
						<% end %>
						<!--send-display ACQ questions details-->
						<!--start-display OSCI questions details-->
						<% if @examquestions.osci2q.count > 0 %>
							<% 0.upto(@examquestions.osci2q.count-1) do |count| %>
								<tr>
									<% if count == 0 %>
										<td style="vertical-align:middle;font-weight:bold;" rowspan='<%=@examquestions.osci2q.count%>'>OSCI</td>
									<% end %>
									<td><%=count+1%></td>
									<td><%=@examquestions.osci2q[count].question %></td>
									<td style="text-align:right;"><%#= text_field "exammark[marks_attributes][#{count2}]",:student_mark , :size=>4, :class=>'h1' %> 
										<%=@marks_for_questions[count2].student_mark %> / <%#=number_with_precision(@examquestions.osci2q[count].marks,2) %>
										<%=sprintf('%.2f', @examquestions.osci2q[count].marks)%>
									</td>
									<% count2+=1 %>
								<% end %>
							</tr>
						<% end %>
						<!--end-display OSCI questions details-->
						<!--start-display OSCII questions details-->
						<% if @examquestions.osci3q.count > 0 %>
							<% 0.upto(@examquestions.osci3q.count-1) do |count| %>
								<tr>
									<% if count == 0 %>
										<td style="vertical-align:middle;font-weight:bold;" rowspan='<%=@examquestions.osci3q.count%>'>OSCII</td>
									<% end %>
									<td><%=count+1%></td>
									<td><%=@examquestions.osci3q[count].question %></td>
									<td style="text-align:right;"><%#= text_field "exammark[marks_attributes][#{count2}]",:student_mark , :size=>4, :class=>'h1' %> 
										<%=@marks_for_questions[count2].student_mark %> / <%#=number_with_precision(@examquestions.osci3q[count].marks,2) %>
										<%=sprintf('%.2f', @examquestions.osci3q[count].marks)%>
									</td>
									<% count2+=1 %>
								<% end %>
							</tr>
						<% end %>
						<!--end-display OSCII questions details-->
						<!--start-display OSCE questions details-->
						<% if @examquestions.osceq.count > 0 %>
							<% 0.upto(@examquestions.osceq.count-1) do |count| %>
								<tr>
									<% if count == 0 %>
										<td style="vertical-align:middle;font-weight:bold;" rowspan='<%=@examquestions.osceq.count%>'>OSCE</td>
									<% end %>
									<td><%=count+1%></td>
									<td><%=@examquestions.osceq[count].question %></td>
									<td style="text-align:right;"><%#= text_field "exammark[marks_attributes][#{count2}]",:student_mark , :size=>4, :class=>'h1' %> 
										<%=@marks_for_questions[count2].student_mark %> / <%#=number_with_precision(@examquestions.osceq[count].marks,2) %>
										<%=sprintf('%.2f', @examquestions.osceq[count].marks)%>
									</td>
									<% count2+=1 %>
								<% end %>
							</tr>
						<% end %>
						<!--end-display OSCE questions details-->
						<!--start-display OSPE questions details-->
						<% if @examquestions.ospeq.count > 0 %>
							<% 0.upto(@examquestions.ospeq.count-1) do |count| %>
								<tr>
									<% if count == 0 %>
										<td style="vertical-align:middle;font-weight:bold;" rowspan='<%=@examquestions.ospeq.count%>'>OSPE</td>
									<% end %>
									<td><%=count+1%></td>
									<td><%=@examquestions.ospeq[count].question %></td>
									<td style="text-align:right;"><%#= text_field "exammark[marks_attributes][#{count2}]",:student_mark , :size=>4, :class=>'h1' %> 
										<%=@marks_for_questions[count2].student_mark %> / <%#=number_with_precision(@examquestions.ospeq[count].marks,2) %>
										<%=sprintf('%.2f', @examquestions.ospeq[count].marks)%>
									</td>
									<% count2+=1 %>
								<% end %>
							</tr>
						<% end %>
						<!--end-display OSPE questions details-->
						<!--start-display VIVA questions details-->
						<% if @examquestions.vivaq.count > 0 %>
							<% 0.upto(@examquestions.vivaq.count-1) do |count| %>
								<tr>
									<% if count == 0 %>
										<td style="vertical-align:middle;font-weight:bold;" rowspan='<%=@examquestions.vivaq.count%>'>VIVA</td>
									<% end %>
									<td><%=count+1%></td>
									<td><%=@examquestions.vivaq[count].question %></td>
									<td style="text-align:right;"><%#= text_field "exammark[marks_attributes][#{count2}]",:student_mark , :size=>4, :class=>'h1' %> 
									<%=@marks_for_questions[count2].student_mark %> / <%#=number_with_precision(@examquestions.vivaq[count].marks,2) %>
									<%=sprintf('%.2f', @examquestions.vivaq[count].marks)%>
									</td>
									<% count2+=1 %>
								<% end %>
							</tr>
						<% end %>
						<!--end-display VIVA questions details-->
						<!--start-display TRUEFALSE questions details-->
						<% if @examquestions.truefalseq.count > 0 %>
							<% 0.upto(@examquestions.truefalseq.count-1) do |count| %>
								<tr>
									<% if count == 0 %>
										<td style="vertical-align:middle;font-weight:bold;" rowspan='<%=@examquestions.truefalseq.count%>'>TRUE/FALSE</td>
									<% end %>
									<td><%=count+1%></td>
									<td><%=@examquestions.truefalseq[count].question %></td>
									<td style="text-align:right;"><%#= text_field "exammark[marks_attributes][#{count2}]",:student_mark , :size=>4, :class=>'h1' %>
										<%=@marks_for_questions[count2].student_mark %> /
										<%=sprintf('%.2f', @examquestions.truefalseq[count].marks)%>
										<%#=number_with_precision(@examquestions.truefalseq[count].marks,2) %>
									</td>
									<% count2+=1 %>
								<% end %>
							</tr>
						<% end %>
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td style="font-weight:bold;"><%=t('exammark.total_marks')%></td>
							<td style="text-align:right;font-weight:bold;">
								<%=sprintf('%.2f', @exammark.total_marks)%>
								<%#= number_with_precision(@exammark.total_marks,2) %> /
								<%=sprintf('%.2f', @examquestions.all.map(&:marks).inject{|sum, x|sum+x})%>
								<%#=number_with_precision(@examquestions.all.map(&:marks).inject{|sum, x|sum+x},2)%>
							</td>
						</tr>
					</table>
					<!--end-marks listing-->
					<%################################################%>
				
				<% end %><!--end for @exammark.exampaper.klass_id == 0-->
			</td>
		</tr>
	</table>
	

	
	
</div>
<% if @exammark.exampaper.klass_id != 0 %>
	<%= link_to (t 'edit'), edit_exammark_path(@exammark) %> |
<% end %>
<%= link_to (t 'back'), exammarks_path %>