<h1>New trainingnote</h1>

<% form_for(@training_note, :html => {:multipart => true}) do |f| %>

  <p>
    <%= f.label :timetable_id %><br />
    <%= f.text_field :timetable_id %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </p>
  <p>
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </p>
  <p>
    <%= f.label :staff_id %><br />
    <%= f.text_field :staff_id %>
  </p>
  <p>
    <%= f.label :release %><br />
    <%= f.date_select :release %>
  </p>
  <p>
    <%= f.label :topic_id %><br />
    <%= f.text_field :topic_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', training_notes_path %>