<div class="tform">
	<H2>Campus Event</H2>
  <table id="form" width=100% >
		<tr>
			<td class="leftcol"><label for="start_at">Event Start Date:</label></td>
			<td><%= f.datetime_select :start_at, :start_year => Time.now.year - 1, :minute_step => 15, :order => [:day, :month, :year] %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="end_at">Event EndDate:</label></td>
			<td><%= f.datetime_select :end_at, :start_year => Time.now.year - 1, :minute_step => 15, :order => [:day, :month, :year] %></td>
		</tr>
	
	<tr>
		<td class="leftcol"><label for="event_is_publik">Public/Private:</label></td>
		<td>Public: <%= f.radio_button :event_is_publik, true %>
			  Private:<%= f.radio_button :event_is_publik, false %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="eventname">Event Name:</label><font color="red"> * </font></td>
		<td><%= f.text_field :eventname %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="location">Location:</label><font color="red"> * </font></td>
		<td><%= f.text_field :location %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="participants">Participants:</label></td>
		<td><%= f.text_area :participants, :size => "30x7" %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="officiated ">Officiated By:</label></td>
		<td><%= f.text_field :officiated  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="createdby ">Created By:</label></td>
		<td><%= f.collection_select :createdby, Staff.find(:all), :id, :staff_name_with_position %></td>
	</tr>
</table>
<BR>