<div class="tform">
	<H2><%= t 'event.event_details' %></H2>
  <table width=100% >

	
	<tr>
		<td class="leftcol"><label for="eventstdt"><%= t 'event.eventstdt' %></label></td>
		<td><b>:</b></td>
		<td><%= f.datetime_select :eventstdt, :start_year => Time.now.year - 1, :order => [:day, :month, :year] %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="eventendt"><%= t 'event.eventendt' %> </label></td>
		<td><b>:</b></td>
		<td><%= f.datetime_select :eventendt, :start_year => Time.now.year - 1, :order => [:day, :month, :year] %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="event_is_publik"><%= t 'event.event_is_publik' %> </label></td>
		<td><b>:</b></td>
		<td><%= t 'event.public' %>: <%= f.radio_button :event_is_publik, true %>
			  <%= t 'event.private' %>:<%= f.radio_button :event_is_publik, false %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="eventname"><%= t 'event.eventname' %> </label><font color="red"> * </font></td>
		<td><b>:</b></td>
		<td><%= f.text_field :eventname %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="location"><%= t 'event.location' %> </label><font color="red"> * </font></td>
		<td><b>:</b></td>
		<td><%= f.text_field :location %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="participants"><%= t 'event.participants' %> </label></td>
		<td><b>:</b></td>
		<td><%= f.text_area :participants, :size => "30x7" %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="officiated "><%= t 'event.officiated' %> </label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :officiated  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="createdby "><%= t 'event.createdby' %> </label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :createdby, Staff.find(:all), :id, :staff_name_with_position %></td>
	</tr>
</table>
<BR>