<div class="tform">
	<H2><%= t 'events.campus_event' %></H2>
  <table id="form" width=100% >
		<tr>
			<td class="leftcol"><label for="start_at"><%= t 'events.event_startdate' %>:</label></td>
			<td><%= f.datetime_select :start_at, :start_year => Time.now.year - 1, :minute_step => 15, :order => [:day, :month, :year] %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="end_at"><%= t 'events.event_enddate' %>:</label></td>
			<td><%= f.datetime_select :end_at, :start_year => Time.now.year - 1, :minute_step => 15, :order => [:day, :month, :year] %></td>
		</tr>
	
	<tr>
		<td class="leftcol"><label for="event_is_publik"><%= t 'events.public_private' %>:</label></td>
		<td>Public: <%= f.radio_button :event_is_publik, true %>
			  Private:<%= f.radio_button :event_is_publik, false %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="eventname"><%= t 'events.event_name' %>:</label><font color="red"> * </font></td>
		<td><%= f.text_field :eventname %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="location"><%= t 'menu.locations' %>:</label><font color="red"> * </font></td>
		<td><%= f.text_field :location %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="participants"><%= t 'events.participants' %>:</label></td>
		<td><%= f.text_area :participants, :size => "30x7" %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="officiated "><%= t 'events.officiatedby' %>:</label></td>
		<td><%= f.text_field :officiated  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="createdby "><%= t 'events.createdby' %>:</label></td>
		<td><%= f.collection_select :createdby, Staff.find(:all, :order=>'name ASC'), :id, :staff_name_with_position %></td>
	</tr>
</table>
<BR>