<div class="tform">
  <table width=100% >

<table id="form">
	<tr>
		<th colspan = 2>New Campus Event</th>
	</tr>
	<tr>
		<td class="leftcol"><label for="eventstdt">Event Start Date:</label></td>
		<td><%= f.datetime_select :eventstdt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="eventendt">Event EndDate:</label></td>
		<td><%= f.datetime_select :eventendt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="eventname">Event Name:</label><font color="red"> * </font></td>
		<td><%= f.text_field :eventname %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="location">Location:</label><font color="red"> * </font></td>
		<td><%= f.text_field :location %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="participants">Participants:</label></td>
		<td><%= f.text_area :participants, :size => "30x7" %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="officiated ">Officiated By:</label></td>
		<td><%= f.text_field :officiated  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="createdby ">Created By:</label></td>
		<td><%= f.text_field :createdby  %></td>
	</tr>
</table>
<BR>