<h3>Editing Event</h3>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>