<h3><%= t 'events.edit' %></h3>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>
</div>

<%= link_to (t 'show'), @event %> |
<%= link_to (t 'back'), events_path %>