<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left"><%= t 'event.list' %></h2>
		<div class="right">
			<% form_tag events_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search], :placeholder => "Event Name, Location" %>
			<%= submit_tag I18n.t('search'), :eventname => nil %>
			<% end %>
		</div>
  </div>
</div>

<div class="tlist">
	<table width=100% border="0" cellpadding="0" cellspacing="0">
	  <tr>
    	<th><a href="?sort_by=evenstdt"><%= t 'event.eventstdt' %></a></th>
	    <th><%= t 'event.eventendt' %></th>
	    <th><%= t 'event.eventname' %></th>
	    <th><%= t 'event.location' %></th>
	    <th><%= t 'event.officiated' %></th>
	    <th><%= t 'event.createdby' %></th>
	    <th colspan=3 class="ac"><%= t 'control' %></th>
	  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.eventstdt.strftime("%I:%M%p, %a,  %d.%b.%y ") unless event.eventstdt.nil? %></td>
    <td><%=h event.eventendt.strftime("%I:%M%p, %a,  %d.%b.%y ") unless event.eventendt.nil? %></td>
    <td><%=h event.eventname %></td>
    <td><%=h event.location %></td>
    <td><%=h event.officiated %></td>
    <td><%=h event.staff.blank? ? "-" : event.staff.staff_name_with_title %></td>
    <td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => event %></td>
	<% permitted_to? :menu, :events do %>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => event %></td>
    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), event, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />
</div>
<% permitted_to? :manage, :events do %>
<%= link_to (t 'event.create'), new_event_path %>
<% end %>