<h3><%= t 'events.new' %></h3>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>
	<%=render :partial => 'form', :locals => {:f => f} %> 
  
  <p>
    <%= f.submit (t 'create') %>
  </p>
<% end %>
</div>

<%= link_to (t 'back'), events_path %>