<div class="tform">
<H2><%= t 'event.event_details' %></H2>
<table width=100%>
	
	<tr>
		<td class="leftcol"><label for="eventstdt"><%= t 'event.eventstdt' %></label></td>
		<td width=3%><b>:</b></td>
		<td> <%=h @event.eventstdt.strftime("%I:%M%p, %A,  %d %B %Y ") unless @event.eventstdt.nil? %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="eventendt"><%= t 'event.eventendt' %></label></td>
		<td><b>:</b></td>
		<td> <%=h @event.eventendt.strftime("%I:%M%p, %A,  %d %B %Y ") unless @event.eventendt.nil? %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="eventname"><%= t 'event.eventname' %></label></td>
		<td><b>:</b></td>
		<td><%=h @event.eventname %>
			  (<%=h @event.event_is_publik? ? "Public" : "Private" %>)</td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="location"><%= t 'event.location' %></label></td>
		<td><b>:</b></td>
		<td><%=h @event.location %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="participants"><%= t 'event.participants' %></label></td>
		<td><b>:</b></td>
		<td> <%=h @event.participants %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="officiated "><%= t 'event.officiated' %></label></td>
		<td><b>:</b></td>
		<td><%=h @event.officiated %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="createdby "><%= t 'event.createdby' %></label></td>
		<td><b>:</b></td>
		<td><%=h @event.staff.blank? ? "-" : @event.staff.staff_name_with_title %></td>
	</tr>
</table>
<BR>
</div>
<%= link_to (t 'icms.update'), edit_event_path(@event) %> |
<%= link_to (t 'icms.back'), events_path %>