<div class="tform">
	<H2>Campus Event Details</H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="start_at">Event Start Date:</label></td>
			<td> <%=h @event.start_at.strftime("%I:%M%p, %A,  %d %B %Y ") unless @event.start_at.nil? %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="end_at">Event EndDate:</label></td>
			<td> <%=h @event.end_at.strftime("%I:%M%p, %A,  %d %B %Y ") unless @event.end_at.nil? %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="eventname">Event Name:</label></td>
			<td><%=h @event.eventname %>
				  (<%=h @event.event_is_publik? ? "Public" : "Private" %>)</td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="location">Location:</label></td>
			<td><%=h @event.location %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="participants">Participants:</label></td>
			<td> <%=h @event.participants %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="officiated ">Officiated By:</label></td>
			<td><%=h @event.officiated %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="createdby ">Created By:</label></td>
			<td><%=h @event.staff.blank? ? "-" : @event.staff.name %></td>
		</tr>
	</table>
<BR>
</div>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>