<div class="tform">
  <table width=100% >

<table id="form">
	<tr>
		<th colspan = 2>Campus Event Details</th>
	</tr>
	<tr>
		<td class="leftcol"><label for="eventstdt">Event Start Date:</label></td>
		<td> <%=h @event.eventstdt %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="eventendt">Event EndDate:</label></td>
		<td> <%=h @event.eventendt %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="eventname">Event Name:</label></td>
		<td><%=h @event.eventname %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="location">Location:</label></td>
		<td><%=h @event.location %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="participants">Participants:</label></td>
		<td> <%=h @event.participants %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="officiated ">Officiated By:</label></td>
		<td><%=h @event.officiated %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="createdby ">Created By:</label></td>
		<td> <%=h @event.createdby %></td>
	</tr>
</table>
<BR>
</div>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>