<h3>Editing Lecturer Appraisal</h3>

<% form_for(@evaluate_lecturer) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<BR>
<%= link_to 'Show', @evaluate_lecturer %> |
<%= link_to 'Back', evaluate_lecturers_path %>