<!-- Box -->
<div class="box">
<!-- Box Head -->
  <div class="box-head">
    <h2 class="left">Lists of Lecturer Appraisal</h2>
		<div class="right">
		</div>
	</div>
</div>

<div class="indextable">
<table>
  <tr class="toprow">
    <th>Student Name</th>
    <th>Course - Subject Name</th>
    <th>Evaluate Date</th>
    <th>Lecturer's Name</th>
    <th colspan=4 class="ac"><%= t 'action' %></th>
    
  </tr>

<% @evaluate_lecturers.each do |evaluate_lecturer| %>
  <tr>
	<td><%= evaluate_lecturer.student_id.blank? ? "No Student" : evaluate_lecturer.studentevaluate.name %></td>
	<!--20Feb2013-subject added-->
	<td><%= evaluate_lecturer.course_id.blank? ? "No Course" : evaluate_lecturer.stucourse.name + " - " %></td>
	<!--20Feb2013-subject added-->
	<td ><%= evaluate_lecturer.evaluate_date.blank? ? "-" : evaluate_lecturer.evaluate_date.strftime("%d %b %Y") %></td>
	<td><%= evaluate_lecturer.staff_id.blank? ? "No Staff" : evaluate_lecturer.staffevaluate.staff_name_with_title %></td>
	<td width=10px >
	<% if permitted_to? :show, evaluate_lecturer %>
	<%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => evaluate_lecturer %><% end %></td>
	
    <td width=10px>
	<% if permitted_to? :update, evaluate_lecturer %>
	<%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => evaluate_lecturer %><% end %></td>
   
	<% if permitted_to? :destroy, evaluate_lecturer %>
    <td width=10px>
	<%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), evaluate_lecturer, :confirm => 'Are you sure?', :method => :delete %></td><% end %>

    <% if permitted_to? :penilaipensyarah, evaluate_lecturer %>
	<td width=10px>
	<%= link_to image_tag("printer.png", :border => 0, :title => 'Borang Penilaian Pensyarah'), :action => 'penilaipensyarah', :id => evaluate_lecturer %>
	</td><% end %>

  </tr>
<% end %>
</table>
</div>
<br />
<% if permitted_to? :create, @evaluate_lecturer %>
<%= link_to 'New Lecturer Appraisal', new_evaluate_lecturer_path %>
<% end %>



