<div class="tform">
	<H2>Appraisal Information</H2>
  <table width=100% >
	
			<tr>
				<td class="leftcol"><label for="student_id">Student Name</label></td>
				<td width=2%>:</td>
				<td><%= @evaluate_lecturer.student_id.blank? ? "No Student" : @evaluate_lecturer.studentevaluate.name %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="course_id">Course Name</label></td>
				<td>:</td>
				<td><%= @evaluate_lecturer.course_id.blank? ? "No Course" : @evaluate_lecturer.stucourse.programme_with_specialisation %></td>
			</tr>
				
			<tr>
				<td class="leftcol"><label for="subject_id">Subject Name</label></td>
				<td>:</td>
				<td><%= @evaluate_lecturer.subject_id.blank? ? "No Subject" : @evaluate_lecturer.subjectevaluate.subject_code_with_subject_name %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="staff_id">Lecturer Name</label></td>
				<td>:</td>
				<td><%= @evaluate_lecturer.staff_id.blank? ? "-" : @evaluate_lecturer.staffevaluate.staff_name_with_title %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="staff_id">Invitation Lecturer</label></td>
				<td>:</td>
				<td><%= @evaluate_lecturer.invite_lec %></td>
			</tr>
			
			
			<tr>
				<td class="leftcol"><label for="comment">Comment</label></td>
				<td>:</td>
				<td ><%= @evaluate_lecturer.comment %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="evaluate_date">Evaluate Date</label></td>
				<td>:</td>
				<td ><%= @evaluate_lecturer.evaluate_date.blank? ? "-" : @evaluate_lecturer.evaluate_date.strftime("%d-%b-%Y")  %></td>
			</tr>

</table>

<H2>Appraisal Details</H2>
<table width=80% border=1 cellspacing=0 cellpadding=7 BORDERCOLOR="#E8E8E8 ">	
			
			<tr>
				<td width="10" ><font size=2><b>BIL</b></font></td>
				<td align="center" width=35%><font size=2 ><b>PERKARA</b></font></th>
				<td width="10" colspan=9 align="center"><font size=2><b>SKOR</b></font></td>
			</tr>
		
				
<tr>
	<td>1.</td>
	<td>Pencapaian objektif pelajaran</td>
	<td align="center"><% if @evaluate_lecturer.ev_obj == 1  %><b><%= @evaluate_lecturer.ev_obj %></b><% else %><font color="#A0A0A0">1</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_obj == 2  %><b><%= @evaluate_lecturer.ev_obj %></b<% else %><font color="#A0A0A0">2</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_obj == 3  %><b><%= @evaluate_lecturer.ev_obj %></b<% else %><font color="#A0A0A0">3</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_obj == 4  %><b><%= @evaluate_lecturer.ev_obj %><b><% else %><font color="#A0A0A0">4</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_obj == 5  %><b><%= @evaluate_lecturer.ev_obj %></b<% else %><font color="#A0A0A0">5</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_obj == 6  %><b><%= @evaluate_lecturer.ev_obj %></b<% else %><font color="#A0A0A0">6</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_obj == 7  %><b><%= @evaluate_lecturer.ev_obj %></b<% else %><font color="#A0A0A0">7</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_obj == 8  %><b><%= @evaluate_lecturer.ev_obj %></b<% else %><font color="#A0A0A0">8</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_obj == 9  %><b><%= @evaluate_lecturer.ev_obj %></b<% else %><font color="#A0A0A0">9</font><% end %></td>
</tr>

<tr>
	<td>2.</td>
	<td>Pengetahuan pensyarah tentang pelajaran yang diajar</td>
	<td align="center"><% if @evaluate_lecturer.ev_knowledge == 1  %><b><%= @evaluate_lecturer.ev_knowledge %></b><% else %><font color="#A0A0A0">1</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_knowledge == 2  %><b><%= @evaluate_lecturer.ev_knowledge %></b<% else %><font color="#A0A0A0">2</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_knowledge == 3  %><b><%= @evaluate_lecturer.ev_knowledge %></b<% else %><font color="#A0A0A0">3</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_knowledge == 4  %><b><%= @evaluate_lecturer.ev_knowledge %><b><% else %><font color="#A0A0A0">4</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_knowledge == 5  %><b><%= @evaluate_lecturer.ev_knowledge %></b<% else %><font color="#A0A0A0">5</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_knowledge == 6  %><b><%= @evaluate_lecturer.ev_knowledge %></b<% else %><font color="#A0A0A0">6</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_knowledge == 7  %><b><%= @evaluate_lecturer.ev_knowledge %></b<% else %><font color="#A0A0A0">7</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_knowledge == 8  %><b><%= @evaluate_lecturer.ev_knowledge %></b<% else %><font color="#A0A0A0">8</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_knowledge == 9  %><b><%= @evaluate_lecturer.ev_knowledge %></b<% else %><font color="#A0A0A0">9</font><% end %></td>
</tr>

<tr>
	<td>3.</td>
	<td>Mutu pencapaian pensyarah</td>
	<td align="center"><% if @evaluate_lecturer.ev_deliver == 1  %><b><%= @evaluate_lecturer.ev_deliver %></b><% else %><font color="#A0A0A0">1</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_deliver == 2  %><b><%= @evaluate_lecturer.ev_deliver %></b<% else %><font color="#A0A0A0">2</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_deliver == 3  %><b><%= @evaluate_lecturer.ev_deliver %></b<% else %><font color="#A0A0A0">3</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_deliver == 4  %><b><%= @evaluate_lecturer.ev_deliver %><b><% else %><font color="#A0A0A0">4</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_deliver == 5  %><b><%= @evaluate_lecturer.ev_deliver %></b<% else %><font color="#A0A0A0">5</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_deliver == 6  %><b><%= @evaluate_lecturer.ev_deliver %></b<% else %><font color="#A0A0A0">6</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_deliver == 7  %><b><%= @evaluate_lecturer.ev_deliver %></b<% else %><font color="#A0A0A0">7</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_deliver == 8  %><b><%= @evaluate_lecturer.ev_deliver %></b<% else %><font color="#A0A0A0">8</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_deliver == 9  %><b><%= @evaluate_lecturer.ev_deliver %></b<% else %><font color="#A0A0A0">9</font><% end %></td>
</tr>

<tr>
	<td>4.</td>
	<td>Isi kandungan pelajaran</td>
	<td align="center"><% if @evaluate_lecturer.ev_content == 1  %><b><%= @evaluate_lecturer.ev_content %></b><% else %><font color="#A0A0A0">1</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_content == 2  %><b><%= @evaluate_lecturer.ev_content %></b<% else %><font color="#A0A0A0">2</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_content == 3  %><b><%= @evaluate_lecturer.ev_content %></b<% else %><font color="#A0A0A0">3</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_content == 4  %><b><%= @evaluate_lecturer.ev_content %><b><% else %><font color="#A0A0A0">4</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_content == 5  %><b><%= @evaluate_lecturer.ev_content %></b<% else %><font color="#A0A0A0">5</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_content == 6  %><b><%= @evaluate_lecturer.ev_content %></b<% else %><font color="#A0A0A0">6</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_content == 7  %><b><%= @evaluate_lecturer.ev_content %></b<% else %><font color="#A0A0A0">7</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_content == 8  %><b><%= @evaluate_lecturer.ev_content %></b<% else %><font color="#A0A0A0">8</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_content == 9  %><b><%= @evaluate_lecturer.ev_content %></b<% else %><font color="#A0A0A0">9</font><% end %></td>
</tr>

<tr>
	<td>5.</td>
	<td>Mutu alat pandang dengar yang digunakan</td>
	<td align="center"><% if @evaluate_lecturer.ev_tool == 1  %><b><%= @evaluate_lecturer.ev_tool %></b><% else %><font color="#A0A0A0">1</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_tool == 2  %><b><%= @evaluate_lecturer.ev_tool %></b<% else %><font color="#A0A0A0">2</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_tool == 3  %><b><%= @evaluate_lecturer.ev_tool %></b<% else %><font color="#A0A0A0">3</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_tool == 4  %><b><%= @evaluate_lecturer.ev_tool %><b><% else %><font color="#A0A0A0">4</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_tool == 5  %><b><%= @evaluate_lecturer.ev_tool %></b<% else %><font color="#A0A0A0">5</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_tool == 6  %><b><%= @evaluate_lecturer.ev_tool %></b<% else %><font color="#A0A0A0">6</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_tool == 7  %><b><%= @evaluate_lecturer.ev_tool %></b<% else %><font color="#A0A0A0">7</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_tool == 8  %><b><%= @evaluate_lecturer.ev_tool %></b<% else %><font color="#A0A0A0">8</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_tool == 9  %><b><%= @evaluate_lecturer.ev_tool %></b<% else %><font color="#A0A0A0">9</font><% end %></td>
</tr>

<tr>
	<td>6.</td>
	<td>Kesesuaian turutan topik dalam jadual</td>
	<td align="center"><% if @evaluate_lecturer.ev_topic == 1  %><b><%= @evaluate_lecturer.ev_topic %></b><% else %><font color="#A0A0A0">1</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_topic == 2  %><b><%= @evaluate_lecturer.ev_topic %></b<% else %><font color="#A0A0A0">2</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_topic == 3  %><b><%= @evaluate_lecturer.ev_topic %></b<% else %><font color="#A0A0A0">3</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_topic == 4  %><b><%= @evaluate_lecturer.ev_topic %><b><% else %><font color="#A0A0A0">4</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_topic == 5  %><b><%= @evaluate_lecturer.ev_topic %></b<% else %><font color="#A0A0A0">5</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_topic == 6  %><b><%= @evaluate_lecturer.ev_topic %></b<% else %><font color="#A0A0A0">6</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_topic == 7  %><b><%= @evaluate_lecturer.ev_topic %></b<% else %><font color="#A0A0A0">7</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_topic == 8  %><b><%= @evaluate_lecturer.ev_topic %></b<% else %><font color="#A0A0A0">8</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_topic == 9  %><b><%= @evaluate_lecturer.ev_topic %></b<% else %><font color="#A0A0A0">9</font><% end %></td>
</tr>

<tr>
	<td>7.</td>
	<td>Kesesuaian kerja sindikit dengan objektif pelajaran</td>
	<td align="center"><% if @evaluate_lecturer.ev_work == 1  %><b><%= @evaluate_lecturer.ev_work %></b><% else %><font color="#A0A0A0">1</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_work == 2  %><b><%= @evaluate_lecturer.ev_work %></b<% else %><font color="#A0A0A0">2</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_work == 3  %><b><%= @evaluate_lecturer.ev_work %></b<% else %><font color="#A0A0A0">3</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_work == 4  %><b><%= @evaluate_lecturer.ev_work %><b><% else %><font color="#A0A0A0">4</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_work == 5  %><b><%= @evaluate_lecturer.ev_work %></b<% else %><font color="#A0A0A0">5</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_work == 6  %><b><%= @evaluate_lecturer.ev_work %></b<% else %><font color="#A0A0A0">6</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_work == 7  %><b><%= @evaluate_lecturer.ev_work %></b<% else %><font color="#A0A0A0">7</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_work == 8  %><b><%= @evaluate_lecturer.ev_work %></b<% else %><font color="#A0A0A0">8</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_work == 9  %><b><%= @evaluate_lecturer.ev_work %></b<% else %><font color="#A0A0A0">9</font><% end %></td>
</tr>

<tr>
	<td>8.</td>
	<td>Faedah bahan/nota yang diedarkan</td>
	<td align="center"><% if @evaluate_lecturer.ev_note == 1  %><b><%= @evaluate_lecturer.ev_note %></b><% else %><font color="#A0A0A0">1</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_note == 2  %><b><%= @evaluate_lecturer.ev_note %></b<% else %><font color="#A0A0A0">2</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_note == 3  %><b><%= @evaluate_lecturer.ev_note %></b<% else %><font color="#A0A0A0">3</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_note == 4  %><b><%= @evaluate_lecturer.ev_note %><b><% else %><font color="#A0A0A0">4</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_note == 5  %><b><%= @evaluate_lecturer.ev_note %></b<% else %><font color="#A0A0A0">5</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_note == 6  %><b><%= @evaluate_lecturer.ev_note %></b<% else %><font color="#A0A0A0">6</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_note == 7  %><b><%= @evaluate_lecturer.ev_note %></b<% else %><font color="#A0A0A0">7</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_note == 8  %><b><%= @evaluate_lecturer.ev_note %></b<% else %><font color="#A0A0A0">8</font><% end %></td>
	<td align="center"><% if @evaluate_lecturer.ev_note == 9  %><b><%= @evaluate_lecturer.ev_note %></b<% else %><font color="#A0A0A0">9</font><% end %></td>
</tr>			
</table>
</div>

<BR>
<%= link_to 'Edit', edit_evaluate_lecturer_path(@evaluate_lecturer) %> |
<%= link_to 'Back', evaluate_lecturers_path %>