<h1>Editing trainingrequest</h1>

<% form_for(@trainingrequest) do |f| %>
  <%= f.error_messages %>

 <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @trainingrequest %> |
<%= link_to 'Back', trainingrequests_path %>