<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Request Training</h2>
		<div class="right">
			<% form_tag staffs_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag I18n.t('search'), :icno => nil %>
			<% end %>
		</div>
  </div>
</div>


<div class="tlist">
	<table width=100% border="0" cellpadding="0" cellspacing="0">
  <tr>
    <th>Staffcourse</th>
    <th>Staff</th>
    <th>Appraisal</th>
    <th>Reason</th>
    <th>Submit</th>
    <th>Submitdate</th>
    <th>Approved</th>
    <th>Approvedby</th>
    <th>Approveddate</th>
  </tr>

<% @trainingrequests.each do |trainingrequest| %>
  <tr>
    <td><%=h trainingrequest.staffcourse.name %></td>
    <td><%=h trainingrequest.applicant.name %></td>
    <td><%=h trainingrequest.appraisal_id %></td>
    <td><%=h trainingrequest.reason %></td>
    <td><%=h trainingrequest.submit? ? "submitted" : "-" %></td>
    <td><%=h trainingrequest.submitdate %></td>
    <td><%=h trainingrequest.approved? ? "approved" : "-" %></td>
    <td><%=h trainingrequest.approvedby_id %>></td>
    <td><%=h trainingrequest.approveddate %></td>

		<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => trainingrequest %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => trainingrequest %></td>
    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), trainingrequest, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New trainingrequest', new_trainingrequest_path %>