<p>
  <b>Staffcourse:</b>
  <%=h @trainingrequest.staffcourse.name %>
</p>

<p>
  <b>Staff:</b>
  <%=h @trainingrequest.applicant.name %>
</p>

<p>
  <b>Reason:</b>
  <%=h @trainingrequest.reason %>
</p>

<p>
  <b>Submit:</b>
  <%=h @trainingrequest.submit? ? "submitted" : "-"  %>
</p>

<p>
  <b>Submitdate:</b>
  <%=h @trainingrequest.submitdate %>
</p>

<p>
  <b>Approved:</b>
  <%=h @trainingrequest.approved? ? "approved" : "-" %>
</p>

<p>
  <b>Approvedby:</b>
  <%=h @trainingrequest.approver.name unless @trainingrequest.approvedby_id.blank? %>
</p>

<p>
  <b>Approveddate:</b>
  <%=h @trainingrequest.approveddate %>
</p>


<%= link_to 'Edit', edit_trainingrequest_path(@trainingrequest) %> |
<%= link_to 'Back', trainingrequests_path %>