<!--TRUE FALSE Question-start-BOOLEAN ANSWER PART-->
<!--answer field, table : examquestion-->
<% @boolean_answer = [["TRUE", "true"],["FALSE","false"]]%>
<table cellpadding=0 cellspacing=0 border=0>
<tr>
	<td class="leftcol3">&nbsp;</td>
	<td style="text-align:right;vertical-align:middle;width:20px;padding-right:3px;border-spacing:0px;height:5px;">A</td>
	<td class="mcq2">

		<%= hidden_field "examquestion[booleananswers_attributes][0]",:item, :value => "A" %>
		<% unless @examquestion.id.nil? || @examquestion.id.blank? %>
			<% if (Booleanchoice.find(:all, :conditions=>['examquestion_id=?',@examquestion.id]).count) > 0 %>
			<%= hidden_field "examquestion[booleananswers_attributes][0]",:id, :value => @examquestion.booleananswers[0].id%>
			<%= select_tag "examquestion[booleananswers_attributes][0][answer]", "<option>Select</option>"+options_for_select(@boolean_answer,@examquestion.booleananswers[0].answer.to_s) %>
			<%#= text_field "examquestion[booleananswers_attributes][0]",:description, :size=>60, :value=>@examquestion.booleananswers[0].description %> 
			<!--test to remove existing record-->
			
			<%#= hidden_field "examquestion[booleananswers_attributes][0]",:_destroy %>
			<%#= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>
			<!--test to remove existing record-->
			<!--temp:copy prev format-->	
			<% else %>
				<% if @examquestion.questiontype=="TRUEFALSE"%>
				<%= select_tag "examquestion[booleananswers_attributes][0][answer]", "<option>Select</option>"+options_for_select(@boolean_answer) %>
					<%#= text_field "examquestion[booleananswers_attributes][0]",:description, :size=>60 %> 	
				<% end %>
			<% end %>
			<!--temp:copy prev format-remove once completed-->
		<% else %>
			<% if @examquestion.questiontype=="TRUEFALSE" && @examquestion.booleananswers[0]%>
			<%= select_tag "examquestion[booleananswers_attributes][0][answer]", "<option>Select</option>"+options_for_select(@boolean_answer,@examquestion.booleananswers[0].answer.to_s) %>
				<%#= text_field "examquestion[booleananswers_attributes][0]",:description, :size=>60, :value=>@examquestion.booleananswers[0].description  %> 	
			<% else %>
			<%= select_tag "examquestion[booleananswers_attributes][0][answer]", "<option>Select</option>"+options_for_select(@boolean_answer) %>
				<%#= text_field "examquestion[booleananswers_attributes][0]",:description, :size=>60 %> 	
			<% end %>		
		<% end %>
			
	</td>
</tr>
<tr>
	<td class="leftcol3">&nbsp;</td>
	<td style="text-align:right;vertical-align:middle;width:20px;padding-right:3px;border-spacing:0px;height:5px;">B</td>
	<td class="mcq2"><%#= f.text_field :description, :size => "60x1" %>

		<%= hidden_field "examquestion[booleananswers_attributes][1]",:item, :value => "B" %>
		<% unless @examquestion.id.nil? || @examquestion.id.blank? %>
			<% if (Booleanchoice.find(:all, :conditions=>['examquestion_id=?',@examquestion.id]).count) > 0 %>
				<%= hidden_field "examquestion[booleananswers_attributes][1]",:id, :value => @examquestion.booleananswers[1].id%>
				<%= select_tag "examquestion[booleananswers_attributes][1][answer]", "<option>Select</option>"+options_for_select(@boolean_answer,@examquestion.booleananswers[1].answer.to_s) %>
				<%#= text_field "examquestion[booleananswers_attributes][1]",:description, :size=>60, :value=>@examquestion.booleananswers[1].description %> 
			<!--temp:copy prev format-->	
			<% else %>
				<% if @examquestion.questiontype=="TRUEFALSE"%>
					<%= select_tag "examquestion[booleananswers_attributes][1][answer]", "<option>Select</option>"+options_for_select(@boolean_answer) %>
					<%#= text_field "examquestion[booleananswers_attributes][1]",:description, :size=>60 %> 	
				<% end %>
			<% end %>
			<!--temp:copy prev format-remove once completed-->
		<% else %>
			<% if @examquestion.questiontype=="TRUEFALSE" && @examquestion.booleananswers[1]%>
			<%= select_tag "examquestion[booleananswers_attributes][1][answer]", "<option>Select</option>"+options_for_select(@boolean_answer,@examquestion.booleananswers[1].answer.to_s) %>
				<%#= text_field "examquestion[booleananswers_attributes][1]",:description, :size=>60, :value=>@examquestion.booleananswers[1].description  %> 	
			<% else %>
				<%= select_tag "examquestion[booleananswers_attributes][1][answer]", "<option>Select</option>"+options_for_select(@boolean_answer) %>
				<%#= text_field "examquestion[booleananswers_attributes][1]",:description, :size=>60 %> 	
			<% end %>
		<% end %>
			
	</td>
</tr>
<tr>
	<td class="leftcol3">&nbsp;</td>
	<td style="text-align:right;vertical-align:middle;width:20px;padding-right:3px;border-spacing:0px;height:5px;">C</td>
	<td class="mcq2"><%#= f.text_field :description, :size => "60x1" %>

		<%= hidden_field "examquestion[booleananswers_attributes][2]",:item, :value => "C" %>
		<% unless @examquestion.id.nil? || @examquestion.id.blank? %>
			<% if (Booleanchoice.find(:all, :conditions=>['examquestion_id=?',@examquestion.id]).count) > 0 %>
				<%= hidden_field "examquestion[booleananswers_attributes][2]",:id, :value => @examquestion.booleananswers[2].id%>
				<%= select_tag "examquestion[booleananswers_attributes][2][answer]", "<option>Select</option>"+options_for_select(@boolean_answer,@examquestion.booleananswers[2].answer.to_s) %>
				<%#= text_field "examquestion[booleananswers_attributes][2]",:description, :size=>60, :value=>@examquestion.booleananswers[2].description %> 
			<!--temp:copy prev format-->	
			<% else %>
				<% if @examquestion.questiontype=="TRUEFALSE"%>
					<%= select_tag "examquestion[booleananswers_attributes][2][answer]", "<option>Select</option>"+options_for_select(@boolean_answer) %>
					<%#= text_field "examquestion[booleananswers_attributes][2]",:description, :size=>60 %> 	
				<% end %>
			<% end %>
			<!--temp:copy prev format-remove once completed-->			
		<% else %>
			<%#= text_field "examquestion[booleananswers_attributes][2]",:description, :size=>60 %> 	
			<% if @examquestion.questiontype=="TRUEFALSE" && @examquestion.booleananswers[2]%>
				<%= select_tag "examquestion[booleananswers_attributes][2][answer]", "<option>Select</option>"+options_for_select(@boolean_answer,@examquestion.booleananswers[2].answer.to_s) %>
				<%#= text_field "examquestion[booleananswers_attributes][2]",:description, :size=>60, :value=>@examquestion.booleananswers[2].description  %> 	
			<% else %>
				<%= select_tag "examquestion[booleananswers_attributes][2][answer]", "<option>Select</option>"+options_for_select(@boolean_answer) %>
				<%#= text_field "examquestion[booleananswers_attributes][2]",:description, :size=>60 %> 	
			<% end %>
		<% end %>
		
	</td>
</tr>
<tr>
	<td class="leftcol3">&nbsp;</td>
	<td style="text-align:right;vertical-align:middle;width:20px;padding-right:3px;border-spacing:0px;height:5px;">D</td>
	<td class="mcq2"><%#= f.text_field :description, :size => "60x1" %>

		<%= hidden_field "examquestion[booleananswers_attributes][3]",:item, :value => "D" %>
		<% unless @examquestion.id.nil? || @examquestion.id.blank? %>
			<% if (Booleanchoice.find(:all, :conditions=>['examquestion_id=?',@examquestion.id]).count) > 0 %>
				<%= hidden_field "examquestion[booleananswers_attributes][3]",:id, :value => @examquestion.booleananswers[3].id %>
				<%= select_tag "examquestion[booleananswers_attributes][3][answer]", "<option>Select</option>"+options_for_select(@boolean_answer,@examquestion.booleananswers[3].answer.to_s) %>
				<%#= text_field "examquestion[booleananswers_attributes][3]",:description, :size=>60, :value=>@examquestion.booleananswers[3].description%> 
			<!--temp:copy prev format-->	
			<% else %>
				<% if @examquestion.questiontype=="TRUEFALSE"%>
					<%= select_tag "examquestion[booleananswers_attributes][3][answer]", "<option>Select</option>"+options_for_select(@boolean_answer) %>
					<%#= text_field "examquestion[booleananswers_attributes][3]",:description, :size=>60 %> 	
				<% end %>
			<% end %>
			<!--temp:copy prev format-remove once completed-->
		<% else %>
				<% if @examquestion.questiontype=="TRUEFALSE" && @examquestion.booleananswers[3]%>
					<%= select_tag "examquestion[booleananswers_attributes][3][answer]", "<option>Select</option>"+options_for_select(@boolean_answer,@examquestion.booleananswers[3].answer.to_s) %><%=@examquestion.booleananswers[3].answer.to_s%>
					<%#= text_field "examquestion[booleananswers_attributes][3]",:description, :size=>60, :value=>@examquestion.booleananswers[3].description  %> 	
				<% else %>
					<%= select_tag "examquestion[booleananswers_attributes][3][answer]", "<option>Select</option>"+options_for_select(@boolean_answer) %>
					<%#= text_field "examquestion[booleananswers_attributes][3]",:description, :size=>60 %> 	
				<% end %>
		<% end %>
			
	</td></tr>


<tr>
	<td class="leftcol3">&nbsp;</td>
	<td style="text-align:right;vertical-align:middle;width:20px;padding-right:3px;border-spacing:0px;height:5px;">E</td>
	<td class="mcq2"><%#= f.text_field :description, :size => "60x1" %>

		<%= hidden_field "examquestion[booleananswers_attributes][4]",:item, :value => "E" %>
		<% unless @examquestion.id.nil? || @examquestion.id.blank? %>
			<% if (Booleanchoice.find(:all, :conditions=>['examquestion_id=?',@examquestion.id]).count) > 0 %>
				<%= hidden_field "examquestion[booleananswers_attributes][4]",:id, :value => @examquestion.booleananswers[4].id %>
				<%= select_tag "examquestion[booleananswers_attributes][4][answer]", "<option>Select</option>"+options_for_select(@boolean_answer,@examquestion.booleananswers[4].answer.to_s) %>
				<%#= text_field "examquestion[booleananswers_attributes][4]",:description, :size=>60, :value=>@examquestion.booleananswers[4].description%> 
				<!--temp:copy prev format-->	
			<% else %>
				<% if @examquestion.questiontype=="TRUEFALSE"%>
					<%= select_tag "examquestion[booleananswers_attributes][4][answer]", "<option>Select</option>"+options_for_select(@boolean_answer) %>
					<%#= text_field "examquestion[booleananswers_attributes][4]",:description, :size=>60 %> 	
				<% end %>
			<% end %>
			<!--temp:copy prev format-remove once completed-->
		<% else %>
			<% if @examquestion.questiontype=="TRUEFALSE" && @examquestion.booleananswers[4]%>
				<%= select_tag "examquestion[booleananswers_attributes][4][answer]", "<option>Select</option>"+options_for_select(@boolean_answer,@examquestion.booleananswers[4].answer.to_s) %><%=@examquestion.booleananswers[4].answer.to_s%>
				<%#= text_field "examquestion[booleananswers_attributes][4]",:description, :size=>60, :value=>@examquestion.booleananswers[4].description  %> 	
			<% else %>
				<%= select_tag "examquestion[booleananswers_attributes][4][answer]", "<option>Select</option>"+options_for_select(@boolean_answer) %>
						<%#= text_field "examquestion[booleananswers_attributes][4]",:description, :size=>60 %> 	
			<% end %>
		<% end %>

	</td>
</tr>
</table>

<!--TRUE FALSE Question-start-BOOLEAN ANSWER PART-->
