<div class="fields">
	<%= f.text_area :sequence, :size => '3x1' %> &nbsp; &nbsp;
	<%= f.text_area :question, :placeholder => 'Question', :size => '60x1' %>
	<%= f.text_area :marks, :placeholder => 'Marks', :size => '8x1' %> &nbsp; &nbsp; <BR>
	<%= f.text_area :answer, :placeholder => 'Answer', :size => '79x3' %><%= f.hidden_field :_destroy %>
	<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>
<BR><BR>
</div>