<div class="fields">
	<%= f.text_area :sequence, :size => '3x1' %> &nbsp;   &nbsp;
	<%= f.text_area :question, :placeholder => (t 'examquestion.question'), :size => '60x1' %>
	<%= f.text_area :marks, :placeholder => (t 'examquestion.marks'), :size => '6x1' %>  &nbsp;   &nbsp; <BR>
	<%= f.text_area :answer, :placeholder => (t 'examquestion.answer'), :size => '79x3' %><%= f.hidden_field :_destroy %>
	<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => (t 'icms.remove')), f %>
	<BR><BR>
</div>