<HR>
<H2><%=t('examquestion.editing_details')%></H2>
	<table>
		<tr>
			<td class="leftcol"><label for="editor_id"><b><%=t('examquestion.editor_id')%>:</b></label></td>
			<td><%#=@examquestion.question_editor %><%= f.collection_select :editor_id, Staff.find(:all, :order => "staffgrade_id DESC", :conditions => ["id IN (?)", @examquestion.question_editor]), :id, :name, :include_blank => 'Please select editor', :selected => current_login.staff_id %></td>
		</tr>
	</table>

<table>
	<tr>
		<td class="leftcol"><%=t('examquestion.conformity')%></td>
		<td><%= f.check_box :conform_curriculum %> <%=t('examquestion.conform_curriculum')%></td>
		<td><%= f.check_box :conform_specification %> <%=t('examquestion.conform_specification')%></td>
		<td><%= f.check_box :conform_opportunity %> <%=t('examquestion.conform_opportunity')%></td>
	</tr>
	<tr>
		<td class="leftcol"><%=t('examquestion.accuracy')%></td>
		<td><%= f.check_box :accuracy_construct %> <%=t('examquestion.accuracy_construct')%> </td>
		<td><%= f.check_box :accuracy_topic %> <%=t('examquestion.accuracy_topic')%> </td>
		<td><%= f.check_box :accuracy_component %> <%=t('examquestion.accuracy_component')%> </td>
	</tr>
	<tr>
		<td class="leftcol"><%=t('examquestion.fit')%></td>
		<td><%= f.check_box :fit_difficulty %> <%=t('examquestion.fit_difficulty')%></td>
		<td><%= f.check_box :fit_important %> <%=t('examquestion.fit_important')%></td>
		<td><%= f.check_box :fit_fairness %> <%=t('examquestion.fit_fairness')%></td>
	</tr>
	
	<tr>
	 	<td class="leftcol"><label for="editdt"><b><%=t('examquestion.editdt')%>:</b></label></td>
		<td><%= f.date_select :editdt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
	</tr>
</table>
	
	


	

	

	
	
	
	
	
<!--   This stuff is for subs
	
	



<!-- 
<table>
	<tr>
		<td class="leftcol"></td>
		<td>
		<div>
			<#% f.fields_for :examsubquestions do |builder| %>
				<#%= render 'examsubquestion_fields', :f => builder %>
			<#% end %>
			<p><#%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :examsubquestions %> - Add More </p>
			</td>
		</div>
	</td>-->

<!--		
</table>
<HR>
<table width 100%>
	<tr>
		<td class="leftcol">MCQ Answers</td>
		<td>
	<div>
		<p><strong>
				<div style="width: 65px; float: left;">  Seq </div>
				<div style="width: 100px; float: left;">  Answer </div>
				</strong></p><BR>
		<#% f.fields_for :exammcqanswers do |builder| %>
			<#%= render 'exammcqanswer_fields', :f => builder %>
		<#% end %>
		<p><#%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :exammcqanswers %> - Add More </p>
	</div>
	</td><BR><BR></tr></table>
	
<HR>
<table>-->

<BR>

	