<HR>
<H2>Editor Details</H2>
	<table>
		<tr>
			<td class="leftcol"><label for="editor_id"><b>Editor:</b></label></td>
			<td><%= f.collection_select :editor_id, Staff.find(:all, :order => :name, :conditions => ["id IN (?)", @examquestion.question_editor]), :id, :name, :include_blank => true %></td>
		</tr>
	</table>

<table>
	<tr>
		<td class="leftcol">Conformity</td>
		<td><%= f.check_box :conform_curriculum %> Curriculum</td>
		<td><%= f.check_box :conform_specification %> Specification</td>
		<td><%= f.check_box :conform_opportunity %> Opportunity</td>
	</tr>
	<tr>
		<td class="leftcol">Accuracy</td>
		<td><%= f.check_box :accuracy_construct %> Construct</td>
		<td><%= f.check_box :accuracy_topic %> Topic</td>
		<td><%= f.check_box :accuracy_component %> Component</td>
	</tr>
	<tr>
		<td class="leftcol">Fit</td>
		<td><%= f.check_box :fit_difficulty %> Difficulty</td>
		<td><%= f.check_box :fit_important %> Importance</td>
		<td><%= f.check_box :fit_fairness %> Fairness</td>
	</tr>
	
	<tr>
	 	<td class="leftcol"><label for="editdt"><b>Editor Date:</b></label></td>
		<td><%= f.date_select :editdt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
	</tr>
</table>
	
	


	

	

	
	
	
	
	
<!--   This stuff is for subs
	
	



<!-- 
<table>
	<tr>
		<td class="leftcol"></td>
		<td>
		<div>
			<#% f.fields_for :examsubquestions do |builder| %>
				<#%= render 'examsubquestion_fields', :f => builder %>
			<#% end %>
			<p><#%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :examsubquestions %> - Add More </p>
			</td>
		</div>
	</td>-->

<!--		
</table>
<HR>
<table width 100%>
	<tr>
		<td class="leftcol">MCQ Answers</td>
		<td>
	<div>
		<p><strong>
				<div style="width: 65px; float: left;">  Seq </div>
				<div style="width: 100px; float: left;">  Answer </div>
				</strong></p><BR>
		<#% f.fields_for :exammcqanswers do |builder| %>
			<#%= render 'exammcqanswer_fields', :f => builder %>
		<#% end %>
		<p><#%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :exammcqanswers %> - Add More </p>
	</div>
	</td><BR><BR></tr></table>
	
<HR>
<table>-->

<BR>

	