<fieldset>
	<legend class="togvis"><%=t('examquestion.approval_details')%> : <%=h @examquestion.qstatus %> </legend>
	<table>
		<tr>
			<td class="leftcol"><label for="approver_id"><b><%=t('examquestion.approver_id')%>:</b></label></td>
			<td><%=h @examquestion.approver_details %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="approver_id"><b><%=t('examquestion.statusremark')%>:</b></label></td>
			<td><%=h @examquestion.statusremark %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="approvedt"><b><%=t('examquestion.approvedt')%>:</b></label></td>
			<td><% if ["Approved", "Reserve for BPL"].include? (@examquestion.qstatus) %>
						<%=h l(@examquestion.approvedt) unless @examquestion.approvedt.blank? %>
					<% end %></td>
		</tr>
	</table>
</fieldset>