<div class="fields">
	<%= f.text_field :item, :size => '3' %> &nbsp;   &nbsp;
	<%= f.text_field :subquestion, :placeholder => 'Subquestion', :size => '62' %>
	<%= f.text_field :submark, :placeholder => 'Marks', :size => '6' %>  &nbsp;   &nbsp; <BR>
	<%= f.text_area :subanswer, :placeholder => 'Answer', :size => '90x3' %><!--wysiwug - nic edit-->
	<%= f.text_field :keyword, :placeholder => 'Keyword' %>
	<%= f.hidden_field :_destroy %>
	<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>
	<BR><BR>
	<!--:id=> 'myNicEditor',-->	
</div>