<fieldset>
	<legend>Edit Details : <%=h @examquestion.qstatus %> </legend>
	<table>
		<tr>
			<td class="leftcol"><label for="editor_id"><b>Editor:</b></label></td>
			<td><%=h @examquestion.editor_details %></td>
		</tr>
		<tr>
			<td colspan=2 class="leftcol">Checklist :</td>
		<tr>
			<td colspan=2 align=right >
							<table id="subtable">
								<thead>
									<tr>
										<th colspan=3 align=center><b>Conformity</th>
										<th colspan=3 align=center><b>Acuracy</th>
										<th colspan=3 align=center><b>Fit</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td align=center style="font-size:80%">curriculum</td>
										<td align=center style="font-size:80%">specification</td>
										<td align=center style="font-size:80%">opportunity</td>
										<td align=center style="font-size:80%">construct</td>
										<td align=center style="font-size:80%">topic</td>
										<td align=center style="font-size:80%">component</td>
										<td align=center style="font-size:80%">difficulty</td>
										<td align=center style="font-size:80%">importance</td>
										<td align=center style="font-size:80%">Fairness</td>
									</tr>
									<tr>
										<td align=center><%=h @examquestion.conform_curriculum? ? image_tag("tick.png") : image_tag("cross.png") %> </td>
										<td align=center><%=h @examquestion.conform_specification? ? image_tag("tick.png") : image_tag("cross.png") %> </td>
										<td align=center><%=h @examquestion.conform_opportunity? ? image_tag("tick.png") : image_tag("cross.png") %> </td> 
										<td align=center><%=h @examquestion.accuracy_construct? ? image_tag("tick.png") : image_tag("cross.png") %> </td>
										<td align=center><%=h @examquestion.accuracy_topic? ? image_tag("tick.png") : image_tag("cross.png") %> </td>
										<td align=center><%=h @examquestion.accuracy_component? ? image_tag("tick.png") : image_tag("cross.png") %> </td>
										<td align=center><%=h @examquestion.fit_difficulty? ? image_tag("tick.png") : image_tag("cross.png") %> </td>
										<td align=center><%=h @examquestion.fit_important? ? image_tag("tick.png") : image_tag("cross.png") %> </td>
										<td align=center><%=h @examquestion.fit_fairness? ? image_tag("tick.png") : image_tag("cross.png") %> </td>
									</tr>
								</tbody>
							</table>
			</td>
		</tr>
		<tr>
		 <td class="leftcol"><label for="editdt"><b>Editor Date:</b></label></td>
			<td><%=h l(@examquestion.editdt) unless @examquestion.editdt.blank? %></td>
		</tr>
	</table>
</fieldset>