<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Lists of Examquestions</h2>
	</div>
	<div class="tlist">
	    <table width=90% border="0" cellpadding="0" cellspacing="0">
		  <tr>
    <th>Programme/Subject Code</th>
    <th>Question Type</th>
    <th>Marks</th>
    <th>Category</th>
    <th>Difficulty</th>
    <th>Status</th>
    <th>Creator Name</th>
    <th colspan=3 class="ac">Control</th>
  </tr>

<% @examquestions.each do |examquestion| -%>
  <tr>
	  <td><%=h examquestion.curriculum_id.blank? ? "" : examquestion.subject.subject_code_with_subject_name %></td>
	  <td><%=h examquestion.questiontype %></td>
	  <td><%=h examquestion.marks %></td>
	  <td><%=h examquestion.category %></td>
	  <td><%=h examquestion.render_difficulty %></td>
    <td><%=h examquestion.qstatus %></td>
    <td><%=h examquestion.creator_id.blank? ? "" : examquestion.creator.name %></td>
    <td width=5px><%= link_to 'Show', examquestion %></td>
    <td width=5px><%= link_to 'Edit', edit_examquestion_path(examquestion) %></td>
    <td><%= link_to 'Destroy', examquestion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end -%>
</table>

<br />

<%= link_to 'New ExamQuestion', new_examquestion_path %>