<!-- Box -->
<div class="box">
	<!-- Box Head -->
<div class="box-head">
	<% if params[:subject] %>
	<% if params[:subject] != '0'%>
	<h2 class="left">Exam Questions for <%= Subject.find(params[:subject]).name  %></h2>
		<% else %>
			<h2 class="left">All Subjects</h2>
		<% end %>
	<% else %>
		<h2 class="left">All Subjects</h2>
	<% end %>
	<div class="right">
	<% form_tag examquestions_path, :method => 'get' do %>
	<%= select_tag('subject', "<option value='0'>Select a Subject</option>" + options_from_collection_for_select(Subject.find(:all), :id, :name)) %>
	<%= submit_tag I18n.t('search'), :curriculum_id => nil %>
	<% end %>
	</div>
</div>
</div>
<div class="tlist">
	<table width=100% border="0" cellpadding="0" cellspacing="0">
		<tr>
	    <th>Question Type</th>
	    <th>Marks</th>
	   <!-- <th>Category</th>-->
	    <th>Difficulty</th>
	    <th>Status</th>
	    <th>Creator Name</th>
	    <th colspan=3 class="ac">Control</th>
		</tr>
			<% @subject_exams.each do |subject_details, examquestions| %>
			  <tr>
			    <td  colspan=12><b><%=h subject_details %></b></td>
			  <tr>
			<% for examquestion in examquestions %>
	
  	<tr>
		  <td><%=h (Examquestion::QTYPE.find_all{|disp, value| value == examquestion.questiontype}).map {|disp, value| disp} %></td>
		  <td><%=h examquestion.marks %></td>
		 <!-- <td><%=h examquestion.category %></td>-->
		  <td><%=h examquestion.render_difficulty %></td>
	    <td><%=h examquestion.qstatus %></td>
	    <td><%=h examquestion.creator_id? ? examquestion.creator_details : "" %></td>
	    <td width=10px><% if permitted_to? :show, examquestion %><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => examquestion %><%end%></td>
	    <td width=10px><% if permitted_to? :update, examquestion %><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => examquestion %><%end%></td>
	    <td width=10px><% if permitted_to? :destroy, examquestion %><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), examquestion, :confirm => 'Are you sure?', :method => :delete %><% end %></td>
	<% end %>
  	</tr>
		<% end -%>
	</table>

<br />

<% if permitted_to? :create, @examquestion%>
<%= link_to 'New ExamQuestion', new_examquestion_path %><%end%>

</div>