<!--13Apr2013-DEPT UNIT for current user-->
<% @anc_depth = current_user.staff.position.ancestry_depth %>

<!--27May2013-how to retrieve position for staff with multiple positions?-->
<% @multi_position = Position.find(:all, :conditions => ['staff_id=?',current_user.staff_id])%>
<% @ifmulti_position = @multi_position.count %>

<% if @anc_depth==2 %>
	<% @dept_unit = current_user.staff.position.unit %>
<% elsif @anc_depth < 2 %>
	<%# @position_count = Position.find(:all, :conditions=>['staff_id=?',current_user.staff]).count %>
	<%# if @position_count > 1 %>
	<% if @ifmulti_position > 1 %><!--DRY-27 May 2013-->
		<% @dept_unit = Position.find(:first,:conditions=>['staff_id=? and ancestry_depth=?', current_user.staff_id,2]).unit %>			
	<% end %>
	<!--26 May 2013-newly added for Mdm Yap Peck Seah-ancestry_depth-1(Ketua Unit penilaian & Kualiti)-->
	<% if @anc_depth==1 %>
		<% @dept_unit = Position.find(:first,:conditions=>['staff_id=?', current_user.staff_id]).unit %>
	<% end %>
	<!--26 May 2013-newly added for Mdm Yap Peck Seah-ancestry_depth-1(Ketua Unit penilaian & Kualiti)-->
<% elsif @anc_depth > 2 %>
	<!--27 May 2013-START-added for mohd firdaus fikri(radiografi)-MULTIPLE positions-->
	<% if @ifmulti_position > 1 %>
		<% @multi_position.each do |x|%>
			<% if x.parent.id > 6 && x.parent.id < 17 %>
				<!--hoho<%#= @dept_unit = x.parent.unit %>--><% @dept_unit = x.parent.unit %>
			<% end %>	
		<% end %>
	<% else %>
		<% @dept_unit = current_user.staff.position.ancestors.at_depth(2)[0].unit %>
		<!--30Mei2013-->
		<% if @dept_unit == "Pos Basik" && @anc_depth == 3 %><!--@anc_depth==3-->
			<% @dept_unit = current_user.staff.position.unit %>
		<% end %>
		<!--30Mei2013-->
	<% end %>
	<!--27 May 2013-START-added for mohd firdaus fikri(radiografi)-MULTIPLE positions-->
<% end %>

<% current_user_roles=[]%>
<% User.current_user.roles.each do |role|%>
	<% current_user_roles<<role.id%>
<% end %>
<%#= current_user_roles.include?(2)%>
<!--13/20Apr2013-DEPT UNIT for current user-->
<% if current_user_roles.include?(2) %><!--if administrator-->
	<% if @dept_unit != nil %><!--must also have dept unit(from ancestor-at_depth:2), or NO programme will be pre-selected-->
		<!--26 May 2013-HAVE TO MAKE SURE : position of current logged-in staff is between 7-16 OR line 29 & 30 will FAILED & ERROR-->
		<% if current_user.staff.position.id > 6 && current_user.staff.position.id < 17 %>
			<% @preselect_prog = Programme.find(:first, :conditions=>['name=?',@dept_unit]).id %>
			<% @subjectlist_preselec_prog = Programme.find(@preselect_prog).descendants.at_depth(2) %>
		<% end %>
	<% else %>
		<!--have to assign values for SUBJECT search form for ADMIN-->
		<% @subjectlist_preselec_prog = Programme.at_depth(2) %>
	<% end %>
<% else %>
	<% if @anc_depth==1 %>
	<!--26 May 2013-newly added for Mdm Yap Peck Seah-ancestry_depth-1(Ketua Unit penilaian & Kualiti)-->
		<% @kupk = "yes" %>
	<!--26 May 2013-newly added for Mdm Yap Peck Seah-ancestry_depth-1(Ketua Unit penilaian & Kualiti)-->
	<% else %><%#=@dept_unit%><%#=@anc_depth%>
		<% @preselect_prog = Programme.find(:first, :conditions=>['name=?',@dept_unit]).id %>
		<% @subjectlist_preselec_prog = (Programme.find(@preselect_prog).descendants.at_depth(2)).sort_by{|y|y.code} %>
	<% end %>
<% end %>


<!--<%#=@examquestions.count %>~~<%#= @aaaaa%>-->

<div class="box">
	<div class="box-head">
		<h2 class="left">Lists of Exam Questions</h2>
	</div>
</div>
<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => 'New Exam Question') + "New", new_examquestion_path %></p>
</div>
<div class="right">
	<% form_tag examquestions_path, :method => 'get' do %>
	  		<%#= text_field_tag :search, params[:search], :placeholder => "RefNo, Title" %>
			<%#= select_tag('subjectselect', '<option value=0>All subject</option>'+options_from_collection_for_select(@subjectlist_preselec_prog, :id, :subject_list)) %>
	  		<%#= submit_tag "Search", :title => nil, :name => :submit_button1  %>
	<% end %>
</div>
<br>
<!--
<div width=80% style="text-align:right;">
	<%# form_tag '', :method => 'get' do %>
		<%#= text_field_tag(:programme_search, params[:programme_search], :size=>14, :placeholder=> "..starting with") %>
		<%#= select_tag(:programme_search, options_from_collection_for_select(@programmes, :id, :programme_list)) %>
		<%#= submit_tag "List by Programme", :name => :list_submit_button %>
	<%# end %>
</div>--><br>
<div class="indextable">	
	<table>
		<tr>
	    <th>Question</th>
		<th width=4px style="text-align:center;">Answer</th>
	    <th>Marks</th>
	    <th>Category</th>
	    <th>Difficulty</th>
	    <th>Status</th>
	    <th>Created By</th>
		<th width=30px>Usage Frequency</th>
	    <th colspan=3 class="ac">Control</th>
		</tr>

		
		<% @subject_exams.sort.each do |subject_details, examquestions| %>
		
		  <% if (@dept_unit== examquestions[0].subject.root.name)||(current_user_roles.include?(2)||@kupk == "yes") %><!--STAND BY:HIDE THIS LINE & LINE 161-163 to view ALL EXAMQUESTIONS-->
		<!--hide this line to view all questions available-->

			<tr><td colspan=11 style="background-color:#EFF1F1;">
				<!--display programme if logged-in user is administrator or Ketua Unit Penilaian & Kualiti-->
				<% if (current_user_roles.include?(2)) ||@kupk == "yes" %>
					<b>Programme : <%=examquestions[0].subject.root.name%></b><br>
				<% end %>
				<b>Subject : <%=subject_details%></b>
			</td></tr>
			
			<% @groupbytopic=examquestions.group_by{|x|x.topic_id} %>
			<% @groupbytopic.sort.each do |topic, allquestions| %>
				<tr>
					<td colspan=6 style="color:blue; font-weight:bold;background-color:#ECFBFC;">
						Topic : <%=Programme.find(topic).code%> <%=Programme.find(topic).name%>
					</td>
					<td style="text-align:right;color:blue;background-color:#ECFBFC;">
						<font size=-2>(<%=Programme.find(topic).parent.code%>|<%=topic%>|)
					</td>
					<td colspan=4 style="text-align:right;color:blue;background-color:#ECFBFC;">
						Total questions : <%=allquestions.count%>
					</td>
				</tr>
				
				<% questions=allquestions.group_by{|t|t.questiontype}%>
				<% questions.each do |questiontype,questionbytype| %>
					
					<tr>
						<td colspan=6 style="padding-left:25px;text-decoration:underline;font-weight:bold;">
							Question Type : <%=questiontype%>
						</td>
						<td colspan=7 style="text-align:right;">
							Total questions : <%=questionbytype.count%>/<%=allquestions.count%>
						</td>
					</tr>
					<% questionbytype.each_with_index do |question,no|%>
					
					<!--START-view examquestion according to logged-in person-->
					<%# if question.creator_id == current_user.staff_id %>
					<tr>
						<td style="padding-left:25px;"><%=no+1%>) <%=question.question%></td>
						<td style="text-align:center;"><%=h question.answer %>
							<% if question.questiontype=="TRUEFALSE"%>
								<% question.booleananswers.each do |i|%>
									<%= "T" if i.answer == TRUE %>
									<%= "F" if i.answer == FALSE %>
								<% end %>
							<% end %>
						</td>
						<td><%=h question.marks %></td>
					  	<td><%=h question.category %></td>
					  	<td><%=h question.render_difficulty %></td>
						<td><%=h question.qstatus %></td>
					    <td><%=h question.creator_id? ? question.creator_details : "" %></td>
						<td style="text-align:center;"><%=h question.usage_frequency %></td>
						<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => question %></td>
					<% permitted_to? :manage, :assets do %>
				    	<td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => question %></td>
				    	<td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), question, :confirm => 'Are you sure?', :method => :delete %></td>
					<% end %>
					</tr>
					<%# end %>
					<!--END-view examquestion according to logged-in person-->
					
					<% end %>
				<% end %>
					
			<% end %>

			<!--hide this line to view all questions available-refer line 93-94-->
			<% end %> 
			<!--hide this line to view all questions available-refer line 93-94-->

		<% end %>
		
<!--PREVIOUS FORMAT-before UAT 19Apr2013-->	
		<%# @subject_exams.sort.each do |subject_details, examquestions| %>

<%# if (@dept_unit== examquestions[0].subject.root.name)||(current_user_roles.include?(2)) %><!--STAND BY:HIDE THIS LINE & LINE 86 to view ALL EXAMQUESTIONS-->
<!--hide this line to view all questions available-->
<!--
		<tr>
	    	<td colspan=10 style="background-color:#EFF1F1;">
				<b>--><!--Programme/Subject Code : --><!--<%#=examquestions[0].subject.root.programme_list %> / <%#=h subject_details %></b>
			</td>
	  	<tr>	
		<%# for examquestion in examquestions %>
  		<tr>
		  	<td><%#=h examquestion.questiontype %></td>
		  	<td><%#=h examquestion.marks %></td>
		  	<td><%#=h examquestion.category %></td>
		  	<td><%#=h examquestion.render_difficulty %></td>
	    	<td><%#=h examquestion.qstatus %></td>
	    	<td><%#=h examquestion.creator_id? ? examquestion.creator_details : "" %></td>
			<td><%#=h examquestion.usage_frequency %></td>
	    	<td width=10px><%#= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => examquestion %></td>
	    	<td width=10px><%#= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => examquestion %></td>
	    	<td width=10px><%#= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), examquestion, :confirm => 'Are you sure?', :method => :delete %></td>
  		</tr>
		<tr>
			<td></td>
			<td colspan=5><%#= examquestion.question %></td>
			<td colspan=4></td>				
		</tr>-->
		<%# end -%>
<!--hide this line to view all questions available-->
<%# end %> 
<!--hide this line to view all questions available-->	
	<%# end -%>
<!--PREVIOUS FORMAT-before UAT 19Apr2013-->	
	
	
	</table>

<br />

<%= link_to 'New Exam Question', new_examquestion_path %>

</div>