<div class="box">
	<div class="box-head">
		<h2 class="left">Lists of Exam Questions</h2>
	</div>
</div>
<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => 'New Exam Question') + "New", new_examquestion_path %></p>
</div>
<div class="indextable">
	<table>
		<tr>
	    <th>Question Type</th>
	    <th>Marks</th>
	    <th>Category</th>
	    <th>Difficulty</th>
	    <th>Status</th>
	    <th>Created By</th>
	    <th colspan=3 class="ac">Control</th>
		</tr>
		<% @subject_exams.sort.each do |subject_details, examquestions| %>
		<tr>
	    <td  colspan=9><b>Programme/Subject Code : <%=h subject_details %></b></td>
	  <tr>
		
		<!--<#% @examquestions.each do |examquestion| -%>-->
		<% for examquestion in examquestions %>
  	<tr>
		  <td><%=h examquestion.questiontype %></td>
		  <td><%=h examquestion.marks %></td>
		  <td><%=h examquestion.category %></td>
		  <td><%=h examquestion.render_difficulty %></td>
	    <td><%=h examquestion.qstatus %></td>
	    <td><%=h examquestion.creator_id? ? examquestion.creator_details : "" %></td>
	    <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => examquestion %></td>
	    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => examquestion %></td>
	    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), examquestion, :confirm => 'Are you sure?', :method => :delete %></td>
  	</tr>
		<tr>
			<td></td>
			<td colspan=5><%= examquestion.question %><BR></td>
			<td colspan=4></td>
				
		</tr>
		<% end -%><% end -%>
	</table>

<br />

<%= link_to 'New ExamQuestion', new_examquestion_path %>

</div>