<h3>New Exam Question</h3>

<% form_for(@examquestion, :html => { :multipart => true}) do |f| %>
  <%= f.error_messages %>

	<div class="tform">
	<%=render :partial => 'form_question', :locals => {:f => f} %> 
	<%=render :partial => 'status', :locals => {:f => f} unless @examquestion.qstatus == "Approved"%>
	</div>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

</div>

<%= link_to 'Back', examquestions_path %>