<div class="showform">
  <%=render :partial => 'show_question' %>
	
	<% if ["Submit", "Editing", "Ready For Approval", "Re-Edit", "For Approval", "Reserve for BPL" ].include? (@examquestion.qstatus) %>
  	<%=render :partial => 'show_checklist' %>
  <% end %>


	<% if ["Ready For Approval", "Re-Edit", "For Approval", "Approved", "Reserve for BPL"].include? (@examquestion.qstatus) %>
		<%=render :partial => 'show_approval' %>
	<% end %>
	
	
	<% if ["Approved", "Reserve for BPL"].include? (@examquestion.qstatus) %>
  <fieldset>
		<legend>BPL Details : <%=h @examquestion.qstatus %> </legend>
		<table>
			<tr>
				<td class="leftcol"><label for="bplreserve"><b>Reserve for BPL</b></label></td>
		    <td><%=h @examquestion.bplreserve? ? image_tag("tick.png") : image_tag("cross.png") %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="bplsent"><b>Sent to BPL</b></label></td>
		    <td><%=h @examquestion.bplsent? ? image_tag("tick.png") : image_tag("cross.png") %></td>
			</tr>

			<tr>
			 	<td class="leftcol"><label for="bplsentdt"><b>Date Sent:</b></label></td>
				<td><%=h @examquestion.bplsent? ? @examquestion.bplsentdt : "" %></td>
			</tr>
		</table>
	</fieldset>
	<% end %>
	<!--

		<tr>
			<td></td>
			<td>
			<#% for exammcqanswer in @examquestion.exammcqanswers %>
					<#%=h exammcqanswer.sequence %>  &nbsp &nbsp  -  &nbsp &nbsp <#%=h exammcqanswer.answer %><BR>
			<#% end %></td>		
		</tr>
		-->
	
<!--Usage Frequency-->

	<% if @examquestion.usage_frequency > 0 %>
	<fieldset>
		<legend>Usage Frequency</legend>
			<table>
			<% count=1%>
				 <% @q_frequency[0].exams.each do |paper| %>
					<tr>
						<td class="leftcol"><%=count%>) <%=paper.exam_on.strftime("%d %b %Y")%></td>
						<td>
							<%=paper.name%>
							<%#=paper.id%> - 
							<%=paper.subject.subject_list%>
						</td>
					</tr>
					<% count+=1%>
				<% end %>
			</table>
	</fieldset>
	<% end %>
	
	
<!--Usage Frequency-->
	
	
	

	

	


	

	

</table>
<BR>
</div>	
<%unless @examquestion.qstatus=="Rejected"%>
<%= link_to 'Edit', edit_examquestion_path(@examquestion) %> |
<% end %>
<%= link_to 'Back', examquestions_path %>