<div class="tform">
  <table width=100% >
	
	
<!--Personal Info-->
	<tr>
		<th colspan = 2>Exam Question Details</th>
	</tr>
	<tr>
		<td class="leftcol"><label for="curriculum_id"><b>Programme/Subject Code:</b></label></td>
		 <td><%=h @examquestion.curriculum_id? ? @examquestion.subject_details : "" %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="questiontype"><b>Question Type:</b></label></td>
		<td><%=h @examquestion.questiontype %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="question"><b>Question:</b></label></td>
		<td><%=h @examquestion.question %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="answer"><b>Answer:</b></label></td>
		<td><%=h @examquestion.answer %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="marks"><b>Marks:</b></label></td>
		<td><%=h @examquestion.marks %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="category"><b>Category:</b></label></td>
		<td><%=h @examquestion.category %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="qkeyword"><b>Keywords:</b></label></td>
		<td><%=h @examquestion.qkeyword %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="qstatus"><b>Status:</b></label></td>
		<td><%=h @examquestion.qstatus %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="creator_id"><b>Creator:</b></label></td>
		<td><%=h @examquestion.creator_id? ? "" : @examquestion.creator_details %></td>
		
	</tr>
	
	<tr>
	 <td class="leftcol"><label for="createdt"><b>Creator Date:</b></label></td>
		<td><%=h @examquestion.createdt %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="status"><b>Status:</b></label></td>
		<td><%=h @examquestion.status %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="statusremark"><b>Remarks:</b></label></td>
		<td><%=h @examquestion.statusremark %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="editor_id"><b>Editor:</b></label></td>
		<td><%=h @examquestion.editor_id? ? "" : @examquestion.editor_details %></td>
	</tr>
	
	<tr>
	 <td class="leftcol"><label for="editdt"><b>Editor Date:</b></label></td>
		<td><%=h @examquestion.editdt %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="approver_id"><b>Approver:</b></label></td>
			<td><%=h @examquestion.approver_id? ? @examquestion.approver_details : "" %></td>
	</tr>
	
	<tr>
	 <td class="leftcol"><label for="approvedt"><b>Approver Date:</b></label></td>
		<td><%=h @examquestion.approvedt %></td>
	</tr>
	
		<tr>
		<td class="leftcol"><label for="bplreserve"><b>Reserve for BPL</b></label></td>
	      <td><%=h @examquestion.bplreserve %></td>
		</tr>
		
		<tr>
		<td class="leftcol"><label for="bplsent"><b>Sent to BPL</b></label></td>
	      <td><%=h @examquestion.bplsent %></td>
		</tr>
		
		<tr>
		 <td class="leftcol"><label for="bplsentdt"><b>Date Sent:</b></label></td>
			<td><%=h @examquestion.bplsentdt %></td>
		</tr>
</table>
<BR>
</div>	

<%= link_to 'Edit', edit_examquestion_path(@examquestion) %> |
<%= link_to 'Back', examquestions_path %>