<div class="showform">
  <%=render :partial => 'show_question' %>
	
	<% if ["Submit", "Editing", "Ready For Approval", "Re-Edit", "For Approval", "Reserve for BPL" ].include? (@examquestion.qstatus) %>
  	<%=render :partial => 'show_checklist' %>
  <% end %>


	<% if ["Ready For Approval", "Re-Edit", "For Approval", "Approved", "Reserve for BPL"].include? (@examquestion.qstatus) %>
		<%=render :partial => 'show_approval' %>
	<% end %>
	
	
	<% if ["Approved", "Reserve for BPL"].include? (@examquestion.qstatus) %>
  <fieldset>
		<legend>BPL Details : <%=h @examquestion.qstatus %> </legend>
		<table>
			<tr>
				<td class="leftcol"><label for="bplreserve"><b>Reserve for BPL</b></label></td>
		    <td><%=h @examquestion.bplreserve? ? image_tag("tick.png") : image_tag("cross.png") %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="bplsent"><b>Sent to BPL</b></label></td>
		    <td><%=h @examquestion.bplsent? ? image_tag("tick.png") : image_tag("cross.png") %></td>
			</tr>

			<tr>
			 	<td class="leftcol"><label for="bplsentdt"><b>Date Sent:</b></label></td>
				<td><%=h @examquestion.bplsent? ? @examquestion.bplsentdt : "" %></td>
			</tr>
		</table>
	</fieldset>
	<% end %>
	<!--

		<tr>
			<td></td>
			<td>
			<#% for exammcqanswer in @examquestion.exammcqanswers %>
					<#%=h exammcqanswer.sequence %>  &nbsp &nbsp  -  &nbsp &nbsp <#%=h exammcqanswer.answer %><BR>
			<#% end %></td>		
		</tr>
		-->
	

	
	
	

	

	


	

	

</table>
<BR>
</div>	

<%= link_to 'Edit', edit_examquestion_path(@examquestion) %> |
<%= link_to 'Back', examquestions_path %>