<div class="tform">
	<H2><%=t('equery.exam.search')%></H2>

<% form_for @examsearch do |f| %>
  	<%= f.error_messages %>
	<table width=100% >
		<% if @searchexamtype=='1' || @searchexamtype==1 %>
			<%= hidden_field_tag :method,  1 %><%=f.hidden_field :valid_papertype, :value => 1%>
			<%=f.hidden_field :valid_subject_lecturer, :value => 1%>
			<tr><td colspan=2><%=t('equery.exam.search_by')%> :</td></tr>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<label><%=t('equery.exam.programme_id')%></label></td>
				<td><%#= f.collection_select :programme_id, @programme_list_rev, :id, :programme_list, :include_blank=> (t 'select') %>
					<!---->
					<%= f.collection_select :programme_id, @programme_list_rev, :id, :programme_list , {:include_blank => (t 'select')},
					:onchange => remote_function(:update => form_tag_id(f.object_name, :subject_list), 
					:url => {:action => 'view_subject'}, 
					:with => "'programmeid='+$('"+form_tag_id(f.object_name, :programme_id)+"').value ") %>
					<!---->
				</td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<label><%=t('equery.exam.subject_id')%></label></td>
				<td>
					<%= tag("div", :id => form_tag_id(f.object_name, :subject_list)) %>
						<%#= f.collection_select :subject_id, @subject_list, :id, :subject_list, :include_blank=> (t 'select') %>
						<%= f.collection_select :subject_id, @subject_list, :id, :subject_list, {:include_blank => (t 'select')},
						:onchange => remote_function(:update => form_tag_id(f.object_name, :lecturer_list), 
						:url => {:action => 'view_lecturer'}, 
						:with => "'subjectid='+$('"+form_tag_id(f.object_name, :subject_id)+"').value ") %>
					</div>
				</td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<label><%=t('equery.exam.prepared_by')%></label></td>
				<td>
					<%= tag("div", :id => form_tag_id(f.object_name, :lecturer_list)) %>
						<%#= f.collection_select :created_by, Staff.find(:all, :conditions =>['id IN (?)', @lecturer_w_exam]).sort_by{|x|x.name}, :id, :name, :include_blank=> (t 'select') %>
						<%= f.collection_select :created_by, Staff.find(:all, :conditions =>['id IN (?)', @lecturer_w_exam]).sort_by{|x|x.name}, :id, :name, {:include_blank => (t 'select')},
						:onchange => remote_function(:update => form_tag_id(f.object_name, :examtype_list), 
						:url => {:action => 'view_examtype'}, 
						:with => "'createdby='+$('"+form_tag_id(f.object_name, :created_by)+"').value ") %>
					</div>
				</td>	
			</tr>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<label><%=t('equery.exam.examtype')%></label></td>
				<td>
					<%= tag("div", :id => form_tag_id(f.object_name, :examtype_list)) %>
						<%= f.select :examtype, @examtype_array, {:include_blank => (t 'select')},
						:onchange => remote_function(:update => form_tag_id(f.object_name, :papertype_list), 
						:url => {:action => 'view_papertype'}, 
						:with => "'examtype2='+$('"+form_tag_id(f.object_name, :examtype)+"').value ") %>
					</div>
				</td>	
			</tr>

			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<label><%=t('equery.exam.klass_id')%></label></td>
				<td>
					<%= tag("div", :id => form_tag_id(f.object_name, :papertype_list)) %>
						<%= f.select :klass_id, @papertype_array, :include_blank=>(t 'select')%>
					</div>
				</td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<label><%=t('equery.exam.examdate')%></label></td>
				<td><%= f.date_select :examdate, :include_blank=>(t 'select')%></td>	
			</tr>
		<% end %>
	</table>
  
  <p><%= f.submit t('search') %>&nbsp;<font size=-2><%=t('equery.leaves_blank_unselected')%></font></p>
<% end %>

</div>


