<script type="text/javascript">
//<![CDATA[
bkLib.onDomLoaded(function() {
    nicEditors.editors.push(
        new nicEditor().panelInstance(
            document.getElementById('myNicEditor')
        )
    );
});
//]]>
</script>

<div class="tform">
<H2><%= t 'pages.page_details' %></H2>
<table width=100%>
 
	<tr>
		<td class="leftcol"><label for="name"><%= t 'name' %> :</label></td>
	    <td><%= f.text_field :name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="title"><%= t 'pages.title' %> :</label></td>
	    <td><%= f.text_field :title %></td>
	</tr>
	<tr><td class="leftcol">
			<label for="title"><%=t 'photo.available_images'%> :
			<br><%=link_to (t 'photo.list'), photos_path %>
			</label>
		</td>
		<td>
			<% @photos=Photo.find(:all, :conditions => ['diagram_file_name is not null'], :order => "created_at DESC")%>
			<table>
			<% count=0 %><% photo_count=0 %>
			<% @photos.in_groups_of(9, false) do |photos| %>
				<% if count==0 %>
				<tr id="latest" style="display: block;">
				<% for photo in photos %>
					<%url= photo.diagram.url.split("?")[0]%>
					<td><%= image_tag photo.diagram.url,  :size => '50x50' %><%photo_count+=1%>
					<br><%#= "http://localhost:3000"+url%> 
					<a href="http://<%= request.host%>:3000<%=url%>"><%=truncate(photo.caption, 10)%></a></td>
				<% end %>
				<td style="vertical-align: bottom;"><% if @photos.count > photo_count %><%= link_to (t 'photo.more_images'), "#", :id => "linkme" %><% end %></td>
				<tr>
				<% count+=1 %><% else %>
				<tr id="remaining" style="display: none;">
				<% for photo in photos %>
					<%url= photo.diagram.url.split("?")[0]%>
					<td><%= image_tag photo.diagram.url,  :size => '50x50' %>
					<br><%#= "http://localhost:3000"+url%> 
					<a href="http://<%= request.host%>:3000<%=url%>"><%=truncate(photo.caption, 10)%></a></td>
				<% end %><td>&nbsp;</td>
				<% end %>
				<tr>
			<% end%>
			</table>
		</td>
	</tr>
	<tr>
		<td class="leftcol"><label for="body"><%= t 'pages.body' %> :</label></td>
	    <td><%= f.text_area :body, :size => '100x40', :id => 'myNicEditor' %></td>
	</tr>
	<!--hide this part for libriarian:17May2013--><%#=Login.current_login.roles.include?(5) %>
	<% Login.current_login.roles.each do |role| %>
		<% @lib=true if role.id==5 %>
		<% @admin = true if role.id==2%>
		<%#= role.id%>
	<% end %>
	<%# if @lib!=true && @admin==true %>
	<% if @admin==true %>
	<tr>
		<td class="leftcol"><label for="admin"><%= t 'pages.admin' %> :</label></td>
	    <td><%= f.check_box :admin %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="parent"><%= t 'pages.parent' %> :</label></td>
	    <td><%= f.collection_select :parent_id, Page.find(:all), :id, :page_description, :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="position"><%= t 'pages.position' %> :</label></td>
	    <td><%= f.text_field :position, :size => '3' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="navlabel"><%= t 'pages.nav_label' %> :</label></td>
	    <td><%= f.text_field :navlabel %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="redirect"><%= t 'pages.redirect' %> :</label></td>
	    <td><%= f.check_box :redirect %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="action"><%= t 'action' %> :</label></td>
	    <td><%= f.text_field :action_name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="controller"><%= t 'pages.controller' %> :</label></td>
	    <td><%= f.text_field :controller_name %></td>
	</tr>
	<% end %>
	<!--hide this part for libriarian:17May2013-->
	
</table>
</div>	

<script type="text/javascript">
	$j(document).ready(function(){
		$j("#linkme").click(function() {  
			$j("#remaining").toggle("highlight"); 
		});
	});
</script>
	




