<script type="text/javascript">
//<![CDATA[
bkLib.onDomLoaded(function() {
    nicEditors.editors.push(
        new nicEditor().panelInstance(
            document.getElementById('myNicEditor')
        )
    );
});
//]]>
</script>

<div class="tform">
<H2>Page Details</H2>
<table width=100%>
 
	<tr>
		<td class="leftcol"><label for="name">Name :</label></td>
	    <td><%= f.text_field :name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="title">Title :</label></td>
	    <td><%= f.text_field :title %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="body">Body :</label></td>
	    <td><%= f.text_area :body, :size => '100x40', :id => 'myNicEditor' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="admin">Admin :</label></td>
	    <td><%= f.check_box :admin %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="parent">Parent :</label></td>
	    <td><%= f.collection_select :parent_id, Page.find(:all), :id, :page_description, :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="position">Position :</label></td>
	    <td><%= f.text_field :position, :size => '3' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="navlabel">Nav Label :</label></td>
	    <td><%= f.text_field :navlabel %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="redirect">Redirect :</label></td>
	    <td><%= f.check_box :redirect %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="action">Action :</label></td>
	    <td><%= f.text_field :action_name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="controller">Controller :</label></td>
	    <td><%= f.text_field :controller_name %></td>
	</tr>
	
</table>
</div>	
	




