<h3>Editing Page</h3>

<%= error_messages_for :page %>

<% form_for(@page) do |f| %>
  
<%= render :partial => 'form', :locals => {:f => f} %>
 
<p>
    <%= f.submit "Update" %>
  </p>
<% end %>
<% User.current_user.roles.each do |role| %>
	<% @lib=true if role.id==5 %>
	<% @admin=true if role.id == 2%>
<% end %>
<%= link_to 'Show', @page %> |
<% if @admin==true %>
	<%= link_to 'Back', pages_path %>
<% else %>
	<% if @lib==true%>
		<%#= link_to 'Back', librarytransactions_path %>
		<%= link_to 'Back',    '/rules' %>
	<% end %>
<% end %>