<h3><%= t 'pages.edit' %></h3>

<%= error_messages_for :page %>

<% form_for(@page) do |f| %>
  
<%= render :partial => 'form', :locals => {:f => f} %>
 
<p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>
<% Login.current_login.roles.each do |role| %>
	<% @lib=true if role.id==5 %>
	<% @admin=true if role.id == 2%>
<% end %>
<%= link_to (t 'show'), @page %> |
<% if @admin==true %>
	<%= link_to (t 'back'), pages_path %>
<% else %>
	<% if @lib==true%>
		<%#= link_to (t 'back'), librarytransactions_path %>
		<%= link_to (t 'back'),    '/rules' %>
	<% end %>
<% end %>