<div class="tform">
	<H2>Pages Details</H2>
<table width=100% >

	<tr>
		<td class="leftcol"><label for="name">Name : </label></td>
		<td><%=h @page.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="title">Title : </label></td>
		<td><%=h @page.title %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="body">Body : </label></td>
		<td><%=h @page.body %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="admin">Admin : </label></td>
		<td><%= @page.admin? ? "TRUE" : "FALSE" %></td>
	</tr>
		
</table>
</div>
<BR>
<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>