<div class="tform">
	<H2>Page Details</H2>
<table id="form" width=80%>
	
	<tr>
		<td class="leftcol"><label for="message">Name:</label></td>
		<td> <%=h @page.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="message">Title:</label></td>
		<td><%=h @page.title %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="message">Body:</label></td>
		<td><%=h @page.body %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="message">Admin:</label></td>
		<td>	<%= @page.admin? ? "TRUE" : "FALSE" %></td>
	</tr>
</table>
</div>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>