<!--<script type="text/javascript">
  function switchvisibility(forward) {
    if (document.getElementById(forward).checked) {
      document.getElementById('fwdto').style.display = "inline";
    } else {
      document.getElementById('fwdto').style.display = "none";
    }
  }
</script>-->

<div class="tform">
	<H2><%=t('document.circulation1_action')%></H2>
	<table width=100%><%=f.hidden_field :action_type, :value=>"action1"%>
		<% f.fields_for :circulations do |builder| %>
			<% if builder.object.staff_id == Login.current_login.staff_id %>
			<tr>
				<td class="leftcol"><label for="action_closed"><%=t('document.cc1action')%>:</label></td>
				<td><%=builder.text_field :action_taken %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="action_remarks"><%=t('document.cc1remarks')%>:</label></td>
				<td><%=builder.text_area :action_remarks, :size => '40x3'%></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="data"><%=t('document.current_attachment_action')%>:</label></td>
				<td>
				<% if builder.object.action.exists? then %>
					<%= builder.object.action_file_name %> &nbsp;&nbsp;&nbsp;
					<%= link_to (t 'document.download'), builder.object.action.url %> ||
					<%= link_to "ALT", builder.object.action.url %><br><%=(t 'or').downcase%>
				<% else %>
					<%=t('document.no_attachment')%>
				<% end %>
				<%=t('document.upload_file')%> : <%=builder.file_field :action %>
				</td>
				
			</tr>
			<tr>
				<td class="leftcol"><label for="action_date"><%=t('document.cc1actiondate')%>:</label></td>
				<td>
					<%= builder.date_select :action_date, :start_year => Date.today.year, :end_year => 2020, :order => [:day, :month, :year] %>
					<!--&nbsp;&nbsp;<%#= l(Date.today) %><%#= f.hidden_field :cc1actiondate, :value => Time.now %>-->
				</td>
			</tr>
			<tr>
				<td class="leftcol"><label for="closed"><%=t('document.cc1closed')%>:</label></td>
				<td><%=builder.check_box :action_closed %></td>
			</tr>
			<% end %>
		<% end%>
		<%#= f.text_area :cc1remarks, :size => '40x3' %>
		<!--5Apr2013-->
		<!--Hide - 24Jan2015
		<tr>
			<td class="leftcol"><label for="data">Current Attachment (For action taken):</label></td>
			<td><%# if @document.dataaction.exists? then %>
			    	<%#= @document.dataaction_file_name %> &nbsp;&nbsp;&nbsp;
			    	<%#= link_to (t 'document.download'), @document.dataaction.url %> ||
			     	<%#= link_to "ALT", @document.dataaction.url %>
				<%#else %>
				    No Attachment yet
				<%# end %>
			</td>
		</tr>
		<tr>
			<td class="leftcol"><label for="data">Upload/Change File:</label></td>
			<td><%#= f.file_field :dataaction %></td>
		</tr>-->
		<!--5Apr2013--><!--
		<tr>
			<td class="leftcol"><label for="closed"><%=t('document.cc1closed')%>--><!--or Forward?--><!--:</label></td>
			<td><%#=f.check_box :cc1closed %>-->
				 <!--<%#= f.radio_button :cc1closed,'true' %>Close-->
				 <!--Hide - 24Jan2015
					<%#= f.radio_button :cc1closed,'true', :id => "forward", :onchange => "switchvisibility('forward')" %>Return to document admin &nbsp;
					<SPAN id="fwdto" style="display: none;">
						<%#= f.collection_select :cc2staff_id, Staff.find(:all, :conditions=> ['id=?',@document.stafffiled_id]), :id, :name %>
						<%#= f.collection_select :cc2staff_id, Staff.find(:all, :order => :name), :id, :name, :prompt => 'Select Person For Action'  %>
					</SPAN>
				Hide - 24Jan2015 --><!--
			</td>
		</tr>--><!--
		<tr>
			<td class="leftcol"><label for="actiondate"><%=t('document.cc1actiondate')%>:</label></td>
			<td>
				<%#= f.date_select :cc1actiondate, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %>-->
				<!--&nbsp;&nbsp;<%#= l(Date.today) %><%#= f.hidden_field :cc1actiondate, :value => Time.now %>--><!--
			</td>
		</tr>-->	
	</table>
	
</div>
