<div class="tform">
	<H2>Circulation 2 </H2>
<!--	<table width=100%>
		<tr>
			<td class="leftcol"><label for="closed">Forward To You By</label></td>
			<td width=3%><b>:</b></td>
			<td><#%=h @document.circulation1_details %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="closed">Action</label></td>
			<td width=3%><b>:</b></td>
			<td><#%=h @document.cc1action %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="closed">Remarks</label></td>
			<td width=3%><b>:</b></td>
			<td><#%=h @document.cc1remarks %></td>
		</tr>
	</table>-->
	

	<table  width=100%>
		<tr>
			<td class="leftcol"><label for="closed">Feedback:</label></td>
			<td width=3%><b>:</b></td>
			<td><%= f.text_area :cc2action, :size => '40x2' %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="closed">Remarks:</label></td>
			<td><b>:</b></td>
			<td><%= f.text_area :cc2remarks, :size => '40x3' %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="closed">Close?:</label></td>
			<td><b>:</b></td>
			<td><%= f.check_box :cc2closed %>Closed
		</tr>
		<%= f.hidden_field :cc1date, :value => Time.now %>
			<%= f.hidden_field :cc1action, :value => @document.cc1action %>
	</table>
	
</div>