<div class="tform">
	<H2>Circulation 2</H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="closed">Forward To You By:</label></td>
			<td><%=h @document.cc1staff.name %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="closed">Action:</label></td>
			<td><%=h @document.cc1action %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="closed">Remarks:</label></td>
			<td><%=h @document.cc1remarks %></td>
		</tr>
	</table>
	<HR>
	<% f.date_select :cc2date, :value => Time.now %>
	<table  width=100%>
		<tr>
			<td class="leftcol"><label for="closed">Action:</label></td>
			<td><%= f.text_field :cc2action %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="closed">Remarks:</label></td>
			<td><%= f.text_area :cc2remarks, :size => '40x3' %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="closed">Close?:</label></td>
			<td><%= f.check_box :cc2closed %>Closed
		</tr>
	</table>
	
</div>