<div class="tform">
	<H2><%= t 'document.doc_details' %></H2>
	<table>
		<tr>
			<td class="leftcol"><label for="serialno"><%= t 'document.serialno' %>:</label><font color="red"> * </font></td>
			<td><%= f.text_field :serialno, :value => Document.set_serialno(@document.id), :readonly => true, :class => "compulsory" %>
			<%#= f.text_field :serialno, :value => (Document.last.id)+1, :readonly => true, :class => "compulsory" %>
			<%#= f.text_field :serialno, :readonly => true, :class => "compulsory" %>
			<!--5Apr2013--></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="refno"><%= t 'document.refno' %>:</label><font color="red"> * </font></td>
			<td><%= f.text_field :refno, :class => "compulsory" %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="title"><%= t 'document.title2' %>:</label><font color="red"> * </font></td>
			<td><%= f.text_field :title, :size => '60', :class => "compulsory" %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="category"><%= t 'document.category' %>:</label><font color="red"> * </font></td>
			<td><%= f.select :category, 
			                 Document::CATEGORY, :class => "compulsory" ,
			                 :prompt => (t 'select') %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="letterdt"><%= t 'document.letterdt' %>:</label></td>
			<td><%= f.date_select :letterdt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="letterxdt"><%= t 'document.letterxdt' %>:</label></td>
			<td><%= f.date_select :letterxdt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="from"><%= t 'document.from' %>:</label><font color="red"> * </font></td>
			<td><%#= f.text_field :sender, :size => '60', :class => "compulsory" %><%= f.text_field :from, :size => '60', :class => "compulsory" %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="stafffiled_id"><%= t 'document.stafffiled_id' %>:</label></td>
			<td><% if @document.new_record? %>
					<% filedby = 164 %>
				<% else %>
					<% filedby = @document.stafffiled_id %>
				<% end %>
				<%= f.collection_select :stafffiled_id, Staff.find(:all, :conditions => ['id IN(?)', @document.staffiled_list], :order => :name), :id, :name, { :selected => filedby }   %>
				<%#= f.collection_select :stafffiled_id, Staff.find(:all, :order => :name), :id, :name, { :selected => 61 }   %>
				<%= f.hidden_field :prepared_by, :value=>@current_login.staff_id %>
			</td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="file_id"><%= t 'document.fileno' %>:</label></td>
			<td><%= f.collection_select :file_id, Cofile.find(:all, :order => :cofileno), :id, :file_no_and_name, :include_blank => true %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="data"><%= t 'document.current_attach' %>:</label></td>
			<td><% if @document.data.exists? then %>
			    	<%= @document.data_file_name %> &nbsp;&nbsp;&nbsp;
			    	<%= link_to (t 'document.download'), @document.data.url %> ||
		        <%= link_to "ALT", @document.data.url %>
			    <% else %>
			    No Attachment yet
			    <% end %></td>
		<tr>
			<td class="leftcol"><label for="data"><%= t 'document.upload_file' %>:</label></td>
			<td><%= f.file_field :data %></td>
		</tr>
	</table>	
		<h2><%= t 'document.circulation_details' %></h2>
	<table>	
		<tr>
			<td class="leftcol"><label for="closed"><!--Other Information--><%= t 'document.minute_action' %>: <br>(Minit Tindakan)</label></td>
			<td><%= f.text_area :otherinfo, :size => '40x3' %></td>
		</tr>
		
		<!--5April2013-single circulation--><!--
		<tr>
			<td class="leftcol"><label for="closed">Circulate To:</label></td>
			<td><%#= f.collection_select :cc1staff_id, Staff.find(:all, :order => :name), :id, :name, :include_blank => 'Select Person For Action'  %></td>
		</tr>	-->
		<!--5April2013-single circulation-->
		
		<!--5April2013-multiple circulation-->
		<tr>
			<td class="leftcol"><label for="to_id"><%= t 'document.circulate_to' %>:</label></td>
			<td><%= text_field_with_auto_complete :document, :to_name ,{ :size => 70 }, 
											{ :tokens => ",",:url => staffs_path(:js), 
											  :method => :get,
											  :param_name => 'search' } %>
											  <!--:url => formatted_staffs_path(:js), -->
				<br><i><font size="2"><%=t 'document.recipient_remark'%></font></i>
			</td>
		</tr>
		<!--5April2013-multiple circulation-->
		
		<tr>
			<td class="leftcol"><label for="circulatedt"><%= t 'document.minute_date' %>:</label></td>
			<td><%= f.date_select :cc1date, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="category"><%= t 'document.actiontype' %>:</label><!--<font color="red"> * </font>--></td>
			<td><%= f.select :cctype_id, 
			                 Document::ACTION,
			                 :prompt => (t 'select')  %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="closed"><%= t 'document.closed' %>:</label></td>
			<td><%= f.check_box :closed %></td>
		</tr>

	
		
	</table>
</div>
<BR>