<fieldset><legend class="togvis"><%=t('document.action_details')%></legend>
	<table width=100%>
		<% @document.circulations.each do |y| %>
			<tr>
				<td class="leftcol"><label for="closed"><b><%=t('document.cc1action')%> :</b></label></td>
				<td><%=h y.action_taken %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="closed"><b><%=t('document.cc1remarks')%> :</b></label></td>
				<td><%=h y.action_remarks %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="Action By"><%=t('document.action_by')%> :</label></td>
				<td><%= check_kin {y.staff.staff_name_with_position} %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="data"><%=t('document.attachment_action')%> :</label></td>
				<td>
				<% if y.action.exists? then %>
					<%= y.action_file_name %> &nbsp;&nbsp;&nbsp;
					<%= link_to (t 'document.download'), y.action.url %> ||
					<%= link_to "ALT", y.action.url %>
				<% else %>
					<%=t('document.no_attachment')%>
				<% end %>
				</td>
			</tr>
			<tr>
				<td class="leftcol"><label for="letterxdt"><b><%=t('document.cc1actiondate') %> :</b></label></td>
				<td><%=h check_kin{l(y.action_date)} %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="closed"><b><%= t('document.cc1closed') %> :</b></label></td>
				<td><%=h y.action_closed? ? (t 'yes2') : (t 'no2')  %></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr>
		<% end %>
	</table>
</fieldset>