<div class="tform">
	<H2><%= t 'document.doc_details' %></H2>
  <table width=100% >
		<tr>
			<td class="leftcol"><label for="serialno"><b><%= t 'document.serialno' %> :</b></label></td>
			<td><%=h @document.serialno %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="refno"><b><%= t 'document.refno' %> :</b></label></td>
			<td><%=h @document.refno %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="title"><b><%= t 'document.title' %> :</b></label></td>
			<td><%=h @document.title %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="category"><b><%= t 'document.category' %> :</b></label></td>
			<td> <%=h (Document::CATEGORY.find_all{|disp, value| value == @document.category.to_s}).map {|disp, value| disp} %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="letterdt"><b><%= t 'document.letterdt' %> :</b></label></td>
			<td> <%=h l(@document.letterdt) %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="letterxdt"><b><%= t 'document.letterxdt' %> :</b></label></td>
			<td><%=h l(@document.letterxdt) %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="from"><b><%= t 'document.from' %> :</b></label></td>
			<td> <%=h @document.from %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="stafffiled_id"><b><%= t 'document.stafffiled_id' %> :</b></label></td>
			<td><%=h @document.stafffiled_details %></td>
		</tr>
	
		<tr><!-- 7/10/2011- Shaliza fixed error for File No -->
			<td class="leftcol"><label for="file_id"><b>File No:</b></label></td>
			<td><%=h @document.file_details %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="closed"><b><%= t 'document.closed' %> :</b></label></td>
			<td><%=h @document.closed? ? "Yes" : "No"  %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="data"><b><%= t 'document.uploaded' %> :</b></label></td>
			<td><% if @document.data.exists? then %>
			    <%= @document.data_file_name %>
			    <%= link_to (t 'document.download'), @document.data.url %> ||
		        <%= link_to "ALT", @document.data.url %>
			    <% else %>
			    No File Available
			    <% end %></td>
		</tr>
	</table>
<BR>
</div>