<h3>Action Taken</h3>

<% form_for(@document) do |f| %>
  <%= f.error_messages %>


<script type="text/javascript">
  function switchvisibility(forward) {
    if (document.getElementById(forward).checked) {
      document.getElementById('fwdto').style.display = "inline";
    } else {
      document.getElementById('fwdto').style.display = "none";
    }
  }
</script>

<div class="tform">
	<H2><%= t 'document.doc_details' %></H2>
	<table width=100% >
		<!--	<tr>
				<td class="leftcol"><label for="serialno"><%= t 'document.serialno' %></label></td>
				<td width=2%><b>:</b></td>
				<td><#%=h @document.serialno %></td>
			</tr>-->

			<tr>
				<td class="leftcol"><label for="refno"><%= t 'document.refno' %></label></td>
				<td width=2%><b>:</b></td>
				<td><%=h @document.refno %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="title"><%= t 'document.title' %></label></td>
				<td><b>:</b></td>
				<td><%=h @document.title %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="category"><%= t 'document.category' %></label></td>
				<td><b>:</b></td>
				<td> <%=h (Document::CATEGORY.find_all{|disp, value| value == @document.category.to_s}).map {|disp, value| disp} %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="letterdt"><%= t 'document.letterdt' %></label></td>
				<td><b>:</b></td>
				<td><%=h @document.letterdt.blank? ? "-": @document.letterdt.strftime("%d-%b-%Y") %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="letterxdt"><%= t 'document.letterxdt' %></label></td>
				<td><b>:</b></td>
				<td><%=h @document.letterxdt.blank? ? "-": @document.letterxdt.strftime("%d-%b-%Y") %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="from"><%= t 'document.from' %></label></td>
				<td><b>:</b></td>
				<td> <%=h @document.from %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="stafffiled_id"><%= t 'document.stafffiled_id' %></label></td>
				<td><b>:</b></td>
				<td><%=h @document.stafffiled_details %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="classification">Classification</label></td>
				<td><b>:</b></td>
				<td><%=h (Document::CLASSIFICATION.find_all{|disp, value| value == @document.classification.to_s}).map {|disp, value| disp} %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="file_id">File No</label></td>
				<td><b>:</b></td>
				<td><%=h @document.cofile.name %></td>
			</tr>

		<!--	<tr>
				<td class="leftcol"><label for="closed"><b><#%= t 'document.closed' %> :</b></label></td>
				<td><#%=h @document.closed? ? "Yes" : "No"  %></td>
			</tr>-->

			<tr>
				<td class="leftcol"><label for="data"><%= t 'document.uploaded' %></label></td>
				<td><b>:</b></td>
				<td><% if @document.data.exists? then %>
				    <%= @document.data_file_name %>
				    <%= link_to (t 'document.download'), @document.data.url %> ||
			        <%= link_to "ALT", @document.data.url %>
				    <% else %>
				    No File Available
				    <% end %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="closed">Submit To</label></td>
				<td><b>:</b></td>
				<td><%=h @document.circulation1_details %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="category">Action</label></td>
				<td><b>:</b></td>
				<td><%=h (Document::ACTION.find_all{|disp, value| value == @document.cctype_id.to_s}).map {|disp, value| disp} %></td>
			</tr>
		</table>
	
	<H2>Action Taken</H2>
	<table width=100% border=0>
		<tr>
			<td class="leftcol"><label for="closed">Action</label></td>
			<td width=3%><b>:</b></td>
			<td><%= f.text_area :cc1action, :size => '40x2' %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="closed">Remarks</label></td>
			<td><b>:</b></td>
			<td><%= f.text_area :cc1remarks, :size => '40x3' %></td>
		</tr>
		<tr>
				<td class="leftcol"><label for="cc1date">Date:</label></td>
				<td width=3%><b>:</b></td>
				<td><%= f.date_select :cc1date, :include_blank => true %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="closed">Close or Forward?</label></td>
			<td><b>:</b></td>
			<td><%= f.radio_button :cc1closed,'true' %>Close
					<%= f.radio_button :cc1closed,'false', :id => "forward", :onchange => "switchvisibility('forward')" %>Forward &nbsp;
					<SPAN id="fwdto" style="display: none;">
						
						<div><!--12/12/2011 - Shaliza changed label name nested model-->
						  <H2>Staff Circulation</H2>
							<table width=80% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
								<th width=70% align="center">Staff Name </font></th>
								<th width=25% align="center">Action</th>
								<th width=5% align="center"></th>
							</table>
							<% f.fields_for :circulates do |builder| %>
								<%= render 'circulate_fields', :f => builder %>
							<% end %>
							<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :circulates %> - <%= t 'icms.add' %> </p>
						</div>
						
						
					</SPAN>
			</td>
		</tr>
	
	
	</table>

</div>
  <p>
    <%= f.submit (t 'icms.update') %>
  </p>

<% end %>


<%= link_to (t 'icms.show'), @document %> |
<%= link_to (t 'icms.back'), documents_path %>
