<h3>Action Taken</h3>

<% form_for(@document) do |f| %>
  <%= f.error_messages %>

<div class="tform">
	<H2><%= t 'document.doc_details' %></H2>
	<table width=100% >
		<!--	<tr>
				<td class="leftcol"><label for="serialno"><%= t 'document.serialno' %></label></td>
				<td width=2%><b>:</b></td>
				<td><#%=h @document.serialno %></td>
			</tr>-->

			<tr>
				<td class="leftcol"><label for="refno"><%= t 'document.refno' %></label></td>
				<td width=2%><b>:</b></td>
				<td><%=h @document.refno %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="title"><%= t 'document.title' %></label></td>
				<td><b>:</b></td>
				<td><%=h @document.title %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="category"><%= t 'document.category' %></label></td>
				<td><b>:</b></td>
				<td> <%=h (Document::CATEGORY.find_all{|disp, value| value == @document.category.to_s}).map {|disp, value| disp} %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="letterdt"><%= t 'document.letterdt' %></label></td>
				<td><b>:</b></td>
				<td><%=h @document.letterdt.blank? ? "-": @document.letterdt.strftime("%d-%b-%Y") %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="letterxdt"><%= t 'document.letterxdt' %></label></td>
				<td><b>:</b></td>
				<td><%=h @document.letterxdt.blank? ? "-": @document.letterxdt.strftime("%d-%b-%Y") %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="from"><%= t 'document.from' %></label></td>
				<td><b>:</b></td>
				<td> <%=h @document.from %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="stafffiled_id"><%= t 'document.stafffiled_id' %></label></td>
				<td><b>:</b></td>
				<td><%=h @document.stafffiled_details %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="classification">Classification</label></td>
				<td><b>:</b></td>
				<td><%=h (Document::CLASSIFICATION.find_all{|disp, value| value == @document.classification.to_s}).map {|disp, value| disp} %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="file_id">File No</label></td>
				<td><b>:</b></td>
				<td><%=h @document.cofile.name %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="data"><%= t 'document.uploaded' %></label></td>
				<td><b>:</b></td>
				<td><% if @document.data.exists? then %>
				    <%= @document.data_file_name %>
				    <%= link_to (t 'document.download'), @document.data.url %> ||
			        <%= link_to "ALT", @document.data.url %>
				    <% else %>
				    No File Available
				    <% end %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="closed">Submit To</label></td>
				<td><b>:</b></td>
				<td><%=h @document.circulation1_details %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="category">Action</label></td>
				<td><b>:</b></td>
				<td><%=h (Document::ACTION.find_all{|disp, value| value == @document.cctype_id.to_s}).map {|disp, value| disp} %></td>
			</tr>
		</table>
	
		<% if @document.cc1action != nil %>
		<H2>Circulation 1 (<%=h @document.circulation1_details %>)</H2>
		<table width=100%>
			<tr>
				<td class="leftcol"><label for="closed">Action</label></td>
				<td width=2%><b>:</b></td>
				<td><%=h @document.cc1action %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="closed">Feedback</label></td>
				<td><b>:</b></td>
				<td><%=h @document.cc1remarks%></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="closed">Close or Forward?</label></td>
				<td><b>:</b></td>
				<td><%=h @document.cc1closed? ? "Closed" : "Forward"%></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="closed">Forward To</label></td>
				<td><b>:</b></td>
				<td><table width=100% border=1 cellspacing=0>
					<tr>
						<th>Staff Name</th>
						<th>Tindakan</th>
					</tr>	<% for circulate in @document.circulates %>	
					<tr>
						<td><%=h circulate.circulate_name.staff_name_with_title %></td>
						<td> <%=h (Circulate::ACTION.find_all{|disp, value| value == circulate.action_cc}).map {|disp, value| disp} %></td><% end %>
						</tr>
					</table></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="cc1date">Date</label></td>
				<td><b>:</b></td>
				<td><%=h @document.cc1date.blank? ? "-" : @document.cc1date.strftime("%d-%b-%Y") %></td>
			</tr>

		</table>
		<% end %>
		
			<% if @document.cc2action != nil %>
			<H2>Circulation 2 (<% for circulate in @document.circulates %>	
				 <%=h circulate.circulate_name.staff_name_with_title %>,
				<% end %>)</H2>
			<table  width=100%>
				<tr>
					<td class="leftcol"><label for="data"><%= t 'document.uploaded' %></label></td>
					<td><b>:</b></td>
					<td><% if @document.data.exists? then %>
					    <%= @document.data_file_name %>
					    <%= link_to (t 'document.download'), @document.data.url %> ||
				        <%= link_to "ALT", @document.data.url %>
					    <% else %>
					    No File Available
					    <% end %></td>
				</tr>
				<tr>
					<td class="leftcol"><label for="closed">Action</label></td>
					<td width=2%><b>:</b></td>
					<td><%=h @document.cc2action %></td>
				</tr>
				<tr>
					<td class="leftcol"><label for="closed">Feedback</label></td>
					<td><b>:</b></td>
					<td><%=h @document.cc2remarks %></td>
				</tr>
				
				<tr>
					<td class="leftcol"><label for="action_by">Action Taken By</label></td>
					<td><b>:</b></td>
					<td><%=h @document.action_by.blank? ? "-" : @document.actiontaken.staff_name_with_title %></td>
				</tr>
				
				<tr>
					<td class="leftcol"><label for="cc2date">Date</label></td>
					<td><b>:</b></td>
					<td><%=h @document.cc2date.blank? ? "-" : @document.cc2date.strftime("%d-%b-%Y") %></td>
				</tr>

				<tr>
					<td class="leftcol"><label for="closed"> Feedback Sent?</label></td>
					<td><b>:</b></td>
					<td><%=h @document.feedback_sent? ? "Yes" : "No" %>
				</tr>


			</table>
		<% end %>
		<% if @document.feedback_sent == TRUE %>
		<H2>Checking Document</H2>
		<table width=100% border=0>
			<tr>
				<td class="leftcol"><label for="closed">Received?</label></td>
				<td width=3%><b>:</b></td>
				<td><%= f.check_box :received %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="cc1date">Received Date:</label></td>
				<td width=3%><b>:</b></td>
				<td><%= f.date_select :received_date, :include_blank => true %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="closed">Close?:</label></td>
				<td><b>:</b></td>
				<td><%= f.check_box :cc2closed %>Closed</td>
			</tr>
</table>
<% end %>
</div>
  <p>
    <%= f.submit (t 'icms.update') %>
  </p>

<% end %>


<%= link_to (t 'icms.show'), @document %> |
<%= link_to (t 'icms.back'), documents_path %>
