<%#=@documents%>
<%= stylesheet_link_tag 'report', :media => "print" %>

	<form action="#">
			<script>
			document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");
			</script>
	</form>
	<!--for test only-<%#=@sd %>kiki<%#=@ed%>-->
<div class="A4potrait" style="border: none;">
<BR/>
<table class="tlong">
	<thead>
		<tr>
			<th class="tright" colspan=6><b></b></th>
		</tr>
		<tr>
			<th  colspan=7><b>REKOD MASUK SURAT-SURAT RASMI KOLEJ SAINS KESIHATAN BERSEKUTU JOHOR BAHRU</b></th>
		</tr>
		<tr>
			<th class="tcol"><b>NO</b></th>
			<th class="tcol" style="width:80px;"><b>Tarikh</b></th>
			<th class="tcol"><b>Daripada</b></th>
			<th class="tcol"><b>No. Rujukan</b></th>
			<th class="tcol" style="width:80px;"><b>Tarikh Surat</b></th>
			<th class="tcol"><b>Perkara</b></th>
			<th class="tcol"><b>Tindakan/Makluman</b></th>
		</tr>
	</thead>	
	<tbody>
		<% bil = 0 %>
		<% @documents.each do |document|%>
			<% bil += 1 %>
			<tr>
				<td class="tdata" style="text-align:center;" ><%=h bil %></th>
				<td class="tdata" style="white-space: nowrap; padding-right:3mm;" ><%=h l(document.letterxdt) %></th>	
				<td class="tdata"><%=h document.from %></th>
				<td class="tdata"><%=h document.refno %></th>
				<td class="tdata"><%=h l(document.letterdt) %></th>
				<td class="tdata"><%=h document.title %></th>
				<td class="tdata"><%=h document.otherinfo %></th>
			</tr>
		<% end %>
	</tbody>
</table>
<div>	
<BR/>	

<div id="hideLink">
<%= link_to 'Back', documents_path %>
</div>