<!-- Box -->
<div class="box">
<!-- Box Head -->
  <div class="box-head">
    <h2 class="left">Lists of Documents</h2>
		<div class="right">
      <% form_tag documents_path, :method => 'get' do %>
	  		<%= text_field_tag :search, params[:search], :placeholder => "RefNo,Title" %>
	  		<%= submit_tag I18n.t('search'), :title => nil %>
			<% end %>
		</div>
  </div>
</div>

<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => 'New Document') + "New", new_document_path %></p>
</div>

<div class="indextable">
	<table width=100% border="0" cellpadding="0" cellspacing="0">
		<tr>
		  <th>Serial No</th>
		  <th>Ref No</th>
		  <th>Category</th>
		  <th>Title</th>
		  <th>Letter Date</th>
		  <th>Received Date</th>
		  <th>From</th>
		  <th>Filed By</th>
		  <th>Closed</th>
		  <th colspan=3 class="ac">Control</th>
		</tr>

    <% @document_files.each do |filedocer, documents| %>
    <tr>
      <td colspan=12><BR> <b><%=h filedocer %><b></td>
   	</tr>
        
			<% for document in documents %>
			<tr>
				<td><%=h document.serialno %></td>
				<td><%=h document.refno %></td>
				<td><%=h (Document::CATEGORY.find_all{|disp, value| value == document.category.to_s}).map {|disp, value| disp} %></td>
				<td><%=h document.title %></td>
				<td><%=h l(document.letterdt) %></td>
				<td><%=h l(document.letterxdt) %></td>
				<td><%=h document.from %></td>
				<td><%=h document.stafffiled_details %></td>
				<td><%=h document.closed %></td>
				<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => document %></td>
				<td width=10px>
						<% if document.owner_ids.include? current_user.staff_id %>
							<%= link_to image_tag("edit.png",     :border => 0, :title => 'Edit'), :action => 'edit', :id => document %>
						<% end %></td>
				<td width=10px>
					  <% if document.stafffiled_id == current_user.staff_id %>
				    	<%= link_to image_tag("delete.png",   :border => 0, :title => 'Delete'), document, :confirm => 'Are you sure?', :method => :delete %>
						<% end %></td>
			</tr>
			<% end %>
		<% end %>
  </table> 
</div>

<br />

<%= link_to 'New Document', new_document_path %>