<h3><%= t 'document.new' %></h3>

<% form_for(@document, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit (t 'create') %>
  </p>
<% end %>
</div>

<%= link_to (t 'back'), documents_path %>