<h3>Editing Mentor-Mentee</h3>

<% form_for(@mentor) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @mentor %> |
<%= link_to 'Back', mentors_path %>