<% if (request.request_uri == "/" || request.request_uri == "/home") %>
	<H3><%= link_to "Events ", { :controller => "events", :action => "index" } %></H3>
	<H3>Todays Events</H3>
			<% todays_events = Event.find(:all, :conditions => ["eventstdt <= ? AND eventendt >= ? ", Time.now,  Time.now ], :order => 'eventendt desc', :limit => 6) %>
			<% if todays_events == [] %>
				<div class="sidebar_event_item0">
				<H5>No Events Today</H5>
				</div>
			<% else %>
				<% todays_events.each do |e| %>
	      <div class="sidebar_event_item<%= cycle("0", "1") %>">
	      		<h5><%= link_to e.eventname, :controller => 'events', :action => 'show', :id => e.id %></h5>
						<p><%= e.location %></p>
	          <p><%= e.eventstdt.strftime('%a, %e %b') unless e.eventstdt.blank? %> - 
		       		<%= e.eventendt.strftime('%a, %e %b') unless e.eventendt.blank? %></p>
	      </div>
	      <% end %>
			<% end %>
			
			<H3>Recent Events</H3>
			<% dash_events = Event.find(:all, :conditions => ["eventendt < ? AND eventendt >= ? ", Time.now, 7.days.ago], :order => 'eventendt desc', :limit => 6) %>
			<% if dash_events == [] %>
				<div class="sidebar_event_item0">
					<H5>No events since last week</H5>
				</div>
			<% else %>
				<% dash_events.each do |e| %>
		      <div class="sidebar_event_item<%= cycle("0", "1") %>">
		      		<h5><%= link_to e.eventname, :controller => 'events', :action => 'show', :id => e.id %></h5>
							<p><%= e.location %></p>
							<p><%= e.eventstdt.strftime('%a, %e %b') unless e.eventstdt.blank? %> - 
			       		<%= e.eventendt.strftime('%a, %e %b') unless e.eventendt.blank? %></p>
		      </div>
	      <% end %>
		  <% end %>
		
			<H3>Upcoming Events</H3>
			<% future_events = Event.find(:all, :conditions => ["eventstdt > ? ", Time.now ], :order => 'eventstdt desc', :limit => 6) %>
			<% if future_events == [] %>
				<div class="sidebar_event_item0">
					<H5>No future events</H5>
				</div>
			<% else %>
				<% future_events.each do |e| %>
		      <div class="sidebar_event_item<%= cycle("0", "1") %>">
		      		<h5><%= link_to e.eventname, :controller => 'events', :action => 'show', :id => e.id %></h5>
							<p><%= e.location %></p>
		          <p><%= e.eventstdt.strftime('%a, %e %b') unless e.eventstdt.blank? %> - 
			       		<%= e.eventendt.strftime('%a, %e %b') unless e.eventendt.blank? %></p>
		      </div>
	      <% end %>
		  <% end %>
			
<% end %>