<ul class="dropdown">
<!-- Home Page -->
<li><%= link_to (t 'menu.home'),  root_url %></li>
	
<!-- Staff Menu -->
<% permitted_to? :menu, :staffs do %>
<li><a href="#"><%= t 'menu.staff' %></a>
	<ul class="sub_menu">
		
		<% permitted_to? :menu, :staffs do %>
		<li><%= link_to (t 'menu.staffinfo'), 	        {:controller => 'staffs', 		  :action => 'index'} %></li> <!-- Staff Information-->
		<li><%= link_to (t 'menu.staffattendance'), 	{:controller => 'attendances', 	  :action => 'index'} %></li> <!-- Staff Attendance-->
		<% end %>
		
		<% permitted_to? :menu, :instructors do %>
		<li><a href="#"><%= t 'menu.instructor' %> ></a><!-- Staff Leave-->
		<ul class="sub_menu">
			<li><%= link_to (t 'menu.instructor'), 	  		{:controller => 'instructors', :action => 'index'} %></li><!--Instructor Appraisal-->
			<li><%= link_to 'Laporan Penilaian Jurulatih', 	{:controller => 'evaluate_coaches', 	:action => 'report_evaluate_instructor'} %></li>
	   	</ul>
		</li>
		<% end %>
		
		<% permitted_to? :manage, :staffs do %>
		<li><%= link_to (t 'menu.task'), 		        {:controller => 'positions', 	:action => 'index'} %></li><!-- Task & Responsibilities-->
		<% end %>
			
		<% permitted_to? :menu, :staffs do %>
		<li><a href="#"><%= t 'menu.leave' %> ></a><!-- Staff Leave-->
			<ul class="sub_menu">
				<li><%= link_to (t 'menu.apply'), 		{:controller => 'leaveforstaffs', 	:action => 'new'} %></li><!--Staff Apply Leave-->
				<li><%= link_to (t 'menu.approve'), 	{:controller => 'leaveforstaffs', 	:action => 'index'} %></li><!--Lists of Leave-->
				
			</ul>
		</li>
		<% end %>
		<li><a href="#"><%= t 'menu.claim' %> ></a><!-- Staff Claim Submission-->
			<ul class="sub_menu">
				<li><%= link_to 'Reservation Office Vehicle', {:controller => 'bookingvehicles', :action => 'index'} %></li><!-- Staff Transport Booking-->
				<li><%= link_to (t 'menu.travel'), 		      {:controller => 'travelrequests',  :action => 'index'} %></li><!-- Staff Travel Request-->
				<li><%= link_to (t 'menu.claim'), 		      {:controller => 'travelclaims', 	 :action => 'index'} %></li><!-- Staff Travel Claim-->
			</ul>
		</li>
		
		<li><a href="#"><%= t 'menu.professional' %> ></a><!--Professional Development-->
			<ul class="sub_menu">
				<% permitted_to? :manage, :ptbudgets do %>
				<li><%= link_to (t 'menu.budget'), 	ptbudgets_path %> </li><!--Training Budget-->
				<li><%= link_to (t 'menu.schedule'), ptschedules_path %></li><!--Training Course & Schedule-->
				<% end %>
				<li><%= link_to (t 'menu.applytraining'), 	{:controller => 'ptschedules', :action => 'apply'} %></li><!--Apply Training-->
				<% permitted_to? :index, :ptdos do %>	
				<li><%= link_to (t 'menu.status'), ptdos_path %></li><!--Training Application-->
				<% end %>
			</ul>
		</li>
		<% permitted_to? :manage, :staffs do %>
		<li><a href="#"><%= t 'menu.report' %> > </a> <!--Report-->
			<ul class="sub_menu">
				<li><%= link_to 'Maklumat Perjawatan',      	{:controller => 'positions', 	:action => 'maklumat_perjawatan_LA'} %></li>
				<li><%= link_to 'Laporan Harian Cuti Staf', 	{:controller => 'leaveforstaffs', 	:action => 'laporan_cuti'} %></li>
			</ul>
		</li>
		<% end %>
		</ul>
	</li>
<% end %>
	
	<!-- Asset Menu -->
    <% permitted_to? :menu, :suppliers do %>
	<li><a href="#"><%= t 'menu.asset' %></a>
		<ul class="sub_menu">
			<% permitted_to? :manage, :suppliers do %>
			<li><%= link_to (t 'menu.office'), 		{:controller => 'suppliers', 	:action => 'index'} %></li>  <!--Office Supplier-->
			<% end %>
			<li><%= link_to (t 'menu.stock'), 		{:controller => 'stocks', 		:action => 'index'} %></li>  <!--Stock Application-->
			<li><%= link_to (t 'menu.facility'),        {:controller => 'bookingfacilities',  :action => 'index'} %></li><!--Reservation Facilities-->	
		</ul>
	</li>
  <% end %>
	
	
	<!-- Locations Menu -->
	<% permitted_to? :manage, :locations do %>
	<li><a href="#"><%= t 'menu.location' %></a>
		<ul class="sub_menu">
			<% permitted_to? :manage, :locations do %>
				<li><%= link_to (t 'menu.residence'), 	{:controller => 'locations', 	:action => 'index'} %></li>      <!--Location Management-->
				<li><%= link_to (t 'menu.tenant'),      {:controller => 'tenants', 		:action => 'index'} %></li>      <!--Tenants-->
				<li><%= link_to 'Location Tree',		{:controller => 'locations', 	:action => 'indextree'} %></li>  <!--Location Tree-->
			<% end %>
		</ul>
	</li>
	<% end %>
	
	
	<!-- E-Filing Menu -->
   <% permitted_to? :menu, :pages do %>
	<li><a href="#"><%= t 'menu.filling' %></a>
		<ul class="sub_menu">
		<% permitted_to? :manage, :pages do %>
			<li><%= link_to (t 'menu.info'), 		{:controller => 'pages', 		:action => 'edit',  :id => 1} %></li><!--Campus Info-->
			<li><%= link_to (t 'menu.event'), 		{:controller => 'events', 		:action => 'index'} %></li>          <!--Campus Event-->
			<li><%= link_to (t 'menu.bulletin'), 	{:controller => 'bulletins', 	:action => 'index'} %></li>          <!--Bulletin Board-->
		<% end %>
			<li><%= link_to (t 'menu.file'), 		{:controller => 'cofiles', 		:action => 'index'} %></li>          <!--File Registry-->
			<li><%= link_to (t 'menu.document'), 	{:controller => 'documents', 		:action => 'index'} %></li>      <!--Document Management-->
			<li><%= link_to 'Local Messaging', 	  {:controller => 'messages', 		:action => 'index'}  %></li>         <!--Local Messaging-->
		</ul>	
	</li>
   <% end %>
	
	
	<!-- Student Menu -->
	<% permitted_to? :menu, :students do %>
	<li><a href="#"><%= t 'menu.student' %></a>
		<ul class="sub_menu">
			<li><%= link_to (t 'menu.stuinfo'), 		{:controller => 'students', 		:action => 'index'} %></li>    <!--Student Information-->
			<li><%= link_to (t 'menu.stuleave'), 		{:controller => 'leaveforstudents', 	:action => 'index'} %></li><!--Student Leave-->
			<% permitted_to? :manage, :studentattendances do %>
			<li><%= link_to (t 'menu.stuattendance'), 	{:controller => 'studentattendances', 	:action => 'index'} %></li><!--Student Attendance-->
			<% end %>
			<% permitted_to? :menu, :students do %>
			<li><%= link_to (t 'menu.dicipline'), 		{:controller => 'sdiciplines', 	:action => 'index'} %></li>        <!--Student Dicipline-->
			<% end %>
			<% permitted_to? :manage, :counsellings do %>
			<li><%= link_to (t 'menu.counselling'), 	{:controller => 'counsellings', :action => 'index'} %></li>        <!--Student Counseling-->
			<% end %>
			<% permitted_to? :menu, :students do %>
			<li><%= link_to 'Mentor-Mentee', 	  		{:controller => 'mentors', :action => 'index'} %></li>             <!--Mentor Mentee-->
			<% end %>
			<% permitted_to? :create, :evaluate_lecturers do %>
				<li><%= link_to (t 'menu.lecturer'), {:controller => 'evaluate_lecturers', :action => 'index'} %></li><!-- Lecturer Appraisal-->
			<% end %>
		
		</ul>
	</li>
	<% end %>
	
	<!-- Examination Menu -->
	<% permitted_to? :menu, :examquestions do %>
	<li><a href="#"><%= t 'menu.exam' %></a>
		<ul class="sub_menu">
			<li><%= link_to (t 'menu.examdev'),     {:controller => 'examquestions', :action => 'index'} %></li><!--Examination Question Bank-->
			<%# permitted_to? :manage, :exammakers do %>	
			<li><%= link_to 'Examination Maker',    {:controller => 'exammakers',    :action => 'index'} %></li><!--Examination Maker-->
			<%# end %>
			<% permitted_to? :menu, :grades do %>
				<li><a href="#">Examination Grades ></a>
					<ul class="sub_menu">
							<li><%= link_to 'By Subjects', 		{:controller => 'grades', :action => 'index'} %></li>
						<!--	<li><#%= link_to 'By Programmes', 	{:controller => 'examresults', :action => 'index'} %></li>
							<li><#%= link_to 'By Examinations (paper)', 	{:controller => 'exammarks', :action => 'index'} %></li>-->
					</ul>
				</li>
			 <% end %>
			<% permitted_to? :menu, :analysis_grades do %>
					<li><a href="#">Analysis Examinations ></a>
						<ul class="sub_menu">
								<li><%#= link_to 'Analysis Result Exam', {:controller => 'analysis_grades', :action => 'index'} %></li>
								<li><%= link_to 'By Examination Paper', {:controller => 'analysispaperexams', :action => 'index'} %></li>
						</ul>
					</li>
			<% end %>
			
			<% permitted_to? :menu, :evaluate_lecturers do %>
					<li><a href="#">Lecturer Appraisals ></a>
						<ul class="sub_menu">
								<li><%= link_to (t 'menu.lecturer'), {:controller => 'evaluate_lecturers', :action => 'index'} %></li><!-- Lecturer Appraisal-->
								<li><%= link_to 'Analisa Skor Purata Penilaian Pensyarah', {:controller => 'average_lecturers', :action => 'index'} %></li>
						</ul>
					</li>
			<% end %>
		
		    <li><a href="#"><%= t 'menu.report' %> > </a> <!--Report-->
				<ul class="sub_menu">
					<li><%= link_to 'Laporan Pemarkahan Peperiksaan',      	{:controller => 'grades', 	:action => 'report_grade'} %></li>
				</ul>
			</li>
		
		</ul>
	</li>
	<% end %>
	
	
	<!-- Training Menu -->
	<% permitted_to? :menu, :programmes do %>
	<li><a href="#"><%= t 'menu.course' %></a>
		<ul class="sub_menu">
			<% permitted_to? :menu, :programmes do %>
			<li><%= link_to 'Course Management',     {:controller => 'programmes', 	:action => 'index'} %></li>                   <!--Course Management-->
			<li><%= link_to 'Subject Management',    {:controller => 'subjects', 	:action => 'index'} %></li>                   <!--Subject Management-->
			<% permitted_to? :manage, :topics do %>
			<li><a href="#"><%= t 'menu.lesson' %> ></a>
				<ul class="sub_menu">
					<li><%= link_to 'Topic / Lesson Plan', 	  {:controller => 'topics', 	        :action => 'index'} %></li>   <!--Topic/Lesson Plan-->
					<li><%= link_to 'Lesson Plan Reporting',  {:controller => 'trainingreports', 	:action => 'index'} %></li>   <!--Lesson Plan Reporting-->	
					<li><%= link_to 'Training Notes',         {:controller => 'training_notes', 	:action => 'index'} %></li>   <!--Training Notes-->
				</ul>
			</li>
			<% end %>
			<% end %>
			<% permitted_to? :menu, :timetables do %>
			<li><a href="#"><%= t 'menu.timetable' %> ></a>
				<ul class="sub_menu">
					<li><%= link_to 'Student & Classes',        {:controller => 'klasses', :action => 'index'}  %></li>     <!--Student & Classes-->
					<% permitted_to? :manage, :timetables do %>
					<li><%= link_to (t 'menu.scheduling'), 		{:controller => 'timetables', :action => 'index'} %></li>   <!--Scheduling-->
					<% end %>
					<li><%= link_to 'Personalized Time Table',  {:controller => 'timetables', :action => 'calendar'} %></li><!--Personalized Timetable-->	
				</ul>
				<% end %>
			</li>
		</ul>
	</li>
	<% end %>
	
	
	<!-- Library Menu -->
	<li><a href="#"><%= t 'menu.library' %></a>
		<ul class="sub_menu">
			<li><%= link_to (t 'menu.rules'),    {:controller => 'books', 	:action => 'rules'} %></li><!--Rules & Regulations-->
			<li><%= link_to (t 'menu.resources'),     {:controller => 'books', 	:action => 'index'} %></li>                <!--Library Catalog Book-->
			<li><%= link_to (t 'menu.transaction'),   {:controller => 'librarytransactions', 	:action => 'index'} %></li><!--Library Transactions-->
			<% permitted_to? :manage, :librarytransactions do %>
			<li><%= link_to 'Statistics',    		  {:controller => 'viewer', 	:action => 'librarystats'} %></li>     <!--Library Statistic-->
			<li><%= link_to 'Help',    			      {:controller => 'books', 	:action => 'help'} %></li>
			<li><%= link_to 'Laporan Lewat Pemulangan Buku',    			      {:controller => 'librarytransactions', 	:action => 'report_overdue'} %></li>
			<% end %>
		</ul>
	</li>

   <!-- Document MS:ISO -->
<% permitted_to? :menu, :downloads do %>
	<li><a href="#">Muat Turun</a>
		<ul class="sub_menu">
			<li><%= link_to 'KKM', {:controller => 'downloads', :action => 'doc_upload_kkm'} %></li> <!--Borang KKM-->
			<li><%= link_to 'TBL', {:controller => 'downloads', :action => 'doc_upload_tbl'} %></li> <!--Borang TBL-->
			<li><%= link_to 'RAN', {:controller => 'downloads', :action => 'doc_upload_ran'} %></li> <!--Borang RAN-->
			<li><%= link_to 'KS',  {:controller => 'downloads', :action => 'doc_upload_ks'} %></li>  <!--Borang KS-->
			<li><%= link_to 'WP',  {:controller => 'downloads', :action => 'doc_upload_wp'} %></li>  <!--Borang WP-->
		</ul>
	</li>
	<% end %>
	<!-- Administration Menu -->
	<% permitted_to? :core, :roles do %>
	<li><a href="#"><%= t 'menu.admin' %></a>
		<ul class="sub_menu">
			<li><%= link_to 'Users',   				{:controller => 'users', 	:action => 'index'} %></li> <!-- User Administration -->
			<li><%= link_to 'Roles',   				{:controller => 'roles', 	:action => 'index'} %></li> <!-- User Access (Roles) -->
		<!--	<li><#%= link_to 'Pages',   				{:controller => 'pages', 	:action => 'index'} %></li>  Page Administration -->
			<li><%= link_to 'Address Book',         {:controller => 'addbooks', :action => 'index'} %></li> <!-- Address Book (Supplier) -->
			<li><a href="#">Support Tables ></a>
				<ul class="sub_menu">
					<li><%= link_to 'Staff Titles', 		{:controller => 'titles', :action => 'index'} %></li>		<!-- Staff Titles -->
					<li><%= link_to 'Employee Schemes',     {:controller => 'employgrades', :action => 'index'} %></li> <!-- Employee Schemes -->
					<li><%= link_to 'Banks', 				{:controller => 'banks', :action => 'index'} %></li>		<!-- Banks -->
					<li><%= link_to 'Office Car', 	        {:controller => 'officecars', :action => 'index'} %></li>	<!-- Office Car -->
					<li><%= link_to 'Student Intake',    	{:controller => 'intakes', :action => 'index'} %></li>		<!-- Student Intake -->
				</ul>
			</li>
			<li><%= link_to 'Release Notes',   '/releasenotes' %></li>
		</ul>
	</li>
	<% end %>
	
	
</ul>