<% if logged_in? %>
<ul class="dropdown">
	<!-- Home -->
	<li><%= link_to (t 'menu.home'),  root_url %>
		<ul class="sub_menu">
			<li><%= link_to (t 'icms.logout'), logout_path %></li>
			<li><%= link_to (t 'menu.home'),  root_url %></li>
		</ul>
	</li>

	<!-- Staff Menu -->
	<% permitted_to? :menu, :staffs do %>
  	<li><a href="#"><%= t 'menu.staff' %></a>
			<ul class="sub_menu">
				<li><%= link_to (t 'menu.staff_info'), {:controller => 'staffs', :action => 'index'} %></li>

				<li><a href="#"><%= t 'menu.attend' %> ></a>
						<ul class="sub_menu">
							<!--<li><%= link_to t('attendance.lateness_earlyreturn'),{:controller => 'staff_attendances', :action => 'manage'} %></li>-->
							<%# if permitted_to? :destroy, @attendance %>
							<% permitted_to? :manage, :staffs do %>
							<!--
							<li><%#= link_to 'Staff Attendance', 	{:controller => 'staff_attendances', 	:action => 'index'} %></li>
							<li><%#= link_to 'Status', 						{:controller => 'staff_attendances', 	:action => 'status'} %></li>-->
								<li><a href="http://<%= request.host  %>:3003/staff/staff_attendances?locale=ms_MY"><%=t('attendance.list')%></a></li>
								<li><a href="http://<%= request.host  %>:3003/attendance/status"><%=t('attendance.punchcard_status')%></a></li>
								<li><%= link_to t('attendance.report_monthlylisting'),{:controller => 'staff_attendances', 	:action => 'report'} %></li>
								<li><a href="http://<%= request.host  %>:3003/staff/staff_attendances/import_excel?locale=ms_MY"><%=t('attendance.import_excel')%></a></li>
							<% end -%>
							<li><a href="http://<%= request.host  %>:3003/attendance/manage"><%=t('attendance.lateness_earlyreturn')%></a></li>
						</ul>
				</li>

				<li><%= link_to (t 'menu.staff_appraisal'), 		{:controller => 'staff_appraisals', 	:action => 'index'} %></li>

				<% permitted_to? :manage, :staffs do %>
					<li><a href="#"><%= t('menu.tasks_respons')%> ></a>
						<ul class="sub_menu">
							<li><%= link_to (t 'staff.employscheme'), {:controller => 'employgrades', :action => 'index'} %></li>
							<li><%= link_to t('postinfos.title'), {:controller => 'postinfos', :action => 'index'} %></li>
							<li><%= link_to (t 'menu.tasks_respons'), 		{:controller => 'positions', 	:action => 'index'} %></li>
						</ul>
					</li>
				<% end %>

			  <li><a href="#"><%= t('menu.leave') %> ></a>
					<ul class="sub_menu">
							<li><%= link_to (t 'menu.apply'), 				{:controller => 'leaveforstaffs', 	:action => 'new'} %></li>
							<li><%= link_to (t 'menu.list_approve'), 			{:controller => 'leaveforstaffs', 	:action => 'index'} %></li>
					</ul>
				</li>
				<li><a href="#"><%= t('menu.claims') %> ></a>
					<ul class="sub_menu">
							<li><%= link_to (t 'menu.travel_request'), 	{:controller => 'travel_requests', 	:action => 'index'} %></li>
							<li><%= link_to (t 'menu.logs'), 	    {:controller => 'travel_requests', 	:action => 'travel_log_index'} %></li>
							<li><%= link_to (t 'menu.travel_claims'), 					{:controller => 'travel_claims', 		:action => 'index'} %></li>
					</ul>
				</li>
				<li><a href="#"><%= t('menu.pro_dev') %> ></a>
					<ul class="sub_menu">
						<% permitted_to? :manage, :ptbudgets do %>
						  <li><%= link_to (t 'menu.ptbudget'), 	ptbudgets_path %> </li>
							<% end %>
						<% permitted_to? :manage, :ptcourses do %>
							<li><%= link_to (t 'menu.ptcourse'), ptcourses_path %></li>
							<% end %>
						<% permitted_to? :manage, :ptschedules do %>
							<li><%= link_to (t 'menu.ptschedule'), ptschedules_path %></li>
							<% end %>
							<li><%= link_to (t 'menu.apply_train'), 	{:controller => 'ptschedules', :action => 'apply'} %></li>
						<% permitted_to? :index, :ptdos do %>
							<li><%= link_to (t 'menu.train_status'), ptdos_path %></li>
						<% end %>
					</ul>
				</li>
				<li><%= link_to (t 'menu.status_movement'), 					{:controller => 'travel_requests', 	:action => 'index'} %></li>
				<li><a href="#"><%= t('menu.reports') %> ></a>
					<ul class="sub_menu">
							<li><%= link_to (t 'menu.maklumat_perjawatan'), 	{:controller => 'positions', 	:action => 'maklumat_perjawatan_LA', :ppp =>'1'} %></li>
							<!--<li><%#= link_to 'Maklumat Perjawatan', 	{:controller => 'positions', 	:action => 'maklumat_perjawatan_LA', :ppp =>'2'} %></li>-->
					</ul>
				</li>
			</ul>
		</li>
	<% end %><!--end for staff menu-->

	<!-- Asset Menu -->
	<% permitted_to? :menu, :assets do %>
	<li><a href="#"><%= t ('menu.assets') %></a>
		<!--link_to "Future events", events_path(:scope => "future")-->
			<ul class="sub_menu">
				<% permitted_to? :manage, :assets do %>
				<li><%= link_to (t 'menu.fix_assets'), 	assets_path(:show => "fixed") %></li>
				<li><%= link_to (t 'menu.inventory'), 			assets_path(:show => "inventory") %></li>
				<!--<li><%#= link_to 'Current Assets', 		{:controller => 'assets', 			:action => 'index'} %></li>-->
				<li><%= link_to (t 'menu.off_supplies'), 		{:controller => 'stationeries', :action => 'index'} %></li>
				<% end %>
				<li><%= link_to (t 'menu.defects'), 						{:controller => 'asset_defects', :action => 'index'} %></li>
				<% permitted_to? :manage, :asset_losses do %><!--kewpa28-->
				<li><%= link_to (t 'menu.loss_write'), 	{:controller => 'asset_losses', 	:action => 'index'} %></li>
				<% end %>
				<% permitted_to? :manage, :asset_disposals do %><!--edit-->
				<li><%= link_to (t 'menu.disposal'), {:controller => 'asset_disposals', :action => 'index'} %></li>
				<% end %>
				<li><a href="#"><%= (t 'menu.asset_loan') %> ></a>
					<ul class="sub_menu">
						<li><%= link_to (t 'menu.loan_app'), {:controller => 'assets', 	:action => 'loanables'} %></li>
						<li><%= link_to (t 'menu.asset_on_loan'), {:controller => 'asset_loans', 	:action => 'index'} %></li>
					</ul>
				</li>

				<%# permitted_to? :manage, :assets do %>
				<li><%= link_to (t 'menu.report_downloads'), {:controller => 'viewer', 	:action => 'assetreports'} %></li>
				<% permitted_to? :manage, :assets do %>
				<li><a href="http://<%= request.host  %>:3003/asset/assets"><%= t('menu.new_assets') %></a></li>
				<li><a href="http://<%= request.host  %>:3003/asset/asset_disposals?locale=en"><%= t('menu.new_asset_disposal') %></a></li>
				<li><a href="http://<%= request.host  %>:3003/asset_report"><%= t('menu.new_report_downloads') %></a></li>
				<% end %>
<!--
					<ul class="sub_menu">
						  <li><%= link_to 'KEW.PA 4', 		{:controller => 'assets', 	:action => 'kewpa4'} %></li>
							<li><%= link_to 'KEW.PA 5', 		{:controller => 'assets', 	:action => 'registerinventory'} %></li>
							<li><%= link_to 'KEW.PA 8', 		{:controller => 'assets', 	:action => 'kewpa8'} %></li>
							<li><%= link_to 'KEW.PA 11', 		{:controller => 'suppliers', 	:action => 'kewpa11'} %></li>
					</ul>

				</li>-->
				<%# end %>
			</ul>
	</li>
	<% end %>


	<!-- Locations Menu -->
	<% permitted_to? :read, :locations do %><%# permitted_to? :menu, :locations do %>
	<li><a href="#"><%= t('menu.locations') %></a>
	<ul class="sub_menu">
	<% permitted_to? :read, :locations do %>
	<!--<li><%#= link_to 'Residences', 	{:controller => 'locations', 		:action => 'index'} %></li>-->
        <li><a href="http://<%= request.host  %>:3003/campus/locations"><%= t('menu.new_location') %></a></li>
	<li><a href="#"><%= t('menu.student_residence') %> ></a>
	<ul class="sub_menu">
            <li><a href="http://<%= request.host  %>:3003/student/tenants/room_map"><%= t('menu.room_map') %></a></li>
            <li><a href="http://<%= request.host  %>:3003/student/tenants"><%= t('menu.new_student_tenants') %></a></li>
            <li><a href="http://<%= request.host  %>:3003/student/tenants/return_key"><%= t('menu.return_key') %></a></li>
            <li><a href="http://<%= request.host  %>:3003/campus/location_damages"><%= t('menu.damage_list') %></a></li>
            <li><a href="http://<%= request.host  %>:3003/student/tenants/reports"><%= t('menu.report_census') %></a></li>             
            <li><a href="http://<%= request.host  %>:3003/student/tenants/statistics"><%= t('menu.room_statistics') %></a></li>
          </ul>
        <li><a href="#"><%= t('menu.staff_residence') %> ></a>
	<ul class="sub_menu">
            <li><a href="http://<%= request.host  %>:3003/student/tenants/room_map2"><%= t('menu.room_map2') %></a></li>
            <li><a href="http://<%= request.host  %>:3003/student/tenants/index_staff?locale=en"><%= t('menu.new_staff_tenants') %></a></li>
            <li><a href="http://<%= request.host  %>:3003/student/tenants/return_key2"><%= t('menu.return_key') %></a></li>
            <li><a href="http://<%= request.host  %>:3003/campus/location_damages/index_staff?locale=en"><%= t('menu.damage_list') %></a></li>
        </ul>
	<% end %>
			  <!--
				<li><%#= link_to 'Tenants', {:controller => 'tenants', 		:action => 'index'} %></li>-->
				<!--<li><%#= link_to 'Student Leave', 			{:controller => 'leaveforstudents', 	:action => 'index'} %></li>-->
				<%# permitted_to? :read, :locations do %>
				<!--
				<li><%#= link_to 'Location Tree',			{:controller => 'locations', 		:action => 'indextree'} %></li>-->
				<%# end %>
			</ul>
	</li>
	<% end %>


	<!-- E-Filing Menu -->
	<% permitted_to? :read, :documents do %>
	<li><a href="#"><%= t('menu.e_filing') %></a>
			<ul class="sub_menu">
				<% permitted_to? :manage, :pages do %>
				<li><%= link_to (t 'menu.campus_info'), 			  {:controller => 'pages', 				:action => 'edit',  :id => 1} %></li>
				<% end %>
				<li><%= link_to (t 'menu.campus_events'), 			{:controller => 'events', 			:action => 'index'} %></li>
				<li><%= link_to (t 'menu.events_calender'), {:controller => 'events', :action => 'calendar'} %></li>
				<li><%= link_to (t 'menu.local_messaging'), 		{:controller => 'messages', 		:action => 'index'} %></li>
				<li><%= link_to (t 'menu.bulletin_board'), 	  {:controller => 'bulletins', 		:action => 'index'} %></li>
				<% permitted_to? :manage, :pages do %><!--17Jul2013-use page-->
				<!--<li><%#= link_to 'Equery/Reports', 		'/Reports' %></li>-->
				<% end %>
				<!--17Jun2013-use viewer-->
				<li><%= link_to (t 'menu.document_registry'), 	{:controller => 'documents', 		:action => 'index'} %></li>
				<li><%= link_to (t 'menu.file_registry'), 			{:controller => 'cofiles', 			:action => 'index'} %></li>
			</ul>
	</li>
	<% end %>


	<!-- Student Menu -->
	<% permitted_to? [:menu, :index], :students do %>
	<%# permitted_to? :menu, :student_discipline_cases do %>
	<li><a href="#"><%= t('menu.students') %></a>
		<ul class="sub_menu">
				<% permitted_to? :index, :students do %>
					<li><a href="#"><%= t('menu.student_info') %></a>
						<ul class="sub_menu">
							<li><%= link_to (t 'student.list'), {:controller => 'students', :action => 'index'} %></li>
							<% permitted_to? :manage, :students do %>
								 <li><a href="http://<%= request.host  %>:3003/students/import_excel?locale=ms_MY"><%=t('student.import_excel')%></a></li>
								  <li><a href="http://<%= request.host  %>:3003/students/reports?locale=en"><%= t('menu.new_ethnic_group') %></a></li>
								  <li><a href="http://<%= request.host  %>:3003/students/students_quantity_sponsor.pdf?locale=en"><%= t('menu.students_quantity_sponsor') %></a></li>
								  <li><a href="http://<%= request.host  %>:3003/students/students_quantity_report.pdf?locale=en"><%= t('menu.students_quantity_report') %></a></li>
							<% end %>
						</ul>
					</li>
				<% end %>

				<% permitted_to? :index, :leaveforstudents do %>
				<li><%= link_to (t 'menu.student_leave'), {:controller => 'leaveforstudents', 	:action => 'index'} %></li>
				<li><a href="http://<%= request.host  %>:3003/student/leaveforstudents?locale=en"><%= t('menu.new_student_leave') %></a></li>
				<% end %>

				<% permitted_to? :manage, :student_attendances do %>
				<li><%= link_to (t 'menu.attend'), 			{:controller => 'student_attendances', :action=>'index' } %></li>
				<% end %>
				<!--  Deprecated to Student_discipline_cases

								<#% permitted_to? :create, :sdiciplines do %>
								<li><#%= link_to 'Discipline', 				{:controller => 'sdiciplines', 	:action => 'index'} %></li>
								<#% end %>-->


				<% permitted_to? :create, :student_discipline_cases do %>
				<li><%= link_to (t 'menu.discipline'), 				{:controller => 'Student_discipline_cases', 	:action => 'index'} %></li>
				<% end %>


				<% permitted_to? :index, :student_counseling_sessions do %>
					<li><%= link_to (t 'menu.counselling'), 	  		{:controller => 'student_counseling_sessions', :action => 'index'} %></li>
				<% end %>
					<!--
				<%# permitted_to? :create, :student_counseling_sessions do %>
					<li><%#= link_to 'Request Counseling Session', {:controller => 'student_counseling_sessions', :action => 'new'} %></li>
				<%# end %>-->
			</ul>
	</li>
	<% end %>

	<!-- Training Menu -->
	<% permitted_to? :menu, :programmes do %>
	<li><a href="#"><%= t('menu.training') %></a>
			<ul class="sub_menu">
				<!--21March2013-have to give programme manager access to these menu without giving :manage -->
				<%## permitted_to? :index, :timetables do %>
				<%# permitted_to? :manage, :timetables do %>
				<% permitted_to? :manage, :weeklytimetables do %>
				<li><a href="#"><%= t('menu.setup') %> ></a>
					<ul class="sub_menu">
							<li><%= link_to (t 'menu.create_timetable'), {:controller => 'timetables', :action => 'index'} %></li>
							<li><%= link_to (t 'menu.create_intakes'), 					{:controller => 'intakes', 		:action => 'index'} %></li>
							<li><%= link_to (t 'menu.create_academic_session'), 					{:controller => 'academic_sessions', 		:action => 'index'} %></li>
					</ul>
				</li>
				<li><%= link_to (t 'menu.timetable_entries'),    {:controller => 'weeklytimetables', 	:action => 'index'} %></li>
				<li><%= link_to (t 'menu.curriculum_management'),    {:controller => 'programmes', 	:action => 'index'} %></li>
				<% end %>


				<% permitted_to? :manage, :topics do %>
				<li><a href="#"><%= t('menu.teaching_and_learning') %> ></a>
					<ul class="sub_menu">
							<!--26March2013-<li><%#= link_to 'Subjects', 			{:controller => 'subjects', 		:action => 'index'} %></li>-->
							<li><%= link_to (t 'menu.create_topics_details'), 				{:controller => 'topicdetails', 			:action => 'index'} %></li>
							<li><%= link_to (t 'menu.plan_report'), {:controller => 'lesson_plans', :action => 'index'} %></li>
							<!--<li><%#= link_to (t 'menu.lesson_reporting'), 	{:controller => 'lesson_plans',	:action => 'index_report'} %></li>-->
					</ul>
				</li>
				<% end %>
				<%# permitted_to? :read, :trainingnotes do %>
				<li><%= link_to (t 'menu.training_notes'),  {:controller => 'trainingnotes',	:action => 'index'} %></li>
				<%# end %>
				<% permitted_to? :personalize_index, :weeklytimetables do %>
				<li><%#= link_to (t 'menu.personalised_timetable'),  {:controller => 'timetables', :action => 'calendar'} %>
					<%= link_to (t 'menu.personalised_timetable'),  {:controller => 'weeklytimetables', :action => 'personalize_index'} %>
				</li>
				<% end %>
				<% permitted_to? :manage, :topics do %>
				<li><a href="http://<%= request.host  %>:3003/training/lesson_plans"><%= t('menu.new_lesson_plan') %></a></li>
				<li><a href="http://<%= request.host  %>:3003/training/lesson_plans/index_report"><%= t('menu.new_lesson_report') %></a></li>
				<li><a href="http://<%= request.host  %>:3003/training/trainingnotes"><%= t('menu.new_training_notes') %></a></li>
				<% end %>
			</ul>
	</li>
	<% end %>

	<!-- Examination Menu -->
	<% permitted_to? :manage, :examquestions do %>
	<li><a href="#"><%= t('menu.exams') %></a>
			<ul class="sub_menu">
				<li><%= link_to (t 'menu.exam_dev'), {:controller => 'examquestions', :action => 'index'} %></li>
				<li><%= link_to (t 'menu.exam_maker'), {:controller => 'exams', :action => 'index'} %></li>
				<li><a href="#"><%= t('menu.exam_manage') %></a>
					<ul class="sub_menu">
						<li><%= link_to t('menu.marks_exam_paper'), {:controller => 'exammarks', :action => 'index'} %></li>
						<li><%= link_to t('menu.student_grades'), {:controller => 'grades', :action => 'index'} %></li>
						<li><a href="#"><%= t('menu.exam_result') %></a>
						<ul class="sub_menu">
							<li><%= link_to t('menu.result_program'), {:controller => 'examresults', :action => 'index'} %></li>
							<li><%= link_to t('menu.exam_slip'), {:controller => 'examresults', :action => 'index2'} %></li>
						</ul></li>
					</ul>
				</li>
				<li><%= link_to t('menu.feedback_courseevaluate'), {:controller => 'evaluate_courses', :action => 'index'} %></li>
				<li><%= link_to t('menu.exam_analysis'), {:controller => 'examanalyses', :action => 'index'} %></li>
			</ul>
	</li>
	<% end %>

	<!-- Library Menu -->
	<li><a href="#"><%= t('menu.library') %></a>
			<ul class="sub_menu">
				<li><%= link_to t('menu.rules_regulations'), '/rules' %></li>
				<% permitted_to? :manage, :librarytransactions do %>
					<li><%= link_to t('menu.library_transactions'),   {:controller => 'librarytransactions', 	:action => 'index'} %></li>
					<li><a href="http://<%= request.host  %>:3003/library/librarytransactions/manager"><%= t('menu.create_library_transactions') %></a></li>
				<% end %>
				<li><%= link_to t('menu.resources'), {:controller => 'books', :action => 'index'} %></li>
				<% permitted_to? :manage, :books do %>
				    <li><a href="http://<%= request.host  %>:3003/library/books"><%= t('menu.new_resources') %></a></li>
				 <% end %>
				<% permitted_to? :manage, :librarytransactions do %>
					<!--<li><%#= link_to t('menu.analysis'), {:controller => 'viewer', 	:action => 'librarystats'} %></li>
					<li><%#= link_to '#Notifications', root_url %></li>--><!--
					<li><%#= link_to t('menu.statistics'), {:controller => 'viewer', 	:action => 'librarystats'} %></li>-->
					<li><a href="http://<%= request.host  %>:3003/library/librarytransactions/analysis_statistic?locale=en"><%= t('menu.new_analysis_statistic') %></a></li>
				<% end %>
				<% permitted_to? :manage, :books do %>
					<li><a href="http://<%= request.host  %>:3003/library/books/import_excel"><%= t('menu.import_excel') %></a></li>
				<% end %>
			</ul>
	</li>

	<!-- Administration Menu -->
	<% permitted_to? :core, :roles do %>
	<li><a href="#"><%= t('menu.admin') %></a>
			<ul class="sub_menu">
				<li><%= link_to t('menu.user_logins'),   				{:controller => 'logins', 	:action => 'index'} %></li>
				<li><%= link_to t('menu.roles'),   				{:controller => 'roles', 	:action => 'index'} %></li>
				<li><%= link_to t('menu.pages'),   				{:controller => 'pages', 	:action => 'index'} %></li>
				<li><%= link_to t('menu.address_book'),   {:controller => 'address_books', :action => 'index'} %></li>
				<li><a href="#"><%= t('menu.support_tables') %> ></a>
					<ul class="sub_menu">
							<li><%= link_to t('menu.staff_titles'), 		{:controller => 'titles', 			:action => 'index'} %></li>
							<li><%= link_to t('menu.staff_shifts'), 		{:controller => 'staff_shifts', :action => 'index'} %></li>
							<li><%= link_to t('menu.transport_groups'), {:controller => 'travel_claims_transport_groups', :action => 'index'} %></li>
							<li><%= link_to t('menu.mileage_rates'), 		{:controller => 'travel_claim_mileage_rates', :action => 'index'} %></li>
							<li><%= link_to t('menu.banks'), 						{:controller => 'banks', 				:action => 'index'} %></li>
							<!--<li><%= link_to 'Student Intakes', 	{:controller => 'intakes', 	:action => 'index'} %></li>-->
							<li><%= link_to t('menu.asset_categories'), {:controller => 'assetcategories', :action => 'index'} %></li>
					</ul>
				</li>
				<li><%= link_to t('menu.release_notes'),   '/releasenotes' %>
			</ul>
	</li>
	<% end %>
        <!--Equery Menu-->
        <li><a href="#" class="equery"><%= t('menu.equery_reports')%></a>
		<ul>
			<% if (permitted_to? :read, :staffsearch2s) || (permitted_to? :read, :staffattendancesearches) || (permitted_to? :read, :ptdosearches) %>
				<li class="sub_menu"><%= link_to (t 'menu.staff'), {:controller => 'viewer', :action => 'equeryreports', :query_module =>'1'} %></li>
			<% end %>
			<% permitted_to? :read, :assetsearches do %>
				<li class="sub_menu"><%= link_to (t 'menu.assets'), {:controller => 'viewer', :action => 'equeryreports', :query_module =>'2'} %></li>
			<% end %>
			<% permitted_to? :read, :documentsearches do %>
				<li class="sub_menu"><%= link_to (t 'menu.e_filing'), {:controller => 'viewer', :action => 'equeryreports', :query_module =>'3'} %></li>
			<% end %>
			<% if (permitted_to? :read, :studentsearches) || (permitted_to? :read, :studentattendancesearches) || (permitted_to? :read, :studentdisciplinesearches) || (permitted_to? :read, :studentcounselingsearches) %>
				<li class="sub_menu"><%= link_to (t 'menu.students'), {:controller => 'viewer', :action => 'equeryreports', :query_module =>'4'} %></li>
			<% end %>
			<% if (permitted_to? :read, :weeklytimetablesearches) || (permitted_to? :read, :curriculumsearches) || (permitted_to? :read, :lessonplansearches) || (permitted_to? :read, :personalizetimetablesearches) %>
				<li class="sub_menu"><%= link_to (t 'menu.training'), {:controller => 'viewer', :action => 'equeryreports', :query_module =>'5'} %></li>
			<% end %>
			<% if (permitted_to? :read, :examsearches) || (permitted_to? :read, :examresultsearches) || (permitted_to? :read, :evaluatecoursesearches) || (permitted_to? :read, :examanalysissearches)%>
				<li class="sub_menu"><%= link_to (t 'menu.exams'), {:controller => 'viewer', :action => 'equeryreports', :query_module =>'6'} %></li>
			<% end %>
			<li class="sub_menu"><%= link_to (t 'menu.library'), {:controller => 'viewer', :action => 'equeryreports', :query_module =>'7'} %></li>
		</u>
        <%#= link_to (t 'menu.equery_reports'), {:controller => 'viewer', 	:action => 'equeryreports'} %>
        </li>
</ul>
<% end %>

<!-- old code>
<ul>
			<#% @tabs.each do |page| -%>
			<li> <#% "id='current'" if @page && (@page == page || @page.parent == page)  %>
			     <#%if page.redirect? %>
			       <#%= link_to page.navlabel, :action => page.action_name, :controller => page.controller_name, :name => page.name, :order => page.position %>
			     <#% else %>
			       <#%= link_to page.navlabel, view_page_path(page.name) %>
			     <#% end %>
			</li>
		<#% end %>
</ul>
<-->
