<div id='notifications_nuovo'>
	<h4>Notification Area</h4>
	<p>
  	<!-- Notification for Staff Leave Application -->	
  	<% a = Leaveforstaff.count(:all, :conditions => ["approval1_id=? AND approval1 IS ?", User.current_user.staff_id, nil]) %>
  	<% b = Leaveforstaff.count(:all, :conditions => ["approval2_id=? AND approver2 IS ? AND approval1=?", User.current_user.staff_id, nil, true]) %>
  	<% dash_leave = a+b %>
  	<% if dash_leave == 0 %>
  		<% else %>
    	<%= dash_leave %> <%= link_to "Leave Application for Approval", { :controller => "leaveforstaffs", :action => "index" } %><br>
  	<% end %>
    
    <!-- Notification for Instructor Appraisal-->
    <% c = User.find(:all, :select => "id", :conditions => ['roles.id =?', 19], :include => :roles).map(&:id) %>
    <% d = User.current_user.id.to_a %>
    <% dash_ip = Instructor.count(:all, :conditions => ["qcsent =?", true]) %>

	<% if (d & c == c) && dash_ip > 0 %>
    <p><%= dash_ip %> <%= link_to "Instructor Appraisal for Check", { :controller => "instructors", :action => "index" } %></p>
    <% else %>
	<% end %>
  	
    <!-- Notification for Travel Request -->
  	<% c = Position.find(:all, :select => "positionname", :conditions => ['positions.id =?', 51]).map(&:positionname) %>
  	<% d = User.current_user.id.to_a %>
  	<% dash_lfs = Travelrequest.count(:all, :conditions => ["hod_id =? AND hod_approved IS ?", 51, nil]) %>

  	<% if (d & c == c) && dash_lfs > 0 %>
  	<p><%= dash_lfs %> <%= link_to "New Travel Request for approval", { :controller => "travelrequests", :action => "index" } %></p>
  	<% else %>
	<% end %>

	<!-- Notification for Messages -->
  	<% dash_messages = Message.count(:all, :include => :staffs, :conditions => ['staff_id =? AND messages.created_at > ?' , User.current_user.staff_id, DateTime.now - 1.day]) %>
  	<% if dash_messages == 0 %>

  	<% else %>
    <%= dash_messages %> <%= link_to "new messages", { :controller => "messages", :action => "index" } %><br>
  	<% end %>

 	<!--Notification for Staff BookingVehicle -->
	<% a = Bookingvehicle.count(:all, :conditions => ["endorse_name=? AND endorsed IS ?", User.current_user.staff_id, nil]) %>
	<% b = Bookingvehicle.count(:all, :conditions => ["approver_name=? AND approved IS ? AND endorsed=?", User.current_user.staff_id, nil, 1]) %>
	<% dash_booking = a+b %>
  	<% if dash_booking == 0 %>
  		<% else %>
    	<%= dash_booking %> <%= link_to "Booking Vehicle for Approval", { :controller => "bookingvehicles", :action => "index" } %><br>
  	<% end %>

	<!-- Notification for Student Discipline -->
	<% a = Sdicipline.count(:all, :conditions => ["warden_id=? AND status=?", User.current_user.staff_id, "New"]) %>
	<% b = Sdicipline.count(:all, :conditions => ["status=? AND action IS ? AND closedtcollege IS ? ", "Refer to Mentor", nil, nil]) %>
	<% c = Sdicipline.count(:all, :conditions => ["caunsellor_id=? AND status=? AND action IS ? AND closedtcollege IS ? ",User.current_user.staff_id, "Refer to Counsellor", nil, nil]) %>
	<% d = Sdicipline.count(:all, :conditions => ["commandant_id=? AND status=? AND jtkpdecision IS ? AND jtkpdescisionrxdt IS ? AND closedtcollege IS ? ",User.current_user.staff_id,  
	                                              "Refer to Komandan", nil, nil,nil]) %>
	<% dash_dicipline = a+b+c+d %>
	<% if dash_dicipline == 0 %>
	  	<% else %>
	    	<%= dash_dicipline %> <%= link_to "Student Discipline To Take Action", { :controller => "sdiciplines", :action => "index" } %><br>
	<% end %>
	
	<!-- Notification for Staff Apply Stock -->
	<% a = Stock.count(:all, :conditions => ["approver_id=? AND status=?", User.current_user.staff_id, 1]) %>
	<% b = Stock.count(:all, :conditions => ["storeman_id=? AND status=?", User.current_user.staff_id, 2]) %>
	<% c = Stock.count(:all, :conditions => ["staff_id=? AND status=?", User.current_user.staff_id, 4]) %>
	<% dash_stock = a+b+c %>
  	<% if dash_stock == 0 %>
  		<% else %>
    	<%= dash_stock %> <%= link_to "New Stationery Application for Approval", { :controller => "stocks", :action => "index" } %><br>
  	<% end %>
  
	<!-- Notification for Staff Late Approval -->
  	<% dash_attendance = Attendance.count(:all, :conditions => ["approve_id=? AND approvestatus IS ?", User.current_user.staff_id, nil]) %>
  	<% if dash_attendance == 0 %>
    <p>
  	<% else %>
    <%= dash_attendance %> <%= link_to "late attendance for approval", { :controller => "attendances", :action => "index" } %><br>
  	<% end %>

  	<!-- Notification for Student Leave Approval -->
  	<% c = User.find(:all, :select => "id", :conditions => ['roles.id =?', 21], :include => :roles).map(&:id) %>
  	<% d = User.current_user.id.to_a %>
  	<% dash_lfs = Leaveforstudent.count(:all, :conditions => ["studentsubmit =? AND approved IS ?", true, nil]) %>
  
  	<% if (d & c == c) && dash_lfs > 0 %>
  	<p><%= dash_lfs %> <%= link_to "student leave request for approval", { :controller => "leaveforstudents", :action => "index" } %></p>
  	<% else %>
	<% end %>
	
	<!-- Notification for Reservation Facilities -->
	<% a = Bookingfacility.count(:all, :conditions => ["approver_id=? AND approval IS ?", User.current_user.staff_id, nil]) %>
	<% b = Bookingfacility.count(:all, :conditions => ["facility_officer=? AND approver2 IS ? AND approval=?", User.current_user.staff_id, nil, TRUE ]) %>
	<% dash_facility = a+b %>
  	<% if dash_facility == 0 %>
    
  	<% else %>
    <%= dash_facility %> <%= link_to "New Facilities Reservation for Approval", { :controller => "bookingfacilities", :action => "index" } %><br>
  	<% end %>
  
 	<!-- Notification for Staff Training -->
  	<% a = Ptdo.count(:all, :conditions => ["approver_1=? AND unit_approve IS ?", User.current_user.staff_id, nil]) %>
  	<% b = Ptdo.count(:all, :conditions => ["approver_2=? AND dept_approve IS ? AND unit_approve=?", User.current_user.staff_id, nil, true]) %>
  	<% dash_training = a+b %>
  	<% if dash_training == 0 %>
	  <% else %>
	<%= dash_training %> <%= link_to "Staff Training for Approval", { :controller => "ptdos", :action => "index" } %><br>
  	<% end %>
	
	<!-- Notification for New User -->
	<% permitted_to? :manage, :users do %>
		<% users_wo_roles = User.count(:all, :select => "id", :conditions => ["student_id=? AND staff_id IS ?", nil, nil]) %>
		<% if users_wo_roles == 0 %>
		<% else %>
			<% users_wo_roles %> <% link_to "New Users", users_path %><br>
		<% end %>
	<% end %>
	
	<!-- Notification for Documents-->
	<% mydocs = Document.count(:all, :conditions => ["cc1staff_id=? AND cc1action IS ? ", User.current_user.staff_id, nil]) %>
  	<% if mydocs > 0 %>
  	<%= mydocs %> <%= link_to "New Documents for Your Attention", { :controller => "documents", :action => "index" } %><br>
  	<% else %>
	<% end %>
	
	<!-- Notification for Documents-->
	<% my_docs = Document.count(:all, :include => :staffs, :conditions => ['staff_id =? AND documents.cc2action IS ?' , User.current_user.staff_id, nil]) %>
  	<% if my_docs > 0 %>
  	<%= mydocs %> <%= link_to "New Documents for Your Attention", { :controller => "documents", :action => "index" } %><br>
  	<% else %>
	<% end %>
	
	<!-- Notification for Documents (CC2 Staff)-->
	<% mydocs1 = Document.count(:all, :conditions => ["cc1staff_id=? AND feedback_sent =? ", User.current_user.staff_id, true]) %>
    <% if mydocs1 > 0 %>
  	<%= mydocs1 %> <%= link_to "New Feedback Document Received ", { :controller => "documents", :action => "index" } %><br>
    <% else %>
	<% end %>

 	<!-- Notification for Topic/Lesson Plan -->
  	<% dash_topic = Topic.count(:all, :conditions =>  ["approvedby_id=? AND approved_date IS ?", 57, nil]) %>
  	<% if dash_topic == 0 %>

  	<% else %>
    <%= dash_topic %> <%= link_to "New Lesson Plan for Approval", { :controller => "topics", :action => "index" } %><br>
  	<% end %>

	
	<!-- Notification for Question Bank -->
  	<% c = User.find(:all, :select => "id", :conditions => ['roles.id =?', 19], :include => :roles).map(&:id) %>
  	<% d = User.current_user.id.to_a %>
  	<% dash_qb = Examquestion.count(:all, :conditions => ["bplsent =? AND approver_id IS ?", true, nil]) %>
 
	<% if (d & c == c) && dash_qb > 0 %>
  	<p><%= dash_qb %> <%= link_to "Exam Question for Approval", { :controller => "examquestions", :action => "index" } %></p>
  	<% else %>
	<% end %>
		
	<!-- Overdue Library Books for Staff -->
	<% latestaff = Librarytransaction.count(:all, :conditions => ["staff_id=? AND returnduedate < ? AND returneddate IS ?", User.current_user.staff_id, Time.now, nil]) %>
	<% if latestaff > 0 %>
	   <%= latestaff %> <%= link_to "OverDue Book For Your Attentions", { :controller => "librarytransactions", :action => "index" } %><br>
	<% else %>
	<% end %>
  
	
</p>
	
</div>