<div id='notifications_nuovo'>
	<h4>Notification Area</h4>
	<p>
	<!-- Notification for Staff Leave Application -->
  <% a = Leaveforstaff.count(:all, :conditions => ["approval1_id=? AND approval1 IS ?", User.current_user.staff_id, nil]) %>
  <% b = Leaveforstaff.count(:all, :conditions => ["approval2_id=? AND approver2 IS ? AND approval1=?", User.current_user.staff_id, nil, true]) %>
  <% dash_leave = a+b %>
  <% if dash_leave == 0 %>
  <% else %>
    <%= dash_leave %> <%= link_to "leave application for approval", { :controller => "leaveforstaffs", :action => "index" } %><br>
  <% end %>

	<!-- Notification for Staff Leave is approved -->
	<% asl = Leaveforstaff.find(:all, :select => "leavestartdate", :conditions => ['staff_id=? AND approval1 =? AND approver2 =? AND leavestartdate >?', User.current_user.staff_id, true, true, DateTime.now]).map(&:leavestartdate) %>
	<% if asl.size > 0 %>
		<p><%= link_to "Your leave request for #{asl} has been Approved", { :controller => "leaveforstaffs", :action => "index" } %></p>
	<% end %>
	
	
	<!-- Notification for travel request -->
	<% trvlreqst = TravelRequest.count(:all, :conditions => ['hod_id = ? AND is_submitted = ? AND hod_accept = ?', User.current_user.staff_id, true, false]) %>
	<% if trvlreqst > 0 %>
		<p><%= link_to "#{trvlreqst} travel request that requires your approval", { :controller => "travel_requests", :action => "index" } %></p>
	<% end %>

	<!-- Notification for Messages -->
  <% dash_messages = Message.count(:all, :include => :staffs, :conditions => ['staff_id =? AND messages.created_at > ?' , User.current_user.staff_id, DateTime.now - 1.day]) %>
  <% if dash_messages == 0 %>
    
  <% else %>
    <%= dash_messages %> <%= link_to "new messages", { :controller => "messages", :action => "index" } %><br>
  <% end %>




  <!-- Notification for Staff Late Approval -->
  <% dash_attendance = Attendance.count(:all, :conditions => ["approve_id=? AND approvestatus IS ?", User.current_user.staff_id, nil]) %>
  <% if dash_attendance == 0 %>
    <p>
  <% else %>
    <%= dash_attendance %> <%= link_to "late attendance for approval", { :controller => "attendances", :action => "index" } %><br>
  <% end %>

  <!-- Notification for Student Leave Approval -->
  <% c = User.find(:all, :select => "id", :conditions => ['roles.id =?', 7], :include => :roles).map(&:id) %>
  <% d = Array(User.current_user.id) %>
  <% dash_lfs = Leaveforstudent.count(:all, :conditions => ["studentsubmit =? AND approved IS ?", true, nil]) %>
  
  <% if (d & c == d) && dash_lfs > 0 %>
  <p><%= dash_lfs %> <%= link_to "Student leave request for approval", { :controller => "leaveforstudents", :action => "index" } %></p>
  <% else %>
	<% end %>
	
	<!-- Notification for Documents-->
	<!-- Case for CC1 -->
	<% mycc1docs = Document.count(:all, :conditions => ["cc1staff_id=? AND cc1closed IS ?", User.current_user.staff_id, nil]) %>
	<% mycc2docs = Document.count(:all, :conditions => ["cc2staff_id=? AND cc2closed IS ?", User.current_user.staff_id, nil]) %>
	<% mydocs = mycc1docs + mycc2docs %>
  <% if mydocs > 0 %>
  	<%= mydocs %> <%= link_to "New documents for your attention", { :controller => "documents", :action => "index" } %><br>
  <% else %>
	<% end %>
	
	
	<!-- Notification for Students Leave is approved -->
	<% al = Leaveforstudent.find(:all, :select => "leave_startdate", :conditions => ['student_id=? AND approved =? AND leave_startdate >?', User.current_user.student_id, true, DateTime.now]).map(&:leave_startdate) %>
	<% alc = Leaveforstudent.count(:all, :select => "leave_startdate", :conditions => ['student_id=? AND approved =? AND leave_startdate >?', User.current_user.student_id, true, DateTime.now]) %>
	<% if alc > 0 %>
		<p><%= link_to "Your leave request on #{al} has been Approved", { :controller => "leaveforstudents", :action => "index" } %></p>
	<% end %>
	
	<!-- Notification for Students Dicsipline is approved -->
	<% cases = StudentDisciplineCase.count(:all, :conditions => ['status =?', "New"]) %>
		<% if cases == 0 %>
		<% else %>
			<%= cases %> <%= link_to "New student discipline cases", student_discipline_cases_path %><br>
		<% end %>
	
	<!-- Notification for Topic Approval -->
	<% topic_need_approve = Topic.count(:all, :conditions => ['approvedby_id=? AND approved =?', User.current_user.staff_id, false]) %>
		<% if topic_need_approve == 0 %>
		<% else %>
			<%= topic_need_approve %> <%= link_to "Lesson plan topics need your approval", topics_path %><br>
		<% end %>
		
	<!-- Notification for Training Plan Report-->
	<% report_need_comment = Trainingreport.count(:all, :conditions => ['tpa_id=? AND tpa_comment IS ?', User.current_user.staff_id, nil]) %>
		<% if report_need_comment == 0 %>
		<% else %>
			<%= report_need_comment %> <%= link_to "Lesson Plan Reports for your comment", trainingreports_path %><br>
		<% end %>
	
	
	
	
	<!-- Notification for New User -->
	<% permitted_to? :manage, :users do %>
		<% users_wo_roles = User.count(:all, :select => "id", :conditions => ["student_id IS? AND staff_id IS ?", nil, nil]) %>
		<% if users_wo_roles == 0 %>
		<% else %>
			<%= users_wo_roles %> <%= link_to "New users require authentication", users_path %><br>
		<% end %>
	<% end %>
	

	
	
	<!-- Overdue Library Books for Staff -->
	<% latestaff = Librarytransaction.count(:all, :conditions => ["staff_id=? AND returnduedate < ? AND returneddate IS ?", User.current_user.staff_id, Time.now, nil]) %>
	<% if latestaff > 0 %>
	   <%= latestaff %> <%= link_to "Late Books at the library", { :controller => "librarytransactions", :action => "index" } %><br>
	<% else %>
	<% end %>
  
	
	
	
	

	
</p>
	
</div>