<div class="box">
<!-- Box Head -->
  <div class="box-head">
    <h2 class="left">KEW PA Download / Link List</h2>
  </div>
</div>

<div class="indextable">
	<table width=100% border="0" cellpadding="0" cellspacing="0">
		<tr>
		  <th>Name</th>
		  <th>Description</th>
		  <th>Type</th>
		</tr>
		
		<tr>
			<td>KEW.PA-1</td>
			<td>Borang Laporan Penerimaan Aset Alih Kerajaan</td>
			<td><a href='assets/kewpas/KEWPA01.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-2</td>
			<td>Daftar Harta Modal</td>
			<td><% permitted_to? :manage, :assets do %><%= link_to 'Link', 			{:controller => 'assets', 			:action => 'index'} %> |<% end %> 			
				 	<a href='assets/kewpas/kewpa2.pdf'>PDF-page 1</a> <a href='assets/kewpas/kewpa2b.pdf'>PDF-page 2</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-3</td>
			<td>Daftar Inventori</td>
			<td><% permitted_to? :manage, :assets do %><%= link_to 'Link', 			{:controller => 'assets', 			:action => 'index'} %> |<% end %> 			
				 	<a href='assets/kewpas/kewpa3.pdf'>PDF</a>
				</td>
		</tr>
		
		<tr>
			<td>KEW.PA-4</td>
			<td>Senarai Daftar Harta Modal</td>
			<td>
				<% permitted_to? :manage, :assets do %>
					<%= link_to 'ALL', {:controller => 'assets', 	:action => 'kewpa4'}  %>, 
					<% yeartab = Asset.find(:all, :select => :assetcode).map(&:assetcode).map{|d| d.split("/")[4]}.uniq %>
					<% yeartab.each do |yeartab| %>
					    <%= link_to "20#{yeartab}", :controller => 'assets', :action => "kewpa4", :search => "#{yeartab}" %>, 
					<% end %>
				|<% end %> 			
				<a href='assets/kewpas/kewpa4.pdf'>PDF</a>
						
						</td>
		</tr>
		
		<tr>
			<td>KEW.PA-5</td>
			<td>Senarai Daftar Inventori</td>
			<td>
				<% permitted_to? :manage, :assets do %>
					<%= link_to 'ALL', {:controller => 'assets', 	:action => 'registerinventory'}  %>, 
					<% yeartab = Asset.find(:all, :select => :assetcode).map(&:assetcode).map{|d| d.split("/")[4]}.uniq %>
					<% yeartab.each do |yeartab| %>
						 <%= link_to "20#{yeartab}", :controller => 'assets', :action => "registerinventory", :search => "#{yeartab}" %>, 
					<% end %>
				|<% end %> 			
				<a href='assets/kewpas/kewpa5.pdf'>PDF</a>
					
						</td>
		</tr>
		
		<tr>
			<td>KEW.PA-6</td>
			<td>Daftar Pergerakan Daftar Harta Modal dan Inventori</td>
			<td><a href='assets/kewpas/kewpa06.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-7</td>
			<td>Senarai Aset Alih Kerajaan (mengikut lokasi)</td>
			<td><% permitted_to? :manage, :assets do %><%= link_to 'Link', 		{:controller => 'locations', 	:action => 'index'} %> |<% end %> 			
				 	<a href='assets/kewpas/kewpa7.pdf'>PDF</a>
				</td>
		</tr>
		
		<tr>
			<td>KEW.PA-8</td>
			<td>Laporan Tahunan Harta Modal Dan Inventori Bagi Tahun .........</td>
			<td><% permitted_to? :manage, :assets do %><%= link_to 'Link', 		{:controller => 'assets', 	:action => 'kewpa8'} %> |<% end %> 			
				 	<a href='assets/kewpas/kewpa8.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-9</td>
			<td>Borang Aduan Kerosakan Aset Alih Kerajaan</td>
			<td><% permitted_to? :manage, :assets do %><%= link_to 'Link', 		{:controller => 'asset_defects', 	:action => 'index'} %> |<% end %> 			
				 	<a href='assets/kewpas/kewpa9.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-10</td>
			<td>Laporan Pemeriksaan Harta Modal</td>
			<td><a href='assets/kewpas/kewpa10.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-11</td>
			<td>Laporan Pemeriksaan Inventori</td>
			<td><a href='assets/kewpas/kewpa11.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-12</td>
			<td>Sijil Tahunan Pemeriksaan Harta Modal & Inventori</td>
			<td><a href='assets/kewpas/kewpa12.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-13</td>
			<td>Senarai Aset Alih Kerajaan yang Memerlukan Penyelenggaraan</td>
			<td><% permitted_to? :manage, :assets do %><%= link_to 'Link', 		{:controller => 'assets', 	:action => 'kewpa13'} %> |<% end %> 			
				 	<a href='assets/kewpas/kewpa13.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-14</td>
			<td>Daftar Penyelenggaraan Harta Modal</td>
			<td><% permitted_to? :manage, :assets do %><%= link_to 'Link', 		{:controller => 'assets', 	:action => 'index', :show => 'maintainable'} %> |<% end %> 			
				 	<a href='assets/kewpas/kewpa14.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-15</td>
			<td>Lantikan sebagai Pemeriksa Pelupusan Aset Alih Kerajaan</td>
			<td><% permitted_to? :manage, :assets do %>TODO LINK|<% end %> 			
				 	<a href='assets/kewpas/kewpa15.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-16</td>
			<td>Daftar Penyelenggaraan Harta Modal</td>
			<td><% permitted_to? :manage, :assets do %><%= link_to 'Link', 		{:controller => 'asset_defects', 	:action => 'index'} %> |<% end %> 			
				 	<a href='assets/kewpas/kewpa16.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-17</td>
			<td>Laporan Lembaga Pemeriksa Aset Alih Kerajaan</td>
			<td><% permitted_to? :manage, :assets do %><%= link_to 'Link', 		{:controller => 'asset_disposals', 	:action => 'kewpa17'} %> |<% end %> 			
				 	<a href='assets/kewpas/kewpa17.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-18</td>
			<td>Sijil Penyaksian Pemusnahan Aset Alih Kerajaan </td>
			<td><% permitted_to? :manage, :assets do %><%= link_to 'Link', 		{:controller => 'asset_disposals', 	:action => 'index'} %> |<% end %> 			
				 	<a href='assets/kewpas/kewpa18.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-19</td>
			<td>Sijil Pelupusan Pemusnahan Aset Alih Kerajaan </td>
			<td><% permitted_to? :manage, :assets do %><%= link_to 'Link', 		{:controller => 'asset_disposals', 	:action => 'index'} %> |<% end %> 			
				 	<a href='assets/kewpas/kewpa18.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-20</td>
			<td>Laporan Tahunan Pemusnahan Aset Alih Kerajaan </td>
			<td><% permitted_to? :manage, :assets do %><%= link_to 'Link', 		{:controller => 'asset_disposals', 	:action => 'kewpa20'} %> |<% end %> 			
				 	<a href='assets/kewpas/kewpa20.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-21</td>
			<td>Kenyataan Tawaran Tender Pelupusan Aset Alih Kerajaan</td>
			<td><a href='assets/kewpas/kewpa21.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-22</td>
			<td>Borang Tender Pelupusan Aset Alih Kerajaan</td>
			<td><a href='assets/kewpas/kewpa22.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-23</td>
			<td>Jadual Tender Pelupusan Aset Alih Kerajaan</td>
			<td><a href='assets/kewpas/kewpa23.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-24</td>
			<td>Kenyataan Tawaran Sebutharga Pelupusan Aset Alih Kerajaan</td>
			<td><a href='assets/kewpas/kewpa24.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-25</td>
			<td>Borang Sebutharga Pelupusan Aset Alih Kerajaan</td>
			<td><a href='assets/kewpas/kewpa25.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-26</td>
			<td>Jadual Sebutharga Pelupusan Aset Alih Kerajaan</td>
			<td><a href='assets/kewpas/kewpa26.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-27</td>
			<td>Kenyataan Jualan Lelong Aset Alih Kerajaan</td>
			<td><a href='assets/kewpas/kewpa27.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-27(A)</td>
			<td>Senarai Aset Yang Dilelong</td>
			<td><a href='assets/kewpas/kewpa27a.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-28</td>
			<td>Laporan Awal Kehilangan Aset Alih Kerajaan</td>
			<td><% permitted_to? :manage, :assets do %><%= link_to 'Link', 		{:controller => 'asset_losses', 	:action => 'index'} %> |<% end %> 			
				 	<a href='assets/kewpas/kewpa28.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-29</td>
			<td>Perlantikan Jawatankuasa Penyiasat Kehilangan Aset Alih Kerajaan</td>
			<td><% permitted_to? :manage, :assets do %><% link_to 'Link', 		{:controller => 'asset_loses', 	:action => 'kewpa29'} %>TODO KEWPA 29 |<% end %><a href='assets/kewpas/kewpa29.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-30</td>
			<td>Laporan Akhir Kehilangan Aset Alih Kerajaan</td>
			<td><% permitted_to? :manage, :assets do %><%= link_to 'Link', 		{:controller => 'asset_losses', 	:action => 'index'} %> |<% end%>	<a href='assets/kewpas/kewpa28.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-31</td>
			<td>Sijil Hapus Kira Aset Alih Kerajaan</td>
			<td><% permitted_to? :manage, :assets do %><%= link_to 'Link', 		{:controller => 'asset_losses', 	:action => 'index'} %> |<% end%><a href='assets/kewpas/kewpa31.pdf'>PDF</a></td>
		</tr>
		
		<tr>
			<td>KEW.PA-32</td>
			<td>Laporan Tindakan Surcaj/Tatatertib Aset Alih Kerajaan</td>
			<td><a href='assets/kewpas/kewpa32.pdf'>PDF</a></td>
		</tr>
		
		
	</table>
</div>