<div class="box">
<!-- Box Head -->
  <div class="box-head">
    <h2 class="left">Electronic Query & Report Manager</h2>
  </div>
</div>

<div class="indextable">
	<table width=100% border="0" cellpadding="0" cellspacing="0">
		<tr>
			<th>No</td>
		  	<th>Report</th>
		  	<th>Advance Search</th>
		</tr>
		<tr><td colspan=4 style="background-color:#EFF1F1;"><BR><span style="color:#218AFB;font-weight:bold;">
			Module : Staff</span></td></tr>
		<tr>
			<td>1</td>
			<td><%= link_to 'Maklumat Perjawatan', {:controller => 'positions',:action => 'maklumat_perjawatan_LA'}  %></td>
			<td><%= link_to 'Advance Search', {:controller => 'staffsearch2s',:action => 'new'}  %></td>
		</tr>
		<tr>
			<td>2</td>
			<td><%= link_to 'Staff Attendance - Status Punch Card', {:controller => 'staff_attendances', 	:action => 'status'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'staff_attendances', 	:action => 'report'} %></td>
		</tr>
		<tr><td colspan=4 style="background-color:#EFF1F1;"><BR><span style="color:#218AFB;font-weight:bold;">
			Module : Asset</span></td></tr>
		<tr>		
		<tr>
			<td>3</td><% @searchtype=1 %>
			<td><%= link_to 'KEW.PA-2 (Daftar Harta Modal)', {:controller => 'assets', :action => 'index',:show => "fixed"} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>

		<tr>
			<td>4</td>
			<td><%= link_to 'KEW.PA-3 (Daftar Inventori)', {:controller => 'assets', :action => 'index',:show => "inventory"} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td>5</td><% @searchtype=2 %>
			<td><%= link_to 'KEW.PA-4 (Senarai Daftar Harta Modal)', {:controller => 'assets', :action => 'kewpa4'} %> 
				<% yeartab = Asset.find(:all, :select => :assetcode).map(&:assetcode).map{|d| d.split("/")[4]}.uniq %>
				<% yeartab.each do |yeartab| %>
				    | <%= link_to "20#{yeartab}", :controller => 'assets', :action => "kewpa4", :search => "#{yeartab}" %>
				<% end %>
			</td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td>6</td><% @searchtype=3 %>
			<td><%= link_to 'KEW.PA-5 (Senarai Daftar Inventori)', {:controller => 'assets', :action => 'registerinventory'} %> 
				<% yeartab = Asset.find(:all, :select => :assetcode).map(&:assetcode).map{|d| d.split("/")[4]}.uniq %>
				<% yeartab.each do |yeartab| %>
				    | <%= link_to "20#{yeartab}", :controller => 'assets', :action => "registerinventory", :search => "#{yeartab}" %>
				<% end %>
			</td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td>7</td><% @searchtype=4 %>
			<td><%= link_to 'KEW.PA-6 (Daftar Pergerakan Daftar Harta Modal dan Inventori)', {:controller => 'assets', 	:action => 'index'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td>8</td><% @searchtype=5 %>
			<td><%= link_to 'KEW.PA-7 (Senarai Aset Alih Kerajaan (mengikut lokasi))', {:controller => 'locations', 	:action => 'index'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td>9</td><% @searchtype=6 %>
			<td><%= link_to 'KEW.PA-8 (Laporan Tahunan Harta Modal Dan Inventori Bagi Tahun .........)', {:controller => 'assets', 	:action => 'kewpa8'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td>10</td><% @searchtype=7 %>
			<td><%= link_to 'KEW.PA-9 (Borang Aduan Kerosakan Aset Alih Kerajaan)',{:controller => 'asset_defects', :action => 'index'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td>11</td><% @searchtype=8 %>
			<td><%= link_to 'KEW.PA-13 (Senarai Aset Alih Kerajaan yang Memerlukan Penyelenggaraan)',	{:controller => 'assets', 	:action => 'kewpa13'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td>11</td><% @searchtype=9 %>
			<td><%= link_to 'KEW.PA-14 (Daftar Penyelenggaraan Harta Modal)',{:controller=>'assets',:action=>'index',:show => 'maintainable'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr><!--
		<tr>
			<td>12</td>
			<td>KEW.PA-15 (Lantikan sebagai Pemeriksa Pelupusan Aset Alih Kerajaan)</td>
			<td>Advance Search</td>
		</tr>-->
		<tr>
			<td>12</td><% @searchtype=10 %>
			<td><%= link_to 'KEW.PA-16 (Perakuan Pelupusan (PEP) Aset Alih Kerajaan)',{:controller => 'asset_disposals', :action => 'index'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td>13</td><% @searchtype=11 %>
			<td><%= link_to 'KEW.PA-17 (Laporan Lembaga Pemeriksa Aset Alih Kerajaan)',	{:controller => 'asset_disposals', 	:action => 'kewpa17'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td>14</td><% @searchtype=12 %>
			<td><%= link_to 'KEW.PA-18 (Sijil Penyaksian Pemusnahan Aset Alih Kerajaan)',{:controller => 'asset_disposals', 	:action => 'index'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td>15</td><% @searchtype=13 %>
			<td><%= link_to 'KEW.PA-19 (Sijil Pelupusan Pemusnahan Aset Alih Kerajaan)',{:controller => 'asset_disposals',:action => 'index'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td>16</td><% @searchtype=14 %>
			<td><%= link_to 'KEW.PA-20 (Laporan Tahunan Pemusnahan Aset Alih Kerajaan)',{:controller => 'asset_disposals',:action => 'kewpa20'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td>18</td><% @searchtype=15 %>
			<td><%= link_to 'KEW.PA-28 (Laporan Awal Kehilangan Aset Alih Kerajaan)',{:controller => 'asset_losses',:action => 'index'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<!--
		<tr>
			<td>19</td>
			<td>KEW.PA-29 (Perlantikan Jawatankuasa Penyiasat Kehilangan Aset Alih Kerajaan) </td>
			<td>Advance Search</td>
		</tr>-->
		<tr>
			<td>19</td><% @searchtype=16 %>
			<td><%= link_to 'KEW.PA-30 (Laporan Akhir Kehilangan Aset Alih Kerajaan)',	{:controller => 'asset_losses', :action => 'index'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td>20</td><% @searchtype=17 %>
			<td><%= link_to 'KEW.PA-31 (Sijil Hapus Kira Aset Alih Kerajaan)',	{:controller => 'asset_losses', :action => 'index'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr><td colspan=4 style="background-color:#EFF1F1;"><BR><span style="color:#218AFB;font-weight:bold;">
			Module : E-Filling</span></td></tr>
		<tr>
			<td>21</td><% @searchdoctype=1 %>
			<td><%= link_to 'Document Registry', {:controller => 'documents', 	:action => 'index'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'documentsearches', 	:action => 'new', :searchdoctype=>@searchdoctype} %></td>
		</tr>
		<tr><td colspan=4 style="background-color:#EFF1F1;"><BR><span style="color:#218AFB;font-weight:bold;">
			Module : Student</span></td></tr>
		<tr>
			<td>22</td><% @searchstudenttype=1 %>
			<td><%= link_to 'Borang Maklumat Pelatih', {:controller => 'students',:action => 'index'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'studentsearches', 	:action => 'new', :searchstudenttype=>@searchstudenttype} %></td>
		</tr>
		<tr>
			<td>23</td><% @searchstudentattendancetype=1 %>
			<td><%= link_to 'Borang Kehadiran Pelatih', {:controller => 'student_attendances',:action => 'index'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'studentattendancesearches', 	:action => 'new', :searchstudentattendancetype=>@searchstudentattendancetype} %></td>
		</tr>
		<tr>
			<td>24</td><%@searchstudentdisciplinetype=1%>
			<td><%= link_to 'Student Discipline Cases (Feedback from Counselor)', {:controller => 'student_discipline_cases',:action => 'index'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'studentdisciplinesearches', 	:action => 'new', :searchstudentdisciplinetype=>@searchstudentdisciplinetype} %></td>
		</tr>
		<tr>
			<td>25</td><%=@searchstudentcounselingtype=1%>
			<td><%= link_to 'Student Counseling Session (Feedback to Referrer/TPHEP)', {:controller => 'student_counseling_sessions',:action => 'index'} %></td>
			<td><%= link_to 'Advance Search', {:controller => 'studentcounselingsearches', 	:action => 'new', :searchstudentcounselingtype=>@searchstudentcounselingtype} %></td>
		</tr>	
		<tr><td colspan=4 style="background-color:#EFF1F1;"><BR><span style="color:#218AFB;font-weight:bold;">
			Module : Training</span></td></tr>
		<tr>
			<td>26</td><%=@searchweeklytimetabletype=1%>
			<td><%= link_to 'Weekly Timetables', {:controller => 'weeklytimetables',:action => 'index'}  %></td>
			<td><%= link_to 'Advance Search', {:controller => 'weeklytimetablesearches', 	:action => 'new', :searchweeklytimetabletype=>@searchweeklytimetabletype} %></td>
		</tr>
		<tr>
			<td>27</td><%=@searchcurriculumtype=1 %>
			<td><%= link_to 'Curriculum Management', {:controller => 'programmes',:action => 'index'}  %></td>
			<td><%= link_to 'Advance Search', {:controller => 'curriculumsearches', :action => 'new', :searchcurriculumtype =>@searchcurriculumtype } %></td>
		</tr>
		<tr>
			<td>28</td><%=@searchlessonplantype=1%>
			<td>
				<%= link_to 'Lesson Plans', {:controller => 'lesson_plans',:action => 'index'}  %> /
				<%= link_to 'Lesson Plan Reporting', {:controller => 'lesson_plans',:action => 'index_report'}  %>
			</td>
			<td><%= link_to 'Advance Search', {:controller => 'lessonplansearches', 	:action => 'new', :searchlessonplantype=>@searchlessonplantype} %></td>
		</tr><!--
		<tr>
			<td>29</td>
			<td></td>
			<td></td>
		</tr>		
		<tr>
			<td>30</td>
			<td><%#= link_to 'Training Notes', {:controller => 'trainingnotes',:action => 'index'}  %></td>
			<td>Advance Search (by programme, by lecturer, by year/semester,intake)</td>
		</tr>-->
		<tr>
			<td>29</td><%=@searchpersonalizetimetabletype=1%>
			<td><%= link_to 'Personalize Weekly Timetables', {:controller => 'weeklytimetables',:action => 'personalize_index'}  %></td>
			<td><%= link_to 'Advance Search', {:controller => 'personalizetimetablesearches', 	:action => 'new', :searchpersonalizetimetabletype=>@searchpersonalizetimetabletype} %></td>
		</tr>
		<tr><td colspan=4 style="background-color:#EFF1F1;"><BR><span style="color:#218AFB;font-weight:bold;">
			Module : Examination</span></td></tr>
		<!--	
		<tr>
			<td>31</td>
			<td><%#= link_to 'Examination Development', {:controller => 'examquestions',:action => 'index'}  %></td>
			<td>Advance Search (by programme, by lecturer(creator), by year/semester,by topic,by question type,by subject)</td>
		</tr>-->			
		<tr>
			<td>30</td><%=@searchexamtype=1%>
			<td><%= link_to 'Examination Maker', {:controller => 'exams',:action => 'index'}  %></td>
			<td><%= link_to 'Advance Search', {:controller => 'examsearches', 	:action => 'new', :searchexamtype=>@searchexamtype} %>(by programme,  by year/semester,by subject)</td>
		</tr>	
		<tr>
			<td>31</td>
			<td><%= link_to 'Examination Result by Programme ', {:controller => 'examresults',:action => 'index'}  %> |
				<%= link_to 'Examination Slip by Programme ', {:controller => 'examresults',:action => 'index2'}  %></td>
			<td>Advance Search (by programme,  by year/semester,by subject,by student)</td>
		</tr>	
		<tr>
			<td>32</td>
			<td><%= link_to 'Feedback / Course Evaluation', {:controller =>'evaluate_courses',:action => 'index'}  %> 
			<td>Advance Search (by programme, by lecturer)</td>
		</tr>
		<tr>
			<td>34</td>
			<td><%= link_to 'Examination Analysis by Examination Paper', {:controller =>'examanalyses',:action => 'index'}  %> 
			<td>Advance Search (by by exam type, by exam date, y subject)</td>
		</tr>
		<tr><td colspan=4 style="background-color:#EFF1F1;"><BR><span style="color:#218AFB;font-weight:bold;">
			Module : Library</span></td></tr>
		<tr>
			<td>35</td>
			<td><%#= link_to 'Library Resources', {:controller =>'examanalyses',:action => 'index'}  %> 
				<%= link_to 'All Books Listing (for stock verification)',{ :controller =>'books',:action => 'stock_verification', :locals => {:class_type => '1',:dodo =>"All"}} %>
			<td>Advance Search (by title/author/isbn/accession no)</td>
		</tr>
		<tr>
			<td>36</td>
			<td><%= link_to 'Stock Summary (end of the year : simple)', {:controller =>'books',:action => 'index'}  %> 
			<td>Advance Search (by Class No(LC/NLM), by accession no)</td>
		</tr>
		<tr>
			<td>37</td>
			<td><%= link_to 'Stock Listing (daily-detail)', {:controller =>'books',:action => 'index'}  %> 
			<td>Advance Search (by Class No(LC/NLM),accession no)</td>
		</tr>
		<tr>
			<td>38</td>
			<td><%= link_to 'Library Resources Statistics', {:controller =>'books',:action => 'index'}  %> 
			<td>Advance Search (Borrower by programme : monthly/yearly, jumlah pinjaman buku : sebulan/setahun, buku dipinjam)</td>
		</tr>
	</table>
	<br>
</div>