<div class="box">
<!-- Box Head -->
  <div class="box-head">
    <h2 class="left"><%= t 'equery.title' %></h2>
  </div>
</div>

<div class="indextable">
	<table width=100% border="0" cellpadding="0" cellspacing="0">
		<%no=0%>
		<tr>
			<th>No</td>
			<th><%= t 'menu.reports' %></th>
			<th><%= t 'equery.advance_search' %></th>
		</tr>

	<% if @query_module=='1'%>
		
		<% permitted_to? :read, :staffsearch2s do %>
		<tr><td colspan=4 style="background-color:#EFF1F1;"><BR><span style="color:#218AFB;font-weight:bold;">
			<%= t 'equery.module' %> : <%= t 'menu.staff' %></span></td></tr>
		
		<tr>
			<td><%=no+=1%></td>
			<td><%= link_to (t 'menu.maklumat_perjawatan'), {:controller => 'positions',:action => 'maklumat_perjawatan_LA'}  %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'staffsearch2s',:action => 'new'}  %></td>
		</tr>
		<% end %>
		<% permitted_to? :read, :staffattendancesearches do %>
		<tr>
			<td><%=no+=1%></td>
			<td><%= link_to (t 'menu.attend')+" - "+(t 'attendance.punchcard_status'), {:controller => 'staff_attendances', :action => 'status'} %>&nbsp;|&nbsp;<%= link_to (t 'equery.staffattendance.report'), {:controller => 'staff_attendances', 	:action => 'report'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'staffattendancesearches', :action => 'new', :searchattendancetype=>1} %></td>
		</tr>
		<% end %>
		<% permitted_to? :read, :ptdosearches do %>
		<tr>
			<td><%=no+=1%></td>
			<td><%= link_to (t 'ptdos.viewsummary'),{:controller => 'ptdos', :action => 'show_total_days', :id => Login.current_login.staff_id} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'ptdosearches',:action => 'new', :searchptdotype=>1}  %></td>
		</tr>	
		<% end %>
	
	<% elsif @query_module=='2' %>
		
		<% permitted_to? :read, :stationerysearches do %>
		<tr><td colspan=4 style="background-color:#EFF1F1;"><BR><span style="color:#218AFB;font-weight:bold;">
			<%= t 'equery.module' %> : <%= t 'menu.assets' %></span></td></tr>
		<tr>
		<tr>
			<td><%=no+=1%></td>
			<td><%=t 'supplier.title'%><%#= link_to (t 'supplier.title'), {:controller => 'stationeries',:action => 'index'}  %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'stationerysearches',:action => 'new'}  %></td>
		</tr>
		<% end %>
		<% permitted_to? :read, :assetsearches do %>
		<tr><td colspan=4 style="background-color:#EFF1F1;"><BR><span style="color:#218AFB;font-weight:bold;">
			<%= t 'equery.module' %> : <%= t 'menu.assets' %></span></td></tr>
		<tr>
		<tr>
			<td><%=no+=1%></td><% @searchtype=1 %>
			<td>KEW.PA-2 (Daftar Harta Modal)<%#= link_to 'KEW.PA-2 (Daftar Harta Modal)', {:controller => 'assets', :action => 'index',:show => "fixed"} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>

		<tr>
			<td><%=no+=1%></td>
			<td>KEW.PA-3 (Daftar Inventori)<%#= link_to 'KEW.PA-3 (Daftar Inventori)', {:controller => 'assets', :action => 'index',:show => "inventory"} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		
		<tr>
			<td><%=no+=1%></td><% @searchtype=2 %>
			<td>KEW.PA-4 (Senarai Daftar Harta Modal)<%#= link_to 'KEW.PA-4 (Senarai Daftar Harta Modal)', {:controller => 'assets', :action => 'kewpa4'} %> 
				<% yeartab = Asset.find(:all, :select => :assetcode).map(&:assetcode).map{|d| d.split("/")[4]}.uniq %>
				<% yeartab.each do |yeartab| %>
				    | <%= link_to "20#{yeartab}", :controller => 'assets', :action => "kewpa4", :search => "#{yeartab}" %>
				<% end %>
			</td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td><%=no+=1%></td><% @searchtype=3 %>
			<td>KEW.PA-5 (Senarai Daftar Inventori)<%#= link_to 'KEW.PA-5 (Senarai Daftar Inventori)', {:controller => 'assets', :action => 'registerinventory'} %> 
				<% yeartab = Asset.find(:all, :select => :assetcode).map(&:assetcode).map{|d| d.split("/")[4]}.uniq %>
				<% yeartab.each do |yeartab| %>
				    | <%= link_to "20#{yeartab}", :controller => 'assets', :action => "registerinventory", :search => "#{yeartab}" %>
				<% end %>
			</td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td><%=no+=1%></td><% @searchtype=4 %>
			<td>KEW.PA-6 (Daftar Pergerakan Harta Modal dan Inventori)<%#= link_to 'KEW.PA-6 (Daftar Pergerakan Harta Modal dan Inventori)', {:controller => 'assets', 	:action => 'index'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td><%=no+=1%></td><% @searchtype=5 %>
			<td>KEW.PA-7 (Senarai Aset Alih Kerajaan (mengikut lokasi))<%#= link_to 'KEW.PA-7 (Senarai Aset Alih Kerajaan (mengikut lokasi))', {:controller => 'locations', 	:action => 'index'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td><%=no+=1%></td><% @searchtype=6 %>
			<td>KEW.PA-8 (Laporan Tahunan Harta Modal Dan Inventori Bagi Tahun .........)<%#= link_to 'KEW.PA-8 (Laporan Tahunan Harta Modal Dan Inventori Bagi Tahun .........)', {:controller => 'assets', 	:action => 'kewpa8'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td><%=no+=1%></td><% @searchtype=7 %>
			<td>KEW.PA-9 (Borang Aduan Kerosakan Aset Alih Kerajaan)<%#= link_to 'KEW.PA-9 (Borang Aduan Kerosakan Aset Alih Kerajaan)',{:controller => 'asset_defects', :action => 'index'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td><%=no+=1%></td><% @searchtype=8 %>
			<td>KEW.PA-13 (Senarai Aset Alih Kerajaan yang Memerlukan Penyelenggaraan)<%#= link_to 'KEW.PA-13 (Senarai Aset Alih Kerajaan yang Memerlukan Penyelenggaraan)',	{:controller => 'assets', 	:action => 'kewpa13'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td><%=no+=1%></td><% @searchtype=9 %>
			<td>KEW.PA-14 (Daftar Penyelenggaraan Harta Modal)<%#= link_to 'KEW.PA-14 (Daftar Penyelenggaraan Harta Modal)',{:controller=>'assets',:action=>'index',:show => 'maintainable'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr><!--
		<tr>
			<td>12</td>
			<td>KEW.PA-15 (Lantikan sebagai Pemeriksa Pelupusan Aset Alih Kerajaan)</td>
			<td>Advance Search</td>
		</tr>-->
		<tr>
			<td><%=no+=1%></td><% @searchtype=10 %>
			<td>KEW.PA-16 (Perakuan Pelupusan (PEP) Aset Alih Kerajaan)<%#= link_to 'KEW.PA-16 (Perakuan Pelupusan (PEP) Aset Alih Kerajaan)',{:controller => 'asset_disposals', :action => 'index'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td><%=no+=1%></td><% @searchtype=11 %>
			<td>KEW.PA-17 (Laporan Lembaga Pemeriksa Aset Alih Kerajaan)<%#= link_to 'KEW.PA-17 (Laporan Lembaga Pemeriksa Aset Alih Kerajaan)',	{:controller => 'asset_disposals', 	:action => 'kewpa17'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td><%=no+=1%></td><% @searchtype=12 %>
			<td>KEW.PA-18 (Sijil Penyaksian Pemusnahan Aset Alih Kerajaan)'<%#= link_to 'KEW.PA-18 (Sijil Penyaksian Pemusnahan Aset Alih Kerajaan)',{:controller => 'asset_disposals', 	:action => 'index'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td><%=no+=1%></td><% @searchtype=13 %>
			<td>KEW.PA-19 (Sijil Pelupusan Pemusnahan Aset Alih Kerajaan)<%#= link_to 'KEW.PA-19 (Sijil Pelupusan Pemusnahan Aset Alih Kerajaan)',{:controller => 'asset_disposals',:action => 'index'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td><%=no+=1%></td><% @searchtype=14 %>
			<td>KEW.PA-20 (Laporan Tahunan Pemusnahan Aset Alih Kerajaan)<%#= link_to 'KEW.PA-20 (Laporan Tahunan Pemusnahan Aset Alih Kerajaan)',{:controller => 'asset_disposals',:action => 'kewpa20'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td><%=no+=1%></td><% @searchtype=15 %>
			<td>KEW.PA-29 (Laporan Awal Kehilangan Aset Alih Kerajaan)<%#= link_to 'KEW.PA-28 (Laporan Awal Kehilangan Aset Alih Kerajaan)',{:controller => 'asset_losses',:action => 'index'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<!--
		<tr>
			<td>19</td>
			<td>KEW.PA-29 (Perlantikan Jawatankuasa Penyiasat Kehilangan Aset Alih Kerajaan) </td>
			<td>Advance Search</td>
		</tr>-->
		<tr>
			<td><%=no+=1%></td><% @searchtype=16 %>
			<td>KEW.PA-30 (Laporan Akhir Kehilangan Aset Alih Kerajaan)<%#= link_to 'KEW.PA-30 (Laporan Akhir Kehilangan Aset Alih Kerajaan)',	{:controller => 'asset_losses', :action => 'index'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<tr>
			<td><%=no+=1%></td><% @searchtype=17 %>
			<td>KEW.PA-31 (Sijil Hapus Kira Aset Alih Kerajaan)<%#= link_to 'KEW.PA-31 (Sijil Hapus Kira Aset Alih Kerajaan)',	{:controller => 'asset_losses', :action => 'index'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'assetsearches',:action => 'new', :searchtype=>@searchtype}  %></td>
		</tr>
		<% end %>

	<% elsif @query_module=='3' %>
	
		<% permitted_to? :read, :documentsearches do %>
		<tr><td colspan=4 style="background-color:#EFF1F1;"><BR><span style="color:#218AFB;font-weight:bold;">
			<%= t 'equery.module' %> : <%= t 'menu.e_filing' %></span></td></tr>
		<tr>
			<td><%=no+=1%></td><% @searchdoctype=1 %>
			<td><%= link_to  (t 'menu.document_registry'), {:controller => 'documents', 	:action => 'index'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'documentsearches', 	:action => 'new', :searchdoctype=>@searchdoctype} %></td>
		</tr>
		<% end %>
		
	<% elsif @query_module=='4' %>

		<!--double title-->
		<% permitted_to? :read, :students do %>
		<tr><td colspan=4 style="background-color:#EFF1F1;"><BR><span style="color:#218AFB;font-weight:bold;">
			<%= t 'equery.module' %> : <%= t 'menu.students' %></span></td></tr>
		<% end %>
		<!--
		<%# permitted_to? :read, :studentattendancesearches do %>
		<tr><td colspan=4 style="background-color:#EFF1F1;"><BR><span style="color:#218AFB;font-weight:bold;">
			<%#= t 'equery.module' %> : <%= t 'menu.students' %></span></td></tr>
		<%# end %>-->
		<!--double title-->
			
		<% permitted_to? :read, :studentsearches do %>
		<tr>
			<td><%=no+=1%></td><% @searchstudenttype=1 %>
			<td><%= link_to 'Borang Maklumat Pelatih', {:controller => 'students',:action => 'index'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'studentsearches', 	:action => 'new', :searchstudenttype=>@searchstudenttype} %></td>
		</tr>
		<% end %>
		
		<% permitted_to? :read, :studentattendancesearches do %>
		<tr>
			<td><%=no+=1%></td><% @searchstudentattendancetype=1 %>
			<td><%= link_to 'Borang Kehadiran Pelatih', {:controller => 'student_attendances',:action => 'index'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'studentattendancesearches', 	:action => 'new', :searchstudentattendancetype=>@searchstudentattendancetype} %></td>
		</tr>
		<% end %>
		
		<% permitted_to? :read, :studentdisciplinesearches do %>
		<tr>
			<td><%=no+=1%></td><%@searchstudentdisciplinetype=1%>
			<td><%= link_to (t 'studentdiscipline.title')+" ("+(t 'studentdiscipline.feedback_counsellor')+")", {:controller => 'student_discipline_cases',:action => 'index'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'studentdisciplinesearches', 	:action => 'new', :searchstudentdisciplinetype=>@searchstudentdisciplinetype} %></td>
		</tr>
		<% end %>
		
		<% permitted_to? :read, :studentcounselingsearches do %>
		<tr>
			<td><%=no+=1%></td><% @searchstudentcounselingtype=1%>
			<td><%= link_to (t 'studentcounseling.title')+" ("+(t 'studentcounseling.feedback_to')+" "+(t 'studentcounseling.refer')+")", {:controller => 'student_counseling_sessions',:action => 'index'} %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'studentcounselingsearches', 	:action => 'new', :searchstudentcounselingtype=>@searchstudentcounselingtype} %></td>
		</tr>	
		<% end %>
	
	<% elsif @query_module=='5' %>
	
		<% permitted_to? :read, :weeklytimetablesearches do %>
		<tr><td colspan=4 style="background-color:#EFF1F1;"><BR><span style="color:#218AFB;font-weight:bold;">
			<%= t 'equery.module' %> : <%= t 'menu.training' %></span></td></tr>
			
		<%# permitted_to? :read, :weeklytimetablesearches do %>	
		<tr>
			<td><%=no+=1%></td><% @searchweeklytimetabletype=1%>
			<td><%= link_to (t 'weeklytimetable.title2'), {:controller => 'weeklytimetables',:action => 'index'}  %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'weeklytimetablesearches', 	:action => 'new', :searchweeklytimetabletype=>@searchweeklytimetabletype} %></td>
		</tr>
		<% end %>
		
		<% permitted_to? :read, :curriculumsearches do %>
		<tr>
			<td><%=no+=1%></td><% @searchcurriculumtype=1 %>
			<td><%= link_to (t 'programme.title'), {:controller => 'programmes',:action => 'index'}  %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'curriculumsearches', :action => 'new', :searchcurriculumtype =>@searchcurriculumtype } %></td>
		</tr>
		<% end %>
		
		<% permitted_to? :read, :lessonplansearches do %>
		<tr>
			<td><%=no+=1%></td><% @searchlessonplantype=1%>
			<td>
				<%= link_to (t 'lesson_plan.title'), {:controller => 'lesson_plans',:action => 'index'}  %> /
				<%= link_to (t 'lesson_plan.reporting'), {:controller => 'lesson_plans',:action => 'index_report'}  %>
			</td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'lessonplansearches', 	:action => 'new', :searchlessonplantype=>@searchlessonplantype} %></td>
		</tr>
		<% end %>
		<!--
		<tr>
			<td>29</td>
			<td></td>
			<td></td>
		</tr>		
		<tr>
			<td>30</td>
			<td><%#= link_to 'Training Notes', {:controller => 'trainingnotes',:action => 'index'}  %></td>
			<td>Advance Search (by programme, by lecturer, by year/semester,intake)</td>
		</tr>-->
		<% permitted_to? :read, :personalizetimetablesearches do %>
		<tr>
			<td><%=no+=1%></td><% @searchpersonalizetimetabletype=1%>
			<td><%= link_to (t 'menu.personalised_timetable'), {:controller => 'weeklytimetables',:action => 'personalize_index'}  %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'personalizetimetablesearches', 	:action => 'new', :searchpersonalizetimetabletype=>@searchpersonalizetimetabletype} %></td>
		</tr>
		<% end %>
		
	<% elsif @query_module=='6' %>
		
		<% permitted_to? :read, :examsearches do %>	
		<tr><td colspan=4 style="background-color:#EFF1F1;"><BR><span style="color:#218AFB;font-weight:bold;">
			<%= t 'equery.module' %> : <%= t 'menu.exams' %></span></td></tr>
		<!--	
		<tr>
			<td>31</td>
			<td><%#= link_to 'Examination Development', {:controller => 'examquestions',:action => 'index'}  %></td>
			<td>Advance Search (by programme, by lecturer(creator), by year/semester,by topic,by question type,by subject)</td>
		</tr>-->
		<%# permitted_to? :read, :examsearches do %>			
		<tr>
			<td><%=no+=1%></td><% @searchexamtype=1%>
			<td><%= link_to (t 'menu.exam_maker'), {:controller => 'exams',:action => 'index'}  %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'examsearches', 	:action => 'new', :searchexamtype=>@searchexamtype} %></td>
		</tr>
		<% end %>
		
		<% permitted_to? :read, :examresultsearches do %>		
		<tr>
			<td><%=no+=1%></td><% @searchexamresulttype=1%>
			<td><%= link_to (t 'examresult.by_programme'), {:controller => 'examresults',:action => 'index'}  %> |
				<%= link_to (t 'examresult.exam_slip'), {:controller => 'examresults',:action => 'index2'}  %></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'examresultsearches', 	:action => 'new', :searchexamresulttype=>@searchexamresulttype} %></td>
		</tr>
		<% end %>
		
		<% permitted_to? :read, :evaluatecoursesearches do %>		
		<tr>
			<td><%=no+=1%></td><% @searchevaluatecoursetype=1%>
			<td><%= link_to (t 'menu.feedback_courseevaluate'), {:controller =>'evaluate_courses',:action => 'index'}  %> 
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'evaluatecoursesearches', 	:action => 'new', :searchevaluatecoursetype=>@searchevaluatecoursetype} %></td>
		</tr>
		<% end %>
		
		<% permitted_to? :read, :examanalysissearches do %>
		<tr>
			<td><%=no+=1%></td><% @searchexamanalysistype=1%>
			<td><%= link_to (t 'examanalysis.title'), {:controller =>'examanalyses',:action => 'index'}  %> 
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'examanalysissearches', 	:action => 'new', :searchexamanalysistype=>@searchexamanalysistype} %></td>
		</tr>
		<% end %>
	
	<% elsif @query_module=='7' %>
	
		<tr><td colspan=4 style="background-color:#EFF1F1;"><BR><span style="color:#218AFB;font-weight:bold;">
			<%= t 'equery.module' %> : <%= t 'menu.library' %></span></td></tr>
		<tr>
			<td><%=no+=1%></td><% @searchbooktype=1%>
			<td><% if permitted_to? :read, :booksearches %>
					<%= link_to (t 'book.listing'),{ :controller =>'books',:action => 'stock_verification', :locals => {:class_type => '1',:dodo =>"All"}} %>
				<% else %>
					<%= link_to (t 'equery.book.listing_books'),{ :controller =>'books',:action => 'index'} %>
				<% end %>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'booksearches', :action => 'new', :searchbooktype=> @searchbooktype} %></td>
		</tr>
		<% permitted_to? :read, :booksearches do %>
		<tr>
			<td><%=no+=1%></td><% @searchbooktype=2%>
			<td><%= link_to (t 'book.stock_summary'), {:controller =>'books',:action => 'index'}  %> <!-- (end of the year : simple) [tertukar refer item 37]-->
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'booksearches', :action => 'new', :searchbooktype=> @searchbooktype} %></td>
		</tr>
		<tr>
			<td><%=no+=1%></td><% @searchbooktype=3%>
			<td><%= link_to (t 'book.stock_listing'), {:controller =>'books',:action => 'index'}  %> <!--(daily-detail) [tertukar refer item 36]-->
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'booksearches', :action => 'new', :searchbooktype=> @searchbooktype} %></td>
		</tr>
		<% end %>
		
		<% permitted_to? :read, :librarytransactionsearches do %>
		<tr>
			<td><%=no+=1%></td><% @searchlibrarytransactiontype=1%>
			<td><%#= link_to (t 'book.statistics')+" / "+(t 'librarytransaction.analysis'), {:controller =>'librarystats',:action => 'index'}  %> 
			         <a href="http://<%= request.host  %>:3003/library/librarytransactions/analysis_statistic?locale=en"><%= t('menu.new_analysis_statistic') %></a></td>
			<td><%= link_to (t 'equery.advance_search'), {:controller => 'librarytransactionsearches', :action => 'new', :searchlibrarytransactiontype=> @searchlibrarytransactiontype} %></td>
		</tr>
		<% end %>
	
	<% end %>
	
	</table>
	<br>
</div>