<BR>
Quicklinks  : <a href="#LatestBooks">Latest Books</a>, <a href="#mastu">Most Active Students</a>, <a href="#masta">Most Active Staff</a>   

<div class="stats">
	<p><%= Book.count(:all) %><SPAN STYLE="font-size:14px; color: #90C3C0">Total Number of Titles in Library</p>
<!--	<p STYLE="font-size:72px; color: #ee842f"><#%= Accession.count(:all) %><SPAN STYLE="font-size:14px; color: #90C3C0">Total Number of Books In Library </p>-->
  <p><%= Librarytransaction.count(:all) %><SPAN STYLE="font-size:14px; color: #90C3C0">Total Library Transactions</p>
	<p STYLE="font-size:72px; color: #ee842f">
		<% lib_tran_today = Librarytransaction.count(:all, :conditions => ["created_at = ? ", Date.today ]) %>
		<% if lib_tran_today == 0 %>
			0
		<% else %>
			<% lib_tran_today %>
		<% end %><SPAN STYLE="font-size:14px; color: #90C3C0">Books Borrowed Today</p>
</div>
<BR><BR>

<a name="mastu"></a>
<% dash_student = Librarytransaction.find(:all, :select => 'student_id', :conditions => ["student_id IS NOT ?", nil ]).map(&:student_id) %>
<% b = dash_student.inject(Hash.new(0)) {|h,i| h[i] += 1; h } %>
<% top_ten = b.to_a.each {|who, visits|} %> <!--  concat " <BR> #{visits} : #{who}"} -->
	
	<table id="easytable" align="center" >
		<caption>Most Active Students</caption>
		<tr>
			<th>Transactions</th>
			<th>Name</th>
		</tr>
		<% top_ten[(0..9)].each do |who, visits| %>
		<tr>
			<td><%= "#{visits}" %></td>
			<% stuid = ("#{who}").to_i %>
			<td><%= Student.find(:all, :select => 'name', :conditions => ["id = ?", stuid ]).map(&:name)%></td>
		</tr>
		<% end %>
	</table>
	<BR><BR><BR><BR>
	
<a name="masta"></a>
<% dash_staff = Librarytransaction.find(:all, :select => 'staff_id', :conditions => ["staff_id IS NOT ?", nil ]).map(&:staff_id) %>
<% b = dash_staff.inject(Hash.new(0)) {|h,i| h[i] += 1; h } %>
<% top_ten = b.to_a.each {|who, visits|} %> <!--  concat " <BR> #{visits} : #{who}"} -->

<table id="easytable" align="center" >
		<caption>Most Active Staff</caption>
		<tr>
			<th>Transactions</th>
			<th>Name</th>
		</tr>
		<% top_ten[(0..9)].each do |who, visits| %>
		<tr>
			<td><%= "#{visits}" %></td>
			<% staid = ("#{who}").to_i %>
			<td><%= Staff.find(:all, :select => 'name', :conditions => ["id = ?", staid ]).map(&:name)%></td>
		</tr>
		<% end %>
	</table>
<BR><BR><BR><BR>

<a name="LatestBooks"></a>
<% latest_books = Book.find(:all, :order => 'updated_at desc', :limit => 10) %>
<table id="easytable" align="center" >
	<caption>Latest Titles In Library</caption>
	<tr>
		<th>Image</th>
		<th>Title</th>
		<th>Quantity</th>
	</tr>
	<% latest_books.each do |e| %>
	<tr>
		<td><% if e.photo_file_name == nil %>
			no image
		<% else %>
			<%= image_tag e.photo.url, :class => 'list-image' %>
		<% end %></td>
		<td><b><span STYLE="font-size:1.1em"><%=h e.title %></span></b><BR><%=h e.author %><BR>ISBN : <%=h e.isbn %></td></td>
		<td align="center"><%=h e.book_quantity %></td>
	</tr>
	<% end %>
</table><BR><BR>

<a name="overdue"></a>
<% overdue_books = Librarytransaction.find(:all, :conditions => ["returnduedate < ? AND returneddate IS ?", Time.now, nil] )%>
<% dash_staff = Librarytransaction.find(:all, :select => 'staff_id', :conditions => ["ru_staff", true]).map(&:staff_id) %>

		<table id="easytable" align="center" >
			<caption>Overdue Book</caption>
			<tr>
				<th>Borrowed Date</th>
				<th>Date of Return</th>
				<th>Borrower Name</th>
				
			</tr>
			<% overdue_books.each do |e| %>
			<tr>
				<td><%=h e.checkoutdate.strftime('%d %b %Y') %></td>
				<td><%=h e.returnduedate.strftime('%d %b %Y') %></td>
				<td><%=h e.ru_staff? ? e.staff_details : e.student_details %></td>
				<% end %>
				
			</tr>
		
		</table>
<BR><BR><BR><BR>



<!--<a name="repeated"></a>
<#% repeated_books = Book.find(:all, :select => 'isbn').map(&:isbn) %>
<#% b = repeated_books.inject(Hash.new(0)) {|h,i| h[i] += 1; h } %>
<#% repeat = b.to_a.each {|book, repeats|} %>--> <!--  concat " <BR> #{visits} : #{who}"} -->
	
<!--	<table id="easytable" align="center" >
		<caption>Possibly Repeated Books</caption>
		<tr>
			<th>Repeats</th>
			<th>Title</th>	
		</tr>
		<#% repeat.each do |book, repeats| %>
			<#% if ("#{repeats}").to_i > 1 %>
			<tr>
				<td><#%= "#{repeats}" %></td>
				<#% stuid = "#{book}" %>
				<td><#%= Book.find(:all, :conditions => ["isbn = ?", stuid ]).map {|f| f.id} %>:
						<#%= Book.find(:all, :conditions => ["isbn = ?", stuid ]).map {|f| f.title} %></td>
			</tr>
			<#% else %>
			<#% end %>
		<#% end %>
			
	</table>-->

<BR><BR><BR><BR>

