<% unless @subpages.empty? %>
	<div>
		<ul>
			<% for page in @subpages %>
			<li><% if page.redirect? %>
			<%= link_to page.navlabel, :action => page.action_name, :controller => page.controller_name, :name => page.name %>
				<% else %>
					<%= link_to page.navlabel, view_page_path(page.name) %>
				<% end %>
			<% end %>
		</ul>
	</div>
<% end %>
<% if logged_in? && (request.request_uri == "/" || request.request_uri == "/home") %>
<% else %>
  <div  class="right">
	<% permitted_to? :manage, :librarytransactions do %>
		<% if request.request_uri == "/rules" %>
			<%= link_to image_tag("edit.png", :border => 0, :title => (t 'edit')) + (t 'edit'), :controller => "pages", :action => "edit", :id => 52 %>
		<% elsif request.request_uri == "/membership" %>
			<%= link_to image_tag("edit.png", :border => 0, :title => (t 'edit')) + (t 'edit'), :controller => "pages", :action => "edit", :id => 71 %>
		<% elsif request.request_uri == "/loan" %>
			<%= link_to image_tag("edit.png", :border => 0, :title => (t 'edit')) + (t 'edit'), :controller => "pages", :action => "edit", :id => 72 %>
		<% elsif request.request_uri == "/fine" %>
			<%= link_to image_tag("edit.png", :border => 0, :title => (t 'edit')) + (t 'edit'), :controller => "pages", :action => "edit", :id => 73 %>
		<% elsif request.request_uri == "/redspot" %>
			<%= link_to image_tag("edit.png", :border => 0, :title => (t 'edit')) + (t 'edit'), :controller => "pages", :action => "edit", :id => 74 %>
		<% elsif request.request_uri == "/generalrule" %>
			<%= link_to image_tag("edit.png", :border => 0, :title => (t 'edit')) + (t 'edit'), :controller => "pages", :action => "edit", :id => 75 %>
		<% elsif request.request_uri == "/servicerule" %>
			<%= link_to image_tag("edit.png", :border => 0, :title => (t 'edit')) + (t 'edit'), :controller => "pages", :action => "edit", :id => 76 %>
		<% end %>
	<% end %>
	</div>
	<% if @page.name=='home' || @page.id==1%>
		<!--<div style="width: 85%">-->
		<div style="width:96%; padding: 20px 10px 10px 15px;"> 
			<%= @page.body %>
		</div>
	<% else %>
		<div style="width:90%;"> 
		      <%= @page.body %>
		</div>
	<% end %>
<% end %>