<h1>Listing booleananswers</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Answer</th>
    <th>Examquestion</th>
  </tr>

<% @booleananswers.each do |booleananswer| %>
  <tr>
    <td><%=h booleananswer.item %></td>
    <td><%=h booleananswer.answer %></td>
    <td><%=h booleananswer.examquestion_id %></td>
    <td><%= link_to 'Show', booleananswer %></td>
    <td><%= link_to 'Edit', edit_booleananswer_path(booleananswer) %></td>
    <td><%= link_to 'Destroy', booleananswer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New booleananswer', new_booleananswer_path %>