<h1>New booleananswer</h1>

<% form_for(@booleananswer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </p>
  <p>
    <%= f.label :answer %><br />
    <%= f.check_box :answer %>
  </p>
  <p>
    <%= f.label :examquestion_id %><br />
    <%= f.text_field :examquestion_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', booleananswers_path %>