<p>
  <b>Item:</b>
  <%=h @booleananswer.item %>
</p>

<p>
  <b>Answer:</b>
  <%=h @booleananswer.answer %>
</p>

<p>
  <b>Examquestion:</b>
  <%=h @booleananswer.examquestion_id %>
</p>


<%= link_to 'Edit', edit_booleananswer_path(@booleananswer) %> |
<%= link_to 'Back', booleananswers_path %>