<!--Book Info-->
<table id="form">
	<tr class="toprow">
		<td>Book Details</td>
		<td></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="tagno">Tag No</label></td>
		<td> <%=h @book.tagno %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="controlno">Control No:</label></td>
		<td> <%=h @book.controlno %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="isbn">ISBN No:</label></td>
	    <td> <%=h @book.isbn %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="bookcode">Library Code:</label></td>
	    <td><%=h @book.bookcode %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="accessionno">Accession No:</label></td>
		 <td><%=h @book.accessionno %>
		 </td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="catsource">Catalouging Source To:</label></td>
		 <td>  <%=h @book.catsource %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="classlcc">Class No (LCC):</label></td>
		<td><%=h @book.classlcc %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="classddc">Class No (DDC):</label></td>
		<td> <%=h @book.classddc %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="title">Title:</label></td>
		<td><%=h @book.title %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="author">Author:</label></td>
		<td><%=h @book.author %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="publisher">Publisher:</label></td>
		<td> <%=h @book.publisher %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="description">Physical Description:</label></td>
		<td> <%=h @book.description %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="loantype">Loan Type:</label></td>
	    <td> <%=h @book.loantype %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="mediatype">Media Type:</label></td>
	    <td><%=h @book.mediatype %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="status">Status:</label></td>
		 <td><%=h @book.status %>
		 </td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="series">Series:</label></td>
		 <td>  <%=h @book.series %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="location">Location:</label></td>
		 <td>  <%=h @book.location %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="topic">Topic:</label></td>
		 <td>  <%=h @book.topic %></td>
	</tr>
	
	</table>
<BR>
	
	<!--Purchase Info-->
	<table id="form">
		<tr class="toprow">
			<td>Purchase Information</td>
			<td></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="orderno">Order No</label></td>
			<td> <%=h @book.orderno %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="controlno">Purchase Price:</label></td>
			<td> RM <%=h @book.purchaseprice %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="purchasedate">Purchased Date:</label></td>
		    <td> <%=h @book.purchasedate %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="receiveddate">Date Received:</label></td>
		    <td><%=h @book.receiveddate %></td>
		</tr>


		<tr>
			<td class="leftcol"><label for="receiver_id">Received By:</label></td>
			 <td><%=h @book.receiver_id %>
			 </td>
		</tr>
		
		
		<tr>
			<td class="leftcol"><label for="supplier_id">Supplier:</label></td>
			 <td><%=h @book.supplier_id %>
			 </td>
		</tr>
		
	</table>
<BR>
	