<div class="tform">
<H2>Book Catalog Information</H2>
<table width=100% border=0 cellspacing=0>
	<tr>
		<td width=23%><label for="isbn">ISBN No</label><font color="red"> * </font></td>
		<td width=3%><b>:</b></td>
		<td><%= f.text_area :isbn, :size => '40x2' %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="issn">ISSN</label></td>
		<td ><b>:</b></td>
		<td><%= f.text_field :issn, :size => 35 %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="bookcode">Library Code</label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :bookcode, :size => 35 %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="catsource">Catalouging Source To</label></td>
		<td><b>:</b></td>
		<td><%= f.select :catsource,
						  Book::CATSOURCE,
   						 :prompt => "Select" %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="classlcc">Class No (NLM)</label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :classlcc, :size => 35 %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="classddc">Class No (DDC)</label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :classddc, :size => 35 %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= t 'book.title' %><font color="red"> * </font></td>
		<td><b>:</b></td>
		<td><%= f.text_area :title, :size => '40x2' %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= t 'book.language' %></td>
		<td><b>:</b></td>
		<td><%= f.select :language,
							 Book::LANGUAGE,
							 :prompt => "Select" %></td>
	</tr>
    <tr>
		<td class="leftcol"><%= t 'book.author' %><font color="red"> * </font></td>
		<td><b>:</b></td>
		<td><%= f.text_area :author, :size => '40x2' %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= t 'book.subject' %></td>
		<td><b>:</b></td>
		<td><%= f.text_area :subject, :size => '40x6' %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= t 'book.publisher' %></td>
		<td><b>:</b></td>
		<td><%= f.text_field :publisher, :size => 35 %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="description">Physical Description:</label></td>
		<td><b>:</b></td>
		<td class="leftcol"><%= t 'book.roman' %> &nbsp;:  <%= f.text_field :roman, :size => 30 %></td>
	</tr>
	<tr>
		<td class="leftcol"></td>
		<td><b>:</b></td>
		<td class="leftcol"><%= t 'book.size' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= f.text_field :size, :size => 30 %></td>
	</tr>
	
	<tr>
		<td class="leftcol"></td>
		<td><b>:</b></td>
		<td class="leftcol"><%= t 'book.pages' %> &nbsp;&nbsp;&nbsp;: <%= f.text_field :pages, :size => 30 %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><%= t 'book.publish_date' %></td>
		<td><b>:</b></td>
		<td><%= f.text_field :publish_date, :size => 35, :placeholder => "YYYY" %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><%= t 'book.publish_location' %></td>
		<td><b>:</b></td>
		<td><%= f.text_field :publish_location, :size => 35 %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="description">Bilbliography</label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :bibliography, :size => 35 %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="description">Index</label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :indice, :size => 35 %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= t 'book.notes' %></td>
		<td><b>:</b></td>
		<td><%= f.text_field :notes, :size => 35 %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="status">Status</label></td>
		<td><b>:</b></td>
		<td><%= f.select :status,
		                 Book::STATUS,
						 :prompt => "Select" %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="loantype">Loan Type:</label></td>
		<td><b>:</b></td>
		<td><%= f.select :loantype,
		                 Book::LOAN,
						 :prompt => "Select" %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="mediatype"><%= t 'book.mediatype' %>:</label></td>
		<td>:</td>
		<td><%= f.select :mediatype,
						 Book::MEDIA,
						 :prompt => "Select" %></td>
	</tr>

	<tr>
		<td class="leftcol"><%= t 'book.links' %></td>
		<td><b>:</b></td>
		<td><%= f.text_area :links, :size => '40x6' %></td>
	</tr>
	<tr>
		<td class="leftcol">Upload Book Image</td>
		<td><b>:</b></td>
		<td><%= f.file_field :photo, :size => 15 %>
			<%=h @book.photo_file_name unless @book.photo_file_name.blank? %>
			<%=h (@book.photo_file_size/1024) unless @book.photo_file_name.blank? %></td>
	</tr>
</table>
<H2>Accession No</H2>
<div>
	<table width=100% border=0>
		
	<tr>
			<td width=23%><font size=2>Book Accession No</font></td>
			<td><b>:</b></td>
			<td>
				<% f.fields_for :accessions do |builder| %>
				<%= render 'accession_fields', :f => builder %>
				<% end %>
				<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add More No.'), f, :accessions %> - Add More </p>
			</td>
	</tr>
	</table>	
</div>


<H2>Purchase Information</H2>

	<table width=100% border=0 cellspacing=0>
		
		<tr>
			<td width=23%><label for="orderno"><font size=2>Order No</font></label></td>
			<td><b>:</b></td>
			<td><%= f.text_field :orderno %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="purchaseprice">Purchase Price</label></td>
			<td><b>:</b></td>
			<td><%= f.text_field :purchaseprice, :size => 12, :placeholder => 'RM' %></td>
		</tr>


		<tr>
			<td class="leftcol"><label for="purchasedate">Purchase Date</label></td>
			<td><b>:</b></td>
			<td><%= f.text_field :purchasedate, :size=>10, :class => "calendar"  %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="receiveddate">Date Received</label></td>
			<td><b>:</b></td>
			<td><%= f.date_select :receiveddate, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>



		<tr>
			<td class="leftcol"><label for="receiver_id">Received By</label></td>
			<td><b>:</b></td>
			<td><%= f.collection_select :receiver_id, Staff.find(:all), :id, :name, :include_blank => true %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="supplier_id">Supplier Name</label></td>
			<td><b>:</b></td>
			<td><%= f.collection_select :supplier_id, Addbook.find(:all), :id, :name, :include_blank => true %></td>
		</tr>
</table>
</div>
<BR>


