<h3><%= t('book.edit') %></h3>

<% form_for(@book, :html => { :multipart => true}) do |f| %>
  	<%= f.error_messages %>
	<div class="tform">
		<H2><%= t('book.book_details') %></H2>
		<table width="100%">
			<tr>
				<td class="leftcol"><label for="issn">ISBN:</label></td>
		  		<td><%= f.text_field :isbn %><font color="red"> * </font></td>
			</tr>
		</table>
		<%=render :partial => 'form', :locals => {:f => f} %> 
	</div>
  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>
</div>

<%= link_to (t 'show'), @book %> |
<%= link_to (t 'back'), books_path %>