<h3>Editing Book</h3>

<% form_for(@book, :html => { :multipart => true}) do |f| %>
<%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>