<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Book List</h2>
		<div class="right">
    	<% form_tag books_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search], :placeholder => "ISBN, Title, Author, Subject" %>
			<%= submit_tag "Search", :title => nil %>
			<% end %>
		</div>
	</div>
</div>
<!--<div class="pagination">
 <#%= will_paginate @books %>
</div>-->
<div class="tlist">
  <table width=100% border="1" cellpadding="0" cellspacing="0" BORDERCOLOR="#C0C0C0 ">
   <tr>
	<th width=4%>Bil</th>
	<!--<th>Media</th>-->
	<th width=10%>Image</th>
	<th width=40%>Title<BR>Author<BR></th>
	<th width=20>Quantity</th>
   <!-- <th>Accession No<BR>Class No (NLM)</th>-->
    <th width=10%>Loan Type</th>
   <th width=10%>Publisher</th>
    <th width=10%>Publish Year</th>
    <th colspan=3 class="ac">Control</th>
  </tr>

	<% bil = 0 %>
<% @books.each do |book| %>
	<% bil += 1 %>

  <tr>
	<td align="center"><%=h bil %></td>	
	  <!--<td><#%=h (Book::MEDIA.find_all{|disp, value| value == book.mediatype}).map {|disp, value| disp} %></td>-->
	  <td align="center">
			<% if book.photo_file_name == nil %>
				<%= image_tag ("nophoto.gif", :border => 0, :title => 'No Image', :size => '50x50') %>
			<% else %>
				<%= image_tag book.photo.url, :class => 'list-image' %>
			<% end %> 
		</td>
    <td><b><span STYLE="font-size:1.1em"><%=h book.title %></span></b><BR>Author :<%=h book.author %><BR>ISBN : <%=h book.isbn %></td>
	<td align="center"><%=h book.book_quantity %></td>
    <td><%=h (Book::LOAN.find_all{|disp, value| value == book.loantype}).map {|disp, value| disp} %></td>
    <td align="center"><%=h book.publisher %></td>
	<td align="center"><%=h book.publish_date%></td>
    <!-- <td><#%=h book.location %><BR>-->
<!--	<td align="center"><#% for accession in book.accessions %><#%=h accession.accession_no.blank? ? "" : accession.accession_no %> - <#%=h (Accession::STATUS.find_all{|disp, value| value == accession.received_by}).map {|disp, value| disp} %> - <#%=h accession.order_no.blank? ? "" : accession.order_no %><BR><#% end %></td>-->
	<td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => book %></td>
	<% if permitted_to? :manage, :books %>
	<td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => book %></td>
	<td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), book, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>
</div>
<br />
<!--<div class="pagination">
 <#%= will_paginate @books %>
</div>-->


<% permitted_to? :manage, :books do %>
<%= link_to 'New Book', new_book_path %>
<% end %>