<div class="box">
	<div class="box-head">
		<h2 class="left">Book List</h2>
			<div class="right">
	    	<% form_tag books_path, :method => 'get' do %>
				<%= text_field_tag :search, params[:search], :placeholder => "ISBN, Title, Author, Location" %>
				<%= submit_tag "Search", :title => nil %>
				<% end %>
			</div>
	</div>
</div>
<%=params[:search]%><!--16Jul2013-LLLL-hide-->
<div class="pagination">
 <%= will_paginate @books %>  
</div>

<div class="indextable">
	<table>
		<tr>
			<th colspan=3>
				<% permitted_to? :manage, :books do %>
					<%= link_to image_tag("add.png", :border => 0, :title => 'Create a new Book') + "New book", new_book_path %>
				<% end %>
			</th>
			<th style="text-align:right;"><%= link_to_function "Stock Listing by...", "$('byclass').toggle(); $('byaccessno').toggle();" %></th>
			<th colspan=3 style="text-align:left;">
				
				<div id="byclass" style="display:block;">
				<% form_tag(:action => :stock_listing) do %>
					Class No
					<%= text_field_tag(:isbn_search, params[:isbn_search], :size=>14, :placeholder=> "..starting with") %>
					<%= submit_tag "List by class no", :name => :list_submit_button %>
				<% end %>
				</div>
				
				<div id="byaccessno" style="display:none;">
				<% form_tag(:action => :stock_listing) do %>
					Accession No
					<%= text_field_tag(:isbn_search, params[:isbn_search], :size=>5, :placeholder=> "from") %>
					<%= text_field_tag(:isbn_search2, params[:isbn_search2], :size=>5, :placeholder=> "until") %>
					<%= submit_tag "List by accession no", :name => :list_submit_button %>
				<% end %>
				</div>
				
			</th>
			<th colspan=3>&nbsp;</th>
			<!--HIDE ON 16JUL2013-
			<th width=10px>
				<div class="noti_Container"><%#= link_to image_tag("printer.png", :border => 0, :title => 'All Books'), :action => 'stock_verification', :locals => {:class_type => '1'}  %><div class="noti_bubble">All</div></div>
			</th>
			<th width=10px>
				<div class="noti_Container"><%#= link_to image_tag("printer.png", :border => 0, :title => 'NLM'), :action => 'stock_verification', :locals => {:class_type => '2'}  %><div class="noti_bubble">NLM</div></div>
			</th>
			<th width=10px>
				<div class="noti_Container"><%#= link_to image_tag("printer.png", :border => 0, :title => 'LC'), :action => 'stock_verification', :locals => {:class_type => '3'}  %><div class="noti_bubble">LC</div></div>
			</th>-->
		</tr>
		<tr>
			<th>Media</th>
			<th>Image</th>
			<th>Title<BR>Author<BR></th>
			<th>Quantity</th>
			<th>Accession No<BR>Class No (LC) / (NLM)</th>
			<!--<th>Loan Type</th>-->
			<th>Location<BR>Status</th>
			<th>Physical Description<br>Amendment<br>Required?</th><!--2Apr2013-check roman column, if data already distribute into 3 columns:roman, size & pages-->	
			<th colspan=4 class="ac">Control</th>
		</tr>
		
		<% @books.each do |book| %>
			<% if book.accessions.count != 0 %>
			
			<% book.accessions.each_with_index do |accession_item,index| %><!--1April2013-->
			<tr>
				<td><%=h (Book::MEDIA.find_all{|disp, value| value == book.mediatype}).map {|disp, value| disp} %></td>
				<td>
							<% if book.photo_file_name == nil %>
							no image
							<% else %>
							<%= image_tag book.photo.url, :class => 'list-image' %>
							<% end %> </td>
				<td><b><span STYLE="font-size:1.1em"><%=h book.title %></span></b><BR><%=h book.author %><BR>ISBN : <%=h book.isbn %></td>
				
				<td><%=h book.book_quantity if index==0 %></td><!--1April2013-->
				<td>
					<br>
					<!--1April2013-from table : ACCESSIONS-->
					<%# book.accessions.each_with_index do |accession_item,index| %>
						<!--<%#=index%>--><%=accession_item.accession_no %><BR>
					<%# end %>
					<!--1April2013-from table : ACCESSIONS-->
					<!--
					Book ID:<%#=h book.id %><br>
					Class Lcc:--><%=h book.classlcc %><br>
					<!--Book Accession No--><%#=h book.accessionno %>
				</td>
				<!-- <td><#%=h (Book::LOAN.find_all{|disp, value| value == book.loantype}).map {|disp, value| disp} %></td> -->
				<td><%=h book.location %><BR>
						<%=h (Book::STATUS.find_all{|disp, value| value == book.status}).map {|disp, value| disp} %>
				</td>
				<!--2Apr2013-check roman column, if data already distribute into 3 columns:roman, size & pages-->
				<td width=50px align=center>
				<% if book.roman != nil %>		
					<% if book.roman.include?(';') || book.roman.include?(':') || book.roman.include?(',')  %>
							&#10003;
					<% end %>
				<% end %>
				</td>
				<!--2Apr2013-check roman column, if data already distribute into 3 columns:roman, size & pages-->
				<!--1April2013-->
			 	<!--<td width=10px>-->
					<%#if index==0 %><!--HIDE first print function required for all records-->
						<%#= link_to image_tag("printer.png", :border => 0, :title => 'Book Detail'), :action => 'book_detail', :id => book, :locals =>{:a=>index} %>
					<%# end %>
				<!--</td>-->
				<!--1April2013-->
				<td width=10px>
					<% if index==0 %>
						<%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => book %>
					<% end %>
				</td>
				<td width=10px>
						<% permitted_to? :manage, :books do %>
							<% if index==0 %>
								<%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => book %>
							<% end %>
						<% end %>
				</td>


				<td width=10px>
						<% permitted_to? :manage, :books do %>
							<% if index==0 %>
								<%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), book, :confirm => 'Are you sure?', :method => :delete %>
							<% end %>
						<% end %></td>
			</tr>
			<% end %><!--1April2013-->
			
			<% else %><%# else for ---> if book.accessions.count != 0 %>
				<tr>
					<td><%=h (Book::MEDIA.find_all{|disp, value| value == book.mediatype}).map {|disp, value| disp} %></td>
					<td>
								<% if book.photo_file_name == nil %>
								no image
								<% else %>
								<%= image_tag book.photo.url, :class => 'list-image' %>
								<% end %> </td>
					<td><b><span STYLE="font-size:1.1em"><%=h book.title %></span></b><BR><%=h book.author %><BR>ISBN : <%=h book.isbn %></td>

					<td><%#=h book.book_quantity if index==0 %></td>
					<td>
						<%=h book.accessionno %>
						<br><%=h book.classlcc %>	
					</td>
					<!-- <td><#%=h (Book::LOAN.find_all{|disp, value| value == book.loantype}).map {|disp, value| disp} %></td> -->
					<td><%=h book.location %><BR>
							<%=h (Book::STATUS.find_all{|disp, value| value == book.status}).map {|disp, value| disp} %>
					</td>
					<!--2Apr2013-check roman column, if data already distribute into 3 columns:roman, size & pages-->
					<td width=50px align=center>
					<% if book.roman != nil %>	
						<% if book.roman.include?(';') || book.roman.include?(':') || book.roman.include?(',')  %>
							&#10003;
						<% end %>
					<% end %>
					</td>
					<!--2Apr2013-check roman column, if data already distribute into 3 columns:roman, size & pages-->
					<!--
					<td width=10px><%#= link_to image_tag("printer.png", :border => 0, :title => 'Book Detail'), :action => 'book_detail', :id => book %></td>-->
					<td width=10px><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => book %></td>
					<td width=10px>
						<% permitted_to? :manage, :books do %>
							<%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => book %>
						<% end %>
					</td>
				 
					<td width=10px>
						<% permitted_to? :manage, :books do %>
							<%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), book, :confirm => 'Are you sure?', :method => :delete %>
						<% end %></td>
				</tr>
			<% end %><%# end for -----> if book.accessions.count != 0 %>
			
		<% end %>
	</table>
</div>
<div class="pagination">
 <%= will_paginate @books %>  
</div>

<br />

<% permitted_to? :manage, :books do %>
	<%= link_to image_tag("add.png", :border => 0, :title => 'Create a new Book') + "New book", new_book_path %> |
	<%= link_to 'All Books Listing', :action => 'stock_verification', :locals => {:class_type => '1',:dodo =>params[:search]} %>
	<!--HIDE ON 16JULY2013- |
	<%= link_to 'Books of class NLM', :action => 'stock_verification', :locals => {:class_type => '2'} %> | 
	<%= link_to 'Books of class LC', :action => 'stock_verification', :locals => {:class_type => '3'} %>  -->
<% end %>