<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Book List</h2>
		<div class="right">
    <% form_tag books_path, :method => 'get' do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :isbn => nil %>
		<% end %>
	</div>
</div>

<div class="tlist">
  <table width=100% border="0" cellpadding="0" cellspacing="0">
   <tr>
    <th>Isbn</th>
    <th>Accessionno</th>
    <th>Title</th>
    <th>Author</th>
    <th>Publisher</th>
	  <th>Description</th>
    <th>Loantype</th>
    <th>Mediatype</th>
    <th>Status</th>
    <th colspan=3 class="ac">Control</th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%=h book.isbn %></td>
    <td><%=h book.accessionno %></td>
    <td><%=h book.title %></td>
    <td><%=h book.author %></td>
    <td><%=h book.publisher %></td>
    <td><%=h book.description %></td>
    <td><%=h (Book::LOAN.find_all{|disp, value| value == book.loantype}).map {|disp, value| disp} %></td>
    <td><%=h (Book::MEDIA.find_all{|disp, value| value == book.mediatype}).map {|disp, value| disp} %></td>
    <td><%=h (Book::STATUS.find_all{|disp, value| value == book.status}).map {|disp, value| disp} %></td>
    <td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => book %></td>
	  <td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => book %></td>
    <td width=10px><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
</div>
</div>

<%= link_to 'New Book', new_book_path %>