<div class="tform">
	<div class="photo">
		
	</div>
	

  <table width=100% >

	<tr>
		<th colspan = 3>Book Details</th>
	</tr>
	<tr>
		<td class="leftcol"><label for="tagno">No Bilangan:</label></td>
		<td><%=h @book.id %></td>
		<td rowspan=10 align=right><% if @book.photo.exists? then %>
		  <%= image_tag @book.photo.url%>
		<% else %>
		  No Photo<BR>Available
		<% end %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="controlno">Control No:</label></td>
		<td><%=h @book.controlno %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="isbn">ISBN No:</label></td>
		<td><%=h @book.isbn %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="issn">ISSN:</label></td>
	    <td><%=h @book.issn %></td>
	</tr>
	
	
	<tr>
	<td class="leftcol"><label for="bookcode">Library Code:</label></td>
      <td><%=h @book.bookcode %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="accessionno">Accession No:</label></td>
		<td><%=h @book.accessionno %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="catsource">Catalouging Source To:</label></td>
	    <td><%=h @book.catsource %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="classlcc">Class No (NLM):</label></td>
		<td><%=h @book.classlcc %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="classddc">Class No (DDC):</label></td>
	    <td><%=h @book.classddc %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="title">Title:</label></td>
	    <td><%=h @book.title %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="author">Author:</label></td>
	    <td><%=h @book.author %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="publisher">Publisher:</label></td>
	    <td><%=h @book.publisher %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="description">Physical Description:</label></td>
	    <td><%=h @book.description %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="loantype">Loan Type:</label></td>
	    <td><%=h (Book::LOAN.find_all{|disp, value| value == @book.loantype}).map {|disp, value| disp} %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="mediatype">Media Type:</label></td>
	    <td><%=h (Book::MEDIA.find_all{|disp, value| value == @book.mediatype}).map {|disp, value| disp} %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="status">Status:</label></td>
	   <td><%=h (Book::STATUS.find_all{|disp, value| value == @book.status}).map {|disp, value| disp} %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="series">Series:</label></td>
	    <td><%=h @book.series %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="location">Location:</label></td>
	    <td><%=h @book.location %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="topic">Subject:</label></td>
	    <td><%=h @book.topic %></td>
	</tr>
	

	
	<tr>
		<td class="leftcol"><label for="edition">Edition:</label></td>
	    <td><%=h @book.edition %></td>
	</tr>
	

	<tr>
		<th colspan = 3>Purchase Information</th>
	</tr>
	
		<tr>
			<td class="leftcol"><label for="orderno">Order No:</label></td>
			<td><%=h @book.orderno %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="purchaseprice">Purchase Price:</label></td>
			<td><%=h ringgols(@book.purchaseprice) %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="purchasedate">Purchase Date:</label></td>
			<td><%=h @book.purchasedate %></td>
		</tr>


		<tr>
		<td class="leftcol"><label for="receiveddate">Date Received:</label></td>
	      <td><%=h @book.receiveddate %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="receiver_id">Received By:</label></td>
			<td><%=h @book.receiver_id.blank? ? "" : @book.staff.name %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="supplier_id">Supplier:</label></td>
		    <td><%=h @book.supplier_id.blank? ? "" : @book.addbook.name %></td>
		</tr>
</table>
<BR>
</div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>