<%= stylesheet_link_tag 'report', :media => "print" %>

	<form action="#">
		<script>
		document.write("<input type='button' " +
		"onClick='window.print()' " +
		"class='printbutton' " +
		"value='<%=escape_javascript(t 'print')%>'/>");
		</script>
	</form>
<div id="hideLink">
<%= link_to (t 'book.back_to_index'), books_path %><br>
<%= link_to (t 'book.back_to_search'), :controller=>'booksearches', :action => 'new', :searchbooktype => 1 %>
</div><BR>
	
<div class="A4potrait" style="border: none;">
<BR/>
<table class="tlong">
	<thead>
				<tr>
					<th class="tright" colspan=6><b></b></th>
				</tr>
				<tr>
					<th  colspan=6><b><%=(t 'book.listing').upcase%></b></th>
				</tr>
				<tr>
					<th colspan=6 style="text-align:left;">
						<%=t('book.total_books')%> / <%=t('book.titles')%> : <%#= @bob %><%=@books.count%>/<%= Book.count('title',:conditions=>['id IN(?)', @books.map(&:id)], :distinct => true)%>
						<br>
						<%=(t 'book.search_by_classno2')+(t 'book.start_w_letter')+" : " + @class_no if @class_no != nil%> 
						<% if @accs_no != nil %> 
							<%=t('book.search_by_accessionno2')%>
							<%= @accs_no if @accs_no != nil %> -
							<%= @accs_no_end if @accs_no_end != nil %>)
						<% end %>
						<%if @bb==''||@bb=='2'||@bb=='3'%>
							 / <%= Book.count('title', :distinct => true)%>
						<% end%>
						<% if @bb == '1' %> - <% if @books.count==Book.all.count%><%=t('book.summary_all')%><%else%><%=t('equery.book.summary_search')%><%end%>
						<% elsif @bb == '2' %> - <%=t('book.listing_by_class_nlm')%>
						<% elsif @bb == '3' %> - <%=t('book.listing_by_class_lc')%>
						<% elsif @bb == '4' %> - <%=t('book.listing_books')%> <br>(<%=@searchby_items%>)
						<% end %>
					</th>
				</tr>
				<tr>
					<th class="tcol"><b>NO</b></th>
					<th class="tcol"><b><%=t('book.accno')%></b></th>
					<th class="tcol"><b><%=t('book.nlm_lc')%></b></th>
					<th class="tcol"><b><%=(t 'book.author').upcase%></b></th>
					<th class="tcol"><b><%=(t 'book.title').upcase%></b></th>
					<th class="tcol"><b>ISBN</b></th>
				</tr>
	</thead>
	
	<tbody>
			<% bil = 0 %>
			<% @books.each do |book|%>
			<% bil += 1 %>
				<% if book.accessions.count != 0 %>
				<!--for already amended data (books+accessions)-start-->
				<% book.accessions.each do |accession|%>
				<tr>
					
					<td class="tdata" style="text-align:center;" ><%=h bil %></th>
					<td class="tdata">
						<!--1Apr2013-TEMPORARY solution until all data transformed into books+accessions tables-->
							<!--DO NOT REMOVE until data transformation completed-->
							<%#=h book.accessions.count %>
							<!--DO NOT REMOVE until data transformation completed-->
						<%= accession.accession_no %>
						<!--1Apr2013-TEMPORARY solution until all data transformed into books+accessions tables-->
					</th>
					
					<td class="tdata"><%=h book.classlcc if book.classlcc!=''%><%=h book.classddc if book.classddc!=''%></th>
					<td class="tdata"><%=h book.author %></th>
					<td class="tdata"><%=h book.title %></th>
					
					<td class="tdata" style="white-space: nowrap; padding-right:3mm;" >
						<%=h book.isbn.split("-").to_s if book.isbn!= nil %>
					</th>
				</tr>
				<% end %>
				<!--for already amended data (books+accessions)-end-->
				<% else %>
				<tr>
					<td class="tdata" style="text-align:center;" ><%=h bil %></th>					
					<td class="tdata">
						<!--1Apr2013-TEMPORARY solution until all data transformed into books+accessions tables-->
							<!--DO NOT REMOVE until data transformation completed-->
							<%#=h book.accessions.count %>
							<!--DO NOT REMOVE until data transformation completed-->
						<%= book.accessionno %>
						<!--1Apr2013-TEMPORARY solution until all data transformed into books+accessions tables-->
					</th>
					
					<td class="tdata"><%=h book.classlcc if book.classlcc!=''%><%=h book.classddc if book.classddc!=''%> </th>
					<td class="tdata"><%=h book.title %></th>
					<td class="tdata"><%=h book.author %></th>
					
					<td class="tdata" style="white-space: nowrap; padding-right:3mm;" >
						<%=h book.isbn.split("-").to_s if book.isbn!= nil %>
					</th>
				</tr>
				<% end %>
			<% end %>
	</tbody>
</table>
<div>	
	
<br>
<div id="hideLink">
<%= link_to (t 'book.back_to_index'), books_path %><br>
<%= link_to (t 'book.back_to_search'), :controller=>'booksearches', :action => 'new', :searchbooktype => 1 %>
</div><BR>