<!--for checking (start)-->
<!--
<%#= @class_no%><br>
<%#= @book_by_class %><br>
<%#= @book_by_class.count %><br>
SEARCH BY - FIELD CONTAINS entered string<br>
<%# for book_class in @book_by_class do %>
	<%#= book_class.classlcc %> - <%#= book_class.isbn %><br>
<%# end %>
<br><br>-->
<!--for checking (end)-->

<!--
<%#= @book_by_class2 %><br>
<%#= @book_by_class2.count %><br>-->
<!--
SEARCH BY - CLASS NO (LC) / (NLM) STARTING WITH LETTER : <b><%#=@class_no%> OR <%#= @accs_no %>-<%#= @accs_no_end %></b><br>

<%# for book_class2 in @book_by_class2 do %>
	<%#= book_class2.accessionno %> - <%#= book_class2.classlcc %> - <%#= book_class2.isbn %><br>
<%# end %>
-->

<%= stylesheet_link_tag 'report', :media => "print" %>

	<form action="#">
			<script>
			document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");
			</script>
	</form>
	
<div class="A4potrait" style="border: none;">
<BR/>
<table class="tlong">
	<thead>
				<tr>
					<th colspan=6><b>BOOK LISTING</b></th>
				</tr>
				<tr>
					<th colspan=6 style="text-align:left;">
						Total Books / Titles : <%=@book_by_class2.count%> / <%= Book.count('title', :distinct => true)%>&nbsp;-&nbsp;
						<%="Search by Class No (LC) / (NLM) starting with letter : " + @class_no if @class_no != nil%> 
						<% if @accs_no != nil %> 
							Search by Accession No (Range : 
							<%= @accs_no if @accs_no != nil %> -
							<%= @accs_no_end if @accs_no_end != nil %>)
						<% end %>
					</th>
				</tr>
				<tr><td colspan=6 style="height:5px; border-top:1px solid black;">&nbsp;</td></tr>
		
	</thead>
	<tbody>
	<% for book_class2 in @book_by_class2 do %>

		<tr><!--
			<td class="book_title2"><%#= t 'book.tagno' %></td>
			<td class="book_desc2">: <%#=h book_class2.tagno %></td>-->
			<td class="book_title2"><label for="classlcc"><%= t 'book.classno' %> (LC) / (NLM)</label></td>
			<td class="book_desc2">: <%=h book_class2.classlcc %></td>
			<td class="book_title2">Accession No</td>
			<td class="book_desc2">: <%= book_class2.accessionno %></td>
		</tr> 

		<tr>
			<td class="book_title2"><label for="isbn">ISBN / ISSN No</label></td>
			<td class="book_desc2">: <%=h book_class2.isbn %></td>

			<td class="book_title2"><label for="roman">Physical Description<%#= t 'book.roman' %></label></td>
			  <td class="book_desc2">: <%=h book_class2.roman %></td>
			<!--<td rowspan=8 align=left style="border:1px solid black;" colspan=2>-->
			<td rowspan=3 align=left style="border:1px solid black;" colspan=2><% if book_class2.photo.exists? then %>
			  <%= image_tag book_class2.photo.url, :class => 'show-image'%>
			<% else %>
			  No Photo<BR>Available
			<% end %></td>
		</tr>

		<tr>
			<td class="book_title2"><label for="catsource"><%= t 'book.catsource' %> </label></td>
			<td class="book_desc2">: <%=h (Book::CATSOURCE.find_all{|disp, value| value == book_class2.catsource.to_i}).map {|disp, value| disp} %></td>
			<td class="book_title2"><label for="size"><%= t 'book.series' %>/<%= t 'book.edition' %></label></td>
		  	<td class="book_desc2">: <%=h book_class2.series %>/<%=h book_class2.edition %></td>
			<!--
				<td class="book_title3"><label for="size"><%#= t 'book.size' %></label></td>
			  <td class="book_desc2">: <%#=h book_class2.size %></td>-->
		</tr>
		<tr><!--
			<td class="book_title2"><label for="classlcc"><%#= t 'book.classno' %> (LC) / (NLM)</label></td>
			<td class="book_desc2">: <%#=h book_class2.classlcc %></td>-->
			<td class="book_title2"><label for="pages">Imprint</label></td>
		  	<td class="book_desc2">: <%=h book_class2.publish_location %>, <%=h book_class2.publisher %>, <%=h book_class2.publish_date %> </td>
			
			<td class="book_title2"><label for="pages"><%#= t 'book.pages' %></label></td>
			  <td class="book_desc2"><!--: --><%#=h book_class2.pages %></td>
		</tr>
		<!--16JULY2013-hide TITLE, LOAN TYPE, LANGUAGE, MEDIATYPE,AUTHOR,SUBJECT,PUBLISHER,PUBLISH DATE,PUBLISH LOCATION
		<tr>
			<td class="book_title2"><%#= t 'book.title' %></td>
		  <td class="book_desc2">: <%#=h book_class2.title %></td>
			<td class="book_title3"><label for="loantype"><%#= t 'book.loan_type' %></label></td>
		    <td class="book_desc2">: <%#=h (Book::LOAN.find_all{|disp, value| value == book_class2.loantype}).map {|disp, value| disp} %></td>
		
		</tr>

		<tr>
			<td class="book_title2"><%#= t 'book.language' %></td>
		  <td class="book_desc2">: <%#=h (Book::LANGUAGE.find_all{|disp, value| value == book_class2.language}).map {|disp, value| disp} %></td>
				<td class="book_title3"><label for="mediatype"><%#= t 'book.mediatype' %></label></td>
			    <td class="book_desc2">: <%#=h (Book::MEDIA.find_all{|disp, value| value == book_class2.mediatype}).map {|disp, value| disp} %></td>
			
		</tr>

		<tr>
			<td class="book_title2"><%#= t 'book.author' %></td>
		  <td class="book_desc2">: <%#=h book_class2.author %></td>
			<td class="book_title3"><label for="status">Status</label></td>
		  <td class="book_desc2">:<%#=h (Book::STATUS.find_all{|disp, value| value == book_class2.status}).map {|disp, value| disp} %></td>
		
		</tr>

		<tr>
			<td class="book_title2"><%#= t 'book.subject' %></td>
		    <td class="book_desc2">: <%#=h book_class2.subject %></td>
			<td class="book_title3"><label for="series"><%#= t 'book.series' %></label></td>
		  <td class="book_desc2">: <%#=h book_class2.series %></td>
		</tr>-->
		<!--
		<tr>
			<td class="book_title2"><%#= t 'book.publisher' %></td>
		    <td class="book_desc2">: <%#=h book_class2.publisher %></td>
			<td class="book_title3"><label for="location"><%#= t 'book.location' %></label></td>
		  <td class="book_desc2">: <%#=h book_class2.location %></td>
		</tr>

		<tr>
			<td class="book_title2"><%#= t 'book.publish_date' %></td>
		    <td class="book_desc2">: <%#=h book_class2.publish_date %></td>
			<td class="book_title3"><label for="edition"><%#= t 'book.edition' %></label></td>
		  <td class="book_desc2">: <%#=h book_class2.edition %></td>
		</tr>

		<tr>
			<td class="book_title2"><%#= t 'book.publish_location' %></td>
		    <td class="book_desc2">: <%#=h book_class2.publish_location %></td>
				<td class="book_title3"><%#= t 'book.links' %></td>
			  <td class="book_desc2">: <%#= auto_link(book_class2.links) %></td>
		</tr>-->

		<tr><td colspan=6 style="height:5px; border-bottom:1px solid black;">&nbsp;</td></tr>
		<tr>
		
	
		<tr style="height:5px;"><td>&nbsp;</td></tr>

	<% end %>		
	</tbody>
	

	

</table>
<div>	
	

<div id="hideLink">
<%= link_to 'Back', books_path %>
</div>

