<h3>Edit Travel Request</h3>
<HR>

<% form_for(@travelrequest) do |f| %>
  <%= f.error_messages %>


<%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @travelrequest %> |
<%= link_to 'Back', travelrequests_path %>