<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left"><%= t 'travel.list' %></h2>
	</div>
	<div class="tlist">
	    <table width=90% border="0" cellpadding="0" cellspacing="0">
		  <tr>
		     <th><%= t 'travel.sname' %></th>
			 <th><%= t 'travel.destination' %></th>
			 <th><%= t 'travel.tstartdt' %></th>
			 <th><%= t 'travel.replacement_id' %></th>
			 <th><%= t 'travel.approved' %></th>
			 <th colspan=3 class="ac">Control</th>
		  </tr>

          <% @travelrequests.each do |travelrequest| %>
          <tr>
	        <td><%=h travelrequest.stafftravel.name%></td>
            <td><%=h travelrequest.destination %></td>
            <td><%=h travelrequest.tstartdt %></td>
            <td><%=h travelrequest.replacement_id.blank? ? "N/A" : travelrequest.treplace.name %></td>
            <td><%=h travelrequest.hod_id.blank? ? "N/A" : travelrequest.hod.name %></td>
            <td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => travelrequest %></td>
		    <td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => travelrequest %></td>
            <td><%= link_to 'Destroy', travelrequest, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
          <% end %>
        </table>
</div></div>

<br />

<%= link_to (t 'travel.create'), new_travelrequest_path %>