<div class="tform">
	<H2><%= t 'travel.staff_details' %></H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="trcode"><b><%= t 'travel.trcode' %> :</b></label></td>
			<td><%=h @travelrequest.trcode %></td>
		</tr>
		  <tr>
			<td class="leftcol"><label for="staff_id"><b><%= t 'staff.icno' %> :</b></label></td>
			<td><%=h @travelrequest.stafftravel.formatted_mykad %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="staff_id"><b><%= t 'travel.sname' %> :</b></label></td>
			<td><%=h @travelrequest.stafftravel.name %></td>
		</tr>		
		<tr>
			<td class="leftcol"><label for="staff_id"><b><%= t 'staff.staffgrade_id' %> :</b></label></td>
			<td><%=h @travelrequest.stafftravel.staffgrade.name %></td>
		</tr>		
		<tr>
			<td class="leftcol"><label for="staff_id"><b><%= t 'staff.position' %> :</b></label></td>
			<td><%=h @travelrequest.stafftravel.position.positionname %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="trcode"><b><%= t 'staff.bank' %> :</b></label></td>
			<td><%=h @travelrequest.stafftravel.my_bank %>:-  <%=h @travelrequest.stafftravel.bankaccno %></td>
		</tr>
	</table>
	<BR><BR>
		
	<H2><%= t 'travel.travel_details' %></H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="destination"><b><%= t 'travel.destination' %> :</b></label></td>
			<td><%=h @travelrequest.destination %></td>
		</tr>
		<tr>
		   <td class="leftcol"><label for="purpose"><b><%= t 'travel.purpose' %> :</b></label></td>
			<td><%=h @travelrequest.purpose %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="tstartdt"><b><%= t 'travel.tstartdt' %> :</b></label></td>
			<td><%=h l(@travelrequest.tstartdt) %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="treturndt"><b><%= t 'travel.treturndt' %> :</b></label></td>
			<td><%=h l(@travelrequest.treturndt) %></td>
		</tr>
		<tr>
			 <td class="leftcol"><label for="bplreserve"><b><%= t 'travel.bplreserve' %>:</b></label></td>
				<!--	<td><#%=h @travelrequest.bplreserve %></td>-->
		</tr>
		<tr>
		  <td class="leftcol"><label for="ifownwhy"><b><%= t 'travel.ifownwhy' %> :</b></label></td>
			<td><%=h @travelrequest.ifownwhy %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="claimtype"><b><%= t 'travel.claimtype' %> :</b></label></td>
			<td><%=h @travelrequest.claimtype %></td>
		</tr>
	</table>
	<BR><BR>
	
	<% if @travelrequest.submission.blank? == false %>	
	<H2>Submission</H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="submission"><b><%= t 'travel.submissiondate' %> :</b></label></td>
			<td><%=h @travelrequest.submission %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="replacement_id"><b><%= t 'travel.replacement_id' %> :</b></label></td>
			<td><%=h @travelrequest.replacement_id.blank? ? "" : @travelrequest.treplace.mykad_with_staff_name %></td>
		</tr>
	</table>
	<% end %>
	<BR><BR>
	
	<% if @travelrequest.hod_id.blank? == false %>	
	<H2><%= t 'travel.hod_confrm' %></H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="hod_id"><b><%= t 'travel.hod_id' %> :</b></label></td>
			<td><%=h @travelrequest.hod_id.blank? ? "Not Staff" : @travelrequest.hod.mykad_with_staff_name %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="hodconfirmdt"><b><%= t 'travel.hodconfirmdt' %> :</b></label></td>
			<td><%=h @travelrequest.hodconfirmdt %></td>
		</tr>
	</table>
	<% end %>
</div>
	<BR>

<%= link_to (t 'icms.update'), edit_travelrequest_path(@travelrequest) %> |
<%= link_to (t 'icms.back'), travelrequests_path %>