<div class="fields">
<table width=100% border=1 cellspacing=0 BORDERCOLOR="#E6F8E0">
<tr>
		<td><%= f.select :performance,
		                 SktAchive::PERFORM,
		                 :prompt => "Select" %></td>
		<td> <%= f.text_area :performance_detail, :size => "20x3" %></td>
		<td> <%= f.text_area :target_work, :size => "20x3", :placeholder => "Sasaran Kerja" %></td>
		<td> <%= f.text_area :actual_achieve, :size => "20x3", :placeholder => "Pencapaian Sebenar" %></td>
		<td> <%= f.text_area :percent_achieve, :size => "20x3", :placeholder => "% Pencapaian" %></td>
		<td> <%= f.text_area :comment, :size => "20x3", :placeholder => "Ulasan" %></td>

<td><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>  </td>
</tr>
</table>
</div>