<h3>Editting Annual Work Target</h3>

<% form_for(@skt_staff) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @skt_staff %> |
<%= link_to 'Back', skt_staffs_path %>