<h1>Editing accession</h1>

<% form_for(@accession) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :book_id %><br />
    <%= f.text_field :book_id %>
  </p>
  <p>
    <%= f.label :Accession_no %><br />
    <%= f.text_field :Accession_no %>
  </p>
  <p>
    <%= f.label :order_no %><br />
    <%= f.text_field :order_no %>
  </p>
  <p>
    <%= f.label :purchase_price %><br />
    <%= f.text_field :purchase_price %>
  </p>
  <p>
    <%= f.label :received %><br />
    <%= f.date_select :received %>
  </p>
  <p>
    <%= f.label :received_by %><br />
    <%= f.text_field :received_by %>
  </p>
  <p>
    <%= f.label :supplied_by %><br />
    <%= f.text_field :supplied_by %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @accession %> |
<%= link_to 'Back', accessions_path %>