<p>
  <b>Book:</b>
  <%=h @accession.book_id %>
</p>

<p>
  <b>Accession no:</b>
  <%=h @accession.Accession_no %>
</p>

<p>
  <b>Order no:</b>
  <%=h @accession.order_no %>
</p>

<p>
  <b>Purchase price:</b>
  <%=h @accession.purchase_price %>
</p>

<p>
  <b>Received:</b>
  <%=h @accession.received %>
</p>

<p>
  <b>Received by:</b>
  <%=h @accession.received_by %>
</p>

<p>
  <b>Supplied by:</b>
  <%=h @accession.supplied_by %>
</p>


<%= link_to 'Edit', edit_accession_path(@accession) %> |
<%= link_to 'Back', accessions_path %>