<table width=100% >
	<tr>
		<td class="leftcolwide"><label for="asset_code"><b>Asset Code</b></label></td>
		<td><%= @asset_loan.asset.assetcode %> -  
				<%= @asset_loan.asset.typename %> -   
				<%= @asset_loan.asset.name %>  -  
				<%= @asset_loan.asset.modelname %>
				<%= @asset_loan.asset.serialno %></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><label for="asset_code"><b>Staff Name</b></label></td>
		<td><%= @asset_loan.loaner %></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><label for="asset_code"><b>Reasons</b></label></td>
		<td><%= f.text_area :reasons, :size => '60x5' %></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><%= f.label :loaned_on %></td>
		<td><%= f.date_select :loaned_on, :order => [:day, :month, :year] %></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><label>Expected Return Date	</td>
		<td><%= f.date_select :expected_on, :order => [:day, :month, :year], :default => Date.today + 2.days %></td>
	</tr>
</table>


