<table width=100% >
	<tr>
		<td class="leftcolwide"><label for="asset_code"><b><%= t 'assets.assetcode' %></b></label></td>
		<td><%= @asset_loan.asset.assetcode %> -  
				<%= @asset_loan.asset.typename %> -   
				<%= @asset_loan.asset.name %>  -  
				<%= @asset_loan.asset.modelname %>
				<%= @asset_loan.asset.serialno %></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><label for="asset_code"><b><%= t 'menu.owner_repons' %></b></label></td>
		<td>
			<%= @asset_loan.asset.assignedto.name unless @asset_loan.asset.assignedto.blank?%> / 
			<%= @asset_loan.asset.assignedto.position.unit unless @asset_loan.asset.assignedto.position.blank?%>
		</td>
	
	</tr>
	
	<tr>
		<td class="leftcolwide"><label for="asset_code"><b><%= t 'claims.staff_name' %></b></label></td>
		<td><%= @asset_loan.loaner %></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><label for="asset_code"><b><%= t 'travel.reasons' %></b></label></td>
		<td><%= f.text_area :reasons, :size => '60x5' %></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><%= f.label :loaned_on %></td>
		<td><%= f.date_select :loaned_on, :order => [:day, :month, :year] %></td>
	</tr>
	
	<tr>
		<td class="leftcolwide"><label><%= t 'assetloan.expect_returndate' %></td>
		<td><%= f.date_select :expected_on, :order => [:day, :month, :year], :default => Date.today + 2.days %></td>
	</tr>
	<tr>
		<td class="leftcolwide"><label><%= t 'assetloan.loan_type' %></label></td>
		<td><%= f.radio_button :loantype, 1,	:id => 'loanmode',  :class => 'radio_discard_options' %>
			<%#= f.check_box :loantype, :id => 'loanmode',  :class => 'tt'%><label><%= t 'assetloan.internal' %></label>
			<%= f.radio_button :loantype, 2,	:id => 'loanmode',  :class => 'radio_discard_options' %>
			<%#= f.check_box :loantype, :id => 'loanmode',  :class => 'tt'%><label><%= t 'assetloan.external' %></label>
		</td>
	</tr>
</table>


