<H2>Return Item</H2>
<table width=100%>
	<tr>
		<td class="leftcolwide"><label for="asset_code"><b>Return</b></label></td>
		<td><%= f.check_box :is_returned %> <SPAN class='return_it' style="display: none;"><label>On </label><%= f.date_select :returned_on %></SPAN></td>
	</tr>
	
	<tr class="return_it" style="display: none;">
		<td class="leftcolwide"><%= f.label :remarks %></td>
		<td><%= f.text_area :remarks, :size => '60x4' %></td>
	</tr>
</table>

<!--
<%= f.text_field :loaned_by %>

<p>
  <%= f.label :approved_date %><br />
  <%= f.date_select :approved_date %>
</p>
<p>
  <%= f.label :hod %><br />
  <%= f.text_field :hod %>
</p><font color="red"> * </font>
<p>
  <%= f.label :hod_date %><br />
  <%= f.date_select :hod_date %>
</p>-->


<script type="text/javascript">
	$j(document).ready(function(){
			//show submit date

			$j("input[id='asset_loan_is_returned']").change(function() {  
			 if($j('#asset_loan_is_returned').is(':checked')) { 
			    $j(".return_it").show("highlight"); 
			 }else		{
			    $j(".return_it").hide(""); 
			 }	
			});

			$j("input[id='asset_loan_is_returned']").each(function() {  
			 if($j('#asset_loan_is_returned').is(':checked')) { 
			    $j(".return_it").show("highlight"); 
			 }else		{
			    $j(".return_it").hide(""); 
			 }	
			});

	});
</script>