<fieldset>
	<legend class='togvis'><%= t 'menu.asset_on_loan' %></legend>
		<table width=85% >
				<tr>
					<td class="leftcolwide"><label for="asset_code"><b><%= t 'asset.assetcode' %></b></label></td>
					<td><%= @asset_loan.asset.assetcode %> -  
							<%= @asset_loan.asset.typename %> -   
							<%= @asset_loan.asset.name %>  -  
							<%= @asset_loan.asset.modelname %>
							<%= @asset_loan.asset.serialno %></td>
				</tr>

				<tr>
					<td class="leftcolwide"><label for="asset_code"><b><%= t 'claim.staff_name' %></b></label></td>
					<td><%= @asset_loan.loaner %></td>
				</tr>

				<tr>
					<td class="leftcolwide"><label for="asset_code"><b><%= t 'travel.reason' %></b></label></td>
					<td><%=h @asset_loan.reasons %></td>
				</tr>
				<% if @asset_loan.is_approved != false %>
				<tr>
					<td class="leftcolwide"><%= t 'assetloan.requestfor' %></td>
					<td><%=h @asset_loan.loaned_on %></td>
				</tr>

				<tr>
					<td class="leftcolwide"><label><%= t 'assetloan.expect_returndate' %></td>
					<td><%=h @asset_loan.expected_on %></td>
				</tr>
				
				<tr>
					<td class="leftcolwide"><label><%= t 'asset.owner_repons' %></td>
					<td><%=h @asset_loan.asset.assignedto.name unless @asset_loan.asset.assignedto.blank? %> /
					<%=h @asset_loan.asset.assignedto.position.unit unless @asset_loan.asset.assignedto.position.blank? %></td>
				</tr>
				<tr>
					<td class="leftcolwide"><label><%= t 'book.loan_type' %></td>
					<td><%=h "Internal" if @asset_loan.loantype == 1 %><%=h "External" if @asset_loan.loantype == 2 %></td>
				</tr>
				<% end %>

		</table>
</fieldset>