<fieldset>
	<legend class='togvis'>Asset On Loan</legend>
		<table width=85% >
				<tr>
					<td class="leftcolwide"><label for="asset_code"><b>Asset Code</b></label></td>
					<td><%= @asset_loan.asset.assetcode %> -  
							<%= @asset_loan.asset.typename %> -   
							<%= @asset_loan.asset.name %>  -  
							<%= @asset_loan.asset.modelname %>
							<%= @asset_loan.asset.serialno %></td>
				</tr>

				<tr>
					<td class="leftcolwide"><label for="asset_code"><b>Staff Name</b></label></td>
					<td><%= @asset_loan.loaner %></td>
				</tr>

				<tr>
					<td class="leftcolwide"><label for="asset_code"><b>Reasons</b></label></td>
					<td><%=h @asset_loan.reasons %></td>
				</tr>
				<% if @asset_loan.is_approved != false %>
				<tr>
					<td class="leftcolwide">Requested For</td>
					<td><%=h @asset_loan.loaned_on %></td>
				</tr>

				<tr>
					<td class="leftcolwide"><label>Expected Return Date	</td>
					<td><%=h @asset_loan.expected_on %></td>
				</tr>
				
				<tr>
					<td class="leftcolwide"><label>Loaned By</td>
					<td><%=h @asset_loan.asset.assignedto.name unless @asset_loan.asset.assignedto.blank? %></td>
				</tr>
				<% end %>

		</table>
</fieldset>