<fieldset>
	<legend class='togvis'><%= t 'assetloan.returnitem' %></legend>
		<table width=100%>
			<tr>
				<td class="leftcolwide"><label for="asset_code"><b><%= t 'lesson_plan.returned' %>?</b></label></td>
				<td>Received on <%=h @asset_loan.returned_on.strftime("%d %B %Y") %> by <%= @asset_loan.receivedofficer.name %></td>
			</tr>
	
			<tr>
				<td class="leftcolwide"><%= t 'student.remark' %>:</td>
				<td><%=h @asset_loan.remarks %></td>
			</tr>
		</table>
</fieldset>