<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left"><%= t('menu.asset_on_loan') %></h2>
		<div class="right">
		</div>
  </div>
</div>
<div class="indextable">
	
  <% current_login_roles=[]%>
  <% Login.current_login.roles.each do |role|%>
	<% current_login_roles << role.id%>
  <% end %>
  <b><%#=current_login_roles.include?(11) %></b><!--11 for asset administrator-->
	
<div class="toolbar">
	<table width=100%><tr>
		<td width=80%><div class="pagination"><%#= will_paginate @loanables %></div></td>
		<td width=20% style="text-align:right;"><%= select_tag_for_filter("asset_loans", @filters, params) %></td>
	</tr></table>
</div>
	
<table>
  <tr>
    <th><%= t('menu.assets') %></th>
    <th><!--Staff<BR/>--><%= t('evaluation.form.reason') %></th>
	<th><%= t('asset.owner_respons') %></th>
	<!--<th>Loan Type</th>-->
    <th><%= t('assetloan.requestfor') %>/<BR/><%= t('assetloan.to_be_return') %></th>
	<th><%= t('assetloan.approved_on') %></th>
	<th style="text-align:center;">Status</th>
	<th colspan=4 class="ac"><%= t('control') %></th>
  </tr>

<% @asset_loans.each do |asset_loan| %>
  	<% @unit_members = asset_loan.unit_members %>

	<% if @unit_members.include?(current_login.staff_id) || current_login_roles.include?(11) || asset_loan.staff == current_login.staff || (asset_loan.hod == current_login.staff_id && asset_loan.is_approved==true && asset_loan.is_returned!=true ) %>
  	<tr>
    	<td><%=h asset_loan.asset.assetcode %><BR/><%= asset_loan.asset.typename %>
			<!--16July2013--><%= asset_loan.asset.name %></td>
    	<td><% unless current_login.staff == asset_loan.staff %>
				<%=h asset_loan.staff.name %>
			<% else %>
				<%= "<b>"+asset_loan.staff.name+"</b>" if current_login_roles.include?(11) %><!--highlighted for asset admin only-as list may long!-->
			<% end %>

			<BR/><%=h asset_loan.reasons %></td>
		<td><%=h asset_loan.asset.assignedto.name unless asset_loan.asset.assignedto.blank? %><br>
			<b><%=h asset_loan.asset.assignedto.position.unit unless asset_loan.asset.assignedto.position.blank? %></b>
		</td>
		<!--<td><%#=h "Internal" if asset_loan.loantype == 1 %><%#=h "External" if asset_loan.loantype == 2 %></td>-->
    	<td><%=h l(asset_loan.loaned_on) %><BR/><%=h l(asset_loan.expected_on) %></td>
		<td>
			<% if asset_loan.is_approved == true %>
				<%=h l(asset_loan.approved_date) %>
			<% elsif asset_loan.is_approved == false %>
				<span style="font-weight:bold;color:red;"><%=t('assetloan.rejected')%></span>
			<% else %>
				<span style="font-weight:bold;color:green;"><%=t('assetloan.pending')%></span>
			<% end %>
		</td>
		<td align=center>
			<%#=h image_tag("#{asset_loan.status}") %>
			<% if asset_loan.is_approved == true && asset_loan.is_returned != true %>
				<%=t('assetloan.onloan')%>
				<% if asset_loan.expected_on == Date.today %>
					<br><span style="font-weight:bold; color:red;"><%=t('assetloan.due_date')%><!--(Due)--></span>
				<% elsif asset_loan.expected_on < Date.today %><!--amended after retest-3Mei2013-->
					<br><span style="font-weight:bold; color:red;"><%=t('assetloan.overdue')%><!--(Overdue)--></span>	
				<% end %>
			<% elsif asset_loan.is_approved == true && asset_loan.is_returned == true %>
				<%=t('assetloan.returned')%>
			<% end %>
		</td>
    	<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => (t 'show')), :action => 'show', :id => asset_loan %></td>

		<%#-------------------------------------------------%>
		<% if @unit_members.include?(current_login.staff_id) || current_login_roles.include?(11)%><!--2Feb2015-->
  		<%# if @unit_members.include?(current_login.staff_id) %><%## if asset_loan.loaned_by == Login.current_login.staff_id %>
	
			<td width=10px>
				<!---->
				<%# if (asset_loan.is_approved == nil && asset_loan.loaned_by == Login.current_login.staff_id) %>
				<%# if (asset_loan.is_approved == nil && asset_loan.loaned_by == Login.current_login.staff_id) || (asset_loan.is_approved == nil && current_login_roles.include?(11)) %>
				<%# elsif (asset_loan.is_approved == true && asset_loan.loaned_by == Login.current_login.staff_id) %>
				<%# elsif (asset_loan.is_approved == true && asset_loan.loaned_by == Login.current_login.staff_id) || (asset_loan.is_approved == true && current_login_roles.include?(11)) %>
		
				<% if (asset_loan.is_approved == nil) %>
					<%= link_to image_tag("approval.png", :border => 0, :title => (t 'approval')), :action => 'approve', :id => asset_loan %>
				<% elsif (asset_loan.is_approved == true && asset_loan.is_returned != true) %>
					<%= link_to image_tag("cog_go.png", :border => 0, :title => (t 'return')), :action => 'edit', :id => asset_loan %>
				<% elsif asset_loan.is_approved == false %>
				<% end %>
				<!---->
			</td>
	
			<td class="action">
				<%# if (asset_loan.is_approved == true && asset_loan.loaned_by == Login.current_login.staff_id) %>
				<% permitted_to? :lampiran, :asset_loans do%>
					<% if (asset_loan.is_approved == true) %>
						<div class="noti_Container">
							<% if asset_loan.loantype == 2 %>
								<%= link_to image_tag("printer.png", :border => 0, :title => 'Lampiran A'), :action => 'lampiran', :id => asset_loan %>
								<div class="noti_bubble">A</div>
							<% end %>
						</div>
					<% end %>
				<% end %>
			</td>
			
		<% end %>
		<%#-------------------------------------------------%>
		
		<!--special for hod only (Pengarah-external)- those not in hods list-->
		<% if (asset_loan.hod == current_login.staff_id) && (@unit_members.include?(current_login.staff_id)==false) %>
			<td class="action">
				<% if (asset_loan.is_approved == true) %>
					<div class="noti_Container">
						<% if asset_loan.loantype == 2 %>
							<%= link_to image_tag("printer.png", :border => 0, :title => 'Lampiran A'), :action => 'lampiran', :id => asset_loan %>
							<div class="noti_bubble">A</div>
						<% end %>
					</div>
				<% end %>
			</td>
		<% end %>
		<!--special for hod only (Pengarah-external)- those not in hods list-->
		
		<!--
		<td width=10px>
			<%# if asset_loan.loantype == 2 %>
				<%#= link_to image_tag("printer.png", :border => 0, :title => 'Lampiran A'), :action => 'lampiran', :id => asset_loan %>
			<%# end %>
		</td>-->
		<%# if @unit_members.include?(current_login.staff_id) || current_login_roles.include?(11) %>
		<%# if current_login_roles.include?([11, 2]) %><% permitted_to? :delete, :asset_loans do%><!--deletion restricted to administrator & asset administrator-->
   			<td width=10px>
				<%= link_to image_tag("delete.png", :border => 0, :title => (t 'delete')), asset_loan, :confirm => 'Are you sure?', :method => :delete %>
			</td>
		<% end %>
  		<!--for better view only-screen-loaner(peminjam) & bukan asset administrator-->
		<% if (current_login.staff == asset_loan.staff) && current_login_roles.include?(11)==false %><td>&nbsp;</td><% end %>
  		<!--for better view only-screen-loaner(peminjam) & bukan asset administrator-->
		<!--for better view only-screen-loaner(peminjam)-yg pd ms sama merupakan (peg pengeluar) member of responsible unit bagi ASEI di baris2 lain TETAPI BUKAN (peg pengeluar) BAGI ASET PADA BARIS NIH & & bukan asset administrator-->
		<% if current_login.staff == asset_loan.staff && @unit_members.include?(current_login.staff_id)==false && current_login_roles.include?(11)==false %>
			<td>&nbsp;</td><td>&nbsp;</td>
		<% end %>
		<!--for better view only-screen-loaner(peminjam)-yg pd ms sama merupakan (peg pengeluar) member of responsible unit bagi ASEI di baris2 lain TETAPI BUKAN (peg pengeluar) BAGI ASET PADA BARIS NIH & bukan asset administrator-->
	</tr>
	<% end %>

<% end %>
</table>
</div>
<br />

<% link_to (t 'assetloan.new'), new_asset_loan_path %>