<div class="tform">
<%= render :partial => 'show_request' %>
<% if @asset_loan.is_approved != nil %>
<%= render :partial => 'show_approval' %>
<% end %>
<% if @asset_loan.is_returned == true %>
<%= render :partial => 'show_return' %>
<% end %>



</div>




<% if @asset_loan.is_approved == nil && @asset_loan.loaned_by == User.current_user.staff_id %>
<%= link_to "Approve", :action => 'approve', :id => @asset_loan %>
<% elsif @asset_loan.is_approved == false || @asset_loan.is_approved == true %>
<% else %>
<%= link_to 'Edit', edit_asset_loan_path(@asset_loan) %>
<% end %>|
<%= link_to 'Back', asset_loans_path %>