<p>
  <%= f.label :topic %><br />
  <%= f.text_field :topic %>
</p>
<p>
  Method<br />
  <%= f.text_field :lecture_method %>
</p>
<p>
  Location<br />
  <%= f.text_field :location %>
</p>
<p>
  Lecturer<br />
  <%= f.text_field :lecturer_id %>
</p>
