<h1>New weeklytimetable_detail</h1>

<% form_for(@weeklytimetable_detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%#= f.label :day %><br />
    <%#= f.text_field :day %>
  </p>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :topic %><br />
    <%= f.text_field :topic %>
  </p>
  <p>
    <%= f.label :time_slot %><br />
    <%= f.text_field :time_slot %>
  </p>
  <p>
    <%= f.label :lecturer_id %><br />
    <%= f.text_field :lecturer_id %>
  </p>
  <p>
    <%= f.label :weeklytimetable_id %><br />
    <%= f.text_field :weeklytimetable_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', weeklytimetable_details_path %>