<p>
  <b>Day:</b>
  <%=h @weeklytimetable_detail.day %>
</p>

<p>
  <b>Subject:</b>
  <%=h @weeklytimetable_detail.subject %>
</p>

<p>
  <b>Topic:</b>
  <%=h @weeklytimetable_detail.topic %>
</p>

<p>
  <b>Time slot:</b>
  <%=h @weeklytimetable_detail.time_slot %>
</p>

<p>
  <b>Lecturer:</b>
  <%=h @weeklytimetable_detail.lecturer_id %>
</p>

<p>
  <b>Weeklytimetable:</b>
  <%=h @weeklytimetable_detail.weeklytimetable_id %>
</p>


<%= link_to 'Edit', edit_weeklytimetable_detail_path(@weeklytimetable_detail) %> |
<%= link_to 'Back', weeklytimetable_details_path %>