<div class="tform">
	<H2><%=t('equery.staff.search')%></H2>

	<% form_for @staffsearch2 do |f| %>
		<%= f.error_messages %>
			<table width=100% >
				<tr>
					<td class="leftcol"><%= f.label (t 'staff.name') %></td>
					<td><%= f.text_field :keywords %></td>
				</tr>
				<tr>
					<td class="leftcol"><%= f.label (t 'staff.group_grade') %></td>
					<td>
						<%#= f.text_field :position %>
						<%= f.select :position,Employgrade::GROUP,:prompt => (t 'select') %>
					</td>
				</tr>
				<tr>
					<td class="leftcol"><%= f.label (t 'staff.staffgrade_id') %></td>
					<td>
						<%#= f.text_field :staff_grade %>
						<%= f.collection_select :staff_grade, Employgrade.find(:all,:order=>"name ASC"), :id, :name_and_group, :include_blank=>(t 'select')%>
					</td>
				</tr>	<!--
				<tr>
					<td class="leftcol"><%#= f.label :jantina %></td>
					<td>
						<%#= f.text_field :position %>
						<%#= f.select :gender,Staff::GENDER,:prompt => "Pilih jantina" %>
					</td>
				</tr>	-->
			</table>
  		<p><%#= f.submit %>    <%= f.submit (t 'search') %></p>
	<% end %>
</div>


