<!--<h3>Staff Search Result</h3>-->
<% @staffsearch2.staffs.count %>

<!--start-6Jul2013-use this block OR refer /staffs/_staff.html.erb-(line 1-3)-->
<!--<%# unless @staffsearch2.staffs.count == 0 %>
	<table>
		<%#=render :partial => @staffsearch2.staffs %>
	</table>
<%# else %>
	Search return no result.
<%# end %>-->
<!--end-16Jul2013-use this block OR refer /staffs/_staff.html.erb-(line 1-3)-->

<% unless @staffsearch2.staffs.count == 0 %>
	<!--
	<table>
		<tr>
			<th>Bil</th>
			<th>Nama</th>
			<th>Jawatan</th>
		</tr>
		<%# @staffsearch2.staffs.each_with_index do |x,index| %>
			<tr>	
				<td><%#=index+1%></td>
				<td><%#=x.name%></td>
			</tr>
		<%# end %>
	</table>-->
<%#=============================%>
<%= stylesheet_link_tag 'report' %> 

<form action="#">
	<script>
	document.write("<input type='button' " +
	"onClick='window.print()' " +
	"class='printbutton' " +
	"value='Print This Page'/>");
	</script>
	<fieldset width=10px >

<div id="title" width=21cm>
<H2>LAMPIRAN A</H2> 


<H3>MAKLUMAT PERJAWATAN DI KOLEJ-KOLEJ LATIHAN</H3>
<H3>KEMENTERIAN KESIHATAN MALAYSIA</H3>
<H3>SEHINGGA <%= Date.today.strftime('%d-%m-%Y') %></H3>

<BR>

<p>KOLEJ: KOLEJ SAINS KESIHATAN BERSEKUTU JOHOR BAHRU </p>
<BR>
	
<div id="tprintreport">
<table class="plong" width=100% border=1px cellspacing=0 align="center" >
	<thead>
	<tr>
		<th width=1cm valign="top" >BIL</th>
		<th width=1cm valign="top" >KOD</th>
		<th width=4cm valign="top">JAWATAN</th>
		<th width=2cm valign="top">GRED JAWATAN</th>
		<th width=5cm valign="top">NAMA</th>
		<th width=4cm valign="top">NO K/P</th>
		<th width=4cm valign="top">TARIKH LAHIR</th>
		<th width=4cm valign="top">TARIKH LANTIKAN PERTAMA</th>
		<th width=4cm valign="top">TARIKH KENAIKAN PANGKAT KE GRED SEKARANG</th>
		<th  valign="top">CATATAN *</th>
	</tr>
	</thead>
	<tbody>
	 <% just_a_counter = 0 %>
	 <% @staffsearch2.staffs.each do |staff| %><%# @positions.each do |position| %>
	    <% just_a_counter += 1 %>
    <tr align="center">
	<td><%=h just_a_counter %> </td>
	<td align="left"><%=h staff.position_code_for_staff %> </td>	
	<td align="left"><%=h staff.position_for_staff %></td>	
	<td><%=h staff.staffgrade.blank? ? "-" : staff.staffgrade.name %></td>
	<td align="left"><%=h staff.blank? ? "-" : staff.name %></td>	
	<td><%=h staff.blank? ? "-" : staff.formatted_mykad %></td>
	<td><%=h staff.blank? ? "-" : staff.cobirthdt.strftime('%d-%m-%Y') %></td>
	<td><%=h staff.blank? ? "-" : staff.appointdt %></td>
	<td><%=h staff.blank? ? "-" : staff.posconfirmdate %></td>
	<td> </td>
	</tr>
	
	<% end %>
	</tbody>
	
</table>
</div>
</fieldset>
</form>

<%#=============================%>
<% else %>

	<div style="padding-left:50px;padding-top:20px;">
		<H4>Carian Staf : Maklumat Perjawatan</H4>
		Search return no result.
	</div>	

<% end %>
