<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left"><%= t 'disposal.list' %></h2>
	</div>
</div>

<div class="tlist">
	<table width=100% border="0" cellpadding="0" cellspacing="0">
		<tr>
	    <th><%= t 'disposal.asset_id' %></th>
	    <th><%= t 'disposal.asset_description' %></th>
	    <th><%= t 'disposal.quantity' %></th>
		<th><%= t 'disposal.purchasedt' %></th>
	   <!-- <th><#%= t 'disposal.usedduration' %></th>-->
	    <th><%= t 'disposal.currentvalue' %></th>
	    <th><%= t 'disposal.opinion' %></th>
	    <th><%= t 'disposal.status' %></th>
	    <th colspan=3 class="ac"><%= t 'control' %></th>
	  </tr>

		<% @disposals.each do |disposal| %>
		<tr>
		<td><%=h disposal.assetcode_details %></td>
		<td><%=h disposal.asset.subcategory %> / <%=h disposal.name_details %> / <%=h disposal.modelname_details %></td>
		<td><%=h disposal.quantity_details %> <%=h disposal.asset.quantity_type %></td>
		<td><%=h disposal.purchasedate_details %></td>
		<!--	<td><#%=h disposal.age %> days</td>-->
		<td>RM <%=h ringgols(disposal.currentvalue) %></td>
		<td><%=h disposal.opinion %></td>
		<td><%=h disposal.gift? ? "Dilupuskan" : "Hadiah" %></td>
		<td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => disposal %></td>
		<td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => disposal %></td>
		<td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), disposal, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
<% end %>
</table>
</div>
<br />
<!--<#%= link_to 'Create New Disposal', new_disposal_path %>-->
