<div class="tform">
  <table width=100% >
	<tr>
		<th colspan=2>Disposals Details</th>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="asset_id"><b>Asset Code:</b></label></td>
		<td><%=h @disposal.asset_id.blank? ? "" : @disposal.asscd.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="used"><b>Used:</b></label></td>
		<td><%=h @disposal.used %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="usedduration"><b>Duration:</b></label></td>
		<td><%=h @disposal.usedduration %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="currentvalue"><b>Current Value:</b></label></td>
		<td><b> RM </b><%=h @disposal.currentvalue %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="opinion"><b>Opinion:</b></label></td>
		<td><%=h @disposal.opinion %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="recommendation"><b>Recommendation:</b></label></td>
		<td><%=h @disposal.recommendation %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="gift"><b>Gift:</b></label></td>
		<td><%=h @disposal.gift %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="status"><b>Status:</b></label></td>
		<td><%=h @disposal.status %></td>
	</tr>
	
</table>
<BR>
</div>
	
<%= link_to 'Edit', edit_disposal_path(@disposal) %> |
<%= link_to 'Back', disposals_path %>