<h1>Editing examtemplate</h1>

<% form_for(@examtemplate) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :questiontype %><br />
    <%= f.text_field :questiontype %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @examtemplate %> |
<%= link_to 'Back', examtemplates_path %>