<div>
	<H4>STUDENT COUNSELING SESSION SEARCH (Referred Cases & Counselor's Feedback) :</h4>
	
		<%= link_to "Back", :controller=>'studentcounselingsearches', :action => 'new', :searchstudentcounselingtype => 1 %><br><br>
	
	<table border=1 cellpadding=3 cellspacing=0 style="font-family: Arial, Helvetica, sans-serif;font-size:12px;">
		<%@count=0%>
		<% @studentcounselingsearch.studentcounselings.group_by{|x|x.case_id}.each do |caseid,sessions|%>
			<tr style="background-color:#eeecec;">
				<th colspan=2>No</th>
				<th>Matrix No</th>
				<th>Name</th>
				<th>Infraction</th>
			</tr>
			<tr>
				<td><%=@count+=1%></td>
				<td colspan=2><%=sessions[0].student.matrixno%>
				<td><%=sessions[0].student.name%></td>
				<td>
					<%=h (StudentDisciplineCase::INFRACTION.find_all{|disp, value| value == sessions[0].student_discipline_case.infraction_id}).map {|disp, value| disp} %>
					reported on : <%=sessions[0].student_discipline_case.reported_on.strftime("%d %b %Y")%>
				</td>
			</tr>
			<tr style="background-color:#eeecec;">
				<th colspan=3>Session Duration</h>
				<th>Date & Time</th>
				<th>Session Notes & Counselor's Feedback Links</th>
			</tr>
			<% sessions.each_with_index do |session, index|%>
				<tr>
					<td>&nbsp;</td>
					<td><%=index+1%></td>
					<td align="center"><%=session.duration.blank? ? "" : session.duration.to_s+" minutes"%> <%#=session.student.matrixno%></td>
					<td align="center">
						<%= session.is_confirmed? ?  session.confirmed_at.strftime("%d %b %y, %l:%M %p") : "Not available" %>
						<%#=h session_done.confirmed_at.strftime("%d %b %Y, %H:%M%p") unless session_done.confirmed_at.blank? %></td>
					<td>
						<%= link_to "Session Notes", :controller=>'student_counseling_sessions', :action => 'show', :id => session.id %> 
						<% if index==0 %>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Feedback to Referrer",:controller=>'student_counseling_sessions', :action => 'feedback_referrer', :id => session.case_id if !session.student_discipline_case.counselor_feedback.blank? %>
						<% end %>
					</td>
				<tr>
			<% end %>
			<tr style="border-left:none;border-right:none;background-color:#EBFDFE;"><td style="border-left:none;border-right:none;"colspan=5>&nbsp;</td></tr>
		<% end %>
	</table>
	<br>
	
	<span style="font-size:14px;">Total <%= @studentcounselingsearch.studentcounselings.count %> counseling appointment/sessions for <%=@count%> student discipline cases.</span><br>	

</div>