<h3>Editing Course Evaluation</h3>

<% form_for(@courseevaluation) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>

<%= link_to 'Show', @courseevaluation %> |
<%= link_to 'Back', courseevaluations_path %>