<table width=100%>
	<tr>
		<td class="leftcol"><%= f.label :semester %></td>
		<td><%= f.text_field :semester %>(<%=t('eg')%>: 1/2013)</td>
	</tr>
	<tr>
		<td class="leftcol"><%= f.label (t 'academic_session.total_week')%></td>
		<td><%= f.text_field :total_week %></td>
	</tr>
</table>