<% form_for(@academic_session) do |f| %>
  	<%= f.error_messages %>
	<div class="tform">
		<h2><%=t('academic_session.edit')%></h2>
		<%=render :partial => 'form', :locals => {:f => f} %>
	</div>
	<p>
    	<%= f.submit (t 'update') %>
  	</p>
<% end %>

<%= link_to (t 'show'), @academic_session %> |
<%= link_to (t 'back'), academic_sessions_path %>