<% form_for(@academic_session) do |f| %>
  	<%= f.error_messages %>
	<div class="tform">
		<h2>Editing Academic Session</h2>
		<%=render :partial => 'form', :locals => {:f => f} %>
	</div>
	<p>
    	<%= f.submit 'Update' %>
  	</p>
<% end %>

<%= link_to 'Show', @academic_session %> |
<%= link_to 'Back', academic_sessions_path %>