<div class="box">
	<div class="box-head">
		<h2 class="left"><%=t('academic_session.title')%></h2>
	</div>
</div>

<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => (t 'academic_session.new')) + (t 'academic_session.new'), new_academic_session_path %></p><BR><BR>
</div>

<div class="indextable">
	<table>
	  <tr>
		<th>Semester</th>
		<th><%=t('academic_session.total_week')%></th>
		<th colspan=3 class="ac"><%=t('control')%></th>
  	  </tr>

	  <% @academic_sessions.each do |academic_session| %>
	  <tr>
		<td><%=h academic_session.semester %></td>
		<td><%=h academic_session.total_week %></td>
		<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => (t 'show')), :action => 'show', :id =>academic_session %></td>
		<td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => (t 'edit')), :action => 'edit', :id => academic_session %></td>
		<td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => (t 'delete')), academic_session, :confirm => (t 'are_you_sure'), :method => :delete %></td>
	  </tr>
	  <% end %>
	</table>
<br />
</div>

<%= link_to (t 'academic_session.new'), new_academic_session_path %>