<% form_for(@academic_session) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<h2><%=t('academic_session.new')%></h2>
  		<%=render :partial => 'form', :locals => {:f => f} %>
	</div>
    <%= f.submit (t 'create') %>
  </p>
<% end %>

<%= link_to (t 'back'), academic_sessions_path %>