<div class="tform">
<fieldset>
	<legend class='togvis'><%=t('academic_session.title')%></legend>
		<table width=85% >
			<tr>
				<td class="leftcol"><label>Semester:</label></td>
				<td><%=h @academic_session.semester %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('academic_session.total_week')%>:</label></td>
				<td><%=h @academic_session.total_week %></td>				
			</tr>
		</table>
</fieldset>
</div>		

<%= link_to (t 'edit'), edit_academic_session_path(@academic_session) %> |
<%= link_to (t 'back'), academic_sessions_path %>