<div class="tform">
<H2>New Office Vehicle</H2>
<table>
	<tr>
		<td class="leftcol"><label for="car-regno">Car Reg No </label></td>
		<td><b>:</td>
		<td><%= f.text_field :car_regno %></td>
	</tr>
	
	<!--<tr>
		<td class="leftcol"><label for="car_name">Car Name </label></td>
		<td><b>:</td>
		<td><#%= f.text_field :car_name %></td>
	</tr>-->
	
	<tr>
		<td class="leftcol"><label for="car_type">Car Type</label></td>
		<td><b>:</td>
		<td><%= f.select :car_type, 
			                 Officecar::CAR_TYPE,
			                 :prompt => "Select"  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="power_car">CC</label></td>
		<td><b>:</td>
		<td><%= f.text_field :power_car %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="model">Model</label></td>
		<td><b>:</td>
		<td><%= f.text_field :modelcar %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="class_car">Class Vehicle</label></td>
		<td><b>:</td>
		<td><%= f.select :class_car, 
			                 Officecar::CAR_CLASS,
			                 :prompt => "Select"  %></td>
	</tr>
	
</table>
<BR>
</div>