<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Lists of Vehicle</h2>
	</div>		
</div>

<div class="tlist">
	 <table width=100% border="0" cellpadding="0" cellspacing="0">
  <tr>
		<th>Bil</th>
  	    <th>Vehicle Reg No</th>
		<!--<th>Car Name</th>-->
		<th>Car Type</th>
		<th>CC</th>
		<th>Model</th>
		<th>Vehicle Class</th>
		<th colspan=3 class="ac">Control</th>
  	 
  </tr>
	
	<% bil = 0 %>
	<% @officecars.each do |officecar| %>
	<% bil += 1 %>
  <tr>
		<td><%=h officecar.id %></td>
		<td><%=h officecar.car_regno %></td>
		<!--<td><#%=h officecar.car_name %></td>-->
		<td><%=h (Officecar::CAR_TYPE.find_all{|disp, value| value == officecar.car_type }).map {|disp, value| disp} %></td>
		<td><%=h officecar.power_car %></td>
		<td><%=h officecar.modelcar %></td>
		<td><%=h (Officecar::CAR_CLASS.find_all{|disp, value| value == officecar.class_car }).map {|disp, value| disp} %></td>
		<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => officecar %></td>
	    <td width=10px><%= link_to image_tag("edit.png",     :border => 0, :title => 'Edit'), :action => 'edit', :id => officecar %></td>
	    <td width=10px><%= link_to image_tag("delete.png",   :border => 0, :title => 'Delete'), officecar, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New Office Car', new_officecar_path %>