<h3>Editing Subject</h3>

<% form_for(@subject) do |f| %>
  <%= f.error_messages %>

 
<%= render :partial => 'form', :locals => {:f => f} %>

<!--Topic Details-->	
    <div class="tform">
	  <table>
		<tr>
			<td class="leftcol"><label for="sequenceno"><b>Sequence:</b></label></td>
	    <td><label for="name"><b>Topic Name:</b></label></td>
	    
    </tr>
    
    <% for topic in @subject.topics.all(:order => "sequenceno") %>
    
    <tr>
	     <td class="leftcol"><%=h topic.sequenceno %></td>
		   <td><%=h topic.name %></td>
       
    </tr>
    <% end -%>
  </table>
  </div>


<p>
   <%= f.submit 'Update' %>
 </p>

<% end %>



<%= link_to 'Show', @subject %> |
<%= link_to 'Back', subjects_path %>