<div class="tform">
<table width=100%>
	<tr>
		<th colspan=2>Subject</td>
	</tr>
	<tr>
		<td class="leftcol"><label for="subjectcode">Subject Code:</label></td>
		<td><%=h @subject.subjectcode %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="name">Subject Name:</label></td>
		<td><%=h @subject.name %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="credit">Credit:</label></td>
		<td><%=h @subject.credit %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="status">Status:</label></td>
		<td><%=h (Subject::STATUS.find_all{|disp, value| value == @subject.status.to_s}).map {|disp, value| disp} %></td>
	</tr>
	</table>
		<div class="tlist" style="position: relative; left: 180px;">
	<table width=50%>
	<tr>
		<th colspan=4><font color='black'>Topics</font></td>
	</tr>

		<tr>
			<th>Sequence</th>
			<th>Code</th>
			<th>Subject</th>
			<th>Duration</th>
		</tr>	
		<% for topic in @subject.topics.all(:order => "sequenceno") %>		
	  <tr>
		  <td width=50px><%=h topic.sequenceno %></td>
      <td><%=h topic.topic_code %></td>
      <td><%=h topic.name %></td>
      <td><%=h topic.durahours %>:<%=h topic.duramins %> Hours</td>

	</tr>
	
	<% end %>
	</div>
</table>
<BR>
</div>
</div>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>