<div class="tform">
	<H2><%=t('equery.personalize_timetable.search')%></H2>

<% form_for @personalizetimetablesearch do |f| %>
  <%= f.error_messages %>

	<table width=100% >
		<%if @searchpersonalizetimetabletype=='1' || @searchpersonalizetimetabletype==1 %>
			<%= hidden_field_tag :method,  1 %><%=f.hidden_field :programme_id, :value=>1%>
			<tr><td colspan=2></td><%=t('equery.personalize_timetable.search_by')%> :</tr>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<%= f.label (t 'equery.student_attendance.lecturer')%></td>
				<td>
					<%# @positions_staff_ids_of_trainer = Position.find(2).descendants.map(&:staff_id).compact %>
					<% valid_timetables = Weeklytimetable.find(:all, :conditions => ['intake_id IN(?)', @valid_intakes])%>
					<% @staff_ids_exist_timetable = WeeklytimetableDetail.find(:all, :conditions => ['weeklytimetable_id IN(?)', valid_timetables]).map(&:lecturer_id) %>
					<%= f.collection_select :lecturer, Staff.find(:all, :conditions =>['id IN (?)',@staff_ids_exist_timetable]).sort_by{|x|x.name}, :id, :name, :include_blank=> (t 'select') %>
				</td>
			<tr><!--
			<tr>
				<td class="leftcol"><%#= f.label :programme_id %></td>
				<td><%#= f.text_field :programme_id %></td>
			<tr>-->	
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<label><%=t('equery.personalize_timetable.class_date')%></label></td>
				<td><%=t('from')%>&nbsp;&nbsp;<%= f.date_select :startdate, :include_blank => true,  :discard_day => true%>
				&nbsp;&nbsp;<%=t('to')%>&nbsp;&nbsp;<%= f.date_select :enddate, :include_blank => true, :order => [ :month, :year] %>
				</td>
			</tr>
		<% end %>
	</table>

  <p><%= f.submit (t 'search') %>&nbsp;<font size=-2><%=t('equery.leaves_all_blank_all_records')%></font></p>
<% end %>

</div>
