<div class="box">
	<div class="box-head">
		<h2 class="left">Examination Result Summary by Examination Date</h2>
	</div>
</div>

<div class="tlist">
	<table width=90% border="0" cellpadding="0" cellspacing="0">
		<tr>
			<th>Examination Date</th>
			<th>Programme</th>
			<th>Group</th>
			<th>Year/Semester</th>
			<th colspan=3>Control</th>
  		</tr>

		<% @examresults_intakes.each do |programmeid,examresult| %>
			<% @examresults_intakebydate = examresult.group_by { |t| t.examdts.year } %>
			<% @examresults_intakebydate.each do |examdate,intakebydate| %>
				<% @sem1_result = Examresult.get_result_sem(intakebydate,1)%>
				<% @sem2_result = Examresult.get_result_sem(intakebydate,2)%>
				
				<!--start-loop 2 times for semester I & semester II-->
				<% 1.upto(2) do |count| %>
					<% if count == 1 %>
						<% @examresultbysem = @sem1_result %>
						<% @month = 'June'%>
					<% elsif count == 2 %>
						<% @examresultbysem = @sem2_result %>
						<% @month = 'December'%>
					<% end %>
				
					<% unless @examresultbysem.nil? || @examresultbysem.blank? %>
						<% @examresultbysem.each_with_index do |sem_item,index2| %>
						<tr>
							<% if index2 == 0 && intakebydate.count >= 1 %>
								<td rowspan='<%=@examresultbysem.count%>'><%= @month %> <%= sem_item.examdts.year %></td>
								<td rowspan='<%=@examresultbysem.count%>'><%= Programme.find(programmeid).name %></td>
							<% end %>
							<% @group = Examresult.set_intake_group(sem_item.examdts.year,sem_item.examdts.month,sem_item.semester)%>	
							<td><%= @group%></td>	
							<td><%= sem_item.render_semester %></td>
							<% if index2 == 0 && intakebydate.count >= 1  %>
								<td width=30px align=center rowspan='<%=@examresultbysem.count%>'>
									<%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show_summary', :id => sem_item.id %>
									<%#= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show_summary', :id => examresult %>
								</td>
							<% end %>
							<!--<td width=10px><%#= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit_stat', :id => examresult %></td>-->
					    	<!--<td width=10px><%#= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), examresult, :confirm => 'Are you sure?', :method => :delete %></td>-->
					  	</tr>
						<% end %><!--end for @examresultbysem.each_with_index-->
					<% end %>
				<% end %><!--1.upto(2) do -->
				<!--end-loop 2 times for semester I & semester II-->
				
			<% end %>	<!--end for @examresults_intakebydate.each -->
		<% end %>
	</table>
	<br />
	
</div>

<%#=link_to 'New Exam Result', new_examresult_path %>