<div class="box">
	<div class="box-head">
		<h2 class="left">Examination Analysis by Programme/Intake - Subjects</h2>
	</div>
</div>

<div class="tlist">
	<table width=90% border="0" cellpadding="0" cellspacing="0">
	  <tr>
		<th>Examination Start Date</th>
		<th>Examination End Date</th>
		<th>Semester</th>
    	<th>Programme</th>
    	<th colspan=3>Control</th>
  	</tr>

<% @examresults.each do |examresult| %>
  <tr>
	<td><%=h examresult.examdts %></td>
	<td><%=h examresult.examdte %></td>
    <td><%=h examresult.render_semester %></td>
    <td><%=h examresult.programmestudent.programme_code_with_programme_name %></td>
	<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show_stat', :id => examresult %></td>
    <td width=10px><%#= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit_stat', :id => examresult %></td>
    <td width=10px><%#= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), examresult, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
</div>
<%#=link_to 'New Exam Result', new_examresult_path %>