<h3>Editing Title</h3>

<% form_for(@title) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @title %> |
<%= link_to 'Back', titles_path %>