<% form_for(@title) do |f| %>
  <%= f.error_messages %>
		<div class="tform">
			<H2>Edit Titles</H2>
					<%=render :partial => 'form', :locals => {:f => f} %> 
		</div>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @title %> |
<%= link_to 'Back', titles_path %>