<% form_for(@title) do |f| %>
  <%= f.error_messages %>
	<H2><%= t 'title.edit' %></H2>
	<%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>

<%= link_to (t 'show'), @title %> |
<%= link_to (t 'back'), titles_path %>