<div class="tform">
  <H2><%= t 'title.titledetails' %></H2>
  <table width=100% >
	<tr>
		<td class="leftcol"><label for="titlecode"><%= t 'title.titlecode' %></label></td>
		<td><%=h @title.titlecode %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name"><%= t 'name' %></label></td>
		<td><%=h @title.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="berhormat">Berhormat</label></td>
		<td><%=h @title.berhormat %></td>
	</tr>
	
</table>
<BR>
</div>

<%= link_to (t 'edit'), edit_title_path(@title) %> |
<%= link_to (t 'back'), titles_path %>