<div class="tform">
<H2>Title Details</H2>
  <table width=100% >

	
	<tr>
		<td class="leftcol"><label for="titlecode">Title Code</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @title.titlecode %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name">Name</label></td>
		<td><b>:</b></td>
		<td><%=h @title.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="berhormat">Berhormat</label></td>
		<td><b>:</b></td>
		<td><%=h @title.berhormat? ? "Yes" : "No" %></td>
	</tr>
	
</table>

</div>
<BR>
<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>