<div class="tform">
  <table width=100% >
	
	<tr>
		<th colspan = 2>Title Details</th>
	</tr>

	
	<tr>
		<td class="leftcol"><label for="titlecode">Title Code</label></td>
		<td><%=h @title.titlecode %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name">Name</label></td>
		<td><%=h @title.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="berhormat">Berhormat</label></td>
		<td><%=h @title.berhormat %></td>
	</tr>
	
</table>
<BR>
</div>

<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>