<h1>New loan</h1>

<% form_for(@loan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :staff_id %><br />
    <%= f.text_field :staff_id %>
  </p>
  <p>
    <%= f.label :ltype %><br />
    <%= f.text_field :ltype %>
  </p>
  <p>
    <%= f.label :accno %><br />
    <%= f.text_field :accno %>
  </p>
  <p>
    <%= f.label :startdt %><br />
    <%= f.date_select :startdt %>
  </p>
  <p>
    <%= f.label :durationmn %><br />
    <%= f.text_field :durationmn %>
  </p>
  <p>
    <%= f.label :deductions %><br />
    <%= f.text_field :deductions %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', loans_path %>