<p>
  <b>Staff:</b>
  <%=h @loan.staff_id %>
</p>

<p>
  <b>Type:</b>
  <%=h @loan.ltype %>
</p>

<p>
  <b>Accno:</b>
  <%=h @loan.accno %>
</p>

<p>
  <b>Startdt:</b>
  <%=h @loan.startdt %>
</p>

<p>
  <b>Durationmn:</b>
  <%=h @loan.durationmn %>
</p>

<p>
  <b>Deductions:</b>
  <%=h @loan.deductions %>
</p>


<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>