<%=render :partial => 'exams/position_dept' %> <!--retrieve position for current logged-in user-->
<%=render :partial => 'exammarks/exam_listing.html.erb'%><!--retrieve exam listing, student listing for use-->

<!--START : Fixed : error - numerical argument out of domain - sqrt-->
<!--Exammarks table : student_id, exam_id-->
<!--Exams table : subject_id-->
<% exam_ids_w_exist_grades = [] %>
<% Exammark.all.group_by{|x|x.exam_id}.each do |examid, exmrks| %>
	<% exist_grade=0%>
	<% subjectid=Exam.find(examid).subject_id %>
	<% exmrks.each do |exmrk| %>
		<% studentid=exmrk.student_id %>
		<% grade = Grade.find(:first, :conditions => ['student_id=? and subject_id=?', studentid, subjectid])%>
		<% exist_grade+=1 if grade %>
	<% end %>
	<% exam_ids_w_exist_grades << examid if exmrks.count==exist_grade %>
<% end %>
<!--WALA<%#=exam_ids_w_exist_grades%>WALA-->
<!--END : 24Apr2015-->

<% @exam_ids_in_exammark = Exammark.all.map(&:exam_id).uniq %><br>
<% @exam_list_index_for_analysis = Exam.find(:all, :conditions => ['id IN (?) and id IN (?) and id IN(?)', @exam_list_index, @exam_ids_in_exammark,exam_ids_w_exist_grades])%>

<!--TO continue-->
<% complete_set_examids = Exam.find(:all, :conditions => ['klass_id=?', 1]).map(&:id) %>
<%=@examid_complete = Exammark.find(:all, :conditions => ['exam_id IN(?) and exam_id IN(?)', complete_set_examids, exam_ids_w_exist_grades]).map(&:exam_id).uniq %>

<% @examid_complete.each do |e_id| %>
	<br><%=e_id%>  -- jum seq <%=a=Exam.find(e_id).examquestions.seqq.count%>
	<% if a > 0%>
		<BR><% b=Exam.find(e_id).examquestions.seqq%>
		<!--PENDING : TO CHECK FOR values of each student_mark for Exampaper of type Complete Set (of seqq question type - MUST EXIST)-->
		<% b.each do |w| %>
			<%=w.id%><!---examquestion_id-->,
		<% end %>
		<!--<%# if @examquestions.seqq.count > 0 %>
		<%# @arrayfirst8<< @exammarks_mark[index][index5].student_mark  %>-->
	<% end %>
<% end %>
<!--To continue-->



<!--<%# @exam_ids_in_exammark.each do |y| %>
	<%#=y%>, Exam of Prog : <%#=Programme.find(Exam.find(y).subject_id).root_id%><br>
<%# end %>-->

<div class="tform">
<H2><%=t('examanalysis.details')%></H2>
<table width=100% >
	<tr>
		<td class="leftcol"><%=t 'exammakeranalysis.exampaper'%>
							<!--<%#= t 'exammakeranalysis.exammaker_id' %> - <%#= t 'exammakeranalysis.examtype' %>--></td>
		<td>
			<%#= f.collection_select :exammaker_id, Exammaker.all, :id, :subject_and_examtype_of_exammaker,{:include_blank => true} %>
			<%#= f.text_field :exam_id %><%#= @exam_list_index[0].id %>
			<%= f.collection_select :exam_id, @exam_list_index_for_analysis, :id, :exam_code_date_type,{:include_blank => true},
									:onchange => remote_function(:update => form_tag_id(f.object_name, :students_marks_listing), 
									:url => {:action => 'view_students_and_marks' }, 
									:with => "'examid='+$('"+form_tag_id(f.object_name, :exam_id)+"').value  ") %>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			<%= tag("div", :id => form_tag_id(f.object_name, :students_marks_listing)) %>
				<% unless @examanalysis.id.nil? || @examanalysis.id.blank? %>
					<!--start-for edit part-existing record-->
					<% @exam_id = @examanalysis.exam_id %>
					<%= render :partial => 'students_and_marks', :locals => {:exammakerid=>@exam_id} %> 
					<!--end-for edit part-existing record-->
				<% end %>
			</div>
		</td>
	</tr>
</table>
<br>

</div>



   
   
   
   
   
   
   
   
