<h3>Editing Examination Analysis by Paper</h3>

<% form_for(@examanalysis) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @examanalysis %> |
<%= link_to 'Back', examanalyses_path %>