<div class="scsession">
	<% new_or_existing = scsession.new_record? ? 'new'  : 'existing' %>
	<% prefix = "counselling[#{new_or_existing}_scsession_attributes][]" %>
	
	<% fields_for prefix, scsession do | scsession_form | -%>

    <table>
		<tr>
		    <td><b>Date:</b></td>
		    <td><b>Time:</b></td>
		    <td><b>Appointment No:</b></td>
		</tr>
	   <tr>
	    <td><%= scsession_form.text_field :scsessiondt, :size => 12 %></td>
	    <td><%=scsession_form.text_field :scsessiondtduration, :size => 7, :value => "10:30"%></td>
	    <td><%= scsession_form.text_field :scsappointnum, :size => 5 %></td>
	    <td rowspan=2><%= link_to_function "remove", "$(this).up('.scsession').remove()" %></td>
	</tr>
	<tr>
	    <td><b>Issue:</b><font color="red"> * </font></td>
	    <td><b>Suggestion:</b></td>
	    <td><b>Remarks:</b></td>
	</tr>
	   <tr>
		<td><%= scsession_form.text_area :issue, :size => "25x4" %></td>
		<td><%= scsession_form.text_area :suggestion, :size => "25x4" %></td>
		<td><%= scsession_form.text_area :remarks, :size => "25x4" %></td>
		</tr>
    </table>
    
   
   <% end -%>
</div>

 