<h3>Editing Counselling</h3>

<% form_for(@counselling) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>

<%= link_to 'Show', @counselling %> |
<%= link_to 'Back', counsellings_path %>