<div class="tform">	
  <%= render :partial => 'show_report_details' %>

  <% if ["New", "Open"].include? (@sdicipline.status) %>
		<H2>Case Details : (<%=h @sdicipline.status %>)</H2>
		<table width=100%>		
			<!--
					<tr>
						<td class="leftcol"><label for="referredby"><b>Referred By:</b></label></td>
						<td><%= f.text_field :referredby %></td>
					</tr>-->
			<tr>
				<td class="leftcol"><label for="investigation"><b>Investigation Summary:</b></label></td>
				<td><%= f.text_area :investigation, :size => "60x5" %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="casedt"><b>Date:</b></label></td>
				<td><%= f.date_select :casedt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
			</tr>
		</table>
	<% end %>

	
	
	<% if ["Open"].include? (@sdicipline.status) %>	
	<H2>Action Details</H2>
		<table width=100%>	
			<tr>
				<td class="leftcol"><label for="action"><b>Action Taken:</b></label></td>
				<td><%= f.text_area :action, :size => "40x5" %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="location"><b>Location:</b></label></td>
				<td><%= f.text_field :location %></td>
			</tr>		
			<tr>
				<td class="leftcol"><label for="otherinfo"><b>Other Information:</b></label></td>
				<td><%= f.text_area :otherinfo, :size => "40x5" %></td>
			</tr>		
			<tr>
				<td class="leftcol"><label for="closedtcollege"><b>Date Closed (College):</b></label></td>
				<td><%= f.date_select :closedtcollege, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
			</tr>
		</table>
	<% end %>
	
	
	<% if @sdicipline.status == "Refer to BPL" %>		
	<%= render :partial => 'show_case_info' %>
	<%= render :partial => 'show_action_taken' %>
	<H2>Refer To BPL</H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="bplsenddt"><b>Date Sent To BPL:</b></label></td>
			<td><%= f.date_select :bplsenddt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="jtkpdt"><b>Date JTKP:</b></label></td>
			<td><%= f.date_select :jtkpdt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="jtkpdecision"><b>JTKP Decision:</b></label></td>
			<td><%= f.text_area :jtkpdecision, :size => "40x5" %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="jtkpdescisionrxdt"><b>Date JTKP Decision:</b></label></td>
			<td><%= f.date_select :jtkpdescisionrxdt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="appealdt"><b>Appeal Date:</b></label></td>
			<td><%= f.date_select :appealdt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="appealdecision"><b>Appeal Decision:</b></label></td>
			<td><%= f.text_area :appealdecision, :size => "40x5" %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="appealdecisionrxdt"><b>Appeal Decision Date:</b></label></td>
			<td><%= f.date_select :appealdecisionrxdt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true  %></td>
		</tr>
	</table>
	<% end %>
	<%=render :partial => 'status', :locals => {:f => f} %>

<BR>
</div>		
		