<h3>Edit Discipline Report</h3>

<% form_for(@sdicipline) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @sdicipline %> |
<%= link_to 'Back', sdiciplines_path %>