<!-- Box -->
<div class="box">
	<!-- Box Head -->
<div class="box-head">
		<h2 class="left">Student Discipline Issues</h2>
</div></div>
	<div class="tlist">
	    <table width=90% border="0" cellpadding="0" cellspacing="0">
		  <tr>
    <th>Status</th>
    <th>Student Name</th>
    <th>Details</th>
    <th>Reported Date</th>
    <th>File No</th>
    <th>Location</th>
    <th>Otherinfo</th>
    <th colspan=3 class="ac"><%= t 'control' %></th>
  </tr>

<% @sdiciplines.each do |sdicipline| %>
  <tr>
    <td><%=h sdicipline.status %></td>
    <td><%=h sdicipline.student_id.blank? ? "-" : sdicipline.studentwithcase.name %></td>
    <td><%=h sdicipline.details %></td>
    <td><%=h sdicipline.reporteddt %></td>
    <td><%=h sdicipline.cofile_id.blank? ? "-" : sdicipline.file.name %></td>
    <td><%=h sdicipline.location %></td>
    <td><%=h sdicipline.otherinfo %></td>
    <td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => sdicipline %></td>
    <td width=10px>
			<% if sdicipline.status != "Closed" && sdicipline.status != "No Case" %>
				<%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => sdicipline %>
			<% end %>
		</td>
    <td width=10px ><%= link_to image_tag("delete.png",   :border => 0, :title => 'Delete'), sdicipline, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
</div>
<%= link_to 'New Report', new_sdicipline_path %>
