<!-- Box -->
<div class="box">
	<!-- Box Head -->
<div class="box-head">
		<h2 class="left">Student Discipline Issues</h2>
</div></div>
	<div class="tlist">
	    <table width=100% border="0" cellpadding="0" cellspacing="0">
		  <tr>
    <th>Status</th>
    <th>Student Name</th>
    <th>Infraction</th>
    <th>Reported Date</th>
    <th>Reported By</th>
    <th>Principle Name</th>
    <th>Location</th>
  <!--  <th>Otherinfo</th>-->
    <th colspan=3 class="ac"><%= t 'control' %></th>
  </tr>

<% @sdiciplines.each do |sdicipline| %>
  <tr>
    <td><%=h sdicipline.status %></td>
    <td><%=h sdicipline.student_name %></td>
    <td><% if sdicipline.infraction == "" %><%=h sdicipline.details %><% else %><%=h (Sdicipline::INFRACTION.find_all{|disp, value| value == sdicipline.infraction}).map {|disp, value| disp} %><% end %></td>
    <td><%=h sdicipline.reportteddt.blank? ? "-" : sdicipline.reportteddt.strftime("%d-%b-%Y") %></td>
	<td><%=h sdicipline.reporter_details %></td>
    <td><%=h sdicipline.warden_id.blank? ? "-" : sdicipline.warden_name %></td>
    <td><%=h sdicipline.location %></td>
    <!--<td><#%=h sdicipline.otherinfo %></td>-->
    <td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => sdicipline %></td>
    <td width=10px>
			<% if sdicipline.status != "Closed" && sdicipline.status != "No Case" %>
				<%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => sdicipline %>
			<% end %>
		</td>
    <% if permitted_to? :destroy, @sdicipline %>
    <td width=10px ><%= link_to image_tag("delete.png",   :border => 0, :title => 'Delete'), sdicipline, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
</table>
</div>
<br />
<% if permitted_to? :create, @sdicipline %>
<%= link_to 'New Report', new_sdicipline_path %> <% end %>
