<div class="tform">
  <table width=100% >
<!--Personal Info-->
<tr>
	<th colspan = 2>Personal Details</th>
</tr>  

	<tr>
		<td class="leftcol"><label for="reportedby_id"><b>Reported By:</b></label></td>
		<td><%=h @sdicipline.reportedby_id.blank? ? "" : @sdicipline.staff.mykad_with_staff_name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="student_id"><b>Student Name:</b></label></td>
	<td> <%=h @sdicipline.student_id.blank? ? "" : @sdicipline.studentwithcase.formatted_mykad_and_student_name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="details"><b>Details:</b></label></td>
		<td><%=h @sdicipline.details %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="reporteddt"><b>Date:</b></label></td>
		<td> <%=h @sdicipline.reporteddt %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="cofile_id"><b>File No:</b></label></td>
		<td><%=h @sdicipline.cofile_id.blank? ? "No File" : @sdicipline.file.name %></td>
	</tr>
	


<!--Case Info-->
	<tr>
		<th colspan = 2>Case Information</th>
	</tr>
		
		<tr>
			<td class="leftcol"><label for="casedt"><b>Date:</b></label></td>
			<td><%=h @sdicipline.casedt %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="referredby"><b>Referred By:</b></label></td>
			<td><%=h @sdicipline.referredby %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="investigation"><b>Investigation Summary:</b></label></td>
			<td><%=h @sdicipline.investigation %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="status"><b>Status:</b></label></td>
			<td><%=h @sdicipline.status %></td>
		</tr>
			
		<tr>
			<td class="leftcol"><label for="action"><b>Action Taken:</b></label></td>
			<td> <%=h @sdicipline.action %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="closedtcollege"><b>Date Closed (College):</b></label></td>
			<td> <%=h @sdicipline.closedtcollege %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="location"><b>Location:</b></label></td>
			<td> <%=h @sdicipline.location %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="otherinfo"><b>Other Information:</b></label></td>
			<td><%=h @sdicipline.otherinfo %></td>
		</tr>
		

	
<!--BPL Info-->
	<tr>
		<th colspan = 2>BPL</th>
	</tr>

		<tr>
			<td class="leftcol"><label for="bplsenddt"><b>Date Sent To BPL:</b></label></td>
			<td><%=h @sdicipline.bplsenddt %></td>
		</tr>

			<tr>
				<td class="leftcol"><label for="jtkpdt"><b>Date JTKP:</b></label></td>
				<td> <%=h @sdicipline.jtkpdt %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="jtkpdecision"><b>JTKP Decision:</b></label></td>
				<td><%=h @sdicipline.jtkpdecision %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="jtkpdescisionrxdt"><b>Date JTKP Decision:</b></label></td>
				<td><%=h @sdicipline.jtkpdescisionrxdt %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="appealdt"><b>Appeal Date:</b></label></td>
				<td><%=h @sdicipline.appealdt %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="appealdecision"><b>Appeal Decision:</b></label></td>
				<td> <%=h @sdicipline.appealdecision %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="appealdecisionrxdt"><b>Appeal Decision Date:</b></label></td>
				<td><%=h @sdicipline.appealdecisionrxdt %></td>
			</tr>
			

</table>
<BR>
</div>


<%= link_to 'Edit', edit_sdicipline_path(@sdicipline) %> |
<%= link_to 'Back', sdiciplines_path %>