<table width=100%>
	<tr>
		<th>KM From</th>
		<th>KM To</th>
		<th></th>
		<th width=10%>A</th>
		<th width=10%>B</th>
		<th width=10%>C</th>
		<th width=10%>D</th>
		<th width=10%>E</th>
	</tr>
		
		
	<tr>
		<td><%= f.text_field :km_low,  :size => 5, :class => 'numero' %></td>
		<td><%= f.text_field :km_high, :size => 5, :class => 'numero' %></td>
		<td></td>
		<td><%= f.text_field :a_group, :size => 5, :class => 'numero' %></td>
		<td><%= f.text_field :b_group, :size => 5, :class => 'numero' %></td>
		<td><%= f.text_field :c_group, :size => 5, :class => 'numero' %></td>
		<td><%= f.text_field :d_group, :size => 5, :class => 'numero' %></td>
		<td><%= f.text_field :e_group, :size => 5, :class => 'numero' %></td>
	</tr>

</table>