<% form_for(@travel_claim_mileage_rate) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2>Edit Mileage Rate Entry</H2> 
		<%=render :partial => 'form', :locals => {:f => f} %> 
	</div>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @travel_claim_mileage_rate %> |
<%= link_to 'Back', travel_claim_mileage_rates_path %>