<% form_for(@travel_claim_mileage_rate) do |f| %>
  <%= f.error_messages %>
		<div class="tform">
			<H2><%= t 'mileagerates.new_rateentry' %></H2> 
			<%=render :partial => 'form', :locals => {:f => f} %> 
		</div>

  <p>
    <%= f.submit (t 'create') %>
  </p>
<% end %>

<%= link_to (t 'back'), travel_claim_mileage_rates_path %>