<div class="tform">
  <H2><%= t 'mileagerates.details' %></H2>
  <table width=80%>
	<tr>
		<th width=10% rowspan="2">KM <%= t 'from' %></th>
		<th width=10% rowspan="2">KM <%= t 'to' %></th>
		<th colspan="5"><center><%=t('mileagerates.transport_group')%></center></th>
	</tr>
	<tr>	
		<th width=10%>A</th>
		<th width=10%>B</th>
		<th width=10%>C</th>
		<th width=10%>D</th>
		<th width=10%>E</th>
	</tr>
	<tr>
		<td><%=h @travel_claim_mileage_rate.km_low %></td>
		<td><%=h @travel_claim_mileage_rate.km_high %></td>
		<td><%=h @travel_claim_mileage_rate.a_group %></td>
		<td><%=h @travel_claim_mileage_rate.b_group %></td>
		<td><%=h @travel_claim_mileage_rate.c_group %></td>
		<td><%=h @travel_claim_mileage_rate.d_group %></td>
		<td><%=h @travel_claim_mileage_rate.e_group %></td>
	</tr>
</table>
</div>
<%= link_to (t 'edit'), edit_travel_claim_mileage_rate_path(@travel_claim_mileage_rate) %> |
<%= link_to (t 'back'), travel_claim_mileage_rates_path %>