<p>
  <b>Km <%= t 'transportgroups.low' %>:</b>
  <%=h @travel_claim_mileage_rate.km_low %>
</p>

<p>
  <b>Km <%= t 'transportgroups.high' %>:</b>
  <%=h @travel_claim_mileage_rate.km_high %>
</p>

<p>
  <b>A <%= t 'staff.group' %>:</b>
  <%=h @travel_claim_mileage_rate.a_group %>
</p>

<p>
  <b>B <%= t 'staff.group' %>:</b>
  <%=h @travel_claim_mileage_rate.b_group %>
</p>

<p>
  <b>C <%= t 'staff.group' %>:</b>
  <%=h @travel_claim_mileage_rate.c_group %>
</p>

<p>
  <b>D <%= t 'staff.group' %>:</b>
  <%=h @travel_claim_mileage_rate.d_group %>
</p>

<p>
  <b>E <%= t 'staff.group' %>:</b>
  <%=h @travel_claim_mileage_rate.e_group %>
</p>


<%= link_to (t 'edit'), edit_travel_claim_mileage_rate_path(@travel_claim_mileage_rate) %> |
<%= link_to (t 'back'), travel_claim_mileage_rates_path %>