<p>
  <b>Km low:</b>
  <%=h @travel_claim_mileage_rate.km_low %>
</p>

<p>
  <b>Km high:</b>
  <%=h @travel_claim_mileage_rate.km_high %>
</p>

<p>
  <b>A group:</b>
  <%=h @travel_claim_mileage_rate.a_group %>
</p>

<p>
  <b>B group:</b>
  <%=h @travel_claim_mileage_rate.b_group %>
</p>

<p>
  <b>C group:</b>
  <%=h @travel_claim_mileage_rate.c_group %>
</p>

<p>
  <b>D group:</b>
  <%=h @travel_claim_mileage_rate.d_group %>
</p>

<p>
  <b>E group:</b>
  <%=h @travel_claim_mileage_rate.e_group %>
</p>


<%= link_to 'Edit', edit_travel_claim_mileage_rate_path(@travel_claim_mileage_rate) %> |
<%= link_to 'Back', travel_claim_mileage_rates_path %>