<div class="tform">
<table width=100%>
	<tr>
		<th colspan=2>Travel Details</th>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="travelrequest_id"><b>Travel Code:</b></label></td>
		<td><%= f.collection_select :travelrequest_id, Travelrequest.find(:all), :id, :travel_request_key, :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="tstartdt"><b>Start Date:</b></label></td>
		<td><%= f.date_select :tstartdt,  :order => [:day, :month, :year], :include_blank => true %> </td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="treturndt"><b>Return Date:</b></label></td>
		<td><%= f.date_select :treturndt,  :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
	<tr>
	   <td class="leftcol"><label for="distance"><b>Distance:</b></label></td>
		<td><%= f.text_field :distance, :size => 12 %>KM</td>
	</tr>
	
  <tr>
	   <td class="leftcol"><label for="distancevalue"><b>Distance Value:</b></label></td>
		 <td> RM <% f.text_field :distancevalue, :size => 12 %> <%=h @travelclaim.distance_value %> <font size=-2>First 500km x 70sen, 501km - 1000km x 50sen, 1001km - 1700km x 25sen, after that x 10sen</font></td>
  </tr>
	
	
	<tr>
	   <td class="leftcol"><label for="ptclaimsvalue"><b>Transport Claim Value:</b></label></td>
		<td>RM <%= f.text_field :ptclaimsvalue, :size => 12  %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="allclaimsvalue"><b>Allowance Claim Value:</b></label></td>
		<td>RM <%= f.text_field :allclaimsvalue, :size => 12  %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="othclaimsvalue"><b>Other Claim Value:</b></label></td>
		<td>RM <%= f.text_field :othclaimsvalue, :size => 12  %></td>
	</tr>
	
	
	<tr>
		<th colspan=2>Foreign Exchange</th>
	</tr>
	
	<tr>
	   <td class="leftcol"><label for="exchvalue"><b>Exchange Value:</b></label></td>
		<td><%= f.text_field :exchvalue %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="exchloss"><b>Exchange Loss:</b></label></td>
		<td><%= f.text_field :exchloss %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="gtotal"><b>Total:</b></label></td>
		<td><%= f.text_field :gtotal %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="ifownwhy"><b>Why Use Own Transport:</b></label></td>
		<td><%= f.text_field :ifownwhy %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="claimtype"><b>Claim Type:</b></label></td>
		<td><%= f.radio_button :claimtype,'true' %>By KM<%= f.radio_button :claimtype,'false' %>Replaced</td>
	</tr>
	
	<tr>
		<th colspan=2>Submission</th>
	</tr>
	    <tr>
			<td class="leftcol"><label for="submission"><b>Submission Date:</b></label></td>
			<td><%= f.date_select :submission, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
	

	<tr>
		<th colspan=2>HOD Confirmation</th>
	</tr>
	
		<tr>
			<td class="leftcol"><label for="hod_id"><b>HOD Name:</b></label></td>
			<td><%= f.collection_select :hod_id, Staff.find(:all, :order => "icno"), :id, :mykad_with_staff_name, :include_blank => true %></td>
		</tr>

		<tr>
		 <td class="leftcol"><label for="hodconfirmdt"><b>Confirmed Date:</b></label></td>
		<td><%= f.date_select :hodconfirmdt, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>


</table>
</div>
<BR>