<div class="tform">
<table width=100%>
	<tr>
		<th colspan=2><%= t 'claim.travel_details' %></th>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="travelrequest_id"><b><%= t 'claim.travelrequest_id' %></b></label></td>
		<td><%= f.collection_select :travelrequest_id, Travelrequest.find(:all), :id, :travel_request_key, :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="tstartdt"><b><%= t 'claim.tstartdt' %></b></label></td>
		<td><%= f.date_select :tstartdt,  :order => [:day, :month, :year], :include_blank => true %> </td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="treturndt"><b><%= t 'claim.treturndt' %></b></label></td>
		<td><%= f.date_select :treturndt,  :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
	<tr>
	   <td class="leftcol"><label for="distance"><b><%= t 'claim.distance' %></b></label></td>
		<td><%= f.text_field :distance, :size => 12 %>KM</td>
	</tr>
	
  <tr>
	   <td class="leftcol"><label for="distancevalue"><b><%= t 'claim.distancevalue' %></b></label></td>
		 <td> RM <% f.text_field :distancevalue, :size => 12 %> <%=h @travelclaim.distance_value %> <font size=-2>First 500km x 70sen, 501km - 1000km x 50sen, 1001km - 1700km x 25sen, after that x 10sen</font></td>
  </tr>
	
	
	<tr>
	   <td class="leftcol"><label for="ptclaimsvalue"><b><%= t 'claim.ptclaimsvalue' %></b></label></td>
		<td>RM <%= f.text_field :ptclaimsvalue, :size => 12  %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="allclaimsvalue"><b><%= t 'claim.allclaimsvalue' %></b></label></td>
		<td>RM <%= f.text_field :allclaimsvalue, :size => 12  %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="othclaimsvalue"><b><%= t 'claim.othclaimsvalue' %></b></label></td>
		<td>RM <%= f.text_field :othclaimsvalue, :size => 12  %></td>
	</tr>
	
	
	<tr>
		<th colspan=2><%= t 'claim.foreignexc' %></th>
	</tr>
	
	<tr>
	   <td class="leftcol"><label for="exchvalue"><b><%= t 'claim.exchvalue' %></b></label></td>
		<td><%= f.text_field :exchvalue %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="exchloss"><b><%= t 'claim.exchloss' %></b></label></td>
		<td><%= f.text_field :exchloss %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="gtotal"><b><%= t 'claim.gtotal' %></b></label></td>
		<td><%= f.text_field :gtotal %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="ifownwhy"><b><%= t 'claim.ifownwhy' %></b></label></td>
		<td><%= f.text_field :ifownwhy %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="claimtype"><b><%= t 'claim.claimtype' %></b></label></td>
		<td><%= f.radio_button :claimtype,'true' %>By KM<%= f.radio_button :claimtype,'false' %>Replaced</td>
	</tr>
	
	<tr>
		<th colspan=2><%= t 'claim.submission' %></th>
	</tr>
	    <tr>
			<td class="leftcol"><label for="submission"><b><%= t 'claim.submissiondte' %></b></label></td>
			<td><%= f.date_select :submission, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
	

	<tr>
		<th colspan=2><%= t 'claim.hod_confrm' %></th>
	</tr>
	
		<tr>
			<td class="leftcol"><label for="hod_id"><b><%= t 'claim.hod_id' %></b></label></td>
			<td><%= f.collection_select :hod_id, Staff.find(:all, :order => "icno"), :id, :mykad_with_staff_name, :include_blank => true %></td>
		</tr>

		<tr>
		 <td class="leftcol"><label for="hodconfirmdt"><b><%= t 'claim.hodconfirmdt' %></b></label></td>
		<td><%= f.date_select :hodconfirmdt, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
</table>
</div>
<BR>