<div>
	<% f.fields_for :travelclaimrequests do |builder| %>
	  <%= render 'travelclaimrequest_fields', :f => builder %>
	<% end %>
	<p align="right"><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Travel Request') + "Add Travel Request",f, :travelclaimrequests %></p>
</div>

<div>
<table>
	<tr>
		<th width=20%><%= t 'claim.type' %></td>
		<th width=20%><%= t 'claim.receipt_no' %></td>
		<th align="right" width="20"><%= t 'claim.value' %></td>
		<th width=5%></th>
	</tr>
	<% f.fields_for :travelclaimreceipts do |builder| %>
	  <%= render 'travelclaimreceipt_fields', :f => builder %>
	<% end %>
</table>
	<p><%= link_to_add_fields "Add Receipt", f, :travelclaimreceipts %></p>

<table>
  <tr>
	  <td class="leftcol"><label for="ptclaimsvalue"><b><%= t 'claim.transport_claim_value' %></b></label></td>
		<td>RM <%= f.text_field :ptclaimsvalue, :size => 12  %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="allclaimsvalue"><b><%= t 'claim.allowance_claim_value' %></b></label></td>
		<td>RM <%= f.text_field :allclaimsvalue, :size => 12  %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="othclaimsvalue"><b><%= t 'claim.other_claim_value' %></b></label></td>
		<td>RM <%= f.text_field :othclaimsvalue, :size => 12  %></td>
	</tr>
	
	
	<tr>
		<th colspan=2>Foreign Exchange</th>
	</tr>
	
	<tr>
	   <td class="leftcol"><label for="exchvalue"><b>Exchange Value:</b></label></td>
		<td><%= f.text_field :exchvalue %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="exchloss"><b>Exchange Loss:</b></label></td>
		<td><%= f.text_field :exchloss %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="gtotal"><b>Total:</b></label></td>
		<td><%= f.text_field :gtotal %></td>
	</tr>
	
	
	
	<tr>
	   <td class="leftcol"><label for="claimtype"><b><%= t 'claim.claim_type' %></b></label></td>
		<td><%= f.radio_button :claimtype,'true' %>By KM<%= f.radio_button :claimtype,'false' %>Replaced</td>
	</tr>
	
	<tr>
		<th colspan=2><%= t 'claim.submission' %></th>
	</tr>
	    <tr>
			<td class="leftcol"><label for="submission"><b><%= t 'claim.submission_date' %></b></label></td>
			<td><%= f.date_select :submission, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
	

	<tr>
		<th colspan=2><%= t 'claim.hod_confrm' %></th>
	</tr>
	
		<tr>
			<td class="leftcol"><label for="hod_id"><b><%= t 'claim.hod_id' %></b></label></td>
			<td><%= f.collection_select :hod_id, Staff.find(:all, :order => "icno"), :id, :mykad_with_staff_name, :include_blank => true %></td>
		</tr>

		<tr>
		 <td class="leftcol"><label for="hodconfirmdt"><b><%= t 'claim.confirmed_date' %></b></label></td>
		<td><%= f.date_select :hodconfirmdt, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>


</table>
</div>
