<div class="tform">
<H2>Staff Details</H2> 
	<table width=100% border=0 cellspacing=0>
		<tr>
			<td class="leftcol"><label for="claimsmonth">Month</label></td>
			<td><b>:</b></td>
			<td><%= f.date_select :claimsmonth,  :order => [:month, :year] %> </td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="staff_id">Staff Name</label></td>
			<td><b>:</b></td>
			<td><%= f.collection_select :staff_id, Staff.find(:all, :conditions => ["id = ?", current_user.staff_id]), :id, :staff_name_with_title %></td>
		</tr>
	</table>
<H2>Travel Details (<%= @travelclaim.transport_details %>)</H2> 
<div>
	<% f.fields_for :travelclaimrequests do |builder| %>
	  <%= render 'travelclaimrequest_fields', :f => builder %>
	<% end %>
	<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'),f, :travelclaimrequests %> - <%= "Add Travelrequest" %></p>
</div>
<H2>Claim Public Transport Fare & Other Claims</H2>	
<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0" BORDERSTYLE="solid">
	<tr>
		<th width=30% align="center">TYPE</td>
		<th width=30% align="center">RECEIPT NO</td>
		<th width=30% align="center">VALUE (RM)</td>
		<th width=10%></th>
		
	</tr>
	</table>
	<% f.fields_for :travelclaimreceipts do |builder| %>
	  <%= render 'travelclaimreceipt_fields', :f => builder %>
	<% end %>

	<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :travelclaimreceipts %> - <%= "Add Receipt" %></p>
	
	
<H2>Meal Allowance / Daily Allowance / Lodging Allowance</H2>	
<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0" BORDERSTYLE="solid">
	<tr>
		<th width=10%></td>
		<th width=30% align="center">TYPE</td>
		<th width=20% align="center">VALUE (RM)</td>
		<th width=30% align="center">RECEIPT NO</td>
		<th width=10%></th>
		
	</tr>
	</table>
	<% f.fields_for :travelallowances do |builder| %>
	  <%= render 'travelallowance_fields', :f => builder %>
	<% end %>

	<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :travelallowances %> - <%= "Add Receipt" %></p>


<H2>Foreign Exchange</H2>	
<table width=100% border=0 cellspacing=0>
	<tr>
	   <td width=23%><label for="exchvalue">&nbsp;Exchange Value</label></td>
	   <td width=3%><b>:</b></td>
		<td><%= f.text_field :exchvalue %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="exchloss">Exchange Loss</label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :exchloss %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="gtotal">Total</label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :gtotal %></td>
	</tr>
	
	
	
<!--	<tr>
	   <td class="leftcol"><label for="claimtype">Claim Type:</label></td>
		<td><b>:</b></td>
		<td><#%= f.radio_button :claimtype,'true' %>By KM<#%= f.radio_button :claimtype,'false' %>Replaced</td>
	</tr>-->
</table>
<H2>Submission</H2>	
<table width=100% border=0 cellspacing=0>

	    <tr>
			<td width=23%><label for="submission">&nbsp;Submission Date</label></td>
			<td><b>:</b></td>
			<td><%= f.date_select :submission, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
</table>
<H2>HOD Confirmation</H2>	
<table width=100% border=0 cellspacing=0>
	
		<tr>
			<td width=23%><label for="hod_id">&nbsp;HOD Name</label></td>
			<td><b>:</b></td>
			<td><%= f.collection_select :hod_id, Staff.find(:all, :order => "icno"), :id, :staff_name_with_title, :include_blank => true %></td>
		</tr>

		<tr>
		 <td class="leftcol"><label for="hodconfirmdt">Confirmed Date</label></td>
		<td><b>:</b></td>
		<td><%= f.date_select :hodconfirmdt, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>


</table>
</div>

<BR>