<H2><%= t 'travel.include_travel' %></H2>
<table width=85%>
	<tr>
		<th width=10px><%= t 'travel.include' %></th>
		<th><%= t 'travel.request_code' %></th>
		<th><%= t 'travel.destination' %></th>
		<th><%= t 'travel.purpose' %></th>
		<th><%= t 'travel.travel_date' %></th>
	</tr>
	<% for travel_request in TravelRequest.find(:all, :conditions => ['staff_id =?', Login.current_login.staff_id]) %>
	<tr>
		<td width=10px><%= check_box_tag "travelclaim[travel_request_ids][]", travel_request.id, @travelclaim.travel_requests.include?(travel_request) %>
	  <td><%= travel_request.request_code %></td>
	  <td><%= travel_request.destination %></td>
	  <td><%= travel_request.purpose %></td>
	  <td><%= travel_request.depart_at.strftime("%d %b") %> - <%= travel_request.return_at.strftime("%d %b %Y") %></td>
	</tr>
	<% end %>
</table><BR/>

<H2><%= t 'claim.receipt' %></H2>	
<table width=85%>
	<tr>
		<th width=20%><%= t 'claim.type' %></td>
		<th width=20%><%= t 'claim.receipt_no' %></td>
		<th align="right" width="20"><%= t 'claim.value' %></td>
		<th width=5%></th>
	</tr>
</table>
	<% f.fields_for :travelclaimreceipts do |builder| %>
	  <%= render 'travelclaimreceipt_fields', :f => builder %>
	<% end %>

	<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Receipt'), f, :travelclaimreceipts %> - <%= "Add Receipt" %></p>



