<H2>Include Travel Requests</H2>
<table width=85%>
	<tr>
		<th width=10px>include</th>
		<th>Request Code</th>
		<th>Destination</th>
		<th>Purpose</th>
		<th>Travel Dates</th>
	</tr>
	<% for travel_request in TravelRequest.find(:all, :conditions => ['staff_id =?', User.current_user.staff_id]) %>
	<tr>
		<td width=10px><%= check_box_tag "travelclaim[travel_request_ids][]", travel_request.id, @travelclaim.travel_requests.include?(travel_request) %>
	  <td><%= travel_request.request_code %></td>
	  <td><%= travel_request.destination %></td>
	  <td><%= travel_request.purpose %></td>
	  <td><%= travel_request.depart_at.strftime("%d %b") %> - <%= travel_request.return_at.strftime("%d %b %Y") %></td>
	</tr>
	<% end %>
</table><BR/>

<H2>Receipts</H2>	
<table width=85%>
	<tr>
		<th width=20%>Type</td>
		<th width=30%>Receipt No</td>
		<th width=20% align="right">Value (RM)</td>
		<th width=30%></th>
	</tr>
</table>
	<% f.fields_for :travelclaimreceipts do |builder| %>
	  <%= render 'travelclaimreceipt_fields', :f => builder %>
	<% end %>

	<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Receipt'), f, :travelclaimreceipts %> - <%= "Add Receipt" %></p>



