<div class="fields">
<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0">
<tr>
		<td align="center" width=30%> <%= f.select :type_id,
		                  Travelclaimreceipt::RECEIPTTYPE,
		                  :prompt => "Select" %></td>
		<td align="center" width=30%> <%= f.text_field :receiptnp %></td>
		<td align="center" width=30%> <%= f.text_field :rvalue %></td><%= f.hidden_field :_destroy %>
		<td align="center" width=10%><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>   </td>
</tr>
</table>
</div>