<div class="fields">
	<table>
		<tr>
			<td width=20%> <%= f.select :type_id,
			                  Travelclaimreceipt::RECEIPTTYPE,
			                  :prompt => "Select" %></td>
			<td width=30%> <%= f.text_field :receiptnp %></td>
			<td align="right" width=20%> <%= f.text_field :rvalue, :size => '10' %></td><%= f.hidden_field :_destroy %>
			<td align="right" width=30%><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>   </td>
		</tr>
	</table>
</div>