<div class="fields">
<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0">
<tr>
	    <td align="center" width=10%> <%= f.text_field :no_of_day, :size => 5 %></td>
		<td align="center" width=30%> <%= f.select :allowance_type,
		                  Travelallowance::ALLOWANCETYPE,
		                  :prompt => "Select" %></td>
		<td align="center" width=20%> <%= f.text_field :allowance_per_day, :size => 10, :placeholder => "RM" %></td>
		<td align="center" width=30%><%= f.text_field :resit_no %></td><%= f.hidden_field :_destroy %>
		<td align="center" width=10%><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>   </td>
</tr>
</table>
</div>
