<div class="fields">
<table>
<tr>
		<td  class="leftcol"><%= f.label :travelrequest_id, "Travel Request" %></td>
		<td> <%= f.collection_select :travelrequest_id, Travelrequest.find(:all), :id, :travel_request_key, :include_blank => true %></td>
		<td><%= link_to_remove_fields "remove", f %></td>
</tr>
</table>
<p><p>
  <div style="position: relative; left: 100px;">
		<b>Details</b> 
		<HR width=50% align=left>

	 <% f.fields_for :traveldetails do |builder| %>
		<%= render 'traveldetail_fields', :f => builder %>
	 <% end %>
	 <p><%= link_to_add_fields "Add Details", f, :traveldetails %></p>
	  </div>
</div>
