<table width=60%>
<tr>
	<td><b><%= f.label :travelday, "Date" %></b></td>
	<td><%= f.date_select :travelday %></td>
</tr> 
<tr>
	<td><b><%= f.label :departure, "Departure :" %></b></td>
	<td><%= f.time_select :departure, :minute_step => 5 %> &nbsp &nbsp &nbsp &nbsp &nbsp
	<b><%= f.label :arrival, "Arrival :" %></b>
	   <%= f.time_select :arrival, :minute_step => 5 %></td>
</tr>


<tr>   
	<td><b><%= f.label :description, "Description" %></b></td>
	<td><%= f.text_area :description, :rows => 3 %></td>
</tr>  
<tr>   
	<td><b><%= f.label :distance, "Distance" %></b></td>
	<td>   <%= f.text_field :distance, :size => 5 %>km or &nbsp &nbsp &nbsp &nbsp &nbsp
	    <b><%= f.label :fare, "Fare" %> </b> 
	       <%= f.text_field :fare, :size => 5 %></td>
</tr>                                     
<tr>   
	<td><b><%= f.label :lodging, "Allowances" %></b></td>
	<td><b><%= f.label :lodging, "Lodging" %></b>
		     <%= f.check_box :lodging %>&nbsp &nbsp &nbsp &nbsp &nbsp
	    <b><%= f.label :meals, "Meals" %></b>
	       <%= f.check_box :meals %>&nbsp &nbsp &nbsp &nbsp &nbsp
	    <b><%= f.label :dinner, "Dinner" %></b>
	       <%= f.check_box :dinner %></td>
</tr> 
<tr>
	<td></td>
	<td align=right><%= link_to_remove_fields "remove", f %></td>
</tr>
</table>

<HR width=50% align=left>
