<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
	<script>
	document.write("<input type='button' " +
	"onClick='window.print()' " +
	"class='printbutton' " +
	"value='Print This Page'/>");
	</script>
	<fieldset width=10px >

<div id="title" width=21cm>	 
	<H3></H3>
	<H3></H3>
	<H3>SENARAI TUNTUTAN</H3>
	<BR>
	
<div id="tprintreport">
	<table width=100% border=2 cellspacing=0 align="center" >
		<tr>
			<th colspan="6" >KENYATAAN TUNTUTAN</th>
		</tr>
		<tr align="center">
			<th rowspan="2">Tarikh</th>	
			<th colspan="2">Waktu</th>
			<th rowspan="2">Tujuan/Tempat</th>
			<th rowspan="2">Jarak(km) RM</th>
			<th rowspan="2">Tambang</th>
		</tr>
		<tr>
			<th>Bertolak</th>
			<th>Sampai</th>
		</tr>
		<!-- Travel Details -->
		<% for travelclaimrequest in @travelclaim.travelclaimrequests %>
		<tr class="grey">
			<td colspan="6">
					<%=h travelclaimrequest.travelrequest.purpose %>
					<%=h travelclaimrequest.travelrequest.destination %>
					<%=h travelclaimrequest.travelrequest.trcode %>
			</td>
		</tr>
		<% for traveldetail in travelclaimrequest.traveldetails %>
		<tr>
			<td><%= traveldetail.travelday.strftime("%d/%m/%Y")%><BR><%= traveldetail.travelday.strftime("(%A)")%>
			<td align=right><%= traveldetail.departure.strftime("%l:%M%p") %>
			<td align=right><%= traveldetail.arrival.strftime("%l:%M%p") %>
			<td><%= traveldetail.description%>
			<td><%= traveldetail.distance.blank? ? "" : (traveldetail.distance).to_s + "km" %>
			<td>-</td>
		</tr>
		<% end %>
		<% end %>
		<tr>
			<td colspan=4>Total KM</td>
			<td><%= @travelclaim.mo_mileage %></td>
			<td>-</td>
	</table>
<BR>
	<table width=100% border=1px cellspacing=0 align="center">
		<tr class="grey">
			<td colspan=7>TUNTUTAN ELAUN PERJALANAN KENDERAAN</td>
		</tr>
		<tr>
			<td colspan=7>Bagi</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>500 km pertama</td>
			<td align=right><%= @travelclaim.km500 %></td>
			<td>km x </td>
			<td align=right><%= @travelclaim.sen_per_km500 %></td>
			<td>sen/km :</td>
			<td align=right><%= ringgols(@travelclaim.value_km500) %></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>501 km - 1,000 km</td>
			<td align=right><%= @travelclaim.km1000 %></td>
			<td>km x </td>
			<td align=right><%= @travelclaim.sen_per_km1000 %></td>
			<td>sen/km :</td>
			<td align=right><%= ringgols(@travelclaim.value_km1000) %></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>1,001 km - 1,700 km</td>
			<td align=right><%= @travelclaim.km1700 %></td>
			<td>km x </td>
			<td align=right><%= @travelclaim.sen_per_km1700 %></td>
			<td>sen/km :</td>
			<td align=right><%= ringgols(@travelclaim.value_km1700) %></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>1,701 km dan seterusnya</td>
			<td align=right><%= @travelclaim.kmmo %></td>
			<td>km x </td>
			<td align=right><%= @travelclaim.sen_per_kmmo %></td>
			<td>sen/km :</td>
			<td align=right><%= ringgols(@travelclaim.value_kmmo) %></td>
		</tr>
		<tr>
			<td colspan=6 align=right><strong>Jumlah</strong></td>
			<td align=right><strong><%= ringgols(@travelclaim.value_km) %></strong></td>
		</tr>

		
	</table>
	<BR>
	
	<!--Tuntutan Elaun -- >
	<table  width=100% border=1px cellspacing=0 align="center" >
		<tr>
			<th>TUNTUTAN ELAUN PERJALANAN KENDERAAN</th>
		</tr>
		<tr>
			<td>
		  <table>
					<tr>
					  <td rowspan="5">Bagi</td>
					</tr>
					<tr>
					  <td>500 km pertama</td>
					  <td></td>
					  <td>km x</td>
					  <td></td>
					  <td>sen/km:</td>
					  <td></td>
					</tr>

					<tr>
					  <td>501 km - 1,000 km</td>
					  <td></td>
					  <td>km x</td>
					  <td></td>
					  <td>sen/km:</td>
					  <td></td>
					</tr>

					<tr>
					  <td>1,001 - 1,700 km</td>
					  <td></td>
					  <td>km x</td>
					  <td></td>
					  <td>sen/km:</td>
					  <td></td>
					</tr>

					<tr>
					  <td>1,701 km dan seterusnya</td>
					  <td></td>
					  <td>km x</td>
					  <td></td>
					  <td>sen/km:</td>
					  <td></td>
					</tr>

				<tr>
					<td colspan="5"></td>
					<td><b>JUMLAH: </b></td>
					<td></td>
				</tr>
			</table>
		</td>
		</tr>
	</table>
	<BR>
		
	<!-- Tuntutan Tambang Awam -->
	<table width=100% border=1px cellspacing=0 align="center">
		<tr>
			<th>TUNTUTAN TAMBANG PENGANGKUTAN AWAM</th>
		</tr>
		<tr>
		<td>
				<table>
				   <tr>
						 <td>Teksi</td>
						 <td>[Resit :
								<%= 	@travelclaim.travelclaimreceipts.find(:all, :select => 'receiptnp', :conditions => ["type_id = ?", 1]).map(&:receiptnp).join(", ") %>]:
							</td>
						 <td><%= ringgols(@travelclaim.travelclaimreceipts.sum(:rvalue, :conditions => ["type_id = ?", 1])) %></td>
				   </tr>
				  <tr>
					 <td>Bus</td>
					 <td>[Resit ]:
								<%= 	@travelclaim.travelclaimreceipts.find(:all, :select => 'receiptnp', :conditions => ["type_id = ?", 2]).map(&:receiptnp).join(", ") %>
								</td>
							 <td><%= ringgols(@travelclaim.travelclaimreceipts.sum(:rvalue, :conditions => ["type_id = ?", 2])) %></td>
				   </tr>
				   <tr>
						 <td>Kereta Api</td>
						 <td>[Resit ]:
									<%= 	@travelclaim.travelclaimreceipts.find(:all, :select => 'receiptnp', :conditions => ["type_id = ?", 3]).map(&:receiptnp).join(", ") %>
									</td>
								 <td><%= ringgols(@travelclaim.travelclaimreceipts.sum(:rvalue, :conditions => ["type_id = ?", 3])) %></td>
					   </tr>
						<tr>
						 <td>Feri</td>
						 <td>[Resit ]:
								<%= 	@travelclaim.travelclaimreceipts.find(:all, :select => 'receiptnp', :conditions => ["type_id = ?", 4]).map(&:receiptnp).join(", ") %>
								</td>
								<td><%= ringgols(@travelclaim.travelclaimreceipts.sum(:rvalue, :conditions => ["type_id = ?", 4])) %></td>
				   </tr>
					<tr>
					 <td>Kapal Terbang</td>
					 <td>[Resit ]:
								<%= 	@travelclaim.travelclaimreceipts.find(:all, :select => 'receiptnp', :conditions => ["type_id = ?", 5]).map(&:receiptnp).join(", ") %>
								</td>
								<td><%= ringgols(@travelclaim.travelclaimreceipts.sum(:rvalue, :conditions => ["type_id = ?", 5])) %></td>
				   </tr>
				   <tr>
						 <td colspan="2" align="right"><b>JUMLAH:</b></td>
						 <td><b><%= ringgols(@travelclaim.travelclaimreceipts.sum(:rvalue, :conditions => ["type_id IN (?)", [1,2,3,4,5] ])) %></b></td>
				   </tr>
				</table>
		</td>
		</tr>
	</table>
	<BR>
		
	<!-- Tuntutan Elaun Makan -->
	<table width=100% border=1px cellspacing=0 align="center">
		<tr>
			<th>TUNTUTAN ELAUN MAKAN/ELAUN HARIAN</th>
		</tr>
		<tr>
		 <td>
			  <table>
					<tr>
						<td></td>
						<td>X Elaun Makan sebanyak</td>
						<td>RM 45.00/Hari</td>
						<td>RM</td>
					</tr>
					<tr>
						<td></td>
						<td>X Elaun Makan sebanyak</td>
						<td>RM 18.00/Hari(Makan Malam)</td>
						<td>RM</td>
					</tr>
					<tr>
						<td></td>
						<td>X Elaun Makan sebanyak</td>
						<td>RM 22.50/Hari</td>
						<td>RM</td>
					</tr>
					<tr>
						 <td colspan="3" align="right"><b>JUMLAH:</b></td>
						 <td><b>RM</b></td>
					</tr>
			  </table>
		 </td>
		</tr>
	</table>
	<BR>
		
	<!-- Sewa Hotel -->
	<table width=100% border=1px cellspacing=0 align="center">
		<tr>
			<th>TUNTUTAN BAYARAN SEWA HOTEL(BSH) / ELAUN LOJING</th>
		</tr>
		<tr>
		<td>
				<table>
					<tr>
						<td></td>
						<td>X BSH Sebanyak</td>
						<td>RM /Hari: </td>
						<td>RM</td>
					</tr>
					<tr>
						<td></td>
						<td>X BSH Sebanyak</td>
						<td>RM /Hari: </td>
						<td>RM</td>
					</tr>
					<tr>
						<td></td>
						<td>X Elaun Lojing Sebanyak</td>
						<td>RM 55.00/Hari: </td>
						<td>RM</td>
					</tr>
					<tr>
						<td colspan="3" align="right"><b>JUMLAH:</b></td>
						<td><b>RM</b></td>
					</tr>
				</table>
		</td>
		</tr>
	</table>
	<BR>
		
	<!-- Tuntutan Pelbagai -->
	<table width=100% border=1px cellspacing=0 align="center">	
		<tr>
			<th>TUNTUTAN PELBAGAI</th>
		</tr>
		<tr>
			<td>
				<table>
						<tr>
							<td>Tol</td>
							<td>[Resit ]:
									<%= 	@travelclaim.travelclaimreceipts.find(:all, :select => 'receiptnp', :conditions => ["type_id = ?", 6]).map(&:receiptnp).join(", ") %>
									</td>
							<td><%= ringgols(@travelclaim.travelclaimreceipts.sum(:rvalue, :conditions => ["type_id = ?", 6 ])) %></td>
						</tr>
						<tr>
							<td>Tempat Letak Kereta</td>
							<td>[Resit ]:
									<%= 	@travelclaim.travelclaimreceipts.find(:all, :select => 'receiptnp', :conditions => ["type_id = ?", 7]).map(&:receiptnp).join(", ") %>
									</td>
							<td><%= ringgols(@travelclaim.travelclaimreceipts.sum(:rvalue, :conditions => ["type_id = ?", 7 ])) %></td>
						</tr>
						<tr>
							<td>Dobi</td>
							<td>[Resit ]:
									<%= 	@travelclaim.travelclaimreceipts.find(:all, :select => 'receiptnp', :conditions => ["type_id = ?", 8]).map(&:receiptnp).join(", ") %>
									</td>
									<td><%= ringgols(@travelclaim.travelclaimreceipts.sum(:rvalue, :conditions => ["type_id = ?", 8 ])) %></td>
						</tr>
						<tr>
							<td>Pos</td>
							<td>[Resit ]:
									<%= 	@travelclaim.travelclaimreceipts.find(:all, :select => 'receiptnp', :conditions => ["type_id = ?", 9]).map(&:receiptnp).join(", ") %>
									</td>
							<td><%= ringgols(@travelclaim.travelclaimreceipts.sum(:rvalue, :conditions => ["type_id = ?", 9 ])) %></td>
						</tr>
						<tr>
							<td>Telefon, Teleks, Faks</td>
							<td>[Resit ]:
									<%= 	@travelclaim.travelclaimreceipts.find(:all, :select => 'receiptnp', :conditions => ["type_id = ?", 10]).map(&:receiptnp).join(", ") %>
									</td>
							<td><%= ringgols(@travelclaim.travelclaimreceipts.sum(:rvalue, :conditions => ["type_id = ?", 9 ])) %></td>
						</tr>
						<tr>
							<td colspan="2">Kerugian pertukaran matawang asing (@ 3%)
								[Bagi Singapura, Selatan Thailand, Kalimantan dan Brunei
								 Darussalam sahaja]</td>
							<td>RM </td>
						</tr>
						<tr>
							<td colspan="2" align="right"><b>JUMLAH</b></td>
						 <td><b><%= ringgols(@travelclaim.travelclaimreceipts.sum(:rvalue, :conditions => ["type_id IN (?)", [6,7,8,9,10] ])) %></b></td>
						</tr>
						<tr>
							<td colspan="2" align="right"><b>JUMLAH BESAR</b></td>
						 <td><b><%= ringgols(@travelclaim.travelclaimreceipts.sum(:rvalue)) %></b></td>
						</tr>
				</table>
			</td>
		</tr>
	</table>
  <BR>
	
	<!-- Pengakuan -->
	<table width=100% border=1px cellspacing=0 align="center" >
		<tr>
			<th>PENGAKUAN</th>
		</tr>
		<tr>
			<td>
					<table border=0>
							<tr>
								<td colspan="2">Saya mengaku bahawa:</td>
							</tr>
							<tr>
								<td>(a)</td>
								<td>Perjalanan pada tarikh-tarikh tersebut adalah benar dan telah dibuat atas urusan rasmi;</td>
							</tr>
							<tr>
								<td>(b)</td>
								<td>Tuntutan ini dubuat mengikut kadar dan syarat seperti yang dinyatakan dibawah peraturan-peraturan bagi pegawai bertugas rasmi dan/atau pengawai berkrusus yang berkuatkuasa semasa;</td>
							</tr>
							<tr>
								<td>(c)</td>
								<td>Perbelanjaan yang bertanda (*) berjumlah sebanyak RM telah sebenarnya dilakukan dan dibayar  oleh saya ;</td>
							</tr>
							<tr>
								<td>(d)</td>
								<td>Panggilan telefon sebanyak RM...... dibuat atas urusan rasmi; dan </td>
							</tr>
							<tr>
								<td>(e)</td>
								<td>Butir-butir seperti yang dinyatakan di atas adalah benar dan saya bertanggungjawab terhadapnya</td>
							</tr>
							<tr>
							<td colspan="2"><b>Tarikh: <%= Date.today.strftime("%d-%m-%Y") %></b></td>
							</tr>
							<tr>
							<td colspan="2" align="right">.......................................................................</td>
							</tr>
					</table>
			</td>
		</tr>
	</table>
	<BR>
		
	<!-- Pengesahan -->
	<table  width=100% border=1px cellspacing=0 align="center" >
		<tr>
			<th>PENGESAHAN</th>
		</tr>
		<tr>
			<td>
				<table>
						<tr>
							<td>Adalah disahkan bahawa perjalanan tersebut adalah atas urusan rasmi</td>
						</tr>
						<tr>
							<td>Tarikh: <%=h @travelclaim.hodconfirmdt %></td>
						</tr>
						<tr>
							<td>Nama: <%=h @travelclaim.hod_id %></td>
						</tr>
						<tr>
							<td>Jawatan: </td>
						</tr>
			  </table>
	    </td>
	  </tr>
	</table>
	<BR>

	<!-- Pendahuluan Diri -->	
	<table  width=100% border=1px cellspacing=0 align="center" >
		<tr>
			<th>PENDAHULUAN DIRI (jika ada)</th>
		</tr>
		<tr>
		<td>
				<table>
					<tr>
						<td>Pendahuluan Diri diberi</td>
						<td>RM </td>
					</tr>
					<tr>
						<td>Tolak: Tuntutan sekarang</td>
						<td>RM </td>
					</tr>
					<tr>
						<td>Baki dituntut/Baki dibayar balik</td>
						<td>RM </td>
					</tr>
				</table>
	    </td>
	  </tr>
	</table>
	<BR><BR>
	
</div>
</fieldset>
</div>
</form>
</div>