<h3>Editing Travel Claim</h3>

<% form_for(@travelclaim) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @travelclaim %> |
<%= link_to 'Back', travelclaims_path %>