<% form_for(@travelclaim) do |f| %>
  <%= f.error_messages %>

	<div class="tform">
		<H2>Edit travel claims for <%=h @travelclaim.claimsmonth.strftime("%B %Y") %> 
			<div class="right"><%=h @travelclaim.staff.name %></div></H2> 
			<%=render :partial => 'form', :locals => {:f => f} %> 
		
	</div><BR/>


  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @travelclaim %> |
<%= link_to 'Back', travelclaims_path %>