<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left"><%= t 'claim.list' %></h2>
	</div>
	<div class="tlist">
	    <table width=90% border="0" cellpadding="0" cellspacing="0">
		  <tr>
			<th><%= t 'claim.travelrequest_id' %></th>
			<th><%= t 'claim.total' %></th>
			<th><%= t 'claim.submissiondte' %></th>
			<th colspan=3 class="ac">Control</th>
  
  </tr>

<% @travelclaims.each do |travelclaim| %>
  <tr>
	  <td><%=h travelclaim.travelrequest.travel_request_key %></td>
      <td>RM <%=h travelclaim.total_claims %></td>
      <td><%=h travelclaim.submission %></td>
      <td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => travelclaim %></td>
	  <td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => travelclaim %></td>
    <td><%= link_to 'Destroy', travelclaim, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to (t 'claim.create'), new_travelclaim_path %>