<h3><%= t 'claim.new' %></h3>

<% form_for(@travelclaim) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit (t 'icms.submit') %>
  </p>
<% end %>

<%= link_to (t 'icms.back'), travelclaims_path %>