<div class="tform">
	<fieldset>
		<legend>Travel Claims For</legend>
			<table width=90%>
					<tr>
						<td class="leftcol"><label for="claimsmonth">Month</label></td>
						<td><%=h @travelclaim.claimsmonth.strftime("%B %Y") %></td>
					</tr>

					<tr>
						<td class="leftcol"><label for="staff_id">Staff Name:</label></td>
						<td><%=h @travelclaim.staff.name %></td>
					</tr>
				</table><BR/>
	</fieldset>
	
	<fieldset>
		<legend>Includes Travel Requests For</legend>
			<table width=85%>
				<tr>
					<th>Request Code</th>
					<th>Destination</th>
					<th>Purpose</th>
					<th>Travel Dates</th>
				</tr>
				<% for travel_request in @travelclaim.travel_requests %>
				<tr>
				  <td><%= travel_request.request_code %></td>
				  <td><%= travel_request.destination %></td>
				  <td><%= travel_request.purpose %></td>
				  <td><%= travel_request.depart_at.strftime("%d %b") %> - <%= travel_request.return_at.strftime("%d %b %Y") %></td>
				</tr>
				<% end %>
			</table>
				<BR/>
	</fieldset>
	
	
	<fieldset>
		<legend>Receipts</legend>
			<table width=85%>
				<tr>
					<th><%= t 'claim.type' %></th>
					<th><%= t 'claim.receipt_no' %></th>
					<th><%= t 'claim.value' %></th>
				</tr>
				<% for travelclaimreceipt in @travelclaim.travelclaimreceipts %>
				<tr>
				  <td><%=h (Travelclaimreceipt::RECEIPTTYPE.find_all{|disp, value| value == travelclaimreceipt.type_id}).map {|disp, value| disp} %></td>
				  <td><%= travelclaimreceipt.receiptnp %></td>
				  <td align='right'><%= ringgols(travelclaimreceipt.rvalue) %></td>
				</tr>
				<% end %>
				<tr>
				  <td colspan=2 align='right'><b>Quick Total</b></td>
				  <td align='right'><b><%= ringgols(@travelclaim.receipts) %></b></td>
				</tr>
				
			</table>
				<BR/>
	</fieldset>
</div>





<BR>
<%= link_to (t 'icms.update'), edit_travelclaim_path(@travelclaim) %> |
<%= link_to (t 'icms.back'), travelclaims_path %>
		