<div class="tform">
	<H2><%= t 'claim.travel_details' %></H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="staff_id"><b><%= t 'claim.staff_id' %> :</b></label></td>
	    <td><%=h @travelclaim.staff.name %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="claimsmonth"><b><%= t 'claim.claimsmonth' %> :</b></label></td>
	    <td><%=h @travelclaim.claimsmonth.strftime("%B %Y") %></td>
		</tr>
	
		<% for travelclaimrequest in @travelclaim.travelclaimrequests %>
		<tr>
			<td class="leftcol"><label for="Travel Details"><b><%= t 'claim.travel_details' %> :</b></label></td>
	    <td><%=h travelclaimrequest.travelrequest.trcode %><BR>
		      <%=h travelclaimrequest.travelrequest.destination %><BR>
		      <%=h travelclaimrequest.travelrequest.purpose %>
		      </td>
		</tr>
	<tr>
		<td></td>
		<td><table>
		<% for traveldetail in travelclaimrequest.traveldetails %>
	
			<tr>
				<td><%= traveldetail.travelday.strftime("%d/%m/%Y")%><BR><%= traveldetail.travelday.strftime("(%A)")%>
				<td align=right><%= traveldetail.departure.strftime("%l:%M%p") %>
				<td align=right><%= traveldetail.arrival.strftime("%l:%M%p") %>
				<td><%= traveldetail.description%>
				<td><%= traveldetail.distance.blank? ? "" : (traveldetail.distance).to_s + "km" %>
			</tr>
		
		<% end %>
	  </table></td>
	<tr>
	<% end %>
	
	<tr>
		<td class="leftcol"><label for="Travel Claim Receipt"><b><%= t 'claim.receipt' %> :</b></label></td>
		<td><table>
		<% for travelclaimreceipt in @travelclaim.travelclaimreceipts %>
	
			<tr>
				<td><b><%= t 'claim.type' %> :</b><BR><BR> <%=h (Travelclaimreceipt::RECEIPTTYPE.find_all{|disp, value| value ==   
					travelclaimreceipt.type_id}).map {|disp, value| disp} %>
				<td><b><%= t 'claim.receipt_no' %> :</b><BR><BR><%= travelclaimreceipt.receiptnp %>
				<td><b><%= t 'claim.value' %> :</b><BR><BR><%= travelclaimreceipt.rvalue %>
			</tr>
		
		<% end %>
	  </table></td>
	<tr>

	<tr>
		<td class="leftcol"><label for="ptclaimsvalue"><b><%= t 'claim.ptclaimsvalue' %> :</b></label></td>
		<td>RM <%=h @travelclaim.ptclaimsvalue %></td>
	</tr>


	<tr>
		<td class="leftcol"><label for="allclaimsvalue"><b><%= t 'claim.allclaimsvalue' %> :</b></label></td>
		<td>RM <%=h @travelclaim.allclaimsvalue%></td>
	</tr>


	<tr>
		<td class="leftcol"><label for="othclaimsvalue"><b><%= t 'claim.othclaimsvalue' %> :</b></label></td>
		<td>RM <%=h @travelclaim.othclaimsvalue%></td>
	</tr>
	
	<tr>
		<th colspan=2><%= t 'claim.foreign' %></th>
	</tr>
	
	<tr>
	   <td class="leftcol"><label for="exchvalue"><b><%= t 'claim.exchvalue' %> :</b></label></td>
		<td><%=h @travelclaim.exchvalue %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="exchloss"><b><%= t 'claim.exchloss' %> :</b></label></td>
		<td><%=h @travelclaim.exchloss %></td>
	</tr>
	
	
	<tr>
	   <td class="leftcol"><label for="gtotal"><b><%= t 'claim.gtotal' %> :</b></label></td>
		<td><%=h @travelclaim.gtotal %></td>
	</tr>
	
	
	
	<tr>
	   <td class="leftcol"><label for="claimtype"><b><%= t 'claim.claimtype' %> :</b></label></td>
		<td><%=h @travelclaim.claimtype %></td>
	</tr>
	
	<tr>
		<th colspan=2><%= t 'claim.submission' %></th>
	</tr>
	    <tr>
			<td class="leftcol"><label for="submission"><b><%= t 'claim.submissiondt' %> :</b></label></td>
			<td><%=h @travelclaim.submission %></td>
		</tr>
	

	<tr>
		<th colspan=2><%= t 'claim.hod' %></th>
	</tr>
	
		<tr>
			<td class="leftcol"><label for="hod_id"><b><%= t 'claim.hod_id' %> :</b></label></td>
			<td><%=h @travelclaim.hod_id %></td>
		</tr>

		<tr>
		 <td class="leftcol"><label for="hodconfirmdt"><b><%= t 'claim.hodconfirmdt' %> :</b></label></td>
		<td><%=h @travelclaim.hodconfirmdt %></td>
		</tr>


</table>
</div>
<BR>
<%= link_to (t 'icms.update'), edit_travelclaim_path(@travelclaim) %> |
<%= link_to (t 'icms.back'), travelclaims_path %>