<div class="tform">
<h3>Borang Aset Semasa</h3>
  <table width=100%>
	
	<tr>
		<td><% f.text_field :assettype,  :value => 2 %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="assetcode">No Siri Pendaftaran :</label></td>
		<td><%= f.text_field :assetcode, :size => '50' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="cardno">No Kad :</label></td>
		<td><%= f.text_field :cardno %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="dept_id">Jabatan :</label></td>
		<td><%= f.text_field :dept_id %></td>
	</tr>

	<tr>
	<td class="leftcol"><label for="bookable">Bookable:</label></td>
      <td><%= f.check_box :bookable %> This item can be booked </td>
	</tr>

	
	
<!--Asset Details-->

	<tr>
		<th colspan = 2>Butiran Aset</th>
	</tr>
		<tr>
			<td class="leftcol"><label for="name">Nama :</label></td>
			<td><%= f.text_field :name %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="cardno">Kategori :</label></td>
			<td><%= f.text_field :category %></td>
		</tr>

		<tr>
		    <td class="leftcol"><label for="manufacturer_id">Buatan :</label></td>
	      <td><%= f.collection_select :manufacturer_id, Addbook.find(:all), :id, :name, :include_blank => true %>add link add manufacturer</td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="model">Model:</label></td>
			<td><%= f.text_field :modelname %> (FA)</td>
	  </tr>
				
		<tr>
			<td class="leftcol"><label for="serialno">No Siri :</label></td>
	    	<td><%= f.text_field :serialno %>  (FA)</td>
		</tr>
    <!--  Show Group based on locassigned true -->
		<!-->
		<tr>
			<td class="leftcol"><label for="locassigned">Location Assigned:</label></td>
			<td><#%= f.radio_button :locassigned,'false' %>Yes<#%= f.radio_button :locassigned,'true' %>No</td>
		</tr>
		<-->					
		<tr>
			<td class="leftcol"><label for="location_id">Lokasi :</label></td>
			<td><%= f.collection_select :location_id, Location.find(:all), :id, :location_list, :include_blank => true %> (FA, CF) (show with Assign Location)</td>
		</tr>
			
		<tr>
			<td class="leftcol"><label for="assignedto_id">Assigned To:</label></td>
			<td><%= f.collection_select :assignedto_id, Staff.find(:all), :id, :name, :include_blank => true %></td>
		</tr>
		<!--  Group End -->
		<tr>
			<td class="leftcol"><label for="status">Status:</label></td>
	    	<td><%= f.text_field :status %> </td>
		</tr>
					
		<tr>
			<td class="leftcol"><label for="otherinfo">Maklumat Lain :</label></td>
			<td><%= f.text_area :otherinfo, :size => "30x7" %></td>
		</tr>

		         
<!--Purchasing Information-->
<tr>
  <th colspan=2>Maklumat Pembayaran</th>
</tr>

	<tr>
		<td class="leftcol"><label for="orderno">No Pesanan :</label></td>
		<td><%= f.text_field :orderno %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="purchaseprice">Harga Pembayaran :</label></td>
		<td><b>RM</b> <%= f.text_field :purchaseprice, :size => 12 %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="purchasedate">Tarikh Pembayaran :</label></td>
		<td><%= f.date_select :purchasedate, :start_year => 2000, :end_year => 2020, :order => [:day, :month, :year] %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="receiveddate">Tarikh Terima :</label></td>
		<td><%= f.date_select :receiveddate, :start_year => 2000, :end_year => 2020, :order => [:day, :month, :year] %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="receiver_id">Diterima Oleh :</label></td>
      <td><%= f.collection_select :receiver_id, Staff.find(:all), :id, :name, :include_blank => true %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="supplier_id">Pembekal :</label></td>
      <td><%= f.collection_select :supplier_id, Addbook.find(:all), :id, :name, :include_blank => true %></td>
	</tr>
	
</table>
<BR>
</div>