<div class="fields">
<table>	
	<tr>
	  <th colspan = 3>Maintenance</th>
  </tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Performed By</label></td>
		<td><span class="addy"><%= f.collection_select :maintainer_id, Addbook.find(:all, :order => :name), :id, :name, :include_blank => true, :prompt => 'Maintained By' %></span></td>
		<td rowspan=4><%= f.hidden_field :_destroy %>
									<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Work Order No</label></td>
		<td><%= f.text_field :workorderno, :placeholder => ' Work Order No'%></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Details</label></td>
		<td><%= f.text_area :details, :size => "40x3", :placeholder => ' Details' %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Costs</label></td>
		<td><%= f.text_field :maintcost, :size => "15", :placeholder => ' Costs (RM)'%></td>
	</tr>
</table>
</div>


