<h3><%= t('asset.edit') %></h3>

<% form_for(@asset) do |f| %>
  <%= f.error_messages %>

	<%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>

<%= link_to (t 'show'), @asset %> |
<%= link_to (t 'back'), assets_path %>