<div id="A4potrait">
<form action="#">
<script>
document.write("<input type='button' " +
"onClick='window.print()' " +
"class='printbutton' " +
"value='Print This Page'/>");
</script>
</form>	
<fieldset width=10px >	

<!-- Box Head -->
<div id="kewpa">
<H4 align="right"><b>KEW. PA 2</b></H4>
<H5 align="right"><b>No Siri Pendaftaran : <%=h @asset.assetcode %></b></H5>

<H4 align="center">DAFTAR HARTA MODAL</H4>

<P indent=20px>	Kementerian/Jabatan  :  KKM<BR>
								Bahagian  :  KSKB JB</P> 

<P align="center"><b>BAHAGIAN A</b><BR>
<!-- <#%=h (Asset::ASSETTYPE.find_all{|disp, value| value == @asset.assettype}).map {|disp, value| disp} %></P> -->
<table width=90% border=1px padding=0px cellspacing=0px>
	<tr>
		<td width=20%>Kod Nasional</td>
		<td colspan=3></td>
	</tr>
	<tr>
		<td>Kategori</td>
		<td colspan=3><%=h @asset.category.description unless @asset.category_id.nil?  %></td>
	</tr>
	<tr>
		<td>Sub Kategori</td>
		<td colspan=3><%=h @asset.subcategory.description unless @asset.subcategory_id.nil?  %></td>
	</tr>
	<tr>
		<td>Jenis/Jenama/Model</td>
		<td colspan=3> <%=h @asset.type %>/
			             <%=h @asset.manufacturedby.name unless @asset.manufacturedby.nil? %>/ <%=h @asset.modelname %></td>
	</tr>
	<tr>
		<td>Buatan</td>
		<td width=30%>Country_ID</td>
		<td width=20%>Harga Perolehan Asal</td>
		<td width=30% align="center"><%=h ringgols(@asset.purchaseprice) %></td>
	</tr>
	
	<tr>
		<td>Jenis Dan No Engine</td>
		<td>If category - transport then do else N/A</td>
		<td width=25%>Tarikh Diterima</td>
		<td align="center"><%=h @asset.receiveddate.strftime("%d %b %Y") %></td>
	</tr>
	<tr>
		<td>No Casis/Siri Pembuat</td>
		<td><%=h @asset.serialno %></td>
		<td width=160px>No Pesanan Kerajaan</td>
		<td align="center"><%=h @asset.orderno %></td>
	</tr>
	<tr>
		<td rowspan=2>No Pendaftaran<BR>Bagi Kenderaan</td>
		<td rowspan=2>Print Registration Number</td>
		<td width=160px>Tempoh Jaminan</td>
		<td>warranty length</td>
	</tr>
	<tr>
		<td rowspan=2 colspan=2>Nama Pembekal Dan Alamat:
			<BR><%=h @asset.supplier_id.blank? ? "-" : @asset.suppliedby.name %>
			<BR><%=h @asset.supplier_id.blank? ? "-" : @asset.suppliedby.address %>	
			<BR><%=h @asset.supplier_id.blank? ? "-" : @asset.suppliedby.phone %>
			<BR><%=h @asset.supplier_id.blank? ? "-" : @asset.suppliedby.fax %>
		  <BR><%=h @asset.supplier_id.blank? ? "-" : @asset.suppliedby.mail %></td>
	 </tr>
	 <tr>
		 	<td rowspan=3 colspan=2>Komponen & Aksesori</td>
	 </tr>
	 <tr>
		  <td colspan=2>Nama:
				<BR>Jawatan:
				<BR>Tarikh:
				<BR>Cop:
				<BR><BR><b>..................................</b>
				<BR>Tandatangan Ketua Jabatan
			</td>
		</tr>
	
</table>
<BR>
<table width=90% border=1px padding=5px cellspacing=0px>
	<tr>
		<th BGCOLOR="#DDD" colspan=8 align="center">PENEMPATAN</th>
	</tr>
	<tr>
		<td width=160px>Lokasi</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Tarikh</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Nama Pegawai</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Tandatangan</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

</table>
<BR>
<table width=90% border=1px padding=5px cellspacing=0px>
	<tr>
		<th BGCOLOR="#DDD" colspan=8 align="center">PEMERIKSAAN</th>
	</tr>
	<tr>
		<td width=160px>Tarikh</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Status Aset</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Nama Pemeriksa</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Tandatangan</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

</table>
<BR>
<table width=90% border=1px padding=5px cellspacing=0px>
	<tr>
		<th BGCOLOR="#DDD" colspan=4 align="center">PELUPUSAN HAPUSKIRA</th>
	</tr>
	<tr>
		<td>Rujukan Kelulusan</td>
		<td>Tarikh</td>
		<td>Kaedah Pelupusan</td>
		<td>Tandatangan</td>
	</tr>
	<tr>
		<td>Some Text</td>
		<td></td>
		<td></td>
		<td></td>
	</tr> 
	
</table>
</div></fieldset></div>

<BR>
	

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>