<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
	<script>
	document.write("<input type='button' " +
	"onClick='window.print()' " +
	"class='printbutton' " +
	"value='Print This Page'/>");
	</script>
</form>
	<fieldset width=10px >
		
<div id="kewpa">
<p class="marginright" align="right"><b>KEW. PA-4</b><BR> </p>
<p class= "titleheader" align="center"><b>SENARAI DAFTAR HARTA MODAL</b></p>
	

<table width=100% border=1px cellspacing=0 align="center" >

		<tr>
			<th width=1%  style="vertical-align:middle">BIL</th>
			<th width=15%  style="vertical-align:middle">NOMBOR SIRI PENDAFTARAN</th>
			<th width=20% style="vertical-align:middle">NAMA ASET</th>
			<th width=10% style="vertical-align:middle">TARIKH PEROLEHAN</th>
			<th width=10% style="vertical-align:middle">HARGA PEROLEHAN ASAL (RM)</th>
	  </tr>
	
		 <% bil = 0 %>
		 <% @assets.each do |asset| %>
		 <% bil += 1 %>
		
    <tr>
				<td align="center"><%=h bil %></td>	
				<td>&nbsp;&nbsp;<%=h asset.assetcode %></td>	
				<td>&nbsp;&nbsp;<%=h asset.typename %>  <%=h asset.subcategory %>  <%=h asset.modelname %></td>
				<td align="center"><%=h l(asset.receiveddate) unless asset.receiveddate.blank? %>&nbsp;&nbsp; </td>
				<td align="center"> <%=h ringgols(asset.purchaseprice) %>&nbsp;&nbsp; </td>
		</tr>

		<% end %>

</table>
</div>
</fieldset>
<BR>
</div>






