<%= stylesheet_link_tag 'report', :media => "print" %>

	<form action="#">
			<script>
			document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");
			</script>
	</form>
	
<div class="A4potrait" style="border: none;">
<BR/>
<table class="tlong">
	<thead>
				<tr>
					<th class="tright" colspan=5><b>KEW. PA-4</b></th>
				</tr>
				<tr>
					<th  colspan=5><b>SENARAI DAFTAR HARTA MODAL</b></th>
				</tr>
				<tr>
					<th class="tcol"><b>BIL</b></th>
					<th class="tcol"><b>NOMBOR SIRI PENDAFTARAN</b></th>
					<th class="tcol"><b>NAMA ASET</b></th>
					<th class="tcol"><b>TARIKH PEROLEHAN</b></th>
					<th class="tcol"><b>HARGA <BR>PEROLEHAN ASAL (RM)</b></th>
				</tr>
	</thead>
	
	<tbody>
			<% bil = 0 %>
			<% @assets.sort { |a,b| a.assetcode <=> b.assetcode }.each do |asset| %>
			<% bil += 1 %>
				<tr>
					<td class="tdata" style="text-align:center;" ><%=h bil %></th>
					<td class="tdata" style="white-space: nowrap; padding-right:3mm;" ><%=h asset.assetcode %></th>
					<td class="tdata"><%=h asset.name %></th>
					<td class="tdata"><%=h tarikh(asset.receiveddate) %> </th>
					<td class="tdata" style="text-align:right; padding-right:3mm;"><%=h ringgols(asset.purchaseprice) %></th>
				</tr>
			<% end %>
	</tbody>
</table>
<div>	
	

<div id="hideLink">
<%= link_to 'Back', assets_path %>
</div>