<%= stylesheet_link_tag 'report' %> 

<form action="#">
	<script>
	document.write("<input type='button' " +
	"onClick='window.print()' " +
	"class='printbutton' " +
	"value='<%=escape_javascript(t 'print')%>'/>");
	</script>
<form>
<div id="hideLink">
<%#= link_to (t 'back'), assettracks_path %>
</div><BR>

<div id="A4landscape">
<fieldset width=10px >

<div id="title">
<p class="marginright" align="right"><b>KEW. PA-8</b></p><BR>

<BR>
<H3>LAPORAN TAHUNAN HARTA MODAL DAN INVENTORI BAGI TAHUN 2011 <BR><BR> KEMENTERIAN: KESIHATAN MALAYSIA</H3>

<BR>
<div id="tprintreport">	
	<table width=80% border=1px cellspacing=0 align="center">
		<tr>
			<td align="center" BGCOLOR="#FEFE56"><b>BIL<b></td>
			<td align="center" BGCOLOR="#FEFE56"><b>KEMENTERIAN/JABATAN <BR> DI BAWAHNYA</b></td>
			<td align="center" BGCOLOR="#FEFE56"><b>BILANGAN <BR> KEW.PA-2</b></td>
			<td align="center" BGCOLOR="#FEFE56"><b>JUMLAH NILAI HARTA <BR> MODAL (RM)</b></td>
			<td align="center" BGCOLOR="#FEFE56"><b>BILANGAN <BR> KEW.PA-3</b></td>
			<td align="center" BGCOLOR="#FEFE56"><b>JUMLAH NILAI <BR> INVENTORI (RM)</b></td>
		</tr>
		<% bil = 0 %>
		<% @fa=[] %>
		<% @fa_p=[] %>
		<% @inv=[] %>
		<% @inv_p=[] %>
		<tr>
			<td align="center"><%=h bil+1 %></td>
			<td>Kolej Sains Kesihatan Bersekutu Johor Bahru</td>
			<td align="right"><%=@fa << Asset.find(:all, :conditions=>['assettype=?',1]).count%></td>
			<td align="right"><% @fa_p << Asset.find(:all, :conditions=>['assettype=?',1]).map(&:purchaseprice).compact.sum %>
						    <%=ringgols(@fa_p[bil])%></td>
			<td align="right"><%=@inv << Asset.find(:all, :conditions=>['assettype=?',2]).count%></td>
			<td align="right"><% @inv_p << Asset.find(:all, :conditions=>['assettype=?',2]).map(&:purchaseprice).compact.sum %>					
						      <%=ringgols(@inv_p[bil])%></td>
			<% bil += 1 %>
		</tr>
		<tr>
			<td BGCOLOR="#FEFE56">&nbsp;</td>
			<td align="right" BGCOLOR="#FEFE56"><b>Jumlah</b></td>
			<td align="right" BGCOLOR="#FEFE56"><%=@fa.sum%></td>
			<td align="right" BGCOLOR="#FEFE56"><%=ringgols(@fa_p.sum)%></td>
			<td align="right" BGCOLOR="#FEFE56"><%=@inv.sum%></td>
			<td align="right" BGCOLOR="#FEFE56"><%=ringgols(@inv_p.sum)%></td>
		</tr>
	
	</table>
	<BR>
	 <tr>
		  <td colspan=2>
			    <BR><BR> 
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			.........................................
			    <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    Tandatangan Pegawai Pengawal <BR>
			    <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nama &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 
				<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Jawatan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 
				<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tarikh &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= l(Date.today()) %>
				<BR> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cop &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
			</td><BR><Br>* laporan merangkumi semua aset alih yang dipegang sehingga tahun semasa.<BR>
		</tr>
	<BR>
	

</div>
</fieldset>


<BR>
