<%= stylesheet_link_tag 'report' %><!--09/11/2011 - Shaliza changed layout kewpa3-->
<div id="A4potrait">
<form action="#">
		<script>
		document.write("<input type='button' " +
		"onClick='window.print()' " +
		"class='printbutton' " +
		"value='Print This Page'/>");
		</script>
</form>	
<fieldset width=10px >	

<!-- Box Head -->
<div id="kewpa">
<p class="marginright" align="right"><b>KEW. PA-3</b><BR> No. Siri Pendaftaran : &nbsp;&nbsp; <%=h @asset.assetcode %></p>

<H4 align="center"><b>DAFTAR INVENTORY</b></H4>

<p class="marginleft">Kementerian/Jabatan &nbsp;&nbsp;&nbsp;&nbsp;:<i> Jabatan Perdana Menteri, <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Agensi Penguatkuasaan Maritim Malaysia</i><BR>
				Bahagian &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<i> Pusat Latihan APMM </i>
</p>


		<table width=100% border=1px padding=0px cellspacing=0px>
			<tr>
				<td width=160px>Kod Nasional</td>
				<td colspan=5>&nbsp;</td>
			</tr>
			<tr>
				<td>Kategori</td>
				<td colspan=5><%=h @asset.category.description unless @asset.category_id.nil?  %>&nbsp;</td>
			</tr>
			<tr>
				<td>Sub Kategori</td>
				<td colspan=5><%=h @asset.subcategory  %>&nbsp;</td>
			</tr>
			<tr>
				<td>Jenis</td>
				<td colspan=2 width=120px><%=h @asset.typename %>&nbsp;</td>
				<td width=160px>Harga Perolehan Asal</td>
				<td colspan=2 align="center"><%=h ringgols(@asset.purchaseprice) %>&nbsp;</td>
			</tr>
			<tr>
				<td>Kuantiti</td>
				<td colspan=2><%=h @asset.quantity %>&nbsp;</td>
				<td width=160px>Tarikh Diterima</td>
				<td colspan=2 align="center"><%=h (@asset.receiveddate) %>&nbsp;</td>
			</tr>
			<tr>
				<td>Unit Pengukuruan</td>
				<td colspan=2><%=h @asset.quantity_type %>&nbsp;</td>
				<td rowspan=2 width=160px>No Pesanan Rasmi<BR>Kerajaan & Tarikh</td>
				<td rowspan=2 colspan=2 align="center"><%=h @asset.orderno %><BR><%=h (@asset.purchasedate) %>&nbsp;</td>
			</tr>
			<tr>
				<td>Tempoh Jaminan</td>
				<td colspan=2><%=h @asset.warranty_length %> Bulan</td>
			</tr>
			<tr>
				<td colspan=2 valign="top">Nama Pembekal Dan Alamat:
					<BR>&nbsp;&nbsp;<%=h @asset.supplier_id.blank? ? "-" : @asset.suppliedby.name %>
					<BR>&nbsp;&nbsp;<%=h @asset.supplier_id.blank? ? "-" : @asset.suppliedby.address %>	
					<BR>&nbsp;&nbsp;<%=h @asset.supplier_id.blank? ? "-" : @asset.suppliedby.phone %>
					<BR>&nbsp;&nbsp;<%=h @asset.supplier_id.blank? ? "-" : @asset.suppliedby.fax %>
				  <BR>&nbsp;&nbsp;<%=h @asset.supplier_id.blank? ? "-" : @asset.suppliedby.mail %></td>
			    
			
				    <td colspan=4><BR><BR>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					.........................................
						    <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Tandatangan Ketua Jabatan <BR>
					<BR>Nama &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%=h @asset.assigned_details %>
					<BR>Jawatan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%=h @asset.assignedto.position.positionname unless @asset.assignedto.blank? %>
					<BR>Tarikh &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:  <%= l(Date.today()) %>
					<BR>Cop &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
			
			</tr>
	
</table>
<BR>
<div id="table1">
<table width=100% border=1px padding=5px cellspacing=0px>
	<tr>
		<th BGCOLOR="#DDD" colspan=8 align="center">PENEMPATAN</th>
	</tr>
	<tr>
		<td width=160px>Kuantiti</td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
	</tr>
	<tr>
		<td>No Siri Pendaftaran</td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
	</tr>
	<tr>
		<td>Lokasi</td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
	</tr>
	<tr>
		<td>Tarikh</td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
	</tr>
	<tr>
		<td>Nama Pegawai</td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
	</tr>
	<tr>
		<td>Tandatangan</td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
	</tr>
</table>
<BR>
<table width=100% border=1px padding=5px cellspacing=0px>
	<tr>
		<th BGCOLOR="#DDD" colspan=8 align="center">PEMERIKSAAN</th>
	</tr>
	<tr>
		<td width=160px>Tarikh</td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
	</tr>
	<tr>
		<td>Status Aset</td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
	</tr>
	<tr>
		<td>Nama Pemeriksa</td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
	</tr>
	<tr>
		<td>Tandatangan</td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
	</tr>

</table>
<BR>
<table width=100% border=1px padding=5px cellspacing=0px>
	<tr>
		<th BGCOLOR="#DDD" colspan=8 align="center">PELUPUSAN/HAPUSKIRA</th>
	</tr>
	<tr>
		<td align="center">Tarikh</td>
		<td align="center">Rujukan</td>
		<td align="center">Kaedah Pelupusan</td>
		<td align="center">Kuantiti</td>
		<td align="center">Lokasi</td>
		<td align="center">Tandatangan</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
		<td><PRE></td>
	</tr>

</table>
</div>	
</div>
</fieldset>

<BR>
	
<div id="hideLink">
<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
</div>
</div>