<%= stylesheet_link_tag 'report' %><!--09/11/2011 - Shaliza fixed layout kewpa2-->
<div id="A4potrait">
	
<form action="#">	
<script>
document.write("<input type='button' " +
"onClick='window.print()' " +
"class='printbutton' " +
"value='Print This Page'/>");
</script>
</form>
<fieldset width=10px >	

<!-- Box Head -->
<div id="kewpa">
<p class="marginright" align="right"><b>KEW. PA-2</b><BR> No. Siri Pendaftaran : &nbsp;&nbsp;<%=h @asset.assetcode %> </p>
<H4 align="center"><b>DAFTAR HARTA MODAL</b></H4>
<p class="marginleft">Kementerian/Jabatan &nbsp;&nbsp;&nbsp;&nbsp;:<i> Jabatan Perdana Menteri, <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Agensi Penguatkuasaan Maritim Malaysia</i><BR>
				Bahagian &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<i> Pusat Latihan APMM </i>
</p> 

<p class="bhgnA" align="center"><b>BAHAGIAN A</b></p>
<table width=100% border=1px padding=0px cellspacing=0px>
	<tr>
		<td width=23%>Kod Nasional</td>
		<td colspan=3>&nbsp;</td>
	</tr>
	<tr>
		<td>Kategori</td>
		<td colspan=3>&nbsp;</td>
	</tr>
	<tr>
		<td>Sub Kategori</td>
		<td colspan=3><%=h @asset.subcategory  %> &nbsp;</td>
	</tr>
	<tr>
		<td>Jenis/Jenama/Model</td>
		<td colspan=3> <%=h @asset.typename %> &nbsp;/
					   <%=h @asset.name %> &nbsp;/ <%=h @asset.modelname %> &nbsp;</td>
		
	</tr>
	<tr>
		<td>Buatan</td>
		<td width=30%><%=h (Asset::SCN.find_all{|disp, value| value == @asset.country_id}).map {|disp, value| disp} %> &nbsp;</td>
		<td width=27%>Harga Perolehan Asal</td>
		<td width=30% align="center"><%=h ringgols(@asset.purchaseprice) %> &nbsp;</td>
	</tr>
	
	<tr>
		<td>Jenis Dan No Enjin</td>
		<td><%=h (Asset::ETI.find_all{|disp, value| value == @asset.engine_type_id}).map {|disp, value| disp} %> - <%=h @asset.engine_no %> &nbsp;</td>
		<td width=25%>Tarikh Terima</td>
		<td align="center"><%=h l(@asset.receiveddate) unless @asset.receiveddate.blank?  %> &nbsp;</td>
	</tr>
	<tr>
		<td>No Casis/Siri Pembuat</td>
		<td><%=h @asset.serialno %> &nbsp;</td>
		<td width=160px>No. Pesanan Rasmi Kerajaan</td>
		<td><%=h @asset.orderno %> &nbsp;</td>
	</tr>
	<tr>
		<td rowspan=2 valign="top">No Pendaftaran<BR>(Bagi Kenderaan)</td>
		<td rowspan=2><%=h @asset.registration %> &nbsp;</td>
		<td>Tempoh Jaminan</td>
		<td align="center"><%=h @asset.warranty_length %> &nbsp; Bulan</td>
	</tr>
	<tr>
		<td rowspan=2 colspan=2>Nama Pembekal Dan Alamat:
	 	<P align="center"><%=h @asset.supplier_id.blank? ? "-" : @asset.suppliedby.name %> &nbsp;
		<BR><%=h @asset.supplier_id.blank? ? "-" : @asset.suppliedby.address %>	 &nbsp;
		<BR><%=h @asset.supplier_id.blank? ? "-" : 'Phone: ' + @asset.suppliedby.phone %> &nbsp;
		<BR><%=h @asset.supplier_id.blank? ? "-" : 'Fax: ' + @asset.suppliedby.fax %> &nbsp;
		<BR><%=h @asset.supplier_id.blank? ? "-" : 'Email: ' + @asset.suppliedby.mail %> &nbsp;</P></td>
	</tr>
	
	 <tr>
		 	<td rowspan=3 colspan=2 valign="top"><BR>KOMPONEN/AKSESORI :<BR><%=h @asset.otherinfo %> &nbsp;</td>
	 </tr>
	 <tr>
		  <td colspan=2>
			    <BR><BR> 
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			.........................................
			    <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    Tandatangan Ketua Jabatan <BR>
			    <BR>Nama &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%=h @asset.assigned_details %>
				<BR>Jawatan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%=h @asset.position_details  %><!--21/11/2011 - Shaliza added code for position if no longer exist.-->
				<BR>Tarikh &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= l(Date.today()) %>
				<BR>Cop &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
			</td>
		</tr>
	
</table>
<BR>
<!--table1-->
<div id="table1">
<table width=100% border=1px padding=5px cellspacing=0px>

	<tr>
		<th colspan=8 align="center" BGCOLOR="#FEFE56">PENEMPATAN</th>
	</tr>
	<tr>
		<td width=160px>Lokasi</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Tarikh</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Nama Pegawai</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Tandatangan</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>

</table>
<BR>
<table width=100% border=1px padding=5px cellspacing=0px>
	<tr>
		<th colspan=8 align="center" BGCOLOR="#FEFE56">PEMERIKSAAN</th>
	</tr>
	<tr>
		<td width=160px>Tarikh</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Status Aset</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Nama Pemeriksa</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Tandatangan</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>

</table>
<BR>
<table width=100% border=1px padding=5px cellspacing=0px>
	<tr>
		<th colspan=4 align="center" BGCOLOR="#FEFE56">PELUPUSAN/HAPUSKIRA</th>
	</tr>
	<tr>
		<td align="center">Rujukan Kelulusan</td>
		<td align="center">Tarikh</td>
		<td align="center">Kaedah Pelupusan</td>
		<td align="center">Tandatangan</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr> 
</table>
</div>	
</div>
</fieldset>

<BR>	
<div id="hideLink">
<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
</div>
</div><BR>