<%= stylesheet_link_tag 'report', :media => "print" %>
<!--A4Potrait-->

<form action="#">	
<script>
document.write("<input type='button' " +
"onClick='window.print()' " +
"class='printbutton' " +
"value='Print This Page'/>");
</script>
</form>
<div id="hideLink">
<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
</div>
<div class="A4potrait_paged">


<!-- Box Head -->
<div id="kewpa">
<BR/>
<p class="marginright" align="right"><b>KEW. PA-2</b><BR><BR>( No. Siri Pendaftaran : &nbsp;&nbsp;&nbsp;&nbsp; <%=h @asset.assetcode %> )</p>
<H4 align="center"><b>DAFTAR HARTA MODAL</b></H4>
<p class="marginleft" style="padding:0 0 0 20mm;">Kementerian/Jabatan &nbsp;&nbsp;&nbsp;&nbsp;:<i> Kolej Kesihatan Kesihatan Bersekutu Johor Bahru</i><BR>
				Bahagian &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <i> </i>
</p> 

<P align="center"><b>BAHAGIAN A</b></P>
<table border=1px padding=0px cellspacing=0px style="width:197mm; margin:auto;">
	<tr>
		<td width=23%>Kod Nasional</td>
		<td colspan=3>&nbsp;</td>
	</tr>
	<tr>
		<td>Kategori</td>
		<td colspan=3><%=h @asset.category.description unless @asset.category.blank?  %>&nbsp;</td>
	</tr>
	<tr>
		<td>Sub Kategori</td>
		<td colspan=3><%=h @asset.subcategory  %> &nbsp;</td>
	</tr>
	<tr>
		<td>Jenis/Jenama/Model</td>
		<td colspan=3> <%=h @asset.typename %> &nbsp;/
					   <%=h @asset.name %> &nbsp;/ <%=h @asset.modelname %> &nbsp;</td>
		
	</tr>
	<tr>
		<td>Buatan</td>
		<td width=30%><%=h ((Asset::COUNTRYLIST.find_all{|disp, value| value == @asset.country_id}).map {|disp, value| disp}).to_s[3..-1] %> &nbsp;</td>
		<td width=27%>Harga Perolehan Asal</td>
		<td width=30% align="center"><%=h ringgols(@asset.purchaseprice) %> &nbsp;</td>
	</tr>
	
	<tr>
		<td>Jenis Dan No Enjin</td>
		<td><%=h (Asset::ETI.find_all{|disp, value| value == @asset.engine_type_id}).map {|disp, value| disp} %> - <%=h @asset.engine_no %> &nbsp;</td>
		<td width=25%>Tarikh Terima</td>
		<td align="center"><%=h l(@asset.receiveddate) unless @asset.receiveddate.blank?  %> &nbsp;</td>
	</tr>
	<tr>
		<td>No Casis/Siri Pembuat</td>
		<td><%=h @asset.serialno %> &nbsp;</td>
		<td width=160px>No. Pesanan Rasmi Kerajaan</td>
		<td><%=h @asset.orderno %> &nbsp;</td>
	</tr>
	<tr>
		<td rowspan=2 valign="top">No Pendaftaran<BR>(Bagi Kenderaan)</td>
		<td rowspan=2><%=h @asset.registration %> &nbsp;</td>
		<td>Tempoh Jaminan</td>
		<td align="center"><%=h @asset.warranty_length %> &nbsp; Bulan</td>
	</tr>
	<tr>
		<td rowspan=2 colspan=2>Nama Pembekal Dan Alamat:
	 	<P align="center"><%=h @asset.supplier_id.blank? ? "-" : @asset.suppliedby.name %> &nbsp;
		<BR><%=h @asset.supplier_id.blank? ? "-" : @asset.suppliedby.address %>	 &nbsp;
		<BR><%=h @asset.supplier_id.blank? ? "-" : 'Phone: ' + @asset.suppliedby.phone %> &nbsp;
		<BR><%=h @asset.supplier_id.blank? ? "-" : 'Fax: ' + @asset.suppliedby.fax %> &nbsp;
		<BR><%=h @asset.supplier_id.blank? ? "-" : 'Email: ' + @asset.suppliedby.mail %> &nbsp;</P></td>
	</tr>
	
	 <tr>
		 	<td rowspan=3 colspan=2 valign="top"><BR>KOMPONEN/AKSESORI :<BR><%=h @asset.otherinfo %> &nbsp;</td>
	 </tr>
	 <tr>
		  <td colspan=2>
			    <BR><BR> 
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			.........................................
			    <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    Tandatangan Ketua Jabatan <BR>
			    <BR>Nama &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%=h Position.find_by_code("1").staff.name %>
				<BR>Jawatan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%=h Position.find_by_code("1")[:name]  %><!--21/11/2011 - Shaliza added code for position if no longer exist.-->
				<BR>Tarikh &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= l(Date.today()) %>
				<BR>Cop &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
			</td>
		</tr>
	
</table>
<BR>
<!--table1-->
<div id="table1">
	
<div style="border:1px solid black; background-color:#FEFE56; font:Times New Roman; font-size:13; font-weight:bold; text-align:center; padding:2px 0px; margin:auto; width:197mm;">
	PENEMPATAN
</div>
<div style="border:none; background-color:#FFF; font:Times New Roman; font-size:13; font-weight:bold; text-align:center; padding:0px 0px; margin:0 0 0 5.5mm; width:37mm; float:left;">
	<table width=100% border=1px padding=5px cellspacing=0px>
		<tr>
			<td style="font-size:13; height:6mm;">Lokasi</td>
		</tr>
		<tr>
			<td style="font-size:13; height:6mm;">Tarikh</td>
		</tr>
		<tr>
			<td style="font-size:13; height:6mm;">Nama Pegawai</td>
		</tr>
		<tr>
			<td style="font-size:13; height:6mm;">Tandatangan</td>
		</tr>
	</table>
</div>

 <% filled_div = @asset.asset_placements.size * 23 %>
 <% empty_div = (7 - @asset.asset_placements.size) * 23 %>

		<% for asset_placement in @asset.asset_placements.all(:order => 'reg_on DESC') %>
		<div style="none; background-color:#FFF; font:Times New Roman; font-size:13; font-weight:bold; text-align:center; padding:0px 0px;  margin:0 0 0 -3px; width:25mm; float:left;">
			<table width=100% border=1px cellspacing=0px style="padding:0; margin:0;" >
			<tr>
			<td style="font-family:tahoma; font-size:9;height:6mm; text-align:center; padding:0; margin:0;"><%= check_kin {asset_placement.location.code} %></td>
			</tr>
			<tr>
			<td style="font-family:tahoma; font-size:9;height:6mm; text-align:center; padding:0; margin:0;"><%= (check_kin {asset_placement.staff.name}).split(" ")[1] %></td>
			</tr>
			<tr>
			<td style="font-family:tahoma; font-size:9;height:6mm; text-align:center;padding:0; margin:0;"><%= tarikh(asset_placement.reg_on) %></td>
			</tr>
			<tr>
			<td style="font-family:tahoma; font-size:9;height:6mm;"></td>
			</tr>

	</table>
</div>
		<% end %>
		
		
<div style="border:none; background-color:#FFF; font:Times New Roman; font-size:13; font-weight:bold; text-align:center; padding:0px 0px; margin:0 5mm 0 -4px; width:<%="#{empty_div}"%>mm; float:left;">
		<table width=100% border=1px padding=5px cellspacing=0px  >
			<% for bb in 1..4 %>
			<tr>
 			<% for ss in 1..(7 - @asset.asset_placements.size) %>
 			<td style="height:6mm;"></td>
			<% end %>
			</tr>
			<% end %>
		</table>
		<BR/>
</div>

<div>
<table border=1px padding=5px cellspacing=0px style="width:197mm; margin:auto;">
	<tr>
		<th colspan=8 align="center" BGCOLOR="#FEFE56">PEMERIKSAAN</th>
	</tr>
	<tr>
		<td width=160px>Tarikh</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Status Aset</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Nama Pemeriksa</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Tandatangan</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>

</table>
<BR>
<table border=1px padding=5px cellspacing=0px style="width:197mm; margin:auto;">
	<tr>
		<th colspan=4 align="center" BGCOLOR="#FEFE56">PELUPUSAN/HAPUSKIRA</th>
	</tr>
	<tr>
		<td align="center">Rujukan Kelulusan</td>
		<td align="center">Tarikh</td>
		<td align="center">Kaedah Pelupusan</td>
		<td align="center">Tandatangan</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr> 
</table>
</div>
</div>	
</div>
<BR>	<BR>	<BR>	<BR>	<BR>	<BR>	<BR>	
</div>

<P CLASS="breakhere">
<div class="A4potrait_paged">

	<div id="kewpa">
	<BR/>
	<p class="marginright" align="right"><b>KEW. PA-2</b></p>
	<H4 align="center"><b>DAFTAR HARTA MODAL</b></H4>
	<H4 align="center"><b>BUTIR BUTIR PENAMBAHAN, PENGGANTIAN DAN NAIKTARAF</b></H4>

	<P align="center">BAHAGIAN B</P>


	<table border=1px padding=5px cellspacing=0px style="width:197mm; margin:auto;">

		<tr>
			<th align="center">Bil</td>
			<th align="center">Tarikh</td>
			<th align="center">Butiran</td>
			<th align="center">Tempoh Jaminan</td>
			<th align="center">Kos (RM)</td>
			<th align="center">Nama & Tandatangan</td>
		</tr>
		<% filled_tds = @asset.maints.size %>
	 	<% empty_tds = (20 - @asset.maints.size) %>
		<% just_a_counter = 0 %>
		<% for maint in @asset.maints.all(:order => 'created_at DESC') %>
		
		<% just_a_counter += 1 %>
		<tr>
			<td style="font-family:tahoma; font-size:9;height:7mm; text-align:center; padding:0; margin:0;">
				<%=h just_a_counter %></td>
			<td style="font-family:tahoma; font-size:9;height:7mm; text-align:left; padding:0 1mm; margin:0;">
				<%=h maint.created_at.strftime("%d %b %Y") %></td>
			<td	 style="font-family:tahoma; font-size:9;height:7mm; text-align:left; padding:0 1mm; margin:0;">
					<%=h maint.details %></td>
			<td	 style="font-family:tahoma; font-size:9;height:7mm; text-align:left; padding:0 1mm; margin:0;">
					Ref WO <%=h maint.workorderno %></td>
			<td	 style="font-family:tahoma; font-size:9;height:7mm; text-align:left; padding:0 1mm; margin:0;">
					<%=h ringgols(maint.maintcost) %></td>
			<td	 style="font-family:tahoma; font-size:9;height:7mm; text-align:left; padding:0 1mm; margin:0;">
					<%=h check_kin {maint.asset.assignedto.name} %></td>
		</tr> 
		<% end %>
		<% for empty_rows in 1..empty_tds %>
		<tr>
			<td style="height:7mm;"></td>
			<td style="height:7mm;"></td>
			<td style="height:7mm;"></td>
			<td style="height:7mm;"></td>
			<td style="height:7mm;"></td>
			<td style="height:7mm;"></td>
		</tr>
		<% end %>
	</table>	
</div>