<h3>New Asset</h3>

<% form_for(@asset) do |f| %>
  <%= f.error_messages %>


  <div class="tform">

	  <table width=100% >

		<tr>
			<td class="leftcol"><label for="assettype">Asset Type:</label><font color="red"> * </font></td>
			<td><%= f.select :assettype, 
			                  Asset::ASSETTYPE,
			                 :prompt => "Select"  %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="assetcode">Registration Serial No:</label><font color="red"> * </font></td>
			<td><%= f.text_field :assetcode,  :value => "KKM/KSKBJB/H/I", :size => '50' %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="cardno">Card No:</label><font color="red"> * </font></td>
			<td><%= f.text_field :cardno %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="name">Name:</label><font color="red"> * </font></td>
			<td><%= f.text_field :name %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="cardno">Category:</label></td>
			<td><%= f.text_field :category %></td>
		</tr>
		</table>
	</div>



  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', assets_path %>