

<% form_for(@asset) do |f| %>
  <%= f.error_messages %>
<div class="tform">
	
	<H2><%= t 'asset.new' %></H2>

	  <table width=100% >

		<tr><!--14/12/2011 - Shaliza changed asset code for APMM-->
			<td class="leftcol"><label for="assettype"><b><%= t 'asset.assetcode' %></b></label><font color="red"> * </font></td>
			<td><strong>JPM/APMM/PL/
					<%= f.select :assettype, 
			                  Asset::ASSETTYPE %>/
					<%= f.date_select :receiveddate,  :start_year => 2004, :end_year => (Time.now.year), :order => [:year] %>/  
					<%= f.text_field :cardno, :size => 6, :value => (Asset.last.id + 1).to_s %>
			</strong></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="category_id"><%= t 'asset.category_id' %></label></td>
			<td><%= f.collection_select :category_id, Assetcategory.find(:all, :conditions => ['parent_id IS ?', nil]), :id, :description, :include_blank => true %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="subcategory_name"><%= t 'asset.subcategory_name' %></label></td>
			<td><%= f.text_field	 :subcategory %>
			<!-- <#% f.collection_select :subcategory_id, Assetcategory.find(:all, :conditions => ['parent_id IS NOT ?', nil]), :id, :description, :include_blank => true %></td> -->
		</tr>
		
		<tr>
			<td class="leftcol"><label for="type">Type:</label></td>
			<td><%= f.text_field :typename %></td>
		</tr>

	</table>




  <p>
    <%= f.submit (t 'icms.submit') %>
  </p>
<% end %>

<%= link_to (t 'icms.back'), assets_path %>