<% form_for(@asset) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
	
	<H2><%= t 'asset.new' %></H2>

  <% asset_years = Asset.find(:all, :select => :assetcode).map(&:assetcode).map{|d| d.split("/")[4]}.uniq %>
	<table width=100% >
		

		<tr>
			<td class="leftcol"><label for="assettype"><b><%= t 'asset.assetcode' %></b></label><font color="red"> * 
			<%#=Time.now.year+1%><%#= Asset.find_last_by_assettype(2)[:assetcode].split("/")[4] %><%#= Asset.find_last_by_assettype(2)[:assetcode].split("/")[4] %>
			</font></td>
			<td><strong>KKM/BPL/010619/
					<%= f.select :assettype, Asset::ASSETTYPE, :prompt => "Select" %>/
					<%= f.date_select :receiveddate,  :end_year => (Time.now.year+1), :order => [:year] %>/  
					<SPAN class="bong", style="display: none;">
						<%= f.text_field :cardno, :size => 6, :value => (Asset.find_last_by_assettype(1)[:assetcode].split("/")[5].to_i + 1) %>		
						<%#=(Asset.find_last_by_assettype(1)[:assetcode].split("/")[5].to_i + 1)%>
					</SPAN>
					<SPAN class="koik", style="display: none;">
						
						<!--yg asal-use this if assetcode for inventory is IN 99-99 format-->
						<%= f.text_field :cardno2, :size => 6, :value => (Asset.find_last_by_assettype(2)[:assetcode].split(/[\/\-]/)[6].to_i + 1) %> 
						<%#=(Asset.find_last_by_assettype(2)[:assetcode].split(/[\/\-]/)[6].to_i + 1) %>
						<!--yg asal-use this if assetcode for inventory is IN 99-99 format-->
						
						<!--17 Dec 2012-use this if assetcode for inventory is not in 99-99 format-->
						<%#= f.text_field :cardno, :size => 6, :value => (Asset.find_last_by_assettype(2)[:assetcode].split(/[\/]/)[5].to_i + 1).to_i+(Asset.find_last_by_assettype(2)[:quantity]).to_i-1 %> 
						<!--17 Dec 2012-use this if assetcode for inventory is not in 99-99 format-->
						
						- <%= f.text_field :quantity, :size => 6 %>
					</SPAN>
			</strong></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label>Previous</label></td>
			<td>
        <SPAN class="bong", style="display: none;">
          <% asset_years.each do | asset_year | %>
            <%= (Asset.find(:all, :conditions => ['substring(assetcode, 18, 2 ) =? AND assettype =?', asset_year, 1]).last)[:assetcode] rescue nil %>
            <BR/>
          <% end %>
        </SPAN>
				<SPAN class="koik", style="display: none;">
          <% asset_years.each do | asset_year | %>
            <% last_item = Asset.find(:all, :conditions => ['substring(assetcode, 18, 2 ) =? AND assettype =?', asset_year, 2]).last %>
            <%= last_item[:assetcode] rescue nil   %>
            <BR>
          <% end %>
        </SPAN>
      </td>
		</tr>
	
<script type="text/javascript">
		$j(document).ready(function(){
		  $j('#asset_assettype').change(function() {
		    if($j(this).val() == 1) {
		      $j('.bong').show();
					$j('.koik').hide();
		    }else if ($j(this).val() == 2) {
		     	 $j('.bong').hide();
					 $j('.koik').show();
		    }
			});
	});
</script>
		
		
		
		
<!--
		<script type="text/javascript">
			$j(document).ready(function(){
					//show submit date

					$j("input[id='asset_loan_is_returned']").change(function() {  
					 if($j('#asset_loan_is_returned').is(':checked')) { 
					    $j(".return_it").show("highlight"); 
					 }else		{
					    $j(".return_it").hide(""); 
					 }	
					});

					$j("input[id='asset_loan_is_returned']").each(function() {  
					 if($j('#asset_loan_is_returned').is(':checked')) { 
					    $j(".return_it").show("highlight"); 
					 }else		{
					    $j(".return_it").hide(""); 
					 }	
					});

			});
		</script>
		-->

		
		
		
		
		
		
			
		
		<tr>
			<td class="leftcol"><label for="category_id"><%= t 'asset.category_id' %></label></td>
			<td><%= f.collection_select :category_id, Assetcategory.find(:all, :conditions => ['parent_id IS ?', nil]), :id, :description, :include_blank => true %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="subcategory_name"><%= t 'asset.subcategory_name' %></label></td>
			<td><%= f.text_field	 :subcategory %>
			<!-- <#% f.collection_select :subcategory_id, Assetcategory.find(:all, :conditions => ['parent_id IS NOT ?', nil]), :id, :description, :include_blank => true %></td> -->
		</tr>
		
		<tr>
			<td class="leftcol"><label for="type">Type:</label></td>
			<td><%= f.text_field :typename %></td>
		</tr>

	</table>
</div>



  <p>
    <%= f.submit (t 'icms.submit') %>
  </p>
<% end %>

<%= link_to (t 'icms.back'), assets_path %>