<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

	<form action="#">
			<script>
			document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");
			</script>
	</form>
	
<fieldset width=10px >
		
<div id="title">
<p class="marginright" align="right"><b>KEW. PA-5</b></p><BR>

<H4 align="center"><b>SENARAI DAFTAR INVENTORI</b></H4>
</div>
<div id="tprintreport">	
<table width=100% border=1px cellspacing=0 align="center" >
<tr>
	<th width="1%" align="center">BIL</th>
	<th width="10%">NOMBOR SIRI PENDAFTARAN</th>
    <th width="20%">NAMA ASET</th>
	<th width="5%">TARIKH PEROLEHAN</th>
	<th width="5%">HARGA <BR>PEROLEHAN ASAL (RM)</th>
</tr>
	
	<% bil = 0 %>
	<% @assets.each do |asset| %>
	<% bil += 1 %>
<tr>
					<td align="center"><%=h bil %> </td>	
					<td>&nbsp;&nbsp;<%=h asset.assetcode %></td>	
					<td>&nbsp;&nbsp;<%=h asset.name %></td>
					<td align="center"><%=h l(asset.receiveddate) unless asset.receiveddate.blank? %> </td>
					<td align="right"><%=h ringgols(asset.purchaseprice) %>&nbsp;&nbsp;&nbsp;&nbsp; </td>	
				</tr>
			<% end %>
</table>
</div>
</fieldset>
<BR>
<div id="hideLink">
<%= link_to 'Back', assets_path %>
</div>




