<div class="tform"><!-- 07/11/2011 - Shaliza changed Label Name to in BM for show page-->
	
	<H2>Butiran Aset</H2>
  <table width=100% >
	<tr>
		<td class="leftcol"><label for="assetcode"><%= t 'asset.assetcode' %>:</label></td>
		<td><%=h @asset.assetcode %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id"><%= t 'asset.category_id' %>:</label></td>
		<td><%=h @asset.category.description %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="subcategory"><%= t 'asset.subcategory_name' %>:</label></td>
		<td><%=h @asset.subcategory %></td>	
	</tr>
	<tr>
	<td class="leftcol"><label for="bookable"><%= t 'asset.bookable' %>:</label></td>
	    <td><%=h @asset.bookable? ? "This item can be booked" : "No" %></td>
	</tr>
</table>
<H2>Huraian Aset</H2>
<table>
 
	<tr>
		<td class="leftcol"><label for="name">Asset Name:</label></td>
		<td><%=h @asset.name %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="typename"><%= t 'asset.typename' %>:</label></td>
		<td><%=h @asset.typename %></td>	
	</tr>
	
	<tr>
		<td class="leftcol"><label for="modelname"><%= t 'asset.modelname' %>:</label></td>
		<td><%=h @asset.modelname %></td>	
	</tr>

	<tr>
		<td class="leftcol"><label for="staff_id"><%= t 'asset.country_id' %> :</label></td>
		<td><%=h @asset.manufacturer_id.blank? ? "Not Recorded" : @asset.manufacturedby.name %></td>	
	</tr>
	<% if @asset.category_id == 3%>
	<tr>
		<td class="leftcol"><label for="country_id"><b><%= t 'asset.engine_type_id' %></b></label></td>
		<td><%=h (Asset::ETI.find_all{|disp, value| value == @asset.engine_type_id.to_s}).map {|disp, value| disp} %>&nbsp;&nbsp;
					    <%= t 'asset.engine_no' %>&nbsp;<%=h @asset.engine_no %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="serialno">
			<% if @asset.category_id == 3 %>
				<%= t 'asset.nocasis' %>:
			<% else %>
				<%= t 'asset.nosiri' %>:
			<% end %>
			</label></td>
		<td><%=h @asset.serialno %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="registration"><%= t 'asset.registration' %></label></td>
		<td><%=h @asset.registration %></td>
	 </tr>
	<% end %>
	
		
	<tr>
		<td class="leftcol"><label for="typename"><%= t 'asset.quantity' %> :</label></td>
		<td><%=h @asset.quantity %> <%=h @asset.quantity_type %></td>	
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="location"><%= t 'asset.location_id' %>:</label></td>
		<td><%=h @asset.location.blank? ? "" : @asset.location.name %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id"><%= t 'asset.assignedto_id' %>:</label></td>
		<td><%=h @asset.assignedto_id.blank? ? "-" : @asset.assignedto.staff_name_with_position %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Status:</label></td>
		<td><%=h @asset.status %></td>	
	</tr>
	
	<tr>
		<td class="leftcol"><label for="staff_id">Mark For Disposal:</label></td>
		<td><%=h @asset.mark_disposal? ? "Yes" : "No" %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="otherinfo"><%= t 'asset.otherinfo' %> :</label></td>
		<td><%=h @asset.otherinfo %></td>	
	</tr>
</table>
<H2>Maklumat Pembayaran</H2>
<table>

	<tr>
		<td class="leftcol"><label for="staff_id"><%= t 'asset.orderno' %> :</label></td>
		<td><%=h @asset.orderno %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id"><%= t 'asset.purchaseprice' %>:</label></td>
		<td><%=h ringgols(@asset.purchaseprice) %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="purchasedate"><%= t 'asset.purchasedate' %> :</label></td>
		<td><%=h @asset.purchasedate.strftime("%d %B %Y") unless @asset.purchasedate.blank? %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="purchasedate"><%= t 'asset.receiveddate' %>:</label></td>
		<td><%=h @asset.receiveddate.strftime("%d %B %Y") unless @asset.receiveddate.blank? %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id"><%= t 'asset.receiver_id' %> :</label></td>
		<td><%=h @asset.receivedby.blank? ? "-" : @asset.receivedby.staff_name_with_position %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id"><%= t 'asset.supplier_id' %> :</label></td>
		<td><%=h @asset.supplier_id.blank? ? "-" : @asset.suppliedby.name %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="warranty_length"><%= t 'asset.warranty_length' %> :</label></td>
	    <td><%=h @asset.warranty_length %> Months</td>
	</tr>

</table>
<BR>




<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>