<div class="tform">
	
<fieldset>
	<legend class='togvis'><%= t('asset.asset_details') %></legend>
		<table width=85% >
			<tr>
				<td class="leftcol"><label for="staff_id"><%= t('asset.assetcode') %>:</label></td>
				<td><%=h @asset.assetcode %></td>	
			</tr>
			<tr>
				<td class="leftcol"><label for="staff_id"><%= t('asset.category_id') %>:</label></td>
				<td><%=h @asset.category.description unless @asset.category.blank? %></td>	
			</tr>
			<tr>
				<td class="leftcol"><label for="staff_id"><%= t('asset.subcategory_name') %>:</label></td>
				<td><%=h @asset.subcategory %></td>	
			</tr>
			<tr>
				<td class="leftcol"><label for="staff_id"><%= t('asset.typeno') %>:</label></td>
				<td><%=h @asset.typename %></td>	
			</tr>
			<tr>
			<td class="leftcol"><label for="bookable"><%= t('asset.bookable') %>:</label></td>
			    <td><%=h @asset.bookable? ? "This item can be booked" : "No" %></td>
			</tr>
		</table>
</fieldset>

<fieldset>
	<legend class='togvis'><%= t('asset.asset_description') %></legend>
		<table width=85% >
			<tr>
					<td class="leftcol"><label for="staff_id"><%= t('name') %>:</label></td>
					<td><%=h @asset.name %></td>	
			</tr>
			<tr>
				<td class="leftcol"><label for="staff_id"><%= t('asset.manufacturer') %>:</label></td>
				<td><%=h @asset.manufacturer_id.blank? ? "Not Recorded" : @asset.manufacturedby.name %></td>	
			</tr>
			<tr>
				<td class="leftcol"><label for="staff_id"><%= t('asset.country') %>:</label></td>
				<td><%=h ((Asset::COUNTRYLIST.find_all{|disp, value| value == @asset.country_id}).map {|disp, value| disp}).to_s[3..-1] %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="staff_id">Model:</label></td>
				<td><%=h @asset.modelname %></td>	
			</tr>
			<tr>
				<td class="leftcol"><label for="staff_id"><%= t('asset.serial_no') %>:</label></td>
				<td><%=h @asset.serialno %></td>	
			</tr>
			<tr>
				<td class="leftcol"><label for="staff_id"><%= t('asset.located_at') %>:</label></td>
				<td><%=h check_kin { @asset.asset_placements.last.location.location_list } %></td>	
			</tr>
			<tr> <!-- 25/10/2011 - Shaliza fixed for staff no longer exists -->
				<td class="leftcol"><label for="staff_id"><%= t('asset.assigned_to') %>:</label></td>
				<td><%=h @asset.assigned_details %></td>	
			</tr>
			<tr>
				<td class="leftcol"><label for="staff_id">Status:</label></td>
				<td><%=h @asset.status %></td>	
			</tr>
			<tr>
				<td class="leftcol"><label for="staff_id"><%= t('asset.other_info') %>:</label></td>
				<td><%=h @asset.otherinfo %></td>	
			</tr>
		</table>
</fieldset>

<fieldset>
	<legend class='togvis'><%= t('asset.purchasing_info') %></legend>
		<table width=85% >
			<tr>
				<td class="leftcol"><label for="staff_id"><%= t('asset.order_no') %>:</label></td>
				<td><%=h @asset.orderno %></td>	
			</tr>
			<tr>
				<td class="leftcol"><label for="staff_id"><%= t('asset.price') %>:</label></td>
				<td><%=h ringgols(@asset.purchaseprice) %></td>	
			</tr>
			<tr>
				<td class="leftcol"><label for="purchasedate"><%= t('asset.purchase_date') %>:</label></td>
				<td><%=h @asset.purchasedate.strftime("%d %B %Y") unless @asset.purchasedate.blank? %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="purchasedate"><%= t('asset.delivery_date') %>:</label></td>
				<td><%=h @asset.receiveddate.strftime("%d %B %Y") unless @asset.receiveddate.blank? %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="staff_id"><%= t('asset.received_by') %>:</label></td>
				<td><%=h @asset.receivedby.blank? ? "-" : @asset.receivedby.staff_name_with_position %></td>	
			</tr>
			<tr>
				<td class="leftcol"><label for="staff_id"><%= t('asset.supplied_by') %>:</label></td>
				<td><%=h @asset.supplier_id.blank? ? "-" : @asset.suppliedby.name %></td>	
			</tr>
		</table>
</fieldset>

<fieldset>
	<legend class='togvis'><%= t('asset.placement_info') %></legend>
		<table width=85% >
			<tr>
				<td><B><%= t('menu.locations') %></B></td>
				<td><B><%= t('asset.assigned_to') %></B></td>
				<td><B><%= t('datelabel') %></B></td>
			</tr>
			<tr>
			  <td colspan = 5><HR/></td>
		  </tr>
	
			<% for asset_placement in @asset.asset_placements.find(:all, :order => "reg_on DESC") %>
			<tr>
				<td><%= check_kin {asset_placement.location.location_list} %></td>
				<td><%= check_kin {asset_placement.staff.name} %></td>
				<td><%= tarikh(asset_placement.reg_on) %></td>
			</tr>
			<% end %>
		</table>
</fieldset>

<fieldset>
	<legend class='togvis'><%= t('asset.maintenance_info') %></legend>
		<table width=85% >
			<tr colspan=""5><td><%= t('student.remark') %>: <%=@asset.remark%></td></tr>
			<tr>
				<td><B><%= t('asset.done_on') %></B></td>
				<td><B><%= t('asset.maintained_by') %></B></td>
				<td><B><%= t('asset.order_no') %></B></td>
				<td><B><%= t('asset.details') %></B></td>
				<td><B><%= t('asset.costs') %></B></td>
			</tr>
			<tr>
			  <td colspan = 5><HR/></td>
		  </tr>
	
			<% for maint in @asset.maints %>
			<tr>
				<td><%= maint.created_at %></td>
				<td><%= maint.maintainedby.name %></td>
				<td><%= maint.workorderno %></td>
				<td><%= maint.details %></td>
				<td>RM <%= maint.maintcost %></td>
			</tr>
			<% end %>
		</table>
</fieldset>


</div>
<BR>




<%= link_to (t 'edit'), edit_asset_path(@asset) %> |
	<% if @asset.assettype == 1 %>
		<%= link_to 'Maintenance', :action => 'maintenance', :id => @asset %> |
	<% end %>
<%= link_to (t 'back'), assets_path %>
