<div class="tform">
	
	<H2>Asset Details</H2>
  <table width=100% >
	<tr>
		<td class="leftcol"><label for="staff_id">Asset Code:</label></td>
		<td><%=h @asset.assetcode %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Dept ID:</label></td>
		<td><%=h @asset.dept_id %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Category:</label></td>
		<td><%=h @asset.category.description %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Subcategory:</label></td>
		<td><%=h @asset.subcategory.description %></td>	
	</tr>
	<tr>
	<td class="leftcol"><label for="bookable">Bookable:</label></td>
	    <td><%=h @asset.bookable? ? "This item can be booked" : "No" %></td>
	</tr>
  <tr>
	  <th colspan = 2>Asset Description</th>
  </tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Name:</label></td>
		<td><%=h @asset.name %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Type No:</label></td>
		<td><%=h @asset.type %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Manufacturer:</label></td>
		<td><%=h @asset.manufacturer_id.blank? ? "Not Recorded" : @asset.manufacturedby.name %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Model:</label></td>
		<td><%=h @asset.modelname %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Serial No:</label></td>
		<td><%=h @asset.serialno %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Located at:</label></td>
		<td><%=h @asset.location.blank? ? "" : @asset.location.name %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Assigned to:</label></td>
		<td><%=h @asset.assignedto_id.blank? ? "-" : @asset.assignedto.staff_name_with_position %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Status:</label></td>
		<td><%=h @asset.status %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Other Information:</label></td>
		<td><%=h @asset.otherinfo %></td>	
	</tr>
	<tr>
	  <th colspan = 2>Purchasing Info</th>
  </tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Order No:</label></td>
		<td><%=h @asset.orderno %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Price:</label></td>
		<td><%=h ringgols(@asset.purchaseprice) %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="purchasedate">Purchase Date:</label></td>
		<td><%=h @asset.purchasedate.strftime("%d %B %Y") unless @asset.purchasedate.blank? %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="purchasedate">Delivery Date:</label></td>
		<td><%=h @asset.receiveddate.strftime("%d %B %Y") unless @asset.receiveddate.blank? %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Received By:</label></td>
		<td><%=h @asset.receivedby.blank? ? "-" : @asset.receivedby.staff_name_with_position %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Received By:</label></td>
		<td><%=h @asset.supplier_id.blank? ? "-" : @asset.suppliedby.name %></td>	
	</tr>

</table>
<BR>
</div>



<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>