<div class="tform">
	
	<H2><%= t 'supplier.supplier_details' %></H2>
  <table>
		<tr>
			<td class="leftcol"><label for="supplycode"><b><%= t 'stationery.code' %></b></label></td>
			<td><%= f.text_field :code %> 
		</tr>
		<tr>
			<td class="leftcol"><label for="Category"><b><%= t 'supplier.category' %></b></label></td>
			<td><%= f.text_field :category %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="unittype"><b><%= t 'supplier.unittype' %></b></label></td>
			<td><%= f.text_field :unittype, :size => '12' %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="maxquantity"><b><%= t 'supplier.maxquantity' %></b></label></td>
			<td><%= f.text_field :maxquantity, :class=>'g1',:size => '5' %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="minquantity"><b><%= t 'supplier.minquantity' %></b></label></td>
			<td><%= f.text_field :minquantity,:size => '5' %></td>
		</tr>
	</table>
	
<!--Addsupplies Details-->	
	<div>
	  <H2><%= t 'supplier.add' %></H2>
		<p><strong>|  <%= t 'supplier.lpono' %> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; |  
									<%#= t 'supplier.document' %><%= t 'supplier.name'%> &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  |
									<%= t 'supplier.quantity' %>  &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  | 
									<%= t 'supplier.unitcost' %>  &nbsp;  &nbsp; &nbsp; &nbsp;  | 
									<%= t 'supplier.total' %>  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  | 
									<%= t 'supplier.received' %></strong></p><%# count=0%><%@index=-1%>
		<% f.fields_for :stationery_adds do |builder| %><%# @index+=1 %>
			<%= render 'stationery_add_fields', :f => builder, :index=>@index+=1 %><%# count+=1 %>
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => (t 'addmore')), f, :stationery_adds %> - <%= t('addmore') %> </p>
	</div>
	
<!--usesupply Details-->		
	<div>
		<H2><%= t 'supplier.use' %></H2>
			<p><strong>   <!--<div style="width: 250px; float: left;">-->|  <%= t 'supplier.issuedby' %><!--</div>-->
				&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
										<!--<div style="width: 300px; float: left;">-->|  <%= t 'supplier.receivedby' %><!--</div>-->
				&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
										<!--<div style="width: 85px; float: left;">-->|  <%= t 'supplier.quantity' %><!--</div>-->
				&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
										<!--<div style="width: 90px; float: left;">-->| <%= t 'supplier.issuedate' %><!--</div>-->
			</strong></p>
			<% f.fields_for :stationery_uses do |builder| %>
				<%= render 'stationery_use_fields', :f => builder %>
			<% end %>
			<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :stationery_uses %> - <%= t('addmore') %> </p>
	</div>
</div>

<script type="text/javascript">
  
  //required for first newly added (FIRST item only...) to works?
  $j(document).ready(function(){
    
    //alert("hmmm?");
    var theval1 = "<%=escape_javascript(@object_index_id) %>";
      
    var qty1 = $j("#stationery_stationery_adds_attributes_"+theval1+"_quantity").val();
    var unitcost1 = $j("#stationery_stationery_adds_attributes_"+theval1+"_unitcost").val(); 
    
    var ansP1 = document.getElementById("stationery_stationery_adds_attributes_"+theval1+"_total");
    ansP1.value = (unitcost1*1)*(qty1*1);
    
  });
  
</script>