<div class="tform">
	
	<H2><%= t 'supplier.supplier_details' %></H2>
  <table>
		<tr>
			<td class="leftcol"><label for="supplycode"><b><%= t 'stationery.code' %></b></label></td>
			<td><%= f.text_field :code %> 
		</tr>
		<tr>
			<td class="leftcol"><label for="Category"><b><%= t 'supplier.category' %></b></label></td>
			<td><%= f.text_field :category %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="unittype"><b><%= t 'supplier.unittype' %></b></label></td>
			<td><%= f.text_field :unittype, :size => '12' %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="maxquantity"><b><%= t 'supplier.maxquantity' %></b></label></td>
			<td><%= f.text_field :maxquantity, :size => '5' %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="minquantity"><b><%= t 'supplier.minquantity' %></b></label></td>
			<td><%= f.text_field :minquantity, :size => '5' %></td>
		</tr>
	</table>
	
<!--Addsupplies Details-->	
	<div>
	  <H2><%= t 'supplier.add' %></H2>
		<p><strong>|  <%= t 'supplier.lpono' %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;|  
									<%= t 'supplier.document' %> &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;|
									<%= t 'supplier.quantity' %>  &nbsp; &nbsp; &nbsp; &nbsp; | 
									<%= t 'supplier.unitcost' %>  &nbsp; &nbsp; &nbsp; &nbsp;   &nbsp;   | 
									<%= t 'supplier.received' %></strong></p>
		<% f.fields_for :addsuppliers do |builder| %>
			<%= render 'addsupplier_fields', :f => builder %>
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :addsuppliers %> - Add More </p>
	</div>
	
<!--usesupply Details-->		
	<div>
		<H2>Use/Issue Supplies</H2>
			<p><strong>   <div style="width: 270px; float: left;">|  <%= t 'supplier.issuedby' %></div>
										<div style="width: 270px; float: left;">|  <%= t 'supplier.receivedby' %></div>
										<div style="width: 90px; float: left;">|  <%= t 'supplier.quantity' %></div>|
										<div style="width: 90px; float: left;">|<%= t 'supplier.issuedate' %></div></strong></p>
			<% f.fields_for :usesupplies do |builder| %>
				<%= render 'usesupply_fields', :f => builder %>
			<% end %>
			<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :usesupplies %> - Add More </p>
	</div>
</div>