<h3><%= t 'stationery.edit' %></h3>

<% form_for(@stationery) do |f| %>
  <%= f.error_messages %>

   <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>

<%= link_to (t 'show'), @stationery %> |
<%= link_to (t 'back'), stationeries_path %>