<!-- Box -->
<div class="box">
<!-- Box Head -->
  <div class="box-head">
    <h2 class="left"><%= t 'supplier.list' %></h2>
	  	<div class="right">
		 	<label>
            <% form_tag stationeries_path, :method => 'get' do %>
	        <%= text_field_tag :search, params[:search], :placeholder => "Product Name" %>
	        <%= submit_tag I18n.t('search'), :category => nil %>      
	        <% end %>
	    </label>
			</div>
	</div>
</div>
<!--Do a Show : items below minimum, items 10% from minimum, items over maximum, all-->
<div class="indextable">
	<table width=100%>
		<tr>
			<th><%= sortable "code", (t 'stationery.code') %></th>
			<th><%= sortable "category", (t 'supplier.category') %></th>
			<th><%= t 'supplier.current' %></th>
			<th><%= t 'supplier.maxquantity' %></th>
			<th><%= t 'supplier.minquantity' %></th>
			<th colspan=3 class="ac">Control</th>
		</tr>


		<% @stationeries.each do |stationery| %>
		<tr class="<%= (stationery.set_row_color) %>">
			<td><%=h stationery.code %></td>
			<td><%=h stationery.category %></td>
			<td><%=h stationery.current_quantity %> &nbsp; <%=h stationery.unittype %></td>
			<td><%=h stationery.maxquantity %></td>
			<td><%=h stationery.minquantity %></td>
			<td width=10px><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => stationery %></td>
			<td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => stationery %></td>
			<td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), stationery, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
		<% end %>
	</table>
</div>

<br />

<%= link_to (t 'supplier.create'), new_stationery_path %>