<div class="tform">
	<H2><%= t 'supplier.supplier_details' %></H2>
	<fieldset><legend class="togvis"><%= t 'supplier.details' %></legend>
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="supplycode"><%= t 'stationery.code' %> :</label></td>
			<td><%=h @stationery.code %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="category"><%= t 'supplier.category' %> :</label></td>
			<td><%=h @stationery.category %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="maxquantity"><%= t 'supplier.current'%> :</label></td>
			<td><%=h @stationery.current_quantity.to_i %>&nbsp;<%=h @stationery.unittype %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="maxquantity"><%= t 'supplier.maxquantity'%> :</label></td>
			<td><%=h @stationery.maxquantity.to_i %>&nbsp;<%=h @stationery.unittype %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="minquantity"><%= t 'supplier.minquantity' %> :</label></td>
			<td><%=h @stationery.minquantity.to_i %>&nbsp;<%=h @stationery.unittype %></td>
		</tr>	
	</table>
	</fieldset>
	<BR>
		
		<fieldset><legend class="togvis"><%= t 'stationery.additions' %></legend>
		<table width=100%>
			<tr>
				<th><%= t 'supplier.lpono' %></th>
				<th><%= t 'supplier.name' %></th>
				<th><%= t 'stationery.quantity' %></th>
				<th><%= t 'stationery.price_per' %></th>
				<th><%= t 'evaluation.form.total' %></th>
				<th><%= t 'asset.receiveddate' %></th>
			</tr>
		<% for stationery_add in @stationery.stationery_adds %>
			<tr>
				<td><%= stationery_add.lpono %></td>
				<td><%= stationery_add.document %></td>
				<td><%= stationery_add.quantity.to_i %></td>
				<td><%= ringgols(stationery_add.unitcost) %></td>
				<td><%= ringgols(stationery_add.line_item_value) %></td>
				<td><%= stationery_add.received? ? stationery_add.received.strftime("%d %b %Y") : "-" %></td>
			</tr>
		<% end %>
		</table>
		</fieldset><br>
		
	<%# if @stationery.stationery_uses %>
		<fieldset><legend class="togvis"><%= t 'stationery.deductions' %></legend>
		<table width=100%>
			<tr>
				<th><%= t 'supplier.issuedby' %></th>
				<th><%= t 'supplier.receivedby' %></th>
				<th><%= t 'supplier.quantity' %></th>
				<th><%= t 'supplier.issuedate' %></th>
			</tr>
		<% for stationery_use in @stationery.stationery_uses %>
			<tr>
				<td><%= stationery_use.issuer.try(:name) %></td>
				<td><%= stationery_use.receiver.try(:name) %></td>
				<td><%= stationery_use.quantity.to_i %></td>
				<td><%= stationery_use.issuedate? ? stationery_use.issuedate.strftime("%d %b %Y") : "-" %></td>
			</tr>
		<% end %>
	<%# end %>
		</table>
		</fieldset>
</div>


<% permitted_to? :update, :stationeries do %>
	<%= link_to (t 'edit'), edit_stationery_path(@stationery) %>
<% end %>|
<%= link_to (t 'icms.back'), stationeries_path %>

