<div class="tform">
	<H2><%= t 'supplier.supplier_details' %></H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="supplycode"><%= t 'stationery.code' %> :</label></td>
			<td><%=h @stationery.code %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="category"><%= t 'supplier.category' %> :</label></td>
			<td><%=h @stationery.category %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="maxquantity"><%= t 'supplier.current'%> :</label></td>
			<td><%=h @stationery.current_quantity %>&nbsp;<%=h @stationery.unittype %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="maxquantity"><%= t 'supplier.maxquantity'%> :</label></td>
			<td><%=h @stationery.maxquantity %><%=h @stationery.unittype %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="minquantity"><%= t 'supplier.minquantity' %> :</label></td>
			<td><%=h @stationery.minquantity %><%=h @stationery.unittype %></td>
		</tr>	
	</table>
	<BR>
		
		<H2>Additions</H2>
		<table width=100%>
			<tr>
				<td>LPO No</td>
				<td>Quantity</td>
				<td>Unit Cost</td>
				<td>Total</td>
			</tr>
		<% for addsuppliers in @stationery.addsuppliers %>
			<tr>
				<td><%= addsuppliers.lpono %></td>
				<td><%= addsuppliers.quantity %></td>
				<td><%= ringgols(addsuppliers.unitcost) %></td>
				<td><%= ringgols(addsuppliers.line_item_value) %></td>
			</tr>
		<% end %>
		</table>
</div>

<%= link_to (t 'icms.update'), edit_stationery_path(@stationery) %> |
<%= link_to (t 'icms.back'), stationeries_path %>

