<%= stylesheet_link_tag 'report' %>

<form action="#">
	<script>
	document.write("<input type='button' " +
	"onClick='window.print()' " +
	"class='printbutton' " +
	"value='<%=escape_javascript(t 'print')%>'/>");
	</script>
<form>

<div id="hideLink">
<%= link_to (t 'stationery.back_to_list'), stationeries_path %> | 
<%= link_to (t 'stationery.back_to_query'), :controller=>'stationerysearches', :action => 'new' %>
</div><br>

<div class="A4potrait">

<!-- Box Head -->
<div id="kewpa">
	<p class="marginright" align="right"></p>
	<br><br>
	<H4 align="center" style="font-size:16px;font-weight:bold;font-family:arial;">
		<%=t('supplier.title').upcase%>
	</H4>
<BR>

<table width=90% cellpadding=0 cellspacing=0>

	<tr>
		<td class="leftcol" style="font-size:14px;font-weight:bold;font-family:arial;">
			<label for="supplycode"><%= t 'stationery.code' %> :</label></td>
		<td colspan=3 style="font-size:14px;font-family:arial;"><%=h @stationery.code %></td>
	</tr>

	<tr>
		<td class="leftcol" style="font-size:14px;font-weight:bold;font-family:arial;">
			<label for="category"><%= t 'supplier.category' %> :</label></td>
		<td colspan=3 style="font-size:14px;font-family:arial;"><%=h @stationery.category %></td>
	</tr>

	<tr>
		<td class="leftcol" style="font-size:14px;font-weight:bold;font-family:arial;">
			<label for="maxquantity"><%= t 'supplier.current'%> :</label></td>
		<td colspan=3 style="font-size:14px;font-family:arial;"><%=h @stationery.current_quantity %>&nbsp;<%=h @stationery.unittype %></td>
	</tr>

	<tr>
		<td class="leftcol" style="font-size:14px;font-weight:bold;font-family:arial;">
			<label for="maxquantity"><%= t 'supplier.maxquantity'%> :</label></td>
		<td colspan=3 style="font-size:14px;font-family:arial;"><%=h @stationery.maxquantity %>&nbsp;<%=h @stationery.unittype %></td>
	</tr>

	<tr>
		<td class="leftcol" style="font-size:14px;font-weight:bold;font-family:arial;">
			<label for="minquantity"><%= t 'supplier.minquantity' %> :</label></td>
		<td colspan=3 style="font-size:14px;font-family:arial;"><%=h @stationery.minquantity %>&nbsp;<%=h @stationery.unittype %></td>
	</tr>
	<tr><td colspan=4 height=50px>&nbsp;</tr>
	<tr><td colspan=4 style="font-size:14px;font-weight:bold;font-family:arial;"><%=t('stationery.additions').upcase%></td></tr>
	<tr>
		<td style="font-size:14px;font-weight:bold;font-family:arial;border-bottom:solid 1px;border-top:solid 1px;"><%=t('supplier.lpono')%></td>
		<td style="font-size:14px;font-weight:bold;font-family:arial;border-bottom:solid 1px;border-top:solid 1px;"><%=t('supplier.supplier_id')%></td>
		<td style="font-size:14px;font-weight:bold;font-family:arial;border-bottom:solid 1px;border-top:solid 1px;"><%=t('supplier.quantity')%></td>
		<td style="font-size:14px;font-weight:bold;font-family:arial;border-bottom:solid 1px;border-top:solid 1px;"><%=t('supplier.unitcost')%></td>
		<td style="font-size:14px;font-weight:bold;font-family:arial;border-bottom:solid 1px;border-top:solid 1px;"><%=t('supplier.total')%></td>
		<td style="font-size:14px;font-weight:bold;font-family:arial;border-bottom:solid 1px;border-top:solid 1px;"><%=t('supplier.received')%></td>
	</tr>
<% for stationery_add in @stationery.stationery_adds%>
  	<tr>
		<td><%= stationery_add.lpono %></td>
		<td><%= stationery_add.document %></td>
		<td><%= stationery_add.quantity %></td>
		<td><%= ringgols(stationery_add.unitcost) %></td>
		<td><%= ringgols(stationery_add.line_item_value) %></td>
		<td><%= stationery_add.received? ? l(stationery_add.received, :format => "%d %b %Y") : "-" %></td>
	</tr>
<% end %>
	<tr><td colspan=4 height=100px></tr>
	<tr><td colspan=4 style="font-size:14px;font-weight:bold;font-family:arial;"><%=t('stationery.deductions')%></td></tr>
	<tr>
		<td style="font-size:14px;font-weight:bold;font-family:arial;border-bottom:solid 1px;border-top:solid 1px;"><%=t('supplier.issuedby')%></td>
		<td style="font-size:14px;font-weight:bold;font-family:arial;border-bottom:solid 1px;border-top:solid 1px;"><%=t('supplier.receivedby')%></td>
		<td style="font-size:14px;font-weight:bold;font-family:arial;border-bottom:solid 1px;border-top:solid 1px;"><%=t('supplier.quantity')%></td>
		<td style="font-size:14px;font-weight:bold;font-family:arial;border-bottom:solid 1px;border-top:solid 1px;"><%=t('supplier.issuedate')%></td>
	</tr>

	<% for stationery_use in @stationery.stationery_uses %>
		<tr>
			<td><%= stationery_use.issuer.try(:name) %></td>
			<td><%= stationery_use.receiver.try(:name) %></td>
			<td><%= stationery_use.quantity %></td>
			<td><%= stationery_use.issuedate? ? l(stationery_use.issuedate, :format => "%d %b %Y") : "-" %></td>
		</tr>
	<% end %>

</table>
<BR>
</div>

</div>



