<h3><%= t 'role.edit' %></h3>

<% form_for(@role) do |f| %>
  <%= f.error_messages %>
  <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>



<%= link_to (t 'show'), @role %> |
<%= link_to (t 'back'), roles_path %>