<div class="box">
	<div class="box-head">
		<h2 class="left"><%= t 'role.list' %></h2>
	</div>
</div>
<div class="tlist">
	<table width=90% border="0" cellpadding="0" cellspacing="0">
        <tr>
        <th><%= t 'name' %></th>
    	<th><%= (t 'role.authname').titleize %></th>
	<th colspan=1 class="ac"><%= t 'control' %></th>
  	</tr>

		<% @roles.each do |role| %>
  	<tr>
        <td><%=h role.name %> </td> 
    	<td><font color="grey"><%=h t('login.'+role.authname) %></font></td>
    	<td width=10px ><%= link_to (t 'icms.show'), role %></td>
    	<!--<td width=10px ><%= link_to 'Edit', edit_role_path(role) %></td>
    	<td width=10px ><%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %></td>-->
  	</tr>
		<% end %>
	</table>
</div>

<br />
<!-- NOTE 20Feb2016 - to remove this function - upon completion of updates of User / Login roles @ production server -->
<%#= link_to (t 'role.new_role'), new_role_path %>