<div class="tform">
  <H2><%= t 'role.role_details' %></H2>
  <table width=100% >
<!--Personal Info-->
	<tr>
		<td class="leftcol"><label for="name"><%= t 'login.role_name' %>:</label></td>
		<td><%=h @role.name %> <font color="grey"> (<%=t('role.authname')%> <%=h t('login.'+@role.authname) %>)</font></td>
	</tr>
</table>  
<BR>
</div>

<%= link_to (t 'edit'), edit_role_path(@role) %> |
<%= link_to (t 'back'), roles_path %>