<div class="tform">
  <table width=100% >
	
	
<!--Personal Info-->
	<tr>
		<th colspan = 2><%= t 'role.role_details' %></th>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name"><%= t 'login.role_name' %>:</label></td>
		<td><%=h @role.name %></td>
	</tr>
</table>  
<BR>
</div>

<%= link_to (t 'edit'), edit_role_path(@role) %> |
<%= link_to (t 'back'), roles_path %>