<div class="tform">
	<H2><%= t 'assettrack.reservation_details' %></H2>
  <table width=100% border=0>
	<tr>
	<td class="leftcol" colspan=2><label for="asset_id"><%= t 'assettrack.assetname' %></label></td>
	<td><b>:</b></td>
      <td><%= f.collection_select :asset_id, Asset.find(:all, :conditions => {:bookable => true}), :id, :asset_detail, :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol" colspan=2><label for="staff_id"><%= t 'assettrack.borrower' %></label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :staff_id, Staff.find(:all), :id, :staff_name_with_position, :include_blank => true %></td>
	</tr>

	<tr>
		<td class="leftcol" colspan=2><label for="reservationdate"><%= t 'assettrack.reservationdate' %></label></td>
		<td><b>:</b></td>
		<td><%= f.date_select :reservationdate, :start_year => 2011, :end_year => 2015, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol" colspan=2><label for="use_startdate"><%= t 'assettrack.use_startdate' %></label></td>
		<td><b>:</b></td>
		<td><%= f.date_select :use_startdate, :start_year => 2011, :end_year => 2015, :order => [:day, :month, :year], :include_blank => true %>
		  <%= t 'assettrack.use_enddate' %> <%= f.date_select :use_enddate, :start_year => 2011, :end_year => 2015, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>

  <tr>
		<td class="leftcol" colspan=2><label for="issuedby"><%= t 'assettrack.issuedby' %></label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :issuedby, Staff.find(:all), :id, :staff_name_with_position, :include_blank => true %></td>
		<!-- should actually get asset.owners name -->
	</tr>
	
	<tr>
		<td class="leftcol" colspan=2><label for="issuedate"><%= t 'assettrack.issuedate' %></label></td>
		<td><b>:</b></td>
		<td><%= f.date_select :issuedate, :start_year => 2011, :end_year => 2015, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol" colspan=2><label for="expectedreturndate"><%= t 'assettrack.expectedreturndate' %></label></td>
		<td><b>:</b></td>
		<td><%= f.date_select :expectedreturndate, :start_year => 2011, :end_year => 2015, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>

  <tr>
		<td class="leftcol" colspan=2><label for="returnedto"><%= t 'assettrack.returnedto' %></label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :returnedto, Staff.find(:all), :id, :staff_name_with_position, :include_blank => true %></td>
		<!-- should actually get asset.owners name -->
	</tr>
	
	<tr>
		<td class="leftcol" colspan=2><label for="actualreturndate"><%= t 'assettrack.actualreturndate' %></label></td>
		<td><b>:</b></td>
		<td><%= f.date_select :actualreturndate, :start_year => 2011, :end_year => 2015, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol" colspan=2><label for="remarks"><%= t 'assettrack.remarks' %></label></td>
		<td><b>:</b></td>
		<td><%= f.text_area :remarks, :size => "30x5" %></td>
	</tr>
	</table>
</div>