<div class="tform">
  <table width=100% >
	<tr>
		<th colspan=2><%= t 'assettrack.assettrack_details' %></th>
	</tr>
	<tr>
	<td class="leftcol"><label for="asset_id"><b><%= t 'assettrack.asset_id' %></b></label></td>
      <td><%= f.collection_select :asset_id, Asset.find(:all, :conditions => {:bookable => true}), :id, :name, :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="staff_id"><b><%= t 'assettrack.staff_id' %></b></label></td>
		<td><%= f.collection_select :staff_id, Staff.find(:all), :id, :position_with_name, :include_blank => true %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="reservationdate"><b><%= t 'assettrack.reservationdate' %></b></label></td>
		<td><%= f.date_select :reservationdate, :start_year => 2011, :end_year => 2015, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="use_startdate"><b><%= t 'assettrack.use_startdate' %></b></label></td>
		<td><%= f.date_select :use_startdate, :start_year => 2011, :end_year => 2015, :order => [:day, :month, :year], :include_blank => true %>
		  <%= t 'assettrack.to' %><%= f.date_select :use_enddate, :start_year => 2011, :end_year => 2015, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>

  <tr>
		<td class="leftcol"><label for="issuedby"><b><%= t 'assettrack.issuedby' %></b></label></td>
		<td><%= f.collection_select :issuedby, Staff.find(:all), :id, :position_with_name, :include_blank => true %></td>
		<!-- should actually get asset.owners name -->
	</tr>
	
	<tr>
		<td class="leftcol"><label for="issuedate"><b><%= t 'assettrack.issuedate' %></b></label></td>
		<td><%= f.date_select :issuedate, :start_year => 2011, :end_year => 2015, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="expectedreturndate"><b><%= t 'assettrack.expectedreturndate' %></b></label></td>
		<td><%= f.date_select :expectedreturndate, :start_year => 2011, :end_year => 2015, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>

  <tr>
		<td class="leftcol"><label for="returnedto"><b><%= t 'assettrack.returnedto' %></b></label></td>
		<td><%= f.collection_select :returnedto, Staff.find(:all), :id, :position_with_name, :include_blank => true %></td>
		<!-- should actually get asset.owners name -->
	</tr>
	
	<tr>
		<td class="leftcol"><label for="actualreturndate"><b><%= t 'assettrack.actualreturndate' %></b></label></td>
		<td><%= f.date_select :actualreturndate, :start_year => 2011, :end_year => 2015, :order => [:day, :month, :year], :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="remarks"><b><%= t 'assettrack.remarks' %></b></label></td>
		<td><%= f.text_area :remarks, :size => "30x5" %></td>
	</tr>
	</table>
</div>