<h3>Editing Asset Track</h3>

<% form_for(@assettrack) do |f| %>
  <%= f.error_messages %>

   <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @assettrack %> |
<%= link_to 'Back', assettracks_path %>