<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left"><%= t 'assettrack.list' %></h2>
	</div>
	</div>
	<div class="tlist">
	    <table width=90% border="0" cellpadding="0" cellspacing="0">
		  <tr>
    <th><%= t 'assettrack.assetname' %></th>
    <th><%= t 'assettrack.borrower' %></th>
    <th><%= t 'assettrack.reservationdate' %></th>
    <th><%= t 'assettrack.periodtime' %></th>
    <!--<th><#%= t 'assettrack.use_enddate' %></th>-->
    <th><%= t 'assettrack.remarks' %></th>
   <th colspan=4 class="ac"><%= t 'control' %></th>
  </tr>

 <% @assettrack_assets.each do |assetrack_details, assettracks| %>
 <tr>
      <td colspan=12><BR> <b><%=h assetrack_details %><b></td>
   	</tr>
	<% for assettrack in assettracks %>
  <tr>
    <td><%=h assettrack.assetrack_details %></td>
    <td><%=h assettrack.staff_id? ? assettrack.borrower_details : ""  %></td>
    <td><%=h l(assettrack.reservationdate) %></td><!--13/12/2011- Shaliza changed format date -->
    <td><%=h l(assettrack.use_startdate) %> <--> <%=h l(assettrack.use_enddate) %></td><!--13/12/2011- Shaliza changed format date -->
   <!-- <td><#%=h l(assettrack.use_enddate) %></td>13/12/2011- Shaliza changed format date -->
    <td><%=h assettrack.remarks %></td>
	<td width=10px><%= link_to image_tag("printer.png", :border => 0, :title => 'KEW-PA.6'), :action => 'register', :id => assettrack %></td>
	<td width=10px><% if assettrack.assettype_details == 1  %>
	<%= link_to image_tag("printer.png", :border => 0, :title => 'BORANG PERMOHONAN KENDERAAN'), :action => 'vehicle_booking', :id => assettrack %>
	<% end %></td>
    <td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => assettrack %></td>
   <!-- <td width=10px><#%= link_to image_tag("printer.png", :border => 0, :title => 'KEW.PA-6'), :action => 'register', :id => assettrack %></td>-->
    <td width=10px ><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => assettrack %></td>
     <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), assettrack, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>
</div>
<br />

<%= link_to (t 'assettrack.create'), new_assettrack_path %>