<%= stylesheet_link_tag 'report' %> 
<div id="A4landscape">
	
<form action="#">
	<script>
	document.write("<input type='button' " +
	"onClick='window.print()' " +
	"class='printbutton' " +
	"value='Print This Page'/>");
	</script>
<BR>
	<fieldset width=10px >

<div id="title" width=21cm>	
<H2>KEW PA-6</H2> 

<BR>
<H3 align="center"><font size="3">DAFTAR PERGERAKAN HARTA MODAL DAN INVENTORI</font></H3>

<BR>
<div id="tprintreport">	
	<table width=90% border=1px cellspacing =0 cellpadding=0px>
		
		<tr>
		<td colspan=2 width=40px><b>Jenis :</b></td>
	   <td colspan=3 width=150px><%=h @assettrack.assetracktype_details %>&nbsp;</td>
		<td width=400px rowspan=4 colspan=4 style="vertical-align:middle" align="center"><b>Pegawai Pengeluar</b></td>
		<td rowspan=7 style="vertical-align:middle" align="center" width=100px><b>Catatan</b></td>
		
		
		</tr>
	
		<tr>
			<td colspan=2><b>Jenama dan Model :<b></td>
			<td colspan=3 width=250px><%=h @assettrack.modelname_details %>&nbsp;</td>
			
		</tr>
		<tr>
			<td colspan=2><b>No. Siri Pembuat :</b></td>
			<td colspan=3><%=h @assettrack.serialno_details %>&nbsp;</td>
			
			
		</tr>
		<tr>
			<td colspan=2><b>No. Siri Pendaftaran :</b></td>
			<td colspan=3><%=h @assettrack.assetcode_details %>&nbsp;</td>
			
		</tr>
		<tr>
			<td width=30px align="center" rowspan=3><b>Bil<b></td>
			<td rowspan=3 align="center" width=150px><b>Nama Peminjam</b></td>
			<td colspan=2 rowspan=2 align="center"><b>Tarikh</b></td>
			<td rowspan=3 align="center"><b>Tandatangan Peminjam</b></td>
			<td rowspan=2 colspan=2 align="center"><b>Ketika Dikeluarkan</b></td>
			<td rowspan=2 colspan=2 align="center"><b>Ketika Dipulangkan</b></td>
		
		</tr>
		<tr></tr>
		<tr>
			<td align="center"><b>Dikeluarkan<b></td>
			<td align="center"><b>Jangka Dipulangkan<b></td>
			<td align="center"><b>Tandatangan<b></td>
			<td align="center"><b>Tarikh<b></td>
			<td align="center"><b>Tandatangan<b></td>
			<td align="center"><b>Tarikh<b></td>	
		</tr>
		
		 <% bil = 0 %>
		
		 <% bil += 1 %>
		<tr>
			<td align="center"><%=h bil %></td>
			<td><%=h @assettrack.borrower_details%>&nbsp;</td><!--13/12/2011- Shaliza added code for staff no longer exists -->
			<td align="center"><%=h @assettrack.use_startdate.strftime("%d %b %Y") %>&nbsp;</td>
			<td align="center"><%=h @assettrack.use_enddate.strftime("%d %b %Y") %>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td align="center"><%=h @assettrack.issuedate.strftime("%d %b %Y") unless @assettrack.issuedate.blank? %>&nbsp;</td>
			<td>&nbsp;</td>
			<td align="center"><%=h @assettrack.actualreturndate.strftime("%d %b %Y") unless @assettrack.actualreturndate.nil? %>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	
	</table>
	</div>
	<BR>
</fieldset>
</div>	

