<div class="tform">
	<H2><%= t 'assettrack.reservation_details' %></H2>
  <table width=100%  border=0>
	
<!--Staff Details-->	

	<tr>
		<td width=15%><label for="asset_id"><font size=2><%= t 'assettrack.assetname' %></font></label></td>
		<td><b>:</b></td>
		<td><%=h @assettrack.assetinassettrack.assetcode %> / <%=h @assettrack.assetinassettrack.subcategory %> / <%=h @assettrack.assetinassettrack.name %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id"><%= t 'assettrack.borrower' %></label></td>
		<td><b>:</b></td>
		<td><%=h @assettrack.staff_id? ? @assettrack.borrower_details : ""  %></td>
	</tr>
	<tr>
		<td class="leftcol" ><label for="reservationdate"><%= t 'assettrack.reservationdate' %></label></td>
		<td><b>:</b></td>
		<td><%=h @assettrack.reservationdate.strftime("%d %B %Y") unless @assettrack.reservationdate.blank?  %></td>	
	</tr>
	<tr>
		<td class="leftcol" ><label for="use_startdate"><%= t 'assettrack.periodtime' %></label></td>
		<td><b>:</b></td>
		<td><%=h @assettrack.use_startdate.strftime("%d %B %Y") %> <==> 
			  <%=h @assettrack.use_enddate.strftime("%d %B %Y") %> (<%= t 'assettrack.duration' %> : <%= @assettrack.duration %> Days)</td>	
	</tr>
	<tr>
		<td class="leftcol" ><label for="bookable"><%= t 'assettrack.issuedby' %></label></td>
		<td><b>:</b></td>
	    <td><%=h @assettrack.isby.blank? ? "" : @assettrack.isby.staff_name_with_position %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="issuedate"><%= t 'assettrack.issuedate' %></label></td>
		<td><b>:</b></td>
		<td><%=h @assettrack.issuedate.strftime("%d %B %Y") unless @assettrack.issuedate.blank? %></td>	
	</tr>
	<tr>
		<td class="leftcol" ><label for="expectedreturndate"><%= t 'assettrack.expectedreturndate' %></label></td>
		<td><b>:</b></td>
		<td><%=h @assettrack.expectedreturndate.strftime("%d %B %Y") unless @assettrack.expectedreturndate.blank? %></td>	
	</tr>
</table>
<H2><%= t 'assettrack.returned' %></H2>
<table width=100%>

	<tr>
		<td width=15%><label for="returnedto"><font size=2><%= t 'assettrack.returnedto' %></font></label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @assettrack.assettrackreturn.blank? ? "Not Returned" : @assettrack.assettrackreturn.staff_name_with_position %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="actualreturndate"><%= t 'assettrack.actualreturndate' %></label></td>
		<td><b>:</b></td>
		<td><%=h @assettrack.actualreturndate.strftime("%d %B %Y") unless @assettrack.actualreturndate.nil? %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="remarks"><%= t 'assettrack.remarks' %></label></td>
		<td><b>:</b></td>
		<td><%=h @assettrack.remarks %></td>	
	</tr>

</table>
<BR>



<%= link_to 'Edit', edit_assettrack_path(@assettrack) %> |
<%= link_to 'Back', assettracks_path %>