<div class="tform">
  <table width=100% >
	
<!--Staff Details-->	

  <tr>
	  <th colspan = 2>Asset Reservation Details</th>
  </tr>

	<tr>
		<td class="leftcol"><label for="staff_id">Asset Code Name:</label></td>
		<td><%=h @assettrack.assetinassettrack.assetcode %> - <%=h @assettrack.assetinassettrack.name %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Reserved By :</label></td>
		<td><%=h @assettrack.staff_id? ? @assettrack.borrower_details : ""  %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Reserved By :</label></td>
		<td><%=h @assettrack.reservationdate.strftime("%d %B %Y") %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">To Be Used From :</label></td>
		<td><%=h @assettrack.use_startdate.strftime("%d %B %Y") %> <==> 
			  <%=h @assettrack.use_enddate.strftime("%d %B %Y") %> (Duration : <%= @assettrack.duration %> Days)</td>	
	</tr>
	<td class="leftcol"><label for="bookable">Issued By</label></td>
	    <td><%=h @assettrack.isby.blank? ? "" : @assettrack.isby.staff_name_with_position %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Reserved By :</label></td>
		<td><%=h @assettrack.issuedate.strftime("%d %B %Y") %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Expected Return Date :</label></td>
		<td><%=h @assettrack.expectedreturndate.strftime("%d %B %Y") %></td>	
	</tr>
	<tr>
	  <th colspan = 2>Returned</th>
  </tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Returned To :</label></td>
		<td><%=h @assettrack.assettrackreturn.blank? ? "Not Returned" : @assettrack.assettrackreturn.staff_name_with_position %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Actual Return Date :</label></td>
		<td><%=h @assettrack.actualreturndate.strftime("%d %B %Y") unless @assettrack.actualreturndate.nil? %></td>	
	</tr>
	<tr>
		<td class="leftcol"><label for="staff_id">Remarks :</label></td>
		<td><%=h @assettrack.remarks %></td>	
	</tr>

</table>
<BR>
</div>


<%= link_to 'Edit', edit_assettrack_path(@assettrack) %> |
<%= link_to 'Back', assettracks_path %>