<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="100" height="100"/></th>
		<th><H4>PPL APMM<BR><BR>NO.DOKUMEN: BK-LAT-TBL-05-01<BR>PINJAMAN/PENGGUNAAN KENDERAAN</H4> </th>
			<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="100" height="100"/></th>
	</tr>
</table>

<div id="title">
	<table width=100% cellspacing="0" cellpadding="5" border="1">
		<tr>
			<th colspan=4 align="left"> DISEDIAKAN OLEH: STAF BPL</th>
			<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
		</tr>

</table>
<br>
<div id="title">
<table width=100% cellspacing="0"  border="1">
	<tr>
		<th align="center" colspan=5 bgcolor = "#FEFE56">PEMOHON</th>	
	</tr>
</table>
</div>

<div id="title">
<table width=100% cellspacing="0" cellpadding="5" border="0">

	<tr><td colspan=4 >Nama : <%=h @assettrack.staffinassettrack.staff_name_with_title %></td>
		<td colspan=2>No KP : <%=h @assettrack.staffinassettrack.formatted_mykad %></td>
		
	</tr>
	<tr><td colspan=3>Jawatan :</td>
		<td>Tarikh Digunakan : <%=h @assettrack.use_startdate.strftime("%d/%m/%Y") %></td>
		<td>Tarikh Dipulangkan : <%=h @assettrack.use_enddate.strftime("%d/%m/%Y") %></td>
	</tr>
	
	<tr>
		<td colspan=4>Tujuan/Lokasi :</td>
			<td>&nbsp;</td>		
	</tr>
	
	<tr>
		<td colspan=2>Senarai Penumpang : <BR><b>(Jika ramai sertakan Lampiran)</b></td>
		<td colspan=3><ol>
		<li>&nbsp;</li>
		<li>&nbsp;</li>
		
		</ol></td>
					
	</tr>
	<tr>
		<td colspan=5>Dengan ini saya mengakui dan mematuhi syarat-syarat berikut:
			<ol>
			<li>Merekod Penggunaan Kenderaan di dalam Buku Log Kenderaan.</li>
			<li>Merekod Penggunaan Kad Minyak di dalam Buku Log Smart Pay</li>
			<li>Merekod Penggunaan Kad <b>Tounch N Go</b> di dalam Buku Log Kad <b>Touch N Go</b></li>
			<li>Merekod Pergerakan Kenderaan di dalam KEW PA 6</li>
			<li>Kepilkan resit di dalam Buku Log Kenderaan dan catatkan di ruangan pembelian bahanapi.</li>
			<li>Sentiasa memeatuhi undang-undang jalan raya.</li>
			<li>Pastikan kenderaan dalam keadaan bersih sepanjang penggunaannya dan semasa dipulangkan.</li>
			<li>Melaporkan kerosakan/kehilangan kenderaan kepada Penyelia Kenderaan/ Ketua Tadbir Bantuan dan Operasi Latihan dengan segera.</li>
			</ol></td>			
	</tr>
	<tr><td colspan=4>Tarikh : <%=h @assettrack.reservationdate.strftime("%d %B %Y") %></td>
		<td colspan=2>Tandatangan :</td>
	</tr>
</table>
</div>
<div id="title">
<table width=100% cellspacing="0" border="">
	<tr>
		<th align="center" colspan=5 bgcolor = "#FEFE56">PENYELIA KENDERAAN</th>	
	</tr>
</table>
</div>
<div id="title">
<table width=100% cellspacing="0" cellpadding="5" border="0">
	<tr>
		<td colspan=5>Permohonan anda <b>disokong / tidak disokong</b></td>
	</tr>
	<tr><td colspan=5>Catatan :</td>
	</tr>
	<tr><td>Tarikh :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td >Tandatangan :</td>
	</tr>

</table>	
</div>
<div id="title">
<table width=100% cellspacing="0" border="1">
	<tr>
		<th align="center" colspan=5 bgcolor = "#FEFE56">KETUA TADBIR BANTUAN DAN OPERASI LATIHAN</th>	
	</tr>
</table>
</div>
<div id="title">
<table width=100% cellspacing="0" cellpadding="5" border="0">
	<tr><td colspan=5>Catatan :</td>
	</tr>
	<tr>
		<td align="left" colspan=5>Permohonan anda <b>disokong / tidak disokong </b> menggunakan kenderaan berikut:</td>
	
	</tr>
</table>	
</div>
<div id="title">
<table width=100% cellspacing="0" border="1">
	<tr>
		<th width="30">Bil</th>
		<th colspan=11>Jenis Kenderaan</th>
		
	</tr>
	<tr>
		<td align="center">1.</td>
		<td width="80">Bas Hino BHM 1217</td>
		<td width="30">&nbsp;</td>
		<td width="30" align="center">5.</td>
		<td width="80">Bas Coaster WPT 6044</td>
		<td width="30">&nbsp;</td>
		<td width="30" align="center">9.</td>
		<td width="80">Kia Pregio <BR> WML 8943</td>
		<td width="30">&nbsp;</td>
		<td width="30" align="center">13.</td>
		<td width="80">Proton Waja <BR> WVY 8649</td>
		<td width="30">&nbsp;</td>
	</tr>
	<tr>
		<td align="center">2.</td>
		<td>Bas Hino<BR> BHM 1580</td>
		<td>&nbsp;</td>
		<td align="center">6.</td>
		<td>Lori Hicom<BR> BHN 513</td>
		<td>&nbsp;</td>
		<td align="center">10.</td>
		<td>Toyota Hiace<BR> WQU 6091</td>
		<td>&nbsp;</td>
		<td align="center">14.</td>
		<td>Proton Wira<BR>WPM 6385</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td align="center">3.</td>
		<td>Bas Hino<BR> WNQ 5783</td>
		<td>&nbsp;</td>
		<td align="center">7.</td>
		<td>Lori Hino<BR> WQU 6324</td>
		<td>&nbsp;</td>
		<td align="center">11.</td>
		<td>Toyota Innova<BR> WRA 7965</td>
		<td>&nbsp;</td>
		<td align="center">15.</td>
		<td>Motosikal <BR> BJN 629</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td align="center">4.</td>
		<td>Bas Coaster<BR> WPT 6053</td>
		<td>&nbsp;</td>
		<td align="center">8.</td>
		<td>Fortuner<BR> WPS 6856</td>
		<td>&nbsp;</td>
		<td align="center">12.</td>
		<td>Proton Waja<BR> WVX 1943</td>
		<td>&nbsp;</td>
		<td align="center">16.</td>
		<td>Motosikal<BR> BJN 630</td>
		<td>&nbsp;</td>
	</tr>	
</table>	
</div>
<div id="title">
<table width=100% cellspacing="0" cellpadding="7" border="0">
	<tr><td>Tarikh :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td >Tandatangan :</td>
	</tr>
</table>	
</div>
</fieldset>
<p align="center"><i>Dokumen ini adalah cetakan komputer dan tidak memerlukan tandatangan.</i></p>


<div id="hideLink">
<%= link_to 'BACK', assettracks_path %>
</div>
</div>
