<%= stylesheet_link_tag 'report', :media => "print" %>

	<form action="#">
			<script>
			document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");
			</script>
	</form>
	
	<%= link_to "Back", :controller=>'booksearches', :action => 'new', :searchbooktype => 3 %><br><br>
	
<div class="A4potrait" style="border: none;">
<BR/>
<table class="tlong">
	<thead>
				<%@books = @booksearch.sbooks %>
				<tr>
					<th class="tright" colspan=6><b></b></th>
				</tr>
				<tr>
					<th  colspan=6><b>BOOK LISTING</b></th>
				</tr>
				<tr>
					<th colspan=6 style="text-align:left;">
						Total Books : <%#= @bob %><%=@books.count%> &nbsp;&nbsp;&nbsp;
						<% if @booksearch.classno != '' %>
							<%="Search by Class No (LC) / (NLM) : " + @booksearch.classno %> &nbsp;&nbsp;&nbsp;
						<% end %>
						<% if @booksearch.accessionno_start != '' %> 
							Search by Accession No ( 
							<%= @booksearch.accessionno_start %> 
							<% if @booksearch.accessionno_end %>-
								<%= @booksearch.accessionno_end %>)
							<% end %>
						<% end %>
					</th>
				</tr>
				<tr>
					<th class="tcol"><b>NO</b></th>
					<th class="tcol"><b>ACC NO</b></th>
					<th class="tcol"><b>NLM/LC NO</b></th>
					<th class="tcol"><b>AUTHOR</b></th>
					<th class="tcol"><b>TITLE</b></th>
					<th class="tcol"><b>ISBN NO</b></th>
				</tr>
	</thead>
	
	<tbody>
			<% bil = 0 %>
			<% @books.each do |book|%>
			<% bil += 1 %>
				<% if book.accessions.count != 0 %>
				<!--for already amended data (books+accessions)-start-->
				<% book.accessions.each do |accession|%>
				<tr>
					
					<td class="tdata" style="text-align:center;" ><%=h bil %></th>
					<td class="tdata" style="white-space: nowrap; padding-right:3mm;" >
						<%=h book.isbn.split("-").to_s if book.isbn!= nil %>
					</th>
					
					<td class="tdata"><%=h book.classlcc if book.classlcc!=''%><%=h book.classddc if book.classddc!=''%></th>
					<td class="tdata"><%=h book.author %></th>
					<td class="tdata"><%=h book.title %></th>
					<td class="tdata">
						<!--1Apr2013-TEMPORARY solution until all data transformed into books+accessions tables-->
							<!--DO NOT REMOVE until data transformation completed-->
							<%#=h book.accessions.count %>
							<!--DO NOT REMOVE until data transformation completed-->
						<%= accession.accession_no %>
						<!--1Apr2013-TEMPORARY solution until all data transformed into books+accessions tables-->
					</th>
				</tr>
				<% end %>
				<!--for already amended data (books+accessions)-end-->
				<% else %>
				<tr>
					<td class="tdata" style="text-align:center;" ><%=h bil %></th>					
					<td class="tdata" style="white-space: nowrap; padding-right:3mm;" >
						<%=h book.isbn.split("-").to_s if book.isbn!= nil %>
					</th>
					
					<td class="tdata"><%=h book.classlcc if book.classlcc!=''%><%=h book.classddc if book.classddc!=''%> </th>
					<td class="tdata"><%=h book.title %></th>
					<td class="tdata"><%=h book.author %></th>
					<td class="tdata">
						<!--1Apr2013-TEMPORARY solution until all data transformed into books+accessions tables-->
							<!--DO NOT REMOVE until data transformation completed-->
							<%#=h book.accessions.count %>
							<!--DO NOT REMOVE until data transformation completed-->
						<%= book.accessionno %>
						<!--1Apr2013-TEMPORARY solution until all data transformed into books+accessions tables-->
					</th>
				</tr>
				<% end %>
			<% end %>
	</tbody>
</table>
<div>	
	

<div id="hideLink">
<%= link_to 'Back', books_path %>
</div>