<div style="padding-top:20px;padding-left:20px;padding-bottom:20px;">
	
	
	<% if @booksearch.stock_summary == 0 %>	
	<span style="font-family: Arial, Helvetica, sans-serif;font-size:12px;">
		<H3><%=t('equery.book.search').upcase %> :</h3>
		
		<%= link_to (t 'back'), :controller=>'booksearches', :action => 'new', :searchbooktype => 1 %><br><br>
			
		<% @search_items = "Search By " %>
		<!--additional heading-->
		<% if @booksearch.title && @booksearch.title.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.search_by')%> <%=t('book.title')%> : <b><%=@booksearch.title.capitalize %></b><br><br>
				<% @search_items=@search_items+"Title : '"+@booksearch.title+"' "%>
			</span>
		<% end %>
		<% if @booksearch.author && @booksearch.author.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.search_by')%> <%=t('book.author')%>: <b><%=@booksearch.author.capitalize %></b><br><br>
				<% @search_items=@search_items+"Author : '"+@booksearch.author+"' "%>
			</span>
		<% end %>
		<% if @booksearch.isbn && @booksearch.isbn.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.search_by')%> ISBN: <b><%=@booksearch.isbn %></b><br><br>
				<% @search_items=@search_items+"ISBN : '"+@booksearch.isbn+"' "%>
			</span>
		<% end %>
		<% if @booksearch.accessionno && @booksearch.accessionno.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.search_by')%> <%=t('book.accessionno')%>: <b><%=@booksearch.accessionno.upcase %></b><br><br>
				<% @search_items=@search_items+"Accession No : '"+@booksearch.accessionno+"'" %>
			</span>
		<% end %>
		<% if @booksearch.publisher && @booksearch.publisher.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.search_by')%> <%=t('book.publisher')%>: <b><%=@booksearch.publisher %></b><br><br>
				<% @search_items=@search_items+"Publisher : '"+@booksearch.publisher+"'" %>
			</span>
		<% end %>
		<!--additional heading-->
		
		<!--links for stock verification-->
		<% permitted_to? :read, :booksearches do %>
			<% if @booksearch.sbooks.count > 0 %>
				<% if (@booksearch.accessionno.blank? && @booksearch.isbn.blank? && @booksearch.author.blank? && @booksearch.title.blank? && @booksearch.classno.blank? && @booksearch.publisher.blank?) %>
					<!--no search filter selected at all-->
					<%= link_to (t 'equery.book.listing_stock_verification_all') , :controller=>'books', :action => 'stock_verification', :locals => {:class_type => '1',:dodo =>"All"} %><br><br>
				<% else %>
					<!--any of above search type selected-->
					<% @book_ids = @booksearch.sbooks.map(&:id)%>
					<%= link_to (t 'equery.book.listing_stock_verification'), :controller=>'books', :action => 'stock_verification', :locals => {:class_type => '1',:dodo => @book_ids} %><br><br>
				<% end %>
			<% end %>
		<% end %>
		<!--links for stock verification-->
		<%=t('equery.book.total')%> = <%=@booksearch.sbooks.count%> <br><br>
		
		<% if @booksearch.sbooks.count > 0%>
			<table border=1 cellpadding=1 cellspacing=0 style="font-family: Arial, Helvetica, sans-serif;font-size:12px;" width=100%>
				<tr>
					<th width="5%">No</th>	
					<th width="20%"><%=t('book.title')%></th>
					<th width="8%"><%=t('book.author')%></th>
					<th width="5%"><%=t('book.quantity')%></th>
					<th width="7%"><%=t('book.accessionno')%></th>
					<th width="8%">ISBN</th>
					<th width="5%"><%=t('book.classno')%></th>
					<th width="7%"><%=t('book.publisher')%></th>
					<th width="5%"><%=t('book.publish_date')%></th>
					<th width="5%"><%=t('book.language')%></th>
					<th width="5%"><%=t('book.pages')%></th>
					<th width="5%">Status</th>
					<th width="5%"><%=t('book.mediatype')%></th>
					<th width="5%"><%=t('book.loan_type')%></th>
					<th width="5%"><%=t('equery.book.media_location')%></th>
				</tr>
				<% count = 0 %>
				<% @booksearch.sbooks.each_with_index do |sbook, index2| %>
					<% if sbook.accessions.count != 0 %>
						<% sbook.accessions.each_with_index do |accession_item,index| %>
							<tr>
								<td align="center"><%=count+=1%></td>
								<td><%=sbook.title%></td>
								<td><%=simple_format(sbook.author)%></td>
								<% if index==0 %>
									<td align="center" rowspan=<%=sbook.book_quantity%>><%=h sbook.book_quantity %></td>
								<% else %>
									<!--<td align="center" style="background-color:grey;"></td>-->
								<% end %>
								<td><%=accession_item.accession_no %></td>
								<td><%=h sbook.isbn %>&nbsp;</td>
								<td><%=h sbook.classlcc %></td>
								<td><%=h sbook.publisher %>&nbsp;</td>
								<td align="center"><%=h sbook.publish_date%>&nbsp;</td>
								<td><%=h (Book::LANGUAGE.find_all{|disp, value| value == sbook.language}).map {|disp, value| disp} %>&nbsp;</td>
								<td><%=h (sbook.pages).gsub("ms",t('equery.book.total_pages')) unless sbook.pages.blank? %></td>
								<td><%=h (Book::STATUS.find_all{|disp, value| value == sbook.status}).map {|disp, value| disp} %>&nbsp;</td>
								<td><%=h (Book::MEDIA.find_all{|disp, value| value == sbook.mediatype}).map {|disp, value| disp} %>&nbsp;</td>
								<td><%=h (Book::LOAN.find_all{|disp, value| value == sbook.loantype}).map {|disp, value| disp} %>&nbsp;</td>
								<td><%=h sbook.location %></td>
							</tr>
						<% end %>
					<% else %>
						<tr>
							<td><%=count+=1%></td>
							<td><%=sbook.title%></td>
							<td><%=sbook.author%></td>
							<td align="center">1</td>
							<td><%=h sbook.accessionno %></td>
							<td><%=h sbook.isbn %>&nbsp;</td>
							<td><%=h sbook.classlcc %></td>
							<td><%=h sbook.publisher %>&nbsp;</td>
							<td align="center"><%=h sbook.publish_date %>&nbsp;</td>
							<td><%=h (Book::LANGUAGE.find_all{|disp, value| value == sbook.language}).map {|disp, value| disp} %>&nbsp;</td>
							<td><%=h (sbook.pages).gsub("ms",t('equery.book.total_pages')) unless sbook.pages.blank? %></td>
							<td><%=h (Book::STATUS.find_all{|disp, value| value == sbook.status}).map {|disp, value| disp} %>&nbsp;</td>
							<td><%=h (Book::MEDIA.find_all{|disp, value| value == sbook.mediatype}).map {|disp, value| disp} %>&nbsp;</td>
							<td><%=h (Book::LOAN.find_all{|disp, value| value == sbook.loantype}).map {|disp, value| disp} %>&nbsp;</td>
							<td><%=h sbook.location %></td>
						</tr>
					<% end %>
				<% end %>
			</table>
		<% end %>
	</span>	
	<% elsif @booksearch.stock_summary == 1 %>
		<H3><%=t('equery.book.search').upcase %> :</h3>
		<%=render :partial => 'stock_listing', :locals => {:books => @booksearch.sbooks} %> 
	<% elsif @booksearch.stock_summary == 2 %>
		<H3><%=t('equery.book.search').upcase %> :</h3>
		<%=render :partial => 'stock_verification', :locals => {:books => @booksearch.sbooks} %>
	<% elsif @booksearch.stock_summary == 3 %>
		<!--removed-->
	<% end %>
	<br>
</div>
