<div style="padding-top:20px;padding-left:20px;padding-bottom:20px;">
	
	
	<% if @booksearch.stock_summary == 0 %>	
	<span style="font-family: Arial, Helvetica, sans-serif;font-size:12px;">
		<H3><%=t('equery.book.search').upcase %> :</h3>
		
		<%= link_to (t 'back'), :controller=>'booksearches', :action => 'new', :searchbooktype => 1 %><br><br>
			
		<% @search_items = "Search By " %>
		<!--additional heading-->
		<% if @booksearch.title && @booksearch.title.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.search_by')%> <%=t('book.title')%> : <b><%=@booksearch.title.capitalize %></b><br><br>
				<% @search_items=@search_items+"Title : '"+@booksearch.title+"' "%>
			</span>
		<% end %>
		<% if @booksearch.author && @booksearch.author.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.search_by')%> <%=t('book.author')%>: <b><%=@booksearch.author.capitalize %></b><br><br>
				<% @search_items=@search_items+"Author : '"+@booksearch.author+"' "%>
			</span>
		<% end %>
		<% if @booksearch.isbn && @booksearch.isbn.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.search_by')%> ISBN: <b><%=@booksearch.isbn %></b><br><br>
				<% @search_items=@search_items+"ISBN : '"+@booksearch.isbn+"' "%>
			</span>
		<% end %>
		<% if @booksearch.accessionno && @booksearch.accessionno.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.search_by')%> <%=t('book.accessionno')%>: <b><%=@booksearch.accessionno.upcase %></b><br><br>
				<% @search_items=@search_items+"Accession No : '"+@booksearch.accessionno+"'" %>
			</span>
		<% end %>
		<!--additional heading-->
		
		<!--links for stock verification-->
		<% if @booksearch.sbooks.count > 0 %>
			<% if (@booksearch.accessionno.blank? && @booksearch.isbn.blank? && @booksearch.author.blank? && @booksearch.title.blank?) %>
				<!--no search filter selected at all-->
				<%= link_to (t 'equery.book.listing_stock_verification_all') , :controller=>'books', :action => 'stock_verification', :locals => {:class_type => '1',:dodo =>"All"} %><br><br>
			<% else %>
				<!--any of above search type selected-->
				<% @book_ids = @booksearch.sbooks.map(&:id)%>
				<%= link_to (t 'equery.book.listing_stock_verification'), :controller=>'books', :action => 'stock_verification', :locals => {:class_type => '4',:dodo => @book_ids, :searchby_items => @search_items} %><br><br>
			<% end %>
		<% end %>
		<!--links for stock verification-->
		<%=t('equery.book.total')%> = <%=@booksearch.sbooks.count%> <br><br>
		
		<% if @booksearch.sbooks.count > 0%>
			<table border=1 cellpadding=3 cellspacing=0 style="font-family: Arial, Helvetica, sans-serif;font-size:12px;">
				<tr>
					<th>No</th>	
					<th><%=t('book.title')%></th>
					<th><%=t('book.author')%></th>
					<th><%=t('book.quantity')%></th>
					<th><%=t('book.accessionno')%></th>
					<th>ISBN</th>
					<th><%=t('book.classno')%></th>
					<th>Status</th>
					<th><%=t('book.publisher')%></th>
				</tr>
				<% count = 0 %>
				<% @booksearch.sbooks.each_with_index do |sbook, index2| %>
					<% if sbook.accessions.count != 0 %>
						<% sbook.accessions.each_with_index do |accession_item,index| %>
							<tr>
								<td><%=count+=1%></td>
								<td><%=sbook.title%></td>
								<td><%=sbook.author%></td>
								<% if index==0 %>
									<td align="center"><%=h sbook.book_quantity %></td>
								<% else %>
									<td align="center" style="background-color:grey;"></td>
								<% end %>
								<td><%=accession_item.accession_no %></td>
								<td><%=h sbook.isbn %>&nbsp;</td>
								<td><%=h sbook.classlcc %></td>
								<td><%=h (Book::STATUS.find_all{|disp, value| value == sbook.status}).map {|disp, value| disp} %>&nbsp;</td>
								<td><%=h sbook.publisher %>&nbsp;</td>
							</tr>
						<% end %>
					<% else %>
						<tr>
							<td><%=count+=1%></td>
							<td><%=sbook.title%></td>
							<td><%=sbook.author%></td>
							<td align="center">1</td>
							<td><%=h sbook.accessionno %></td>
							<td><%=h sbook.isbn %>&nbsp;</td>
							<td><%=h sbook.classlcc %></td>
							<td><%=h (Book::STATUS.find_all{|disp, value| value == sbook.status}).map {|disp, value| disp} %>&nbsp;</td>
							<td><%=h sbook.publisher %>&nbsp;</td>
						</tr>
					<% end %>
				<% end %>
			</table>
		<% end %>
	</span>	
	<% elsif @booksearch.stock_summary == 1 %>
		<H3><%=t('equery.book.search').upcase %> :</h3>
		<%=render :partial => 'stock_listing', :locals => {:books => @booksearch.sbooks} %> 
	<% elsif @booksearch.stock_summary == 2 %>
		<H3><%=t('equery.book.search').upcase %> :</h3>
		<%=render :partial => 'stock_verification', :locals => {:books => @booksearch.sbooks} %>
	<% elsif @booksearch.stock_summary == 3 %>
		<!--removed-->
	<% end %>
	<br>
</div>
