<h3><%=t('addressbook.edit')%></h3>

<% form_for(@address_book) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %>  

  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>
</div>

<%= link_to (t 'show'), @address_book %> |
<%= link_to (t 'back'), address_books_path %>