<% form_for(@address_book) do |f| %>
  <%= f.error_messages %>
	<H3><%=t('addressbook.new_contact')%></H3>
 	<%=render :partial => 'form', :locals => {:f => f} %> 
	  <p>
	    <%= f.submit (t 'create') %>
	  </p>
<% end %>

<%= link_to (t 'back'), address_books_path %>