<div class="tform">
        <H2><%=t('addressbook.details')%></H2>
		<table width=100%>
			<tr>
				<td class="leftcol"><label for="name"><b><%= t 'name' %>:</b></label></td>
				<td> <%=h @address_book.name %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="address"><b><%= t 'staff.address' %>:</b></label></td>
				<td><%=h @address_book.address %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="mail"><b><%= t 'student.semail' %>:</b></label></td>
				<td> <%=h @address_book.mail %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="web"><b><%= t 'addressbook.website' %>:</b></label></td>
				<td> <%=h @address_book.web %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="phone"><b><%= t 'staff.phone' %>:</b></label></td>
				<td> <%=h @address_book.phone %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="fax"><b><%= t 'addressbook.phonefax' %>:</b></label></td>
				<td> <%=h @address_book.fax %></td>
			</tr>
		</table>
</div>
<BR/>


<%= link_to (t 'edit'), edit_address_book_path(@address_book) %> |
<%= link_to (t 'back'), address_books_path %>