<div class="tform">
	<fieldset>
		<legend>Contact</legend>
			<table width=100%>
					<tr>
						<td class="leftcol"><label for="name"><b>Name:</b></label></td>
						<td> <%=h @address_book.name %></td>
					</tr>

					<tr>
						<td class="leftcol"><label for="address"><b>Address:</b></label></td>
						<td><%=h @address_book.address %></td>
					</tr>

					<tr>
						<td class="leftcol"><label for="mail"><b>Email:</b></label></td>
						<td> <%=h @address_book.mail %></td>
					</tr>

					<tr>
						<td class="leftcol"><label for="web"><b>Website:</b></label></td>
						<td> <%=h @address_book.web %></td>
					</tr>

					<tr>
						<td class="leftcol"><label for="phone"><b>Phone:</b></label></td>
						<td> <%=h @address_book.phone %></td>
					</tr>


					<tr>
						<td class="leftcol"><label for="fax"><b>Phone (Fax):</b></label></td>
						<td> <%=h @address_book.fax %></td>
					</tr>
			</table>
	</fieldset>
</div>
<BR/>


<%= link_to 'Edit', edit_address_book_path(@address_book) %> |
<%= link_to 'Back', address_books_path %>