<% if @my_approved_unclaimed_requests != nil %>

<H2><%= t 'travel.include_travel' %></H2>
<table width=90%>
	<tr>
		<th width=10px><%= t 'travel.include' %></th>
		<th><%= t('document.refno')%></th>
		<th><%= t 'travel.destination' %></th>
		<th><%= t 'travel.purpose' %></th>
		<th><%= t 'claim.travel_date' %></th>
	</tr>
	<% for travel_request in @my_approved_unclaimed_requests %>
		<tr>
			<td width=10px><%= check_box_tag "travel_claim[travel_request_ids][]", travel_request.id, @travel_claim.travel_requests.include?(travel_request) %>
			<td><%= check_kin {travel_request.document.refno} %></td>
			<td><%= travel_request.destination %></td>
			<td><%= check_kin {travel_request.document.title} %></td>
			<td class="tright"><%=l(travel_request.depart_at, :format=>"%d %b") %> - <%= l(travel_request.return_at, :format =>"%d %b %Y") %></td>
		</tr>
	<% end %>
<% else %>
	<!--3Jan2012-view travel logs accordingly-->
	<fieldset>
		<legend class='togvis'><%= t 'claim.travel_requestlogs' %></legend>
		<% for travel_request in @travel_claim.travel_requests %>
		<!--<fieldset>
		<legend class='togvis'><%#= travel_request.destination %> (<%#= travel_request.depart_at.strftime("%d %b") %> - <%#= travel_request.return_at.strftime("%d %b %Y")%>)</legend>-->
		<table width=90%>
			<tr>
				<th colspan=2><%= t 'claim.document_no' %></th>
				<th colspan=2><%= t 'travel.purpose' %></th>
				<th colspan=2><%= t 'claim.travel_date' %></th>
				<th><%= t 'claim.query' %></th>
				<th><%= t 'claim.comment' %></th>
			</tr>
			<tr>
			  	<td class="tlight" colspan=2><%= check_kin {travel_request.document.refno} %></td>
				<td colspan=2><%= check_kin {travel_request.document.title} %></td>
				<td colspan=2><%= l(travel_request.depart_at, :format=>"%d %b") %> - <%= l(travel_request.return_at, :format=>"%d %b %Y") %>
					<%="("+(travel_request.destination).titleize+")"  if  travel_request.travel_claim_logs.count==0 %>
				</td>
				<td colspan=2>&nbsp;</td>
			</tr>
			<% if travel_request.travel_claim_logs.count > 0 && @travel_claim.travel_requests.map(&:own_car).uniq.include?(true) %>
			<tr>
				<th class="level_2"><%= t 'travel.date' %></th>
				<th class="level_2"><%= t 'travel.start' %></th>
				<th class="level_2"><%= t 'travel.finish' %></th>
				<th class="level_2"><%= t 'travel.destination' %></th>
				<th class="level_2"><%= t 'travel.mileage' %></th>
				<th class="level_2"><%= t 'travel.value' %></th>
				<th class="level_2">&nbsp;</th>
				<th class="level_2">&nbsp;</th>
			</tr>
			<% end %>
			<% travel_request.travel_claim_logs.each do |travel_log| %>
			<tr>
				<td><%= l(travel_log.travel_on) %></td>
				<td><%= travel_log.start_at.strftime('%H:%M %p') %></td>
				<td><%= travel_log.finish_at.strftime('%H:%M %p') %></td>
				<td><%= travel_log.destination %></td>
				<td><%= travel_log.mileage %>
					<!--2Jan2013-show KM when mileage exist-->
					<% if travel_log.mileage.nil? != true || travel_log.mileage.blank? != true %>
						<label> km</label>
					<% end %>
					<!--2Jan2012-show KM when mileage exist-->
				</td>
				<td><%= ringgols(travel_log.km_money) %></td>
				<td>
				<% if @travel_claim.my_claim_status == t('claim.returned') %>
					<% if travel_log.checker==true %>
						Ok
					<% elsif travel_log.checker==false %>
					       <font color="red">
						<%=t('claim.query')%></font>
					<% end %>
				<% end %>
				</td>
				<td><font color="red"><%= travel_log.checker_notes if travel_log.checker==false && @travel_claim.my_claim_status == t('claim.returned') %></font></td>
			</tr>	
			<% end %>
		</table>
		<!--</fieldset>-->
		<% end %>
	</fieldset><br>
	<% if !@travel_claim.new_record? && @travel_claim.travel_requests.count > 0 && @travel_claim.travel_requests.map(&:own_car).uniq.include?(true) %>
		<fieldset>
			<b><%=  t('staff.transportclass_id')%> : <%= @travel_claim.travel_requests.first.transport_class %></b>&nbsp;&nbsp;&nbsp;
			<% if @travel_claim.staff.vehicles.count > 0%>
				<%='('+(t 'vehicles.reg_no')+" : "+@travel_claim.staff.vehicles[0].reg_no%>&nbsp;&nbsp; | &nbsp;&nbsp;<%=(t 'vehicles.type_model')+" : "+@travel_claim.staff.vehicles[0].type_model%>&nbsp;&nbsp; | &nbsp;&nbsp;<%=(t 'vehicles.cylinder_capacity')+" : "+@travel_claim.staff.vehicles[0].cylinder_capacity.to_s%>
			<% end %>
		</fieldset>
        <% end %>
			
	<!--3Jan2012-view travel logs accordingly-->
<% end %>
</table><BR/>

<% @checkist = 0 %>
<H2><%= t 'claim.list_allowance' %></H2>
<fieldset>
	<legend class='togvis'><a href="#"><%=t('claim.allowance_rates_official')%></a> <font size="-2" color="grey"><%=t('claim.click_hide_rates')%></font></legend>
	<table>
	        <tr><th rowspan=11><%=t('claim.official_duties')%></th></tr>
		<tr>
			<th rowspan=2><%=(t 'claim.grade').upcase%></th><th colspan=2><%=(t 'claim.meal_allowance').upcase%></th><th colspan=2><%=(t 'claim.daily_allowance').upcase%></th><th colspan=2><%=(t 'claim.hotel_rent').upcase%></th><th colspan=2><%=(t 'claim.lodging_allowance').upcase%></th>
		</tr>
		<tr>
			<th><%=t('claim.peninsular_malaysia')%></th><th>Sabah & S'wak</th><th><%=t('claim.peninsular_malaysia')%></th><th>Sabah & S'wak</th><th><%=t('claim.peninsular_malaysia')%></th><th>Sabah & S'wak</th><th><%=t('claim.peninsular_malaysia')%></th><th>Sabah & S'wak</th>
		</tr>
		<tr>
			<td align=center><%=t('claim.main_specialize_a')%></td><td align=center>115</td><td align=center>165</td><td align=center>57.50</td><td align=center>82.50</td><td colspan=2 align=center><%=t('claim.actual_standard_suite')%></td><td align=center>80</td><td align=center>85</td>
		</tr>
		<tr>
			<td align=center><%=t('claim.main_specialize_b')%></td><td align=center>100</td><td align=center>130</td><td align=center>50</td><td align=center>65</td><td colspan=2 align=center><%=t('claim.actual_superior')%></td><td align=center>75</td><td align=center>80</td>
		</tr>
		<tr>
			<td align=center>53 <%=t('and')%> 54</td><td align=center>85</td><td align=center>115</td><td align=center>42.50</td><td align=center>57.50</td><td colspan=2 align=center><%=t('claim.actual_normal')%></td><td align=center>70</td><td align=center>75</td>
		</tr>
		<tr>
			<td align=center>45 <%=(t'to').downcase%> 52</td><td align=center>60</td><td align=center>80</td><td align=center>30</td><td align=center>40</td><td align=center>240</td><td align=center>270</td><td align=center>60</td><td align=center>70</td>
		</tr>
		<tr>
			<td align=center>41 <%=(t'to').downcase%> 44</td><td align=center>45</td><td align=center>65</td><td align=center>22.50</td><td align=center>32.50</td><td align=center>220</td><td align=center>250</td><td align=center>55</td><td align=center>60</td>
		</tr>
		<tr>
			<td align=center>27 <%=(t'to').downcase%> 40<td align=center>40</td><td align=center>55</td><td align=center>20</td><td align=center>27.50</td><td align=center>200</td><td align=center>230</td><td align=center>45</td><td align=center>50</td>
		</tr>
		<tr>
			<td align=center>17 <%=(t'to').downcase%> 26</td><td align=center>40</td><td align=center>55</td><td align=center>20</td><td align=center>27.50</td><td align=center>180</td><td align=center>210</td><td align=center>40</td><td align=center>45</td>
		</tr>
		<tr>
			<td align=center>1 <%=(t'to').downcase%> 16</td><td align=center>35</td><td align=center>50</td><td align=center>17.50</td><td align=center>25</td><td align=center>160</td><td align=center>190</td><td align=center>35</td><td align=center>40</td>
		</tr>
	</table>
</fieldset>
<fieldset>
	<legend class='togvis'><a href="#"><%=t('claim.allowance_rates_course')%></a> <font size="-2" color="grey"><%=t('claim.click_hide_rates')%></font></legend>
	<table>
		<tr><th rowspan=11><%=t('claim.attend_course')%><br>WP 1.10/2013</th></tr>
		<tr>
			<th rowspan=2><%=(t 'claim.grade').upcase%></th><th colspan=2><%=(t 'claim.meal_allowance').upcase%></th><th colspan=2><%=(t 'claim.daily_allowance').upcase%></th><th colspan=2><%=(t 'claim.hotel_rent').upcase%></th><th colspan=2><%=(t 'claim.lodging_allowance').upcase%></th>
		</tr>
		<tr>
			<th><%=t('claim.peninsular_malaysia')%></th><th>Sabah & S'wak</th><th><%=t('claim.peninsular_malaysia')%></th><th>Sabah & S'wak</th><th><%=t('claim.peninsular_malaysia')%></th><th>Sabah & S'wak</th><th><%=t('claim.peninsular_malaysia')%></th><th>Sabah & S'wak</th>
		</tr>
		<tr>
			<td align=center><%=t('claim.main_specialize_a')%></td><td align=center>90</td><td align=center>120</td><td align=center>45</td><td align=center>60</td><td align=center><%=t('claim.normal_room')%></td><td align=center><%=t('claim.normal_room')%></td><td align=center>80</td><td align=center>85</td>
		</tr>
		<tr>
			<td align=center><%=t('claim.main_specialize_b')%></td><td align=center>90</td><td align=center>120</td><td align=center>45</td><td align=center>60</td><td align=center><%=t('claim.normal_room')%></td><td align=center><%=t('claim.normal_room')%></td><td align=center>75</td><td align=center>80</td>
		</tr>
		<tr>
			<td align=center>53 <%=t('and') %> 54</td><td align=center>70</td><td align=center>90</td><td align=center>35</td><td align=center>45</td><td align=center><%=t('claim.normal_room')%></td><td align=center><%=t('claim.normal_room')%></td><td align=center>70</td><td align=center>75</td>
		</tr>
		<tr>
			<td align=center>45 <%=(t'to').downcase%> 52</td><td align=center>60</td><td align=center>80</td><td align=center>30</td><td align=center>40</td><td align=center>145</td><td align=center>160</td><td align=center>60</td><td align=center>70</td>
		</tr>
		<tr>
			<td align=center>41 <%=(t'to').downcase%> 44</td><td align=center>45</td><td align=center>65</td><td align=center>22.50</td><td align=center>32.50</td><td align=center>130</td><td align=center>140</td><td align=center>55</td><td align=center>60</td>
		</tr>
		<tr>
			<td align=center>27 <%=(t'to').downcase%> 40</td><td align=center>40</td><td align=center>55</td><td align=center>20</td><td align=center>27.50</td><td align=center>80</td><td align=center>100</td><td align=center>35</td><td align=center>40</td>
		</tr>
		<tr>
			<td align=center>17 <%=(t'to').downcase%> 26</td><td align=center>40</td><td align=center>55</td><td align=center>20</td><td align=center>27.50</td><td align=center>80</td><td align=center>100</td><td align=center>35</td><td align=center>40</td>
		</tr>
		<tr>
			<td align=center>1 <%=(t'to').downcase%> 16</td><td align=center>35</td><td align=center>50</td><td align=center>17.50</td><td align=center>25</td><td align=center>65</td><td align=center>80</td><td align=center>30</td><td align=center>35</td>
		</tr>
	</table>
</fieldset>
<table width=90%>
	<tr>
		<th width=10%><%= t 'claim.days' %></td>
		<th width=20%><%= t 'claim.type' %></td>
		<th width=15%><%= t 'claim.value' %></td>
		<th width=20% align="right"><%= t 'claim.receipt_no' %></td>
		<th width=5%></th>
		<th width=10%><%= t 'claim.query' %></th>
		<th width=25%><%= t 'claim.comment' %></th>
	</tr>
</table>
	<% f.fields_for :travel_claim_allowances do |builder| %>
	  <%= render 'travel_claim_allowance_fields', :f => builder %>
	<% end %>

	<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => (t 'claim.add_receipt')), f, :travel_claim_allowances %> - <%=t('claim.add_receipt')%></p>
	
<table>
	<tr>
		<td width=35%><b><%= t 'claim.accommodations' %><br><%=t('claim.hotel_lodging')%></b><br>
		<font color="red">*</font><font size="-2"><%=t('claim.address_compulsory')%></font></td>
		<td><%=f.text_area :accommodations, :size => "70x2"%></td>
	</tr>
</table>
	
	
<H2><%= t 'claim.receipt' %></H2>	
<table width=90%>
	<tr>
		<th width=20%><%= t 'claim.type' %></td>
		<th width=20%><%= t 'claim.receipt_no' %></td>
		<th align="right" width="20"><%= t 'claim.value' %></td>
		<th width=5%></th>
		<th width=10%><%= t 'claim.query' %></th>
		<th width=25%><%= t 'claim.comment' %></th>
	</tr>
</table>
	<% f.fields_for :travel_claim_receipts do |builder| %>
	  <%= render 'travel_claim_receipt_fields', :f => builder %>
	<% end %>

	<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title =>(t 'claim.add_receipt')), f, :travel_claim_receipts %> - <%=t('claim.add_receipt')%></p>
	
<H2><%= t 'claim.advance' %></H2>
<table>
	<tr>
		<td class="leftcol"><%= t 'claim.advance' %></td>
		<td><label>RM</label> <%= f.text_field :advance, :size => '10', :default => 1 %></td>
	</tr>
</table>

<H2><%= t 'claim.submission' %></H2>
<table width=100%>
	<!--4Jan2013-view submit button differently-->
	<%# if @travel_claim.my_claim_status != t('claim.returned') %>
	<tr>
	  <td class="leftcol"><label for="is_submitted"><%= t 'submit' %></label></td>
		<td><%= f.check_box :is_submitted, :id => 'submit1' %>
				<SPAN class="span_submit1" style="display: none;"> &nbsp; <%= tarikh (Date.today) %></SPAN></td>
		<td class="pagenote"><%=t('claim.click_submit')%></td>
	</tr>
	<%# else %><!--if below part is removed, '#owner amend returned document but did not submit' in travel_claim.rb must actiive -->
	<!--<tr>
		<td class="leftcol"><label for="is_submitted"><%= t 'claim.resubmit' %></label></td>
		<td>
			 <%#=t('claim.click_update')%>
		         <%# if @travel_claim.staff_id == Login.current_login.staff_id %>
		                   <%#=f.hidden_field :is_returned, :value=>'false'%>
		         <%# else %>
		                   <%#=f.hidden_field :is_returned, :value=>'true'%>
		         <%# end %>
			</td>
		<td class="pagenote">&nbsp;</td>
	</tr>-->
	<%# end %>
	<!--4Jan2013-view submit button differently-->
</table>

<script type="text/javascript">
	$j(document).ready(function(){
			//show submit date
			$j("input[id='submit1']").change(function() {  
			 if($j('#submit1').is(':checked')) { 
			    $j(".span_submit1").show("highlight"); 
			 }else		{
			    $j(".span_submit1").hide(""); 
			 }	
			});
	});
</script>