<% if @my_approved_unclaimed_requests != nil %>
<H2>Include Travel Requests</H2>
<table width=90%>
	<tr>
		<th width=10px>include</th>
		<th><%= t('document.refno')%></th>
		<th>Destination</th>
		<th>Purpose</th>
		<th>Travel Dates</th>
	</tr>
	
	
	
			<% for travel_request in @my_approved_unclaimed_requests %>
			<tr>
				<td width=10px><%= check_box_tag "travel_claim[travel_request_ids][]", travel_request.id, @travel_claim.travel_requests.include?(travel_request) %>
			  <td><%= check_kin {travel_request.document.refno} %></td>
			  <td><%= travel_request.destination %></td>
			  <td><%= check_kin {travel_request.document.title} %></td>
			  <td class="tright"><%= travel_request.depart_at.strftime("%d %b") %> - <%= travel_request.return_at.strftime("%d %b %Y") %></td>
			</tr>
			<% end %>
	<% else %>
	
			<% for travel_request in @travel_claim.travel_requests %>

			<tr>
				<th>Request Code</th>
				<th colspan=3>Purpose</th>
				<th colspan=2>Travel Dates</th>
			</tr>
			<tr>
			  <td class="tlight"><%= check_kin {travel_request.document.refno} %></td>
			  <td colspan=3><%= check_kin {travel_request.document.title} %></td>
			  <td colspan=2><%= travel_request.depart_at.strftime("%d %b") %> - <%= travel_request.return_at.strftime("%d %b %Y") %></td>
			</tr>
	
	
			<% end %>
<% end %>
</table><BR/>


<H2>Meal Allowance / Daily Allowance / Lodging Allowance</H2>	
<table width=90%>
	<tr>
		<th width=20%>Days</td>
		<th width=20%>Type</td>
		<th width=20%>Value (RM)</td>
		<th width=30% align="right">Receipt No</td>
		<th width=10%></th>
	</tr>
</table>
	<% f.fields_for :travel_claim_allowances do |builder| %>
	  <%= render 'travel_claim_allowance_fields', :f => builder %>
	<% end %>

	<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Receipt'), f, :travel_claim_allowances %> - <%= "Add Receipt" %></p>


<H2>Receipts</H2>	
<table width=90%>
	<tr>
		<th width=20%>Type</td>
		<th width=30%>Receipt No</td>
		<th width=20% align="right">Value (RM)</td>
		<th width=30%></th>
	</tr>
</table>
	<% f.fields_for :travel_claim_receipts do |builder| %>
	  <%= render 'travel_claim_receipt_fields', :f => builder %>
	<% end %>

	<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Receipt'), f, :travel_claim_receipts %> - <%= "Add Receipt" %></p>
	
<H2>Advances</H2>
<table>
	<tr>
		<td class="leftcol">Advances</td>
		<td><label>RM</label> <%= f.text_field :advance, :size => '10', :default => 1 %></td>
	</tr>
</table>

<H2>Submission</H2>
<table width=100%>
	<tr>
	  <td class="leftcol"><label for="is_submitted">Submit</label></td>
		<td><%= f.check_box :is_submitted, :id => 'submit1' %>
				<SPAN class="span_submit1" style="display: none;"><%= f.date_select :submitted_on, :order => [:day, :month, :year], :default => Date.today %></SPAN></td>
		<td class="pagenote">Clicking on submit notifies claims officer and disables your editing this record further</td>
	</tr>
	<tr class="span_submit1">
	  <td class="leftcol"><label for="is_submitted">Submit To </label></td>
		<td><%= f.collection_select :approved_by, Staff.find(:all, :order => :name), :id, :name %></td>
		<td class="pagenote">Select Approving officer</td>
	</tr>
</table>

<script type="text/javascript">
	$j(document).ready(function(){
			//show submit date
			$j("input[id='submit1']").change(function() {  
			 if($j('#submit1').is(':checked')) { 
			    $j(".span_submit1").show("highlight"); 
			 }else		{
			    $j(".span_submit1").hide(""); 
			 }	
			});

			$j("input[id='submit1']").each(function() {  
			 if($j('#submit1').is(':checked')) { 
			    $j(".span_submit1").show("highlight"); 
			 }else		{
			    $j(".span_submit1").hide(""); 
			 }	
			});
	});
</script>


