<div class="tform">
	<H2><%=t('claim.title')%></H2>
	<fieldset>
		<legend class='togvis'><%= t 'claim.travel_claim' %></legend>
			<table width=90%>
					<tr>
						<td class="leftcol"><label for="claimsmonth"><%= t 'claim.claimsmonth' %></label></td>
						<td><%=h l(@travel_claim.claim_month, :format=>"%B %Y") %></td>
					</tr>

					<tr>
						<td class="leftcol"><label for="staff_id"><%= t 'claim.staff_name' %></label></td>
						<td><%=h @travel_claim.staff.name %></td>
					</tr>
					<% if !@travel_claim.new_record? && @travel_claim.travel_requests.count > 0 && @travel_claim.travel_requests.map(&:own_car).uniq.include?(true) %>
						<tr>
							<td class="leftcol"><label for="transport_class"><%= t('staff.transportclass_id')%></label></td>
							<td>
							      <% if @travel_claim.staff.current_salary.nil? %>
									<font color="red"><%=t('claim.insert_current_salary')%></font>
							      <% else %>
									<%=@travel_claim.travel_requests.first.transport_class%>
							      <% end %>
							      <% if @travel_claim.staff.vehicles.count > 0%>
									&nbsp;&nbsp;(<%=@travel_claim.staff.vehicles[0].reg_no %>, <%=@travel_claim.staff.vehicles[0].type_model%>&nbsp;cc)
							      <% else %>
									<br><font color="red"><%=t('claim.insert_vehicle')%></font>
							      <% end %>
							</td>
						</tr>
					<% end %>
				</table><BR/>
	</fieldset>
	
	<fieldset>
		<legend class='togvis'><%= t 'claim.travel_requestlogs' %></legend>
			<table width=85%>
				<% for travel_request in @travel_claim.travel_requests %>

				<tr>
					<th><%= t 'claim.document_no' %></th>
					<th colspan=3><%= t 'claim.purpose' %></th>
					<th colspan=2><%= t 'claim.travel_date' %></th>
				</tr>
				<tr>
				  <td class="tlight"><%= check_kin {travel_request.document.refno} %></td>
				  <td colspan=3><%= check_kin {travel_request.document.title} %></td>
				  <td colspan=2><%= l(travel_request.depart_at, :format=>"%d %b") %> - <%= l(travel_request.return_at, :format=>"%d %b %Y") %></td>
				</tr>
				
				<tr>
					<th width=10% class="level_2"><%= t 'claim.date' %></th>
					<th width=9%  class="level_2"><%= t 'claim.depart' %></th>
					<th width=9%  class="level_2"><%= t 'claim.arrive' %></th>
					<th class="level_2"><%= t 'claim.destination' %></th>
					<th width=10% class="level_2"><%= t 'claim.mileage' %></th>
					<th width=10% class="level_2"><%= t 'claim.value' %></th>
				</tr>
				<% for travel_claim_log in TravelClaimLog.find(:all, :conditions => ['travel_request_id =?', travel_request.id ]) %>
				<tr>
					<td class="tlight"><%= travel_claim_log.travel_on.strftime('%d %b %Y') %></td>
					<td class="tlight"><%= travel_claim_log.start_at.strftime('%H:%M %p') %></td>
					<td class="tlight"><%= travel_claim_log.finish_at.strftime('%H:%M %p') %></td>
					<td><%= travel_claim_log.destination %></td>
					<td class="tright"><%= travel_claim_log.mileage %><!--<label> km</label>-->
						<!--2Jan2013-show KM when mileage exist-->
						<% if travel_claim_log.mileage.nil? != true || travel_claim_log.mileage.blank? != true %>
							<label> km</label>
						<% end %>
						<!--2Jan2012-show KM when mileage exist-->
					</td>
					<td class="tright"><%= ringgols(travel_claim_log.km_money) %></td>
				</tr>
				<% end %>
				<tr>
					<td colspan=6 style="height:30px; border-bottom: 2px solid #9AB;">
				</td>
				<% end %>
				<tr>
				  <td colspan=4 align='right'><b><%= t 'claim.total' %></b></td>
				  <td class="tright"><b><%= @travel_claim.total_mileage %> <label> km</label></b></td>
					<td class="tright"><b><%= ringgols(@travel_claim.total_km_money) %></b></td>
				</tr>
			</table>
				<BR/>
	</fieldset>
<!--
	
	<fieldset>
		<legend>Travel Log</legend>
			<table width=85%>
				<tr>
					<th>Date</th>
					<th>Depart</th>
					<th>Arrive</th>
					<th>Purpose</th>
					<th>Destination</th>
					<th>Mileage</th>
				</tr>
				<#% for travel_claim_log in @travel_claim.travel_claim_logs(:order => 'travel_on') %>
				<tr>
					<td><#%= travel_claim_log.travel_on.strftime('%d %b %Y') %></td>
					<td><#%= travel_claim_log.start_at.strftime('%H:%M %p') %></td>
					<td><#%= travel_claim_log.finish_at.strftime('%H:%M %p') %></td>
					<td><#%= travel_claim_log.purpose %></td>
					<td><#%= travel_claim_log.destination %></td>
					<td align='right'><#%= travel_claim_log.mileage %><label> km</label></td>
				</tr>
				<#% end %>
				<tr>
				  <td colspan=5 align='right'><b>Total</b></td>
				  <td align='right'><b><#%= @travel_claim.total_mileage %> <label> km</label></b></td>
				</tr>
				
			</table>
				<BR/>
	</fieldset>
	-->

	<fieldset>
		<legend class='togvis'><%= t 'claim.allowances' %></legend>
			<table width=85%>
				<tr>
					<th><%= t 'claim.type' %></th>
					<th><%= t 'claim.days' %></th>
					<th align="right"><%= t 'claim.value' %></th>
					<th><%= t 'claim.receipt_no' %></th>
					<th align="right"><%= t 'claim.total' %></th>
				</tr>
				<% for travel_claim_allowance in @travel_claim.travel_claim_allowances %>
				<tr>
				  <td><%=h (TravelClaimReceipt::ALLOWANCETYPE.find_all{|disp, value| value == travel_claim_allowance.expenditure_type}).map {|disp, value| disp} %></td>
				  <td><%= travel_claim_allowance.quantity %></td>
					<td align='right'><%= ringgols(travel_claim_allowance.amount) %></td>
				  <td><%= travel_claim_allowance.receipt_code %></td>
					<td align='right'><%= ringgols(travel_claim_allowance.total) %></td>
				</tr>
				<% end %>
				<tr>
				  <td colspan=4 align='right'><b><%= t 'claim.quick_total' %></b></td>
				  <td align='right'><b><%= ringgols(@travel_claim.allowas) %></b></td>
				</tr>
				<% if (@travel_claim.travel_claim_allowances.map(&:expenditure_type) & [31,32]).count > 0 %>
				<tr>
				  <td><b><%= t 'claim.accommodations' %><br><%=t('claim.hotel_lodging')%></b></td>
				  <td colspan=4><%=simple_format(@travel_claim.accommodations)%></td>
				</tr>
				<% end %>
			</table>
				<BR/>
	</fieldset>
	
	<fieldset>
		<legend class='togvis'><%= t 'claim.receipt' %></legend>
			<table width=85%>
				<tr>
					<th><%= t 'claim.type' %></th>
					<th><%= t 'claim.receipt_no' %></th>
					<th><%= t 'claim.value' %></th>
				</tr>
				<% for travel_claim_receipt in @travel_claim.travel_claim_receipts.find(:all, :conditions => ['expenditure_type IN (?)', (1..88)] ) %>
				<tr>
				  <td><%=h (TravelClaimReceipt::RECEIPTTYPE.find_all{|disp, value| value == travel_claim_receipt.expenditure_type}).map {|disp, value| disp} %></td>
				  <td><%= travel_claim_receipt.receipt_code %></td>
				  <td align='right'><%= ringgols(travel_claim_receipt.amount) %></td>
				</tr>
				<% end %>
				<% for travel_claim_receipt in @travel_claim.travel_claim_receipts.find(:all, :conditions => ['expenditure_type = ?', 99] ) %>
				<tr>
				  <td><%=h (TravelClaimReceipt::RECEIPTTYPE.find_all{|disp, value| value == travel_claim_receipt.expenditure_type}).map {|disp, value| disp} %> (<%= ringgols(travel_claim_receipt.amount) %>)</td>
				  <td><%= travel_claim_receipt.receipt_code %></td>
				  <td align='right'><%= ringgols(travel_claim_receipt.exchange_loss) %></td>
				</tr>
				<% end %>
				<tr>
				  <td colspan=2 align='right'><b><%= t 'claim.quick_total' %></b></td>
				  <td align='right'><b><%= ringgols(@travel_claim.receipts) %></b></td>
				</tr>
				
			</table>
				<BR/>
	</fieldset>
	
	<fieldset>
		<legend class='togvis'><%= t 'claim.advance' %></legend>
			<table width=85%>
				<tr>
					<td><%= t 'claim.advance_claim' %></td>
					<td class="money"><%=h @travel_claim.advance? ? ringgols(@travel_claim.advance) : "RM 0.00" %></td>
				</tr>
				<tr>
					<td><%= t 'claim.current_total' %></td>
					<td class="money">
						<% if @travel_claim.staff.current_salary.nil? %>
							<font color="red"><%=t('claim.insert_current_salary')%></font>
						<% else %>
							<%= ringgols(@travel_claim.total_claims)%>
						<% end %>
					</td>
				</tr>
				<tr>
					<td><%= t 'claim.claimable_total' %></td>
					<td class="money">
						<% if @travel_claim.staff.current_salary.nil? %>
							<font color="red"><%=t('claim.insert_current_salary')%></font>
						<% else %>
							<%=ringgols(@travel_claim.to_be_paid) %>
						<% end %>
					</td>
				</tr>
				
			</table>
				<BR/>
	</fieldset>


	<fieldset>
		<legend class='togvis'><%= t 'claim.submission' %></legend>
			<table width=85%>
				<tr>
					<td><%= t 'claim.submitted' %></td>
					<td><%=h @travel_claim.is_submitted? ? (t 'claim.submitted_on') + l(@travel_claim.submitted_on).to_s : (t 'not_submitted') %></td>
				</tr>
				<tr>
					<td><%= t 'claim.approved' %></td>
					<td><%=h @travel_claim.is_approved? ? (t 'claim.approved_on') + l(@travel_claim.approved_on).to_s : (t 'not_approved') %></td>
				</tr>
				<tr>
					<td><%= t 'claim.to_approved' %></td>
					<td><%=h @travel_claim.approver.name unless  @travel_claim.approver.blank? %></td>
				</tr>
				
			</table>
				<BR/>
	</fieldset>
</div>