<div class="tform">
	<fieldset>
		<legend class='togvis'>Travel Claims For</legend>
			<table width=90%>
					<tr>
						<td class="leftcol"><label for="claimsmonth">Month</label></td>
						<td><%=h @travel_claim.claim_month.strftime("%B %Y") %></td>
					</tr>

					<tr>
						<td class="leftcol"><label for="staff_id">Staff Name:</label></td>
						<td><%=h @travel_claim.staff.name %></td>
					</tr>
				</table><BR/>
	</fieldset>
	
	<fieldset>
		<legend class='togvis'>Travel Request & Logs</legend>
			<table width=85%>
				<% for travel_request in @travel_claim.travel_requests %>

				<tr>
					<th>Document Ref No</th>
					<th colspan=3>Purpose</th>
					<th colspan=2>Travel Dates</th>
				</tr>
				<tr>
				  <td class="tlight"><%= check_kin {travel_request.document.refno} %></td>
				  <td colspan=3><%= check_kin {travel_request.document.title} %></td>
				  <td colspan=2><%= travel_request.depart_at.strftime("%d %b") %> - <%= travel_request.return_at.strftime("%d %b %Y") %></td>
				</tr>
				
				<tr>
					<th width=10% class="level_2">Date</th>
					<th width=9%  class="level_2">Depart</th>
					<th width=9%  class="level_2">Arrive</th>
					<th class="level_2">Destination</th>
					<th width=10% class="level_2">Mileage</th>
					<th width=10% class="level_2">Value</th>
				</tr>
				<% for travel_claim_log in TravelClaimLog.find(:all, :conditions => ['travel_request_id =?', travel_request.id ]) %>
				<tr>
					<td class="tlight"><%= travel_claim_log.travel_on.strftime('%d %b %Y') %></td>
					<td class="tlight"><%= travel_claim_log.start_at.strftime('%H:%M %p') %></td>
					<td class="tlight"><%= travel_claim_log.finish_at.strftime('%H:%M %p') %></td>
					<td><%= travel_claim_log.destination %></td>
					<td class="tright"><%= travel_claim_log.mileage %><!--<label> km</label>-->
						<!--2Jan2013-show KM when mileage exist-->
						<% if travel_claim_log.mileage.nil? != true || travel_claim_log.mileage.blank? != true %>
							<label> km</label>
						<% end %>
						<!--2Jan2012-show KM when mileage exist-->
					</td>
					<td class="tright"><%= ringgols(travel_claim_log.km_money) %></td>
				</tr>
				<% end %>
				<tr>
					<td colspan=6 style="height:30px; border-bottom: 2px solid #9AB;">
				</td>
				<% end %>
				<tr>
				  <td colspan=4 align='right'><b>Total</b></td>
				  <td class="tright"><b><%= @travel_claim.total_mileage %> <label> km</label></b></td>
					<td class="tright"><b><%= ringgols(@travel_claim.total_km_money) %></b></td>
				</tr>
			</table>
				<BR/>
	</fieldset>
<!--
	
	<fieldset>
		<legend>Travel Log</legend>
			<table width=85%>
				<tr>
					<th>Date</th>
					<th>Depart</th>
					<th>Arrive</th>
					<th>Purpose</th>
					<th>Destination</th>
					<th>Mileage</th>
				</tr>
				<#% for travel_claim_log in @travel_claim.travel_claim_logs(:order => 'travel_on') %>
				<tr>
					<td><#%= travel_claim_log.travel_on.strftime('%d %b %Y') %></td>
					<td><#%= travel_claim_log.start_at.strftime('%H:%M %p') %></td>
					<td><#%= travel_claim_log.finish_at.strftime('%H:%M %p') %></td>
					<td><#%= travel_claim_log.purpose %></td>
					<td><#%= travel_claim_log.destination %></td>
					<td align='right'><#%= travel_claim_log.mileage %><label> km</label></td>
				</tr>
				<#% end %>
				<tr>
				  <td colspan=5 align='right'><b>Total</b></td>
				  <td align='right'><b><#%= @travel_claim.total_mileage %> <label> km</label></b></td>
				</tr>
				
			</table>
				<BR/>
	</fieldset>
	-->

	<fieldset>
		<legend class='togvis'>Allowances</legend>
			<table width=85%>
				<tr>
					<th>Type</th>
					<th>Days</th>
					<th align="right">Value (RM)</th>
					<th>Receipt No</th>
					<th align="right">Total</th>
				</tr>
				<% for travel_claim_allowance in @travel_claim.travel_claim_allowances %>
				<tr>
				  <td><%=h (TravelClaimReceipt::ALLOWANCETYPE.find_all{|disp, value| value == travel_claim_allowance.expenditure_type}).map {|disp, value| disp} %></td>
				  <td><%= travel_claim_allowance.quantity %></td>
					<td align='right'><%= ringgols(travel_claim_allowance.amount) %></td>
				  <td><%= travel_claim_allowance.receipt_code %></td>
					<td align='right'><%= ringgols(travel_claim_allowance.total) %></td>
				</tr>
				<% end %>
				<tr>
				  <td colspan=4 align='right'><b>Quick Total</b></td>
				  <td align='right'><b><%= ringgols(@travel_claim.allowas) %></b></td>
				</tr>
				
			</table>
				<BR/>
	</fieldset>
	
	<fieldset>
		<legend class='togvis'>Receipts</legend>
			<table width=85%>
				<tr>
					<th><%= t 'claim.type' %></th>
					<th><%= t 'claim.receipt_no' %></th>
					<th><%= t 'claim.value' %></th>
				</tr>
				<% for travel_claim_receipt in @travel_claim.travel_claim_receipts.find(:all, :conditions => ['expenditure_type IN (?)', (1..88)] ) %>
				<tr>
				  <td><%=h (TravelClaimReceipt::RECEIPTTYPE.find_all{|disp, value| value == travel_claim_receipt.expenditure_type}).map {|disp, value| disp} %></td>
				  <td><%= travel_claim_receipt.receipt_code %></td>
				  <td align='right'><%= ringgols(travel_claim_receipt.amount) %></td>
				</tr>
				<% end %>
				<% for travel_claim_receipt in @travel_claim.travel_claim_receipts.find(:all, :conditions => ['expenditure_type = ?', 99] ) %>
				<tr>
				  <td><%=h (TravelClaimReceipt::RECEIPTTYPE.find_all{|disp, value| value == travel_claim_receipt.expenditure_type}).map {|disp, value| disp} %> (<%= ringgols(travel_claim_receipt.amount) %>)</td>
				  <td><%= travel_claim_receipt.receipt_code %></td>
				  <td align='right'><%= ringgols(travel_claim_receipt.exchange_loss) %></td>
				</tr>
				<% end %>
				<tr>
				  <td colspan=2 align='right'><b>Quick Total</b></td>
				  <td align='right'><b><%= ringgols(@travel_claim.receipts) %></b></td>
				</tr>
				
			</table>
				<BR/>
	</fieldset>
	
	<fieldset>
		<legend class='togvis'>Advance</legend>
			<table width=85%>
				<tr>
					<td>Advance Claims</td>
					<td class="money"><%=h @travel_claim.advance? ? ringgols(@travel_claim.advance) : "RM 0.00" %></td>
				</tr>
				<tr>
					<td>Current Total</td>
					<td class="money"><%= ringgols(@travel_claim.total_claims) %></td>
				</tr>
				<tr>
					<td>Claimable Total</td>
					<td class="money"><%= ringgols(@travel_claim.to_be_paid) %></td>
				</tr>
				
			</table>
				<BR/>
	</fieldset>


	<fieldset>
		<legend class='togvis'>Submissions</legend>
			<table width=85%>
				<tr>
					<td>Submitted</td>
					<td><%=h @travel_claim.is_submitted? ? "Yes" + " on   " + l(@travel_claim.submitted_on).to_s : "No" %></td>
				</tr>
				<tr>
					<td>Approved</td>
					<td><%=h @travel_claim.is_approved? ? "Yes" + " on   " + l(@travel_claim.approved_on).to_s : "No" %></td>
				</tr>
				<tr>
					<td>To be Approved By</td>
					<td><%=h @travel_claim.approver.name unless  @travel_claim.approver.blank? %></td>
				</tr>
				
			</table>
				<BR/>
	</fieldset>
</div>