<div class="fields">
	<table>
		<tr>
		  <td class="tlight"><%= check_kin {f.object.document.refno} %></td>
		  <td colspan=3><%= check_kin {f.object.document.title} %></td>
		  <td colspan=2><%= f.object.depart_at.strftime("%d %b") %> - <%= f.object.return_at.strftime("%d %b %Y") %></td>
		</tr>
	</table>
	<table>
		<tr>
			<th width=10% class="level_2">Date</th>
			<th width=9%  class="level_2">Depart</th>
			<th width=9%  class="level_2">Arrive</th>
			<th class="level_2">Destination</th>
			<th width=10% class="level_2">Mileage</th>
			<th width=10% class="level_2">Value</th>
			<th class="level_2">Check</th>
		</tr>
		<% f.fields_for :travel_claim_logs do |builder| %>
		<tr>
			<td class="tlight"><%= builder.object.travel_on.strftime('%d %b %Y') %></td>
			<td class="tlight"><%= builder.object.start_at.strftime('%H:%M %p') %></td>
			<td class="tlight"><%= builder.object.finish_at.strftime('%H:%M %p') %></td>
			<td><%= builder.object.destination %></td>
			<td class="tright"><%= builder.object.mileage %><label> km</label></td>
			<td class="tright"><%= ringgols(builder.object.km_money) %></td>
			<td width=27% style="padding-left:15px;"%>
				<label><%= builder.radio_button :checker, 'true' %> OK <%= builder.radio_button :checker, 'false' %> Query : <%= builder.text_field :checker_notes, :size => '15' %></td>
		</tr>
	<% end %>
	</table>
	
	
</div>