<% form_for(@travel_claim) do |f| %>
  <%= f.error_messages %>
  
	<div class="tform">
	<H2>Finance Check Travel Claims for <%=h @travel_claim.staff.name %> for <%=h @travel_claim.claim_month.strftime("%B %Y") %></H2>

		<fieldset>
			<legend>Travel Request & Logs</legend>
				<% f.fields_for :travel_requests do |builder| %>
				  <%= render 'travel_request_fields', :f => builder %>
				<% end %>

				<table width=90%>
					<tr>
					  <td width=54% align='right'><b>Total</b></td>
					  <td width=10% class="tright"><b><%= @travel_claim.total_mileage %> <label> km</label></b></td>
						<td width=10% class="tright"><b><%= ringgols(@travel_claim.total_km_money) %></b></td>
						<td ></td>
					</tr>
				</table>
					<BR/>
		</fieldset>


		<fieldset>
			<legend>Allowances</legend>
				<table width=90%>
					<tr>
						<th width=20%>Days</td>
						<th width=20%>Type</td>
						<th >Value (RM)</td>
						<th width=20% align="right">Receipt No</td>
						<th width=27%>Check</th>
					</tr>
				</table>
					<% f.fields_for :travel_claim_allowances do |builder| %>
					  <%= render 'travel_claim_allowance_fields', :f => builder %>
					<% end %>
					<BR/>
		</fieldset>
		<% @checkist = 1 %>
		<fieldset>
			<legend>Receipts</legend>
				<table width=90%>
					<tr>
						<th width=20%><%= t 'claim.type' %></th>
						<th width=30%><%= t 'claim.receipt_no' %></th>
						<th ><%= t 'claim.value' %></th>
						<th width=27%>Check</th>
					</tr>
				</table>
					
					<% f.fields_for :travel_claim_receipts do |builder| %>
					  <%= render 'travel_claim_receipt_fields', :f => builder %>
					<% end %>

					<BR/>
		</fieldset>

		<fieldset>
			<legend>Advance</legend>
				<table width=85%>
					<tr>
						<td>Advance Claims</td>
						<td class="money"><%=h @travel_claim.advance? ? ringgols(@travel_claim.advance) : "RM 0.00" %></td>
					</tr>
					<tr>
						<td>Current Total</td>
						<td class="money"><%= ringgols(@travel_claim.total_claims) %></td>
					</tr>
					<tr>
						<td>Claimable Total</td>
						<td class="money"><%= ringgols(@travel_claim.to_be_paid) %></td>
					</tr>

				</table>
					<BR/>
		</fieldset>


		<fieldset>
			<legend>Submissions</legend>
				<table width=90%>
					<tr>
						<td>Submitted</td>
						<td><%=h @travel_claim.is_submitted? ? "Yes" + " on   " + l(@travel_claim.submitted_on).to_s : "No" %></td>
					</tr>
					<tr>
						<td>Verification</td>
						<td><%= f.radio_button :is_checked, 'false' %>  Return to Staff &nbsp; &nbsp; 
							  <%= f.radio_button :is_checked, 'true'  %>  Verified OK &nbsp; &nbsp; </td>
					</tr>
					<%#= f.hidden_field :is_returned, 'false'%>
					<tr>
						<td>Note For Finance Staff</td>
						<td><%=f.text_field :notes, :size => 60 %></td>
					</tr>

				</table>
					<BR/>
		</fieldset>
	</div>
</div>

<p>
	 <%= f.submit 'Process' %>

</p>

<% end %>