<%= stylesheet_link_tag 'report', :media => "print"  %>
<form action="#">
	<script>
	document.write("<input type='button' " +
	"onClick='window.print()' " +
	"class='printbutton' " +
	"value='Print This Page'/>");
	</script>

<div class="A4potrait_paged">
	<BR/>
	<p class="marginright" align="right"><b>Lampiran A</b></p>
	<H4 align="center"><b>KENYATAAN TUNTUTAN PERJALANAN DALAM NEGERI</b><BR/>
	BAGI BULAN : <SPAN CLASS="filler"><%=h check_kin_blank {@travel_claim.claim_month.strftime("%b").upcase} %></SPAN>
	TAHUN : <SPAN CLASS="filler"><%=h check_kin_blank {@travel_claim.claim_month.strftime("%Y")} %></SPAN></H4>
	
	<div id="tprintreport">
		<table width=100% border=2 cellspacing=0 align="center" >
			<tr>
				<th colspan=3>MAKLUMAT PEGAWAI</th>
			</tr>
			
			<tr>
				<td>NAMA</td>
				<td colspan=2 class="filler"><%=h @travel_claim.staff.name %></td>
			</tr>
			
			<tr>
				<td>NO KAD PENGENALAN</td>
				<td colspan=2 class="filler"><%=h @travel_claim.staff.formatted_mykad %></td>
			</tr>
			
			<tr>
				<td>GRED/KATEGORI/KUMPULAN</td>
				<td colspan=2 class="filler"><%=h check_kin {@travel_claim.staff.staffgrade.name} %></td>
			</tr>

			<tr>
				<td>JAWATAN</td>
				<td colspan=2 class="filler"><%=h check_kin {@travel_claim.staff.position.name} %></td>
			</tr>
			
			<tr>
				<td rowspan=3>PENDAPATAN (RM)</td>
				<td>GAJI</td>
				<td class="filler"><%= @travel_claim.staff.starting_salary? ? @travel_claim.staff.starting_salary : "&nbsp;" %><%#=h ringgols(@travel_claim.staff.starting_salary) %></td>
			</tr>
			
			<tr>
				<!-- td is rowspanned-->
				<td>ELAUN-ELAUN</td>
				<td class="filler">&nbsp;</td>
			</tr>
			
			<tr>
				<!-- td is rowspanned-->
				<td>JUMLAH</td>
				<td class="filler">&nbsp;</td>
			</tr>
			
			<tr>
				<td rowspan=4>KENDERAAN</td>
				<td>JENIS MODEL</td>
				<td class="filler">&nbsp;</td>
			</tr>
			
			<tr>
				<!-- td is rowspanned-->
				<td>NO PENDAFTARAN</td>
				<td class="filler">&nbsp;</td>
			</tr>
			
			<tr>
				<!-- td is rowspanned-->
				<td>KUASA (C.C)</td>
				<td class="filler">&nbsp;</td>
			</tr>
			
			<tr>
				<!-- td is rowspanned-->
				<td>KELAS TUNTUTAN</td>
				<td class="filler"><!--A / B / C / D / E-->
						<% if @travel_claim.staff.transportclass_id == 'A' %>
							A <del>/ B / C / D / E</del>
						<% elsif @travel_claim.staff.transportclass_id == 'B' %>
							<del>A&nbsp;/</del>&nbsp;B&nbsp;<del>/&nbsp;C&nbsp;/&nbsp;D&nbsp;/&nbsp;E</del>
						<% elsif @travel_claim.staff.transportclass_id == 'C' %>
							<del>A&nbsp;/&nbsp;B&nbsp;/</del>&nbsp;C&nbsp;<del>/&nbsp;D&nbsp;/&nbsp;C</del>
						<% elsif @travel_claim.staff.transportclass_id == 'D' %>
							<del>A&nbsp;/&nbsp;B&nbsp;/&nbsp;C&nbsp;/</del>&nbsp;D&nbsp;<del>/&nbsp;E</del>
						<% elsif @travel_claim.staff.transportclass_id == 'E' %>
							<del>A&nbsp;/&nbsp;B&nbsp;/&nbsp;C&nbsp;/&nbsp;D&nbsp;/</del>&nbsp;E
						<% end %> <!--"Diluluskan / <del> Tidak Diluluskan </del>  " : "<del> Diluluskan </del> /  Tidak Diluluskan" -->
				</td>
			</tr>
			
			<tr>
				<td>ALAMAT PEJABAT</td>
				<td colspan=2 class="filler">Kolej Sains Kesihatan Bersekutu<BR/>Lot 8173, Jalan Pesiaran Kempas Baru<BR/>81200 Johor Bahru, Johor</td>
			</tr>
			
			<tr>
				<td>ALAMAT RUMAH</td>
				<td colspan=2 class="filler"><%=h @travel_claim.staff.addr %></td>
			</tr>
			
			<tr>
				<td>ALAMAT PENGINAPAN</td>
				<td colspan=2 class="filler">&nbsp;</td>
			</tr>
			
			<tr>
				<td>NO GAJI</td>
				<td colspan=2 class="filler">[ Update with Staff Information ]</td> <!--TODO : DO THIS-->
			</tr>
			
			<tr>
				<td>NO AKAUN</td>
				<td colspan=2 class="filler"><%=h check_kin {@travel_claim.staff.bankaccounts.first.account_no} %></td>
			</tr>
			
			<tr>
				<td>NAMA BANK</td>
				<td colspan=2 class="filler"><%=h check_kin {@travel_claim.staff.bankaccounts.first.bank.long_name} %></td>
			</tr>
			
			<tr>
				<td>EMAIL</td>
				<td colspan=2 class="filler"><%=h @travel_claim.staff.coemail %></td>
			</tr>
			
			<tr>
				<td>NO TELEFON BIMBIT</td>
				<td colspan=2 class="filler"><%=h @travel_claim.staff.phonecell %></td>
			</tr>
		
		
	</table>
	
	</div>

</div>	
<P CLASS="breakhere">
<% for travel_request in @travel_claim.travel_requests %>
<div class="A4potrait_paged">

<div id="title">	 
	<H3></H3>
	<H3></H3>
	<H3>SENARAI TUNTUTAN</H3>
	<BR>
	
<div id="tprintreport">
	
	<table width=100% border=2 cellspacing=0 align="center" >
		<tr>
			<th colspan="6" >KENYATAAN TUNTUTAN</th>
		</tr>
		<tr align="center">
			<th rowspan="2">Tarikh</th>	
			<th colspan="2">Waktu</th>
			<th rowspan="2">Tujuan/Tempat</th>
			<th rowspan="2">Jarak (Km) </th>
			<th rowspan="2">Tambang (RM)</th>
		</tr>
		<tr>
			<th>Bertolak</th>
			<th>Sampai</th>
		</tr>
		<!-- Travel Details -->
		
		<!--4Jan2013-change display-->
		<tr class="grey2">
			<td colspan="6">
					TUJUAN<br>
					No. Rujukan : <%=h travel_request.document.refno %> bertarikh <%=h travel_request.document.letterdt %><br>
					Tajuk       : <%=h travel_request.document.title %><br>
					Tarikh      :<%=h travel_request.depart_at.strftime("%d/%m/%Y") %>-<%=h travel_request.return_at.strftime("%d/%m/%Y") %>
					<%#=h travel_request.destination %>
					
			</td>
		</tr>
		<!--4Jan2013-change display-->
		
				<% for travel_claim_log in TravelClaimLog.find(:all, :conditions => ['travel_request_id =?', travel_request.id ]) %>

					<tr>
						<td><%= travel_claim_log.travel_on.strftime("%d/%m/%Y")%><BR><%= travel_claim_log.travel_on.strftime("(%A)")%></td>
						<td align='center'><%= travel_claim_log.start_at.strftime("%l:%M%p") %></td>
						<td align='center'><%= travel_claim_log.finish_at.strftime("%l:%M%p") %></td>
						<td align='center'><%= travel_claim_log.destination %></td>
						<td align='right'><%= travel_claim_log.mileage %></td>
						<td align='right'><%= ringgols(travel_claim_log.km_money) %></td>
					</tr>

				<% end %>
		<tr>
			<td colspan=4>Totals</td>
			<td align='right'><%= travel_request.log_mileage %></td>
			<td align='right'><%= ringgols(travel_request.log_fare) %></td>
		</tr>
		
		
		<tr>
			<td colspan=4>Total KM</td>
			<td align='right'><%= @travel_claim.total_mileage %></td>
			<td align='right'><%= ringgols(@travel_claim.total_km_money) %></td>
		</tr>
	</table>
	
	<p>Nota : </p>
	<p>Ruangan 'JARAK' : Nyatakan jarak km bagi membawa kenderan sendiri sahaja <BR/>
		 Ruangan 'JUMLAH': Nyatakan jumlah tambang taksi sahaja
	
	</div>	</div></div></P></form>
	<P CLASS="breakhere">
		
	<% end %>
	<div class="A4potrait_paged">
		<div id="tprintreport">
<BR>
	<table width=100% border=1px cellspacing=0 align="center">
		<tr class="grey">
			<td colspan=7>TUNTUTAN ELAUN PERJALANAN KENDERAAN</td>
		</tr>
		<tr>
			<td colspan=7>Bagi</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>500 km pertama</td>
			<td align=right><%= @travel_claim.km500 %></td>
			<td>km x </td>
			<td align=right><%= @travel_claim.sen_per_km500 %></td>
			<td>sen/km :</td>
			<td class="money"><%= ringgols(@travel_claim.value_km500) %></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>501 km - 1,000 km</td>
			<td align=right><%= @travel_claim.km1000 %></td>
			<td>km x </td>
			<td align=right><%= @travel_claim.sen_per_km1000 %></td>
			<td>sen/km :</td>
			<td class="money"><%= ringgols(@travel_claim.value_km1000) %></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>1,001 km - 1,700 km</td>
			<td align=right><%= @travel_claim.km1700 %></td>
			<td>km x </td>
			<td align=right><%= @travel_claim.sen_per_km1700 %></td>
			<td>sen/km :</td>
			<td class="money"><%= ringgols(@travel_claim.value_km1700) %></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>1,701 km dan seterusnya</td>
			<td align=right><%= @travel_claim.kmmo %></td>
			<td>km x </td>
			<td align=right><%= @travel_claim.sen_per_kmmo %></td>
			<td>sen/km :</td>
			<td class="money"><%= ringgols(@travel_claim.value_kmmo) %></td>
		</tr>
		<tr>
			<td colspan=6 align=right><strong>Jumlah</strong></td>
			<td class="money"><strong><%= ringgols(@travel_claim.value_km) %></strong></td>
		</tr>

		
	</table>
	<BR>
	
	<!--Tuntutan Elaun -- >
	<table  width=100% border=1px cellspacing=0 align="center" >
		<tr>
			<th>TUNTUTAN ELAUN PERJALANAN KENDERAAN</th>
		</tr>
		<tr>
			<td>
		  <table>
					<tr>
					  <td rowspan="5">Bagi</td>
					</tr>
					<tr>
					  <td>500 km pertama</td>
					  <td></td>
					  <td>km x</td>
					  <td></td>
					  <td>sen/km:</td>
					  <td></td>
					</tr>

					<tr>
					  <td>501 km - 1,000 km</td>
					  <td></td>
					  <td>km x</td>
					  <td></td>
					  <td>sen/km:</td>
					  <td></td>
					</tr>

					<tr>
					  <td>1,001 - 1,700 km</td>
					  <td></td>
					  <td>km x</td>
					  <td></td>
					  <td>sen/km:</td>
					  <td></td>
					</tr>

					<tr>
					  <td>1,701 km dan seterusnya</td>
					  <td></td>
					  <td>km x</td>
					  <td></td>
					  <td>sen/km:</td>
					  <td></td>
					</tr>

				<tr>
					<td colspan="5"></td>
					<td><b>JUMLAH: </b></td>
					<td></td>
				</tr>
			</table>
		</td>
		</tr>
	</table>
	<BR>
		
	<!-- Tuntutan Tambang Awam -->
	<table width=100% border=1px cellspacing=0 align="center">
		<tr>
			<th>TUNTUTAN TAMBANG PENGANGKUTAN AWAM</th>
		</tr>
		<tr> <!--HACK :  Make these into DIVs, content can be in tables-->
		<td>
				<table>
					<tr>
						<td>Teksi</td>
						<td>[Resit : <%= 	@travel_claim.taxi_receipts %>]:</td>
						<td class="money"><%= ringgols(@travel_claim.taxi_receipts_total) %></td>
					</tr>
					<tr>
						<td>Bus</td>
						<td>[Resit : <%= 	@travel_claim.bus_receipts %>]:</td>
						<td class="money"><%= ringgols(@travel_claim.bus_receipts_total) %></td>
					</tr>
					<tr>
						<td>Kereta Api</td>
						<td>[Resit : <%= 	@travel_claim.train_receipts %>]:</td>
						<td class="money"><%= ringgols(@travel_claim.train_receipts_total) %></td>
					</tr>
					<tr>
						<td>Feri</td>
						<td>[Resit : <%= 	@travel_claim.ferry_receipts %>]:</td>
						<td class="money"><%= ringgols(@travel_claim.ferry_receipts_total) %></td>
					</tr>
					<tr>
						<td>Kapal Terbang</td>
						<td>[Resit : <%= 	@travel_claim.plane_receipts %>]:</td>
						<td class="money"><%= ringgols(@travel_claim.plane_receipts_total) %></td>
					</tr>
				   <tr>
						 <td colspan="2" align="right"><b>JUMLAH:</b></td>
						 <td class="money"><b><%= ringgols(@travel_claim.public_transport_totals) %></b></td>
				   </tr>
				</table>
		</td>
		</tr>
	</table>
	<BR>
		
	<!-- Tuntutan Elaun Makan -->
	<table width=100% border=1px cellspacing=0 align="center">
		<tr>
			<th>TUNTUTAN ELAUN MAKAN/ELAUN HARIAN</th>
		</tr>
		<tr>
		 <td>
			  <table>
					<% for travel_claim_allowance in @travel_claim.travel_claim_allowances.find(:all, :conditions => ['expenditure_type IN (?)', [21,22,23] ]) %>
					<tr>
						<td style="text-align:right;"><%= number_with_precision(travel_claim_allowance.quantity, :precision => 0) %> X </td>
						<td><%= travel_claim_allowance.allow_expend_type %> sebanyak</td>
						<td><%= ringgols(travel_claim_allowance.amount) %>/Hari</td>
						<td class="money"><%= ringgols(travel_claim_allowance.total) %></td>
					</tr>
					<% end %>
					<tr>
						 <td colspan="3" align="right"><b>JUMLAH:</b></td>
						 <td class="money"><b><%= ringgols(@travel_claim.allowance_totals) %></b></td>
					</tr>
			  </table>
		 </td>
		</tr>
	</table>
	<BR>
		
	<!-- Sewa Hotel -->
	<table width=100% border=1px cellspacing=0 align="center">
		<tr>
			<th>TUNTUTAN BAYARAN SEWA HOTEL(BSH) / ELAUN LOJING</th>
		</tr>
		<tr>
		<td>
				<table>
					<% for travel_claim_allowance in @travel_claim.travel_claim_allowances.find(:all, :conditions => ['expenditure_type IN (?)', [31,32,33] ], :order => 'expenditure_type') %>
					<tr>
						<td style="text-align:right;"><%= number_with_precision(travel_claim_allowance.quantity, :precision => 0) %> X </td>
						<td><%= travel_claim_allowance.allow_expend_type %> Sebanyak</td>
						<td><%= ringgols(travel_claim_allowance.amount) %>/Hari</td>
						<td class="money"><%= ringgols(travel_claim_allowance.total) %></td>
					</tr>
					<% end %>
					<tr>
						 <td colspan="3" align="right"><b>JUMLAH:</b></td>
						 <td class="money"><b><%= ringgols(@travel_claim.hotel_totals) %></b></td>
					</tr>
				</table>
		</td>
		</tr>
	</table>
	<BR>
		
	<!-- Tuntutan Pelbagai -->
	<table width=100% border=1px cellspacing=0 align="center">	
		<tr>
			<th>TUNTUTAN PELBAGAI</th>
		</tr>
		<tr>
			<td>
					<table>
						<tr>
							<td>Tol</td>
							<td>[Resit : <%= 	@travel_claim.toll_receipts %>]:</td>
							<td class="money"><%= ringgols(@travel_claim.toll_receipts_total) %></td>
						</tr>
						<tr>
							<td>Tempat Letak Kereta</td>
							<td>[Resit : <%= 	@travel_claim.parking_receipts %>]:</td>
							<td class="money"><%= ringgols(@travel_claim.parking_receipts_total) %></td>
						</tr>
						<tr>
							<td>Dobi</td>
							<td>[Resit : <%= 	@travel_claim.laundry_receipts %>]:</td>
							<td class="money"><%= ringgols(@travel_claim.laundry_receipts_total) %></td>
						</tr>
						<tr>
							<td>Pos</td>
							<td>[Resit : <%= 	@travel_claim.pos_receipts %>]:</td>
							<td class="money"><%= ringgols(@travel_claim.pos_receipts_total) %></td>
						</tr>
						<tr>
							<td>Telefon, Teleks, Faks</td>
							<td>[Resit : <%= 	@travel_claim.comms_receipts %>]:</td>
							<td class="money"><%= ringgols(@travel_claim.comms_receipts_total) %></td>
						</tr>
						<tr>
							<td colspan="2">Kerugian pertukaran matawang asing (@ 3%) <BR/>[Bagi Singapura, Selatan Thailand, Kalimantan dan Brunei Darussalam sahaja]</td>
							<td class="money"><%= ringgols(@travel_claim.exchange_loss_totals) %></td>
						</tr>
						<tr>
							<td colspan="2" align="right"><b>JUMLAH</b></td>
						 	<td class="money"><b><%= ringgols(@travel_claim.other_claims_total) %></b></td>
						</tr>
						<tr>
							<td colspan="2" align="right"><b>JUMLAH BESAR</b></td>
						 	<td class="money"><b><%= ringgols(@travel_claim.total_claims) %></b></td>
						</tr>
				</table>
			</td>
		</tr>
	</table>
  <BR>
	
	<!-- Pengakuan -->
	<table width=100% border=1px cellspacing=0 align="center" >
		<tr>
			<th>PENGAKUAN</th>
		</tr>
		<tr>
			<td>
					<table border=0>
							<tr>
								<td colspan="2">Saya mengaku bahawa:</td>
							</tr>
							<tr>
								<td>(a)</td>
								<td>Perjalanan pada tarikh-tarikh tersebut adalah benar dan telah dibuat atas urusan rasmi;</td>
							</tr>
							<tr>
								<td>(b)</td>
								<td>Tuntutan ini dubuat mengikut kadar dan syarat seperti yang dinyatakan dibawah peraturan-peraturan bagi pegawai bertugas rasmi dan/atau pengawai berkrusus yang berkuatkuasa semasa;</td>
							</tr>
							<tr>
								<td>(c)</td>
								<td>Perbelanjaan yang bertanda (*) berjumlah sebanyak <SPAN class="filler"><%= ringgols(@travel_claim.total_claims) %></SPAN> telah sebenarnya dilakukan dan dibayar  oleh saya ;</td>
							</tr>
							<tr>
								<td>(d)</td>
								<td>Panggilan telefon sebanyak <%= ringgols(@travel_claim.comms_receipts_total) %> dibuat atas urusan rasmi; dan </td>
							</tr>
							<tr>
								<td>(e)</td>
								<td>Butir-butir seperti yang dinyatakan di atas adalah benar dan saya bertanggungjawab terhadapnya</td>
							</tr>
							<tr>
							<td colspan="2"><b>Tarikh: <%= @travel_claim.submitted_on.strftime("%d-%m-%Y") unless @travel_claim.submitted_on.blank? %></b></td>
							</tr>
							<tr>
							<td colspan="2" align="right">  <%=h @travel_claim.staff.name %> <BR/>  <%=h @travel_claim.staff.position.name %></td>
							</tr>
					</table>
			</td>
		</tr>
	</table>
	<BR>
		
	<!-- Pengesahan -->
	<table  width=100% border=1px cellspacing=0 align="center" >
		<tr>
			<th>PENGESAHAN</th>
		</tr>
		<tr>
			<td>
				<table>
						<tr>
							<td>Adalah disahkan bahawa perjalanan tersebut adalah atas urusan rasmi</td>
						</tr>
						<tr>
							<td>Tarikh: <%=h tarikh(@travel_claim.approved_on) %></td>
						</tr>
						<tr>
							<td>Nama: <%=h check_kin {@travel_claim.approver.name} %></td>
						</tr>
						<tr>
							<td>Jawatan: <%=h check_kin {@travel_claim.approver.position.name} %></td>
						</tr>
			  </table>
	    </td>
	  </tr>
	</table>
	<BR>

	<!-- Pendahuluan Diri -->	
	<table  width=100% border=1px cellspacing=0 align="center" >
		<tr>
			<th>PENDAHULUAN DIRI (jika ada)</th>
		</tr>
		<tr>
		<td>
				<table>
					<tr>
						<td>Pendahuluan Diri diberi</td>
						<td class="money"><%=h @travel_claim.advance? ? ringgols(@travel_claim.advance) : "RM 0.00" %></td>
					</tr>
					<tr>
						<td>Tolak: Tuntutan sekarang</td>
						<td class="money"><%= ringgols(@travel_claim.total_claims) %></td>
					</tr>
					<tr>
						<td>Baki dituntut/Baki dibayar balik</td>
						<td class="money"><%= ringgols(@travel_claim.to_be_paid) %></td>
					</tr>
				</table>
	    </td>
	  </tr>
	</table>
	<BR><BR>
	
</div>
</fieldset>
</div>
</form>
</div>