<% form_for(@travel_claim) do |f| %>
  <%= f.error_messages %>

	<div class="tform">
		<% if @travel_claim.staff_id == User.current_user.staff_id && (@travel_claim.is_submitted != true || (@travel_claim.is_submitted == true && @travel_claim.is_returned == true)) %>
		<H2>Edit travel claims for <%=h @travel_claim.claim_month.strftime("%B %Y") %> 
			<div class="right"><%=h @travel_claim.staff.name %></div></H2> 
			<%=render :partial => 'form', :locals => {:f => f} %> 
		<% end %>
		
		<% if @travel_claim.approved_by == User.current_user.staff_id %>
				<H2>Approving travel claims for <%=h @travel_claim.staff.name %>  -  <%=h @travel_claim.claim_month.strftime("%B %Y") %> </H2>
    		<%=render :partial => 'show_main', :locals => {:f => f} %> 
				<%= render :partial => 'approval', :locals => {:f => f} %>

				
		<% end %>
		
		
		
	</div><BR/>
  <p>
		<% if @travel_claim.approved_by == User.current_user.staff_id %>
		 <%= f.submit 'Process' %>
		<% else %>
    	<%= f.submit 'Update' %>
		<% end %>
  </p>
<% end %>

<%= link_to 'Show', @travel_claim %> |
<%= link_to 'Back', travel_claims_path %>