<% form_for(@travel_claim) do |f| %>
  <%= f.error_messages %>

	<div class="tform">
		<% if @travel_claim.my_claim_status == "editing" || @travel_claim.my_claim_status == "returned" %>
		<H2><%= t 'claim.edit_travel_claim' %> <%=h @travel_claim.claim_month.strftime("%B %Y") %> 
			<!--4Jan2013-just for title-->
			<% if @travel_claim.my_claim_status == "returned" %>- Returned for Amendment<% end %>
			<!--4Jan2013-just for title-->
			<div class="right"><%=h @travel_claim.staff.name %></div></H2> 
			<%=render :partial => 'form', :locals => {:f => f} %> 
		<% end %>
		
		<% if @travel_claim.approved_by == Login.current_login.staff_id %>
				<H2><%= t 'claim.approving_travel_claim' %> <%=h @travel_claim.staff.name %>  -  <%=h @travel_claim.claim_month.strftime("%B %Y") %> </H2>
    		<%=render :partial => 'show_main', :locals => {:f => f} %> 
				<%= render :partial => 'approval', :locals => {:f => f} %>

				
		<% end %>
		
		<!--4Jan2013-just add-in fieldset-->
		<% if @travel_claim.my_claim_status == "returned" %>
		<fieldset><legend><%= t 'claim.note_from_finance' %></legend>
		<p><%=h @travel_claim.notes %> </p>
		</fieldset>
		<% end %>
		<!--4Jan2013-just add-in fieldset-->
		
		
		
		
	</div><BR/>
  <p>
		<% if @travel_claim.approved_by == Login.current_login.staff_id %>
		 <%= f.submit 'Process' %>
		<% else %>
    	<%= f.submit 'Update' %>
		<% end %>
  </p>
<% end %>

<%= link_to 'Show', @travel_claim %> |
<%= link_to 'Back', travel_claims_path %>