<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left"><%= t 'claim.list' %></h2>
	</div>
</div>
<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => (t 'claim.new_travel_claim')) + (t 'claim.new_travel_claim'), new_travel_claim_path %></p>
</div>
<BR><BR>
<div class="indextable">
	<table width=90% border="0" cellpadding="0" cellspacing="0">
	  <tr>
		<th><%= t 'claim.claimsmonth' %></th>
		<th><%= t 'claim.staff_name' %></th>
		<th ><%= t 'claim.total' %></th>
		<th><%= t 'claim.status' %></th>
		<th colspan=5 class="ac"><%= t 'control' %></th>
  	</tr>
	<% @travel_claims.each do |travel_claim| %>
  	<tr>
		<td><%=h l(travel_claim.claim_month, :format=>"%B %Y") unless travel_claim.claim_month.blank? %></td>
		<td><%=h travel_claim.staff.name unless travel_claim.staff.blank? %></td>
		<td ><%=h ringgols(travel_claim.total_claims) %></td>
		<td><%=h travel_claim.my_claim_status.titleize %></td>	    
		<td width=10px><%= link_to image_tag("document.png", :border => 0,:title=>(t 'show')), :action => 'show', :id => travel_claim %></td>
			<!--HACK : Refactor status code into model, use status to determine show or actions-->
		<td width=10px>
			<% if travel_claim.my_claim_status == t('staffleave.editing') || travel_claim.my_claim_status == t('staffleave.returned') %>
				<%= link_to image_tag("edit.png", :border => 0, :title=>(t 'edit')), :action => 'edit', :id => travel_claim %>
			<% end %></td>
		<td width=10px><!--4Jan2013 - add in condition :|| travel_claim.my_claim_status == "amended and resubmit for finance check" -->
			<%# if travel_claim.my_claim_status == "for checking" || travel_claim.my_claim_status == "amended and resubmit for finance check" %>
			<% if travel_claim.my_claim_status == t('staffleave.for_checking') || travel_claim.my_claim_status == t('staffleave.resubmitted_to_finance') %>
				<%= link_to image_tag("joystick_error.png", :border => 0,:title=>(t 'staffleave.finance_check')), :action => 'check', :id => travel_claim %>
			<% end %></td>
		<td width=10px >
			<%# if travel_claim.my_claim_status ==  (t('staffleave.processed') || t('staffleave.approved')) %>
				<%#= link_to image_tag("printer.png", :border => 0,:title=>(t 'print')), :action => 'claimprint', :id => travel_claim %>
			<%# else %>
			<% permitted_to? :claimprint, :travel_claims do %>
				<% if travel_claim.is_checked==true && travel_claim.checked_on !=nil%>
					<%= link_to image_tag("printer.png", :border => 0,:title=>(t 'print')), :action => 'claimprint', :id => travel_claim %>
				<% end %>
			<% end %>
			<%# end %>	
		</td>
		<td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => (t 'delete')), travel_claim, :confirm => (t 'are_you_sure'), :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
</div>

<br />
<%= link_to (t 'claim.new_travel_claim'), new_travel_claim_path %>