<% form_for(@travel_claim) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2>New Travel Claims</H2>
		<% @my_approved_unclaimed_requests = TravelRequest.find(:all, :conditions => ['staff_id =? AND hod_accept=?', User.current_user.staff_id, true])%>
		<% if @my_approved_unclaimed_requests.count < 1 %>
		You have no approved travel requests for processing
		</div>
		<% else %> 
				<table>
					<tr>
						<td class="leftcol"><label for="claimsmonth"><b>Claims For</b></label></td>
						<td><%= f.date_select :claim_month,  :order => [:month, :year], :default => 1.month.ago.beginning_of_month %> </td>
					</tr>

					<tr>
						<td class="leftcol"><label for="staff_id"><b>Staff Name:</b></label></td>
						<td><%= f.collection_select :staff_id, Staff.find(:all, :conditions => ["id = ?", current_user.staff_id]), :id, :name %></td>
					</tr>
				</table><BR/>
				<%=render :partial => 'form', :locals => {:f => f} %> 
		
		</div><BR/>




  <p>
    <%= f.submit 'Create' %>
  </p>

	<% end %>
<% end %>

<%= link_to 'Back', travel_claims_path %>