<h1>Editing staffclassification</h1>

<% form_for(@staffclassification) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @staffclassification %> |
<%= link_to 'Back', staffclassifications_path %>