
<p>
  <%= f.label :is_discarded %><br />
  <%= f.check_box :is_discarded %>
</p>
<p>
  <%= f.label :discarded_on %><br />
  <%= f.date_select :discarded_on %>
</p>
<p>
  <%= f.label :discard_location %><br />
  <%= f.text_field :discard_location %>
</p>
<p>
  <%= f.label :discard_witness_1 %><br />
  <%= f.text_field :discard_witness_1 %>
</p>
<p>
  <%= f.label :discard_witness_2 %><br />
  <%= f.text_field :discard_witness_2 %>
</p>