<table width=85% >
			<tr>
				<td class="leftcol"><label for="asset_id">Asset Condition</label></td>
				<td><%= f.text_field :current_condition %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="usage"><label>Usage</label></td>
				<td><%= f.text_field :running_hours, :placeholder => 'Running Hours' %>   <BR/>   
					  <%= f.text_field :mileage, :placeholder => 'Mileage (km)' %> </td>
			</tr>
			<tr>
				<td class="leftcol"><label for="usage"><%= t 'asset.disposal.currentvalue' %></label></td>
				<td><label><%= f.text_field :current_value, :placeholder => 'RM'  %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="usage">Estimated Repair Cost</label></td>
				<td><label><%= f.text_field :est_repair_cost, :placeholder => 'RM'  %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="usage">Estimated Value After Repair</label></td>
				<td><label><%= f.text_field :est_value_post_repair, :placeholder => 'RM'  %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="usage">Estimated Time To Next Failure</label></td>
				<td><label><%= f.text_field :est_time_next_fail, :placeholder => 'months'  %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="usage">Repair Needed</label></td>
				<td><label>	1. <%= f.text_field :repair1_needed %> <BR/>
										2. <%= f.text_field :repair2_needed %> <BR/>
										3. <%= f.text_field :repair3_needed %></label></td>
			
			</tr>
			
			<tr>
				<td class="leftcol"><label for="usage">Justification For Disposal</label></td>
				<td><label>	1. <%= f.text_field :justify1_disposal %> <BR/>
										2. <%= f.text_field :justify2_disposal %> <BR/>
										3. <%= f.text_field :justify3_disposal %></label></td>
			
			</tr>
			<tr>
			  <td class="leftcol"><label for="is_checked">Checked By</label></td>
				<td><%= f.check_box :is_checked, :id => 'is_checked' %>
						<SPAN class="span_is_checked" style="display: none;"><%= f.date_select :checked_on, :order => [:day, :month, :year], :default => Date.today %></SPAN></td>
			</tr>
			
			<tr class="span_is_checked" style="display: none;">
				<td class="leftcol"><label for="processed_by">Name</label></td>
				<td><%= f.collection_select :checked_by, Staff.find(:all, :conditions => ["id = ?", current_user.staff_id]), :id, :staff_name_with_position %></td>
			</tr>
			
			<% bosses = User.current_user.staff.position.ancestor_ids %>
			<% myhod = Position.find(:all, :conditions => ['id IN (?)', bosses ], :select => :staff_id).map(&:staff_id) %>
			<tr class="span_is_checked" style="display: none;">
				<td class="leftcol"><label for="approved_date">Verified By</label></td>
		    <td><%= f.collection_select :verified_by, Staff.find(:all, :conditions => ['id IN (?)', myhod]), :id, :name %></td>
			</tr>	
</table>


<script type="text/javascript">
	$j(document).ready(function(){
			//show submit date

			$j("input[id='is_checked']").change(function() {  
			 if($j('#is_checked').is(':checked')) { 
			    $j(".span_is_checked").show("highlight"); 
			 }else		{
			    $j(".span_is_checked").hide(""); 
			 }	
			});

			$j("input[id='is_checked']").each(function() {  
			 if($j('#is_checked').is(':checked')) { 
			    $j(".span_is_checked").show("highlight"); 
			 }else		{
			    $j(".span_is_checked").hide(""); 
			 }	
			});

	});
</script>
		
	  
