<fieldset>
	<legend class='togvis'>Disposal Asset Details</legend>
		<table width=85% >
				<tr>
					<td class="leftcol"><label>Asset Registration No</label></td>
					<td><%=h @asset_disposal.asset.assetcode %></td>				
				</tr>
				
				<tr>
					<td class="leftcol"><label>Asset Details</label></td>
					<td>	<%=h @asset_disposal.asset.typename %> -   
								<%=h @asset_disposal.asset.name %>  -  
								<%=h @asset_disposal.asset.modelname %></td>
				</tr>
				
				<tr>
					<td class="leftcol"><label>Age</label></td>
					<td><%=h @asset_disposal.age %> days</td>				
				</tr>
				
				<tr>
					<td class="leftcol"><label>Serial No</label></td>
					<td><%=h @asset_disposal.asset.serialno %></td>
				</tr>
				
				<% if @asset_disposal.asset.category_id == 3 %>
				<tr>
					<td class="leftcol"><label>Serial No</label></td>
					<td><%=h @asset_disposal.asset.engine_no %></td>
				</tr>
			 <% end%>
				
				<tr>
					<td class="leftcol"><label>Usage</label></td>
					<td><%=h @asset_disposal.running_hours %> Hrs AND/OR <%=h @asset_disposal.mileage %> km</td>
				</tr>
				
				<tr>
					<td class="leftcol"><label for="usedduration"><b><%= t 'asset.disposal.usedduration' %> :</b></label></td>
					<td><%=h @asset_disposal.age %> days</td>
				</tr>
				<tr>
					<td class="leftcol"><label for="current_condition"><b>Current Condition:</b></label></td>
					<td><%=h @asset_disposal.current_condition %></td>
				</tr>
				
				<tr>
					<td class="leftcol"><label for="current_value"><b>Current Value:</b></label></td>
					<td><%=h ringgols(@asset_disposal.current_value) %></td>
				</tr>
				<tr>
					<td class="leftcol"><label for="est_repair_cost"><b>Estimated Repair Cost</b></label></td>
					<td><%=h ringgols(@asset_disposal.est_repair_cost) %></td>
				</tr>
				<tr>
					<td class="leftcol"><label for="est_value_post_repair"><b>Estimated Value After Repair</b></label></td>
					<td><%=h ringgols(@asset_disposal.est_value_post_repair) %></td>
				</tr>
				<tr>
					<td class="leftcol"><label for="est_value_post_repair"><b>Estimated Time to Next Failure if repaired (Months)</b></label></td>
					<td><%=h @asset_disposal.est_time_next_fail %> Months</td>
				</tr>
				
				<tr>
					<td class="leftcol"><label for="usage">Repair Needed</label></td>
					<td><label>	1. <%=h @asset_disposal.repair1_needed %> <BR/>
											2. <%=h @asset_disposal.repair2_needed %> <BR/>
											3. <%=h @asset_disposal.repair3_needed %></label></td>

				</tr>

				<tr>
					<td class="leftcol"><label for="usage">Justification For Disposal</label></td>
					<td><label>	1. <%=h @asset_disposal.justify1_disposal %> <BR/>
											2. <%=h @asset_disposal.justify2_disposal %> <BR/>
											3. <%=h @asset_disposal.justify3_disposal %></label></td>

				</tr>
		
				<tr>
				  <td class="leftcol"><label for="is_checked"><!--Is Checked-->Lembaga Pemeriksa</label></td>
					<td>1. <%#=h @asset_disposal.is_checked? ? @asset_disposal.processor.name.to_s : @asset_disposal.examiner1 %>
					<%=h @asset_disposal.is_staff1? ? @asset_disposal.inspect1or.name.to_s : @asset_disposal.examiner1 %><!--inspector-relationship-->
					</td>
				</tr>
				
				<tr>
				  <td class="leftcol"><label for="is_checked"><!--Is Verified-->&nbsp;</label></td>
					<td>2. <%#=h @asset_disposal.is_verified? ? @asset_disposal.verifier.name.to_s : @asset_disposal.examiner2 %>
					<%=h @asset_disposal.is_staff2? ? @asset_disposal.inspect2or.name.to_s : @asset_disposal.examiner2 %>
					</td>
				</tr>
				
		</table>
</fieldset>