<fieldset>
	<legend class='togvis'>Disposal Details</legend>
		<table width=85% >
				<tr>
					<td class="leftcol"><label>Approval</label></td>
					<td><%=h check_kin {@asset_disposal.document.refno}   %>: <%=h check_kin {@asset_disposal.document.title} %> dated <%=h check_kin {@asset_disposal.document.letterdt} %></td>				
				</tr>
				
				<tr>
					<td class="leftcol"><label>Disposed</label></td>
					<td><%=h @asset_disposal.disposal_type.try(:titleize) %></td>				
				</tr>
				
							<% if @asset_disposal.disposal_type == "transfer" %>
							<tr>
								<td class="leftcol"><label>Transferred To</label></td>
								<td><%=h @asset_disposal.receiver_name %></td>				
							</tr>
				
							<% elsif @asset_disposal.disposal_type == "sold" %>
							<tr>
								<td class="leftcol"><label>Receipt No</label></td>
								<td><%=h @asset_disposal.documentation_no %></td>				
							</tr>
				
							<% elsif @asset_disposal.disposal_type == "discard" %>
							<tr>
								<td class="leftcol"><label>Method</label></td>
								<td><%=h @asset_disposal.discard_options.titleize %> at <%=h @asset_disposal.discard_location %> on <%=h l(@asset_disposal.discarded_on) %></td>			
							</tr>
							<tr>
								<td class="leftcol"><label>Witnessed By</label></td>
								<td>
									<%#=h @asset_disposal.discardw1tness.staff_name_with_position %>
									<%=h @asset_disposal.witness_is_staff1? ? @asset_disposal.discardw1tness.name.to_s : @asset_disposal.witness_outsider1 %> AND 
									<%#=h @asset_disposal.discardw2tness.staff_name_with_position %>
									<%=h @asset_disposal.witness_is_staff2? ? @asset_disposal.discardw2tness.name.to_s : @asset_disposal.witness_outsider2 %>
								</td>			
							</tr>
				
							<% elsif @asset_disposal.disposal_type == "stock" %>
				
							<% elsif @asset_disposal.disposal_type == "others" %>
							<tr>
								<td class="leftcol"><label>Method</label></td>
								<td><%=h @asset_disposal.type_others_desc.titleize %></td>			
							</tr>	
							<% end %>
				
				<tr>
					<td class="leftcol"><label>Confirmed By</label></td>
					<td><%=h check_kin {@asset_disposal.disposer.staff_name_with_position} %> On <%=h tarikh(@asset_disposal.disposed_on) %></td>			
				</tr>
				
				
				
		</table>
</fieldset>