<% form_for(@asset_disposal) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<%= render :partial => 'show_process' %>
		<H2>Disposal</H2>
		<table width=85% >
				<tr>
					<td class="leftcol"><label for="document_id">Approval Document</label></td>
					<td><%= f.collection_select :document_id, Document.find(:all), :id, :refno %></td>
				</tr>
			
				<tr>
					<td class="leftcol"><label for="disposal_type">Disposal Type</label></td>
					<td><%= f.radio_button :disposal_type, "transfer",:id => 'button_transfer',:class => 'radio_disposal_type' %><label> Transfer &nbsp; 
							<%= f.radio_button :disposal_type, "sold", 		:id => 'button_sold',  	 :class => 'radio_disposal_type' %> Sold &nbsp; 
							<%= f.radio_button :disposal_type, "discard", :id => 'button_discard', :class => 'radio_disposal_type' %> Dispose &nbsp; 
							<%= f.radio_button :disposal_type, "stock", 	:id => 'button_stock',   :class => 'radio_disposal_type' %> Stock &nbsp; 
							<%= f.radio_button :disposal_type, "others",  :id => 'button_others',  :class => 'radio_disposal_type' %> Others &nbsp; </label>
							<SPAN class="others_item" style="display: none;"><%= f.text_field :type_others_desc, :placeholder => "Describe" %></td>
				</tr>
				
				<tr class="transfer_item" style="display: none;">
					<td class="leftcol"><label for="disposed_by">Transferred To</label></td>
					<td><%= f.text_field :receiver_name %></td>
				</tr>
				
				<tr class="sold_item" style="display: none;">
					<td class="leftcol"><label for="disposed_by">Receipt No</label></td>
					<td><%= f.text_field :documentation_no %></td>
				</tr>
				
				<tr class="discard_item" style="display: none;">
					<td class="leftcol"><label for="disposed_by">Receipt No</label></td>
					<td><%= f.radio_button :discard_options, "bury",	:id => 'button_bury',  :class => 'radio_discard_options' %><label> Bury &nbsp; 
							<%= f.radio_button :discard_options, "burn", 	:id => 'button_burn',  :class => 'radio_discard_options' %> Burn &nbsp; 
							<%= f.radio_button :discard_options, "throw", :id => 'button_throw', :class => 'radio_discard_options' %> Throw &nbsp; 
							<%= f.radio_button :discard_options, "sink", 	:id => 'button_sink',  :class => 'radio_discard_options' %> Sink &nbsp;</label></td>
				</tr>
				<tr class="discard_item" style="display: none;">
					<td class="leftcol"><label for="disposed_by">Location</label></td>
					<td><%= f.text_field :discard_location %></td>
				</tr>
				<tr class="discard_item" style="display: none;">
					<td class="leftcol"><label for="disposed_by">Date</label></td>
					<td><%= f.date_select :discarded_on, :order => [:day, :month, :year], :default => Date.today %></td>
				</tr>
				<tr class="discard_item" style="display: none;">
					<td class="leftcol"><label for="disposed_by">Witness 1 (Tick & select if STAFF)</label></td>
					<td>
					<!--witness number 1 - 14 dec 2012-->		
						<%= f.check_box :witness_is_staff1, :id => 'witness_is_staff1' %> 
						<%#= f.check_box :witness_is_staff1, :id => 'witness_is_staff1' %> 
						
						<span class="span_wstaff1_off" style="display: none;">
							<%= f.text_field :witness_outsider1 %>
						</span>
						
						<span class="span_wstaff1_on" style="display: none;">
							<% if @asset_disposal.discard_witness_1.blank? || @asset_disposal.discard_witness_1.to_s.nil?%>
								<%= select_tag "asset_disposal[discard_witness_1]","<option value=''>"+'Please select'+"</option>"+options_from_collection_for_select(Staff.find(:all), :id, :staff_name_with_position) %>
							<% else %>
								<%= select_tag "asset_disposal[discard_witness_1]","<option value='"+@asset_disposal.discard_witness_1.to_s+"'>" +Staff.find(@asset_disposal.discard_witness_1).staff_name_with_position+"</option>"+options_from_collection_for_select(Staff.find(:all), :id, :staff_name_with_position) %>
							<% end %>
						</span>
						<%#= f.collection_select :discard_witness_1, Staff.find(:all), :id, :staff_name_with_position, options ={:prompt => "Select discard witness"} %>
					<!--witness number 1 - 14 dec 2012-->
					</td>
				</tr>
				<tr class="discard_item" style="display: none;">
					<td class="leftcol"><label for="disposed_by">Witness 2 (Tick & select if STAFF)</label></td>
					<td>
					<!--witness number 2 - 14 dec 2012-->
						<%= f.check_box :witness_is_staff2, :id => 'witness_is_staff2' %> 
						<%#= f.check_box :is_staff2, :id => 'is_staff2' %>
						
						<span class="span_wstaff2_off" style="display: none;">
							<%= f.text_field :witness_outsider2 %>
						</span>
						
						<span class="span_wstaff2_on" style="display: none;">
							<% if @asset_disposal.discard_witness_2.blank? || @asset_disposal.discard_witness_2.to_s.nil?%>
								<%= select_tag "asset_disposal[discard_witness_2]","<option value=''>"+'Please select'+"</option>"+options_from_collection_for_select(Staff.find(:all), :id, :staff_name_with_position) %>
							<% else %>
								<%= select_tag "asset_disposal[discard_witness_2]","<option value='"+@asset_disposal.discard_witness_2.to_s+"'>" +Staff.find(@asset_disposal.discard_witness_2).staff_name_with_position+"</option>"+options_from_collection_for_select(Staff.find(:all), :id, :staff_name_with_position) %>
							<% end %>
						</span>
						<%#= f.collection_select :discard_witness_2, Staff.find(:all), :id, :staff_name_with_position, options ={:prompt => "Select discard witness"}  %>
					<!--witness number 2 - 14 dec 2012-->
					</td>
				</tr>
				
				<tr>
					<td class="leftcol"><label for="is_disposed">Send to HOD for viewing</label></td>
					<td><%= f.check_box :is_disposed, :id => 'is_disposed' %></td>
				</tr>
			</table>
	</div>		
	
<p>
  <%= f.submit 'Update' %>
</p>
<% end %>


<%= link_to 'Show', @asset_disposal %> |
<%= link_to 'Back', asset_disposals_path %>


<script type="text/javascript">
	$j(document).ready(function(){ 
	   $j("input[class='radio_disposal_type']").change(function() {  
	     	if($j('#button_transfer').is(':checked')) { 
		       $j(".transfer_item").show("slide");
					 $j(".sold_item").hide("puff");
					 $j(".discard_item").hide("puff");
					 $j(".others_item").hide("puff");
		     }else if ($j('#button_sold').is(':checked')){
			   $j(".transfer_item").hide("puff");
					 $j(".sold_item").show("puff");
					 $j(".discard_item").hide("puff");
					 $j(".others_item").hide("puff");
		     }else if($j('#button_discard').is(':checked')){
		       $j(".transfer_item").hide("puff");
		       $j(".sold_item").hide("puff");
					 $j(".discard_item").show("puff");
					//additional
					 $j(".span_wstaff2_off").show("puff");
					 $j(".span_wstaff2_on").hide("puff");
					 $j(".span_wstaff1_off").show("puff");
					 $j(".span_wstaff1_on").hide("puff");
					//addtional
					 $j(".others_item").hide("puff");
		     }else if ($j('#button_stock').is(':checked')){
		       $j(".transfer_item").hide("puff");
		       $j(".sold_item").hide("puff");
					 $j(".discard_item").hide("puff");
					 $j(".others_item").hide("puff");
	      }else if ($j('#button_others').is(':checked')){
					 $j(".transfer_item").hide("puff");
					 $j(".sold_item").hide("puff");
					 $j(".discard_item").hide("puff");
					 $j(".others_item").show("puff");
		    }
	   });

			$j("input[class='radio_disposal_type']").each(function() {  
		     	if($j('#button_transfer').is(':checked')) { 
			       $j(".transfer_item").show("slide");
						 $j(".sold_item").hide("puff");
						 $j(".discard_item").hide("puff");
						 $j(".others_item").hide("puff");
			     }else if ($j('#button_sold').is(':checked')){
						 $j(".transfer_item").hide("puff");
						 $j(".sold_item").show("puff");
						 $j(".discard_item").hide("puff");
						 $j(".others_item").hide("puff");
			     }else if($j('#button_discard').is(':checked')){
			       $j(".transfer_item").hide("puff");
			       $j(".sold_item").hide("puff");
						 $j(".discard_item").show("puff");
						 $j(".others_item").hide("puff");
			     }else if ($j('#button_stock').is(':checked')){
			       $j(".transfer_item").hide("puff");
			       $j(".sold_item").hide("puff");
						 $j(".discard_item").hide("puff");
						 $j(".others_item").hide("puff");
		      }else if ($j('#button_others').is(':checked')){
						 $j(".transfer_item").hide("puff");
						 $j(".sold_item").hide("puff");
						 $j(".discard_item").hide("puff");
						 $j(".others_item").show("puff");
			    }
		   });
	
			$j("input[id='is_disposed']").change(function() {  
			 if($j('#is_disposed').is(':checked')) { 
			    $j(".span_disposed_on").show("highlight"); 
			 }else		{
			    $j(".span_disposed_on").hide(""); 
			 }	
			});

			$j("input[id='is_disposed']").each(function() {  
			 if($j('#is_disposed').is(':checked')) { 
			    $j(".span_disposed_on").show("highlight"); 
			 }else		{
			    $j(".span_disposed_on").hide(""); 
			 }	
			});
		//-----------------
			//staff2
			$j("input[id='witness_is_staff2']").change(function() {  
			 if($j('#witness_is_staff2').is(':checked')) { 
			    $j(".span_wstaff2_on").show("highlight"); 
				$j(".span_wstaff2_off").hide(""); 
			 }else		{
			    $j(".span_wstaff2_on").hide(""); 
				$j(".span_wstaff2_off").show("highlight"); 
			 }	
			});

			$j("input[id='witness_is_staff2']").each(function() {  
			 if($j('#witness_is_staff2').is(':checked')) { 
			    $j(".span_wstaff2_on").show("highlight"); 
				$j(".span_wstaff2_off").hide(""); 
			 }else		{
			    $j(".span_wstaff2_on").hide(""); 
				$j(".span_wstaff2_off").show("highlight"); 
			 }	
			});
		//--------------------
			//-----------------
				//staff1
				$j("input[id='witness_is_staff1']").change(function() {  
				 if($j('#witness_is_staff1').is(':checked')) { 
				    $j(".span_wstaff1_on").show("highlight"); 
					$j(".span_wstaff1_off").hide(""); 
				 }else		{
				    $j(".span_wstaff1_on").hide(""); 
					$j(".span_wstaff1_off").show("highlight"); 
				 }	
				});

				$j("input[id='witness_is_staff1']").each(function() {  
				 if($j('#witness_is_staff1').is(':checked')) { 
				    $j(".span_wstaff1_on").show("highlight"); 
					$j(".span_wstaff1_off").hide(""); 
				 }else		{
				    $j(".span_wstaff1_on").hide(""); 
					$j(".span_wstaff1_off").show("highlight"); 
				 }	
				});
			//--------------------		
	
	});
</script>




