<% form_for(@asset_disposal) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2><%= t 'asset.disposal.disposal_details' %></H2>
		<!--yg asal-->
		<%# if @asset_disposal.is_checked != true %><!--if nil @ false-->
			<%#=render :partial => 'process', :locals => {:f => f} %>
			<%#=render :partial => 'verify', :locals => {:f => f} %>
		<%# end %>
		<!--yg asal-->
		<!--amend this part accordingly-->
		<% if @asset_disposal.is_checked != true %><!--if nil @ false-->
			<%=render :partial => 'process', :locals => {:f => f} %>
			<%#=render :partial => 'verify', :locals => {:f => f} %>
		<% end %>
	
		<%# if @asset_disposal.is_checked == true %><!--if nil @ false-->
			<%#=render :partial => 'process', :locals => {:f => f} %>
			<%#=render :partial => 'verify', :locals => {:f => f} %>
		<%# end %>
		<!--amend this part accordingly-->
		
		<!--this part changed too-13dec2012-->
		<% if @asset_disposal.is_checked == true && @asset_disposal.verified_by != User.current_user.staff_id && @asset_disposal.is_verified != true %>
			Awaiting verification from <%=h @asset_disposal.verifier.name %>
		<% end %> 
		
		<% if @asset_disposal.is_checked == true && @asset_disposal.verified_by == User.current_user.staff_id && @asset_disposal.is_verified != true %>
			<%= render :partial => 'show_process' %>
			<%=render :partial => 'verify', :locals => {:f => f} %>
		<% end %>
		
		<% if @asset_disposal.is_disposed == true && @asset_disposal.verified_by == User.current_user.staff_id && @asset_disposal.is_verified == true %>
			<%= render :partial => 'show_process' %>
			<%= render :partial => 'show_disposal' %>
			
			<%=render :partial => 'close', :locals => {:f => f} %>
		<% end %>
		<% if @asset_disposal.is_checked == true && @asset_disposal.verified_by != User.current_user.staff_id && @asset_disposal.is_verified == true && @asset_disposal.is_disposed != true %>
			Asset disposal checked & verified. Please register Disposal Method (KEWPA-19 and/or KEWPA-18).
		<% end %>
		<% if @asset_disposal.is_checked == true && @asset_disposal.verified_by != User.current_user.staff_id && @asset_disposal.is_verified == true && @asset_disposal.is_disposed == true && @asset_disposal.disposed_by == nil%>
			Require case to be closed by HOD.
		<% end %>
		<% if @asset_disposal.is_checked == true && @asset_disposal.verified_by == User.current_user.staff_id && @asset_disposal.is_verified == true && @asset_disposal.is_disposed != true %>
			Awaiting Disposal Method registration. (KEWPA-19 and/or KEWPA-18).
		<% end %>
		<% if @asset_disposal.is_checked == true && @asset_disposal.verified_by != User.current_user.staff_id && @asset_disposal.is_verified == true && @asset_disposal.is_disposed == true && @asset_disposal.disposed_by != nil %>
			Asset Disposal Completed.
		<% end %>
		<!--this part changed too-13dec2012-->
	</div>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @asset_disposal %> |
<%= link_to 'Back', asset_disposals_path %>