<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Asset Disposal</h2>
		<div class="right">
		</div>
  </div>
</div>
<div class="indextable">
	
	<div class="toolbar">
		<table><tr>
			<td width=10%><p><label> <!-- New from asset defects --></label></p></td>
			<td></td>
			<td class="action">
				<% permitted_to? :manage, :assets do %>
				<!--<label><p>
				<#%= link_to image_tag("printer.png", :border => 0, :title => 'KEW.PA(13)') + " Report", :action => 'kewpa13' %></label></p>-->
				
				<div class="noti_Container"><%= link_to image_tag("printer.png", :border => 0, :title => 'KEW.PA-17'), :action => 'kewpa17' %><div class="noti_bubble">17</div></div>
				
				<!--<%#= link_to image_tag("printer.png", :border => 0, :title => 'KEW.PA(17)'),
				             asset_disposals_path,
				             :confirm => "Feature not implemented yet, coming soon, Thank You anyway" %>-->
				<% end %>
			</td>
			<td class="action">
				<div class="noti_Container"><%= link_to image_tag("printer.png", :border => 0, :title => 'KEW.PA-20'), :action => 'kewpa20' %><div class="noti_bubble">20</div></div>
			</td>
		</tr></table>
	</div>

	<table>
	  <tr>
		    <th><%= t 'asset.disposal.asset_id' %></th>
		    <th><%= t 'asset.disposal.asset_description' %></th>
		    <th><%= t 'asset.disposal.quantity' %></th>
				<th><%= t 'asset.disposal.purchasedt' %></th>
		    <th><%= t 'asset.disposal.currentvalue' %></th>
		    <th><%= t 'asset.disposal.opinion' %></th>
			  <th>Disposed On</th>
		    <th><%= t 'asset.disposal.status' %></th>
		    <th colspan=7 class="ac"><%= t 'control' %></th>
	  </tr>

		<% @asset_disposals.each do |asset_disposal| %>
  	<tr>
					<td><%=h asset_disposal.asset.assetcode %></td>
					<td><%=h asset_disposal.asset.typename %> / <%=h asset_disposal.asset.name %> / <%=h asset_disposal.asset.modelname %></td>
					<td><%=h asset_disposal.asset.quantity %></td>
					<td><%=h asset_disposal.asset.purchasedate.strftime("%d %b %Y") unless asset_disposal.asset.purchasedate.blank? %></td>
					<td><%=h ringgols(asset_disposal.current_value) %></td>
					<td><%=h asset_disposal.justify1_disposal %></td>
					<td><%=h l(asset_disposal.disposed_on) unless asset_disposal.disposed_on.blank? %></td>
					<td><%=h asset_disposal.disposal_status %></td>
					<td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => asset_disposal %></td>
				  <td width=10px>
						<% if asset_disposal.is_verified == true && asset_disposal.is_disposed != true %>
							<%= link_to image_tag("approval.png", :border => 0), :action => 'dispose', :id => asset_disposal %>
						<% else %>
							<%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => asset_disposal %>
						<% end %></td>
				  <td class="action">
					<!--hide REVALUE part iF all processes already completed-->
					<% if asset_disposal.is_disposed == true && asset_disposal.disposed_by != nil%>
					<% else %>
					<!---->
							<% if Date.today - asset_disposal.checked_on > -1 %><% Date.today - asset_disposal.checked_on %>
								<%= link_to image_tag("money_delete.png", :border => 0), :action => 'revalue', :id => asset_disposal %>
							<% end %>
					<!---->
					<% end %>
					<!--hide REVALUE part iF all processes already completed-->	
					</td>
			    	<td class="action">
							<% if asset_disposal.is_checked == true %>
								<div class="noti_Container"><%= link_to image_tag("printer.png", :border => 0, :title => 'KEW.PA-16'), :action => 'kewpa16', :id => asset_disposal %><div class="noti_bubble">16</div></div>
							<% end %></td>
					<td class="action">
							<% if asset_disposal.disposal_type == "discard" && asset_disposal.disposed_by != nil %><!--hide this if KEWPA19 NOT READY-->
								<div class="noti_Container"><%= link_to image_tag("printer.png", :border => 0, :title => 'KEW.PA-18'), :action => 'kewpa18', :id => asset_disposal %><div class="noti_bubble">18</div></div>
							<% end %></td>
					<td class="action">
							<% if asset_disposal.is_disposed == true && asset_disposal.disposed_by != nil%>
							
							<div class="noti_Container"><%= link_to image_tag("printer.png", :border => 0, :title => 'KEW.PA-19'), :action => 'kewpa19', :id => asset_disposal %><div class="noti_bubble">19</div></div>
							<% end %></td>

					
				  <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), asset_disposal, :confirm => 'Are you sure?', :method => :delete %></td>
				</tr>
		<% end %>
		</table>
		</div>
<!--

		<br />
    <td><#%=h asset_disposal.asset_id %></td>
    <td><#%=h asset_disposal.quantity %></td>
    <td><#%=h asset_disposal.asset_defect_id %></td>
    <td><#%=h asset_disposal.description %></td>
    <td><#%=h asset_disposal.running_hours %></td>
    <td><#%=h asset_disposal.mileage %></td>
    <td><#%=h asset_disposal.current_condition %></td>
    <td><#%=h asset_disposal.current_value %></td>
    <td><#%=h asset_disposal.est_repair_cost %></td>
    <td><#%=h asset_disposal.est_value_post_repair %></td>
    <td><#%=h asset_disposal.est_time_next_fail %></td>
    <td><#%=h asset_disposal.repair_needed_1 %></td>
    <td><#%=h asset_disposal.repair_needed_2 %></td>
    <td><#%=h asset_disposal.repair_needed_3 %></td>
    <td><#%=h asset_disposal.justification_1 %></td>
    <td><#%=h asset_disposal.justification_1 %></td>
    <td><#%=h asset_disposal.justification_1 %></td>
    <td><#%=h asset_disposal.is_checked %></td>
    <td><#%=h asset_disposal.checked_by %></td>
    <td><#%=h asset_disposal.checked_on %></td>
    <td><#%=h asset_disposal.is_verified %></td>
    <td><#%=h asset_disposal.verified_by %></td>
    <td><#%=h asset_disposal.verified_on %></td>
    <td><#%=h asset_disposal.revalue %></td>
    <td><#%=h asset_disposal.revalued_by %></td>
    <td><#%=h asset_disposal.revalued_on %></td>
    <td><#%=h asset_disposal.document_id %></td>
    <td><#%=h asset_disposal.disposal_type %></td>
    <td><#%=h asset_disposal.type_others_desc %></td>
    <td><#%=h asset_disposal.discard_options %></td>
    <td><#%=h asset_disposal.receiver_name %></td>
    <td><#%=h asset_disposal.documentation_no %></td>
    <td><#%=h asset_disposal.is_disposed %></td>
    <td><#%=h asset_disposal.disposed_by %></td>
    <td><#%=h asset_disposal.disposed_on %></td>
    <td><#%=h asset_disposal.is_discarded %></td>
    <td><#%=h asset_disposal.discarded_on %></td>
    <td><#%=h asset_disposal.discard_location %></td>
    <td><#%=h asset_disposal.discard_witness_1 %></td>
    <td><#%=h asset_disposal.discard_witness_2 %></td>
    <td><#%= link_to 'Show', asset_disposal %></td>
    <td><#%= link_to 'Edit', edit_asset_disposal_path(asset_disposal) %></td>
    <td><#%= link_to 'Destroy', asset_disposal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<#% end %>
</table>


<br />

<%= link_to 'New asset_disposal', new_asset_disposal_path %>-->