<%= stylesheet_link_tag 'report' %>

<form action="#">	
<script>
document.write("<input type='button' " +
"onClick='window.print()' " +
"class='printbutton' " +
"value='Print This Page'/>");
</script>
</form>	
<div class="A4potrait">

<!-- Box Head -->
<div id="kewpa" >
<p class="marginright" align="right"><b>KEW. PA-16</b></p>
<H4 align="center"><b>KERAJAAN MALAYSIA<BR>PERAKUAN PELUPUSAN (PEP)<BR/>ASET ALIH KERAJAAN</b></H4>

		<table class="lampiran_kewpa" style="margin: 0 5mm 0 5mm; padding:0; width:190mm;" >
			<tr>
				<td class="leftcoltight" >Kementerian/Jabatan</td>
				<td class="dotts">:</td>
				<td colspan=4 class="filler">Kementerian Kesihatan Malaysia - Kolej Sains Kesihatan Bersekutu Johor</td>
			</tr>
			<tr>
				<td class="leftcoltight">Alamat</td>
				<td class="dotts">:</td>
				<td colspan=4 class="filler">Persiaran Kempas, Johor Baru</td>
			</tr>
			<tr>
				<td class="leftcoltight">No Siri Pendaftaran Aset<BR/>KEW.PA-2/PA-3</td>
				<td class="dotts">:</td>
				<td colspan=4 class="filler"><%=h @asset_disposal.asset.assetcode %></td>
			</tr>
	
			<tr>
				<td class="leftcoltight">No Kodifikasi Nasional</td>
				<td class="dotts">:</td>
				<td class="filler"></td>
				<td class="leftcoltight">Jumlah jarak perjalanan (km)<BR/>Tempoh Penggunaan (Jam)</td>
				<td class="dotts">:</td>
				<td class="filler" style="vertical-align:top;"><%=h @asset_disposal.mileage %> <BR/><%=h @asset_disposal.running_hours %></td>
			</tr>
	
			<tr>
				<td class="leftcoltight">Jenis, Jenama dan Model</td>
				<td class="dotts">:</td>
				<td class="filler"><%=h @asset_disposal.asset.typename %>-<%=h @asset_disposal.asset.name %>-<%=h @asset_disposal.asset.modelname %></td>
				<td class="leftcoltight">Tahap Penyampaian Perkhidmatan (%)</td>
				<td class="dotts">:</td>
				<td class="filler">TODO :: ROI</td>
			</tr>
			
			<tr>
				<td class="leftcoltight">No Chassis / Siri Pembuat</td>
				<td class="dotts">:</td>
				<td class="filler"><%=h @asset_disposal.asset.serialno %></td>
				<td class="leftcoltight">Jumlah Kos Penyelenggaraan Terdahulu</td>
				<td class="dotts">:</td>
				<td class="filler"><%=h ringgols(@asset_disposal.asset.maints.sum(:maintcost)) %></td>
			</tr>
			
			<tr>
				<td class="leftcoltight">No Enjin</td>
				<td class="dotts">:</td>
				<td class="filler"><%=h @asset_disposal.asset.engine_no %></td>
				<td class="leftcoltight">Anggaran Kos Penyelenggaraan Semasa</td>
				<td class="dotts">:</td>
				<td class="filler"><%=h ringgols(@asset_disposal.est_repair_cost) %></td>
			</tr>
			
			<tr>
				<td class="leftcoltight">No Pendaftaran Kenderaan</td>
				<td class="dotts">:</td>
				<td class="filler"><%=h @asset_disposal.asset.registration %></td>
				<td class="leftcoltight">Nilai Semasa</td>
				<td class="dotts">:</td>
				<td class="filler"><%=h ringgols(@asset_disposal.current_value) %></td>
			</tr>
			
			<tr>
				<td class="leftcoltight">Tarikh dibeli</td>
				<td class="dotts">:</td>
				<td class="filler"><%=h l(@asset_disposal.asset.purchasedate) %></td>
				<td class="leftcoltight">Anggaran Nilai Selepas Diperbaiki</td>
				<td class="dotts">:</td>
				<td class="filler"><%=h ringgols(@asset_disposal.est_value_post_repair) %></td>
			</tr>
			
			<tr>
				<td class="leftcoltight">Harga Perolehan Asal</td>
				<td class="dotts">:</td>
				<td class="filler"><%=h ringgols(@asset_disposal.asset.purchaseprice) %></td>
				<td class="leftcoltight">Anggaran Tahan Selepas Diperbaiki</td>
				<td class="dotts">:</td>
				<td class="filler"><%=h @asset_disposal.est_time_next_fail %> Months</td>
			</tr>	
		</table>
		<BR/>

		<table class="lampiran_kewpa" style="margin: 0 5mm 0 5mm; padding:0; width:120mm;">
			<tr>
				<td class="leftcol" colspan=2>Laporan Pemeriksaan</td>
			</tr>
			<tr>
				<td colspan=2>Butir-butir penambahbaikan yang perlu</td>
			</tr>
			<tr>
				<td width=10%>1. </td>
				<td class="filler" style="border-bottom-style: dotted;"><%=h @asset_disposal.repair1_needed %></td>
			</tr>
			<tr>
				<td width=10%>2. </td>
				<td class="filler" style="border-bottom-style: dotted;"><%=h @asset_disposal.repair2_needed %></td>
			</tr>
			<tr>
				<td width=10%>3. </td>
				<td class="filler" style="border-bottom-style: dotted;"><%=h @asset_disposal.repair3_needed %></td>
			</tr>
			
			<tr>
				<td colspan=2><BR/>Disahkan bahawa aset tersebut telah diperiksa dan diperakukan untuk pelupusan atas sebab-sebab berikut</td>
			</tr>
			<tr>
				<td width=10%>1. </td>
				<td class="filler" style="border-bottom-style: dotted;"><%=h @asset_disposal.justify1_disposal %></td>
			</tr>
			<tr>
				<td width=10%>2. </td>
				<td class="filler" style="border-bottom-style: dotted;"><%=h @asset_disposal.justify2_disposal %></td>
			</tr>
			<tr>
				<td width=10%>3. </td>
				<td class="filler" style="border-bottom-style: dotted;"><%=h @asset_disposal.justify3_disposal %></td>
			</tr>
		</table>

		<table class="lampiran_kewpa" style="margin: 0 5mm 0 5mm; padding:0; width:150mm;">
			<tr>
				<td colspan=3 class="filler" style="border-bottom-style: dotted; text-align:center;"><BR/><BR/>
					<%= @asset_disposal.is_checked? ? @asset_disposal.processor.name.to_s + " via ICMS" : "" %></td>
				<td></td>
				<td colspan=3 class="filler" style="border-bottom-style: dotted; text-align:center;"><BR/><BR/>
					<%= @asset_disposal.is_verified? ? @asset_disposal.verifier.name.to_s + " via ICMS" : "" %></td>
			</tr>
			<tr>
				<td class="leftcol">Nama</td>
				<td class="dotts">:</td>
				<td class="filler"><%= @asset_disposal.processor.name %></td>
				<td width=20mm></td>
				<td class="leftcol">Nama</td>
				<td class="dotts">:</td>
				<td class="filler"><%= @asset_disposal.verifier.name %></td>
			</tr>
			
			<tr>
				<td class="leftcol">Jawatan</td>
				<td class="dotts">:</td>
				<td class="filler"><%= @asset_disposal.processor.position.name %></td>
				<td width=20mm></td>
				<td class="leftcol">Jawatan</td>
				<td class="dotts">:</td>
				<td class="filler"><%= @asset_disposal.verifier.position.name %></td>
			</tr>
			
			<tr>
				<td class="leftcol">Tarikh</td>
				<td class="dotts">:</td>
				<td class="filler"><%= l(@asset_disposal.checked_on) %></td>
				<td width=20mm></td>
				<td class="leftcol">Tarikh</td>
				<td class="dotts">:</td>
				<td class="filler"><%= l(@asset_disposal.verified_on) unless @asset_disposal.verified_on.blank? %></td>
			</tr>
		</table>
		<BR/>
		<table class="lampiran_kewpa" style="margin: 0 5mm 0 5mm; padding:0; width:150mm; border-top:1px solid black;">
			<tr>
				<td colspan=4 >Ruangan ini hendaklah diisi jika PEP melebihi tempoh satu tahun</td>
			</tr>
			<tr>
				<td colspan=4 >Aset telah dibuat penilaian semula dengan nilai semasa RM <%= ringgols(@asset_disposal.revalue) %></td>
			</tr>
			<tr>
				<td class="leftcol">Nama</td>
				<td class="dotts">:</td>
				<td class="filler"><%= @asset_disposal.revaluer.name unless @asset_disposal.revalued_by.blank? %></td>
				<td></td>
			</tr>
			<tr>
				<td class="leftcol">Jawatan</td>
				<td class="dotts">:</td>
				<td class="filler"><%= @asset_disposal.revaluer.position.name unless @asset_disposal.revalued_by.blank? %></td>
				<td></td>
			</tr>
			<tr>
				<td class="leftcol">Date</td>
				<td class="dotts">:</td>
				<td class="filler"><%= l(@asset_disposal.revalued_on) unless @asset_disposal.revalued_by.blank? %></td>
				<td></td>
			</tr>
		</table>
</div></div>