<%= stylesheet_link_tag 'report' %> 
<div id="A4landscape">
<form action="#">
	<script>
	document.write("<input type='button' " +
	"onClick='window.print()' " +
	"class='printbutton' " +
	"value='Print This Page'/>");
	</script>
</form>
<fieldset width=10px >

<div id="title">
<p class="marginright" align="right"><b>KEW.PA-20</b></p><BR>

<BR>
<H3>LAPORAN TAHUNAN PELUPUSAN ASET ALIH KERAJAAN <BR><BR> TAHUN: 2012</H3>
<BR><BR>	
<p class="marginleft" align="left" > KEMENTERIAN/JABATAN :...........................................................................................................................................................................................................................................................................................................................</p>

<BR>
<div id="tprintreport">	
	<table width=80% border=1px cellspacing=0 align="center">
		
		<% asal = 0.00 %><% current = 0.00 %><% jualan = 0.00 %><% pindahan = 0.00 %><% musnah = 0.00 %> <% lain = 0.00 %>
		<% @asset_disposals.each do |asset_disposal| %>	
			<% asal+=asset_disposal.asset.purchaseprice.to_f %>
			<% current+=asset_disposal.current_value.to_f %>
			<% musnah += asset_disposal.current_value if asset_disposal.disposal_type == "discard" %>
			<% jualan += asset_disposal.current_value if asset_disposal.disposal_type == "sold" %>
			<% pindahan += asset_disposal.current_value if asset_disposal.disposal_type == "transfer" %>
			<% lain += asset_disposal.current_value if ((asset_disposal.disposal_type != "transfer") && (asset_disposal.disposal_type != "sold") && (asset_disposal.disposal_type != "discard") )%>
		<% end %>
		
		
		<tr>
			<td rowspan=2 align="center" BGCOLOR="#FEFE56"><b>BIL<b></td>
			<td rowspan=2 align="center" BGCOLOR="#FEFE56"><b>KEMENTERIAN/JABATAN </b></td>
			<td rowspan=2 align="center" BGCOLOR="#FEFE56"><b>JUMLAH NILAI<BR>PEROLEHAN<BR>ASAL<BR> (RM) </b></td>
			<td rowspan=2 align="center" BGCOLOR="#FEFE56"><b>HASIL PELUPUSAN<BR>(RM)</b></td>
			<td align="center" COLSPAN=4 BGCOLOR="#FEFE56"><b>JUMLAH NILAI PEROLEHAN ASAL ASET SECARA<BR>(RM)</b></td>
		</tr>
	
		
			 <% bil = 0 %>
             <% bil += 1 %>
		<tr>
			<td align="center"><%#=h bil %>JUALAN</td>
			<td align="center">PINDAHAN</td>
			<td align="center">MUSNAH</td>
			<td align="center">KAEDAH LAIN</td>
		
			
		
		</tr>
		<tr>
			<td BGCOLOR="#FEFE56">&nbsp;1</td>
			<td align="left" BGCOLOR="#FEFE56">Kolej Sains Kesihatan Bersekutu Johor Bahru</td>
			<td align="center" BGCOLOR="#FEFE56"><%= number_with_precision(asal, :precision => 2) %></td>
			<td align="center" BGCOLOR="#FEFE56"><%= number_with_precision(current, :precision => 2) %></td>
			<td align="center" BGCOLOR="#FEFE56"><%= number_with_precision(jualan,:precision => 2)%> </td>
			<td align="center" >&nbsp;<%= number_with_precision(pindahan,:precision => 2)%></td>
			<td align="center" >&nbsp;<%= number_with_precision(musnah,:precision => 2)%></td>
			<td align="center" ><% %>&nbsp;<%= number_with_precision(lain,:precision => 2)%></td>
		
		</tr>
			<tr>
				<td BGCOLOR="#FEFE56">&nbsp;</td>
				<td align="right" BGCOLOR="#FEFE56"><b></b></td>
				<td BGCOLOR="#FEFE56">&nbsp;</td>
				<td BGCOLOR="#FEFE56">&nbsp;</td>
				<td BGCOLOR="#FEFE56">&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>

			</tr>
			<tr>
					<td BGCOLOR="#FEFE56">&nbsp;</td>
					<td align="right" BGCOLOR="#FEFE56"><b></b></td>
					<td BGCOLOR="#FEFE56">&nbsp;</td>
					<td BGCOLOR="#FEFE56">&nbsp;</td>
					<td BGCOLOR="#FEFE56">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>

			</tr>
			<tr>
					<td BGCOLOR="#FEFE56">&nbsp;</td>
					<td align="right" BGCOLOR="#FEFE56"><b></b></td>
					<td BGCOLOR="#FEFE56">&nbsp;</td>
					<td BGCOLOR="#FEFE56">&nbsp;</td>
					<td BGCOLOR="#FEFE56">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>

			</tr>
			<tr>
					<td BGCOLOR="#FEFE56">&nbsp;</td>
					<td align="right" BGCOLOR="#FEFE56"><b></b></td>
					<td BGCOLOR="#FEFE56">&nbsp;</td>
					<td BGCOLOR="#FEFE56">&nbsp;</td>
					<td BGCOLOR="#FEFE56">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>

			</tr>
	</table>
	<i>Nota : Laporan ini hendaklah dihantar ke Perbendaharaan sebelum 15 Mac tahun berikutnya</i>
	<BR>
	 <tr>
		  <td colspan=2>
		
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<BR>	
			    <BR>
				    Tandatangan Pegawai Pengawal &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ..................................................................................... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cop Jabatan :<BR>
			    <BR>Nama &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: .....................................................................................
				<BR><BR>Jawatan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: .....................................................................................
				<BR><BR>Tarikh &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= l(Date.today()) %>
				<BR><BR> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
	<BR>
	

</div>
</fieldset>


<BR>
<div id="hideLink">
<%= link_to 'Back', assettracks_path %>
</div>

