<% form_for(@asset_disposal) do |f| %>
  <%= f.error_messages %>

	<div class="tform">
		<H2><%= t 'asset.disposal.new' %></H2>
		<%= f.hidden_field :asset_id %>
		
		<%=render :partial => 'process', :locals => {:f => f} %> 
		
	</div>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', asset_disposals_path %>