<div class="box">
	<div class="box-head">
		<h2 class="left"><%=t('photo.list')%></h2>
	</div>
</div>

<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => (t 'photo.new')) + (t 'photo.new'), new_photo_path %></p><BR><BR>
</div>

<div class="indextable">
	<table>
	  <tr><th colspan=10><%= t 'photo.list'%></td></tr>
	  <% @photos.in_groups_of(10, false) do |photos| %>
		<tr><% for photo in photos%><td><%= image_tag photo.diagram.url,  :size => '50x50' %></td><% end %></tr>
		<tr><% for photo in photos%><td><%=h truncate(photo.caption, 10) %></td><% end%></tr>
	  <% end %>
	</table>
<br />
</div>

<%= link_to (t 'photo.new'), new_photo_path %>

<!--<td width=10px><%#= link_to image_tag("document.png", :border => 0, :title => (t 'show')), :action => 'show', :id =>photo %></td>
		<td width=10px><%#= link_to image_tag("edit.png", :border => 0, :title => (t 'edit')), :action => 'edit', :id => photo %></td>
		<td width=10px><%#= link_to image_tag("delete.png", :border => 0, :title => (t 'delete')), photo, :confirm => (t 'are_you_sure'), :method => :delete %></td>-->