<h3><%=t('examquestion.new')%></h3>

<% form_for(@photo, :html => { :multipart => true}) do |f| %>
  <%= f.error_messages %>

	<div class="tform">
		<table>
			<tr>
				<td class="leftcol"><%=t('examquestion.add_graphic_image')%> :</td>
				<td><%= f.file_field :diagram %></td>
			</tr>
			<tr>
				<td class="leftcol">Caption :</td>
				<td><%= f.text_field :caption %></td>
			</tr>
		</table>
	</div>

  <p>
    <%= f.submit (t 'create') %>
  </p>
<% end %>

</div>

<%= link_to (t 'back'), photos_path %>