<table>
			<tr>
				<td><label for="questiontype">Caption:</td>
				<td><%=h @photo.try(:caption) %></td>
			<tr>
				<td class="leftcol"><%=t('examquestion.diagram')%></td>
				<td><% if @photo.diagram_file_name == nil %>
						<%=t('examquestion.no_diagram_attached')%>
					<% else %>
						<%= image_tag @photo.diagram.url, :class => 'diagram', :size => '250x250' %>
						<%= @photo.diagram_file_name%>
					<% end %>
				</td>
			</tr>
</table>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>