<h3>Editing Timetable Entry</h3>

<% form_for(@timetable) do |f| %>
  <%= f.error_messages %>

 <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>
<%= link_to 'Show', @timetable %> |
<%= link_to 'Back', timetables_path %>