<!-- Box -->
<div class="box">
<h3 class="left">Create/Edit TimeTable</h3>

  
<div class="timetable">
<table width=100% border="1" cellpadding="0" cellspacing="0">

<% @time_table_entries.each do |time_table_entry| %>
<tr>
<td><%=h time_table_entry.intake_id.blank? ? "" : time_table_entry.intake.name %></td>
<td><%=h time_table_entry.programme_id.blank? ? "" : time_table_entry.programme.name %></td>
<td><%=h time_table_entry.subject_id? ? "" : time_table_entry.subject_details %></td>
<td><%=h time_table_entry.topic_id.blank? ? "" : time_table_entry.topic.name %></td>
<td>C<%=h time_table_entry.timing_id.blank? ? "" : time_table_entry.period_timing.id %></td>
<td>R<%=h time_table_entry.tt_wd %></td>
<td><%=h time_table_entry.klass_id.blank? ? "" : time_table_entry.klasstime.klass_name %></td>

<td><%=h time_table_entry.timetable_date %></td>
<td><%=h time_table_entry.staff_id.blank? ? "" : time_table_entry.timetable.name %></td>
<td><%=h time_table_entry.residence_id.blank? ? "" : time_table_entry.residence.resname %></td>
<td><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => time_table_entry %></td>
<td><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => time_table_entry %></td>
<td><%= link_to 'Destroy', time_table_entry, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>


<table width=100% border="1" cellpadding="0" cellspacing="0">
   <tr>
<td></td>
<% @period_timing.each do |pt| %>
    <td><%= pt.name %> :: <%= pt.start_time.strftime("%I:%M %p") %></td>
   <% end %>
   <tr>
<% gridv = 0 %>
<% @timetable_week_days.each do |d| %>
<% gridh = 0 %>
<tr> <% gridv += 1 %>
<td><%= d.name[0,3].upcase %></td>
<% @period_timing.each do |pt1| %>
<% gridh += 1 %>
<% @wookie = TimeTableEntry.find(:all, :conditions => {:timing_id => gridh, :tt_wd => gridv})%>
<td><!-- <%=h gridh %>, <%=h gridv %> This is test code -->
<% @wookie.each do |foo| %>
<%= foo.intake.name %><BR>
<%= foo.subject_details %><BR>
<%= foo.timetable.name %><BR>
<%= foo.residence.resname %><BR><P>
<% end %>
</td>
<% end %>
<% end %>
<tr>
  </table>
     


</div>
   
</div>
</div>