<% form_for(@asset_defect) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
	<H2>Defect</H2>
			<table width=85%>
				<tr>
					<td class="leftcol"><label>Asset Registration No</label></td>
					<td><%=h @asset_defect.asset.assetcode %></td>				
				</tr>
		
				<tr>
					<td class="leftcol"><label>Asset Details</label></td>
					<td>	<%=h @asset_defect.asset.typename %> -   
								<%=h @asset_defect.asset.name %>  -  
								<%=h @asset_defect.asset.modelname %></td>
				</tr>
		
				<tr>
					<td class="leftcol"><label>Serial No</label></td>
					<td><%=h @asset_defect.asset.serialno %></td>
				</tr>
				
				<tr>
					<td class="leftcol"><label for="asset_code">Defect Description</label></td>
					<td><%= f.text_area :description, :size => '60x5' %></td>
				</tr>
			</table>
<% permitted_to? :manage, :assets do %>			
	<H2>Process</H2>
			<table width=85%>
				<tr>
					<td class="leftcol"><label for="process_type"><b>Action Type</b></label></td>
					<td><%= f.radio_button :process_type, "repair", 	:id => 'button_repair',  :class => 'radio_action_type' %><label> Repair &nbsp; 
							<%= f.radio_button :process_type, "dispose", :id => 'button_dispose', :class => 'radio_action_type' %> Dispose &nbsp; </label></td>
				</tr>
				
				<tr>
					<td class="leftcol"><label for="recommendation">Recomendation</label></td>
					<td><%= f.text_area :recommendation, :size => '60x5' %></td>
				</tr>
				
				<tr>
				  <td class="leftcol"><label for="is_processed">Submit Recomendation</label></td>
					<td><%= f.check_box :is_processed, :id => 'is_processed' %>
							<SPAN class="span_is_processed" style="display: none;"><%= f.date_select :processed_on, :order => [:day, :month, :year], :default => Date.today %></SPAN></td>
				</tr>
				
				<tr class="span_is_processed" style="display: none;">
					<td class="leftcol"><label for="processed_by">Name</label></td>
					<td><%= f.collection_select :processed_by, Staff.find(:all, :conditions => ["id = ?", current_user.staff_id]), :id, :staff_name_with_position %></td>
				</tr>
				
				<% bosses = User.current_user.staff.position.ancestor_ids %>
				<% myhod = Position.find(:all, :conditions => ['id IN (?)', bosses ], :select => :staff_id).map(&:staff_id) %>
				<tr class="span_is_processed" style="display: none;">
					<td class="leftcol"><label for="approved_date">Notify HOD</label></td>
			    	<td>
						<% if User.current_user.staff.position.is_root? == false %>
							<%= f.collection_select :decision_by, Staff.find(:all, :conditions => ['id IN (?)', myhod]), :id, :name %>				
						<% else %>
							<% myhod = User.current_user.staff.id %>
							<%= f.collection_select :decision_by, Staff.find(:all, :conditions => ['id=?', myhod]), :id, :name %>
						<% end %>
					</td>
				</tr>
			</table>
<% end %>
</div>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @asset_defect %> |
<%= link_to 'Back', asset_defects_path %>

<script type="text/javascript">
	$j(document).ready(function(){
			//show submit date

			$j("input[id='is_processed']").change(function() {  
			 if($j('#is_processed').is(':checked')) { 
			    $j(".span_is_processed").show("highlight"); 
			 }else		{
			    $j(".span_is_processed").hide(""); 
			 }	
			});

			$j("input[id='is_processed']").each(function() {  
			 if($j('#is_processed').is(':checked')) { 
			    $j(".span_is_processed").show("highlight"); 
			 }else		{
			    $j(".span_is_processed").hide(""); 
			 }	
			});

	});
</script>