<%= stylesheet_link_tag 'report' %> 
<form action="#">
	<script>
	document.write("<input type='button' " +
	"onClick='window.print()' " +
	"class='printbutton' " +
	"value='Print This Page'/>");
	</script>
</form>
<div id="A4landscape">
	<div id="kewpa">

<p class="marginright" align="right"><b>KEW. PA-13</b></p><BR>
<H3 align="center">SENARAI ASET ALIH KERAJAAN <BR>YANG MEMERLUKAN PENYELENGGARAAN</H3>

<BR>
<div id="tprintreport">	
	<table width=80% border=1px cellspacing=0 align="center">
		
	
		<tr>
			<td align="center" BGCOLOR="#FEFE56"><b>Bil<b></td>
			<td BGCOLOR="#FEFE56"><b>No Siri Pendaftaran Aset</b></td>
			<td BGCOLOR="#FEFE56"><b>Jenis/Jenama/Model</b></td>
			<td BGCOLOR="#FEFE56"><b>Lokasi Aset</td>
			<td BGCOLOR="#FEFE56"><b>Catatan</b></td>
		</tr>
	
		<% bil = 0 %>
		<% @asset_defects.each do |asset_defect| %>
		<% bil += 1 %>
		  <tr>
				<td align="center"><%=h bil %></td>
		    <td><%=h asset_defect.asset.assetcode %></td>
		    <td><%=h asset_defect.asset.typename %> /   
						<%=h asset_defect.asset.name %>  /  
						<%=h asset_defect.asset.modelname %> : <%=h asset_defect.asset.serialno %></td>
		    <td><%=h check_kin {asset_defect.asset.asset_placements.last.location.location_list} %></td>
		    <td><%=h asset_defect.notes %></td>
		  </tr>
		<% end %>
	</table>
</div></div>
<BR>
<div id="hideLink">
<%= link_to 'Back', asset_defects_path %>
</div>

</table>