<%= stylesheet_link_tag 'report' %>

<form action="#">	
<script>
document.write("<input type='button' " +
"onClick='window.print()' " +
"class='printbutton' " +
"value='Print This Page'/>");
</script>
</form>	
<div class="A4potrait">

<!-- Box Head -->
<div id="kewpa">
<p class="marginright" align="right"><b>KEW. PA-9</b></p>
<H4 align="center"><b>BORANG ADUAN KEROSAKAN ASET ALIH KERAJAAN</b></H4>

<table class="lampiran_kewpa">
	<tr>
		<td colspan=2>Bahagian 1 </td>
		<td></td>
	</tr>
	
	<tr>
		<td class="leftcol">1.</td>
		<td class="leftcol">Jenis Aset</td>
		<td>:</td>
		<td class="filler"><%=h @asset_defect.asset.typename %></td>
	</tr>
	<tr>
		<td class="leftcol">2.</td>
		<td class="leftcol">Keterangan Aset</td>
		<td>:</td>
		<td class="filler"><%=h @asset_defect.asset.name %></td>
	</tr>
	<tr>
		<td class="leftcol">3.</td>
		<td class="leftcol">No Siri Pendaftaran</td>
		<td>:</td>
		<td class="filler"><%=h @asset_defect.asset.assetcode %></td>
	</tr>
	<tr>
		<td class="leftcol">4.</td>
		<td class="leftcol">Kos Penyelenggaraan <BR>terdahulu</td>
		<td style="vertical-align:top;">:</td>
		<td class="filler" style="vertical-align:top;"><%=h @asset_defect.asset.maints.last(:select => :maintcost) %></td>
	</tr>
	<tr>
		<td class="leftcol">5.</td>
		<td class="leftcol">Pengguna Terakhir</td>
		<td>:</td>
		<td class="filler"><%=h @asset_defect.reporter.staff_name_with_position %></td>
	</tr>
	<tr>
		<td class="leftcol">6.</td>
		<td class="leftcol">Tarikh Kerosakan</td>
		<td>:</td>
		<td class="filler"><%=h  l(@asset_defect.created_at) %></td>
	</tr>
	<tr>
		<td class="leftcol">7.</td>
		<td class="leftcol">Perihal Kerosakan</td>
		<td>:</td>
		<td>&nbsp; </td>
	</tr>
	<tr>
		<td></td>
		<td colspan=3  class="filler" style="height:25mm; vertical-align:top;"><%=h @asset_defect.description %></td>
	</tr>
	<tr>
		<td class="leftcol">8.</td>
		<td class="leftcol">Syor Pegawai Aset</td>
		<td>:</td>
		<td>&nbsp; </td>
	</tr>
	<tr>
		<td></td>
		<td colspan=3  class="filler" style="height:25mm; vertical-align:top;"><%=h @asset_defect.process_type.titleize %> : <%=h @asset_defect.recommendation %></td>
	</tr>
</table>
<table class="lampiran_kewpa">
	<tr>
		<td>Nama :</td>
		<td class="filler"><%=h @asset_defect.processor.name %></td>
	</tr>
	<tr>
		<td>Jawatan :</td>
		<td class="filler"><%=  @asset_defect.processor.position.blank? ? "" : @asset_defect.processor.position.name %></td>
	</tr>
	<tr>
		<td>Tarikh :<BR/><BR/></td>
		<td class="filler"><%=h l(@asset_defect.processed_on) %><BR/><BR/></td>
	</tr>
	<tr>
		<td colspan=2>Bahagian II (Keputusan Ketua Jabatan)<BR/><BR/></td>
	</tr>
	<tr>
		<td class="leftcol" colspan=2 style="height:25mm; vertical-align:top;">
		<%= @asset_defect.decision? ? "Diluluskan / <del> Tidak Diluluskan </del>  " : "<del> Diluluskan </del> /  Tidak Diluluskan" %></td>
	</tr>
	<tr>
		<td>Signature :</td>
		<td class="filler"><%=h @asset_defect.decisioner.name %> via ICMS</td>
	</tr>
	<tr>
		<td>Nama :</td>
		<td class="filler"><%=h @asset_defect.decisioner.name %></td>
	</tr>
	<tr>
		<td>Jawatan :</td>
		<td class="filler"><%=h @asset_defect.decisioner.position.name %></td>
	</tr>
	<tr>
		<td>Tarikh :<BR/><BR/></td>
		<td class="filler"><%=h @asset_defect.decision? ? l(@asset_defect.decision_on) : "" %><BR/><BR/></td>
	</tr>
</table>






</div></div>