<div class="tform">
<H2><%=t('assetdefects.title')%></H2>
<fieldset>
	<legend class='togvis'><%= t('assetdefects.defects_reports') %></legend>
		<table width=85% >
				<tr>
					<td class="leftcol"><label><%= t('assetdefects.asset_register') %></label></td>
					<td><%=h @asset_defect.asset.assetcode %></td>				
				</tr>
				
				<tr>
					<td class="leftcol"><label><%= t('asset.asset_details') %></label></td>
					<td>	<%=h @asset_defect.asset.typename %> -   
								<%=h @asset_defect.asset.name %>  -  
								<%=h @asset_defect.asset.modelname %></td>
				</tr>
				
				<tr>
					<td class="leftcol"><label><%= t('asset.serial_no') %></label></td>
					<td><%=h @asset_defect.asset.serialno %></td>
				</tr>
				
				<tr>
					<td class="leftcol"><label><%= t('menu.defects') %></label></td>
					<td><%=h @asset_defect.description %></td>
				</tr>
				
				<tr>
					<td class="leftcol"><label><%= t('assetdefects.report_by') %></label></td>
					<td><%=h @asset_defect.reporter.try(:staff_name_with_position) %></td>
				</tr>			
		</table>
</fieldset>

<% permitted_to? :manage, :assets do %>

<fieldset>
	<legend class='togvis'><%= (t 'proses').titleize %></legend>
			<table width=85%>
				<tr>
					<td class="leftcol"><label for="process_type"><b><%= t('assetdefects.action_type') %></b></label></td>
					<td><%=h @asset_defect.process_type.titleize unless @asset_defect.process_type.blank? %></label></td>
				</tr>
		
				<tr>
					<td class="leftcol"><label for="recommendation"><%= t('disposal.recommendation') %></label></td>
					<td><%=h @asset_defect.recommendation %></td>
				</tr>
		
				<tr>
				  <td class="leftcol"><label for="is_processed"><%= t('assetdefects.recommend_submit') %></label></td>
					<td><%=h @asset_defect.is_processed? ? "Yes, by  " + @asset_defect.processor.name.to_s + " on  " + (l(@asset_defect.processed_on)).to_s : "No" %></td>
				</tr>
		
			</table>
</fieldset>

<% if @asset_defect.decision != nil %>
<fieldset>
	<legend class='togvis'><%= t('assetdefects.approval') %></legend>
			<table width=85%>
		
				<tr>
				  <td class="leftcol"><label for="is_processed"><%= t('travel.approved') %></label></td>
					<td><%=h @asset_defect.decision? ? "Yes, by  " + @asset_defect.decisioner.name.to_s + " on  " + (l(@asset_defect.decision_on)).to_s : "No" %></td>
				</tr>
		
			</table>
</fieldset>
<% end %>

<% end %>
</div>

<% unless @asset_defect.is_processed == true %>
	<!--if not PROCESSED yet-->
	<% if @asset_defect.reported_by == Login.current_login.staff.try(:id) %>
		<%= link_to (t 'edit'), edit_asset_defect_path(@asset_defect) %>
	<% else %>
		<!--access for other than kewpa9 creator, but must have authority to manage!-->
		<% permitted_to? :manage, :asset_defects do %>
			<%= link_to (t 'edit'), edit_asset_defect_path(@asset_defect) %>
		<% end %>
	<% end %>
	
<% else %>
	<!--if PROCESSED, give access to ONLY those who have authority ie. ASSET ADMIN-->
	<% if @asset_defect.reported_by != Login.current_login.staff.try(:id) %>
		<% permitted_to? :manage, :asset_defects do %>
			<%= link_to (t 'edit'), edit_asset_defect_path(@asset_defect) %>
		<% end %>
	<% end %>
<% end %> 
|
<%= link_to (t 'back'), asset_defects_path %>