<div class="tform">

<fieldset>
	<legend class='togvis'>Defect Report</legend>
		<table width=85% >
				<tr>
					<td class="leftcol"><label>Asset Registration No</label></td>
					<td><%=h @asset_defect.asset.assetcode %></td>				
				</tr>
				
				<tr>
					<td class="leftcol"><label>Asset Details</label></td>
					<td>	<%=h @asset_defect.asset.typename %> -   
								<%=h @asset_defect.asset.name %>  -  
								<%=h @asset_defect.asset.modelname %></td>
				</tr>
				
				<tr>
					<td class="leftcol"><label>Serial No</label></td>
					<td><%=h @asset_defect.asset.serialno %></td>
				</tr>
				
				<tr>
					<td class="leftcol"><label>Defect</label></td>
					<td><%=h @asset_defect.description %></td>
				</tr>
				
				<tr>
					<td class="leftcol"><label>Reported By</label></td>
					<td><%=h @asset_defect.reporter.staff_name_with_position %></td>
				</tr>			
		</table>
</fieldset>

<% permitted_to? :manage, :assets do %>

<fieldset>
	<legend class='togvis'>Process</legend>
			<table width=85%>
				<tr>
					<td class="leftcol"><label for="process_type"><b>Action Type</b></label></td>
					<td><%=h @asset_defect.process_type.titleize unless @asset_defect.process_type.blank? %></label></td>
				</tr>
		
				<tr>
					<td class="leftcol"><label for="recommendation">Recommendation</label></td>
					<td><%=h @asset_defect.recommendation %></td>
				</tr>
		
				<tr>
				  <td class="leftcol"><label for="is_processed">Recommendation Submitted</label></td>
					<td><%=h @asset_defect.is_processed? ? "Yes, by  " + @asset_defect.processor.name.to_s + " on  " + (l(@asset_defect.processed_on)).to_s : "No" %></td>
				</tr>
		
			</table>
</fieldset>

<% if @asset_defect.decision != nil %>
<fieldset>
	<legend class='togvis'>Approval</legend>
			<table width=85%>
		
				<tr>
				  <td class="leftcol"><label for="is_processed">Approved</label></td>
					<td><%=h @asset_defect.decision? ? "Yes, by  " + @asset_defect.decisioner.name.to_s + " on  " + (l(@asset_defect.decision_on)).to_s : "No" %></td>
				</tr>
		
			</table>
</fieldset>
<% end %>

<% end %>
</div>

<% unless @asset_defect.is_processed == true %>
	<!--if not PROCESSED yet-->
	<% if @asset_defect.reported_by == User.current_user.staff.id %>
		<%= link_to 'Edit', edit_asset_defect_path(@asset_defect) %>
	<% else %>
		<!--access for other than kewpa9 creator, but must have authority to manage!-->
		<% permitted_to? :manage, :asset_defects do %>
			<%= link_to 'Edit', edit_asset_defect_path(@asset_defect) %>
		<% end %>
	<% end %>
	
<% else %>
	<!--if PROCESSED, give access to ONLY those who have authority ie. ASSET ADMIN-->
	<% if @asset_defect.reported_by != User.current_user.staff.id %>
		<% permitted_to? :manage, :asset_defects do %>
			<%= link_to 'Edit', edit_asset_defect_path(@asset_defect) %>
		<% end %>
	<% end %>
<% end %> 
|
<%= link_to 'Back', asset_defects_path %>