<div class="tform">
  <table width=100% >
	<tr>
		<th colspan=2><%= t 'assetloses.assetloses_details' %></th>
	</tr>
	<tr>
		<td class="leftcol"><label for="reportcode"><b><%= t 'assetloses.reportcode' %></b></label><font color="red"> * </font></td>
		<td><%= f.text_field :reportcode %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="losstype"><b><%= t 'assetloses.losstype' %></b></label><font color="red"> * </font></td>
			<td><%= f.select :losstype, 
			                  Assetloss::LOSS,
			                 :prompt => "Select"  %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="asset_id"><b><%= t 'assetloses.asset_id' %></b></label></td>
      <td><%= f.collection_select :asset_id, Asset.find(:all), :id, :subcategory, :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="estvalue"><b><%= t 'assetloses.estvalue' %></b></label></td>
		<td> <%= f.text_field :estvalue, :size => 12, :placeholder => 'RM' %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="losslocation_id"><%= t 'assetloses.losslocation_id' %></b></label></td>
		<td><%= f.collection_select :losslocation_id, Location.find(:all), :id, :name, :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="lossdt"><b><%= t 'assetloses.lossdt' %></b></b></label></td>
		<td><%= f.datetime_select :lossdt, :start_year => 2005, :end_year => 2020, :order => [:day, :month, :year] %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="losshow"><b><%= t 'assetloses.losshow' %></b></b></label></td>
		<td><%= f.text_area :losshow, :size => "30x7" %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="lossstafflast_id"><b><%= t 'assetloses.lossstafflast_id' %></b></b></label></td>
      <td><%= f.collection_select :lossstafflast_id, Staff.find(:all), :id, :staff_name_with_title, :include_blank => true %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="laststaffcase"><b><%= t 'assetloses.laststaffcase' %></b></b></label></td>
      	<td><%= f.radio_button :laststaffcase,'false' %>Yes<%= f.radio_button :laststaffcase,'true' %>No</td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="preventpast"><b><%= t 'assetloses.preventpast' %></b></b></label></td>
		<td><%= f.text_area :preventpast, :size => "30x7" %></td>
	</tr>
	<tr>
	<td class="leftcol"><label for="laststaffstop"><b><%= t 'assetloses.laststaffstop' %></b></label></td>
      	<td><%= f.radio_button :laststaffstop,'false' %>Yes<%= f.radio_button :laststaffstop,'true' %>No</td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="poreport"><b><%= t 'assetloses.poreport' %></b></label></td>
      	<td><%= f.radio_button :poreport,'false' %>Yes<%= f.radio_button :poreport,'true' %>No</td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="porepno"><b><b><%= t 'assetloses.porepno' %></b></label></td>
		<td><%= f.text_field :porepno %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="preventfuture"><b><%= t 'assetloses.preventfuture' %></b></label></td>
		<td><%= f.text_area :preventfuture, :size => "30x7" %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="remarks"><b><%= t 'assetloses.remarks' %></b></label></td>
		<td><%= f.text_area :remarks, :size => "30x7" %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="hod_id"><b><%= t 'assetloses.hod_id' %></b></label></td>
		<td><%= f.collection_select :hod_id, Staff.find(:all), :id, :staff_name_with_title, :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="hodendorsedt"><b><%= t 'assetloses.hodendorsedt' %></b></label></td>
		<td><%= f.date_select :hodendorsedt, :start_year => 2005, :end_year => 2020, :order => [:day, :month, :year] %></td>
	</tr>

		<tr>
			<th colspan=2><%= t 'assetloses.lampirank' %></th>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="moneytype"><b><%= t 'assetloses.moneytype' %></b></label></td>
				<td><%= f.select :moneytype, 
				                  Assetloss::MONEY,
				                 :prompt => "Select"  %></td>
		</tr>

		<tr>
		<td class="leftcol"><label for="new"><b><%= t 'assetloses.new' %></b></label></td>
	      <td><%= f.check_box :new %> New <%= f.check_box :new %> Used </td>
		</tr>
		
		
		<tr>
				<td class="leftcol"><label for="sostop"><b><%= t 'assetloses.sostop' %></b></label></td>
				<td><%= f.radio_button :sostop,'false' %>Yes<%= f.radio_button :sostop,'true' %>No</td>
		</tr>
		<tr>
			<td class="leftcol"><label for="sostopdt"><b><%= t 'assetloses.sostopdt' %></b></label></td>
			<td><%= f.date_select :sostopdt, :start_year => 2005, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
		
			<tr>                          
				<td class="leftcol"><label for="soaction"><b><%= t 'assetloses.soaction' %></b></label></td>
				<td><%= f.text_field :soaction %></td>
			</tr>
		
		
		<!--	<tr>
				<td class="leftcol"><label for="supstop"><b><#%= t 'assetloses.supstop' %></b></label></td>
				<td><#%= f.radio_button :supstop,'false' %>Yes<%= f.radio_button :supstop,'true' %>No</td>
			</tr>

			<tr>
				<td class="leftcol"><label for="supstopdt"><b><#%= t 'assetloses.supstopdt' %></b></label></td>
				<td><#%= f.date_select :supstopdt, :start_year => 2005, :end_year => 2020, :order => [:day, :month, :year] %></td>
			</tr>-->
			
			<tr>
				<td class="leftcol"><label for="supaction"><b><%= t 'assetloses.supaction' %></b></label></td>
				<td><%= f.text_field :supaction %></td>
			</tr>
		
		<tr>
			<td class="leftcol"><label for="poaction"><b><%= t 'assetloses.poaction' %></b></label></td>
			<td><%= f.text_area :poaction, :size => "30x7" %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="ponoreportwhy"><b><%= t 'assetloses.ponoreportwhy' %></b></label></td>
			<td><%= f.text_field :ponoreportwhy %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="rulesbroken"><b><%= t 'assetloses.rulesbroken' %></b></label></td>
			<td><%= f.radio_button :rulesbroken,'false' %>Yes<%= f.radio_button :rulesbroken,'true' %>No</td>
		</tr>
		<tr>
			<td class="leftcol"><label for="owneraction"><b><%= t 'assetloses.owneraction' %></b></label></td>
			<td><%= f.text_area :owneraction, :size => "30x7" %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="newrule"><b><%= t 'assetloses.newrule' %></b></label></td>
			<td><%= f.text_area :newrule, :size => "30x7" %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="newrule_id"><b><%= t 'assetloses.newrule_id' %></b></label></td>
			<td><%= f.collection_select :newrule_id, Staff.find(:all), :id, :staff_name_with_title, :include_blank => true %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="nrrecommend"><b><%= t 'assetloses.nrrecommend' %></b></label></td>
			<td><%= f.text_area :nrrecommend, :size => "30x7" %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="surcharge"><b><%= t 'assetloses.surcharge' %></b></label></td>
			<td><%= f.radio_button :surcharge,'false' %>Yes<%= f.radio_button :surcharge,'true' %>No</td>
		</tr>
		<tr>
			<td class="leftcol"><label for="sio_id"><b><%= t 'assetloses.sio_id' %></b></label><font color="red"> * </font></td>
			<td><%= f.collection_select :sio_id, Staff.find(:all), :id, :staff_name_with_title, :include_blank => true %></td>
		</tr>
		
		
</table>
<BR>


</div>