<div class="tform">
	<H2><%= t 'assetlosses.assetloses_details' %></H2>
  <table width=100% >
		<tr>
			<td class="leftcolwide"><label for="reportcode"><b><%= t 'assetlosses.reportcode' %></b></label><font color="red"> * </font></td>
			<td><%= f.text_field :reportcode %></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="sio_id"><b><%= t 'assetlosses.sio_id' %></b></label><font color="red"> * </font></td>
			<td><%= f.collection_select :sio_id, Staff.find(:all, :order => :name), :id, :name, :include_blank => true %></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="losstype"><b><%= t 'assetlosses.losstype' %></b></label><font color="red"> * </font></td>
			<td><%= f.radio_button :losstype, "Cash", 		:id => 'lc' %>Cash &nbsp; 
					<%= f.radio_button :losstype, "Asset", 		:id => 'rb' %>Asset &nbsp; 
					<%= f.radio_button :losstype, "Supplies", :id => 'ab' %>Supplies &nbsp; 
					</td>
		</tr>
	
	  <% if @assetloss.losstype == "Asset"   %>
		<tr id="asset_list" style="display: show;">
		<% else %>
		<tr id="asset_list" style="display: none;">
		<% end %>
			<td class="leftcolwide"><label for="asset_id"><b><%= t 'assetlosses.asset_id' %></b></label></td>
	     <td>	<% if Asset.count(:all, :conditions => ['mark_as_lost is true']) == 0 %>
							No assets marked for loss
						<% else %>
		     			<%= f.collection_select :asset_id, Asset.find(:all, :conditions => ['mark_as_lost is true'], :order => :assetcode), :id, :code_asset, :include_blank => true %>
						<% end -%>
			 </td>
		</tr>
		
		
		

		
		<!-- Used for asset-autocomplete

				<tr>
					<td class="leftcolwide"><label for="asset_id"><b>autocomplete asset</b></label></td>
					<td><#%= text_field_with_auto_complete :assetloss, :asset_name, {:size => 60}, 
									{ :url => '/asset_autocomplete', 
										:method => :get, 
										:with => "'search=' + element.value + '&asset_name='"} %></td> 
				</tr>-->
		
	
		<tr>
			<td class="leftcolwide"><label for="estvalue"><b><%= t 'assetlosses.estvalue' %></b></label></td>
			<td><b>RM</b> <%= f.text_field :estvalue, :size => 12 %></td>
		</tr>

	<!-- 3/10/2011 - Shaliza Fixes it
	<tr>
		<td class="leftcolwide"><label for="part_id"><b>Supplies Code:</b></label></td>
    <td><#%= f.collection_select :part_id, Part.find(:all), :id, :partcode, :include_blank => true %></td>
	</tr>
	end of fix  -->
	
		<tr>
			<td class="leftcolwide"><label for="losslocation_id"><%= t 'assetlosses.losslocation_id' %></label></td>
			<td><%= f.collection_select :losslocation_id, Location.find(:all, :order => :code), :id, :location_list, :include_blank => true %></td>
		</tr>
	
		<tr>
			<td class="leftcolwide"><label for="lossdt"><b><%= t 'assetlosses.lossdt' %></b></label></td>
			<td><%= f.datetime_select :lossdt, :start_year => 2005, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>
	
		<tr>
			<td class="leftcolwide"><label for="losshow"><b><%= t 'assetlosses.losshow' %></b></label></td>
			<td><%= f.text_area :losshow, :size => "50x4" %><BR/><BR/> </td>
		</tr>
	
		<tr>
			<td class="leftcolwide"><label for="lossstafflast_id"><b><%= t 'assetlosses.lossstafflast_id' %></b></label></td>
	    <td><%= f.collection_select :lossstafflast_id, Staff.find(:all, :order => :name), :id, :name, :include_blank => true %></td>
		</tr>
	
		<tr>
			<td class="leftcolwide"><label for="laststaffcase"><b><%= t 'assetlosses.laststaffcase' %></b></label></td>
      <td><%= f.radio_button :laststaffcase,'false' %>Yes &nbsp; <%= f.radio_button :laststaffcase,'true' %>No</td>
		</tr>
	
		<tr>
			<td class="leftcolwide"><label for="preventpast"><b><%= t 'assetlosses.preventpast' %></b></label></td>
			<td><%= f.text_area :preventpast, :size => "50x4" %></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="laststaffstop"><b><%= t 'assetlosses.laststaffstop' %></b></label></td>
	     <td><%= f.radio_button :laststaffstop,'false' %>Yes &nbsp; <%= f.radio_button :laststaffstop,'true' %>No</td>
		</tr>
	
		<tr>
			<td class="leftcolwide"><label for="poreport"><b><%= t 'assetlosses.poreport' %></b></label></td>
	    <td><%= f.radio_button :poreport,'false', :id => 'popo_report_false' %>No &nbsp; &nbsp; 
					<%= f.radio_button :poreport,'true' , :id => 'popo_report_true' %>Yes &nbsp; &nbsp;
					<SPAN  id="popo_report" style="display: none;"><%= f.text_field :porepno, :placeholder => 'Police Report No' %></SPAN></td>
		</tr>
	
		<tr>
			<td class="leftcolwide"><label for="preventfuture"><b><%= t 'assetlosses.preventfuture' %></b></label></td>
			<td><%= f.text_area :preventfuture, :size => "50x4" %></td>
		</tr>
	
		<tr>
			<td class="leftcolwide"><label for="remarks"><b><%= t 'assetlosses.remarks' %></b></label></td>
			<td><%= f.text_area :remarks, :size => "50x4" %></td>
		</tr>
	
		<tr>
			<td class="leftcolwide"><label for="hod_id"><b><%= t 'assetlosses.hod_id' %></b></label></td>
			<td><%= f.collection_select :hod_id, Staff.find(:all, :conditions => ['id IN (?)', (Position.to_depth(1))], :order => :name), :id, :staff_name_with_position, :include_blank => true %></td>
		</tr>
	
		<tr>
			<td class="leftcolwide"><label for="hodendorsedt"><b><%= t 'assetlosses.hodendorsedt' %></b></label></td>
			<td><%= f.date_select :hodendorsedt, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>
	</table>
	
	
	
	
	<H2><%= t 'assetlosses.lampirank' %></H2>
	<table  width=100% >
		
		<tr id="cash_type" style="display: none;">
				<td class="leftcolwide"><label for="moneytype"><b><%= t 'assetlosses.moneytype' %></b></label></td>
				<td><%= f.select :moneytype, 
				                  Assetloss::MONEY,
				                 :prompt => "Select"  %></td>
		</tr>
		
		<!--enter purchase date & price here<-->
		<tr>
			<td class="leftcolwide"><label for="new"><b><%= t 'assetlosses.new' %></b></label></td>
	    <td><%= f.check_box :new %> New <%= f.check_box :new %> Used </td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="new"><%= t 'asset.administered_by' %></label></td>
	    <td><%= @assetloss.asset.assignedto.staff_name_with_position unless @assetloss.asset.blank? %></td>
		</tr>
		
		<!-- 3/10/2011 - Shaliza fixes this
		display :estvalue again here
		
		need to display some details from asset here
		state or federal? value?<
		repeat display loss how?
		
		display asset.owner.staff.name + 
		display asset.owner.staff.position.positionname +
		display assset.owner.staff.position.maintasks<-->
		<!--end of fix-->
		
		<tr>
			<td class="leftcolwide"><label for="staff_suspension"><b><%= t 'assetlosses.sostop' %></b></label></td>
	    <td><%= f.radio_button :sostop,'false',  :id => 'staff_suspension_false' %>No &nbsp; &nbsp; 
					<%= f.radio_button :sostop,'true', 	 :id => 'staff_suspension_true' %>Yes &nbsp; &nbsp; &nbsp; &nbsp;
					<SPAN  id="sostopdt" class="pagenote" style="display: none;"> : &nbsp; &nbsp;
					<%= f.date_select :sostopdt, :order => [:day, :month, :year] %> &nbsp; (date of suspension) </SPAN></td>
		</tr>
	
		<tr>                           
			<td class="leftcolwide"><label for="soaction"><b><%= t 'assetlosses.soaction' %></b></label></td>
			<td><%= f.text_field :soaction, :size => "50" %></td>
		</tr>
		
		<!-- 3/10/2011-Shaliza fixes it
		display asset.owner.staff.pensiondate
		
		display asset.owner.staff.bosses.name + 
		display asset.owner.staff.bosses.position.positionname +
		display asset.owner.staff.bosses.position.maintasks<-->
		<!--end of fix-->
		
		<tr>
			<td class="leftcolwide"><label for="staff_suspension"><b><%= t 'assetlosses.supstop' %></b></label></td>
	    <td><%= f.radio_button :sostop,'false', :id => 'super_suspension_false' %>No &nbsp; &nbsp; 
					<%= f.radio_button :sostop,'true', 	:id => 'super_suspension_true' %>Yes &nbsp; &nbsp; &nbsp; &nbsp;
					<SPAN  id="supstopdt" class="pagenote" style="display: none;"> : &nbsp; &nbsp;
					<%= f.date_select :supstopdt, :order => [:day, :month, :year] %> &nbsp; (date of suspension) </SPAN></td>
		</tr>
			
		<tr>
			<td class="leftcolwide"><label for="supaction"><b><%= t 'assetlosses.supaction' %></b></label></td>
			<td><%= f.text_field :supaction, :size => "50" %></td>
		</tr>
		
		<tr id="popo_action" style="display: none;">
			<td class="leftcolwide"><label for="poaction"><b><%= t 'assetlosses.poaction' %></b></label></td>
			<td><%= f.text_field :poaction, :size => "50" %></td>
		</tr>

		<tr id="no_report_why" style="display: none;">
			<td class="leftcolwide"><label for="ponoreportwhy"><b><%= t 'assetlosses.ponoreportwhy' %></b></label></td>
			<td><%= f.text_field :ponoreportwhy %></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="rulesbroken"><b><%= t 'assetlosses.rulesbroken' %></b></label></td>
	    <td><%= f.radio_button :rulesbroken,'false', :id => 'rules_broke_false' %>No &nbsp; &nbsp; 
					<%= f.radio_button :rulesbroken,'true',  :id => 'rules_broke_true' %>Yes &nbsp; &nbsp; &nbsp; &nbsp;</td>
		</tr>
		
		<tr id="owneraction" style="display: none;">
			<td class="leftcolwide"><label for="owneraction"><b><%= t 'assetlosses.owneraction' %></b></label></td>
			<td><%= f.text_area :owneraction, :size => "50x4" %><BR/><BR/></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="newrule"><b><%= t 'assetlosses.newrule' %></b></label></td>
			<td><%= f.text_area :newrule, :size => "50x4" %></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="nrrecommend"><b><%= t 'assetlosses.nrrecommend' %></b></label></td>
			<td><%= f.text_area :nrrecommend, :size => "50x4" %></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="newrule_id"><b><%= t 'assetlosses.newrule_id' %></b></label></td>
			<td><%= f.collection_select :newrule_id, Staff.find(:all, :order => :name), :id, :name, :include_blank => true %></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="surcharge"><b><%= t 'assetlosses.surcharge' %></b></label></td>
			<td><%= f.radio_button :surcharge,'false' %>Yes &nbsp; <%= f.radio_button :surcharge,'true' %>No</td>
		</tr>		
	</table>
<BR>
	
<!--3/10/2011 - Shaliza fixes it
Rules Broken

	<table id="form">
		<tr class="toprow">
			<td>Rules Broken</td>
			<td></td>
		</tr>
		<tr>
			<td class="leftcolwide"><label for="ownerstop"><b>Owner Stop:</b></label></td>
			<td><#%= f.radio_button :ownerstop,'false' %>Yes<#%= f.radio_button :ownerstop,'true' %>No</td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="ownerstopdt"><b>Owner Stop Date:</b></label></td>
			<td><#%= f.date_select :ownerstopdt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="owneraction"><b>Owner Action:</b></label></td>
			<td><#%= f.text_field :owneraction %></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="so_id"><b>Staff Name:</b></label></td>
			<td><#%= f.collection_select :so_id, Staff.find(:all), :id, :name, :include_blank => true %></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="scvalue"><b>SurCharge Value:</b></label></td>
			<td><b>RM</b> <#%= f.text_field :scvalue, :size => 12 %></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="screason"><b>SurCharge Reason:</b></label></td>
			<td><#%= f.text_field :screason %></td>
		</tr>
		

		
		<tr>
			<td class="leftcolwide"><label for="ssecurity_id"><b>Security:</b></label></td>
			<td><#%= f.collection_select :ssecurity_id, Staff.find(:all), :id, :name, :include_blank => true %></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="closedt"><b>Closed Date:</b></label></td>
			<td><#%= f.date_select :closedt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>
				
</table>
<BR>
<--><!--end of fix-->


</div>
<script type="text/javascript">
$j(document).ready(function(){ 
		$j("input[id='lc']").change(function() {  
	    $j("#asset_list").hide(); 
			$j("#cash_type").show(); 
	  } );
    $j("input[id='rb']").change(function() {  
      $j("#asset_list").show("slide"); 
			$j("#cash_type").hide(); 
    } ); 
		$j("input[id='ab']").change(function() {  
      $j("#asset_list").hide(); 
			$j("#cash_type").hide();
    } );

		$j("input[id='popo_report_false']").change(function() {  
      $j("#popo_report").hide(); 
      $j("#popo_action").hide(); 
      $j("#no_report_why").show(); 
    } );
		$j("input[id='popo_report_true']").change(function() {  
      $j("#popo_report").show("slide"); 
      $j("#popo_action").show(); 
      $j("#no_report_why").hide(); 
    } );

		$j("input[id='staff_suspension_false']").change(function() {  
      $j("#sostopdt").hide(); 
    } );
		$j("input[id='staff_suspension_true']").change(function() {  
      $j("#sostopdt").show("slide"); 
    } );

		$j("input[id='super_suspension_false']").change(function() {  
      $j("#supstopdt").hide(); 
    } );
		$j("input[id='super_suspension_true']").change(function() {  
      $j("#supstopdt").show("slide"); 
    } );

		$j("input[id='rules_broke_false']").change(function() {  
      $j("#owneraction").hide(); 
    } );
		$j("input[id='rules_broke_true']").change(function() {  
      $j("#owneraction").show("slow"); 
    } );




  });
</script>