<h3>Edit Asset Loss</h3>

<% form_for(@assetloss) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @assetloss %> |
<%= link_to 'Back', assetlosses_path %>