<h3><%= t 'assetloses.edit' %></h3>

<% form_for(@assetloss) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit (t 'icms.update') %>
  </p>
<% end %>

<%= link_to (t 'icms.show'), @assetloss %> |
<%= link_to (t 'icms.back'), assetlosses_path %>