<div class="box">
	<div class="box-head">
		<h2 class="left"><%= t 'assetlosses.list' %></h2>
	</div>
</div>

<div class="toolbar">
	<!--TODO : Stuff here-->
</div>


<div class="indextable">
	<table>
		<tr>
		    <th><%= t 'asset_losses.loss_type' %></th>
		    <th><%= t 'asset_losses.est_value' %></th>
		    <th><%= t 'asset_losses.asset_id' %></th>
		    <th><%= t 'asset_losses.losslocation_id' %></th>
		    <th><%= t 'asset_losses.lossdt' %></th>
		    <th colspan=3 class="ac">Control</th>
  	</tr>

		<% @assetlosses.each do |assetloss| %>
	  <tr>
	    <td><%=h assetloss.losstype %></td>
	    <td align='center'><%=h ringgols(assetloss.estvalue) %></td>
	    <td><%=h assetloss.asset.assetcode unless assetloss.asset_id.blank? %></td>
	    <td><%=h assetloss.asslost.location.name unless assetloss.asset_id? %></td>
	    <td><%=h assetloss.lossdt.strftime('%d %b %Y - %H:%M') %></td>
	    <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => assetloss %></td>
	    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => assetloss %></td>
	    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), assetloss, :confirm => 'Are you sure?', :method => :delete %></td>   
	  </tr>
		<% end %>
	</table>
</div>

<br />

<%= link_to (t 'assetlosses.create'), new_assetloss_path %>