<h3><%= t 'assetloses.new' %></h3>

<% form_for(@assetloss) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit (t 'icms.submit') %>
  </p>
<% end %>

<%= link_to (t 'icms.back'), assetlosses_path %>