<div class="tform">
	<H2>Lampiran J</H2>
  <table width=50% border=0>

	<tr>
		<td class="leftcol"><label for="reportcode"><%= t 'assetloses.reportcode' %></label></td>
		<td><%=h @assetloss.reportcode %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="losstype"><%= t 'assetloses.losstype' %></label></td>
			<td><%=h @assetloss.losstype %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="asset_id"><%= t 'assetloses.asset_id' %></label></td>
      <td><%=h @assetloss.asslost.subcategory%> / <%=h @assetloss.asslost.subcategory%></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="estvalue"><%= t 'assetloses.estvalue' %></label></td>
		<td>RM <%=h (@assetloss.estvalue) %></td>
	</tr>
	

	<!--
	<tr>
	<td class="leftcol"><label for="part_id"><b>Supplies Code:</b></label></td>
      <td><#%= f.collection_select :part_id, Part.find(:all), :id, :partcode, :include_blank => true %></td>
	</tr>-->
	
	
	<tr>
		<td class="leftcol"><label for="losslocation_id"><%= t 'assetloses.losslocation_id' %></label></td>
		<td><%=h @assetloss.assetlocation.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="lossdt"><%= t 'assetloses.lossdt' %></label></td>
		<td><%=h @assetloss.lossdt.strftime("%d %b %Y - %I:%M %p") unless @assetloss.lossdt.blank? %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="losshow"><%= t 'assetloses.losshow' %></label></td>
		<td><%=h @assetloss.losshow %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="lossstafflast_id"><%= t 'assetloses.lossstafflast_id' %></label></td>
      <td><%=h @assetloss.lossstafflast_id.blank? ? "" : @assetloss.laststaff.staff_name_with_title %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="laststaffcase"><%= t 'assetloses.laststaffcase' %></label></td>
      	<td><%=h @assetloss.laststaffcase? ? "Tidak" : "Ya" %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="preventpast"><%= t 'assetloses.preventpast' %></label></td>
		<td><%=h @assetloss.preventpast %></td>
	</tr>
	<tr>
	<td class="leftcol"><label for="laststaffstop"><%= t 'assetloses.laststaffstop' %></label></td>
      	<td><%=h @assetloss.laststaffstop? ? "Tidak" : "Ya" %></td>
	</tr>
	
	<tr>
	<td class="leftcol"><label for="poreport"><%= t 'assetloses.poreport' %></label></td>
      	<td><%=h @assetloss.poreport? ? "Tidak" : "Ya" %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="porepno"><%= t 'assetloses.porepno' %></label></td>
		<td><%=h @assetloss.porepno %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="preventfuture"><%= t 'assetloses.preventfuture' %></label></td>
		<td><%=h @assetloss.preventfuture %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="remarks"><%= t 'assetloses.remarks' %></label></td>
		<td><%=h @assetloss.remarks %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="hod_id"><%= t 'assetloses.hod_id' %></label></td>
		<td><%=h @assetloss.hod_id.blank? ? "" : @assetloss.hod.staff_name_with_title %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="hodendorsedt"><%= t 'assetloses.hodendorsedt' %></label></td>
		<td><%=h @assetloss.hodendorsedt.strftime("%d %B %Y") unless @assetloss.hodendorsedt.blank? %></td>
	</tr>
</table>
<H2>Lampiran K</H2>
<table width=50%>
		<tr>
			<td class="leftcol"><label for="moneytype"><%= t 'assetloses.moneytype' %></label></td>
				<td><%=h @assetloss.moneytype %></td>
		</tr>
		<!--enter purchase date & price here<-->
		<tr>
		<td class="leftcol"><label for="new"><%= t 'assetloses.new' %></label></td>
	      <td><%=h @assetloss.new? ? "Digunakan" : "Baru" %></td>
		</tr>
		
		<!--display :estvalue again here<-->
		
		<!--need to display some details from asset here<-->
		<!--state or federal? value?<-->
		<!--repeat display loss how?<-->
		
		<!--display asset.owner.staff.name + 
		     display asset.owner.staff.position.positionname +
		     display assset.owner.staff.position.maintasks<-->
		
		<tr>
				<td class="leftcol"><label for="sostop"><%= t 'assetloses.sostop' %></label></td>
				<td><%=h @assetloss.sostop? ? "Tidak" : "Ya" %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="sostopdt"><%= t 'assetloses.sostopdt' %></label></td>
			<td><%=h @assetloss.sostopdt %></td>
		</tr>
		
			<tr>
				<td class="leftcol"><label for="soaction"><%= t 'assetloses.soaction' %></label></td>
				<td><%=h @assetloss.soaction %></td>
			</tr>
		
		<!--display asset.owner.staff.pensiondate<-->
		
		<!--display asset.owner.staff.bosses.name + 
		     display asset.owner.staff.bosses.position.positionname +
		     display asset.owner.staff.bosses.position.maintasks<-->
		
			<tr>
				<td class="leftcol"><label for="supstop"><%= t 'assetloses.supstop' %></label></td>
				<td><%=h @assetloss.supstop? ? "Tidak" : "Ya" %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="supstopdt"><%= t 'assetloses.supstopdt' %></label></td>
				<td><%=h @assetloss.supstopdt.strftime("%d %B %Y") unless @assetloss.supstopdt.blank? %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="supaction"><%= t 'assetloses.supaction' %></label></td>
				<td><%=h @assetloss.supaction %></td>
			</tr>
		
		<tr>
			<td class="leftcol"><label for="poaction"><%= t 'assetloses.poaction' %></label></td>
			<td><%=h @assetloss.poaction %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="ponoreportwhy"><%= t 'assetloses.ponoreportwhy' %></label></td>
			<td><%=h @assetloss.ponoreportwhy %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="rulesbroken"><%= t 'assetloses.rulesbroken' %></label></td>
			<td><%=h @assetloss.rulesbroken? ? "Ya" : "Tidak" %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="owneraction"><%= t 'assetloses.owneraction' %></label></td>
			<td><%=h @assetloss.owneraction %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="newrule"><%= t 'assetloses.newrule' %></label></td>
			<td><%=h @assetloss.newrule %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="newrule_id"><%= t 'assetloses.newrule_id' %></label></td>
			<td><%=h @assetloss.newrule_id.blank? ? "" : @assetloss.enforce.name %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="nrrecommend"><%= t 'assetloses.nrrecommend' %></label></td>
			<td><%=h @assetloss.nrrecommend %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="surcharge"><%= t 'assetloses.surcharge' %></label></td>
			<td><%=h @assetloss.surcharge? ? "Tidak" : "Ya" %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="sio_id"><%= t 'assetloses.sio_id' %></label></td>
			<td><%=h @assetloss.sio_id.blank? ? "" : @assetloss.officer.staff_name_with_title %></td>
		</tr>
		
				
</table>
<BR>
</div>
	
<%= link_to 'Edit', edit_assetloss_path(@assetloss) %> |
<%= link_to 'Back', assetlosses_path %>