<div class="tform">
	<H2><%= t 'assetloses.assetloses_details' %></H2>
  <table width=100% >
			<tr>
				<td class="leftcol"><label for="reportcode"><b><%= t 'assetloses.reportcode' %> :</b></label></td>
				<td><%=h @assetloss.reportcode %></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="losstype"><b><%= t 'assetloses.losstype' %> :</b></label></td>
					<td><%=h @assetloss.losstype %></td>
			</tr>
	
			<tr>
			<td class="leftcol"><label for="asset_id"><b><%= t 'assetloses.asset_id' %> :</b></label></td>
		      <td><%=h @assetloss.asslost.assetcode unless @assetloss.asset_id.nil? %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="estvalue"><b><%= t 'assetloses.estvalue' %> :</b></label></td>
				<td><%=h ringgols(@assetloss.estvalue) %></td>
			</tr>
	

			<!--
			<tr>
			<td class="leftcol"><label for="part_id"><b>Supplies Code:</b></label></td>
		      <td><#%= f.collection_select :part_id, Part.find(:all), :id, :partcode, :include_blank => true %></td>
			</tr>
			<-->
	
			<tr>
				<td class="leftcol"><label for="losslocation_id"><b><%= t 'assetloses.losslocation_id' %> :</b></label></td>
				<td><%=h @assetloss.losslocation_id? ? @assetloss.location_details : "" %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="lossdt"><b><%= t 'assetloses.lossdt' %> :</b></label></td>
				<td><%=h @assetloss.lossdt.strftime("%I:%M%p  %d-%b-%Y") unless @assetloss.lossdt.blank? %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="losshow"><b><%= t 'assetloses.losshow' %>? :</b></label></td>
				<td><%=h @assetloss.losshow %></td>
			</tr>
	
			<tr>
			<td class="leftcol"><label for="lossstafflast_id"><b><%= t 'assetloses.lossstafflast_id' %> :</b></label></td>
		      <td><%=h @assetloss.lossstafflast_id.blank? ? "" : @assetloss.laststaff.name %></td>
			</tr>
	
			<tr>
			<td class="leftcol"><label for="laststaffcase"><b><%= t 'assetloses.laststaffcase' %>? :</b></label></td>
		      	<td><%=h @assetloss.laststaffcase %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="preventpast"><b><%= t 'assetloses.preventpast' %> :</b></label></td>
				<td><%=h @assetloss.preventpast %></td>
			</tr>
			<tr>
			<td class="leftcol"><label for="laststaffstop"><b><%= t 'assetloses.laststaffstop' %>?:</b></label></td>
		      	<td><%=h @assetloss.laststaffstop %></td>
			</tr>
	
			<tr>
			<td class="leftcol"><label for="poreport"><b><%= t 'assetloses.poreport' %> :</b></label></td>
		      	<td><%=h @assetloss.poreport %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="porepno"><b><b><%= t 'assetloses.porepno' %> :</b></label></td>
				<td><%=h @assetloss.porepno %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="preventfuture"><b><%= t 'assetloses.preventfuture' %> ?:</b></label></td>
				<td><%=h @assetloss.preventfuture %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="remarks"><b><%= t 'assetloses.remarks' %> :</b></label></td>
				<td><%=h @assetloss.remarks %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="hod_id"><b><%= t 'assetloses.hod_id' %> :</b></label></td>
				<td><%=h @assetloss.hod_id? ? @assetloss.hod_details : "" %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="hodendorsedt"><b><%= t 'assetloses.hodendorsedt' %> :</b></label></td>
				<td><%=h l(@assetloss.hodendorsedt) unless @assetloss.hodendorsedt.blank? %></td>
			</tr>
	</table>

	<H2><%= t 'assetloses.lampirank' %></H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="moneytype"><b><%= t 'assetloses.moneytype' %> :</b></label></td>
			<td><%=h @assetloss.moneytype %></td>
		</tr>
		<!--enter purchase date & price here<-->
		<tr>
		<td class="leftcol"><label for="new"><b><%= t 'assetloses.new' %> ?:</b></label></td>
	      <td><%=h @assetloss.new %></td>
		</tr>
		
		<!--display :estvalue again here<-->
		
		<!--need to display some details from asset here<-->
		<!--state or federal? value?<-->
		<!--repeat display loss how?<-->
		
		<!--display asset.owner.staff.name + 
		     display asset.owner.staff.position.positionname +
		     display assset.owner.staff.position.maintasks<-->
		
		<tr>
				<td class="leftcol"><label for="sostop"><b><%= t 'assetloses.sostop' %> :</b></label></td>
				<td><%=h @assetloss.sostop %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="sostopdt"><b><%= t 'assetloses.sostopdt' %> :</b></label></td>
			<td><%=h l(@assetloss.sostopdt) unless @assetloss.sostopdt.blank? %></td>
		</tr>
		
			<tr>
				<td class="leftcol"><label for="soaction"><b><%= t 'assetloses.soaction' %> :</b></label></td>
				<td><%=h @assetloss.soaction %></td>
			</tr>
		
		<!--display asset.owner.staff.pensiondate<-->
		
		<!--display asset.owner.staff.bosses.name + 
		     display asset.owner.staff.bosses.position.positionname +
		     display asset.owner.staff.bosses.position.maintasks<-->
		
			<tr>
				<td class="leftcol"><label for="supstop"><b><%= t 'assetloses.supstop' %> :</b></label></td>
				<td><%=h @assetloss.supstop %></td>
			</tr>

			<tr>
				<td class="leftcol"><label for="supstopdt"><b><%= t 'assetloses.supstopdt' %> :</b></label></td>
				<td><%=h l(@assetloss.supstopdt) unless @assetloss.supstopdt.blank? %></td>
			</tr>
			
			<tr>
				<td class="leftcol"><label for="supaction"><b><%= t 'assetloses.supaction' %> :</b></label></td>
				<td><%=h @assetloss.supaction %></td>
			</tr>
		
		<tr>
			<td class="leftcol"><label for="poaction"><b><%= t 'assetloses.poaction' %> :</b></label></td>
			<td><%=h @assetloss.poaction %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="ponoreportwhy"><b><%= t 'assetloses.ponoreportwhy' %> :</b></label></td>
			<td><%=h @assetloss.ponoreportwhy %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="rulesbroken"><b><%= t 'assetloses.rulesbroken' %> :</b></label></td>
			<td><%=h @assetloss.rulesbroken %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="owneraction"><b><%= t 'assetloses.owneraction' %> :</b></label></td>
			<td><%=h @assetloss.owneraction %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="newrule"><b><%= t 'assetloses.newrule' %> :</b></label></td>
			<td><%=h @assetloss.newrule %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="newrule_id"><b><%= t 'assetloses.newrule_id' %> :</b></label></td>
			<td><%=h @assetloss.newrule_id.blank? ? "" : @assetloss.enforce.name %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="nrrecommend"><b><%= t 'assetloses.nrrecommend' %> :</b></label></td>
			<td><%=h @assetloss.nrrecommend %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="surcharge"><b><%= t 'assetloses.surcharge' %> :</b></label></td>
			<td><%=h @assetloss.surcharge %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="sio_id"><b><%= t 'assetloses.sio_id' %> :</b></label></td>
			<td><%=h @assetloss.sio_id? ? @assetloss.officer_details : "" %></td>
		</tr>			
	</table>
<BR>
</div>
	
<%= link_to 'Edit', edit_assetloss_path(@assetloss) %> |
<%= link_to 'Back', assetlosses_path %>