<div class="tform">
<H2>Asset Loss Management - Details</H2>
<table width=100% >
		<tr>
			<td class="leftcolwide"><label for="reportcode"><b><%= t 'assetlosses.reportcode' %> :</b></label></td>
			<td><%=h @assetloss.reportcode %></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="hod_id"><b><%= t 'assetlosses.hod_id' %> :</b></label></td>
			<td><%=h @assetloss.hod_details %></td>
		</tr>

		<tr>
			<td class="leftcolwide"><label for="hodendorsedt"><b><%= t 'assetlosses.hodendorsedt' %> :</b></label></td>
			<td><%=h l(@assetloss.hodendorsedt) unless @assetloss.hodendorsedt.blank? %></td>
		</tr>
</table>
		
		
		
		
<article class="tabs">  
	<section id="tab1">  
		<h2><a href="#tab1">Lampiran J</a></h2>
			<table  width=800px >
				<tr>
						<td class="leftcolwide"><label for="losstype"><b><%= t 'assetlosses.losstype' %> :</b></label></td>
						<td><%=h @assetloss.losstype %>
							  <% if @assetloss.losstype == "Asset" %>
								<BR><%= @assetloss.asset_details %><% end -%></td>
				</tr>
				
				<tr>
					<td class="leftcolwide"><label for="estvalue"><b><%= t 'assetlosses.estvalue' %> :</b></label></td>
					<td><%=h ringgols(@assetloss.estvalue) %></td>
				</tr>
				
				<tr>
					<td class="leftcolwide"><label for="losslocation_id"><b><%= t 'assetlosses.losslocation_id' %> :</b></label></td>
					<td><%=h @assetloss.location_details %></td>
				</tr>
				
				<tr>
					<td class="leftcolwide"><label for="lossdt"><b><%= t 'assetlosses.lossdt' %> :</b></label></td>
					<td><%=h @assetloss.lossdt.strftime("%I:%M%p  %d-%b-%Y") unless @assetloss.lossdt.blank? %></td>
				</tr>
				
				<tr>
					<td class="leftcolwide"><label for="losshow"><b><%= t 'assetlosses.losshow' %>? :</b></label></td>
					<td><%=h @assetloss.losshow %></td>
				</tr>
				
				<tr>
					<td class="leftcolwide"><label for="lossstafflast_id"><b><%= t 'assetlosses.lossstafflast_id' %> :</b></label></td>
			    <td><%=h @assetloss.last_staff_to_handle %></td>
				</tr>
				
				<tr>
					<td class="leftcolwide"><label for="laststaffcase"><b><%= t 'assetlosses.laststaffcase' %>? :</b></label></td>
			    <td><%=h @assetloss.laststaffcase? ? "Yes" : "No" %></td>
				</tr>
				
				<tr>
					<td class="leftcolwide"><label for="laststaffstop"><b><%= t 'assetlosses.laststaffstop' %>?:</b></label></td>
			    <td><%=h @assetloss.laststaffstop? ? "Yes" : "No" %></td>
				</tr>
				
				<tr>
					<td class="leftcolwide"><label for="poreport"><b><%= t 'assetlosses.poreport' %> :</b></label></td>
			    <td><%=h @assetloss.poreport? ? ("Yes, Police Report No :" +  @assetloss.porepno ) : "No" %></td>
				</tr>
				
				<tr>
					<td class="leftcolwide"><label for="preventpast"><b><%= t 'assetlosses.preventpast' %> :</b></label></td>
					<td><%=h @assetloss.preventpast %></td>
				</tr>
				
				<tr>
					<td class="leftcolwide"><label for="preventfuture"><b><%= t 'assetlosses.preventfuture' %> ?:</b></label></td>
					<td><%=h @assetloss.preventfuture %></td>
				</tr>
				
				<tr>
					<td class="leftcolwide"><label for="remarks"><b><%= t 'assetlosses.remarks' %> :</b></label></td>
					<td><%=h @assetloss.remarks %></td>
				</tr>	
			</table>
	</section> 
	
	
	
	 
	<section id="tab2"> 
	<h2><a href="#tab2">Lampiran K</a></h2>
		<table  width=800px >
			<tr>
				<td class="leftcolwide"><label for="moneytype"><b><%= t 'assetlosses.moneytype' %> :</b></label></td>
				<td><%=h @assetloss.moneytype %></td>
			</tr>
			<tr>
				<td class="leftcolwide"><label for="asset_purchasedate"><b><%= t 'asset.purchasedate' %> :</b></label></td>
				<td><%=h l(@assetloss.asset.purchasedate) unless @assetloss.asset.blank? %></td>
			</tr>
			<tr>
				<td class="leftcolwide"><label for="purchaseprice"><b><%= t 'asset.purchaseprice' %> :</b></label></td>
				<td><%=h ringgols(@assetloss.asset.purchaseprice) unless @assetloss.asset.blank? %></td>
			</tr>
		</table>
	</section>  
	<section id="tab3">  
	<h2><a href="#tab3">Tab 3</a></h2>  
	<p>This content appears on tab 3.</p>  
	</section>  
	</article>
	</div>
	<div class="tform">
	
	
	
	

	

	
	
	
	
	
	



	<H2><%= t 'assetlosses.lampirank' %></H2>
	<table width=100%>
		<tr>
			<td class="leftcolwide"><label for="moneytype"><b><%= t 'assetlosses.moneytype' %> :</b></label></td>
			<td><%=h @assetloss.moneytype %></td>
		</tr>
		<!--enter purchase date & price here<-->
		<tr>
		<td class="leftcolwide"><label for="new"><b><%= t 'assetlosses.new' %> ?:</b></label></td>
	      <td><%=h @assetloss.new %></td>
		</tr>
		
		<!--display :estvalue again here<-->
		
		<!--need to display some details from asset here<-->
		<!--state or federal? value?<-->
		<!--repeat display loss how?<-->
		
		<!--display asset.owner.staff.name + 
		     display asset.owner.staff.position.positionname +
		     display assset.owner.staff.position.maintasks<-->
		
		<tr>
				<td class="leftcolwide"><label for="sostop"><b><%= t 'assetlosses.sostop' %> :</b></label></td>
				<td><%=h @assetloss.sostop %></td>
		</tr>
		<tr>
			<td class="leftcolwide"><label for="sostopdt"><b><%= t 'assetlosses.sostopdt' %> :</b></label></td>
			<td><%=h l(@assetloss.sostopdt) unless @assetloss.sostopdt.blank? %></td>
		</tr>
		
			<tr>
				<td class="leftcolwide"><label for="soaction"><b><%= t 'assetlosses.soaction' %> :</b></label></td>
				<td><%=h @assetloss.soaction %></td>
			</tr>
		
		<!--display asset.owner.staff.pensiondate<-->
		
		<!--display asset.owner.staff.bosses.name + 
		     display asset.owner.staff.bosses.position.positionname +
		     display asset.owner.staff.bosses.position.maintasks<-->
		
			<tr>
				<td class="leftcolwide"><label for="supstop"><b><%= t 'assetlosses.supstop' %> :</b></label></td>
				<td><%=h @assetloss.supstop %></td>
			</tr>

			<tr>
				<td class="leftcolwide"><label for="supstopdt"><b><%= t 'assetlosses.supstopdt' %> :</b></label></td>
				<td><%=h l(@assetloss.supstopdt) unless @assetloss.supstopdt.blank? %></td>
			</tr>
			
			<tr>
				<td class="leftcolwide"><label for="supaction"><b><%= t 'assetlosses.supaction' %> :</b></label></td>
				<td><%=h @assetloss.supaction %></td>
			</tr>
		
		<tr>
			<td class="leftcolwide"><label for="poaction"><b><%= t 'assetlosses.poaction' %> :</b></label></td>
			<td><%=h @assetloss.poaction %></td>
		</tr>

		<tr>
			<td class="leftcolwide"><label for="ponoreportwhy"><b><%= t 'assetlosses.ponoreportwhy' %> :</b></label></td>
			<td><%=h @assetloss.ponoreportwhy %></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="rulesbroken"><b><%= t 'assetlosses.rulesbroken' %> :</b></label></td>
			<td><%=h @assetloss.rulesbroken %></td>
		</tr>
		<tr>
			<td class="leftcolwide"><label for="owneraction"><b><%= t 'assetlosses.owneraction' %> :</b></label></td>
			<td><%=h @assetloss.owneraction %></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="newrule"><b><%= t 'assetlosses.newrule' %> :</b></label></td>
			<td><%=h @assetloss.newrule %></td>
		</tr>

		<tr>
			<td class="leftcolwide"><label for="newrule_id"><b><%= t 'assetlosses.newrule_id' %> :</b></label></td>
			<td><%=h @assetloss.newrule_id.blank? ? "" : @assetloss.enforce.name %></td>
		</tr>
		
		<tr>
			<td class="leftcolwide"><label for="nrrecommend"><b><%= t 'assetlosses.nrrecommend' %> :</b></label></td>
			<td><%=h @assetloss.nrrecommend %></td>
		</tr>
		<tr>
			<td class="leftcolwide"><label for="surcharge"><b><%= t 'assetlosses.surcharge' %> :</b></label></td>
			<td><%=h @assetloss.surcharge %></td>
		</tr>
		<tr>
			<td class="leftcolwide"><label for="sio_id"><b><%= t 'assetlosses.sio_id' %> :</b></label></td>
			<td><%=h @assetloss.sio_id? ? @assetloss.officer_details : "" %></td>
		</tr>			
	</table>
<BR>
</div>
	
<%= link_to 'Edit', edit_assetloss_path(@assetloss) %> |
<%= link_to 'Back', assetlosses_path %>