<h1>Editing staffemployscheme</h1>

<% form_for(@staffemployscheme) do |f| %>
  <%= f.error_messages %>
  <%=render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @staffemployscheme %> |
<%= link_to 'Back', staffemployschemes_path %>