<p>
  <b>Glass:</b>
  <%=h @staffemployscheme.glass %>
</p>

<p>
  <b>Name:</b>
  <%=h @staffemployscheme.name %>
</p>

<p>
  <b>Group:</b>
  <%=h @staffemployscheme.group_id %>
</p>
<p>
<% for staffemploygrade in @staffemployscheme.staffemploygrades %>
<%= h staffemploygrade.employgrade.name %>, 
<% end %>
</p>


<%= link_to 'Edit', edit_staffemployscheme_path(@staffemployscheme) %> |
<%= link_to 'Back', staffemployschemes_path %>