<h3>Editing Staff Grade</h3>

<% form_for(@staffgrade) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>

<%= link_to 'Show', @staffgrade %> |
<%= link_to 'Back', staffgrades_path %>