<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Lists of Staff Grades</h2>
	</div>
	<div class="tlist">
	    <table width=90% border="0" cellpadding="0" cellspacing="0">
		  <tr>
    <th>Classification (do a group_by here)</th>
    <th>Group</th>
    <th>Grade</th>
   <th colspan=3 class="ac">Control</th>
  </tr>

<#% @staffgrades.each do |staffgrade| %>
<% @staffgrades_gelas.each do |gelas_name, staffgrades| %>
	<tr><td colspan=6><BR><b>Classification <%= gelas_name %></b></td></tr>
		<% for staffgrade in staffgrades %>
  <tr>
    <td><%=h (Staffgrade::CLASSIFICATION.find_all{|disp, value| value == staffgrade.classification_id}).map {|disp, value| disp} %></td>
	  <td><%=h (Staffgrade::GROUP.find_all{|disp, value| value == staffgrade.group_id}).map {|disp, value| disp} %></td>
    <td><%=h staffgrade.grade %></td>
    <td><%= link_to 'Show', staffgrade %></td>
    <td><%= link_to 'Edit', edit_staffgrade_path(staffgrade) %></td>
    <td><%= link_to 'Destroy', staffgrade, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %><% end %>
</table>

<br />


<%= link_to 'New Staffgrade', new_staffgrade_path %>