<div class="tform">
  <table width=100% >
<!--Personal Info-->
<tr>
	<th colspan = 2>Staff Grades</th>
</tr>  

	<tr>
		<td class="leftcol"><label for="sgname"><b>Classification:</b></label></td>
	  <td><%=h (Staffgrade::CLASSIFICATION.find_all{|disp, value| value == @staffgrade.classification_id}).map {|disp, value| disp} %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="sgname"><b>Group:</b></label></td>
	  <td><%=h (Staffgrade::GROUP.find_all{|disp, value| value == @staffgrade.group_id}).map {|disp, value| disp} %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="sgshortname"><b>Grade:</b></label></td>
		<td><%=h @staffgrade.grade %><%=h @staffgrade.classification_name %></td>
	</tr>
	

</table>
<BR>
</div>
<%= link_to 'Edit', edit_staffgrade_path(@staffgrade) %> |
<%= link_to 'Back', staffgrades_path %>