<div class="tform">
  <table width=100% >
<!--Personal Info-->
<tr>
	<th colspan = 2>Staff Grades</th>
</tr>  

	<tr>
		<td class="leftcol"><label for="sgcode"><b>Grade Code:</b></label></td>
		<td><%=h @staffgrade.sgcode %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="sgname"><b>SGrade Name:</b></label></td>
	<td> <%=h @staffgrade.sgname %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="sgshortname"><b>Grade Short Name:</b></label></td>
		<td><%=h @staffgrade.sgshortname %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="sglevel"><b>Grade Level:</b></label></td>
		<td> <%=h @staffgrade.sglevel %></td>
	</tr>

</table>
<BR>
</div>
<%= link_to 'Edit', edit_staffgrade_path(@staffgrade) %> |
<%= link_to 'Back', staffgrades_path %>