<h3>Editing Asset Category</h3>

<% form_for(@assetcategory) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @assetcategory %> |
<%= link_to 'Back', assetcategories_path %>