<% form_for(@assetcategory) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
	<H2><%= t 'assetcategories.edit' %></H2>
	<%=render :partial => 'form', :locals => {:f => f} %> 
	</div>
 <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>

<%= link_to (t 'show'), @assetcategory %> |
<%= link_to (t 'back'), assetcategories_path %>