<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Lists of Asset Category</h2>
	</div>
</div>
<div class="indextable">
	<table>
		<tr>
    <th>Parent</th>
    <th>Description</th>
    <th>Cattype</th>
	<th colspan=3 class="ac">Control</th>
  </tr>

<% @assetcategories.each do |assetcategory| %>
  <tr>
    <td><%=h assetcategory.parent.description unless assetcategory.parent_id.nil? %></td>
    <td><%=h assetcategory.description %></td>
    <td><%=h (Assetcategory::ASSETTYPE.find_all{|disp, value| value == assetcategory.cattype_id}).map {|disp, value| disp} %></td>

		<td width=10px><%= link_to image_tag("document.png",	:border => 0, :title => 'Show'), assetcategory %></td>
    <td width=10px><%= link_to image_tag("edit.png", 			:border => 0, :title => 'Edit'), edit_assetcategory_path(assetcategory) %></td>
    <td width=10px><%= link_to image_tag("delete.png", 		:border => 0, :title => 'Delete'), assetcategory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
</div>

<%= link_to 'New Asset Category', new_assetcategory_path %>