<div class="box">
	<div class="box-head">
		<h2 class="left"><%= t 'assetcategories.title' %></h2>
	</div>
</div>

<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => (t 'assetcategories.new')) + (t 'assetcategories.new'), new_assetcategory_path %></p>
</div>
<BR><BR>
<div class="indextable">
	<table>
		  <tr>
    <th width=20%><%= t 'assetcategories.parent' %></th>
    <th><%= t 'assetcategories.description' %></th>
    <th><%= t 'assetcategories.category' %></th>
    <th colspan=3><%=t('control')%></th>
  </tr>

<% @assetcategories.each do |assetcategory| %>
  <tr>
    <td><%=h assetcategory.parent.description unless assetcategory.parent_id.nil? %></td>
    <td><%=h assetcategory.description %></td>
    <td><%=h assetcategory.render_type %></td>
    <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => (t 'show')), assetcategory %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => (t 'edit')), edit_assetcategory_path(assetcategory) %></td>
    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => (t 'delete')), assetcategory, :confirm => (t 'are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />
<%= link_to (t 'assetcategories.new'), new_assetcategory_path %>