<p>
  <b>Parent:</b>
  <%=h @assetcategory.parent_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @assetcategory.description %>
</p>

<p>
  <b>Cattype:</b>
  <%=h @assetcategory.cattype_id %>
</p>


<%= link_to 'Edit', edit_assetcategory_path(@assetcategory) %> |
<%= link_to 'Back', assetcategories_path %>