<div class="tform">
	<H2><%= t 'assetcategories.details' %></h2>
	<table width=100%>
		<tr>
			<td class="leftcol"><%=t('assetcategories.parent')%></td>
			<td><%=h @assetcategory.parent_id %></td>
		</tr>
		<tr>
			<td class="leftcol"><%=t('assetcategories.description')%></td>
			<td><%=h @assetcategory.description %></td>
		</tr>
		<tr>
			<td class="leftcol"><%=t('assetcategories.category')%></td>
			<td><%=h @assetcategory.cattype_id %></td>
		</tr>
	</table>
</div>

<%= link_to (t 'edit'), edit_assetcategory_path(@assetcategory) %> |
<%= link_to (t 'back'), assetcategories_path %>