<div class="tform">
	<H2>Library Resources & Transaction Analysis / Statistic Search</H2>

<% form_for @librarytransactionsearch do |f| %>
  <%= f.error_messages %>
	<table width=100% >
		<% if @searchlibrarytransactiontype=='1' || @searchlibrarytransactiontype==1 %>
			<%= hidden_field_tag :method,  1 %>
			<tr><td colspan=2>Search Statistic Data for Library Resources / Library Transactions :</td></tr>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;Select Year</td>
				<td><%= date_select :yearstat, params[:yearstat],:order => [:year],:start_year=>2011,:end_year=>Date.today.year %></td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;</td>
				<td><%= f.check_box :accumbookloan,:checked=>"unchecked", :id=> 'accumbookloan_checker' %>&nbsp;Accumulated Books On Loan</td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;</td>
				<td><%= f.check_box :programme,:checked=>"unchecked", :id=> 'programme_checker' %>&nbsp;Borrower by Programme</td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;</td>
				<td><%= f.check_box :fines,:checked=>"unchecked", :id=> 'fines_checker' %>&nbsp;Accumulated Fines Collected</td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;</td>
				<td><%= f.check_box :bookloans,:checked=>"unchecked", :id=> 'bookloans_checker' %>&nbsp;Total Books on Loan</td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;</td>
				<td><%= f.check_box :details,:checked=>"unchecked", :id=> 'transactiondetails_checker' %>&nbsp;Transaction Details</td>
			</tr>
		<% end %>
	</table>			

  <p><%= f.submit "Search"%>&nbsp;<font size=-2><b>Tick</b> to select type of statistic data accordingly.</font></p>
<% end %>


