<div class="tform">
	<H2><%=t('equery.library_transaction.search')%></H2>

<% form_for @librarytransactionsearch do |f| %>
  <%= f.error_messages %>
	<table width=100% >
		<% if @searchlibrarytransactiontype=='1' || @searchlibrarytransactiontype==1 %>
			<%= hidden_field_tag :method,  1 %>
			<tr><td colspan=2><%=t('equery.library_transaction.search_data')%> :</td></tr>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<%=t('equery.library_transaction.select_year')%></td>
				<td><%= date_select :yearstat, params[:yearstat],:order => [:year],:start_year=>2011,:end_year=>Date.today.year %></td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;</td>
				<td><%= f.check_box :accumbookloan,:checked=>"unchecked", :id=> 'accumbookloan_checker' %>&nbsp;<%=t('equery.library_transaction.accumulated_loan')%></td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;</td>
				<td><%= f.check_box :programme,:checked=>"unchecked", :id=> 'programme_checker' %>&nbsp;<%=t('equery.library_transaction.borrower_programme')%></td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;</td>
				<td><%= f.check_box :fines,:checked=>"unchecked", :id=> 'fines_checker' %>&nbsp;<%=t('equery.library_transaction.accumulated_fine_collected')%></td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;</td>
				<td><%= f.check_box :bookloans,:checked=>"unchecked", :id=> 'bookloans_checker' %>&nbsp;<%=t('equery.library_transaction.total_loan')%></td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;</td>
				<td><%= f.check_box :details,:checked=>"unchecked", :id=> 'transactiondetails_checker' %>&nbsp;<%=t('equery.library_transaction.details')%></td>
			</tr>
		<% end %>
	</table>			

  <p><%= f.submit (t 'search') %>&nbsp;<font size=-2><b><%=t('equery.library_transaction.tick_checkbox')%></b><%=t('equery.library_transaction.type_statistic_data')%></font></p>
<% end %>


</div>