<div style="padding-top:20px;padding-left:20px;padding-bottom:20px;">
	<span style="font-family: Arial, Helvetica, sans-serif;font-size:12px;">
		<H3><%=(t 'equery.library_transaction.search').upcase %> :</h3>
			
		<%=(t 'time.years').titleize%> : <%=h @librarytransactionsearch.yearstat.year %><br>
		<%=t('equery.library_transaction.total')%> : <%=h @librarytransactionsearch.librarytransactions.count %><br><br>
	
		<!--FOR TRANSACTION DETAILS USE & MONTHLY ACCUMULATED BOOK ON LOAN-->
		<% @bookmonth1 = []%><% @checkout1 = 0%><% @checkout1stu = 0%>
		<% @bookmonth2 = []%><% @checkout2 = 0%><% @checkout2stu = 0%>
		<% @bookmonth3 = []%><% @checkout3 = 0%><% @checkout3stu = 0%>
		<% @bookmonth4 = []%><% @checkout4 = 0%><% @checkout4stu = 0%>
		<% @bookmonth5 = []%><% @checkout5 = 0%><% @checkout5stu = 0%>
		<% @bookmonth6 = []%><% @checkout6 = 0%><% @checkout6stu = 0%>
		<% @bookmonth7 = []%><% @checkout7 = 0%><% @checkout7stu = 0%>
		<% @bookmonth8 = []%><% @checkout8 = 0%><% @checkout8stu = 0%>
		<% @bookmonth9 = []%><% @checkout9 = 0%><% @checkout9stu = 0%>
		<% @bookmonth10 = []%><% @checkout10 = 0%><% @checkout10stu = 0%>
		<% @bookmonth11 = []%><% @checkout11 = 0%><% @checkout11stu = 0%>
		<% @bookmonth12 = []%><% @checkout12 = 0%><% @checkout12stu = 0%>
		
		<% @librarytransactionsearch.librarytransactions.each do |x| %>
			<% if x.checkoutdate.month == 1 %>
				<% @checkout1+=1 if x.ru_staff == true %>
				<% @checkout1stu+=1 if x.ru_staff == false %>
				<% @bookmonth1<< x %>
			<% elsif x.checkoutdate.month == 2 %>
				<% @checkout2+=1 if x.ru_staff == true%>
				<% @checkout2stu+=1 if x.ru_staff == false %>
				<% @bookmonth2<< x %>
			<% elsif x.checkoutdate.month == 3%>
				<% @checkout3+=1 if x.ru_staff == true%>
				<% @checkout3stu+=1 if x.ru_staff == false %>
				<% @bookmonth3<< x %>
			<% elsif x.checkoutdate.month == 4%>
				<% @checkout4+=1 if x.ru_staff == true%>
				<% @checkout4stu+=1 if x.ru_staff == false %>
				<% @bookmonth4<< x %>
			<% elsif x.checkoutdate.month == 5%>
				<% @checkout5+=1 if x.ru_staff == true%>
				<% @checkout5stu+=1 if x.ru_staff == false %>
				<% @bookmonth5<< x %>
			<% elsif x.checkoutdate.month == 6%>
				<% @checkout6+=1 if x.ru_staff == true%>
				<% @checkout6stu+=1 if x.ru_staff == false %>
				<% @bookmonth6<< x %>
			<% elsif x.checkoutdate.month == 7%>
				<% @checkout7+=1 if x.ru_staff == true%>
				<% @checkout7stu+=1 if x.ru_staff == false %>
				<% @bookmonth7<< x %>
			<% elsif x.checkoutdate.month == 8%>
				<% @checkout8+=1 if x.ru_staff == true%>
				<% @checkout8stu+=1 if x.ru_staff == false %>
				<% @bookmonth8<< x %>
			<% elsif x.checkoutdate.month == 9%>
				<% @checkout9+=1 if x.ru_staff == true%>
				<% @checkout9stu+=1 if x.ru_staff == false %>
				<% @bookmonth9<< x %>
			<% elsif x.checkoutdate.month == 10%>
				<% @checkout10+=1 if x.ru_staff == true%>
				<% @checkout10stu+=1 if x.ru_staff == false %>
				<% @bookmonth10<< x %>
			<% elsif x.checkoutdate.month == 11%>
				<% @checkout11+=1 if x.ru_staff == true%>
				<% @checkout11stu+=1 if x.ru_staff == false %>
				<% @bookmonth11<< x %>
			<% elsif x.checkoutdate.month == 12%>
				<% @checkout12+=1 if x.ru_staff == true%>
				<% @checkout12stu+=1 if x.ru_staff == false %>
				<% @bookmonth12<< x %>
			<% end %>
			
		<% end %>
		
		<% @sorted_bookloan_by_months =@bookmonth1+@bookmonth2+@bookmonth3+@bookmonth4+@bookmonth5+@bookmonth6+@bookmonth7+@bookmonth8+@bookmonth9+@bookmonth10+@bookmonth11+@bookmonth12%>
		<!---->
	
		<% if @librarytransactionsearch.accumbookloan == 1%>
			
			<% @accumulated1 = @checkout1 %>
			<% @accumulated2 = @accumulated1+@checkout2 %>
			<% @accumulated3 = @accumulated2+@checkout3 %>
			<% @accumulated4 = @accumulated3+@checkout4 %>
			<% @accumulated5 = @accumulated4+@checkout5 %>
			<% @accumulated6 = @accumulated5+@checkout6 %>
			<% @accumulated7 = @accumulated6+@checkout7 %>
			<% @accumulated8 = @accumulated7+@checkout8 %>
			<% @accumulated9 = @accumulated8+@checkout9 %>
			<% @accumulated10 = @accumulated9+@checkout10 %>
			<% @accumulated11 = @accumulated10+@checkout11 %>
			<% @accumulated12 = @accumulated11+@checkout12 %>
			
			<% @accumulated1stu = @checkout1stu %>
			<% @accumulated2stu = @accumulated1stu+@checkout2stu %>
			<% @accumulated3stu = @accumulated2stu+@checkout3stu %>
			<% @accumulated4stu = @accumulated3stu+@checkout4stu %>
			<% @accumulated5stu = @accumulated4stu+@checkout5stu %>
			<% @accumulated6stu = @accumulated5stu+@checkout6stu %>
			<% @accumulated7stu = @accumulated6stu+@checkout7stu %>
			<% @accumulated8stu = @accumulated7stu+@checkout8stu %>
			<% @accumulated9stu = @accumulated8stu+@checkout9stu %>
			<% @accumulated10stu = @accumulated9stu+@checkout10stu %>
			<% @accumulated11stu = @accumulated10stu+@checkout11stu %>
			<% @accumulated12stu = @accumulated11stu+@checkout12stu %>
			<b><%=t('equery.library_transaction.accumulated_loan')%></b> 
			<table border=1 cellspacing=0 cellpadding=3>
				<tr style="background-color:#EFF1F1;">
					<th width=6% align=center><%=(t 'time.months').upcase%></th>
					<th width=6% align=center><%= t(:'date.month_names')[1] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[2] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[3] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[4] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[5] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[6] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[7] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[8] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[9] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[10] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[11] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[12] %></th>
					<th width=6% align=center><%=(t 'equery.total').upcase%></th>
				</tr>
				<tr>
					<th style="background-color:#EFF1F1;color:#218AFB;font-weight:bold;"><%=t('equery.library_transaction.staff')%></th>
					<td align=center><%=@accumulated1%></td>
					<td align=center><%=@accumulated2%></td>
					<td align=center><%=@accumulated3%></td>
					<td align=center><%=@accumulated4%></td>
					<td align=center><%=@accumulated5%></td>
					<td align=center><%=@accumulated6%></td>
					<td align=center><%=@accumulated7%></td>
					<td align=center><%=@accumulated8%></td>
					<td align=center><%=@accumulated9%></td>
					<td align=center><%=@accumulated10%></td>
					<td align=center><%=@accumulated11%></td>
					<td align=center><%=@accumulated12%></td>
					<td align=center style="background-color:#EFF1F1;font-weight:bold;"><%=@accumulated12%></td>
				</tr>
				<tr>
					<th style="background-color:#EFF1F1;color:#218AFB;font-weight:bold;"><%=t('equery.library_transaction.student')%></th>
					<td align=center><%=@accumulated1stu%></td>
					<td align=center><%=@accumulated2stu%></td>
					<td align=center><%=@accumulated3stu%></td>
					<td align=center><%=@accumulated4stu%></td>
					<td align=center><%=@accumulated5stu%></td>
					<td align=center><%=@accumulated6stu%></td>
					<td align=center><%=@accumulated7stu%></td>
					<td align=center><%=@accumulated8stu%></td>
					<td align=center><%=@accumulated9stu%></td>
					<td align=center><%=@accumulated10stu%></td>
					<td align=center><%=@accumulated11stu%></td>
					<td align=center><%=@accumulated12stu%></td>
					<td align=center style="background-color:#EFF1F1;font-weight:bold;"><%=@accumulated12stu%></td>
				</tr>
				<tr>
					<td colspan=13>&nbsp;</td>
					<td align=center style="background-color:#EFF1F1;font-weight:bold;"><%=@accumulated12+@accumulated12stu%></td>
				</tr>
			</table>
			<br><br>
		<% end %>	
		<% if @librarytransactionsearch.programme == 1 %>
			<b><%=t('equery.library_transaction.borrower_programme')%></b><br>
			
			<% @programme_list = Programme.roots %>
			<% @count_prog1 = 0 %><%# @stu_count_prog1 = 0 %>
			<% @count_prog2 = 0 %><%# @stu_count_prog2 = 0 %>
			<% @count_prog3 = 0 %><%# @stu_count_prog3 = 0 %>
			<% @count_prog4 = 0 %><%# @stu_count_prog4 = 0 %>
			<% @count_prog5 = 0 %><%# @stu_count_prog5 = 0 %>
			<% @count_prog6 = 0 %><%# @stu_count_prog6 = 0 %>
			<% @count_prog7 = 0 %><%# @stu_count_prog7 = 0 %>
			<% @count_prog8 = 0 %><%# @stu_count_prog8 = 0 %>
			<% @count_prog9 = 0 %><%# @stu_count_prog9 = 0 %>
			<% @count_prog10 = 0 %><%# @stu_count_prog10 = 0 %>
			<% @count_prog11 = 0 %><%# @stu_count_prog11 = 0 %>
			<% @count_prog12 = 0 %><%# @stu_count_prog12 = 0 %>
			<% @count_prog13 = 0 %><%# @stu_count_prog13 = 0 %>
			<% @count_prog14 = 0 %><%# @stu_count_prog14 = 0 %>
			<% @count_prog15 = 0 %>
			<% @count_prog16 = 0 %>
			<% @librarytransactionsearch.librarytransactions.each do |t| %>
				<% if t.ru_staff == false %>
					<% @count_prog1+=1 if t.student.course_id == 1 %>
					<% @count_prog2+=1 if t.student.course_id == 2 %>
					<% @count_prog3+=1 if t.student.course_id == 3 %>
					<% @count_prog4+=1 if t.student.course_id == 4 %>
					<% @count_prog5+=1 if t.student.course_id == 5 %>
					<% @count_prog6+=1 if t.student.course_id == 6 %>
					<% @count_prog7+=1 if t.student.course_id == 7 %>
					<% @count_prog8+=1 if t.student.course_id == 8 %>
					<% @count_prog9+=1 if t.student.course_id == 9 %>
					<% @count_prog10+=1 if t.student.course_id == 10 %>
					<% @count_prog11+=1 if t.student.course_id == 11 %>
					<% @count_prog12+=1 if t.student.course_id == 12 %>
					<% @count_prog13+=1 if t.student.course_id == 13 %>
					<% @count_prog14+=1 if t.student.course_id == 14 %>
					<% @count_prog15+=1 if t.student.course_id == 67 %>
					<% @count_prog15+=1 if t.student.course_id == 1697 %>
				<% end %>
			<% end %>
			
			<table border=1 cellspacing=0 cellpadding=3>
				<tr style="background-color:#EFF1F1;">
					<th width=6% align=center><%=(t 'equery.library_transaction.programme').upcase%></th>
					<% @count_dip=0%>
					<% @programme_list.sort_by{|s|s.id}.each do |y|%>
						<% if y.course_type == 'Diploma' && @count_dip<5 %>
							<th align=center><%=y.programme_coursetype_name%><br>(<%=y.id%>)</th><%@count_dip+=1%>
						<% end %>
					<% end %>
					<th align=center><%=t('equery.total')%></th>
				</tr>
				<tr>
					<th style="background-color:#EFF1F1;color:#218AFB;font-weight:bold;"><%=t('equery.library_transaction.student')%></th>
					<td align=center><%=@count_prog1%></td>
					<td align=center><%=@count_prog2%></td>
					<td align=center><%=@count_prog3%></td>
					<td align=center><%=@count_prog4%></td>
					<td align=center><%=@count_prog5%></td>
					<td align=center style="background-color:#EFF1F1;font-weight:bold;"><%=@count_prog1+@count_prog2+@count_prog3+@count_prog4+@count_prog5%></td>
				</tr>
			</table><br>
			<table border=1 cellspacing=0 cellpadding=3>
				<tr style="background-color:#EFF1F1;">
					<th width=6% align=center><%=(t 'equery.library_transaction.programme').upcase%></th>
					<% @count_dip2=0%>
					<% @programme_list.sort_by{|s|s.id}.each do |y|%>
						<% if y.course_type == 'Pos Basik' && y.name.include?('TEST')==false %>
							<th align=center><%=y.programme_coursetype_name%> <br>(<%=y.id%>)</th><%@count_dip2+=1%>
						<% end %>
					<% end %>
					<th align=center><%=t('equery.total')%></th>
				</tr>
				<tr>
					<th style="background-color:#EFF1F1;color:#218AFB;font-weight:bold;"><%=t('equery.library_transaction.student')%></th>
					<td align=center><%=@count_prog6%></td>
					<td align=center><%=@count_prog7%></td>
					<td align=center><%=@count_prog8%></td>
					<td align=center><%=@count_prog9%></td>
					<td align=center><%=@count_prog10%></td>
					<td align=center><%=@count_prog11%></td>
					<td align=center><%=@count_prog12%></td>
					<td align=center><%=@count_prog15%></td>
				        <td align=center><%=@count_prog16%></td>
					<td align=center style="background-color:#EFF1F1;font-weight:bold;"><%=@count_prog6+@count_prog7+@count_prog8+@count_prog9+@count_prog10+@count_prog11+@count_prog12+@count_prog15+@count_prog16%></td>
				</tr>
			</table><br>
			<table border=1 cellspacing=0 cellpadding=3>
				<tr style="background-color:#EFF1F1;">
					<th width=6% align=center><%=(t 'equery.library_transaction.programme').upcase%></th>
					<% @count_dip3=0%>
					<% @programme_list.each do |y|%>
						<% if y.course_type == 'Diploma Lanjutan'%>
							<th align=center><%=y.programme_coursetype_name%><br>(<%=y.id%>)</th><%@count_dip3+=1%>
						<% end %>
					<% end %>
					<th align=center><%=t('equery.total')%></th>
				</tr>
				<tr>
					<th style="background-color:#EFF1F1;color:#218AFB;font-weight:bold;"><%=t('equery.library_transaction.student')%></th>
					<td align=center><%=@count_prog13%></td>
					<td align=center><%=@count_prog14%></td>
					<td align=center style="background-color:#EFF1F1;font-weight:bold;"><%=@count_prog13+@count_prog14%></td>
				</tr>
			</table>
			<br><br>
		<% end %>
		
		
		<% if @librarytransactionsearch.fines == 1 %>
			<% @accufines1=0%><% @accufines2=0%><% @accufines3=0%><% @accufines4=0%><% @accufines5=0%><% @accufines6=0%>
			<% @accufines7=0%><% @accufines8=0%><% @accufines9=0%><% @accufines10=0%><% @accufines11=0%><% @accufines12=0%>
			<% @librarytransactionsearch.librarytransactions.each do |x| %>
				<% if x.fine != nil %>
					<% @fine = x.fine %>
				<% else %>
					<% @fine = 0 %>
				<% end %>
				<% @accufines1+=@fine if x.checkoutdate.month == 1 %>
				<% @accufines2+=@fine if x.checkoutdate.month == 2 %>
				<% @accufines3+=@fine if x.checkoutdate.month == 3%>
				<% @accufines4+=@fine if x.checkoutdate.month == 4%>
				<% @accufines5+=@fine if x.checkoutdate.month == 5%>
				<% @accufines6+=@fine if x.checkoutdate.month == 6%>
				<% @accufines7+=@fine if x.checkoutdate.month == 7%>
				<% @accufines8+=@fine if x.checkoutdate.month == 8%>
				<% @accufines9+=@fine if x.checkoutdate.month == 9%>
				<% @accufines10+=@fine if x.checkoutdate.month == 10%>
				<% @accufines11+=@fine if x.checkoutdate.month == 11%>
				<% @accufines12+=@fine if x.checkoutdate.month == 12%>
			<% end %>
			<b><%=t('equery.library_transaction.accumulated_fine_collected')%></b>
			<table border=1 cellspacing=0 cellpadding=3>
				<tr style="background-color:#EFF1F1;">
					<th width=6% align=center><%=(t 'time.months').upcase%></th>
					<th width=6% align=center><%= t(:'date.month_names')[1] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[2] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[3] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[4] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[5] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[6] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[7] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[8] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[9] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[10] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[11] %></th>
					<th width=6% align=center><%= t(:'date.month_names')[12] %></th>
					<th width=6% align=center><%=(t 'equery.total').upcase%></th>
				</tr>
				<tr>
					<th style="background-color:#EFF1F1;color:#218AFB;font-weight:bold;"><%=t('equery.library_transaction.fines')%></th>
					<td align=center><%=ringgols(@accufines1)%></td>
					<td align=center><%=ringgols(@accufines2+=@accufines1)%></td>
					<td align=center><%=ringgols(@accufines3+=@accufines2)%></td>
					<td align=center><%=ringgols(@accufines4+=@accufines3)%></td>
					<td align=center><%=ringgols(@accufines5+=@accufines4)%></td>
					<td align=center><%=ringgols(@accufines6+=@accufines5)%></td>
					<td align=center><%=ringgols(@accufines7+=@accufines6)%></td>
					<td align=center><%=ringgols(@accufines8+=@accufines7)%></td>
					<td align=center><%=ringgols(@accufines9+=@accufines8)%></td>
					<td align=center><%=ringgols(@accufines10+=@accufines9)%></td>
					<td align=center><%=ringgols(@accufines11+=@accufines10)%></td>
					<td align=center><%=ringgols(@accufines12+=@accufines11)%></td>
					<td align=center style="background-color:#EFF1F1;font-weight:bold;"><%=ringgols(@accufines12)%></td>
				</tr>
			</table>
			<br><br>
		<% end %>	
		

		<% if @librarytransactionsearch.bookloans == 1 %>
			<% @w_class=0 %><% @wl_class=0%><% @wx_class=0%>
			<% @wa_class=0%><% @wm_class=0%><% @wy_class=0%>
			<% @wb_class=0%><% @wn_class=0%><% @wz_class=0%>
			<% @wc_class=0%><% @wo_class=0%><% @qs_class=0%>
			<% @wd_class=0%><% @wp_class=0%><% @qt_class=0%>
			<% @we_class=0%><% @wq_class=0%><% @qu_class=0%>
			<% @wf_class=0%><% @wr_class=0%><% @qv_class=0%>
			<% @wg_class=0%><% @ws_class=0%><% @qw_class=0%>
			<% @wh_class=0%><% @wt_class=0%><% @qx_class=0%>
			<% @wi_class=0%><% @wu_class=0%><% @qy_class=0%>
			<% @wj_class=0%><% @wv_class=0%><% @qz_class=0%>
			<% @wk_class=0%><% @ww_class=0%><% @others=0%>
			
			<% @librarytransactionsearch.librarytransactions.each do |x| %>
				<% @split_class = x.accession.book.classlcc.split(' ')[0] %>
				<% if @split_class == 'W' %>
					<% @w_class +=1 %>
				<% elsif @split_class == 'WA'%>
					<% @wa_class +=1 %>
				<% elsif @split_class == 'WB'%>
					<% @wb_class +=1 %>
				<% elsif @split_class == 'WC'%>
					<% @wc_class +=1 %>
				<% elsif @split_class == 'WD'%>
					<% @wd_class +=1 %>
				<% elsif @split_class == 'WE'%>
					<% @we_class +=1 %>
				<% elsif @split_class == 'WF'%>
					<% @wf_class +=1 %>
				<% elsif @split_class == 'WG'%>
					<% @wg_class +=1 %>
				<% elsif @split_class == 'WH'%>
					<% @wh_class +=1 %>
				<% elsif @split_class == 'WI'%>
					<% @wi_class +=1 %>
				<% elsif @split_class == 'WJ'%>
					<% @wj_class +=1 %>
				<% elsif @split_class == 'WK'%>
					<% @wk_class +=1 %>
				<% elsif @split_class == 'WL'%>
					<% @wl_class +=1 %>
				<% elsif @split_class == 'WM'%>
					<% @wm_class +=1 %>
				<% elsif @split_class == 'WN'%>
					<% @wn_class +=1 %>
				<% elsif @split_class == 'WO'%>
					<% @wo_class +=1 %>
				<% elsif @split_class == 'WP'%>
					<% @wp_class +=1 %>
				<% elsif @split_class == 'WQ'%>
					<% @wq_class +=1 %>
				<% elsif @split_class == 'WR'%>
					<% @wr_class +=1 %>
				<% elsif @split_class == 'WS'%>
					<% @ws_class +=1 %>	
				<% elsif @split_class == 'WT'%>
					<% @wt_class +=1 %>
				<% elsif @split_class == 'WU'%>
					<% @wu_class +=1 %>
				<% elsif @split_class == 'WV'%>
					<% @wv_class +=1 %>
				<% elsif @split_class == 'WW'%>
					<% @ww_class +=1 %>
				<% elsif @split_class == 'WX'%>
					<% @wx_class +=1 %>
				<% elsif @split_class == 'WY'%>
					<% @wy_class +=1 %>	
				<% elsif @split_class == 'WZ'%>
					<% @wz_class +=1 %>	
				<% elsif @split_class == 'QS'%>
					<% @qs_class +=1 %>
				<% elsif @split_class == 'QT'%>
					<% @qt_class +=1 %>
				<% elsif @split_class == 'QU'%>
					<% @qu_class +=1 %>
				<% elsif @split_class == 'QV'%>
					<% @qv_class +=1 %>
				<% elsif @split_class == 'QW'%>
					<% @qw_class +=1 %>
				<% elsif @split_class == 'QX'%>
					<% @qx_class +=1 %>	
				<% elsif @split_class == 'QY'%>
					<% @qy_class +=1 %>	
				<% elsif @split_class == 'QZ'%>
					<% @qz_class +=1 %>	
				<% else %>
					<% @others +=1 %>
				<% end %>
			<% end %>
			
			<b><%=t('equery.library_transaction.total_loan')%> <%=t('equery.library_transaction.by_nlm')%></b>
			<table border=1 cellspacing=0 cellpadding=3>
				<tr style="background-color:#EFF1F1;">
					<th width=6% align=center>W</th>
					<th width=6% align=center>WA</th>
					<th width=6% align=center>WB</th>
					<th width=6% align=center>WC</th>
					<th width=6% align=center>WD</th>
					<th width=6% align=center>WE</th>
					<th width=6% align=center>WF</th>
					<th width=6% align=center>WG</th>
					<th width=6% align=center>WH</th>
					<th width=6% align=center>WI</th>
					<th width=6% align=center>WJ</th>
					<th width=6% align=center>WK</th>
					<th width=6% align=center>WL</th>
					<th width=6% align=center>WM</th>
					<th width=6% align=center>WN</th>
					<th width=6% align=center>WO</th>
					<th width=6% align=center>WP</th>
					<th width=6% align=center>WQ</th>
					<th width=6% align=center>WR</th>
					<th width=6% align=center>WS</th>
					<th width=6% align=center>WT</th>
					<th width=6% align=center>WU</th>
					<th width=6% align=center>WV</th>
					<th width=6% align=center>WW</th>
					<th width=6% align=center>WX</th>
					<th width=6% align=center>WY</th>
					<th width=6% align=center>WZ</th>
					<th width=6% align=center><%=(t 'equery.total').upcase%></th>
				</tr>
				<tr>
					<td align=center><%=@w_class%></td>
					<td align=center><%=@wa_class%></td>
					<td align=center><%=@wb_class%></td>
					<td align=center><%=@wc_class%></td>
					<td align=center><%=@wd_class%></td>
					<td align=center><%=@we_class%></td>
					<td align=center><%=@wf_class%></td>
					<td align=center><%=@wg_class%></td>
					<td align=center><%=@wh_class%></td>
					<td align=center><%=@wi_class%></td>
					<td align=center><%=@wj_class%></td>
					<td align=center><%=@wk_class%></td>
					<td align=center><%=@wl_class%></td>
					<td align=center><%=@wm_class%></td>
					<td align=center><%=@wn_class%></td>
					<td align=center><%=@wo_class%></td>
					<td align=center><%=@wp_class%></td>
					<td align=center><%=@wq_class%></td>
					<td align=center><%=@wr_class%></td>
					<td align=center><%=@ws_class%></td>
					<td align=center><%=@wt_class%></td>
					<td align=center><%=@wu_class%></td>
					<td align=center><%=@wv_class%></td>
					<td align=center><%=@ww_class%></td>
					<td align=center><%=@wx_class%></td>
					<td align=center><%=@wy_class%></td>
					<td align=center><%=@wz_class%></td>
					<td align=center style="background-color:#EFF1F1;font-weight:bold;"><%=@w_class+@wa_class+@wb_class+@wc_class+@wd_class+@we_class+@wf_class+@wg_class+@wh_class+@wi_class+@wj_class+@wk_class+@wl_class+@wm_class+@wn_class+@wo_class+@wp_class+@wq_class+@wr_class+@ws_class+@wt_class+@wu_class+@wv_class+@ww_class+@wx_class+@wy_class+@wz_class%></td>
				</tr>
			</table>
			<br>
			<table border=1 cellspacing=0 cellpadding=3>
				<tr style="background-color:#EFF1F1;">
					<th width=6% align=center>QS</th>
					<th width=6% align=center>QT</th>
					<th width=6% align=center>QU</th>
					<th width=6% align=center>QV</th>
					<th width=6% align=center>QW</th>
					<th width=6% align=center>Qx</th>
					<th width=6% align=center>QY</th>
					<th width=6% align=center>QZ</th>
					<th width=6% align=center>Others</th>
					<th width=6% align=center><%=(t 'equery.total').upcase%></th>
				</tr>
				<tr>
					<td align=center><%=@qs_class%></td>
					<td align=center><%=@qt_class%></td>
					<td align=center><%=@qu_class%></td>
					<td align=center><%=@qv_class%></td>
					<td align=center><%=@qw_class%></td>
					<td align=center><%=@qx_class%></td>
					<td align=center><%=@qy_class%></td>
					<td align=center><%=@qz_class%></td>
					<td align=center><%=@others%></td>
					<td align=center style="background-color:#EFF1F1;font-weight:bold;"><%=@qs_class+@qt_class+@qu_class+@qv_class+@qw_class+@qx_class+@qy_class+@qz_class+@others%></td>
				</tr>
			</table>
			<br><br>
		<% end %>
		

	<% if @librarytransactionsearch.details == 1 %>
		<b><%=t('equery.library_transaction.details')%></b>
		<table border=1 cellspacing=0 cellpadding=3>
			<tr style="background-color:#EFF1F1;">
				<th>No</th>
				<th><%=t('book.title')%></th>
				<th><%=t('book.accessionno')%></th>
				<th><%=t('equery.library_transaction.classification')%></th>
				<th><%=t('librarytransaction.checkoutdate')%></th>
				<th><%=t('equery.library_transaction.programme')%></th>
			</tr>
			<%# @librarytransactionsearch.librarytransactions.each_with_index do |librarytransaction, index|%>
			<% @sorted_bookloan_by_months.each_with_index do |x, index|%>
				<tr>
					<td><%=index+1%></td>
					<td><%=x.accession.book.title%></td>
					<td align=center><%=x.accession.accession_no%></td>
					<td><%=x.accession.book.classlcc%></td>
					<td align=center><%=l(x.checkoutdate, :format => "%d-%m-%Y") %></td>
					<td align=center>
						<% if x.ru_staff == false %>
							<% if x.student.course_id != nil%>
								(<%=x.student.course_id%>)
							<% else %>
								<%=t('equery.not_defined')%>
							<% end %>
						<% end %>
					</td>
				</tr>	
			<% end %>
		</table>
	<% end %>
	<br>
</div>