<h1>New staffsearch</h1>

<% form_for(@staffsearch) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :staff_grade %><br />
    <%= f.text_field :staff_grade %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<%= link_to 'Back', staffsearches_path %>