<p>
  <b>Keywords:</b>
  <%=h @staffsearch.keywords %>
</p>

<p>
  <b>Position:</b>
  <%=h @staffsearch.position %>
</p>

<p>
  <b>Staff grade:</b>
  <%=h @staffsearch.staff_grade %>
</p>


<%= link_to 'Edit', edit_staffsearch_path(@staffsearch) %> |
<%= link_to 'Back', staffsearches_path %>