<% javascript 'dynamic_subjects' %>
<h2>Weekly Timetable Details</h2>

<table width=100%>
	<tr>
		<td class="leftcol"><%= f.label :programme_id %></td>
		<td><%= f.collection_select :programme_id, Programme.roots, :id, :programme_list, :prompt=>"Select"  %>
			<%#= @weeklytimetable.schedule_programme.programme_list %>
		</td>
	</tr>
	<!--24March2013-trial section-->
	<!--
	<tr>
		<td>SUBJECT</td>
		<td>-->
			<!--<p id="subject_field"><%#= f.collection_select :subject_id, Programme.at_depth(2), :id, :name, :prompt => "Select" %></p>-->
			<!--this one works! -but include blank NOT working--><!--<select name="weeklytimetable[subject_id]" id="weeklytimetable_subject_id">
				<%#=option_groups_from_collection_for_select(Programme::OPTIONS, :options, :type_name, :id, :name, @weeklytimetable.subject_id)%>
			</select>-->
			<!--this one also works-but include blank NOT working-->
			<%#= select_tag "weeklytimetable[subject_id]", option_groups_from_collection_for_select(Programme::OPTIONS, :options, :type_name, :id, :name), {:include_blank => "Select subject"} %>
			<%#= f.grouped_collection_select(:subject_id, Programme::OPTIONS, :options, :type_name, :id, :name, :include_blank=>"Select Subject")%>
		<!--</td>-->
	</tr>
	<!--24March2013-trial section-->
	<tr>
		<td class="leftcol"><!--20March2013--><%#= f.label :intake_id %><label>Group (Intake)</label></td>
		<td>
			<%#= f.collection_select :intake_id, Intake.all, :id, :group_with_intake_name, :prompt=> "Select" %>
			<%# if @weeklytimetable.id.nil? || @weeklytimetable.id.blank? %>
				<%#= f.grouped_collection_select(:intake_id, Intake::OPTIONS, :options, :type_name, :id, :name, 5,:include_blank=> "Select Group (Intake)") %><%# else %>
				<%#=h @weeklytimetable.intake_id %>
				<!--YG OK-->
				<%= f.collection_select :intake_id, Intake.all, :id, :programme_group_intake, :prompt=> "Select" %>
				<!--YG OK-->
				<%# options = option_groups_from_collection_for_select(Intake::OPTIONS, :options, :type_name, :id, :name, 0)%>
				<%#= select_tag('weeklytimetable', :intake_id, :options=>options, :include_blank=>true )%>
				<%#= select_tag "weeklytimetable[intake_id]", option_groups_from_collection_for_select(Intake::OPTIONS, :options, :type_name, :id, :name, 1), {:include_blank => "Select subject"} %>
				<!--try<br>
				<select name="weeklytimetable[intake_id]" id="weeklytimetable_subject_id">
					<%#=option_groups_from_collection_for_select(Intake::OPTIONS, :options, :type_name, :id, :name, 'Perawatan Rapi')%>
				</select>-->
			<%# end %>
		</td>
	</tr>	
	<!--20March2013
	<tr>
		<td class="leftcol"><%#= f.label :group_id %></td>
		<td><%#= f.text_field :group_id %></td>
	</tr>-->
	<tr>
		<td class="leftcol"><%= f.label :semester %></td>
		<td><%= f.collection_select :semester, AcademicSession.all, :id, :semester, :prompt => "Select" %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= f.label :week %></td>
		<td><%= f.text_field :week %></td>
	</tr>

	<tr>
		<td class="leftcol">Start Date</td>
		<td><%= f.date_select :startdate, :include_blank => true %></td>
	</tr>	
	<tr>
		<td class="leftcol">End Date</td>
		<td><%= f.date_select :enddate, :include_blank => true %></td>
	</tr>	

	<tr>
		<td class="leftcol"><%= f.label :prepared_by %></td>
		<td><%= f.collection_select :prepared_by, Staff.find(:all, :conditions => ['id =?', User.current_user.staff_id] ), :id, :name %></td>
	</tr>	
	<tr>
		<td class="leftcol"><label>Timetable Format (Mon - Thurs)</label></td>
		<td><%= f.collection_select :format1, Timetable.all, :id, :name, :prompt => "Select"  %></td>
	</tr>
	<tr>
		<td class="leftcol"><label>Timetable Format (Friday)</label></td>
		<td><%= f.collection_select :format2, Timetable.all, :id, :name, :prompt => "Select"  %></td>
	</tr>
</table>
