<fieldset>
	<legend class='togvis'><%=t('weeklytimetable.title2')%></legend>
		<table width=85% >
			<tr>
				<td class="leftcol"><label><%=t('weeklytimetable.programme_id')%>:</label></td>
				<td><%=h @weeklytimetable.schedule_programme.programme_list %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('weeklytimetable.group_id')%>:</label></td>
				<td><%=h @weeklytimetable.schedule_intake.group_with_intake_name  %></td>				
			</tr>
			<!--20March2013
			<tr>
				<td class="leftcol"><label>Group:</label></td>
				<td><%#=h @weeklytimetable.group_id %></td>				
			</tr>-->
			<tr>
				<td class="leftcol"><label><%=t('weeklytimetable.startdate')%>:</label></td>
				<td><%=h @weeklytimetable.startdate.strftime('%d-%b-%Y')  %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('weeklytimetable.enddate')%>:</label></td>
				<td><%=h @weeklytimetable.enddate.strftime('%d-%b-%Y')  %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('weeklytimetable.semester')%>:</label></td>
				<td><%=h @weeklytimetable.academic_semester.semester %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('weeklytimetable.week')%>:</label></td>
				<td><%=h @weeklytimetable.week %>/<%=h @weeklytimetable.academic_semester.total_week %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('weeklytimetable.prepared_by')%>:</label></td>
				<td><%=h @weeklytimetable.schedule_creator.name %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('weeklytimetable.endorsed_by')%>:</label></td>
				<td><%=h @weeklytimetable.endorsed_by? ? @weeklytimetable.schedule_approver.name : "-"  %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('weeklytimetable.format1')%>:</label></td>
				<td><%=h @weeklytimetable.timetable_monthurs.name %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label><%=t('weeklytimetable.format2')%>:</label></td>
				<td><%=h @weeklytimetable.timetable_friday.name %></td>				
			</tr>
		</table>
	</fieldset>