<fieldset>
	<legend class='togvis'>Weekly Timetable</legend>
		<table width=85% >
			<tr>
				<td class="leftcol"><label>Programme:</label></td>
				<td><%=h @weeklytimetable.schedule_programme.programme_list %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label>Group:</label></td>
				<td><%=h @weeklytimetable.schedule_intake.group_with_intake_name %></td>				
			</tr>
			<!--20March2013
			<tr>
				<td class="leftcol"><label>Group:</label></td>
				<td><%#=h @weeklytimetable.group_id %></td>				
			</tr>-->
			<tr>
				<td class="leftcol"><label>Startdate:</label></td>
				<td><%=h @weeklytimetable.startdate %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label>Enddate:</label></td>
				<td><%=h @weeklytimetable.enddate %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label>Semester:</label></td>
				<td><%=h @weeklytimetable.academic_semester.semester %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label>Prepared by:</label></td>
				<td><%=h @weeklytimetable.schedule_creator.name %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label>Timetable Format (Mon-Thurs):</label></td>
				<td><%=h @weeklytimetable.timetable_monthurs.name %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label>Timetable Format (Friday):</label></td>
				<td><%=h @weeklytimetable.timetable_friday.name %></td>				
			</tr>
			<!--
			<tr>
				<td class="leftcol"><label>Endorsed by:</label></td>
				<td> <%#=h @weeklytimetable.schedule_approver.name %></td>				
			</tr>-->
		</table>
	</fieldset>

