<% form_for(@weeklytimetable) do |f| %>
  <%= f.error_messages %>

	
		<% if (@weeklytimetable.prepared_by == User.current_user.staff_id && @weeklytimetable.is_submitted != true)  || (@weeklytimetable.prepared_by == User.current_user.staff_id && @weeklytimetable.hod_rejected? == true )%>
			<h3>Editing Weekly Timetable</h3>
			<div class="tform">
				<%=render :partial => 'show_first' %>
				<%=render :partial => 'form_timetable2' %><!--newly added 28March2013-->
				<%=render :partial => 'form_process', :locals => {:f => f} %>

			</div>
		<% end -%>
		<% if @weeklytimetable.is_submitted == true && @weeklytimetable.endorsed_by == User.current_user.staff_id %>
			<h3>Weekly Timetable Approval</h3>
			<div class="tform">
				<%=render :partial => 'show_main' %>
				<%=render :partial => 'approval', :locals => {:f => f} %>
			</div>
		<% end -%>
	</div>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @weeklytimetable %> |
<%= link_to 'Back', weeklytimetables_path %>