<div class="box">
	<div class="box-head">
		<h2 class="left">Listing Weekly Timetables</h2>
	</div>
</div>

<% unless @position_exist %>	
	You have no position assigned yet. <br>
	Please contact administrator.
<% else %>
	<% if @lecturer_programme.nil? || @lecturer_programme.blank? %>
		Programme / Unit is not defined. <br>
	<% else %>
	
<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => 'New Weekly Timetable') + "New", new_weeklytimetable_path %></p>
</div>

<div class="indextable">
	<table>
	  <tr>
	    <th>Programme</th>
    	<!--20March2013<th>Intake</th>-->
    	<th>Group</th>
    	<th>Startdate</th>
    	<th>Enddate</th>
    	<th>Semester</th>
    	<th>Prepared by</th>
		<th>Submitted?</th>
		<th>Approved</th>
    	<!--<th>Endorsed by</th>-->
		<th colspan=3 class="ac">Control</th>
  	  </tr>
<!--hack-21March2013-->
<%# current_roles=[]%><%# Login.current_login.roles.each do |x| %><%# current_roles << x.name %><%# end %><%#=current_roles.include? 'Administration'%>
<!--hack-21March2013-->
<% @weeklytimetables.group_by{|x|x.programme_id}.each do |p,weeklytimetables| %>
	<% weeklytimetables.each do |weeklytimetable|%>
<!--hack-21March2013-->
  <%# if  (weeklytimetable.prepared_by == Login.current_login.staff_id) || (weeklytimetable.endorsed_by == Login.current_login.staff_id) ||(current_roles.include? 'Administration') %>
<!--hack-21March2013-->
</b>
  <tr>
    <td><%=h weeklytimetable.schedule_programme.programme_list %></td>
    <!--20March2013<td><%=h weeklytimetable.intake_id %></td>-->
    <td><%=h weeklytimetable.schedule_intake.group_with_intake_name %></td>
    <td><%=h weeklytimetable.startdate %></td>
    <td><%=h weeklytimetable.enddate %></td>
    <td><%=h weeklytimetable.academic_semester.semester %></td>
    <td><%=h weeklytimetable.schedule_creator.name %></td>
    <!--<td><%#=h weeklytimetable.schedule_approver.name %></td>-->
	<td><%=h weeklytimetable.is_submitted? ? image_tag("tick.png") : image_tag("cross.png") %>
		<% if weeklytimetable.hod_rejected==true && weeklytimetable.is_submitted==nil %>
			- Returned
		<%elsif weeklytimetable.hod_rejected==true && weeklytimetable.is_submitted==true %>
			- Resubmitted
		<% end %>
	</td>
	<td>
		<%=h weeklytimetable.hod_approved? ? image_tag("tick.png") : image_tag("cross.png") %>
		<%=h weeklytimetable.hod_rejected? ? "- Rejected" : "" %>
	</td>
    <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => weeklytimetable %></td>
    <td width=10px>
		<% if (weeklytimetable.is_submitted != true && weeklytimetable.prepared_by == Login.current_login.staff_id) || (weeklytimetable.prepared_by == Login.current_login.staff_id && weeklytimetable.hod_rejected? == true && weeklytimetable.is_submitted==nil) %>
			<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => weeklytimetable %>
		<% elsif (weeklytimetable.is_submitted == true && weeklytimetable.endorsed_by == Login.current_login.staff_id && weeklytimetable.hod_approved!= true)  %>
			<%= link_to image_tag("approval.png", :border => 0), :action => 'edit', :id => weeklytimetable %>
		<% end %>
	</td>
    <td width=10px><%= link_to image_tag("printer.png", :border => 0, :title => 'General Timetable'), :action => 'general_timetable', :id => weeklytimetable %></td>
 	<td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), weeklytimetable, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <%# end %>
  <% end %>
<% end %>
</table>

<br />
</div>

<%= link_to 'New Weekly Timetable', new_weeklytimetable_path %>

<% end %>
<% end %>