<div class="box">
	<div class="box-head">
		<h2 class="left"><%=t('weeklytimetable.title')%></h2>
	</div>
</div>	
<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => 'New Weekly Timetable') + t('weeklytimetable.new'), new_weeklytimetable_path %></p>
</div>
<BR><BR>

<div class="indextable">
	<table>
		<tr>
			<th><%=t('weeklytimetable.programme_id')%></th>
			<!--20March2013<th>Intake</th>-->
			<th><%=t('weeklytimetable.group_id')%></th>
			<th><%=t('weeklytimetable.startdate')%></th>
			<th><%=t('weeklytimetable.enddate')%></th>
			<th><%=t('weeklytimetable.semester')%></th>
			<th><%=t('weeklytimetable.prepared_by')%></th>
			<th><%=t('weeklytimetable.is_submitted')%></th>
			<th><%=t('weeklytimetable.hod_approved')%></th>
			<!--<th>Endorsed by</th>-->
			<th colspan=4 class="ac"><%=t('control')%></th>
		</tr>
		<% @weeklytimetables.group_by{|x|x.programme_id}.each do |p,weeklytimetables| %>
			<% weeklytimetables.sort_by{|y|y.startdate}.each do |weeklytimetable|%>
			<tr>
				<td><%=h weeklytimetable.schedule_programme.programme_list %></td>
				<!--20March2013<td><%=h weeklytimetable.intake_id %></td>-->
				<td><%=h weeklytimetable.schedule_intake.group_with_intake_name %></td>
				<td><%=h weeklytimetable.startdate %></td>
				<td><%=h weeklytimetable.enddate %></td>
				<td><%=h weeklytimetable.academic_semester.semester %></td>
				<td><%=h weeklytimetable.schedule_creator.name %></td>
				<!--<td><%#=h weeklytimetable.schedule_approver.name %></td>-->
				<td>
					<%=h weeklytimetable.is_submitted? ? image_tag("tick.png") : image_tag("cross.png") %>
					<% if weeklytimetable.hod_rejected==true && weeklytimetable.is_submitted==nil %>
						<%=t('weeklytimetable.returned')%>
					<%elsif weeklytimetable.hod_rejected==true && weeklytimetable.is_submitted==true %>
						<%=t('weeklytimetable.resubmitted')%>
					<% end %>
				</td>
				<td>
					<%=h weeklytimetable.hod_approved? ? image_tag("tick.png") : image_tag("cross.png") %>
					<%=h weeklytimetable.hod_rejected? ? (t 'weeklytimetable.rejected') : "" %>
				</td>
				<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => weeklytimetable %></td>
				<td width=10px>
				<!--hack-->
					<% if (weeklytimetable.is_submitted != true && ((weeklytimetable.prepared_by == Login.current_login.staff_id)|| (@is_admin)||(@is_common_lecturer) ))||(weeklytimetable.is_submitted==nil && weeklytimetable.hod_rejected? == true && 
					((weeklytimetable.prepared_by == Login.current_login.staff_id) || @is_admin|| @is_common_lecturer) ) %>
						<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => weeklytimetable %>
					<% elsif (weeklytimetable.is_submitted == true && weeklytimetable.hod_approved!= true && 
					((weeklytimetable.endorsed_by == Login.current_login.staff_id)|| @is_admin || @is_common_lecturer))  %>
						<%= link_to image_tag("approval.png", :border => 0), :action => 'edit', :id => weeklytimetable %>
					<% end %>
				<!--hack-->	
				</td>
				<td width=10px><%= link_to image_tag("printer.png", :border => 0, :title => 'General Timetable'), :action => 'general_timetable', :id => weeklytimetable %></td>
				<td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), weeklytimetable, :confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
	<BR>
</div>

<%= link_to t('weeklytimetable.new'), new_weeklytimetable_path %>


