<h3><%=t('weeklytimetable.new')%></h3>
<% form_for(@weeklytimetable) do |f| %>
	<%= f.error_messages %>
	<div class="tform">
		<%=render :partial => 'form', :locals => {:f => f} %>
	</div>
	<p><%= f.submit t('create') %></p>
<% end %>
<%= link_to t('back'), weeklytimetables_path %>