<%= stylesheet_link_tag 'report', :media => "print" %>

	<form action="#">
			<script>
			document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");
			</script>
	</form>
<!--check params value from controller--><!--
<%#=@selected_date%>**<%#=@hihi%>@@<%#=@haha%>-->
<!--check params value from controller-->

<div class="A4landscape" >
		<% detailing=[] %>
		<% detailing_monthurs=[]%>
		<% detailing_friday=[]%>
		
			<% @personalize.each do |sdate, items2| %>
			  <!--	<%= sdate%>~~~<%=items2%>~~~<%#=@selected_date%>-->
				<% items2.each_with_index do |item, index|%>

					<% if sdate.to_s == @selected_date.to_s %>
						<% if index == 0 %>
<table class="plong">
	<thead>				
				<tr>
					<th class="tright2" colspan=6><b>BPL.KKM.PK(T04D/09)</b></th>
				</tr>
				<tr><th colspan=6><img border="0" src="/images/KM.jpg" alt="KKM" width="" height="70"/></th></tr>
				<tr>
					<th colspan=6 class="ministry_title">KEMENTERIAN KESIHATAN MALAYSIA</th>
				</tr>
				<tr>
					<th colspan=6 class="ministry_title_2">JADUAL WAKTU MINGGUAN</th>
				</tr>
				<tr>
					<th class="htitle2">INSTITUSI</th>
					<th colspan="5" class="htitle2">:&nbsp;&nbsp;KOLEJ SAINS KESIHATAN BERSEKUTU JOHOR BAHRU</th>
				</tr>

				<tr>
					<th class="htitle2">NAMA PENSYARAH</th>
					<th colspan="5" class="htitle2">:&nbsp;&nbsp;
						<!--added-26Jul2013-for e-query & report manager-->
						<% if @hihi!= nil%>
							<%=Staff.find(@haha).name%>
						<% else %>
							<%=h Login.current_login.staff.name %>
						<% end %>
						<!--added-26Jul2013-for e-query & report manager-->
					</th>
				</tr>
				<tr>
					<th class="htitle2a">TARIKH </th>
					<th class="htitle2a">:&nbsp;&nbsp;<%=h item.startdate.strftime('%d-%b-%Y') %>&nbsp;HINGGA&nbsp;<%#=h item.enddt.strftime('%d-%b-%Y') %><%=item.enddate.strftime('%d-%b-%Y') %>
					
					</th>
					<th class="htitle2r">&nbsp;</th>
					<th class="htitle2a">&nbsp;</th>
					<th class="htitle2r">&nbsp;</th>
					<th class="htitle2a">&nbsp;</th>	
				</tr>
				
	</thead>
</table>	
					<% startdt = item.startdate %>
					<% enddt = item.enddate %>
					
					<% item.weeklytimetable_details.each do |h| %><!--<%#=h.lecturer_id%>!!<%#=Login.current_login.staff_id%>-->
						<!--added-26Jul2013-for e-query & report manager-->
						<% if @hihi!= nil%>
							<% @timetable_owner = @haha.to_i %>
						<% else %>
							<% @timetable_owner = Login.current_login.staff_id %>
						<% end %>
						<!--added-26Jul2013-for e-query & report manager-->
						<% if h.lecturer_id == @timetable_owner %>
							<% detailing << h %>
							<% if h.day2 != 0 %>
								<% detailing_monthurs<< h %>
							<% elsif h.is_friday == true %>
								<% detailing_friday<< h %>
							<% end %>
						<% end %>
					<% end %>
					
				<% end %>
				<%#= item.weeklytimetable_details %>

				<%# item.weeklytimetable_details.each do |h| %>
					<%# if h.lecturer_id == Login.current_login.staff_id %>
						<%# detailing << h %>
						<%# if h.day2 != 0 %>
							<%#detailing_monthurs<< h %>
						<%#elsif h.is_friday == true %>
							<%# detailing_friday<< h %>
						<%# end %>
					<%# end %>
				<%# end %>
			<% end %>
		<% end %>
		<% end %>
				
<!--24March2013-weekly schedule-->	
<center>
<!--<table width=95% style="border:none;padding:0;border-spacing:0;">-->
<table class="plong">	
	<!--Header for Monday until Thursday-(start)-->
	<tr><td class="header1">&nbsp;</td>
	<% detailing.each_with_index do |j,index|%><!--<%=detailing.count%>~<%#=detailing_monthurs.count%>~<%#=detailing_friday.count%>-->
	<% if index==0%>
		<% @column_count_friday=j.weeklytimetable.timetable_friday.timetable_periods.count%>
		<% @column_count_monthur=j.weeklytimetable.timetable_monthurs.timetable_periods.count%>
		<% @weekdays_end = j.weeklytimetable.startdate.to_date+4.days %>
		<% @daycount = @column_count_monthur %>
		<% @daycount2 = (j.weeklytimetable.enddate.to_date - @weekdays_end).to_i %>
		<% @break_format1 = j.weeklytimetable.timetable_monthurs.timetable_periods.map(&:is_break) %>
		<% @break_format2 = j.weeklytimetable.timetable_friday.timetable_periods.map(&:is_break) %>
		<% j.weeklytimetable.timetable_monthurs.timetable_periods.in_groups_of(@column_count_monthur, false) do |row_things| %>
	
		
			<% counter = 1 %>
			<% for periods in row_things %>
				<% if periods.day_name == 1 %>
					<!--print border accordingly-(start)-->
					<%# if counter == 7 %>
						<!--<td class="header2">&nbsp;trtr-->
					<%# else %>
						<td class="header3">
					<%# end %>
					<!--print border accordingly-(end)-->	
					<!--print data-->
					<%= l(periods.start_at )%> - <%= l(periods.end_at) %><BR>
					</td>
					<% counter=+1 %>
					<!--print data-->
				<% else %>
				<% end %>
			<% end %>	
		</td>	
	<% end %></tr>
	<% end %>
	<% end %>
	<!--Header for Monday until Thursday-(end)-->

	<!--Content for Monday until Thursday-(start)-->
	<% 1.upto(4) do |count2|%>
	<tr>
		<% detailing.each_with_index do |j,index|%>
		<% if index==0%>
			<% @column_count_friday=j.weeklytimetable.timetable_friday.timetable_periods.count%>
			<% @column_count_monthur=j.weeklytimetable.timetable_monthurs.timetable_periods.count%>
		<td class="data1a">
			<% if count2==1 %><%=t(:'date.day_names')[0]%><br> <%=j.weeklytimetable.startdate.strftime('%d-%b-%Y') %>
			<% elsif count2==2 %><%=t(:'date.day_names')[1]%><br><%=(j.weeklytimetable.startdate+1).strftime('%d-%b-%Y')  %>
			<% elsif count2==3 %><%=t(:'date.day_names')[2]%><br><%=(j.weeklytimetable.startdate+2).strftime('%d-%b-%Y')  %>
			<% elsif count2==4 %><%=t(:'date.day_names')[3]%><br><%=(j.weeklytimetable.startdate+3).strftime('%d-%b-%Y')  %>
			<% end %>	
		</td>
		<% @column_count=j.weeklytimetable.timetable_monthurs.timetable_periods.count%>
		<% end %>
		<% end %>
		
		<!--span BREAK fields & display CLASSES fields accordingly-(start)-->

		<% 1.upto(@column_count_monthur) do |count3| %><%# 1.upto(@column_count) do |count3| %>
			<% if (count3==2 && count2==1) || (count3==5 && count2==1) %>
				<td rowspan="4" class="break1"><%=t('weeklytimetable.break').upcase%><br> <!--column:<%#=count3%>row:<%#=count2%>-->
				</td>
			<% elsif count3==5&&count2!=1%>
				<!--should not have any field or value-->
			<% elsif count3==7%>
				<td class="data1">
					<% detailing_monthurs.each do |j|%><%#= j.weeklytimetable.hod_approved %>
						<% if j.day2 == count2  && j.time_slot2 == count3 && j.weeklytimetable.hod_approved == true%>
		<%#= j.day2 %><%#=count2%>
							<strong>
								<div align="left">
									<%#= j.weeklytimetable_topic.parent.code %>
									<%= j.weeklytimetable_topic.parent.subject_abbreviation.blank? ? "-" :  j.weeklytimetable_topic.parent.subject_abbreviation.upcase %>
								</div><br>
								<%= j.weeklytimetable_topic.name %>
								<%= "(K)" if j.lecture_method == 1 %>
								<%= "(T)" if j.lecture_method == 2 %>
								<%= "(A)" if j.lecture_method == 3 %><br>
								<%#= j.weeklytimetable_location.try(:name) %>
								<%= j.location_desc %>
								<div align="right"><br>
									<%= j.weeklytimetable.schedule_programme.programme_list %><br>
									<%= j.weeklytimetable.schedule_intake.description %>
									<%= "Ambilan ("+ j.weeklytimetable.schedule_intake.name+")" %>
								</div>
							</strong><!--column:<%#=count3%>row:<%#=count2%>-->
						<% else %>
							<!--column:<%#=count3%>row:<%#=count2%>-->
						<% end %>
					<% end%>
				</td>						
			<% elsif count3!=2%><!--PRINT BORDER : RIGHT-->
				<td class="data1"><%#= detailing_monthurs.count%>
			
					<% detailing_monthurs.each do |j|%><%#= j.weeklytimetable.hod_approved %>
						<% if j.day2 == count2  && j.time_slot2 == count3 && j.weeklytimetable.hod_approved == true%>				
							<strong><!--DUA--><%#=j.topic%>
								<div align="left">
									<%#= j.weeklytimetable_topic.parent.code %>
									<%= j.weeklytimetable_topic.parent.subject_abbreviation.blank? ? "-" :  j.weeklytimetable_topic.parent.subject_abbreviation.upcase %>
								</div><br>
								<%= j.weeklytimetable_topic.name %>
								<%= "(K)" if j.lecture_method == 1 %>
								<%= "(T)" if j.lecture_method == 2 %>
								<%= "(A)" if j.lecture_method == 3 %><br>
								<%#= j.weeklytimetable_location.try(:name) %>
								<%= j.location_desc %>
								<div align="right"><br>
									<%= j.weeklytimetable.schedule_programme.programme_list %><br>
									<%= j.weeklytimetable.schedule_intake.description %>
									<%= "Ambilan ("+ j.weeklytimetable.schedule_intake.name+")" %>
								</div>
							</strong><!--column:<%#=count3%>row:<%#=count2%>-->
						<% else %>
							<!--column:<%#=count3%>row:<%#=count2%>-->
						<% end %>
					<% end%>
				</td>	
			<% end %>
		<% end %>
		<!--span BREAK fields & display CLASSES fields accordingly-(start)-->
		
	</tr>
	<% end %>
	<!--Content for Monday until Thursday-(end)-->

	<!--Header for Friday-(start)-->
	<% if @count1==9 && @count2==7 %>
		 <% classes_tospan=[5]%>
        <% else %>
		 <% classes_tospan=[5,7] %>
	<% end %>
	<% detailing.each_with_index do |j,index|%>
	<% if index==0%>
	<% j.weeklytimetable.timetable_friday.timetable_periods.in_groups_of(@column_count_monthur, false) do |row_things| %>
	<tr>
		<td class="header1">&nbsp;</td>
	
		<% colfriday=1%>
		<% for periods in row_things %>
			<% if periods.day_name == 2 %>
				<!--print border accordingly-(start)-->
				<% if colfriday == 4 %>
					<td colspan="2" class="header5">
				<% elsif colfriday == 5 || classes_tospan.include?(colfriday)%>
					<td colspan="2" class="header3">
				<% else %>
					<td class="header5">	
				<% end %>
				<!--print border accordingly-(end)-->
				<!--print data-->
				<%= l(periods.start_at )%> - <%= l(periods.end_at) %><BR>
				</td>
				<!--print data-->
			<% else %><% end %>
			<% colfriday+=1 %>
		<% end %>
	</tr>
	<%# end %>
	<% end %>
	<% end %>
	<% end %>
	<!--Header for Friday-(end)-->

	<!--Content for Friday-(start)-->
	<tr>
		<% detailing.each_with_index do |j,index|%>
		<% if index==0%>
		<td class="data3">
			<%=t(:'date.day_names')[4]%><br><%=j.weeklytimetable.enddate.strftime('%d-%b-%Y') %>
		</td>
		
		<% @column_count_friday=j.weeklytimetable.timetable_friday.timetable_periods.count%>
		<% @column_count_monthur=j.weeklytimetable.timetable_monthurs.timetable_periods.count%><!--same as line 91-->
		<% 1.upto(@column_count_friday) do |count4| %>
			<% if count4 == 4 %>
				<td colspan="2" class="break2"><%=t('weeklytimetable.break').upcase%></td>
			<% elsif count4 == 2 %>
				<td class="break2"><%=t('weeklytimetable.break').upcase%></td>
			<% elsif count4 == 5 || classes_tospan.include?(count4)%>
				<td colspan="2" class="data4">
				
						<% detailing_friday.each do |j|%>
							<% if j.is_friday == true  && j.time_slot == @column_count_monthur+count4 %>
							<% if j.weeklytimetable.hod_approved == true %>
								    <font color="#000000">
							<% else %>
								    <font color="grey">
							<% end %>
							<strong>
								<div align="left">
									<%#= j.weeklytimetable_topic.parent.code %>
									<%= j.weeklytimetable_topic.parent.subject_abbreviation.blank? ? "-" :  j.weeklytimetable_topic.parent.subject_abbreviation.upcase %>
								</div><br>
								<%= j.weeklytimetable_topic.name %>
								<%= "(K)" if j.lecture_method == 1 %>
								<%= "(T)" if j.lecture_method == 2 %>
								<%= "(A)" if j.lecture_method == 3 %><br>
								<%#= j.weeklytimetable_location.try(:name) %>
								<%= j.location_desc %>
								<div align="right"><br>
									<%= j.weeklytimetable.schedule_programme.programme_list %><br>
									<%= j.weeklytimetable.schedule_intake.description %>
									<%= "Ambilan ("+ j.weeklytimetable.schedule_intake.name+")" %>
								</div>
							</strong></font>
						<% end %>
					<% end %>
				</td>
			<% else %>
				<td class="data5"><!--kukku--> <%#=@column_count_monthur%><%#=count4%><%#=@column_count_monthur+count4%><!--revised : 26Jul2013-->
					
					<% detailing_friday.each do |j|%>
						<% if j.is_friday == true  && j.time_slot == @column_count_monthur+count4 %>
							<% if j.weeklytimetable.hod_approved == true %>
								    <font color="#000000">
							<% else %>
								    <font color="grey">
							<% end %>
								<strong>
									<div align="left">
										<%#= j.weeklytimetable_topic.parent.code %>
										 <%= j.weeklytimetable_topic.parent.subject_abbreviation.blank? ? "-" :  j.weeklytimetable_topic.parent.subject_abbreviation.upcase %>
									</div><br>
									<%= j.weeklytimetable_topic.name %>
									<%= "(K)" if j.lecture_method == 1 %>
									<%= "(T)" if j.lecture_method == 2 %>
									<%= "(A)" if j.lecture_method == 3 %><br>
									<%#= j.weeklytimetable_location.try(:name) %>
									<%= j.location_desc %>
									<div align="right"><br>
										<%= j.weeklytimetable.schedule_programme.programme_list %><br>
										<%= j.weeklytimetable.schedule_intake.description %>
										<%= "Ambilan ("+ j.weeklytimetable.schedule_intake.name+")" %>
									</div>
								</strong></font>
						<% end %>
					<% end %>		
				</td>
				
			<% end %>
			<% end %>
				
			<% end %>
		<% end %>
	</tr>
	<!--Content for Friday-(end)-->
	
	<!--SIGNatory part appear on 1st page, if schedule end here(5 days) - START-->
	<% if @daycount2 == 0 %>
		<tr><td colspan="8" style="height:10px;">&nbsp;</td><tr>
		<tr>
			<td>&nbsp;</td>
			<td colspan="2" class="sign_prepare1">Disediakan oleh,<br><br><br></td>
			<td colspan="2"></td>
			<td colspan="3" class="sign_prepare1">Disemak oleh,<br><br><br></td>
		 </tr>
		<tr>
			<td>&nbsp;</td>
			<td colspan="2" class="sign_prepare2">
				<span class="bold-cap"><%#=h @weeklytimetable.schedule_creator.name %></span><br>
				Pengajar Penyelaras <%#=h @weeklytimetable.schedule_creator.position.name %><br>
				Pelatih Ambilan <%#=h @weeklytimetable.schedule_intake.name %><br><br>
				Tarikh : <%#=h  @weeklytimetable.submitted_on? ? @weeklytimetable.submitted_on.strftime('%d-%b-%Y') : "Not Submitted" %>
			</td>
			<td colspan="2">&nbsp;</td>
			<td colspan="3" class="sign_prepare2">
				<span class="bold-cap"><%#=h @weeklytimetable.endorsed_by? ? @weeklytimetable.schedule_approver.name : "-"  %></span><br>
				<%=h Login.current_login.staff.position.parent.name %><br>
				KSKB Johor Bahru<br><br>
				Tarikh : <%#=h @weeklytimetable.hod_approved_on? ? @weeklytimetable.hod_approved_on.strftime('%d-%b-%Y') : "Not Approved" %>
			</td>
		</tr>	
	<% end %>
	<!--SIGNatory part appear on 1st page, if schedule end here(5 days) - END-->
	
	<!--1ST page should end here, although 2nd page exist-START-->
	</table></center>
	<BR/><BR/>
	<% if @daycount2 == 0 %>
	<div id="hideLink">
		<%= link_to t('back'), weeklytimetables_path %>
	</div>
	<% end %>
	<BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/>
	<!--1ST page should end here, although 2nd page exist-END-->
	
<% if @daycount2 > 0 %>
	<P CLASS="breakhere">
	<div class="A4landscape" >
		<BR><BR><center>
		<table class="plong">
			<!--Header(row) : sequence & time period (ADDITIONAL - Weekends classes)-->                              
			<tr>
			<% detailing.each_with_index do |j,index| %>
				<% if index==0 %>
					<% j.weeklytimetable.timetable_monthurs.timetable_periods.in_groups_of(@column_count_monthur, false) do |row_things| %>
						<td class="header1">&nbsp;</td>
						<% for periods in row_things %>
							<% if periods.day_name == 1%>
								<td class="header3">
									<%= periods.timing %>
								</td>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
			</tr>
			<!--Day & date(column) : (ADDITIONAL - Weekends classes) - row starts after timeslot header -->
			<% 1.upto(@daycount2) do |row2| %>
			<tr>
				<td class="data3">
					<%=(@weekdays_end+row2).try(:strftime, "%A") %>
					<br><%=(@weekdays_end+row2).try(:strftime, "%d-%b-%Y") %>
				</td>
				<!--Content - (ADDITIONAL - Weekends classes)
				span BREAK fields & display CLASSES fields accordingly - col (column) starts after day/date column-->
				<% 1.upto(@column_count_monthur) do |col2| %>
					<% if @break_format1[col2-1]==true && row2==1 %>
						<td class="break2" rowspan="<%=@daycount2+1%>"><%=t('weeklytimetable.break').upcase%></td>
					<% elsif @break_format1[col2-1]==true && row2!=1%><!--<td>row<%=row2%>col<%=col2%></td>-->
						 <!--do-not-remove : should not have any field or value-->
					<% elsif @break_format1[col2-1]==false %>
						<% if col2 == @column_count_monthur %>
							<% if row2 == @daycount2%>
								<td class="data4">
							<% else %>
								<td class="data1">
							<% end %>
						<% else %>
							<td class="data3">
						<% end %>
							<% nos=0 %>
							<% detailing_monthurs.each do |j2| %>
								<% if j2.day2 == row2 && j2.time_slot2 == col2 %>
									<% if nos==0 %>
										<% nos+=1 %>
										<% if j2.weeklytimetable.hod_approved == true %>
											<font color="#000000">
										<% else %>
											 <font color="grey">
										<% end %>
										<strong>
										<div align="left">
											<%#= j2.weeklytimetable_topic.parent.code %>
											<%= j2.weeklytimetable_topic.parent.subject_abbreviation.blank? ? "-" :  j2.weeklytimetable_topic.parent.subject_abbreviation.upcase %>
										</div><br>
										<%= j2.weeklytimetable_topic.name %>
										<%= "(K)" if j2.lecture_method == 1 %>
										<%= "(T)" if j2.lecture_method == 2 %>
										<%= "(A)" if j2.lecture_method == 3 %><br>
										<%#= j2.weeklytimetable_location.try(:name) %>
										<%= j2.location_desc %>
										<div align="right"><br>
										<%= j2.weeklytimetable.schedule_programme.programme_list %><br>
										<%= j2.weeklytimetable.schedule_intake.description %>
										<%= "Ambilan ("+ j2.weeklytimetable.schedule_intake.name+")" %>
										</div>
										</strong></font>
									<% end %>
								<% end %>
							<% end %>
						</td>
					<% end %>
				<% end %>
			<tr>
			<% end %>
	
			<!--SIGNatory part appear on 2nd page, if schedule end here(7 days) - START-->
			<tr><td colspan="8" style="height:10px;">&nbsp;</td><tr>
			<tr>
				<td>&nbsp;</td>
				<td colspan="2" class="sign_prepare1">Disediakan oleh,<br><br><br></td>
				<td colspan="2"></td>
				<td colspan="3" class="sign_prepare1">Disemak oleh,<br><br><br></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td colspan="2" class="sign_prepare2">
					<span class="bold-cap"><%#=h @weeklytimetable.schedule_creator.name %></span><br>
					Pengajar Penyelaras <%#=h @weeklytimetable.schedule_creator.position.name %><br>
					Pelatih Ambilan <%#=h @weeklytimetable.schedule_intake.name %><br><br>
					Tarikh : <%#=h  @weeklytimetable.submitted_on? ? @weeklytimetable.submitted_on.strftime('%d-%b-%Y') : "Not Submitted" %>
				</td>
				<td colspan="2">&nbsp;</td>
				<td colspan="3" class="sign_prepare2">
					 <span class="bold-cap"><%#=h @weeklytimetable.endorsed_by? ? @weeklytimetable.schedule_approver.name : "-"  %></span><br>
					 <%=h Login.current_login.staff.position.parent.name %><br>
					 KSKB Johor Bahru<br><br>
					Tarikh : <%#=h @weeklytimetable.hod_approved_on? ? @weeklytimetable.hod_approved_on.strftime('%d-%b-%Y') : "Not Approved" %>
				</td>
			</tr>	
			<!--SIGNatory part appear on 2nd page, if schedule end here(7 days) - END-->
		</table>	
		</center>
		<BR/><BR/>

		<div id="hideLink">
			<%= link_to t('back'), weeklytimetables_path %>
		</div>
        </div>
<% end %>