<div class="tform">
  <table width=100% >

	<tr>
		<th colspan = 2>Location Details</th>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="rescode ">Location Code:</label></td>
		<td><%= f.text_field :rescode  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="resname ">Location Name:</label></td>
		<td><%= f.text_field :resname  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="parent_id">Part Of:</label></td>
		<td><%= f.collection_select :parent_id, Residence.find(:all, :order => :rescode), :id, :parentlocation_with_code_and_name, :include_blank => true,  :value => 'null' %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="resclass">Location Class:</label></td>
			<td><%= f.select ("resclass", Residence::CLASS,
			                 {:include_blank => ""}, {:onchange => "showMenuForAllocatableRooms(this.value)"})  %></td>
	</tr>
	
	
	<tr id="restypes" style="display: none;">
		<td class="leftcol" ><label for="restype">Location Type:</label></td>
		<td><%= f.select ("restype",  Residence::TYPE ,
		                 {:include_blank => ""}, {:onchange => "showStudentStaffResidences(this.value)"})   %></td>
	</tr>
<!-->	<tr>
		<td class="leftcol"><label for="resname">Location Name:</label></td>
		<td><#%= f.text_field :resname %></td>
	</tr>-->
	
	
	<!--><tr>
		<td class="leftcol"><label for="allocatable">Allocatable:</label></td>
		<td><#%= f.check_box :allocatable %></td>
	</tr>-->
	
  <tr id="restypestaff" style="display: none;">
		<td class="leftcol"><label for="staff_id">Allocated To Staff:</label></td>
		<td><%= f.collection_select :staff_id, Staff.find(:all), :id, :name, :include_blank => true %></td>
	</tr>		
	
	

      <tr id="restypestudent"  style="display: none;">
				<td class="leftcol"><label for="student_id">Allocated To Student:</label></td>
					<td><%= f.collection_select :student_id, Student.find(:all), :id, :name, :include_blank => true %></td>
			</tr>

	
			<tr id="keys1"  style="display: none;">
				<td class="leftcol"><label for="keytxdt">Date Key Provided:</label></td>
				<td><%= f.date_select :keytxdt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
			</tr>

			<tr id="keys2"  style="display: none;">
				<td class="leftcol"><label for="keyreturndt">Date Key Returned:</label></td>
				<td><%= f.date_select :keyreturndt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
			</tr>


			<tr id="keys3"  style="display: none;">
				<td class="leftcol"><label for="keyexpectdate">Date Key Expected:</label></td>
				<td><%= f.date_select :keyexpectdate, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
			</tr>

			<tr id="keys4"  style="display: none;">
				<td class="leftcol"><label for="keyrx">Return Key:</label></td>
				<td><%= f.check_box :keyrx %></td>
			</tr>
  
	
	<tr>
		<td class="leftcol"><label for="staffadmin_id">Administrator:</label></td>
	<td><%= f.collection_select :staffadmin_id, Staff.find(:all), :id, :staff_name_with_position, :include_blank => true %></td>
	</tr>
</table>

<BR>
</div>


	

	
