<h3>Editing Residence</h3>

<% form_for(@residence) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @residence %> |
<%= link_to 'Back', residences_path %>