<% form_tag :action => 'create' do |f|%>
	<% @student_attendances.each_with_index do |student_attendance, index| %>
		<% fields_for "student_attendances[#{index}]", student_attendance do |f| %>
			<!--******************-->
			<% if index==0 %>
			<div class="tform">
				<H2><%=t('student_attendance.details')%></H2>
						<% @programmeid = @preselect_prog %>
						<table width=100%>
							<tr>
								<td class="leftcol"><label><%=t('student_attendance.programme')%> :</label></td>
								<td>&nbsp;&nbsp;&nbsp;
									<% if @preselect_prog==nil %>
										<%=t('student_attendance.not_defined')%>
									<% else %>
										<%= Programme.find(@preselect_prog).programme_coursetype_name%>
									<% end %>
									<%#= Programme.find(@preselect_prog).programme_coursetype_name %>
									<%##=@selected_class.weeklytimetable_topic.programme_coursetype_name %>
								</td>
							</tr>

							<tr>
								<td class="leftcol"><label><%=t('student_attendance.intake')%> :</label></td>
								<td>&nbsp;&nbsp;&nbsp;<% @iii=@intake %><%=@iii.to_date.strftime("%b") %>&nbsp;<%=@iii.to_date.strftime("%Y")%></td>
							</tr>
						
							<tr>
								<td class="leftcol" style="vertical-align:middle;"><%=t('student_attendance.available_students')%></td>
								<td>
									<!---->
									<% @student_list = Student.find(:all, :conditions => ['course_id=? AND intake>=? AND intake <?',@programmeid,@iii,@iii.to_date+1.day])%>
									<% if @student_list.count <= 0 %>
										<%=t('student_attendance.no_student_of_intake')%>
									<% else %>
										<table>
											<tr>
												<th>No</th>
												<th><%=t('student_attendance.student_id')%></th>
												<!--<th>Attendance</th>-->
											</tr>
											<% @next=0 %>
											<% @student_list.sort_by{|x|x.name}.each_with_index do |student, nos| %>
												<tr>
													<td><%=nos+1%></td>
													<td><%= student.matrix_name %></td>
												</tr>
												<%# @topics_ids_this_prog = Programme.find(@preselect_prog).descendants.at_depth(3).map(&:id) %>
												<%# @schedule_list = WeeklytimetableDetail.find(:all, :conditions => ['topic IN(?)',@topics_ids_this_prog])%>
												<!--just 4 checking--><%=@schedule_list.count%><%=@schedule_list[0]%>
												<!--<%#=text_field_tag "scheduleids", @schedule_list.map(&:id)%>-->
												<% 0.upto(@schedule_list.count-1) do |count| %>
													<%#= hidden_field "student_attendances[#{nos+count+@next}]",:student_id, :size=>2, :value=>student.id %>
													<%# if count == 2 %>
														<% @next = @next+count %>
													<%# end %>
													<%= hidden_field "student_attendances[#{count}]",:student_id, :size=>2, :value=>student.id %>
													<%= hidden_field "student_attendances[#{count}]",:weeklytimetable_details_id, :size=>2, :value=>@schedule_list[count].id %>
												<% end %>
											<% end %>
											
										</table>
									<% end %>
									<!---->
								</td>
							</tr>
						
						</table><!--end for - table width=100-->
			</div>
			<% end %>
			<!--******************-->
			
		<% end %>	<!-- end of - @exammarks.each_with_index -->
	<% end %>	<!-- end of - fields_for "exammarks[#{index}]"-->
	<p><%= f.submit t('student_attendance.create_intake') , :name => :new_submit %></p>
<% end %>	<!-- end of - form_tag :action => 'create' do |f| %>-->
<!--end-trial new exammark by exampaper (filtered by programme)-12Sept2012-->