<%=render :partial => 'exams/position_dept' %> <!--retrieve position for current logged-in user-->
<% @topics_ids_this_prog = Programme.find(@preselect_prog).descendants.at_depth(3).map(&:id) %>
<% @schedule_list = WeeklytimetableDetail.find(:all, :conditions => ['topic IN(?)',@topics_ids_this_prog])%>
<div class="tform">
	<H2>Student Attendance Details</H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><%= f.label :student_id %></td>
			<td><%= f.collection_select :student_id, Student.all, :id, :matrix_name %></td>
		</tr>
		<tr>
			<td class="leftcol"><%#= f.label :weeklytimetable_details_id %><label>Schedule / Class </label></td>
			<td><%= f.collection_select :weeklytimetable_details_id, @schedule_list, :id, :day_time_slot %><%#= f.text_field :weeklytimetable_details_id %></td>
		</tr>
		<tr>
			<td class="leftcol"> <%= f.label :attend %></td>
			<td><%= f.check_box :attend %></td>
		</tr>
	</table>
</div>





  

  
  

