<%=render :partial => 'exams/position_dept' %> <!--retrieve position for current logged-in user-->
<div class="tform">
	<H2><%=t('student_attendance.details')%></H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><%= f.label t('student_attendance.student_id')%></td>
			<td><%= f.collection_select :student_id, @student_list, :id, :matrix_name %></td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label t('student_attendance.class_schedule')%></td>
			<td><%= f.collection_select :weeklytimetable_details_id, @schedule_list, :id, :day_time_slot %></td>
		</tr>
		<tr>
			<td class="leftcol"> <%= f.label t('student_attendance.attend') %></td>
			<td><%= f.check_box :attend %></td>
		</tr>
	</table>
</div>





  

  
  

