

<%= stylesheet_link_tag 'report' %>

<form action="#">	
<script>
document.write("<input type='button' " +
"onClick='window.print()' " +
"class='printbutton' " +
"value='Print This Page'/>");
</script>
</form>	
<div class="A4potrait">

<%#= @studentattendance_ids%><%#=params[:iddd]%>

<!-- Box Head -->
<div id="kewpa">
<p class="marginright" align="right"><b></b></p><BR><BR>
<H5 align="center"><b><img border="0" src="/images/KM.jpg" alt="KKM" width="" height="70"/></b></H4>

<center><SPAN style="text-align:center;font-size:13px;font-family: Arial, sans-serif;">KEMENTERIAN KESIHATAN MALAYSIA<span></center><BR>
<center><SPAN style="text-align:center;font-size:13px;font-family: Arial, sans-serif;font-weight:bold;">BORANG KEHADIRAN PELATIH<span></center><BR>
		
<table border=1 cellpadding=0 cellspacing=0 width=85%>
	<tr style="background-color:#EFF1F1;">
		<td rowspan=2 width=5% style="font-size:13px;font-family: Arial, sans-serif;">Bil</td>
		<td rowspan=2 width=10% style="font-size:13px;font-family: Arial, sans-serif;">No.Matriks</td>
		<td rowspan=2 width=30% style="font-size:13px;font-family: Arial, sans-serif;">Nama Pelatih</td>
		<td width=9% style="font-size:13px;font-family: Arial, sans-serif;">Tarikh</td>
		<td colspan=6 style="font-size:13px;font-family: Arial, sans-serif;text-align:center;">
				
			<% if @student_attendances && @student_attendances[0].weeklytimetable_details_id!= nil %>
				<%=@student_attendances[0].weeklytimetable_detail.get_date_for_lesson_plan %>
			<% end %>
		</td>
	</tr>

	<tr style="background-color:#EFF1F1;font-size:13px;font-family: Arial, sans-serif;">
		<td width=9% style="font-size:13px;font-family: Arial, sans-serif;">Masa</td>
		<% if @student_attendances && @student_attendances[0].weeklytimetable_details_id!= nil %>
			<% 0.upto(2) do |nos|%>
				<td colspan=2 style="font-size:12px;font-family: Arial, sans-serif;">
					<%= @student_attendances[nos].weeklytimetable_detail.get_time_slot %>
				</td>
			<% end %>
		<% else %>
			<td colspan=2>&nbsp;</td>
			<td colspan=2>&nbsp;</td>
			<td colspan=2>&nbsp;</td>
		<% end %>
	</tr>
	
	<% count = 0 %>
	<%#= @student_attendances.count %>
	<% @exist_student = @studentattendances_group.count %>
	<%# if @exist_student > 0 %>
		<% @studentattendances_group.each do |student_id, studentattendances|  %>
			<% if count < @exist_student %>
				<% studentattendances.each_with_index do |studentattendance, no|%>
					<% if no==0 %>
					<tr>
						<td style="font-size:13px;font-family: Arial, sans-serif;"><%=count+1 %>&nbsp;</td>
						<td style="font-size:13px;font-family: Arial, sans-serif;"><%= Student.find(student_id).matrixno %></td>
						<td colspan=2 style="font-size:13px;font-family: Arial, sans-serif;"><%= Student.find(student_id).name %></td>
						<td style="font-size:13px;font-family: Arial, sans-serif;" width=7%>cc</td>
						<% if no==0 && count==0 %>
							<td rowspan=24 style="font-size:13px;font-family: Arial, sans-serif;"width=7%>
								<% if @student_attendances && @student_attendances[0].weeklytimetable_details_id!= nil %>
									<%= @student_attendances[0].weeklytimetable_detail.weeklytimetable_topic.name %>
								<% else %>
									&nbsp;
								<% end %>
							</td>
						<% end%>
						<td style="font-size:13px;font-family: Arial, sans-serif;" width=7%>e</td>
						<% if no==0 && count==0 %>
							<td rowspan=24 style="font-size:13px;font-family: Arial, sans-serif;" width=7%>
								<% if @student_attendances && @student_attendances[1].weeklytimetable_details_id!= nil %>
									<%= @student_attendances[1].weeklytimetable_detail.weeklytimetable_topic.name %>
								<% else %>
									&nbsp;
								<% end %>
							</td>
						<% end %>
						<td style="font-size:13px;font-family: Arial, sans-serif;"width=7%>g</td>
						<% if no==0 && count==0 %>
							<td rowspan=24 style="font-size:13px;font-family: Arial, sans-serif;"width=7%>
								<% if @student_attendances && @student_attendances[2].weeklytimetable_details_id!= nil %>
									<%= @student_attendances[2].weeklytimetable_detail.weeklytimetable_topic.name %>
								<% else %>
									&nbsp;
								<% end %>
							</td>
						<% end %>
					</tr>
					<% end %>
				<% end %>
				<% count+=1%>
			<% end %>
		<% end %>
	<%# else%>
		<!--start-if record not updated yet, weeklytimetable_details_id not INSERTED yet-->
		<!--<tr>
			<td style="font-size:13px;font-family: Arial, sans-serif;"><%#=count+1 %>&nbsp;</td>
			<td style="font-size:13px;font-family: Arial, sans-serif;"><%#= Student.find(student_id).matrixno %></td>
			<td colspan=2 style="font-size:13px;font-family: Arial, sans-serif;"><%#= Student.find(student_id).name %></td>
			<td style="font-size:13px;font-family: Arial, sans-serif;" width=7%>cc</td>
			<td rowspan=24 style="font-size:13px;font-family: Arial, sans-serif;"width=7%>dd</td>
			<td style="font-size:13px;font-family: Arial, sans-serif;" width=7%>e</td>
			<td rowspan=24 style="font-size:13px;font-family: Arial, sans-serif;" width=7%>f</td>
			<td style="font-size:13px;font-family: Arial, sans-serif;"width=7%>g</td>
			<td rowspan=24 style="font-size:13px;font-family: Arial, sans-serif;"width=7%>h</td>
		</tr>-->
		<!--end-if record not updated yet, weeklytimetable_details_id not INSERTED yet-->
	<%# end %><!--end for @exist_student-->
	
	<% remaining_count = @studentattendances_group.count+1 %>
	<% remaining_count.upto(24) do |index| %>
	<tr>
		<td style="font-size:13px;font-family: Arial, sans-serif;"><%=index%></td>
		<td style="font-size:13px;font-family: Arial, sans-serif;">ss</td>
		<td colspan=2 style="font-size:13px;font-family: Arial, sans-serif;">ee</td>
		<td width=8% style="font-size:13px;font-family: Arial, sans-serif;">rr</td>
		<td width=8% style="font-size:13px;font-family: Arial, sans-serif;">tt</td>
		<td width=8% style="font-size:13px;font-family: Arial, sans-serif;">yy</td>
	</tr>
	<% end %>
	
	<tr>
		<td></td>
		<td></td>
		<td colspan=2 style="font-size:13px;font-family: Arial, sans-serif;">Nama dan Tandatangan Pengajar</td>
		<td colspan=2></td>
		<td colspan=2></td>
		<td colspan=2></td>
	</tr>
</table>

<p style="padding-left:100px;font-size:13px;font-family: Arial, sans-serif;">
	Nota :<br>
	Setiap pelatih perlu menandatangani borang kehadiran.
</p>


</div></div>