<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<% if @edit_type == (t 'edit_checked')%>
			<h2 class="left"><%=t('student_attendance.edit_multiple')%></h2>
		<% end %>
	</div>
</div>
	<%#=@studentattendance_ids%><%#=@studentattendances_group.count %>
<% @classsession_of_studentattendances = @studentattendances.map(&:weeklytimetable_details_id).uniq.count %>
<%# if @classsession_of_studentattendances==1 %>
	<div class="tlist" style="padding-left:20px;">
		
	<% index2 = 0 %>

	<table>
		<% @studentattendances_group.each do |student, studentattendances| %>
			<% if index2 == 0 %>
				<tr>
					<th colspan="<%=studentattendances.count*2%>" align="center"><%=t('student_attendance.class_schedule_details')%></th>
				</tr>
				<tr>
					<% studentattendances.sort_by{|u|u.weeklytimetable_detail.get_time_slot}.each_with_index do |studentattendance, index|%>
						<% @one_student_atts_count=studentattendances.count %>
						<% @one_student_atts=studentattendances.sort_by{|u|u.weeklytimetable_detail.get_time_slot} %>
						<td><font color=blue><b><%=index+1 %></b></font></td>
						<td>
							<span style="text-decoration:underline;font-weight:bold;padding-left:5px;">
								<%=t('student_attendance.subject')%> : <%=studentattendance.weeklytimetable_detail.weeklytimetable_topic.full_parent%>
							</span><br>
							<span style="text-decoration:underline;font-weight:bold;padding-left:5px;">
								<%=t('student_attendance.topic')%> : <%=studentattendance.weeklytimetable_detail.weeklytimetable_topic.subject_list %>
							</span><br>
							<span style="text-decoration:underline;font-weight:bold;padding-left:5px;">
								<%=t('student_attendance.date')%> : <%=h studentattendance.weeklytimetable_detail.get_date_day_of_schedule %>
								&nbsp;Time : 
								<% if studentattendance.weeklytimetable_detail.time_slot==0 %>
									<%=TimetablePeriod.find(studentattendance.weeklytimetable_detail.time_slot2).timing %>
								<% else %>
									<%=TimetablePeriod.find(studentattendance.weeklytimetable_detail.time_slot).timing %>
								<% end %>
							</span><br>
							<span style="text-decoration:underline;font-weight:bold;padding-left:5px;">
								<%=t('student_attendance.lecturer')%> : <%=h studentattendance.weeklytimetable_detail.weeklytimetable_lecturer.name %>
							</span><br>
							<span style="text-decoration:underline;font-weight:bold;padding-left:5px;">
								<%=t('student_attendance.intake')%> : <%=h studentattendance.weeklytimetable_detail.weeklytimetable.schedule_intake.name %> 
							</span>
						</td>
					<% end %><!--end for studentattendance.each_with_index do...-->
				</tr>
				<% index2+=1 %>
			<% end %><!--end for if index2==0 -->
		<% end %><!--end for -  @studentattendances_group.each do |student, studentattendances| -->
	</table>	
	<br><br>

	<!--<div class="tlist" style="padding-left:20px;">-->
		<% form_for :student_attendance, :url => update_multiple_student_attendances_path, :html => {:method => :put, :id => "form1" } do |f| %>

			<table>
				<tr>
					<th>No</th>
					<th><%=t('student_attendance.student_id')%></th>
					<th style="text-align:left;"><%=t('student_attendance.attendance')%><br>
						<% index3=0 %>&nbsp;&nbsp;
						<% @studentattendances_group.each do |student, studentattendances| %>
							<% if index3 == 0 %>
								<font color=blue>
									<% 1.upto(studentattendances.count) do |index4|%>
										<% if studentattendances.count>1 %>
											<% if index4 == 1 %>
												&nbsp;
											<% else %>
												&nbsp;&nbsp;
											<% end %>
										<% end %>
										<%= index4%>
									<% end %>
								</font>
							<% end %>
							<% index3+=1 %>
						<% end %>
					</th>
					<th>&nbsp;</th>
				</tr>

				<% count = 0 %><% @next = 0 %>
				<% @sa_sort_then_group = @studentattendances.sort_by{|y|y.student.name}.group_by{|x|x.student_id} %>
				
				<%# @studentattendances_group.each do |student_id, studentattendances| %>
				<% @sa_sort_then_group.each do |student_id, studentattendances| %>
				
					<% one_student_atts_count=studentattendances.count %>
					
					<tr>
						<td><%=count+=1%></td>
						<td><%= Student.find(student_id).name %><%#= student_id %></td>
						<td style="text-align:left;"> 
							<%# if @studentattendances[0].weeklytimetable_details_id != nil%>
							<% if @studentattendances[@studentattendances.count-1].weeklytimetable_details_id != nil%>
								<% studentattendances_sorted = studentattendances.sort_by{|u|u.weeklytimetable_detail.get_time_slot} %>
							<% else %>
								<% studentattendances_sorted = studentattendances %>
							<% end %>
							
							<% studentattendances_sorted.each_with_index do |studentattendance, no|%>
							
								<%= hidden_field_tag "student_attendance_ids[]", studentattendance.id %><%#= studentattendance.id %>
								<%# if no == 0 %>
									<%# @next+=1 %>
								<%# end %>
								<%= check_box_tag "attends[#{no+@next}]", true, studentattendance.attend, :class => "check" %>
								<% if studentattendance.attend == true %>
								<% else %>
									<%=t('select')%>&nbsp;<b><%=t('student_attendance.reason_action')%></b>
									<%#= select_tag("reasons[#{no+@next}]", "<option value='0'>#{t('student_attendance.reason')}</option>" +options_for_select(['Cuti Sakit','Kecemasan','Tiada'])) %>
									<%##= f.select :cctype_id, StudentAttendance::REASON, :prompt => (t 'selectz') %>
									<%= select_tag("reasons[#{no+@next}]", "<option value='0'>#{t('student_attendance.reason')}</option>" +options_for_select(StudentAttendance::REASON, studentattendance.reason)) %>&nbsp;
									<%= select_tag("actions[#{no+@next}]", "<option value='0'>#{t('student_attendance.action_taken')}</option>" +options_for_select(StudentAttendance::ACTION, studentattendance.action)) %>&nbsp;
									<%= select_tag("statuss[#{no+@next}]", "<option value='0'>#{t('student_attendance.action_close')}</option>" +options_for_select(['Yes','No'],studentattendance.status)) %>&nbsp;
									<%= text_field_tag "remarks[#{no+@next}]", studentattendance.remark %>
								<% end %>
								<% if no == one_student_atts_count-1 %><%# if no == 2 %>
									<% @next = @next+no+1 %>
								<% end %>
							<% end %>
						</td>
								
					</tr>
				<% end %>
				<!---->
			</table>
			<br>
	</div><!--end for div tlist-->
	
			<table border=0 cellspacing=0 cellpadding=0>
				<tr>
					<td style="padding-left:20px;"><%= f.submit (t 'submit')%></td>
					<td style="padding-left:65px;"><!-- ref: http://railsforum.com/viewtopic.php?id=2151 rleblic2007-10-25 08:43:07 -->
					<!--http://www.ryboe.com/2008/07/10/select-all-checkboxes-with-prototype-js.html -->
					<b><%=t('check_uncheck')%></b>&nbsp; <input id="check_all" name="check_all" type="checkbox" checked="checked" onclick="Form.getInputs('form1', 'checkbox').each(function(box){box.checked = $('check_all').checked})" />
					</td>
				</tr>
			</table>
		
		<% end %><!--end of form-->

	<!--</div>--><!--end for div tlist-->


<%# else %>
	<!--Please select students of the same <b>class (subject+topic+date+time+lecturer+intake)</b> for multiple edit. -->
<%# end %><br><br>
<% count_form = 0 %>
<%= link_to (t 'back'), student_attendances_path %> | <%#= link_to 'View Attendance Form', :action => 'borang_kehadiran',:iddd => @studentattendance_ids, :form_type => 1 %>

<% if @studentattendances && @studentattendances[0].weeklytimetable_details_id!= nil %>
	<% if @one_student_atts_count > 2 %>
	<% 0.upto(@one_student_atts_count/3-1) do |count_link| %>
		<%= link_to "#{(t 'student_attendance.form') } #{count_link+1}", :action => 'borang_kehadiran',:iddd => @studentattendance_ids,:first => count_link %>
		<% count_form+=(2*count_link) %>
		<% if @studentattendances && @one_student_atts[count_form] && @one_student_atts[count_form].weeklytimetable_details_id!= nil %>
			<font color=blue>*</font>
		<% end %>
		<% if count_link < @one_student_atts_count/3-1 %> |<% end %>
	<% end %>
	<% else%>
		<%= link_to "#{(t 'student_attendance.form') } 1", :action => 'borang_kehadiran',:iddd => @studentattendance_ids,:first => 0 %>
		<!--check existance, for the first item only, (1 form page - total item less than 3)-->
		<% if @studentattendances && @one_student_atts[0] && @one_student_atts[0].weeklytimetable_details_id!= nil %>
			<font color=blue>*</font>
		<% end %>
	<% end %>
<% else %>
	<%= link_to (t 'student_attendance.view_blank_form'), :action => 'borang_kehadiran',:iddd => @studentattendance_ids %>
<% end %>
<BR><BR>
<font size=-2 color=blue><%=t('student_attendance.indicate_completed_date_time')%></font>
