<%=render :partial => 'exams/position_dept' %> <!--retrieve position for current logged-in user-->
<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left"><%=t('student_attendance.edit_multiple_intake_title')%></h2>
	</div>
</div>
	
	<div class="tlist" style="padding-left:20px;">
		<% form_for :student_attendance, :url => update_multiple_student_attendances_path, :html => {:method => :put, :id => "form1" } do |f| %>	
			<!--required for new multiple attendance by intake-->
			<% if params[:student_attendance_ids] %>
				<% @studentattendance_ids=params[:student_attendance_ids]%>
			<% end %>
			<!--required for new multiple attendance by intake-->
			
			<% @studentattendances = StudentAttendance.find(@studentattendance_ids) %><!--includes new records(weeklytimetable_details_id NOT EXIST)-->
			<% @studentattendances_group = @studentattendances.group_by{|x|x.student_id} %>
			
			<% one_student_att_id = @studentattendance_ids.sort[0] %>
			<% one_student_id = StudentAttendance.find(one_student_att_id).student_id%>
			
			<% if (@studentattendances[0].weeklytimetable_details_id != nil) && (@studentattendances[@studentattendances.count-1].weeklytimetable_details_id != nil)%>
				
				<!--SORT BY TIME SLOT-->
				<%# one_student_atts = StudentAttendance.find(:all, :conditions=> ['student_id=? AND id IN(?)',one_student_id,@studentattendance_ids]).sort_by{|u|u.weeklytimetable_detail.get_time_slot}%>
				<!--SORT BY DATE/DAY & TIME SLOT-->
				<% one_student_atts = StudentAttendance.find(:all, :conditions=> ['student_id=? AND id IN(?)',one_student_id,@studentattendance_ids]).sort_by{|u|u.weeklytimetable_detail.day_time_slot}%>
				<!--SORT BY 1ST INSERTED RECORD-->
				<%# one_student_atts = StudentAttendance.find(:all, :conditions=> ['student_id=? AND id IN(?)',one_student_id,@studentattendance_ids], :order => "id ASC") %>
			
			<% elsif (@studentattendances[0].weeklytimetable_details_id != nil) && (@studentattendances[@studentattendances.count-1].weeklytimetable_details_id == nil)%>
				<% one_student_attsA = StudentAttendance.find(:all, :conditions=> ['student_id=? AND id IN(?) AND weeklytimetable_details_id IS NOT NULL ',one_student_id,@studentattendance_ids]).sort_by{|u|u.weeklytimetable_detail.day_time_slot}%>
				<% one_student_attsB = StudentAttendance.find(:all, :conditions=> ['student_id=? AND id IN(?) AND weeklytimetable_details_id IS NULL ',one_student_id,@studentattendance_ids]) %>
				<% one_student_atts = one_student_attsA + one_student_attsB %>
			<% else %>
				<% one_student_atts = StudentAttendance.find(:all, :conditions=> ['student_id=? AND id IN(?)',one_student_id,@studentattendance_ids])%>
			<% end %>
			<% @one_student_atts = one_student_atts %>
			<% @one_student_atts_count = one_student_atts.count %>
			<%#= one_student_att1 = one_student_atts[0].weeklytimetable_details_id %>
			<%#= one_student_att2 = one_student_atts[1].weeklytimetable_details_id %>
			<%#= one_student_att3 = one_student_atts[2].weeklytimetable_details_id %>
			
			&nbsp;&nbsp;<b><%=t('student_attendance.intake')%> : <%= @studentattendances[0].student.intake.to_date.strftime("%b") %>&nbsp;<%= @studentattendances[0].student.intake.to_date.strftime("%Y") %> </b><br><br>
			<!--17Jul2013-added for Administrator (not lecturer)-->
			<% if @preselct_prog == nil && @dept_unit == "Teknologi Maklumat" %>
				<% @preselect_prog = Student.find(one_student_id).course_id %>
			<% end %>
			<!--17Jul2013-added for Administrator (not lecturer)-->

			<% @topics_ids_this_prog = Programme.find(@preselect_prog).descendants.at_depth(3).map(&:id) %>
			<% @schedule_list = WeeklytimetableDetail.find(:all, :conditions => ['topic IN(?)',@topics_ids_this_prog])%>
			<table>
				<tr><th><%=t('student_attendance.select_class_schedule')%> :</th></tr>
				<tr>
					<td>
						<% 0.upto(one_student_atts.count-1) do |count| %>
							
							<%# if @studentattendances && @studentattendances[count].weeklytimetable_details_id!= nil %>
							<% if @studentattendances && one_student_atts[count] && one_student_atts[count].weeklytimetable_details_id!= nil %>
								<%##= @schedule_id = @studentattendances[count].weeklytimetable_details_id %>
								<%#= @schedule_id = one_student_atts[count].weeklytimetable_details_id %>
								<% @schedule_id = one_student_atts[count].weeklytimetable_details_id %>
								
								<font color=blue>
								<%=count+1%>
								<%= select_tag("weeklytimetable_details_ids[#{count}]", options_from_collection_for_select(@schedule_list, :id, :subject_day_time,@schedule_id)) %>&nbsp;&#10003;</font>
							<% else %>
								<%=count+1%>
								<%= select_tag("weeklytimetable_details_ids[#{count}]", options_from_collection_for_select(@schedule_list, :id, :subject_day_time)) %>
							<% end %><br>
						<% end %>
					</td>
				</tr>
				<tr><td style="border:0px;"><div align=right>	<%= submit_tag (t 'student_attendance.apply_class_schedule'), :name =>:applychange %></div></td></tr>
			</table>
			
			
			<table>
				<tr>
					<th>No</th>
					<th><%=t('student_attendance.student_id')%></th>
					<th><%=t('student_attendance.attendance')%><br>
						<% 0.upto(one_student_atts.count-1) do |count| %>
							<% if count == 0 %>&nbsp;&nbsp;<% end %>
							<% if @studentattendances && one_student_atts[count] && one_student_atts[count].weeklytimetable_details_id!= nil %>
								<font color=blue><%= count+1%></font>
							<% else %>
								<%= count+1%>
							<% end %>
							&nbsp;&nbsp;&nbsp;
						<% end %>
					</th>
				</tr>
				<%# @studentattendance_ids=params[:student_attendance_ids]%><!--moved to line 12-->
				<%# @studentattendances = StudentAttendance.find(@studentattendance_ids) %><!--move to line 13-->
				<%# @studentattendances_group = @studentattendances.group_by{|x|x.student_id} %><!--move to line 14-->
      			<% @student_count = @studentattendances.map(&:student_id).uniq.count %>
				<% count = 0 %><% @next = 0 %>
				<% @studentattendances_group.each do |student_id, studentattendances| %>
					<tr>
						<td><%=count+=1%></td>
						<td><%= Student.find(student_id).name %><%#= student_id %></td>
						<td> 
							<%# if @studentattendances[0].weeklytimetable_details_id != nil%>
							<% if @studentattendances[@studentattendances.count-1].weeklytimetable_details_id != nil%>
								<% studentattendances_sorted = studentattendances.sort_by{|u|u.weeklytimetable_detail.get_time_slot} %>
							<% else %>
								<% studentattendances_sorted = studentattendances %>
							<% end %>
							
							<% studentattendances_sorted.each_with_index do |studentattendance, no|%>
								<%= hidden_field_tag "student_attendance_ids[]", studentattendance.id %><%#= studentattendance.id %>
								<%# if no == 0 %>
									<%# @next+=1 %>
								<%# end %>
								<%= check_box_tag "attends[#{no+@next}]", true, studentattendance.attend, :class => "check" %>
								<% if no == one_student_atts.count-1 %><%# if no == 2 %>
									<% @next = @next+no+1 %>
								<% end %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
			<br>
			
			
	</div><!--end for div tlist-->
	
			<table border=0 cellspacing=0 cellpadding=0>
				<tr>
					<td style="padding-left:20px;"><%= f.submit (t 'submit') %></td>
					<td style="padding-left:65px;"><!-- ref: http://railsforum.com/viewtopic.php?id=2151 rleblic2007-10-25 08:43:07 -->
					<!--http://www.ryboe.com/2008/07/10/select-all-checkboxes-with-prototype-js.html -->
					<b><%=t('check_uncheck')%></b>&nbsp; <input id="check_all" name="check_all" type="checkbox" checked="checked" onclick="Form.getInputs('form1', 'checkbox').each(function(box){box.checked = $('check_all').checked})" />
					</td>
				</tr>
			</table>
		
		<% end %><!--end of form-->

	<!--</div>--><!--end for div tlist-->
<br><br>
<% count_form = 0 %>
<%= link_to (t 'back'), student_attendances_path %> | 
<% if @studentattendances && @studentattendances[0].weeklytimetable_details_id!= nil %><%=%>	
	<% if @one_student_atts_count > 2 %>
		<% 0.upto(@one_student_atts_count/3-1) do |count_link| %>
			<%= link_to "#{(t 'student_attendance.form') }#{count_link+1}", :action => 'borang_kehadiran',:iddd => @studentattendance_ids,:first => count_link %>
			<% count_form+=(2*count_link) %>
			<% if @studentattendances && @one_student_atts[count_form] && @one_student_atts[count_form].weeklytimetable_details_id!= nil %>
				<font color=blue>*</font>
			<% end %>
			<% if count_link < @one_student_atts_count/3-1 %> |<% end %>
		<% end %>
	<% else %>
		<%= link_to "#{(t 'student_attendance.form')} 1", :action => 'borang_kehadiran',:iddd => @studentattendance_ids,:first => 0 %>
	<% end %>
<% else %>
	<%= link_to ('student_attendance.view_blank_form'), :action => 'borang_kehadiran',:iddd => @studentattendance_ids %>
<% end %>
<BR><BR>
<font size=-2 color=blue><%=t('student_attendance.indicate_completed_date_time')%></font>
													