<h3>Editing student_attendance</h3>

<% form_for(@student_attendance) do |f| %>
  <%= f.error_messages %>

   <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @student_attendance %> |
<%= link_to 'Back', student_attendances_path %>









