<div class="box">
	<div class="box-head">
		<h2 class="left"><%=t('student_attendance.title')%></h2>
	</div>
</div>

<!--TO HIDE THIS PART-user may wrongly select combination of student with classes-START--><!--
<%# if @schedule_list.count > 0 && @student_list.count > 0%>
	<div class="toolbar">
		<p><%#= link_to image_tag("add.png", :border => 0, :title => (t 'student_attendance.new')) + (t 'student_attendance.new'), new_student_attendance_path(:new_type => "1") %></p>
	</div>
	<BR><BR>
<%# end %>-->
<!--TO HIDE THIS PART-user may wrongly select combination of student with classes-END-->

<!--This part will only APPEAR if student of ALL INTAKES (based on current logged-in user) EXIST - Start-->
<% if (@intake_list2b && @intake_list2b.count!=0) || (@intake_course2 && @intake_course2.count!=0) %>
	<div class="left">
		 <% form_tag :action => 'new' do %>
			<%= hidden_field_tag( "new_type","3" )%>
			<% unless @programme2.nil? %>
				<%= select_tag('intake', options_from_collection_for_select(@intake_list2b,:intake, :intake_acryn)) %>	
			<% else %>
				<% if @is_common_lecturer%>
					<%= select_tag(:intake_prog, options_for_select(@intake_course2.uniq)) %>
				<% end%>
				<% if @is_admin%>
					<%= select_tag(:intake_prog, options_for_select(@intake_course2.uniq)) %>
					<%#= select_tag('intake', options_from_collection_for_select(@intake_list2b,:intake, :intake_acryn_prog)) %>
				<% end %>
				<% if @is_pengkhususan_lecturer %>
					<%= select_tag('intake', options_from_collection_for_select(@intake_list2b,:intake, :intake_acryn)) %>
					<%#=@preselect_prog%>
				<% end %>
			<% end %>
			<%= submit_tag (t 'student_attendance.multiple_by_intake'), :subject_id => nil %>
	      <% end %>
	</div><BR><BR>
<% end %>
<!--This part will only APPEAR if student of ALL INTAKES (based on current logged-in user) EXIST - End-->

<!--Multiple new by schedule / class-->
<% if @schedule_list2.count > 0 %>
	<div class="right">
		<% form_tag :action => 'new' do %>
			<%= hidden_field_tag( "new_type","2" )%>
			<b><%=t('student_attendance.class_schedule')%> : </b><%= select_tag('classid', options_from_collection_for_select(@schedule_list2, :id, :subject_day_time)) %>
			<%= submit_tag (t 'student_attendance.multiple_by_schedule'), :subject_id => nil %>
		<% end %>
	</div>
	<BR><BR>
<% end %>

<div class="tlist">
	<% form_tag edit_multiple_student_attendances_path, :id => "form1" do %>	
	<table width=100% border="0" cellpadding="0" cellspacing="0">
		<tr>
			<th>&nbsp;</th>
			<th><%=t('student_attendance.student_id')%></th>
			<th><%=t('student_attendance.attend')%></th>
			<th><%=t('student_attendance.reason')%></th>
			<th><%=t('student_attendance.action_taken')%></th>
			<th><%=t('student_attendance.action_close')%></th>
			<th colspan=3><%=t('control')%></th>
		</tr>

	<% @student_attendances_intake.each do |intake, student_attendances|%>
		<%@studentattendance_ids=student_attendances.map(&:id)%>
		<tr>
 			<td colspan=9 style="background-color:#EFF1F1;color:#218AFB;font-weight:bold;"><%=t('student_attendance.intake').upcase%> : <%=intake.to_date.strftime("%b %Y").upcase %></td>
		</tr>
		<% student_attendances.group_by{|xx|xx.weeklytimetable_details_id}.each do |classes_schedule| %>
			<!--<%#=classes_schedule[0]%>~~<%#=classes_schedule[1]%>-->
			<% if classes_schedule[0] != nil %>
				<tr>
					<td colspan=9 style="background-color:#EFF1F1;">
						<span style="font-weight:bold;">
							<% cur_topic=WeeklytimetableDetail.find(classes_schedule[0]).topic %>
							<% ancestry_topic=Programme.find(cur_topic).ancestry_depth %>
							<% if ancestry_topic==3 %>
								<% subject_full= WeeklytimetableDetail.find(classes_schedule[0]).weeklytimetable_topic.full_parent %>
								<% subjecttype = Programme.find(cur_topic).parent.course_type %>
							<% elsif ancestry_topic==4 %>
								<% subject_full= WeeklytimetableDetail.find(classes_schedule[0]).weeklytimetable_topic.parent.full_parent %>
								<% subjecttype = Programme.find(cur_topic).parent.parent.course_type %>
							<% end %>
							<% if @is_admin %>
								<% if subjecttype=="Subject"%>
									<%=t('student_attendance.programme_subject')%>
								<% elsif subjecttype=="Commonsubject"%>
									 <%=t('student_attendance.common_subject')%>
								<% end %>
							<% else %>
								<%=t('student_attendance.subject')%>
							<% end %>: 
							<%= subject_full %> |
							<%=t('student_attendance.topic')%> : <%= WeeklytimetableDetail.find(classes_schedule[0]).weeklytimetable_topic.subject_list %>
						</span><br>
						<%=t('student_attendance.date')%> : <%=h WeeklytimetableDetail.find(classes_schedule[0]).get_date_day_of_schedule %> |
						<%=t('student_attendance.time')%> : 
						<% if (WeeklytimetableDetail.find(classes_schedule[0])).time_slot==0 %>
							<%=TimetablePeriod.find(WeeklytimetableDetail.find(classes_schedule[0]).time_slot2).timing %>				
						<% else %>
							<%=TimetablePeriod.find(WeeklytimetableDetail.find(classes_schedule[0]).time_slot).timing %>
						<% end %> |
						<%=t('student_attendance.lecturer')%> : <%=h (WeeklytimetableDetail.find(classes_schedule[0])).weeklytimetable_lecturer.name %>
					</td>
				</tr>
			<% else %>
				<tr>
					<td colspan=8 style="background-color:#FDDEDE;">Schedule / Classes - not defined (<%=intake.to_date.strftime("%b %Y").upcase %>)</td>
				</tr>
			<% end %>

			<% classes_schedule[1].sort_by{|x|x.student.name}.each do |student_attendance|%>				
				<tr>
					<td><%= check_box_tag "student_attendance_ids[]", student_attendance.id, :class => "check" %></td>
					<td><%=h student_attendance.student.matrix_name %></td>
					<td>
						<% if student_attendance.attend == true %> 
							&#10003;
						<% else %>
							<font color=red><b>&#0215;</b></font><%#=t('student_attendance.absent')%>
						<% end %>
					</td>
					<td>	
						<% if student_attendance.attend == true %> 
						<% else %>
							<% unless student_attendance.status == "0" || student_attendance.status == nil %>
								<%=h ((StudentAttendance::REASON.find_all{|disp, value| value == student_attendance.reason}).map {|disp, value| disp}) %>
							<% end %>
						<% end %>	
					</td>
					<td>	 
						<% if student_attendance.attend == true %> 
						<% else %>
							<% unless student_attendance.status == "0" || student_attendance.status == nil %>
								<%=h ((StudentAttendance::ACTION.find_all{|disp, value| value == student_attendance.action}).map {|disp, value| disp}) %>
							<% end %>
						<% end %>
					</td>
					<td>
						<% if student_attendance.attend == true %> 
						<% else %>
							<% unless student_attendance.status == "0" || student_attendance.status == nil %>
								<%=student_attendance.status %>
							<% end %>
						<% end %>
					</td>
					<td width=10px><%= link_to image_tag("document.png",:border => 0, :title => (t 'show')), :action => 'show', :id => student_attendance %></td>
					<td width=10px><%= link_to image_tag("edit.png",:border => 0, :title => (t 'edit')),:action => 'edit', :id => student_attendance %></td>
					<td width=10px ><%= link_to image_tag("delete.png",:border => 0, :title => (t 'delete')), student_attendance,:confirm =>(t 'are_you_sure') ,:method => :delete %></td>
				</tr>	
			<% end %>
		<% end %><br>
	<% end %>
	</table>
	<br>
	
	<!--display 'check all/uncheck all' checkbox when record exist-start-->
	<% if @exist_timetable_attendances.count > 0 %>
		<div class="left">
			<!-- ref: http://railsforum.com/viewtopic.php?id=2151 rleblic2007-10-25 08:43:07 -->
			<!--http://www.ryboe.com/2008/07/10/select-all-checkboxes-with-prototype-js.html -->
			<input id="check_all" name="check_all" type="checkbox" checked="checked" onclick="Form.getInputs('form1', 'checkbox').each(function(box){box.checked = $('check_all').checked})" />
			<b><%=t('check_uncheck')%></b>&nbsp;&nbsp;
		</div>
		<%= submit_tag (t 'edit_checked'), :name => :student_attendance_submit_button %> <font size=-2px><%=t('student_attendance.edit_class_schedule')%></font>
	<% end %>
	<!--display 'check all/uncheck all' checkbox when record exist-end-->
	
	<% end %><!--end for form-->

	<!--SEARCH attendances for existing classes-->
	<% if @exist_timetable_attendances.count > 0 %>
		<div class="right">
			<% form_tag '', :method => 'get' do %>
				  <b><%=t('student_attendance.class_schedule')%></b> : <%= select_tag('classid', "<option value='0'>#{t('student_attendance.all_exist')}</option>" +options_from_collection_for_select(@exist_timetable_attendances, :id, :subject_day_time)) %><!--WeeklytimetableDetail.all, :id, :subject_day_time-->
				  <%= submit_tag (t 'student_attendance.search_class'), :name => :attendance_search %>
			<% end %>
		</div>
	<% end %>
	<br>
	
	<% if @intatake2.count > 0 %>
		<!--Multiple EDIT by intake(+prog)-->
		<div class="left">
			<% form_tag edit_multiple_intake_student_attendances_path do %>	
				<% if @programme2 %><%# unless @lecturer_programme.nil? %><%# unless @programme.nil? %><!--12 February 2015-->
					<%= select_tag('intake_student', options_from_collection_for_select(@intatake2,:intake, :intake_acryn)) %>
					<%= submit_tag t('student_attendance.edit_multiple_intake'), :name => :student_attendance_intake %>
				<% else %>
					<% if @is_common_lecturer%>
						<%= select_tag(:intake_prog, options_for_select(@exist_intake_course_attendances.uniq)) %>
						<%= submit_tag t('student_attendance.edit_multiple_intake'), :name => :student_attendance_intake %>
					<% else %><!--admin, pengkhususan lecturer-->
					        <%= select_tag(:intake_prog, options_for_select(@exist_intake_course_attendances.uniq)) %>
						<%= submit_tag t('student_attendance.edit_multiple_intake'), :name => :student_attendance_intake %>
					<% end %>
				<% end %>
			<% end %>
		</div>
		<br>

		<!--SEARCH attendances by INTAKE-->
		<div class="right">
			<% form_tag '', :method => 'get' do %>
				<%= hidden_field_tag( "programme",@preselect_prog)%>
				<%= select_tag('intake_student', "<option value='0'>#{t('student_attendance.all_exist_intake')}</option>" +options_from_collection_for_select(@intatake2,:intake, :intake_acryn)) %><!--WeeklytimetableDetail.all, :id, :subject_day_time-->
				<% if @preselect_prog==nil %><%#=@intatake2.count%><% end %>
				<%= submit_tag (t 'student_attendance.search_intake'), :name => :attendance_search %>
			<% end %>
		</div>
	<% end %>

</div>
<br />
<br><br>