<% if @new_type == "1" %>
	
	<h3>New Student Attendance</h3>

	<% form_for(@student_attendance, :html => { :multipart => true}) do |f| %>
  		<%= f.error_messages %>
		<%=render :partial => 'form', :locals => {:f => f} %>
  		<p><%= f.submit 'Create', :name =>:new_submit %></p>
	<% end %>

<% elsif @new_type == "2" %>

	<h3>Multiple New Staff Attendance (by Class / Schedule )</h3>
	
	<%=render :partial => 'form_multiple_schedule'%>
	
<% elsif @new_type == "3" %>

	<h3>Multiple New Student Attendance (by Intake)</h3>

	<%=render :partial => 'form_multiple_intake'%>

<% end %>

<%= link_to 'Back', student_attendances_path %>








