<% if @new_type == "1" %>
	<h3><%=t('student_attendance.new')%></h3>
	<% form_for(@student_attendance, :html => { :multipart => true}) do |f| %>
  		<%= f.error_messages %>
		<%=render :partial => 'form', :locals => {:f => f} %>
  		<p><%= f.submit t('create'), :name =>:new_submit %></p>
	<% end %>
<% elsif @new_type == "2" %>
	<h3><%=t('student_attendance.multiple_schedule_title')%></h3>
	<%=render :partial => 'form_multiple_schedule'%>	
<% elsif @new_type == "3" %>
	<h3><%=t('student_attendance.multiple_intake_title')%></h3>
	<%=render :partial => 'form_multiple_intake'%>
<% end %>
<%= link_to t('back'), student_attendances_path %>