<div class="tform">
<H2><%= t 'ptschedule.schedule_details' %></H2>
 <table width=100% >
	<tr>
		<td class="leftcol"><label for="ptcourse_id"><%= t 'ptschedule.ptcourse_id' %> : </label></td>
		<td><%= f.collection_select :ptcourse_id, Ptcourse.find(:all, :conditions => ["approved = ?", true]), :id, :name, :prompt => "Select" %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="start"><%= t 'ptschedule.start' %> : </label></td>
		<td><%= f.date_select :start, :order => [:day, :month, :year] %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="location"><%= t 'ptschedule.location' %> : </label></td>
		<td><%= f.text_field :location %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="min_participants"><%= t 'ptschedule.minparticipant' %> : </label></td>
		<td><%= f.text_field :min_participants, :size => 3 %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="max_participants"><%= t 'ptschedule.maxparticipant' %> : </label></td>
		<td><%= f.text_field :max_participants, :size => 3  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="final_price"><%= t 'ptschedule.final_price' %>: </label></td>
		<td><%= f.text_field :final_price, :placeholder => 'RM', :size => 12 %></td>
	</tr>

    <% permitted_to? :approve, :ptcourses do %>

    <tr>
		<td class="leftcol"><label for="budget_ok"><%= t 'ptschedule.budget_ok' %> : </label></td>
		<td> <%= f.check_box :budget_ok %><font color="grey", size="-2"> Tick To Approved </font></td>
	</tr>

	
<% end %>
	
</table>		
</div>