<!-- Box -->
<div class="box">
	<div class="box-head">
		<h2 class="left"><%= t 'ptschedule.course_available' %></h2>
	</div>
</div>

<% permitted_to? :manage, :ptschedules do %>
	<%= link_to (t 'ptschedule.course'), new_ptschedule_path %>
<% end %>



	<div class="column">
	<BR>
		<table width=100% border=1 cellspacing=0 cellpadding=7 BORDERCOLOR="#E6E6E6">
		<tr bgcolor="#F8E0E6">
			<th width=2%>Bil</th>
			<th width=20% align="center">Course Name</th>
			<th align="center">Branch</th>
			<th align="center">Course Date</th>
			<th align="center">Duration</th>
			<th align="center">Location</th>
			<th align="center">Participants</th>
			<% permitted_to? :manage, :ptschedules do %>
			<th colspan=3>Control</th>	<% end %>
		</tr>
		<% bil = 0 %>
		 <% @ptschedules.each do |ptschedule| %>
		 <% bil += 1 %>
			
		<tr>
			<td><%=h bil %></td>
			<td><%= link_to ptschedule.coursename, new_ptdo_path(:ptschedule_id => ptschedule) %></td>
			<td><%=h ptschedule.branch %></td>
			<td align="center"><%=h ptschedule.start.blank? ? "Will Be Notified" : ptschedule.start.strftime('%e %B %Y') %> </td>
			<td align="center"><%=h ptschedule.duration %> <%=h (Ptcourse::DUR_TYPE.find_all{|disp, value| value == ptschedule.duration_type}).map {|disp, value| disp} %></td>
			<td align="center"><%=h ptschedule.location %></td>
			<td align="center"><%=h ptschedule.min_participants %></td>
			<% permitted_to? :manage, :ptschedules do %>
			<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => ptschedule %></td>
		    <td width=10px><%= link_to image_tag("edit.png", 		:border => 0, :title => 'Edit'), :action => 'edit', :id => ptschedule %></td>
			<td width=10px><%= link_to image_tag("delete.png", 	:border => 0, :title => 'Delete'), ptschedule, :confirm => 'Are you sure?', :method => :delete %></td>
			<% end %>
		</tr>
			<% end %>
		</table>
		
		
	


	

<br />
</div>