<!-- Box -->
<div class="box">
	<div class="box-head">
		<h2 class="left">Courses Available For Staff</h2>
	</div>
</div>

<% permitted_to? :manage, :ptschedules do %>
	<%= link_to 'Add New Course', new_ptschedule_path %>
<% end %>


<% @ptschedules.in_groups_of(4, false) do |row_ptschedules| %>
	<div class="column">
	<% for ptschedule in row_ptschedules %>
		<div class="coursebox">
			<div class="cb_name"><%= link_to ptschedule.ptcourse.name, new_ptdo_path(:ptschedule_id => ptschedule) %></div>
			<div class="cb_description">
				<%=h truncate(ptschedule.ptcourse.description, :length => 80, :omission => '...') %><%= link_to '(more)', ptschedule %><BR/><BR/>
				<%=h ptschedule.ptcourse.duration %> <%=h ptschedule.ptcourse.rendered_course_duration %> <%=h ptschedule.ptcourse.rendered_course_type %><BR/>
				from <%=h ptschedule.start.strftime('%e %B %Y') %> at <%=h ptschedule.location %> <BR/> by <%=h ptschedule.ptcourse.provider.name %>
			</div>
			<% permitted_to? :manage, :ptschedules do %>
			<div class="admin_actions">
					<%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => ptschedule %>
	  			<%= link_to image_tag("edit.png", 		:border => 0, :title => 'Edit'), :action => 'edit', :id => ptschedule %>
	  			<%= link_to image_tag("delete.png", 	:border => 0, :title => 'Delete'), ptschedule, :confirm => 'Are you sure?', :method => :delete %>
			</div>
			<% end %>
		</div>

	<% end %>
	</div>
<% end %>
<br />