<h3>Edit Training Schedule</h3>

<% form_for(@ptschedule) do |f| %>
  <%= f.error_messages %>

	<%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ptschedule %> |
<%= link_to 'Back', ptschedules_path %>