<h3><%= t 'ptschedule.edit' %></h3>

<% form_for(@ptschedule) do |f| %>
  <%= f.error_messages %>

	<%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit (t 'update') %>
  </p>
<% end %>

<%= link_to (t 'show'), @ptschedule %> |
<%= link_to (t 'ptschedule.listing'), ptschedules_path %>
<% permitted_to? :manage, :ptbudgets do %>
	<% if @ptschedule.budget_ok==true && @participants_count >= @ptschedule.min_participants%>
		&nbsp;|&nbsp;<%= link_to (t 'ptschedule.back_expenses'), organized_course_manager_ptschedules_path %>
	<% end %>
<% end %>