<div class="box">
	<div class="box-head">
		<h2 class="left"><%= t 'ptschedule.list' %> &nbsp;</h2>
		<h2><%= link_to image_tag("add.png", :border => 0, :title => (t 'ptschedule.schedule_training')), new_ptschedule_path %></h2>
	</div>
</div>

<div class="indextable">
<table>
  <tr>
    <th><%= t 'ptschedule.start' %></th>
    <th><%= t 'ptschedule.duration' %></th>
    <th><%= t 'ptschedule.ptcourse_id' %></th>
    <th><%= t 'ptschedule.location' %></th>
    <th><%= t 'ptschedule.minparticipant' %></th>
    <th><%= t 'ptschedule.maxparticipant' %></th>
    <th colspan=3 class="ac"><%= t 'control' %></th>
  </tr>

<% @ptschedules.each do |ptschedule| %>
  <tr>
    <td><%=h l(ptschedule.start, :format=>'%e %B %Y') %></td>
    <td><%=h ptschedule.ptcourse.duration %></td>
    <td><%=h ptschedule.ptcourse.name %></td>
    <td><%=h ptschedule.location %></td>
    <td><%=h ptschedule.min_participants %></td>
    <td><%=h ptschedule.max_participants %></td>
	  <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => (t 'show')), :action => 'show', :id => ptschedule %></td>
	  <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => (t 'edit')), :action => 'edit', :id => ptschedule %></td>
	  <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => (t 'delete')), ptschedule, :confirm => (t 'are_you_sure'), :method => :delete %></td>
	</tr>
<% end %>
</table>

<br />

<%= link_to (t 'ptschedule.newcreate'), new_ptschedule_path %>

</div>