<div class="box">
	<div class="box-head">
		<h2 class="left"><%= t 'ptschedule.list' %>  &nbsp;
		<h2><%= link_to image_tag("add.png", :border => 0, :title => 'Schedule A Training'), new_ptschedule_path %></h2>
	</div>
</div>

<div class="indextable">
<table>
  <tr>
	<th><%= t 'ptschedule.start' %></th>
    <th><%= t 'ptschedule.ptcourse_id' %></th>
    <th><%= t 'ptschedule.location' %></th>
    <th><%= t 'ptschedule.minparticipant' %></th>
    <th><%= t 'ptschedule.maxparticipant' %></th>
    <th colspan=3 class="ac"><%= t 'control' %></th>
  </tr>
  
  <% @branch_name.each do |branch, ptschedules| %>
    <tr>
      <td colspan=12><b>Cawangan : <%=h branch %><b></td>
   	</tr>
        <% for ptschedule in ptschedules %>
	  <td><%=h ptschedule.start.blank? ? "Will Be Notified" : ptschedule.start.strftime('%e %B %Y') %></td>
      <td><%=h ptschedule.coursename %></td>
		<td><%=h ptschedule.location %></td>
    <td><%=h ptschedule.min_participants %></td>
   <td></td>
	  <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => ptschedule %></td>
	  <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => ptschedule %></td>
	  <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), ptschedule, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
<% end %><% end %>
</table>
</div>
<br />

<%= link_to (t 'ptschedule.create'), new_ptschedule_path %>

