<h3><%= t 'ptschedule.new' %></h3>

<% form_for(@ptschedule) do |f| %>
  <%= f.error_messages %>

	<%=render :partial => 'form', :locals => {:f => f} %> 


  <p>
    <%= f.submit (t 'icms.submit') %>
  </p>
<% end %>

<%= link_to (t 'icms.back'), ptschedules_path %>