<div class="tform">
	<H2><%= t 'ptschedule.schedule_details' %></H2>
	<table width=100% >
		<tr>
			<td class="leftcol"><label for="type"><%= t 'ptschedule.course_type' %> : </label></td>
			<td><%=h @ptschedule.ptcourse.rendered_course_type %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="ptcourse_id"><%= t 'ptschedule.ptcourse_id' %> : </label></td>
			<td><%=h @ptschedule.ptcourse.name %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="description"><%= t 'ptschedule.description' %> : </label></td>
			<td><%=h @ptschedule.ptcourse.description %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="start"><%= t 'ptschedule.start' %> : </label></td>
			<td><%=h l(@ptschedule.start) %> for <%=h @ptschedule.ptcourse.duration %> <%=h @ptschedule.ptcourse.rendered_course_duration %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="location"><%= t 'ptschedule.location' %> : </label></td>
			<td><%=h @ptschedule.location %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="min_participants"><%= t 'ptschedule.participant' %> : </label></td>
			<td>Min :<%=h @ptschedule.min_participants %> &nbsp; &nbsp; Max : <%=h @ptschedule.max_participants %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="Conducted by"><%= t 'ptschedule.conducted_by' %> : </label></td>
			<td><%=h @ptschedule.ptcourse.provider.name %></td>
		</tr>
	</table>		
</div>
<BR>

<% permitted_to? :manage, :ptschedules do %>
<%= link_to (t 'icms.update'), edit_ptschedule_path(@ptschedule) %> |
<%= link_to (t 'icms.back'), ptschedules_path %>
<% end %>|
<%= link_to 'Overview', apply_ptschedules_path %>
