<div class="tform">
<H2><%= t 'ptschedule.schedule_details' %></H2>
 <table width=100% border=0>
 
	<tr>
		<td class="leftcol"><label for="ptcourse_id">Branch</label></td>
		<td width=2%><b>:</b></td>
		<td><%=h @ptschedule.branch %></td>
	</tr>

	
	<tr>
		<td class="leftcol"><label for="ptcourse_id"><%= t 'ptschedule.ptcourse_id' %></label></td>
		<td><b>:</b></td>
		<td><%=h @ptschedule.coursename %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="description"><%= t 'ptschedule.description' %></label></td>
		<td><b>:</b></td>
		<td><%=h @ptschedule.description %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="min_participants"><%= t 'ptschedule.participant' %></label></td>
		<td><b>:</b></td>
		<td><%=h @ptschedule.min_participants %></td>
	</tr>
	
		
	<tr>
		<td class="leftcol"><label for="start"><%= t 'ptschedule.start' %></label></td>
		<td><b>:</b></td>
		<td><%=h @ptschedule.start.blank? ? "Will Be Notified" : @ptschedule.start.strftime('%e %B %Y') %> </td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="location"><%= t 'ptschedule.location' %></label></td>
		<td><b>:</b></td>
		<td><%=h @ptschedule.location %></td>
	</tr>
	
	
	<tr colspan=3>
		<td>Meals & Hospitality</td>
		<td><b>:</b></td>
		<td colspan=3><table width=70% border=1 cellspacing=0>
			<tr>
				<th align="center">Rate</th>
				<th align="center">Duration</th>
				<th align="center">Total</th>
			</tr>
			<tr>
				<td align="center"><%=h ringgols(@ptschedule.meals) %></td>
				<td align="center"><%=h @ptschedule.duration %> <%=h (Ptcourse::DUR_TYPE.find_all{|disp, value| value == @ptschedule.duration_type}).map {|disp, value| disp} %></td>
				<td align="center"><%=h ringgols(@ptschedule.total_meal) %> </td>
		</table>
		</td>
	</tr>
	
	<tr colspan=3>
		<td>Allowance Speaker</td>
		<td><b>:</b></td>
		<td colspan=3><table width=70% border=1 cellspacing=0>
			<tr>
				<th align="center">Rate</th>
				<th align="center">Duration</th>
				<th align="center">Total (Day)</th>
				<th align="center">Total (Hour)</th>
			</tr>
			<tr>
				<td align="center"><%=h ringgols(@ptschedule.allowance_speaker) %></td>
				<td align="center"><%=h @ptschedule.duration %> <%=h (Ptcourse::DUR_TYPE.find_all{|disp, value| value == @ptschedule.duration_type}).map {|disp, value| disp} %></td>
				<td align="center"><% if @ptschedule.rate_speaker == nil %><%=h ringgols(@ptschedule.total_speaker) %> <%else %> - <% end%></td>
				<td align="center"><%=h ringgols(@ptschedule.total_speaker_hour) %></td>
		</table>
		</td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="location">Total</label></td>
		<td><b>:</b></td>
		<td><%=h ringgols(@ptschedule.big_total) %></td>
	</tr>
	

	
	
	<!--<tr>
		<td class="leftcol"><label for="Conducted by"><%= t 'ptschedule.conducted_by' %></label></td>
		<td><b>:</b></td>
		<td><#%=h @ptschedule.ptcourse.trainer_name %></td>
	</tr>-->
	
</table>		
</div>
<BR>

<% permitted_to? :manage, :ptschedules do %>
<%= link_to (t 'icms.update'), edit_ptschedule_path(@ptschedule) %> |
<%= link_to (t 'icms.back'), ptschedules_path %>
<% end %>|
<%= link_to 'Overview', apply_ptschedules_path %>
