<div class="tform">
	<H2><%=t('equery.examresult.search')%></H2>
	
<% form_for @examresultsearch do |f| %>
  <%= f.error_messages %>
	<table width=100% >
		<% if @searchexamresulttype=='1' || @searchexamresulttype==1 %>
			<%= hidden_field_tag :method,  1 %>
			<tr><td colspan=2><%=t('equery.examresult.search_by')%> :</td></tr>
			
			<% @programme_list_in_examresult = Examresult.all.map(&:programme_id).uniq %>
			<% @programme_list = Programme.find(:all, :conditions=> ['id IN (?)', @programme_list_in_examresult]) %>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<%= f.label (t 'student.course_id') %></td>
				<td><%= f.collection_select :programme_id, @programme_list, :id, :programme_list, :include_blank=> (t 'select') %></td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<%= f.label (t 'examresult.semester')%></td>
				<td><%= f.select :semester, Examresult::SEMESTER, :include_blank=> (t 'select') %></td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<%= f.label (t 'examresult.examdate1') %></td>
				<td><%= date_select :examdts, params[:examdts], :include_blank=> (t 'select') %></td>
			</tr>
			<tr>
				<td class="leftcol">&nbsp;&nbsp;&nbsp;<%= f.label (t 'examresult.examdate2')  %></td>
				<td><%= date_select :examdte, params[:examdte], :include_blank=> (t 'select') %></td>
			</tr>
			<tr>
				<td colspan=2 style="text-valign:top;">
					&nbsp;&nbsp;&nbsp;<%= f.check_box :student_id,:checked=>"unchecked", :id=> 'student_checker' %>&nbsp;
					<font size=-2><b><%=t('equery.tick')%></b> <%=t('equery.to_includes')%> <b><%=t('equery.examresult.examslip')%></b> <%=t('equery.in_search_results')%></font>
				</td>
			</tr>
		<% end %>
	</table>

  <p><%= f.submit (t 'search') %>&nbsp;<font size=-2><%=t('equery.leaves_all_blank_all_records')%></font></p>
<% end %>


</div>

