<div>
	<H3><%=t('equery.examresult.search')%> :</h3>
		
		<%= link_to (t 'back'), :controller=>'examresultsearches', :action => 'new', :searchexamresulttype => 1 %><br><br>
		
		<!--additional heading-->
		<% if @examresultsearch.programme_id && @examresultsearch.programme_id.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.search_by')%> <%=t('student.course_id')%> : <b><%= Programme.find(@examresultsearch.programme_id).programme_coursetype_name %></b><br><br>
			</span>
		<% end %>
		<% if @examresultsearch.semester && @examresultsearch.semester.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.search_by')%>  Semester : 
				<b><%=(Examresult::SEMESTER.find_all{|disp, value| value == @examresultsearch.semester}).map {|disp, value| disp}%></b><br><br>
			</span>
		<% end %>
		<% if @examresultsearch.examdts && @examresultsearch.examdts.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.search_by')%> <%=t('examresult.examdate1')%> : <b><%= @examresultsearch.examdts.strftime("%d-%m-%Y") %></b><br><br>
			</span>
		<% end %>
		<% if @examresultsearch.examdte && @examresultsearch.examdte.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.search_by')%> <%=t('examresult.examdate2')%> : <b><%= @examresultsearch.examdte.strftime("%d-%m-%Y") %></b><br><br>
			</span>
		<% end %>
		
		<%=t('equery.examresult.total')%> : <%= @examresultsearch.examresults.count %><br><br>
		
		<% if @examresultsearch.examresults.count > 0 %>
		<table border=1 cellpadding=3 cellspacing=0>
			<tr style="background-color:#EFF1F1;color:#218AFB">
				<th>No</th>
				<th colspan=4><%=t('student.course_id')%></th>
				<th><%=t('examresult.examdate1')%></th>
				<th><%=t('examresult.examdate2')%></th>
				<th>Semester</th>
				<th><%=t('equery.links')%></th>
			</tr>
			<% @examresultsearch.examresults.sort_by{|x|x.programme_id}.each_with_index do |examresult, index| %>
				<tr style="background-color:#EFF1F1;">
					<td><%=index+1%></td>
					<td colspan=4><%=examresult.programmestudent.programme_coursetype_name %></td>
					<td><%=examresult.examdts.strftime("%d-%m-%Y") %></td>
					<td><%=examresult.examdte.strftime("%d-%m-%Y")%></td>
					<td><%=examresult.render_semester %></td>
					<td><%= link_to (t 'equery.examresult.exam_result'), :controller=>'examresults', :action => 'show', :id => examresult.id %></td>
				</tr>
				<!--START-VIEW IF SELECTED TO DISPLAY STUDENT EXAMINATION DETAILS & EXAM SLIP-->
				<% if @examresultsearch.student_id && @examresultsearch.student_id == 1 %>
					<tr style="background-color:#eeecec;">
						<th>&nbsp;</th>
						<th>No</th>
						<th><%=t('student.matrixno')%></th>
						<th><%=t('equery.student_attendance.student')%></th>
						<th><%=t('equery.total')%></th>
						<th>PNGS</th>
						<th>PNGK</th>
						<th>Status</th>
						<th><%=t('equery.links')%></th>
					</tr>	
					<%index2=0%>
					<% examresult.resultlines.sort_by{|x|x.student.name}.each do |resultline| %>
						<tr>
							<td>&nbsp;</td>
							<td><%=index2+=1%></td>
							<td><%=h resultline.student.matrixno %></td>
							<td><%=h resultline.student.name %></td>
							<td align="right"><%=h resultline.total %></td>
							<td align="right"><%=h resultline.pngs17 %></td>
							<td align="right"><%=h resultline.pngk %></td>
							<td><%=h resultline.remark %></td>
							<td><%= link_to (t 'equery.examresult.exam_slip'),:controller=>'examresults', :action => 'examslip', :id => resultline.id %></td>
			  			</tr>
					<% end %>
				<% end %>
				<!--END-VIEW IF SELECTED TO DISPLAY STUDENT EXAMINATION DETAILS & EXAM SLIP-->
			<% end %>
		</table>
		<% end %>
	<br>
</div>