<h1>Editing timetable_week_day</h1>

<% form_for(@timetable_week_day) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @timetable_week_day %> |
<%= link_to 'Back', timetable_week_days_path %>