<h1>Listing timetable_week_days</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @timetable_week_days.each do |timetable_week_day| %>
  <tr>
    <td><%=h timetable_week_day.name %></td>
    <td><%= link_to 'Show', timetable_week_day %></td>
    <td><%= link_to 'Edit', edit_timetable_week_day_path(timetable_week_day) %></td>
    <td><%= link_to 'Destroy', timetable_week_day, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New timetable_week_day', new_timetable_week_day_path %>