<div class="fields">
    <table width=100% border=0>
	   	<tr><%= f.hidden_field :_destroy %>
	     	<td width=20%><%= f.select :questiontype, Examquestion::QTYPE, :include_blank => "Select Type" %></td>
       		<td width=15%><%= f.text_field :quantity, :size => 10 %></td>
			<td width=15%><%= f.text_field :total_marks, :size => 10 %></td>
       		<td width=40%><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %></td>
     	</tr>
    </table>	
</div>

