<fieldset>
	<legend>Exam Details</legend>
	<table>
		<tr>
			<td class="leftcol"><label for="bplreserve"><b>Name</b></label></td>
	    <td><%=h @exam.name %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="bplreserve"><b>Description:</b></label></td>
	    <td><%=h @exam.description %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="bplreserve"><b>Created by:</b></label></td>
	    <td><%=h @exam.creator_details %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="bplreserve"><b>Exam on:</b></label></td>
	    <td><%=h l(@exam.exam_on) unless @exam.exam_on.nil? %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="bplreserve"><b>Duration:</b></label></td>
	    <td><%=h @exam.duration %>&nbsp; minutes</td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="bplreserve"><b>Class:</b></label></td>
	    <td><%=h @exam.klass_id %></td>
		</tr>

		<tr>
			<td class="leftcol"><label for="bplreserve"><b>Full marks:</b></label></td>
	    <td><%=h @exam.full_marks %></td>
		</tr>
		
	</table>
</fieldset>