<fieldset>
	<legend>Exam Details</legend>
	<table>
		<tr>
			<td class="leftcol"><label for="bplreserve"><b>Name</b></label></td>
	    <td><%=h @exam.name %></td>
		</tr>
		<!--
		<tr>
			<td class="leftcol"><label for="bplreserve"><b>Description:</b></label></td>
	    <td><%#=h @exam.description %></td>
		</tr>-->
		<tr>
			<td class="leftcol"><label for="bplreserve"><b>Programme:</b></label></td>
	    <td><%=h @exam.subject_id? ? @exam.subject.root.course_type+" "+@exam.subject.root.name : "" %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="bplreserve"><b>Subject:</b></label></td>
	    <td><%=h @exam.subject_id? ? @exam.subject.subject_list : "" %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="bplreserve"><b>Created by:</b></label></td>
	    <td><%=h @exam.creator_details %></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="bplreserve"><b>Exam on:</b></label></td>
	    <td><%=h l(@exam.exam_on) unless @exam.exam_on.nil? %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="bplreserve"><b>Time:</b></label></td>
	    <td><%=h @exam.starttime.strftime('%H:%M %p') %> - <%=h @exam.endtime.strftime('%H:%M %p') %></td>
		</tr>
		<tr><!--9Apr2013-->
			<td class="leftcol"><label for="bplreserve"><b>Duration:</b></label></td>
	    	<td>
				<%=h (((@exam.endtime - @exam.starttime)/60) / 60).to_i %>&nbsp;hours
				<%=h (((@exam.endtime - @exam.starttime)/60) % 60).to_i %>&nbsp;minutes
			</td>
		</tr><!--9Apr2013-->
		<!--
		<tr>
			<td class="leftcol"><label for="bplreserve"><b>Class:</b></label></td>
	    <td><%#=h @exam.klass_id %></td>
		</tr>-->

		<tr>
			<td class="leftcol"><label for="bplreserve"><b>Full marks:</b></label></td>
	    <td><%=h @exam.total_marks %></td>
		</tr>
		
	</table>
</fieldset>