<% if @topic_id && @exam_id %>
	<%# unless (@topic_id.blank? && @exam_id.blank?) || @topic_id =="" || @topic_id =='0'%>
	<% if (@topic_id.blank? && @exam_id.blank?) || @topic_id =="" || @topic_id =='0'%>
			Please select a topic first.
	<% else %>
	<!--for selected topic, view all available questions, (1)display message if exist in current exam OR (2)display checkbox if not exist-->

		<!--exam_id:<%#=@exam_id %>-topic_id:<%#=@topic_id%>question??:<%#=@questions%>-->
		<% @question_qty = @questions.count %>
		Total : <%=@question_qty%> question(s) available for the above <b>SELECTED Programme, Subject & Topic.</b>.

		<% if @question_qty > 0 %>
			<table width=100% border=1 cellspacing=0>
				<tr>
					<th>Subject Name<%#=@questions2.count%></th>
					<th>Question & Answer</th>
					<th>Marks</th>
					<th>Select</th>
				</tr>
			<% @questions_group.sort.each do |question_type, questions|%>	
				<tr><td colspan=4><strong><%= question_type %></strong><BR></td></tr>
				<% questions.each_with_index do |question, index| %>
				<tr>
					<td><%= question.subject.name %></td>
					<td><%= question.question %> <BR><%=raw sanitize(simple_format(question.answer), :tags => %w(br p) ) %> </td>
					<td align="center"><%= question.marks %></td>
					<td>
						<% if Exam.find(@exam_id).examquestions.include?(question) %>
							This question already selected for this examination.
						<% else %>
							<%= check_box_tag "exam[examquestion_ids][]", question.id %>
						<% end %>
					</td>
				</tr>
				<% end%>
			<% end %>
			</table>
		<% end %><!--end of @question_qty > 0-->
	
	<!--for selected topic, view all available questions, (1)display message if exist in current exam OR (2)display checkbox if not exist-->
	<% end %>
	<br><br>

	
	<!--HIDE THIS FIRST<b><%#= link_to_function "Other Available Question(s) [+/-]...", "$('other_questions').toggle()" %></b>-->

	<%= tag("div", :id => "other_questions",:style=>"display:none") %>
		<!--Display other available questions despite of examquestions that belongs to selected topic, UNREMARK line 49 to ACTIVATE-->
		<% if @questions2 %>
			<% @question2_qty = @questions2.count %>
			<% if @question2_qty > 0 %>
				<table width=100% border=1 cellspacing=0>
					<tr>
						<th>Programme / Subject Name LOLOLO</th>
						<th>Question & Answer</th>
						<th>Marks</th>
						<th>Select</th>
					</tr>

				<% @questions_group2.sort.each do |question_type2, questions2|%>	
					<tr><td colspan=4><strong><%#= question_type2 %></strong><BR></td></tr>
					<% questions2.each_with_index do |question2, index| %>
					<tr>
						<td><%= question2.subject.root.programme_list %> /<br> <%= question2.subject.name %></td>
						<td><%= question2.question %> <BR><%=raw sanitize(simple_format(question2.answer), :tags => %w(br p) ) %> </td>
						<td align="center"><%= question2.marks %></td>
						<td>
							<% if @exam %>
								<%= check_box_tag "exam[examquestion_ids][]", question2.id, @exam.examquestions.include?(question2) %>
							<% else %>
								<%= check_box_tag "exam[examquestion_ids][]", question2.id %>
							<% end %>
						</td>
					</tr>
					<% end%>
				<% end %>
				</table>
			<% end%>
		<% end %>
		<!--Display other available questions despite of examquestions that belongs to selected topic-->
	</div>

	<br><br>

<% else %>

<!--SEMUA-THIS PART NOT FUNCTIONING YET-MOVED FROM views/exams/edit.html-9Apr2013-->

<table width=100% border=1 cellspacing=0>
	<tr>
		<th>Subject Name</th>
		<th>Question & Answer</th>
		<th>Marks</th>
		<th>Select</th>
	</tr>
	
	<tr>
		<td colspan=4><strong>Objektif - MCQ</strong><BR></td>
	</tr>
	
	<% for examquestion in Examquestion.find(:all, :conditions => ['questiontype =?', 'MCQ'] ) %>
	<tr>
		<td><%= examquestion.subject.name %></td>
		<td><%= examquestion.question? ? examquestion.question : "" %> <BR><%=raw sanitize(simple_format(examquestion.answer), :tags => %w(br p) ) %> </td>
		<td align="center"><%= examquestion.marks %></td>
		<td><%= check_box_tag "exam[examquestion_ids][]", examquestion.id, @exam.examquestions.include?(examquestion) %></td>
	</tr>
	<% end %>

	<tr>
		<td colspan=4><strong>Subjektif - MEQ</strong><BR></td>
	</tr>
	<% for examquestion in Examquestion.find(:all, :conditions => ['questiontype =?', 'MEQ'] ) %>
	<tr>
		<td><%= examquestion.subject.name %></td>
		<td><%= examquestion.question %> <BR>	<%=raw sanitize(simple_format(examquestion.answer), :tags => %w(br p) ) %></td>
		<td align="center"><%= examquestion.marks.to_s %></td>
		<td><%= check_box_tag "exam[examquestion_ids][]", examquestion.id, @exam.examquestions.include?(examquestion) %></td>
	</tr>
	<% end %>
	
	<tr>
		<td colspan=4><strong>Subjektif - SEQ</strong><BR></td>
	</tr>
	<% for examquestion in Examquestion.find(:all, :conditions => ['questiontype =?', 'SEQ'] ) %>	
	<tr>
		<td><%= examquestion.subject.name %></td>
		<td><%= examquestion.question %><BR><%=raw sanitize(simple_format(examquestion.answer), :tags => %w(br p) ) %></td>
		<td align="center"><%= examquestion.marks.to_s %></td>
		<td><%= check_box_tag "exam[examquestion_ids][]", examquestion.id, @exam.examquestions.include?(examquestion) %></td>
	</tr>
	<% end %>
	
	<tr>
		<td colspan=4><strong>ACQ</strong><BR></td>
	</tr>
	<% for examquestion in Examquestion.find(:all, :conditions => ['questiontype =?', 'ACQ'] ) %>	
	<tr>
		<td><%= examquestion.subject.name %></td>
		<td><%= examquestion.question %><BR><%=raw sanitize(simple_format(examquestion.answer), :tags => %w(br p) ) %></td>
		<td align="center"><%= examquestion.marks.to_s %></td>
		<td><%= check_box_tag "exam[examquestion_ids][]", examquestion.id, @exam.examquestions.include?(examquestion) %></td>
	</tr>
	<% end %>
	
	<tr>
		<td colspan=4><strong>OSCI</strong><BR></td>
	</tr>
	<% for examquestion in Examquestion.find(:all, :conditions => ['questiontype =?', 'OSCI'] ) %>	
	<tr>
		<td><%= examquestion.subject.name %></td>
		<td><%= examquestion.question %><BR><%=raw sanitize(simple_format(examquestion.answer), :tags => %w(br p) ) %></td>
		<td align="center"><%= examquestion.marks.to_s %></td>
		<td><%= check_box_tag "exam[examquestion_ids][]", examquestion.id, @exam.examquestions.include?(examquestion) %></td>
	</tr>
	<% end %>
	
	<tr>
		<td colspan=4><strong>OSCII</strong><BR></td>
	</tr>
	<% for examquestion in Examquestion.find(:all, :conditions => ['questiontype =?', 'OSCII'] ) %>	
	<tr>
		<td><%= examquestion.subject.name %></td>
		<td><%= examquestion.question %><BR><%=raw sanitize(simple_format(examquestion.answer), :tags => %w(br p) ) %></td>
		<td align="center"><%= examquestion.marks.to_s %></td>
		<td><%= check_box_tag "exam[examquestion_ids][]", examquestion.id, @exam.examquestions.include?(examquestion) %></td>
	</tr>
	<% end %>
</table>

<!--SEMUA-THIS PART NOT FUNCTIONING YET-MOVED FROM views/exams/edit.html-9Apr2013-->

<% end %>