<% form_for(@exam) do |f| %>
  <%= f.error_messages %>

<!--<div class="showform">-->
<div class="tform">
	<%=render :partial => 'show_exam' %>
	<!--22Apr2013-refer model:attr_accessor:programme_id-->
		<%=hidden_field "exam[programme_id]", {},:value=>@exam.subject.root.id %>
	<!--22Apr2013-refer model:attr_accessor:programme_id-->
<!--</div>
<div class="tform">-->


<% if @exam.klass_id == 0 %>
<!--start-Make use of klass.id for exam TEMPLATE creation-->
	<H2>Questions</H2>
	<div id="template">
		<table width=100% border=0>
			  <tr>
		      	<td width=18% ><label for="type_id"><b>Question Type:</b></label></td>
		      	<td width=12% ><label for="quantity"><b>Quantity:</b></label></td>
				<td width=15% ><label for="total_marks"><b>Total Marks:</b></label></td>
		      	<td width=40%></td>
	      </tr>
		 </table>
		<% f.fields_for :examtemplates do |builder| %>
			<%= render 'examtemplate_fields', :f => builder %>
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :examtemplates %> - Add More </p>
		<p><font size=-2>MCQ - 1 marks/each, MEQ - 20 marks/each, SEQ - 10 marks/each</font></p>
	</div>

<!--else-Make use of klass.id for exam TEMPLATE creation-->
<% else %>

	
	<H2>Filters</H2>
		
	<table>
		<tr>
			<td class="leftcol">Programme</td>
			<td>
				<!--18March2013-new database structure-->
				<% if @exam.subject_id.nil? || @exam.subject_id.blank? %>
					<%= f.collection_select :programme_filter, Programme.roots, :id, :programme_list ,
											{:include_blank => "Select a programme"},
											:onchange => remote_function(:update => form_tag_id(f.object_name, :subject_list), 
											:url => {:action => 'view_subject' }, 
											:with => "'programmeid='+$('"+form_tag_id(f.object_name, :programme_filter)+"').value
											+ '&examid='+'#{@exam.id}' ") %>
				<% else %>
					<%= f.collection_select :programme_filter, Programme.roots, :id, :programme_list ,
											{:include_blank => "Select a programme", :selected =>@exam.subject.root.id},
											:onchange => remote_function(:update => form_tag_id(f.object_name, :subject_list), 
											:url => {:action => 'view_subject' }, 
											:with => "'programmeid='+$('"+form_tag_id(f.object_name, :programme_filter)+"').value 
											+ '&examid='+'#{@exam.id}'  ") %>
											<!--@exam.subject.root.id-->
				<% end %>
				<!--18March2013-new database structure-->
			</td>
		</tr>

		<tr>
			<td class="leftcol" >Subject<font color="red"> * </font></td>
			<td>

				<%= tag("div", :id => form_tag_id(f.object_name, :subject_list)) %>
					<% if @exam.subject_id.nil? || @exam.subject_id.blank? %>
					<% else %>
						<%= f.collection_select :subject_filter, Programme.find(@exam.subject.root.id).descendants.at_depth(2), :id, :subject_list, 
												{:include_blank=>'Select a subject', :selected => @exam.subject_id },
												:onchange => remote_function(:update => "exam_topic_list", :url => {:action=>'view_topic'}, 
												:with => "'subject='+$('"+"exam_subject_filter"+"').value + '&examid='+'#{@exam.id}' ") %>
						<%#= f.collection_select :subject_filter, Programme.find(@exam.subject.root.id).descendants.at_depth(2), :id, :subject_list, 
												{:include_blank=>'Select a subject', :selected => @exam.subject_id },
												:onchange => remote_function(:update => "exam_topic_list", :url => {:action=>'view_topic'}, 
												:with => "'subject='+$('"+"exam_subject_filter"+"').value + '&exam_id='+'#{@exam.id}' ") %>						
						<%#= f.collection_select :subject_filter, Programme.find(@exam.subject.root.id).descendants.at_depth(2), :id, :subject_list, 
												{:include_blank=>'Select a subject', :selected => @exam.subject_id },
												:onchange => remote_function(:update => "exam_questions_list", :url => {:action=>'view_questions'}, 
												:with => "'subject='+$('"+"exam_subject_id"+"').value + '&exam_id='+'#{@exam.id}' ") %>
						<%#= f.collection_select :subject_filter, Programme.find(:all, :conditions => ['ancestry_depth =?', 2 ]), :id, :subject_list, 	
												{:include_blank=>'Select a subject', :selected => @exam.subject_id },
												:onchange => remote_function(:update => "exam_questions_list", :url => {:action=>'view_questions'}, 
												:with => "'subject='+$('"+"exam_subject_id"+"').value + '&exam_id='+'#{@exam.id}' ") %>
					<% end %>	
				</div>

			</td>
		</tr>
		
		
		<tr>
			<td class="leftcol" >Topic<font color="red"> * </font></td>
			<td>

				<%= tag("div", :id => form_tag_id(f.object_name, :topic_list)) %>
					<% if @exam.subject_id.nil? || @exam.subject_id.blank? %>
					<% else %>
						<%= f.collection_select :topic_filter, Programme.find(@exam.subject.id).descendants.at_depth(3), :id, :subject_list, 
												{:include_blank=>'Select a topic', :selected => @exam.subject_id },
												:onchange => remote_function(:update => "exam_questions_list_available", :url => {:action=>'view_questions'}, 
												:with => "'topicid='+$('"+"exam_topic_filter"+"').value + '&examid='+'#{@exam.id}' ") %>
						<%#= f.collection_select :subject_filter, Programme.find(:all, :conditions => ['ancestry_depth =?', 2 ]), :id, :subject_list, 
												{:include_blank=>'Select a subject', :selected => @exam.subject_id },
												:onchange => remote_function(:update => "exam_questions_list", :url => {:action=>'view_questions'}, 
												:with => "'subject='+$('"+"exam_subject_id"+"').value + '&exam_id='+'#{@exam.id}' ") %>
					<% end %>	
				</div>

			</td>
		</tr>
		
	</table>

	
	<H2>Questions</H2>

	<%= tag("div", :id => form_tag_id(f.object_name, :questions_list_available)) %>
		<%# if @exam.subject_id%>
			<%# @exam_subject_id = @exam.subject_id %>
			<%# @exam_id = @exam.id %>
			<%#= render :partial => 'view_questions', :locals => {:exam_subject => @exam_subject_id, :exam_id => @exam_id} %>
		<%# end %>
	</div><!--end for DIV:exam_questions_list) %>-->
	
	<%= tag("div", :id => form_tag_id(f.object_name, :questions_list)) %>
	
<% if @exam.examquestions.count>0  %>	
		<h3>Existing Questions</h3>
	
		<table width=100% border=1 cellspacing=0>
			<tr>
				<th width=8px>Sequence</th>
				<th width=10px>Question Type</th>
				<th>Subject Code | Topic Code & Name</th>
				<th>Question & Answer</th>
				<th>Marks</th>
				<th>Select</th>
			</tr>
			<% if @exam.sequ!= nil %>
				<% sequ = @exam.sequ.split(",")%>
			<% end %>
			<% count=0 %>
			<% @sequence = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40]%>
			
			<%# for examquestion in @exam.examquestions.sort_by{|y|y.id} do %>
			<% @exam.examquestions.group_by{|y|y.questiontype}.each do |qtype,examquestions|%>
				<% for examquestion in examquestions %>
				<tr>
					<td><%#=sequ[count]%>	
					<% if @exam.sequ!= nil %>
						<%= select_tag "exam[seq][]", "<option>Select</option>"+options_for_select(@sequence,sequ[count].to_i)%><%#=examquestion.id%>
						<%#=hidden_field_tag "exam[seq_qid][]", examquestion.id %>
					<% else %>
						<%= select_tag "exam[seq][]", "<option>Select</option>"+options_for_select(@sequence)%>
						<%#=hidden_field_tag "exam[seq_qid][]", examquestion.id %>
					<% end %>
					</td>
					<td><%=h examquestion.questiontype%><%#=examquestion.id%></td>
					<td><%=h examquestion.topic.parent.code %> | <%#=h examquestion.topic.code %><%#=h examquestion.topic.name %><%=examquestion.topic.subject_list%></td>
					<td><b>Q:</b><%=h examquestion.question %><br><b>A:</b><%=h examquestion.answer %>
					
						<!--HIDE ALL THESE LINES-IF INCASE ...PREFER SIMPLE ONE-->
						<!--try simplified one-->
						<% if examquestion.questiontype=="MCQ"%>
							<% if examquestion.answerchoices.count != 0 && examquestion.answerchoices[0].description!=""%>
								<% for answerchoice in examquestion.answerchoices.sort_by{|x|x.item}%>
									<br><%= answerchoice.item %>. <%= answerchoice.description %>
								<% end %>
							<% end %>
							<% for examanswer in examquestion.examanswers.sort_by{|y|y.item}%>
								<br><%= examanswer.item %>. <%= examanswer.answer_desc %>
							<% end %>		
						<% end %>
						<!--try simplified one-->
						<!--try simplified one-SEQ-->
						<% if examquestion.questiontype=="SEQ"%>
							<% for shortessay in examquestion.shortessays.sort_by{|x|x.item}%>
								<br><%=shortessay.item %>. <%=h shortessay.subquestion %> (<%=h shortessay.submark%> markah)
								<br><%=h simple_format(shortessay.subanswer) %><br>Keyword :<%=h shortessay.keyword %><br>	
							<% end %>
						<% end %>
						<!--try simplified one-SEQ-->
						<!--try simplified one-TRUEFALSE-->
						<% if examquestion.questiontype=="TRUEFALSE"%>
							<% for booleanchoice in examquestion.booleanchoices.sort_by{|x|x.item}%>
								<br><%= booleanchoice.item %>. <%= booleanchoice.description %>
							<% end %>
							<% for booleananswer in examquestion.booleananswers.sort_by{|y|y.item}%>
								<br><%= booleananswer.item %>. <%= booleananswer.answer %>
							<% end %>
						<% end %>
						<!--try simplified one-TRUEFALSE-->
						<!--HIDE ALL THESE LINES-IF INCASE ...PREFER SIMPLE ONE-->
					
					</td>
					<td><%=h examquestion.marks %></td>
					<td><%= check_box_tag "exam[examquestion_ids][]", examquestion.id, @exam.examquestions.include?(examquestion) %>
						<%#=hidden_field_tag "exam[seq_qid][]", examquestion.id %>
						<%#= check_box_tag "exam[examquestion_ids][]", question.id, @exam.examquestions.include?(question) %></td>
					<% count+=1%>
				</tr>
				<% end %><!--end for for examquestion in examquestions-->
			<% end %><!--end for @exam.examquestions.group_by{|y|y.questiontype}.each do |qtype,examquestions|-->
			
	<%# end %>
		</table>
<% end %>

	
	</div>
	

<% end %>	<!--end-OTHER THAN - Make use of klass.id for exam TEMPLATE creation-->

</div>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @exam %> |
<%= link_to 'Back', exams_path %>

