<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

	<form action="#">
		<script>
		document.write("<input type='button' " +
		"onClick='window.print()' " +
		"class='printbutton' " +
		"value='Print This Page'/>");
		</script>
		</form>
<fieldset width=10px >

	<% if @exam.subject_id!=nil && (@exam.subject.parent.code == '1' || @exam.subject.parent.code == '2') %>
		<% @year = "TAHUN 1  SEMESTER" %>
	<% elsif @exam.subject_id!=nil && (@exam.subject.parent.code == '3' || @exam.subject.parent.code == '4') %>
		<% @year = "TAHUN 2  SEMESTER " %>
	<% elsif @exam.subject_id!=nil && (@exam.subject.parent.code == '5' || @exam.subject.parent.code == '6') %>
		<% @year = "TAHUN 3  SEMESTER" %>
	<% end %>
	
<div id="title">

<table width=80% border="0" cellspacing="0" cellpadding="5" align="center">
	<tr>
		<td width="75%"  style="vertical-align:middle; text-align:left; font-family:arial;">SULIT</td>
		<td width="25%" style="vertical-align:middle; text-align:right; font-family:arial;height:20px;">&nbsp;</td>
    </tr>
</table>
	
<table width=80% border="0" cellspacing="0" cellpadding="5" align="center">
		<tr>
			<td align="center" colspan=3 style="height:30px;">&nbsp;</td>	
    	</tr>
		<tr>
			<td align="center" colspan=3  style="border-top:1px solid black;border-left:1px solid black;border-right:1px solid black;"><BR><BR><img border="0" src="/images/KM.jpg" alt="KKM" width="" height="90"/></td>
	    </tr>	

	    <tr>
			<td align="center" colspan=3 style="border-bottom:1px solid black;padding-bottom:10px;border-left:1px solid black;border-right:1px solid black;"><font size=4; style="font-family:arial"><b>LEMBAGA PENDIDIKAN<BR>KEMENTERIAN KESIHATAN MALAYSIA</b></font></td>
	    </tr>	

    	<tr>
    		<td align="center" colspan=3 style="font-family:arial; font-weight:bold;padding-top:30px;border-left:1px solid black;border-right:1px solid black;"><%=h (@exam.name).upcase %></td>	
        </tr>
    	<tr>
    		<td align="center" colspan=3 style="font-family:arial; font-weight:bold;border-left:1px solid black;border-right:1px solid black;">
				<%=h @exam.subject_id? ? @year + @exam.subject.parent.code.to_s : "" %></td>	
        </tr>
    	<tr>
    		<td align="center" colspan=3 style="font-family:arial; font-weight:bold;border-bottom:1px solid black;padding-bottom:30px;border-left:1px solid black;border-right:1px solid black;"><%=h @exam.subject_id? ? "KURSUS "+@exam.subject.root.course_type.upcase+" "+@exam.subject.root.name.upcase : "" %></td>	
        </tr>
    	<tr>
    		<td align="center" colspan=3 style="font-family:arial; font-weight:bold; padding-top:20px;border-left:1px solid black;border-right:1px solid black;"><%=h @exam.subject_id? ? @exam.subject.name : "" %></td>	
        </tr>
    	<tr>
    		<td align="center" colspan=3 style="font-family:arial; font-weight:bold;border-bottom:1px solid black;padding-bottom:20px;border-left:1px solid black;border-right:1px solid black;"><%=h @exam.subject_id? ? @exam.subject.code : "" %></td>	
        </tr>

        <tr>
    		<td align="center" style="font-family:arial;border-right:1px solid black;border-left:1px solid black;border-bottom:1px solid black;border-spacing:0;font-size:18px;padding-top:15px;padding-bottom:15px;">
				Tarikh : <%=h (@exam.exam_on.blank? ? "-" : @exam.exam_on.strftime("%d %B %Y")).upcase+ " ("+ @exam.exam_on.strftime("%A") +")" %>
				
				<br>Masa : <%=h @exam.starttime.strftime('%H:%M %p') %> - <%=h @exam.endtime.strftime('%H:%M %p') %>
			</td>
    		<td colspan=2 style="font-family:arial;font-weight:bold;text-align:center;border-bottom:1px solid black;border-right:1px solid black;" >SEQ</td>	
        </tr>
        <tr>
    		<td style="font-family:arial;text-align:left;border-right:1px solid black;font-size:18px;padding-top:15px;border-left:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No K/P : </td>
    		<td rowspan=2 style="font-family:arial;border-right:1px solid black;border-bottom:1px solid black;text-align:center;width:60px;">S1</td>
    		<td rowspan=2 style="border-right:1px solid black;border-bottom:1px solid black;width:40px;">&nbsp;</td>		
        </tr>
        <tr>
    		<td style="font-family:arial;text-align:left;border-right:1px solid black;font-size:18px;border-left:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Matrik : <br>&nbsp;</td>

        </tr>
<!---->
		<tr>
	    	<td style="font-family:arial;text-align:left;border-right:1px solid black;font-size:16px;border-left:1px solid black;">&nbsp;&nbsp;Arahan kepada calon:<br>
		 		<ul>
					<li>Jangan buka buku soalan ini sehingga diberitahu.</li></ul>
			</td>
	    		<td style="font-family:arial;border-right:1px solid black;border-bottom:1px solid black;text-align:center;">S2</td>
	    		<td style="border-right:1px solid black;border-bottom:1px solid black;">&nbsp;</td>		
	    </tr>

		<tr>
	    		<td style="font-family:arial;text-align:left;border-right:1px solid black;font-size:16px;border-left:1px solid black;">	
					<ul><li>Bahagian A mengandungi 20 soalan Objektif (Respon Tunggal). Jawab <b>SEMUA</b> soalan pada borang OMR yang disediakan.</li>
						</ul>
				</td>
	    		<td rowspan=2 style="font-family:arial;border-right:1px solid black;border-bottom:1px solid black;text-align:center;">S3</td>
	    		<td rowspan=2 style="border-right:1px solid black;border-bottom:1px solid black;">&nbsp;</td>		
	    </tr>
	    <tr>
	    		<td style="font-family:arial;text-align:left;border-right:1px solid black;border-left:1px solid black;">
		 			
				</td>

	    </tr>
		 <tr>
	    		<td style="font-family:arial;text-align:left;border-right:1px solid black;border-left:1px solid black;border-bottom:1px solid black;"><ul><li>Bahagian B mengandungi 3 soalan SEQ (10 markah setiap satu). Jawab DUA (2) soalan sahaja dari bahagian ini.</li></ul> </td>
	    		<td rowspan=2 style="font-family:arial;border-right:1px solid black;border-bottom:1px solid black;text-align:center;">Jumlah</td>
	    		<td rowspan=2 style="border-right:1px solid black;border-bottom:1px solid black;">&nbsp;</td>		
	        </tr>

<!---->

</table>

<BR><BR><BR>

	<table width=80% border="0" cellspacing="0" cellpadding="5" align="center">
			<tr>
				<td width="75%"  style="vertical-align:middle; text-align:left; font-family:arial;">&nbsp;</td>
				<td width="25%" style="vertical-align:middle; text-align:right; font-family:arial;height:20px;">SULIT</td>
		    </tr>
	</table>
	
<BR><BR>

</div>
</form>
</fieldset>

<fieldset width=10px >
<BR>
<div id="title" width=21cm>
<table width=90% border="0" cellspacing="0" cellpadding="0" align="center">
	<thead>
		<tr>
			<td width="7%"  style="vertical-align:middle; text-align:left; font-family:arial;">SULIT</td>
			<td with="53%" style="vertical-align:middle; text-align:center;font-family:arial;"><%=h @exam.subject_id? ? @exam.subject.code+" "+@exam.subject.name : "" %></td>
			<td width="30%" style="vertical-align:middle; text-align:left; font-family:arial;height:20px;">No. Matrik .............</td>
	    </tr>
		<tr>
			<td colspan=3>&nbsp;</td>
	    </tr>
	</thead>
	<tbody>
		<% @examquestions_by_type = @exam.examquestions.group_by{|x|x.questiontype} %>
		<% @examquestions_by_type.each do |examquestion_type, examquestions|%>
			<% if examquestion_type == 'MCQ'  %> 
				<tr>
					<td colspan=2><font face="arial"><b>BAHAGIAN A - Jawab SEMUA soalan-MCQ</b></font></td>
				</tr>
			<% elsif examquestion_type == 'MEQ'%>
				<tr><td colspan=2 style="height:10px;"></td></tr>
				<tr>
					<td colspan=2><font face="arial"><b>BAHAGIAN B - Jawab DUA soalan sahaja-MEQ</b></font></td>
				</tr>
			<% elsif examquestion_type == 'SEQ'  %> 
				<tr><td colspan=2 style="height:10px;"></td></tr>
				<tr>
					<td colspan=2><font face="arial"><b>BAHAGIAN B - Jawab DUA soalan sahaja-SEQ</b></font></td>
				</tr>
			<% elsif examquestion_type == 'ACQ'  %> 
				<tr><td colspan=2 style="height:10px;"></td></tr>
				<tr>
					<td colspan=2><font face="arial"><b>BAHAGIAN IV - ESEI</b></font></td>
				</tr>
			<% elsif examquestion_type == 'TRUEFALSE'  %> 
				<tr><td colspan=2 style="height:10px;"></td></tr>
				<tr>
					<td colspan=2><font face="arial"><b>BAHAGIAN II - BETUL ATAU SALAH ( 2 MARKAH )</b></font></td>
					
				</tr>			
			<% end %>
			<% examquestions.each_with_index do |examquestion, index| %>
			<%# bil += 1 %>

				<tr>
					<td colspan=2>&nbsp;</td>
				</tr>
				<tr>
					<td valign="top"><font size=3><%=h index+1 %></font></td>
					<td style="font-family:arial;text-align:left;font-weight:normal;">
						<!--10Apr2013-->
						<%= examquestion.question %>
						<%#=raw sanitize(simple_format(examquestion.question), :tags => %w(br) ) %>  <BR>
			   			<%#=raw sanitize(simple_format(examquestion.answer), :tags => %w(br) ) %> 
						<!--10Apr2013-->
					</td>
		    	</tr>
			<% end %> <!--END : examquestions.each_with_index-->		
		<% end %><!--END : for examquestion in @exam.examquestions-->
	</tbody>
		<tr><td colspan=2 style="height:10px;"></td></tr>
		<tr>
			<td colspan=2 style="text-align:center;font-family:arial;">SOALAN TAMAT</td>
		</tr>
</table>
</div>
</form>
</fieldset>


<BR>
<div id="hideLink">
<%= link_to (t 'icms.back'), exams_path %>
</div>
</div>