<%#=render :partial => 'position_dept' %>

<!--ADDED-18June2013-extract from exammarks/_exam_listing.html.erb-->
<% @exam_ids_for_examtemplate = Examtemplate.all.map(&:exam_id).uniq %>
<% @exam_ids_for_examquestions = Exam.find(:all,:joins=>:examquestions).map(&:id).uniq %>
<% @complete_exampaper = Exam.find(:all, :conditions=>['id IN (?) OR id IN (?)',@exam_ids_for_examtemplate,@exam_ids_for_examquestions]) %>
<% @ids_complete_exampaper = @complete_exampaper.map(&:id) %>
<!--ADDED-18June2013-extract from exammarks/_exam_listing.html.erb-->

<div class="box">
	<div class="box-head">
		<h2 class="left">Exam Maker<%#=@dept_unit%></h2>
	</div>
</div>

<% unless @position_exist %>	
	You have no position assigned yet. <br>
	Please contact administrator.
<% else %>
	<% if @lecturer_programme.nil? || @lecturer_programme.blank? %>
		Programme / Unit is not defined. <br>
	<% else %>


<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => 'New Exam Question') + "New", new_exam_path %></p>
</div>

<div class="indextable">
	<table>
	  <tr>
	    <th>Name</th>
		<th width=40px>Year/ Semester</th>
	    <th>Programme</th>
		<th>Subject</th>
		<th width=80px>Exam Date</th>
		<th width=70px>Time</th>
	    <th>Creator</th>
		<th>Duration</th>
		<th>Marks</th>
		<th colspan=4 class="ac">Control</th>
	  </tr>
	
		<% @exams.each do |exam| %>
		  <%# if (exam.created_by == User.current_user.staff_id)||(@dept_unit==exam.subject.root.name) ||(@current_user_roles.include?(2))||@kupk == "yes" %><!--STAND BY:HIDE THIS LINE & LINE 75 to view ALL EXAM paper-->
		
		  <tr>
		    <td><%#=h (@exam.name)%>
<%=h (Exam::EXAMTYPE.find_all{|disp, value| value == exam.name}).map {|disp, value| disp} %>
				<% if exam.klass_id == 0 %><span style="color:blue;">(Template)</span><% end %>
				<% if @ids_complete_exampaper.include?(exam.id) %><% else%><font color="red">*</font><% end %>
			</td>
				<% if exam.subject_id!=nil && (exam.subject.parent.code == '1' || exam.subject.parent.code == '2') %>
					<% @year = "1 / " %>
				<% elsif exam.subject_id!=nil && (exam.subject.parent.code == '3' || exam.subject.parent.code == '4') %>
					<% @year = "2 / " %>
				<% elsif exam.subject_id!=nil && (exam.subject.parent.code == '5' || exam.subject.parent.code == '6') %>
					<% @year = "3 / " %>
				<% end %>
			<td><%=h exam.subject_id? ? @year + exam.subject.parent.code.to_s : "" %></td>
		    <td><%=h exam.subject_id? ? exam.subject.root.course_type+" "+exam.subject.root.name : "" %></td>
			<td><%=h exam.subject_id? ? exam.subject.subject_list : "" %></td>
			<td><%=h (exam.exam_on.blank? ? "-" : exam.exam_on.strftime("%d-%b-%Y")) %></td>
			<td><%=h exam.starttime.strftime('%H:%M %p') %> -<br> <%=h exam.endtime.strftime('%H:%M %p') %></td>
		    <td><%=h exam.creator_details %></td>
			<td><%=h (((exam.endtime - exam.starttime)/60) / 60).to_i %>&nbsp;hours
				<%=h (((exam.endtime - exam.starttime)/60) % 60).to_i %>&nbsp;mins</td>
			<td><%#=h exam.full_marks %>
				<!--11June2013-TEMPLATE-->
				<% @istemplate = exam.klass_id %>
				<% if @istemplate == 0 %>
					<% @grand_total = 0 %>
					<% @examtemplates = exam.examtemplates %>
					<% @examtemplates.each do |examtemplate| %> 
						<% @grand_total+= examtemplate.total_marks %>
					<% end %>
					<%=@grand_total.to_i%>
				<% else %>
					<%=h exam.total_marks %>
				<% end %>
				<!--11June2013-TEMPLATE-->
			</td>
		
		    <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => exam %></td>
		    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => exam %></td>
			<td width=10px><%#= link_to image_tag("printer.png",   :border => 0, :title => 'Exam Paper'), :action => 'exampaper', :id => exam %><%#=exam.subject.root.id%>
				<% if exam.sequ!=nil %>
					<% sequ = exam.sequ.split(",")%>
				<% end %>
				<% if sequ!=nil && sequ.uniq.length == sequ.length &&  (exam.subject.root.id == 3 || exam.subject.root.id == 5 || exam.subject.root.id == 6 || exam.subject.root.id == 7 || exam.subject.root.id == 8 || exam.subject.root.id == 9 || exam.subject.root.id == 10 || exam.subject.root.id == 11 || exam.subject.root.id == 12 || exam.subject.root.id == 13 || exam.subject.root.id == 14)%>
					<div class="noti_Container"><%= link_to image_tag("printer.png",   :border => 0, :title => 'Separate Exam Paper'), :action => 'exampaper_separate', :id => exam %><div class="noti_bubble">S</div></div>
				<% end %>
				<% if sequ!=nil && sequ.uniq.length == sequ.length && (exam.subject.root.id == 1 || exam.subject.root.id == 2 || exam.subject.root.id == 4) %>
					<div class="noti_Container"><%= link_to image_tag("printer.png",   :border => 0, :title => 'Combine Exam Paper'), :action => 'exampaper_combine', :id => exam %><div class="noti_bubble">C</div></div>
				<% end %>
			</td>

		    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), exam, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		  <%# end %><!--STAND BY:HIDE THIS LINE & LINE 37 to view ALL EXAM paper-->
		
		<% end %>

		</table>
		<div class="right"><font color="red">*</font> indicates incomplete examination paper. Add question/question template accordingly.</div>

<br />
</div>
<%= link_to 'New Exam', new_exam_path %>

<% end %>
<% end %>