<% form_for(@exam) do |f| %>
  <%= f.error_messages %>

  <div class="tform">
  <H2>Examination Paper Details</H2>
	<table width=100% >
		<tr>
			<td class="leftcol"><%= f.label :name %></td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td class="leftcol"><%= f.label :description %></td>
			<td><%= f.text_area :description, :size => '60x3' %></td>
		</tr>

		<tr>
			<td class="leftcol">Creator Name</td>
			<td><%= f.collection_select :created_by, Staff.find(:all, :order => :name), :id, :staff_name_with_position, :include_blank => true %></td>
		</tr>

		<tr>
			<td class="leftcol">Course Name</td>
			<td><%= f.collection_select :course_id, Programme.find(:all, :order => :name), :id, :programme_with_specialisation, :include_blank => true %> </td>
		</tr>
		
		<tr>
			<td class="leftcol">Subject</td>
			<td><%= f.collection_select :subject_id, Subject.find(:all, :order => :subjectcode), :id, :subject_code_with_subject_name, :include_blank => true %> </td>
		</tr>
		
		<tr>
			<td class="leftcol">Class</td>
			<td><%= f.collection_select :klass_id, Klass.find(:all), :id, :name, :include_blank => true %></td>
		</tr>

		<tr>
			<td class="leftcol">Date</td>
			<td><%= f.date_select :exam_on, :order => [:day, :month, :year] %></td>
		</tr>

		<tr>
			<td class="leftcol">Time</td>
			<td><%= f.text_field :duration, :size => 15, :placeholder => "minutes" %></td>
		</tr>
		<!--  Will calculate this

				<tr>
					<td class="leftcol">Full Marks</td>
					<td><%= f.text_field :full_marks, :size => 12 %></td>
				</tr>-->

</table>
</div>
	<p>
	  <%= f.submit 'Create' %>
	</p>
<% end %>

<%= link_to 'Back', exams_path %>