<div class="fields">
<%= f.text_field :lpono, :size => 10, :placeholder => "LPO No" %>
<%= f.text_field :document, :size => 15, :placeholder => "Document" %>
<%= f.text_field :quantity, :size => 9, :placeholder => "Quantity" %>
<%= f.text_field :unitcost, :size => 10, :placeholder => "RM" %>
<%= f.text_field :received, :size => 12, :placeholder => "YYYYMMDD" %>
<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>
</div>


