<div class="fields">
<%= f.text_field :lpono, :size => 10, :placeholder => "LPO No" %>
<%= f.text_field :document, :size => 15, :placeholder => "Document" %>
<%= f.text_field :quantity, :size => 9, :placeholder => "Quantity" %>
<%= f.text_field :unitcost, :size => 10, :placeholder => "RM" %>
<%= f.date_select :received, :size => 12, :order => [:day, :month, :year], :include_blank => true %>
<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>
</div>


