<div class="tform">
	<H2><%= t 'supplier.supplier_details' %></H2>
  <table>
	
	<!--	<tr>
			<td class="leftcol"><label for="supplycode"><b>Stor</b></label></td>
			<td><#%= f.text_field :store_name %> 
		</tr>-->
		
		<tr>
			<td class="leftcol"><label for="supplycode"><%= t 'supplier.supplycode' %></label></td>
			<td><b>:</b></td>
			<td><%= f.text_field :supplycode %> <font color="grey", size="-2">example: K001</font></td>
		</tr>
		
	<!--	<tr>
			<td class="leftcol"><label for="supplycode"><b>Item Details :</b></label></td>
			<td><#%= f.text_field :item_details %> 
		</tr>-->
		<tr>
			<td class="leftcol"><label for="Category"><%= t 'supplier.category' %></label></td>
			<td><b>:</b></td>
			<td><%= f.text_field :category %> <font color="grey", size="-2">example: Kertas</font></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="Category">Sub-Category</label></td>
			<td><b>:</b></td>
			<td><%= f.text_field :sub_category %> <font color="grey", size="-2">example: Kertas Warna</font></td>
		</tr>
		
		<tr>
			<td class="leftcol"><label for="Category">Item Type</label></td>
			<td><b>:</b></td>
			<td><%= f.text_field :item_type %> <font color="grey", size="-2"> example : Kertas Warna 100 GM </font></td>
		</tr>
			
		<tr>
			<td class="leftcol"><label for="unittype"><%= t 'supplier.unittype' %></label></td>
			<td><b>:</b></td>
			<td><%= f.text_field :unittype, :size => '12' %> <font color="grey", size="-2">example : kotak/batang/unit/rim</font></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="maxquantity"><%= t 'supplier.maxquantity' %></label></td>
			<td><b>:</b></td>
			<td><%= f.text_field :maxquantity, :size => '5' %> <font color="grey", size="-2">nombor sahaja</font></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="minquantity"><%= t 'supplier.minquantity' %></label></td>
			<td><b>:</b></td>
			<td><%= f.text_field :minquantity, :size => '5' %> <font color="grey", size="-2">nombor sahaja</font></td>
		</tr>
	</table>
	
<!--Addsupplies Details-->	
	<div>
	  <H2><%= t 'supplier.add' %></H2>
	
		<% f.fields_for :addsuppliers do |builder| %>
			<%= render 'addsupplier_fields', :f => builder %>
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :addsuppliers %> - Add More </p>
	</div>
	
<!--usesupply Details-->		
	<div>
		<H2>Use/Issue Supplies</H2>
		
			<% f.fields_for :usesupplies do |builder| %>
				<%= render 'usesupply_fields', :f => builder %>
			<% end %>
			<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Q'), f, :usesupplies %> - Add More </p>
	</div>
</div>