<div class="fields">
<%= f.collection_select :issuedby, Staff.find(:all), :id, :name, :include_blank => true %>
<%= f.collection_select :receivedby, Staff.find(:all), :id, :name, :include_blank => true %>
<%= f.text_field :quantity, :size => 10 %>
<%= f.text_field :issuedate, :size => 12, :placeholder => "YYYYMMDD" %>
<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>
</div>