<h3><%= t 'supplier.edit' %></h3>

<% form_for(@supplier) do |f| %>
  <%= f.error_messages %>

   <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit (t 'icms.update') %>
  </p>
<% end %>

<%= link_to (t 'icms.show'), @supplier %> |
<%= link_to (t 'icms.back'), suppliers_path %>