<h3>Editing Office Supplies</h3>

<% form_for(@supplier) do |f| %>
  <%= f.error_messages %>

   <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @supplier %> |
<%= link_to 'Back', suppliers_path %>