<!-- Box -->
<div class="box">
<!-- Box Head -->
  <div class="box-head">
    <h2 class="left"><%= t 'supplier.list' %></h2>
	  	<div class="right">
		
		</div>
	</div>

<div class="tlist">
<table width=100%>
  <tr>
    <th><%= t 'supplier.suplycode' %></th>
    <th><%= t 'supplier.Category' %></th>
    <th><%= t 'supplier.current' %></th>
    <th><%= t 'supplier.unittype' %></th>
    <th><%= t 'supplier.maxquantity' %></th>
    <th><%= t 'supplier.minquantity' %></th>
    <th colspan=3 class="ac">Control</th>
  </tr>


<% @suppliers.each do |supplier| %>
  <tr>
    <td><%=h supplier.supplycode %></td>
    <td><%=h supplier.category %></td>
    <td><%=h supplier.current_quantity %></td>
    <td><%=h supplier.unittype %></td>
    <td><%=h supplier.maxquantity %></td>
    <td><%=h supplier.minquantity %></td>
    <td><%= link_to 'Show', supplier %></td>
    <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
    <td><%= link_to 'Destroy', supplier, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to (t 'supplier.create'), new_supplier_path %>