<!-- Box -->
<div class="box">
<!-- Box Head -->
  <div class="box-head">
    <h2 class="left"><%= t 'supplier.list' %></h2>
	  	<div class="right">
			<% form_tag suppliers_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag I18n.t('search') %>
			<% end %>
		</div>
	</div>
</div>
<!--Do a Show : items below minimum, items 10% from minimum, items over maximum, all-->
<div class="indextable">
<table width=100%>
  <tr>
    <th><%= t 'supplier.supplycode' %></th>
	<th>Item Details</th>
    <th><%= t 'supplier.current' %></th>
    <th><%= t 'supplier.maxquantity' %></th>
    <th><%= t 'supplier.minquantity' %></th>
   
    <th colspan=3 class="ac"><%= t 'control' %></th>
  </tr>


<% @suppliers.each do |supplier| %>
  <tr class="<%= (supplier.set_row_color) %>">
    <td><%=h supplier.supplycode %></td>
    <td><%=h supplier.category %> / <%=h supplier.sub_category %> / <%=h supplier.item_type %></td>
    <td><%=h supplier.current_quantity %> <%=h supplier.unittype %></td>
    <td><%=h supplier.maxquantity %></td>
    <td><%=h supplier.minquantity %></td>
    <td width=10px><%= link_to image_tag("printer.png", :border => 0, :title => 'Kad Stok'), :action => 'card_stock', :id => supplier %></td>
    <td width=10px><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => supplier %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => supplier %></td>
    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), supplier, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</div>
<br />

<%= link_to (t 'supplier.create'), new_supplier_path %>
