<div class="tform">
<table width=100%>
	<tr>
		<th colspan=2>Office Supplies Details</td>
	</tr>
	<tr>
		<td class="leftcol"><label for="supplycode">Supplier Code:</label></td>
		<td><%=h @supplier.supplycode %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="category">Category:</label></td>
		<td><%=h @supplier.category %></td>
	</tr>
	
	
	<tr>
		<td class="leftcol"><label for="unittype">Unit Type:</label></td>
		<td><%=h @supplier.unittype %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="maxquantity">Quantity:</label></td>
		<td><%=h @supplier.current_quantity %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="maxquantity">Max Quantity:</label></td>
		<td><%=h @supplier.maxquantity %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="minquantity">Min Quantity:</label></td>
		<td><%=h @supplier.minquantity %></td>
	</tr>
		
	</table>
	<BR>
	</div>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>

