<!--HACK-start-use this with method : assignedto_conditions in model : assetsearch.rb--><!--for KEW-PA 9-->
<% if @assetsearch.assignedto && @assetsearch.category != 5 %><!--@ad_exist_assignedto-->
	<% @ad_exist_assignedto_ids = Asset.find(:all, :conditions=>['assignedto_id=? AND id IN(?)',@assetsearch.assignedto, AssetDefect.all.map(&:asset_id).uniq]).map(&:id) %>
	<% @ad_exist_assignedto = Asset.find(@ad_exist_assignedto_ids) %>
<% end %>
<!--continue-use this with method : assignedto_conditions in model : assetsearch.rb & CONTINUE AT LINE: 99-105-->
<%#=@assetsearch.defect_type%><%#=@assetsearch.nil? %>


<% if @assetsearch.assets.count > 0 %><font size=-2><%=@assetsearch.assets.count%></font><%#=@assetsearch.defect_type%>
	<!--for checking		
	/<%#=@assetsearch.assets[0].id%>-<%#=@assetsearch.assets[1].id%>-<%#=@assetsearch.assets[2].id%>-<%#=@assetsearch.assets[3].id%>-<%#=@assetsearch.assets[4].id%>
	-<%#=@assetsearch.assets[5].id%>-<%#=@assetsearch.assets[6].id%>-->
	<% if @assetsearch.assettype == 2 && @assetsearch.name ==nil %><!--KEWPA 5-->
		<%=render :partial => 'kewpa5', :locals => {:assets => @assetsearch.assets} %> 
	<% elsif @assetsearch.assettype == 1 && @assetsearch.name ==nil %><!--KEWPA 4-->
		<%=render :partial => 'kewpa4', :locals => {:assets => @assetsearch.assets} %> 	
	<% elsif @assetsearch.startdate && @assetsearch.enddate && !@assetsearch.purchaseprice %>
		<%=render :partial => 'kewpa8', :locals => {:assets => @assetsearch.assets} %> 
	<%# elsif (@assetsearch.maintainable==true && @assetsearch.category != 9 && !@assetsearch.discardoption && @assetsearch.disposalcert!=1 && @assetsearch.loss_start!=1 && @assetsearch.loss_end!=1 && !@assetsearch.loss_cert && @assetsearch.assetcode=='' && @assetsearch.name=='')|| ((@assetsearch.maintcode!=''|| @assetsearch.maintname!='') && @assetsearch.category != 9 && @assetsearch.disposal !=1&& !@assetsearch.discardoption && @assetsearch.disposalcert!=1 && @assetsearch.loss_start!=1 && @assetsearch.loss_end!=1 && !@assetsearch.loss_cert && @assetsearch.assetcode=='' && @assetsearch.name=='')  %>

	<!--KEWPA 13-Amended on 27th October 2013-->
	<!--MANDATORY TO ADD ...()&&(@assetsearch.category=='8' || @assetsearch.category==8)....-->
	<!--TO AVOID DISPLAY OF kewpa13 for KEWPA14 search!-->
	<% elsif( (@assetsearch.maintainable && @assetsearch.maintainable==true) || (@assetsearch.maintainable && @assetsearch.maintainable==false)) && (@assetsearch.category=='8' || @assetsearch.category==8) %>
		<%=render :partial => 'kewpa13', :locals => {:assets => @assetsearch.assets} %> 
	<!--KEWPA 13-Amended on 27th October 2013-->	
	<% elsif @assetsearch.disposalreport %>
		<%=render :partial => 'kewpa17', :locals => {:assets => @assetsearch.assets} %> 
	<% elsif @assetsearch.disposalreport2 %>
		<%=render :partial => 'kewpa20', :locals => {:assets => @assetsearch.assets} %> 
	<% else %><!--start:KEWPA 2 & 3-->
		<% if @assetsearch.name != nil %>
			<% if (@assetsearch.assets.count==1 && @assetsearch.defect_asset)|| (@assetsearch.assets.count==1 && @assetsearch.defect_reporter) %>
				<%=render :partial => 'kewpa9', :locals => {:assets => @assetsearch.assets[0]} %>
			<% elsif @assetsearch.assets.count == 1 && !@assetsearch.assignedto && !@assetsearch.maintcode && !@assetsearch.disposal && !@assetsearch.discardoption && !@assetsearch.disposalcert && !@assetsearch.loss_start && !@assetsearch.loss_end && !@assetsearch.loss_cert %>
			<!--!@assetsearch.assignedto : to avoid KEWPA2/3 display if query 4 KEWPA7-->
			<!--!@assetsearch.maintcode : to avoid KEWPA2/3 display if query for KEWPA14-->
			<!--!@assetsearch.discardoption : to avoid KEWPA2/3 display if query 4 KEWPA18-->
				<% if @assetsearch.assets[0].assettype == 1 %>						
					<%=render :partial => 'kewpa2', :locals => {:asset => @assetsearch.assets[0]} %> 	
				<% else %>
					<%=render :partial => 'kewpa3', :locals => {:asset => @assetsearch.assets[0]} %> 	
				<% end %>
			<% else %>
				<div style="padding-left:50px;padding-top:20px;padding-bottom:20px;border-top:solid 1px;border-bottom:solid 1px;border-left:solid 1px;border-right:solid 1px;">
					<H4><%=t('equery.asset.search')%> : 
						<%# if (@assetsearch.loandate || @assetsearch.returndate) %>
						<% if (@assetsearch.loanedasset == 1) %>
							KEW-PA 6 <%=t('equery.links')%> | <%= link_to (t 'back'), :controller=>'assetsearches', :action => 'new', :searchtype => 4 %>
						<% elsif (@assetsearch.defect_reporter || @assetsearch.defect_processor || @assetsearch.defect_process) %>
							KEW-PA 9 <%=t('equery.links')%> | <%= link_to (t 'back'), :controller=>'assetsearches', :action => 'new', :searchtype => 7 %>
						<% elsif (@assetsearch.assignedto || @assetsearch.location) %>
							<%# if @assetsearch.assignedto %>
								<% if @assetsearch.category == 5 %><!--KEWPA 7 -->
									KEW-PA 7 <%=t('equery.links')%> | <%= link_to (t 'back'), :controller=>'assetsearches', :action => 'new', :searchtype => 5 %>
								<% else %>
									KEW-PA 9 <%=t('equery.links')%> | <%= link_to (t 'back'), :controller=>'assetsearches', :action => 'new', :searchtype => 5 %>
								<% end %>
							<%# end %>
						<% elsif (@assetsearch.category == 9 && @assetsearch.maintcode) || (@assetsearch.category == 9 && @assetsearch.maintname) %>
							KEW-PA 14 <%=t('equery.links')%> | <%= link_to (t 'back'), :controller=>'assetsearches', :action => 'new', :searchtype => 9 %>
						<% elsif (@assetsearch.disposal)%>
							KEW-PA 16 <%=t('equery.links')%> | <%= link_to (t 'back'), :controller=>'assetsearches', :action => 'new', :searchtype => 10 %>
						<% elsif (@assetsearch.discardoption)%>
							KEW-PA 18 <%=t('equery.links')%> | <%= link_to (t 'back'), :controller=>'assetsearches', :action => 'new', :searchtype => 12 %>
						<% elsif (@assetsearch.disposalcert)%>
							KEW-PA 19 <%=t('equery.links')%> | <%= link_to (t 'back'), :controller=>'assetsearches', :action => 'new', :searchtype => 13 %>
						<% elsif (@assetsearch.loss_start)%>
							KEW-PA 28 <%=t('equery.links')%> | <%= link_to (t 'back'), :controller=>'assetsearches', :action => 'new', :searchtype => 15 %>
						<% elsif (@assetsearch.loss_end)%>
							KEW-PA 30 <%=t('equery.links')%> | <%= link_to (t 'back'), :controller=>'assetsearches', :action => 'new', :searchtype => 16 %>
						<% elsif (@assetsearch.loss_cert)%>
							KEW-PA 31 <%=t('equery.links')%>  | <%= link_to (t 'back'), :controller=>'assetsearches', :action => 'new', :searchtype => 17 %>
						<% elsif (@assetsearch.maintainable==false && @assetsearch.maintname=='' && @assetsearch.maintcode=='')%>
							KEW-PA 13 <%=t('equery.links')%> | <%= link_to (t 'back'), :controller=>'assetsearches', :action => 'new', :searchtype => 8 %>
						<% else %>	
							KEW-PA 2 / KEW-PA 3 <%=t('equery.links')%> | <%= link_to (t 'back'), :controller=>'assetsearches', :action => 'new', :searchtype => 1 %>
						<% end %>
					</H4>
					<% if (@assetsearch.loandate && @assetsearch.assets.count == Asset.all.count && @assetsearch.loanedasset==0) || (@assetsearch.returndate && @assetsearch.assets.count == Asset.all.count&& @assetsearch.loanedasset==0) %><%#=@assetsearch.assets.count%>
						<font color=red><%=t('no3')%> <b><%=t('equery.asset.on_loan')%></b> <%=t('equery.for_selected_date')%></font><br><br><br><br>
					<% elsif (@assetsearch.assignedto && @assetsearch.assets.count == Asset.all.count)||(@assetsearch.location && @assetsearch.assets.count == Asset.all.count) %>
						<font color=red><%=t('equery.no_asset_select_person_location')%></font><br><br><br><br>
					<% elsif (@assetsearch.discardoption && @assetsearch.assets.count == Asset.all.count)%>
						<font color=red><%=t('equery.asset.no_asset_discard_using')%><%=@assetsearch.discardoption.upcase %>
						<%#=(t('disposal.'+@assetsearch.discardoption)).upcase %>
						</font><br><br><br><br>
					<% elsif (@assetsearch.alldefectasset==0 && @assetsearch.defect_reporter==nil && @assetsearch.defect_processor==nil && @assetsearch.defect_asset==nil && @assetsearch.defect_process=='' && @assetsearch.assignedto==nil && @assetsearch.defect_type==nil && @assetsearch.assets.count == Asset.all.count)%>
						<font color=red><%=t('equery.asset.no_asset_defect')%></font><br><br><br><br>
					<% elsif (@assetsearch.maintainable==false && @assetsearch.maintname=='' && @assetsearch.maintcode==''&& @assetsearch.assets.count == Asset.all.count)%>
						<font color=red><%=t('equery.asset.no_asset_maintenance')%></font><br><br><br><br><!--
					<%# elsif (@assetsearch.loanedasset==1 && @assetsearch.loandate==nil && @assetsearch.loandate2==nil)%>
					<%# ||(@assetsearch.returndate==nil && @assetsearch.returndate2==nil)||(@assetsearch.expectedreturndate==nil && @assetsearch.expectedreturndate2==nil)%>
						<font color=red>No asset on loan for selected date. </font><br><br><br><br>
						<%#=@assetsearch.loandate%>-<%#=@assetsearch.loandate2%>-->
					<% else %>
						<!--start-addditional heading for KEW-PA 6-->
						<% if ((@assetsearch.loandate||@assetsearch.loandate2) && @assetsearch.loanedasset == 1) %>
								<%=t('equery.search_by')%> : <%=t('equery.asset.loan_date') %> - 
								(<% if @assetsearch.loandate!= nil %>
									<%=tarikh(@assetsearch.loandate)%>
								<% end %>
								<% if @assetsearch.loandate2!= nil %>
									<% if @assetsearch.loandate!= nil %> - <% end %>
									<%=tarikh(@assetsearch.loandate2)%>
								<% end %>)
						<% elsif ((@assetsearch.returndate||@assetsearch.returndate2) && @assetsearch.loanedasset == 1) %>
								<%=t('equery.search_by')%> : <%=t('equery.return_date')%> - 
								(<% if @assetsearch.returndate!= nil %>
									<%=tarikh(@assetsearch.returndate)%>
								<% end %>
								<% if @assetsearch.returndate2!= nil %>
									<% if @assetsearch.returndate!= nil %> - <% end %>
									<%=tarikh(@assetsearch.returndate2)%>
								<% end %>)
						<% elsif((@assetsearch.expectedreturndate||@assetsearch.expectedreturndate2) && @assetsearch.loanedasset == 1) %>
								<%=t('equery.search_by')%> : <%=t('equery.expected_return_date')%> - 
								(<% if @assetsearch.expectedreturndate!= nil %>
									<%=tarikh(@assetsearch.expectedreturndate)%>
								<% end %>
								<% if @assetsearch.expectedreturndate2!= nil %>
									<% if @assetsearch.expectedreturndate!= nil %> - <% end %>
									<%=tarikh(@assetsearch.expectedreturndate2)%>
								<% end %>)
						<% end %>
						<!--end-additional heading for KEW-PA 6-->
						<!--start-additional heading for KEW-PA 7-->
						<% if @assetsearch.assignedto %>
							<% if @assetsearch.category == 5%>
								<%=t('equery.search_by')%> : <%=t('equery.asset.person_in_charge')%> :<%= Staff.find(@assetsearch.assignedto).name %>
							<% end %>
						<% end %>
						<% if @assetsearch.location %>
							<%=t('equery.search_by')%> : <%= Location.find(@assetsearch.location).name %>
						<% end %>
						<!--end-additional heading for KEW-PA 7-->
						<!--start-additional heading for KEW-PA 9-->
						<% if @assetsearch.defect_reporter %>
							<%=t('equery.asset.defect_reported_by')%> : <%=Staff.find(@assetsearch.defect_reporter).name %>
						<% end %>
						<% if @assetsearch.defect_processor %>
							<%=t('equery.asset.defect_processed_by')%> : <%=Staff.find(@assetsearch.defect_processor).name %>
						<% end %>
						<% if @assetsearch.assignedto %>
							<% if @assetsearch.category != 5%>
								<%=t('equery.asset.defect_person_in_charge')%> : <%=Staff.find(@assetsearch.assignedto).name %>  <!--for checking:<%#=@assetsearch.assets.count%>-->
							<% end %>
						<% end %>
						<% if @assetsearch.defect_process %>
							<% unless(@assetsearch.defect_process == '0' || @assetsearch.defect_process == '') %>
								<%=t('equery.asset.defect_by_process')%> : <%=@assetsearch.defect_process.capitalize %>
							<% end %>
						<% end %>
						<!--end-additional heading for KEWP-PA 9-->
						<!--start-additional heading for KEW-PA 18-->
						<% if @assetsearch.discardoption %>
							<%=t('equery.asset.disposal_discard')%> (<%=t('disposal.'+@assetsearch.discardoption)%><%#=@assetsearch.discardoption%>)
						<% end %>
						<!--end-additional heading for KEW-PA 18-->
						<!--start-additional heading for KEW-PA 31-->
						<% if @assetsearch.loss_cert %>
							<%=t('equery.asset.loss_writeoff')%> - <b><%=t('equery.asset.treasury_no')%></b> : <%=Document.find(@assetsearch.loss_cert).refno%> <%=t('equery.dated')%> <%=l(Document.find(@assetsearch.loss_cert).letterdt, :format=>"%d %b %Y")%>
						<% end %>
						<!--end-additional heading for KEW-PA 31-->
							<!--start-display data-kewpa 2 & 3-->
							<table border=1 cellspacing=0 cellpadding=3>
								<tr>
									<th>No</th>
									<th><%=t('asset.assetcode')%></th>	
									<th><%=t('equery.asset.asset_name')%></th>
									<th><%=t('equery.asset.asset_type')%></th>	
									<%## if @assetsearch.loandate && @assetsearch.loanedasset == 0 %>
									<%# if (@assetsearch.loandate && @assetsearch.loanedasset == 1) %>
										<!--<th>Loan Date</th>-->
									<%# end %>
									<%## if @assetsearch.returndate %>
									<%# if (@assetsearch.returndate && @assetsearch.loanedasset == 1) %>
										<!--<th>Return Date</th>-->
									<%# end %>
									<% if @assetsearch.assignedto %>
										<% if @assetsearch.category == 5 %>
											<th><%=t('equery.asset.location')%></th>
										<% end %>
									<% end %>
									<% if @assetsearch.location %>
										<th><%=t('equery.asset.person_in_charge')%></th>
									<% end %>
									<th><%=t('asset.purchasedate')%></th>
									<th><%=t('asset.purchaseprice')%></th>
									<th>KEW-PA <%=t('equery.links')%></th>
								</tr>
								<!--continue from line 1-6-use this with method : assignedto_conditions in model : assetsearch.rb-->
								<% if @assetsearch.assignedto && @assetsearch.category != 5 %>
									<% @aaaa = @ad_exist_assignedto %>
								<% else %>
									<% @aaaa = @assetsearch.assets %>
								<% end %>
								<!--end-use this with method : assignedto_conditions in model : assetsearch.rb-->
								
								<% @aaaa.each_with_index do |x,index| %>
								<%# @assetsearch.assets.each_with_index do |x,index| %><!--asal-->
								<tr>	
									<td><%=index+1 %></td>
									<td><%=x.assetcode %></td>
									<td><%=x.name %></td>
									<td align=center>
										<% if x.assettype==1%>
									 		<%=t('asset.fixed_assets')%>
										<% elsif x.assettype==2%>
											<%=t('asset.inventory')%>
										<% end %>
									</td>
									<%## if @assetsearch.loandate && @assetsearch.loanedasset == 0 %>
									<%# if (@assetsearch.loandate && @assetsearch.loanedasset == 1) %>
										<!--<td align=center><%#=@assetsearch.loandate.strftime("%d-%m-%Y")%></td>-->
									<%# end %>
									<%## if @assetsearch.returndate && @assetsearch.loanedasset == 0%>
									<%# if (@assetsearch.returndate && @assetsearch.loanedasset == 1) %>
										<!--<td align=center><%#=@assetsearch.returndate.strftime("%d-%m-%Y")%></td>-->
									<%# end %>
									<% if @assetsearch.assignedto %>
										<% if @assetsearch.category == 5 %>
											<td align=center>
												<% if x.location_id!= nil %>
													<%=Location.find(x.location_id).name %>
												<% else %>
													<%=t('equery.data_not_available')%>
												<% end %>
											</td>
										<% end %>
									<% end %>
									<% if @assetsearch.location %>
										<td align=center>
											<% if x.assignedto_id!= nil %>
												<%=Staff.find(x.assignedto_id).name %>
											<% else %>
												<%=t('equery.data_not_available')%>
											<% end %>
										</td>
									<% end %>
									<td align=center><%= x.purchasedate.blank? ? "" : x.purchasedate.strftime("%d-%m-%Y") %></td>
									<td align=right><%= ringgols(x.purchaseprice) %>&nbsp;</td>
									<td align=center>
										<%# if (@assetsearch.loandate || @assetsearch.returndate) %>
										<% if (@assetsearch.loanedasset == 1) %>
											<%= link_to "KEW-PA 6", :controller=>'assets', :action => 'kewpa6', :id => x.id %>
										<!---->
										<% elsif @assetsearch.alldefectasset==1 %>
											<%= link_to "KEW-PA 9", :controller=>'asset_defects', :action => 'kewpa9', :id => x.id %>	
										<!---->	
										<% elsif @assetsearch.defect_reporter %>
											<% @ad_id = AssetDefect.find(:first, :conditions=>['asset_id=? AND reported_by=?',x.id,@assetsearch.defect_reporter])%>
											<% @ad_ids = AssetDefect.find(:all, :conditions=>['asset_id=? AND reported_by=?',x.id,@assetsearch.defect_reporter])%>
											<% 0.upto(@ad_ids.count-1) do |n| %>
												<% if n>0 %><br><% else %>&nbsp;<% end %>
												<%= link_to "KEW-PA 9", :controller=>'asset_defects', :action => 'kewpa9', :id => @ad_ids[n] %>
												<% if @ad_ids.count>1 %>
													<font size=-2>(<%=AssetDefect.find(@ad_ids[n]).processed_on.strftime("%d-%m-%Y") %>)</font>
												<% end %>
											<% end %>
											<%#= link_to "KEW-PA 9", :controller=>'asset_defects', :action => 'kewpa9', :id => @ad_id %>
										<% elsif @assetsearch.defect_processor %>
											<% @ad_id = AssetDefect.find(:first, :conditions=>['asset_id=? AND processed_by=?',x.id,@assetsearch.defect_processor])%>
											<% @ad_ids = AssetDefect.find(:all, :conditions=>['asset_id=? AND processed_by=?',x.id,@assetsearch.defect_processor])%>
											<% 0.upto(@ad_ids.count-1) do |n| %>
												<% if n>0 %><br><% else %>&nbsp;<% end %>
												<%= link_to "KEW-PA 9", :controller=>'asset_defects', :action => 'kewpa9', :id => @ad_ids[n] %>
												<% if @ad_ids.count>1 %>
													<font size=-2>(<%=AssetDefect.find(@ad_ids[n]).processed_on.strftime("%d-%m-%Y") %>)</font>
												<% end %>
											<% end %>
											<%#= link_to "KEW-PA 9", :controller=>'asset_defects', :action => 'kewpa9', :id => @ad_id %>
										<%elsif @assetsearch.defect_process %>
											<!--SPECIAL CASE : 1 asset line=1 asset_defect : 1 asset, loop not required-->
											<% @ad_id = AssetDefect.find(:first, :conditions=>['asset_id=? AND process_type=?',x.id,@assetsearch.defect_process])%>
											<%= link_to "KEW-PA 9", :controller=>'asset_defects', :action => 'kewpa9', :id => @ad_id %>
											<!--SPECIAL CASE : 1 asset line=1 asset_defect : 1 asset, loop not required-->
										<% elsif @assetsearch.assignedto || @assetsearch.location %>
											<!--for checking--><%#=@assetsearch.assets.count%>
											<% if @assetsearch.assignedto %>
												<% if @assetsearch.category != 5 %><!--assignedto under KEW-PA 9-->
													<%#=x.id%><% @ad_ids = AssetDefect.find(:all,:conditions=>['asset_id=?',x.id]) %>
													<% 0.upto(@ad_ids.count-1) do |n| %>
														<% if n>0 %><br><% else %>&nbsp;<% end %>
														<%= link_to "KEW-PA 9", :controller=>'asset_defects', :action => 'kewpa9', :id => @ad_ids[n] %>
														<% if @ad_ids.count>1 %>
															<font size=-2>(<%=AssetDefect.find(@ad_ids[n]).processed_on.strftime("%d-%m-%Y") %>)</font>
														<% end %>
													<% end %><!--used for checking|<%#=x.assignedto_id%>-->
												<% else %><!--assignedto under KEW-PA 7-->
													<%= link_to "KEW-PA 7", :controller=>'locations', :action => 'kewpa7', :id => x.id %>
												<% end %>
											<% else %>
												<%= link_to "KEW-PA 7", :controller=>'locations', :action => 'kewpa7', :id => x.id %>
											<% end %>
										<% elsif (@assetsearch.category == 9 && @assetsearch.maintcode) || (@assetsearch.category == 9 && @assetsearch.maintname) %>
											<%= link_to "KEW-PA 14", :controller=>'assets', :action => 'kewpa14', :id => x.id %>
										<% elsif (@assetsearch.disposal)%>
											<% @disposal_id = AssetDisposal.find_by_asset_id(x.id).id %>
											<%= link_to "KEW-PA 16", :controller=>'asset_disposals', :action => 'kewpa16', :id => @disposal_id %>
										<% elsif (@assetsearch.discardoption)%>
											<% @disposal_id = AssetDisposal.find_by_asset_id(x.id).id %>
											<%= link_to "KEW-PA 18", :controller=>'asset_disposals', :action => 'kewpa18', :id => @disposal_id %>
										<% elsif (@assetsearch.disposalcert)%>
											<% @disposal_id = AssetDisposal.find_by_asset_id(x.id).id %>
											<%= link_to "KEW-PA 19", :controller=>'asset_disposals', :action => 'kewpa19', :id => @disposal_id %>
											<% @disposed_asset = AssetDisposal.find(@disposal_id) %>
											<%= @disposed_asset.disposal_type.capitalize %>
											<% if @disposed_asset.disposal_type == 'discard' %> 
												 - <%#=(t('asset.'+@disposed_asset.discard_options)).capitalize%> <%=@disposed_asset.discard_options.capitalize%> 
											<% end %>
										<% elsif (@assetsearch.loss_start)%>
											<% @loss_id = AssetLoss.find_by_asset_id(x.id).id %>
											<%= link_to "KEW-PA 28", :controller=>'asset_losses', :action => 'kewpa28', :id => @loss_id %>
										<% elsif (@assetsearch.loss_end)%>
											<% @loss_id = AssetLoss.find_by_asset_id(x.id).id %>
											<%= link_to "KEW-PA 30", :controller=>'asset_losses', :action => 'kewpa30', :id => @loss_id %>
										<% elsif @assetsearch.loss_cert %>
											<% if index == 0 %>
												<%= link_to "KEW-PA 31", :controller=>'asset_losses', :action => 'kewpa31', :id => @assetsearch.loss_cert %>
											<% else %>
												<font size=-2><%=t('equery.same_as_above')%></font>
											<% end %>
										<% else %>
											<% if x.assettype == 1 %>
												<%= link_to "KEW-PA 2", :controller=>'assets', :action => 'kewpa2', :id => x.id %>
											<% else %>
												<%= link_to "KEW-PA 3", :controller=>'assets', :action => 'kewpa3', :id => x.id %>
											<% end %>
										<% end %>
									</td>
								</tr>
								<% end %>
							</table>
							<!--end-display data-kewpa 2 & 3-->
					
					<% end %><%# end for------ if (@assetsearch.loandate && @assetsearch.assets.count == Asset.all.count) .......%>
				</div>
			<% end %>
		<% end %>
	<% end %><!--end:KEWPA 2 & 3-->
<% else %>
	<div style="padding-left:50px;padding-top:20px;">
		<H4><%=t('equery.asset.search')%> </H4>
		<%=t('equery.no_result')%>
	</div>
<% end %>


