<h1>Listing lessonplan_methodologies</h1>

<table>
  <tr>
    <th>Period</th>
    <th>Content</th>
    <th>Lecturer activity</th>
    <th>Student activity</th>
    <th>Training aids</th>
    <th>Evaluation</th>
  </tr>

<% @lessonplan_methodologies.each do |lessonplan_methodology| %>
  <tr>
    <td><%=h lessonplan_methodology.period %></td>
    <td><%=h lessonplan_methodology.content %></td>
    <td><%=h lessonplan_methodology.lecturer_activity %></td>
    <td><%=h lessonplan_methodology.student_activity %></td>
    <td><%=h lessonplan_methodology.training_aids %></td>
    <td><%=h lessonplan_methodology.evaluation %></td>
    <td><%= link_to 'Show', lessonplan_methodology %></td>
    <td><%= link_to 'Edit', edit_lessonplan_methodology_path(lessonplan_methodology) %></td>
    <td><%= link_to 'Destroy', lessonplan_methodology, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New lessonplan_methodology', new_lessonplan_methodology_path %>