<h1>New lessonplan_methodology</h1>

<% form_for(@lessonplan_methodology) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :period %><br />
    <%= f.time_select :period %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :lecturer_activity %><br />
    <%= f.text_area :lecturer_activity %>
  </p>
  <p>
    <%= f.label :student_activity %><br />
    <%= f.text_area :student_activity %>
  </p>
  <p>
    <%= f.label :training_aids %><br />
    <%= f.text_area :training_aids %>
  </p>
  <p>
    <%= f.label :evaluation %><br />
    <%= f.text_area :evaluation %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', lessonplan_methodologies_path %>