<p>
  <b>Period:</b>
  <%=h @lessonplan_methodology.period %>
</p>

<p>
  <b>Content:</b>
  <%=h @lessonplan_methodology.content %>
</p>

<p>
  <b>Lecturer activity:</b>
  <%=h @lessonplan_methodology.lecturer_activity %>
</p>

<p>
  <b>Student activity:</b>
  <%=h @lessonplan_methodology.student_activity %>
</p>

<p>
  <b>Training aids:</b>
  <%=h @lessonplan_methodology.training_aids %>
</p>

<p>
  <b>Evaluation:</b>
  <%=h @lessonplan_methodology.evaluation %>
</p>


<%= link_to 'Edit', edit_lessonplan_methodology_path(@lessonplan_methodology) %> |
<%= link_to 'Back', lessonplan_methodologies_path %>