<div class="tform">
  <table width=100% >
	
<!--Staff Details-->	

<tr>
	<th colspan = 2><%= t 'attendance.staff_details' %></th>
</tr>

	<tr>
		<td class="leftcol"><label for="staff_id"><b><%= t 'attendance.staff_id' %></b></label><font color="red"> * </font></td>
		<td><%= f.collection_select :staff_id, Staff.find(:all), :id, :mykad_with_staff_name, :include_blank => true, :order => :icno  %></td>
		
	</tr>
	
<!--Attendance Details-->	
	<tr>
		<th colspan = 2><%= t 'attendance.attendance_details' %></th>
	</tr>
	<tr>
		<td class="leftcol"><label for="attdate"><b><%= t 'attendance.attdate' %></b></label></td>
		<td><%= f.date_select :attdate, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
    </tr>

 	<tr>
		<td class="leftcol"><label for="time_in"><b><%= t 'attendance.time_in' %></b></label></td>
	<!-->	<td><#%= f.time_select :time_in, :default => {:hour => 8, :minute => 30}%></td>-->
		<td><%= f.time_select :time_in, :default => {:hour => 8, :minute => 30}, :id => "stafflate", :onchange => "showStaffLate(this.value)" %></td>
    </tr>

	<tr>
		<td class="leftcol"><label for="time_out"><b><%= t 'attendance.time_out' %></b></label></td>
		<td><%= f.time_select :time_out, :default => {:hour => 17, :minute => 30} %></td>
    </tr>

	<tr id="reason" >
		<td class="leftcol"><label for="reason"><b><%= t 'attendance.reason' %></b></label></td>
		<td><%= f.text_area :reason, :size => "30x5" %></td>
    </tr>

   	<tr id="approver" >
		<td class="leftcol"><label for="approve_id"><b><%= t 'attendance.approve_id' %></b></label></td>
		<td><%= f.collection_select :approve_id, Staff.find(:all), :id, :name, :include_blank => true %></td>
    </tr>

  
   	<tr id="approvingstatus" >
		<td class="leftcol"><label for="approvestatus"><b><%= t 'attendance.approvestatus' %></b></label></td>
		<td><%= f.radio_button :approvestatus,'false' %>Not Approved<%= f.radio_button :approvestatus,'true' %>Approved</td>
    </tr>

</table>
<BR>