<div class="tform"><!--09/12/2011 - Shaliza changed for title bar -->
	<H2><%= t 'attendance.staff_details' %></H2>
  <table width=100% >
	
<!--Staff Details-->	

	<tr>
		<td class="leftcol"><label for="staff_id"><%= t 'attendance.staff_id' %></label><font color="red"> * </font></td>
		<td width=3%><b>:</b></td>
		<td><%= f.collection_select :staff_id, Staff.find(:all,:conditions => ["id = ?", current_user.staff_id]), :id, :staff_name_with_title, :include_blank => true, :order => :icno  %></td>
		
	</tr>
	</table>
<H2><%= t 'attendance.attendance_details' %></H2>
	<table width=100% border=0>
	
<!--Attendance Details-->	

	<tr>
		<td class="leftcol"><label for="attdate"><%= t 'attendance.attdate' %></label></td>
		<td width=3%><b>:</b></td>
		<td><%= f.date_select :attdate, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
    </tr>

 	<tr>
		<td class="leftcol"><label for="time_in"><%= t 'attendance.time_in' %></label></td>
		<td><b>:</b></td>
		<td><%= f.time_select :time_in, :default => {:hour => 8, :minute => 30}, :id => "stafflate", :onchange => "showStaffLate(this.value)" %></td>
    </tr>

	<tr>
		<td class="leftcol"><label for="time_out"><%= t 'attendance.time_out' %></label></td>
		<td><b>:</b></td>
		<td><%= f.time_select :time_out, :default => {:hour => 17, :minute => 30} %></td>
    </tr>

	<tr id="reason" >
		<td class="leftcol"><label for="reason"><%= t 'attendance.reason' %></label></td>
		<td><b>:</b></td>
		<td><%= f.text_area :reason, :size => "30x5" %></td>
    </tr>



</table>
</div>
<BR>