<% form_for(@attendance) do |f| %>
  <%= f.error_messages %>
<div class="tform">
	<H2>Details for Late Approval</H2>
  <table width=100% >
	
<!--Staff Details-->	


	<tr>
		<td class="leftcol"><label for="staff_id">Staff Name:</label></td>
		<td><%=h @attendance.staffthatattend.staff_name_with_title %></td>
		
	</tr>
	<tr>
		<td class="leftcol"><label for="attdate">Date:</label></td>
		<td><%=h l(@attendance.attdate) %></td>
    </tr>

 	<tr>
		<td class="leftcol"><label for="time_in">Time In:</label></td>
		<td><%=h @attendance.time_in.strftime("%I:%M %p") %></td>
    </tr>

	<tr>
		<td class="leftcol"><label for="time_out">Time Out:</label></td>
		<td><%=h @attendance.time_out.strftime("%I:%M %p") %></td>
    </tr>

	<tr>
		<td class="leftcol"><label for="reason">Reason If Late:</label></td>
		<td> <%=h @attendance.reason %></td>
  </tr>
</table>
<H2>Approval</H2>
<table>	
  <tr>
		<td class="leftcol"><label for="approve_id"><b><%= t 'attendance.approve_id' %></b></label></td>
		<td><%= f.collection_select :approve_id, Staff.find(:all, :conditions => ["id = ?", @attendance.staffthatattend.position.bosses.staff.id ]), :id, :staff_name_with_position %>
			</td>
  </tr>

  
  <tr>
		<td class="leftcol"><label for="approvestatus"><b><%= t 'attendance.approvestatus' %></b></label></td>
		<td><%= f.radio_button :approvestatus,'false' %>Not Approved<%= f.radio_button :approvestatus,'true' %>Approved</td>
	</tr>


</table>
</div>
<BR>
 <%= f.submit 'Confirm' %>
<% end %>
<BR>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>