<h3><%= t 'attendance.edit' %></h3>

<% form_for(@attendance) do |f| %>
  <%= f.error_messages %>


<%=render :partial => 'form', :locals => {:f => f} %> 



<BR>
<!--<p><#%= t 'attendance.marked' %><font color="red"> * </font> <#%= t 'attendance.required' %></td></p>-->

<p>
    <%= f.submit (t 'icms.update') %>
</p>

<% end %>


<%= link_to (t 'icms.show'), @attendance %> |
<%= link_to (t 'icms.back'), attendances_path %>