<h3>Editing Attendance</h3>

<% form_for(@attendance) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 

<p>Fields marked with an asterisk <font color="red"> * </font> are required</td></p>

<p>
    <%= f.submit 'Update' %>
</p>

<% end %>
</div>

<%= link_to 'Show', @attendance %> |
<%= link_to 'Back', attendances_path %>