<!-- Box -->
<div class="box">
<!-- Box Head -->
  <div class="box-head">
    <h2 class="left"><%= t 'attendance.list' %></h2>
	  <!--	<div class="right">
			<#% form_tag attendances_path, :method => 'get' do %>
			<#%= text_field_tag :search, params[:search], :placeholder => "Date"  %>
			<#%= submit_tag "Search", :attdate => nil %>
			<#% end %>
		</div>-->
	</div>
</div>

<div class="indextable">
	<table>
		<tr>
			<th colspan=5>People Late I need to approve</th>
		</tr>
	  <tr class="toprow">
		  <th><%= t 'attendance.attdate' %></th>
	    <th><%= t 'attendance.time_in' %></th>
	    <th><%= t 'attendance.staff_id' %></th>
	    <th><%= t 'attendance.reason' %></th>
	   <!-- <th class="ac"><#%= t 'attendance.approve' %></th>-->
		<th colspan=3 class="ac">Control</th>
	<th>
	  </tr>
	<% for attendance in @approvelate_attendances %>
	  <tr>
		<td><%=h attendance.attdate.blank? ? "-" : attendance.attdate.strftime("%d-%b-%Y") %></td>
	    <td><%=h attendance.time_in.strftime("%I:%M %p") %></td>
	    <td><%=h attendance.staffthatattend.staff_name_with_title %></td>
	    <td><%=h attendance.reason %></td>
	    <td width=10px><%= link_to image_tag("approval.png", :border => 0, :title => 'Approval'), :action => 'approve', :id => attendance %>
	  </tr>
	<% end %>
	</table>	

<BR/><BR/><BR/><BR/>

<table>
	<tr>
		<th colspan=6>Days I Am Late</th>
	</tr>
  <tr class="toprow">
	  <th><%= t 'attendance.attdate' %></th>
    <th><%= t 'attendance.time_in' %></th>
    <th><%= t 'attendance.approve_id' %></th>
    <th colspan=3 class="ac"><%= t 'control' %></th>
  </tr>
<% for attendance in @mylate_attendances %>
  <tr>
	  <td><%=h attendance.attdate.blank? ? "-" : attendance.attdate.strftime("%d-%b-%Y") %></td>
    <td><%=h attendance.time_in.strftime("%I:%M %p") %></td>
    <td><%=h attendance.approve_id.blank? ? "No Staff" : attendance.approvedby.staff_name_with_title %></td>
    <td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => attendance %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => attendance %></td>
    <% if permitted_to? :destroy, @attendance %>
    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), attendance, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
    
  </tr>
<% end %>
</table>
</div>
<br />
<% if permitted_to? :create, Attendance.new %>
<%= link_to 'Create New Attendance', new_attendance_path %>
<% end %>
