<h3><%= t 'attendance.new' %></h3>

<% form_for(@attendance) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 

<!--<p><#%= t 'attendance.marked' %><font color="red"> * </font> <#%= t 'attendance.required' %></td></p>-->

  <p>
   <%= f.submit (t 'icms.submit') %>
  </p>
<% end %>


<%= link_to (t 'icms.back'), attendances_path %>