<h3><%= t 'attendance.new' %></h3>

<% form_for(@attendance) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 

<p>Fields marked with an asterisk <font color="red"> * </font> are required</td></p>

  <p>
   <%= f.submit (t 'icms.submit') %>
  </p>
<% end %>
</div>

<%= link_to (t 'icms.back'), attendances_path %>