
<div class="tform">
	<H2><%= t 'attendance.staff_details' %></H2>
  <table width=100% >
	<!--Staff Details-->	
		<tr>
			<td class="leftcol"><label for="staff_id"><%= t 'attendance.staff_id' %>:</label></td>
			<td><%=h @attendance.staffthatattend.mykad_with_staff_name %></td>	
		</tr>
	

	<!--Attendance Details-->	
	<tr>
		<th colspan = 2><%= t 'attendance.attendance_details' %></th>
	</tr>
	<tr>
		<td class="leftcol"><label for="attdate"><%= t 'attendance.attdate' %> :</label></td>
		<td><%=h l(@attendance.attdate) %></td>
    </tr>

 	<tr>
		<td class="leftcol"><label for="time_in"><%= t 'attendance.time_in' %> :</label></td>
		<td><%=h @attendance.time_in.strftime("%I:%M %p") %></td>
    </tr>

	<tr>
		<td class="leftcol"><label for="time_out"><%= t 'attendance.time_out' %> :</label></td>
		<td><%=h @attendance.time_out.strftime("%I:%M %p") %></td>
    </tr>

	<tr>
		<td class="leftcol"><label for="reason"><%= t 'attendance.reason' %> :</label></td>
		<td> <%=h @attendance.reason %></td>
    </tr>
	<tr>
		<td class="leftcol"><label for="approve_id"><%= t 'attendance.approve_id' %> :</label></td>
		<td><%=h @attendance.approve_id.blank? ? "No Staff" : @attendance.approvedby.position_with_name %></td>
    </tr>

	<tr>
		<td class="leftcol"><label for="approvestatus"><%= t 'attendance.approvestatus' %> :</label></td>
		<td> <%=h @attendance.approvestatus? ? "Approved" : "Not Approved"  %></td>
    </tr>


</table>
<BR>
</div>




<%= link_to (t 'icms.update'), edit_attendance_path(@attendance) %> |
<%= link_to (t 'icms.back'), attendances_path %>