<div>
	<H3><%=t('equery.student_attendance.search').upcase %> :</h3> 
	
	<%= link_to (t 'back'), :controller=>'studentattendancesearches', :action => 'new', :searchstudentattendancetype => 1 %><br><br>
		
		<!--additional heading-->
		<% if @studentattendancesearch.schedule_id && @studentattendancesearch.schedule_id.blank? == false %>
			<span style="text-decoration:underline;">
				<%=(t 'equery.search_by').titleize %> <%=t('equery.student_attendance.schedule_class')%>
			</span>
		<% elsif @studentattendancesearch.student_id && @studentattendancesearch.student_id.blank? == false %>
			<span style="text-decoration:underline;">
				<%=(t 'equery.search_by').titleize %> <%=t('equery.student_attendance.student')%><br><br>
			</span>
		<% else %>
			<span style="text-decoration:underline;">
				<%=(t 'equery.search_by').titleize %> <%=t('student.intake')%> : <%= @studentattendancesearch.studentattendances[0].weeklytimetable_detail.weeklytimetable.schedule_intake.name %>
			</span>
		<% end %>
		<!--additional heading-->
		
		<!--attendance data display-->
		<% if @studentattendancesearch.student_id && @studentattendancesearch.student_id.blank? == false %>
			<% if Student.all.map(&:matrixno).include?(@studentattendancesearch.student_id) %>
				<!--start : SEARCH BY MATRIX NO-->
				<table>
					<tr>
						<td><%=t('student.name')%></td><td>:</td>
						<td><%=@studentattendancesearch.studentattendances[0].student.name%></td>
					</tr>
					<tr>
						<td><%=t('student.course_id')%></td><td>:</td>						<td><%=@studentattendancesearch.studentattendances[0].weeklytimetable_detail.weeklytimetable.schedule_programme.programme_list%></td>
					</tr>
					<tr>
						<td><%=t('student.intake')%></td><td>:</td>
						<td><%= @studentattendancesearch.studentattendances[0].weeklytimetable_detail.weeklytimetable.schedule_intake.name %></td>
					</tr>
					<tr>
						<td><%=t('student.matrixno')%> </td><td>:</td><td><%=@studentattendancesearch.student_id%></td>
					</tr>
				</table><br>
				<table border=1 cellspacing=0 cellpadding=3>
					<tr>
						<th>No</th>
						<th><%=t('equery.student_attendance.date')%></th>
						<th><%=t('equery.student_attendance.time')%></th>
						<th><%=t('equery.student_attendance.subject_topic')%></th>
						<th><%=t('equery.student_attendance.lecturer')%></th>
						<th><%=t('equery.student_attendance.location')%></th>
						<th><%=t('equery.student_attendance.attendance')%></th>
					</tr>
					<% @sum_attend = 0 %>
					<% @total_classes = @studentattendancesearch.studentattendances.count %>
					<% @studentattendancesearch.studentattendances.each_with_index do |sa,index| %>
						<tr>
							<td><%=index+1 %></td>
							<td><%=sa.weeklytimetable_detail.get_date_day_of_schedule%></td>
							<td><%=sa.weeklytimetable_detail.get_time_slot %></td>
							<td><%=sa.weeklytimetable_detail.subject_topic%></td>
							<td><%=sa.weeklytimetable_detail.weeklytimetable_lecturer.name %></td>
							<td><%=sa.weeklytimetable_detail.weeklytimetable_location.name %></td>
							<td align="center">
								<% if sa.attend == true %> 
									&#10003;
									<% @sum_attend +=1 %>
								<% else %>
									Absent
								<% end %>
							</td>
						</tr>
					<% end %>
					<tr>
						<td colspan=6 align="right"><%=t('equery.student_attendance.total_class_attended')%> :&nbsp;&nbsp;&nbsp;</td>
						<td align="center"><%= @sum_attend %></td>
					</tr>
					<tr>
						<td colspan=6 align="right"><%=t('equery.student_attendance.attendance_percentage')%> :&nbsp;&nbsp;&nbsp;</td>
						<td align="center"><%= number_with_precision((@sum_attend.to_f / @total_classes.to_f * 100).to_f,:precision=>2) %> %</td>
					</tr>
				</table>
				<!--end : SEARCH BY MATRIX NO-->
			<% else %>
				<%=t('equery.student_attendance.matrixno_complete')%>
			<% end %>
		<% else %>
		
			<!--start : SEARCH BY SCHEDULE/CLASS  ....OR ....SEARCH BY INTAKE-->
			<% @group_by_class = @studentattendancesearch.studentattendances.group_by{|x|x.weeklytimetable_details_id} %>
			<% @group_by_class_count= @group_by_class.count %>
			<table>
				<tr>
					<td><%=t('equery.student.total_student')%> </td><td> : </td>
					<td>
						<%= @total_student = @studentattendancesearch.studentattendances.count%>
						<% if @studentattendancesearch.schedule_id && @studentattendancesearch.schedule_id.blank? == false %>
						<% else %>
							(<%=t('for')%> <%=@group_by_class_count%> <%=t('equery.student_attendance.class')%>)
						<% end %>
					</td>
				</tr>
				<tr>
					<td><%=t('student.course_id')%> </td><td> : </td>
					<td><%= @studentattendancesearch.studentattendances[0].weeklytimetable_detail.weeklytimetable.schedule_programme.programme_list %></td>
				</tr>
				<tr>
					<td><%=t('equery.student_attendance.total_classes')%></td><td> : </td><td><%=@group_by_class_count%></td>
				</tr>
			</table>
			
			<% @group_by_class.each do |klass,sas|%>
				<table border=1 cellspacing=0 cellpadding=3>
					<% @attend = 0 %>
					<% @absent = 0 %>
					<% @total_student = sas.count%>
					<% sas.each do |l| %>
						<% @attend+=1 if l.attend==true %>
						<% @absent+=1 if l.attend==false%>
					<% end %>
					<tr style="background-color:#eeecec;">
						<th colspan=3>
							<%=sas[0].weeklytimetable_detail.subject_day_time%><br>
							<%=sas[0].weeklytimetable_detail.weeklytimetable_lecturer.name%>
							(<%=sas[0].weeklytimetable_detail.render_class_method%>)
							<!--<%#=WeeklytimetableDetail.find(klass).subject_day_time%>
							<%#=WeeklytimetableDetail.find(klass).weeklytimetable_lecturer.name%> 
							(<%#=WeeklytimetableDetail.find(klass).render_class_method%>)-->
						</th>
						<th style="border-right:none;"><%=t('equery.student_attendance.attendance_percentage')%></th>
						<th style="border-left:none;">
							<%= number_with_precision(((@total_student.to_i-@absent.to_i) / @total_student.to_i* 100).to_f,:precision=>2) %> %
						</th>
					</tr>
					<% sas.sort_by{|x|x.student.name}.each_with_index do |sa,index| %>
						<tr>
							<td><%=index+1%></td>
							<td><%= sa.student.icno %><%#=sa.student.id%></td>
							<td><%= sa.student.matrixno %></td>
							<td><%= sa.student.name %></td>
							<td align="center">
								<% if sa.attend == true %> 
									&#10003;
								<% else %>
									<%=t('equery.student_attendance.absent')%>
								<% end %>
							</td>
						</tr>
					<% end %>
					<br>
				</table>
			<% end %><!--end for @group_by_class-->
			<!--end : SEARCH BY SCHEDULE/CLASS  ....OR ....SEARCH BY INTAKE-->
			
		<% end %>
	<br>
</div>