<div class="tform">
	<%= f.hidden_field :parent_id %>
  <table width=100% >

	<tr>
		<th colspan = 2>Location Details</th>
	</tr>
	<tr>
		<td class="leftcol"><label for="code ">Location Code:</label></td>
		<td><%= f.text_field :code  %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="resname ">Location Name:</label></td>
		<td><%= f.text_field :name  %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="staffadmin_id ">Administered by:</label></td>
		<td><%= f.collection_select :staffadmin_id, Staff.find(:all), :id, :name, :include_blank => true, :select => "Select Administrator" %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="lclass">Location Class:</label></td>
			<td><%= f.select ("lclass", Location::CLASS,
			                 {:include_blank => ""}, {:onchange => "showMenuForAllocatableRooms(this.value)"})  %></td>
	</tr>
	<tr id="restypes" style="display: none;">
		<td class="leftcol" ><label for="type">Location Type:</label></td>
		<td><%= f.select :typename, 
		                 Location::TYPE,
		                 :prompt => "Select" %>
		
		</td>
	</tr>

 </table>

<BR>
</div>


	

	
