<h3><%= t 'location.edit' %></h3>

<% form_for(@location) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit (t 'icms.update') %>
  </p>
<% end %>

<%= link_to (t 'icms.show'), @location %> |
<%= link_to (t 'icms.back'), locations_path %>