
	
<script type="text/javascript">

$j(document).ready(function()  {
  $j("#tree").treeTable();
});

</script>


<div class="box">
	<div class="box-head">
		<h2 class="left">Locations</h2>
		<div class="right">
		</div>
	</div>
</div>

<div class="indextree">
	
<table id="tree">
	<thead>
  <tr>
    <th>Location</th>
    <th>Add Sub</th>
		<th colspan=3>Control</th>
  </tr>
  </thead>

  <tbody>
	<% @locations.each do |location| %>
  <tr id="node-<%= (location.id) %>" <%= location.tree_gelas %>>
    <td>|_ &nbsp;  <%=h location.code %>  -  <%=h location.name %>
    <td><%= link_to "(+)", new_location_path(:parent_id => location)%></td>
		<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => location %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => location %></td>
    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), location, :confirm => 'Are you sure?', :method => :delete %>
  </tr>
	<% end %>
  </tbody>
</table>


<br />


</div>