<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Locations</h2>
		<div class="right">
			<% form_tag locations_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search],:placeholder => "Location Code,Location Name" %>
			<%= submit_tag "Search", :name => nil %>
			<% end %>
		</div>
  </div>
</div>

<div class="toolbar">
	<table width=100%><tr>
		<td><p><%= link_to image_tag("add.png", :border => 0, :title => 'New Root') + "New Root Location", new_location_path %></p></td>
		<td width=15% style="text-align:right;"><%= select_tag_for_filter("locations", @filters, params) %></td>
	</tr></table>
</div>

<div class="tlist">
<table width=100% border="0" cellpadding="0" cellspacing="0">
	<tr>
  	<th>Location Code</th>
    <th>Location Name</th>
		<th>Location Class</th>
    <th>Location Type Description</th>
    <th colspan=5 class="ac">Control</th>
  </tr>

  <% @locations.each do |location| %>
  <tr>
  	<td><%=h location.code %>
				<%= link_to "(+)", new_location_path(:parent_id => location) %></td>
  	<td><%=h location.name %></td>
		<td><%=h (Location::CLASS.find_all{|disp, value| value == location.lclass}).map {|disp, value| disp} %></td>
		<td><%=h (Location::TYPE.find_all{|disp, value| value == location.typename}).map {|disp, value| disp} %></td>
		<td width=10px>
				<% if location.typename == 2 && location.occstatus == "occupied" || location.typename == 1 && location.occstatus == "occupied" %>
				<%= link_to image_tag("user_red.png", :border => 0, :title => 'Occupied'), {:controller => 'tenants',  :action => 'edit',  :id => location.currenttenant} %>
				<% end %>
				
				<% if location.typename == 2 && location.occstatus == "vacant" || location.typename == 1 && location.occstatus == "vacant" %>
				<%= link_to image_tag("key_go.png", :border => 0, :title => 'Assign'), new_tenant_path(:location_id => location) %>
				<% end %></td>
		<td  class="action"><% if location.assets != [] %>
					<div class="noti_Container"><%= link_to image_tag("printer.png", :border => 0, :title => 'KEW.PA7'), :action => 'kewpa7', :id => location %><div class="noti_bubble">7</div></div>
				<% end %></td>
    <td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => location %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => location %></td>
    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), location, :confirm => 'Are you sure?', :method => :delete %>
  </tr>
  <% end %>
</table>
</div>
<br />

<%= link_to "Location Tree", indextree_locations_path %>
<%= link_to 'New location', new_location_path %>