<form action="#">
		<script>
		document.write("<input type='button' " +
		"onClick='window.print()' " +
		"class='printbutton' " +
		"value='Print This Page'/>");
		</script>
</form>
<div id="hideLink" style="float:left;">
<%= link_to 'Back', locations_path %>
</div>
<div class="A4potrait">	
<!-- Box Head -->
<div id="kewpa">
<p class="marginright" align="right"><b>KEW. PA-7</b></p>
<H4 align="center"><b>SENARAI ASET ALIH KERAJAAN</b></H4>
<BR><BR>
<p class="marginleft" style="margin-left:150px">BAHAGIAN	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : <SPAN class="filler">KSKB Johor</SPAN></p>
<p class="marginleft" style="margin-left:150px">LOKASI    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : <SPAN class="filler"><%=h @location.code  %> - <%=h @location.name  %></SPAN></p>
	</p>

<div id="tprintreport">
<table border=1px cellspacing=0 style="margin:0 7mm; width: 180mm">

<tr>
	<th style="height:6mm">BIL</th>
	<th>KETERANGAN ASET</th>
	<th>KUANTITI</th>
</tr>

	<% bil = 0 %>
	<% for @asset in @location.assets %>
	<% bil += 1 %>
 
<tr>
	<td align="center" class="filler"><%=h bil %></td>	
	<td class="filler"><%=h @asset.assetcode %> - 
		&nbsp;<%=h @asset.typename %>  <%=h @asset.name %>  <%=h @asset.modelname %></td>	
	<td align="center" class="filler">
		<% if @asset.assettype == 2 %>
			<%= (@asset.assetcode.split(/[\/\-]/)[6].to_i) - (@asset.assetcode.split(/[\/\-]/)[5].to_i) + 1 %>
		<% else %>1<% end %></td>
			
	</td>
</tr>
<% end %>
</table>
<BR><BR><BR><BR>
<font size=0.6em>
<table id="sigs" style="margin:0 7mm; width: 180mm" >
		<tr>
			<td>(a) Disediakan oleh :</td>
			<td>(b) Disahkan oleh :</td>
		</tr>
		<tr>
			<td><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;..............................</td>
			<td><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;..............................</td>
		</tr>
		<tr>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tandatangan</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tandatangan<BR></td>
		</tr>
		<tr>
			<td><BR></td>
			<td><BR></td>
		</tr>
		<tr>
			<td>Nama : <SPAN class="filler"><%= User.current_user.staff.name %></SPAN></td>
			<td>Nama :  <SPAN class="filler"><%=h check_kin {@location.administrator.name} %></SPAN></td>
		</tr>
		<tr>
			<td>Jawatan : <SPAN class="filler"><%= check_kin {User.current_user.staff.position.name} %></SPAN></td>
			<td>Jawatan :  <SPAN class="filler"><%=h check_kin {@location.administrator.position.name} %></SPAN></td>
		</tr>
		<tr>
			<td>Tarikh : <SPAN class="filler"><%= l(Date.today()) %></SPAN></td>
			<td>Tarikh : <SPAN class="filler"><%= l(Date.today()) %></SPAN></td>
		</tr>
</table>
</font>
<BR>
</div>
<BR>