<div id="A4potrait">
	<form action="#">
		<script>
		document.write("<input type='button' " +
		"onClick='window.print()' " +
		"class='printbutton' " +
		"value='Print This Page'/>");
		</script>
	</form>	
	
	<fieldset width=10px >	

	
	<!-- Box Head -->
	<H4 align="right"><b>KEW. PA-7</b></H4>

	<H4 align="center">SENARAI ASET ALIH KERAJAAN</H4>
    <BR><BR>
	<p class="marginleft" style="margin-left:150px">BAHAGIAN &nbsp;&nbsp;&nbsp;&nbsp;:<i> Pusat Latihan APMM, Gebeng</i></p>
	<p class="marginleft" style="margin-left:150px">LOKASI   
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%=h @location.code  %> - <%=h @location.name  %> <i> </i>
	</p>

<div id="title">
<table width=100% border=1px cellspacing=0 cellpadding=4 align="center" >

<tr>
	<th width="2%"  >BIL</th>
	<th width="60%" style="vertical-align:top">KETERANGAN ASET</th>
	<th width="10%" style="vertical-align:top">KUANTITI</th>
</tr>

	<% bil = 0 %>
	<% for @asset in @location.assets %>
	<% bil += 1 %>

<tr>
	<td align="center"><%=h bil %></td>	
	<td>&nbsp;&nbsp;<%=h @asset.assetcode %><BR>
		&nbsp;<%=h @asset.subcategory %>  <%=h @asset.name %>  <%=h @asset.modelname %></td>	
	<td align="center"><%=h @asset.quantity %>	<%=h @asset.quantity_type %></td>
</tr>
<% end %>
</table>
<BR><BR><BR><BR>

<table width=100% border=0px cellspacing=0 align="center" >
	<font size=4>
		<tr>
			<td colspan=3>(a) Disediakan oleh :</td>
		
			<td colspan=3>(b) Disahkan oleh :</td>
			
		</tr>
		<tr>
			<td colspan=3><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;..............................</td>
		
			<td colspan=3><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;..............................</td>
			
		</tr>
		<tr>
			<td colspan=3><BR><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tandatangan</td>
			<td colspan=3><BR><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tandatangan</td>
		
		</tr>
		<tr>
			<td><BR></td>
			<td><BR></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td width=70>Nama  </td>
			<td width=10>:</td>
			<td width=300>&nbsp;</td>
			<td>Nama</td>
			<td>:</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Jawatan </td>
			<td>:</td>
			<td>&nbsp;</td>
			<td>Jawatan   </td>
			<td>:</td>
			<td><%=h @location.administrator.position.positionname unless @location.staffadmin_id.blank? %>&nbsp;</td>
		</tr>
		<tr>
			<td>Tarikh  </td>
			<td>:</td>
			<td>&nbsp;</td>
			<td>Tarikh  </td>
			<td>:</td>
			<td><%= l(Date.today()) %></td>
		</tr></font>
</table>
<BR><HR><BR>
<table width=100% border=0px cellspacing=0 cellpadding=4 align="center" >
	<tr>
		<td>Nota :</td>
		<td>a) Disediakan oleh Pegawai Aset</td>
	</tr>
	<tr>
		<td></td>
		<td>b) Pegawai yang mengesahkan ialah pegawai yang bertanggungjawab ke atas aset berkenaan contohnya:</td>
	</tr>
	<tr>
		<td></td>
		<td>&nbsp;&nbsp;&nbsp; i) Lokasi bilik Setiausaha Bahagian - disahkan oleh Setiausaha Bahagian</td>
	</tr>
	<tr>
		<td></td>
		<td>&nbsp;&nbsp;&nbsp; ii) Lokasi bilik mesyuarat - disahkan oleh pegawai yang menguruskan bilik mesyuarat</td>
	</tr>
	<tr>
		<td></td>
		<td>c) Dikemaskini apabila terdapat perubahan kuantiti, lokasi atau pegawai bertanggungjawab</td>
	</tr>
</table>	
</font>
<BR>
	</div>
</fieldset>
<BR>
<div id="hideLink">
<%= link_to 'Back', locations_path %>
</div>