<div class="tform">
	
	<H2><%= t 'location.location_details' %></H2>
  <table width=100% >
		<tr>
			<td class="leftcol"><label for="code "><%= t 'location.code' %> :</label></td>
			<td><%=h @location.code  %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="resname "><%= t 'location.resname' %> :</label></td>
			<td><%=h @location.name  %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="lclass"><%= t 'location.lclass' %> :</label></td>
			<td><%=h (Location::CLASS.find_all{|disp, value| value == @location.lclass}).map {|disp, value| disp} %></td>
				</td>
		</tr>
		<tr id="restypes">
			<td class="leftcol" ><label for="type"><%= t 'location.type' %> :</label></td>
			<td><%=h (Location::TYPE.find_all{|disp, value| value == @location.typename}).map {|disp, value| disp} %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="staffadmin_id "><%= t 'location.staffadmin_id' %> :</label></td>
			<td><%=h @location.administrator.name unless @location.staffadmin_id.blank? %></td>
		</tr>
 </table>
 

 <H2>Assets</H2>
 <div class="indextable">
	 <table width=60%>
			<tr>
				<th><%= t 'location.assetcode' %></th>
				<th><%= t 'location.assetname' %></th>
				<th><%= t 'location.assetmodel' %></th>
			</tr>
			<% for asset in @location.assets %>
			<tr>
			  <td><%= asset.assetcode %></td>
				<td><%= asset.name %></td>
				<td><%= asset.modelname %></td>
			</tr>
			<% end %>
		</table>
	</div>
	

<BR>
</div>






<%= link_to (t 'icms.update'), edit_location_path(@location) %> |
<%= link_to (t 'location.list'), locations_path %> | 
<%= link_to "Tree", indextree_locations_path %> | 