<table width=100%>
	<tr>
		<td class="leftcol"><%= f.label (t 'intake.name')%></td>
		<td><%= f.text_field :name %>&nbsp; <%=t('intake.sample')%></td>
	</tr>
	<tr>
		<td class="leftcol"><%= f.label  (t 'intake.description') %></td>
		<td><%= f.text_field :description %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= f.label  (t 'intake.register_on') %></td>
		<td><%= f.date_select :register_on %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= f.label  (t 'intake.programme_id') %></td><!--18March2013-->
		<td><%= f.collection_select :programme_id, Programme.roots, :id, :programme_list, :include_blank => (t 'select') %></td>
	</tr>
	<% programme_names = Programme.roots.find(:all, :conditions => ['course_type=?', "Diploma"]).map(&:name) %>
	<% commonsubject_names = Programme.roots.find(:all, :conditions => ['course_type=?', "Commonsubject"]).map(&:name) %>
	<% academician_post_ids=Position.find(:all, :conditions => ['unit IN(?) or unit IN(?) or unit=? or unit=? or unit=?', programme_names, commonsubject_names, "Pos Basik", "Diploma Lanjutan", "Pengkhususan"]).map(&:staff_id).compact %>
	<tr>
		<td class="leftcol"><%= f.label  (t 'intake.staff_id') %></td>
		<td><%= f.collection_select :staff_id, Staff.find(:all, :conditions =>['id IN(?)', academician_post_ids], :order => 'name ASC'), :id, :name, :include_blank=> (t 'select') %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= f.label  (t 'intake.is_active') %></td>
		<td><%= f.check_box :is_active %></td>
	</tr>
</table>