<table width=100%>
	<tr>
		<td class="leftcol"><%= f.label (t 'intake.name')%></td>
		<td><%= f.text_field :name %>&nbsp; <%=t('intake.sample')%></td>
	</tr>
	<tr>
		<td class="leftcol"><%= f.label  (t 'intake.description') %></td>
		<td><%= f.text_field :description %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= f.label  (t 'intake.description') %></td>
		<td><%= f.date_select :register_on %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= f.label  (t 'intake.programme_id') %></td><!--18March2013-->
		<td><%= f.collection_select :programme_id, Programme.roots, :id, :programme_list, :include_blank => (t 'select') %></td>
	</tr>
	<tr>
		<td class="leftcol"><%= f.label  (t 'intake.is_active') %></td>
		<td><%= f.check_box :is_active %></td>
	</tr>
</table>