<h3>Editing Intake</h3>

<% form_for(@intake) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @intake %> |
<%= link_to 'Back', intakes_path %>