<% form_for(@intake) do |f| %>
	<%= f.error_messages %>
	<div class="tform">
		<H2><%=t('intake.new')%></H2>
		<%=render :partial => 'form', :locals => {:f => f} %>
	</div>
  	<p>
    	<%= f.submit (t 'create') %>
  	</p>
<% end %>

<%= link_to (t 'back'), intakes_path %>