<div class="tform">
<fieldset>
	<legend class='togvis'>Intakes Details</legend>
		<table width=85% >
			<tr>
				<td class="leftcol"><label>Intakes Name:</label></td>
				<td><%=h @intake.name %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label>Description:</label></td>
				<td><%=h @intake.description %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label>Register on:</label></td>
				<td><%=h @intake.register_on %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label>Programme:</label></td>
				<td><%=h @intake.programme.programme_list %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label>Is active:</label></td>
				<td><%=h @intake.is_active %></td>				
			</tr>
		</table>
</fieldset>
</div>

<%= link_to 'Edit', edit_intake_path(@intake) %> |
<%= link_to 'Back', intakes_path %>