<p>
  <b>Name:</b>
  <%=h @intake.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @intake.description %>
</p>

<p>
  <b>Register on:</b>
  <%=h @intake.register_on %>
</p>

<p>
  <b>Programme:</b>
  <%=h @intake.programme_id %>
</p>

<p>
  <b>Is active:</b>
  <%=h @intake.is_active %>
</p>


<%= link_to 'Edit', edit_intake_path(@intake) %> |
<%= link_to 'Back', intakes_path %>