<div class="tform">
  <table width=100% >

<table id="form">
	<tr>
		<th colspan = 2>Student Intake Details</th>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name">Name:</label></td>
		<td><%=h @intake.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="intake_no">Intake No:</label></td>
		<td><%=h @intake.intake_no %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="year">Year:</label></td>
		<td><%=h @intake.year.strftime('%Y') %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="active ">Active:</label></td>
		<td><%=h @intake.active %></td>
	</tr>
</table>
<BR>
</div>
<%= link_to 'Edit', edit_intake_path(@intake) %> |
<%= link_to 'Back', intakes_path %>