<<<<<<< HEAD
<p>
  <b>Name:</b>
  <%=h @intake.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @intake.description %>
</p>

<p>
  <b>Register on:</b>
  <%=h @intake.register_on %>
</p>

<p>
  <b>Programme:</b>
  <%=h @intake.programme_id %>
</p>

<p>
  <b>Is active:</b>
  <%=h @intake.is_active %>
</p>

=======
<div class="tform">
<fieldset>
	<legend class='togvis'>Intakes Details</legend>
		<table width=85% >
			<tr>
				<td class="leftcol"><label>Intakes Name:</label></td>
				<td><%=h @intake.name %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label>Description:</label></td>
				<td><%=h @intake.description %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label>Register on:</label></td>
				<td><%=h @intake.register_on %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label>Programme:</label></td>
				<td><%=h @intake.programme.programme_list %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label>Is active:</label></td>
				<td><%=h @intake.is_active %></td>				
			</tr>
		</table>
</fieldset>
</div>
>>>>>>> 0da980ec7c2c95feb7bdc68cdebc6187e0fe20f4

<%= link_to 'Edit', edit_intake_path(@intake) %> |
<%= link_to 'Back', intakes_path %>