.mp-level
  %h2.icon.icon-world Menu
  %ul
    %li.icon.icon-left
      = link_to "Devices", '#'
      .mp-level
        %h2.icon Devices
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Phones", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Cameras", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Tablets", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Televisions", '#'
    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + "Books", '#'
      .mp-level
        %h2.icon Books
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Maths", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Science", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Health", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Fiction", '#'
          
        