.mp-level
  %h2.icon.icon-world Menu
  %ul
    %li.icon.icon-left
      = link_to "Staff", '#'
      .mp-level
        %h2.icon Staff
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to "Staff Information", '#'
          %li.icon.icon-left
            = link_to "Staff Attendance", '#'
            .mp-level
              %h2.icon Staff Attendance
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to "Manage Lateness Early Return", '#'
                %li= link_to "Staff Attendance", '#' 
                %li= link_to "Status", '#'
                %li= link_to "Report - Monthly Listing", '#'  
          %li= link_to "Staff Appraisal", '#'
          %li= link_to "Task & Responsibilities", '#'
          %li.icon.icon-left
            = link_to "Staff Leave", '#'
            .mp-level
              %h2.icon Staff Leave
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to "Apply", '#'
                %li= link_to "List/Approve", '#' 
          %li.icon.icon-left
            = link_to "Claims", '#'
            .mp-level
              %h2.icon Claims
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to "Travel Request", '#'
                %li= link_to "Travel Logs", '#'
                %li= link_to "Claims", '#'
          %li.icon.icon-left
            = link_to ("Professional <BR> Development").html_safe, '#'
            .mp-level
              %h2.icon Professional <BR> Development
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to "Training Budget", '#'
                %li= link_to "Training Courses", '#'
                %li= link_to "Training Schedule", '#'
                %li= link_to "Apply for Training", '#'
                %li= link_to "Application Status", '#'
          %li= link_to "Status & Movement", '#'
          %li.icon.icon-left
            = link_to "Reports", '#'
            .mp-level
              %h2.icon Reports
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to "Maklumat Perjawatan", '#'          
    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + "Books", '#'
      .mp-level
        %h2.icon Books
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Maths", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Science", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Health", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Fiction", '#'

    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + "Assets", '#'
      .mp-level
        %h2.icon Assets
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Fixed Assets", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Inventory", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Office Supplies", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Defects", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Loss & write Offs", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Disposal", '#'
          %li.icon.icon-left
            = link_to "Asset Loan", '#'
            .mp-level
              %h2.icon Asset Loan
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to "Loan Asset Application", '#'
                %li= link_to "Assets on Loan", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Report / Downloads", '#'

    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + "Locations", '#'
      .mp-level
        %h2.icon Locations
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Residences", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Tenants", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Location Tree", '#'

    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + "E-Filing", '#'
      .mp-level
        %h2.icon E-Filing
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Campus Info", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Campus Events", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Campus Events Calendar", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Local Messaging", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Bulletin Board", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Equery/Reports", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Document Registry", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "File Registry", '#'

    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + "Students", '#'
      .mp-level
        %h2.icon Students
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Student Info", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Student Leave", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Attendance", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Discipline", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Counselling", '#'

    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + "Training", '#'
      .mp-level
        %h2.icon Training
        %a.mp-back{:href => "#"} Back
        %ul
          %li.icon.icon-left
            = link_to "Set Up", '#'
            .mp-level
              %h2.icon Set Up
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to "Create Timetable", '#'
                %li= link_to "Create Intakes", '#'
                %li= link_to "Create Academic Session", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Time Table Entries", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Curriculum Management", '#'
          %li.icon.icon-left
            = link_to "Lesson Plan", '#'
            .mp-level
              %h2.icon Lesson Plan
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to "Create Topic Details", '#'
                %li= link_to "Lesson Plan", '#'
                %li= link_to "Lesson Plan Reporting", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Training Notes", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Personalised Time Table", '#'

    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + "Exams", '#'
      .mp-level
        %h2.icon Exams
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Examination Development", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Examination Maker", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Examination Management", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Feedback/Course Evaluation", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Examination Analysis", '#'

    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + "Library", '#'
      .mp-level
        %h2.icon Library
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Rules & Regulations", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Library Transactions", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Resources", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Analysis", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Statistics", '#'

    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + "Administration", '#'
      .mp-level
        %h2.icon Administration
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Users", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Roles", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Pages", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Address Book", '#'
          %li.icon.icon-left
            = link_to "Support Tables", '#'
            .mp-level
              %h2.icon Support Tables
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to "Staff Titles", '#'
                %li= link_to "Staff Shifts", '#'
                %li= link_to "Mileage Rates", '#'
                %li= link_to "Employee Schemes", '#'
                %li= link_to "Banks", '#'
                %li= link_to "Asset Categories", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Release Notes", '#'




