<% if dash_leave == 0 %>
				    <p>
				  <% else %>
	          <p><%= dash_leave %> <%= link_to "leave application for approval", { :controller => "leaveforstaffs", :action => "index" } %></p>
	        <% end %>
				
				
				  <% if dash_attendance == 0 %>
				    <p>
				  <% else %>
	          <p><%= dash_attendance %> <%= link_to "late attendance for approval", { :controller => "attendances", :action => "index" } %></p>
	        <% end %>
	        <% c = User.find(:all, :select => "id", :conditions => ['roles.id =?', 7], :include => :roles).map(&:id) %>
	        <% d = User.current_user.id.to_a %>
	        <% if d & c == c %>
	        "Yes"
	        <% else %>
					<p><%= c.to_s %>
					<% end %>