<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
		
		<%= javascript_include_tag "jquery", "jquery.treeTable", "prototype", "application" %>
		<script>$j = jQuery.noConflict();</script>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title><%= @pagetitle || (@page && @page.title) || 'Kolej Sains Kesihatan Bersekutu - Johor Baru' %></title>
		<%= stylesheet_link_tag 'ICMS', 'treeTable', :media => :screen %>
		<%= stylesheet_link_tag 'print', :media => :print %>
		
</head>
<body>
<div id='pagewrapper'>
  <div id="top-menu">
		<div id="account">
				<% if logged_in? %>
			  	Welcome <%=h  User.current_user.isstaff? ?  User.current_user.staff.name :  User.current_user.student.name %> &nbsp
					<%= link_to "Log Out", logout_path %>
				<% else %>
					<%= link_to "Log In", login_path %>
				<% end %>
	  </div>
  </div>
		
  <div id='header'>
	    <%= image_tag("kskb.png") %>
			<% form_tag '', :method => 'GET', :class => 'locale' do %>
			 <%= select_tag 'locale', options_for_select(LANGUAGES, I18n.locale), :onchange => 'this.form.submit()' %>
			 <%= submit_tag 'submit' %>
			 <%= javascript_tag "$$('.locale input').each(Element.hide)" %>
	    <% end %>
	    
	    <% if logged_in? %>

			  <div id='notifications'>
				  <!-- Notification for Staff Leave Application -->
				  <% a = Leaveforstaff.count(:all, :conditions => ["approval1_id=? AND approval1 IS ?", User.current_user.staff_id, nil]) %>
			    <% b = Leaveforstaff.count(:all, :conditions => ["approval2_id=? AND approver2 IS ? AND approval1=?", User.current_user.staff_id, nil, true]) %>
			    <% dash_leave = a+b %>
				  <% if dash_leave == 0 %>
				    <p>
				  <% else %>
	          <p><%= dash_leave %> <%= link_to "leave application for approval", { :controller => "leaveforstaffs", :action => "index" } %></p>
	        <% end %>
				
				  <!-- Notification for Staff Late Approval -->
				  <% dash_attendance = Attendance.count(:all, :conditions => ["approve_id=? AND approvestatus IS ?", User.current_user.staff_id, nil]) %>
				  <% if dash_attendance == 0 %>
				    <p>
				  <% else %>
	          <p><%= dash_attendance %> <%= link_to "late attendance for approval", { :controller => "attendances", :action => "index" } %></p>
	        <% end %>
	
	        <!-- Notification for Student Leave Approval -->
	        <% c = User.find(:all, :select => "id", :conditions => ['roles.id =?', 7], :include => :roles).map(&:id) %>
	        <% d = User.current_user.id.to_a %>
	        <% dash_lfs = Leaveforstudent.count(:all, :conditions => ["studentsubmit =? AND approved IS ?", true, nil]) %>
				  
	        <% if (d & c == c) && dash_lfs > 0 %>
          <p><%= dash_lfs %> <%= link_to "student leave request for approval", { :controller => "leaveforstudents", :action => "index" } %></p>
	        <% else %>
					<% end %>
	      </div>
	    <% else %>
	    <% end %>

  </div>

  <div id='navbar'>
    <%= render '/viewer/menus' %>
	  <div id='flotice'>
		  <%= flash[:notice] %>
	  </div>	
  </div>

  <div id="bulletin">
  		<%= render '/viewer/bulletin' %>
  </div>

  <div id='content'>
	  <div>
		<%= flash[:error] %>
		</div>
		
		  <%= yield %>
  </div>

  <div id="event_bar">
    <%= render '/viewer/event' %>
  </div>


	
	

	     
  <div id='footer'>
	  <p>ICMS version 2.00 © Integrated Computing Technologies Sdn Bhd / </p>
  </div>
</div>
<div id='text'>
		<p align="center"><font size=-2 >debug info : [controller name: <%= controller_name %> ] &nbsp
		             [controller action name: <%= controller.action_name %> ]&nbsp
		             [current user: <%= logged_in? ? current_user.name : "" %> <%=h logged_in? ? User.current_user.roles  : "" %>] &nbsp
		             [current url: <%= request.request_uri %>] 
		 
</div>
</body>
</html>