<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
		<%= javascript_include_tag :defaults %> <!-- moving line up seemed to fix i18n dropdown-->
		<%= javascript_include_tag "jquery", "jquery.treeTable", "jquery-ui-1.9.2.custom.min", "prototype", "application", "nicEdit" %>
		<%= javascript_include_tag :defaults %>

		<script>$j = jQuery.noConflict();</script>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title><%= @pagetitle || (@page && @page.title) || 'Kolej Sains Kesihatan Bersekutu - Johor Baru' %></title>
		<%= stylesheet_link_tag 'ICMS', 'treeTable', :media => :screen %>
		<%= stylesheet_link_tag 'print', :media => :print %>

</head>
<body>
<div id='pagewrapper'>
  <div id="top-menu">
		<div id="account">
				<% if logged_in? %>
			  	<%=t('login.welcome')%> <%=h  Login.current_login.login %> &nbsp
					<!-- This one logout Catechumen only -->
					<%#= link_to t('login.logout'), logout_path %>
					<%#= form_authenticity_token%>
					<!--This one will sign_out Ogma & redirect to logout Catechumen, but NOTE - error in log:Can't verify CSRF token authenticity, temp solution -in Ogma - application_controller - using 'protect_from_forgery with: :reset_session' suppose to be 'protect_from_forgery with: :exception '-->
					<%= link_to t('login.logout'), "http://#{request.host}:3003/users/sign_out", :method => :delete %>
				<% else %>
					<%= link_to t('login.login'), login_path %><%=t('or')%>&nbsp;<%= link_to (t 'login.sign_up'), "http://#{request.host}:3003/users/sign_up" %>

				<% end %>
	  </div>
  </div>

  <div id='header'>
	    <%= image_tag("kskb4.png") %>
			<% form_tag '', :method => 'GET', :class => 'locale' do %>
			 <%#= select_tag 'locale', options_for_select(LANGUAGES, I18n.locale), :onchange => 'this.form.submit();' %>
			 <%#= submit_tag (t 'submit') %>
			 <%= select_tag 'locale', options_for_select(LANGUAGES, params[:locale])%>
			 <!--This button is working, activate below JS to utilize--><input type="button" id='button_form' value='<%=t('submit')%>'/>
			 <%= javascript_tag "$('.locale input').each(Element.hide);" %>
	    <% end %>
			<% if logged_in? %>

			<% else %>
			<% end %>

			<div id='notifications'>
			</div>
		</div>

  <div id='navbar'>
    <%= render '/viewer/menus' %>
  </div>

	<% if @page && (@page.name=='home' || @page.id==1)%>
		<div id='content2'>
			<% flash.each do |key, msg| %>
				<%= content_tag :div, msg, :id => key %>
			<% end %>
			<% if logged_in? %>
				<% if (request.request_uri == "/" || request.request_uri == "/home") %>  <!-- show only if at root -->
					<%= render '/viewer/notifications' %>
				<% end %>
			<% end %>
			<div><%= yield %></div>
		</div>
         <%else %>
		<div id='content'>
			<% flash.each do |key, msg| %>
				<%= content_tag :div, msg, :id => key %>
			<% end %>
			<% if logged_in? %>
				 <% if (request.request_uri == "/" || request.request_uri == "/home") %>  <!-- show only if at root -->
					<%= render '/viewer/notifications' %>
				<% end %>
			<% end %>
			<div><%= yield %></div>
		</div>
	<% end %>

	<% if @page && (@page.name=='home' || @page.id==1)%>
		<div id="event_bar2">
			<%= render '/viewer/event' %>
		</div>
	<% else %>
		<div id="event_bar">
			<%= render '/viewer/event' %>
		</div>
	<% end %>

  <div id="bulletin">
  		<%= render '/viewer/bulletin' %>
  </div>






  <div id='footer'>
	  <p><%=t('version')%>
	  <br><%=t('copyright')%> ©<%=t('copyright2')%>
	  <br><%=t('best_viewed')%></p>
	  <!--<p>ICMS version 1.1 Build 1.0.1931ea3fce <BR>© 2005 - 2012 Teknik Padu Sdn Bhd <BR>© 2009 - 2012 mxcm</p>-->
  </div>
</div>
<div id='text'>
	<!--<#%= render '/viewer/debuginfo' %>  remove hash to enable-->
</div>
</body>
<script type="text/javascript">
$j(document).ready(function(){
		//show submit date
		 $j('legend.togvis').click(function() {
		    $j(this).parent().contents().filter(
		        function() {  return this.nodeType == 3; }).wrap('<span></span>');//wrap any stray text nodes
		    $j(this).siblings().toggle();
		});
		
		//prompt user to save first or proceed with changing language, when page is a form (contains other than translation form)
		//$j("form").length) - gives total count of forms available in a current page (note - translation already 1 form, search form in index - another 1 form)
		//all seach forms in index page must have a field called 'search', for below jquery to diff if other form is New/Edit form or just a Search form in Index
		$j('#locale').change(function(){
		        //var aa=$j("form").length;
			//alert('total form (inc language form) = '+$j("form").length);
			var uu = $j("input[id=search]").length
			//alert(uu);
			if($j("form").length > 1 && uu==0 ) 
			{	
				var user_choice = confirm("<%=escape_javascript(t 'prompt_language')%>");
				if (user_choice==true){
					//alert("Save form first.")
				}else{
					$j(this).parent().submit();
				}
			}else
			{ 
				$j(this).parent().submit();
			}
		});
		 
//              //below - this part working - activate above button to utilize
 		$j('#button_form').click(function(){
 		        var user_choice2 = confirm("<%=escape_javascript(t 'prompt_language')%>");
  			if (user_choice2==true){
 				//alert("Save form first.")
  			}else{
 				$j(this).parent().submit();
  			}
 		 });
		
});
</script>
</html>
