<div class="tform">
	<H2>Class Details</H2>
  <table width=100% border=0 >
	<tr>
		<td class="leftcol"><label for="name">Name</label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="programme_id">Course Name</label></td>
		<td><b>:</b></td>
		<td><%= f.collection_select :programme_id, Programme.find(:all), :id, :programme_with_specialisation,
									{:prompt => "Select a programme", :selected => @klass.programme_id},
									:onchange => remote_function(:update => form_tag_id(f.object_name, :subject_list), 
															:url => {:action => 'view_subject' }, 
															:with => "'programmeid='+$('"+form_tag_id(f.object_name, :programme_id)+"').value  ") %>
		<!--<#%= f.collection_select :programme_id, Programme.find(:all), :id, :programme_with_specialisation %>--></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="subject_id">Subject Name</label></td>
		<td><b>:</b></td>
		<td><%= tag("div", :id => form_tag_id(f.object_name, :subject_list)) %><!-- given by Shima -->
			<!-- for edit part -->
			<% unless @klass.nil? || @klass.blank? %>
			<%= f.collection_select :subject_id, Subject.find(:all, :joins => :programmes,:conditions => ['programme_id=?',@klass.programme_id]), :id,:subject_code_with_subject_name %>
			<br><br>
			<b>Students :</b><br>
				<%# for student in Student.all %>
				 
				<% for student in Student.find(:all, :conditions=> ['course_id=?',@klass.programme_id]) %>
				
				<!--12 July 2012-View students of selected programme only--><!-- add back when intake solved-->
						<BR><%= check_box_tag "klass[student_ids][]", student.id, @klass.students.include?(student) %><%= student.name %><br>
					<% end %>
				<% end %>
				<!-- for edit part -->
			</div>
			<!-- 4 May 2012 -->
		<!--	<#%= f.collection_select :subject_id, Subject.find(:all), :id, :subject_code_with_subject_name %></td>-->
	</tr>
	
</table>

</div>