<h3>Editing Class</h3>

<% form_for(@klass) do |f| %>
  <%= f.error_messages %>
  
  <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @klass %> |
<%= link_to 'Back', klasses_path %>