<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">List of Class</h2>
		
  </div>
</div>

<div class="tlist">
	<table width=100% border="0" cellpadding="0" cellspacing="0">
	  <tr>
	    <th>Class Name</th>
	    <th>Course Name</th>
	    <th>Subject Name</th>
	    <th colspan=3 class="ac"><%= t 'control' %></th>
	  </tr>

<% @klasses.each do |klass| %>
  <tr>
    <td><%=h klass.name %></td>
	<td><%=h klass.programclass.programme_with_specialisation %></td>
	<td><%=h klass.subjectclass.subject_code_with_subject_name %></td>
    <td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => klass %></td>
    <% if permitted_to? :update, klass %>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => klass %></td><% end %>
	<% if permitted_to? :destroy, klass %>
    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), klass, :confirm => 'Are you sure?', :method => :delete %></td><% end%>
  </tr>
<% end %>
</table>
</div>
<br />
<% if permitted_to? :create, @klass %>
<%= link_to 'New Class', new_klass_path %>
<% end %>