<div class="box">
	<div class="box-head">
		<!-- 30 Apr 2012 -->
		<% if params[:programmeid] %>
		    <% if params[:programmeid] != '0'%>
				<h2 class="left">Classes for <%= Programme.find(params[:programmeid]).name  %></h2>
			<% else %>
				<h2 class="left">All Classes</h2>
			<% end %>
		<% else %>
			<h2 class="left">All Classes</h2>
		<% end %>
		<!-- 30 Apr 2012 -->
			<!-- 24 Apr 2012 -->
			<div class="right">
				<!-- for search by programme -->
				<% form_tag klasses_path, :method => 'get' do %>
					<%= select_tag('programmeid', "<option value='0'>Select a Programme</option>" + options_from_collection_for_select(Programme.find(:all), :id, :programme_with_specialisation)) %>
					<%= submit_tag I18n.t('search'), :programme_id => nil %>
				<% end %>
				<!-- for search by programme -->
				
				<!-- for search by class name -->
				<%# form_tag klasses_path, :method => 'get' do %>
					<%#= text_field_tag :search, params[:search], :placeholder => "Search by Class Name" %>
					<%#= submit_tag I18n.t('search'), :name => nil %>
				<%# end %>
				<!-- for search by class name -->
			</div>
			<!-- 24 Apr 2012 -->
	</div>
</div>

<div class="tlist">
	<table width=100% border="0" cellpadding="0" cellspacing="0">
	<tr>
    <th>Class name</th>
    <th>Intake Name</th>
    <th>Programme Name - Specialisation</th>
    <th colspan=3 class="ac">Control</th>
  </tr>

<% @klasses.each do |klass| %>
  <tr>
    <td><%=h klass.name %></td>
    <td><!--<#%=h klass.intake_id.blank? ? "-" : klass.intakeclass.name %>--></td>
    <td>
		<%#=h klass.programme_id.blank? ? "-" : klass.programme.programme_code_with_programme_name %>
		<%=h klass.programme_id.blank? ? "-" : klass.programme.programme_with_specialisation %>
	</td>
    <td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => klass %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => klass %></td>
  	<td width=10px><%= link_to image_tag("delete.png",   :border => 0,  :title => 'Delete'), klass, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New Class', new_klass_path %>