<div class="tform">
	<H2>Class Details</H2>
  <table id="form" width=100% >
	
		<tr>
			<td class="leftcol"><label for="klass_no">Name:</label></td>
			<td><%=h @klass.name %></td>
		</tr>
	
	 <!-- hold, see form>
		<tr>
			<td class="leftcol"><label for="intake_id">Intake Name:</label></td>
			<td><#%=h @klass.intake_id.blank? ? "-" : @klass.intakeclass.name %></td>
		</tr>
	 -->
	
		<tr>
			<td class="leftcol"><label for="programme_id ">Programme Name:</label></td>
			<td><%=h @klass.programme_id.blank? ? "-" : @klass.programme.programme_code_with_programme_name %></td>
		</tr>
		<tr>
			<td class="leftcol"><label for="programme_id ">Subject:</label></td>
			<td><%=h @klass.subject_id.blank? ? "-" : @klass.subject.name %></td>
		</tr>
	</table>
	
	<table width=90%>
		<tr>
			<td  class="leftcol">Students In This Class</td>
		</tr>
		<% for student in @klass.students %></td>
		<tr>
			<td></td>
			<td><%=h student.icno %> <%=h student.name %></td>
		</tr>
		<% end %>
	</table>
<BR>
</div>
<BR>

<%= link_to 'Edit', edit_klass_path(@klass) %> |
<%= link_to 'Back', klasses_path %>