<div class="tform">
	<H2>Class Details</H2>
  <table width=100% >

	
	<tr>
		<td class="leftcol"><label for="eventstdt">Name</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @klass.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="eventstdt">Course Name</label></td>
		<td><b>:</b></td>
		<td><%=h @klass.programclass.programme_with_specialisation %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="eventstdt">Subject Name</label></td>
		<td><b>:</b></td>
		<td><%=h @klass.subjectclass.name %></td>
	</tr>

<tr>
			<td class="leftcol"><label for="name">Student Name</label></td>
			<td><b>:</b></td>
			<td>
				<table width=100% border=0>
			
				 <% bil = 0 %>
				 <% for student in @klass.students %>
				 <% bil += 1 %>
				<tr>
			<td width=3%><%= bil %>.</td>		
			<td><%=h student.name %><BR></td>
			<% end %></tr>
			</table></td>
		</tr>

	
</table>
</div><BR>

<%= link_to 'Edit', edit_klass_path(@klass) %> |
<%= link_to 'Back', klasses_path %>