<div class="tform">
  <table width=100% >

<table id="form">
	<tr>
		<th colspan = 2>Class Details</th>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="klass_no">Name:</label></td>
		<td><%=h @klass.klass_no %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="klass_name">Intake No:</label></td>
		<td><%=h @klass.klass_name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="intake_id">Intake Name:</label></td>
		<td><%=h @klass.intake_id.blank? ? "-" : @klass.intakeclass.name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="programme_id ">Programme Name:</label></td>
		<td><%=h @klass.programme_id.blank? ? "-" : @klass.programmeclass.programme_code_with_programme_name %></td>
	</tr>
</table>
<BR>
</div>


<%= link_to 'Edit', edit_klass_path(@klass) %> |
<%= link_to 'Back', klasses_path %>