<div>
	<H3><%=t('equery.ptdo.search')%> :</h3>
		
		<%= link_to (t 'back'), :controller=>'ptdosearches', :action => 'new', :searchptdotype => 1 %><br><br>
		
		<!--additional heading-->
		<% if @ptdosearch.department && @ptdosearch.department.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.search_by')%> <%=t('equery.ptdo.department')%> : <b><%=@ptdosearch.department %></b><br><br>
			</span>
		<% end %>
		<% if @ptdosearch.staff_id && @ptdosearch.staff_id.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.search_by')%>  <%=t('equery.ptdo.staff')%> : 
				<b><%=Staff.find(@ptdosearch.staff_id).name %></b><br><br>
			</span>
		<% end %>
		<% if @ptdosearch.staff_name && @ptdosearch.staff_name.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.search_by')%> <%=t('equery.ptdo.staff')%> : 
				<b><%=@ptdosearch.staff_name %></b><br><br>
			</span>
		<% end %>
		<% if @ptdosearch.icno && @ptdosearch.icno.blank? ==false %>
			<span style="text-decoration:underline;">
				<%=t('equery.search_by')%> <%=t('equery.ptdo.icno')%> : 
				<b><%=@ptdosearch.icno %></b><br><br>
			</span>
		<% end %>
		<% if !@ptdosearch.schedulestart_start.blank? || !@ptdosearch.schedulestart_end.blank? %>
			<span style="text-decoration:underline;">
			<%=t('equery.search_by')%> <%=t('equery.ptdo.schedule_date')%> : 
			</span>
		<% end %>
		<% if @ptdosearch.schedulestart_start && (!@ptdosearch.schedulestart_start.blank? || !@ptdosearch.schedulestart_start.nil?) %>
			<span style="text-decoration:underline;">
				<%=t('from')%>&nbsp;&nbsp;<b><%=start_training_date=@ptdosearch.schedulestart_start.try(:strftime, "%d %b %Y") %></b>
			</span>
		<% end %>
		<% if @ptdosearch.schedulestart_end && (!@ptdosearch.schedulestart_end.blank? || !@ptdosearch.schedulestart_end.nil?) %>
			<span style="text-decoration:underline;">
				&nbsp;<%=t('to')%>&nbsp;&nbsp;<b><%=startend_training_date=@ptdosearch.schedulestart_end.try(:strftime, "%d %b %Y") %></b>
				<br><br>
			</span>
		<% end %>
		<% if @ptdosearch.staff_id.blank? && @ptdosearch.staff_name.blank? && @ptdosearch.icno.blank? && @ptdosearch.schedulestart_start.blank? && @ptdosearch.schedulestart_end.blank? %>
			 <%=t('equery.ptdo.schedule_date')%> : <%=start_training_date=@firstdate.strftime('%d %b %Y')%> <%=t('to')%> <%=startend_training_date=@lastdate.strftime('%d %b %Y')%>
		<% end %>
		<% if @ptdosearch.schedulestart_end.blank? %><br><br><% end %>
		
		<%=t('equery.ptdo.total')%> : <%= @ptdosearch.ptdos.group_by{|x|x.staff_id}.count %><br><br>
		
		<% if @ptdosearch.ptdos.count > 0 %>
			<table border=1 cellpadding=3 cellspacing=0>
				<tr>
					<th>No</th>
					<th><%=t('equery.ptdo.staff')%></th>
					<th><%=t('equery.ptdo.icno')%></th>
					<th><%=t('equery.ptdo.department')%></th>
					<th><%=t('equery.ptdo.position')%></th>
					<th><%=t('equery.ptdo.total_days')%></th>
					<th><%=t('ptdos.download')%></th>
				</tr>
				<%nos=0%>
				<% @ptdosearch.ptdos.sort_by{|y|y.staff.name}.group_by{|x|x.staff_id}.each do |staffid, attended_trainings| %>
					<% curr_staff=Staff.find(staffid)%>
					<tr>
						<td><%=nos+=1%></td>
						<td><%=curr_staff.name %></td>
						<td><%=curr_staff.icno%><%#=curr_staff.formatted_mykad %></td>
						<td><%=Ptdo.staff_unit(curr_staff) %></td>
						<td><%=curr_staff.try(:position).try(:name)%></td>
						<td align=center><%=Ptdo.staff_total_days(attended_trainings.map(&:id)) %></td>
						<td><a href="http://<%= request.host  %>:3003/staff_training/ptdos/training_report.pdf?locale=ms_MY&q[staff_id]=<%=staffid%>&q[ptschedule_start_gteq]=<%=start_training_date%>&q[ptschedule_start_lteq]=<%=startend_training_date%>"><%= t('ptdos.download') %></a></td>
					</tr>
				<% end %>
			</table>
		<% end %>
	<br>
</div> 