<div class="tform"><!--09/11/2011 - Shaliza changed title bar and add place holder RM-->
	<H2><%= t 'ptbudget.budget_details' %></H2>
  <table width=100% border=0 cellspacing=0>
	
	<tr>
		<td class="leftcol"><label for="budget"><%= t 'ptbudget.budget' %></label></td>
		<td width=2%><b>:</b></td>
		<td><%= f.text_field :budget, :size => 12, :placeholder => 'RM' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="fiscalstart"><%= t 'ptbudget.fiscalstart' %></label></td>
		<td><b>:</b></td>
		<td><%= f.date_select :fiscalstart, :start_year => 2010, :end_year => 2030, :order => [:day, :month, :year], :include_blank => true %></td>
		
	</tr>

</table>		
</div>