<h1>Editing ptbudget</h1>

<% form_for(@ptbudget) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :budget %><br />
    <%= f.text_field :budget %>
  </p>
  <p>
    <%= f.label :fiscalstart %><br />
    <%= f.date_select :fiscalstart %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ptbudget %> |
<%= link_to 'Back', ptbudgets_path %>