<div class="box">
	<div class="box-head">
		<h2 class="left"><%= t 'ptbudget.list' %>  &nbsp;
		<h2><%= link_to image_tag("add.png", :border => 0, :title => 'Create New Fiscal Year'), new_ptbudget_path %></h2>
	</div>
</div>

<div class="indextable">

<table>
  <tr>
	  <th>Fiscal Year Start</th>
    <th>Budget</th>
    <th>Used</th>
    <th>Balance</th>
    <th colspan=3 class="ac"><%= t 'control' %></th>
  </tr>

<% @ptbudgets.each do |ptbudget| %>
  <tr>
    <td><%=h ptbudget.fiscalstart.strftime("%d %b %Y") %></td>
    <td><%=h ringgols(ptbudget.budget) %></td>
	<td>-</td>
	<td>-</td>
    <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => ptbudget %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => ptbudget %></td>
    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), ptbudget, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
</div>

<%= link_to (t 'ptbudget.create'), new_ptbudget_path %>

<!-- will need to create logic -->
<!-- 1. countdown to new budget -->
<!-- 2. calculated budget - budgetused = balance -->