<div class="box">
	<div class="box-head">
		<h2 class="left"><%= t 'ptbudget.list' %>  &nbsp;
	</div>
</div>

<div class="indextable">

<table>
	<tr>
		<td  colspan=12><%= link_to image_tag("money_add.png", :border => 0, :title => 'Enter New Budget') + "New Budget", new_ptbudget_path %></th></td>
	</tr>
  <tr>
	  <th>Fiscal Year Start</th>
    <th>Budget</th>
    <th>Used</th>
    <th>Balance</th>
    <th colspan=3 class="ac"><%= t 'control' %></th>
  </tr>

<% @ptbudgets.each do |ptbudget| %>
  <tr>
    <td><%=h l(ptbudget.fiscalstart) %> to <%=h l(ptbudget.fiscal_end) %></td><!--19/10/2011-Shaliza changed date format -->
    <td><%=h ringgols(ptbudget.budget) %></td><!--19/10/2011-Shaliza remove word RM-->
	<td><%=h ringgols(ptbudget.used_budget) %></td>
	<td><%=h ringgols(ptbudget.budget_balance) %></td>
    <td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => ptbudget %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => ptbudget %></td>
    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), ptbudget, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
</div>

<%= link_to image_tag("money_add.png", :border => 0, :title => 'Enter New Budget') + "Create New Budget", new_ptbudget_path %>

<!-- will need to create logic -->
<!-- 1. countdown to new budget -->