<div class="tform">
<H2><%= t 'ptbudget.budget_details' %></H2>
<table width=100% >
	
	
	<tr>
		<td class="leftcol"><label for="name"><%= t 'ptbudget.budget' %> : </label></td>
		<td>RM <%=h @ptbudget.budget %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name"><%= t 'ptbudget.fiscalstart' %> : </label></td>
		<td><%=h l(@ptbudget.fiscalstart) %></td><!--19/10/2011-Shaliza changed format date -->
		
	</tr>
</table>  
</div>
<BR>

<%= link_to (t 'icms.update'), edit_ptbudget_path(@ptbudget) %> |
<%= link_to (t 'icms.back'), ptbudgets_path %>