<div class="tform"><!--09/11/2011 - Shaliza changed title bar -->
	<H2><%= t 'ptbudget.budget_details' %></H2>
  <table width=100% border=0 cellspacing=0>


	<tr>
		<td class="leftcol"><label for="name"><%= t 'ptbudget.budget' %></label></td>
		<td width=2%><b>:</b></td>
		<td> <%=h ringgols (@ptbudget.budget) %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name"><%= t 'ptbudget.fiscalstart' %></label></td>
		<td><b>:</b></td>
		<td><%=h @ptbudget.fiscalstart.strftime("%d %b %Y") %></td>
		
	</tr>
</table>  
</div>
<BR>


<%= link_to (t 'icms.update'), edit_ptbudget_path(@ptbudget) %> |
<%= link_to (t 'icms.back'), ptbudgets_path %>